<template>
	<div id="print-header">
		<div class="item item-0">
			<div class="content">
				<div><b>Mẫu số 1</b></div>
				<div class="top-content">
					<div>Ban hành kèm theo Thông tư</div>
					<div>Số 65/2020/TT-BCA ngày 19/6/2020</div>
				</div>
			</div>	
		</div>
		<div class="item item-1">
			<div class="left">
				<div>..................(1)</div>
				<div style="margin-top: 5px;text-align: center;">..................(2)<div class="line" style="width: 60%; position: relative; right: 10px;"></div></div>

			</div>
			<div class="right">
				<div class="l1">Cộng hòa xã hội chủ nghĩa việt nam</div>
				<div class="l2">Độc lập - Tự do - Hạnh phúc <div class="line"></div></div>
			</div>
		</div>
		<div class="item item-2">
			<div class="left">
				<div>Số:............</div>
			</div>
			<div class="right">
				<div style="font-style: italic;">.....(3)..., ngày..... tháng..... năm........</div>
			</div>
		</div>
	</div>	
</template>
<style type="text/css" lang="scss">
	
</style>