<template>
	<div id="print-header" style="font-size: 13pt;margin-bottom: 0;">
		<div class="item item-0">
			<div class="content">
				<div style="font-size: 10pt;"><b>Mẫu số 3</b></div>
				<div class="top-content" style="font-size: 10pt;">
					<div>Ban hành kèm theo Thông tư số</div>
					<div>65/2020/TT-BCA ngày 19/6/2020</div>
				</div>
			</div>	
		</div>
		<div class="item item-1">
			<div class="left" style="text-align: center;">
				<div style="text-transform: uppercase;font-size: 13pt;">{{tencoquan}}</div>
				<div v-if="organizationShortname" style="text-align: center;font-weight: bold;display: inline-block;text-transform: uppercase;">{{organizationShortname}}
				<div class="line" style="width: 75%; position: relative; right: 0;"></div></div>
				<div v-if="organizationShortname" style="position: relative; top: 13px;"><span style="display: inline-block;">Số:</span>...................</div>
				<div v-else style="position: relative; top: 37px;"><span style="display: inline-block;">Số:</span>...................</div>
			</div>
			<div class="right">
				<div class="l1" style="font-size: 13pt;">Cộng hòa xã hội chủ nghĩa việt nam</div>
				<div class="l2">Độc lập - Tự do - Hạnh phúc <div class="line" style="width: 88%;"></div></div>
				<div style="font-style: italic; font-weight: normal;position: relative;top: 14px;">{{noithongbao}}, ngày..... tháng..... năm........</div>
			</div>
		</div>
		<div class="item item-2">
			<div class="left">
				
			</div>
			<div class="right">
				<!-- <div style="font-style: italic;">Yên Bái, ngày..... tháng..... năm........</div> -->
			</div>
		</div>
	</div>	
</template>
<script type="text/javascript">
	export default {
		props: {
		  	data: {
		  		type: Object,
		  		default: null
		  	},
		  	configPrint: {
		  		type: Array,
		  		default: null
		  	}
		},
		data() {
			return {
				organizationName: this.$store.state.user.organizationName,
				organizationShortname: this.$store.state.user.organizationShortname,
				tencoquan: 'Công an tỉnh thanh hóa',
				noithongbao: 'Thanh Hóa',
			}
		},
		created() {
			this.detectConfigPrint()
		},
		methods: {
			detectConfigPrint() {
				let tencoquan = this.configPrint.filter(function(val){
					return val.code == "TENCOQUAN1"
				})
				if(tencoquan && tencoquan.length > 0){
					this.tencoquan = tencoquan[0].mapper
				}
				let noithongbao = this.configPrint.filter(function(val){
					return val.code == "NOITHONGBAO"
				})
				if(noithongbao && noithongbao.length > 0){
					this.noithongbao = noithongbao[0].mapper
				}
			},
			detectDate(date, type) {
				let result = null
				if(type == "day") result = moment(date).format('DD')
				if(type == "month") result = moment(date).format('MM')
				if(type == "year") result = moment(date).format('YYYY')
				return result
			}
		}
	}
</script>
<style type="text/css" lang="scss">
	
</style>