<template>
  <div>
    <div id="content-export-pdf-violation" style="display: none">
      <div class="pdf-export__content">
        <div class="pdf-header">
          <div class="logo">
            <img height="120" src="@/assets/images/logo-csgt.png" alt=""/>
          </div>
          <div class="title">
            <h5>Hệ thống giám sát thông minh</h5>
          </div>
        </div>
        <div class="pdf-content">
          <h2>Hình ảnh phương tiện vi phạm</h2>
          <div class="item">
            <span>Thời gian:</span>
            {{ data.startTime|formatDateOnlyTime }}
            <span style="margin-left: 20px">Ngày:</span>
            {{ data.startTime|formatDateVietNamNoTime }}
          </div>
          <div class="item"><span>Địa điểm:</span> {{ data.siteAddress }}</div>
          <div class="item"><span>Hành vi vi phạm:</span> {{ data.violationTypes }}</div>
          <template v-if="data.eventTypeString == 'SPEEDLIMIT'">
            <div class="item"><span>Tốc độ đo được:</span> {{ data.speed }} km/h</div>
            <div class="item"><span>Tốc độ cho phép:</span> {{ data.speedLimit }} km/h</div>
          </template>
          <div class="item"><span>Biển số phương tiện vi phạm:</span> {{ data.plate }}</div>
          <div class="item"><span>Thiết bị giám sát:</span> {{ data.sourceName }}</div>
          <div class="item"><span>Đơn vị vận hành hệ thống:</span> {{ organizationName }}</div>
          <div class="item"><span>Cơ quan:</span> {{ data.contactName? data.contactName : contactName }}</div>
          <div class="item"><span>Số điện thoại:</span> {{ data.contactPhone? data.contactPhone : contactPhone}}</div>
          <div class="item"><span>Ảnh phương tiện vi phạm: </span>
            <!-- <span class="name-image">{{data.imageUrl}}</span> -->
          </div>
          <div class="item item-img">
            <img v-if="doesFileExist(base_url_img + data.imageUrl)" :src="base_url_img + data.imageUrl" alt=""/>
            <img v-else :src="base_url_img + data.imageUrl" alt=""/>
            <!-- <img src="https://i1-vnexpress.vnecdn.net/2021/04/29/tai-nan-Ham-Thu-Thiem-2-7037-1619678771.jpg?w=680&h=0&q=100&dpr=1&fit=crop&s=FpVFBfclKp89LYdPHghnow" alt="" /> -->
          </div>
        </div>
      </div>
    </div>

    <!-- <button @click="print" class="no-print">in</button> -->
  </div>
</template>

<script>
export default {
  props: {
    data: {
      type: Object,
      default: null
    },

  },

  data() {
    return {
      base_url_img: process.env.VUE_APP_URL_IMAGE,
      configPrint: [],
      organizationName: this.$store.state.user.organizationName,
      contactName: this.$store.state.user.organizationName,
      contactPhone: this.$store.state.user.userInfo.organizationPhoneNumber
    }
  },
   created() {

  },
  methods: {
    async doesFileExist(urlToFile) {
      var img = new Image()
      img.src = urlToFile
      return img.height != 0
    },

  }
}
</script>

<style type="text/css" lang="scss">

</style>
