<template>
     <div class="violation-img-pdf">
       <vue-html2pdf
          :show-layout="false"
          :float-layout="true"
          :enable-download="true"
          :preview-modal="false"
          :paginate-elements-by-height="1350"
          filename="AnhViPham"
          :pdf-quality="2"
          :manual-pagination="true"
          pdf-format="a4"
          pdf-orientation="portrait"
          pdf-content-width="800px"
          @progress="onProgress($event)"
          @hasStartedGeneration="hasStartedGeneration()"
          @hasGenerated="hasGenerated($event)"
          ref="html2Pdf"
      >
      <section slot="pdf-content">
        <div id="content-export-pdf-violation">
            <div class="pdf-header">
                <div class="logo">
                    <img height="120px" src="@/assets/images/logo-csgt.png" alt="" />
                </div>
                <div class="title">
                    <h5>Hệ thống giám sát thông minh</h5>
                </div>
            </div>
            <div class="pdf-content">
                <h2>Hình ảnh phương tiện vi phạm</h2>
                <div class="item"><span>Thời gian:</span> {{data.startTime|formatDateOnlyTime}} <span>Ngày:</span> {{data.startTime|formatDateVietNamNoTime}}</div>
                <div class="item"><span>Địa điểm:</span> {{data1.siteAddress}}</div>
                <div class="item"><span>Hành vi vi phạm:</span> {{data1.violationTypes}}</div>
                <template v-if="data.eventTypeString == 'SPEEDLIMIT'">
                    <div class="item"><span>Tốc độ đo được:</span> {{data1.speed}} km/h</div>
                    <div class="item"><span>Tốc độ cho phép:</span> {{data1.speedLimit}} km/h</div>
                </template>
                <div class="item"><span>Biển số phương tiện vi phạm:</span> {{data1.plate}}</div>
                <div class="item"><span>Thiết bị giám sát:</span> {{data.sourceName}}</div>
                <div class="item"><span>Đơn vị vận hành hệ thống:</span> {{organizationName}}</div>
                <div class="item"><span>Cơ quan:</span> {{data1.contactName}}</div>
                <div class="item"><span>Số điện thoại:</span> {{data1.contactPhone}}</div>
                <div class="item"><span>Ảnh phương tiện vi phạm: </span>
                <!-- <span class="name-image">{{data.imageUrl}}</span> -->
                </div>
                <div class="item item-img">
                    <img v-if="doesFileExist(base_url_img + data.imageUrl)" :src="base_url_img + data.imageUrl" alt="" />
                    <img v-else :src="base_url_img + data.imageUrl" alt="" />
                    <!-- <img src="https://i1-vnexpress.vnecdn.net/2021/04/29/tai-nan-Ham-Thu-Thiem-2-7037-1619678771.jpg?w=680&h=0&q=100&dpr=1&fit=crop&s=FpVFBfclKp89LYdPHghnow" alt="" /> -->
                </div>
            </div>
            <!-- <div class="pdf-note">
                <h4>Ghi chú:</h4>
                <div class="item-left">
                    <div>(1) Căn cứ vào thiết bị giám sát đề nghị ghi lại các hành vi sau:</div>
                    <div>- Đi không đúng phần/làn/chiều đường quy định;</div>
                    <div>- Tránh/vượt/dừng/đỗ/đón, trả khách không đúng quy định;</div>
                    <div>- Điều khiển xe không đúng tốc độ qui định</div>
                    <div>- Không chấp hành hiệu lệnh của đèn tín hiệu giao thông...</div>
                </div>
                <div class="item-right">
                    <div>(2) Ghi tốc độ phương tiện bị đo theo hình ảnh giám sát;</div>
                    <div>(3) Thiết bị giám sát. camera/máy đo tốc độ (loại máy)...</div>
                    <div>(4) Ghi rõ họ tên cán bộ và đơn vị vận hành hệ thống giám sát của địa phương;</div>
                    <div>(5) Tên file ảnh để tra cứu phục vụ cho việc xử phạt VPHC;</div>
                </div>
            </div> -->
        </div>
    </section>
</vue-html2pdf>
<el-button @click="generateReport()"><i class="el-icon-document"></i> Xuất pdf</el-button>
</div>
</template>
<script type="text/javascript">
    
    import VueHtml2pdf from 'vue-html2pdf'
    import vehicle_default from "@/assets/images/vehicle_default1.png"

    export default {
        components: {
            VueHtml2pdf
        },
        props: {
            data: {
                type: Object,
                default: null
            },
            data1: {
                type: Object,
                default: null
            }
        },
        data() {
            return {
                base_url_img: process.env.VUE_APP_URL_IMAGE,
                organizationName: this.$store.state.user.organizationName
            }
        },
        created() {
            // console.log(this.data)
        },
        methods: {
            doesFileExist(urlToFile){
               var img = new Image()
               img.src = urlToFile
               return img.height != 0
            },
            replaceImageFail(e) {
                e.target.src = this.vehicle_default
            },
            generateReport() {
                // console.log(this.data)
                window.scrollTo(0, 0);
                this.$refs.html2Pdf.generatePdf()
            },
            onProgress() {

            }
        }
    }
</script>
<style type="text/css" lang="scss">
    .violation-img-pdf {
        display: inline-block;
        float: right;
        button {
            background: #ea4444 !important;
            color: white !important;
        }
    }
    
    #content-export-pdf-violation * {
        font-family: "time new roman" !important;
    }
    
    #content-export-pdf-violation {
        position: relative;
        top: 0;
        padding: 20px;
        padding-top: 40px;
        float: left;
        width: 100%;
        background: white;
        .pdf-header {
            float: left;
            width: 100%;
            height: 122px;
            h5 {
                float: right;
                text-transform: uppercase;
                font-weight: normal;
                font-size: 20px;
                padding-top: 0;
                margin-top: 0;
            }
            .logo {
                border: 1px solid #ddd;
                float: left;
            }
            .title {
                float: right;
            }
        }
        .name-image {
            display: inline-block;
            word-break: break-all;
            line-height: 25px;
        }
        .pdf-content {
            float: left;
            width: 100%;
            h2 {
                margin-top: 5px;
                text-align: center;
                text-transform: uppercase;
                font-weight: 500;
                font-size: 28px;
            }
            .item {
                font-size: 17px;
                margin-bottom: 9px;
                color: black;
                span {
                    display: inline-block;
                    margin-right: 8px;
                    color: #333;
                }
            }
            .item-img {
                margin-top: 20px;
                margin-bottom: 10px;
                height: 330px;
                img {
                    height: 330px;
                }
            }
        }
        .pdf-note {
            float: left;
            width: 100%;
            h4 {
                font-size: 15px;
                margin-bottom: 10px;
            }
            .item-left {
                width: 48%;
                float: left;
                margin-right: 2%;
            }
            .item-right {
                width: 48%;
                float: left;
                margin-left: 2%;
            }
            div {
                font-size: 13px;
                margin-bottom: 8px;
            }
        }
    }
</style>