<template>
  <div>
    <div id="print-template-2" style="display: none">
      <header-print :key="keyPrint" :data="data" :configPrint="configPrint"></header-print>
      <div id="content-print" class="content-print-2" style="font-size: 14pt;">
        <br>
        <div class="h2" style="margin-bottom: 0;">THÔNG BÁO</div>
        <div class="descript">
          <div><span>Vi phạm hành chính về trật tự, an toàn giao thông đường bộ</span></div>
          <div class="line-descript"></div>
          <br>
        </div>
        <div class="item" style="text-align: center;margin-bottom: 0;">Kính gửi: Ông (bà) {{ data.customer }}</div>
        <br>
        <div class="item" style="text-indent: 60px;text-align: justify;">Hồi
          {{ data.startTime|formatDateOnlyHour }}h{{ data.startTime|formatDateOnlyMinute }}, ngày
          {{ data.startTime|formatDateVietNamNoTime }}, tại <span v-if="data.siteAddress">{{ data.siteAddress }}.</span>
          <span v-else>..................</span></div>
        <div class="item" style="text-indent: 60px;text-align: justify;">{{ organizationName }} Công an tỉnh Thanh Hóa
          đã sử dụng hệ thống camera giám sát phát hiện và ghi nhận:
        </div>
        <div class="item" style="text-indent: 60px;text-align: justify;">Phương tiện giao thông: <span
            v-if="data.vehicle =='Ô tô'">Xe</span> <span v-if="data.vehicle =='Ô tô'"
                                                         style="text-transform: lowercase;">{{ data.vehicle }}</span><span
            v-else>{{ data.vehicle }}</span> - <span v-if="data.plate">BKS</span> {{ data.plate }}
        </div>
        <div class="item" style="text-indent: 60px;text-align: justify;">Chủ phương tiện: Ông (bà) {{ data.customer }}
        </div>
        <div class="item" style="text-indent: 60px;text-align: justify;">Địa chỉ: {{ data.address }},
          {{ data.village }}, {{ data.district }}, {{ data.city }}
        </div>
        <div class="item" style="text-indent: 60px;text-align: justify;">Có hành vi vi phạm: {{ data.violationTypes }};
          được quy định tại {{ nghidinh }}
        </div>
        <template v-if="data.violation == 'Quá tốc độ'">
          <div class="item" style="text-indent: 60px;text-align: justify;">Tốc độ đo được: {{ data.speed }}</div>
          <div class="item" style="text-indent: 60px;text-align: justify;">Tốc độ cho phép: {{ data.speedLimit }}</div>
        </template>
        <!-- <div class="item">Biện pháp ngăn chặn được áp dụng (nếu có): {{data.prevent}}</div> -->
        <div class="item" style="text-indent: 60px;text-align: justify;">Yêu cầu chủ phương tiện hoặc đại diện tổ chức
          vi phạm, người điều khiển phương tiện giao thông thực hiện hành vi vi phạm trong thời hạn 15 ngày, kể từ ngày
          gửi thông báo (trừ thứ 7, chủ nhật và ngày lễ) có mặt tại trụ sở {{ data.address_violation }} để giải quyết vụ
          việc vi phạm theo quy định của pháp luật.
        </div>
        <div class="item" style="text-indent: 60px;text-align: justify;">Nếu quá thời gian trên, người được yêu cầu (chủ
          phương tiện hoặc đại diện tổ chức vi phạm, người điều khiển phương tiện) không đến để giải quyết vụ việc vi
          phạm thì sẽ bị xử lý theo quy định của pháp luật./.
        </div>
        <div class="item item-last">
          <div class="leader-sign left">
            <div style="font-size: 12pt;font-style: italic;"><b>Nơi nhận:</b></div>
            <div style="font-size: 11pt;">- Như trên;</div>
            <div style="font-size: 11pt;">- Lưu: XLVP.</div>
          </div>
          <div class="leader-sign right">
            <div><b>{{ chucdanhnguoiky1 }}</b></div>
            <div><b>{{ chucdanhnguoiky2 }}</b></div>
          </div>
        </div>
      </div>
    </div>
    <!-- <button @click="print" class="no-print">in</button> -->
  </div>
</template>

<script>
import headerPrint from './header_2'
import Resource from "@/api/resource"

const categoryResource = new Resource("systemconfig/category")
const options = {
  name: '_blank',
  specs: ['fullscreen=yes', 'titlebar=yes', 'scrollbars=yes']
}
export default {
  components: {headerPrint},
  props: {
    data: {
      type: Object,
      default: null
    }
  },
  data() {
    return {
      organizationName: this.$store.state.user.organizationName,
      organizationReportCode: this.$store.state.user.organizationReportCode,
      keyPrint: 0,
      configPrint: [],
      chucdanhnguoiky1: 'KT. TRƯỞNG PHÒNG',
      chucdanhnguoiky2: 'PHÓ TRƯỞNG PHÒNG',
      nghidinh: 'Nghị định số 100/2019/NĐ-CP, ngày 30/12/2019 của Chính phủ quy định xử phạt vi phạm hành chính trong lĩnh vực giao thông đường bộ và đường sắt.',
      output: null
    }
  },
  created() {
    this.getConfigPrint()
  },
  methods: {
    print() {
      this.$htmlToPaper('print-template-1', options);
    },
    getConfigPrint() {
      let params = {
        catType: 'MAU_IN'
      }
      categoryResource.list(params).then(response => {
        if (response.status == 200 && response.data) {
          this.configPrint = response.data
          this.keyPrint = Math.floor(Math.random() * 100)
          this.detectConfigPrint()
        }
      }).catch(err => {

      })
    },
    detectConfigPrint() {
      let self = this
      let nghidinh = this.configPrint.filter(function (val) {
        return val.code == "NGHIDINH"
      })
      if (nghidinh && nghidinh.length > 0) {
        this.nghidinh = nghidinh[0].mapper
      }
      // neu ko co don vi lay mac dinh
      let chucdanhnguoiky1 = this.configPrint.filter(function (val) {
        return val.code == "CHUCDANHNGUOIKY1" && val.organizationCode == ""
      })
      if (chucdanhnguoiky1 && chucdanhnguoiky1.length > 0) {
        this.chucdanhnguoiky1 = chucdanhnguoiky1[0].mapper
      }
      let chucdanhnguoiky2 = this.configPrint.filter(function (val) {
        return val.code == "CHUCDANHNGUOIKY2" && val.organizationCode == ""
      })
      if (chucdanhnguoiky2 && chucdanhnguoiky2.length > 0) {
        this.chucdanhnguoiky2 = chucdanhnguoiky2[0].mapper
      }
      // neu chu ky theo doi vi
      chucdanhnguoiky1 = this.configPrint.filter(function (val) {
        return val.code == "CHUCDANHNGUOIKY1" && val.organizationCode == self.organizationReportCode
      })
      if (chucdanhnguoiky1 && chucdanhnguoiky1.length > 0) {
        this.chucdanhnguoiky1 = chucdanhnguoiky1[0].mapper
      }
      chucdanhnguoiky2 = this.configPrint.filter(function (val) {
        return val.code == "CHUCDANHNGUOIKY2" && val.organizationCode == self.organizationReportCode
      })
      if (chucdanhnguoiky2 && chucdanhnguoiky2.length > 0) {
        this.chucdanhnguoiky2 = chucdanhnguoiky2[0].mapper
      }
    },
    detectSign1() {
      if (this.organizationReportCode == "CA_TP_YEN_BAI") {
        return 'KT. TRƯỞNG CÔNG AN THÀNH PHỐ'
      }
      return 'KT. TRƯỞNG PHÒNG'
    },
    detectSign2() {
      if (this.organizationReportCode == "CA_TP_YEN_BAI") {
        return 'PHÓ TRƯỞNG CÔNG AN THÀNH PHỐ'
      }
      return 'PHÓ TRƯỞNG PHÒNG'
    }
  }
}
</script>

<style type="text/css">

</style>
