<template>
  <div>
  	<div id="print-template-1" style="display: none;">
	  	<header-print></header-print>
	    <div id="content-print">
	    	<div class="h2">THÔNG BÁO</div>
	    	<div class="item" style="margin-bottom: 25px;"><b>Công khai nội dung kế hoạch</b> ...............................................................................................................(4)</div>
	    	<div class="item">Ngày.../.../..., (5)............................................... ban hành Kế hoạch............................................................(6)</div>
	    	<div class="h5">Nội dung thông báo công khai, gồm:</div>
	    	<div class="item" style="margin-top: 20px;">1. Đơn vị làm nhiệm vụ tuần tra, kiểm soát, xử lý vi phạm:........................................................................(7)</div>
	    	<div class="item">2. Tuyến đường tuần tra, kiểm soát, xử lý vi phạm:....................................................................................(8)</div>
	    	<div class="item">3. Loại phương tiện, hành vi vi phạm tiến hành kiểm soát, xử lý:</div>
	    	<div class="item" style="margin-top: 20px;">Loại phương tiện: {{data.vehicle}} (9)</div>
	    	<div class="item" style="margin-top: 20px;">Hành vi vi phạm: {{data.violation}} (10)</div>
	    	<div class="item" style="margin-top: 20px;">4. Thời gian thực hiện kế hoạch:.................................................................................................................(11)./.</div>
	    	<div class="item item-last">
		    	<div class="leader-sign right">
		    		<div><b>Thủ trưởng đơn vị</b></div>
		    		<div style="margin-top: 5px;"><i>(Ký, ghi rõ họ tên)</i></div>
		    	</div>
	    	</div>
	    	<div class="note">
	    		<div class="h6">Ghi chú:</div>
	    		<div class="item">(1): Cục Cảnh sát giao thông hoặc Công an cấp tỉnh;</div>
	    		<div class="item">(2): Phòng Hướng dẫn tuần tra, kiểm soát giao thông đường bộ hoặc Phòng Cảnh sát giao thông, Công an cấp huyện;</div>
	    		<div class="item">(3): Địa danh;</div>
	    		<div class="item">(4), (6): Tên kế hoạch công khai theo quy định (Kế hoạch tổng kiểm soát phương tiện giao thông đường bộ; Kế hoạch tuần tra, kiểm soát, xử lý vi phạm theo chuyên đề về giao thông; Kế hoạch tuần tra, kiểm soát, xử lý vi phạm thường xuyên trên tuyến, địa bàn được phân công phụ trách);</div>
	    		<div class="item">(5): Bộ Công an, Cục Cảnh sát giao thông, Công an cấp tỉnh, Phòng Hướng dẫn tuần tra, kiểm soát giao thông đường bộ hoặc Phòng Cảnh sát giao thông, Công an cấp huyện;</div>
	    		<div class="item">(7): Tên đội, Trạm thuộc Phòng Hướng dẫn tuần tra, kiểm soát giao thông đường bộ, Phòng Cảnh sát giao thông hoặc Công an cấp huyện; </div>
	    		<div class="item">(8): Tên các tuyến đường tuần tra, kiểm soát, xử lý vi phạm;</div>
	    		<div class="item">(9), (10): Ghi loại phương tiện và hành vi vi phạm tiến hành kiểm soát, xử lý và các hành vi vi phạm pháp luật khác;</div>
	    		<div class="item">(11): Đối với kế hoạch tổng kiểm soát phương tiện giao thông; Kế hoạch tuần tra, kiểm soát, xử lý vi phạm theo chuyên đề về giao thông là thời gian thực hiện ghi trong kế hoạch được cấp có thẩm quyền phê duyệt (từ ngày..../..../.... đến ngày ..../..../....); Đối với kế hoạch tuần tra, kiểm soát, xử lý vi phạm thường xuyên là 24h/ngày, 07 ngày trong tuần (24/7)./.</div>
	    	</div>
	    </div>
	</div>
	<!-- <button @click="print" class="no-print">in</button> -->
  </div>
</template>

<script>
	import headerPrint from './header'
	const options = {
		name: '_blank',
		specs: ['fullscreen=yes', 'titlebar=yes','scrollbars=yes']
	}
	export default {
	  components: {headerPrint},
	  props: {
	  	data: {
	  		type: Object,
	  		default: null
	  	}
	  },
	  data () {
	    return {
	      output: null
	    }
	  },
	  created() {
	  	// console.log(this.data);
	  },
	  methods: {
	    print () {
	      // Pass the element id here
	      this.$htmlToPaper('print-template-1',options);
	    }
	  }
	}
</script>

<style type="text/css">
	
</style>