<template>
  <div>
  	<div id="print-template-3" style="display: none;">
	  	<header-print :key="keyPrint" :data="data" :configPrint="configPrint"></header-print>
	    <div id="content-print" class="content-print-3" style="font-size: 14pt;">
	    	<br>
	    	<div class="h2" style="margin-bottom: 0;">PHIẾU GỬI</div>
	    	<div class="descript">
	    		<div><span>Thông báo vi phạm hành chính về trật tự, an toàn giao thông đường bộ</span></div>
	    	</div>
	    	<br>
	    	<div class="item" style="margin-bottom: 0;text-align: center;">Kính gửi: {{data.unit_name}}
	    	</div>
	    	<br>
	    	<div class="item" style="text-indent: 60px;text-align: justify;">{{organizationName}} {{tencoquan}} thực hiện thông báo vi phạm hành chính về trật tự, an toàn giao thông đường bộ số <template v-if="!data.notifyNo">...................</template><template v-else>{{data.notifyNo}}</template>, ngày <template v-if="data.notifyTime">{{detectDate(data.notifyTime)}}</template><template v-else>.../.../........</template>.</div>
	    	<div class="item" style="text-indent: 60px;text-align: justify;">Đối với: Ông (bà) {{data.customer}}</div>
	    	<div class="item" style="text-indent: 60px;">Địa chỉ: {{data.address}}, {{data.village}}, {{data.district}}, {{data.city}}</div>
	    	<div class="item" style="text-indent: 60px;text-align: justify;">Phương tiện giao thông (ghi rõ loại phương tiện, biển số): <span v-if="data.vehicle =='Ô tô'">Xe</span> {{data.vehicle}} - <span v-if="data.plate">BKS</span> {{data.plate}} có hành vi vi phạm (hoặc dấu hiệu vi phạm): {{data.violationTypes}}.</div>
	    	<div class="item" style="text-indent: 60px;text-align: justify;">Đề nghị {{data.unit_name}} chuyển thông báo tới {{data.customer}} và giám sát việc thực hiện./.</div>
	    	<div class="item"></div>
	    	<div class="item"></div>
	    	<div class="item item-last">
	    		<div class="leader-sign left">
		    		<div style="font-size: 12pt;font-style: italic;"><b>Nơi nhận:</b></div>
		    		<div style="font-size: 11pt;">- Như trên;</div>
		    		<div style="font-size: 11pt;">- Lưu: XLVP.</div>
		    	</div>
		    	<div class="leader-sign right">
		    		<div><b>{{chucdanhnguoiky1}}</b></div>
		    		<div><b>{{chucdanhnguoiky2}}</b></div>
		    	</div>
	    	</div>
	    	<div class="scissors" style="margin-top: 80px;"><span></span></div>
	    	<div class="notify-2">
	    		<div class="h2">PHIẾU BÁO</div>
	    		<div class="item" style="text-align: center;">Kính gửi: {{organizationName}}</div>
	    		<div class="item" style="text-indent: 60px;text-align: justify;">Công an phường, xã, thị trấn: {{data.unit_name}}</div>
	    		<div class="item">đã nhận được thông báo số: ............... ngày ...../....../............. và đã chuyển đến ............................................ (1) hoặc ............................................................(2)</div>
	    		<!-- <div class="item"></div> -->
	    		<div class="item" style="padding-left: 30px;">Vậy thông báo để cơ quan đã ra thông báo biết./.</div>
	    	</div>
	    	<div class="item item-last" style="margin-bottom: 85px;">
	    		<div class="leader-sign left">
		    		<div style="font-size: 12pt;font-style: italic;"><b>Nơi nhận:</b></div>
		    		<div style="font-size: 11pt;">- Như trên;</div>
		    		<div style="font-size: 11pt;">- Lưu:........</div>
		    	</div>
		    	<div class="leader-sign right">
		    		<div><b>TRƯỞNG CÔNG AN XÃ</b></div>
		    		<div><i>(Ký, ghi rõ họ tên và đóng dấu)</i></div>
		    	</div>
	    	</div>
	    	<div class="note">
	    		<div class="line-top"></div>
	    		<div class="item">(1) Tên chủ phương tiện vi phạm</div>
	    		<div class="item">(2) Lý do khác</div>
	    	</div>
	    </div>
	</div>
	<!-- <button @click="print" class="no-print">in</button> -->
  </div>
</template>

<script>
	import headerPrint from './header_3'
	import Resource from "@/api/resource"
	const categoryResource = new Resource("systemconfig/category")
	const options = {
		name: '_blank',
		specs: ['fullscreen=yes', 'titlebar=yes','scrollbars=yes']
	}
	export default {
	  components: {headerPrint},
	  props: {
	  	data: {
	  		type: Object,
	  		default: null
	  	}
	  },
	  data () {
	    return {
	      output: null,
	      organizationName: this.$store.state.user.organizationName,
	      organizationReportCode: this.$store.state.user.organizationReportCode,
	      keyPrint: 0,
	      configPrint: [],
	      chucdanhnguoiky1: 'KT. TRƯỞNG PHÒNG',
	      chucdanhnguoiky2: 'PHÓ TRƯỞNG PHÒNG',
	      tencoquan: 'Công an tỉnh thanh hóa',
	    }
	  },
	  created() {
	  	this.getConfigPrint()
	  },
	  methods: {
	    print () {
	      // Pass the element id here
	      this.$htmlToPaper('print-template-1',options);
	    },
	    getConfigPrint() {
			let params = {
				catType: 'MAU_IN'
			}
			categoryResource.list(params).then(response=>{
				if(response.status == 200 && response.data) {
					this.configPrint = response.data
					this.keyPrint = Math.floor(Math.random() * 100)
					this.detectConfigPrint()
				}
			}).catch(err=>{

			})
		},
		detectConfigPrint() {
			let self = this
			let nghidinh = this.configPrint.filter(function(val){
				return val.code == "NGHIDINH"
			})
			if(nghidinh && nghidinh.length > 0){
				this.nghidinh = nghidinh[0].mapper
			}
			let tencoquan = this.configPrint.filter(function(val){
				return val.code == "TENCOQUAN1"
			})
			if(tencoquan && tencoquan.length > 0){
				this.tencoquan = tencoquan[0].mapper
			}
			// neu ko co don vi lay mac dinh
			let chucdanhnguoiky1 = this.configPrint.filter(function(val){
				return val.code == "CHUCDANHNGUOIKY1" && val.organizationCode == ""
			})
			if(chucdanhnguoiky1 && chucdanhnguoiky1.length > 0){
				this.chucdanhnguoiky1 = chucdanhnguoiky1[0].mapper
			}
			let chucdanhnguoiky2 = this.configPrint.filter(function(val){
				return val.code == "CHUCDANHNGUOIKY2" && val.organizationCode == ""
			})
			if(chucdanhnguoiky2 && chucdanhnguoiky2.length > 0){
				this.chucdanhnguoiky2 = chucdanhnguoiky2[0].mapper
			}
			// neu chu ky theo doi vi
			chucdanhnguoiky1 = this.configPrint.filter(function(val){
				return val.code == "CHUCDANHNGUOIKY1" && val.organizationCode == self.organizationReportCode
			})
			if(chucdanhnguoiky1 && chucdanhnguoiky1.length > 0){
				this.chucdanhnguoiky1 = chucdanhnguoiky1[0].mapper
			}
			chucdanhnguoiky2 = this.configPrint.filter(function(val){
				return val.code == "CHUCDANHNGUOIKY2" && val.organizationCode == self.organizationReportCode
			})
			if(chucdanhnguoiky2 && chucdanhnguoiky2.length > 0){
				this.chucdanhnguoiky2 = chucdanhnguoiky2[0].mapper
			}
		},
	    detectDate(date) {
			let result = moment(date).format('DD/MM/YYYY')
			return result
		},
	    detectSign1() {
	    	if(this.organizationReportCode == "CA_TP_YEN_BAI"){
	    		return 'KT. TRƯỞNG CÔNG AN THÀNH PHỐ'
	    	}
	    	return 'KT. TRƯỞNG PHÒNG'
	    },
	    detectSign2() {
	    	if(this.organizationReportCode == "CA_TP_YEN_BAI"){
	    		return 'PHÓ TRƯỞNG CÔNG AN THÀNH PHỐ'
	    	}
	    	return 'PHÓ TRƯỞNG PHÒNG'
	    }
	  }
	}
</script>

<style type="text/css">
	
</style>