<template>
	<div class="hover-show-full-image" @mousemove="mouseOver" @mouseout="mouseout">
		<img class="hover-img" :src="image" @error="replaceImageFail" alt="" />
		<img class="full-image" :src="image" @error="replaceImageFail" alt="" />
	</div>
</template>
<script type="text/javascript">
	import vehicle_default from "@/assets/images/vehicle_default1.png";

  export default {
    data () {
      return {
        vehicle_default: vehicle_default
      }
    },
		props: {
			image: {
				type: String,
				default: '',
			},
			width: {
				type: Number,
				default: 200,
			},
			height: {
				type: Number,
				default: 150,
			}
		},
		methods: {
      replaceImageFail(e) {
        e.target.src = this.vehicle_default
      },
			mouseOver(e) {
				e.currentTarget.childNodes[1].style.display = 'block';
				e.currentTarget.childNodes[1].style.maxHeight = (window.innerHeight - 20) + 'px';

				e.currentTarget.childNodes[1].style.top = '10px';
				if((window.innerWidth - e.screenX) > e.screenX) {
					e.currentTarget.childNodes[1].style.maxWidth = (window.innerWidth - e.screenX - 20) + 'px';
					e.currentTarget.childNodes[1].style.left = e.screenX + 'px';
				}else{
					e.currentTarget.childNodes[1].style.maxWidth = (window.innerWidth - (window.innerWidth - e.screenX) - 20) + 'px';
					e.currentTarget.childNodes[1].style.right = (window.innerWidth - e.screenX) + 'px';
				}
			},
			mouseout(e) {
				e.currentTarget.childNodes[1].style.display = 'none';
			}
		}
	}
</script>
<style type="text/css" lang="scss" scoped>
	.hover-show-full-image {
		position: relative;
		display: inline-block;
		img {
			cursor: pointer;
		}
		.full-image {
			cursor: initial;
			position: fixed;
			z-index: 9999;
    		border: 2px solid #999;
    		display: none;
		}
		.hover-img {
			width: 100%;
			height: auto;
		}
	}
	.hover-show-full-image:hover .full-image {
		/*display: block;
		top: 100px;
		max-width: 100%;*/
	}
</style>
