<template>
  <div>
    <el-form-item label="Màu" prop="colorPicker">
      <el-input v-model="jsonArea.colorPicker" size="small">
        <el-color-picker slot="append" v-model="jsonArea.colorPicker" size="mini" color-format="rgb" show-alpha></el-color-picker>
      </el-input>
    </el-form-item>

    <el-form-item label="Tên vùng" prop="name" class="area-name">
      <el-input v-model="jsonArea.name" size="small"></el-input>
    </el-form-item>

    <el-form-item label="Hướng">
      <el-select multiple v-model="jsonArea.arr_direction" placeholder="Chọn hướng" size="small">
        <el-option
          v-for="direction in directionList"
          :key="direction.id"
          :label="direction.name"
          :value="direction.id"
        >
        </el-option>
      </el-select>
    </el-form-item>

    <el-form-item label="In TT" style="margin-bottom: 0px;">
      <el-checkbox v-model="jsonArea.isCheckedTT"></el-checkbox>
    </el-form-item>
    <el-form-item label="Vị trí X" style="margin-bottom: 0px;">
      <el-input-number v-model="jsonArea.info.x" controls-position="right" :min="0" :disabled="!jsonArea.isCheckedTT" size="small"></el-input-number>
    </el-form-item>
    <el-form-item label="Vị trí Y" style="margin-bottom: 0px;">
      <el-input-number v-model="jsonArea.info.y" controls-position="right" :min="0" :disabled="!jsonArea.isCheckedTT" size="small"></el-input-number>
    </el-form-item>

    <el-form-item label="Đối tượng áp dụng" class="object-apply-cus" label-width="140px" style="margin-bottom: 0px;"></el-form-item>
    <!-- Ô tô -->
    <el-checkbox v-model="jsonArea.isCheckedCar" style="margin-right: 10px;"></el-checkbox><span @click="isHiddenCar = !isHiddenCar" style="cursor: pointer;color: #606266;">Ô tô</span><br>
    <span v-show="isHiddenCar" class="form-ratio">
      <el-form-item label="Det ratio">
        <el-input-number v-model="jsonArea.car.detRatio" controls-position="right" :min="0" :step="0.1" size="small"></el-input-number>
      </el-form-item>
      <el-form-item label="Max ratio">
        <el-input-number v-model="jsonArea.car.maxRatio" controls-position="right" :min="0" :step="1" size="small"></el-input-number>
      </el-form-item>
      <el-form-item label="Min ratio">
        <el-input-number v-model="jsonArea.car.minRatio" controls-position="right" :min="0" :step="0.1" size="small"></el-input-number>
      </el-form-item>
      <el-form-item label="Min area">
        <el-input-number v-model="jsonArea.car.minArea" controls-position="right" :min="0" :step="1" size="small"></el-input-number>
      </el-form-item>
    </span>

    <!-- Xe tải -->
    <el-checkbox v-model="jsonArea.isCheckedTruck" style="margin-right: 10px;"></el-checkbox><span @click="isHiddenTruck = !isHiddenTruck" style="cursor: pointer;color: #606266;">Xe tải</span><br>
    <span v-show="isHiddenTruck" class="form-ratio">
      <el-form-item label="Det ratio">
        <el-input-number v-model="jsonArea.truck.detRatio" controls-position="right" :min="0" :step="0.1" size="small"></el-input-number>
      </el-form-item>
      <el-form-item label="Max ratio">
        <el-input-number v-model="jsonArea.truck.maxRatio" controls-position="right" :min="0" :step="1" size="small"></el-input-number>
      </el-form-item>
      <el-form-item label="Min ratio">
        <el-input-number v-model="jsonArea.truck.minRatio" controls-position="right" :min="0" :step="0.1" size="small"></el-input-number>
      </el-form-item>
      <el-form-item label="Min area">
        <el-input-number v-model="jsonArea.truck.minArea" controls-position="right" :min="0" :step="1" size="small"></el-input-number>
      </el-form-item>
    </span>

    <!-- Xe bus -->
    <el-checkbox v-model="jsonArea.isCheckedBus" style="margin-right: 10px;"></el-checkbox><span @click="isHiddenBus = !isHiddenBus" style="cursor: pointer;color: #606266;">Xe bus</span><br>
    <span v-show="isHiddenBus" class="form-ratio">
      <el-form-item label="Det ratio">
        <el-input-number v-model="jsonArea.bus.detRatio" controls-position="right" :min="0" :step="0.1" size="small"></el-input-number>
      </el-form-item>
      <el-form-item label="Max ratio">
        <el-input-number v-model="jsonArea.bus.maxRatio" controls-position="right" :min="0" :step="1" size="small"></el-input-number>
      </el-form-item>
      <el-form-item label="Min ratio">
        <el-input-number v-model="jsonArea.bus.minRatio" controls-position="right" :min="0" :step="0.1" size="small"></el-input-number>
      </el-form-item>
      <el-form-item label="Min area">
        <el-input-number v-model="jsonArea.bus.minArea" controls-position="right" :min="0" :step="1" size="small"></el-input-number>
      </el-form-item>
    </span>

    <!-- Xe máy -->
    <el-checkbox v-model="jsonArea.isCheckedMotorbike" style="margin-right: 10px;"></el-checkbox><span @click="isHiddenMotorbike = !isHiddenMotorbike" style="cursor: pointer;color: #606266;">Xe máy</span><br>
    <span v-show="isHiddenMotorbike" class="form-ratio">
      <el-form-item label="Det ratio">
        <el-input-number v-model="jsonArea.motorbike.detRatio" controls-position="right" :min="0" :step="0.1" size="small"></el-input-number>
      </el-form-item>
      <el-form-item label="Max ratio">
        <el-input-number v-model="jsonArea.motorbike.maxRatio" controls-position="right" :min="0" :step="1" size="small"></el-input-number>
      </el-form-item>
      <el-form-item label="Min ratio">
        <el-input-number v-model="jsonArea.motorbike.minRatio" controls-position="right" :min="0" :step="0.1" size="small"></el-input-number>
      </el-form-item>
      <el-form-item label="Min area">
        <el-input-number v-model="jsonArea.motorbike.minArea" controls-position="right" :min="0" :step="1" size="small"></el-input-number>
      </el-form-item>
    </span>

    <!-- Xe đạp -->
    <el-checkbox v-model="jsonArea.isCheckedBike" style="margin-right: 10px;"></el-checkbox><span @click="isHiddenBike = !isHiddenBike" style="cursor: pointer;color: #606266;">Xe đạp</span><br>
    <span v-show="isHiddenBike" class="form-ratio">
      <el-form-item label="Det ratio">
        <el-input-number v-model="jsonArea.bike.detRatio" controls-position="right" :min="0" :step="0.1" size="small"></el-input-number>
      </el-form-item>
      <el-form-item label="Max ratio">
        <el-input-number v-model="jsonArea.bike.maxRatio" controls-position="right" :min="0" :step="1" size="small"></el-input-number>
      </el-form-item>
      <el-form-item label="Min ratio">
        <el-input-number v-model="jsonArea.bike.minRatio" controls-position="right" :min="0" :step="0.1" size="small"></el-input-number>
      </el-form-item>
      <el-form-item label="Min area">
        <el-input-number v-model="jsonArea.bike.minArea" controls-position="right" :min="0" :step="1" size="small"></el-input-number>
      </el-form-item>
    </span>

    <!-- Xe xây dựng -->
    <!-- <el-checkbox v-model="jsonArea.isCheckedConstructed" style="margin-right: 10px;"></el-checkbox><span @click="isHiddenConstructed = !isHiddenConstructed" style="cursor: pointer;color: #606266;">Xe xây dựng</span><br>
    <span v-show="isHiddenConstructed" class="form-ratio">
      <el-form-item label="Det ratio">
        <el-input-number v-model="jsonArea.constructed.detRatio" controls-position="right" :min="0" :step="0.1" size="small"></el-input-number>
      </el-form-item>
      <el-form-item label="Max ratio">
        <el-input-number v-model="jsonArea.constructed.maxRatio" controls-position="right" :min="0" :step="1" size="small"></el-input-number>
      </el-form-item>
      <el-form-item label="Min ratio">
        <el-input-number v-model="jsonArea.constructed.minRatio" controls-position="right" :min="0" :step="0.1" size="small"></el-input-number>
      </el-form-item>
      <el-form-item label="Min area">
        <el-input-number v-model="jsonArea.constructed.minArea" controls-position="right" :min="0" :step="1" size="small"></el-input-number>
      </el-form-item>
    </span> -->

    <!-- Bật ReID -->
    <el-form-item label="Bật ReID" style="margin: 7px 0px 0px 0px;">
      <el-checkbox v-model="jsonArea.isCheckedReID"></el-checkbox>
    </el-form-item>
    <el-form-item label="Đối tượng" v-show="jsonArea.isCheckedReID">
      <el-select multiple v-model="jsonArea.arr_vehicle_reid" placeholder="Chọn đối tượng" size="small">
        <el-option
          v-for="vehicle in vehicleList"
          :key="vehicle.id"
          :label="vehicle.name"
          :value="vehicle.id"
        >
        </el-option>
      </el-select>
    </el-form-item>
  </div>
</template>

<script>
export default {
  props: {
    value: {
        type: Object,
        default: function() {
            return {};
        }
    },
  },
  // watch: {
  //   value() {
  //       this.$emit('input', this.value);
  //   }
  // },
  computed: {
    jsonArea: {
        get() { return this.value },
        set(jsonArea) {this.$emit('input', jsonArea)}
    }
  },
  data() {
    return {
      isHiddenCar: false,
      isHiddenTruck: false,
      isHiddenBus: false,
      isHiddenMotorbike: false,
      isHiddenBike: false,
      isHiddenConstructed: false,
      directionList: [
        {
          id: 1,
          name: "Bắc"
        },
        {
          id: 2,
          name: "Đông Bắc"
        },
        {
          id: 128,
          name: "Tây Bắc"
        },
        {
          id: 4,
          name: "Đông"
        },
        {
          id: 8,
          name: "Đông Nam"
        },
        {
          id: 16,
          name: "Nam"
        },
        {
          id: 32,
          name: "Tây Nam"
        },
        {
          id: 64,
          name: "Tây"
        },
        {
          id: 255,
          name: "Tất cả"
        },
        {
          id: 0,
          name: "Không có"
        },
      ],
      vehicleList: [
        {
          id: "car",
          name: "Ô tô"
        },
        {
          id: "truck",
          name: "Xe tải"
        },
        {
          id: "bus",
          name: "Xe bus"
        },
        {
          id: "motorbike",
          name: "Xe máy"
        },
        {
          id: "bike",
          name: "Xe đạp"
        },
        {
          id: "constructed",
          name: "Xe xây dựng"
        },
      ],
    };
  },
  methods: {},
};
</script>

<style lang="scss" scoped>
.el-form-item {
    margin-bottom: 17px;
}
span.form-ratio {
  .el-form-item {
    margin-bottom: 0px;
    /deep/ .el-form-item__label {
      padding-left: 24px;
    }
  }
}
</style>
