<template>
  <div>
    <el-form-item label="Màu" prop="colorPicker">
      <el-input v-model="jsonArea.colorPicker" size="small">
        <el-color-picker slot="append" v-model="jsonArea.colorPicker" size="mini" color-format="rgb" show-alpha></el-color-picker>
      </el-input>
    </el-form-item>

    <el-form-item label="Tên vùng" prop="name" class="area-name">
      <el-input v-model="jsonArea.name" size="small"></el-input>
    </el-form-item>

    <el-form-item label="In TT" style="margin-bottom: 0px;">
      <el-checkbox v-model="jsonArea.isCheckedTT"></el-checkbox>
    </el-form-item>
    <el-form-item label="Vị trí X" style="margin-bottom: 0px;">
      <el-input-number v-model="jsonArea.info.x" controls-position="right" :min="0" :disabled="!jsonArea.isCheckedTT" size="small"></el-input-number>
    </el-form-item>
    <el-form-item label="Vị trí Y" style="margin-bottom: 0px;">
      <el-input-number v-model="jsonArea.info.y" controls-position="right" :min="0" :disabled="!jsonArea.isCheckedTT" size="small"></el-input-number>
    </el-form-item>

    <el-form-item label="Vùng vi phạm" style="margin: 10px 0px 0px 0px;"></el-form-item>
    <el-checkbox-group v-model="jsonArea.related_roi">
      <el-checkbox v-for="item in listRelatedRois"
        :label="item.id"
        :key="item.id"
        :value="item.id"
      >{{ item.jsonDetailArea.name }}</el-checkbox>
    </el-checkbox-group>

    <div style="margin-top: 7px;">
      <span class="card-name">Lập lịch</span>
      <div class="add-item pull-right" @click="addSchedule">
        <i class="el-icon-circle-plus icon"></i> Thêm lập lịch
      </div>
      <div class="schedule" v-for="(sch, index) in jsonArea.schedules" :key="index">
        <div
          class="remove-item"
          @click="removeSchedule(index)"
        >
          <i class="el-icon-close icon"></i>
        </div>
        <div>
          <el-form label-position="top">
            <el-row :gutter="20">
              <el-col :span="8">
                <el-form-item label="Bắt đầu">
                  <el-time-picker size="mini" v-model="sch.start_time" format="HH:mm:ss" value-format="HH:mm:ss" style="width: 100%;"></el-time-picker>
                </el-form-item>
              </el-col>
              <el-col :span="8">
                <el-form-item label="Kết thúc">
                  <el-time-picker size="mini" v-model="sch.end_time" format="HH:mm:ss" value-format="HH:mm:ss" style="width: 100%;"></el-time-picker>
                </el-form-item>
              </el-col>
              <el-col :span="8">
                <el-form-item label="Chế độ">
                  <el-select v-model="sch.mode" placeholder="Chọn chế độ" size="mini">
                    <el-option
                      v-for="mode in modeList"
                      :key="mode.id"
                      :label="mode.name"
                      :value="mode.id"
                    >
                    </el-option>
                  </el-select>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row :gutter="20" v-show="sch.mode == 1">
              <el-col :span="8">
                <el-form-item label="Red">
                  <el-input v-model="sch.red" placeholder="Red" size="mini"></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="8">
                <el-form-item label="Green">
                  <el-input v-model="sch.green" placeholder="Green" size="mini"></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="8">
                <el-form-item label="Yellow">
                  <el-input v-model="sch.yellow" placeholder="Yellow" size="mini"></el-input>
                </el-form-item>
              </el-col>
            </el-row>
          </el-form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
const defaultSchedule = {
  start_time: '', // HH:mm:ss
  end_time: '', // HH:mm:ss
  mode: 0, // 0|1
  red: 0,
  green: 0,
  yellow: 0,
};


export default {
  props: {
    value: {
        type: Object,
        default: function() {
            return {};
        }
    },
    listRelatedRois: {
        type: Array,
        default: function() {
            return [];
        }
    },
  },
  // watch: {
  //   value() {
  //       this.$emit('input', this.value);
  //   }
  // },
  computed: {
    jsonArea: {
        get() { return this.value },
        set(jsonArea) {this.$emit('input', jsonArea)}
    }
  },
  data() {
    return {
      modeList: [
        {
          id: 1,
          name: "Bật"
        },
        {
          id: 0,
          name: "Tắt"
        },
      ],
    };
  },
  methods: {
    addSchedule() {
      const sch = Object.assign({}, defaultSchedule);
      this.jsonArea.schedules.push(sch);
    },
    removeSchedule(index) {
      this.jsonArea.schedules.splice(index, 1);
    },
  },
};
</script>

<style lang="scss" scoped>
.el-form-item {
    margin-bottom: 17px;
}
span.form-ratio {
  .el-form-item {
    margin-bottom: 0px;
    /deep/ .el-form-item__label {
      padding-left: 24px;
    }
  }
}

.card-name {
  color: #4c4c4c;
  font-weight: 500;
}
.add-item {
  cursor: pointer;
  font-size: 14px;
  .icon {
    color: #e8ba2d;
    font-size: 17px;
    margin-right: 3px;
  }
}
.schedule {
    width: 100%;
    position: relative;
    font-size: 14px;
    border-radius: 1px;
    border: 1px solid #dee2e6;
    margin: 3px 0px 9px 0px;
    padding: 3px 10px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
    .remove-item {
      width: 16px;
      height: 16px;
      background-color: #dc3545;
      border-color: #dc3545;
      position: absolute;
      top: 0;
      right: 0;
      color: #fff;
      font-size: 13px;
      line-height: 18px;
      cursor: pointer;
      text-align: center;
      z-index: 999;
    }
}
</style>
