<template class="asdfsdf" >
  <div class="videoComponent" v-bind:class="{zoom:zoom}">
    <section class="streams-container" :id="'streams-container'+cameraReal"></section>
    <nav class="nav-controll">
    <template v-if="type != 'Live'">
      <div id="buttons">
          <i v-if="!isPause" class="el-icon-video-pause icon-video" @click="handlePlayAndPause(true)"></i>
          <i v-if="isPause" class="el-icon-video-play icon-video" @click="handlePlayAndPause(false)"></i>
        </div>
        <div @click="handleChangeProgressBarTime($event)" id="defaultBar">
          <div  id="progressBar"></div>
        </div>
        <div style="clear: both"></div>
    </template>
      <i  class="el-icon-full-screen icon-video" @click="zoomVideo(false)"></i>
    </nav>
  </div>
</template>

<script>
import playForwards from "@/assets/images/playForwards.png";
export default {
  components: {},
  directives: {},
  props: {
      cameraReal: {
      type: String,
        default: null,
     },
    startTime: {
      type: String,
      default: null,
    },
    width:{
      type: Number,
      default: 431,
    },
    height:{
      type: Number,
      default: 244,
    },
    type:{
      type:String,
      default:"Playback"
    }
  },
  data() {
    return {
      //handle video connection
      // cameraReal:"489b017c-75a0-4d78-b555-7d818dc953a3",
      videoId:"",
      attachContainerClick: true,
      dataVideoConnection: [],
      playbackControllerId: null,
      playForwards: playForwards,
      oneUpdateStatus:false,
      zoom:false,
      // videoConnection:null,
      //end handlevide0
      heightRes:0,
      widthRes:0,
      widthResStatus:false,
      intervelProgress:0,

      playStop:false,
      //
      isPause: false,
      timeProgress: 0,
      timeProgressBar: 0,
      totalTime: 15,
      sizeProgress: 0,
    };
  },

  created() {
  },
  methods: {
    async init() {
    },

    handlePlayAndPause(pause){
      if(pause){
        this.playForwardBtn(0)
        this.isPause= true
      }else{
        const bar = document.getElementById("defaultBar");
        this.isPause= false
        if(this.timeProgressBar >= bar.offsetWidth){
          this.changeMultipleStreamsHandle(new Date(this.startTime).getTime())
        }else{
          console.log("đã run qua đây")
          this.playForwardBtn(1)
        }


      }
    },

    handleTimeBar(timeCurrent,status) {
      let diffDate =(timeCurrent - new Date(this.startTime).getTime())/1000;
      if(diffDate > this.totalTime){
        diffDate = this.totalTime
      }
      if(diffDate < 0){
        diffDate = 0
      }
      const bar = document.getElementById("defaultBar");
      const progressBar = document.getElementById("progressBar");
      this.sizeProgress = bar.offsetWidth;
      this.timeProgress = diffDate
      if (this.totalTime > 0) {
          this.timeProgressBar = parseInt(bar.offsetWidth * diffDate/this.totalTime);
          progressBar.style.width = this.timeProgressBar +"px";
      }
    },

    //handle video

    offset(el) {
      var rect = el.getBoundingClientRect(),
      scrollLeft = window.pageXOffset || document.documentElement.scrollLeft,
      scrollTop = window.pageYOffset || document.documentElement.scrollTop;
      return { top: rect.top + scrollTop, left: rect.left + scrollLeft }
  },

    handleChangeProgressBarTime($event){
      this.isPause= false
      const bar = document.getElementById("defaultBar");
      const progressBar = document.getElementById("progressBar");
      const position = this.offset(bar)
      const pos = ($event.pageX  - position.left)/bar.offsetWidth;
      console.log("tttttt:",pos,position,$event.pageX )
      this.timeProgressBar = pos * bar.offsetWidth;
      progressBar.style.width = this.timeProgressBar +"px";
      this.timeProgress = (this.totalTime * pos).toFixed(3);
      const timeClick =  new Date(this.startTime).getTime()+ this.timeProgress * 1000;
      this.changeMultipleStreamsHandle(timeClick)

    },

    async viewVideo() {
      this.closeStream()
      const loginState = this.$store.state.common.loginMilestone;
      if (!loginState) {
        this.$message({
          type: "error",
          message: "Đang kết nối đến server",
        });
        return;
      }
      const container = document.getElementById("streams-container"+this.cameraReal);
      this.connectionDidLogIn(container);
      if(this.type != 'Live'){
        this.createPlaybackController();
      }

      this.isPause = false
       await this.delay(1000)
       this.Camera(container)
    },

    async connectionDidLogIn(container, doNotAttackOnContainerClick) {
      container = container || document.body;

      if (doNotAttackOnContainerClick) {
        this.attachContainerClick = false;
      }
      const self = this;
      container.innerHTML = "";
      XPMobileSDK.getAllViews(function (items) {
        console.log("alllllllllllllllllllll cam:",items[0].Items[0].Items[0].Items)
        for (var i = 0; i < items[0].Items[0].Items[0].Items.length; i++) {
          if (items[0].Items[0].Items[0].Items[i].Id == self.cameraReal) {
            self.buildCameraElement(
              items[0].Items[0].Items[0].Items[i],
              container
            );
            break;
          }
        }
      });
    },

    zoomVideo(){
      var container = document.getElementById("container"+this.cameraReal);
      let params = {}
     if(!this.zoom){
        this.zoom = true
        container.style.height = window.innerHeight+"px"
        container.style.width = window.innerWidth+"px";
           params = {
          VideoId: this.videoId,
          DestWidth:window.innerWidth ,
          DestHeight:window.innerHeight ,
        };
     }else{
         this.zoom = false
        container.style.height = this.height+"px"
        container.style.width = this.width+"px";
          params = {
            VideoId: this.videoId,
            DestWidth:this.width ,
            DestHeight:this.height ,
      }
     }
       XPMobileSDK.ChangeStream(params, ()=>{});
    },

    buildControllVideo() {
      const nav = document.createElement("nav");
      nav.setAttribute("class", "nav-controll");
      const pauseElement = document.createElement("div");
      const buttonPause = document.createElement("button");

      return nav;
    },

    buildCameraElement(item, wrapper) {
      var container = document.createElement("div");
      container.setAttribute("id", "container" + item.Id);
      container.setAttribute("class", "camera camera-custom");

      // var headerElement = document.createElement("h4");
      // headerElement.innerHTML = item.Name || "";
      // headerElement.setAttribute("class", "camera-name");
      // container.appendChild(headerElement);

      var canvasElement = document.createElement("canvas");
      container.appendChild(canvasElement);

      var videoElement = document.createElement("video");
      container.appendChild(videoElement);

      var bottombar = document.createElement("div");
      bottombar.setAttribute("class", "bottombar");

      //

      var pauseButton = document.createElement("div");
      pauseButton.setAttribute("class", "pauseButton btn");
      pauseButton.setAttribute("title", "Pause");
      bottombar.appendChild(pauseButton);

      var playbackBarButtons = document.createElement("div");
      playbackBarButtons.setAttribute("class", "playbackBarButtons");

      var playBackButton = document.createElement("div");
      playBackButton.setAttribute("class", "playBackButton btn");
      playBackButton.setAttribute("title", "Play backward");
      playbackBarButtons.appendChild(playBackButton);

      var playBackTime = document.createElement("div");
      playBackTime.setAttribute("class", "playTimeIndex");
      playbackBarButtons.appendChild(playBackTime);

      var playForwardButton = document.createElement("div");
      playForwardButton.setAttribute("class", "playForwardButton btn");
      playForwardButton.setAttribute("title", "Play forward");
      playbackBarButtons.appendChild(playForwardButton);

      bottombar.appendChild(playbackBarButtons);
      container.appendChild(bottombar);


      wrapper.appendChild(container);
      var event = new CustomEvent("cameraElementAdded", {
        detail: {
          cameraItem: item,
          cameraContainer: container,
        },
      });

      wrapper.dispatchEvent(event);
    },

    playForwardBtn(speed,callback) {
      if(!callback){
        callback = function (parameters) {
        }
      }
      XPMobileSDK.changeMultipleStreams(
        {
          PlaybackControllerId: this.playbackControllerId,
          Speed: typeof speed == "number" ? speed : 1,
        },
       callback
      );
    },

    createPlaybackController() {
      XPMobileSDK.createPlaybackController(
        {
          SeekType: "Time",
          Time: new Date(this.startTime).getTime(),
        },
        this.createPlaybackControllerCallback,
        function (error) {

        }
      );
    },

    onPlaybackEvents(playbackEvents) {
      if (
        playbackEvents &
        XPMobileSDK.library.ItemHeaderParser.PlaybackFlags.Stopped
      ) {
        // onPlaybackStopped();
      }
      if (
        playbackEvents &
        XPMobileSDK.library.ItemHeaderParser.PlaybackFlags.Forward
      ) {
        // onPlaybackForward();
      }
      if (
        playbackEvents &
        XPMobileSDK.library.ItemHeaderParser.PlaybackFlags.Backward
      ) {
        // onPlaybackBackwards();
      }
    },

    onReceivedFrame(frame) {
      if (frame.hasPlaybackInformation) {
        this.onPlaybackEvents(frame.currentPlaybackEvents);
      }

      this.timeStamp = frame.timestamp;
      // updateTime(frame.timestamp);
    },

    createPlaybackControllerCallback(connection) {
      var connectionResponse = connection.response;
      // this.videoConnection = connection;
      const videoConnection = connection;
      this.playbackControllerId =
        connection.response.parameters.PlaybackControllerId;
      const self1 = this;
      var videoConnectionObserver = {
        videoConnectionReceivedFrame: self1.onReceivedFrame,
        videoConnectionTemporaryDown: function () {},
        videoConnectionRecovered: function () {},
        videoConnectionNotAvailable: function () {},
      };

      videoConnection.addObserver(videoConnectionObserver);

      if (
        videoConnection.getState() ==
        XPMobileSDK.library.VideoConnectionState.notOpened
      ) {
        videoConnection.open();
      }
    },

    delay(ms) {
      return new Promise((res) => setTimeout(res, ms));
    },

    changeMultipleStreamsHandle(time) {
      const sel = this;
      console.log("start stoppppppppppppppppppp")
      this.playForwardBtn(0,()=>{
        console.log("stop ennnnnnnnnnnnnn")
        XPMobileSDK.changeMultipleStreams(
        {
          PlaybackControllerId: this.playbackControllerId,
          SeekType: "Time",
          Time: time,
        },
        async (parameters) => {
          console.log("res okkkkkkkkkkkkkkkkkkkkkk",parameters)
          await this.delay(1000);
          console.log("delay finish",parameters)
          sel.playForwardBtn(1);
        }
      );
      });

    },

    closeStream() {
      const videoId = localStorage.getItem("videoId");
      if (videoId) {
        XPMobileSDK.CloseStream(
          {
            VideoId: this.videoId,
          },
          {},
          {}
        );
        localStorage.removeItem("videoId");
      }
    },

    async Camera(event) {

      var container = document.getElementById("container"+this.cameraReal);
      container.style.height = this.height+"px"
      container.style.width = this.width+"px";
      let Id = this.cameraReal;
      this.oneUpdateStatus = false;
      this.widthResStatus = false;
      var canvas = document.querySelector("#container" + Id + " canvas");
      var canvasContext = canvas.getContext("2d");
      var video = document.querySelector("#container" + Id + " video");
      var image = document.createElement("img");
      image.addEventListener("load", onImageLoad);
      image.addEventListener("error", onImageError);
      var imageURL, videoController;
      var drawing = false;

      // Audio autoplay
      try {
        var audio = container.querySelector("audio");

        if (audio) {
          var playPromise = audio.play();

          if (playPromise !== undefined) {
            playPromise
              .catch(function (e) {
                // Auto-play was prevented
                // Show a UI element to let the user manually start playback
                console.error(e);
              })
              .then(function (e) {
                // Auto-play started
                console.warn(e);
              });
          }
        }
      } catch (e) {
        console.error(e);
      }

      var videoConnectionObserver = {
        videoConnectionReceivedFrame: videoConnectionReceivedFrame,
      };

      XPMobileSDK.library.Connection.webSocketBrowser = false;
      /**
       * Requesting a video stream.
       */
      const self = this;
      let streamRequest = XPMobileSDK.RequestStream(
        self.RequestStreamParams(Id, "Live"),
        requestStreamCallback,
        function (error) {}
      );
        console.log("ddddddddddddddddddddddd")
      /**
       * Video stream request callback
       */
      async function requestStreamCallback(videoConnection) {
          console.log("received video id:",videoConnection.videoId)
        videoController = videoConnection;
        if (videoConnection && videoConnection.videoId) {
          self.videoId = videoConnection.videoId
        }
        videoConnection.addObserver(videoConnectionObserver);
        videoConnection.open();
        // self.dataVideoConnection.push(videoConnection);

        var event = new CustomEvent("playStream", {
          detail: {
            cameraId: Id,
            videoConnection: videoConnection,
          },
        });

        container.parentNode.dispatchEvent(event);
        await self.delay(1000);
        self.playForwardBtn(1);
      }

      document
        .getElementById("container" + Id)
        .classList.add("playing", "live");
      document
        .getElementById("container" + Id)
        .removeEventListener("click", this.Camera);

      if (this.attachContainerClick) {
        document
          .getElementById("container" + Id)
          .addEventListener("click", switchToPlayback);
      }

      // document
      //   .querySelector("#container" + Id + " .bottombar")
      //   .setAttribute("style", "display:none;");
      // document
      //   .querySelector("#container" + Id + " .bottombar")
      //   .classList.remove("onPause");
      // document
      //   .querySelector("#container" + Id + " .playBackButton")
      //   .addEventListener("click", playBackwardTrigger);
      // document
      //   .querySelector("#container" + Id + " .playForwardButton")
      //   .addEventListener("click", playForwardTrigger);

      var playbackTimestamp = new Date();
      var playbackSpeed = 0;

      var isLive = true;

      /**
       * Executed on received frame.
       */
      const sel = this;
      async function videoConnectionReceivedFrame(frame) {
        const heightRes = frame.sizeInfo.destinationSize.height;

        if((heightRes != sel.heightRes  && !sel.oneUpdateStatus) || !sel.oneUpdateStatus){
          sel.heightRes = heightRes
          container.style.height = heightRes+"px";
          container.style.minHeight = heightRes+"px";

         sel.oneUpdateStatus = true
        }
        const widthRes = frame.sizeInfo.destinationSize.width;
         if((widthRes != sel.widthRes  && !sel.oneUpdateStatus) || !sel.widthResStatus){
          sel.heightRes = widthRes
          container.style.width = widthRes+"px";
          container.style.minWidth = widthRes+"px";

         sel.widthResStatus = true
        }
        if(sel.isPause){
          return
        }
        if(sel.type != "Live"){
           const endTimeTemp =
          new Date(sel.startTime).getTime() + 15000;
          const currentVideo = new Date(frame.timestamp).getTime();
          sel.handleTimeBar(new Date(frame.timestamp).getTime(),"play")
          if (endTimeTemp <= currentVideo) {
          sel.playForwardBtn(0)
          sel.isPause = true;
          return;
        }
        }
        this.playStop = false
        if (!drawing && frame.dataSize > 0) {
          drawing = true;

          if (frame.hasSizeInformation) {
            var multiplier =
              frame.sizeInfo.destinationSize.resampling *
                XPMobileSDK.getResamplingFactor() || 1;
            image.width = multiplier * frame.sizeInfo.destinationSize.width;
            image.height = multiplier * frame.sizeInfo.destinationSize.height;
          }

          if (imageURL) {
            window.URL.revokeObjectURL(imageURL);
          }

          imageURL = window.URL.createObjectURL(frame.blob);

          image.src = imageURL;

          if (
            !isLive &&
            frame.timestamp.getTime() != playbackTimestamp.getTime()
          ) {
            updateTime(frame.timestamp);
          }
        }
      }

      /**
       * Executed on image load.
       */
      function onImageLoad(event) {
        canvas.width = image.width;
        canvas.height = image.height;
        canvasContext.drawImage(image, 0, 0, canvas.width, canvas.height);

        drawing = false;
      }

      function onImageError(event) {
        drawing = false;
      }

      /**
       * Stop camera stream
       */
      function stop() {
        if (videoController) {
          videoController.removeObserver(videoConnectionObserver);
          videoController.close();
          videoController = null;
        }

        if (streamRequest) {
          XPMobileSDK.cancelRequest(streamRequest);
          streamRequest = null;
        }

        document
          .getElementById("container" + Id)
          .removeEventListener("click", stop);
      }

      function resetState() {
        playbackSpeed = 0;
        updatePlaybackButtons();

        if (streamRequest) {
          XPMobileSDK.cancelRequest(streamRequest);
          streamRequest = null;
        }
      }

      /**
       * Switch to camera playback mode.
       */
      function switchToPlayback() {
        if (!isLive) return;

        isLive = false;

        stop();

        document
          .getElementById("container" + Id)
          .removeEventListener("click", switchToPlayback);
        document.getElementById("container" + Id).classList.remove("live");

        playbackTimestamp = new Date();

        showPlaybackControls();
        resetState();

        updateTime(playbackTimestamp);

        streamRequest = XPMobileSDK.RequestStream(
          self.RequestStreamParams(Id, "Playback"),
          requestStreamCallback,
          null
        );
      }

      /**
       * Switch camera to live video
       */
      function switchToLive(e) {
        e.stopPropagation();
        e.preventDefault();

        if (isLive) return;

        isLive = true;

        stop();

        document
          .getElementById("container" + Id)
          .removeEventListener("click", switchToLive);
        document
          .getElementById("container" + Id)
          .addEventListener("click", switchToPlayback);
        document
          .getElementById("container" + Id)
          .classList.add("playing", "live");
        document
          .querySelector("#container" + Id + " .bottombar")
          .setAttribute("style", "display:none;");
        document
          .querySelector("#container" + Id + " .bottombar")
          .classList.remove("onPause");

        resetState();
        const self = this;

        streamRequest = XPMobileSDK.RequestStream(
          self.RequestStreamParams(Id, "Live"),
          requestStreamCallback,
          function (error) {}
        );
      }

      /**
       * Trigger camera play backwards
       */
      function playBackwardTrigger() {
        if (playbackSpeed < 0) {
          playbackChangeSpeed(0);
        } else {
          playbackChangeSpeed(-1);
        }
      }

      /**
       * Trigger camera play forward
       */
      function playForwardTrigger() {
        if (playbackSpeed > 0) {
          playbackChangeSpeed(0);
        } else {
          playbackChangeSpeed(1);
        }
      }

      /**
       * Show camera playback controls
       */
      function showPlaybackControls() {
        document
          .getElementById("container" + Id)
          .removeEventListener("click", switchToPlayback);
        document.getElementById("container" + Id).classList.remove("playing");

        document
          .querySelector("#container" + Id + " .bottombar")
          .setAttribute("style", "display:block;");
        document
          .querySelector("#container" + Id + " .bottombar")
          .classList.add("onPause");

        document
          .querySelector("#container" + Id + " .pauseButton")
          .setAttribute("title", "Live");
        document
          .querySelector("#container" + Id + " .pauseButton")
          .addEventListener("click", switchToLive);
      }

      /**
       * Change video speed
       */
      function playbackChangeSpeed(speed) {
        if (!videoController || speed == playbackSpeed) return;

        speed = Math.round(speed);

        var params = {
          VideoId: videoController.videoId,
          Speed: speed,
        };

        XPMobileSDK.ChangeStream(params, function () {
          var eventType = speed === 0 ? "pauseStream" : "playStream";
          var event = new CustomEvent(eventType, {
            detail: {
              videoConnection: videoController,
            },
          });

          container.parentNode.dispatchEvent(event);
        });

        if (speed == 0) {
          playbackSpeed = 0;
        } else if (speed < 0) {
          playbackSpeed = -1;
        } else if (speed > 0) {
          playbackSpeed = 1;
        }

        updatePlaybackButtons();
      }

      /**
       * Update playback controls depending on the video speed
       */
      function updatePlaybackButtons() {
        var playForwardButton = document.querySelector(
          "#container" + Id + " .playForwardButton"
        );
        var playBackButton = document.querySelector(
          "#container" + Id + " .playBackButton"
        );

        if (playbackSpeed == 0) {
          playForwardButton.classList.remove("active");
          playForwardButton.title = "Play forward";
          playBackButton.classList.remove("active");
          playBackButton.title = "Play backwards";
        } else if (playbackSpeed < 0) {
          playForwardButton.classList.remove("active");
          playForwardButton.title = "Play forward";
          playBackButton.classList.add("active");
          playBackButton.title = "Pause";
        } else if (playbackSpeed > 0) {
          playForwardButton.classList.add("active");
          playForwardButton.title = "Pause";
          playBackButton.classList.remove("active");
          playBackButton.title = "Play backwards";
          document.getElementById("container" + Id).classList.add("playing");
        }
      }

      /**
       * Updates time element
       */
      function updateTime(timestamp) {
        if (isLive) return;

        playbackTimestamp = timestamp;

        var date = new Date(timestamp);

        var hours = date.getHours();
        var minutes = "0" + date.getMinutes();
        var seconds = "0" + date.getSeconds();
        var formattedTime =
          hours + ":" + minutes.substr(-2) + ":" + seconds.substr(-2);

        document.querySelector(
          "#container" + Id + " .playTimeIndex"
        ).innerHTML = formattedTime;
      }
    },

    RequestStreamParams(cameraId, signalType) {
      return {
        CameraId: cameraId,
        DestWidth: this.width,
        DestHeight: this.height,
        SignalType: this.type /*'Live' or 'Playback'*/,
        MethodType: "Push" /*'Pull'*/,
        Fps: 25, // This doesn't work for Pull mode, but we have to supply it anyway to keep the server happy
        ComprLevel: 71,
        KeyFramesOnly: "No" /*'Yes'*/, // Server will give only key frame thumb nails. This will reduce FPS
        RequestSize: "Yes",
        StreamType: "Transcoded",
      };
    },
  },
};
</script>

<style lang="scss" scoped>
</style>

<style lang="scss" scoped>
.zoom{
    position: fixed !important;
    width: 100%;
    z-index: 8888;
    top: 0;
    left: 0;
    background: #000;
    height: 100%;

    }
    .el-icon-full-screen{
    margin-left: auto;
    margin-right: 30px;
    font-size: 14px !important;
    }
canvas{
 position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}
.videoComponent:hover .nav-controll{
  display: flex;
  visibility: visible;
}
.videoComponent{
  position: relative;
  height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  .streams-container{
    background: #000;
    display:flex;
    justify-content: center;
  }
  .nav-controll{
    align-items: center;
    position: absolute;
    width: 100%;
    bottom: 5px;
    display: flex;
    visibility: hidden;
}
.icon-video{
  color: #FFF;
  cursor: pointer;
  font-size: 22px;

}
img{
  cursor: pointer !important;
}
#skin {
  width: 700px;
  margin: 10px auto;
  padding: 5px;
  background: red;
  border: 4px solid black;
  border-radius: 10px;
}
nav {
  margin: 5px 0px;
}
#buttons {
  margin: 0 20px;
  float: left;
  height: 22px;
}

#defaultBar {
  cursor: pointer;
    border: none;
    position: relative;
    float: left;
    border-radius: 5px;
    width: calc(100% - 110px);
    height: 4px;
    background: #ffffff94 !important;
}
#progressBar {
 position: absolute;
    width: 0px;
    border-radius: 5px;
    height: 4px;
    background: #FFF;
}
.dislayNone {
  display: none;
}
.camera {
  display: inline-block;
  position: relative;
  margin:0 !important;
   width: 400px;
   height: 225px;
  //background: #000000;
  overflow: hidden;
}
.camera-custom {
  //background: #000000;
  //height: 100%;
  margin: 0;
  width: 100%;
}
}

</style>
