<template>
  <div class="app-container claim detail-security-layout-page">
    <el-row id="tools-top">
      <el-col :span="24" style="padding: 0px 10px;">
        <list-icon-security-settings></list-icon-security-settings>

        <span class="action">
          <el-button type="info" size="small" @click="done()" :loading="loadingSaveLayout"><i class="el-icon-document" v-show="!loadingSaveLayout"></i> Lưu layout</el-button>
          <el-button type="danger" size="small" @click="deleteArea()" :loading="loadingDeleteArea"><i class="el-icon-delete" v-show="!loadingDeleteArea"></i> Xoá vùng</el-button>
          <el-button type="success" size="small" @click="saveArea()" :loading="loadingSaveArea"><i class="el-icon-check" v-show="!loadingSaveArea"></i> Lưu vùng</el-button>
        </span>
      </el-col>
    </el-row>

    <el-row style="margin: 9px 0px; background: #fff;">
      <el-col :span="18" id="paint-area" ref="paintArea">
        <canvas id="canvas-tools" ref="can"></canvas>
      </el-col>

      <el-col :span="6" id="toolbox">
        <el-collapse v-model="activeNames">
          <el-collapse-item title="Danh sách vùng đã lưu" name="1">
              <div id="box-area">
                  <ol id="reselect-areas">
                      <li v-for="area in areasList" :key="area.id" >
                          <a @click="reselectArea(area)" style="font-weight: bold; font-size: 15px" :id="`reselect_area_${area.id}`">
                              {{ area.jsonDetailArea.name }}
                          </a>
                      </li>
                  </ol>
              </div>
          </el-collapse-item>

          <el-collapse-item title="Chi tiết vùng" name="2">
              <div style="padding: 6px 10px; font-size: 14px;">
                  <el-form
                    :model="jsonArea"
                    :rules="rules"
                    ref="formArea"
                    label-position="left"
                    label-width="130px"
                  >
                    <div id="div-area" ref="divArea" style="display: none">
                      Loại vùng: <b>{{ type_name }}</b> <hr>
                    </div>

                    <component
                      v-bind:is="tabAreaComponent"
                      v-bind:value="jsonArea"
                      @input="(newJsonArea) => {jsonArea = newJsonArea}"
                    ></component>
                  </el-form>
              </div>
          </el-collapse-item>
        </el-collapse>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import waves from "@/directive/waves"; // Waves directive
import config from '@/config.js';
import { fabric } from '@/assets/js/fabric.min.js';
import ListIconSecuritySettings from './components/ListIconSecuritySettings';

import CROWD from './html-areas/GiamSatAnNinh/CROWD';
import ENCROACHING from './html-areas/GiamSatAnNinh/ENCROACHING';
import FOBIDDEN from './html-areas/GiamSatAnNinh/FOBIDDEN';
import FIRE from './html-areas/GiamSatAnNinh/FIRE';
import LITERRING from './html-areas/GiamSatAnNinh/LITERRING';
import FLOODING from './html-areas/GiamSatAnNinh/FLOODING';

import { getData } from "@/api/model-base-resources";
import Resource from "@/api/resource";
const layoutResource = new Resource("systemconfig/camera/camera-layout");
const layoutAreasResource = new Resource("systemconfig/camera/camera-layout/layout-area");

export default {
  directives: { waves },
  components: {
    ListIconSecuritySettings,
    CROWD,
    ENCROACHING,
    FOBIDDEN,
    FIRE,
    LITERRING,
    FLOODING,
  },
  data() {
    return {
      baseUploadUrl: process.env.VUE_APP_UPLOAD_URL,
      base160Url: process.env.VUE_APP_160_URL,
      colorPicker: '',
      type_name: '',
      jsonArea: {
        id: null,
        name: '',
        path: '',
        color: {
          r: 0,
          g: 0,
          b: 0,
        },
        colorPicker: '',
        roiType: '',
        typeName: '',
        color_str: '',

        time: 1,
        linkAPI: '',
        liveImageUrl: '',
        threshold: 0,

        midRange: 0,
        direction: 0,
        measureTime: 15,
        related_roi: [],
        arr_direction: [],
        move_direction: [],

        isCheckedCar: false,
        isCheckedTruck: false,
        isCheckedBus: false,
        isCheckedMotorbike: false,
        isCheckedBike: false,
        car: {
          detRatio: 0.3,
          maxRatio: 6,
          minRatio: 0.3,
          minArea: 12000
        },
        truck: {
          detRatio: 0.3,
          maxRatio: 6,
          minRatio: 0.3,
          minArea: 14000
        },
        bus: {
          detRatio: 0.3,
          maxRatio: 6,
          minRatio: 0.3,
          minArea: 14000
        },
        motorbike: {
          detRatio: 0.3,
          maxRatio: 6,
          minRatio: 0.3,
          minArea: 9000
        },
        bike: {
          detRatio: 0.3,
          maxRatio: 6,
          minRatio: 0.3,
          minArea: 9000
        },
      },
      rules: {
        colorPicker: [{ required: true, message: 'Màu không được để trống', trigger: "blur" }],
        name: [
          { required: true, message: 'Tên vùng không được để trống', trigger: "blur" },
          { max: 50, message: 'Tên vùng tối đa 50 ký tự', trigger: 'blur' },
        ],
        time: [{ required: true, message: 'Thời gian không được để trống', trigger: "blur" }],
        linkAPI: [{ required: true, message: 'Link API không được để trống', trigger: "blur" }],
        liveImageUrl: [{ required: true, message: 'Đường dẫn ảnh không được để trống', trigger: "blur" }],
        threshold: [{ required: true, message: 'Ngưỡng không được để trống', trigger: "blur" }],
      },

      loading: true,
      loadingSaveLayout: false,
      loadingDeleteArea: false,
      loadingSaveArea: false,
      layoutId: '',
      configAreas: config.areas_roi_types,
      activeNames: [],
      layoutInfo: null,
      areasList: [],

      // START draw variable
      canvas: null,
      areaId: '',
      w_scale: 0,
      h_scale: 0,
      fillColor: '',
      roof: null,
      roofPoints: [],
      lines: [],
      lineCounter: 0,
      drawingObject: {
        type: '',
        background: '',
        border: '',
      },
      saveStatus: true,
      areas: [],
      selectedArea: null,
      currentRoiType: '',
      checkSaveLayout: false,
      x: 0,
      y: 0,
      // END draw variable
    };
  },
  watch: {
    '$store.state.app.sidebar.opened': function() {
      setTimeout(() => {
        this.init(this.layoutId);
      }, 300);
    }
  },
  computed: {
    tabAreaComponent: function() {
      let areaComponent = '';
      let currentRoiType = parseInt(this.currentRoiType);
      if (currentRoiType == this.configAreas.DAM_DONG) {
        areaComponent = CROWD;
      }
      if (currentRoiType == this.configAreas.DUNG_DO_LAN_CHIEM) {
        areaComponent = ENCROACHING;
      }
      if (currentRoiType == this.configAreas.XAM_NHAP_VUNG_CAM) {
        areaComponent = FOBIDDEN;
      }
      if (currentRoiType == this.configAreas.BAO_CHAY_BAO_KHOI) {
        areaComponent = FIRE;
      }
      if (currentRoiType == this.configAreas.XA_RAC) {
        areaComponent = LITERRING;
      }
      if (currentRoiType == this.configAreas.NGAP_LUT) {
        areaComponent = FLOODING;
      }

      return areaComponent;
    }
  },
  created() {
    this.layoutId = this.$route.params && this.$route.params.id;
    this.init(this.layoutId);

    let self = this;
    document.addEventListener('keydown', (evt) => {
      // disableF5
      if ((evt.which || evt.keyCode) == 116) evt.preventDefault();

      // Esc
      evt = evt || window.event;
      let isEscape = false;
      if ("key" in evt) {
          isEscape = (evt.key === "Escape" || evt.key === "Esc");
      } else {
          isEscape = (evt.keyCode === 27);
      }
      if (isEscape) {
          self.drawingObject.type = "";
          self.lines.forEach((value) => {
            self.canvas.remove(value);
          });
          self.roof = self.makeRoof(self.roofPoints);
          self.canvas.add(self.roof);
          self.canvas.renderAll();
          self.canvas.setActiveObject(self.roof);

          // remove arrays
          self.roofPoints = [];
          self.lines = [];
          self.lineCounter = 0;

          // set type_name
          self.type_name = self.getKeyByValue(self.configAreas, parseInt(self.currentRoiType));

          // set colorPicker
          self.jsonArea.colorPicker = self.colorPicker;
      }
    });

    window.addEventListener('beforeunload', () => {
      if (!self.checkSaveLayout) {
          return ('Bạn hãy lưu lại layout trước khi thoát trang!');
      }
    });
  },

  methods: {
    checkIsDrawSecurity() {
      return [
        this.configAreas.DAM_DONG,
        this.configAreas.DUNG_DO_LAN_CHIEM,
        this.configAreas.XAM_NHAP_VUNG_CAM,
      ].includes(parseInt(this.currentRoiType));
    },

    async init(layoutId) {
      await this.getLayoutInfo(layoutId);
      await this.getLayoutAreas(layoutId);

      // init canvas
      this.canvas = new fabric.Canvas('canvas-tools');
      this.initCanvas(this.canvas);
    },

    async getLayoutInfo(layoutId) {
      const { data } = await getData("/systemconfig/camera/camera-layout/" + layoutId);
      if (data) {
        this.layoutInfo = data;

        // set draw variable
        this.w_scale = data.widthImgScale;
        this.h_scale = data.heightImgScale;
      }
    },
    async getLayoutAreas(layoutId) {
      const { data } = await getData("/systemconfig/camera/camera-layout/layout-area/areas/" + layoutId);
      if (data && data.length > 0) {
        this.areasList = data;

        // set draw variable
        this.areas = data;
      } else {
        this.areasList = [];
        this.areas = [];
      }
    },

    saveArea() {
      this.checkSaveLayout = false;
      this.$refs.formArea.validate(async (valid) => {
        if (valid) {
          if (this.currentRoiType == '') {
            this.$notify({
              title: "Lỗi",
              message: "Chưa chọn loại vùng!",
              type: "error"
            });
            return false;
          }

          // đối tượng áp dụng
          let arrObjectApply = [
            this.configAreas.DUNG_DO_LAN_CHIEM
          ];
          if (
              arrObjectApply.includes(parseInt(this.currentRoiType))
              && (!this.jsonArea.isCheckedCar && !this.jsonArea.isCheckedTruck && !this.jsonArea.isCheckedBus && !this.jsonArea.isCheckedMotorbike && !this.jsonArea.isCheckedBike)
             ) {
            this.$notify({
                title: "Lỗi",
                message: "Chọn ít nhất 1 đối tượng áp dụng!",
                type: "error"
              });
              return false;
          }

          let currentObj = this.canvas.getActiveObject();
          if (this.checkIsDrawSecurity()) {
            if (!currentObj) {
                this.$notify({
                  title: "Lỗi",
                  message: "Chọn 1 vùng để lưu!",
                  type: "error"
                });
                return false;
            }

            this.areaId = currentObj.backgroundColor;
            this.settingColorArea(this.jsonArea.colorPicker);
          }

          // color
          let color = this.jsonArea.colorPicker.replace(/rgba/gi, '').replace(/[()]/g, '');
          let arrColor = color.split(',');

          // direction, arr_direction
          let direction = 0;
          let arr_direction = this.jsonArea.arr_direction;
          if (arr_direction.length > 0) {
            arr_direction.forEach(function(val) {
              direction += parseInt(val);
            });
          }

          // move_direction, arr_move_direction
          let move_direction = 0;
          let arr_move_direction = this.jsonArea.move_direction;
          if (arr_move_direction.length > 0) {
            arr_move_direction.forEach(function(val) {
              move_direction += parseInt(val);
            });
          }

          // affect_object
          let affect_object = [];
          if (this.jsonArea.isCheckedCar) {
            affect_object.push({
              label: 'car',
              det_ratio: parseFloat(this.jsonArea.car.detRatio),
              max_ratio: parseFloat(this.jsonArea.car.maxRatio),
              min_ratio: parseFloat(this.jsonArea.car.minRatio),
              min_area: parseInt(this.jsonArea.car.minArea),
              direction: 0,
              arr_direction: null
            });
          }
          if (this.jsonArea.isCheckedTruck) {
            affect_object.push({
              label: 'truck',
              det_ratio: parseFloat(this.jsonArea.truck.detRatio),
              max_ratio: parseFloat(this.jsonArea.truck.maxRatio),
              min_ratio: parseFloat(this.jsonArea.truck.minRatio),
              min_area: parseInt(this.jsonArea.truck.minArea),
              direction: 0,
              arr_direction: null
            });
          }
          if (this.jsonArea.isCheckedBus) {
            affect_object.push({
              label: 'bus',
              det_ratio: parseFloat(this.jsonArea.bus.detRatio),
              max_ratio: parseFloat(this.jsonArea.bus.maxRatio),
              min_ratio: parseFloat(this.jsonArea.bus.minRatio),
              min_area: parseInt(this.jsonArea.bus.minArea),
              direction: 0,
              arr_direction: null
            });
          }
          if (this.jsonArea.isCheckedMotorbike) {
            affect_object.push({
              label: 'motorbike',
              det_ratio: parseFloat(this.jsonArea.motorbike.detRatio),
              max_ratio: parseFloat(this.jsonArea.motorbike.maxRatio),
              min_ratio: parseFloat(this.jsonArea.motorbike.minRatio),
              min_area: parseInt(this.jsonArea.motorbike.minArea),
              direction: 0,
              arr_direction: null
            });
          }
          if (this.jsonArea.isCheckedBike) {
            affect_object.push({
              label: 'bike',
              det_ratio: parseFloat(this.jsonArea.bike.detRatio),
              max_ratio: parseFloat(this.jsonArea.bike.maxRatio),
              min_ratio: parseFloat(this.jsonArea.bike.minRatio),
              min_area: parseInt(this.jsonArea.bike.minArea),
              direction: 0,
              arr_direction: null
            });
          }

          // roiType
          let roiType = parseInt(this.currentRoiType);

          let jsonAreaReq = {
            id: this.jsonArea.id,
            name: this.jsonArea.name,
            color: {
              r: parseInt(arrColor[0].trim()),
              g: parseInt(arrColor[1].trim()),
              b: parseInt(arrColor[2].trim()),
            },
            roiType: roiType,
            typeName: this.type_name,
            color_str: this.jsonArea.colorPicker,
          };
          
          if (this.checkIsDrawSecurity()) {
            jsonAreaReq.path = this.getSettingPoints();
            jsonAreaReq.threshold = parseInt(this.jsonArea.threshold);

            // DAM_DONG, DUNG_DO_LAN_CHIEM
            if (roiType == this.configAreas.DAM_DONG || roiType == this.configAreas.DUNG_DO_LAN_CHIEM) {
              jsonAreaReq.affect_object = affect_object;
              jsonAreaReq.time = this.jsonArea.time;
              jsonAreaReq.linkAPI = this.jsonArea.linkAPI;
              jsonAreaReq.liveImageUrl = this.jsonArea.liveImageUrl;
            } else if (roiType == this.configAreas.XAM_NHAP_VUNG_CAM) {
              jsonAreaReq.midRange = parseInt(this.jsonArea.midRange);
              jsonAreaReq.measureTime = parseInt(this.jsonArea.measureTime);
              jsonAreaReq.related_roi = [];
              jsonAreaReq.direction = direction;
              jsonAreaReq.arr_direction = arr_direction;
              jsonAreaReq.move_direction = move_direction;
              jsonAreaReq.arr_move_direction = arr_move_direction;
            }
          }

          this.loadingSaveArea = true;
          const params = {
            layoutId: parseInt(this.layoutId),
            roiType: roiType,
            jsonDetailArea: jsonAreaReq
          };
          if (this.areaId != '') { // Sửa vùng cũ
            params.jsonDetailArea.id = this.areaId;
            layoutAreasResource
              .update(this.areaId, params)
              .then((response) => {
                this.loadingSaveArea = false;

                if (this.checkIsDrawSecurity()) {
                  currentObj.set({
                    id: response.data.id,
                    typeName: response.data.jsonDetailArea.typeName,
                    backgroundColor: response.data.id,
                    selectable: false
                  });

                  this.canvas.renderAll();
                }

                this.type_name = response.data.jsonDetailArea.typeName;
                this.saveStatus = true;

                // load reselect-areas
                this.getLayoutAreas(parseInt(this.layoutId));

                // notify
                this.$message({
                  message: "Lưu vùng thành công",
                  type: "success"
                });
              })
              .catch(() => {
                this.loadingSaveArea = false;
                this.$notify({
                  title: "Lỗi",
                  message: "Lưu vùng không thành công",
                  type: "error"
                });
              });
          } else { // Tạo vùng mới
            params.jsonDetailArea.id = 1;
            layoutAreasResource
              .store(params)
              .then((response) => {
                // update lại jsonDetailArea id
                let layoutAreaId = response.data.id;
                params.jsonDetailArea.id = layoutAreaId;
                layoutAreasResource
                  .update(layoutAreaId, params)
                  .then((response) => {
                    this.loadingSaveArea = false;

                    if (this.checkIsDrawSecurity()) {
                      currentObj.set({
                        id: layoutAreaId,
                        typeName: response.data.jsonDetailArea.typeName,
                        backgroundColor: layoutAreaId,
                        selectable: false
                      });

                      this.canvas.renderAll();
                    }

                    this.type_name = response.data.jsonDetailArea.typeName;
                    this.saveStatus = true;

                    // load reselect-areas
                    this.getLayoutAreas(parseInt(this.layoutId));

                    // notify
                    this.$message({
                      message: "Lưu vùng thành công",
                      type: "success"
                    });
                  })
                  .catch(() => {
                    this.loadingSaveArea = false;
                    this.$notify({
                      title: "Lỗi",
                      message: "Lưu vùng không thành công",
                      type: "error"
                    });
                  });
              })
              .catch(() => {
                this.loadingSaveArea = false;
                this.$notify({
                  title: "Lỗi",
                  message: "Lưu vùng không thành công",
                  type: "error"
                });
              });
          }
        } else {
          return false;
        }
      });
    },
    deleteArea() {
      let objectCurrent = this.canvas.getActiveObject();
      if (objectCurrent) {
        this.loadingDeleteArea = true;
        this.$confirm("Bạn chắc chắn muốn xóa vùng này?", "Cảnh báo", {
          confirmButtonText: "Đồng ý",
          cancelButtonText: "Hủy bỏ",
          type: "warning"
        })
          .then(() => {
            this.saveStatus = true;

            let id_area = objectCurrent.get('backgroundColor'); // backgroundColor is ID area
            if (id_area) {
                layoutAreasResource
                .destroy(id_area)
                .then((response) => {
                  if (response.status == 200) {
                    this.loadingDeleteArea = false;
                    this.canvas.remove(objectCurrent);

                    // reset form detail
                    this.resetFormDetail();

                    this.$message({
                      message: "Xóa vùng thành công",
                      type: "success"
                    });

                    this.done();
                  } else {
                    this.loadingDeleteArea = false;
                    this.canvas.remove(objectCurrent);
                    return false;
                  }
                })
                .catch(() => {
                  this.loadingDeleteArea = false;
                  this.$notify({
                    title: "Lỗi",
                    message: "Xóa vùng không thành công",
                    type: "error"
                  });
                });
            } else {
              this.loadingDeleteArea = false;
              this.canvas.remove(objectCurrent);
              return false;
            }
          })
          .catch(() => {
            this.loadingDeleteArea = false;
          });
      } else {
        if (this.checkIsDrawSecurity()) {
          this.$notify({
            title: "Lỗi",
            message: "Chọn 1 vùng để xóa",
            type: "error"
          });
        } else {
          let id_area = this.areaId;
          if (id_area != '') {
            this.loadingDeleteArea = true;
            this.$confirm("Bạn chắc chắn muốn xóa vùng này?", "Cảnh báo", {
              confirmButtonText: "Đồng ý",
              cancelButtonText: "Hủy bỏ",
              type: "warning"
            })
              .then(() => {
                this.saveStatus = true;
                layoutAreasResource
                .destroy(id_area)
                .then((response) => {
                  if (response.status == 200) {
                    this.loadingDeleteArea = false;

                    // reset form detail
                    this.resetFormDetail();

                    this.$message({
                      message: "Xóa vùng thành công",
                      type: "success"
                    });

                    this.done();
                  } else {
                    this.loadingDeleteArea = false;
                    this.$notify({
                      title: "Lỗi",
                      message: "Xóa vùng không thành công",
                      type: "error"
                    });
                    return false;
                  }
                })
                .catch(() => {
                  this.loadingDeleteArea = false;
                  this.$notify({
                    title: "Lỗi",
                    message: "Xóa vùng không thành công",
                    type: "error"
                  });
                });
              })
              .catch(() => {
                this.loadingDeleteArea = false;
              });
          } else {
            this.$notify({
              title: "Lỗi",
              message: "Chọn 1 vùng để xóa",
              type: "error"
            });
          }
        }
      }
    },
    done() {
      this.loadingSaveLayout = true;
      let jsonCanvas = this.canvas;
      let jsonCanvasCopy = JSON.parse(JSON.stringify(jsonCanvas));

      let srcBackgroundImage = jsonCanvasCopy.backgroundImage.src;
      if (srcBackgroundImage.includes('upload')) {
        jsonCanvasCopy.backgroundImage.src = jsonCanvasCopy.backgroundImage.src.replace(this.baseUploadUrl, "");
      } else {
        jsonCanvasCopy.backgroundImage.src = jsonCanvasCopy.backgroundImage.src.replace(this.base160Url, "");
      }

      let layoutImage = this.canvas.toDataURL({
        format: 'jpeg',
        quality: 0.6
      });
      const params = {
        cameraId: this.layoutInfo.cameraId,
        name: this.layoutInfo.name,
        description: this.layoutInfo.description,
        widthImgScale: this.layoutInfo.widthImgScale,
        heightImgScale: this.layoutInfo.heightImgScale,
        layoutAreasJson: this.layoutInfo.layoutAreasJson,
        metaAttributes: this.layoutInfo.metaAttributes,
        modelProfileId: this.layoutInfo.modelProfileId,
        originHeight: this.layoutInfo.originHeight,
        originWidth: this.layoutInfo.originWidth,
        scaledFitImg: this.layoutInfo.scaledFitImg,
        sizedImg: this.layoutInfo.sizedImg,
        status: 1,
        usedCaptureImage: this.layoutInfo.usedCaptureImage,
        version: this.layoutInfo.version,
        jsonCanvas: jsonCanvasCopy,
        layoutImage: layoutImage,
        layoutType: this.layoutInfo.layoutType,
      };
      layoutResource
        .update(this.layoutId, params)
        .then(response => {
          this.loadingSaveLayout = false;
          if (response.status == 200) {
            this.checkSaveLayout = true;
            this.$message({
              message: "Lưu layout thành công",
              type: "success"
            });
            
            // this.canvas.loadFromJSON(jsonCanvas, this.canvas.renderAll.bind(this.canvas));
            this.canvas.forEachObject(function(o) {
                o.selectable = false;
            });
            this.canvas.renderAll();

            setTimeout(() => {
              this.$router.push({ path: `/system-config/cameras` });
            }, 1000);
          } else {
            this.$notify({
              title: "Lỗi",
              message: "Lưu layout không thành công",
              type: "error"
            });
          }
        })
        .catch((err) => {
          this.loadingSaveLayout = false;
          console.log(err);
          this.$notify({
            title: "Lỗi",
            message: "Lưu layout không thành công",
            type: "error"
          });
        });
    },

    /**************** START draw methods ****************/
    initCanvas(canvas) {
        let divWidth = document.getElementById("paint-area").offsetWidth; // this.$refs.paintArea.$el.clientWidth;
        let divHeight = document.getElementById("paint-area").offsetHeight; // this.$refs.paintArea.$el.clientHeight;
        canvas.setWidth(divWidth);
        canvas.setHeight(divHeight);

        let jsonData = this.layoutInfo.jsonCanvas;
        let srcBackgroundImage = jsonData.backgroundImage.src;
        if (srcBackgroundImage.includes('upload')) {
          jsonData.backgroundImage.src = this.baseUploadUrl + srcBackgroundImage;
        } else {
          jsonData.backgroundImage.src = this.base160Url + srcBackgroundImage;
        }

        let bgImageUrl = jsonData.backgroundImage.src;
        let widthImage = jsonData.backgroundImage.width;
        let heightImage = jsonData.backgroundImage.height;
        let scaleWidthImage = divWidth / widthImage;
        let scaleHeightImage = divHeight / heightImage;
        canvas.loadFromJSON(jsonData);

        fabric.Image.fromURL(bgImageUrl, (img) => {
          img.set({
              width: divWidth,
              height: divHeight,
              originX: 'left',
              originY: 'top',
              crossOrigin: 'anonymous'
          });
          canvas.setBackgroundImage(img);
          // console.log(JSON.stringify(canvas));
          canvas.loadFromJSON(JSON.stringify(canvas));
          canvas.renderAll();
        }, { crossOrigin: 'anonymous'});

        canvas.forEachObject(function(o) {
          o.selectable = false;
          const scaleX = o.scaleX;
          const scaleY = o.scaleY;
          const left = o.left;
          const top = o.top;

          const tempScaleX = scaleX * scaleWidthImage;
          const tempScaleY = scaleY * scaleHeightImage;
          const tempLeft = left * scaleWidthImage;
          const tempTop = top * scaleHeightImage;

          o.scaleX = tempScaleX;
          o.scaleY = tempScaleY;
          o.left = tempLeft;
          o.top = tempTop;
          // console.log(o.getCenterPoint());
          // console.log(o.backgroundColor);
          o.setCoords();
        });

        canvas.on('mouse:down', (options) => {
          if (this.drawingObject.type == "roof") {
              canvas.selection = false;

              this.setStartingPoint(options); // set x,y
              let objPoint = new fabric.Point(this.x, this.y);
              this.roofPoints.push(objPoint);

              let points = [this.x, this.y, this.x, this.y];
              this.lines.push(new fabric.Line(points, {
                  strokeWidth: 3,
                  selectable: true,
                  stroke: 'red'
              }).setOriginX(this.x).setOriginY(this.y));

              canvas.add(this.lines[this.lineCounter]);
              this.lineCounter = this.lineCounter + 1;
              canvas.on('mouse:up', function () {
                  canvas.selection = true;
              });
          }
        });

        canvas.on('mouse:move', (options) => {
          if (this.lines[0] !== null && this.lines[0] !== undefined && this.drawingObject.type == "roof") {
              this.setStartingPoint(options);
              this.lines[this.lineCounter - 1].set({
                  x2: this.x,
                  y2: this.y
              });
              canvas.renderAll();
          }
        });

        canvas.on('object:selected', () => {
          let currentObj;
          if (typeof(canvas.getActiveObject()) !== 'undefined') {
              // collapse form area
              if (this.activeNames.indexOf('2') === -1) {
                this.activeNames.push('2');
              }

              currentObj = canvas.getActiveObject();
              let areaID = currentObj.get('backgroundColor');

              // set type_name
              this.type_name = this.getKeyByValue(this.configAreas, parseInt(this.currentRoiType));
              if (areaID) {
                  this.selectedArea = this.areas.find(item => item.id == areaID);
                  this.getAreaHasData(this.selectedArea);
              } else {
                  this.getAreaNotData();
              }
          }
        });

        // remove area error
        // this.removeAreaError(jsonData.objects);
    },

    removeAreaError(jsonDataObjects) {
        let arrBackgroundColor = [];
        let arrAreaId = [];
        if (jsonDataObjects.length > 0) {
          jsonDataObjects.forEach((value) => {
            arrBackgroundColor.push(parseInt(value.backgroundColor));
          });
        }

        if (this.areasList.length > 0) {
          this.areasList.forEach((value) => {
            arrAreaId.push(parseInt(value.id));
          });
        }

        let arrayDifference = arrAreaId.filter(function(x) {
          return arrBackgroundColor.indexOf(x) == -1;
        });
        if (arrayDifference.length > 0) {
          arrayDifference.forEach((value) => {
            layoutAreasResource
              .destroy(value)
              .then(() => {})
              .catch(() => {});
          });

          // load reselect-areas
          this.areasList = this.areasList.filter(x => {
            return arrayDifference.indexOf(x.id) == -1;
          });
        }
    },

    startDraw() {
      // collapse form area
      if (this.activeNames.indexOf('2') === -1) {
        this.activeNames.push('2');
      }

      this.checkSaveLayout = false;
      if (!this.saveStatus) {
          this.$notify({
            title: "Lỗi",
            message: "Lưu vùng đang thiết lập",
            type: "error"
          });
          return false;
      }
      this.canvas.forEachObject(function(object) {
          object.selectable = false;
      });

      this.currentRoiType = event.currentTarget.getAttribute('data-type');
      this.getAreaNotData();

      this.drawingObject.type = '';
      let type_name = event.currentTarget.getAttribute('data-name');
      let roi_color = event.currentTarget.getAttribute('data-color');

      this.fillColor = roi_color;
      this.colorPicker = roi_color;
      this.jsonArea.colorPicker = roi_color;
      this.type_name = type_name;
      this.$refs.divArea.style.display = 'block';

      if (this.drawingObject.type === "roof") {
          this.drawingObject.type = "";
          this.lines.forEach((value) => {
            this.canvas.remove(value);
          });

          this.roof = this.makeRoof(this.roofPoints);
          this.canvas.add(this.roof);
          this.canvas.renderAll();
      } else {
          this.drawingObject.type = "roof"; // roof type
      }
    },

    startDrawSecurity() {
      // collapse form area
      if (this.activeNames.indexOf('2') === -1) {
        this.activeNames.push('2');
      }

      this.checkSaveLayout = false;
      this.currentRoiType = event.currentTarget.getAttribute('data-type');
      this.getAreaNotData();

      this.drawingObject.type = '';

      let type_name = event.currentTarget.getAttribute('data-name');
      let roi_color = event.currentTarget.getAttribute('data-color');

      this.fillColor = roi_color;
      this.colorPicker = roi_color;
      this.jsonArea.colorPicker = roi_color;
      this.type_name = type_name;
      this.$refs.divArea.style.display = 'block';
    },

    setStartingPoint(options) {
      let offset = this.$refs.can.getBoundingClientRect(); // $('#canvas-tools').offset();
      this.x = options.e.clientX - offset.left; // options.e.pageX - offset.left;
      this.y = options.e.clientY - offset.top; // options.e.pageY - offset.top;
    },

    makeRoof(roofPoints) {
        let left = this.findLeftPaddingForRoof(roofPoints);
        let top = this.findTopPaddingForRoof(roofPoints);

        roofPoints.push(new fabric.Point(roofPoints[0].x, roofPoints[0].y));
        let roof = new fabric.Polyline(roofPoints, {
            fill: this.jsonArea.colorPicker,
            stroke:'#58c',
            objectCaching: false,
            selectable: true
        });
        roof.set({
            left: left,
            top: top,
        });

        this.colorPicker = this.jsonArea.colorPicker;
        this.saveStatus = false;
        return roof;
    },
    findLeftPaddingForRoof(roofPoints) {
        let result = 999999;
        for (let i = 0; i < this.lineCounter; i++) {
            if (roofPoints[i].x < result) {
                result = roofPoints[i].x;
            }
        }
        return Math.abs(result);
    },
    findTopPaddingForRoof(roofPoints) {
        let result = 999999;
        for (let f = 0; f < this.lineCounter; f++) {
            if (roofPoints[f].y < result) {
            result = roofPoints[f].y;
            }
        }
        return Math.abs(result);
    },

    onColorChanged(selectedColor, inputId) {
        if (inputId == "color_picker") {
            this.colorPicker = selectedColor;
            this.fillColor = selectedColor;
        }
    },

    reselectArea(area) {
      // collapse form area
      if (this.activeNames.indexOf('2') === -1) {
        this.activeNames.push('2');
      }

      this.getAreaHasData(area);
      this.canvas.getObjects().forEach((currentObj) => {
        if (currentObj.backgroundColor === area.id) {
            this.canvas.setActiveObject(currentObj);
            this.canvas.getActiveObject().set({
                selectable: true
            });
            this.canvas.bringToFront(currentObj);
        } else {
            this.canvas.forEachObject(function(o) {
                o.selectable = false;
            });
        }
      })
    },

    async getAreaHasData(area) {
      let dataJsonArea = area.jsonDetailArea;
      this.currentRoiType = dataJsonArea.roiType;

      // set areaId
      this.areaId = area.id;

      /*********** init jsonArea ***********/
      // affect_object
      let isCheckedCar = false;
      let isCheckedTruck = false;
      let isCheckedBus = false;
      let isCheckedMotorbike = false;
      let isCheckedBike = false;
      let arrAffectObject = dataJsonArea.affect_object != undefined ? dataJsonArea.affect_object : [];
      let car, truck, bus, motorbike, bike = null;
      if (arrAffectObject.length > 0) {
          arrAffectObject.forEach(function(val) {
            if (val.label === 'car') {
              isCheckedCar = true;
              car = {
                detRatio: val.det_ratio,
                maxRatio: val.max_ratio,
                minRatio: val.min_ratio,
                minArea: val.min_area,
              }
            }
            if (val.label === 'truck') {
              isCheckedTruck = true;
              truck = {
                detRatio: val.det_ratio,
                maxRatio: val.max_ratio,
                minRatio: val.min_ratio,
                minArea: val.min_area,
              }
            }
            if (val.label === 'bus') {
              isCheckedBus = true;
              bus = {
                detRatio: val.det_ratio,
                maxRatio: val.max_ratio,
                minRatio: val.min_ratio,
                minArea: val.min_area,
              }
            }
            if (val.label === 'motorbike') {
              isCheckedMotorbike = true;
              motorbike = {
                detRatio: val.det_ratio,
                maxRatio: val.max_ratio,
                minRatio: val.min_ratio,
                minArea: val.min_area,
              }
            }
            if (val.label === 'bike') {
              isCheckedBike = true;
              bike = {
                detRatio: val.det_ratio,
                maxRatio: val.max_ratio,
                minRatio: val.min_ratio,
                minArea: val.min_area,
              }
            }
          });
      }

      let colorStr = dataJsonArea.color_str != undefined ? dataJsonArea.color_str : '';
      this.jsonArea = {
        id: dataJsonArea.id,
        name: dataJsonArea.name,
        path: dataJsonArea.path != undefined ? dataJsonArea.path : '',
        color: {
          r: parseInt(dataJsonArea.color.r),
          g: parseInt(dataJsonArea.color.g),
          b: parseInt(dataJsonArea.color.b),
        },
        colorPicker: colorStr,
        roiType: parseInt(dataJsonArea.roiType),
        typeName: dataJsonArea.typeName,
        color_str: colorStr,
        affect_object: arrAffectObject,
        isCheckedCar: isCheckedCar,
        isCheckedTruck: isCheckedTruck,
        isCheckedBus: isCheckedBus,
        isCheckedMotorbike: isCheckedMotorbike,
        isCheckedBike: isCheckedBike,
        car: car != null ? car : this.jsonArea.car,
        truck: truck != null ? truck : this.jsonArea.truck,
        bus: bus != null ? bus : this.jsonArea.bus,
        motorbike: motorbike != null ? motorbike : this.jsonArea.motorbike,
        bike: bike != null ? bike : this.jsonArea.bike,

        time: dataJsonArea.time,
        linkAPI: dataJsonArea.linkAPI,
        liveImageUrl: dataJsonArea.liveImageUrl,
        threshold: dataJsonArea.threshold != undefined ? dataJsonArea.threshold : 0,

        midRange: dataJsonArea.midRange != undefined ? parseInt(dataJsonArea.midRange) : 0,
        measureTime: dataJsonArea.measureTime != undefined ? parseInt(dataJsonArea.measureTime) : 15,
        related_roi: dataJsonArea.related_roi != undefined ? dataJsonArea.related_roi : [],
        direction: dataJsonArea.direction != undefined ? parseInt(dataJsonArea.direction) : 0,
        arr_direction: dataJsonArea.arr_direction != undefined ? dataJsonArea.arr_direction : [],
        move_direction: dataJsonArea.arr_move_direction != undefined ? dataJsonArea.arr_move_direction : [],
      };

      // tab area component
      this.tabAreaComponent;

      this.type_name = dataJsonArea.typeName;
      this.currentRoiType = dataJsonArea.roiType;
      this.$refs.divArea.style.display = 'block';

      this.onColorChanged(colorStr, 'color_picker');
    },
    async getAreaNotData() {
      // set areaId
      this.areaId = '';

      // init jsonArea
      this.jsonArea = {
        id: null,
        name: '',
        path: '',
        color: {
          r: 0,
          g: 0,
          b: 0,
        },
        colorPicker: '',
        roiType: '',
        typeName: '',
        color_str: '',

        time: 1,
        linkAPI: '',
        liveImageUrl: '',
        threshold: 0,

        midRange: 0,
        direction: 0,
        measureTime: 15,
        related_roi: [],
        arr_direction: [],
        move_direction: [],

        isCheckedCar: false,
        isCheckedTruck: false,
        isCheckedBus: false,
        isCheckedMotorbike: false,
        isCheckedBike: false,
        car: {
          detRatio: 0.3,
          maxRatio: 6,
          minRatio: 0.3,
          minArea: 12000
        },
        truck: {
          detRatio: 0.3,
          maxRatio: 6,
          minRatio: 0.3,
          minArea: 14000
        },
        bus: {
          detRatio: 0.3,
          maxRatio: 6,
          minRatio: 0.3,
          minArea: 14000
        },
        motorbike: {
          detRatio: 0.3,
          maxRatio: 6,
          minRatio: 0.3,
          minArea: 9000
        },
        bike: {
          detRatio: 0.3,
          maxRatio: 6,
          minRatio: 0.3,
          minArea: 9000
        },
      },

      // tab area component
      this.tabAreaComponent;
    },

    settingColorArea(color) {
      this.canvas.getActiveObject().set({
        fill: color
      });
      this.canvas.renderAll();
    },

    resetFormDetail() {
      // load reselect-areas
      this.getLayoutAreas(parseInt(this.layoutId));

      // reset form detail
      this.currentRoiType = '';
      this.tabAreaComponent;
      this.$refs.divArea.style.display = 'none';
    },

    disableSelect() {
      this.canvas.selection = false;
      this.canvas.forEachObject(function(o) {
          o.selectable = false;
      });
      this.canvas.renderAll();
    },

    getSettingPoints() {
        let avObj = this.canvas.getActiveObject();
        let polygonCenters = avObj.getCenterPoint();
        let scaleX = avObj.scaleX;
        let scaleY = avObj.scaleY;

        let xc = polygonCenters.x;
        let yc = polygonCenters.y;
        let orgWi = this.layoutInfo.originWidth ? this.layoutInfo.originWidth : 1280;
        let orgHe = this.layoutInfo.originHeight ? this.layoutInfo.originHeight : 960;
        let canvaHe = document.getElementById("canvas-tools").offsetHeight; // this.$refs.can.clientHeight;
        let canvaWi = document.getElementById("canvas-tools").offsetWidth; // this.$refs.can.clientWidth;
        let points = avObj.points;
        let pointStr = "";
        for (let i = 0; i < points.length; i++) {
            //"M196.078,474.51 L1005.1,494.902 L936.078,392.353 L310.588,373.529 L196.078,474.51"
            let x = ((xc + points[i].x * scaleX) / canvaWi * orgWi);
            x = parseFloat(x.toFixed(3))
            let y = ((yc + points[i].y * scaleY) / canvaHe * orgHe);
            y = parseFloat(y.toFixed(3))

            if (i == 0) {
                pointStr += "M" + x + "," + y;
            } else {
                pointStr += " L" + x + "," + y;
            }
        }

        return pointStr;
    },

    getKeyByValue(object, value) {
      return Object.keys(object).find(key => object[key] === value);
    },
    /**************** END draw methods ****************/
  },
};
</script>

<style lang="scss" scoped>
.el-button + .el-button {
  margin-left: 10px;
}
.no-margin-top {
  margin-top: 0;
}
.block {
  display: inline-block;
  margin-right: 20px;
}
.list-detail .item {
  margin-bottom: 10px;
  .label {
    display: inline-block;
    width: 100px;
  }
  img {
    max-width: 100%;
    display: inline-block;
  }
}

/****************/
#tools-top {
  margin: 9px 0;
  background: #fff;
  padding: 8px 0px;
}
#paint-area {
  height: 80vh;
}

#box-area {
   padding: 0px;
   min-height: 200px;
   overflow: scroll;
}
#box-area::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
  border-radius: 0;
  background-color: #F5F5F5;
}
#box-area::-webkit-scrollbar
{
  width: 5px;
  height: 8px;
  background-color: #F5F5F5;
  border-radius: 17px;
}

#box-area::-webkit-scrollbar-thumb
{
  border-radius: 17px;
  -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.3);
  background-color: #ddd;
}

#toolbox::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
  border-radius: 0;
  background-color: #F5F5F5;
}
#toolbox::-webkit-scrollbar
{
  width: 8px;
  height: 8px;
  background-color: #F5F5F5;
  border-radius: 17px;
}
#toolbox::-webkit-scrollbar-thumb
{
  border-radius: 17px;
  -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.3);
  background-color: #979797;
}
#toolbox {
  max-height: calc(100vh - 150px);
  overflow-y: scroll;
  padding-left: 10px;
}

/deep/ .el-collapse-item__header {
  background: #2653d4;
  color: #fff;
  padding: 0px 7px;
  font-size: 14px;
}
#reselect-areas {
  text-decoration: underline;
  cursor: pointer;
  color: #1a73fb;
  font-size: 15px;
  padding: 0px 26px;
}
hr {
  margin-top: 9px;
  margin-bottom: 12px;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
/deep/ .el-form-item {
  margin-bottom: 17px;
}
/deep/ .el-form-item.area-name {
  margin-bottom: 15px;
}
/deep/ .el-color-picker--mini .el-color-picker__trigger {
  height: 27px;
  width: 27px;
}
/deep/ .el-form-item__label, .el-form-item__content {
  color: #4c4c4c;
  font-weight: normal;
  line-height: 22px;
}
/deep/ .el-checkbox-group label, /deep/ .el-checkbox__label {
  font-weight: normal;
}
</style>

<style lang="scss">
.form-value {
  .el-input__inner {
    margin-bottom: 10px;
  }
}
.claim td .el-button {
  margin-left: 0;
}
</style>

<style lang="scss">
  .detail-security-layout-page {
    .canvas-container {
      z-index: 999;
    }
    .el-message-box__wrapper {
      z-index: 999999;
    }

    height: 100vh;
    label.el-form-item__label {
      padding: 7px 0px;
    }
    .object-apply-cus {
      .el-form-item__label:before {
        content: '*';
        color: #F56C6C;
        margin-right: 4px;
      }
    }
    .item-left {
      width: 48%;
      float: left;
      margin-right: 2%;
    }
    .item-right {
      width: 48%;
      float: left;
      margin-left: 2%;
    }
    .block-item {
      width: 100%;
      float: left;
    }
    .action {
      margin-top: 40px;
      .el-button--success {
        background: #00E381;
        border: initial;
        border-radius: 4px;
        width: 104px;
        height: 35px;
        padding: 0.25rem 0.5rem;
        float: right;
      }
      .el-button--info {
        background: #36b9cc;
        border: initial;
        border-radius: 4px;
        width: 104px;
        height: 35px;
        padding: 0.25rem 0.5rem;
        float: right;
      }
      .el-button--danger {
        background: #f33939;
        border: initial;
        border-radius: 4px;
        width: 104px;
        height: 35px;
        float: right;
        padding: 0.25rem 0.5rem;
        margin-right: 10px;
      }
      span {
        font-size: 14px;
        text-align: center;
      }
    }
  }
</style>
