<template>
  <div class="app-container claim detail-layout-page">
    <el-row id="tools-top">
      <el-col :span="24" style="padding: 0px 10px;">
        <list-icon-settings></list-icon-settings>

        <span class="action">
          <el-button type="info" size="small" @click="done()" :loading="loadingSaveLayout"><i class="el-icon-document" v-show="!loadingSaveLayout"></i> Lưu layout</el-button>
          <el-button type="danger" size="small" @click="deleteArea()" :loading="loadingDeleteArea"><i class="el-icon-delete" v-show="!loadingDeleteArea"></i> Xoá vùng</el-button>
          <el-button type="success" size="small" @click="saveArea()" :loading="loadingSaveArea"><i class="el-icon-check" v-show="!loadingSaveArea"></i> Lưu vùng</el-button>
        </span>
      </el-col>
    </el-row>

    <el-row style="margin: 9px 0px; background: #fff;">
      <el-col :span="18" id="paint-area" ref="paintArea">
        <canvas id="canvas-tools" ref="can"></canvas>
      </el-col>

      <el-col :span="6" id="toolbox">
        <el-collapse v-model="activeNames">
          <el-collapse-item title="Danh sách vùng đã lưu" name="1">
              <div id="box-area">
                  <ol id="reselect-areas">
                      <li v-for="area in areasList" :key="area.id" >
                          <a @click="reselectArea(area)" style="font-weight: bold; font-size: 15px" :id="`reselect_area_${area.id}`">
                              {{ area.jsonDetailArea.name }}
                          </a>
                      </li>
                  </ol>
              </div>
          </el-collapse-item>

          <el-collapse-item title="Chi tiết vùng" name="2">
              <div style="padding: 6px 10px; font-size: 14px;">
                  <el-form
                    :model="jsonArea"
                    :rules="rules"
                    ref="formArea"
                    label-position="left"
                    label-width="130px"
                  >
                    <div id="div-area" ref="divArea" style="display: none">
                      Loại vùng: <b>{{ type_name }}</b> <hr>
                    </div>

                    <component
                      v-bind:is="tabAreaComponent"
                      v-bind:value="jsonArea"
                      v-bind:listRelatedRois="listRelatedRois"
                      @input="(newJsonArea) => {jsonArea = newJsonArea}"
                    ></component>
                  </el-form>
              </div>
          </el-collapse-item>
        </el-collapse>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import waves from "@/directive/waves"; // Waves directive
import config from '@/config.js';
import { fabric } from '@/assets/js/fabric.min.js';
import ListIconSettings from './components/ListIconSettings';

import DoDemLuuLuong from './html-areas/DoDemLuuLuong';
import DungDoTraiPhep from './html-areas/DungDoTraiPhep';
import DuongCam from './html-areas/DuongCam';
import HuongDiChuyen from './html-areas/HuongDiChuyen';
import NguocChieu from './html-areas/NguocChieu';
import NhanDienBienSo from './html-areas/NhanDienBienSo';
import SaiChiDanVachKeDuong from './html-areas/SaiChiDanVachKeDuong';
import SaiLan from './html-areas/SaiLan';
import TrangThaiDenGiaoThong from './html-areas/TrangThaiDenGiaoThong';
import ViPhamDenTinHieu from './html-areas/ViPhamDenTinHieu';
import PhatHienSuCo from './html-areas/PhatHienSuCo';

import { getData } from "@/api/model-base-resources";
import Resource from "@/api/resource";
const layoutResource = new Resource("systemconfig/camera/camera-layout");
const layoutAreasResource = new Resource("systemconfig/camera/camera-layout/layout-area");

export default {
  directives: { waves },
  components: {
    ListIconSettings,
    DoDemLuuLuong,
    DungDoTraiPhep,
    DuongCam,
    HuongDiChuyen,
    NguocChieu,
    NhanDienBienSo,
    SaiChiDanVachKeDuong,
    SaiLan,
    TrangThaiDenGiaoThong,
    ViPhamDenTinHieu,
    PhatHienSuCo,
  },
  data() {
    return {
      baseUploadUrl: process.env.VUE_APP_UPLOAD_URL,
      base160Url: process.env.VUE_APP_160_URL,
      colorPicker: '',
      type_name: '',
      jsonArea: {
        id: null,
        info: {
          x: 0,
          y: 0,
        },
        name: '',
        path: '',
        color: {
          r: 0,
          g: 0,
          b: 0,
        },
        colorPicker: '',
        roiType: '',
        midRange: 0,
        typeName: '',
        color_str: '',
        direction: 0,
        measureTime: 15,
        related_roi: [],
        arr_direction: [],
        move_direction: [],
        allow_turnright: '1',
        except_direction: [], // Vi phạm đèn giao thông - hướng ưu tiên
        arr_vehicle_reid: [],
        schedules: [],
        threshold: 0,
        patterns: [],
        pattern: {
          green: 0,
          red: 0,
          yellow: 0,
        },
        sub_type: '',

        isCheckedReID: false,
        isCheckedPattern: false,
        isCheckedTT: false,
        isCheckedCar: false,
        isCheckedTruck: false,
        isCheckedBus: false,
        isCheckedMotorbike: false,
        isCheckedBike: false,
        isCheckedPedestrian: false,
        // isCheckedConstructed: false,
        car: {
          detRatio: 0.3,
          maxRatio: 6,
          minRatio: 0.3,
          minArea: 12000
        },
        truck: {
          detRatio: 0.3,
          maxRatio: 6,
          minRatio: 0.3,
          minArea: 14000
        },
        bus: {
          detRatio: 0.3,
          maxRatio: 6,
          minRatio: 0.3,
          minArea: 14000
        },
        motorbike: {
          detRatio: 0.3,
          maxRatio: 6,
          minRatio: 0.3,
          minArea: 9000
        },
        bike: {
          detRatio: 0.3,
          maxRatio: 6,
          minRatio: 0.3,
          minArea: 9000
        },
        pedestrian: {
          detRatio: 0.3,
          maxRatio: 6,
          minRatio: 0.3,
          minArea: 9000
        },
        // constructed: {
        //   detRatio: 0.3,
        //   maxRatio: 6,
        //   minRatio: 0.3,
        //   minArea: 9000
        // },
        
        crowd_detection: false,
        accident_detection: false,
        dropspeed_detection: false,
        isCheckedCrowd: false,
        isCheckedAccident: false,
        isCheckedDropspeed: false,
        crowd_params: {
          object_count: 5
        },
        dropspeed_params: {
          threshold: 30
        },
      },
      rules: {
        colorPicker: [
          { required: true, message: 'Màu không được để trống', trigger: "blur" },
        ],
        name: [
          { required: true, message: 'Tên vùng không được để trống', trigger: "blur" },
          { max: 50, message: 'Tên vùng tối đa 50 ký tự', trigger: 'blur' },
        ],
        // allow_turnright: [
        //   { required: true, message: ' ', trigger: "blur" },
        // ],
        // except_direction: [
        //   { required: true, message: ' ', trigger: "blur" },
        // ],
      },

      loading: true,
      loadingSaveLayout: false,
      loadingDeleteArea: false,
      loadingSaveArea: false,
      layoutId: '',
      configAreas: config.areas_roi_types,
      activeNames: [],
      layoutInfo: null,
      areasList: [],
      listRelatedRois: [],

      // START draw variable
      canvas: null,
      areaId: '',
      w_scale: 0,
      h_scale: 0,
      fillColor: '',
      roof: null,
      roofPoints: [],
      lines: [],
      lineCounter: 0,
      drawingObject: {
        type: '',
        background: '',
        border: '',
      },
      saveStatus: true,
      areas: [],
      selectedArea: null,
      currentRoiType: '',
      subType: '',
      checkSaveLayout: false,
      x: 0,
      y: 0,
      // END draw variable
    };
  },
  watch: {
    '$store.state.app.sidebar.opened': function() {
      setTimeout(() => {
        this.init(this.layoutId);
      }, 300);
    }
  },
  computed: {
    tabAreaComponent: function() {
      let areaComponent = '';
      let currentRoiType = parseInt(this.currentRoiType);
      if (currentRoiType == this.configAreas.DO_DEM_LUU_LUONG) {
        areaComponent = DoDemLuuLuong;
      }
      if (currentRoiType == this.configAreas.VI_PHAM_DEN_TIN_HIEU) {
        areaComponent = ViPhamDenTinHieu;
      }
      if (currentRoiType == this.configAreas.TRANG_THAI_DEN_GIAO_THONG) {
        areaComponent = TrangThaiDenGiaoThong;
      }
      if (currentRoiType == this.configAreas.DUNG_DO_TRAI_PHEP) {
        areaComponent = DungDoTraiPhep;
      }
      if (currentRoiType == this.configAreas.NGUOC_CHIEU) {
        areaComponent = NguocChieu;
      }
      if (currentRoiType == this.configAreas.NHAN_DIEN_BIEN_SO) {
        areaComponent = NhanDienBienSo;
      }
      if (currentRoiType == this.configAreas.HUONG_DI_CHUYEN) {
        areaComponent = HuongDiChuyen;
      }
      if (currentRoiType == this.configAreas.SAI_CHI_DAN_VACH_KE_DUONG) {
        areaComponent = SaiChiDanVachKeDuong;
      }
      if (currentRoiType == this.configAreas.SAI_LAN && parseInt(this.subType) == 0) {
        areaComponent = SaiLan;
      }
      if (currentRoiType == this.configAreas.DUONG_CAM && parseInt(this.subType) == 1) {
        areaComponent = DuongCam;
      }
      if (currentRoiType == this.configAreas.PHAT_HIEN_SU_CO) {
        areaComponent = PhatHienSuCo;
      }

      return areaComponent;
    }
  },
  created() {
    this.layoutId = this.$route.params && this.$route.params.id;
    this.init(this.layoutId);

    let self = this;
    document.addEventListener('keydown', (evt) => {
      // disableF5
      if ((evt.which || evt.keyCode) == 116) evt.preventDefault();

      // Esc
      evt = evt || window.event;
      let isEscape = false;
      if ("key" in evt) {
          isEscape = (evt.key === "Escape" || evt.key === "Esc");
      } else {
          isEscape = (evt.keyCode === 27);
      }
      if (isEscape) {
          self.drawingObject.type = "";
          self.lines.forEach((value) => {
            self.canvas.remove(value);
          });
          self.roof = self.makeRoof(self.roofPoints);
          self.canvas.add(self.roof);
          self.canvas.renderAll();
          self.canvas.setActiveObject(self.roof);

          // remove arrays
          self.roofPoints = [];
          self.lines = [];
          self.lineCounter = 0;

          // set type_name
          if (parseInt(self.currentRoiType) == 18) { // SAI_LAN, DUONG_CAM
            if (self.subType == 0) {
              self.type_name = 'SAI_LAN';
            } else if (self.subType == 1) {
              self.type_name = 'DUONG_CAM';
            } else {
              self.type_name = '';
            }
          } else {
            self.type_name = self.getKeyByValue(self.configAreas, parseInt(self.currentRoiType));
          }

          // set colorPicker
          self.jsonArea.colorPicker = self.colorPicker;
      }
    });

    window.addEventListener('beforeunload', () => {
      if (!self.checkSaveLayout) {
          return ('Bạn hãy lưu lại layout trước khi thoát trang!');
      }
    });
  },

  methods: {
    async init(layoutId) {
      await this.getLayoutInfo(layoutId);
      await this.getLayoutAreas(layoutId);

      // init canvas
      this.canvas = new fabric.Canvas('canvas-tools');
      this.initCanvas(this.canvas);
    },

    async getLayoutInfo(layoutId) {
      const { data } = await getData("/systemconfig/camera/camera-layout/" + layoutId);
      if (data) {
        this.layoutInfo = data;

        // set draw variable
        this.w_scale = data.widthImgScale;
        this.h_scale = data.heightImgScale;
      }
    },
    async getLayoutAreas(layoutId) {
      const { data } = await getData("/systemconfig/camera/camera-layout/layout-area/areas/" + layoutId);
      if (data && data.length > 0) {
        this.areasList = data;
        this.listRelatedRois = data.filter(item => item.roiType == this.configAreas.VI_PHAM_DEN_TIN_HIEU);

        // set draw variable
        this.areas = data;
      } else {
        this.areasList = [];
        this.listRelatedRois = [];
        this.areas = [];
      }
    },

    saveArea() {
      this.checkSaveLayout = false;
      this.$refs.formArea.validate(async (valid) => {
        if (valid) {
          if (this.currentRoiType == '') {
            this.$notify({
              title: "Lỗi",
              message: "Chưa chọn loại vùng!",
              type: "error"
            });
            return false;
          }

          // đối tượng áp dụng
          let arrObjectApply = [
            this.configAreas.DO_DEM_LUU_LUONG,
            this.configAreas.DUNG_DO_TRAI_PHEP,
            this.configAreas.DUONG_CAM,
            this.configAreas.HUONG_DI_CHUYEN,
            this.configAreas.NGUOC_CHIEU,
            this.configAreas.NHAN_DIEN_BIEN_SO,
            this.configAreas.SAI_CHI_DAN_VACH_KE_DUONG,
            this.configAreas.SAI_LAN,
            this.configAreas.VI_PHAM_DEN_TIN_HIEU,
            this.configAreas.PHAT_HIEN_SU_CO,
          ];
          if (
              arrObjectApply.includes(parseInt(this.currentRoiType))
              && (!this.jsonArea.isCheckedCar && !this.jsonArea.isCheckedTruck && !this.jsonArea.isCheckedBus && !this.jsonArea.isCheckedMotorbike && !this.jsonArea.isCheckedBike && !this.jsonArea.isCheckedPedestrian)
             ) {
            this.$notify({
                title: "Lỗi",
                message: "Chọn ít nhất 1 đối tượng áp dụng!",
                type: "error"
              });
              return false;
          }

          // TRANG_THAI_DEN_GIAO_THONG - vùng vi phạm
          if (parseInt(this.currentRoiType) == this.configAreas.TRANG_THAI_DEN_GIAO_THONG && this.jsonArea.related_roi.length == 0) {
            this.$notify({
                title: "Lỗi",
                message: "Chưa tồn tại hoặc chưa chọn vùng vi phạm!",
                type: "error"
              });
              return false;
          }

          let currentObj = this.canvas.getActiveObject();
          if (!currentObj) {
              this.$notify({
                title: "Lỗi",
                message: "Chọn 1 vùng để lưu!",
                type: "error"
              });
              return false;
          }
          this.areaId = currentObj.backgroundColor;
          this.settingColorArea(this.jsonArea.colorPicker);

          // color
          let color = this.jsonArea.colorPicker.replace(/rgba/gi, '').replace(/[()]/g, '');
          let arrColor = color.split(',');

          // direction, arr_direction
          let direction = 0;
          let arr_direction = this.jsonArea.arr_direction;
          if (arr_direction.length > 0) {
            arr_direction.forEach(function(val) {
              direction += parseInt(val);
            });
          }

          // move_direction, arr_move_direction
          let move_direction = 0;
          let arr_move_direction = this.jsonArea.move_direction;
          if (arr_move_direction.length > 0) {
            arr_move_direction.forEach(function(val) {
              move_direction += parseInt(val);
            });
          }

          // allow_turnright
          // let allow_turnright = true;
          // if (this.jsonArea.allow_turnright == 2) {
          //   allow_turnright = false;
          // }

          // except_direction, arr_except_direction
          let except_direction = 0;
          let arr_except_direction = this.jsonArea.except_direction;
          if (arr_except_direction.length > 0) {
            arr_except_direction.forEach(function(val) {
              except_direction += parseInt(val);
            });
          }

          // patterns
          // let patterns = [];
          // if (this.jsonArea.patterns.length > 0) {
          //   this.jsonArea.patterns.forEach(function(value, index) {
          //     patterns.push({
          //       id: index,
          //       green: parseInt(value.green),
          //       red: parseInt(value.red),
          //       yellow: parseInt(value.yellow)
          //     });
          //   });
          // } else if (this.jsonArea.isCheckedPattern) {
          //     patterns.push({
          //       id: 0,
          //       green: parseInt(this.jsonArea.pattern.green),
          //       red: parseInt(this.jsonArea.pattern.red),
          //       yellow: parseInt(this.jsonArea.pattern.yellow)
          //     });
          // }

          // schedules
          let schedules = [];
          if (this.jsonArea.schedules.length > 0) {
            this.jsonArea.schedules.forEach((value) => {
              schedules.push({
                start_time: value.start_time,
                end_time: value.end_time,
                mode: value.mode,
                red: value.mode == 1 ? parseInt(value.red) : 0,
                green: value.mode == 1 ? parseInt(value.green) : 0,
                yellow: value.mode == 1 ? parseInt(value.yellow) : 0,
              });
            });
          }

          // affect_object
          let affect_object = [];
          if (this.jsonArea.isCheckedCar) {
            affect_object.push({
              label: 'car',
              det_ratio: parseFloat(this.jsonArea.car.detRatio),
              max_ratio: parseFloat(this.jsonArea.car.maxRatio),
              min_ratio: parseFloat(this.jsonArea.car.minRatio),
              min_area: parseInt(this.jsonArea.car.minArea),
              direction: 0,
              arr_direction: null
            });
          }
          if (this.jsonArea.isCheckedTruck) {
            affect_object.push({
              label: 'truck',
              det_ratio: parseFloat(this.jsonArea.truck.detRatio),
              max_ratio: parseFloat(this.jsonArea.truck.maxRatio),
              min_ratio: parseFloat(this.jsonArea.truck.minRatio),
              min_area: parseInt(this.jsonArea.truck.minArea),
              direction: 0,
              arr_direction: null
            });
          }
          if (this.jsonArea.isCheckedBus) {
            affect_object.push({
              label: 'bus',
              det_ratio: parseFloat(this.jsonArea.bus.detRatio),
              max_ratio: parseFloat(this.jsonArea.bus.maxRatio),
              min_ratio: parseFloat(this.jsonArea.bus.minRatio),
              min_area: parseInt(this.jsonArea.bus.minArea),
              direction: 0,
              arr_direction: null
            });
          }
          if (this.jsonArea.isCheckedMotorbike) {
            affect_object.push({
              label: 'motorbike',
              det_ratio: parseFloat(this.jsonArea.motorbike.detRatio),
              max_ratio: parseFloat(this.jsonArea.motorbike.maxRatio),
              min_ratio: parseFloat(this.jsonArea.motorbike.minRatio),
              min_area: parseInt(this.jsonArea.motorbike.minArea),
              direction: 0,
              arr_direction: null
            });
          }
          if (this.jsonArea.isCheckedBike) {
            affect_object.push({
              label: 'bike',
              det_ratio: parseFloat(this.jsonArea.bike.detRatio),
              max_ratio: parseFloat(this.jsonArea.bike.maxRatio),
              min_ratio: parseFloat(this.jsonArea.bike.minRatio),
              min_area: parseInt(this.jsonArea.bike.minArea),
              direction: 0,
              arr_direction: null
            });
          }
          if (this.jsonArea.isCheckedPedestrian) {
            affect_object.push({
              label: 'pedestrian',
              det_ratio: parseFloat(this.jsonArea.pedestrian.detRatio),
              max_ratio: parseFloat(this.jsonArea.pedestrian.maxRatio),
              min_ratio: parseFloat(this.jsonArea.pedestrian.minRatio),
              min_area: parseInt(this.jsonArea.pedestrian.minArea),
              direction: 0,
              arr_direction: null
            });
          }
          // if (this.jsonArea.isCheckedConstructed) {
          //   affect_object.push({
          //     label: 'constructed',
          //     det_ratio: parseFloat(this.jsonArea.constructed.detRatio),
          //     max_ratio: parseFloat(this.jsonArea.constructed.maxRatio),
          //     min_ratio: parseFloat(this.jsonArea.constructed.minRatio),
          //     min_area: parseInt(this.jsonArea.constructed.minArea),
          //     direction: 0,
          //     arr_direction: null
          //   });
          // }

          // roiType
          let roiType = parseInt(this.currentRoiType);

          let jsonAreaReq = {
            id: this.jsonArea.id,
            name: this.jsonArea.name,
            path: this.getSettingPoints(),
            color: {
              r: parseInt(arrColor[0].trim()),
              g: parseInt(arrColor[1].trim()),
              b: parseInt(arrColor[2].trim()),
            },
            roiType: roiType,
            midRange: parseInt(this.jsonArea.midRange),
            typeName: this.type_name,
            color_str: this.jsonArea.colorPicker,
            measureTime: parseInt(this.jsonArea.measureTime),
            related_roi: this.jsonArea.related_roi.map(item => parseInt(item)),
            affect_object: affect_object,

            direction: direction,
            arr_direction: arr_direction,
            move_direction: move_direction, // Sai chỉ dẫn vạch kẻ đường - Xác định hướng di chuyển
            arr_move_direction: arr_move_direction,
            threshold: parseInt(this.jsonArea.threshold),
            // patterns: patterns,
          };

          // info
          if (this.jsonArea.isCheckedTT == true) {
            jsonAreaReq.info = {
              x: parseInt(this.jsonArea.info.x),
              y: parseInt(this.jsonArea.info.y),
            };
          }

          // SAI_LAN, DUONG_CAM
          if (this.type_name == 'SAI_LAN') {
            jsonAreaReq.sub_type = 0;
          } else if (this.type_name == 'DUONG_CAM') {
            jsonAreaReq.sub_type = 1;
          }

          // allow_turnright
          // if (roiType == this.configAreas.VI_PHAM_DEN_TIN_HIEU) {
          //   jsonAreaReq.allow_turnright = allow_turnright;
          // }

          // except_direction
          if (roiType == this.configAreas.VI_PHAM_DEN_TIN_HIEU) {
            jsonAreaReq.except_direction = except_direction; // Vi phạm đèn giao thông - Hướng ưu tiên
            jsonAreaReq.arr_except_direction = arr_except_direction;
          }

          // schedules
          if (roiType == this.configAreas.TRANG_THAI_DEN_GIAO_THONG) {
            jsonAreaReq.schedules = schedules; // Trạng thái đèn giao thông - Lập lịch
          }

          // ReID - NHAN_DIEN_BIEN_SO
          if (roiType == this.configAreas.NHAN_DIEN_BIEN_SO) {
            if (this.jsonArea.isCheckedReID == true) {
              jsonAreaReq.enable_reid = true;
              jsonAreaReq.reid_filters = this.jsonArea.arr_vehicle_reid;
            } else {
              jsonAreaReq.enable_reid = false;
              jsonAreaReq.reid_filters = [];
            }
          }

          // PHAT_HIEN_SU_CO
          if (roiType == this.configAreas.PHAT_HIEN_SU_CO) {
            // crowd_detection
            if (this.jsonArea.isCheckedCrowd == true) {
              jsonAreaReq.crowd_detection = true;
              jsonAreaReq.crowd_params = {
                object_count: this.jsonArea.crowd_params.object_count
              }
            } else {
              jsonAreaReq.crowd_detection = false;
            }

            // accident_detection
            if (this.jsonArea.isCheckedAccident == true) {
              jsonAreaReq.accident_detection = true;
            } else {
              jsonAreaReq.accident_detection = false;
            }

            // dropspeed_detection
            if (this.jsonArea.isCheckedDropspeed == true) {
              jsonAreaReq.dropspeed_detection = true;
              jsonAreaReq.dropspeed_params = {
                threshold: this.jsonArea.dropspeed_params.threshold
              }
            } else {
              jsonAreaReq.dropspeed_detection = false;
            }
          }

          this.loadingSaveArea = true;
          const params = {
            layoutId: parseInt(this.layoutId),
            roiType: roiType,
            jsonDetailArea: jsonAreaReq
          };
          if (this.areaId != '') { // Sửa vùng cũ
            params.jsonDetailArea.id = this.areaId;
            layoutAreasResource
              .update(this.areaId, params)
              .then((response) => {
                this.loadingSaveArea = false;
                currentObj.set({
                    id: response.data.id,
                    typeName: response.data.jsonDetailArea.typeName,
                    backgroundColor: response.data.id,
                    selectable: false
                });
                this.type_name = response.data.jsonDetailArea.typeName;
                this.canvas.renderAll();
                this.saveStatus = true;

                // load reselect-areas
                this.getLayoutAreas(parseInt(this.layoutId));

                // notify
                this.$message({
                  message: "Lưu vùng thành công",
                  type: "success"
                });
              })
              .catch(() => {
                this.loadingSaveArea = false;
                this.$notify({
                  title: "Lỗi",
                  message: "Lưu vùng không thành công",
                  type: "error"
                });
              });
          } else { // Tạo vùng mới
            params.jsonDetailArea.id = 1;
            layoutAreasResource
              .store(params)
              .then((response) => {
                // update lại jsonDetailArea id
                let layoutAreaId = response.data.id;
                params.jsonDetailArea.id = layoutAreaId;
                layoutAreasResource
                  .update(layoutAreaId, params)
                  .then((response) => {
                    this.loadingSaveArea = false;
                    currentObj.set({
                        id: layoutAreaId,
                        typeName: response.data.jsonDetailArea.typeName,
                        backgroundColor: layoutAreaId,
                        selectable: false
                    });
                    this.type_name = response.data.jsonDetailArea.typeName;
                    this.canvas.renderAll();
                    this.saveStatus = true;

                    // load reselect-areas
                    this.getLayoutAreas(parseInt(this.layoutId));

                    // notify
                    this.$message({
                      message: "Lưu vùng thành công",
                      type: "success"
                    });
                  })
                  .catch(() => {
                    this.loadingSaveArea = false;
                    this.$notify({
                      title: "Lỗi",
                      message: "Lưu vùng không thành công",
                      type: "error"
                    });
                  });
              })
              .catch(() => {
                this.loadingSaveArea = false;
                this.$notify({
                  title: "Lỗi",
                  message: "Lưu vùng không thành công",
                  type: "error"
                });
              });
          }
        } else {
          return false;
        }
      });
    },
    deleteArea() {
      let objectCurrent = this.canvas.getActiveObject();
      if (objectCurrent) {
        this.loadingDeleteArea = true;
        this.$confirm("Bạn chắc chắn muốn xóa vùng này?", "Cảnh báo", {
            confirmButtonText: "Đồng ý",
            cancelButtonText: "Hủy bỏ",
            type: "warning"
          })
            .then(() => {
              this.saveStatus = true;

              let id_area = objectCurrent.get('backgroundColor'); // backgroundColor is ID area
              if (id_area) {
                  layoutAreasResource
                  .destroy(id_area)
                  .then((response) => {
                    if (response.status == 200) {
                      this.loadingDeleteArea = false;
                      this.canvas.remove(objectCurrent);

                      // reset form detail
                      this.resetFormDetail();

                      this.$message({
                        message: "Xóa vùng thành công",
                        type: "success"
                      });

                      this.done();
                    } else {
                      this.loadingDeleteArea = false;
                      this.canvas.remove(objectCurrent);
                      return false;
                    }
                  })
                  .catch(() => {
                    this.loadingDeleteArea = false;
                    this.$notify({
                      title: "Lỗi",
                      message: "Xóa vùng không thành công",
                      type: "error"
                    });
                  });
              } else {
                this.loadingDeleteArea = false;
                this.canvas.remove(objectCurrent);
                return false;
              }
            })
            .catch(() => {
              this.loadingDeleteArea = false;
            });
      } else {
        this.$notify({
          title: "Lỗi",
          message: "Chọn 1 vùng để xóa",
          type: "error"
        });
      }
    },
    done() {
      this.loadingSaveLayout = true;
      let jsonCanvas = this.canvas;
      let jsonCanvasCopy = JSON.parse(JSON.stringify(jsonCanvas));

      let srcBackgroundImage = jsonCanvasCopy.backgroundImage.src;
      if (srcBackgroundImage.includes('upload')) {
        jsonCanvasCopy.backgroundImage.src = jsonCanvasCopy.backgroundImage.src.replace(this.baseUploadUrl, "");
      } else {
        jsonCanvasCopy.backgroundImage.src = jsonCanvasCopy.backgroundImage.src.replace(this.base160Url, "");
      }

      let layoutImage = this.canvas.toDataURL({
        format: 'jpeg',
        quality: 0.6
      });
      const params = {
        cameraId: this.layoutInfo.cameraId,
        name: this.layoutInfo.name,
        description: this.layoutInfo.description,
        widthImgScale: this.layoutInfo.widthImgScale,
        heightImgScale: this.layoutInfo.heightImgScale,
        layoutAreasJson: this.layoutInfo.layoutAreasJson,
        metaAttributes: this.layoutInfo.metaAttributes,
        modelProfileId: this.layoutInfo.modelProfileId,
        originHeight: this.layoutInfo.originHeight,
        originWidth: this.layoutInfo.originWidth,
        scaledFitImg: this.layoutInfo.scaledFitImg,
        sizedImg: this.layoutInfo.sizedImg,
        status: 1,
        usedCaptureImage: this.layoutInfo.usedCaptureImage,
        version: this.layoutInfo.version,
        jsonCanvas: jsonCanvasCopy,
        layoutImage: layoutImage,
        layoutType: this.layoutInfo.layoutType,
      };
      layoutResource
        .update(this.layoutId, params)
        .then(response => {
          this.loadingSaveLayout = false;
          if (response.status == 200) {
            this.checkSaveLayout = true;
            this.$message({
              message: "Lưu layout thành công",
              type: "success"
            });
            
            // this.canvas.loadFromJSON(jsonCanvas, this.canvas.renderAll.bind(this.canvas));
            this.canvas.forEachObject(function(o) {
                o.selectable = false;
            });
            this.canvas.renderAll();

            setTimeout(() => {
              this.$router.push({ path: `/system-config/cameras` });
            }, 1000);
          } else {
            this.$notify({
              title: "Lỗi",
              message: "Lưu layout không thành công",
              type: "error"
            });
          }
        })
        .catch((err) => {
          this.loadingSaveLayout = false;
          console.log(err);
          this.$notify({
            title: "Lỗi",
            message: "Lưu layout không thành công",
            type: "error"
          });
        });
    },

    /**************** START draw methods ****************/
    initCanvas(canvas) {
        let divWidth = document.getElementById("paint-area").offsetWidth; // this.$refs.paintArea.$el.clientWidth;
        let divHeight = document.getElementById("paint-area").offsetHeight; // this.$refs.paintArea.$el.clientHeight;
        canvas.setWidth(divWidth);
        canvas.setHeight(divHeight);

        let jsonData = this.layoutInfo.jsonCanvas;
        let srcBackgroundImage = jsonData.backgroundImage.src;
        if (srcBackgroundImage.includes('upload')) {
          jsonData.backgroundImage.src = this.baseUploadUrl + srcBackgroundImage;
        } else {
          jsonData.backgroundImage.src = this.base160Url + srcBackgroundImage;
        }

        let bgImageUrl = jsonData.backgroundImage.src;
        let widthImage = jsonData.backgroundImage.width;
        let heightImage = jsonData.backgroundImage.height;
        let scaleWidthImage = divWidth / widthImage;
        let scaleHeightImage = divHeight / heightImage;
        canvas.loadFromJSON(jsonData);

        fabric.Image.fromURL(bgImageUrl, (img) => {
          img.set({
              width: divWidth,
              height: divHeight,
              originX: 'left',
              originY: 'top',
              crossOrigin: 'anonymous'
          });
          canvas.setBackgroundImage(img);
          // console.log(JSON.stringify(canvas));
          canvas.loadFromJSON(JSON.stringify(canvas));
          canvas.renderAll();
        }, { crossOrigin: 'anonymous'});

        canvas.forEachObject(function(o) {
          o.selectable = false;
          const scaleX = o.scaleX;
          const scaleY = o.scaleY;
          const left = o.left;
          const top = o.top;

          const tempScaleX = scaleX * scaleWidthImage;
          const tempScaleY = scaleY * scaleHeightImage;
          const tempLeft = left * scaleWidthImage;
          const tempTop = top * scaleHeightImage;

          o.scaleX = tempScaleX;
          o.scaleY = tempScaleY;
          o.left = tempLeft;
          o.top = tempTop;
          // console.log(o.getCenterPoint());
          // console.log(o.backgroundColor);
          o.setCoords();
        });

        canvas.on('mouse:down', (options) => {
          if (this.drawingObject.type == "roof") {
              canvas.selection = false;

              this.setStartingPoint(options); // set x,y
              let objPoint = new fabric.Point(this.x, this.y);
              this.roofPoints.push(objPoint);

              let points = [this.x, this.y, this.x, this.y];
              this.lines.push(new fabric.Line(points, {
                  strokeWidth: 3,
                  selectable: true,
                  stroke: 'red'
              }).setOriginX(this.x).setOriginY(this.y));

              canvas.add(this.lines[this.lineCounter]);
              this.lineCounter = this.lineCounter + 1;
              canvas.on('mouse:up', function () {
                  canvas.selection = true;
              });
          }
        });

        canvas.on('mouse:move', (options) => {
          if (this.lines[0] !== null && this.lines[0] !== undefined && this.drawingObject.type == "roof") {
              this.setStartingPoint(options);
              this.lines[this.lineCounter - 1].set({
                  x2: this.x,
                  y2: this.y
              });
              canvas.renderAll();
          }
        });

        canvas.on('object:selected', () => {
          let currentObj;
          if (typeof(canvas.getActiveObject()) !== 'undefined') {
              // collapse form area
              if (this.activeNames.indexOf('2') === -1) {
                this.activeNames.push('2');
              }

              currentObj = canvas.getActiveObject();
              let areaID = currentObj.get('backgroundColor');

              // set type_name
              if (parseInt(this.currentRoiType) == 18) { // SAI_LAN, DUONG_CAM
                if (this.subType == 0) {
                  this.type_name = 'SAI_LAN';
                } else if (this.subType == 1) {
                  this.type_name = 'DUONG_CAM';
                } else {
                  this.type_name = '';
                }
              } else {
                this.type_name = this.getKeyByValue(this.configAreas, parseInt(this.currentRoiType));
              }
              if (areaID) {
                  this.selectedArea = this.areas.find(item => item.id == areaID);
                  this.getAreaHasData(this.selectedArea);
              } else {
                  this.getAreaNotData();
              }
          }
        });

        // remove area error
        this.removeAreaError(jsonData.objects);
    },

    removeAreaError(jsonDataObjects) {
        let arrBackgroundColor = [];
        let arrAreaId = [];
        if (jsonDataObjects.length > 0) {
          jsonDataObjects.forEach((value) => {
            arrBackgroundColor.push(parseInt(value.backgroundColor));
          });
        }

        if (this.areasList.length > 0) {
          this.areasList.forEach((value) => {
            arrAreaId.push(parseInt(value.id));
          });
        }

        let arrayDifference = arrAreaId.filter(function(x) {
          return arrBackgroundColor.indexOf(x) == -1;
        });
        if (arrayDifference.length > 0) {
          arrayDifference.forEach((value) => {
            layoutAreasResource
              .destroy(value)
              .then(() => {})
              .catch(() => {});
          });

          // load reselect-areas
          this.areasList = this.areasList.filter(x => {
            return arrayDifference.indexOf(x.id) == -1;
          });
        }
    },

    startDraw() {
      // collapse form area
      if (this.activeNames.indexOf('2') === -1) {
        this.activeNames.push('2');
      }

      this.checkSaveLayout = false;
      if (!this.saveStatus) {
          this.$notify({
            title: "Lỗi",
            message: "Lưu vùng đang thiết lập",
            type: "error"
          });
          return false;
      }
      this.canvas.forEachObject(function(object) {
          object.selectable = false;
      });

      this.currentRoiType = event.currentTarget.getAttribute('data-type');
      this.subType = event.currentTarget.getAttribute('data-sub-type');
      this.getAreaNotData();

      this.drawingObject.type = '';
      let type_name = event.currentTarget.getAttribute('data-name');
      let roi_color = event.currentTarget.getAttribute('data-color');

      this.fillColor = roi_color;
      this.colorPicker = roi_color;
      this.jsonArea.colorPicker = roi_color;
      this.type_name = type_name;
      this.$refs.divArea.style.display = 'block';

      if (this.drawingObject.type === "roof") {
          this.drawingObject.type = "";
          this.lines.forEach((value) => {
            this.canvas.remove(value);
          });

          this.roof = this.makeRoof(this.roofPoints);
          this.canvas.add(this.roof);
          this.canvas.renderAll();
      } else {
          this.drawingObject.type = "roof"; // roof type
      }
    },

    setStartingPoint(options) {
      let offset = this.$refs.can.getBoundingClientRect(); // $('#canvas-tools').offset();
      this.x = options.e.clientX - offset.left; // options.e.pageX - offset.left;
      this.y = options.e.clientY - offset.top; // options.e.pageY - offset.top;
    },

    makeRoof(roofPoints) {
        let left = this.findLeftPaddingForRoof(roofPoints);
        let top = this.findTopPaddingForRoof(roofPoints);

        roofPoints.push(new fabric.Point(roofPoints[0].x, roofPoints[0].y));
        let roof = new fabric.Polyline(roofPoints, {
            fill: this.jsonArea.colorPicker,
            stroke:'#58c',
            objectCaching: false,
            selectable: true
        });
        roof.set({
            left: left,
            top: top,
        });

        this.colorPicker = this.jsonArea.colorPicker;
        this.saveStatus = false;
        return roof;
    },
    findLeftPaddingForRoof(roofPoints) {
        let result = 999999;
        for (let i = 0; i < this.lineCounter; i++) {
            if (roofPoints[i].x < result) {
                result = roofPoints[i].x;
            }
        }
        return Math.abs(result);
    },
    findTopPaddingForRoof(roofPoints) {
        let result = 999999;
        for (let f = 0; f < this.lineCounter; f++) {
            if (roofPoints[f].y < result) {
            result = roofPoints[f].y;
            }
        }
        return Math.abs(result);
    },

    onColorChanged(selectedColor, inputId) {
        if (inputId == "color_picker") {
            this.colorPicker = selectedColor;
            this.fillColor = selectedColor;
        }
    },

    reselectArea(area) {
      // collapse form area
      if (this.activeNames.indexOf('2') === -1) {
        this.activeNames.push('2');
      }

      this.getAreaHasData(area);
      this.canvas.getObjects().forEach((currentObj) => {
        if (currentObj.backgroundColor === area.id) {
            this.canvas.setActiveObject(currentObj);
            this.canvas.getActiveObject().set({
                selectable: true
            });
            this.canvas.bringToFront(currentObj);
        } else {
            this.canvas.forEachObject(function(o) {
                o.selectable = false;
            });
        }
      })
    },

    async getAreaHasData(area) {
      let dataJsonArea = area.jsonDetailArea;
      this.currentRoiType = dataJsonArea.roiType;
      this.subType = dataJsonArea.sub_type != undefined ? parseInt(dataJsonArea.sub_type) : '';

      // set areaId
      this.areaId = area.id;

      /*********** init jsonArea ***********/
      // allow_turnright
      // let allow_turnright = 0;
      // if (dataJsonArea.allow_turnright != undefined) {
      //   allow_turnright = dataJsonArea.allow_turnright == true ? '1' : '2';
      // }

      // isCheckedTT
      let isCheckedTT = dataJsonArea.info != undefined ? true : false;

      // isCheckedReID
      let isCheckedReID = false;
      let arrVehicleReid = [];
      if (dataJsonArea.enable_reid != undefined) {
        isCheckedReID = dataJsonArea.enable_reid == true ? true : false;
        arrVehicleReid = dataJsonArea.reid_filters != undefined ? dataJsonArea.reid_filters : [];
      }

      // affect_object
      let isCheckedCar = false;
      let isCheckedTruck = false;
      let isCheckedBus = false;
      let isCheckedMotorbike = false;
      let isCheckedBike = false;
      let isCheckedPedestrian = false;
      // let isCheckedConstructed = false;
      let arrAffectObject = dataJsonArea.affect_object;
      let car, truck, bus, motorbike, bike, pedestrian = null; // let car, truck, bus, motorbike, bike, constructed = null;
      if (arrAffectObject.length > 0) {
          arrAffectObject.forEach(function(val) {
            if (val.label === 'car') {
              isCheckedCar = true;
              car = {
                detRatio: val.det_ratio,
                maxRatio: val.max_ratio,
                minRatio: val.min_ratio,
                minArea: val.min_area,
              }
            }
            if (val.label === 'truck') {
              isCheckedTruck = true;
              truck = {
                detRatio: val.det_ratio,
                maxRatio: val.max_ratio,
                minRatio: val.min_ratio,
                minArea: val.min_area,
              }
            }
            if (val.label === 'bus') {
              isCheckedBus = true;
              bus = {
                detRatio: val.det_ratio,
                maxRatio: val.max_ratio,
                minRatio: val.min_ratio,
                minArea: val.min_area,
              }
            }
            if (val.label === 'motorbike') {
              isCheckedMotorbike = true;
              motorbike = {
                detRatio: val.det_ratio,
                maxRatio: val.max_ratio,
                minRatio: val.min_ratio,
                minArea: val.min_area,
              }
            }
            if (val.label === 'bike') {
              isCheckedBike = true;
              bike = {
                detRatio: val.det_ratio,
                maxRatio: val.max_ratio,
                minRatio: val.min_ratio,
                minArea: val.min_area,
              }
            }
            if (val.label === 'pedestrian') {
              isCheckedPedestrian = true;
              pedestrian = {
                detRatio: val.det_ratio,
                maxRatio: val.max_ratio,
                minRatio: val.min_ratio,
                minArea: val.min_area,
              }
            }
            // if (val.label === 'constructed') {
            //   isCheckedConstructed = true;
            //   constructed = {
            //     detRatio: val.det_ratio,
            //     maxRatio: val.max_ratio,
            //     minRatio: val.min_ratio,
            //     minArea: val.min_area,
            //   }
            // }
          });
      }
      let colorStr = dataJsonArea.color_str != undefined ? dataJsonArea.color_str : '';
      this.jsonArea = {
        id: dataJsonArea.id,
        info: {
          x: dataJsonArea.info != undefined ? parseInt(dataJsonArea.info.x) : 0,
          y: dataJsonArea.info != undefined ? parseInt(dataJsonArea.info.y) : 0,
        },
        name: dataJsonArea.name,
        path: dataJsonArea.path,
        color: {
          r: parseInt(dataJsonArea.color.r),
          g: parseInt(dataJsonArea.color.g),
          b: parseInt(dataJsonArea.color.b),
        },
        colorPicker: colorStr,
        roiType: parseInt(dataJsonArea.roiType),
        midRange: dataJsonArea.midRange != undefined ? parseInt(dataJsonArea.midRange) : 0,
        typeName: dataJsonArea.typeName,
        color_str: colorStr,
        measureTime: dataJsonArea.measureTime != undefined ? parseInt(dataJsonArea.measureTime) : 15,
        related_roi: dataJsonArea.related_roi != undefined ? dataJsonArea.related_roi : [],
        affect_object: dataJsonArea.affect_object != undefined ? dataJsonArea.affect_object : [],
        direction: dataJsonArea.direction != undefined ? parseInt(dataJsonArea.direction) : 0,
        arr_direction: dataJsonArea.arr_direction != undefined ? dataJsonArea.arr_direction : [],
        move_direction: dataJsonArea.arr_move_direction != undefined ? dataJsonArea.arr_move_direction : [],
        // allow_turnright: allow_turnright,
        except_direction: dataJsonArea.arr_except_direction != undefined ? dataJsonArea.arr_except_direction : [],
        threshold: dataJsonArea.threshold != undefined ? dataJsonArea.threshold : 0,
        // patterns: dataJsonArea.patterns != undefined ? dataJsonArea.patterns : [],
        // pattern: this.jsonArea.pattern,

        schedules: dataJsonArea.schedules != undefined ? dataJsonArea.schedules : [],
        schedule: this.jsonArea.schedule,

        isCheckedTT: isCheckedTT,
        isCheckedCar: isCheckedCar,
        isCheckedTruck: isCheckedTruck,
        isCheckedBus: isCheckedBus,
        isCheckedMotorbike: isCheckedMotorbike,
        isCheckedBike: isCheckedBike,
        isCheckedPedestrian: isCheckedPedestrian,
        // isCheckedConstructed: isCheckedConstructed,
        car: car != null ? car : this.jsonArea.car,
        truck: truck != null ? truck : this.jsonArea.truck,
        bus: bus != null ? bus : this.jsonArea.bus,
        motorbike: motorbike != null ? motorbike : this.jsonArea.motorbike,
        bike: bike != null ? bike : this.jsonArea.bike,
        pedestrian: pedestrian != null ? pedestrian : this.jsonArea.pedestrian,
        // constructed: constructed != null ? constructed : this.jsonArea.constructed,

        isCheckedReID: isCheckedReID,
        arr_vehicle_reid: arrVehicleReid,

        // PHAT_HIEN_SU_CO
        isCheckedCrowd: dataJsonArea.crowd_detection != undefined ? dataJsonArea.crowd_detection : false,
        isCheckedAccident: dataJsonArea.accident_detection != undefined ? dataJsonArea.accident_detection : false,
        isCheckedDropspeed: dataJsonArea.dropspeed_detection != undefined ? dataJsonArea.dropspeed_detection : false,
        crowd_params: {
          object_count: dataJsonArea.crowd_params != undefined ? dataJsonArea.crowd_params.object_count : 5
        },
        dropspeed_params: {
          threshold: dataJsonArea.dropspeed_params != undefined ? dataJsonArea.dropspeed_params.threshold : 30
        }
      };

      // tab area component
      this.tabAreaComponent;

      this.type_name = dataJsonArea.typeName;
      this.currentRoiType = dataJsonArea.roiType;
      this.$refs.divArea.style.display = 'block';

      this.onColorChanged(colorStr, 'color_picker');
    },
    async getAreaNotData() {
      // set areaId
      this.areaId = '';

      // init jsonArea
      this.jsonArea = {
        id: null,
        info: {
          x: 0,
          y: 0,
        },
        name: '',
        path: '',
        color: {
          r: 0,
          g: 0,
          b: 0,
        },
        colorPicker: '',
        roiType: '',
        midRange: 0,
        typeName: '',
        color_str: '',
        direction: 0,
        measureTime: 15,
        related_roi: [],
        arr_direction: [],
        move_direction: [],
        allow_turnright: '1', // 1: Được phép rẽ phải; 2: Không được phép rẽ phải
        except_direction: [], // Vi phạm đèn giao thông - hướng ưu tiên
        arr_vehicle_reid: [],
        schedules: [],
        threshold: 0,
        patterns: [],
        pattern: {
          green: 0,
          red: 0,
          yellow: 0,
        },
        sub_type: '',

        isCheckedReID: false,
        isCheckedPattern: false,
        isCheckedTT: false,
        isCheckedCar: false,
        isCheckedTruck: false,
        isCheckedBus: false,
        isCheckedMotorbike: false,
        isCheckedBike: false,
        isCheckedPedestrian: false,
        // isCheckedConstructed: false,
        car: {
          detRatio: 0.3,
          maxRatio: 6,
          minRatio: 0.3,
          minArea: 12000
        },
        truck: {
          detRatio: 0.3,
          maxRatio: 6,
          minRatio: 0.3,
          minArea: 14000
        },
        bus: {
          detRatio: 0.3,
          maxRatio: 6,
          minRatio: 0.3,
          minArea: 14000
        },
        motorbike: {
          detRatio: 0.3,
          maxRatio: 6,
          minRatio: 0.3,
          minArea: 9000
        },
        bike: {
          detRatio: 0.3,
          maxRatio: 6,
          minRatio: 0.3,
          minArea: 9000
        },
        pedestrian: {
          detRatio: 0.3,
          maxRatio: 6,
          minRatio: 0.3,
          minArea: 9000
        },
        // constructed: {
        //   detRatio: 0.3,
        //   maxRatio: 6,
        //   minRatio: 0.3,
        //   minArea: 9000
        // },

        crowd_detection: false,
        accident_detection: false,
        dropspeed_detection: false,
        isCheckedCrowd: false,
        isCheckedAccident: false,
        isCheckedDropspeed: false,
        crowd_params: {
          object_count: 5
        },
        dropspeed_params: {
          threshold: 30
        },
      };

      // tab area component
      this.tabAreaComponent;
    },

    settingColorArea(color) {
        this.canvas.getActiveObject().set({
            fill: color
        });
        this.canvas.renderAll();
    },

    resetFormDetail() {
      // load reselect-areas
      this.getLayoutAreas(parseInt(this.layoutId));

      // reset form detail
      this.currentRoiType = '';
      this.tabAreaComponent;
      this.$refs.divArea.style.display = 'none';
    },

    disableSelect() {
      this.canvas.selection = false;
      this.canvas.forEachObject(function(o) {
          o.selectable = false;
      });
      this.canvas.renderAll();
    },

    getSettingPoints() {
        let avObj = this.canvas.getActiveObject();
        let polygonCenters = avObj.getCenterPoint();
        let scaleX = avObj.scaleX;
        let scaleY = avObj.scaleY;

        let xc = polygonCenters.x;
        let yc = polygonCenters.y;
        let orgWi = this.layoutInfo.originWidth ? this.layoutInfo.originWidth : 1280;
        let orgHe = this.layoutInfo.originHeight ? this.layoutInfo.originHeight : 960;
        let canvaHe = document.getElementById("canvas-tools").offsetHeight; // this.$refs.can.clientHeight;
        let canvaWi = document.getElementById("canvas-tools").offsetWidth; // this.$refs.can.clientWidth;
        let points = avObj.points;
        let pointStr = "";
        for (let i = 0; i < points.length; i++) {
            //"M196.078,474.51 L1005.1,494.902 L936.078,392.353 L310.588,373.529 L196.078,474.51"
            let x = ((xc + points[i].x * scaleX) / canvaWi * orgWi);
            x = parseFloat(x.toFixed(3))
            let y = ((yc + points[i].y * scaleY) / canvaHe * orgHe);
            y = parseFloat(y.toFixed(3))

            if (i == 0) {
                pointStr += "M" + x + "," + y;
            } else {
                pointStr += " L" + x + "," + y;
            }
        }

        return pointStr;
    },

    getKeyByValue(object, value) {
      return Object.keys(object).find(key => object[key] === value);
    },
    /**************** END draw methods ****************/
  },
};
</script>

<style lang="scss" scoped>
.el-button + .el-button {
  margin-left: 10px;
}
.no-margin-top {
  margin-top: 0;
}
.block {
  display: inline-block;
  margin-right: 20px;
}
.list-detail .item {
  margin-bottom: 10px;
  .label {
    display: inline-block;
    width: 100px;
  }
  img {
    max-width: 100%;
    display: inline-block;
  }
}

/****************/
#tools-top {
  margin: 9px 0;
  background: #fff;
  padding: 8px 0px;
}
#paint-area {
  height: 80vh;
}

#box-area {
   padding: 0px;
   min-height: 200px;
   overflow: scroll;
}
#box-area::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
  border-radius: 0;
  background-color: #F5F5F5;
}
#box-area::-webkit-scrollbar
{
  width: 5px;
  height: 8px;
  background-color: #F5F5F5;
  border-radius: 17px;
}

#box-area::-webkit-scrollbar-thumb
{
  border-radius: 17px;
  -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.3);
  background-color: #ddd;
}

#toolbox::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
  border-radius: 0;
  background-color: #F5F5F5;
}
#toolbox::-webkit-scrollbar
{
  width: 8px;
  height: 8px;
  background-color: #F5F5F5;
  border-radius: 17px;
}
#toolbox::-webkit-scrollbar-thumb
{
  border-radius: 17px;
  -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.3);
  background-color: #979797;
}
#toolbox {
  max-height: calc(100vh - 150px);
  overflow-y: scroll;
  padding-left: 10px;
}

/deep/ .el-collapse-item__header {
  background: #2653d4;
  color: #fff;
  padding: 0px 7px;
  font-size: 14px;
}
#reselect-areas {
  text-decoration: underline;
  cursor: pointer;
  color: #1a73fb;
  font-size: 15px;
  padding: 0px 26px;
}
hr {
  margin-top: 9px;
  margin-bottom: 12px;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
/deep/ .el-form-item {
  margin-bottom: 13px;
}
/deep/ .el-form-item.area-name {
  margin-bottom: 15px;
}
/deep/ .el-color-picker--mini .el-color-picker__trigger {
  height: 27px;
  width: 27px;
}
/deep/ .el-form-item__label, .el-form-item__content {
  color: #4c4c4c;
  font-weight: normal;
  line-height: 22px;
}
/deep/ .el-checkbox-group label, /deep/ .el-checkbox__label {
  font-weight: normal;
}
</style>

<style lang="scss">
.form-value {
  .el-input__inner {
    margin-bottom: 10px;
  }
}
.claim td .el-button {
  margin-left: 0;
}
</style>

<style lang="scss">
  .detail-layout-page {
    .canvas-container {
      z-index: 999;
    }
    .el-message-box__wrapper {
      z-index: 999999;
    }

    height: 100vh;
    label.el-form-item__label {
      padding: 7px 0px;
    }
    .object-apply-cus {
      .el-form-item__label:before {
        content: '*';
        color: #F56C6C;
        margin-right: 4px;
      }
    }
    .item-left {
      width: 48%;
      float: left;
      margin-right: 2%;
    }
    .item-right {
      width: 48%;
      float: left;
      margin-left: 2%;
    }
    .block-item {
      width: 100%;
      float: left;
    }
    .action {
      margin-top: 40px;
      .el-button--success {
        background: #00E381;
        border: initial;
        border-radius: 4px;
        width: 122px;
        height: 35px;
        padding: 0.25rem 0.5rem;
        float: right;
      }
      .el-button--info {
        background: #36b9cc;
        border: initial;
        border-radius: 4px;
        width: 122px;
        height: 35px;
        padding: 0.25rem 0.5rem;
        float: right;
      }
      .el-button--danger {
        background: #f33939;
        border: initial;
        border-radius: 4px;
        width: 122px;
        height: 35px;
        float: right;
        padding: 0.25rem 0.5rem;
        margin-right: 10px;
      }
      span {
        font-size: 14px;
        text-align: center;
      }
    }
  }
</style>
