<template>
  <div class="app-container claim camera-page config-page">
    <!-- Filter -->
    <template>
      <div id="camera-table">
        <div class="filter-container" v-if="multipleSelection.length == 0">
          <template>
            <div class="search-block">
              <el-input
                class="search"
                placeholder=""
                prefix-icon="el-icon-search"
                v-model="searchKeyword"
                @keyup.enter.native="handleFilter()"
              >
              </el-input>
              <Search @clicked="onClickChild"></Search>
              <el-button v-if="canCreate" type="primary" @click="handleCreate()"
              ><i class="el-icon-plus"></i> Thêm mới</el-button>
            </div>
          </template>
        </div>
        <div id="select-all-delete" v-if="multipleSelection.length > 0">
          <i class="el-icon-close" @click="closeDelete()"></i>
          <span v-if="multipleSelection.length < 10"
            >0{{ multipleSelection.length }}</span
          ><span v-else>{{ multipleSelection.length }}</span> mục được chọn
          <el-button
            type="danger"
            @click="destroyMulti()"
            :loading="loading_delete_all"
            v-if="canDelete"
            ><i class="el-icon-delete"></i> Xóa</el-button
          >
        </div>
        <el-table
          @sort-change="sortChange"
          @header-click="headerClick"
          ref="multipleTable"
          :data="cameraList"
          style="width: 100%"
          :row-class-name="tableRowClassName"
          @selection-change="handleSelectionChange"
          @row-click="rowClicked"
        >
          <el-table-column type="selection" width="55"> </el-table-column>

          <el-table-column label="STT" :width="(query.page * query.size).toString().length * 10 + 30">
            <template slot-scope="scope">
              <span>{{
                (query.page - 1) * query.size + scope.$index + 1
              }}</span>
            </template>
          </el-table-column>

          <el-table-column label="Tên" prop="name" sortable>
            <template slot-scope="scope">
              <span>{{ scope.row.name }}</span>
            </template>
          </el-table-column>

          <el-table-column label="Định danh" prop="cameraKey" sortable>
            <template slot-scope="scope">
              <span>{{ scope.row.cameraKey }}</span>
            </template>
          </el-table-column>

          <el-table-column label="Vị trí" prop="site.address" sortable>
            <template slot-scope="scope">
              <span v-if="scope.row.site">{{ scope.row.site.address }}</span>
            </template>
          </el-table-column>

          <el-table-column
            label="Loại thiết bị"
            prop="cameraType.name"
            sortable
          >
            <template slot-scope="scope">
              <span>{{ scope.row.cameraType.name }}</span>
            </template>
          </el-table-column>

          <el-table-column label="Tọa độ" prop="latitude" sortable>
            <template slot-scope="scope">
              <span v-if="scope.row.latitude && scope.row.longitude"
                >{{ scope.row.latitude }}, {{ scope.row.longitude }}</span
              >
            </template>
          </el-table-column>
        </el-table>
        <!-- Phân trang -->
        <p style="clear: both"></p>
        <div style="display: inline-block; padding-top: 13px">
          Tổng số camera: <strong>{{ total }}</strong>
        </div>
        <pagination
          v-show="total > query.size"
          :total="total"
          :page.sync="query.page"
          :layout="layout"
          :limit.sync="query.size"
          @pagination="getList"
        />
      </div>
      <div id="detail-camera" style="width: 0">
        <i class="el-icon-close" @click="closeDetail()"></i>
        <template v-if="cameraDetail">
          <template v-if="objLonLat.latitude">
            <component
              ref="cameraMap"
              v-bind:is="showComponent"
              v-bind:objLonLat="objLonLat"
            ></component>
          </template>

          <template v-if="cameraDetail.id">
            <div class="item-label">ID</div>
            <div class="item-text">{{ cameraDetail.id }}</div>
          </template>

          <template v-if="cameraDetail.name">
            <div class="item-label">Tên</div>
            <div class="item-text">{{ cameraDetail.name }}</div>
          </template>

          <template v-if="cameraDetail.cameraKey">
            <div class="item-label">Định danh</div>
            <div class="item-text">{{ cameraDetail.cameraKey }}</div>
          </template>

          <el-row :gutter="20">
            <el-col :span="24">
              <template v-if="cameraDetail.cameraModel">
                <div class="item-label">Model</div>
                <div class="item-text">{{ cameraDetail.cameraModel }}</div>
              </template>
            </el-col>
            <el-col :span="24">
              <template v-if="cameraDetail.cameraType">
                <div class="item-label">Loại thiết bị</div>
                <div class="item-text">{{ cameraDetail.cameraType.name }}</div>
              </template>
            </el-col>
            <el-col :span="24">
              <template v-if="cameraDetail.site">
                <div class="item-label">Vị trí quan sát</div>
                <div class="item-text">{{ cameraDetail.site.address }}</div>
              </template>
            </el-col>
          </el-row>

          <template v-if="cameraDetail.latitude && cameraDetail.longitude">
            <div class="item-label">Tọa độ</div>
            <div class="item-text">
              {{ cameraDetail.latitude }}, {{ cameraDetail.longitude }}
            </div>
          </template>
          <!-- <template v-if="cameraDetail.urls">
                <div class="item-label">Đường dẫn luồng HLS</div>
                <div class="item-text">{{ cameraDetail.urls.hlsUrl }}</div>
              </template> -->
          <template
            v-if="cameraDetail.urls && cameraDetail.urls.liveUrl != undefined"
          >
            <div class="item-label">Đường dẫn luồng LIVE</div>
            <div class="item-text">{{ cameraDetail.urls.liveUrl }}</div>
          </template>

          <template v-if="cameraDetail.urls">
            <div class="item-label">Đường dẫn luồng RTSP</div>
            <div class="item-text">{{ cameraDetail.urls.streamUrl }}</div>
          </template>

          <div class="action">
            <el-button
              type="primary"
              @click="handleEdit(cameraDetail)"
              v-if="canUpdate"
              ><i class="el-icon-edit"></i> Sửa</el-button
            >
            <el-button type="info" @click="handleListLayout(cameraDetail.id)"
              ><i class="el-icon-document"></i> Quản lý layout</el-button
            >
          </div>
        </template>
      </div>
    </template>

    <!-- Dialog Add -->
    <el-dialog
      title="Thêm mới camera"
      :visible.sync="dialogAdd"
      width="840px"
      @close="closeDialog('addForm')"
      :close-on-click-modal="false"
    >
      <el-form
        :model="cameraInfo"
        :rules="rules"
        ref="addForm"
        label-position="top"
        label-width="100%"
      >
        <div class="block-items">
          <div class="block-left">
            <div class="config-group-field">
              <el-form-item label="Tên" prop="name">
                <el-input maxlength="255" v-model="cameraInfo.name"></el-input>
              </el-form-item>
              <el-form-item label="Định danh" prop="cameraKey">
                <el-input
                  maxlength="255"
                  v-model="cameraInfo.cameraKey"
                ></el-input>
              </el-form-item>
            </div>
            <div class="config-group-field">
              <div class="item-left">
                <el-form-item label="Model" prop="cameraModel">
                  <el-input
                    maxlength="255"
                    v-model="cameraInfo.cameraModel"
                  ></el-input>
                </el-form-item>
              </div>
              <div class="item-right">
                <el-form-item label="Loại thiết bị" prop="cameraType">
                  <el-select
                    v-model="cameraInfo.cameraType"
                    placeholder="Loại thiết bị"
                    style="width: 100%"
                  >
                    <el-option
                      v-for="item in cameraTypeLst"
                      :key="item.id"
                      :label="item.name"
                      :value="item.id"
                    >
                    </el-option>
                  </el-select>
                </el-form-item>
              </div>
            </div>
            <div class="config-group-field">
              <el-form-item label="Vị trí quan sát" prop="siteId">
                <el-select
                  v-model="cameraInfo.siteId"
                  placeholder="Vị trí quan sát"
                  filterable
                  @change="handleSiteMap(cameraInfo.siteId)"
                  style="width: 100%"
                >
                  <el-option
                    v-for="item in siteLst"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
              <div class="item-left">
                <el-form-item label="Vĩ độ" prop="latitude">
                  <el-input
                    maxlength="255"
                    v-model="cameraInfo.latitude"
                  ></el-input>
                </el-form-item>
              </div>
              <div class="item-right">
                <el-form-item label="Kinh độ" prop="longitude">
                  <el-input
                    maxlength="255"
                    v-model="cameraInfo.longitude"
                  ></el-input>
                </el-form-item>
              </div>
            </div>
            <!-- <el-form-item label="Đường dẫn luồng HLS" prop="hlsUrl">
                  <el-input v-model="cameraInfo.hlsUrl"></el-input>
                </el-form-item> -->

            <div v-if="cameraInfo.cameraType == 236">
              <br />
            </div>
            <div v-else>
              <el-form-item label="Đường dẫn luồng LIVE" prop="liveUrl">
                <el-input
                  maxlength="255"
                  v-model="cameraInfo.liveUrl"
                ></el-input>
              </el-form-item>
              <el-form-item label="Đường dẫn luồng RTSP" prop="streamUrl">
                <el-input
                  maxlength="255"
                  v-model="cameraInfo.streamUrl"
                ></el-input>
              </el-form-item>
            </div>
          </div>

          <div class="block-right">
            <component
              v-bind:is="showComponentAction"
              v-bind:longitude="cameraInfo.longitude"
              v-bind:latitude="cameraInfo.latitude"
              @changeLongitude="
                (newLongitude) => {
                  cameraInfo.longitude = newLongitude;
                }
              "
              @changeLatitude="
                (newLatitude) => {
                  cameraInfo.latitude = newLatitude;
                }
              "
            ></component>
          </div>
        </div>
      </el-form>

      <div slot="footer" class="dialog-footer">
        <el-button type="danger" @click="dialogAdd = false">Thoát</el-button>
        <el-button type="primary" @click="addCamera()" :loading="loadingAdd"
          >LƯU</el-button
        >
      </div>
    </el-dialog>

    <!-- Dialog Edit -->
    <el-dialog
      title="Sửa camera"
      :visible.sync="dialogEdit"
      width="840px"
      @close="closeDialog('editForm')"
      :close-on-click-modal="false"
    >
      <el-form
        :model="cameraInfo"
        :rules="rules"
        ref="editForm"
        label-position="top"
        label-width="200px"
      >
        <div class="block-items">
          <div class="block-left">
            <div class="config-group-field">
              <el-form-item label="Tên" prop="name">
                <el-input maxlength="255" v-model="cameraInfo.name"></el-input>
              </el-form-item>
              <el-form-item label="Định danh" prop="cameraKey">
                <el-input
                  maxlength="255"
                  v-model="cameraInfo.cameraKey"
                ></el-input>
              </el-form-item>
            </div>
            <div class="config-group-field">
              <div class="item-left">
                <el-form-item label="Model" prop="cameraModel">
                  <el-input
                    maxlength="255"
                    v-model="cameraInfo.cameraModel"
                  ></el-input>
                </el-form-item>
              </div>

              <div class="item-right">
                <el-form-item label="Loại thiết bị" prop="cameraType">
                  <el-select
                    v-model="cameraInfo.cameraType"
                    placeholder="Loại thiết bị"
                    style="width: 100%"
                  >
                    <el-option
                      v-for="item in cameraTypeLst"
                      :key="item.id"
                      :label="item.name"
                      :value="item.id"
                    >
                    </el-option>
                  </el-select>
                </el-form-item>
              </div>
            </div>
            <div class="config-group-field">
              <el-form-item label="Vị trí quan sát" prop="siteId">
                  <el-select
                    v-model="cameraInfo.siteId"
                    placeholder="Vị trí quan sát"
                    filterable
                    @change="handleSiteMap(cameraInfo.siteId)"
                    style="width: 100%"
                  >
                    <el-option
                      v-for="item in siteLst"
                      :key="item.id"
                      :label="item.name"
                      :value="item.id"
                    >
                    </el-option>
                  </el-select>
              </el-form-item>
              <div class="item-left">
                <el-form-item label="Vĩ độ" prop="latitude">
                  <el-input
                    maxlength="255"
                    v-model="cameraInfo.latitude"
                  ></el-input>
                </el-form-item>
              </div>
              <div class="item-right">
                <el-form-item label="Kinh độ" prop="longitude">
                  <el-input
                    maxlength="255"
                    v-model="cameraInfo.longitude"
                  ></el-input>
                </el-form-item>
              </div>
            </div>
            <!-- <el-form-item label="Đường dẫn luồng HLS" prop="hlsUrl">
                <el-input v-model="cameraInfo.hlsUrl"></el-input>
              </el-form-item> -->
            <div v-if="cameraInfo.cameraType == 236">
              <br />
            </div>
            <div v-else>
              <el-form-item label="Đường dẫn luồng LIVE" prop="liveUrl">
                <el-input
                  maxlength="255"
                  v-model="cameraInfo.liveUrl"
                ></el-input>
              </el-form-item>
              <el-form-item label="Đường dẫn luồng RTSP" prop="streamUrl">
                <el-input
                  maxlength="255"
                  v-model="cameraInfo.streamUrl"
                ></el-input>
              </el-form-item>
            </div>
          </div>

          <div class="block-right">
            <component
              v-bind:is="showComponentAction"
              v-bind:longitude="cameraInfo.longitude"
              v-bind:latitude="cameraInfo.latitude"
              @changeLongitude="
                (newLongitude) => {
                  cameraInfo.longitude = newLongitude;
                }
              "
              @changeLatitude="
                (newLatitude) => {
                  cameraInfo.latitude = newLatitude;
                }
              "
            ></component>
          </div>
        </div>
      </el-form>

      <div slot="footer" class="dialog-footer">
        <el-button type="danger" @click="dialogEdit = false">Thoát</el-button>
        <el-button type="primary" @click="editCamera()" :loading="loadingEdit"
          >Cập nhật</el-button
        >
      </div>
    </el-dialog>

    <!-- Dialog list layout -->
    <el-dialog
      title="Quản lý layout"
      :visible.sync="dialogLayout"
      width="1200px"
      :close-on-click-modal="false"
    >
      <list-layouts v-bind:cameraId="cameraIdSelected"></list-layouts>
    </el-dialog>

    <!-- Dialog create layout -->
    <el-dialog
      title="Tạo mới layout"
      :visible.sync="dialogCreateLayout"
      width="1000px"
      :close-on-click-modal="false"
    >
      <create-layout
        v-bind:cameraId="cameraIdSelected"
        ref="createLayout"
      ></create-layout>
      <div slot="footer" class="dialog-footer">
        <el-button type="warning" @click="removeImageLayout()">XÓA</el-button>
        <el-button type="primary" @click="addLayout()">TẠO MỚI</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import Pagination from "@/components/Pagination_custom";
import PointMap from "@/components/PointMap";
import PointMapDetail from "@/components/PointMapDetail";
import ListLayouts from "./components/ListLayouts";
import CreateLayout from "./components/CreateLayout";
import Search from "@/components/Search/search-camera";
import waves from "@/directive/waves"; // Waves directive
import { isLongitude, isLatitude } from "@/utils/validate";
import { getData } from "@/api/model-base-resources";
import Resource from "@/api/resource";
const siteResource = new Resource("systemconfig/sites");
const cameraResource = new Resource("systemconfig/camera");

export default {
  components: {
    Pagination,
    PointMap,
    PointMapDetail,
    ListLayouts,
    CreateLayout,
    Search,
  },
  directives: { waves },
  data() {
    const validateLng = (rule, value, callback) => {
      if (!isLongitude(value)) {
        callback(new Error("Vui lòng nhập đúng định dạng"));
      } else {
        callback();
      }
    };
    const validateLat = (rule, value, callback) => {
      if (!isLatitude(value)) {
        callback(new Error("Vui lòng nhập đúng định dạng"));
      } else {
        callback();
      }
    };
    return {
      flag_active: null,
      layout: "first, prev, pager, next, last",
      cameraIdSelected: "",
      objLonLat: {},
      countClickDetail: 0,
      isClickDetail: false,
      isClickCreateOrEdit: false,
      loading: true,
      loadingAdd: false,
      loadingEdit: false,
      loading_delete_all: false,
      dialogAdd: false,
      dialogEdit: false,
      dialogLayout: false,
      dialogCreateLayout: false,
      multipleSelection: [],
      cameraInfo: {
        id: null,
        name: "",
        cameraKey: "",
        cameraModel: "",
        cameraType: "",
        siteId: "",
        longitude: "",
        latitude: "",
        setupAttributes: {
          farestSp: "",
          nearestSp: "",
          focalLength: "",
          installationHeight: "",
        },
        urls: {
          hlsUrl: "",
          hlsUsername: "admin",
          hlsPassword: "admin",
          streamUrl: "",
          streamUsername: "admin",
          streamPassword: "admin",
          liveUrl: "",
        },
        hlsUrl: "",
        streamUrl: "",
        liveUrl: "",
        status: "ENABLE", // 0: DISABLE; 1: ENABLE
        cameraStatus: "SETUP", // 1: SETUP; 2: STOP; 3: RUNNING; 4: MAINTAIN
        notes: "",
      },
      statusLst: [
        {
          value: "ENABLE",
          label: "Hoạt động",
        },
        {
          value: "DISABLE",
          label: "Không hoạt động",
        },
      ],
      cameraStatusLst: [
        {
          value: "SETUP",
          label: "SETUP",
        },
        {
          value: "STOP",
          label: "STOP",
        },
        {
          value: "RUNNING",
          label: "RUNNING",
        },
        {
          value: "MAINTAIN",
          label: "MAINTAIN",
        },
      ],
      siteLst: [],
      listAiEngine: [],
      cameraTypeLst: [],
      cameraList: [],
      cameraDetail: {},
      total: 0,
      searchKeyword: null,
      query: {
        page: 0,
        size: 15,
        keyword: this.searchKeyword,
      },
      rules: {
        name: [
          { required: true, message: "Tên là bắt buộc", trigger: "blur" },
          { max: 255, message: "Tên tối đa 255 ký tự", trigger: "blur" },
        ],
        cameraKey: [
          { required: true, message: "Định danh là bắt buộc", trigger: "blur" },
          { max: 255, message: "Định danh tối đa 255 ký tự", trigger: "blur" },
        ],
        cameraModel: [
          { required: true, message: "Model là bắt buộc", trigger: "blur" },
          { max: 255, message: "Model tối đa 255 ký tự", trigger: "blur" },
        ],
        cameraType: [
          {
            required: true,
            message: "Loại thiết bị là bắt buộc",
            trigger: "blur",
          },
        ],
        siteId: [
          {
            required: true,
            message: "Vị trí quan sát là bắt buộc",
            trigger: "blur",
          },
        ],
        longitude: [
          { required: true, message: "Kinh độ là bắt buộc", trigger: "blur" },
          { validator: validateLng },
        ],
        latitude: [
          { required: true, message: "Vĩ độ là bắt buộc", trigger: "blur" },
          { validator: validateLat },
        ],
        hlsUrl: [
          {
            required: true,
            message: "Đường dẫn luồng HLS là bắt buộc",
            trigger: "blur",
          },
          {
            max: 255,
            message: "Đường dẫn luồng HLS tối đa 255 ký tự",
            trigger: "blur",
          },
        ],
        streamUrl: [
          {
            required: true,
            message: "Đường dẫn luồng RTSP là bắt buộc",
            trigger: "blur",
          },
          {
            max: 255,
            message: "Đường dẫn luồng RTSP tối đa 255 ký tự",
            trigger: "blur",
          },
        ],
        liveUrl: [
          // {
          //   required: true,
          //   message: "Đường dẫn luồng LIVE là bắt buộc",
          //   trigger: "blur",
          // },
          {
            max: 255,
            message: "Đường dẫn luồng LIVE tối đa 255 ký tự",
            trigger: "blur",
          },
        ],
      },
      canRead: false,
      canCreate: false,
      canUpdate: false,
      canDelete: false,
      isCheckedFire: false,
      isCheckedCrowd: false,
      isCheckedEncroaching: false,
      isCheckedLiterring: false,
      isCheckedFlooding: false,
    };
  },
  computed: {
    showComponent: function () {
      let component = "";
      if (this.isClickDetail) {
        component = PointMapDetail;
      }
      return component;
    },
    showComponentAction: function () {
      let componentAction = "";
      if (this.isClickCreateOrEdit) {
        componentAction = PointMap;
      }
      return componentAction;
    },
  },
  created() {
    this.canRead = this.$root.checkRole(this.$route.fullPath, "canRead");
    this.canCreate = this.$root.checkRole(this.$route.fullPath, "canCreate");
    this.canUpdate = this.$root.checkRole(this.$route.fullPath, "canUpdate");
    this.canDelete = this.$root.checkRole(this.$route.fullPath, "canDelete");
    this.init();
  },

  methods: {
    async init() {
      await this.getList();
    },
    async getCameraTypes() {
      const { data } = await getData("/systemconfig/camera/camera-types");
      if (data && data.length > 0) {
        this.cameraTypeLst = data;
      }
    },
    async getSiteList() {
      let queryCustom = {
        page: 0,
        size: 200,
      };
      let result = await siteResource.list(queryCustom);
      if (result && result.data) {
        this.siteLst = result.data;
      }
    },
    async getList() {
      this.loading = true;
      if (this.searchKeyword) {
        this.searchKeyword = this.searchKeyword.trim();
      }
      let queryCustom = {
        page: this.query.page,
        size: this.query.size,
        getfull: true,
        address: this.query.address,
        typeCamera: this.query.typeCamera,
        search: this.searchKeyword ? this.searchKeyword.trim() : "",
      };
      if (this.query.page > 0) {
        queryCustom.page = this.query.page - 1;
        queryCustom.size = this.query.size;
      }

      const { data, total } = await cameraResource.list(queryCustom);
      if (data) {
        this.cameraList = data;
      } else {
        this.cameraList = [];
      }
      if (total) {
        this.total = total;
      } else {
        this.total = 0;
      }

      this.loading = false;
    },

    onClickChild(value) {
      if (value) {
        this.query.address = value.address;
        this.query.typeCamera = value.typeCamera;
      }
      this.handleFilter();
    },

    handleSiteMap(idSite) {
      const filterSite = this.siteLst.filter((f) => f.id == idSite);
      this.cameraInfo.longitude = filterSite[0].longitude;
      this.cameraInfo.latitude = filterSite[0].latitude;
    },

    addLayout() {
      this.$refs.createLayout.addLayout();
    },
    removeImageLayout() {
      this.$refs.createLayout.destroyMulti();
    },

    closeDelete() {
      this.$refs.multipleTable.clearSelection();
      this.multipleSelection = [];
    },
    closeDetail() {
      this.isClickDetail = false;
      this.countClickDetail = 0;
      document.getElementById("detail-camera").style.display = "none";
      document.getElementById("detail-camera").style.width = "0";
      document.getElementById("camera-table").style.width = "calc(100%)";
    },
    async rowClicked(row) {
      this.countClickDetail++;
      this.flag_active = row.id;
      const { data } = await cameraResource.get(row.id);
      if (data) {
        this.cameraDetail = data;
        this.listAiEngine = this.cameraDetail.aiEngineJson;
        if (this.cameraDetail) {
          this.isClickDetail = true;
          this.objLonLat = {
            id: row.id,
            longitude: row.longitude,
            latitude: row.latitude,
          };
          // show component
          this.showComponent;

          document.getElementById("camera-table").style.width =
            "calc(100% - 445px)";
          setTimeout(() => {
            document.getElementById("detail-camera").style.display = "block";
            document.getElementById("detail-camera").style.width = "420px";
            if (this.countClickDetail == 1 && row.longitude) {
              this.$refs.cameraMap.renderMap();
            }
          }, 500);
        }
      } else {
        this.$message({
          message: "Thiết bị không tồn tại",
          type: "error",
        });
        this.handleFilter();
      }
    },

    destroyMulti() {
      this.$confirm("Bạn có chắc chắn muốn xóa lựa chọn này?", "", {
        confirmButtonText: "Xác nhận",
        cancelButtonText: "Thoát",
        type: "warning",
      })
        .then(() => {
          this.loading_delete_all = true;
          let params = this.multipleSelection.map(function (val) {
            return val.id;
          });
          params = {
            idCameraList: params,
          };
          cameraResource
            .destroyMulti(params)
            .then((response) => {
              this.loading_delete_all = false;
              if (response.status === 200) {
                this.multipleSelection = [];
                this.cameraDetail = {};
                this.closeDetail();
                this.handleFilter();
                this.$message({
                  message: "Xóa thành công",
                  type: "success",
                });
              }
            })
            .catch(() => {
              this.loading_delete_all = false;
            });
        })
        .catch(() => {});
    },

    handleFilter() {
      this.query.page = 1;
      this.getList();
    },

    async handleCreate() {
      this.resetDialog();

      this.isClickCreateOrEdit = true;
      this.showComponentAction;
      this.dialogAdd = true;

      await this.getCameraTypes();
      await this.getSiteList();
    },

    async handleEdit(data) {
      this.isClickCreateOrEdit = true;
      this.showComponentAction;
      let infos = _.cloneDeep(data);
      this.cameraInfo = {
        id: infos.id,
        name: infos.name,
        cameraKey: infos.cameraKey,
        cameraModel: infos.cameraModel,
        cameraType: infos.cameraType.id,
        siteId: infos.site ? infos.site.id : null,
        longitude: infos.longitude ? infos.longitude : "",
        latitude: infos.latitude ? infos.latitude : "",
        setupAttributes: infos.setupAttributes,
        urls: infos.urls,
        hlsUrl: infos.urls ? infos.urls.hlsUrl : null,
        streamUrl: infos.urls ? infos.urls.streamUrl : null,
        liveUrl: infos.urls ? infos.urls.liveUrl : null,
        status: infos.status,
        cameraStatus: infos.cameraStatus,
        notes: infos.notes,
      };

      this.dialogEdit = true;
      this.$nextTick(() => {
        this.$refs["editForm"].clearValidate();
      });

      await this.getCameraTypes();
      await this.getSiteList();
    },

    handleListLayout(cameraId) {
      this.cameraIdSelected = cameraId;
      this.dialogLayout = true;
    },
    handleCreateLayout() {
      this.dialogLayout = false;
      this.dialogCreateLayout = true;
    },

    addCamera() {
      this.$refs.addForm.validate((valid) => {
        if (valid) {
          this.loadingAdd = true;

          this.cameraInfo.urls.hlsUrl = this.cameraInfo.hlsUrl;
          this.cameraInfo.urls.streamUrl = this.cameraInfo.streamUrl;
          this.cameraInfo.urls.liveUrl = this.cameraInfo.liveUrl;
          const params = {
            name:
              this.cameraInfo.name != null && this.cameraInfo.name != ""
                ? this.cameraInfo.name.trim()
                : "",
            cameraKey:
              this.cameraInfo.cameraKey != null &&
              this.cameraInfo.cameraKey != ""
                ? this.cameraInfo.cameraKey.trim()
                : "",
            cameraModel:
              this.cameraInfo.cameraModel != null &&
              this.cameraInfo.cameraModel != ""
                ? this.cameraInfo.cameraModel.trim()
                : "",
            cameraType: parseInt(this.cameraInfo.cameraType),
            siteId: this.cameraInfo.siteId,
            longitude: parseFloat(this.cameraInfo.longitude),
            latitude: parseFloat(this.cameraInfo.latitude),
            setupAttributes: this.cameraInfo.setupAttributes,
            urls: this.cameraInfo.urls,
            status: this.cameraInfo.status,
            cameraStatus: this.cameraInfo.cameraStatus,
            notes:
              this.cameraInfo.notes != null && this.cameraInfo.notes != ""
                ? this.cameraInfo.notes.trim()
                : "",
          };
          cameraResource
            .store(params)
            .then((response) => {
              this.loadingAdd = false;
              if (response.status === 200 || response.status === 201) {
                this.handleFilter();
                this.dialogAdd = false;
                this.resetDialog();
                this.$message({
                  message: "Thêm mới thành công",
                  type: "success",
                });
              }
            })
            .catch(() => {
              this.loadingAdd = false;
            });
        } else {
          return false;
        }
      });
    },

    editCamera() {
      this.$refs.editForm.validate((valid) => {
        if (valid) {
          this.loadingEdit = true;
          let infos = _.cloneDeep(this.cameraInfo);
          if (infos.urls) {
            infos.urls.hlsUrl = infos.hlsUrl;
            infos.urls.streamUrl = infos.streamUrl;
            infos.urls.liveUrl = infos.liveUrl;
          }
          const params = {
            name:
              infos.name != null && infos.name != "" ? infos.name.trim() : "",
            cameraKey:
              infos.cameraKey != null && infos.cameraKey != ""
                ? infos.cameraKey.trim()
                : "",
            cameraModel:
              infos.cameraModel != null && infos.cameraModel != ""
                ? infos.cameraModel.trim()
                : "",
            cameraType: parseInt(infos.cameraType),
            siteId: infos.siteId,
            longitude: parseFloat(infos.longitude),
            latitude: parseFloat(infos.latitude),
            setupAttributes: infos.setupAttributes,
            urls: infos.urls,
            status: infos.status,
            cameraStatus: infos.cameraStatus,
            notes:
              infos.notes != null && infos.notes != ""
                ? infos.notes.trim()
                : "",
          };
          cameraResource
            .update(infos.id, params)
            .then((response) => {
              this.loadingEdit = false;
              if (response.status === 200 || response.status === 201) {
                this.rowClicked(response.data);
                this.handleFilter();
                this.dialogEdit = false;
                this.$message({
                  message: "Sửa thành công",
                  type: "success",
                });
              }
            })
            .catch(() => {
              this.loadingEdit = false;
            });
        } else {
          return false;
        }
      });
    },

    resetDialog() {
      this.cameraInfo = {
        id: null,
        name: "",
        cameraKey: "",
        cameraModel: "",
        cameraType: "",
        siteId: "",
        longitude: "",
        latitude: "",
        setupAttributes: {
          farestSp: "",
          nearestSp: "",
          focalLength: "",
          installationHeight: "",
        },
        urls: {
          hlsUrl: "",
          hlsUsername: "admin",
          hlsPassword: "admin",
          streamUrl: "",
          streamUsername: "admin",
          streamPassword: "admin",
          liveUrl: "",
        },
        hlsUrl: "",
        streamUrl: "",
        liveUrl: "",
        status: "ENABLE",
        cameraStatus: "SETUP",
        notes: "",
      };
    },
    closeDialog(formName) {
      this.isClickCreateOrEdit = false;
      this.$refs[formName].clearValidate();
      this.$refs[formName].resetFields();
    },

    handleSelectionChange(val) {
      this.multipleSelection = val;
    },

    sortChange(sortProps) {
      this.headerClick(sortProps.column, event); //optional: trigger header-click event
    },
    headerClick(column, event) {
      // console.log("Header clicked: " + JSON.stringify(column));
    },
    tableRowClassName(row) {
      if (row.row.id == this.flag_active) {
        return "active-row";
      }
      return "";
    },
  },
};
</script>

<style lang="scss">
.camera-page {
  .el-form-item {
    margin-bottom: 15px;
  }
  .el-input input {
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    border: solid 1px #9999;
  }
  .el-icon-camera-solid {
    font-size: 25px;
    color: #9a9a9a;
    position: relative;
    top: -50px;
    left: 54px;
    background: #dfdfdf;
    border-radius: 50%;
    padding: 8px;
    border: 1px solid white;
  }
  .img_avatar {
    text-align: center;
    padding-top: 25px;
    img {
      border-radius: 50%;
    }
  }
  .el-dialog {
    margin-top: 80px !important;
  }
  .item-left {
    width: 48%;
    float: left;
    margin-right: 2%;
  }
  .item-right {
    width: 48%;
    float: left;
    margin-left: 2%;
  }

  .block-items {
    width: 100%;
    display: flex;
    .block-left {
      width: calc(49% - 10px);
      margin-right: 10px;
      .block-site {
        float: left;
        display: inline-flex;
        column-gap: 15px;
      }
    }
    .block-right {
      width: calc(50%);
      margin-left: 10px;
      position: relative;
      margin-bottom: 5px;
    }
  }
  .el-dialog__header {
    padding: 0;
    background: #006fe3;
    height: 40px;
    line-height: 40px;
    text-align: center;
    .el-dialog__title {
      color: white;
    }
    .el-icon-close {
      color: white;
      font-size: 22px;
      top: -10px;
      position: relative;
    }
  }
  .el-dialog__body {
    .el-form-item__label {
      padding-bottom: 0;
      font-size: 14px;
      color: #363030;
      font-weight: 500;
    }
  }
  .el-dialog__footer {
    clear: both;
    padding-bottom: 25px;
    .el-button--primary {
      background: #1f7ff5;
      height: 40px;
      border-radius: 5px;
      width: 147px;
      text-transform: uppercase;
      font-weight: bold;
      border-color: #1f7ff5;
    }
    .el-button--danger {
      background: #9e9e9e;
      height: 40px;
      border-radius: 5px;
      width: 147px;
      text-transform: uppercase;
      font-weight: bold;
      border-color: #9e9e9e;
      float: left;
    }
    .el-button--warning {
      background: #ff6161;
      height: 40px;
      border-radius: 5px;
      width: 147px;
      text-transform: uppercase;
      font-weight: bold;
      border-color: #ff6161;
      float: left;
    }
  }
  #select-all-delete {
    clear: both;
    height: 63px;
    line-height: 63px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ff4646;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    .el-icon-close {
      font-size: 25px;
      margin-left: 20px;
      margin-right: 35px;
      position: relative;
      top: 4px;
      cursor: pointer;
    }
    button {
      background: #e00000;
      border: initial;
      border-radius: 5px;
      float: right;
      display: inline-block;
      margin-top: 15px;
      margin-right: 15px;
    }
  }
  .action {
    // margin-top: 40px;
    .el-button--primary {
      background: #64789a;
      border: initial;
      border-radius: 4px;
      width: 147px;
      height: 40px;
    }
    .el-button--success {
      background: #ff6161;
      border: initial;
      border-radius: 4px;
      width: 147px;
      height: 40px;
      float: right;
    }
    .el-button--info {
      background: #26c6da;
      border: initial;
      border-radius: 4px;
      width: 147px;
      height: 40px;
      float: right;
    }
  }
  #detail-camera {
    position: relative;
    /* transition: width 1s;
      -moz-transition: width 1s;
      -webkit-transition: width 1s;
      -o-transition: width 1s;*/
    width: 0;
    background: white;
    padding: 25px;
    float: left;
    margin-left: 25px;
    display: none;
    overflow: hidden;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    .avatar {
      text-align: center;
      margin-bottom: 25px;
      margin-top: 25px;
      img {
        border-radius: 50%;
      }
    }
    .item-label {
      color: #363030;
      font-weight: bold;
      font-size: 14px;
      margin-bottom: 10px;
    }
    .item-text {
      color: black;
      font-size: 16px;
      margin-bottom: 20px;
      opacity: 0.6;
      word-break: break-all;
    }
    .el-icon-close {
      background: #e3e3e3;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      text-align: center;
      line-height: 30px;
      color: #878787;
      font-size: 16px;
      position: absolute;
      right: 10px;
      top: 10px;
      cursor: pointer;
      z-index: 999;
    }
  }
  .el-table th > .cell {
    text-align: left;
  }
  .el-table tr > th:first-child .cell {
    text-align: center;
  }
  .el-table th {
    color: black;
    font-size: 14px;
  }
  .el-table td {
    color: black;
    font-size: 14px;
  }
  .el-table tr td:first-child {
    text-align: center;
  }
  .el-table td:first-child .cell {
    display: inline-block;
  }
  .filter-container {
    padding-bottom: 20px;
  }
  tbody {
    tr {
      cursor: pointer;
    }
  }
  .search-block {
    text-align: left;
    float: left;
    width: 100%;
    margin-bottom: 20px;
    .search {
      float: left;
      width: 272px;
      display: inline;
      input {
        width: 272px;
        height: 36px !important;
        line-height: 36px !important;
        border: solid 1px #9999;
        border-radius: 5px;
        padding-left: 40px;
      }
      .el-icon-search {
        line-height: 16px;
        font-size: 19px;
        color: #666;
      }
      span {
        left: 10px;
      }
    }
    button {
      background: #1f7ff5;
      border-radius: 4px;
      height: 40px !important;
      width: 147px;
      margin-left: 15px;
      border-color: #1f7ff5;
      float: right;
      span {
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
}
</style>
