<template>
  <div>
    <div id="container">
      <img ondragstart="return false" id="drag-img" :src="src" />
    </div>
    <input type="button" id="zoomout" class="button" value="Thu nhỏ" />
    <input type="button" id="zoomin" class="button" value="Phóng to" />
  </div>
</template>

<script>
export default {
  props: {
    src: {
      type: String,
      default: "",
    },
  },
  data() {
    return {};
  },
  methods: {
    init() {
      var img_ele = null;
      var x_img_ele = 0;
      var y_img_ele = 0;
      function zoom(zoomincrement) {
        img_ele = document.getElementById("drag-img");
        var pre_width = img_ele.getBoundingClientRect().width,
          pre_height = img_ele.getBoundingClientRect().height;
        img_ele.style.width = pre_width * zoomincrement + "px";
        img_ele.style.height = pre_height * zoomincrement + "px";
        img_ele = null;
      }

      document.getElementById("zoomout").addEventListener("click", function () {
        document.getElementById("drag-img").style.cursor = "zoom-out";
        zoom(0.5);
      });
      document.getElementById("zoomin").addEventListener("click", function () {
        document.getElementById("drag-img").style.cursor = "zoom-in";
        zoom(1.5);
      });

      function start_drag() {
        img_ele = this;
        x_img_ele = window.event.clientX - document.getElementById("drag-img").offsetLeft;
        y_img_ele = window.event.clientY - document.getElementById("drag-img").offsetTop;
        console.log("start drag");
      }

      function stop_drag() {
        img_ele = null;
        console.log("stop drag");
      }

      function while_drag() {
        var x_cursor = window.event.clientX;
        var y_cursor = window.event.clientY;
        if (img_ele !== null) {
          img_ele.style.left = x_cursor - x_img_ele + "px";
          img_ele.style.top = window.event.clientY - y_img_ele + "px";
          console.log(
            "dragging > img_left:" +
              img_ele.style.left +
              " | img_top: " +
              img_ele.style.top
          );
        }
      }

      document.getElementById("drag-img").addEventListener("mousedown", start_drag);
      document.getElementById("container").addEventListener("mousemove", while_drag);
      document.getElementById("container").addEventListener("mouseup", stop_drag);
    },
  },
  mounted() {
    this.init();
  },
};
</script>

<style lang="scss" scoped>
    #drag-img {
        cursor: zoom-in;
        position: relative;
        width: 100%;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
    }

    #container {
        overflow: hidden;
        background: white;
        height: 450px;
        width: 100%;
        border: 1px solid #212121;
    }

    .button {
        width: 200px;
        height: 50px;
        margin: 10px 10px 0 0;
    }
</style>