<template>
  <div class="app-container claim my-patrol-schedule" v-if="canRead">
    <!-- Filter -->
    <template>
      <div class="filter-container">
        <template>
          <div class="search-block">
            <el-input class="search"
                      placeholder=""
                      prefix-icon="el-icon-search"
                      v-model="query.searchKeyword" @keyup.enter.native="handleFilter()">
            </el-input>
            <div class="filter-month">
              <i class="el-icon-arrow-left" @click="selectDate('previous')"></i>
              <span :class="{active:!flagToday}"
                    @click="selectDate('month')">Th{{ monthSearch }}, {{ yearSearch }}</span>
              <i class="el-icon-arrow-right" @click="selectDate('next')"></i>
            </div>
            <el-button class="today" :class="{active:flagToday}" @click="selectDate('today')" type="primary"
            >Hôm nay
            </el-button>
          </div>
        </template>
      </div>
      <div id="user-table">
        <el-table
            ref="multipleTable"
            :data="myPatrol"
            style="width: 100%"
            :row-class-name="tableRowClassName"
            @row-click="rowClicked">
          <el-table-column label="ID" type="index">
          </el-table-column>
          <el-table-column label="Tên tiêu đề">
            <template slot-scope="scope">
              <span>{{ scope.row.title }}</span>
            </template>
          </el-table-column>

          <el-table-column label="Thời gian bắt đầu" width="225">
            <template slot-scope="scope">
              <span>{{ scope.row.startTime|formatDateVietNamTimeDate }}</span>
            </template>
          </el-table-column>

          <el-table-column label="Thời gian kết thúc" width="225">
            <template slot-scope="scope">
              <span>{{ scope.row.endTime|formatDateVietNamTimeDate }}</span>
            </template>
          </el-table-column>

          <el-table-column label="Mô tả">
            <template slot-scope="scope">
              <span>{{ scope.row.description }}</span>
            </template>
          </el-table-column>
          <el-table-column label="Trạng thái" width="180">
            <template slot-scope="scope">
              <span>{{ detectStatus(scope.row.startTime, scope.row.endTime) }}</span>
            </template>
          </el-table-column>
        </el-table>
        <!-- Phân trang -->
        <p style="clear:both;"></p>
        <div style="display: inline-block; padding-top: 13px">
          Tổng số lịch tuần tra: <strong>{{ total }}</strong>
        </div>
        <pagination v-show="total>query.size" :total="total" :page.sync="query.page" :layout="layout"
                    :limit.sync="query.size" @pagination="getList"/>
      </div>
      <div id="detail-user" style="width: 0;" v-if="patrolDetail">
        <i class="el-icon-close close-detail" @click="closeDetail()"></i>
        <el-row :gutter="20">
          <div class="form-violation">
            <!-- form nhap thong tin -->
            <div class="violation-ruleForm patrol-detail">
              <template v-if="patrolDetail.sites&&patrolDetail.sites.length>0">
                <mapPatrol :key="flag_active" :data="patrolDetail.sites"></mapPatrol>
              </template>
              <h4 class="item-input">{{ patrolDetail.title }}</h4>
              <div class="item">
                <el-col :span="12" class="item-input">
                  <div class="image"><img style="position: relative; top: -2px;" src="@/assets/images/patrol/clock.png"
                                          alt=""/></div>
                  <div class="content">
                    <div class="title">
                      Thời gian bắt đầu
                    </div>
                    <div class="descript">{{ patrolDetail.startTime|formatDateVietNamTimeDate }}</div>
                  </div>
                </el-col>
                <el-col :span="12" class="item-input">
                  <div class="image"><img src="@/assets/images/patrol/clock_black.png" alt=""/></div>
                  <div class="content">
                    <div class="title">Thời gian kết thúc</div>
                    <div class="descript">{{ patrolDetail.endTime|formatDateVietNamTimeDate }}</div>
                  </div>
                </el-col>
              </div>
              <div class="item">
                <el-col :span="12" class="item-input">
                  <div class="image"><img src="@/assets/images/patrol/file.png" alt=""/></div>
                  <div class="content">
                    <div class="title">Trạng thái</div>
                    <div class="descript">{{ detectStatus(patrolDetail.startTime, patrolDetail.endTime) }}</div>
                  </div>
                </el-col>
                <el-col :span="patrolDetail.receivers.length > 1 ? 24 : 12" class="item-input">
                  <div class="image"><img src="@/assets/images/patrol/user-group.png" alt=""/></div>
                  <div class="content">
                    <div class="title">Thành viên</div>
                    <div class="descript">
                      <template v-if="patrolDetail.receivers&&patrolDetail.receivers.length>0">
                        {{ patrolDetail.receivers.map(val => val.name).join(', ') }}
                        <!--                        		<span v-for="(val,ind) in patrolDetail.receivers" :key="ind">-->
                        <!--                        			<span v-if="ind>0">,</span> {{val.name}}-->
                        <!--                        		</span>-->
                      </template>
                    </div>
                  </div>
                </el-col>
              </div>
              <div class="item">
                <el-col :span="24" class="item-input">
                  <div class="image"><img src="@/assets/images/patrol/file_black.png" alt=""/></div>
                  <div class="content">
                    <div class="title">Mô tả</div>
                    <div class="descript">{{ patrolDetail.description }}</div>
                  </div>
                </el-col>
              </div>
              <div class="line"></div>
              <h5 class="item-input">Danh sách vị trí giám sát</h5>
              <div class="item" v-if="patrolDetail.sites && patrolDetail.sites.length>0">
                <template>
                  <el-table
                      :data="patrolDetail.sites"
                      style="width: 100%">
                    <el-table-column
                        type="index"
                        label="STT"
                        :width="(query.page * query.size).toString().length * 10 + 30"
                    >
                    </el-table-column>
                    <el-table-column
                        label="Tên vị trí">
                      <template slot-scope="scope">
                        <span>{{ scope.row.name }}</span>
                      </template>
                    </el-table-column>
                  </el-table>
                </template>
              </div>
            </div>
          </div>
        </el-row>
        <!-- Cập nhật trạng thái vi phạm -->
        <!-- ket thuc -->
      </div>
    </template>
    <!-- ket thuc -->
  </div>
</template>

<script>

import Pagination from "@/components/Pagination_custom"
import waves from "@/directive/waves" // Waves directive
import Resource from "@/api/resource"
import mapPatrol from "./components/map"

const myPatrolResource = new Resource("systemconfig/violation-track/violation-track-user")

export default {
  components: {Pagination, mapPatrol},
  directives: {waves},
  data() {
    return {
      flag_active: null,
      renderComponent: true,
      myPatrol: [],
      layout: 'first, prev, pager, next, last',
      url: null,
      loading: true,
      violationList: [],
      patrolDetail: null,
      base_url_img: process.env.VUE_APP_URL_IMAGE,
      total: 0,
      searchKeyword: null,
      createNotify: false,
      query: {
        page: 1,
        size: 20,
        fromDate: moment().format('YYYY-MM-DD 00:00:00'),
        toDate: moment().format('YYYY-MM-DD 23:59:59'),
        searchKeyword: null,
      },
      value: '',
      canRead: false,
      canCreate: false,
      canUpdate: false,
      canDelete: false,
      flagToday: true,
      nowMonth: moment(),
      monthSearch: moment().format('M'),
      yearSearch: moment().format('YYYY'),
    };
  },

  created() {
    this.canRead = this.$root.checkRole(this.$route.fullPath, 'canRead')
    this.canCreate = this.$root.checkRole(this.$route.fullPath, 'canCreate')
    this.canUpdate = this.$root.checkRole(this.$route.fullPath, 'canUpdate')
    this.canDelete = this.$root.checkRole(this.$route.fullPath, 'canDelete')
    if (!this.$route.params.patrolDetail) {
      this.init()
    }
  },
  mounted() {
    if (this.$route.params.patrolDetail) {
      this.patrolDetail = this.$route.params.patrolDetail
      this.myPatrol = this.$route.params.myPatrol
      this.initDetail()
    }
  },
  methods: {
    init() {
      this.getList();
    },
    initDetail() {
      document.getElementById("user-table").style.width = 'calc(100% - 475px)';
      setTimeout(function () {
        document.getElementById("detail-user").style.display = 'block';
        document.getElementById("detail-user").style.width = '450px';
      }, 500);
    },
    async getList() {
      let params = _.cloneDeep(this.query)
      params.page = params.page - 1
      myPatrolResource.list(params).then(response => {
        if (response.data) {
          this.myPatrol = response.data
          for (let i = 0; i < this.myPatrol.length; i++) {
            if (this.myPatrol[i].receivers) {
              this.myPatrol[i].receivers = JSON.parse(this.myPatrol[i].receivers)
            }
            if (this.myPatrol[i].sites) {
              this.myPatrol[i].sites = JSON.parse(this.myPatrol[i].sites)
            }
          }
        } else {
          this.myPatrol = []
        }
        if (response.total) {
          this.total = response.total
        }
      }).catch(err => {
        console.log(err)
      })
    },
    async rowClicked(row) {
      this.flag_active = row.id
      this.patrolDetail = row
      // this.$router.push({
      // 	name: 'myPatrolSchedule',
      // 	params: {
      // 		patrolDetail: this.patrolDetail,
      //     myPatrol: this.myPatrol
      // 	},
      // 	query: {
      // 		id: Math.random()
      // 	}
      // }).catch(()=>{
      // 	console.log('err')
      // })
      if (this.patrolDetail) {
        this.renderComponent = true
        document.getElementById("user-table").style.width = 'calc(100% - 475px)';
        setTimeout(function () {
          document.getElementById("detail-user").style.display = 'block';
          document.getElementById("detail-user").style.width = '450px';
        }, 500);
      }
    },
    closeDetail() {
      this.renderComponent = false
      if (document.getElementById("detail-user")) {
        document.getElementById("detail-user").style.display = 'none'
        document.getElementById("detail-user").style.width = '0'
        document.getElementById("user-table").style.width = 'calc(100%)'
      }
    },

    handleFilter() {
      if (this.query.searchKeyword) {
        this.query.searchKeyword = this.query.searchKeyword.trim()
      }
      this.getList()
    },

    resetForm(formName) {
      this.$refs[formName].resetFields()
    },

    resetFilter() {
      this.closeDetail()
      this.searchKeyword = ''
      this.getList()
    },

    selectDate(type) {
      this.query.page = 1
      if (type == 'month') {
        this.flagToday = false
      }
      if (type == 'previous') {
        this.nowMonth = this.nowMonth.subtract(1, "month")
        this.monthSearch = this.nowMonth.format('M')
        this.yearSearch = this.nowMonth.format('YYYY')
        this.flagToday = false
      }
      if (type == 'next') {
        this.nowMonth = this.nowMonth.add(1, "month")
        this.monthSearch = this.nowMonth.format('M')
        this.yearSearch = this.nowMonth.format('YYYY')
        this.flagToday = false
      }
      this.query.fromDate = this.nowMonth.startOf('month').format('YYYY-MM-DD 00:00:00')
      this.query.toDate = this.nowMonth.endOf('month').format('YYYY-MM-DD 23:59:59')
      if (type == 'today') {
        this.flagToday = true
        this.nowMonth = moment()
        this.query.fromDate = this.nowMonth.format('YYYY-MM-DD 00:00:00')
        this.query.toDate = this.nowMonth.format('YYYY-MM-DD 23:59:59')
      }
      this.getList()
    },

    detectStatus(start, end) {
      let status = ''
      start = moment(start).unix()
      end = moment(end).unix()
      let current = moment().unix()
      if (start > current) {
        status = 'Chưa bắt đầu'
      } else if (start < current && current < end) {
        status = 'Đang diễn ra'
      } else {
        status = 'Đã kết thúc'
      }
      return status
    },
    tableRowClassName(row) {
      if (row.row.id == this.flag_active) {
        return 'active-row'
      }
      return ''
    }
  },
};
</script>

<style lang="scss" scoped>

</style>

<style lang="scss">
.my-patrol-schedule {
  .patrol-detail {
    h4 {
      font-size: 20px;
    }

    h5 {
      margin-bottom: 10px;
      font-size: 14px;
    }
  }

  .el-dialog.update-status-popup {
    margin-top: 80px !important;

    .el-dialog__body {
      float: left;
      width: 100%;
      background: white;
    }

    .el-select,
    .el-input {
      width: 100%;
    }

    .el-form-item {
      margin-bottom: 8px;
    }
  }

  .el-form-item {
    clear: both;
  }

  .item-input {
    .el-input {
      width: calc(100% - 30px);
    }

    i {
      color: #26c6da;
      font-size: 20px;
      margin-left: 5px;
      position: relative;
      top: 3px;
      cursor: pointer;
    }

    button {
      background: initial !important;
      border: initial;
      margin: 0;
      padding: 0;
    }
  }

  #detail-user h5 {
    margin-top: 0;
    font-size: 16px;
  }

  .form-violation {
    /*margin-top: 25px;*/
    .el-date-editor {
      width: 100%;
    }
  }

  .el-form-item {
    margin-bottom: 15px;
  }

  .el-input input {
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    border: solid 1px #9999;
  }

  .item-left {
    width: 48%;
    float: left;
    margin-right: 2%;
  }

  .item-right {
    width: 48%;
    float: left;
    margin-left: 2%;
  }

  .block-item {
    width: 100%;
    float: left;
  }

  #detail-user {
    .el-row {
      margin-top: 25px;
    }

    position: relative;
    /* transition: width 1s;
     -moz-transition: width 1s;
     -webkit-transition: width 1s;
     -o-transition: width 1s;*/
    width: 0;
    background: white;
    padding: 25px;
    float: left;
    margin-left: 25px;
    display: none;
    overflow: hidden;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
    border-radius: 4px;

    .avatar {
      text-align: center;
      margin-bottom: 25px;
      margin-top: 25px;

      img {
        border-radius: 50%;
      }
    }

    .item-label {
      color: #363030;
      font-weight: bold;
      font-size: 14px;
      margin-bottom: 10px;
    }

    .item-text {
      color: black;
      font-size: 16px;
      margin-bottom: 20px;
      opacity: 0.6;
    }

    .close-detail {
      background: #e3e3e3;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      text-align: center;
      line-height: 30px;
      color: #878787;
      font-size: 16px;
      position: absolute;
      right: 10px;
      top: 10px;
      cursor: pointer;
    }
  }

  .el-table th > .cell {
    text-align: left;
  }

  .el-table tr > th:first-child .cell {
    /*text-align: center;*/
    padding-left: 20px;
  }

  .el-table th {
    color: black;
    font-size: 14px;
  }

  .el-table td {
    color: black;
    font-size: 14px;
  }

  .el-table tr td:first-child {
    /*text-align: center;*/
    padding-left: 10px;
  }

  .el-table td:first-child .cell {
    display: inline-block;
  }

  .filter-container {
    padding-bottom: 20px;
  }

  tbody {
    tr {
      cursor: pointer;
    }
  }

  .search-block {
    text-align: left;
    float: left;
    width: 100%;
    margin-bottom: 20px;

    .search {
      float: left;
      width: 272px;

      input {
        width: 272px;
        height: 36px !important;
        line-height: 36px !important;
        border: solid 1px #9999;
        border-radius: 5px;
        padding-left: 40px;
      }

      .el-icon-search {
        line-height: 16px;
        font-size: 19px;
        color: #666;
      }

      span {
        left: 10px;
      }
    }

    .filter-month {
      float: right;
      margin-left: 25px;
      margin-right: 10px;
      height: 40px;
      line-height: 40px;
      color: #363030;
      font-size: 20px;
      width: 180px;

      i {
        cursor: pointer;
      }

      .el-icon-arrow-left {
        font-weight: 500;
        margin-right: 5px;
        font-size: 25px;
        position: relative;
        top: 3px;
      }

      .el-icon-arrow-right {
        font-weight: 500;
        margin-left: 5px;
        font-size: 25px;
        position: relative;
        top: 3px;
      }

      span {
        cursor: pointer;
      }

      span.active {
        color: #2B4FD0;
      }
    }

    button {
      background: rgb(31, 127, 245) !important;
      border: rgb(31, 127, 245) !important;
      border-radius: 4px;
      height: 40px;
      width: 147px;
      margin-left: 15px;
      float: right;

      span {
        font-size: 16px;
        font-weight: normal;
        text-transform: uppercase;
      }
    }
  }
}

</style>
