<template>
  <div
    class="app-container claim patrol-schedule-management-page"
    v-if="canRead"
  >
    <calendar @handleFilter="handleFilter">
      <!-- Use 2.5 slot syntax. If you use Vue 2.6, please use new slot syntax-->
      <template slot="dateCell" slot-scope="{ date, data }">
        <div
          class="current-click"
          @click="handleCreate(data)"
          style="z-index: -1"
        >
          <p style="margin: 2px">
            {{ data.day.split("-").slice(2).join("-") }}
          </p>
          <div v-for="item in patrolScheduleList" :key="item.id">
            <div
              class="current"
              @click="labelPatrolSchedule($event, item, data)"
              v-if="
                getDate(item.startTime) ==
                data.day.split('-').slice(0).join('-')
              "
              style="
                background-color: #61b5ff;
                margin-block: 5px;
                border-radius: 16px;
                z-index: 1;
              "
            >
              <span
                style="
                  font-size: 13px;
                  color: white;
                  word-break: break-word;
                  display: block;
                "
              >
                {{ item.title }}</span
              >
              <span style="font-size: 13px; color: #ffffff">
                - {{ getHour(item.startTime) }} :
                {{ getHour(item.endTime) }}</span
              >
            </div>
          </div>
        </div>
      </template>
    </calendar>
    <el-dialog
      :visible.sync="dialogAdd"
      width="600px"
      class="dialog-add-edit"
      @close="closeDialog('addForm')"
    >
      <div slot="title">
        <h4>Thêm mới lịch tuần tra</h4>
      </div>
      <el-form
        :model="patrolSchedule"
        :rules="rules"
        ref="addForm"
        label-position="top"
        label-width="100%"
      >
        <div class="block-item">
          <div class="block-title">
            <el-form-item prop="title">
              <el-input
                placeholder="Tiêu đề"
                maxlength="255"
                v-model="patrolSchedule.title"
              ></el-input>
            </el-form-item>
          </div>
          <div class="block">
            <svg-icon class="icon" icon-class="clock" />
            <el-form-item class="item" prop="date">
              <el-date-picker
                v-model="patrolSchedule.date"
                style="width: 100%"
                type="datetimerange"
                range-separator="-"
                :picker-options="datePickerOptions"
                start-placeholder="Bắt đầu"
                format="dd/MM/yyyy HH:mm"
                end-placeholder="Kết thúc"
              >
              </el-date-picker>
            </el-form-item>
          </div>
          <div class="block">
            <svg-icon class="icon" icon-class="MiUser" />
            <el-form-item v-if="isAdmin" class="item" prop="listReceiver">
              <el-cascader
                style="width: 100%"
                placeholder="Thêm người tham gia"
                v-model="patrolSchedule.listReceiver"
                :options="options"
                :props="{ multiple: true }"
                @change="handleChange"
                filterable
              ></el-cascader>
            </el-form-item>

            <el-form-item v-else class="item" prop="receivers">
              <el-select
                v-model="patrolSchedule.receivers"
                multiple
                style="width: 100%"
                placeholder="Thêm người tham gia"
              >
                <el-option
                  v-for="user in usersGroupList"
                  :key="user.id"
                  :label="genUserLabel(user)"
                  :value="genJsonValue(user)"
                >
                </el-option>
              </el-select>
            </el-form-item>
          </div>
          <div class="block">
            <svg-icon class="icon" icon-class="placeholder" />
            <el-form-item class="item" prop="sites">
              <el-select
                v-model="patrolSchedule.sites"
                multiple
                @change="handleSelectAll"
                style="width: 100%"
                placeholder="Chọn vị trí"
              >
                <el-option
                  v-for="item in siteLst"
                  :key="item.id"
                  :label="item.name"
                  :value="genJsonValue(item)"
                ></el-option>
              </el-select>
            </el-form-item>
          </div>
          <div class="block">
            <svg-icon class="icon" icon-class="group" />
            <el-form-item class="item" prop="description">
              <el-input
                maxlength="255"
                placeholder="Mô tả"
                v-model="patrolSchedule.description"
              ></el-input>
            </el-form-item>
          </div>
          <div
            slot="footer"
            class="dialog-footer"
            style="padding: 0px 5% 20px 20px"
          >
            <el-button
              type="primary"
              style="float: right; width: 100px"
              @click="addpatrolSchedule()"
              >LƯU</el-button
            >
          </div>
        </div>
      </el-form>
    </el-dialog>

    <el-dialog
      class="dialogDetail"
      v-if="patrolScheduleDetail"
      :visible.sync="dialogDetail"
      width="600px"
    >
      <div slot="title" class="icon-title">
        <span class="title-detail">{{ patrolScheduleDetail.title }}</span>
        <template v-if="checkEdit(patrolScheduleDetail) && canUpdate"
          ><i class="el-icon-edit" @click="handleEdit(patrolScheduleDetail)"></i
        ></template>
        <i
          v-if="canDelete"
          class="el-icon-delete-solid"
          @click="destroy(patrolScheduleDetail)"
        ></i>
        <!-- <svg-icon class="icon" @click="handleEdit(patrolScheduleDetail)" icon-class="edit" /> 
        <svg-icon class="icon" @click="destroy(patrolScheduleDetail)" icon-class="android-delete" /> -->
      </div>
      <el-form
        :model="patrolScheduleDetail"
        ref="detailForm"
        label-position="top"
        label-width="100%"
      >
        <div class="block-detail" v-if="patrolScheduleDetail.startTime">
          <svg-icon class="icon-detail" icon-class="clock" />
          <el-form-item class="item-detail" prop="title">
            <span
              >{{ patrolScheduleDetail.startTime }} -
              {{ patrolScheduleDetail.endTime }}</span
            >
          </el-form-item>
        </div>
        <div class="block-detail" v-if="receiversName">
          <i class="el-icon-user-solid"></i>
          <el-form-item class="item-detail" prop="title">
            <span>{{ receiversName }}</span>
          </el-form-item>
        </div>
        <div class="block-detail" v-if="sitesName">
          <svg-icon class="icon-detail" icon-class="placeholder" />
          <el-form-item class="item-detail" prop="title">
            <span> {{ sitesName }}</span>
          </el-form-item>
        </div>
        <div class="block-detail" v-if="patrolScheduleDetail.description">
          <svg-icon
            style="font-size: 13px"
            class="icon-detail"
            icon-class="group"
          />
          <el-form-item class="item-detail" prop="title">
            <span>{{ patrolScheduleDetail.description }}</span>
          </el-form-item>
        </div>
      </el-form>
    </el-dialog>

    <el-dialog
      :visible.sync="dialogEdit"
      width="600px"
      class="dialog-add-edit"
      @close="closeDialog('editForm')"
      :close-on-click-modal="false"
    >
      <div slot="title">
        <h4>Cập nhật lịch tuần tra</h4>
      </div>
      <el-form
        :model="patrolSchedule"
        :rules="rules"
        ref="editForm"
        label-position="top"
        label-width="100%"
      >
        <div class="block-item">
          <div class="block-title">
            <el-form-item prop="title">
              <el-input
                placeholder="Tiêu đề"
                maxlength="255"
                v-model="patrolSchedule.title"
              ></el-input>
            </el-form-item>
          </div>
          <div class="block">
            <svg-icon class="icon" icon-class="clock" />
            <el-form-item class="item" prop="date">
              <el-date-picker
                v-model="patrolSchedule.date"
                type="datetimerange"
                style="width: 100%"
                :picker-options="datePickerOptions"
                range-separator="-"
                start-placeholder="Bắt đầu"
                format="dd/MM/yyyy HH:mm"
                end-placeholder="Kết thúc"
              >
              </el-date-picker>
            </el-form-item>
          </div>
          <div class="block">
            <svg-icon class="icon" icon-class="MiUser" />
            <el-form-item v-if="isAdmin" class="item" prop="listReceiver">
              <el-cascader
                style="width: 100%"
                placeholder="Thêm người tham gia"
                v-model="patrolSchedule.listReceiver"
                :options="options"
                :props="{ multiple: true }"
                @change="handleChange"
                filterable
              ></el-cascader>
            </el-form-item>
            <el-form-item v-else class="item" prop="multipleReceiver">
              <el-select
                v-model="patrolSchedule.multipleReceiver"
                multiple
                style="width: 100%"
                placeholder="Thêm người tham gia"
              >
                <el-option
                  v-for="user in usersGroupList"
                  :key="user.id"
                  :label="genUserLabel(user)"
                  :value="genJsonValue(user)"
                >
                </el-option>
              </el-select>
            </el-form-item>
          </div>
          <div class="block">
            <svg-icon class="icon" icon-class="placeholder" />
            <el-form-item class="item" prop="multipleSites">
              <el-select
                v-model="patrolSchedule.multipleSites"
                multiple
                @change="handleSelectUpdate"
                style="width: 100%"
                placeholder="Chọn vị trí"
              >
                <el-option
                  v-for="item in siteLst"
                  :key="item.id"
                  :label="item.name"
                  :value="genJsonValue(item)"
                ></el-option>
              </el-select>
            </el-form-item>
          </div>
          <div class="block">
            <svg-icon class="icon" icon-class="group" />
            <el-form-item class="item" prop="description">
              <el-input
                placeholder="Mô tả"
                maxlength="255"
                v-model="patrolSchedule.description"
              ></el-input>
            </el-form-item>
          </div>
          <div
            slot="footer"
            class="dialog-footer"
            style="padding: 0px 5% 20px 20px"
          >
            <el-button
              type="primary"
              style="float: right; width: "
              @click="update(patrolSchedule)"
              >Cập nhật</el-button
            >
          </div>
        </div>
      </el-form>
    </el-dialog>
  </div>
</template>

<script>
import Pagination from "@/components/Pagination_custom";
import Resource from "@/api/resource";
import Search from "@/components/Search/search-vehicle";
import SearchDetail from "@/components/Search/search-detail-vehicle";
import { ImageMagnifier } from "vue-image-magnifier";
import MapVehicleRoute from "@/components/MapVehicleRoute";
import Calendar from "@/components/Calendar";
import moment from "moment";

const violationTrackResource = new Resource("systemconfig/violation-track");
const usersGroupResource = new Resource(
  "systemconfig/violation-track/users-group"
);
const siteResource = new Resource("systemconfig/sites/sites-traffic-status");
const groupReceiverResource = new Resource("systemconfig/vehicle-track/group");

export default {
  components: {
    Pagination,
    Search,
    ImageMagnifier,
    MapVehicleRoute,
    SearchDetail,
    Calendar,
  },
  data() {
    const validateTime = (rule, value, callback) => {
      if (value) {
        if (
          moment(value[0]).unix() == moment(value[1]).unix() ||
          moment(value[0]).unix() > moment(value[1]).unix() ||
          moment(value[1]).unix() < moment().unix()
        ) {
          callback(new Error("Khoảng thời gian không hợp lệ"));
        } else {
          callback();
        }
      } else {
        callback();
      }
    };
    return {
      systemType: 0,
      nowDate: new Date(),
      dialogAdd: false,
      dialogEdit: false,
      options: [],
      datePickerOptions: {
        disabledDate(date) {
          return moment().diff(date, "day") > 0;
        },
      },
      dialogDetail: false,
      patrolScheduleDetail: null,
      patrolSchedule: {
        id: "",
        title: "",
        date: [],
        receivers: "",
        sites: "",
        description: "",
        multipleReceiver: null,
        multipleSites: null,
        listReceiver: [],
      },
      groupReceiverList: [],
      listReceiver: [],
      patrolScheduleDetail: null,
      dateSelect: null,
      patrolScheduleList: [],
      loading: false,
      loadingPatrol: false,
      canRead: false,
      isAdmin: false,
      listUserReceivers: [],
      canCreate: false,
      canUpdate: false,
      canDelete: false,
      loading_delete: false,
      usersGroupList: [],
      siteLst: [],
      sellectOptionSite: [],
      duplicateArr: [],
      sitesName: "",
      receiversName: "",
      rules: {
        date: [
          {
            required: true,
            message: "Khoảng thời gian là bắt buộc",
            trigger: "blur",
          },
          { validator: validateTime },
        ],
        title: [
          { required: true, message: "Tiêu đề là bắt buộc", trigger: "blur" },
          { max: 255, message: "Tên tối đa 255 ký tự", trigger: "blur" },
        ],
        listReceiver: [
          {
            required: true,
            message: "Người tham gia là bắt buộc",
            trigger: "blur",
          },
        ],
        receivers: [
          {
            required: true,
            message: "Người tham gia là bắt buộc",
            trigger: "blur",
          },
        ],
        sites: [
          { required: true, message: "Vị trí là bắt buộc", trigger: "blur" },
        ],
        multipleReceiver: [
          {
            required: true,
            message: "Người tham gia là bắt buộc",
            trigger: "blur",
          },
        ],
        multipleSites: [
          { required: true, message: "Vị trí là bắt buộc", trigger: "blur" },
        ],
        description: [
          { max: 255, message: "Tên tối đa 255 ký tự", trigger: "blur" },
        ],
      },
    };
  },
  computed: {},
  created() {
    this.isAdmin = this.$root.checkAdmin(this.$route.fullPath);
    this.canRead = this.$root.checkRole(this.$route.fullPath, "canRead");
    this.canCreate = this.$root.checkRole(this.$route.fullPath, "canCreate");
    this.canUpdate = this.$root.checkRole(this.$route.fullPath, "canUpdate");
    this.canDelete = this.$root.checkRole(this.$route.fullPath, "canDelete");
    this.init();
  },
  methods: {
    handleChange(listReceiver) {
      this.listUserReceivers = [];
      for (let i = 0; i < this.usersGroupList.length; i++) {
        for (let j = 0; j < listReceiver.length; j++) {
          if (this.usersGroupList[i].id == listReceiver[j][1]) {
            this.listUserReceivers.push(
              this.convertUser(this.usersGroupList[i])
            );
          }
        }
      }
    },
    async handleSelectAll (val) {
        if (val.filter(v => JSON.parse(v).name === "Tất cả").length > 0 ) {
          if (val.length > this.patrolSchedule.currentSites.length) {
            this.patrolSchedule.sites = this.siteLst.map(v => this.genJsonValue(v))
            this.patrolSchedule.currentSites = this.patrolSchedule.sites
          } else {
            val = val.filter(v => JSON.parse(v).name !== "Tất cả");
            this.patrolSchedule.sites = val;
            this.patrolSchedule.currentSites = val;
          }
        } 
        if (val.length === this.siteLst.length - 1 && !(val.filter(v => JSON.parse(v).name === "Tất cả").length > 0) && val.length < this.patrolSchedule.currentSites.length) {
            this.patrolSchedule.sites = [];
            this.patrolSchedule.currentSites = [];
        }
    },
    
    async handleSelectUpdate (val) {
        if (val.filter(v => JSON.parse(v).name === "Tất cả").length > 0 ) {
          if (val.length > this.duplicateArr.length) {
            this.patrolSchedule.multipleSites = this.siteLst.map(v => this.genJsonValue(v))
            this.duplicateArr = this.patrolSchedule.multipleSites
          } else {
            val = val.filter(v => JSON.parse(v).name !== "Tất cả");
            this.patrolSchedule.multipleSites = val;
            this.duplicateArr = val;
          }
        } 
        if (val.length === this.siteLst.length - 1 && !(val.filter(v => JSON.parse(v).name === "Tất cả").length > 0) && val.length < this.duplicateArr.length) {
            this.patrolSchedule.multipleSites = [];
            this.duplicateArr = [];
        }
    },
    convertUser(item) {
      let user = {
        id: item.id,
        name: item.name,
        email: item.email,
        type: item.type,
      };
      return user;
    },
    labelPatrolSchedule(evt, item, data) {
      
      if (data) {
        this.dateSelect = data.day;
      }
      this.dialogDetail = true;
      this.patrolScheduleDetail = item;
      let dataArray = JSON.parse(item.receivers);
      this.receiversName = this.genListUserName(dataArray);
      dataArray = JSON.parse(item.sites);
      this.sitesName = this.genListSiteName(dataArray);
      evt.stopPropagation();
    },
    async init() {
      await this.getList();
      await this.getListUsersGroup();
      await this.getSiteList();
      await this.getListUserReceiverByAdmin();
    },
    async getList(query = null) {
      this.loading = true;
      let params = {
        page: 0,
        size: 1000,
        fromDate: moment()
          .clone()
          .startOf("month")
          .format("YYYY-MM-DD 00:00:00"),
        toDate: moment().clone().endOf("month").format("YYYY-MM-DD 23:59:59"),
        searchKeyword: null,
      };
      if (query) {
        params.fromDate = query.fromDate;
        params.toDate = query.toDate;
        params.searchKeyword = query.searchKeyword;
      }
      const { data } = await violationTrackResource.list(params);
      if (data) {
        this.patrolScheduleList = data;
      } else {
        this.patrolScheduleList = [];
      }
      this.loading = false;
    },
    async getListUserReceiverByAdmin() {
      if (this.isAdmin) {
        let optionsReceiver = [];
        //group
        let params = {
          systemType: 0,
        };
        let groupReceiverResult = await groupReceiverResource.list(params);
        if (groupReceiverResult && groupReceiverResult.data) {
          this.groupReceiverList = groupReceiverResult.data;
        }
        for (let i = 0; i < this.groupReceiverList.length; i++) {
          if (this.groupReceiverList[i].name.length > 40) {
            this.groupReceiverList[i].name =
              this.groupReceiverList[i].name.slice(0, 40) + "...";
          }
          let children1 = {
            value: this.groupReceiverList[i].id,
            label: this.groupReceiverList[i].name,
            children: [],
          };
          for (let j = 0; j < this.usersGroupList.length; j++) {
            if (
              this.groupReceiverList[i].id == this.usersGroupList[j].groupId
            ) {
              let children2 = {
                value: this.usersGroupList[j].id,
                label: this.usersGroupList[j].name,
              };
              children1.children.push(children2);
            }
          }
          optionsReceiver.push(children1);
        }
        for (let k = 0; k < this.usersGroupList.length; k++) {
          if (this.usersGroupList[k].groupId == null) {
            let children1 = {
              value: this.usersGroupList[k].id,
              label: this.usersGroupList[k].name,
              children: [],
            };
            let childrenGroupIdNull = {
              value: this.usersGroupList[k].id,
              label: this.usersGroupList[k].name,
            };
            children1.children.push(childrenGroupIdNull);
            optionsReceiver.push(children1);
          }
        }
        this.options = optionsReceiver;
      }
    },
    async getSiteList() {
      let params = {
        page: 0,
        size: 1000,
      };
      let result = await siteResource.list(params);
      if (result && result.data) {
        this.siteLst = result.data.filter(data => data.totalCamera > 0);
        this.siteLst.unshift({
          id: "",
          name: "Tất cả",
        });
      }
    },
    async getListUsersGroup() {
      // console.log(this.systemType);
      let params = {
        systemType: 0,
      };
      const { data } = await usersGroupResource.list(params);
      if (data) {
        this.usersGroupList = data;
      } else {
        this.usersGroupList = [];
      }
    },
    handleFilter(query) {
      let data = {
        fromDate: query.fromDate,
        toDate: query.toDate,
        searchKeyword: query.searchKeyword,
      };
      this.getList(data);
    },
    handleCreate(data) {
      if (data) {
        this.dateSelect = data.day;
        let dateSelect = moment(data.day).unix();
        let dateNow = moment().clone().format("YYYY-MM-DD 00:00:00");
        let dateCurrent = moment(dateNow).unix();
        if (dateSelect >= dateCurrent) {
          this.resetDialog();
          this.patrolSchedule.date = [
            moment(data.day).format("YYYY-MM-DD 00:00:00"),
            moment(data.day).format("YYYY-MM-DD 23:59:59"),
          ];
          this.patrolSchedule.currentSites = []
          this.dialogAdd = true;
        } else {
          this.$message({
            type: "error",
            message: "Không thể thêm lịch tuần tra trong quá khứ!",
          });
        }
      }
    },
    handleEdit(data) {
      if (data.endTime) {
        let dateSelect = moment(data.endTime).unix();
        let dateCurrent = moment().unix();
        if (dateSelect >= dateCurrent) {
          this.closeDetail();
          this.resetDialog();
          this.editPatrolSchedule(data);
          this.dialogEdit = true;
        }
      }
    },
    checkEdit(data) {
      if (data.endTime) {
        let dateSelect = moment(data.endTime).unix();
        let dateCurrent = moment().unix();
        if (dateSelect < dateCurrent) {
          return false;
        }
      }
      return true;
    },
    closeDetail() {
      this.dialogDetail = false;
      this.patrolScheduleDetail = null;
    },
    addpatrolSchedule() {
      this.$refs.addForm.validate((valid) => {
        if (valid) {
          if (this.patrolSchedule.sites.filter(v => JSON.parse(v).name === "Tất cả").length > 0) {
            this.patrolSchedule.sites = this.patrolSchedule.sites.filter(v => JSON.parse(v).name !== "Tất cả");
          }
          const params = {
            sites: "[" + this.patrolSchedule.sites + "]",
            startTime: null,
            endTime: null,
            receivers: "[" + this.patrolSchedule.receivers + "]",
            description: this.patrolSchedule.description.trim(),
            title: this.patrolSchedule.title.trim(),
            violationType: "",
          };
          if (this.isAdmin) {
            params.receivers = JSON.stringify(this.listUserReceivers);
          }
          if (this.patrolSchedule.date) {
            let startDate = moment(this.patrolSchedule.date[0]).format(
              "YYYY-MM-DD HH:mm:ss"
            );
            let endDate = moment(this.patrolSchedule.date[1]).format(
              "YYYY-MM-DD HH:mm:ss"
            );
            params.startTime = startDate;
            params.endTime = endDate;
          }
          this.loadingPatrol = true;
          violationTrackResource
            .store(params)
            .then((response) => {
              if (response.status === 200 || response.status === 201) {
                this.dialogAdd = false;
                this.resetDialog();
                this.$message({
                  message: "Thêm mới thành công",
                  type: "success",
                });
                let data = {
                  fromDate: moment(this.dateSelect)
                    .startOf("month")
                    .format("YYYY-MM-DD 00:00:00"),
                  toDate: moment(this.dateSelect)
                    .endOf("month")
                    .format("YYYY-MM-DD 23:59:59"),
                };
                this.getList(data);
              }
              this.loadingPatrol = false;
            })
            .catch(() => {
              this.loadingPatrol = false;
              this.$notify({
                title: "Lỗi",
                message: "Thêm mới thất bại",
                type: "error",
              });
            });
        } else {
          return false;
        }
      });
    },
    update(data) {
      this.$refs.editForm.validate((valid) => {
        if (valid) {
          if (data.multipleSites.filter(v => JSON.parse(v).name === "Tất cả").length > 0) {
            data.multipleSites = data.multipleSites.filter(v => JSON.parse(v).name !== "Tất cả");
          }
          const params = {
            id: data.id,
            sites: "[" + data.multipleSites + "]",
            startTime: null,
            endTime: null,
            receivers: "[" + data.multipleReceiver + "]",
            description: data.description.trim(),
            title: data.title.trim(),
            violationType: "",
          };
          if (this.isAdmin) {
            params.receivers = JSON.stringify(this.listUserReceivers);
          }
          if (data.date) {
            let startDate = moment(data.date[0]).format("YYYY-MM-DD HH:mm:ss");
            let endDate = moment(data.date[1]).format("YYYY-MM-DD HH:mm:ss");
            params.startTime = startDate;
            params.endTime = endDate;
          }
          this.loadingPatrol = true;
          // console.log(params);
          violationTrackResource
            .update(data.id, params)
            .then((response) => {
              if (response.status === 200 || response.status === 201) {
                this.dialogEdit = false;
                this.$message({
                  message: "Sửa thành công",
                  type: "success",
                });
                this.dialogEdit = false;
                this.getList();
              }
            })
            .catch(() => {
              this.loadingPatrol = false;
              this.$notify({
                title: "Lỗi",
                message: "Sửa thất bại",
                type: "error",
              });
            });
        } else {
          return false;
        }
      });
    },
    destroy(track) {
      this.$confirm(
        "Bạn có chắc chắn muốn xóa lịch tuần tra có tiêu đề " +
          track.title +
          " này không?",
        "",
        {
          confirmButtonText: "Xác nhận",
          cancelButtonText: "Thoát",
          type: "warning",
        }
      )
        .then(() => {
          this.loading_delete = true;
          violationTrackResource
            .destroy(track.id)
            .then((response) => {
              this.getList();
              if (response.status == 200) {
                this.loading_delete = false;
                this.resetDialog();
                this.closeDetail();
                this.$message({
                  type: "success",
                  message: "Xóa lịch tuần tra thành công",
                });
              }
            })
            .catch((err) => {
              this.loading_delete = false;
              console.log(err);
              this.$message({
                type: "error",
                message: "Có lỗi xảy ra vui lòng thử lại sau!",
              });
            });
        })
        .catch(() => {});
    },
    editPatrolSchedule(data) {
      this.patrolSchedule.date = [data.startTime, data.endTime];
      this.patrolSchedule.title = data.title;
      this.patrolSchedule.id = data.id;
      this.patrolSchedule.description = data.description;
      let dataArrayReceivers = JSON.parse(data.receivers);
      this.patrolSchedule.multipleReceiver = [];
      if (this.isAdmin) {
        let listUserGroupId = [];
        for (var i = 0; i < dataArrayReceivers.length; i++) {
          for (let j = 0; j < this.usersGroupList.length; j++) {
            if (dataArrayReceivers[i].id == this.usersGroupList[j].id) {
              listUserGroupId.push(this.usersGroupList[j]);
            }
          }
        }
        this.getListUserReceiverEdit(listUserGroupId);
      } else {
        for (var i = 0; i < dataArrayReceivers.length; i++) {
          let data = dataArrayReceivers[i];
          this.patrolSchedule.multipleReceiver.push(JSON.stringify(data));
        }
      }
      let dataArraySites = JSON.parse(data.sites);
      // console.log(dataArraySites[0]);
      // console.log(this.siteLst[0]);
      this.patrolSchedule.multipleSites = [];
      const isSiteList = [];
      // this.siteLst.map((m) => {
      //   isSiteList.push(m.id);
      // });
      for (var i = 0; i < dataArraySites.length; i++) {
        let data = dataArraySites[i];
          for(let s = 0; s < this.siteLst.length; s++){
            if(data.id == this.siteLst[s].id){
              this.patrolSchedule.multipleSites.push(JSON.stringify(this.siteLst[s]));
            }
        }
      }
      this.dialogEdit = true;
    },
    getListUserReceiverEdit(listUserGoupId) {
      if (this.isAdmin) {
        let optionsReceiver = [];
        for (let i = 0; i < this.groupReceiverList.length; i++) {
          for (let j = 0; j < listUserGoupId.length; j++) {
            if (listUserGoupId[j].groupId == null) {
              let groupIdUserId = [];
              groupIdUserId[0] = listUserGoupId[j].id;
              groupIdUserId[1] = listUserGoupId[j].id;
              if (!this.checkDuplicate(optionsReceiver, groupIdUserId)) {
                optionsReceiver.push(groupIdUserId);
              }
            } else {
              if (this.groupReceiverList[i].id == listUserGoupId[j].groupId) {
                let groupIdUserId = [];
                groupIdUserId[0] = listUserGoupId[j].groupId;
                groupIdUserId[1] = listUserGoupId[j].id;
                optionsReceiver.push(groupIdUserId);
              }
            }
          }
        }
        this.patrolSchedule.listReceiver = optionsReceiver;
        this.handleChange(this.patrolSchedule.listReceiver);
      }
    },
    checkDuplicate(list, data) {
      if (list[0] == null) return true;
      for (let elm in list) {
        if (elm[0] == data[0] && elm[1] == data[1]) {
          return true;
        }
      }
      return false;
    },
    getDate(date) {
      let today = moment(date).format("yyyy-MM-DD");
      return today;
    },
    getHour(date) {
      let today = moment(date).format("HH:mm");
      return today;
    },
    genUserLabel(user) {
      return user.name + " (" + user.email + ")";
    },
    genListSiteName(item) {
      let listSiteName = [];
      for (var i = 0; i < item.length; i++) {
        let data = item[i].name;
        listSiteName.push(data);
      }
      return listSiteName.join(", ");
    },
    getDateString(today) {
      let dd = String(today.getDate()).padStart(2, "0");
      let mm = String(today.getMonth() + 1).padStart(2, "0"); //January is 0!
      let yyyy = today.getFullYear();
      let day = yyyy + "-" + mm + "-" + dd;
      return day;
    },
    genListUserName(item) {
      let listUserName = [];
      for (var i = 0; i < item.length; i++) {
        let data = item[i].name
        if(item[i].email) data += " (" + item[i].email + ")"
        listUserName.push(data)
      }
      return listUserName.join(", ")
    },
    resetDialog() {
      this.patrolSchedule = {
        title: "",
        date: null,
        receivers: "",
        sites: "",
        description: "",
        violationType: "",
        multipleReceiver: null,
        multipleSites: null,
        listReceiver: [],
      };
      this.listReceiver = [];
    },
    genJsonValue(item) {
      return JSON.stringify(item);
    },
    closeDialog(formName) {
      this.$refs[formName].clearValidate();
      this.$refs[formName].resetFields();
    },
  },
};
</script>

<style lang="scss" scoped>
</style>

<style lang="scss">
.patrol-schedule-management-page {
  .el-calendar__body .el-calendar-table {
    height: 100%;
  }
  .el-calendar__body tbody tr:nth-child(4) td .el-calendar-day {
    height: 100%;
    display: flex;
    align-items: center;
  }
  .el-calendar__body tbody tr:nth-child(4) td .el-calendar-day > div {
    z-index: 10 !important;
    width: 100%;
    height: 100%;
  }
  .block {
    /*height: 70px;*/
    width: 100%;
    .icon {
      float: left;
      margin: 12px;
    }
    .item {
      float: left;
      width: 88%;
    }
  }
  .el-dialog__headerbtn .el-dialog__close {
    color: white;
  }
  .icon-title {
    text-align: right;
    margin-right: 20px;
    top: 15px;
  }
  .dialog-add-edit {
    .el-dialog__header {
      h4 {
        margin-top: 0;
        margin-bottom: 0;
        color: white;
        font-weight: 500;
      }
    }
    span {
      color: #333 !important;
    }
    button {
      span {
        color: white !important;
      }
    }
    ::placeholder {
      color: #777 !important;
      opacity: 1; /* Firefox */
    }
    .icon-title {
      /*padding-top: 4px;
          padding-right: 10px;*/
    }
    .title-detail {
      float: left;
      font-weight: bold;
      color: #222;
    }
    .el-dialog__body {
      padding-top: 30px;
      padding-bottom: 25px;
      float: left;
      width: 100%;
      background: white;
    }
    .block-title {
      margin-left: 51px;
    }
    .dialog-footer {
      padding-right: 17px !important;
      button {
        float: right;
        width: 100px;
        background: #1f7ff5;
        border-radius: 6px;
      }
    }
    .block {
      svg {
        font-size: 18px;
        margin-right: 0;
        float: left;
        width: 9%;
        margin-left: 0;
        display: inline-block;
        position: relative;
        top: -3px;
      }
    }
  }
  .dialogDetail {
    .el-dialog__header {
      background-color: #1f7ff5;
      height: initial;
      float: left;
      width: 100%;
    }
    .icon-title {
      padding-top: 4px;
      padding-right: 10px;
      i {
        color: rgb(255, 255, 255);
        font-size: 18px;
        margin-left: 5px;
        position: relative;
        top: -3px;
        cursor: pointer;
      }
    }
    .el-icon-close {
      color: rgb(255, 255, 255);
      font-size: 20px;
    }
    .title-detail {
      float: left;
      font-weight: bold;
      color: rgb(255, 255, 255);
      text-align: left;
      width: calc(100% - 55px);
      word-break: break-word;
    }
    .el-dialog__body {
      padding-top: 10px;
      padding-bottom: 25px;
      float: left;
      width: 100%;
      background: white;
    }
    .block-detail {
      i {
        top: 8px !important;
        text-align: center;
        color: #888;
      }
      i,
      svg {
        font-size: 18px;
        margin-right: 0;
        float: left;
        width: 9%;
        margin-left: 0;
        display: inline-block;
        position: relative;
        top: -3px;
      }
    }
  }
  .block-title {
    margin-left: 35px;
    width: 88%;
  }
  .block-title-detail {
    margin-left: 15px;
    width: 80%;
  }
  .block-detail {
    /*height: 60px;*/
    width: 100%;
    float: left;
    .icon-detail {
      float: left;
      margin: 12px;
    }
    .item-detail {
      float: left;
      width: 88%;
      margin-bottom: 18px;
    }
  }
  .current-click {
    margin: 2px;
    /*height: 100vh;*/
    min-height: 120px;
  }
  .is-selected {
    color: #1989fa;
  }
  .el-backtop,
  .el-calendar-table {
    margin: 0 auto;
    text-align: center;
  }
  .el-calendar-table .el-calendar-day {
    box-sizing: border-box;
    padding: 2px;
    padding: 5px 10px;
    height: initial;
    min-height: 120px;
    .current {
      padding: 8px;
    }
  }
  .el-dialog__header {
    background-color: #1f7ff5;
    height: 50px;
    padding: 15px 20px 10px;
  }
  .el-dialog__body {
    padding: 30px 10px;
  }
  .el-dialog__headerbtn {
    position: absolute;
    top: 15px;
  }
}
</style>
