<template  >
  <div  class="main-video camera camera-custom"  v-loading="loading" :class="{zoom:zoom || zoomAndFull}" :ref="'container_' + cameraReal">
      <div  v-if="loadingShow" class="recording"></div>
      <!-- <div class="name-cam">{{cameraConfig.Name}}</div> -->
    <div class="video-wraper"  :class="{loading:loading}">
      <canvas class="canvas-render" ref="canvasRender"> </canvas>
    </div>
    <nav class="nav-controll"  v-if="type != 'Live'">
      
      <div @click="handleChangeProgressBarTime($event)" id="defaultBar">
        <div  id="progressBar"></div>
      </div>
      <div style="clear: both"></div>
    </nav>
    <div class="controll">
      
      <div class="bar-controll">
         <div id="buttons">
        <i v-if="!isPause" class="el-icon-video-pause icon-video" @click="handlePlayAndPause(true)"></i>
        <i v-if="isPause" class="el-icon-video-play icon-video" @click="handlePlayAndPause(false)"></i>
        <div class="time" v-if="timeUpdate && timeUpdate!=''">
           {{ new Date(timeUpdate)|formatDateOnlyTime}}
      </div>
      </div>
        <ul>
          <li  @click="zoomVideo()">
            <svg-icon icon-class="full-screen" />
          </li>
        </ul>
      </div>
    </div>
    <iframe id="my_iframe" style="display:none;"></iframe>
  </div>
</template>

<script>
import store from '@/store';
export default {
  components: {},
  directives: {},
  props: {
    cameraReal: {
      type: String,
      default: null,
    },
    zoomAndFull:{
      type: Boolean,
      default:false,
    },
    isMulti:{
      type: Boolean,
      default:false,
    },
    cameraConfig:{
        type: Object,
        default: null
    },
    startTime: {
      type: String,
      default: null,
    },
    width: {
      type: Number,
      default: 400,
    },
    height: {
      type: Number,
      default: 255,
    },
    type: {
      type: String,
      default: 'Playback',
    },
  },
  data() {
    return {
      //handle video connection
      // cameraReal:"489b017c-75a0-4d78-b555-7d818dc953a3",
      loading:false,
      timeUpdate:"",
      attachContainerClick: true,
      playbackControllerId: null,
      oneUpdateStatus: false,
      // videoConnection:null,
      //end handlevide0
      videoId: null,
      heightRes: 0,
      widthRes: 0,
      widthResStatus: false,
      intervelProgress: 0,
      playStop: false,
      //
      isPause: true,
      timeProgress: 0,
      timeProgressBar: 0,
      totalTime: 45,
      sizeProgress: 0,
      // control cam

      zoom:false,
      showPtz:false,

      //state cam render

      drawing: false,
      imageURL: null,
      videoController: null,
      image: null,
      canvasContext: null,
      videoConnectionObserver: null,
      canvas: null,
      record:false,
      startTimeRecord: null,
      loadingShow:false,
      intelId:0,
      handleLoad:false,
    }
  },

  created() {
  },
  destroyed(){
      this.closeStream()
      console.log('end video Id', this.videoId)
    },
  mounted() {
    const container = this.$refs['container_' + this.cameraReal]
    container.style.height = this.height + 'px'
    container.style.width = this.width + 'px'
    this.loading =true;
    const loginState = this.$store.state.common.loginMilestone
    if(!loginState){
         this.$root.handleAddMethodCallback(this.handleRenderVideo);
    }else{
        this.handleRenderVideo()
        
    }
    
  },
  watch: {
    // width: {
    //     handler: function () {
    //       if(this.handleLoad){
    //          this.handleChange()
    //       }
    //         const container = this.$refs['container_' + this.cameraReal]
    //       container.style.height = this.height + 'px'
    //       container.style.width = this.width + 'px'
    //     },
    //     deep: true
    // }
},
  methods: {
    async init() {},
    handleOpenNewWindow(){
       const width = 1000;
       const height = 700;
       const left = (screen.width/2)-(1000/2);
        const top = (screen.height/2)-(700/2);
      return window.open("/camera-detail/"+this.cameraReal, '_blank', 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width='+width+', height='+height+', top='+top+', left='+left);
    },
    closeStream() {
       XPMobileSDK.CloseStream(
          {
            VideoId: this.videoId,
          },
          {},
          {}
        );
    },
     handlePlayAndPause(pause){
      if(pause){
        this.stopAndRun(0)
        this.isPause= true
      }else{
        const bar = document.getElementById("defaultBar");
        this.isPause= false
        if(this.timeProgressBar >= bar.offsetWidth){
          this.handleChangeStreamSpeed(new Date(this.startTime).getTime() - 15000)
        }else{
          this.stopAndRun(1)
        }


      }
    },
    handlePause(value){
      if(!value){
        this.isPause = false
        this.stopAndRun(1)
      }else{
        this.isPause = true
        this.stopAndRun(0)
      }
    },
    RequestStreamParams(Fps) {
      let param = {
        CameraId: this.cameraReal,
        DestWidth: this.width,
        DestHeight: this.height,
        SignalType: this.type /*'Live' or 'Playback'*/,
        MethodType: 'Push' /*'Pull'*/,
        Fps: Fps || 25, // This doesn't work for Pull mode, but we have to supply it anyway to keep the server happy
        ComprLevel: 71,
        KeyFramesOnly: 'No' /*'Yes'*/, // Server will give only key frame thumb nails. This will reduce FPS
        RequestSize: 'Yes',
        StreamType: 'Transcoded',
      }
      // if (this.type != 'Live') {
      //   param.PlaybackControllerId = this.$store.state.common.playbackControllerId
      // }
      return param
    },
    offset(el) {
      var rect = el.getBoundingClientRect(),
      scrollLeft = window.pageXOffset || document.documentElement.scrollLeft,
      scrollTop = window.pageYOffset || document.documentElement.scrollTop;
      return { top: rect.top + scrollTop, left: rect.left + scrollLeft }
  },

    async handleChangeProgressBarTime($event){
      this.stopAndRun(0);
      this.isPause= true
      const bar = document.getElementById("defaultBar");
      const progressBar = document.getElementById("progressBar");
      const position = this.offset(bar)
      const pos = ($event.pageX  - position.left)/bar.offsetWidth;
      // ví trí thanh bar hiện tại
      this.timeProgressBar = pos * bar.offsetWidth;
      progressBar.style.width = this.timeProgressBar +"px";

      // thời gian gửi lên server của vị trí hiện tại
      this.timeProgress = (this.totalTime * pos).toFixed(3);
      const timeClick =  new Date(this.startTime).getTime() - 15000 + this.timeProgress * 1000;
      this.handleChangeStreamSpeed(timeClick)
      
    },
    handlePTZ(direct){
      const temConnect = this.videoController;
      temConnect.cameraId=this.cameraReal
      XPMobileSDK.ptzMove(temConnect,direct)
    },

    isShowPtz(){
        this.showPtz = !this.showPtz 
    },
    // createPlaybackController() {
    //   XPMobileSDK.createPlaybackController(
    //     {
    //       SeekType: "Time",
    //       Time: new Date().getTime(),
    //     },
    //     this.createPlaybackControllerCallback,
    //     function (error) {
          
    //     }
    //   );
    // },

    // createPlaybackControllerCallback(connection) {
    //   var connectionResponse = connection.response;
    //   // this.videoConnection = connection;
    //   const videoConnection = connection;
    //   this.playbackControllerId =
    //     connection.response.parameters.PlaybackControllerId;
    //   const self1 = this;
    //   var videoConnectionObserver = {
    //     videoConnectionReceivedFrame: self1.videoConnectionReceivedFrame,
    //     videoConnectionTemporaryDown: function () {},
    //     videoConnectionRecovered: function () {},
    //     videoConnectionNotAvailable: function () {},
    //   };

    //   videoConnection.addObserver(videoConnectionObserver);

    //   if (
    //     videoConnection.getState() ==
    //     XPMobileSDK.library.VideoConnectionState.notOpened
    //   ) {
    //     videoConnection.open();
    //   }
    // },
    // setLoading(){
    //   this.loading = true
    // },
    handleChange(){
      this.loading = true;
      // debugger
      const self = this;
       const container = this.$refs['container_' + this.cameraReal];
          const  params = {
          VideoId: this.videoId,
          DestWidth:this.width ,
          DestHeight:this.height ,
        };
         container.style.width = this.width+"px"
               container.style.height = this.height+"px";
        try{
           XPMobileSDK.ChangeStream(params, async ()=>{
              await self.delay(700)
               if(this.handleLoad){
                  self.loading = false;
              }
         });
        }catch{
         if(this.handleLoad){
            self.loading = false;
         }
        }
    },
    async hanldeShowEvent(value){
      
        const state =value || !this.$store.state.common.showEvent;
        await store.dispatch('common/setShowEvent',state);
    },
    handleChangeStreamSpeed(time){
      const self = this;
       const  params = {
          VideoId: this.videoId,
           SeekType: 'Time',
           Time:time,
        };
         XPMobileSDK.ChangeStream(params, async ()=>{
              await self.delay(1000)
               self.stopAndRun(1);
         });
    },



     stopAndRun(speed){
       if(speed == 1){
         this.isPause = false
       }
       const  params = {
          VideoId: this.videoId,
           Speed: speed
        };
         XPMobileSDK.ChangeStream(params, async ()=>{
              
         });
    },

    handleTimeBar(timeCurrent,status) {
      const timeStart = new Date(this.startTime).getTime() - 15*1000;
      let diffDate =(timeCurrent - timeStart)/1000;
      if(diffDate > this.totalTime){
        diffDate = this.totalTime
      }
      if(diffDate < 0){
        diffDate = 0
      }
      const bar = document.getElementById("defaultBar");
      const progressBar = document.getElementById("progressBar");
      this.sizeProgress = bar.offsetWidth;
      this.timeProgress = diffDate
      if (this.totalTime > 0) {
          this.timeProgressBar = parseInt(bar.offsetWidth * diffDate/this.totalTime);
          progressBar.style.width = this.timeProgressBar +"px";
      }
    },

    zoomVideo(){
     const container = this.$refs['container_' + this.cameraReal];
      let params = {}
      const self = this;
     if(!this.zoom){
       
       
           params = {
          VideoId: this.videoId,
          DestWidth:window.innerWidth ,
          DestHeight:window.innerHeight ,
        };
         XPMobileSDK.ChangeStream(params, async ()=>{
              this.zoom = true
               container.style.height = window.innerHeight+"px"
               container.style.width = window.innerWidth+"px";
         });
     }else{
         container.style.visibility = "hidden";
          params = {
            VideoId: this.videoId,
            DestWidth:this.width ,
            DestHeight:this.height ,
      }
       XPMobileSDK.ChangeStream(params,async ()=>{
           
           this.zoom = false;
            await self.delay(500)
            container.style.height = this.height+"px"
            container.style.width = this.width+"px";
            container.style.visibility = "visible";
            
           
        });
     }
      
    },

    handleRenderVideo() {

      //  XPMobileSDK.getAllViews(function (items) {
      //   console.log(
      //     'alllllllllllllllllllll cam:',
      //     JSON.stringify(items[0].Items[0].Items[0].Items)
      //   )
      // })
      const container = this.$refs['container_' + this.cameraReal]
      container.style.height = this.height + 'px'
      container.style.width = this.width + 'px'
      this.oneUpdateStatus = false
      this.widthResStatus = false

      this.canvas = this.$refs.canvasRender
      this.canvasContext = this.canvas.getContext('2d')
      const video = this.$refs.videoRender
      this.image = document.createElement('img')
      this.image.addEventListener('load', this.onImageLoad)
      this.image.addEventListener('error', this.onImageError)
      //   var imageURL, videoController
      //   var drawing = false

      // handle connect
      // if(this.type != "Live"){
      //   this.createPlaybackController()
      //   return;
      // }

      this.videoConnectionObserver = {
        videoConnectionReceivedFrame: this.videoConnectionReceivedFrame,
      }

      XPMobileSDK.library.Connection.webSocketBrowser = false
      /**
       * Requesting a video stream.
       */
      let streamRequest = XPMobileSDK.RequestStream(
        this.RequestStreamParams(),
        this.requestStreamCallback,
        function (error) {}
      )
    },
   Download(url) {
    document.getElementById('my_iframe').src = url;
   },
    async requestStreamCallback(videoConnection) {
      const container = this.$refs['container_' + this.cameraReal]
      this.videoController = videoConnection
      if (videoConnection && videoConnection.videoId) {
        this.videoId = videoConnection.videoId
      }
      videoConnection.addObserver(this.videoConnectionObserver)
      videoConnection.open()

      var event = new CustomEvent('playStream', {
        detail: {
          cameraId: this.cameraReal,
          videoConnection: videoConnection,
        },
      })

      container.parentNode.dispatchEvent(event)
      this.handleChangeStreamSpeed(new Date(this.startTime).getTime() - 15*1000)
    },

     downloadImage() {
      var xhr = new XMLHttpRequest();
      xhr.open('GET', '', true);
      xhr.responseType = 'blob';
      xhr.onload = function() {
        var urlCreator = window.URL || window.webkitURL;
        var imageUrl = urlCreator.createObjectURL(this.response);
        var tag = document.createElement('a');
        tag.href = imageUrl;
        tag.target = '_blank';
        tag.download = 'sample.png';
        document.body.appendChild(tag);
        tag.click();
        document.body.removeChild(tag);
      };
      xhr.onerror = err => {
        alert('Failed to download picture');
      };
      xhr.send();
    },

    //export
     exportImage(){
      const param ={
        cameraId:this.cameraReal,
        time: new Date().getTime()
      }
      XPMobileSDK.getThumbnailByTime(param,this.callBackExport,this.callBackExportFail)
    },
    recordVideo(){
      if(this.record && this.startTimeRecord){
        this.exportVideo();
        this.record = false;
        this.loadingShow = false;
        clearInterval(this.intelId)
      }else{
        this.record = true;
        this.startTimeRecord = new Date().getTime();
        const self = this;
        this.intelId = setInterval(function () {self.loadingShow = !self.loadingShow}, 500);
      }
    },
    exportVideo(){
            var end = new Date().getTime();
            var start = this.startTimeRecord;
            XPMobileSDK.startVideoExport(this.cameraReal, start, end, this.createExportDownloadLink, this.callBackExportFail);
            this.startTimeRecord = null
    },
    createExportDownloadLink(data){
      const investigationId = "00000000-0000-0000-0000-000000000000"
      XPMobileSDK.createExportDownloadLink(data,investigationId,"AVI",this.createLinkDownloadSuccess,this.createLinkDownloadFail )
    },
    createLinkDownloadSuccess(data){
      const link = "https://103.21.151.160:8082/"+data;
      this.downloadVideo(link);
      console.log("Link download:","https://103.21.151.160:8082/"+data)
    },
     createLinkDownloadFail(data){
      
    },
    callBackExport(data){
      window.location.href = 'data:image/png;base64,' + data;
      this.downloadBase64File(data)
      console.log("dádL",data)
    },

    downloadBase64File( base64Data) {
     const linkSource = `data:image/png;base64,${base64Data}`;
     const downloadLink = document.createElement("a");
     downloadLink.href = linkSource;
     downloadLink.download = "anh1";
     downloadLink.click();
    },
    async downloadVideo( link) {
     await this.delay(5000)
     const downloadLink = document.createElement("a");
     downloadLink.href = link;
     downloadLink.download = "download";
     
     downloadLink.click();
    },
    callBackExportFail(data){
      
      console.log("fail",data)
    },

     


    delay(ms) {
      return new Promise((res) => setTimeout(res, ms))
    },
    videoConnectionReceivedFrame(frame) {
      // const heightRes = frame.sizeInfo.destinationSize.height
      this.timeUpdate = frame.timestamp;
      if(!this.handleLoad){
        this.loading = false;
        this.handleLoad = true
      }
      if (this.type != 'Live') {
        const endTimeTemp = new Date(this.startTime).getTime() + 30*1000; 
        const currentVideo = new Date(frame.timestamp).getTime();
        this.handleTimeBar(new Date(frame.timestamp).getTime(), 'play');
        if (endTimeTemp <= currentVideo) {
          this.stopAndRun(0)
          this.isPause = true
          return
        }
      }
      if (!this.drawing && frame.dataSize > 0) {
        this.drawing = true

        if (frame.hasSizeInformation) {
          var multiplier =
            frame.sizeInfo.destinationSize.resampling *
              XPMobileSDK.getResamplingFactor() || 1
          this.image.width = multiplier * frame.sizeInfo.destinationSize.width
          this.image.height = multiplier * frame.sizeInfo.destinationSize.height
        }

        if (this.imageURL) {
          window.URL.revokeObjectURL(this.imageURL)
        }

        this.imageURL = window.URL.createObjectURL(frame.blob)

        this.image.src = this.imageURL

        //   if (
        //     !isLive &&
        //     frame.timestamp.getTime() != playbackTimestamp.getTime()
        //   ) {
        //     updateTime(frame.timestamp);
        //   }
      }
    },
    onImageLoad(event) {
      this.canvas.width = this.image.width
      this.canvas.height = this.image.height
      this.canvasContext.drawImage(
        this.image,
        0,
        0,
        this.canvas.width,
        this.canvas.height
      )

      this.drawing = false
    },
    onImageError(event) {
      this.drawing = false
    },
  },
}
</script>

<style lang="scss" scoped>
</style>

<style lang="scss">
.zoom{
      position: fixed !important;
    z-index: 9999;
    top: 0;
    right: 0;
    .box-handle{
        margin-left: 15px;
    }  
}
.loading{
  display: none !important;
}
.videoCamIcon{
  color: red;
}
  #buttons {
    margin: 0 0px;
    float: left;
    display: flex;
    line-height: 30px;
    height: 30px;
    .time{
      font-size: 14px;
      color: #fff;
    }
  }
.nav-controll {
        align-items: center;
    position: absolute;
    width: 100%;
    bottom: 29px;
    display: flex;
    flex-direction: column;
    .time{
      font-size: 13px;
      color: #fff;
    }
    #buttons{
      margin-bottom: 5px;
    }
    .btn-controll{
      cursor: pointer;
      line-height: 22px;
    }
    .btn-controll:active{
      transform: scale(1.1);
    }
  }
  #defaultBar {
        cursor: pointer;
    border: none;
    position: relative;
    float: left;
    border-radius: 5px;
    width: 100%;
    height: 5px;
    background: #ffffff94 !important;
  }
  #progressBar {
    position: absolute;
    width: 0px;
    border-radius: 5px;
    height: 4px;
    background: red;
  }
    .icon-video {
    line-height: 30px;
    color: #fff;
    cursor: pointer;
    margin: 0 7px;
    font-size: 22px;
  }
  
.main-video {
  display: inline-block;
  position: relative;
  background: #000;
  .recording{
    position: absolute;
    width: 5px;
    height: 5px;
    display: inline;
    background: red;
    top: 10px;
    right: 10px;
    border-radius: 50%;
  }
  .name-cam{
      position: absolute;
      color: #fff;
      margin-left: 10px;
      height: 16px;
      font-size: 12px;
    overflow: hidden;
  }
  .video-wraper {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
  .box-handle{
      bottom: 35px;
    position: absolute;
    display: inline-block;
    left: 12px;
    .group-zoom-btn{
        width: 85px;
    display: inline-block;
    .circle{
        background: #e6e8eba3 !important;
    }
    }
    .plus-btn{
        float:right
    }
  }
  .circle {
      cursor: pointer;
      border-radius: 50%;
      display: inline-block;
      text-align: center;
      line-height: 18px;
      width: 18px;
      height: 18px;
      background: #16101029;
    }
  .group-zoom-btn{
      width: 85px;
      display: inline-block;
  }
  .direct-box {
    height: 85px;
    display: flex;
    
    bottom: 30px;
    width: 85px;
    justify-content: space-between;
    flex-direction: column;
    .top-direct {
      text-align: center;
    }
    .bottom-direct {
      text-align: center;
    }
    .middle-direct {
      display: flex;
      justify-content: space-between;
    }
    
    i {
      color: #fff;
    }
  }
  .controll {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: #343333;
    height: 30px;
    .bar-controll {
      padding-right: 10px;
      width: 100%;
      height: 100%;
      ul {
        width: 100%;
        padding: 0;
        margin: 0;
        li {
        float: right;
        line-height: 30px;
        height: 30px;
        margin-left: 15px;
        list-style: none;
          .svg-icon{
            height: 14px;
          }
          svg{
              cursor: pointer;
          }
        }
      }
    }
  }
}
// .videoComponent:hover .nav-controll {
//   display: flex;
//   visibility: visible;
// }
// .videoComponent {
//   position: relative;
//   #streams-container {
//     background: #000;
//     display: flex;
//     justify-content: center;
//   }
//   .nav-controll {
//     align-items: center;
//     position: absolute;
//     width: 100%;
//     bottom: 10px;
//     display: flex;
//     visibility: hidden;
//   }
//   .icon-video {
//     color: #fff;
//     cursor: pointer;
//     font-size: 22px;
//   }
//   img {
//     cursor: pointer !important;
//   }
//   #skin {
//     width: 700px;
//     margin: 10px auto;
//     padding: 5px;
//     background: red;
//     border: 4px solid black;
//     border-radius: 10px;
//   }
//   nav {
//     margin: 5px 0px;
//   }


//   #defaultBar {
//     cursor: pointer;
//     border: none;
//     position: relative;
//     float: left;
//     border-radius: 5px;
//     width: calc(100% - 110px);
//     height: 4px;
//     background: #ffffff94 !important;
//   }
//   #progressBar {
//     position: absolute;
//     width: 0px;
//     border-radius: 5px;
//     height: 4px;
//     background: #fff;
//   }
//   .dislayNone {
//     display: none;
//   }
//   .camera {
//     display: inline-block;
//     position: relative;
//     margin: 0 !important;
//     width: 400px;
//     height: 225px;
//     //background: #000000;
//     overflow: hidden;
//   }
//   .camera-custom {
//     //background: #000000;
//     //height: 100%;
//     margin: 0;
//     width: 100%;
//   }
// }
</style>
