<template>
  <div id="traffic-report" :class="className" :style="{ height: height, width: width }" />
</template>

<script>
import echarts from "echarts";
require("echarts/theme/macarons"); // echarts theme
import { debounce } from "@/utils";

const animationDuration = 6000;

export default {
  props: {
    className: {
      type: String,
      default: "chart",
    },
    width: {
      type: String,
      default: "100%",
    },
    height: {
      type: String,
      default: "300px",
    },
    trafficForChart: {
      type: Object,
      default: null,
    },
  },
  data() {
    return {
      chart: null,
      check: null,
    };
  },
  watch: {
    '$store.state.app.sidebar.opened': function () {
      setTimeout(() =>{
        if (this.chart) {
          this.chart.resize();
        }
      }, 300);
    }
  },
  mounted() {
    this.data = this.trafficForChart;
    this.initChart();
    this.__resizeHandler = debounce(() => {
      if (this.chart) {
        this.chart.resize();
      }
    }, 100);
    window.addEventListener("resize", this.__resizeHandler);
  },
  beforeDestroy() {
    if (!this.chart) {
      return;
    }
    window.removeEventListener("resize", this.__resizeHandler);
    this.chart.dispose();
    this.chart = null;
  },
  methods: {
    hanldeChartKey() {
      return this.trafficForChart.data.map((a) => a.key);
    },
    handleGetLine() {
      return this.trafficForChart.data.map((m) => {
        let total = 0;
        for (let i = 0; i < m.dataObjectType.length; i++) {
          total += m.dataObjectType[i].value;
        }
        return total;
      });
    },
    handleGetValueWithKey(key) {
      return this.trafficForChart.data.map((m) => {
        for (let i = 0; i < m.dataObjectType.length; i++) {
          if (m.dataObjectType[i].objectType == key) {
            return m.dataObjectType[i].value;
          }
        }
      });
    },
    initChart() {
      this.chart = echarts.init(this.$el, "macarons");
      this.chart.setOption({
        baseOption: {
          grid: {
            top: "5%",
            bottom: "15%",
            containLabel: true,
            borderColor: "transparent",
            backgroundColor: "transparent",
            show: true,
            left: "3%",
            right: "4%",
            borderWidth: 0,
          },
          legend: {
            type: "scroll",
            height: "15%",
            data: [
              "Xe máy",
              "Ô tô",
              "Xe tải",
              "Xe bus",
              "Xe xây dựng",
              "Xe đạp",
              "Người đi bộ",
            ],
            icon: "path://m0,0l54,0l0,54l-54,0l0,-54z",
            bottom: 0,
            itemGap: (document.getElementById('traffic-report').offsetWidth - (6 * 70)) / 6
          },
          tooltip: {
            trigger: "axis",
            axisPointer: {
              // Axis indicator, axis trigger is valid
              type: "shadow", // The default is a straight line, which can be selected as: 'line' | 'shadow'
            },
          },
          responsive: true,
          maintainAspectRatio: false,
          color: "#1f7ff5",
          xAxis: [
            {
              axisLine: {
                show: false,
              },
              type: "category",
              data: this.hanldeChartKey(),
              axisLabel: { show: true, color: "rgba(0, 0, 0, 0.6)" },
              axisTick: {
                show: false,
              },
            },
          ],
          yAxis: [
            {
              type: "value",
              splitLine: {
                show: false,
              },
              axisLine: {
                lineStyle: {
                  color: "#E9E9E9",
                },
              },
              axisLabel: { show: true, color: "rgba(0, 0, 0, 0.6)" },
              splitArea: {
                show: false,
              },
              axisTick: {
                show: false,
              },
            },
          ],
          textStyle: {
            fontFamily: "Roboto",
          },
          series: [
            {
              name: "Xe máy",
              type: "bar",
              stack: "vistors",
              barWidth: "16px",
              // color:'#4fc979',
              data: this.handleGetValueWithKey("motorbike"),
              animationDuration,
            },
            {
              name: "Ô tô",
              type: "bar",
              stack: "vistors",
              barWidth: "16px",
              color: "#36a9f3",
              data: this.handleGetValueWithKey("car"),
              animationDuration,
            },
            {
              name: "Xe tải",
              type: "bar",
              stack: "vistors",
              barWidth: "16px",
              color: "#ffae53",
              data: this.handleGetValueWithKey("truck"),
              animationDuration,
            },
            {
              name: "Xe bus",
              type: "bar",
              stack: "vistors",
              barWidth: "16px",
              color: "#685eca",
              data: this.handleGetValueWithKey("bus"),
              animationDuration,
            },
            // Remove constructed
            /*{
          name: 'Xe xây dựng',
          type: 'bar',
          stack: 'vistors',
          barWidth: '16px',
          color:'#ffbf00',
          data: this.handleGetValueWithKey("constructed"),
          animationDuration,
        }, */
            {
              name: "Xe đạp",
              type: "bar",
              stack: "vistors",
              barWidth: "16px",
              color: "red",
              data: this.handleGetValueWithKey("bike"),
              animationDuration,
            },
            {
              name: "Người đi bộ",
              type: "bar",
              stack: "vistors",
              barWidth: "16px",
              color: "#f9327a",
              data: this.handleGetValueWithKey("pedestrian"),
              animationDuration,
            },
            {
              name: "Tổng cộng",
              type: "line",
              smooth: false,
              data: this.handleGetLine(),
            },
          ],
        },
      });
    },
  },
};
</script>
