<template>
  <div :class="className" :style="{height:height,width:width}"/>

</template>

<script>
import echarts from 'echarts';

require('echarts/theme/macarons'); // echarts theme
import {debounce} from '@/utils';

const animationDuration = 6000;

export default {
  props: {
    violationLabel: {
      type: Array,
      default: () => ([])
    },
    className: {
      type: String,
      default: 'chart',
    },
    width: {
      type: String,
      default: '100%',
    },
    height: {
      type: String,
      default: '300px',
    },
    chartViolationMetrics: {
      type: Object,
      default: null,
    }
  },
  data() {
    return {
      chart: null,
      check: null,
    };
  },
  watch: {
    '$store.state.app.sidebar.opened': function () {
      setTimeout(() =>{
        if (this.chart) {
          this.chart.resize();
        }
      }, 300);
    }
  },
  mounted() {
    this.$store.state
    this.data = this.chartViolationMetrics
    this.initChart();
    this.__resizeHandler = debounce(() => {
      if (this.chart) {
        this.chart.resize();
      }
    }, 100);
    window.addEventListener('resize', this.__resizeHandler);
  },
  beforeDestroy() {
    if (!this.chart) {
      return;
    }
    window.removeEventListener('resize', this.__resizeHandler);
    this.chart.dispose();
    this.chart = null;
  },
  methods: {
    hanldeChartKey() {
      return this.chartViolationMetrics.data.map(a => a.key);
    },
    handleGetLine() {
      return this.chartViolationMetrics.data.map(m => {
        let total = 0;
        for (let i = 0; i < m.data.length; i++) {
          total += m.data[i].value
        }
        return total;
      })
    },
    handleGetValueWithKey(key) {
      return this.chartViolationMetrics.data.map(m => {
        for (let i = 0; i < m.data.length; i++) {
          if (m.data[i].eventType == key) {
            return m.data[i].value;
          }
        }
      })
    },
    initChart() {
      let self = this
      this.chart = echarts.init(this.$el, 'macarons');
      this.chart.setOption({
        baseOption: {
          grid: {
            top: "5%",
            bottom: '15%',
            containLabel: true,
            borderColor: "transparent",
            backgroundColor: "transparent",
            show: true,
            left: "3%",
            right: "4%",
            borderWidth: 0
          },
          legend: {
            type: "scroll",
            height: "15%",
            data: this.violationLabel.map(v => v.name),
            icon: "path://m0,0l54,0l0,54l-54,0l0,-54z",
            bottom: 0,
            left: "center",
            itemGap: 20
          },
          tooltip: {
            trigger: 'axis',
            axisPointer: { // Axis indicator, axis trigger is valid
              type: 'shadow', // The default is a straight line, which can be selected as: 'line' | 'shadow'
            },
            appendToBody: true
          },
          responsive: true,
          maintainAspectRatio: false,
          color: '#1f7ff5',
          xAxis: [{
            axisLine: {
              show: false,
            },
            type: 'category',
            data: this.hanldeChartKey(),
            axisLabel: {show: true, color: 'rgba(0, 0, 0, 0.6)'},
            axisTick: {
              show: false
            },
          }],
          textStyle: {
            fontFamily: 'Roboto',
          },
          yAxis: [{
            type: 'value',
            splitLine: {
              show: false
            },
            axisLine: {
              lineStyle: {
                color: '#E9E9E9',

              }
            },
            axisLabel: {show: true, color: 'rgba(0, 0, 0, 0.6)'},
            splitArea: {
              show: false
            },
            axisTick: {
              show: false,
            },
          }],
          series:
              this.violationLabel.map(
                  (v, index) => {
                    return {
                      name: v.name,
                      type: 'bar',
                      stack: 'vistors',
                      barWidth: '16px',
                      color: self.$root.eventColor(v.code),
                      data: this.handleGetValueWithKey(v.code),
                      animationDuration,
                    }
                  }
              ).concat([
                {
                  name: 'Tổng cộng',
                  type: 'line',
                  smooth: false,
                  data: this.handleGetLine()
                }
              ])
        },
      });
    },
  },
};
</script>
