<template>
 <div class="chart-pie-container">
    <div :class="className" :style="{width:width}" />
 </div>
</template>

<script>
import echarts from 'echarts';
require('echarts/theme/macarons'); // echarts theme
import { debounce } from '@/utils';

export default {
  props: {
    className: {
      type: String,
      default: 'chart',
    },
    width: {
      type: String,
      default: '100%',
    },
    vehicleTrafficFlowMetrics:{
      type: Object,
      default:null
    },
    color:{
      type:Array,
      default:[]
    },
    data:{
      type:Array,
      default:[]
    },
    dataLegend:{
      type:Array,
      default:[]
    }
    
  },
  data() {
    return {
      chart: null,
    };
  },
  mounted() {
    this.initChart();
    this.__resizeHandler = debounce(() => {
      if (this.chart) {
        this.chart.resize();
      }
    }, 100);
    window.addEventListener('resize', this.__resizeHandler);
  },
  beforeDestroy() {
    if (!this.chart) {
      return;
    }
    window.removeEventListener('resize', this.__resizeHandler);
    this.chart.dispose();
    this.chart = null;
  },
  methods: {
    handleGetValue(){
      if(this.vehicleTrafficFlowMetrics &&this.vehicleTrafficFlowMetrics != null)
     return this.vehicleTrafficFlowMetrics.dataObjectType.map(m =>{
        return {name:m.objectTypeName, value: m.value}
      })
    },
    initChart() {
      this.chart = echarts.init(this.$el, 'macarons');
      this.chart.resize(
        {
          height: "220px",
      }
      ),
      
      this.chart.setOption({
        baseOption:{
          tooltip: {
          trigger: 'item',
          formatter: '{b} : {c} ({d}%)',
        },
        grid: {
          top: "5%",
          bottom: '50%',
          containLabel: true,
          borderColor: "transparent",
          backgroundColor: "transparent",
          show: true,
          left: "3%",
          right: "4%",
          borderWidth: 0
        },
        legend: {
          height: '50%' ,
          orient: 'vertical',
          right: '20px',
          icon: 'circle',
          selectedMode:false,
          top: 50,
          data: this.dataLegend,
        },
        series: [
          {
            name: 'Tổng quan',
            type: 'pie',
            left: '-10%',
            radius: ['40%', '70%'],
            avoidLabelOverlap: false,
            center: ['40%', '50%'],
            label: {
                show: false,
                position: 'outSide',
                formatter: '{d}%'
            },
            labelLine: {
                show: false
            },
           color: this.color,
           data:this.data,
        },
        ],
        }
      });
    },
  },
};
</script>
<style scoped>
</style>
