<template>
  <div class="app-container claim groupsInfo-page" v-if="canRead">
    <!-- Filter -->
    <template>
      <div id="groupsInfo-table">
        <div class="filter-container" v-if="multipleSelection.length == 0">
          <template>
            <div class="search-block">
              <el-input
                class="search"
                placeholder=""
                prefix-icon="el-icon-search"
                v-model="searchKeyword"
                @keyup.enter.native="handleFilter()"
              >
              </el-input>
              <el-button v-if="canCreate" type="primary" @click="handleCreate()"
                ><i class="el-icon-plus"></i> Thêm mới</el-button
              >
            </div>
          </template>
        </div>
        <div id="select-all-delete" v-if="multipleSelection.length > 0">
          <i class="el-icon-close" @click="closeDelete()"></i>
          <span v-if="multipleSelection.length < 10"
            >0{{ multipleSelection.length }}</span
          ><span v-else>{{ multipleSelection.length }}</span> mục được chọn
          <el-button
            type="danger"
            @click="destroyMulti()"
            :loading="loading_delete_all"
            v-if="canDelete"
            ><i class="el-icon-delete"></i> Xóa</el-button
          >
        </div>
        <el-table
          ref="multipleTable"
          :data="groupsList"
          style="width: 100%"
          :row-class-name="tableRowClassName"
          @selection-change="handleSelectionChange"
          @row-click="rowClicked"
        >
          <el-table-column type="selection" width="55"> </el-table-column>

          <el-table-column label="STT" :width="(query.page * query.size).toString().length * 10 + 30">
            <template slot-scope="scope">
              <span>{{
                (query.page - 1) * query.size + scope.$index + 1
              }}</span>
            </template>
          </el-table-column>

          <el-table-column label="Mã đội">
            <template slot-scope="scope">
              <span>{{ scope.row.code }}</span>
            </template>
          </el-table-column>
          <el-table-column label="Tên đội CSGT">
            <template slot-scope="scope">
              <span>{{ scope.row.name }}</span>
            </template>
          </el-table-column>
          <el-table-column label="Đơn vị">
            <template slot-scope="scope">
              <span>{{ scope.row.organizationUuid.name }}</span>
            </template>
          </el-table-column>
          <el-table-column label="Địa chỉ">
            <template slot-scope="scope">
              <span>{{ scope.row.address }}</span>
            </template>
          </el-table-column>

          <el-table-column label="Điện thoại">
            <template slot-scope="scope">
              <span>{{ scope.row.phone }}</span>
            </template>
          </el-table-column>

          <el-table-column label="Email">
            <template slot-scope="scope">
              <span>{{ scope.row.email }}</span>
            </template>
          </el-table-column>
        </el-table>
        <!-- Phân trang -->
        <p style="clear: both"></p>
        <div style="display: inline-block; padding-top: 13px">
          Tổng số đội: <strong>{{ total }}</strong>
        </div>
        <pagination
          v-show="total > query.size"
          :total="total"
          :page.sync="query.page"
          :layout="layout"
          :limit.sync="query.size"
          @pagination="getList"
        />
      </div>
      <div id="detail-groupsInfo" style="width: 0">
        <i class="el-icon-close" @click="closeDetail()"></i>
        <template v-if="groupsDetail">
          <div class="avatar"></div>

          <template v-if="groupsDetail.code">
            <div class="item-label">Mã đội</div>
            <div class="item-text">{{ groupsDetail.code }}</div>
          </template>

          <template v-if="groupsDetail.name">
            <div class="item-label">Tên đội CSGT</div>
            <div class="item-text">{{ groupsDetail.name }}</div>
          </template>

          <template v-if="groupsDetail.organizationUuid">
            <div class="item-label">Tên đơn vị</div>
            <div class="item-text">
              {{ groupsDetail.organizationUuid.name }}
            </div>
          </template>

          <template v-if="groupsDetail.address">
            <div class="item-label">Địa chỉ</div>
            <div class="item-text">{{ groupsDetail.address }}</div>
          </template>

          <template v-if="groupsDetail.phone">
            <div class="item-label">Số điện thoại</div>
            <div class="item-text">{{ groupsDetail.phone }}</div>
          </template>

          <template v-if="groupsDetail.email">
            <div class="item-label">Email</div>
            <div class="item-text">{{ groupsDetail.email }}</div>
          </template>
          <template v-if="groupsDetail.email">
            <div class="item-label">Mô tả</div>
            <div class="item-text">{{ groupsDetail.description }}</div>
          </template>
          <div class="action">
            <el-button
              v-if="canUpdate"
              type="primary"
              @click="handleEdit(groupsDetail)"
              ><i class="el-icon-edit"></i>Sửa</el-button
            >
            <el-button
              type="success"
              v-if="canDelete"
              @click="destroy(groupsDetail)"
              :loading="loadingDeleteGroup"
              ><i class="el-icon-delete"></i> Xóa</el-button
            >
          </div>
        </template>
      </div>
    </template>
    <!-- Dialog Add -->
    <el-dialog
      title="Thêm mới đội CSGT"
      :visible.sync="dialogAdd"
      width="547px"
      @close="closeDialog('addForm')"
      :close-on-click-modal="false"
    >
      <el-form
        :model="groupsInfo"
        :rules="rules"
        ref="addForm"
        label-position="top"
        label-width="100%"
      >
        <div class="item-mid">
          <el-form-item label="Mã đội" prop="code">
            <el-input maxlength="255" v-model="groupsInfo.code"></el-input>
          </el-form-item>
        </div>
        <div class="item-mid">
          <el-form-item label="Tên đội CSGT" prop="name">
            <el-input maxlength="255" v-model="groupsInfo.name"></el-input>
          </el-form-item>
        </div>
        <div class="item-mid">
          <el-form-item label="Đơn vị quản lý" prop="organizationUuid.uuid">
            <el-select
              v-model="groupsInfo.organizationUuid.uuid"
              placeholder="Đơn vị"
              style="width: 100%"
            >
              <el-option
                v-for="organization in organizationList"
                :key="organization.uuid"
                :label="organization.name"
                :value="organization.uuid"
                class="fit-option"
              >
              </el-option>
            </el-select>
          </el-form-item>
        </div>
        <div class="block-item">
          <div class="item-left">
            <el-form-item label="Điện thoại" prop="phone">
              <el-input maxlength="255" v-model="groupsInfo.phone"></el-input>
            </el-form-item>
          </div>
          <div class="item-right">
            <el-form-item label="Email" prop="email">
              <el-input maxlength="255" v-model="groupsInfo.email"></el-input>
            </el-form-item>
          </div>
        </div>
        <div class="item-mid">
          <el-form-item label="Địa chỉ" prop="address">
            <el-input maxlength="255" v-model="groupsInfo.address"></el-input>
          </el-form-item>
        </div>
        <div class="item-mid">
          <el-form-item label="Mô tả" prop="description">
            <el-input
              maxlength="255"
              type="textarea"
              v-model="groupsInfo.description"
              :autosize="{ minRows: 2, maxRows: 10 }"
            ></el-input>
          </el-form-item>
        </div>
        <div class="item-mid group-cam-checkbox">
          <el-form-item label="Nhóm thiết bị" prop="groupsCamera">
            <div class="site-list">
              <div class="search-block">
                <el-input
                  class="search"
                  placeholder=""
                  prefix-icon="el-icon-search"
                  v-model="filterText"
                >
                </el-input>
              </div>
              <ul class="infinite-list" style="overflow: auto; height: 200px;padding-left: 15px;">
                <el-tree
                  node-key="id"
                  icon-class="el-icon-arrow-right"
                  :data="groupCamerasTree"
                  ref="tree"
                  show-checkbox
                  :expand-on-click-node="false"
                  :filter-node-method="filterNode"
                  @check="handleCheckChange"
                >
                  <span class="custom-tree-node" slot-scope="{ node, data }">
                    <span class="icon-folder">
                      <div v-if="data.type !== 'file'">
                        <svg-icon
                          icon-class="folder"
                          class="el-icon-folder-opened"
                        />
                        <span
                          class="icon-folder_text"
                          style="padding-left: 5px"
                          >{{ data.name }}</span
                        >
                      </div>
                      <template v-if="data.type === 'file'">
                        <span>{{ node.label }}</span>
                      </template>
                    </span>
                  </span>
                </el-tree>
              </ul>
            </div>
          </el-form-item>
        </div>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="danger" @click="dialogAdd = false">THOÁT</el-button>
        <el-button type="primary" @click="addGroups()" :loading="loadingGroup"
          >LƯU</el-button
        >
      </div>
    </el-dialog>

    <!-- Dialog Edit -->
    <el-dialog
      title="Sửa đội CSGT"
      :visible.sync="dialogEdit"
      width="547px"
      :close-on-click-modal="false"
    >
      <el-form
        :model="groupsInfo"
        :rules="rules"
        ref="editForm"
        label-position="top"
        label-width="200px"
      >
        <div class="item-mid">
          <el-form-item label="Mã đội" prop="code">
            <el-input maxlength="255" v-model="groupsInfo.code"></el-input>
          </el-form-item>
        </div>
        <div class="item-mid">
          <el-form-item label="Tên đội CSGT" prop="name">
            <el-input maxlength="255" v-model="groupsInfo.name"></el-input>
          </el-form-item>
        </div>
        <div class="item-mid">
          <el-form-item label="Đơn vị quản lý" prop="uuid">
            <el-select
              v-model="groupsInfo.organizationUuid.uuid"
              placeholder="Đơn vị"
              style="width: 100%"
            >
              <el-option
                v-for="organization in organizationList"
                :key="organization.uuid"
                :label="organization.name"
                :value="organization.uuid"
                class="fit-option"
                >{{ organization.name }}</el-option
              >
            </el-select>
          </el-form-item>
        </div>
        <div class="block-item">
          <div class="item-left">
            <el-form-item label="Điện thoại" prop="phone">
              <el-input maxlength="255" v-model="groupsInfo.phone"></el-input>
            </el-form-item>
          </div>
          <div class="item-right">
            <el-form-item label="Email" prop="email">
              <el-input maxlength="255" v-model="groupsInfo.email"></el-input>
            </el-form-item>
          </div>
        </div>
        <div class="item-mid">
          <el-form-item label="Địa chỉ" prop="address">
            <el-input maxlength="255" v-model="groupsInfo.address"></el-input>
          </el-form-item>
        </div>
        <div class="item-mid">
          <el-form-item label="Mô tả" prop="description">
            <el-input
              maxlength="255"
              type="textarea"
              v-model="groupsInfo.description"
              :autosize="{ minRows: 2, maxRows: 10 }"
            ></el-input>
          </el-form-item>
        </div>
        <div class="item-mid group-cam-checkbox">
          <el-form-item label="Nhóm thiết bị" prop="groupsCamera">
            <div class="site-list">
              <div class="search-block">
                <el-input
                  class="search"
                  placeholder=""
                  prefix-icon="el-icon-search"
                  v-model="filterText"
                >
                </el-input>
              </div>
              <ul class="infinite-list" style="overflow: auto; height: 200px; padding-left: 15px;">
                <el-tree
                  node-key="id"
                  :key="treeKey"
                  icon-class="el-icon-arrow-right"
                  :data="groupCamerasTree"
                  ref="tree"
                  show-checkbox
                  :default-checked-keys="listCameraGroupsByGroupUuid"
                  :expand-on-click-node="false"
                  :filter-node-method="filterNode"
                  @check="handleCheckChangeEdit"
                >
                  <span class="custom-tree-node" slot-scope="{ node, data }">
                    <span class="icon-folder">
                      <div v-if="data.type !== 'file'">
                        <svg-icon
                          icon-class="folder"
                          class="el-icon-folder-opened"
                        />
                        <span
                          class="icon-folder_text"
                          style="padding-left: 5px"
                          >{{ data.name }}</span
                        >
                      </div>
                      <template v-if="data.type === 'file'">
                        <span>{{ node.label }}</span>
                      </template>
                    </span>
                  </span>
                </el-tree>
              </ul>
            </div>
          </el-form-item>
        </div>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="danger" @click="dialogEdit = false">THOÁT</el-button>
        <el-button type="primary" @click="editGroups()" :loading="loadingGroup"
          >Cập nhật</el-button
        >
      </div>
    </el-dialog>
  </div>
</template>

<script>
import Pagination from "@/components/Pagination_custom";
import waves from "@/directive/waves"; // Waves directive
import { validFloat } from "@/utils/validate";
import { validEmail, validPhone } from "@/utils/validate";
import Resource from "@/api/resource";
import { getData } from "@/api/process-unit-resources";
const groupsResource = new Resource("user/groups");
const organizationResource = new Resource("user/organization");
const cameraGroupsResource = new Resource("systemconfig/group-camera");
const listCameragroupsResource = new Resource("user/groups/cameragroups");
// const userResource = new Resource("systemconfig/violation-track/user");
export default {
  components: { Pagination },
  directives: { waves },
  data() {
    const validateEmail = (rule, value, callback) => {
      if (value && !validEmail(value)) {
        callback(new Error("Vui lòng nhập đúng định dạng email"));
      } else {
        callback();
      }
    };

    const validateMobile = (rule, value, callback) => {
      if (value && !validPhone(value)) {
        callback(new Error("Vui lòng nhập đúng định dạng số điện thoại"));
      } else {
        callback();
      }
    };
    return {
      checkList: [],
      checkedEdit: false,
      treeKey: 'treeKey',
      flag_active: null,
      loading: true,
      loadingGroup: false,
      loadingDeleteGroup: false,
      dialogAdd: false,
      dialogEdit: false,
      loading_delete_all: false,
      multipleSelection: [],
      groupsInfo: {
        uuid: "",
        code: "",
        name: "",
        phone: "",
        email: "",
        address: "",
        description: "",
        organizationUuid: {
          uuid: "",
          code: "",
          name: "",
          phone: "",
          email: "",
          address: "",
          description: "",
        },
      },
      groupCamerasTree: [],
      filterText: "",
      cameraGroups: {
        id: "",
        name: "",
      },
      listCameraGroupsId: [],
      statusLst: [
        {
          value: "ENABLE",
          label: "Hoạt động",
        },
        {
          value: "DISABLE",
          label: "Không hoạt động",
        },
      ],
      listCameraGroups: [],
      groupsInfosList: [],
      categoryList: [],
      categoryTypesList: [],
      groupsDetail: {},
      groupsList: [],
      organizationList: [],
      checkGroupCamerasIdList: [],
      checkGroupCamerasIdListEdit: [],
      listCameraGroupsByGroupUuid: [],
      total: 0,
      searchKeyword: null,
      query: {
        page: 0,
        size: 15,
        keyword: this.searchKeyword,
      },
      userList: [],
      canRead: false,
      canCreate: false,
      canUpdate: false,
      canDelete: false,
      layout: "first, prev, pager, next, last",
      rules: {
        code: [
          { required: true, message: "Mã đội là bắt buộc", trigger: "blur" },
          { max: 100, message: "Tối đa 100 ký tự", trigger: "blur" },
        ],
        phone: [
          // { required: true, message: "Số điện thoại là bắt buộc", trigger: "blur" },
          { validator: validateMobile },
        ],
        name: [
          { required: true, message: "Tên đội là bắt buộc", trigger: "blur" },
          { max: 255, message: "Tối đa 255 ký tự", trigger: "blur" },
        ],
        email: [
          // { required: true, message: "Email là bắt buộc", trigger: "blur" },
          { validator: validateEmail, trigger: "blur" },
          { max: 320, message: "Email tối đá 320 ký tự", trigger: "blur" },
        ],
        address: [
          { required: true, message: "Địa chỉ là bắt buộc", trigger: "blur" },
          { max: 255, message: "Tối đa 255 ký tự", trigger: "blur" },
        ],
        description: [
          { max: 500, message: "Tối đa 500 ký tự", trigger: "blur" },
        ],
        "organizationUuid.uuid": [
          { required: true, message: "Đơn vị là bắt buộc", trigger: "blur" },
        ],
      },
    };
  },

  created() {
    this.canRead = this.$root.checkRole(this.$route.fullPath, "canRead");
    this.canCreate = this.$root.checkRole(this.$route.fullPath, "canCreate");
    this.canUpdate = this.$root.checkRole(this.$route.fullPath, "canUpdate");
    this.canDelete = this.$root.checkRole(this.$route.fullPath, "canDelete");
    this.init();
  },

  watch: {
    filterText(val) {
      this.$refs.tree.filter(val);
    },
  },
  methods: {
    filterNode(value, data) {
      if (!value) return true;
      return data.label.toLowerCase().indexOf(value.toLowerCase()) !== -1;
    },
    async init() {
      await this.getList();
      // await this.getUserList();
      await this.getGroupCameraTreeList();
    },
    async getList() {
      this.loading = true;
      if(this.searchKeyword) {
        this.searchKeyword = this.searchKeyword.trim()
      }
      let queryCustom = {
        page: this.query.page,
        size: this.query.size,
        search: this.searchKeyword ? this.searchKeyword.trim() : "",
        systemType: 0,
      };
      if (this.query.page > 0) {
        queryCustom.page = this.query.page - 1;
      }
      const { data, total } = await groupsResource.list(queryCustom);
      if (data) {
        this.groupsList = data;
      } else {
        this.groupsList = [];
      }
      if (total) {
        this.total = total;
      } else {
        this.total = 0;
      }

      this.loading = false;
    },
    // async getUserList() {
    //   //User
    //   let userReceiverResult = await userResource.list();
    //   if (userReceiverResult && userReceiverResult.data) {
    //     this.userList = userReceiverResult.data;
    //   }
    // },
    genUserLabel(user) {
      return user.name + " (" + user.email + ")";
    },
    async getGroupCameraTreeList() {
      const { data } = await getData("/systemconfig/group-camera/camera-tree");
      this.groupCamerasTree = data;
      this.groupCamerasTree.map(function (val) {
        val.children = [];
        if (val.camTrees.length > 0) {
          val.camTrees.forEach(function (val1) {
            val.children.push({
              id: val1.id,
              label: val1.name,
              type: "file",
            });
          });
        }
        val.label = val.name;
      });
    },
    handleCheckChange(data) {
      let id = this.checkGroupCamerasIdList.filter((g) => g == data.id);
      if (id != null) {
        this.checkGroupCamerasIdList.push(data.id);
      }
    },
    handleCheckChangeEdit(data, checked) {
      // console.log("handleCheckChangeEdit => data: " + JSON.stringify(data));
      // console.log(
      //   "handleCheckChangeEdit => checked: " + JSON.stringify(checked)
      // );
      // console.log(
      //   "handleCheckChangeEdit be => listCameraGroupsByGroupUuid: " +
      //     JSON.stringify(this.listCameraGroupsByGroupUuid)
      // );
      this.listCameraGroupsByGroupUuid = [];
      if (checked.checkedNodes && checked.checkedNodes.length) {
        for (let item of checked.checkedNodes) {
          if (!item.type) {
            let indexOf = this.listCameraGroupsByGroupUuid.indexOf(item.id);
            if (indexOf == -1) {
              this.listCameraGroupsByGroupUuid.push(item.id);
            }
          }
        }
      } else {
        this.listCameraGroupsByGroupUuid = [];
      }
      // console.log(
      //   "handleCheckChangeEdit => listCameraGroupsByGroupUuid: " +
      //     JSON.stringify(this.listCameraGroupsByGroupUuid)
      // );
    },
    setCheckedEdit() {
      this.checkedEdit = true;
    },
    async getListOrganization() {
      this.loading = true;

      let queryCustom = {
        // page: this.query.page,
        // size: this.query.size,
        // search: this.searchKeyword ? this.searchKeyword : "",
        systemType: 0,
      };
      // if (this.query.page > 0) {
      //   queryCustom.page = this.query.page - 1;
      //   queryCustom.size = this.query.size;
      //   queryCustom.search = this.query.search;
      // }

      const { data } = await organizationResource.list(queryCustom);
      if (data) {
        this.organizationList = data;
      } else {
        this.organizationList = [];
      }
      // if (total) {
      //   this.total = total;
      // } else {
      //   this.total = 0;
      // }

      this.loading = false;
    },
    async getListCameraGroupByGroupsUuid(uuidGroups) {
      this.listCameraGroupsByGroupUuid = [];
      this.treeKey = Math.floor(Math.random() * 999999)
      this.loading = true;
      const { data } = await listCameragroupsResource.get(uuidGroups);
      if (data) {
        this.listCameraGroupsByGroupUuid = data;
        this.checkList = data;
      } else {
        this.listCameraGroupsByGroupUuid = [];
      }
      this.treeKey = Math.floor(Math.random() * 999999)
      // if (total) {
      //   this.total = total;
      // } else {
      //   this.total = 0;
      // }

      this.loading = false;
    },

    async getListCameraGroup() {
      this.loading = true;

      let queryCustom = {
        // page: this.query.page,
        // size: this.query.size,
        // search: this.searchKeyword ? this.searchKeyword : "",
      };
      // if (this.query.page > 0) {
      //   queryCustom.page = this.query.page - 1;
      //   queryCustom.size = this.query.size;
      //   queryCustom.search = this.query.search;
      // }

      const { data } = await cameraGroupsResource.list(queryCustom);
      if (data) {
        this.listCameraGroups = data;
      } else {
        this.listCameraGroups = [];
      }
      // if (total) {
      //   this.total = total;
      // } else {
      //   this.total = 0;
      // }

      this.loading = false;
    },

    closeDelete() {
      this.$refs.multipleTable.clearSelection();
      this.multipleSelection = [];
    },
    closeDetail() {
      document.getElementById("detail-groupsInfo").style.display = "none";
      document.getElementById("detail-groupsInfo").style.width = "0";
      document.getElementById("groupsInfo-table").style.width = "calc(100%)";
    },
    async rowClicked(row) {
      this.flag_active = row.uuid;
      const { data } = await groupsResource.get(row.uuid);
      if (data) {
        this.groupsDetail = data;
        if (this.groupsDetail) {
          document.getElementById("groupsInfo-table").style.width =
            "calc(100% - 445px)";
          setTimeout(function () {
            document.getElementById("detail-groupsInfo").style.display =
              "block";
            document.getElementById("detail-groupsInfo").style.width = "420px";
          }, 500);
        }
      } else {
        this.$message({
          message: "Đội CSGT không tồn tại",
          type: "error",
        });
        this.handleFilter();
      }
    },

    destroy(groupsInfo) {
      this.$confirm(
        "Bạn có chắc chắn muốn xóa vị đơn vị " + groupsInfo.name + "?",
        "",
        {
          confirmButtonText: "Xác nhận",
          cancelButtonText: "Thoát",
          type: "warning",
        }
      )
        .then(() => {
          this.loadingDeleteGroup = true;
          let params = {
            systemType: 0,
          };
          groupsResource
            .destroyBothSystem(groupsInfo.uuid, params)
            .then((response) => {
              this.loadingDeleteGroup = false;
              this.handleFilter();
              if (response.status == 200) {
                this.getList();
                this.closeDetail();
                this.$message({
                  message: "Xóa thành công",
                  type: "success",
                });
              } else {
                this.$notify({
                  title: "Lỗi",
                  message: "Xóa thất bại",
                  type: "error",
                });
              }
              this.loadingDeleteGroup = false;
            })
            .catch((err) => {
              this.loadingDeleteGroup = false;
              console.log(err);
              // this.$notify({
              //   title: "Lỗi",
              //   message: "Xóa thất bại",
              //   type: "error",
              // });
            });
        })
        .catch(() => {});
    },

    destroyMulti() {
      this.$confirm("Bạn có chắc chắn muốn xóa lựa chọn này? ", "", {
        confirmButtonText: "Xác nhận",
        cancelButtonText: "Thoát",
        type: "warning",
      })
        .then(() => {
          this.loadingDeleteGroup = true;
          let params = this.multipleSelection.map(function (val) {
            return val.uuid;
          });
          params = {
            uuidGroups: params,
            systemType: 0,
          };
          groupsResource
            .destroyMulti(params)
            .then((response) => {
              this.loadingDeleteGroup = false;
              if (response.status == 200) {
                this.multipleSelection = [];
                this.getList();
                this.closeDetail();
                this.$message({
                  type: "success",
                  message: "Xóa thành công",
                });
              }
            })
            .catch((err) => {
              this.loadingDeleteGroup = false;
              console.log(err);
              // this.$message({
              //     type: 'error',
              //     message: 'Có lỗi xảy ra vui lòng thử lại sau!'
              // });
            });
        })
        .catch(() => {});
    },

    handleFilter() {
      this.query.page = 1;
      this.getList();
    },

    handleCreate() {
      this.resetDialog();
      this.dialogAdd = true;
      this.getListCameraGroup();
      this.getListOrganization();
    },

    handleEdit(data) {
      this.listCameraGroupsId;
      this.groupsInfo = Object.assign({}, data);
      this.getListCameraGroupByGroupsUuid(this.groupsInfo.uuid);
      // this.groupsInfo = {
      //   id: data.id,
      //   name: data.name,
      //   groupsInfoKey: data.groupsInfoKey,
      //   address: data.address,
      //   longitude: data.longitude,
      //   latitude: data.latitude,
      //   notes: data.notes,
      //   status: data.status
      // };

      this.dialogEdit = true;
      this.$nextTick(() => {
        this.$refs["editForm"].clearValidate();
      });
      this.getListCameraGroup();
      this.getListOrganization();
    },

    addGroups() {
      // this.groupsInfo = this.$root.trimData(this.groupsInfo);
      // if (!this.groupsInfo.organizationUuid.uuid) {
      //   this.groupsInfo.organizationUuid = null;
      // }
      this.$refs.addForm.validate((valid) => {
        if (valid) {
          const params = {
            code: this.groupsInfo.code.trim(),
            name: this.groupsInfo.name.trim(),
            phone: this.groupsInfo.phone.trim(),
            email: this.groupsInfo.email.trim(),
            address: this.groupsInfo.address.trim(),
            organizationUuid: this.groupsInfo.organizationUuid.uuid.trim(),
            description: this.groupsInfo.description.trim(),
            listCameraGroupsId: this.checkGroupCamerasIdList,
            systemType: 0,
          };
          this.loadingGroup = true;
          groupsResource
            .store(params)
            .then((response) => {
              if (response.status === 200 || response.status === 201) {
                this.dialogAdd = false;
                this.handleFilter();
                this.resetDialog();
                this.$message({
                  message: "Thêm mới thành công",
                  type: "success",
                });
              }
              this.loadingGroup = false;
            })
            .catch(() => {
              this.loadingGroup = false;
              // this.$notify({
              //   title: "Lỗi",
              //   message: "Thêm mới thất bại",
              //   type: "error",
              // });
            });
        } else {
          return false;
        }
      });
    },

    editGroups() {
      // this.groupsInfo = this.$root.trimData(this.groupsInfo);
      // if (!this.groupsInfo.organizationUuid.uuid) {
      //   this.groupsInfo.organizationUuid = null;
      // }
      this.$refs.editForm.validate((valid) => {
        if (valid) {
          const params = {
            code: this.groupsInfo.code.trim(),
            name: this.groupsInfo.name.trim(),
            phone: this.groupsInfo.phone.trim(),
            email: this.groupsInfo.email.trim(),
            address: this.groupsInfo.address.trim(),
            organizationUuid: this.groupsInfo.organizationUuid.uuid.trim(),
            description: this.groupsInfo.description.trim(),
            listCameraGroupsId: this.listCameraGroupsByGroupUuid,
            systemType: 0,
          };
          this.loadingGroup = true;
          groupsResource
            .update(this.groupsInfo.uuid, params)
            .then((response) => {
              if (response.status === 200 || response.status === 201) {
                this.dialogEdit = false;
                this.handleFilter();
                this.checkGroupCamerasIdListEdit = [];
                this.$message({
                  message: "Sửa thành công",
                  type: "success",
                });
                this.loadingGroup = false;
              }
            })
            .catch(() => {
              this.loadingGroup = false;
              // this.$notify({
              //   title: "Lỗi",
              //   message: "Sửa thất bại",
              //   type: "error",
              // });
            });
        } else {
          return false;
        }
      });
    },

    resetDialog() {
      this.groupsInfo = {
        id: "",
        name: "",
        code: "",
        catType: "",
        mapper: "",
        orderInType: "",
        description: "",
        phone: "",
        email: "",
        organizationUuid: {
          uuid: "",
          code: "",
          name: "",
          phone: "",
          email: "",
          address: "",
          description: "",
        },
      };
      this.checkList = [];
      this.checkGroupCamerasIdL = [];
    },
    closeDialog(formName) {
      this.$refs[formName].clearValidate();
      this.$refs[formName].resetFields();
    },

    handleSelectionChange(val) {
      this.multipleSelection = val;
    },

    tableRowClassName(row) {
      if (row.row.uuid == this.flag_active) {
        return "active-row";
      }
      return "";
    },
  },
};
</script>

<style lang="scss" scoped>
.fit-option {
  max-width: 485px;
}
.groupsInfo-page {
  .item-mid {
    width: 97%;
    float: left;
    margin-left: 0%;
  }
}
.site-list {
  .search-block {
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 15px;
    .search input {
      width: 100%;
      height: 36px !important;
      line-height: 36px !important;
      border: solid 1px #9999;
      border-radius: 5px;
      padding-left: 40px;
      width: 100% !important;
    }
  }
}
</style>

<style lang="scss">
.groupsInfo-page {
  .el-dialog__body {
    .site-list {
      .search-block {
        .search input {
          width: 96%;
        }
        margin-top: 15px;
        margin-left: 20px;
      }
      border: solid 1px #9999;
      border-radius: 5px;
    }
    .search-block .search span {
      top: -5px;
    }
  }
  .el-form-item__error {
    position: initial;
  }
  .group-cam-checkbox {
    .svg-icon {
      width: 30px;
    }
    .el-tree-node__children {
      .el-checkbox {
        display: none;
      }
    }
    .item-check {
      margin-bottom: 8px;
      .el-checkbox__input {
        margin-top: 2px;
        vertical-align: top;
      }
      .el-checkbox__label {
        vertical-align: top;
      }
    }
  }
  .el-icon-camera-solid {
    font-size: 25px;
    color: #9a9a9a;
    position: relative;
    top: -50px;
    left: 54px;
    background: #dfdfdf;
    border-radius: 50%;
    padding: 8px;
    border: 1px solid white;
  }
  .el-form-item {
    margin-bottom: 1px;
  }
  .img_avatar {
    text-align: center;
    padding-top: 25px;
    img {
      border-radius: 50%;
    }
  }
  .el-dialog {
    margin-top: 25px !important;
  }
  .item-left {
    width: 46%;
    float: left;
    margin-right: 2%;
  }
  .item-right {
    width: 46%;
    float: left;
    margin-left: 3%;
  }
  .block-item {
    width: 100%;
    float: left;
  }
  .el-dialog__header {
    padding: 0;
    background: #006fe3;
    height: 40px;
    line-height: 40px;
    text-align: center;
    .el-dialog__title {
      color: white;
    }
    .el-icon-close {
      color: white;
      font-size: 22px;
      top: -10px;
      position: relative;
    }
  }
  .el-dialog__body {
    padding-top: 10px;
    padding-bottom: 0;
    .el-form-item__label {
      padding-bottom: 0;
      font-size: 14px;
      color: #363030;
      font-weight: 300;
    }
  }
  .el-dialog__footer {
    clear: both;
    padding-bottom: 25px;
    .el-button--primary {
      background: #1f7ff5;
      height: 40px;
      border-radius: 5px;
      width: 147px;
      text-transform: uppercase;
      font-weight: bold;
      border-color: #1f7ff5;
    }
    .el-button--danger {
      background: #9e9e9e;
      height: 40px;
      border-radius: 5px;
      width: 147px;
      text-transform: uppercase;
      font-weight: bold;
      border-color: #9e9e9e;
      float: left;
    }
  }
  #select-all-delete {
    height: 63px;
    line-height: 63px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ff4646;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    .el-icon-close {
      font-size: 25px;
      margin-left: 20px;
      margin-right: 35px;
      position: relative;
      top: 4px;
      cursor: pointer;
    }
    button {
      background: #e00000;
      border: initial;
      border-radius: 5px;
      float: right;
      display: inline-block;
      margin-top: 15px;
      margin-right: 15px;
    }
  }
  .action {
    margin-top: 40px;
    .el-button--primary {
      background: #64789a;
      border: initial;
      border-radius: 4px;
      width: 147px;
      height: 40px;
    }
    .el-button--success {
      background: #ff6161;
      border: initial;
      border-radius: 4px;
      width: 147px;
      height: 40px;
      float: right;
    }
    .el-button--info {
      background: #26c6da;
      border: initial;
      border-radius: 4px;
      width: 147px;
      height: 40px;
      float: right;
    }
  }
  #detail-groupsInfo {
    position: relative;
    /* transition: width 1s;
      -moz-transition: width 1s;
      -webkit-transition: width 1s;
      -o-transition: width 1s;*/
    width: 0;
    background: white;
    padding: 25px;
    float: left;
    margin-left: 25px;
    display: none;
    overflow: hidden;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    .avatar {
      text-align: center;
      margin-bottom: 25px;
      margin-top: 25px;
      img {
        border-radius: 50%;
      }
    }
    .item-label {
      color: black;
      font-weight: bold;
      font-size: 14px;
      margin-bottom: 10px;
    }
    .item-text {
      color: black;
      font-size: 16px;
      margin-bottom: 20px;
      opacity: 0.6;
    }
    .el-icon-close {
      background: #e3e3e3;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      text-align: center;
      line-height: 30px;
      color: #878787;
      font-size: 16px;
      position: absolute;
      right: 10px;
      top: 10px;
      cursor: pointer;
    }
  }
  .el-table th > .cell {
    text-align: left;
  }
  .el-table tr > th:first-child .cell {
    text-align: center;
  }
  .el-table th {
    color: black;
    font-size: 14px;
  }
  .el-table td {
    color: black;
    font-size: 14px;
  }
  .el-table tr td:first-child {
    text-align: center;
  }
  .el-table td:first-child .cell {
    display: inline-block;
  }
  .filter-container {
    padding-bottom: 20px;
  }
  tbody {
    tr {
      cursor: pointer;
    }
  }
  .search-block {
    .search {
      display: inline;
      input {
        width: 272px;
        height: 36px !important;
        line-height: 36px !important;
        border: solid 1px #9999;
        border-radius: 5px;
        padding-left: 40px;
      }
      .el-icon-search {
        line-height: 16px;
        font-size: 19px;
        color: #666;
      }
      span {
        left: 10px;
      }
    }
    button {
      float: right;
      background: #1f7ff5;
      border-radius: 4px;
      height: 40px !important;
      width: 147px;
      margin-left: 15px;
      border-color: #1f7ff5;
      span {
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
}
</style>
