<template>
  <div class="app-container claim site-page config-page">
    <!-- Filter -->
    <template>
      <div id="site-table">
        <div class="filter-container" v-if="multipleSelection.length==0">
          <template>
            <div class="search-block">
              <el-input class="search"
                placeholder=""
                prefix-icon="el-icon-search"
                v-model="searchKeyword" @keyup.enter.native="handleFilter()">
              </el-input>
              <Search @clicked="onClickChild"></Search>
              <el-button v-if="canCreate" type="primary" @click="handleCreate()"
              ><i class="el-icon-plus"></i> Thêm mới</el-button>
            </div>
          </template>
        </div>
        <div id="select-all-delete" v-if="multipleSelection.length>0">
          <i class="el-icon-close" @click="closeDelete()"></i> <span v-if="multipleSelection.length<10">0{{multipleSelection.length}}</span><span v-else>{{multipleSelection.length}}</span> mục được chọn
          <el-button type="danger" @click="destroyMulti()" :loading="loading_delete_all" v-if="canDelete"><i class="el-icon-delete"></i> Xóa</el-button>
        </div>
          <el-table
            ref="multipleTable"
            :data="sitesList"
            style="width: 100%"
            :row-class-name="tableRowClassName"
            @selection-change="handleSelectionChange" @row-click="rowClicked">
            <el-table-column
                type="selection"
                width="55">
            </el-table-column>
            <el-table-column label="STT" :width="(query.page * query.size).toString().length * 10 + 30">
            <template slot-scope="scope">
              <span>{{
                (query.page - 1) * query.size + scope.$index + 1
              }}</span>
            </template>
          </el-table-column>
            <el-table-column label="Tên">
              <template slot-scope="scope">
                <span>{{ scope.row.name }}</span>
              </template>
            </el-table-column>

            <el-table-column label="Định danh">
              <template slot-scope="scope">
                <span>{{ scope.row.siteKey }}</span>
              </template>
            </el-table-column>

            <el-table-column label="Địa chỉ">
              <template slot-scope="scope">
                <span>{{ scope.row.address }}</span>
              </template>
            </el-table-column>

            <el-table-column label="Tọa độ">
              <template slot-scope="scope">
                <span>{{ scope.row.latitude }}, {{ scope.row.longitude }}</span>
              </template>
            </el-table-column>
          </el-table>
          <!-- Phân trang -->
          <p style="clear:both;"></p>
        <div style="display: inline-block; padding-top: 13px">
          Tổng số vị trí: <strong>{{ total }}</strong>
        </div>
          <pagination
            v-show="total>query.size"
            :total="total"
            :page.sync="query.page"
            :layout="layout"
            :limit.sync="query.size"
            @pagination="getList"/>
      </div>
      <div id="detail-site" style="width: 0;">
          <i class="el-icon-close" @click="closeDetail()"></i>
          <template v-if="siteDetail">
              <component
                ref="siteMap"
                v-bind:is="showComponent"
                v-bind:objLonLat="objLonLat"
              ></component>

              <template v-if="siteDetail.name">
                <div class="item-label">Tên</div>
                <div class="item-text">{{ siteDetail.name }}</div>
              </template>

              <template v-if="siteDetail.siteKey">
                <div class="item-label">Định danh</div>
                <div class="item-text">{{ siteDetail.siteKey }}</div>
              </template>

              <template v-if="siteDetail.address">
                <div class="item-label">Địa chỉ</div>
                <div class="item-text">{{ siteDetail.address }}</div>
              </template>

              <template>
                <div class="item-label">Tọa độ</div>
                <div class="item-text">{{ siteDetail.latitude }}, {{ siteDetail.longitude }}</div>
              </template>

              <div class="action">
                <el-button type="primary" @click="handleEdit(siteDetail)" v-if="canUpdate"><i class="el-icon-edit"></i> Sửa</el-button>
                <el-button type="success" v-if="canDelete" @click="destroy(siteDetail)" :loading="loading_delete" :disabled="loading_delete_disable"><i class="el-icon-delete"></i> Xóa</el-button>
              </div>
          </template>
      </div>
    </template>

    <!-- Dialog Add -->
    <el-dialog
      title="Thêm mới vị trí"
      :visible.sync="dialogAdd"
      width="840px"
      @close="closeDialog('addForm')"
      :close-on-click-modal="false"
    >
      <el-form
        :model="siteInfo"
        :rules="rules"
        ref="addForm"
        label-position="top"
        label-width="100%"
      >
        <div class="block-item">
            <div class="block-left">
              <div class="config-group-field">
                <el-form-item label="Tên" prop="name">
                  <el-input maxlength="255" v-model="siteInfo.name"></el-input>
                </el-form-item>
                <el-form-item label="Định danh" prop="siteKey">
                  <el-input maxlength="255" v-model="siteInfo.siteKey"></el-input>
                </el-form-item>
              </div>
              <div class="config-group-field">
                <el-form-item label="Địa chỉ" prop="address">
                  <el-input maxlength="500" v-model="siteInfo.address"></el-input>
                </el-form-item>
                <div class="block-site">
                  <!-- <el-form-item label="Tỉnh/Thành phố" prop="provinceId">
                    <el-select v-model="siteInfo.provinceId" @change="getDistricts" filterable placeholder="- Lựa chọn -">
                        <el-option v-for="item in provinces" :key="item.id"  :data="item" :label="item.name" :value="item.id">
                        </el-option>
                    </el-select>
                  </el-form-item> -->
                  <el-form-item label="Quận/Huyện" prop="districtId">
                      <el-select v-model="siteInfo.districtId" @change="changeDistrict" filterable placeholder="- Lựa chọn -">
                          <el-option v-for="item in districts" :key="item.id" :label="item.name" :value="item.id">
                          </el-option>
                      </el-select>
                  </el-form-item>
                  <el-form-item label="Phường/Xã" prop="wardId">
                      <el-select v-model="siteInfo.wardId" filterable placeholder="- Lựa chọn -">
                          <el-option v-for="item in wards" :key="item.id" :label="item.name" :value="item.id">
                          </el-option>
                      </el-select>
                  </el-form-item>
                </div>
                <div class="item-left">
                  <el-form-item label="Vĩ độ" prop="latitude">
                    <el-input maxlength="255" v-model="siteInfo.latitude"></el-input>
                  </el-form-item>
                </div>
                <div class="item-right">
                  <el-form-item label="Kinh độ" prop="longitude">
                    <el-input maxlength="255" v-model="siteInfo.longitude"></el-input>
                  </el-form-item>
                </div>
              </div>
              <div class="item-left" style="width: 100%">
                <el-form-item label="Ghi chú">
                  <el-input maxlength="500" type="textarea" v-model="siteInfo.notes" :autosize="{ minRows: 2, maxRows: 6}"></el-input>
                </el-form-item>
              </div>
            </div>

            <div class="block-right">
                <component
                  v-bind:is="showComponentAction"
                  v-bind:longitude="siteInfo.longitude"
                  v-bind:latitude="siteInfo.latitude"
                  @changeLongitude="(newLongitude) => {siteInfo.longitude = newLongitude}"
                  @changeLatitude="(newLatitude) => {siteInfo.latitude = newLatitude}"
                ></component>
            </div>
        </div>
      </el-form>

      <div slot="footer" class="dialog-footer">
        <el-button type="danger" @click="dialogAdd = false">THOÁT</el-button>
        <el-button type="primary" @click="addSite()" :loading="loadingAdd">LƯU</el-button>
      </div>
    </el-dialog>

    <!-- Dialog Edit -->
    <el-dialog
      title="Sửa vị trí"
      :visible.sync="dialogEdit"
      width="840px"
      @close="closeDialog('editForm')"
      :close-on-click-modal="false"
    >
      <el-form
        :model="siteInfo"
        :rules="rules"
        ref="editForm"
        label-position="top"
        label-width="100%"
      >
        <div class="block-item">
            <div class="block-left">
              <div class="config-group-field">
                <el-form-item label="Tên" prop="name">
                  <el-input maxlength="255" v-model="siteInfo.name"></el-input>
                </el-form-item>
                <el-form-item label="Định danh" prop="siteKey">
                  <el-input maxlength="255" v-model="siteInfo.siteKey"></el-input>
                </el-form-item>
              </div>
              <div class="config-group-field">
                <el-form-item label="Địa chỉ" prop="address">
                  <el-input maxlength="500" v-model="siteInfo.address"></el-input>
                </el-form-item>
                <div class="block-site">
                  <!-- <el-form-item label="Tỉnh/Thành phố" prop="provinceId">
                    <el-select v-model="siteInfo.provinceId" @change="changeProvince" filterable placeholder="- Lựa chọn -">
                        <el-option v-for="item in provinces" :key="item.id" :data="item" :label="item.name" :value="item.id">
                        </el-option>
                    </el-select>
                  </el-form-item> -->
                  <el-form-item label="Quận/Huyện" prop="districtId">
                      <el-select v-model="siteInfo.districtId" @change="changeDistrict" filterable placeholder="- Lựa chọn -">
                          <el-option v-for="item in districts" :key="item.id" :label="item.name" :value="item.id">
                          </el-option>
                      </el-select>
                  </el-form-item>
                  <el-form-item label="Phường/Xã" prop="wardId">
                      <el-select v-model="siteInfo.wardId" filterable placeholder="- Lựa chọn -">
                          <el-option v-for="item in wards" :key="item.id" :label="item.name" :value="item.id">
                          </el-option>
                      </el-select>
                  </el-form-item>
                </div>
                <div class="item-left">
                  <el-form-item label="Vĩ độ" prop="latitude">
                    <el-input maxlength="255" v-model="siteInfo.latitude"></el-input>
                  </el-form-item>
                </div>
                <div class="item-right">
                  <el-form-item label="Kinh độ" prop="longitude">
                    <el-input maxlength="255" v-model="siteInfo.longitude"></el-input>
                  </el-form-item>
                </div>
              </div>
              <div class="item-left" style="width: 100%">
                <el-form-item label="Ghi chú">
                  <el-input maxlength="500" type="textarea" v-model="siteInfo.notes" :autosize="{ minRows: 2, maxRows: 6}"></el-input>
                </el-form-item>
              </div>
            </div>

            <div class="block-right">
                <component
                  v-bind:is="showComponentAction"
                  v-bind:longitude="siteInfo.longitude"
                  v-bind:latitude="siteInfo.latitude"
                  @changeLongitude="(newLongitude) => {siteInfo.longitude = newLongitude}"
                  @changeLatitude="(newLatitude) => {siteInfo.latitude = newLatitude}"
                ></component>
            </div>
        </div>
      </el-form>

      <div slot="footer" class="dialog-footer">
        <el-button type="danger" @click="dialogEdit = false">Thoát</el-button>
        <el-button type="primary" @click="editSite()">Cập nhật</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import Pagination from "@/components/Pagination_custom";
import PointMap from "@/components/PointMap";
import PointMapDetail from "@/components/PointMapDetail";
import waves from "@/directive/waves"; // Waves directive
import { isLongitude, isLatitude, validAlphabetsNumber } from "@/utils/validate";
import Resource from "@/api/resource";
import Search from "@/components/Search/search-sites";
const siteResource = new Resource("systemconfig/sites");

const provincesResource = new Resource("management/process-violations/provinces");
const districtsResource = new Resource("management/process-violations/districts");
const wardsResource = new Resource("management/process-violations/wards");

export default {
  components: { Pagination, PointMap, PointMapDetail, Search },
  directives: { waves },
  data() {
    const validateLng = (rule, value, callback) => {
      if (!isLongitude(value)) {
        callback(new Error("Vui lòng nhập đúng định dạng"));
      } else {
        callback();
      }
    };
    const validateLat = (rule, value, callback) => {
      if (!isLatitude(value)) {
        callback(new Error("Vui lòng nhập đúng định dạng"));
      } else {
        callback();
      }
    };
    const validSiteKey = (rule, value, callback) => {
      if (!validAlphabetsNumber(value)) {
        callback(new Error("Định danh không dấu, không chứa khoảng trắng"));
      } else {
        callback();
      }
    };
    return {
      flag_active: null,
      layout: 'first, prev, pager, next, last',
      objLonLat: {},
      countClickDetail: 0,
      isClickDetail: false,
      isClickCreateOrEdit: false,
      loading: true,
      loadingAdd: false,
      loadingEdit: false,
      loading_delete: false,
      loading_delete_all: false,
      loading_delete_disable: false,
      provinces: [],
      districts: [],
      wards: [],
      dialogAdd: false,
      dialogEdit: false,
      multipleSelection: [],
      siteInfo: {
        name: "",
        siteKey: "",
        address: "",
        longitude: "",
        latitude: "",
        notes: "",
        status: "ENABLE", // 0: DISABLE; 1: ENABLE
        provinceId: null,
        districtId: null,
        wardId: null,
      },
      statusLst: [
        {
          value: "ENABLE",
          label: "Hoạt động",
        },
        {
          value: "DISABLE",
          label: "Không hoạt động",
        },
      ],
      sitesList: [],
      siteDetail: {},
      total: 0,
      searchKeyword: null,
      query: {
        page: 0,
        size: 20,
        keyword: this.searchKeyword,
      },
      rules: {
        name: [
          { required: true, message: "Tên là bắt buộc", trigger: "blur" },
          { max: 255, message: 'Tên tối đa 255 ký tự', trigger: 'blur' },
        ],
        siteKey: [
          { required: true, message: "Định danh là bắt buộc", trigger: "blur" },
          { max: 255, message: 'Định danh tối đa 255 ký tự', trigger: 'blur' },
          { validator: validSiteKey },
        ],
        address: [
          { required: true, message: "Địa chỉ là bắt buộc", trigger: "blur" },
          { max: 500, message: 'Địa chỉ tối đa 500 ký tự', trigger: 'blur' },
        ],
        longitude: [
          { required: true, message: "Kinh độ là bắt buộc", trigger: "blur" },
          { validator: validateLng },
        ],
        provinceId: [
          { required: true, message: "Tỉnh/Thành phố là bắt buộc", trigger: "blur" },
        ],
        districtId: [
          { required: true, message: "Quận/Huyện là bắt buộc", trigger: "blur" },
        ],
        wardId: [
          { required: true, message: "Phường/Xã là bắt buộc", trigger: "blur" },
        ],
        latitude: [
          { required: true, message: "Vĩ độ là bắt buộc", trigger: "blur" },
          { validator: validateLat },
        ],
        notes: [
          { max: 500, message: 'Ghi chú tối đa 500 ký tự', trigger: 'blur' },
        ],
      },
      canRead: false,
      canCreate: false,
      canUpdate: false,
      canDelete: false,
      options: [{
          value: 'Option1',
          label: 'Option1'
        }, {
          value: 'Option2',
          label: 'Option2'
        }, {
          value: 'Option3',
          label: 'Option3'
        }, {
          value: 'Option4',
          label: 'Option4'
        }, {
          value: 'Option5',
          label: 'Option5'
        }],
        value: ''
    };
  },
  computed: {
    showComponent: function() {
      let component = '';
      if (this.isClickDetail) {
        component = PointMapDetail;
      }
      return component;
    },
    showComponentAction: function() {
      let componentAction = '';
      if (this.isClickCreateOrEdit) {
        componentAction = PointMap;
      }
      return componentAction;
    },
  },
  created() {
    this.canRead = this.$root.checkRole(this.$route.fullPath,'canRead');
    this.canCreate = this.$root.checkRole(this.$route.fullPath,'canCreate');
    this.canUpdate = this.$root.checkRole(this.$route.fullPath,'canUpdate');
    this.canDelete = this.$root.checkRole(this.$route.fullPath,'canDelete');
    this.getList();
    // this.getProvinces();
    this.getDistricts()
  },

  methods: {
    async getList() {
      this.loading = true;
      if(this.searchKeyword) {
        this.searchKeyword = this.searchKeyword.trim()
      }
      let queryCustom = {
        page: this.query.page,
        size: this.query.size,
        districtId: this.query.districtId,
        wardId: this.query.wardId,
        search: this.searchKeyword ? this.searchKeyword.trim() : "",
      };
      if (this.query.page > 0) {
        queryCustom.page = this.query.page - 1;
        queryCustom.size = this.query.size;
      }

      const { data, total } = await siteResource.list(queryCustom);
      if (data) {
        this.sitesList = data;
      } else {
        this.sitesList = [];
      }
      if (total) {
        this.total = total;
      } else {
        this.total = 0;
      }

      this.loading = false;
    },

    closeDelete() {
      this.$refs.multipleTable.clearSelection();
      this.multipleSelection = [];
    },

    async getProvinces() {
      let result = await provincesResource.list();
      if (result && result.data) {
        this.provinces = result.data;
      }
    },
    async changeProvince(provinces) {
      this.siteInfo.districtId = null;
      this.siteInfo.wardId = null;
      await this.getDistricts(provinces)
    },
    async getDistricts(provinces) {
      let params = {
        provinceId: 19,
        provinceId: 19,
      };
      let result = await districtsResource.list(params);
      if (result && result.data) {
        this.districts = result.data;
      }
    },
    onClickChild(value) {
      if (value) {
        this.query.districtId = value.districtId;
        this.query.wardId = value.wardId;
      }
      this.handleFilter();
    },
    async changeDistrict(districts) {
      this.siteInfo.wardId = null;
      await this.getWards(districts)
    },
    async getWards(districts) {
      let params = {
        districtId: districts,
      };
      let result = await wardsResource.list(params);
      if (result && result.data) {
        this.wards = result.data;
      }
    },
    closeDetail() {
      this.isClickDetail = false;
      this.countClickDetail = 0;
      document.getElementById("detail-site").style.display = 'none';
      document.getElementById("detail-site").style.width = '0';
      document.getElementById("site-table").style.width = 'calc(100%)';
    },
    async rowClicked(row) {
        this.countClickDetail++;
        this.flag_active = row.id
        // get site detail
        // this.siteDetail = row;
        const { data } = await siteResource.get(row.id);
        if (data) {
          this.siteDetail = data;
          if (this.siteDetail) {
            this.isClickDetail = true;
            this.objLonLat = {
              id: row.id,
              longitude: row.longitude,
              latitude: row.latitude,
            };
            // show component
            this.showComponent;

            document.getElementById("site-table").style.width = 'calc(100% - 445px)';
            setTimeout(() => {
              document.getElementById("detail-site").style.display = 'block';
              document.getElementById("detail-site").style.width = '420px';
              if (this.countClickDetail == 1) {
                this.$refs.siteMap.renderMap();
              }
            }, 500);
          }
        } else {
          this.$message({
            message: "Vị trí giám sát không tồn tại",
            type: "error",
          });
          this.handleFilter();
        }
    },

    destroy(site) {
      this.$confirm('Bạn chắc chắn muốn xóa vị trí giám sát ' + site.name + '?', '', {
        confirmButtonText: 'Xác nhận',
        cancelButtonText: 'Thoát',
        type: 'warning'
      }).then(() => {
        this.loading_delete = true;
        siteResource.destroy(site.id).then(response => {
          this.loading_delete = false;
          if (response.status === 200) {
            this.siteDetail = {};
            this.closeDetail();
            this.handleFilter();
            this.$message({
              message: "Xóa thành công",
              type: "success",
            });
          }
        }).catch(() => {
          this.loading_delete = false;
        });
      })
      .catch(() => {});
    },

    destroyMulti() {
      this.$confirm('Bạn có chắc chắn muốn xóa lựa chọn này?', '', {
          confirmButtonText: 'Xác nhận',
          cancelButtonText: 'Thoát',
          type: 'warning'
        }).then(() => {
          this.loading_delete_all = true;
          let params = this.multipleSelection.map(function(val) {
            return val.id;
          });
          params = {
            idSiteList: params
          };
          siteResource.destroyMulti(params).then(response => {
            this.loading_delete_all = false;
            if (response.status === 200) {
              this.multipleSelection = [];
              this.siteDetail = {};
              this.closeDetail();
              this.handleFilter();
              this.$message({
                message: response.message, // "Xóa thành công",
                type: "success",
              });
            }
          }).catch(() => {
            this.loading_delete_all = false;
          });
        }).catch(() => {});
    },

    handleFilter() {
      this.query.page = 1;
      this.getList();
    },

    handleCreate() {
      this.resetDialog();

      this.isClickCreateOrEdit = true;
      this.showComponentAction;

      this.dialogAdd = true;
    },

    async handleEdit(data) {
      this.isClickCreateOrEdit = true;
      this.showComponentAction;
      this.siteInfo = _.cloneDeep(data);
      const address = ', ' + this.siteInfo.wardName + ', ' + this.siteInfo.districtName + ', ' + this.siteInfo.provinceName
      this.siteInfo.address = this.siteInfo.address.replace(address, '')
      this.dialogEdit = true;
      //console.log(this.siteInfo);
      // await this.getDistricts(this.siteInfo.provinceId);
      await this.getWards(this.siteInfo.districtId);
      this.$nextTick(() => {
        this.$refs["editForm"].clearValidate();
      });
    },

    addSite() {
      this.siteInfo = this.$root.trimData(this.siteInfo)
      let provinceName = 'Thanh Hóa'
      // if(this.siteInfo.provinceId){
      //   provinceName = this.provinces.filter(f => f.id == this.siteInfo.provinceId)[0].name;
      // }
      let districtName = null
      if(this.siteInfo.districtId){
        districtName = this.districts.filter(f => f.id == this.siteInfo.districtId)[0].name;
      }
      let ward = null
      if(this.siteInfo.wardId){
        ward = this.wards.filter(f => f.id == this.siteInfo.wardId)[0].name;
      }
      this.$refs.addForm.validate((valid) => {
        if (valid) {
          this.loadingAdd = true;
          const params = {
            name: (this.siteInfo.name != null && this.siteInfo.name != '') ? this.siteInfo.name.trim() : '',
            siteKey: (this.siteInfo.siteKey != null && this.siteInfo.siteKey != '') ? this.siteInfo.siteKey.trim() : '',
            address: (this.siteInfo.address != null && this.siteInfo.address != '') ? this.siteInfo.address.trim() : '',
            longitude: parseFloat(this.siteInfo.longitude),
            latitude: parseFloat(this.siteInfo.latitude),
            notes: (this.siteInfo.notes != null && this.siteInfo.notes != '') ? this.siteInfo.notes.trim() : '',
            status: this.siteInfo.status,
            provinceId: this.siteInfo.provinceId,
            provinceName: provinceName,
            districtId: this.siteInfo.districtId,
            districtName: districtName,
            wardId: this.siteInfo.wardId,
            wardName: ward
          };
          siteResource
            .store(params)
            .then((response) => {
              this.loadingAdd = false;
              if (response.status === 200 || response.status === 201) {
                this.handleFilter();
                this.dialogAdd = false;
                this.resetDialog();
                this.$message({
                  message: "Thêm mới thành công",
                  type: "success",
                });
              }
            })
            .catch(() => {
              this.loadingAdd = false;
            });
        } else {
          return false;
        }
      });
    },

    editSite() {
      this.siteInfo = this.$root.trimData(this.siteInfo)
      let provinceName = 'Thanh Hóa'
      // if(this.siteInfo.provinceId){
      //   provinceName = this.provinces.filter(f => f.id == this.siteInfo.provinceId)[0].name;
      // }
      let districtName = null
      if(this.siteInfo.districtId){
        districtName = this.districts.filter(f => f.id == this.siteInfo.districtId)[0].name;
      }
      let ward = null
      if(this.siteInfo.wardId){
        ward = this.wards.filter(f => f.id == this.siteInfo.wardId)[0].name;
      }
      this.$refs.editForm.validate((valid) => {
        if (valid) {
          this.loadingEdit = true;
          this.loading_delete_disable = true;
          let infos = _.cloneDeep(this.siteInfo);
          const params = {
            name: (infos.name != null && infos.name != '') ? infos.name.trim() : '',
            siteKey: (infos.siteKey != null && infos.siteKey != '') ? infos.siteKey.trim() : '',
            address: (infos.address != null && infos.address != '') ? infos.address.trim() : '',
            longitude: parseFloat(infos.longitude),
            latitude: parseFloat(infos.latitude),
            notes: (infos.notes != null && infos.notes != '') ? infos.notes.trim() : '',
            status: infos.status,
            provinceId: this.siteInfo.provinceId,
            provinceName: provinceName,
            districtId: this.siteInfo.districtId,
            districtName: districtName,
            wardId: this.siteInfo.wardId,
            wardName: ward
          };
          siteResource
            .update(this.siteInfo.id, params)
            .then((response) => {
              this.loadingEdit = false;
              this.loading_delete_disable = false;
              if (response.status === 200 || response.status === 201) {
                this.rowClicked(response.data);
                this.handleFilter();
                this.dialogEdit = false;
                this.$message({
                  message: "Sửa thành công",
                  type: "success",
                });
              }
            })
            .catch(() => {
              this.loadingEdit = false;
              this.loading_delete_disable = false;
            });
        } else {
          return false;
        }
      });
    },

    resetDialog() {
      this.siteInfo = {
        name: "",
        siteKey: "",
        address: "",
        longitude: "",
        latitude: "",
        provinceId: null,
        districtId: null,
        wardId: null,
        notes: "",
        status: "ENABLE"
      };
    },
    closeDialog(formName) {
      this.isClickCreateOrEdit = false;
      this.$refs[formName].clearValidate();
      this.$refs[formName].resetFields();
    },

    handleSelectionChange(val) {
        this.multipleSelection = val;
    },

    tableRowClassName(row) {
        if(row.row.id == this.flag_active) {
            return 'active-row'
        }
        return ''
    }
  },
};
</script>

<style lang="scss" scoped>
</style>

<style lang="scss">
  .site-page {
    .el-icon-camera-solid {
        font-size: 25px;
        color: #9a9a9a;
        position: relative;
        top: -50px;
        left: 54px;
        background: #dfdfdf;
        border-radius: 50%;
        padding: 8px;
        border: 1px solid white;
    }
    .img_avatar {
      text-align: center;
      padding-top: 25px;
      img {
        border-radius: 50%;
      }
    }
    .el-dialog {
      margin-top: 80px !important;
    }
    .item-left {
      width: 48%;
      float: left;
      margin-right: 2%;
    }
    .item-right {
      width: 48%;
      float: left;
      margin-left: 2%;
    }
    .block-item {
      width: 100%;
      display: flex;
      .block-left {
        width: 52%;
        margin-right: 10px;
        .block-site {
      float: left;
          display: inline-flex;
          column-gap: 15px;
        }
      }
      .block-right {
        width: calc(48% - 20px);
        margin-left: 10px;
        position: relative;
        margin-bottom: 8px;
      }
    }
    .el-dialog__header {
        padding: 0;
        background: #006fe3;
        height: 40px;
        line-height: 40px;
        text-align: center;
        .el-dialog__title {
          color: white;
        }
        .el-icon-close {
          color: white;
          font-size: 22px;
          top: -10px;
          position: relative;
        }
    }
    .el-dialog__body {
      padding: 30px 30px 0 30px;
      .el-form-item__label {
        padding-bottom: 0;
        font-size: 14px;
        color: #363030;
        font-weight: 300;
      }
    }
    .el-dialog__footer {
      clear: both;
      padding: 20px 30px 20px;
      .el-button--primary {
          background: #1f7ff5;
          height: 40px;
          border-radius: 5px;
          width: 147px;
          text-transform: uppercase;
          font-weight: bold;
          border-color: #1f7ff5;
      }
      .el-button--danger {
          background: #9e9e9e;
          height: 40px;
          border-radius: 5px;
          width: 147px;
          text-transform: uppercase;
          font-weight: bold;
          border-color: #9e9e9e;
          float: left;
      }
    }
    #select-all-delete {
      height: 63px;
      line-height: 63px;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
      background-color: #ff4646;
      color: white;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      .el-icon-close {
          font-size: 25px;
          margin-left: 20px;
          margin-right: 35px;
          position: relative;
          top: 4px;
          cursor: pointer;
      }
      button {
        background: #e00000;
        border: initial;
        border-radius: 5px;
        float: right;
        display: inline-block;
        margin-top: 15px;
        margin-right: 15px;
      }
    }
    .action {
      margin-top: 40px;
      .el-button--primary {
        background: #64789a;
        border: initial;
        border-radius: 4px;
        width: 147px;
        height: 40px;
      }
      .el-button--success {
        background: #ff6161;
        border: initial;
        border-radius: 4px;
        width: 147px;
        height: 40px;
        float: right;
      }
      .el-button--info {
        background: #26c6da;
        border: initial;
        border-radius: 4px;
        width: 147px;
        height: 40px;
        float: right;
      }
    }
    #detail-site {
      position: relative;
     /* transition: width 1s;
      -moz-transition: width 1s;
      -webkit-transition: width 1s;
      -o-transition: width 1s;*/
      width: 0;
      background: white;
      padding: 25px;
      float: left;
      margin-left: 25px;
      display: none;
      overflow: hidden;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
      border-radius: 4px;
      .avatar {
        text-align: center;
        margin-bottom: 25px;
        margin-top: 25px;
        img {
          border-radius: 50%;
        }
      }
      .item-label {
        color: black;
        font-weight: bold;
        font-size: 14px;
        margin-bottom: 10px;
      }
      .item-text {
        color: black;
        font-size: 16px;
        margin-bottom: 20px;
        opacity: 0.6;
      }
      .el-icon-close {
        background: #e3e3e3;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        text-align: center;
        line-height: 30px;
        color: #878787;
        font-size: 16px;
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
        z-index: 999;
      }
    }
    .el-table th > .cell {
      text-align: left;
    }
    .el-table tr > th:first-child .cell {
      text-align: center;
    }
    .el-table th {
      color: black;
      font-size: 14px;
    }
    .el-table td {
      color: black;
      font-size: 14px;
    }
    .el-table tr td:first-child {
      text-align: center;
    }
    .el-table td:first-child .cell {
      display: inline-block;
    }
    .filter-container {
      padding-bottom: 20px;
    }
    tbody {
      tr {
        cursor: pointer;
      }
    }
    .search-block {
      .search {
        display: inline;
        input{
          width: 272px;
          height: 36px !important;
          line-height: 36px !important;
          border: solid 1px #9999;
          border-radius: 5px;
          padding-left: 40px;
        }
        .el-icon-search {
          line-height: 16px;
          font-size: 19px;
          color: #666;
        }
        span {
          left: 10px;
        }
      }
      button {
        float: right;
        background: #1f7ff5;
        border-radius: 4px;
        height: 40px !important;
        width: 147px;
        margin-left: 15px;
        border-color: #1f7ff5;
        span {
          font-size: 16px;
          font-weight: bold;
          text-transform: uppercase;
        }
      }
    }
  }

</style>
