<template>
	<div style="position: relative">
		<editor :api-key="key" :init="tinymceInit" :value="value"/>
	</div>
</template>	
<script>
	import Editor from '@tinymce/tinymce-vue'

	export default {
		name: 'TinyEditor',
		components: {
			Editor
		},
		props: {
			value: {
	      type: String,
	      default: '',
	    },
	    placeholder: {
	    	type: String,
	      default: '',
	    },
	    height: {
	    	type: Number,
	    	default: 200
	    }
		},
		data() {
			return {
				key: process.env.VUE_APP_TINYMCE_KEY,
				tinymceInit: {}
			}
		},
		created() {
	    this.init()
	  },
	  watch: {
	  	value(value) {
	  		if (!value) {
	  			tinymce.activeEditor.setContent(value)
	  		}
	  	}
	  },
		methods: {
			init() {
				const self = this
				this.tinymceInit = {
					max_chars: 10000,
					placeholder: this.placeholder,
      		height: this.height,
      		menubar: false,
      		branding: false,
      		statusbar: false,
      		forced_root_block: '',
      		external_plugins: {
    				'tiny_mce_wiris' : '/mathtype-tinymce5/plugin.min.js'
  				},
		      plugins: [
		        'advlist autolink lists image charmap print preview anchor',
		        'searchreplace visualblocks code fullscreen',
		        'insertdatetime media table paste code'
		      ],
      		toolbar: 'bold italic underline | alignleft aligncenter alignright alignjustify | tiny_mce_wiris_formulaEditor | tiny_mce_wiris_formulaEditorChemistry',
      		setup: function (editor) {
	          editor.on('Change', function (e) {
	            self.update(editor.getContent());
	          })
	          editor.on('keydown', function (e) {
	            if (tinymce.activeEditor.getContent().length + 1 > this.settings.max_chars) {
                e.preventDefault();
                e.stopPropagation();
                return false;
	            }
	            return true;
		        });
	        }
    		}
			},
			update(value) {
	      this.$emit('input', value);
	    }
		}
	};
</script>
<style rel="stylesheet/scss" lang="scss">
.formula {
	position: absolute;
	z-index: 9;
	right: 8px;
	top: 8px;
	cursor: pointer;
}
.formula-mathjax {
  padding-bottom: 20px;
  .preview-mathjax {
    height: 140px;
    overflow-y: auto;
    background: #d0e3e9;
    margin: 0 0 15px 0;
    padding: 5px;
    p {
    	font-weight: bold;
    }
	}
	a {
    border: 1px solid #e1e1e1;
    display: inline-block;
    padding: 6px 0 0 0;
    border-radius: 8px;
    width: 60px;
    box-shadow: 1px 2px 12px 0px #cccccc96;
    text-align: center;
    margin: 1px;
    height: 38px;
    vertical-align: middle;
    img {
    	width: 24px;
    	height: 24px;
    }
  }
  .insertMathjax {
    margin-top: 15px;
    textarea {
	    padding: 15px;
	    width: calc(100% - 15px);
	    border: 1px solid #e1e1e1;
	    border-radius: 4px;
	    resize: none;
	    min-height: 90px;
		}
	}
}
</style>