<template>
    <div id="mapAction" ref="mapAction"></div>
</template>

<script>
import "ol/ol.css";
import Map from "ol/Map";
import Feature from "ol/Feature";
import View from "ol/View";
import { defaults as defaultControls, FullScreen } from "ol/control";
import { Tile as TileLayer, Vector as VectorLayer } from 'ol/layer';
import { Vector as VectorSource } from 'ol/source';
import XYZ from 'ol/source/XYZ';
import Point from 'ol/geom/Point';
import { Style, Icon} from 'ol/style';
import { fromLonLat, toLonLat } from 'ol/proj';
import TileWMS from 'ol/source/TileWMS';

import config from '@/config.js';
import iconPoint from '@/assets/images/icon_map.png';

export default {
    name: "point-map",
    props: ['longitude', 'latitude'],
    watch: {
        longitude() {
            this.renderMap();
        },
        latitude() {
            this.renderMap();
        },
    },
    data() {
        return {
            mapInstance: null,
            longitudeDefault: config.map_location_default.longitude,
            latitudeDefault: config.map_location_default.latitude,
            zoom: 16,
            minZoom: 4,
        };
    },
    methods: {
        initMap(googleMapLayer, iconLayer) {
            document.getElementById("mapAction").innerHTML = "";
            let _longitude = (this.longitude != '' && !isNaN(this.longitude)) ? parseFloat(this.longitude) : this.longitudeDefault;
            let _latitude = (this.latitude != '' && !isNaN(this.latitude)) ? parseFloat(this.latitude) : this.latitudeDefault;
            if(process.env.VUE_APP_USE_GOOGLE_MAP != "true"){
                return new Map({
                  target: "mapAction",
                  controls: defaultControls().extend([new FullScreen()]),

                  layers: [
                    // googleMapLayer,
                    new TileLayer({
                      source: new TileWMS({
                        url: process.env.VUE_APP_USE_MAP_OFFLINE_LINK,
                        params: {'LAYERS': process.env.VUE_APP_USE_MAP_OFFLINE_LAYERS, 'TILED': true},
                        serverType: 'geoserver',
                        // Countries have transparency, so do not fade tiles:
                        transition: 0,
                      }),
                    }),
                    iconLayer
                  ],

                  view: new View({
                    center: fromLonLat([_longitude, _latitude]),
                    zoom: this.zoom,
                    minZoom: this.minZoom,
                  }),
                });
              }else{
                return new Map({
                  target: "mapAction",
                  controls: defaultControls().extend([new FullScreen()]),
                  layers: [
                    googleMapLayer,
                    iconLayer
                  ],

                  view: new View({
                    center: fromLonLat([_longitude, _latitude]),
                    zoom: this.zoom,
                    minZoom: this.minZoom,
                  }),
                });
              }
        },
        createGoogleMapLayer() {
            return new TileLayer({
                source: new XYZ({ url: 'http://mt0.google.com/vt/lyrs=m&hl=en&x={x}&y={y}&z={z}&s=Ga' })
            });
        },
        isValidLngLat(lng, lat) {
            if(lng < -180 || lng > 180) {
                return false;
            }
            else if(lat < -90 || lat > 90) {
                return false;
            }
            return true;
        },
        createIconLayer(icon) {
            let vectorSource = new VectorSource({
                features: []
            });
            if (this.isValidLngLat(icon.longitude, icon.latitude)) { // long, lat
                let newFeature = new Feature({
                    geometry: new Point(fromLonLat([icon.longitude, icon.latitude])),
                    name: ''
                });
                let iconStyle = new Style({
                    image: new Icon({
                        anchor: [0.5, 0.5],
                        src: iconPoint,
                        scale: 0.5
                    }),
                });
                newFeature.setStyle(iconStyle);
                vectorSource.addFeature(newFeature);
            }
            return new VectorLayer({
                source: vectorSource
            });
        },

        handleClickMap(event) {
            let coordinate = toLonLat(event.coordinate);
            let lat = coordinate[1].toFixed(3);
            let lon = coordinate[0].toFixed(3);
            if (this.isValidLngLat(lon, lat)) {
                this.$emit('changeLongitude', lon);
                this.$emit('changeLatitude', lat);
            }
        },

        renderMap() {
          let _longitude = (this.longitude != '' && !isNaN(this.longitude)) ? parseFloat(this.longitude) : this.longitudeDefault;
          let _latitude = (this.latitude != '' && !isNaN(this.latitude)) ? parseFloat(this.latitude) : this.latitudeDefault;
          let googleMapLayer = this.createGoogleMapLayer();
          let iconLayer = this.createIconLayer({
              longitude: _longitude,
              latitude: _latitude
          });
          this.mapInstance = this.initMap(googleMapLayer, iconLayer);
          this.mapInstance.on('click', this.handleClickMap);
        }
    },
    mounted() {
        this.renderMap();
    },
};
</script>

<style lang="scss" scoped>
    #mapAction {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
</style>
