<template>
  <div v-if="!item.hidden&&item.children" class="menu-wrapper">
    <template v-if="isDashBoard(item.children, item) && hasOneShowingChild(item.children,item) && (!onlyOneChild.children||onlyOneChild.noShowingChildren)&&!item.alwaysShow">
      <app-link :to="resolvePath(onlyOneChild.path)">
        <el-menu-item :index="resolvePath(onlyOneChild.path)" :class="{'submenu-title-noDropdown':!isNest}">
          <item v-if="onlyOneChild.meta" :icon="onlyOneChild.meta.icon||item.meta.icon" :title="generateTitle(onlyOneChild.meta.title)" />
        </el-menu-item>
      </app-link>
    </template>

    <!-- Bo comment neu chi co 1 con chi show thang con -->
    <el-submenu v-else :index="resolvePath(item.path)" :test="resolvePath(item.path)" :class="{'router-link-active-pa': subIsActive(resolvePath(item.path))}">
      <template slot="title">
        <item v-if="item.meta" :icon="item.meta.icon" :title="generateTitle(item.meta.title)" />
      </template>

      <template v-for="child in visibleChildren">
        <sidebar-item
          v-if="child.children&&child.children.length>0"
          :key="child.path"
          :is-nest="true"
          :item="child"
          :base-path="resolvePath(child.path)"
          class="nest-menu"
        />
        <app-link v-else :key="child.name" :to="resolvePath(child.path)">
          <el-menu-item :class="{'router-link-active-custom': subIsActive(resolvePath(child.path))}"  :index="resolvePath(child.path)">
            <item class="tnmopat" v-if="child.meta" :icon="child.meta.icon" :title="generateTitle(child.meta.title)" />
          </el-menu-item>
        </app-link>
      </template>
    </el-submenu>
  </div>
</template>

<script>
import path from 'path';
import { isExternal } from '@/utils/validate';
import Item from './Item';
import AppLink from './Link';
import { generateTitle } from '@/utils/i18n';

export default {
  name: 'SidebarItem',
  components: { Item, AppLink },
  props: {
    // route object
    item: {
      type: Object,
      required: true,
    },
    isNest: {
      type: Boolean,
      default: false,
    },
    basePath: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      onlyOneChild: null,
    };
  },
  computed: {
    visibleChildren() {
      return this.item.children.filter(item => !item.hidden);
    },
  },
  methods: {
    subIsActive(input) {
      const paths = Array.isArray(input) ? input : [input]
      return paths.some(path => {
        return this.$route.path.indexOf(path) === 0 // current path starts with this path string
      })
    },
    hasOneShowingChild(children, parent) {
      const showingChildren = children.filter(item => {
        if (item.hidden) {
          return false;
        } else {
          // Temp set(will be used if only has one showing child)
          this.onlyOneChild = item;
          return true;
        }
      });

      // When there is only one child router, the child router is displayed by default
      if (showingChildren.length === 1) {
        return true;
      }

      // Show parent if there are no child router to display
      if (showingChildren.length === 0) {
        this.onlyOneChild = { ... parent, path: '', noShowingChildren: true };
        return true;
      }

      return false;
    },
    resolvePath(routePath) {
      if (this.isExternalLink(routePath)) {
        return routePath;
      }
      return path.resolve(this.basePath, routePath);
    },
    isExternalLink(routePath) {
      return isExternal(routePath);
    },
    isDashBoard(children, parent){
      return parent.path === '' || children.path === 'dashboard';
    },
    generateTitle,
  },
};
</script>
<style type="text/css" lang="scss">
.menu-wrapper{
  padding:0 5px;
  background-color: #f9fbfd;
  .el-icon-date {
    color: black;
  }
}

  .el-scrollbar {
    padding-top: 2px;
    background-color: #f9fbfd !important;
  }

  body #app .sidebar-container .el-submenu .el-menu-item,.sidebar-container .submenu-title-noDropdown,.sidebar-container .el-submenu__title{
    background-color: #f9fbfd !important;
    color: #303030 !important;
    font-size: 12px;
  }

  body #app .sidebar-container .el-submenu .el-menu-item .el-submenu__title:hover {
    // background-color: #0066d6 !important;
  }
  .el-submenu.is-active {
    span {
      font-size: 16px !important;
    }
    .el-menu-item.is-active {
      span {
        //  color: #006fe3 !important;
      }
    }
  }
   .sidebar-container .submenu-title-noDropdown,.sidebar-container .el-submenu__title,.el-submenu .el-menu-item {
    color: #303030 ;
    span {
      font-size: 16px;
    }
  }
  body #app .sidebar-container {
      .submenu-title-noDropdown {
        // background-color: #f9fbfd !important;
        color: #303030 !important;
        span {
          font-size: 16px;
        }
      }
      .el-submenu .el-menu-item {
        // background-color: #f9fbfd !important;
        color: #303030 !important;
        span {
          font-size: 16px;
        }
      }
      .svg-icon {
        margin-right: 16px;
        font-size: 20px;
        position: relative;
        top: 2px;
      }
       .el-submenu__title {
        height: 44px;
        line-height: 44px;
      }
      .el-menu-item{
        height: 38px;
        line-height: 38px;
      }
  }

  .router-link-active-pa{
    .el-submenu__title{
        border: 1px solid;
        border-radius: 4px;
      i {
        color: #fff;
      }
      .svg-icon{
        color: #FFFFFF !important;
      }
      background: #0066d6 !important;
      span{
      color: #FFFFFF !important;
    }
    }

  }
  body #app .sidebar-container .el-submenu .router-link-active-custom{
   background-color: #eeeeee !important;
  }
</style>
