<template>
  <div>
    <el-form-item label="Màu" prop="colorPicker">
      <el-input v-model="jsonArea.colorPicker" size="small">
        <el-color-picker slot="append" v-model="jsonArea.colorPicker" size="mini" color-format="rgb" show-alpha></el-color-picker>
      </el-input>
    </el-form-item>

    <el-form-item label="Tên vùng" prop="name" class="area-name">
      <el-input v-model="jsonArea.name" size="small"></el-input>
    </el-form-item>

    <el-form-item label="Thời gian (giây)" prop="time">
      <el-input-number v-model="jsonArea.time" controls-position="right" :min="1" :max="10000" size="small"></el-input-number>
    </el-form-item>

    <el-form-item label="Link API" prop="linkAPI">
      <el-select v-model="jsonArea.linkAPI" placeholder="Chọn link API" size="small" style="width: 100%;">
        <el-option
          v-for="item in linkAPILst"
          :key="item.code"
          :label="item.name"
          :value="item.code"
        >
        </el-option>
      </el-select>
    </el-form-item>

    <el-form-item label="Đường dẫn ảnh" prop="liveImageUrl">
      <el-select v-model="jsonArea.liveImageUrl" placeholder="Chọn đường dẫn ảnh" size="small" style="width: 100%;">
        <el-option
          v-for="item in liveImageUrlLst"
          :key="item.code"
          :label="item.name"
          :value="item.code"
        >
        </el-option>
      </el-select>
    </el-form-item>

    <el-form-item label="Ngưỡng" prop="threshold">
      <el-input-number v-model="jsonArea.threshold" controls-position="right" :min="0" :max="10000" size="small"></el-input-number>
    </el-form-item>
  </div>
</template>

<script>
import Resource from "@/api/resource";
const categoryResource = new Resource("systemconfig/category");

export default {
  props: {
    value: {
        type: Object,
        default: function() {
            return {};
        }
    },
  },
  computed: {
    jsonArea: {
        get() { return this.value },
        set(jsonArea) {this.$emit('input', jsonArea)}
    }
  },
  created() {
    this.init();
  },
  data() {
    return {
      isHiddenCar: false,
      isHiddenTruck: false,
      isHiddenBus: false,
      isHiddenMotorbike: false,
      isHiddenBike: false,
      isHiddenConstructed: false,
      linkAPILst: [],
      liveImageUrlLst: [],
    };
  },
  methods: {
    async init() {
      await this.getLinkAPIList();
      await this.getLiveImageUrlList();
    },
    async getLinkAPIList() {
      let queryCustom = {
        catType: "LINK_API",
      };
      let result = await categoryResource.list(queryCustom);
      if (result && result.data) {
        this.linkAPILst = result.data;
      }
    },
    async getLiveImageUrlList() {
      let queryCustom = {
        catType: "LIVE_IMAGE_URL",
      };
      let result = await categoryResource.list(queryCustom);
      if (result && result.data) {
        this.liveImageUrlLst = result.data;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
 .el-form-item__label{
  width: 130px !important;
}
.el-form-item {
    margin-bottom: 17px;
}
span.form-ratio {
  .el-form-item {
    margin-bottom: 0px;
    /deep/ .el-form-item__label {
      padding-left: 24px;
    }
  }
}
</style>
