<template>
  <div>
    <el-form-item label="Màu" prop="colorPicker">
      <el-input v-model="jsonArea.colorPicker" size="small">
        <el-color-picker slot="append" v-model="jsonArea.colorPicker" size="mini" color-format="rgb" show-alpha></el-color-picker>
      </el-input>
    </el-form-item>

    <el-form-item label="Tên vùng" prop="name" class="area-name">
      <el-input v-model="jsonArea.name" size="small"></el-input>
    </el-form-item>

    <el-form-item label="Thời gian (giây)" prop="time">
      <el-input-number v-model="jsonArea.time" controls-position="right" :min="1" :max="10000" size="small"></el-input-number>
    </el-form-item>

    <el-form-item label="Link API" prop="linkAPI">
      <el-select v-model="jsonArea.linkAPI" placeholder="Chọn link API" size="small" style="width: 100%;">
        <el-option
          v-for="item in linkAPILst"
          :key="item.code"
          :label="item.name"
          :value="item.code"
        >
        </el-option>
      </el-select>
    </el-form-item>

    <el-form-item label="Đường dẫn ảnh" prop="liveImageUrl">
      <el-select v-model="jsonArea.liveImageUrl" placeholder="Chọn đường dẫn ảnh" size="small" style="width: 100%;">
        <el-option
          v-for="item in liveImageUrlLst"
          :key="item.code"
          :label="item.name"
          :value="item.code"
        >
        </el-option>
      </el-select>
    </el-form-item>

    <el-form-item label="Đối tượng áp dụng" class="object-apply-cus" label-width="140px" style="margin-bottom: 0px;"></el-form-item>
    <!-- Ô tô -->
    <el-checkbox v-model="jsonArea.isCheckedCar" style="margin-right: 10px;"></el-checkbox><span @click="isHiddenCar = !isHiddenCar" style="cursor: pointer;color: #606266;">Ô tô</span><br>
    <span v-show="isHiddenCar" class="form-ratio">
      <el-form-item label="Det ratio">
        <el-input-number v-model="jsonArea.car.detRatio" controls-position="right" :min="0" :step="0.1" size="small"></el-input-number>
      </el-form-item>
      <el-form-item label="Max ratio">
        <el-input-number v-model="jsonArea.car.maxRatio" controls-position="right" :min="0" :step="1" size="small"></el-input-number>
      </el-form-item>
      <el-form-item label="Min ratio">
        <el-input-number v-model="jsonArea.car.minRatio" controls-position="right" :min="0" :step="0.1" size="small"></el-input-number>
      </el-form-item>
      <el-form-item label="Min area">
        <el-input-number v-model="jsonArea.car.minArea" controls-position="right" :min="0" :step="1" size="small"></el-input-number>
      </el-form-item>
    </span>

    <!-- Xe tải -->
    <el-checkbox v-model="jsonArea.isCheckedTruck" style="margin-right: 10px;"></el-checkbox><span @click="isHiddenTruck = !isHiddenTruck" style="cursor: pointer;color: #606266;">Xe tải</span><br>
    <span v-show="isHiddenTruck" class="form-ratio">
      <el-form-item label="Det ratio">
        <el-input-number v-model="jsonArea.truck.detRatio" controls-position="right" :min="0" :step="0.1" size="small"></el-input-number>
      </el-form-item>
      <el-form-item label="Max ratio">
        <el-input-number v-model="jsonArea.truck.maxRatio" controls-position="right" :min="0" :step="1" size="small"></el-input-number>
      </el-form-item>
      <el-form-item label="Min ratio">
        <el-input-number v-model="jsonArea.truck.minRatio" controls-position="right" :min="0" :step="0.1" size="small"></el-input-number>
      </el-form-item>
      <el-form-item label="Min area">
        <el-input-number v-model="jsonArea.truck.minArea" controls-position="right" :min="0" :step="1" size="small"></el-input-number>
      </el-form-item>
    </span>

    <!-- Xe bus -->
    <el-checkbox v-model="jsonArea.isCheckedBus" style="margin-right: 10px;"></el-checkbox><span @click="isHiddenBus = !isHiddenBus" style="cursor: pointer;color: #606266;">Xe bus</span><br>
    <span v-show="isHiddenBus" class="form-ratio">
      <el-form-item label="Det ratio">
        <el-input-number v-model="jsonArea.bus.detRatio" controls-position="right" :min="0" :step="0.1" size="small"></el-input-number>
      </el-form-item>
      <el-form-item label="Max ratio">
        <el-input-number v-model="jsonArea.bus.maxRatio" controls-position="right" :min="0" :step="1" size="small"></el-input-number>
      </el-form-item>
      <el-form-item label="Min ratio">
        <el-input-number v-model="jsonArea.bus.minRatio" controls-position="right" :min="0" :step="0.1" size="small"></el-input-number>
      </el-form-item>
      <el-form-item label="Min area">
        <el-input-number v-model="jsonArea.bus.minArea" controls-position="right" :min="0" :step="1" size="small"></el-input-number>
      </el-form-item>
    </span>

    <!-- Xe máy -->
    <el-checkbox v-model="jsonArea.isCheckedMotorbike" style="margin-right: 10px;"></el-checkbox><span @click="isHiddenMotorbike = !isHiddenMotorbike" style="cursor: pointer;color: #606266;">Xe máy</span><br>
    <span v-show="isHiddenMotorbike" class="form-ratio">
      <el-form-item label="Det ratio">
        <el-input-number v-model="jsonArea.motorbike.detRatio" controls-position="right" :min="0" :step="0.1" size="small"></el-input-number>
      </el-form-item>
      <el-form-item label="Max ratio">
        <el-input-number v-model="jsonArea.motorbike.maxRatio" controls-position="right" :min="0" :step="1" size="small"></el-input-number>
      </el-form-item>
      <el-form-item label="Min ratio">
        <el-input-number v-model="jsonArea.motorbike.minRatio" controls-position="right" :min="0" :step="0.1" size="small"></el-input-number>
      </el-form-item>
      <el-form-item label="Min area">
        <el-input-number v-model="jsonArea.motorbike.minArea" controls-position="right" :min="0" :step="1" size="small"></el-input-number>
      </el-form-item>
    </span>

    <!-- Xe đạp -->
    <el-checkbox v-model="jsonArea.isCheckedBike" style="margin-right: 10px;"></el-checkbox><span @click="isHiddenBike = !isHiddenBike" style="cursor: pointer;color: #606266;">Xe đạp</span><br>
    <span v-show="isHiddenBike" class="form-ratio">
      <el-form-item label="Det ratio">
        <el-input-number v-model="jsonArea.bike.detRatio" controls-position="right" :min="0" :step="0.1" size="small"></el-input-number>
      </el-form-item>
      <el-form-item label="Max ratio">
        <el-input-number v-model="jsonArea.bike.maxRatio" controls-position="right" :min="0" :step="1" size="small"></el-input-number>
      </el-form-item>
      <el-form-item label="Min ratio">
        <el-input-number v-model="jsonArea.bike.minRatio" controls-position="right" :min="0" :step="0.1" size="small"></el-input-number>
      </el-form-item>
      <el-form-item label="Min area">
        <el-input-number v-model="jsonArea.bike.minArea" controls-position="right" :min="0" :step="1" size="small"></el-input-number>
      </el-form-item>
    </span>
  </div>
</template>

<script>
import Resource from "@/api/resource";
const categoryResource = new Resource("systemconfig/category");

export default {
  props: {
    value: {
        type: Object,
        default: function() {
            return {};
        }
    },
  },
  computed: {
    jsonArea: {
        get() { return this.value },
        set(jsonArea) {this.$emit('input', jsonArea)}
    }
  },
  created() {
    this.init();
  },
  data() {
    return {
      isHiddenCar: false,
      isHiddenTruck: false,
      isHiddenBus: false,
      isHiddenMotorbike: false,
      isHiddenBike: false,
      isHiddenConstructed: false,
      linkAPILst: [],
      liveImageUrlLst: [],
    };
  },
  methods: {
    async init() {
      await this.getLinkAPIList();
      await this.getLiveImageUrlList();
    },
    async getLinkAPIList() {
      let queryCustom = {
        catType: "LINK_API",
      };
      let result = await categoryResource.list(queryCustom);
      if (result && result.data) {
        this.linkAPILst = result.data;
      }
    },
    async getLiveImageUrlList() {
      let queryCustom = {
        catType: "LIVE_IMAGE_URL",
      };
      let result = await categoryResource.list(queryCustom);
      if (result && result.data) {
        this.liveImageUrlLst = result.data;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
 .el-form-item__label{
  width: 130px !important;
}
.el-form-item {
    margin-bottom: 17px;
}
span.form-ratio {
  .el-form-item {
    margin-bottom: 0px;
    /deep/ .el-form-item__label {
      padding-left: 24px;
    }
  }
}
</style>
