<template>
  <div>
    <el-form-item label="Màu" prop="colorPicker">
      <el-input v-model="jsonArea.colorPicker" size="small">
        <el-color-picker slot="append" v-model="jsonArea.colorPicker" size="mini" color-format="rgb" show-alpha></el-color-picker>
      </el-input>
    </el-form-item>

    <el-form-item label="Tên vùng" prop="name" class="area-name">
      <el-input v-model="jsonArea.name" size="small"></el-input>
    </el-form-item>

    <!-- <el-form-item label="Khoảng cách (m)">
      <el-input-number v-model="jsonArea.midRange" controls-position="right" :min="0" :max="100" size="small"></el-input-number>
    </el-form-item>

    <el-form-item label="Chu kì đo (phút)">
      <el-input-number v-model="jsonArea.measureTime" controls-position="right" :min="0" :max="100" size="small"></el-input-number>
    </el-form-item>

    <el-form-item label="Hướng">
      <el-select multiple v-model="jsonArea.arr_direction" placeholder="Chọn hướng" size="small">
        <el-option
          v-for="direction in directionList"
          :key="direction.id"
          :label="direction.name"
          :value="direction.id"
        >
        </el-option>
      </el-select>
    </el-form-item> -->

    <el-form-item label="Ngưỡng" prop="threshold">
      <el-input-number v-model="jsonArea.threshold" controls-position="right" :min="0" :max="10000" size="small"></el-input-number>
    </el-form-item>
  </div>
</template>

<script>
export default {
  props: {
    value: {
        type: Object,
        default: function() {
            return {};
        }
    },
  },
  computed: {
    jsonArea: {
        get() { return this.value },
        set(jsonArea) {this.$emit('input', jsonArea)}
    }
  },
  created() {
  },
  data() {
    return {
      directionList: [
        {
          id: 1,
          name: "Bắc"
        },
        {
          id: 2,
          name: "Đông Bắc"
        },
        {
          id: 128,
          name: "Tây Bắc"
        },
        {
          id: 4,
          name: "Đông"
        },
        {
          id: 8,
          name: "Đông Nam"
        },
        {
          id: 16,
          name: "Nam"
        },
        {
          id: 32,
          name: "Tây Nam"
        },
        {
          id: 64,
          name: "Tây"
        },
        {
          id: 255,
          name: "Tất cả"
        },
        {
          id: 0,
          name: "Không có"
        },
      ],
    };
  },
  methods: {
  },
};
</script>

<style lang="scss" scoped>
 .el-form-item__label{
  width: 130px !important;
}
.el-form-item {
    margin-bottom: 17px;
}
span.form-ratio {
  .el-form-item {
    margin-bottom: 0px;
    /deep/ .el-form-item__label {
      padding-left: 24px;
    }
  }
}
</style>
