<template>
  <div class="app-container claim organizationInfo-page config-page" v-if="canRead">
    <!-- Filter -->
    <template>
      <div id="organizationInfo-table">
        <div class="filter-container" v-if="multipleSelection.length==0">
          <template>
            <div class="search-block">
              <el-input class="search"
                placeholder=""
                prefix-icon="el-icon-search"
                v-model="searchKeyword" @keyup.enter.native="handleFilter()">
              </el-input>
              <el-button v-if="canCreate" type="primary" @click="handleCreate()"
              ><i class="el-icon-plus"></i> Thêm mới</el-button>
            </div>
          </template>
        </div>
        <div id="select-all-delete" v-if="multipleSelection.length>0">
          <i class="el-icon-close" @click="closeDelete()"></i> <span v-if="multipleSelection.length<10">0{{multipleSelection.length}}</span><span v-else>{{multipleSelection.length}}</span> mục được chọn
          <el-button type="danger" @click="destroyMulti()" :loading="loading_delete_all" v-if="canDelete"><i class="el-icon-delete"></i> Xóa</el-button>
        </div>
          <el-table
            ref="multipleTable"
            :data="organizationList"
            style="width: 100%"
            :row-class-name="tableRowClassName"
            @selection-change="handleSelectionChange" @row-click="rowClicked">
            <el-table-column
                type="selection"
                width="55">
            </el-table-column>

            <el-table-column label="STT" :width="(query.page * query.size).toString().length * 10 + 30">
              <template slot-scope="scope">
                <span>{{ (query.page - 1) * query.size + scope.$index + 1 }}</span>
              </template>
            </el-table-column>

            <el-table-column label="Mã đơn vị">
              <template slot-scope="scope">
                <span>{{ scope.row.code }}</span>
              </template>
            </el-table-column>
                    <el-table-column label="Tên đơn vị">
              <template slot-scope="scope">
                <span>{{ scope.row.name }}</span>
              </template>
            </el-table-column>

            <el-table-column label="Địa chỉ">
              <template slot-scope="scope">
                <span>{{ scope.row.address }}</span>
              </template>
            </el-table-column>

            <el-table-column label="Điện thoại">
              <template slot-scope="scope">
                <span>{{ scope.row.phone }}</span>
              </template>
            </el-table-column>

            <el-table-column label="Email">
              <template slot-scope="scope">
                <span>{{ scope.row.email }}</span>
              </template>
            </el-table-column>

          </el-table>
          <!-- Phân trang -->
          <p style="clear: both"></p>
        <div style="display: inline-block; padding-top: 13px">
          Tổng số đơn vị: <strong>{{ total }}</strong>
        </div>
          <pagination
            v-show="total > query.size"
            :total="total"
            :page.sync="query.page"
            :layout="layout"
            :limit.sync="query.size"
            @pagination="getList"
          />
      </div>
      <div id="detail-organizationInfo" style="width: 0;">
          <i class="el-icon-close" @click="closeDetail()"></i>
          <template v-if="organizationDetail">
              <div class="avatar">
              </div>

              <template v-if="organizationDetail.code">
                <div class="item-label">Mã đơn vị</div>
                <div class="item-text">{{ organizationDetail.code }}</div>
              </template>

              <template v-if="organizationDetail.name">
                <div class="item-label">Tên đơn vị</div>
                <div class="item-text">{{ organizationDetail.name }}</div>
              </template>

              <template v-if="organizationDetail.address">
                <div class="item-label">Địa chỉ</div>
                <div class="item-text">{{ organizationDetail.address }}</div>
              </template>

              <template v-if="organizationDetail.phone">
                <div class="item-label">Số điện thoại</div>
                <div class="item-text">{{ organizationDetail.phone }}</div>
              </template>

              <template v-if="organizationDetail.email">
                <div class="item-label">Email</div>
                <div class="item-text">{{ organizationDetail.email }}</div>
              </template>

              <div class="action">
                <el-button v-if="canUpdate" type="primary" @click="handleEdit(organizationDetail)"><i class="el-icon-edit"></i> Sửa</el-button>
                <el-button v-if="canDelete" type="success" @click="destroy(organizationDetail)" :loading="loadingOrganizationDelete"><i class="el-icon-delete"></i> Xóa</el-button>
              </div>
          </template>
      </div>
    </template>

    <!-- Dialog Add -->
    <el-dialog
      title="Thêm mới đơn vị"
      :visible.sync="dialogAdd"
      width="547px"
      @close="closeDialog('addForm')"
      :close-on-click-modal="false"
    >
      <el-form
        :model="organizationInfo"
        :rules="rules"
        ref="addForm"
        label-position="top"
        label-width="100%"
      >
        <div class="config-group-field">
          <div class="item-mid">
              <el-form-item label="Mã đơn vị quản lý" prop="code">
                <el-input maxlength="255" v-model="organizationInfo.code"></el-input>
              </el-form-item>
          </div>
          <div class="item-mid">
              <el-form-item label="Tên đơn vị" prop="name">
                <el-input maxlength="255" v-model="organizationInfo.name"></el-input>
              </el-form-item>
          </div>
          <div class="item-mid">
            <el-form-item label="Tên viết tắt" prop="shortName">
              <el-input maxlength="255" v-model="organizationInfo.shortName"></el-input>
            </el-form-item>
          </div>
        </div>
        <div class="config-group-field">
          <div class="block-item">
              <div class="item-left">
                  <el-form-item label="Điện thoại" prop="phone">
                    <el-input maxlength="255" v-model="organizationInfo.phone"></el-input>
                  </el-form-item>
                </div>
              <div class="item-right">
                 <el-form-item label="Email" prop="email">
                    <el-input maxlength="255" v-model="organizationInfo.email"></el-input>
                  </el-form-item>
              </div>
          </div>
          <div class="item-mid">
              <el-form-item label="Địa chỉ" prop="address">
                <el-input maxlength="255" v-model="organizationInfo.address"></el-input>
              </el-form-item>
          </div>
        </div>
        <div class="item-mid">
           <el-form-item label="Mô tả" prop="description">
              <el-input maxlength="500" type="textarea" v-model="organizationInfo.description" :autosize="{ minRows: 4, maxRows: 8}"></el-input>
            </el-form-item>
        </div>
      </el-form>
      <div slot="footer" class="dialog-footer">
              <el-button type="danger" @click="dialogAdd = false">THOÁT</el-button>
              <el-button type="primary" @click="addOrganization()" :loading="loadingOrganization">LƯU</el-button>
      </div>
    </el-dialog>

    <!-- Dialog Edit -->
    <el-dialog
      title="Sửa đơn vị"
      :visible.sync="dialogEdit"
      width="672px"
      :close-on-click-modal="false"
    >
      <el-form
        :model="organizationInfo"
        :rules="rules"
        ref="editForm"
        label-position="top"
        label-width="200px"
      >
        <div class="config-group-field">
          <div class="item-mid">
              <el-form-item label="Mã đơn vị quản lý" prop="code">
                <el-input maxlength="255" v-model="organizationInfo.code"></el-input>
              </el-form-item>
          </div>
          <div class="item-mid">
              <el-form-item label="Tên đơn vị" prop="name">
                <el-input maxlength="255" v-model="organizationInfo.name"></el-input>
              </el-form-item>
          </div>
          <div class="item-mid">
            <el-form-item label="Tên viết tắt" prop="shortName">
              <el-input maxlength="255" v-model="organizationInfo.shortName"></el-input>
            </el-form-item>
          </div>
        </div>
        <div class="config-group-field">
          <div class="block-item">
              <div class="item-left">
                <el-form-item label="Điện thoại" prop="phone">
                  <el-input maxlength="255" v-model="organizationInfo.phone"></el-input>
                </el-form-item>
              </div>
              <div class="item-right">
                 <el-form-item label="Email" prop="email">
                    <el-input maxlength="255" v-model="organizationInfo.email"></el-input>
                  </el-form-item>
              </div>
          </div>
          <div class="item-mid">
            <el-form-item label="Địa chỉ" prop="address">
              <el-input maxlength="255" v-model="organizationInfo.address"></el-input>
            </el-form-item>
          </div>
        </div>
        <div class="item-mid">
           <el-form-item label="Mô tả" prop="description">
              <el-input maxlength="255" type="textarea" v-model="organizationInfo.description" :autosize="{ minRows: 4, maxRows: 8}"></el-input>
            </el-form-item>
        </div>
      </el-form>
      <div slot="footer" class="dialog-footer">
          <el-button type="danger" @click="dialogEdit = false">THOÁT</el-button>
          <el-button type="primary" @click="editOrganization()" :loading="loadingOrganization">Cập nhật</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import Pagination from "@/components/Pagination_custom";
import waves from "@/directive/waves"; // Waves directive
import { validFloat, validEmail, validPhone } from "@/utils/validate";
import Resource from "@/api/resource";
const organizationResource = new Resource("user/organization");

export default {
  components: { Pagination },
  directives: { waves },
  data() {
    const validateEmail = (rule, value, callback) => {
      if (value && !validEmail(value)) {
        callback(new Error("Vui lòng nhập đúng định dạng email"));
      } else {
        callback();
      }
    };

    const validateMobile = (rule, value, callback) => {
      if (value && !validPhone(value)) {
        callback(new Error("Vui lòng nhập đúng định dạng số điện thoại"));
      } else {
        callback();
      }
    };
    return {
      flag_active: null,
      loading: true,
      layout: "first, prev, pager, next, last",
      loadingOrganization: false,
      loadingOrganizationDelete: false,
      loading_delete_all: false,
      dialogAdd: false,
      dialogEdit: false,
      multipleSelection: [],
      organizationInfo: {
        uuid: "",
        code: "",
        name: "",
        phone: "",
        email: "",
        address: "",
        description: ""
      },
      statusLst: [
        {
          value: "ENABLE",
          label: "Hoạt động",
        },
        {
          value: "DISABLE",
          label: "Không hoạt động",
        },
      ],
      categoryList: [],
      categoryTypesList:[],
      organizationDetail: {},
      organizationList: [],
      total: 0,
      searchKeyword: null,
      query: {
        page: 0,
        size: 15,
        keyword: this.searchKeyword,
      },
      canRead: false,
      canCreate: false,
      canUpdate: false,
      canDelete: false,
      rules: {
        code: [
          { required: true, message: "Mã đơn vị quản lý là bắt buộc", trigger: "blur" },
          { max: 255, message: 'Tối đa 255 ký tự', trigger: 'blur' },
        ],
        phone: [
          // { required: true, message: "Điện thoại là bắt buộc", trigger: "blur" },
          { max: 255, message: 'Tối đa 255 ký tự', trigger: 'blur' },
          { validator: validateMobile },
        ],
        name: [
          { required: true, message: "Tên đơn vị là bắt buộc", trigger: "blur" },
          { max: 255, message: 'Tối đa 255 ký tự', trigger: 'blur' },
        ],
        shortName: [
          {
            required: true,
            message: "Tên viết tắt là bắt buộc",
            trigger: "blur",
          },
        ],
        email: [
          // { required: true, message: "Email là bắt buộc", trigger: "blur" },
          { max: 255, message: 'Tối đa 255 ký tự', trigger: 'blur' },
          { validator: validateEmail },
        ],
        address: [
          { required: true, message: "Địa chỉ là bắt buộc", trigger: "blur" },
          { max: 255, message: 'Tối đa 255 ký tự', trigger: 'blur' },
        ],
        description: [
          { max: 500, message: 'Tối đa 500 ký tự', trigger: 'blur' },
        ]
      },
    };
  },
  created() {
    this.canRead = this.$root.checkRole(this.$route.fullPath,'canRead');
    this.canCreate = this.$root.checkRole(this.$route.fullPath,'canCreate');
    this.canUpdate = this.$root.checkRole(this.$route.fullPath,'canUpdate');
    this.canDelete = this.$root.checkRole(this.$route.fullPath,'canDelete');
    this.getList();
  },

  methods: {
    async getList() {
      this.loading = true;
      if(this.searchKeyword) {
        this.searchKeyword = this.searchKeyword.trim()
      }
      let queryCustom = {
        page: this.query.page,
        size: this.query.size,
        search: this.searchKeyword ? this.searchKeyword.trim() : "",
        systemType: 0
      };
      if (this.query.page > 0) {
        queryCustom.page = this.query.page - 1;
      }
      const { data, total } = await organizationResource.list(queryCustom);
      if (data) {
        this.organizationList = data;
      } else {
        this.organizationList = [];
      }
      if (total) {
        this.total = total;
      } else {
        this.total = 0;
      }

      this.loading = false;
    },

    closeDelete() {
      this.$refs.multipleTable.clearSelection();
      this.multipleSelection = [];
    },
    closeDetail() {
      document.getElementById("detail-organizationInfo").style.display = 'none';
      document.getElementById("detail-organizationInfo").style.width = '0';
      document.getElementById("organizationInfo-table").style.width = 'calc(100%)';
    },
    async rowClicked(row) {
        this.flag_active = row.uuid
        const { data } = await organizationResource.get(row.uuid);
        if (data) {
          this.organizationDetail = data;
          if (this.organizationDetail) {
            document.getElementById("organizationInfo-table").style.width = 'calc(100% - 445px)';
            setTimeout(function() {
              document.getElementById("detail-organizationInfo").style.display = 'block';
              document.getElementById("detail-organizationInfo").style.width = '420px';
            }, 500);
          }
        } else {
          this.$message({
            message: "Đơn vị không tồn tại",
            type: "error",
          });
          this.handleFilter();
        }
    },

    destroy(organizationInfo) {
      this.$confirm('Bạn chắc chắn muốn xóa đơn vị ' + organizationInfo.name + '?', '', {
        confirmButtonText: 'Xác nhận',
        cancelButtonText: 'Thoát',
        type: 'warning'
      }).then(() => {
        this.loadingOrganizationDelete = true;
        organizationResource.destroy(organizationInfo.uuid).then(response => {
          this.loadingOrganizationDelete = false;
          this.handleFilter();
          if (response.status == 200) {
            this.getList()
            this.closeDetail()
            this.$message({
                type: 'success',
                message: 'Xóa thành công'
            });
          } else {
            this.$message({
              message: "Xóa thất bại",
              type: "error",
            });
          }
          this.loadingOrganizationDelete = false;
        }).catch(err => {
          this.loadingOrganizationDelete = false;
          console.log(err);
          // this.$notify({
          //   title: "Lỗi",
          //   message: "Xóa thất bại",
          //   type: "error",
          // });
        });
      })
      .catch(() => {});
    },

    destroyMulti() {
      this.$confirm('Bạn có chắc chắn muốn xóa lựa chọn này ', '', {
          confirmButtonText: 'Xác nhận',
          cancelButtonText: 'Thoát',
          type: 'warning'
        }).then(() => {
          this.loading_delete_all = true;
          let params = this.multipleSelection.map(function(val){
            return val.uuid;
          });
          params = {
            uuidOrganizations: params
          };
          organizationResource.destroyMulti(params).then(response=>{
            this.loading_delete_all = false;
            if(response.status==200){
              this.multipleSelection = [];
              this.getList()
              this.closeDetail()
              this.handleFilter();
              this.$message({
                type: 'success',
                message: 'Xóa thành công'
              });
              this.loading_delete_all = false;
            }
          }).catch((err) => {
            this.loading_delete_all = false;
            console.log(err);
            // this.$message({
            //     type: 'error',
            //     message: 'Có lỗi xảy ra vui lòng thử lại sau!'
            // });
            this.handleFilter();
          });
        }).catch(() => {

        });
    },

    handleFilter() {
      this.query.page = 1;
      this.getList();
    },

    handleCreate() {
      this.resetDialog();
      this.dialogAdd = true;
    },

    handleEdit(data) {
      this.organizationInfo = Object.assign({}, data);
      // this.organizationInfo = {
      //   id: data.id,
      //   name: data.name,
      //   organizationInfoKey: data.organizationInfoKey,
      //   address: data.address,
      //   longitude: data.longitude,
      //   latitude: data.latitude,
      //   notes: data.notes,
      //   status: data.status
      // };

      this.dialogEdit = true;
      this.$nextTick(() => {
        this.$refs["editForm"].clearValidate();
      });
    },

    addOrganization() {
      this.organizationInfo = this.$root.trimData(this.organizationInfo)
      this.$refs.addForm.validate((valid) => {
        if (valid) {
          const params = {
            code: this.organizationInfo.code.trim(),
            name: this.organizationInfo.name.trim(),
            phone: this.organizationInfo.phone.trim(),
            email: this.organizationInfo.email.trim(),
            address: this.organizationInfo.address.trim(),
            shortName: this.organizationInfo.shortName.trim(),
            description: this.organizationInfo.description.trim(),
            systemType: 0
          };
          // console.log(params)
          this.loadingOrganization = true;
          organizationResource
          .store(params)
            .then((response) => {
              this.loadingOrganization = false;
              if (response.status === 200 || response.status === 201) {
                this.dialogAdd = false;
                this.handleFilter();
                this.resetDialog();
                this.$message({
                    type: 'success',
                    message: 'Thêm mới thành công'
                });
              }
            })
            .catch(() => {
              this.loadingOrganization = false;
              // this.$notify({
              //   title: "Lỗi",
              //   message: "Thêm mới thất bại",
              //   type: "error",
              // });
            });
        } else {
          this.loadingOrganization = false
          return false;
        }
      });
    },

    editOrganization() {
      this.organizationInfo = this.$root.trimData(this.organizationInfo)
      this.$refs.editForm.validate((valid) => {
        if (valid) {
          const params = {
            code: this.organizationInfo.code.trim(),
            name: this.organizationInfo.name.trim(),
            phone: this.organizationInfo.phone.trim(),
            email: this.organizationInfo.email.trim(),
            address: this.organizationInfo.address.trim(),
            description: this.organizationInfo.description.trim(),
	    shortName: this.organizationInfo.shortName.trim(),
            systemType: 0
          };
          this.loadingOrganization = true;
          organizationResource
            .update(this.organizationInfo.uuid, params)
            .then((response) => {
                this.loadingOrganization = false
              if (response.status === 200 || response.status === 201) {
                this.dialogEdit = false;
                  this.organizationDetail = response.data
                this.handleFilter();
                this.$message({
                    type: 'success',
                    message: 'Cập nhật thành công'
                });
              }
            })
            .catch(() => {
              this.handleFilter();
                this.loadingOrganization = false
              // this.$notify({
              //   title: "Lỗi",
              //   message: "Sửa thất bại",
              //   type: "error",
              // });
            });
        } else {
          this.loadingOrganization = false
          return false;
        }
      });
    },

    resetDialog() {
      this.organizationInfo = {
        id: "",
        name: "",
        code: "",
        catType: "",
        mapper: "",
        orderInType: "",
        description: "",
        email: "",
        phone: ""
      };
    },
    closeDialog(formName) {
      this.$refs[formName].clearValidate();
      this.$refs[formName].resetFields();
    },

    handleSelectionChange(val) {
        this.multipleSelection = val;
    },

    tableRowClassName(row) {
        if(row.row.uuid == this.flag_active) {
            return 'active-row'
        }
        return ''
    }
  },
};
</script>

<style lang="scss" scoped>
.organizationInfo-page {
  .item-mid {
      width: 100%;
      float: left;
      margin-left: 0%;
    }
}
</style>

<style lang="scss">
  .organizationInfo-page {
    .el-icon-camera-solid {
        font-size: 25px;
        color: #9a9a9a;
        position: relative;
        top: -50px;
        left: 54px;
        background: #dfdfdf;
        border-radius: 50%;
        padding: 8px;
        border: 1px solid white;
    }
    .img_avatar {
      text-align: center;
      padding-top: 25px;
      img {
        border-radius: 50%;
      }
    }
    .el-dialog {
      margin-top: 80px !important;
    }
    .item-left {
      width: 47%;
      float: left;
      margin-right: 2%;
    }
    .item-right {
      width: 48%;
      float: left;
      margin-left: 3%;
    }
    .block-item {
      width: 100%;
      float: left;
    }
    .el-dialog__header {
        padding: 0;
        background: #006fe3;
        height: 40px;
        line-height: 40px;
        text-align: center;
        .el-dialog__title {
          color: white;
        }
        .el-icon-close {
          color: white;
          font-size: 22px;
          top: -10px;
          position: relative;
        }
    }
    .el-dialog__body {
      .el-form-item__label {
        padding-bottom: 0;
        font-size: 14px;
        color: #363030;
        font-weight: 300;
      }
    }
    .el-dialog__footer {
      clear: both;
      padding-bottom: 25px;
      .el-button--primary {
          background: #1f7ff5;
          height: 40px;
          border-radius: 5px;
          width: 147px;
          text-transform: uppercase;
          font-weight: bold;
          border-color: #1f7ff5;
      }
      .el-button--danger {
          background: #9e9e9e;
          height: 40px;
          border-radius: 5px;
          width: 147px;
          text-transform: uppercase;
          font-weight: bold;
          border-color: #9e9e9e;
          float: left;
      }
    }
    #select-all-delete {
      height: 63px;
      line-height: 63px;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
      background-color: #ff4646;
      color: white;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      .el-icon-close {
          font-size: 25px;
          margin-left: 20px;
          margin-right: 35px;
          position: relative;
          top: 4px;
          cursor: pointer;
      }
      button {
        background: #e00000;
        border: initial;
        border-radius: 5px;
        float: right;
        display: inline-block;
        margin-top: 15px;
        margin-right: 15px;
      }
    }
    .action {
      margin-top: 40px;
      .el-button--primary {
        background: #64789a;
        border: initial;
        border-radius: 4px;
        width: 147px;
        height: 40px;
      }
      .el-button--success {
        background: #ff6161;
        border: initial;
        border-radius: 4px;
        width: 147px;
        height: 40px;
        float: right;
      }
      .el-button--info {
        background: #26c6da;
        border: initial;
        border-radius: 4px;
        width: 147px;
        height: 40px;
        float: right;
      }
    }
    #detail-organizationInfo {
      position: relative;
     /* transition: width 1s;
      -moz-transition: width 1s;
      -webkit-transition: width 1s;
      -o-transition: width 1s;*/
      width: 0;
      background: white;
      padding: 25px;
      float: left;
      margin-left: 25px;
      display: none;
      overflow: hidden;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
      border-radius: 4px;
      .avatar {
        text-align: center;
        margin-bottom: 25px;
        margin-top: 25px;
        img {
          border-radius: 50%;
        }
      }
      .item-label {
        color: black;
        font-weight: bold;
        font-size: 14px;
        margin-bottom: 10px;
      }
      .item-text {
        color: black;
        font-size: 16px;
        margin-bottom: 20px;
        opacity: 0.6;
      }
      .el-icon-close {
        background: #e3e3e3;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        text-align: center;
        line-height: 30px;
        color: #878787;
        font-size: 16px;
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
      }
    }
    .el-table th > .cell {
      text-align: left;
    }
    .el-table tr > th:first-child .cell {
      text-align: center;
    }
    .el-table th {
      color: black;
      font-size: 14px;
    }
    .el-table td {
      color: black;
      font-size: 14px;
    }
    .el-table tr td:first-child {
      text-align: center;
    }
    .el-table td:first-child .cell {
      display: inline-block;
    }
    .filter-container {
      padding-bottom: 20px;
    }
    tbody {
      tr {
        cursor: pointer;
      }
    }
    .search-block {
      .search {
        display: inline;
        input{
          width: 272px;
          height: 36px !important;
          line-height: 36px !important;
          border: solid 1px #9999;
          border-radius: 5px;
          padding-left: 40px;
        }
        .el-icon-search {
          line-height: 16px;
          font-size: 19px;
          color: #666;
        }
        span {
          left: 10px;
        }
      }
      button {
        float: right;
        background: #1f7ff5;
        border-radius: 4px;
        height: 40px !important;
        width: 147px;
        margin-left: 15px;
        border-color: #1f7ff5;
        span {
          font-size: 16px;
          font-weight: bold;
          text-transform: uppercase;
        }
      }
    }
  }

</style>
