<template>
  <div class="app-container claim DialogVehicleTrack">
    <el-form
      :model="vehicleTrack"
      ref="detailForm"
      label-position="top"
      label-width="100%"
    >
      <div class="block-item">
        <div class="item-left" style="width: 58% !important;">
          <el-card class="box-card setpadding">
          <div class="block-item">
                <div class="item-left">
                <div class="item">
                    <div class="image"><img src="@/assets/images/processViolation/plate.png" alt="" /></div>
                    <div class="content">
                        <div class="title">Biển kiểm soát</div>
                        <div class="descript">{{ vehicleTrack.plate }}</div>
                    </div>
                </div>
                <div class="item">
                    <div class="image"><img src="@/assets/images/processViolation/type_vehicel.png" alt="" /></div>
                    <div class="content">
                        <div class="title">Loại phương tiện</div>
                        <div class="descript">
                          {{
                            vehicleTrack.objectTypeName
                              ? vehicleTrack.objectTypeName
                              : "UNKNOWN"
                          }}
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="image"><img src="@/assets/images/processViolation/type_object.png" alt="" /></div>
                    <div class="content">
                        <div class="title">Loại đối tượng</div>
                        <div class="descript">{{ vehicleTrack ? vehicleTrack.objectType : "" }}</div>
                    </div>
                </div>
                <div class="item" v-if="vehicleTrack.attributes&&vehicleTrack.brand">
                    <div class="image"><img src="@/assets/images/processViolation/private-garage.png" alt="" /></div>
                    <div class="content">
                        <div class="title">Hãng sản xuất</div>
                        <div class="descript">
                          {{
                            vehicleTrack.attributes &&
                            vehicleTrack.attributes.brand
                              ? vehicleTrack.attributes.brand.value
                              : "UNKNOWN"
                          }}
                        </div>
                    </div>
                </div>
                <div class="item" v-if="vehicleTrack.attributes&&vehicleTrack.attributes.color">
                    <div class="image"><img src="@/assets/images/processViolation/color.png" alt="" /></div>
                    <div class="content">
                        <div class="title">Màu sắc</div>
                        <div class="descript">
                          {{
                            vehicleTrack.attributes &&
                            vehicleTrack.attributes.color
                              ? vehicleTrack.attributes.color.value
                              : "UNKNOWN"
                          }}
                        </div>
                    </div>
                </div>
                <div class="item" v-if="vehicleTrack.note">
                    <div class="image"><img src="@/assets/images/processViolation/info.png" alt="" /></div>
                    <div class="content">
                        <div class="title">Mô tả</div>
                        <div class="descript">
                          {{
                            vehicleTrack.note
                              ? vehicleTrack.note
                              : "Không có mô tả"
                          }}
                        </div>
                    </div>
                </div>
              </div>
            <div class="item-right" style="width: 48%">
              <div label="Vehicle image">
                <v-zoomer v-if="vehicleTrack.vehicleImages" :zoomingElastic="false":limitTranslation="false" style="width: 100%; height: 300; border: solid 1px silver;">
                  <img :src="vehicleTrack.vehicleImages" style="object-fit: contain; width: 100%; height: 100%; cursor: zoom-in;">
                </v-zoomer>
                <v-zoomer v-else :zoomingElastic="false":limitTranslation="false" style="width: 100%; height: 300; border: solid 1px silver;">
                  <img src="@/assets/images/vehicle_default.png" style="object-fit: contain; width: 100%; height: 100%; cursor: zoom-in;">
                </v-zoomer>
              </div>
            </div>
          </div>
          </el-card>
          <!-- danh sach chi tiet tuyen duong -->
            <br />
            <el-card
              class="box-card setpadding nopad"
            >
              <div class="table-list-history">
                <span class="search">
                  Lịch sử
                  <SearchDetail @clicked="filterDetailVehicle"></SearchDetail>
                </span>
                <!-- <h5>
                  Lịch sử
                  <SearchDetail @clicked="filterDetailVehicle"></SearchDetail>
                </h5> -->
                <el-table
                  :data="vehicleRouteList"
                  style="width: 100%; display: block"
                  id="route-table"
                  :max-height="418"
                  @row-click="handleRouteDetail"
                >
                  <el-table-column label="STT" width="50">
                    <template slot-scope="scope">
                      <span>{{ scope.$index + 1 }}</span>
                    </template>
                  </el-table-column>

                  <el-table-column label="Thời gian" width="170">
                    <template slot-scope="scope">
                      <span v-if="scope.row.startTime">{{ scope.row.startTime | formatDateVietNam }}</span>
                    </template>
                  </el-table-column>

                  <el-table-column label="Vị trí">
                    <template slot-scope="scope">
                      <span>{{ scope.row.site.site_address }}</span>
                    </template>
                  </el-table-column>

                  <el-table-column label="Thiết bị">
                    <template slot-scope="scope">
                      <span>{{ scope.row.sourceName }}</span>
                    </template>
                  </el-table-column>
                  <el-table-column label="Loại phương tiện" width="150">
                    <template slot-scope="scope">
                      <span>{{ scope.row.objectTypeName }}</span>
                    </template>
                  </el-table-column>
                  <el-table-column label="Hình ảnh" width="100">
                    <template slot-scope="scope">
                      <!--<el-image
                        style="width: 72px; height: 41px"
                        :src="urlImage + scope.row.imageUrl"
                      ></el-image> -->
                      <!--<image-magnifier :src="urlImage + scope.row.imageUrl"
                            :zoom-src="urlImage + scope.row.imageUrl"
                            width="72"
                            height="41"
                            zoom-width="400"
                            zoom-height="300"></image-magnifier> -->
                      <image-hover :image="urlImage + scope.row.imageUrl" />
                    </template>
                  </el-table-column>
                </el-table>
              </div>
            </el-card>
            <!-- ket thuc -->
            <br />
        </div>

        <div class="item-right" style="width: 38% !important;">
          <el-card
              class="box-card setpadding"
            >
          <component
            v-bind:is="showComponentAction"
            v-bind:vehicleRouteStatisticList="vehicleRouteStatisticList"
          ></component>
          </el-card>
        </div>
      </div>
    </el-form>
 </div>
</template>

<script>
import Resource from "@/api/resource";
import { getVehicle } from "@/api/vehicle-track-resource";
import MapVehicleRoute from "@/components/MapVehicleRoute";
import moment from "moment";
import SearchDetail from "@/components/Search/search-detail-vehicle";
const categoryResource = new Resource("systemconfig/vehicle-track/category");
const recognitionSearchResource = new Resource("management/search/recognition");
const recognitionSearchStatisticResource = new Resource("management/search/recognition/statistic");

export default {
  components: { MapVehicleRoute,SearchDetail },
  props: {
      notifyUrl: {
          type: String,
          default: function() {
              return '';
          }
      },
  },
  watch: {
      notifyUrl() {
          this.init();
      },
  },
  computed: {
    showComponentAction: function() {
      let componentAction = '';
      if (this.isShowMap) {
        componentAction = MapVehicleRoute;
      }
      return componentAction;
    },
  },
  data() {
    return {
      urlImage: process.env.VUE_APP_URL_IMAGE,
      isShowMap: false,
      vehicleTrack: {
        plate: '',
        vehicleType: '',
        objectType: '',
        vehicleImages: ''
      },
      vehicleTypeLst: [],
      objectTypeLst: [],
      vehicleRouteList: [],
      vehicleRouteStatisticList: [],
    };
  },
  created() {
    this.init();
  },
  methods: {
    async init() {
      await this.getVehicleTypeList();
      await this.getCollectionList();
      await this.searchRecognition();
      this.isShowMap = true;
      this.showComponentAction;
    },
     async filterDetailVehicle(data) {
      let queryCustom = data;
      queryCustom.currentPage = 0;
      queryCustom.rowsPerPage = 10000;
      queryCustom.exact = true;
      queryCustom.plate = this.vehicleTrack.plate;
      if (data.startDate) {
        queryCustom.startDate = data.startDate;
      } else {
        queryCustom.startDate = this.getDateString() + " 00:00:00";
      }
      if (data.endDate) {
        queryCustom.endDate = data.endDate;
      } else {
        queryCustom.endDate = this.getDateString() + " 23:59:59";
      }
      if (data.site) {
        queryCustom.site = data.site;
      } else {
        queryCustom.site = "";
      }
      let result = await recognitionSearchResource.list(queryCustom);
      if (result && result.data) {
        this.vehicleRouteList = result.data;
      } else {
        this.vehicleRouteList = [];
      }

      let statisticResult = await recognitionSearchStatisticResource.list(
        queryCustom
      );
      if (statisticResult && statisticResult.data) {
        this.vehicleRouteStatisticList = statisticResult.data;
      } else {
        this.vehicleRouteStatisticList = [];
      }
    },
    async getVehicleTypeList() {
      let queryCustom = {
        catType: "VEHICLE",
      };
      let result = await categoryResource.list(queryCustom);
      if (result && result.data) {
        this.vehicleTypeLst = result.data;
      }
    },
    async getCollectionList() {
      let queryCustom = {
        catType: "COLLECTION",
      };
      let result = await categoryResource.list(queryCustom);
      if (result && result.data) {
        this.objectTypeLst = result.data;
      }
    },
    async handleRouteDetail(row) {
      if (row) {
        this.vehicleTrack = row;
        this.dialogDetail = true;
      }
    },
    async searchRecognition() {
      // console.log(this.notifyUrl);
      let plate = this.notifyUrl != '' ? this.notifyUrl.split('=')[1] : '';
      let queryCustom = {
        currentPage: 0,
        rowsPerPage: 1000,
        plate: plate,
        startDate: moment().startOf('year').format("YYYY-MM-DD HH:mm:ss"),
        endDate:  moment().endOf('day').format("YYYY-MM-DD HH:mm:ss"),
        exact: true,
        site: '',
      };

      let vehicleTraceResult = await getVehicle(plate);
      if (vehicleTraceResult && vehicleTraceResult.data) {
        this.vehicleTrack = vehicleTraceResult.data;
      }

      let result = await recognitionSearchResource.list(queryCustom);
      if (result && result.data) {
        this.vehicleRouteList = result.data;
      } else {
        this.vehicleRouteList = [];
      }

      let statisticResult = await recognitionSearchStatisticResource.list(queryCustom);
      if (statisticResult && statisticResult.data) {
        this.vehicleRouteStatisticList = statisticResult.data;
      } else {
        this.vehicleRouteStatisticList = [];
      }
    },
  },
};
</script>

<style lang="scss">
.DialogVehicleTrack{
  .item-left {
      .item {
        float: left;
        width: 100%;
        padding-right: 10px;
        margin-bottom: 20px;
        .image {
          float: left;
          margin-right: 15px;
          width: 40px;
          text-align: center;
        }
        .content {
          float: left;
          width: calc(100% - 55px);
          .title {
              font-size: 14px;
              font-weight: 500;
          }
          .descript {
            font-size: 14px;
            color: #363030;
            margin-top: 5px;
          }
        }
      }
  }
  /*.item {
      float: left;
      width: 100%;
      padding-right: 10px;
      margin-bottom: 20px;
      .image {
          float: left;
          margin-right: 15px;
          width: 40px;
          text-align: center;
      }
      content {
        float: left;
        width: calc(100% - 55px);
      }
    }
    .item-left.el-card__body {
        padding: 15px !important;
        float: left;
        width: 100%;
    }
    .item-right {
        width: 49%;
        float: left;
        margin-left: 1%;
    }*/
}
</style>
