<template>
  <div class="app-container claim track-page config-page">
    <!-- list vehicle track -->
    <template>
      <div id="track-table" :class="{ 'hide' : isClickDetail }">
        <div class="filter-container" v-if="multipleSelection.length == 0">
          <template>
            <div class="search-block">
              <el-input
                class="search"
                placeholder=""
                prefix-icon="el-icon-search"
                v-model="searchKeyword"
                @keyup.enter.native="handleFilter()"
              >
              </el-input>
              <el-button v-if="canCreate" type="primary" @click="handleCreate()"
                ><i class="el-icon-plus"></i> Thêm mới</el-button
              >
            </div>
          </template>
        </div>
        <div id="select-all-delete" v-if="multipleSelection.length > 0">
          <i class="el-icon-close" @click="closeDelete()"></i>
          <span v-if="multipleSelection.length < 10"
            >0{{ multipleSelection.length }}</span
          ><span v-else>{{ multipleSelection.length }}</span> mục được chọn
          <el-button
            type="danger"
            @click="destroyMulti()"
            :loading="loading_delete_all"
            v-if="canDelete"
            ><i class="el-icon-delete"></i> Xóa</el-button
          >
        </div>

        <el-table
          ref="multipleTable"
          :data="vehicleTrackList"
          style="width: 100%"
          :row-class-name="tableRowClassName"
          @selection-change="handleSelectionChange"
          @row-click="rowClicked"
        >
          <el-table-column type="selection" width="55"> </el-table-column>
          <el-table-column label="STT" :width="(query.page * query.size).toString().length * 10 + 30">
            <template slot-scope="scope">
              <span>{{
                (query.page - 1) * query.size + scope.$index + 1
              }}</span>
            </template>
          </el-table-column>

          <el-table-column label="Biển số">
            <template slot-scope="scope">
              <span>{{ scope.row.plate }}</span>
            </template>
          </el-table-column>

          <el-table-column label="Nhãn hiệu">
            <template slot-scope="scope">
              <span v-if="scope.row.model">{{ scope.row.model }}</span>
            </template>
          </el-table-column>

          <el-table-column label="Loại phương tiện">
            <template slot-scope="scope">
              <span>{{ getNamesVehicleType(scope.row.vehicleType) }}</span>
            </template>
          </el-table-column>

          <el-table-column label="Loại đối tượng">
            <template slot-scope="scope">
              <span>{{ scope.row.objectType }}</span>
            </template>
          </el-table-column>
        </el-table>
        <!-- Phân trang -->
        <p style="clear: both"></p>
        <div style="display: inline-block; padding-top: 13px">
          Tổng số đối tượng: <strong>{{ total }}</strong>
        </div>
        <pagination
          v-show="total > query.size"
          :total="total"
          :page.sync="query.page"
          :layout="layout"
          :limit.sync="query.size"
          @pagination="getList"
        />
      </div>
      <div id="detail-track" style="width: 0" :class="{ 'hide' : isClickDetail }">
        <i class="el-icon-close" @click="closeDetail()"></i>
        <template v-if="trackDetail">
          <div class="vehicle">
            <img
              v-if="trackDetail.vehicleImages && doesFileExist(trackDetail.vehicleImages)"
              :src="trackDetail.vehicleImages"
              @error=replaceImageFail
            />
            <img v-else :src="vehicle_default" />
          </div>
          <div class="item-label" style="margin-top: 18px">Biển kiểm soát</div>
          <div class="item-text">
            {{ trackDetail.plate }}
          </div>
          <template v-if="trackDetail.model">
            <div class="item-label">Nhãn hiệu</div>
            <div class="item-text">
              {{ trackDetail.model }}
            </div>
          </template>
          <template v-if="trackDetail.vehicleType">
            <div class="item-label">Loại phương tiện</div>
            <div class="item-text">
              {{ getNamesVehicleType(trackDetail.vehicleType) }}
            </div>
          </template>
          <template v-if="trackDetail.objectType">
            <div class="item-label">Loại đối tượng</div>
            <div class="item-text">
              {{ trackDetail.objectType }}
            </div>
          </template>
          <template v-if="trackDetail.reason && trackDetail.objectType == 'Danh sách đen'">
            <div class="item-label">Lý do</div>
            <div class="item-text">
              {{ trackDetail.reason }}
            </div>
          </template>
          <template v-if="trackDetail.description">
            <div class="item-label">Ngày phát hiện</div>
            <div class="item-text">
              {{ trackDetail.recognitionLastTime }}
            </div>
          </template>
          <template v-if="trackDetail.description">
            <div class="item-label">Ghi chú</div>
            <div class="item-text">
              {{ trackDetail.description }}
            </div>
          </template>
          <div class="action">
            <el-button
              type="primary"
              @click="handleDetail(trackDetail)"
              style="background-color: #26c6da; color: #ffffff"
              v-if="trackDetail.objectType == 'Danh sách đen' || !trackDetail.objectType"
              >Lộ trình</el-button
            >
            <el-button
              type="primary"
              @click="handleEdit(trackDetail)"
              v-if="canUpdate"
              ><i class="el-icon-edit"></i> Sửa</el-button
            >
            <el-button
              v-if="canDelete"
              type="success"
              @click="destroy(trackDetail)"
              :loading="loading_delete"
              :disabled="loading_delete_disable"
              ><i class="el-icon-delete"></i> Xóa</el-button
            >
          </div>
        </template>
      </div>
    </template>
    <!-- Detail bien so (width="740px") -->
    <template>
      <div class="travel-detail" :class="{ 'hide' : !isClickDetail }">
        <div class="header">
          Lộ trình
          <i class="el-icon-close" @click="closeDetailTravel"/>
        </div>
        <div class="body">
          <div class="block-item">
              <div v-if="isClickDetail" class="item-left image-detailbox" style="width: 58% !important;">
                <el-card class="box-card setpadding detail-info-left-top" id="detail-info-left-top">
                  <div class="item-left" style="width: 250px;margin-right: 0;">
                      <div class="item">
                        <div class="image">
                          <img
                            src="@/assets/images/processViolation/plate.png"
                            alt=""
                          />
                        </div>
                        <div class="content">
                          <div class="title">Biển kiểm soát</div>
                          <div class="descript">{{ recognitionDetail.plate }}</div>
                        </div>
                      </div>
                      <div class="item">
                        <div class="image">
                          <img
                            src="@/assets/images/processViolation/type_vehicel.png"
                            alt=""
                          />
                        </div>
                        <div class="content">
                          <div class="title">Loại phương tiện</div>
                          <div class="descript">
                            {{
                              recognitionDetail.objectTypeName
                                ? recognitionDetail.objectTypeName
                                : trackDetail
                                ? getNamesVehicleType(trackDetail.vehicleType)
                                : "UNKNOWN"
                            }}
                          </div>
                        </div>
                      </div>
                      <div class="item">
                        <div class="image">
                          <img
                            src="@/assets/images/processViolation/type_object.png"
                            alt=""
                          />
                        </div>
                        <div class="content">
                          <div class="title">Loại đối tượng</div>
                          <div class="descript">
                            {{ trackDetail.objectType }}
                          </div>
                        </div>
                      </div>
                      <div
                        class="item"
                        v-if="
                          recognitionDetail.attributes && recognitionDetail.brand
                        "
                      >
                        <div class="image">
                          <img
                            src="@/assets/images/processViolation/private-garage.png"
                            alt=""
                          />
                        </div>
                        <div class="content">
                          <div class="title">Hãng sản xuất</div>
                          <div class="descript">
                            {{
                              recognitionDetail.attributes &&
                              recognitionDetail.attributes.brand
                                ? recognitionDetail.attributes.brand.value
                                : "UNKNOWN"
                            }}
                          </div>
                        </div>
                      </div>
                      <div
                        class="item"
                        v-if="
                          recognitionDetail.attributes &&
                          recognitionDetail.attributes.color
                        "
                      >
                        <div class="image">
                          <img
                            src="@/assets/images/processViolation/color.png"
                            alt=""
                          />
                        </div>
                        <div class="content">
                          <div class="title">Màu sắc</div>
                          <div class="descript">
                            {{
                              recognitionDetail.attributes &&
                              recognitionDetail.attributes.color
                                ? recognitionDetail.attributes.color.value
                                : "UNKNOWN"
                            }}
                          </div>
                        </div>
                      </div>
                      <div class="item" v-if="recognitionDetail.note">
                        <div class="image">
                          <img
                            src="@/assets/images/processViolation/info.png"
                            alt=""
                          />
                        </div>
                        <div class="content">
                          <div class="title">Mô tả</div>
                          <div class="descript">
                            {{
                              recognitionDetail.note
                                ? recognitionDetail.note
                                : "Không có mô tả"
                            }}
                          </div>
                        </div>
                      </div>
                    </div>
                  <div class="item-right" style="width: calc(99% - 250px);">
                    <div style="width: 100%; height: 380px; border: solid 1px silver; background-color: #000;">
                        <img
                          v-if="recognitionDetail && recognitionDetail.imageUrl && doesFileExist(recognitionDetail.imageUrl)"
                          :src="recognitionDetail.imageUrl"
                          style="
                            object-fit: contain;
                            width: 100%;
                            height: 100%;
                            cursor: zoom-in;
                          "
                          @error=replaceImageFail
                          v-viewer
                        />
                        <img v-else-if="vehicleRouteList && vehicleRouteList[0] && vehicleRouteList[0].imageUrl && doesFileExist(vehicleRouteList[0].imageUrl)"
                          :src="urlImage + vehicleRouteList[0].imageUrl"
                          style="
                            object-fit: contain;
                            width: 100%;
                            height: 100%;
                            cursor: zoom-in;
                          "
                           v-viewer
                        />
                        <img
                          v-else
                          :src="vehicle_default"
                          style="
                            width: 100%;
                            height: 100%;
                            border: solid 1px silver;
                            max-height: 430px;
                          "
                        />
                    </div>
                  </div>
                </el-card>
                <!-- danh sach chi tiet tuyen duong -->
                <br />
                <el-card class="box-card setpadding nopad">
                    <div class="table-list-history">
                      <span class="search">
                        Lịch sử
                        <SearchDetail @clicked="filterDetailVehicle"></SearchDetail>
                      </span>
                      <!-- <h5>
                      Lịch sử
                      <SearchDetail @clicked="filterDetailVehicle"></SearchDetail>
                    </h5> -->
                      <el-table
                        :data="vehicleRouteList"
                        style="width: 100%; display: block"
                        :max-height="418"
                        id="route-table"
                        @row-click="handleRouteDetail"
                      >
                        <el-table-column label="STT" width="50">
                          <template slot-scope="scope">
                            <span>{{ scope.$index + 1 }}</span>
                          </template>
                        </el-table-column>

                        <el-table-column label="Thời gian" width="170">
                          <template slot-scope="scope">
                            <span v-if="scope.row.startTime">{{
                              scope.row.startTime | formatDateVietNam
                            }}</span>
                          </template>
                        </el-table-column>

                        <el-table-column label="Vị trí">
                          <template slot-scope="scope">
                            <span>{{ scope.row.site.site_address }}</span>
                          </template>
                        </el-table-column>

                        <el-table-column label="Thiết bị">
                          <template slot-scope="scope">
                            <span>{{ scope.row.sourceName }}</span>
                          </template>
                        </el-table-column>
                        <el-table-column label="Loại phương tiện" width="150">
                          <template slot-scope="scope">
                            <span>{{ scope.row.objectTypeName }}</span>
                          </template>
                        </el-table-column>
                        <el-table-column label="Hình ảnh" width="100">
                          <template slot-scope="scope">
                            <img v-if="doesFileExist(urlImage + scope.row.imageUrl)" :src="urlImage + scope.row.imageUrl" @error=replaceImageFail alt=""/>
                            <img v-else :src="vehicle_default" alt=""/>
                          </template>
                        </el-table-column>
                      </el-table>
                    </div>
                  </el-card>
                  <!-- ket thuc -->
              </div>

              <div v-if="showMap" class="item-right map-box" style="width: 41% !important;">
                <el-card class="box-card setpadding">
                <component
                  v-bind:is="showComponentAction"
                      v-bind:vehicleRouteStatisticList="vehicleRouteStatisticList"/>
              </el-card>
            </div>
          </div>
        </div>

    </div>
    </template>
    <!-- ket thuc -->
    <!-- Add Dialog -->
    <el-dialog
      title="Thêm mới đối tượng theo dõi"
      :visible.sync="dialogAdd"
      width="700px"
      @close="closeDialog('addForm')"
      :close-on-click-modal="false"
    >
      <el-form
        :model="trackInfo"
        :rules="rules"
        ref="addForm"
        label-position="top"
        label-width="100%"
      >
        <div class="block-item">
          <div class="item-left">
            <el-form-item label="Biển kiểm soát" prop="plate">
              <el-input maxlength="255" v-model="trackInfo.plate"></el-input>
            </el-form-item>

            <el-form-item label="Nhãn hiệu" prop="model">
              <el-input maxlength="255" v-model="trackInfo.model"></el-input>
            </el-form-item>

            <div class="block-item">
              <div class="item-left">
                <el-form-item label="Loại phương tiện" prop="vehicleType">
                  <el-select
                    v-model="trackInfo.vehicleType"
                    placeholder="Loại phương tiện"
                  >
                    <el-option
                      v-for="tmpType in vehicleTypeLst"
                      :key="tmpType.id"
                      :label="tmpType.name"
                      :value="tmpType.code"
                    >
                    </el-option>
                  </el-select>
                </el-form-item>
              </div>
              <div class="item-right">
                <el-form-item label="Loại đối tượng" prop="objectType">
                  <el-select
                    v-model="trackInfo.objectType"
                    placeholder="Loại đối tượng"
                  >
                    <el-option
                      v-for="tmpType in objectTypeLst"
                      :key="tmpType.id"
                      :label="tmpType.name"
                      :value="tmpType.name"
                    >
                    </el-option>
                  </el-select>
                </el-form-item>
              </div>
            </div>

            <el-form-item label="Lý do" prop="reason" v-if="trackInfo.objectType == 'Danh sách đen'">
              <el-select
                v-model="trackInfo.reason"
                placeholder="Lý do"
                filterable
                allow-create
                style="width: 100%"
              >
                <el-option
                  v-for="tmpType in reasonLst"
                  :key="tmpType.id"
                  :label="tmpType.value"
                  :value="tmpType.value"
                >
                </el-option>
              </el-select>
            </el-form-item>
          </div>
          <div class="item-right">
            <el-form-item>
              <div class="vehicle" label="Vehicle image" prop="image">
                <img
                  class="image"
                  v-if="url&&doesFileExist(url)"
                  :src="url"
                  @error=replaceImageFail
                  @click="handleClick"
                />
                <img
                  class="image"
                  v-else
                  :src="vehicle_default"
                  :alt="vehicle_default"
                  @click="handleClick"
                />
                <img class="image" @click="handleClick" v-else />
                <div class="img_icon">
                  <input
                    v-if="uploadReady"
                    type="file"
                    ref="file"
                    hidden
                    @change="fileSelected"
                  />
                  <div class="avatar-uploader">
                    <i class="fal fa-pencil" @click="handleClick"> </i>
                    <span class="change-image" @click="handleClick"
                      >Tải ảnh</span
                    >
                  </div>
                </div>
              </div>
               <div v-if="trackInfo.objectType == 'Danh sách đen'">
                <el-form-item
                  label="Đội CSGT/Người nhận cảnh báo"
                  prop="multipleReceiver"
                >
                  <el-select
                    v-model="trackInfo.multipleReceiver"
                    placeholder="Lựa chọn"
                    class="group-reserver"
                    multiple
                    collapse-tags
                    filterable
                    style="width: 100%"
                  >
                    <el-option-group
                      v-for="group in options"
                      :key="group.label"
                      :label="group.label"
                    >
                      <el-option
                        v-for="item in group.options"
                        :key="item.id"
                        :label="genReceiverLabel(group, item)"
                        :value="genReceiverValue(item)"
                      >
                      </el-option>
                    </el-option-group>
                  </el-select>
                </el-form-item>
              </div>
            </el-form-item>
          </div>
        </div>
        <div class="block-item">
          <el-form-item label="Ghi chú" prop="description">
            <el-input
              maxlength="500"
              type="textarea"
              v-model="trackInfo.description"
            ></el-input>
          </el-form-item>
        </div>
      </el-form>

      <div slot="footer" class="dialog-footer">
        <el-button type="danger" @click="dialogAdd = false">Thoát</el-button>
        <el-button type="primary" @click="addTrack()" :loading="loading_add"
          >Lưu</el-button
        >
      </div>
    </el-dialog>

    <!-- Edit Dialog -->
    <el-dialog
      title="Sửa đối tượng theo dõi"
      :visible.sync="dialogEdit"
      width="700px"
      :close-on-click-modal="false"
    >
      <el-form
        :model="trackInfo"
        :rules="rules"
        ref="editForm"
        label-position="top"
        label-width="100%"
      >
        <div class="block-item">
          <div class="item-left">
            <el-form-item label="Biển kiểm soát" prop="plate">
              <el-input maxlength="255" v-model="trackInfo.plate"></el-input>
            </el-form-item>

            <el-form-item label="Nhãn hiệu" prop="model">
              <el-input maxlength="255" v-model="trackInfo.model"></el-input>
            </el-form-item>

            <div class="block-item">
              <div class="item-left">
                <el-form-item label="Loại phương tiện" prop="vehicleType">
                  <el-select
                    v-model="trackInfo.vehicleType"
                    placeholder="Loại phương tiện"
                  >
                    <el-option
                      v-for="tmpType in vehicleTypeLst"
                      :key="tmpType.id"
                      :label="tmpType.name"
                      :value="tmpType.code"
                    >
                    </el-option>
                  </el-select>
                </el-form-item>
              </div>
              <div class="item-right">
                <el-form-item label="Loại đối tượng" prop="objectType">
                  <el-select
                    v-model="trackInfo.objectType"
                    placeholder="Loại đối tượng"
                  >
                    <el-option
                      v-for="tmpType in objectTypeLst"
                      :key="tmpType.id"
                      :label="tmpType.name"
                      :value="tmpType.name"
                    >
                    </el-option>
                  </el-select>
                </el-form-item>
              </div>
            </div>

            <el-form-item label="Lý do" prop="reason" v-if="trackInfo.objectType == 'Danh sách đen'">
              <el-select
                v-model="trackInfo.reason"
                placeholder="Lý do"
                filterable
                allow-create
                style="width: 100%"
              >
                <el-option
                  v-for="tmpType in reasonLst"
                  :key="tmpType.id"
                  :label="tmpType.value"
                  :value="tmpType.value"
                >
                </el-option>
              </el-select>
            </el-form-item>
          </div>
          <div class="item-right">
            <el-form-item>
              <div class="vehicle" label="Vehicle image" prop="image">
                <img
                  class="image"
                  v-if="url&&doesFileExist(url)"
                  :src="url"
                  @error=replaceImageFail
                  @click="handleClick"
                />
                <img
                  class="image"
                  v-else
                  :src="vehicle_default"
                  :alt="vehicle_default"
                  @click="handleClick"
                />
                <img class="image" @click="handleClick" v-else />
                <div class="img_icon">
                  <input
                    v-if="uploadReady"
                    type="file"
                    ref="file"
                    hidden
                    @change="fileSelected"
                  />
                  <div class="avatar-uploader">
                    <i class="fal fa-pencil" @click="handleClick"> </i>
                    <span class="change-image" @click="handleClick"
                      >Thay đổi ảnh</span
                    >
                  </div>
                </div>
              </div>
            </el-form-item>

            <div class="block-item" v-if="trackInfo.objectType == 'Danh sách đen'">
                <el-form-item
                  label="Đội CSGT/Người nhận cảnh báo
                "
                  prop="multipleReceiver"
                >
                  <el-select
                    v-model="trackInfo.multipleReceiver"
                    placeholder="Lựa chọn"
                    class="group-reserver"
                    multiple
                    collapse-tags
                    filterable
                    style="width: 100%"
                  >
                    <el-option-group
                      v-for="group in options"
                      :key="group.label"
                      :label="group.label"
                    >
                      <el-option
                        v-for="item in group.options"
                        :key="item.id"
                        :label="genReceiverLabel(group, item)"
                        :value="genReceiverValue(item)"
                      >
                      </el-option>
                    </el-option-group>
                  </el-select>
                </el-form-item>
             </div>
          </div>
        </div>
        <div class="block-item">
          <el-form-item label="Ghi chú" prop="description">
            <el-input
              maxlength="500"
              type="textarea"
              v-model="trackInfo.description"
            ></el-input>
          </el-form-item>
        </div>
      </el-form>

      <div slot="footer" class="dialog-footer">
        <el-button type="danger" @click="dialogEdit = false">Thoát</el-button>
        <el-button type="primary" @click="editTrack()" :loading="loading_edit"
          >Cập nhật</el-button
        >
      </div>
    </el-dialog>

    <!-- Crop image -->
    <image-cropper
      v-show="imagecropperShow"
      title="Cập nhật ảnh phương tiện"
      :file="file"
      :key="imagecropperKey"
      :width="vehicleImageWidth"
      :height="vehicleImageHeight"
      field="file"
      url="upload/vehicle/image"
      lang-type="vi"
      @close="imagecropperShow = false"
      @crop-upload-success="cropSuccess"
    />
  </div>
</template>

<script>
import Pagination from "@/components/Pagination_custom";
import waves from "@/directive/waves"; // Waves directive
import Resource from "@/api/resource";
import vehicle_default from "@/assets/images/vehicle_default.png";
import ImageCropper from "@/components/UploadCommon/index";
import SearchDetail from "@/components/Search/search-detail-vehicle";
import { getVehicle } from "@/api/vehicle-track-resource";
import MapVehicleRoute from "@/components/MapVehicleRoute";
import { ImageMagnifier } from "vue-image-magnifier";
import moment from "moment";
import { validPlate } from "@/utils/validate";

const recognitionSearchResource = new Resource("management/search/recognition");
const recognitionSearchStatisticResource = new Resource(
  "management/search/recognition/statistic"
);
const vehicleTrackResource = new Resource("systemconfig/vehicle-track");
const categoryResource = new Resource("systemconfig/vehicle-track/category");
const userReceiverResource = new Resource("user/user-groupsUuid");
const groupReceiverResource = new Resource("systemconfig/vehicle-track/group");

export default {
  components: {
    Pagination,
    ImageMagnifier,
    ImageCropper,
    SearchDetail,
    MapVehicleRoute,
  },
  directives: { waves },
  data() {
    const validatePlate = (rule, value, callback) => {
      if (!validPlate(value)) {
        callback(new Error("Vui lòng nhập đúng định dạng biển số"));
      } else {
        callback();
      }
    };
    return {
      file: {
        data: null,
      },
      layout: "first, prev, pager, next, last",
      url: null,
      imagecropperShow: false,
      dialogDetail: false,
      imagecropperKey: 0,
      vehicleTrack: null,
      recognitionDetail: null,
      uploadReady: true,
      vehicleImageHeight: 368,
      vehicleImageWidth: 484,
      actionUploadImage: "",
      flag_active: null,
      isClickDetail: false,
      showMap: false,
      avatar: null,
      loading: true,
      loading_track: false,
      loading_add: false,
      loading_edit: false,
      loading_delete: false,
      loading_add_disable: false,
      loading_edit_disable: false,
      loading_delete_disable: false,
      loading_delete_all: false,
      vehicle_default: vehicle_default,
      dialogAdd: false,
      dialogEdit: false,
      urlImage: process.env.VUE_APP_URL_IMAGE,
      vehicleTrackList: [],
      trackDetail: {},
      vehicleRouteList: null,
      vehicleRouteStatisticList: [],
      vehicleTypeLst: [],
      objectTypeLst: [],
      reasonLst: [
        { id: 1, value: "Xe trong diện theo dõi" },
        { id: 2, value: "Xe quá hạn đăng kiểm" },
        { id: 3, value: "Xe gây tai nạn" },
        { id: 4, value: "Xe không chấp hành luật giao thông" },
        { id: 5, value: "Xe mất trộm" },
      ],
      alertChannelLst: [
        { id: 1, value: "Zalo" },
        { id: 2, value: "SMS" },
        { id: 3, value: "Email" },
      ],
      total: 0,
      searchKeyword: null,
      multipleSelection: [],
      trackInfo: {
        id: "",
        plate: "",
        model: "",
        vehicleType: "",
        vehicleImages: "",
        objectType: "",
        reason: "",
        // alertChannel: "",
        alertReceiver: "",
        description: "",
        multipleReceiver: null,
      },
      query: {
        page: 1,
        size: 15,
        keyword: this.searchKeyword,
      },
      rules: {
        plate: [
          {
            required: true,
            message: "Biển kiểm soát là bắt buộc",
            trigger: "blur",
          },
          { max: 255, message: "Tối đa 255 ký tự", trigger: "blur" },
          { validator: validatePlate, trigger: "blur" },
        ],
        description: [
          { max: 500, message: "Tối đa 500 ký tự", trigger: "blur" },
        ],
        model: [{ max: 255, message: "Tối đa 255 ký tự", trigger: "blur" }],
        // alertChannel: [
        //   {
        //     required: true,
        //     message: "Thiết lập cảnh báo là bắt buộc",
        //     trigger: "blur",
        //   },
        // ],
        // multipleReceiver: [
        //   {
        //     required: true,
        //     message: "Đội CSGT/Người nhận cảnh báo là bắt buộc",
        //     trigger: "blur",
        //   },
        // ],
      },
      options: [
        {
          label: "Đội CSGT",
          options: [],
        },
        {
          label: "Người",
          options: [],
        },
      ],
      multipleReceiver: null,
      canRead: false,
      canCreate: false,
      canUpdate: false,
      canDelete: false,
    };
  },
  computed: {
    showComponentAction: function () {
      let componentAction = "";
      if (this.showMap) {
        componentAction = MapVehicleRoute;
      }
      return componentAction;
    },
    changeDialogWidth() {
      const state = this.$store.state;
      if (
        state &&
        state.app &&
        state.app.sidebar &&
        state.app.sidebar.opened &&
        state.app.sidebar.opened === true
      ) {
        return {
          "--dialog-width": "calc(100% - 267px)",
          "--dialog-left": "267px",
        };
      } else {
        return {
          "--dialog-width": "calc(100% - 54px)",
          "--dialog-left": "54px",
        };
      }
    },
  },
  created() {
    this.urlImage = process.env.VUE_APP_URL_IMAGE;
    if (this.$route.query.plate) {
      // điều hướng từ click notify
      this.getRedirect(this.$route.query.plate);
    }
    this.canRead = this.$root.checkRole(this.$route.fullPath, "canRead");
    this.canCreate = this.$root.checkRole(this.$route.fullPath, "canCreate");
    this.canUpdate = this.$root.checkRole(this.$route.fullPath, "canUpdate");
    this.canDelete = this.$root.checkRole(this.$route.fullPath, "canDelete");
    this.query.size = this.$root.detectSizeInPageNoImage();
    this.init();
  },

  methods: {
    async init() {
      await this.getList();
      await this.getVehicleTypeList();
      await this.getCollectionList();
      await this.getUserGroupReceiverList();
    },
    replaceImageFail(e) {
      e.target.src = this.vehicle_default;
    },
    isJson(str) {
      try {
        JSON.parse(str);
      } catch (e) {
        return false;
      }
      return true;
    },
    async doesFileExist(urlToFile){
       var img = new Image()
       img.src = urlToFile
       return img.height != 0
    },
    async getUserGroupReceiverList() {
      //User
      let userReceiverList;
      //Group
      let groupReceiverList;
      let groupReceiverResult = await groupReceiverResource.list();
      if (groupReceiverResult && groupReceiverResult.data) {
        groupReceiverList = groupReceiverResult.data;
      }
      let queryCustom = {
        systemType: "0",
        groupUuid: ""
      };
      if (groupReceiverList.length == 1) {
        groupReceiverList.forEach(e => {
          queryCustom.groupUuid = e.id;
        })
      }
      let userReceiverResult = await userReceiverResource.list(queryCustom);
      if (userReceiverResult && userReceiverResult.data) {
        userReceiverList = userReceiverResult.data;
      }
      //Option
      this.options = [
        {
          label: "Đội CSGT",
          options: groupReceiverList,
        },
        {
          label: "Người",
          options: userReceiverList,
        },
      ];
    },
    async getVehicleTypeList() {
      let queryCustom = {
        catType: "VEHICLE",
      };
      let result = await categoryResource.list(queryCustom);
      if (result && result.data) {
        this.vehicleTypeLst = result.data;
      }
    },
    getDateString() {
      let today = new Date();
      let dd = String(today.getDate()).padStart(2, "0");
      let mm = String(today.getMonth() + 1).padStart(2, "0"); //January is 0!
      let yyyy = today.getFullYear();
      today = yyyy + "-" + mm + "-" + dd;
      return today;
    },
    async getCollectionList() {
      let queryCustom = {
        catType: "COLLECTION",
      };
      let result = await categoryResource.list(queryCustom);
      if (result && result.data) {
        this.objectTypeLst = result.data;
      }
    },
    async getList() {
      this.loading = true;
      if(this.searchKeyword) {
        this.searchKeyword = this.searchKeyword.trim()
      }
      let queryCustom = {
        currentPage: this.query.page,
        rowsPerPage: this.query.size,
        keyword: this.searchKeyword ? this.searchKeyword.trim() : "",
      };
      const { data, total } = await vehicleTrackResource.list(queryCustom);
      if (data) {
        this.vehicleTrackList = data;
      } else {
        this.vehicleTrackList = [];
      }
      if (total) {
        this.total = total;
      } else {
        this.total = 0;
      }

      this.loading = false;
    },

    closeDelete() {
      this.multipleSelection = [];
    },
    async handleDetail(row) {
      if (row) {
        this.recognitionDetail = row;
        this.recognitionDetail["imageUrl"] = row.vehicleImages;
        this.dialogDetail = true;
        this.vehicleRouteList = [];
        this.vehicleRouteStatisticList = [];
        this.detectHeight();
        let queryCustom = {
          currentPage: 0,
          rowsPerPage: 1000,
          plate: this.recognitionDetail.plate,
          startDate: moment().startOf("year").format("YYYY-MM-DD HH:mm:ss"),
          endDate: this.getDateString() + " 23:59:59",
          exact: true,
          districtId: "",
        };
        let vehicleTraceResult = await getVehicle(this.recognitionDetail.plate);
        if (vehicleTraceResult && vehicleTraceResult.data) {
          this.vehicleTrack = vehicleTraceResult.data;
        }
        let result = await recognitionSearchResource.list(queryCustom);
        if (result && result.data) {
          this.vehicleRouteList = result.data;
        }
        let statisticResult = await recognitionSearchStatisticResource.list(
          queryCustom
        );
        if (statisticResult && statisticResult.data) {
          this.vehicleRouteStatisticList = statisticResult.data;
        }
        // show component
        this.isClickDetail = true;
        setTimeout(() => {
          this.showMap = true;
          this.showComponentAction;
        }, 600);
      }
    },
    closeDetailTravel () {
      this.isClickDetail = false
      this.showMap = false
    },
    detectHeight() {
      // let x = document.getElementsByClassName("detail-info-left-top")
      setTimeout(function () {
        let x = document.getElementById("detail-info-left-top")
        let table = document.getElementById("route-table")
        let table1 = table.getElementsByClassName("el-table__body-wrapper")[0]
        let height = x.clientHeight
        height = height + 195
        let h = "calc(100vh - " + height + "px)"
        table1.style.maxHeight = h
      }, 700)
    },
    async getRedirect(plate) {
      let vehicleTraceResult = await getVehicle(plate);
      if (vehicleTraceResult && vehicleTraceResult.data) {
        this.vehicleTrack = vehicleTraceResult.data;
      }
      this.recognitionDetail = this.vehicleTrack;
      this.trackDetail = _.cloneDeep(this.vehicleTrack);
      console.log(this.trackDetail)
      this.recognitionDetail["imageUrl"] = this.vehicleTrack.vehicleImages;
      this.dialogDetail = true;
      this.vehicleRouteList = [];
      this.vehicleRouteStatisticList = [];
      let queryCustom = {
        currentPage: 0,
        rowsPerPage: 1000,
        plate: plate,
        startDate: moment().startOf("year").format("YYYY-MM-DD HH:mm:ss"),
        endDate: this.getDateString() + " 23:59:59",
        exact: true,
        districtId: "",
      };
      let result = await recognitionSearchResource.list(queryCustom);
      if (result && result.data) {
        this.vehicleRouteList = result.data;
        this.detectHeight();
      }
      let statisticResult = await recognitionSearchStatisticResource.list(
        queryCustom
      );
      if (statisticResult && statisticResult.data) {
        this.vehicleRouteStatisticList = statisticResult.data;
      }

      // show component
      this.isClickDetail = true;
      this.showComponentAction;
    },
    async rowClicked(row) {
      this.flag_active = row.id;
      const { data } = await vehicleTrackResource.get(row.id);
      if (data) {
        this.trackDetail = data;
        console.log(this.trackDetail.vehicleImages)
        if (this.trackDetail) {
          document.getElementById("track-table").style.width =
            "calc(100% - 525px)";
          setTimeout(function () {
            document.getElementById("detail-track").style.display = "block";
            document.getElementById("detail-track").style.width = "500px";
          }, 500);
        }
      } else {
        this.$message({
          message: "Phương tiện theo dõi không tồn tại",
          type: "error",
        });
        this.handleFilter();
      }
    },
    getNamesVehicleType(type) {
      for (var i = 0; i < this.vehicleTypeLst.length; i++) {
        //console.log(this.vehicleTypeLst[i].name + "=" + type);
        if (this.vehicleTypeLst[i].code === type)
          return this.vehicleTypeLst[i].name;
      }
      return;
    },
    closeDetail() {
      document.getElementById("detail-track").style.display = "none";
      document.getElementById("detail-track").style.width = "0";
      document.getElementById("track-table").style.width = "calc(100%)";
    },

    destroy(track) {
      this.$confirm(
        "Bạn có chắc chắn muốn xóa theo dõi phương tiện có biển sổ " +
          track.plate +
          " này không?",
        "",
        {
          confirmButtonText: "Xác nhận",
          cancelButtonText: "Thoát",
          type: "warning",
        }
      )
        .then(() => {
          this.loading_delete = true;
          vehicleTrackResource
            .destroy(track.id)
            .then((response) => {
              this.loading_delete = false;
              this.loading_track = false;
              this.trackDetail = {};
              this.closeDetail();
              this.getList();
              if (response.status == 200) {
                this.$message({
                  type: "success",
                  message: "Xóa đối tượng theo dõi thành công",
                });
              }
            })
            .catch((err) => {
              this.loading_delete = false;
              console.log(err);
              this.$message({
                type: "error",
                message: "Có lỗi xảy ra vui lòng thử lại sau!",
              });
            });
        })
        .catch(() => {});
    },

    destroyMulti() {
      this.$confirm("Bạn có chắc chắn muốn xóa lựa chọn này không?", "", {
        confirmButtonText: "Xác nhận",
        cancelButtonText: "Thoát",
        type: "warning",
      })
        .then(() => {
          this.loading_delete_all = true;
          let params = this.multipleSelection.map(function (val) {
            return val.id;
          });
          params = {
            uuids: params,
          };
          vehicleTrackResource
            .destroyMulti(params)
            .then((response) => {
              this.loading_delete_all = false;
              if (response.status == 200) {
                this.multipleSelection = [];
                this.closeDetail();
                this.getList();
                this.$message({
                  type: "success",
                  message: "Xóa đối tượng theo dõi thành công",
                });
              }
            })
            .catch(() => {
              this.loading_delete_all = false;
              this.$message({
                type: "error",
                message: "Có lỗi xảy ra vui lòng thử lại sau!",
              });
            });
        })
        .catch(() => {});
    },
    async filterDetailVehicle(data) {
      let queryCustom = data;
      queryCustom.currentPage = 0;
      queryCustom.rowsPerPage = 10000;
      queryCustom.exact = true;
      queryCustom.plate = this.recognitionDetail.plate;
      if (data.startDate) {
        queryCustom.startDate = data.startDate;
      } else {
        queryCustom.startDate = this.getDateString() + " 00:00:00";
      }
      if (data.endDate) {
        queryCustom.endDate = data.endDate;
      } else {
        queryCustom.endDate = this.getDateString() + " 23:59:59";
      }
      if (data.districtId) {
        queryCustom.districtId = data.districtId;
      } else {
        queryCustom.districtId = "";
      }
      if (data.wardId) {
        queryCustom.wardId = data.wardId;
      } else {
        queryCustom.wardId = "";
      }
      let result = await recognitionSearchResource.list(queryCustom);
      if (result && result.data) {
        this.vehicleRouteList = result.data;
      } else {
        this.vehicleRouteList = [];
      }

      let statisticResult = await recognitionSearchStatisticResource.list(
        queryCustom
      );
      // console.log(statisticResult)
      if (statisticResult && statisticResult.data) {
        this.vehicleRouteStatisticList = statisticResult.data;
      } else {
        this.vehicleRouteStatisticList = [];
      }
    },
    handleFilter() {
      this.query.page = 1;
      this.getList();
    },
    // changeDialogWidth() {
    //   const state = this.$store.state;
    //   if (
    //     state &&
    //     state.app &&
    //     state.app.sidebar &&
    //     state.app.sidebar.opened &&
    //     state.app.sidebar.opened === true
    //   ) {
    //     return {
    //       "--dialog-width": "calc(100% - 267px)",
    //       "--dialog-left": "267px",
    //     };
    //   } else {
    //     return {
    //       "--dialog-width": "calc(100% - 54px)",
    //       "--dialog-left": "54px",
    //     };
    //   }
    // },
    handleCreate() {
      this.resetDialog();
      this.dialogAdd = true;
    },

    handleEdit(data) {
      // this.trackInfo = _.cloneDeep(data);
      this.trackInfo = {
        id: data.id,
        plate: data.plate,
        model: data.model,
        vehicleType: data.vehicleType,
        vehicleImages: data.vehicleImages,
        objectType: data.objectType,
        reason: data.reason,
        alertChannel: data.alertChannel,
        alertReceiver: this.$store.state.user.id,
        description: data.description,
        multipleReceiver: null,
      }
      // console.log(data);
      this.url = data.vehicleImages
      let dataArray = [];
      if (data.alertReceiver) {
        if (this.isJson(data.alertReceiver)) {
          dataArray = JSON.parse(data.alertReceiver);
        }
        this.trackInfo.multipleReceiver = []
        for (var i = 0; i < dataArray.length; i++) {
          let data = dataArray[i]
          if(data){
            this.trackInfo.multipleReceiver.push(JSON.stringify(data))
          }
        }
      }

      // console.log('this.trackInfo.multipleReceiver: ' + this.trackInfo.multipleReceiver);
      this.dialogEdit = true;
      this.$nextTick(() => {
        this.$refs["editForm"].clearValidate();
      });
    },
    handleRouteDetail(row) {
      if (row) {
        this.recognitionDetail = Object.assign({}, row);
        const temp = this.urlImage + this.recognitionDetail.imageUrl;
        this.recognitionDetail["imageUrl"] = temp;
        this.dialogDetail = true;
        // this.detectHeight();
      }
    },
    addTrack() {
      this.$refs.addForm.validate((valid) => {
        if (valid) {
          const paramCreateTrack = this.trackInfo;
          paramCreateTrack.vehicleImages = this.url;
          //console.log(this.multipleReceiver);
          if (this.trackInfo.objectType == 'Danh sách đen') {
            paramCreateTrack.alertReceiver =
              "[" + this.trackInfo.multipleReceiver + "]";
            paramCreateTrack.multipleReceiver = undefined;
          } else {
            paramCreateTrack.alertReceiver = null;
            paramCreateTrack.multipleReceiver = null;
          }

          this.loading_add = true;
          vehicleTrackResource
            .store(paramCreateTrack)
            .then((response) => {
              if (response.status === 200 || response.status === 201) {
                this.loading_add = false;
                this.handleFilter();
                this.resetDialog();
                this.$message({
                  type: "success",
                  message: "Thêm mới thành công",
                });
                this.dialogAdd = false;
              }
            })
            .catch(() => {
              this.loading_add = false;
            });
        } else {
          return false;
        }
      });
    },

    editTrack() {
      this.$refs.editForm.validate((valid) => {
        if (valid) {
          this.loading_edit = true;
          this.loading_delete_disable = true;
          const paramUpdateTrack = _.cloneDeep(this.trackInfo);
          paramUpdateTrack.vehicleImages = this.url;
          //console.log(JSON.stringify(this.multipleReceiver));
          if (this.trackInfo.objectType == 'Danh sách đen') {
            paramUpdateTrack.alertReceiver =
              "[" + this.trackInfo.multipleReceiver + "]";
            paramUpdateTrack.multipleReceiver = undefined;
          } else {
            paramUpdateTrack.alertReceiver = null;
            paramUpdateTrack.multipleReceiver = null;
          }
          vehicleTrackResource
            .update(this.trackInfo.id, paramUpdateTrack)
            .then((response) => {
              if (response.status === 200 || response.status === 201) {
                this.loading_edit = false;
                this.loading_delete_disable = false;
                this.dialogEdit = false;
                this.trackDetail = response.data;
                this.handleFilter();
                this.$message({
                  type: "success",
                  message: "Cập nhật thành công",
                });
              } else {
                this.loading_edit = false;
                this.loading_delete_disable = false;
                this.dialogEdit = false;
                this.$message({
                  type: "success",
                  message: "Cập nhật thành công",
                });
              }
            })
            .catch(() => {
              this.loading_edit = false;
              this.loading_delete_disable = false;
            });
        } else {
          return false;
        }
      });
    },

    resetDialog() {
      this.url = null;
      this.trackInfo = {
        id: "",
        plate: "",
        model: "",
        vehicleType: "",
        vehicleImages: "",
        objectType: "",
        reason: "",
        alertChannel: "",
        alertReceiver: "",
        alertReceiver: this.$store.state.user.id,
        description: "",
      };
      this.multipleReceiver = null;
    },

    closeDialog(formName) {
      if (this.$refs[formName]) {
        this.$refs[formName].clearValidate();
        this.$refs[formName].resetFields();
      }
    },
    closeDialogDetail() {
      this.dialogDetail = false;
      this.isClickDetail = false;
    },
    toggleSelection(rows) {
      if (rows) {
        rows.forEach((row) => {
          this.$refs.multipleTable.toggleRowSelection(row);
        });
      } else {
        this.$refs.multipleTable.clearSelection();
      }
    },
    handleSelectionChange(val) {
      this.multipleSelection = val;
    },
    fileSelected(e) {
      const file = e.target.files[0];
      if (file) {
        this.checkFile(file)
          .then(() => {
            const fr = new FileReader();
            this.file.data = file;
            this.imagecropperShow = true;
            this.resetUploadFile();
          })
          .catch((err) => {
            this.$message({
              message: err,
              type: "error",
              duration: 5 * 1000,
              showClose: true,
            });
          });
      }
    },
    checkFile(file) {
      return new Promise((resolve, reject) => {
        const self = this;
        if (file.type.indexOf("image") === -1) {
          return reject("Định dạng không cho phép");
        }
        if (file.size > 5242880) {
          return reject("Vượt quá dung lượng cho phép tối đa 5Mb");
        }
        const reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = function (e) {
          const image = new Image();
          image.src = e.target.result;
          image.onload = function () {
            const height = this.height;
            const width = this.width;
            if (
              height < self.vehicleImageHeight ||
              width < self.vehicleImageWidth
            ) {
              return reject(
                "Kích thước hình ảnh quá nhỏ. Tối thiểu là: " +
                  self.vehicleImageWidth +
                  "*" +
                  self.vehicleImageHeight
              );
            }
            return resolve();
          };
        };
      });
    },
    getHumanDate: function (date) {
      return moment(date).format("HH:mm:ss - DD/MM/YYYY");
    },
    closeChangeAvatar() {},
    cropSuccess(data) {
      if (data.data[0].fileDownloadUri) this.url = data.data[0].fileDownloadUri;
    },
    resetUploadFile() {
      this.uploadReady = false;
      this.$nextTick(() => {
        this.uploadReady = true;
      });
    },
    handleClick(e) {
      if (e.target !== this.$refs.file) {
        e.preventDefault();
        if (document.activeElement !== this.$refs) {
          this.$refs.file.click();
        }
      }
    },
    genReceiverLabel(group, item) {
      if (group.label === "Đội CSGT") {
        return item.name + " (" + item.code + ")";
      } else {
        return item.name + " (" + item.email + ")";
      }
    },
    genReceiverValue(item) {
      return JSON.stringify(item);
    },
    tableRowClassName(row) {
      if (row.row.id == this.flag_active) {
        return "active-row";
      }
      return "";
    },
  },
};
</script>

<style lang="scss" scoped>
</style>

<style lang="scss">
#track-table.hide,
#detail-track.hide{
  display: none !important;
}
.travel-detail.hide {
  position: absolute;
  top: 0;
  left: 100vw;
  right: -100vw;
  transition: all 0.5s ease-in-out;
  .map-box .box-card {
    position: relative;
    height: 1000px;
  }
}
.travel-detail {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  z-index: 1000;
  transition: all 0.5s ease-in-out;
  .header {
    position: relative;
    text-align: center;
    height: 40px;
    background: #0366cc;
    color: white;
    font-size: 18px;
    font-weight: 500;
    line-height: 40px;
    .el-icon-close {
      cursor: pointer;
      font-size: 22px;
      position: absolute;
      right: 10px;
      top: 9px;
    }
  }
  .body {
    padding: 25px;
    .item-left, .item-right {
      float: none;
    }
    .item-right {
      margin-left: 1%;
    }
    .block-item {
      float: none;
      display: flex;
    }
    .map-box .box-card {
      position: relative;
      min-height: calc(100vh - 140px);
      height: 100%;
      #mapRoute {
        position: absolute;
        top: 15px;
        bottom: 15px;
        left: 15px;
        right: 15px;
      }
    }
    .table-list-history {
      span.search {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 10px;
        display: inline-block;
        color: black;
        margin-left: 6px;
      }
    }
    .el-card__body {
      padding: 15px !important;
      display: flex;
      width: 100%;
    }
    .table-list-history {
      float: left;
      width: 100%;
    }
    .el-table__body-wrapper::-webkit-scrollbar-track {
      /*-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);*/
      border-radius: 0;
      background-color: #F5F5F5;
    }
    .el-table__body-wrapper::-webkit-scrollbar {
      width: 8px;
      height: 8px;
      background-color: #F5F5F5;
      border-radius: 17px;
    }
    .el-table__body-wrapper::-webkit-scrollbar-thumb {
      border-radius: 17px;
      /*-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.3);*/
      background-color: #3333;
    }
    .item-left {
      .item {
        width: 100%;
        float: left;
        padding-right: 10px;
        margin-bottom: 20px;
        .image {
          float: left;
          margin-right: 15px;
          width: 40px;
          text-align: center;
        }
        .content {
          float: left;
          width: calc(100% - 55px);
          .title {
            font-size: 14px;
            font-weight: 500;
          }
          .descript {
            font-size: 14px;
            color: #363030;
            margin-top: 5px;
          }
        }
      }

    }
  }
}
.el-select-group__title {
  font-weight: 700;
  color: #363030;
}
.track-page {
  float: left;
  width: 100%;
  .group-reserver .el-select__tags span span span {
    max-width: 180px;
    overflow: hidden;
    display: inline-block;
    float: left;
    text-overflow: ellipsis;
  }
  .item-right{
    .el-form-item {
      margin-bottom: 0px;
    }
    .vehicle {
      text-align: center;
      padding-top: 36px;
      /*height: 327px;*/
      img {
        border-radius: 0;
        max-width: 100%;
        width: initial;
        max-height: 165px;
      }
    }
  }
  .el-form-item {
    margin-bottom: 33px;
  }
  .el-input input {
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    border: solid 1px #9999;
  }
  .el-icon-camera-solid {
    font-size: 25px;
    color: #9a9a9a;
    position: relative;
    top: -50px;
    left: 54px;
    background: #dfdfdf;
    border-radius: 50%;
    padding: 8px;
    border: 1px solid white;
  }
  .change-image {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: #1f7ff5;
    position: relative;
    padding: 8px;
    cursor: pointer;
  }
  .img_avatar {
    text-align: center;
    padding-top: 25px;
    img {
      border-radius: 50%;
    }
  }
  .vehicle {
    text-align: center;
    padding-top: 36px;
    img {
      border-radius: 0;
      max-width: 100%;
      width: 100%;
    }
  }
  .el-dialog {
    margin-top: 25px !important;
  }
  .item-left {
    width: 49%;
    float: left;
    /*margin-right: 1%;*/
    margin-right: 0;
  }
  .item-right {
    width: 48%;
    float: left;
    margin-left: 3%;
  }
  .block-item {
    width: 100%;
    float: left;
  }
  .el-dialog__header {
    padding: 0;
    background: #006fe3;
    height: 40px;
    line-height: 40px;
    text-align: center;
    .el-dialog__title {
      color: white;
    }
    .el-icon-close {
      color: white;
      font-size: 22px;
      top: -10px;
      position: relative;
    }
  }
  .el-dialog__body {
    padding: 15px;
    float: left;
    width: 100%;
    /*height: calc(100vh - 40px);*/
    .el-form-item__label {
      padding-bottom: 0;
      font-size: 14px;
      color: #363030;
      font-weight: 500;
    }
  }
  .el-dialog__footer {
    clear: both;
    padding-bottom: 25px;
    .el-button--primary {
      background: #1f7ff5;
      height: 40px;
      border-radius: 5px;
      width: 147px;
      text-transform: uppercase;
      font-weight: bold;
      border-color: #1f7ff5;
    }
    .el-button--danger {
      background: #9e9e9e;
      height: 40px;
      border-radius: 5px;
      width: 147px;
      text-transform: uppercase;
      font-weight: bold;
      border-color: #9e9e9e;
      float: left;
    }
  }
  .el-card__body {
    padding: 15px !important;
    float: left;
    width: 100%;
  }
  #select-all-delete {
    height: 63px;
    line-height: 63px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ff4646;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    .el-icon-close {
      font-size: 25px;
      margin-left: 20px;
      margin-right: 35px;
      position: relative;
      top: 4px;
      cursor: pointer;
    }
    button {
      background: #e00000;
      border: initial;
      border-radius: 5px;
      float: right;
      display: inline-block;
      margin-top: 15px;
      margin-right: 15px;
    }
  }

  .action {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    button {
      width: 125px !important;
    }
    .el-button--primary {
      background: #64789a;
      border: initial;
      border-radius: 4px;
      height: 40px;
    }
    .el-button--success {
      background: #ff6161;
      border: initial;
      border-radius: 4px;
      height: 40px;
    }
  }
  #detail-track {
    position: relative;
    /* transition: width 1s;
      -moz-transition: width 1s;
      -webkit-transition: width 1s;
      -o-transition: width 1s;*/
    width: 0;
    background: white;
    padding: 25px;
    float: left;
    margin-left: 25px;
    display: none;
    overflow: hidden;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    .avatar {
      text-align: center;
      margin-bottom: 25px;
      margin-top: 25px;
      img {
        border-radius: 50%;
      }
    }
    .item-label {
      color: #363030;
      font-weight: bold;
      font-size: 14px;
      margin-bottom: 10px;
    }
    .item-text {
      color: black;
      font-size: 16px;
      margin-bottom: 20px;
      opacity: 0.6;
    }
    .el-icon-close {
      background: #e3e3e3;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      text-align: center;
      line-height: 30px;
      color: #878787;
      font-size: 16px;
      position: absolute;
      right: 10px;
      top: 10px;
      cursor: pointer;
    }
  }
  .el-table th > .cell {
    text-align: left;
  }
  .el-table tr > th:first-child .cell {
    text-align: center;
  }
  .el-table th {
    color: black;
    font-size: 14px;
  }
  .el-table td {
    color: black;
    font-size: 14px;
  }
  .el-table tr td:first-child {
    text-align: center;
  }
  .el-table td:first-child .cell {
    display: inline-block;
  }
  .filter-container {
    padding-bottom: 20px;
    float: left;
    width: 100%;
  }
  tbody {
    tr {
      cursor: pointer;
    }
    td {
      padding: 10px 0 !important;
      .full-image {
        --widthDia: calc(100% - 267px);
        left: 15px !important;
        top: 100px !important;
        width: calc(var(--widthDia) * 58 / 100) !important;
      }
    }
  }
  .image-box {
    display: flex;
    flex-direction: column;
    margin-right: 0 !important;
    .table-list-history {
      min-height: calc(100vh - 411px);
      h5 {
        color: #333;
        font-size: 14px;
        margin-bottom: 10px;
        margin-top: 0;
      }
      margin-top: 20px;
      padding: 10px 10px;
      border: 1px solid #ebeef5;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
    }
  }
  .map-right {
    margin-left: 15px;
  }
  .infor-vehicle-image {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
    padding: 15px 10px 5px 15px;
    margin-top: 20px;
    border: 1px solid #ebeef5;
  }
  .list-site-go .item span {
    color: #1f7ff5;
    display: inline-block;
    border: 1px solid #1f7ff5;
    width: 27px;
    height: 27px;
    text-align: center;
    line-height: 27px;
    border-radius: 50%;
    margin-right: 14px;
  }
  .detail-vehicle-track {
    color: #006fe3;
    cursor: pointer;
    &:active {
      color: rgb(0, 89, 255);
    }
  }

  .search-block {
    //text-align: right;
    .search {
      float: left;
      width: calc(100% - 162px);
      display: inline;
      input {
        width: 272px;
        height: 36px !important;
        line-height: 36px !important;
        border: solid 1px #9999;
        border-radius: 5px;
        padding-left: 40px;
      }
      .el-icon-search {
        line-height: 16px;
        font-size: 19px;
        color: #666;
      }
      span {
        left: 10px;
      }
    }
    .nopad {
      .el-card__body {
        padding: 0;
      }
    }
    button {
      background: #1f7ff5;
      border-radius: 4px;
      height: 40px !important;
      width: 147px;
      margin-left: 15px;
      border-color: #1f7ff5;
      float: right;
      span {
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
}
</style>
