<template>
  <div class="app-container role-page">
    <!-- Filter -->
    <div class="filter-container" v-if="multipleSelection.length == 0">
      <template>
        <div class="search-block">
          <div>

            <el-input
              class="search"
              prefix-icon="el-icon-search"
              placeholder="Nhập từ khóa..."
              v-model="searchKeyword"
              @keyup.enter.native="handleFilter()"
            >
            </el-input>

            <el-date-picker
              class="filter-date"
              v-model="filter.date"
              type="datetimerange"
              range-separator="-"
              start-placeholder="Bắt đầu"
              end-placeholder="Kết thúc"
              format="yyyy-MM-dd"
            >
            </el-date-picker>
            <el-button type="primary" @click="handleFilter()"
              >Tìm kiếm</el-button
            >
          </div>
          <el-button
           v-if="canCreate"
            type="primary"
            style="float: right"
            @click="handleAddClick"
          >
            <i class="el-icon-plus"></i> Thêm mới
          </el-button>
        </div>
      </template>
    </div>
    <!-- list user new -->
    <template>
      <div id="select-all-delete" v-if="multipleSelection.length > 0">
        <i class="el-icon-close" @click="closeDelete()"></i>
        <span v-if="multipleSelection.length < 10"
          >0{{ multipleSelection.length }}</span
        ><span v-else>{{ multipleSelection.length }}</span> mục được chọn
        <el-button v-if="canDelete" type="danger" @click="destroyMulti()" :loading="loading"
          ><i class="el-icon-delete"></i> Xóa</el-button
        >
      </div>
      <el-table
        ref="multipleTable"
        :data="listHoliday"
        style="width: 100%"
        @selection-change="handleSelectionChange"
        id="user-table"
      >
        <el-table-column type="selection" width="55"> </el-table-column>
        <el-table-column label="STT" :width="(query.page * query.size).toString().length * 10 + 30">
          <template slot-scope="scope">
            <span>{{ (query.page - 1) * query.size + scope.$index + 1 }}</span>
          </template>
        </el-table-column>
        <el-table-column label="Tên">
          <template slot-scope="scope">
            <span>{{ scope.row.description }}</span>
          </template>
        </el-table-column>
        <el-table-column label="Thời gian">
          <template slot-scope="scope">
            <span>{{ scope.row.holiday|formatDateVietNamNoTime }}</span>
          </template>
        </el-table-column>
        <el-table-column label="Thao tác" width="300">
          <template slot-scope="scope">
            <el-button
              type="primary"
              v-if="canUpdate"
              @click="handleEditClick(scope.row)"
              class="btn-edit"
              icon="el-icon-edit"
            >
              Sửa
            </el-button>
            <el-button
              type="danger"
               v-if="canDelete"
              @click="destroy(scope.row)"
              class="btn-edit"
              icon="el-icon-delete"
            >
              Xóa
            </el-button>
            <!-- <router-link
              v-if="scope.row.roleCode != 'XPGT_ADMIN' && canUpdate"
              :to="'/system-config/role/edit/' + scope.row.roleCode"
              ></router-link
            > -->
          </template>
        </el-table-column>
      </el-table>
      <p style="clear: both"></p>
      <div style="display: inline-block; padding-top: 13px">
        Tổng số ngày lễ: <strong>{{ total }}</strong>
      </div>
      <pagination
        v-show="total > query.size"
        :total="total"
        :page.sync="query.page"
        :layout="layout"
        :limit.sync="query.size"
        @pagination="getList"
      />
    </template>
    <!-- Chỉnh sửa-->
    <el-dialog
      title="Chỉnh sửa ngày lễ"
      :visible.sync="dialogEditVisible"
      width="30%"
    >
      <el-form
        label-width="100px"
        :model="editForm"
        ref="editForm"
        :rules="rules"
      >
        <el-form-item label="Tên" class="name-holiday" prop="description">
          <el-input v-model="editForm.description"></el-input>
        </el-form-item>
        <el-form-item label="Thời gian" prop="holiday">
          <el-date-picker
            v-model="editForm.holiday"
            type="date"
            style="width: 100%"
          >
          </el-date-picker>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button class="btn-cancel" @click="dialogEditVisible = false"
          >THOÁT</el-button
        >
        <el-button type="primary" class="btn-edit" @click="editHoliday"
          >CẬP NHẬT</el-button
        >
      </span>
    </el-dialog>
    <!-- Thêm mơi -->
    <el-dialog
      title="Thêm mới ngày lễ"
      :visible.sync="dialogAddVisible"
      width="545px"
      @close="reset"
    >
      <el-form
        label-width="100px"
        :model="editForm"
        ref="addForm"
        :rules="rules"
      >
        <el-form-item label="Tên" class="name-holiday" prop="description">
          <el-input v-model="editForm.description"></el-input>
        </el-form-item>
        <el-form-item label="Ngày lễ" class="name-holiday" prop="dates">
              <el-date-picker
              width="100%"
          v-model="editForm.dates"
          type="datetimerange"
          start-placeholder="Từ ngày"
          end-placeholder="Đến ngày">
        </el-date-picker>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button class="btn-cancel" @click="dialogAddVisible = false"
          >Thoát</el-button
        >
        <el-button type="primary" class="btn-edit" @click="handleAdd"
          >Lưu</el-button
        >
      </span>
    </el-dialog>
  </div>
</template>

<script>
import Pagination from "@/components/Pagination_custom";

import Resource from "@/api/resource";
import user_default from "@/assets/images/user_default.png";
import moment from "moment";

const roleResource = new Resource("rbac/role");
const holidayResource = new Resource("systemconfig/holiday");

export default {
  components: { Pagination },
  data() {
    return {
      layout: "first, prev, pager, next, last",
      rolesLst: [],
      groupsUuid: [],
      listHoliday: [],
      dialogAddVisible: false,
      editForm: {
        id: null,
        holiday: null,
        description: "",
        dates:null
      },
      dialogEditVisible: false,
      loading: false,
      total: 0,
      searchKeyword: null,
      multipleSelection: [],
      oldRoleCode: "",
       canRead: false,
      canCreate: false,
      canUpdate: false,
      canDelete: false,
      query: {
        // search: this.searchKeyword,
        page: 1,
        size: 15,
        fromDate: moment().startOf("year").format("YYYY-MM-DD"),
        toDate: moment().add(1, "year").endOf("year").format("YYYY-MM-DD")
      },
      filter: {
        date: [
          moment().startOf("year").format("YYYY-MM-DD"),
          moment().add(1, "year").endOf("year").format("YYYY-MM-DD")
        ],
      },
      rules: {
        description: [
          { required: true, message: "Tên là bắt buộc", trigger: "blur" },
          { max: 255, message: "Tên tối đa 255 ký tự", trigger: "blur" },
        ],
        holiday: [
          { required: true, message: "Ngày lễ là bắt buộc", trigger: "blur" },
          // { max: 255, message: 'Định danh tối đa 255 ký tự', trigger: 'blur' },
        ],
        dates: [
          { required: true, message: "Ngày lễ là bắt buộc", trigger: "blur" },
          // { max: 255, message: 'Định danh tối đa 255 ký tự', trigger: 'blur' },
        ],
      },
    };
  },

  created() {
    // console.log(this.$store.state);
    this.canRead = this.$root.checkRole(this.$route.fullPath, "canRead");
    this.canCreate = this.$root.checkRole(this.$route.fullPath, "canCreate");
    this.canUpdate = this.$root.checkRole(this.$route.fullPath, "canUpdate");
    this.canDelete = this.$root.checkRole(this.$route.fullPath, "canDelete");
    this.init();
  },

  methods: {
    async init() {
      if(this.canRead){
        await this.getList();
      }else{
        this.$message({
            type: "error",
            message: "Bạn không có quyền xem danh sách ngày nghỉ",
          });
      }

    },
    async getList() {
      const query = {
        page: this.query.page - 1,
        size: 15,
        keyword: this.searchKeyword ? this.searchKeyword.trim() : "",
        fromDate: this.query.fromDate,
        toDate: this.query.toDate,
      };
      const result = await holidayResource.list(query);
      if (result) {
        this.listHoliday = result.data;
        this.total = result.total;
      }
    },
    handleFilter() {
      this.query.keyword = this.searchKeyword ? this.searchKeyword.trim() : "";
      if (this.filter.date) {
        let fromDate = moment(this.filter.date[0]).format("YYYY-MM-DD");
        let toDate = moment(this.filter.date[1]).format("YYYY-MM-DD");
        this.query.fromDate = fromDate;
        this.query.toDate = toDate;
      }
      this.getList();
    },
    handleAddClick() {
      this.editForm= {
        id: null,
        holiday: null,
        description: "",
        dates:null
      },
      this.dialogAddVisible = true;
    },

    async handleAdd() {
      this.$refs.addForm.validate(async (valid) => {
        if (valid) {
          const listDate = this.getDates(this.editForm.dates[0], this.editForm.dates[1]);
          const arrayDate = []
          listDate.map(async(m) => {
            arrayDate.push(moment(m).format("YYYY-MM-DD"))

          });
          const body = {
              dates: arrayDate.toString(),
              description: this.editForm.description,
            };
            const res = await holidayResource.store(body);
          if(res && res.status == 200){
            this.$message({
                message: "Thêm mới thành công",
                type: "success",
              });
          }
          this.dialogAddVisible = false;
          this.getList();
        }
      });
    },

    reset() {
      this.editForm.holiday = "";
      this.editForm.description = "";
      this.$refs.addForm.clearValidate();
    },

    getDates(startDate, stopDate) {
      Date.prototype.addDays = function(days) {
        var date = new Date(this.valueOf());
        date.setDate(date.getDate() + days);
        return date;
      }
      var dateArray = new Array();
      var currentDate = startDate;
      while (currentDate <= stopDate) {
        dateArray.push(new Date(currentDate));
        currentDate = currentDate.addDays(1);
      }
      return dateArray;
    },

    handleEditClick(data) {
      this.editForm.id = data.id;
      this.editForm.holiday = data.holiday;
      this.editForm.description = data.description;
      this.dialogEditVisible = true;
    },
    async editHoliday() {
      this.$refs.editForm.validate(async (valid) => {
        if (valid) {
          const body = {
            holiday: moment(this.editForm.holiday).format("YYYY-MM-DD"),
            description: this.editForm.description,
          };
          const res = await holidayResource.update(this.editForm.id, body);
          if (res && res.status == 200 ) {
            this.$message({
              message: "Sửa thành công",
              type: "success",
            });
          }
          this.getList();
          this.dialogEditVisible = false;
        }
      });
    },

    closeDelete() {
      this.$refs.multipleTable.clearSelection();
      this.multipleSelection = [];
    },

    destroy(data) {
      this.$confirm(
        "Bạn có chắc chắn muốn xóa ngày lễ "+data.description+" này không?",
        {
          confirmButtonText: "Xác nhận",
          cancelButtonText: "Thoát",
          type: "warning",
        }
      )
        .then(async () => {
          this.loading_delete = true;
          const res = await holidayResource.destroy(data.id);
          if ((res.status = 200)) {
            this.getList();
            this.$message({
              type: "success",
              message: "Xóa thành công",
            });
          }
        })
        .catch(() => {
          this.loading_delete = false;
          // this.$message({
          //   type: "error",
          //   message: "Có lỗi xảy ra vui lòng thử lại sau!",
          // });
        });
      this.getList();
      this.loading_delete = false;
    },

    destroyMulti(data) {
      const multi = this.multipleSelection;
      this.$confirm("Bạn có chắc chắn muốn xóa những lựa chọn này ", "", {
        confirmButtonText: "Xác nhận",
        cancelButtonText: "Thoát",
        type: "warning",
      })
        .then(async () => {
          this.loading_delete = true;
          let idDelete = [];
          multi.map((m) => {
            // debugger;
            idDelete.push(m.id);
          });
          const body = {
            idHolidays: idDelete,
          };
          const res = await holidayResource.destroyMulti(body);
          // debugger;
          if ((res.status = 200)) {
            this.getList();
            this.$message({
              type: "success",
              message: "Xóa thành công",
            });
          }
        })
        .catch((e) => {
          this.loading_delete = false;
          console.log("sdf:", e);
          // this.$message({
          //   type: "error",
          //   message: "Có lỗi xảy ra vui lòng thử lại sau!",
          // });
        });
      this.getList();
      this.loading_delete = false;
    },

    toggleSelection(rows) {
      if (rows) {
        rows.forEach((row) => {
          this.$refs.multipleTable.toggleRowSelection(row);
        });
      } else {
        this.$refs.multipleTable.clearSelection();
      }
    },
    handleSelectionChange(val) {
      this.multipleSelection = val;
    },
  },
};
</script>

<style lang="scss" scoped>
</style>

<style lang="scss">
.role-page {
  // .el-range-separator{
  //   width: 50px;
  // }
  .el-button--danger:focus {
    color: #FFF;
    background-color: #F56C6C !important;
    border-color: #F56C6C !important;
    }
  .el-date-editor{
    width: 100%;
  }
  .el-button--primary {
    border-radius: 3px;
  }
  .el-dialog__header {
    i {
      color: #fff;
      font-size: 22px;
      position: relative;
      top: -3px;
    }
  }
  .el-dialog__header {
    padding: 0;
    background: #006fe3;
    height: 40px;
    line-height: 40px;
    text-align: center;
    .el-dialog__title {
      color: #fff;
    }
    .el-dialog__headerbtn {
      top: 13px;
    }
  }
  .btn-edit {
    border-radius: 2px;
  }
  #select-all-delete {
    clear: both;
    height: 63px;
    line-height: 63px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ff4646;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    .el-icon-close {
      font-size: 25px;
      margin-left: 20px;
      margin-right: 35px;
      position: relative;
      top: 4px;
      cursor: pointer;
    }
    button {
      background: #e00000;
      border: initial;
      border-radius: 5px;
      float: right;
      display: inline-block;
      margin-top: 15px;
      margin-right: 15px;
    }
  }
  .action {
    margin-top: 40px;
    .el-button--primary {
      background: #64789a;
      border: initial;
      border-radius: 4px;
      width: 147px;
      height: 40px;
    }
    .el-button--success {
      background: #ff6161;
      border: initial;
      border-radius: 4px;
      width: 147px;
      height: 40px;
      float: right;
    }
  }
  .el-form-item__label {
    text-align: left;
  }
  .el-table th > .cell {
    text-align: left;
  }
  .el-table tr > th:first-child .cell {
    text-align: center;
  }
  .el-table th {
    color: black;
    font-size: 14px;
  }
  .el-table td {
    color: black;
    font-size: 14px;
  }
  .el-table tr td:first-child {
    text-align: center;
  }
  .el-table td:first-child .cell {
    display: inline-block;
  }
  .filter-container {
    padding-bottom: 20px;
  }
  tbody {
    tr {
      /*cursor: pointer;*/
    }
  }
  .search-block {
    text-align: left;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    div:first-child {
      display: inline-flex;
      column-gap: 15px;
    }
    .search {
      width: fit-content;
      display: inline;
      input {
        width: 272px;
        height: 36px !important;
        line-height: 36px !important;
        border: solid 1px #9999;
        border-radius: 5px;
        padding-left: 40px;
      }
      .el-icon-search {
        line-height: 16px;
        font-size: 19px;
        color: #666;
      }
      span {
        left: 10px;
      }
    }
    .filter-date {
      float: left;
      width: 350px;
    }
    button {
      background: #1f7ff5;
      border-radius: 4px;
      height: 40px !important;
      width: 147px;
      border-color: #1f7ff5;
      span {
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
  .dialog-footer {
    display: flex;
    justify-content: space-between;
    .btn-edit {
      background: #1f7ff5;
      height: 40px;
      border-radius: 5px;
      width: 147px;
      text-transform: uppercase;
      font-weight: bold;
      border-color: #1f7ff5;
      border-radius: 4px;
    }

    .btn-cancel {
      display: inline-block;
      line-height: 1;
      white-space: nowrap;
      cursor: pointer;

      border: 1 px solid #dcdfe6;
      -webkit-appearance: none;
      text-align: center;
      box-sizing: border-box;
      outline: 0;
      margin: 0;
      transition: 0.1s;
      font-weight: 500;
      padding: 12px 20px;
      font-size: 14px;
      border-radius: 4px;
      background: #9e9e9e !important;
      height: 40px;
      border-radius: 4px;
      width: 147px;
      text-transform: uppercase;
      font-weight: bold;
      border-color: #9e9e9e;
      color: #fff;
      float: left;
    }
  }
}
</style>
