<template>
  <div class="app-container claim user-page user-page-config config-page" v-if="canRead">
    <!-- Filter -->
    <!-- list user new -->
    <!-- <UploadImage :url="base_url_upload + 'upload/vehicle/image'"></UploadImage> -->
    <template>
      <div id="user-table">
        <div class="filter-container" v-if="multipleSelection.length == 0">
          <template>
            <div class="search-block">
              <el-input
                class="search"
                placeholder=""
                prefix-icon="el-icon-search"
                v-model="searchKeyword"
                @keyup.enter.native="handleFilter()"
              >
              </el-input>
              <el-button v-if="canCreate" type="primary" @click="handleCreate()"
                ><i class="el-icon-plus"></i> Thêm mới</el-button
              >
            </div>
          </template>
        </div>
        <div id="select-all-delete" v-if="multipleSelection.length > 0">
          <i class="el-icon-close" @click="closeDelete()"></i>
          <span v-if="multipleSelection.length < 10"
            >0{{ multipleSelection.length }}</span
          ><span v-else>{{ multipleSelection.length }}</span> mục được chọn
          <el-button
            type="danger"
            @click="destroyMulti()"
            :loading="loading_delete_all"
            v-if="canDelete"
            ><i class="el-icon-delete"></i> Xóa</el-button
          >
        </div>
        <el-table
          ref="multipleTable"
          :data="usersList"
          style="width: 100%"
          :row-class-name="tableRowClassName"
          @selection-change="handleSelectionChange"
          @row-click="rowClicked"
        >
          <el-table-column
            type="selection"
            width="55"
            :selectable="canSelectRow"
          >
          </el-table-column>
          <el-table-column label="STT" :width="(query.page * query.size).toString().length * 10 + 30">
            <template slot-scope="scope">
              <span>{{
                (query.page - 1) * query.size + scope.$index + 1
              }}</span>
            </template>
          </el-table-column>
          <el-table-column label="Tài khoản">
            <template slot-scope="scope">
              <span>{{ scope.row.userName }}</span>
            </template>
          </el-table-column>

          <el-table-column label="Họ và tên">
            <template slot-scope="scope">
              <span>{{ scope.row.fullName }}</span>
            </template>
          </el-table-column>

          <el-table-column label="Nhóm quyền">
            <template slot-scope="scope">
              <span v-if="scope.row.roleCode">{{
                scope.row.roleCode.roleName
              }}</span>
            </template>
          </el-table-column>

          <el-table-column label="Đội">
            <template slot-scope="scope">
              <span>{{ getGroupName(scope.row.groupsUuid) }}</span>
            </template>
          </el-table-column>

          <el-table-column label="Điện thoại">
            <template slot-scope="scope">
              <span>{{ scope.row.mobile }}</span>
            </template>
          </el-table-column>

          <el-table-column label="Email">
            <template slot-scope="scope">
              <span>{{ scope.row.email }}</span>
            </template>
          </el-table-column>
        </el-table>
        <!-- Phân trang -->
        <p style="clear: both"></p>
        <div style="display: inline-block; padding-top: 13px">
          Tổng số người dùng: <strong>{{ total }}</strong>
        </div>
        <pagination
          v-show="total > query.size"
          :total="total"
          :page.sync="query.page"
          :layout="layout"
          :limit.sync="query.size"
          @pagination="getList"
        />
      </div>
      <div id="detail-user" style="width: 0">
        <i class="el-icon-close" @click="closeDetail()"></i>
        <template v-if="userDetail">
          <div class="avatar">
            <img
              v-if="userDetail.avatar"
              height="125px"
              width="125px"
              :src="userDetail.avatar"
            />
            <img v-else height="125px" width="125px" :src="user_default" />
          </div>
          <div class="item-label">Họ tên</div>
          <div class="item-text">
            {{ userDetail.fullName }}
          </div>
          <template v-if="userDetail.birthDay">
            <div class="item-label">Ngày sinh</div>
            <div class="item-text">
              {{ userDetail.birthDay }}
            </div>
          </template>
          <template v-if="userDetail.email">
            <div class="item-label">Email</div>
            <div class="item-text">
              {{ userDetail.email }}
            </div>
          </template>
          <template v-if="userDetail.mobile">
            <div class="item-label">Điện thoại</div>
            <div class="item-text">
              {{ userDetail.mobile }}
            </div>
          </template>
          <template v-if="userDetail.position">
            <div class="item-label">Chức vụ</div>
            <div class="item-text">
              {{ userDetail.position }}
            </div>
          </template>
          <template v-if="userDetail.groupsUuid">
            <div class="item-label">Đội</div>
            <div class="item-text">
              {{ getGroupName(userDetail.groupsUuid) }}
            </div>
          </template>
          <template v-if="userDetail.policeRank">
            <div class="item-label">Cấp bậc</div>
            <div class="item-text">
              {{ userDetail.policeRank }}
            </div>
          </template>
          <div class="action" v-if="userDetail.userName != 'admin'">
            <el-button
              type="primary"
              @click="handleEdit(userDetail)"
              v-if="canUpdate"
              ><i class="el-icon-edit"></i> Sửa</el-button
            >
            <el-button
              v-if="userDetail.userName != userLogin && canDelete"
              type="success"
              @click="destroy(userDetail)"
              :loading="loading_delete"
              :disabled="loading_delete_disable"
              ><i class="el-icon-delete"></i> Xóa</el-button
            >
          </div>
        </template>
      </div>
    </template>
    <!-- ket thuc -->
    <!-- Add Dialog -->
    <el-dialog
      title="Thêm mới người dùng"
      :visible.sync="dialogAdd"
      width="700px"
      @close="closeDialog('addForm')"
      :close-on-click-modal="false"
    >
      <el-form
        :model="userInfo"
        :rules="rules"
        ref="addForm"
        label-position="top"
        label-width="100%"
      >
        <div class="block-item">
          <div class="item-left">
            <el-form-item label="Tên đăng nhập" prop="userName">
              <el-input v-model.trim="userInfo.userName"></el-input>
            </el-form-item>

            <el-form-item label="Mật khẩu đăng nhập" prop="password">
              <el-input type="password" v-model="userInfo.password"></el-input>
            </el-form-item>

            <el-form-item label="Nhập lại mật khẩu" prop="matchingPassword">
              <el-input
                type="password"
                v-model="userInfo.matchingPassword"
              ></el-input>
            </el-form-item>
          </div>
          <div class="item-right">
            <el-form-item>
              <div class="img_avatar" label="Avatar" prop="avatar">
                <img
                  class="image"
                  height="178px"
                  width="178px"
                  v-if="url"
                  :src="url"
                  :alt="url"
                  @click="handleClick"
                />
                <img
                  class="image"
                  height="178px"
                  width="178px"
                  v-else
                  :src="user_default"
                  :alt="user_default"
                  @click="handleClick"
                />
                <img class="image" @click="handleClick" v-else />
                <div class="img_icon">
                  <input
                    v-if="uploadReady"
                    type="file"
                    ref="file"
                    hidden
                    @change="fileSelected"
                  />
                  <div class="avatar-uploader">
                    <i
                      class="el-icon-camera-solid avatar-uploader-icon"
                      @click="handleClick"
                    ></i>
                  </div>
                </div>
              </div>
            </el-form-item>
          </div>
        </div>
        <div class="block-item">
          <div class="item-left">
            <el-form-item label="Họ tên" prop="fullName">
              <el-input v-model="userInfo.fullName"></el-input>
            </el-form-item>

            <el-form-item label="Email" prop="email">
              <el-input v-model="userInfo.email"></el-input>
            </el-form-item>

            <el-form-item label="Chức vụ" prop="position">
              <el-select
              v-model="userInfo.position"
                style="width: 100%"
              >
                <el-option
                  v-for="group in position"
                  :key="group.name"
                  :label="group.name"
                  :value="group.name"
                >
                </el-option>
              </el-select>
            </el-form-item>
          </div>
          <div class="item-right">
            <el-form-item label="Ngày sinh" prop="birthDay">
              <el-date-picker
                v-model="userInfo.birthDay"
                type="date"
                placeholder="Ngày sinh"
                format="dd/MM/yyyy"
                style="width: 100%"
              >
              </el-date-picker>
            </el-form-item>
           <!--  <div
              class="checkSystem"
              style="display: flex;
                justify-content: center;
                margin-bottom: 10px;">
              <div class="checkbox-other" style="width: 100%">
                <el-form-item prop="checkedSystem">
                  <el-checkbox-group v-model="userInfo.checkedSystem">
                    <el-checkbox value="XPGT" label="XPGT"></el-checkbox>
                    <el-checkbox value="GSAN" label="GSAN"></el-checkbox>
                  </el-checkbox-group>
                </el-form-item>
              </div>
            </div> -->
            <el-form-item label="Điện thoại" prop="mobile">
              <el-input v-model="userInfo.mobile"></el-input>
            </el-form-item>
            <el-form-item label="Cấp bậc" prop="policeRank">
               <el-select
               v-model="userInfo.policeRank"
                style="width: 100%"
              >
                <el-option
                  v-for="group in rank"
                  :key="group.name"
                  :label="group.name"
                  :value="group.name"
                >
                </el-option>
              </el-select>
            </el-form-item>
          </div>
        </div>
        <el-form-item label="Hệ thống" prop="checkedSystem">
            <el-select v-model="userInfo.checkedSystem"  style="width: 100%" multiple placeholder="Lựa chọn">
              <el-option
                v-for="item in systemList"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
        </el-form-item>
        <div class="block-item">
            <div class="item-left">
                <el-form-item v-if="isAdmin" label="Đội xử phạt giao thông" prop="groupsUuid">
                  <span slot="label" :class="{'required' : userInfo.checkedSystem.includes('XPGT')}"> Đội xử phạt giao thông</span>
                  <el-select
                    :disabled="!userInfo.checkedSystem.includes('XPGT')"
                    v-model="userInfo.groupsUuid"
                    placeholder="Đội xử phạt giao thông"
                    style="width: 100%"
                  >
                    <el-option
                      v-for="group in groupsUuid"
                      :key="group.uuid"
                      :label="group.name"
                      :value="group.uuid"
                    >
                    </el-option>
                  </el-select>
                </el-form-item>
                <el-form-item v-else label="Đội xử phạt giao thông" prop="groupsUuid">
                  <span slot="label" :class="{'required' : userInfo.checkedSystem.includes('XPGT')}"> Đội xử phạt giao thông</span>
                  <el-select
                    v-model="userInfo.groupsUuid"
                    placeholder="Đội xử phạt giao thông"
                    style="width: 100%"
                  >
                    <el-option
                      v-for="group in groupsUuidOwner"
                      :key="group.uuid"
                      :label="group.name"
                      :value="group.uuid"
                    >
                    </el-option>
                  </el-select>
                </el-form-item>
                <el-form-item v-if="isAdmin" label="Đội giám sát an ninh" prop="groupsUuidGsan">
                  <span slot="label" :class="{'required' : userInfo.checkedSystem.includes('GSAN')}"> Đội giám sát an ninh</span>
                  <el-select
                    :disabled="!userInfo.checkedSystem.includes('GSAN')"
                    v-model="userInfo.groupsUuidGsan"
                    placeholder="Đội giám sát an ninh"
                    style="width: 100%"
                  >
                    <el-option
                      v-for="group in groupsUuidGSAN"
                      :key="group.uuid"
                      :label="group.name"
                      :value="group.uuid"
                    >
                    </el-option>
                  </el-select>
                </el-form-item>
                <el-form-item v-else label="Đội giám sát an ninh" prop="groupsUuidGsan">
                  <span slot="label" :class="{'required' : userInfo.checkedSystem.includes('GSAN')}"> Đội giám sát an ninh</span>
                  <el-select
                    :disabled="!userInfo.checkedSystem.includes('GSAN')"
                    v-model="userInfo.groupsUuid"
                    placeholder="Đội GSAN"
                    style="width: 100%"
                  >
                    <el-option
                      v-for="group in groupsUuidOwner"
                      :key="group.uuid"
                      :label="group.name"
                      :value="group.uuid"
                    >
                    </el-option>
                  </el-select>
                </el-form-item>
            </div>
            <div class="item-right">
              <el-form-item label="Nhóm quyền xử phạt giao thông" prop="roleCode">
                <span slot="label" :class="{'required' : userInfo.checkedSystem.includes('XPGT')}"> Nhóm quyền xử phạt giao thông</span>
                <el-select
                  :disabled="!userInfo.checkedSystem.includes('XPGT')"
                  v-model="userInfo.roleCode"
                  placeholder="Chọn vai trò"
                  style="width: 100%"
                >
                  <el-option
                    v-for="role in rolesLst"
                    :key="role.id"
                    :label="role.roleName"
                    :value="role.roleCode"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
              <el-form-item label="Nhóm quyền giám sát an ninh" prop="roleCodeGSAN">
                <span slot="label" :class="{'required' : userInfo.checkedSystem.includes('GSAN')}"> Nhóm quyền giám sát an ninh</span>
                <el-select
                  :disabled="!userInfo.checkedSystem.includes('GSAN')"
                  v-model="userInfo.roleCodeGSAN"
                  placeholder="Chọn vai trò"
                  style="width: 100%"
                >
                  <el-option
                    v-for="role in rolesGSANLst"
                    :key="role.id"
                    :label="role.roleName"
                    :value="role.roleCode"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
            </div>
        </div>
      </el-form>

      <div slot="footer" class="dialog-footer">
        <el-button type="danger" @click="dialogAdd = false">Thoát</el-button>
        <el-button type="primary" @click="addUser()" :loading="loading_add"
          >Lưu</el-button
        >
      </div>
    </el-dialog>
    <!-- Dialog Edit -->
    <el-dialog
      title="Sửa người dùng"
      :visible.sync="dialogEdit"
      width="700px"
      @close="closeDialog('editForm')"
      :close-on-click-modal="false"
    >
      <el-form
        :model="userInfo"
        :rules="rulesEdit"
        ref="editForm"
        label-position="top"
        label-width="200px"
      >
        <div class="block-item">
          <div class="item-left">
            <el-form-item label="Tên đăng nhập" prop="userName">
              <el-input v-model="userInfo.userName" disabled></el-input>
            </el-form-item>
            <el-form-item label="Mật khẩu đăng nhập" prop="password">
              <el-input type="password" v-model="userInfo.password"></el-input>
            </el-form-item>

            <el-form-item label="Nhập lại mật khẩu" prop="matchingPassword">
              <el-input
                type="password"
                v-model="userInfo.matchingPassword"
              ></el-input>
            </el-form-item>
          </div>
          <div class="item-right">
            <el-form-item>
              <div class="img_avatar" label="Avatar" prop="avatar">
                <img
                  class="image"
                  height="178px"
                  width="178px"
                  v-if="url"
                  :src="url"
                  :alt="url"
                  @click="handleClick"
                />
                <img
                  class="image"
                  height="178px"
                  width="178px"
                  v-else
                  :src="user_default"
                  :alt="user_default"
                  @click="handleClick"
                />
                <img class="image" @click="handleClick" v-else />
                <div class="img_icon">
                  <input
                    v-if="uploadReady"
                    type="file"
                    ref="file"
                    hidden
                    @change="fileSelected"
                  />
                  <div class="avatar-uploader">
                    <i
                      class="el-icon-camera-solid avatar-uploader-icon"
                      @click="handleClick"
                    ></i>
                  </div>
                </div>
              </div>
            </el-form-item>
          </div>
        </div>
        <div class="block-item">
          <div class="item-left">
              <el-form-item label="Họ tên" prop="fullName">
              <el-input v-model="userInfo.fullName"></el-input>
            </el-form-item>

            <el-form-item label="Email" prop="email">
              <el-input v-model="userInfo.email"></el-input>
            </el-form-item>

            <el-form-item label="Chức vụ" prop="position">
              <el-select
              v-model="userInfo.position"
                style="width: 100%"
              >
                <el-option
                  v-for="group in position"
                  :key="group.name"
                  :label="group.name"
                  :value="group.name"
                >
                </el-option>
              </el-select>
            </el-form-item>
          </div>
          <div class="item-right">
             <!--  <div
              class="checkSystem"
              style="
                display: flex;
                justify-content: center;
                margin-bottom: 10px;
              "
            >
              <div class="checkbox-other" style="width: 100%">
                <el-form-item prop="checkedSystemEdit">
                  <el-checkbox-group v-model="userInfo.checkedSystemEdit">
                    <el-checkbox value="XPGT" label="XPGT"></el-checkbox>
                    <el-checkbox value="GSAN" label="GSAN"></el-checkbox>
                  </el-checkbox-group>
                </el-form-item>
              </div>
            </div> -->
            <el-form-item label="Ngày sinh" prop="birthDay">
              <el-date-picker
                v-model="userInfo.birthDay"
                type="date"
                placeholder="Ngày sinh"
                format="dd/MM/yyyy"
                style="width: 100%"
              >
              </el-date-picker>
            </el-form-item>
            <el-form-item label="Điện thoại" prop="mobile">
              <el-input v-model="userInfo.mobile"></el-input>
            </el-form-item>

            <el-form-item label="Cấp bậc" prop="policeRank">
              <el-select
               v-model="userInfo.policeRank"
                style="width: 100%"
              >
                <el-option
                  v-for="group in rank"
                  :key="group.name"
                  :label="group.name"
                  :value="group.name"
                >
                </el-option>
              </el-select>
            </el-form-item>
          </div>
        </div>
        <el-form-item label="Hệ thống" prop="checkedSystemEdit">
            <el-select v-model="userInfo.checkedSystemEdit"  style="width: 100%" multiple placeholder="Lựa chọn">
              <el-option
                v-for="item in systemList"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
        </el-form-item>
        <div class="block-item">
            <div class="item-left">
                <el-form-item v-if="isAdmin" prop="groupsUuid">
                  <span slot="label" :class="{'required' : userInfo.checkedSystemEdit.includes('XPGT')}"> Đội xử phạt giao thông</span>
                  <el-select
                    :disabled="!userInfo.checkedSystemEdit.includes('XPGT')"
                    v-model="userInfo.groupsUuid"
                    placeholder="Đội XPGT"
                    style="width: 100%"
                  >
                    <el-option
                      v-for="group in groupsUuid"
                      :key="group.uuid"
                      :label="group.name"
                      :value="group.uuid"
                    >
                    </el-option>
                  </el-select>
                </el-form-item>
                <el-form-item v-else label="Đội xử phạt giao thông" prop="groupsUuid">
                  <span slot="label" :class="{'required' : userInfo.checkedSystemEdit.includes('XPGT')}"> Đội xử phạt giao thông</span>
                  <el-select
                    :disabled="!userInfo.checkedSystemEdit.includes('XPGT')"
                    v-model="userInfo.groupsUuid"
                    placeholder="Đội XPGT"
                    style="width: 100%"
                  >
                    <el-option
                      v-for="group in groupsUuidOwnerEdit"
                      :key="group.uuid"
                      :label="group.name"
                      :value="group.uuid"
                    >
                    </el-option>
                  </el-select>
                </el-form-item>
                <el-form-item v-if="isAdmin" label="Đội giám sát an ninh" prop="groupsUuidGsan">
                  <span slot="label" :class="{'required' : userInfo.checkedSystemEdit.includes('GSAN')}"> Đội giám sát an ninh</span>
                  <el-select
                    :disabled="!userInfo.checkedSystemEdit.includes('GSAN')"
                    v-model="userInfo.groupsUuidGsan"
                    placeholder="Đội GSAN"
                    style="width: 100%"
                  >
                    <el-option
                      v-for="group in groupsUuidGSAN"
                      :key="group.uuid"
                      :label="group.name"
                      :value="group.uuid"
                    >
                    </el-option>
                  </el-select>
                </el-form-item>
                <el-form-item v-else label="Đội giám sát an ninh" prop="groupsUuidGsan">
                  <span slot="label" :class="{'required' : userInfo.checkedSystemEdit.includes('GSAN')}"> Đội giám sát an ninh</span>
                  <el-select
                    :disabled="!userInfo.checkedSystemEdit.includes('GSAN')"
                    v-model="userInfo.groupsUuid"
                    placeholder="Đội GSAN"
                    style="width: 100%"
                  >
                    <el-option
                      v-for="group in groupsUuidOwnerEdit"
                      :key="group.uuid"
                      :label="group.name"
                      :value="group.uuid"
                    >
                    </el-option>
                  </el-select>
                </el-form-item>
            </div>
            <div class="item-right">
              <el-form-item label="Nhóm quyền xử phạt giao thông" prop="roleCode">
                <span slot="label" :class="{'required' : userInfo.checkedSystemEdit.includes('XPGT')}"> Nhóm quyền xử phạt giao thông</span>
                <el-select
                  :disabled="!userInfo.checkedSystemEdit.includes('XPGT')"
                  v-model="userInfo.roleCode"
                  placeholder="Chọn vai trò"
                  style="width: 100%"
                >
                  <template v-for="role in rolesLst">
                    <el-option
                      :key="role.id"
                      :label="role.roleName"
                      :value="role.roleCode"
                    >
                    </el-option>
                  </template>
                </el-select>
              </el-form-item>
              <el-form-item label="Nhóm quyền giám sát an ninh" prop="roleCodeGSAN">
                <span slot="label" :class="{'required' : userInfo.checkedSystemEdit.includes('GSAN')}"> Nhóm quyền giám sát an ninh</span>
                <el-select
                  :disabled="!userInfo.checkedSystemEdit.includes('GSAN')"
                  v-model="userInfo.roleCodeGSAN"
                  placeholder="Chọn vai trò"
                  style="width: 100%"
                >
                  <template v-for="role in rolesGSANLst">
                    <el-option
                      :key="role.id"
                      :label="role.roleName"
                      :value="role.roleCode"
                    >
                    </el-option>
                  </template>
                </el-select>
              </el-form-item>
            </div>
        </div>
      </el-form>

      <div slot="footer" class="dialog-footer">
        <el-button type="danger" @click="dialogEdit = false">Thoát</el-button>
        <el-button type="primary" @click="editUser()" :loading="loading_edit"
          >Cập nhật</el-button
        >
      </div>
    </el-dialog>
    <image-cropper
      v-show="imagecropperShow"
      title="Cập nhật ảnh đại diện"
      :file="file"
      :key="imagecropperKey"
      :width="avatarWith"
      :height="avatarHeight"
      field="file"
      url="upload/user/avatar"
      lang-type="vi"
      @close="imagecropperShow = false"
      @crop-upload-success="cropSuccess"
    />
  </div>
</template>

<script>
import axios from "axios";
import Pagination from "@/components/Pagination_custom";
import waves from "@/directive/waves"; // Waves directive
import { getUsersPaginated } from "@/api/user-resources";
import { validEmail, validPhone } from "@/utils/validate";
import Resource from "@/api/resource";
import ResourceRbacGsan from "@/api/resourceRbacGsan";
import user_default from "@/assets/images/user_default.png";
import ImageCropper from "@/components/extra/ImageCropper";
import UploadImage from "@/components/UploadImage";
import { isLogged } from "@/utils/auth";
import { getOptions } from 'highcharts';

const userResource = new Resource("user");
const roleResource = new Resource("rbac/role");
const groupResource = new Resource("user/groups");
const groupOwnerResource = new Resource("user/groups/owner");
const roleUserResource = new Resource("rbac/role/user");

const roleResourceGsan = new ResourceRbacGsan("rbac/role/call-by-xpgt");
const roleUserResourceGsan = new ResourceRbacGsan("rbac/role/user");
const categoryResource = new Resource("systemconfig/category");

export default {
  components: { Pagination, ImageCropper, UploadImage },
  directives: { waves },
  data() {
    const validateSystem = (rule, value, callback) => {
      if (value.length === 0) {
        callback(new Error("Vui lòng chọn giám sát xử phạt hoặc giám sát an ninh"));
      } else {
        callback();
      }
    };

    const validateEmail = (rule, value, callback) => {
      if (value && !validEmail(value)) {
        callback(new Error("Vui lòng nhập đúng định dạng email"));
      } else {
        callback();
      }
    };

    const validateMobile = (rule, value, callback) => {
      if (value && !validPhone(value)) {
        callback(new Error("Vui lòng nhập đúng định dạng số điện thoại"));
      } else {
        callback();
      }
    };

    var validatePass2 = (rule, value, callback) => {
      if (value === "") {
        callback(new Error("Xác nhận mật khẩu là bắt buộc"));
      } else if (this.userInfo.password == "") {
        callback(new Error("Mật khẩu chưa được nhập"));
      } else if (
        this.userInfo.password != null &&
        value !== this.userInfo.password
      ) {
        callback(new Error("Mật khẩu không trùng khớp"));
      } else {
        callback();
      }
    };

    var validatePassEdit = (rule, value, callback) => {
      if (value === "") {
        callback(new Error("Xác nhận mật khẩu là bắt buộc"));
      } else if (this.userInfo.password == "") {
        callback(new Error("Mật khẩu chưa được nhập"));
      } else if (
        this.userInfo.password != null &&
        value !== this.userInfo.password
      ) {
        callback(new Error("Mật khẩu không trùng khớp"));
      } else {
        callback();
      }
    };

    var validatePassEdit2 = (rule, value, callback) => {
      if (!value && this.userInfo.matchingPassword) {
        callback(new Error("Mật khẩu không được để trống"));
      } else {
        callback();
      }
    };

    const validateRoleCode = (rule, value, callback) => {
      if (!value && this.userInfo.checkedSystem.includes("XPGT")) {
        callback(new Error("Nhóm quyền xử phạt giao thông là bắt buộc"));
      } else {
        callback();
      }
    };
    const validateRoleCodeGSAN = (rule, value, callback) => {
      if (!value && this.userInfo.checkedSystem.includes("GSAN")) {
        callback(new Error("Nhóm quyền giám sát an ninh là bắt buộc"));
      } else {
        callback();
      }
    };
    const validateGroupsUuid = (rule, value, callback) => {
      if (!value && this.userInfo.checkedSystem.includes("XPGT")) {
        callback(new Error("Đội xử phạt giao thông là bắt buộc"));
      } else {
        callback();
      }
    };
    const validateGroupsUuidGsan = (rule, value, callback) => {
      if (!value && this.userInfo.checkedSystem.includes("GSAN")) {
        callback(new Error("Đội giám sát an ninh là bắt buộc"));
      } else {
        callback();
      }
    };
    const validateRoleCodeEdit = (rule, value, callback) => {
      if (!value && this.userInfo.checkedSystemEdit.includes("XPGT")) {
        callback(new Error("Nhóm quyền xử phạt giao thông là bắt buộc"));
      } else {
        callback();
      }
    };
    const validateRoleCodeGSANEdit = (rule, value, callback) => {
      if (!value && this.userInfo.checkedSystemEdit.includes("GSAN")) {
        callback(new Error("Nhóm quyền giám sát an ninh là bắt buộc"));
      } else {
        callback();
      }
    };
    const validateGroupsUuidEdit = (rule, value, callback) => {
      if (!value && this.userInfo.checkedSystemEdit.includes("XPGT")) {
        callback(new Error("Đội xử phạt giao thông là bắt buộc"));
      } else {
        callback();
      }
    };
    const validateGroupsUuidGsanEdit = (rule, value, callback) => {
      if (!value && this.userInfo.checkedSystemEdit.includes("GSAN")) {
        callback(new Error("Đội giám sát an ninh là bắt buộc"));
      } else {
        callback();
      }
    };

    return {
      file: {
        data: null,
      },
      flag_active: null,
      layout: "first, prev, pager, next, last",
      url: null,
      imagecropperShow: false,
      imagecropperKey: 0,
      uploadReady: true,
      avatarHeight: 150,
      avatarWith: 150,
      actionUploadImage: "",
      loading_delete_all: false,
      avatar: null,
      loading: true,
      loading_user: false,
      loading_add: false,
      loading_edit: false,
      loading_delete: false,
      loading_add_disable: false,
      loading_edit_disable: false,
      loading_delete_disable: false,
      user_default: user_default,
      dialogAdd: false,
      dialogEdit: false,
      usersList: [],
      userDetail: {},
      rolesLst: [],
      rolesGSANLst: [],
      groupsUuid: [],
      groupsUuidGSAN: [],
      base_url_upload: process.env.VUE_APP_UPLOAD_URL,
      total: 0,
      searchKeyword: null,
      multipleSelection: [],
      userInfo: {
        uuid: "",
        email: "",
        mobile: "",
        userName: "",
        fullName: "",
        matchingPassword: "",
        password: "",
        birthDay: "",
        groupsUuid: "",
        policeRank: "",
        groupsUuidGsan: "",
        position: "",
        roleCodeGSAN: "",
        roleCode: "",
        systemType: null,
        checkedSystem: [],
        checkedSystemEdit: [],
      },
      userLogin: this.$store.state.user.userName,
      oldRoleCode: "",
      oldRoleCodeGSAN: "",
      query: {
        page: 1,
        size: 20,
        keyword: this.searchKeyword,
      },
      systemList: [
        {
          value: 'XPGT',
          label: 'Xử phạt giao thông',
        },
        {
          value: 'GSAN',
          label: 'Giám sát an ninh',
        }
      ],
      rules: {
        userName: [
          {
            required: true,
            message: "Tên đăng nhập là bắt buộc",
            trigger: "blur",
          },
          { max: 255, message: "Tối đa 255 ký tự", trigger: "blur" },
        ],
        fullName: [
          { required: true, message: "Họ tên là bắt buộc", trigger: "blur" },
          { max: 255, message: "Tối đa 255 ký tự", trigger: "blur" },
        ],
        mobile: [
          // { required: true, message: "Số điện thoại là bắt buộc", trigger: "blur" },
          { validator: validateMobile },
        ],
        email: [
          // { required: true, message: "Email là bắt buộc", trigger: "blur" },
          { validator: validateEmail, trigger: "blur" },
        ],
        password: [
          { required: true, message: "Mật khẩu là bắt buộc", trigger: "blur" },
          { min: 4, message: "Mật khẩu tối thiểu 4 ký tự", trigger: "blur" },
        ],
        checkedSystem: [
          { required: true, message: "Hệ thống là bắt buộc", trigger: "blur" },
          { validator: validateSystem, trigger: "change" }
        ],
        matchingPassword: [{ validator: validatePass2, trigger: "blur" }],
        roleCode: [{ validator: validateRoleCode }],
        roleCodeGSAN: [{ validator: validateRoleCodeGSAN }],
        groupsUuid: [{ validator: validateGroupsUuid }],
        groupsUuidGsan: [{ validator: validateGroupsUuidGsan }],

        policeRank: [
          { required: true, message: "Cấp bậc là bắt buộc", trigger: "blur" },
          { max: 255, message: "Tối đa 255 ký tự", trigger: "blur" },
        ],
        position: [
          { required: true, message: "Chức vụ là bắt buộc", trigger: "blur" },
          { max: 255, message: "Tối đa 255 ký tự", trigger: "blur" },
        ],
        birthDay: [
          { required: true, message: "Ngày sinh là bắt buộc", trigger: "blur" },
        ],
      },

      rulesEdit: {
        userName: [
{
            required: true,
            message: "Tên đang nhập là bắt buộc",
            trigger: "blur",
          },
        ],
        password: [
          { min: 4, message: "Mật khẩu tối thiểu 4 ký tự", trigger: "blur" },
          { validator: validatePassEdit2, trigger: "blur" },
        ],
        matchingPassword: [{ validator: validatePassEdit, trigger: "blur" }],
        fullName: [
          { required: true, message: "Họ tên là bắt buộc", trigger: "blur" },
          { max: 255, message: "Tối đa 255 ký tự", trigger: "blur" },
        ],
        mobile: [
          // { required: true, message: "Số điện thoại là bắt buộc", trigger: "blur" },
          { validator: validateMobile },
        ],
        email: [
          // { required: true, message: "Email là bắt buộc", trigger: "blur" },
          { validator: validateEmail, trigger: "blur" },
        ],
        checkedSystemEdit: [{ validator: validateSystem, trigger: "change" }],
        roleCode: [{ validator: validateRoleCodeEdit }],
        roleCodeGSAN: [{ validator: validateRoleCodeGSANEdit }],
        groupsUuid: [{ validator: validateGroupsUuidEdit }],
        groupsUuidGsan: [{ validator: validateGroupsUuidGsanEdit }],
        policeRank: [
          { required: true, message: "Cấp bậc là bắt buộc", trigger: "blur" },
          { max: 255, message: "Tối đa 255 ký tự", trigger: "blur" },
        ],
        position: [
          { required: true, message: "Chức vụ là bắt buộc", trigger: "blur" },
          { max: 255, message: "Tối đa 255 ký tự", trigger: "blur" },
        ],
        birthDay: [
          { required: true, message: "Ngày sinh là bắt buộc", trigger: "blur" },
        ],
      },
      groupsUuidOwner: [],
      groupsUuidOwnerEdit: [],
      position:[],
      rank:[],
      isAdmin: false,
      canRead: false,
      canCreate: false,
      canUpdate: false,
      canDelete: false,
    };
  },

  created() {
    this.isAdmin = this.$root.checkAdmin(this.$route.fullPath);
    this.canRead = this.$root.checkRole(this.$route.fullPath, "canRead");
    this.canCreate = this.$root.checkRole(this.$route.fullPath, "canCreate");
    this.canUpdate = this.$root.checkRole(this.$route.fullPath, "canUpdate");
    this.canDelete = this.$root.checkRole(this.$route.fullPath, "canDelete");
    this.init();
  },

  methods: {
    async init() {
      this.getRolesGSANList();
      this.getList();
      this.getGroupsUuid();
      this.getGroupsUuidGSAN();
      this.getGroupsUuidOwner();
      this.getPositions();
      this.getRank()
    },
    async getRolesList() {
      let result = await roleResource.list();
      if (result && result.data) {
        this.rolesLst = result.data.filter(e => e.roleCode !== 'XPGT_ADMIN');
      }
    },
    async getRolesGSANList() {
      let result = await roleResourceGsan.list();
      if (result && result.data) {
        this.rolesGSANLst = result.data.filter(e => e.roleCode !== 'XPGT_ADMIN');
      }
    },
    async getGroupsUuid() {
      let queryCustom = {
        page: 0,
        size: 100,
        systemType: "0", // He thong XPGT
      };
      let result = await groupResource.list(queryCustom);
      if (result && result.data) {
        this.groupsUuid = result.data;
      }
    },
    async getGroupsUuidGSAN() {
      let queryCustom = {
        page: 0,
        size: 100,
        systemType: "1", // He thong XPGT
      };
      let result = await groupResource.list(queryCustom);
      if (result && result.data) {
        this.groupsUuidGSAN = result.data;
      }
    },
    async getGroupsUuidOwner() {
      let result = await groupOwnerResource.list();
      if (result && result.data) {
        this.groupsUuidOwner.push(result.data);
      }
    },
    async getPositions(){
      let queryCustom = {
        catType: "POSITION",
      };
      let result = await categoryResource.list(queryCustom)
      if(result && result.data){
        this.position = result.data
      }
    },
    async getRank(){
      let queryCustom = {
        catType: "POLICE_RANK",
      };
      let result = await categoryResource.list(queryCustom)
      if(result && result.data){
        this.rank = result.data
      }
    },
    async getList() {
      this.loading = true;
      if(this.searchKeyword) {
        this.searchKeyword = this.searchKeyword.trim()
      }
      let queryCustom = {
        currentPage: this.query.page,
        rowsPerPage: this.query.size,
        type: "0,2", // He thong XPGT
        keyword: this.searchKeyword ? this.searchKeyword.trim() : "",
      };

      const { data, total } = await getUsersPaginated(queryCustom);
      if (data) {
        this.usersList = data;
      } else {
        this.usersList = [];
      }
      if (total) {
        this.total = total;
      } else {
        this.total = 0;
      }

      this.loading = false;
    },
    isLetter(e) {
      let char = String.fromCharCode(e.keyCode); // Get the character
      if (/^[A-Za-z]+$/.test(char)) return true;
      // Match with regex
      else e.preventDefault(); // If not match, don't add to input text
    },

    canSelectRow(row, index) {
      return row.userName !== "admin" && row.userName !== this.userLogin;
    },

    closeDelete() {
      this.$refs.multipleTable.clearSelection();
      this.multipleSelection = [];
    },

    async rowClicked(row) {
      this.flag_active = row.uuid;
      this.userDetail = row;
      if (this.userDetail) {
        document.getElementById("user-table").style.width =
          "calc(100% - 400px)";
        setTimeout(function () {
          document.getElementById("detail-user").style.display = "block";
          document.getElementById("detail-user").style.width = "375px";
        }, 500);
      }
      // const { data } = await userResource.get(row.uuid);
      // if (data) {
      //   this.userDetail = data;
      //   if (this.userDetail) {
      //     document.getElementById("user-table").style.width = 'calc(100% - 400px)';
      //     setTimeout(function(){
      //       document.getElementById("detail-user").style.display = 'block';
      //       document.getElementById("detail-user").style.width = '375px';
      //     },500);
      //   }
      // } else {
      //   this.$message({
      //     message: "Người dùng không tồn tại",
      //     type: "error",
      //   });
      //   this.handleFilter();
      // }
    },

    closeDetail() {
      document.getElementById("detail-user").style.display = "none";
      document.getElementById("detail-user").style.width = "0";
      document.getElementById("user-table").style.width = "calc(100%)";
    },
    getGroupName(groupsUuid) {
      let groupFilter = this.groupsUuid.filter(
        (group) => group.uuid == groupsUuid
      )[0];
      let name = "Chưa có đội";
      if (groupFilter) {
        name = groupFilter.name;
      }
      return name;
    },
    destroy(user) {
      this.$confirm(
        "Bạn có chắc chắn muốn xóa người dùng " + user.fullName + " này ",
        "",
        {
          confirmButtonText: "Xác nhận",
          cancelButtonText: "Thoát",
          type: "warning",
        }
      )
        .then(() => {
          this.loading_delete = true;
          userResource
            .destroy(user.uuid)
            .then((response) => {
              this.loading_user = false;
              this.loading_delete = false;
              if (response.status == 200) {
                this.removeRoleUser(user.uuid);
              }
            })
            .catch((err) => {
              this.loading_delete = false;
              this.loading_user = false;
              console.log(err);
              this.$message({
                type: "error",
                message: "Có lỗi xảy ra vui lòng thử lại sau!",
              });
            });
        })
        .catch(() => {});
    },
    removeRoleUser(user_id) {
      roleUserResource
        .destroy(user_id)
        .then((response) => {
          roleUserResourceGsan
            .destroy(user_id)
            .then((response) => {
              this.getList();
              this.userDetail = {};
              this.closeDetail();
              this.$message({
                type: "success",
                message: "Xóa người dùng thành công",
              });
            })
            .catch((err) => {
              console.log(err);
            });
        })
        .catch((err) => {
          console.log(err);
        });
    },
    removeMultiRoleUser(list_user_id) {
      roleUserResource
        .destroyMulti(list_user_id)
        .then((response) => {
          roleUserResourceGsan
            .destroyMulti(list_user_id)
            .then((response) => {
              this.getList();
              this.userDetail = {};
              this.closeDetail();
              this.$message({
                type: "success",
                message: "Xóa người dùng thành công",
              });
            })
            .catch((err) => {
              console.log(err);
            });
        })
        .catch((err) => {
          console.log(err);
        });
    },
    destroyMulti() {
      this.$confirm("Bạn có chắc chắn muốn xóa lựa chọn này ", "", {
        confirmButtonText: "Xác nhận",
        cancelButtonText: "Thoát",
        type: "warning",
      })
        .then(() => {
          this.loading_delete_all = true;
          let params = this.multipleSelection.map(function (val) {
            return val.uuid;
          });
          params = {
            uuids: params,
          };
          userResource
            .destroyMulti(params)
            .then((response) => {
              this.loading_delete_all = false;
              if (response.status == 200) {
                this.multipleSelection = [];
                this.removeMultiRoleUser(params);
                // this.getList();
                // this.$message({
                //   type: 'success',
                //   message: 'Xóa người dùng thành công'
                // });
              }
            })
            .catch(() => {
              this.loading_delete_all = false;
              // this.$message({
              //     type: 'error',
              //     message: 'Có lỗi xảy ra vui lòng thử lại sau!'
              // });
            });
        })
        .catch(() => {});
    },

    handleFilter() {
      if (this.searchKeyword) {
        this.searchKeyword = this.searchKeyword.trim();
      }
      this.query.page = 1;
      this.getList();
    },

    async handleCreate() {
      this.resetDialog();
      await this.getRolesList();
      await this.getGroupsUuid();
      await this.getGroupsUuidGSAN();
      this.dialogAdd = true;
      // this.$refs.addForm.clearValidate();
    },

    async handleEdit(data) {
      this.userInfo = {
        uuid: data.uuid,
        email: data.email,
        mobile: data.mobile,
        avatar: data.avatar,
        userName: data.userName,
        fullName: data.fullName,
        matchingPassword: data.matchingPassword,
        password: data.password,
        birthDay: data.birthDay,
        groupsUuid: data.groupsUuid,
        groupsUuidGsan: data.groupsUuidGsan,
        policeRank: data.policeRank,
        position: data.position,
        systemType: data.systemType,
        roleCodeGSAN: data.roleCodeGSAN,
        roleCode: data.roleCode,
        checkedSystem: [],
        checkedSystemEdit: [],
      };
      if (this.userInfo.roleCode) {
        this.userInfo.roleCode = this.userInfo.roleCode.roleCode;
      }
      if (this.userInfo.roleCodeGSAN) {
        this.userInfo.roleCodeGSAN = this.userInfo.roleCodeGSAN.roleCode;
      }
      if (!this.isAdmin) {
        this.groupsUuidOwnerEdit = [];
        this.groupsUuidOwnerEdit.push(this.groupsUuidOwner[0]);
        if (this.userInfo.groupsUuid != this.groupsUuidOwner[0].uuid) {
          this.groupsUuidOwnerEdit.push(
            this.getGroups(this.userInfo.groupsUuid)[0]
          );
        }
      }
      if (this.userInfo.systemType == 0) {
        this.userInfo.checkedSystemEdit = ["XPGT"];
      } else if (this.userInfo.systemType == 1) {
        this.userInfo.checkedSystemEdit = ["GSAN"];
      } else {
        this.userInfo.checkedSystemEdit = ["XPGT", "GSAN"];
      }
      this.url = data.avatar;
      if (data.roleCode) {
        this.oldRoleCode = data.roleCode.roleCode;
      }
      if (data.roleCodeGSAN) {
        this.oldRoleCodeGSAN = data.roleCodeGSAN.roleCode;
      }
      if (this.userInfo.birthDay) {
        this.userInfo.birthDay = this.userInfo.birthDay.replaceAll("/", "-");
        this.userInfo.birthDay = moment(
          this.userInfo.birthDay,
          "DD-MM-YYYY"
        ).format("MM-DD-YYYY");
      }
      this.dialogEdit = true;
      this.$nextTick(() => {
        this.$refs["editForm"].clearValidate();
      });

      await this.getRolesList();
      await this.getGroupsUuid();
      await this.getGroupsUuidGSAN();
    },

    addUser() {
      this.userInfo = this.$root.trimData(this.userInfo);
      this.$refs.addForm.validate((valid) => {
        if (valid) {
          const paramRegister = _.cloneDeep(this.userInfo);
          // const paramRegister = this.userInfo
          paramRegister.avatar = this.url;
          if (this.userInfo.checkedSystem.length === 2) {
            paramRegister.systemType = 2; // 2 he thong
            this.userInfo.systemType = 2;
          } else if (this.userInfo.checkedSystem.includes("XPGT")) {
            paramRegister.systemType = 0;
            this.userInfo.systemType = 0;
          } else {
            paramRegister.systemType = 1;
            this.userInfo.systemType = 1;
          }
          paramRegister.birthDay = moment(paramRegister.birthDay).format(
            "DD/MM/YYYY"
          );
          this.loading_add = true;
          userResource
            .store(paramRegister)
            .then((response) => {
              if (response.status === 200 || response.status === 201) {
                const data = response.data;
                if (this.userInfo.systemType == 1) {
                  const paramRoleUser = {
                    uuidUser: data.uuid.trim(),
                    roleCode: this.userInfo.roleCodeGSAN,
                  };
                  roleUserResourceGsan
                    .store(paramRoleUser)
                    .then((response) => {
                      this.loading_add = false;
                      if (response.status === 200 || response.status === 201) {
                        this.$message({
                          type: "success",
                          message: "Thêm mới thành công",
                        });
                        this.resetDialog();
                        this.dialogAdd = false;
                      }
                    })
                    .catch((err) => {
                      this.loading_add = false;
                      console.log(err);
                    });
                }
                if (this.userInfo.systemType == 0) {
                  const paramRoleUser = {
                    uuidUser: data.uuid.trim(),
                    roleCode: this.userInfo.roleCode,
                  };
                  roleUserResource
                    .store(paramRoleUser)
                    .then((response) => {
                      this.loading_add = false;
                      if (response.status === 200 || response.status === 201) {
                        this.$message({
                          type: "success",
                          message: "Thêm mới thành công",
                        });
                        this.handleFilter();
                        this.resetDialog();
                        this.dialogAdd = false;
                      }
                    })
                    .catch((err) => {
                      this.loading_add = false;
                      console.log(err);
                    });
                }
                if (this.userInfo.systemType == 2) {
                  const paramRoleUser = {
                    uuidUser: data.uuid.trim(),
                    roleCode: this.userInfo.roleCodeGSAN,
                  };
                  roleUserResourceGsan
                    .store(paramRoleUser)
                    .then((response) => {
                      this.loading_add = false;
                      if (response.status === 200 || response.status === 201) {
                        const paramRoleUserXpgt = {
                          uuidUser: data.uuid.trim(),
                          roleCode: this.userInfo.roleCode,
                        };
                        roleUserResource
                          .store(paramRoleUserXpgt)
                          .then((response) => {
                            this.loading_add = false;
                            if (
                              response.status === 200 ||
                              response.status === 201
                            ) {
                              this.$message({
                                type: "success",
                                message: "Thêm mới thành công",
                              });
                              this.handleFilter();
                              this.resetDialog();
                              this.dialogAdd = false;
                            }
                          })
                          .catch((err) => {
                            this.loading_add = false;
                            console.log(err);
                          });
                      }
                    })
                    .catch((err) => {
                      this.loading_add = false;
                      console.log(err);
                    });
                }
              }
            })
            .catch(() => {
              this.loading_add = false;
            });
        } else {
          return false;
        }
      });
    },

    editUser() {
      this.userInfo = this.$root.trimData(this.userInfo);
      this.$refs.editForm.validate((valid) => {
        if (valid) {
          this.loading_edit = true;
          this.loading_delete_disable = true;
          const paramRegister = _.cloneDeep(this.userInfo);
          if (this.userInfo.checkedSystemEdit.length == 2) {
            paramRegister.systemType = 2; // 2 he thong
            this.userInfo.systemType = 2;
          } else if (this.userInfo.checkedSystemEdit.includes("XPGT")) {
            paramRegister.systemType = 0;
            this.userInfo.systemType = 0;
            paramRegister.groupsUuidGsan = "";
          } else {
            paramRegister.systemType = 1;
            this.userInfo.systemType = 1;
            paramRegister.groupsUuid = "";
          }
          console.log();
          paramRegister.avatar = this.url;
          paramRegister.birthDay = moment(paramRegister.birthDay).format(
            "DD/MM/YYYY"
          );
          userResource
            .update(this.userInfo.uuid, paramRegister)
            .then((response) => {
              if (response.status === 200 || response.status === 201) {
                this.userDetail = response.data;

                if (this.userInfo.systemType == 0) {
                  if (!this.oldRoleCode) {
                    let paramRoleUserXpgt = {
                      uuidUser: this.userInfo.uuid,
                      roleCode: this.userInfo.roleCode,
                    };
                    roleUserResource
                      .store(paramRoleUserXpgt)
                      .then((response) => {
                        this.loading_edit = false;
                        this.loading_delete_disable = false;
                        if (
                          response.status === 200 ||
                          response.status === 201
                        ) {
                          roleUserResourceGsan
                            .destroy(this.userInfo.uuid)
                            .then((response) => {});
                          this.handleFilter();
                          this.closeDetail();
                          this.resetDialog();
                          this.$message({
                            type: "success",
                            message: "Cập nhật thành công",
                          });
                          this.dialogEdit = false;
                        }
                      })
                      .catch((err) => {
                        this.loading_edit = false;
                        this.loading_delete_disable = false;
                        console.log(err);
                      });
                  } else {
                    if (this.oldRoleCode == this.userInfo.roleCode) {
                      this.loading_edit = false;
                      this.loading_delete_disable = false;
                      this.dialogEdit = false;
                      roleUserResourceGsan
                        .destroy(this.userInfo.uuid)
                        .then((response) => {
                          this.handleFilter();
                          this.closeDetail();
                          this.resetDialog();
                          this.$message({
                            type: "success",
                            message: "Cập nhật thành công",
                          });
                          return;
                        });
                    } else {
                      let paramRoleUserXpgt = {
                        uuidUser: this.userInfo.uuid,
                        roleCode: this.oldRoleCode,
                        newRole: this.userInfo.roleCode,
                      };
                      roleUserResource
                        .updateOnlyUrl(paramRoleUserXpgt)
                        .then((response) => {
                          this.loading_edit = false;
                          this.loading_delete_disable = false;
                          if (response.status === 200) {
                            roleUserResourceGsan
                              .destroy(this.userInfo.uuid)
                              .then((response) => {});
                            this.dialogEdit = false;
                            this.handleFilter();
                            this.closeDetail();
                            this.$message({
                              type: "success",
                              message: "Cập nhật thành công",
                            });
                          }
                        })
                        .catch((err) => {
                          this.loading_edit = false;
                          this.loading_delete_disable = false;
                          console.log(err);
                        });
                    }
                  }
                } else if (this.userInfo.systemType == 1) {
                  if (!this.oldRoleCodeGSAN) {
                    const data = response.data;
                    let paramRoleUserGsan = {
                      uuidUser: this.userInfo.uuid,
                      roleCode: this.userInfo.roleCodeGSAN,
                    };
                    roleUserResourceGsan
                      .store(paramRoleUserGsan)
                      .then((response) => {
                        this.loading_edit = false;
                        this.loading_delete_disable = false;
                        if (
                          response.status === 200 ||
                          response.status === 201
                        ) {
                          roleUserResource
                            .destroy(this.userInfo.uuid)
                            .then((response) => {});
                          this.handleFilter();
                          this.closeDetail();
                          this.resetDialog();
                          this.$message({
                            type: "success",
                            message: "Cập nhật thành công",
                          });
                          this.dialogEdit = false;
                        }
                      })
                      .catch((err) => {
                        this.loading_edit = false;
                        this.loading_delete_disable = false;
                        console.log(err);
                      });
                  } else {
                    if (this.oldRoleCodeGSAN == this.userInfo.roleCodeGSAN) {
                      this.loading_edit = false;
                      this.loading_delete_disable = false;
                      this.dialogEdit = false;
                      roleUserResource
                        .destroy(this.userInfo.uuid)
                        .then((response) => {
                          this.handleFilter();
                          this.closeDetail();
                          this.resetDialog();
                          this.$message({
                            type: "success",
                            message: "Cập nhật thành công",
                          });
                          return;
                        });
                    } else {
                      let paramRoleUserGsan = {
                        uuidUser: this.userInfo.uuid,
                        roleCode: this.oldRoleCodeGSAN,
                        newRole: this.userInfo.roleCodeGSAN,
                      };
                      roleUserResourceGsan
                        .updateOnlyUrl(paramRoleUserGsan)
                        .then((response) => {
                          this.loading_edit = false;
                          this.loading_delete_disable = false;
                          if (response.status === 200) {
                            roleUserResource
                              .destroy(this.userInfo.uuid)
                              .then((response) => {});
                            this.dialogEdit = false;
                            this.handleFilter();
                            this.closeDetail();
                            this.$message({
                              type: "success",
                              message: "Cập nhật thành công",
                            });
                          }
                        })
                        .catch((err) => {
                          this.loading_edit = false;
                          this.loading_delete_disable = false;
                          console.log(err);
                        });
                    }
                  }
                } else {
                  if (!this.oldRoleCode && !this.oldRoleCodeGSAN) {
                    let paramRoleUserXpgt = {
                      uuidUser: this.userInfo.uuid,
                      roleCode: this.userInfo.roleCode,
                    };
                    roleUserResource
                      .store(paramRoleUserXpgt)
                      .then((response) => {
                        this.loading_edit = false;
                        this.loading_delete_disable = false;
                        if (
                          response.status === 200 ||
                          response.status === 201
                        ) {
                          let paramRoleUserGsan = {
                            uuidUser: this.userInfo.uuid,
                            roleCode: this.userInfo.roleCodeGSAN,
                          };
                          roleUserResourceGsan
                            .store(paramRoleUserGsan)
                            .then((response) => {
                              this.loading_edit = false;
                              this.loading_delete_disable = false;
                              if (
                                response.status === 200 ||
                                response.status === 201
                              ) {
                                this.dialogEdit = false;
                                this.handleFilter();
                                this.closeDetail();
                                this.$message({
                                  type: "success",
                                  message: "Cập nhật thành công",
                                });
                                this.dialogEdit = false;
                              }
                            })
                            .catch((err) => {
                              this.loading_edit = false;
                              this.loading_delete_disable = false;
                              console.log(err);
                            });
                        }
                      })
                      .catch((err) => {
                        this.loading_edit = false;
                        this.loading_delete_disable = false;
                        console.log(err);
                      });
                  } else if (!this.oldRoleCode && this.oldRoleCodeGSAN) {
                    let paramRoleUserXpgt = {
                      uuidUser: this.userInfo.uuid,
                      roleCode: this.userInfo.roleCode,
                    };
                    roleUserResource
                      .store(paramRoleUserXpgt)
                      .then((response) => {
                        this.loading_edit = false;
                        this.loading_delete_disable = false;
                        if (
                          response.status === 200 ||
                          response.status === 201
                        ) {
                          this.dialogEdit = false;
                          this.handleFilter();
                          this.closeDetail();
                          this.$message({
                            type: "success",
                            message: "Cập nhật thành công",
                          });
                          this.dialogEdit = false;
                        }
                      })
                      .catch((err) => {
                        this.loading_edit = false;
                        this.loading_delete_disable = false;
                        console.log(err);
                      });
                  } else if (this.oldRoleCode && !this.oldRoleCodeGSAN) {
                    let paramRoleUserXpgt = {
                      uuidUser: this.userInfo.uuid,
                      roleCode: this.userInfo.roleCodeGSAN,
                    };
                    roleUserResourceGsan
                      .store(paramRoleUserXpgt)
                      .then((response) => {
                        this.loading_edit = false;
                        this.loading_delete_disable = false;
                        if (
                          response.status === 200 ||
                          response.status === 201
                        ) {
                          this.dialogEdit = false;
                          this.handleFilter();
                          this.closeDetail();
                          this.$message({
                            type: "success",
                            message: "Cập nhật thành công",
                          });
                          this.dialogEdit = false;
                        }
                      })
                      .catch((err) => {
                        this.loading_edit = false;
                        this.loading_delete_disable = false;
                        console.log(err);
                      });
                  } else {
                    if (
                      this.oldRoleCodeGSAN == this.userInfo.roleCodeGSAN &&
                      this.oldRoleCode == this.userInfo.roleCode
                    ) {
                      this.loading_edit = false;
                      this.loading_delete_disable = false;
                      this.dialogEdit = false;
                      this.handleFilter();
                      this.closeDetail();
                      this.resetDialog();
                      this.$message({
                        type: "success",
                        message: "Cập nhật thành công",
                      });
                      return;
                    } else if (
                      this.oldRoleCodeGSAN != this.userInfo.roleCodeGSAN &&
                      this.oldRoleCode != this.userInfo.roleCode
                    ) {
                      let paramRoleUserXpgt = {
                        uuidUser: this.userInfo.uuid,
                        roleCode: this.oldRoleCode,
                        newRole: this.userInfo.roleCode,
                      };
                      roleUserResource
                        .updateOnlyUrl(paramRoleUserXpgt)
                        .then((response) => {
                          this.loading_delete_disable = false;
                          if (response.status === 200) {
                            let paramRoleUserGsan = {
                              uuidUser: this.userInfo.uuid,
                              roleCode: this.oldRoleCodeGSAN,
                              newRole: this.userInfo.roleCodeGSAN,
                            };
                            roleUserResourceGsan
                              .updateOnlyUrl(paramRoleUserGsan)
                              .then((response) => {
                                this.loading_edit = false;
                                this.loading_delete_disable = false;
                                if (response.status === 200) {
                                  this.dialogEdit = false;
                                  this.handleFilter();
                                  this.closeDetail();
                                  this.$message({
                                    type: "success",
                                    message: "Cập nhật thành công",
                                  });
                                }
                              })
                              .catch((err) => {
                                this.loading_edit = false;
                                this.loading_delete_disable = false;
                                console.log(err);
                              });
                          }
                        })
                        .catch((err) => {
                          this.loading_edit = false;
                          this.loading_delete_disable = false;
                          console.log(err);
                        });
                    } else if (
                      this.oldRoleCodeGSAN != this.userInfo.roleCodeGSAN &&
                      this.oldRoleCode == this.userInfo.roleCode
                    ) {
                      let paramRoleUserGsan = {
                        uuidUser: this.userInfo.uuid,
                        roleCode: this.oldRoleCodeGSAN,
                        newRole: this.userInfo.roleCodeGSAN,
                      };
                      roleUserResourceGsan
                        .updateOnlyUrl(paramRoleUserGsan)
                        .then((response) => {
                          this.loading_edit = false;
                          this.loading_delete_disable = false;
                          if (response.status === 200) {
                            this.dialogEdit = false;
                            this.handleFilter();
                            this.closeDetail();
                            this.$message({
                              type: "success",
                              message: "Cập nhật thành công",
                            });
                          }
                        })
                        .catch((err) => {
                          this.loading_edit = false;
                          this.loading_delete_disable = false;
                          console.log(err);
                        });
                    } else if (
                      this.oldRoleCodeGSAN == this.userInfo.roleCodeGSAN &&
                      this.oldRoleCode != this.userInfo.roleCode
                    ) {
                      let paramRoleUserXpgt = {
                        uuidUser: this.userInfo.uuid,
                        roleCode: this.oldRoleCode,
                        newRole: this.userInfo.roleCode,
                      };
                      roleUserResource
                        .updateOnlyUrl(paramRoleUserXpgt)
                        .then((response) => {
                          this.loading_edit = false;
                          this.loading_delete_disable = false;
                          if (response.status === 200) {
                            this.dialogEdit = false;
                            this.handleFilter();
                            this.closeDetail();
                            this.$message({
                              type: "success",
                              message: "Cập nhật thành công",
                            });
                          }
                        })
                        .catch((err) => {
                          this.loading_edit = false;
                          this.loading_delete_disable = false;
                          console.log(err);
                        });
                    }
                  }
                }
              }
            })
            .catch(() => {
              this.loading_edit = false;
              this.loading_delete_disable = false;
            });
        } else {
          return false;
        }
      });
    },
    getGroups(id) {
      return this.groupsUuid.filter((group) => group.uuid == id);
    },
    resetDialog() {
      this.url = null;
      this.oldRoleCode = "";
      this.oldRoleCodeGSAN = "";
      this.userInfo = {
        uuid: "",
        email: "",
        mobile: "",
        userName: "",
        fullName: "",
        matchingPassword: "",
        password: "",
        birthDay: "",
        groupsUuid: "",
        policeRank: "",
        position: "",
        groupsUuidGsan: "",
        systemType: null,
        checkedSystem: [],
        checkedSystemEdit: [],
      };
    },

    closeDialog(formName) {
      this.$refs[formName].clearValidate();
      this.$refs[formName].resetFields();
    },

    toggleSelection(rows) {
      if (rows) {
        rows.forEach((row) => {
          this.$refs.multipleTable.toggleRowSelection(row);
        });
      } else {
        this.$refs.multipleTable.clearSelection();
      }
    },
    handleSelectionChange(val) {
      this.multipleSelection = val;
    },
    fileSelected(e) {
      const file = e.target.files[0];
      if (file) {
        this.checkFile(file)
          .then(() => {
            const fr = new FileReader();
            this.file.data = file;
            this.imagecropperShow = true;
            this.resetUploadFile();
          })
          .catch((err) => {
            this.$message({
              message: err,
              type: "error",
              duration: 5 * 1000,
              showClose: true,
            });
          });
      }
    },
    checkFile(file) {
      return new Promise((resolve, reject) => {
        const self = this;
        if (file.type.indexOf("image") === -1) {
          return reject("Định dạng không cho phép");
        }
        if (file.size > 5242880) {
          return reject("Vượt quá dung lượng cho phép tối đa 5Mb");
        }
        const reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = function (e) {
          const image = new Image();
          image.src = e.target.result;
          image.onload = function () {
            const height = this.height;
            const width = this.width;
            if (height < self.avatarHeight || width < self.avatarWith) {
              return reject(
                "Kích thước hình ảnh quá nhỏ. Tối thiểu là: " +
                  self.avatarWith +
                  "*" +
                  self.avatarHeight
              );
            }
            return resolve();
          };
        };
      });
    },
    closeChangeAvatar() {},
    cropSuccess(data) {
      if (data.data[0].fileDownloadUri) this.url = data.data[0].fileDownloadUri;
    },
    resetUploadFile() {
      this.uploadReady = false;
      this.$nextTick(() => {
        this.uploadReady = true;
      });
    },
    handleClick(e) {
      if (e.target !== this.$refs.file) {
        e.preventDefault();
        if (document.activeElement !== this.$refs) {
          this.$refs.file.click();
        }
      }
    },
    tableRowClassName(row) {
      if (row.row.uuid == this.flag_active) {
        return "active-row";
      }
      return "";
    },
  },
};
</script>

<style lang="scss" scoped>
.required:before {
  content: '*';
  color: #F56C6C;
  margin-right: 4px;
}
</style>

<style lang="scss">
.user-page-config.config-page .el-dialog{
  margin-top: 30px !important;
}
.user-page {
  .is-error {
    .el-checkbox__inner {
      border: 1px solid red;
    }
  }
  .el-checkbox-group {
    display: flex;
    .el-checkbox {
      width: 33.33%;
    }
  }
  .el-dialog__wrapper {
    .el-checkbox__inner:after {
      width: 6px;
      height: 14px;
      left: 8px;
    }
    .el-checkbox__inner {
      width: 24px;
      height: 24px;
    }
  }
  .el-form-item {
    margin-bottom: 15px;
  }
  .el-input input {
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    border: solid 1px #9999;
  }
  .el-icon-camera-solid {
    font-size: 25px;
    color: #9a9a9a;
    position: relative;
    top: -50px;
    left: 54px;
    background: #dfdfdf;
    border-radius: 50%;
    padding: 8px;
    border: 1px solid white;
  }
  .img_avatar {
    text-align: center;
    padding-top: 25px;
    img {
      border-radius: 50%;
    }
  }
  .el-dialog {
    margin-top: 80px !important;
  }
  .item-left {
    width: 48%;
    float: left;
    margin-right: 2%;
  }
  .item-right {
    width: 48%;
    float: left;
    margin-left: 2%;
  }
  .block-item {
    width: 100%;
    float: left;
  }
  .el-dialog__header {
    padding: 0;
    background: #006fe3;
    height: 40px;
    line-height: 40px;
    text-align: center;
    .el-dialog__title {
      color: white;
    }
    .el-icon-close {
      color: white;
      font-size: 22px;
      top: -10px;
      position: relative;
    }
  }
  .el-dialog__body {
    .el-form-item__label {
      padding-bottom: 0;
      font-size: 14px;
      color: #363030;
      font-weight: 500 !important;
    }
  }
  .el-dialog__footer {
    clear: both;
    padding-bottom: 25px;
    .el-button--primary {
      background: #1f7ff5;
      height: 40px;
      border-radius: 5px;
      width: 147px;
      text-transform: uppercase;
      font-weight: bold;
      border-color: #1f7ff5;
    }
    .el-button--danger {
      background: #9e9e9e;
      height: 40px;
      border-radius: 5px;
      width: 147px;
      text-transform: uppercase;
      font-weight: bold;
      border-color: #9e9e9e;
      float: left;
    }
  }
  #select-all-delete {
    clear: both;
    height: 63px;
    line-height: 63px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ff4646;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    .el-icon-close {
      font-size: 25px;
      margin-left: 20px;
      margin-right: 35px;
      position: relative;
      top: 4px;
      cursor: pointer;
    }
    button {
      background: #e00000;
      border: initial;
      border-radius: 5px;
      float: right;
      display: inline-block;
      margin-top: 15px;
      margin-right: 15px;
    }
  }
  .action {
    margin-top: 40px;
    .el-button--primary {
      background: #64789a;
      border: initial;
      border-radius: 4px;
      width: 125px;
      height: 40px;
    }
    .el-button--success {
      background: #ff6161;
      border: initial;
      border-radius: 4px;
      width: 125px;
      height: 40px;
      float: right;
    }
  }
  #detail-user {
    position: relative;
    /* transition: width 1s;
      -moz-transition: width 1s;
      -webkit-transition: width 1s;
      -o-transition: width 1s;*/
    width: 0;
    background: white;
    padding: 25px;
    float: left;
    margin-left: 25px;
    display: none;
    overflow: hidden;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    .avatar {
      text-align: center;
      margin-bottom: 25px;
      margin-top: 25px;
      img {
        border-radius: 50%;
      }
    }
    .checkbox-left {
      margin-left: 5%;
    }
    .checkbox-right {
      margin-left: 10%;
    }
    .item-label {
      color: #363030;
      font-weight: bold;
      font-size: 14px;
      margin-bottom: 10px;
    }
    .item-text {
      color: black;
      font-size: 16px;
      margin-bottom: 20px;
      opacity: 0.6;
      word-break: break-word;
    }
    .el-icon-close {
      background: #e3e3e3;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      text-align: center;
      line-height: 30px;
      color: #878787;
      font-size: 16px;
      position: absolute;
      right: 10px;
      top: 10px;
      cursor: pointer;
    }
  }
  .el-table th > .cell {
    text-align: left;
  }
  .el-table tr > th:first-child .cell {
    text-align: center;
  }
  .el-table th {
    color: black;
    font-size: 14px;
  }
  .el-table td {
    color: black;
    font-size: 14px;
  }
  .el-table tr td:first-child {
    text-align: center;
  }
  .el-table td:first-child .cell {
    display: inline-block;
  }
  .filter-container {
    padding-bottom: 20px;
  }
  tbody {
    tr {
      cursor: pointer;
    }
  }
  .search-block {
    text-align: left;
    float: left;
    width: 100%;
    margin-bottom: 20px;
    .search {
      float: left;
      width: calc(100% - 162px);
      display: inline;
      input {
        width: 272px;
        height: 36px !important;
        line-height: 36px !important;
        border: solid 1px #9999;
        border-radius: 5px;
        padding-left: 40px;
      }
      .el-icon-search {
        line-height: 16px;
        font-size: 19px;
        color: #666;
      }
      span {
        left: 10px;
      }
    }
    button {
      background: #1f7ff5;
      border-radius: 4px;
      height: 40px !important;
      width: 147px;
      margin-left: 15px;
      border-color: #1f7ff5;
      span {
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
}
</style>
