<template>
  <div style="padding: 0 15px;" @click="toggleClick" @mousemove="mouseOver"  @mouseout="mouseout">
    <i class="el-icon-s-unfold" :class="{'is-active':isActive}"></i>
  </div>
</template>

<script>
export default {
  name: 'Hamburger',
  props: {
    isActive: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    toggleClick() {
      this.$emit('toggleClick');
    },
    mouseOver() {
      this.$emit('mouseOver');
    },
    mouseout() {
      this.$emit('mouseout');
    },
  },
};
</script>

<style scoped>
.hamburger {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
}
.el-icon-s-unfold {
    font-size: 32px;
    color: white;
}
.hamburger.is-active {
  transform: rotate(180deg);
}
</style>
