.el-message-box {
    .el-message-box__btns {
        .el-button--primary {
            background: #1f7ff5;
            border-color: #1f7ff5;
            border-radius: 5px;
        }
        .el-button--default {
            border-radius: 5px;
        }
    }
}
