body {
	.isIpad * {
		word-break: keep-all;
	}	
}
.isIpad {
	/*.el-card.is-always-shadow, .el-card.is-hover-shadow:focus, .el-card.is-hover-shadow:hover {
		box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 80%);
	}*/
	.el-dialog {
		max-width: 100%;
	}
	.el-select {
		height: 36px;
		.el-input {
			height: 36px;
			span {
				height: 36px;
			}
		}
		input {
			word-break: keep-all !important;
		}
	}
	.violation-scene-page {
		#detail-user {
			/*padding-top: 20px;*/
			h5 {
				position: relative;
			}
		}
		 .cam-detail {
		 	height: initial;
		 	 .image {
		 	 	img {
		 	 		height: initial;
		 	 		max-height: calc(100vh - 280px);
		 	 	}
		 	 }
		 }
		 .video-js {
		    max-height: calc(100vh - 280px);
		 }
		.action {
			text-align: center;
			button {
				margin-bottom: 10px;
			}
			.update {
				float: initial;
			}
			.line-clear {
				display: block !important;
			}
		}
		.item-input {
			margin-bottom: 15px;
		}
	}
	.dashboard-container {
		.violations-process-box {
			margin-bottom: 0;
			display: block !important;
			.left-box {
				width: 100%;
				margin-right: 0;
				margin-bottom: 15px;
			}
			.right-box {
				width: 100%;
				margin-left: 0;
				margin-bottom: 15px;
			}
			.setpadding {
				.el-card__body {
					.infor-violations {
						height: 136px;
					}
				}
			}
		}
		.el-card {
			border: initial !important;
		}
	}
	.inspect-violations-page {
		.detail-view-video {
			width: calc(79% - 275px) !important;
		}
		.info-violation-inspect {
			width: 266px !important;
			margin-left: 10px;
		}
		.action button {
			margin-left: 10px;
		}
		.el-col-19 {
			width: 100% !important;
		}
	}
	.track-page .search-block .search {
		width: 225px !important;
		input {
			width: 225px !important;
		}
	}
	.track-page .search-block button {
		margin-left: 8px !important;
	}
	.report-page {
		.chart-statistic {
			.el-col-16 {
				width: 100% !important;
			}
			.el-col-8 {
				margin-top: 15px;
				width: 100% !important;
			}
		}
		.chart-circle,
		.chart-line {
			box-shadow: initial !important;
		}
	}
}