// base color
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

//sidebar
$menuText:#303030;
$menuActiveText:#2B4FD0;
$subMenuActiveText:#2B4FD0; //https://github.com/ElemeFE/element/issues/12951

$menuBg:#2A4ECF;
$menuHover:#0066d6;

$subMenuBg:#2A4ECF;
$subMenuHover:#eeeeee;

$sideBarWidth: 250px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
.el-message-box {
  width: initial !important;
  max-width: 500px;
}
.el-message-box__wrapper {
  .el-message-box__header {
    display: none;
  }
  .el-message-box__btns {
    text-align: center;
    margin-bottom: 8px;
    button {
      border: 1px solid #1f7ff5;
      border-radius: 3px !important;
      width: 85px;
    }
    .el-button--default {
      color: #1f7ff5;
      padding: 10px 15px;
      margin-right: 5px !important;
    }
    .el-button--primary {
      margin-right: 0 !important;
      margin-left: 5px !important;
      color: white;
    }
  }
  .el-message-box__content {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
    .el-message-box__status {
      display: none;
    }
    .el-message-box__message {
      padding-left: 12px !important;
      color: #333;
      font-weight: 500;
    }
  }
}
.config-group-field {
  margin-bottom: 15px;
  float: left;
  width: 100%;
}
.config-page {
  .el-dialog__body {
    .el-form-item {
      margin-bottom: 8px;
    }
  }
}
.empty-el-tree-child {
  .el-checkbox {
    display: none;
  }
}
.el-form-item__label {
	padding-bottom: 0;
	font-size: 14px;
	color: #363030;
	font-weight: 500 !important;
}
.video-js .vjs-duration, .vjs-no-flex .vjs-duration,
.video-js .vjs-current-time, .vjs-no-flex .vjs-current-time {
  display: inline-block !important;
}
.video-js .vjs-time-control {
 display: inline-block !important;
  min-width: initial !important;
  padding-left: 1px !important;
  padding-right: 1px !important;
}
img {
  max-width: 100%;
}
#recognition-tables,
#track-table,
#groupsInfo-table,
#organizationInfo-table,
#camera-table,
#site-table,
#user-table {
  transition: width 0.5s;
  -moz-transition: width 0.5s;
  /* Firefox 4 */
  -webkit-transition: width 0.5s;
  /* Safari and Chrome */
  -o-transition: width 0.5s;
  float: left;
  border-radius: 4px;
  width: 100%;
  table {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
  }
}
.viewer-title {
  display: none !important;
}
body .form-violation .el-input.is-disabled .el-input__inner {
  color: #555;
}
tr.active-row:hover td,
tr.active-row {
  background: #e5efff !important;
}
.violation-process-page {
  .list-img-cam {
    height: 245px;
    overflow-y: auto; 
  }
  .list-img-cam::-webkit-scrollbar-track
  {
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
    border-radius: 0;
    background-color: #F5F5F5;
  }
  .list-img-cam::-webkit-scrollbar
  {
    width: 5px;
    height: 8px;
    background-color: #F5F5F5;
    border-radius: 17px;
  }

  .list-img-cam::-webkit-scrollbar-thumb
  {
    border-radius: 17px;
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.3);
    background-color: #ddd;
  }
}
.live-stream img {
  cursor: zoom-in;
}
body .el-tree-node {
  white-space: break-spaces;
  line-height: 20px;
  .el-tree-node__children .icon-folder {
    -webkit-line-clamp: 1; 
    -webkit-box-orient: vertical; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    display: -webkit-box; 
    word-break: break-all;
  }
}
table tr td .cell{
  -webkit-line-clamp: 2; 
  -webkit-box-orient: vertical; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  display: -webkit-box; 
  word-break: break-word;
}
.el-select-dropdown.el-popper {
  max-width: 335px;
}
/*css menu*/
.sidebar-container .el-scrollbar__view {
  padding-bottom: 20px !important;
}
.el-menu--vertical {
  ul {
    li {
      span {
        color: white;
      }
    }
  }
}
.violation-ruleForm {
  .item-input {
    margin-bottom: 25px;
  }
  .item {
    width: 100%;
    float: left;
  }
  .image {
    float: left;
    margin-right: 15px;
    width: 40px;
    text-align: center;
  }
  .content {
    float: left;
    width: calc(100% - 55px);
    .title {
      font-size: 14px;
      font-weight: 500;
    }
    .descript {
      font-size: 14px;
      color: #363030;
      margin-top: 5px;
    }
  }
  .item-input {
    padding-left: 10px;
    padding-right: 10px;
    i {
      color: #a7a6a6 !important;
      font-size: 16px !important;
      top: 1px !important;
    }
  }
  h4 {
    span {
      color: #1f7ff5;
    }
  }
  .line {
    height: 1px;
    background: #e4dddd;
    clear: both;
    margin-left: -25px;
    margin-right: -25px;
    margin-bottom: 25px;
  }
}
.item-text {
  word-break: break-word;
}
.site-search-popup .el-select__tags span span span {
    max-width: 250px;
    overflow: hidden;
    display: inline-block;
    float: left;
    text-overflow: ellipsis;
}
.site-search-popup.multi .el-select__tags span span span {
    max-width: 220px;
}
body .el-checkbox__label {
  word-break: break-word;
  white-space: initial;
  font-weight: initial;
  color: #333;
}
body * {
  word-break: break-word;
}
.vjs-modal-dialog-content {
  padding-top: 50px !important; 
}
.viewer-flip-vertical,
.flip-vertical,
.viewer-flip-horizontal,
.viewer-rotate-right,
.viewer-rotate-left,
.viewer-next,
.viewer-play,
.viewer-prev,
.viewer-reset {
  display: none;
}
.search-block-calender-filter button span,
.search-block button span {
  text-transform: initial !important;
}
.el-select-dropdown__item.selected {
  padding-right: 38px;
}
@media screen and (max-width: 500px) {
  .el-breadcrumb.app-breadcrumb {
    font-size: 15px !important;
  } 
}