.violation-img-pdf {
    display: inline-block;
    float: right;
}
.violation-img-pdf button {
    background: #ea4444 !important;
    color: white !important;
}
.pdf-export__content * {
    font-family: "time new roman" !important;
}
.pdf-export__content {
    position: relative;
    top: 0;
    background: white;
    padding: 40px 20px 20px;
    float: left;
    width: 21cm;
}
.pdf-export__content .pdf-header {
    float: left;
    width: 100%;
    height: 122px;
}
.pdf-header h5 {
    float: right;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 20px;
    padding-top: 0;
    margin-top: 0;
}
.pdf-export__content .pdf-header .logo {
    border: 1px solid #ddd;
    float: left;
}
.pdf-export__content .pdf-header .title {
    float: right;
}
.pdf-export__content .name-image {
    display: inline-block;
    word-break: break-all;
    line-height: 25px;
}
.pdf-export__content .pdf-content {
    float: left;
    width: 100%;
}
.pdf-export__content .pdf-content h2 {
    margin-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 28px;
}
.pdf-export__content .pdf-content .item {
    font-size: 17px;
    margin-bottom: 9px;
    color: black;
}
.pdf-export__content .pdf-content .item span {
    display: inline-block;
    margin-right: 8px;
    color: #333;
}
.pdf-export__content .pdf-content .item-img {
    margin-top: 20px;
    margin-bottom: 10px;
    height: 330px;
}
.pdf-export__content .pdf-content .item-img img {
    height: 330px;
}
.pdf-export__content .pdf-note {
    float: left;
    width: 100%;
}
.pdf-export__content .pdf-note h4 {
    font-size: 15px;
    margin-bottom: 10px;
}
.pdf-export__content .pdf-note .item-left {
    width: 48%;
    float: left;
    margin-right: 2%;
}
.pdf-export__content .pdf-note .item-right {
    width: 48%;
    float: left;
    margin-left: 2%;
}
.pdf-export__content .pdf-note div {
    font-size: 13px;
    margin-bottom: 8px;
}
