<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.png">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <style type="text/css">
        body * {
            font-family: 'Roboto', sans-serif;
        }
        /*print template 1*/
        #print-header .item-0 {
            text-align: right;
        }
        #print-header .item-0 .content {
            display: inline-block;
            text-align: center;
            line-height: 22px;
        }
        #print-header .item-1 {
            width: 100%;
            float: left;
            margin-top: 20px;
        }
        #print-header .item-1 .left {
            float: left;
            position: relative;
            top: 4px;
        }
        #print-header .item-1 .right {
            float: right;
            display: inline-block;
            text-align: center;
            font-weight: bold;
            font-size: 20px;
        }
        #print-header .item-1 .left hr {
            width: 55px;
            background: black;
            border: initial;
            height: 1px;
            margin-top: 5px;
            position: relative;
            right: 10px;
        }
        #print-header .item-1 .right .l1 {
            text-transform: uppercase;
        }
        #print-header .item-1 .right .l2 {
            display: inline-block;
        }
        #print-header .item-1 .right .l2 hr {
            color: black;
            background: black;
            height: 1px;
            box-shadow: initial;
            border: initial;
            margin-top: 5px;
        }
        #print-header .item-2 {
            float: left;
            width: 100%;
            margin-top: 10px;
            font-size: 17px;
        }
        #print-header .left {
            float: left;
        }
        #print-header .line {
            height: 1px;
            width: 100%;
            border-bottom: 1px solid black;
            display: inline-block;
            position: relative;
        }
        #print-header .right {
            float: right;
        }
        #print-header {
            float: left;
            width: 100%;
            background: white;
            padding: 20px 10px 20px 10px;
        }
        #content-print {
            background: white;
            padding: 0 10px 10px 10px;
            float: left;
            width: 100%;
        }
        #print-header .top-content {
            font-size: 14px;
        }
        #content-print .item-last {
            text-align: right;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        #content-print .item-last .leader-sign {
            display: inline-block;
            text-align: center;
            margin-right: 60px;
        }
        #content-print #content-print {
            float: left;
            width: 100%;
        }
        #content-print .h2 {
            text-align: center;
            margin-bottom: 5px;
            font-weight: bold;
            font-size: 28px;
        }
        #content-print .h5 {
            font-weight: normal;
            font-size: 16px;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-top: 20px;
        }
        #content-print .item {
            margin-bottom: 10px;
        }
        #content-print .note {
            font-size: 11px;
            float: left;
            width: 100%;
        }
        #content-print .note .h6 {
            margin-bottom: 0;
            font-size: 12px;
            text-decoration: underline;
            font-weight: bold;
        }
        #content-print .note .item {
            line-height: 18px;
            margin-bottom: 2px;
        }
        /*print template 2*/
        #content-print.content-print-2 .note .h6 {
            text-decoration: none;
            font-size: 14px;
        }
        #content-print.content-print-2 .item-last {
            text-align: right;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        #content-print.content-print-2 .item-last {
            text-align: right;
            margin-top: 10px;
            margin-bottom: 15px !important;
            float: left;
            width: 100%;
        }
        #content-print.content-print-2 .note .line-top {
            height: 1px;
            border-bottom: 1px solid black;
            width: 250px;
            margin-bottom: 5px;
        }
        #content-print.content-print-2 .item-last .left{
            float: left;
            font-size: 14px;
            text-align: left;
        }
        #content-print.content-print-2 .note {
            font-size: 13px;
        }
        #content-print.content-print-2 .descript {
            text-align: center;
            font-weight: bold;
        }
        #content-print.content-print-2 .descript .line-descript {
            height: 1px;
            border-bottom: 1px solid black;
            width: 150px;
            display: inline-block;
            margin-bottom: 20px;
            margin-top: 5px;
        }
        /*print template 3*/
        #content-print.content-print-3 .note .h6 {
            text-decoration: none;
            font-size: 14px;
        }
        #content-print.content-print-3 .item-last {
            text-align: right;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        #content-print.content-print-3 .item-last {
            text-align: right;
            margin-top: 10px;
            margin-bottom: 5px !important;
            float: left;
            width: 100%;
        }
        #content-print.content-print-3 .note .line-top {
            height: 1px;
            border-bottom: 1px solid black;
            width: 250px;
            margin-bottom: 5px;
        }
        #content-print.content-print-3 .item-last .left{
            float: left;
            font-size: 14px;
            text-align: left;
        }
        #content-print.content-print-3 .note {
            font-size: 13px;
        }
        #content-print.content-print-3 .descript {
            text-align: center;
            font-weight: bold;
        }
        #content-print.content-print-3 .descript .line-descript {
            height: 1px;
            border-bottom: 1px solid black;
            width: 150px;
            display: inline-block;
            margin-bottom: 20px;
            margin-top: 5px;
        }
        #content-print.content-print-3 .scissors {
            clear: both;
            border-bottom: 1px dashed black;
            margin-top: 5px;
            float: left;
            width: 100%;
        }
        #content-print.content-print-3 .descript {
            margin-bottom: 10px;
        }
        .notify-2 {
            float: left;
            width: 100%;
            margin-top: 10px;
        }
    </style>
</head>
<body>
<noscript>
    <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
</noscript>
<div id="app"></div>
  <script src="/XPMobileSDK.js"></script>
    <script src="/sdkLoader.js"></script>
    <script src="/Lib/VideoStream.js"></script>
<!-- built files will be auto injected -->
</body>
</html>
