<template>
  <div class="dashboard-container">
    <component :is="currentRole" />
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import adminDashboard from './admin';
import editorDashboard from './editor';

export default {
  name: 'Dashboard',
  components: { adminDashboard, editorDashboard },
  data() {
    return {
      currentRole: 'adminDashboard',
    };
  },
  computed: {
    ...mapGetters([
      'roles',
    ]),
  },
  created() {
    // if(!this.$root.checkRole(this.$route.fullPath,'canRead')){
    //   this.currentRole = 'editorDashboard';
    // }
    // if (!this.roles.includes('ROLE_ADMIN')) {
    //   this.currentRole = 'editorDashboard';
    // }
  },
};
</script>
