<template>
  <svg :class="'svg-icon ' + $root.getEventIcon(icon)" aria-hidden="true" v-on="$listeners"
       :style="{height: height, width: width}"
  >
    <use :xlink:href="`#icon-` + $root.getEventIcon(icon)" />
  </svg>
</template>

<script>
export default {
  name: "eventIcon",
  props: {
    width: {
      type: String,
      default: '42px'
    },
    height: {
      type: String,
      default: '42px'
    },
    icon: {
      type: String,
      default: 'default'
    }
  }
}
</script>

<style scoped>

</style>
