<template>
	<div class="app-container claim camera-for-vms">
		<h4>Thông tin camera <i class="el-icon-close"  @click="redirectVms()"></i></h4>
		<template>
      <div id="user-table">
        <div class="filter-container">
          <template>
            <div class="search-block">
              <h5>Tổng số: {{camList.length}} </h5>
              <!-- <el-button type="primary" @click="resetCamera()"
                ><i class="el-icon-refresh"></i> Cập nhật camera từ hệ thống</el-button
              > -->
              <el-button :disabled="multipleSelection.length == 0" type="primary" @click="initCameratoSystem()"
                ><i class="el-icon-plus"></i> THÊM CAMERA</el-button
              >
            </div>
          </template>
        </div>
<!--        <div id="select-all-delete" v-if="multipleSelection.length > 0">-->
<!--          <i class="el-icon-close" @click="closeDelete()"></i>-->
<!--          <span v-if="multipleSelection.length < 10"-->
<!--            >0{{ multipleSelection.length }}</span-->
<!--          ><span v-else>{{ multipleSelection.length }}</span> mục được chọn-->
<!--          <el-button-->
<!--            type="danger"-->
<!--            @click="destroyMulti()"-->
<!--            :loading="loading_delete_all"-->
<!--            ><i class="el-icon-delete"></i> Xóa</el-button-->
<!--          >-->
<!--        </div>-->
        <el-table
			ref="multipleTable"
			:data="camList"
			v-loading="loading"
			style="width: 100%"
			@selection-change="handleSelectionChange"
        >
          <el-table-column
            type="selection"
            width="55"
            :selectable="canSelectRow"
          >
          </el-table-column>

          <el-table-column label="STT" width="80">
            <template slot-scope="scope">
              <span>{{ scope.$index + 1 }}</span>
            </template>
          </el-table-column>


          <el-table-column label="Tên">
            <template slot-scope="scope">
              <span>{{ scope.row.name }}</span>
            </template>
          </el-table-column>

          <el-table-column label="Device ID">
            <template slot-scope="scope">
              <span>{{ scope.row.deviceId }}</span>
            </template>
          </el-table-column>

          <el-table-column label="Vị trí">
            <template slot-scope="scope">
              <span>{{
                scope.row.position
              }}</span>
            </template>
          </el-table-column>


          <el-table-column label="PTZ">
            <template slot-scope="scope">
              <span>
              	<i v-if="scope.row.ptz" class="el-icon-circle-check"></i>
              	<i v-else class="el-icon-circle-close"></i>
          	  </span>
            </template>
          </el-table-column>

          <el-table-column label="Thông tin thiết bị">
            <template slot-scope="scope">
              <span>{{
                scope.row.deviceInfo
              }}</span>
            </template>
          </el-table-column>

          <el-table-column label="Trạng thái">
            <template slot-scope="scope">
              <span><span class="circle-status" :class="detectStatus(scope.row.statusName)"></span> {{ detectStatusText(scope.row.statusName) }}</span>
            </template>
          </el-table-column>

        </el-table>
        <!-- Phân trang -->
        <el-dialog
	        :visible.sync="flagAddCameraDialog"
	        custom-class="connect-check"
	        width="325px">
	        <span slot="title"><img src="@/assets/images/vms/success.png" /> Thông báo</span>
	        <span>{{message}}</span>
	        <span slot="footer" class="dialog-footer">
	          <el-button @click="flagAddCameraDialog = false">OK</el-button>
	        </span>
	    </el-dialog>
        <p style="clear: both"></p>
      </div>
    </template>
	</div>
</template>
<script type="text/javascript">
	import Resource from "@/api/resource"
	const cameraForVmsResource = new Resource("systemconfig/vms/camera")
	const camereResource = new Resource("systemconfig/vms/camera-in-vms")

	export default {
		data() {
			return {
				multipleSelection: [],
				loading: false,
				flagAddCameraDialog: false,
				loading_delete_all: false,
				message: null,
				camList: []
			}
		},
		created() {
			if(this.$route.params.id) {
				// this.getCameraByVmsId()
				this.loadCameraForVms()
			}
		},
		methods: {
			getCameraByVmsId() {
				this.loading = true;
				camereResource.get(this.$route.params.id).then(response=>{
					if(response.status == 200 && response.data){
						this.camList = response.data
					}else{
						this.camList = []
					}
					this.loading = false;
				}).catch(err=>{
					this.camList = []
					console.log(err)
					this.loading = false;
				})
			},
			loadCameraForVms() {
				this.loading = true;
				cameraForVmsResource.storeSpecJson(this.$route.params.id).then(response=>{
					if(response.status == 200 && response.data){
						this.camList = response.data
					}else{
						this.camList = []
					}
					this.loading = false;
				}).catch(err=>{
					this.camList = []
					console.log(err)
					this.loading = false;
				})
			},

			handleSelectionChange(val) {
		      this.multipleSelection = val;
		    },

		    resetCamera() {
		      this.$confirm("Bạn có chắc chắn muốn cập nhật camera từ hệ thống ?", "", {
		        confirmButtonText: "Xác nhận",
		        cancelButtonText: "Thoát",
		        type: "warning",
		      }).then(() => {
		      	this.loadCameraForVms()
		      }).catch(err=>{

		      })
		    },

		    initCameratoSystem() {
		      this.$confirm("Bạn có chắc chắn muốn thêm camera vào hệ thống ?", "", {
		        confirmButtonText: "Xác nhận",
		        cancelButtonText: "Thoát",
		        type: "warning",
		      }).then(() => {
		      	this.handleCameratoSystem()
		      }).catch(err=>{

		      })
		    },

		    handleCameratoSystem() {
		    	let deviceIds = this.multipleSelection.map(function (val) {
	            	return val.deviceId
	          	})
	          	let params = {
				    deviceIds: deviceIds
				}
	          	cameraForVmsResource.store(params).then((response) => {
	              if (response.status == 200) {
	              	this.message = response.data
	                this.multipleSelection = []
	                this.loadCameraForVms()
	                this.flagAddCameraDialog = true
	                // this.$message({
	                //   type: "success",
	                //   message: "Thêm camera thành công",
	                // });
	              }
		        }).catch(() => {
		            this.loading_delete_all = false
		            this.$message({
		              type: "error",
		              message: "Có lỗi xảy ra vui lòng thử lại sau!",
		            });
		        })
		    },

		    detectStatusText(status) {
		    	let result = status
		    	// if(status == false) {
		    	// 	result = 'Lỗi'
		    	// }
		    	// if(status == true) {
		    	// 	result = 'OK'
		    	// }
		    	return result
		    },

		    redirectVms() {
		    	this.$router.push('/system-config/vms')
		    },

		    detectStatus(status) {
		    	let result = 'red'
		    	if(status == 'Chưa thêm') {
		    		result = 'red'
		    	}
		    	if(status == 'Đã thêm') {
		    		result = 'green'
		    	}
		    	return result
		    },

		    canSelectRow(row, index) {
		      return row.statusName !== "Đã thêm"
		    },

		    destroyMulti() {
		      this.$confirm("Bạn có chắc chắn muốn xóa lựa chọn này ", "", {
		        confirmButtonText: "Xác nhận",
		        cancelButtonText: "Thoát",
		        type: "warning",
		      }).then(() => {
		          this.loading_delete_all = true;
		          let params = this.multipleSelection.map(function (val) {
		            return val.deviceId
		          })
		          params = {
		            vmsCameraIds: params,
		          }
		          cameraForVmsResource.destroyMulti(params).then((response) => {
		              this.loading_delete_all = false;
		              if (response.status == 200) {
		                this.multipleSelection = []
		                this.getCameraByVmsId()
		                this.$message({
		                  type: "success",
		                  message: "Xóa thành công",
		                });
		              }
		          }).catch(() => {
		            this.loading_delete_all = false
		            this.$message({
		              type: "error",
		              message: "Có lỗi xảy ra vui lòng thử lại sau!",
		            });
		          })
		        }).catch(() => {});
		    },
		}
	}
</script>
<style type="text/css" lang="scss">
	.camera-for-vms {
	  h4 {
	  	background: #0366cc;
	    text-align: center;
	    color: white;
	    padding: 8px;
	    margin-top: -20px;
	    font-weight: 500;
	    font-size: 18px;
	    margin-left: -20px;
	    margin-right: -20px;
	    i {
	    	float: right;
		    position: relative;
		    right: 10px;
		    cursor: pointer;
	    }
	  }
	  .el-dialog.connect-check {
	    border-radius: 8px;
	    margin-top: 18% !important;
	    .el-dialog__header {
	      background: initial;
	      font-size: 24px;
	      font-weight: bold;
	      padding-top: 8px;
	      border-bottom: 1px solid #5555;
	      padding-bottom: 10px;
	      height: auto;
	      img {
	        position: relative;
	        top: 5px;
	        left: -6px;
	      }
	      .el-dialog__headerbtn {
	        display: none;
	      }
	    }
	    .el-dialog__footer {
	      text-align: center;
	      button {
	        background: #1f7ff5;
	        color: white;
	        font-weight: 500;
	        font-size: 16px;
	      }
	    }
	    .el-dialog__body {
	        text-align: center;
	        font-size: 16px;
	        color: #000;
	    }
	  }
	  .circle-status {
	  	width: 17px;
	    height: 17px;
	    display: inline-block;
	    border-radius: 50%;
	    position: relative;
	    top: 4px;
    	left: -5px;
	  }
	  .el-icon-circle-check {
	  	color: #2db3c4;
    	font-size: 22px;
	  }
	  .el-icon-circle-close {
	  	color: red;
	  	font-size: 22px;
	  }
	  .circle-status.green {
		background: #16b082;
	    border: 4px solid #39d4a0;
	   }
	  .circle-status.red {
		background: #dd523c;
	    border: 4px solid #e76e54;
	   }
	  .el-form-item {
	    margin-bottom: 15px;
	  }
	  .el-input input {
	    height: 40px;
	    line-height: 40px;
	    border-radius: 4px;
	    border: solid 1px #9999;
	  }
	  .el-icon-camera-solid {
	    font-size: 25px;
	    color: #9a9a9a;
	    position: relative;
	    top: -50px;
	    left: 54px;
	    background: #dfdfdf;
	    border-radius: 50%;
	    padding: 8px;
	    border: 1px solid white;
	  }
	  .img_avatar {
	    text-align: center;
	    padding-top: 25px;
	    img {
	      border-radius: 50%;
	    }
	  }
	  .el-dialog {
	    margin-top: 63px !important;
	  }
	  .item-left {
	    width: 48%;
	    float: left;
	    margin-right: 2%;
	  }
	  .item-right {
	    width: 48%;
	    float: left;
	    margin-left: 2%;
	  }
	  .block-item {
	    width: 100%;
	    float: left;
	  }
	  .el-dialog__header {
	    padding: 0;
	    background: #006fe3;
	    height: 40px;
	    line-height: 40px;
	    text-align: center;
	    .el-dialog__title {
	      color: white;
	    }
	    .el-icon-close {
	      color: white;
	      font-size: 22px;
	      top: -10px;
	      position: relative;
	    }
	  }
	  .el-dialog__body {
	    .el-form-item__label {
	      padding-bottom: 0;
	      font-size: 14px;
	      color: #363030;
	      font-weight: 500 !important;
	    }
	  }
	  .el-dialog__footer {
	    clear: both;
	    padding-bottom: 25px;
	    .el-button--primary {
	      background: #1f7ff5;
	      height: 40px;
	      border-radius: 5px;
	      width: 147px;
	      text-transform: uppercase;
	      font-weight: bold;
	      border-color: #1f7ff5;
	    }
	    .el-button--danger {
	      background: #9e9e9e;
	      height: 40px;
	      border-radius: 5px;
	      width: 147px;
	      text-transform: uppercase;
	      font-weight: bold;
	      border-color: #9e9e9e;
	      float: left;
	    }
	  }
	  #select-all-delete {
	    clear: both;
	    height: 63px;
	    line-height: 63px;
	    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
	    background-color: #ff4646;
	    color: white;
	    border-top-left-radius: 5px;
	    border-top-right-radius: 5px;
	    .el-icon-close {
	      font-size: 25px;
	      margin-left: 20px;
	      margin-right: 35px;
	      position: relative;
	      top: 4px;
	      cursor: pointer;
	    }
	    button {
	      background: #e00000;
	      border: initial;
	      border-radius: 5px;
	      float: right;
	      display: inline-block;
	      margin-top: 15px;
	      margin-right: 15px;
	    }
	  }
	  .action {
	    padding-top: 45px;
	    clear: both;
	    .el-button--primary {
	      background: #64789a;
	      border: initial;
	      border-radius: 4px;
	      width: 125px;
	      height: 40px;
	    }
	    .el-button--success {
	       background: #1f7ff5;
		    border: initial;
		    border-radius: 4px;
		    width: 160px;
		    height: 40px;
		    float: right;
		    text-transform: uppercase;
	    }
	  }
	  #detail-vms {
	    position: relative;
	    width: 0;
	    background: white;
	    padding: 25px;
	    float: left;
	    margin-left: 25px;
	    display: none;
	    overflow: hidden;
	    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
	    border-radius: 4px;
	    .avatar {
	      text-align: center;
	      margin-bottom: 25px;
	      margin-top: 25px;
	      img {
	        border-radius: 50%;
	      }
	    }
	    h4 {
	    	font-size: 30px;
		    font-weight: 500;
		    text-transform: uppercase;
		    padding-top: 0;
		    margin-top: 0;
		    padding-left: 5px;
		    img {
		    	margin-left: 10px;
		    }
	    }
	    .image {
	    	width: 63px;
	    	margin-right: 13px;
	    }
	    .content {
	    	width: calc(100% - 78px);
	    }
	    .item-label {
	      color: #363030;
	      font-weight: bold;
	      font-size: 14px;
	      margin-bottom: 10px;
	    }
	    .item-text {
	      color: black;
	      font-size: 16px;
	      margin-bottom: 20px;
	      opacity: 0.6;
	      word-break: break-word;
	    }
	    .el-icon-close {
	      background: #e3e3e3;
	      height: 30px;
	      width: 30px;
	      border-radius: 50%;
	      text-align: center;
	      line-height: 30px;
	      color: #878787;
	      font-size: 16px;
	      position: absolute;
	      right: 10px;
	      top: 10px;
	      cursor: pointer;
	    }
	  }
	  .el-table th > .cell {
	    text-align: left;
	  }
	  .el-table tr > th:first-child .cell {
	    text-align: center;
	  }
	  .el-table th {
	    color: black;
	    font-size: 14px;
	  }
	  .el-table td {
	    color: black;
	    font-size: 14px;
	  }
	  .el-table tr td:first-child {
	    text-align: center;
	  }
	  .el-table td:first-child .cell {
	    display: inline-block;
	  }
	  .filter-container {
	    padding-bottom: 20px;
	  }
	  tbody {
	    tr {
	      /*cursor: pointer;*/
	    }
	  }
	  .search-block {
	    text-align: left;
	    float: left;
	    width: 100%;
	    margin-bottom: 20px;
	    h5 {
	    	float: left;
		    font-size: 20px;
		    margin: 0;
		    padding-top: 10px;
	    }
	    .search {
	      float: left;
	      width: calc(100% - 162px);
	      display: inline;
	      input {
	        width: 272px;
	        height: 36px !important;
	        line-height: 36px !important;
	        border: solid 1px #9999;
	        border-radius: 5px;
	        padding-left: 40px;
	      }
	      .el-icon-search {
	        line-height: 16px;
	        font-size: 19px;
	        color: #666;
	      }
	      span {
	        left: 10px;
	      }
	    }
	    button {
	      background: #1f7ff5;
	      border-radius: 4px;
	      float: right;
	      height: 40px !important;
	      margin-left: 15px;
	      border-color: #1f7ff5;
	      span {
	        font-size: 16px;
	        font-weight: bold;
	        text-transform: uppercase;
	      }
	    }
	  }
	}
</style>
