<template>
  <div class="app-container claim vms-page config-page" v-if="canRead">
    <!-- Filter -->
    <!-- list user new -->
    <template>
      <div id="user-table">
        <div class="filter-container" v-if="multipleSelection.length == 0">
          <template>
            <div class="search-block">
              <el-input
                class="search"
                placeholder=""
                prefix-icon="el-icon-search"
                v-model="searchKeyword"
                @keyup.enter.native="handleFilter()"
              >
              </el-input>
              <el-button v-if="canCreate" type="primary" @click="handleCreate()"
                ><i class="el-icon-plus"></i> Thêm mới</el-button
              >
            </div>
          </template>
        </div>
        <div id="select-all-delete" v-if="multipleSelection.length > 0">
          <i class="el-icon-close" @click="closeDelete()"></i>
          <span v-if="multipleSelection.length < 10"
            >0{{ multipleSelection.length }}</span
          ><span v-else>{{ multipleSelection.length }}</span> mục được chọn
          <el-button
            type="danger"
            @click="destroyMulti()"
            :loading="loading_delete_all"
            v-if="canDelete"
            ><i class="el-icon-delete"></i> Xóa</el-button
          >
        </div>
        <el-table
          ref="multipleTable"
          :data="vmsList"
          v-loading="loading"
          style="width: 100%"
          :row-class-name="tableRowClassName"
          @selection-change="handleSelectionChange"
          @row-click="rowClicked"
        >
          <el-table-column
            type="selection"
            width="55"
            :selectable="canSelectRow"
          >
          </el-table-column>

          <el-table-column label="STT" :width="(query.page * query.size).toString().length * 10 + 30">
            <template slot-scope="scope">
              <span>{{
                (query.page - 1) * query.size + scope.$index + 1
              }}</span>
            </template>
          </el-table-column>

          <el-table-column label="Tên">
            <template slot-scope="scope">
              <span>{{ scope.row.name }}</span>
            </template>
          </el-table-column>

          <el-table-column label="Hãng cung cấp">
            <template slot-scope="scope">
              <span>{{ scope.row.supplier }}</span>
            </template>
          </el-table-column>

          <el-table-column label="Địa chỉ">
            <template slot-scope="scope">
              <span>{{ scope.row.connectionAddress }}</span>
            </template>
          </el-table-column>

          <el-table-column label="Kết nối">
            <template slot-scope="scope">
              <span
                >{{ detectStatusText(scope.row.status) }}
                <span
                  class="circle-status"
                  :class="detectStatus(scope.row.status)"
                ></span
              ></span>
            </template>
          </el-table-column>
        </el-table>
        <!-- Phân trang -->
        <p style="clear: both"></p>
        <div style="display: inline-block; padding-top: 13px">
          Tổng số VMS: <strong>{{ total }}</strong>
        </div>
        <pagination
          v-show="total > query.size"
          :total="total"
          :page.sync="query.page"
          :layout="layout"
          :limit.sync="query.size"
          @pagination="getList"
        />
      </div>
      <div id="detail-vms" class="violation-ruleForm" style="width: 0">
        <i class="el-icon-close" @click="closeDetail()"></i>
        <template v-if="vmsDetail">
          <h4>
            {{ vmsDetail.name }}
            <img
              v-if="vmsDetail.status"
              src="@/assets/images/vms/MdiWifi.png"
            />
            <img v-else src="@/assets/images/vms/MdiWifiOff.png" />
          </h4>
          <div class="item">
            <el-col :span="24" class="item-input">
              <div class="image">
                <img
                  style="position: relative; top: -2px"
                  src="@/assets/images/vms/television.png"
                  alt=""
                />
              </div>
              <div class="content">
                <div class="title">Tên</div>
                <div class="descript">{{ vmsDetail.name }}</div>
              </div>
            </el-col>
          </div>
          <div class="item">
            <el-col :span="12" class="item-input">
              <div class="image">
                <img
                  style="position: relative; top: -2px"
                  src="@/assets/images/vms/database.png"
                  alt=""
                />
              </div>
              <div class="content">
                <div class="title">Địa chỉ</div>
                <div class="descript">{{ vmsDetail.connectionAddress }}</div>
              </div>
            </el-col>
            <el-col :span="12" class="item-input">
              <div class="image">
                <img src="@/assets/images/vms/supplier.png" alt="" />
              </div>
              <div class="content">
                <div class="title">Hãng cung cấp</div>
                <div class="descript">{{ vmsDetail.supplier }}</div>
              </div>
            </el-col>
          </div>
          <div class="item">
            <el-col :span="12" class="item-input">
              <div class="image">
                <img
                  style="position: relative; top: -2px"
                  src="@/assets/images/vms/security_camera_blue.png"
                  alt=""
                />
              </div>
              <div class="content">
                <div class="title">Số camera</div>
                <div class="descript">{{ totalCamera }}</div>
              </div>
            </el-col>
            <el-col :span="12" class="item-input">
              <div class="image">
                <img
                  src="@/assets/images/vms/security_camera_warning.png"
                  alt=""
                />
              </div>
              <div class="content">
                <div class="title">Số camera đã thêm</div>
                <div class="descript">{{ totalMappedCamera }}</div>
              </div>
            </el-col>
          </div>
          <div class="item" v-if="vmsDetail.description">
            <el-col :span="24" class="item-input">
              <div class="image">
                <img
                  style="position: relative; top: -2px"
                  src="@/assets/images/vms/info.png"
                  alt=""
                />
              </div>
              <div class="content">
                <div class="title">Mô tả</div>
                <div class="descript" style="line-height: 21px; text-align: justify;">{{ vmsDetail.description }}</div>
              </div>
            </el-col>
          </div>
          <div class="action">
            <el-col :span="24" class="item-input">
              <el-button
              type="primary"
              @click="handleEdit(vmsDetail)"
              v-if="canUpdate"><i class="el-icon-edit"></i> Sửa</el-button>
              <el-button type="success" @click="addCamera(vmsDetail)">Thông tin camera</el-button>
            </el-col>
          </div>
        </template>
      </div>
    </template>
    <!-- ket thuc -->
    <!-- Add Dialog -->
    <el-dialog
      title="Thêm mới VMS"
      :visible.sync="dialogAdd"
      width="550px"
      @close="closeDialog('vmsForm')"
      :close-on-click-modal="false"
    >
      <el-form
        :model="vmsInfo"
        :rules="rules"
        ref="vmsForm"
        label-position="top"
        label-width="100%"
      >
        <div class="block-item">
          <div class="item-left">
            <el-form-item label="Tên VMS" prop="name">
              <el-input v-model="vmsInfo.name"></el-input>
            </el-form-item>
            <el-form-item label="Địa chỉ VMS" prop="connectionAddress">
              <el-input v-model="vmsInfo.connectionAddress"></el-input>
            </el-form-item>
            <el-form-item label="Thông tin người dùng" prop="userInfo">
              <el-input v-model="vmsInfo.userInfo"></el-input>
            </el-form-item>
          </div>
          <div class="item-right">
            <el-form-item label="Hãng cung cấp" prop="supplier">
              <el-input v-model="vmsInfo.supplier"></el-input>
            </el-form-item>
            <el-form-item label="Cổng kết nối" prop="connectionPort">
              <el-input @keypress.native="onlyNumber" v-model="vmsInfo.connectionPort"></el-input>
            </el-form-item>
            <el-form-item label="Mật khẩu" prop="password">
              <el-input type="password" v-model="vmsInfo.password"></el-input>
            </el-form-item>
          </div>
        </div>
        <div class="block-item">
          <el-form-item label="Mô tả" prop="description">
            <el-input
              rows="5"
              show-word-limit
              type="textarea"
              v-model="vmsInfo.description"
            ></el-input>
          </el-form-item>
        </div>
      </el-form>

      <div slot="footer" class="dialog-footer">
        <el-button
          type="success"
          @click="checkConnnect()"
          :loading="loading_check_connect"
        >
          <i class="el-icon-bottom"></i>
          <i class="el-icon-top"></i>
          Kiểm tra kết nối
        </el-button>
        <el-button type="danger" @click="dialogAdd = false">Thoát</el-button>
        <el-button type="primary" @click="addVms()" :loading="loading_add"
          >Lưu</el-button
        >
      </div>
    </el-dialog>
    <!-- Dialog Edit -->
    <el-dialog
      title="Sửa VMS"
      :visible.sync="dialogEdit"
      width="700px"
      :close-on-click-modal="false"
    >
      <el-form
        :model="vmsInfo"
        :rules="rules"
        ref="vmsForm"
        label-position="top"
        label-width="200px"
      >
        <div class="block-item">
          <div class="item-left">
            <el-form-item label="Tên VMS" prop="name">
              <el-input v-model="vmsInfo.name"></el-input>
            </el-form-item>
            <el-form-item label="Địa chỉ VMS" prop="connectionAddress">
              <el-input v-model="vmsInfo.connectionAddress"></el-input>
            </el-form-item>
            <el-form-item label="Thông tin người dùng" prop="userInfo">
              <el-input v-model="vmsInfo.userInfo"></el-input>
            </el-form-item>
          </div>
          <div class="item-right">
            <el-form-item label="Hãng cung cấp" prop="supplier">
              <el-input v-model="vmsInfo.supplier"></el-input>
            </el-form-item>
            <el-form-item label="Cổng kết nối" prop="connectionPort">
              <el-input @keypress.native="onlyNumber" v-model="vmsInfo.connectionPort"></el-input>
            </el-form-item>
            <el-form-item label="Mật khẩu" prop="password">
              <el-input type="password" v-model="vmsInfo.password"></el-input>
            </el-form-item>
          </div>
        </div>
        <div class="block-item">
          <el-form-item label="Mô tả" prop="description">
            <el-input
              rows="5"
              type="textarea"
              show-word-limit
              v-model="vmsInfo.description"
            ></el-input>
          </el-form-item>
        </div>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button
          type="success"
          @click="checkConnnect()"
          :loading="loading_check_connect"
        >
          <i class="el-icon-bottom"></i>
          <i class="el-icon-top"></i>
          Kiểm tra kết nối
        </el-button>
        <el-button type="danger" @click="dialogEdit = false">Thoát</el-button>
        <el-button type="primary" @click="updateVms()" :loading="loading_edit"
          >Cập nhật</el-button
        >
      </div>
    </el-dialog>
    <!-- bat dau -->
    <el-dialog
      :visible.sync="connectSuccessDialog"
      custom-class="connect-check"
      width="325px"
    >
      <span slot="title"
        ><img src="@/assets/images/vms/success.png" /> Thông báo</span
      >
      <span>Kết nối tới VMS thành công</span>
      <span slot="footer" class="dialog-footer">
        <el-button @click="connectSuccessDialog = false">OK</el-button>
      </span>
    </el-dialog>
    <!-- ket thuc -->
    <!-- bat dau -->
    <el-dialog
      :visible.sync="connectErrorDialog"
      custom-class="connect-check"
      width="325px"
    >
      <span slot="title"><img src="@/assets/images/vms/error.png" /> Lỗi</span>
      <span>Không thể kết nối tới VMS</span>
      <span slot="footer" class="dialog-footer">
        <el-button @click="connectErrorDialog = false">OK</el-button>
      </span>
    </el-dialog>
    <!-- ket thuc -->
  </div>
</template>

<script>
import Pagination from "@/components/Pagination_custom";
import waves from "@/directive/waves" // Waves directive
import { getUsersPaginated } from "@/api/user-resources"
import Resource from "@/api/resource"
import axios from 'axios'
import { isLogged } from '@/utils/auth'
import { validPort,validIp } from "@/utils/validate"

const vmsResource = new Resource("systemconfig/vms")

export default {
  components: { Pagination },
  directives: { waves },
  data() {
    const validatePort = (rule, value, callback) => {
      if (!validPort(value)) {
        callback(new Error("Định dạng cổng kết nối không đúng"));
      } else {
        callback();
      }
    };
    const validateIp = (rule, value, callback) => {
      if (!validIp(value)) {
        callback(new Error("Địa chỉ VMS không đúng định dạng"));
      } else {
        callback();
      }
    };
    return {
      flag_active: null,
      connectSuccessDialog: false,
      connectErrorDialog: false,
      layout: "first, prev, pager, next, last",
      loading_delete_all: false,
      avatar: null,
      loading: true,
      loading_user: false,
      loading_add: false,
      loading_edit: false,
      loading_delete: false,
      loading_check_connect: false,
      dialogAdd: false,
      dialogEdit: false,
      vmsList: [],
      vmsDetail: {},
      base_url_upload: process.env.VUE_APP_UPLOAD_URL,
      total: 0,
      searchKeyword: null,
      multipleSelection: [],
      vmsInfo: {
        name: null,
        connectionAddress: null,
        connectionPort: null,
        description: null,
        password: null,
        supplier: null,
        userInfo: null,
      },
      userLogin: this.$store.state.user.userName,
      query: {
        page: 1,
        size: 15,
        keyword: this.searchKeyword,
      },
      rules: {
        name: [
          { required: true, message: "Tên là bắt buộc", trigger: "blur" },
          { max: 255, message: "Tối đa 255 ký tự", trigger: "blur" },
        ],
        password: [
          { required: true, message: "Mật khẩu là bắt buộc", trigger: "blur" },
          { min: 4, message: "Mật khẩu tối thiểu 4 ký tự", trigger: "blur" },
          { max: 20, message: "Tối đa 20 ký tự", trigger: "blur" },
        ],
        connectionAddress: [
          { required: true, message: "Địa chỉ là bắt buộc", trigger: "blur" },
          { max: 100, message: "Tối đa 100 ký tự", trigger: "blur" },
          { validator: validateIp, trigger: 'blur' }
        ],
        connectionPort: [
          { required: true, message: "Cổng kết nối là bắt buộc", trigger: "blur" },
          { max: 4, message: "Cổng kết nối tối đa 4 ký tự", trigger: "blur" },
          { validator: validatePort, trigger: 'blur' }
        ],
        supplier: [
          { required: true, message: "Hãng cung cấp là bắt buộc", trigger: "blur" },
          { max: 255, message: "Tối đa 255 ký tự", trigger: "blur" },
        ],
        userInfo: [
          { required: true, message: "Thông tin người dùng là bắt buộc", trigger: "blur" },
          { max: 255, message: "Tối đa 255 ký tự", trigger: "blur" },
        ],
        description: [
          { max: 500, message: "Tối đa 500 ký tự", trigger: "blur" },
        ],
      },
      isAdmin: false,
      canRead: false,
      canCreate: false,
      canUpdate: false,
      canDelete: false,
      totalCamera: 0,
      totalMappedCamera: 0,
    };
  },

  created() {
    this.isAdmin = this.$root.checkAdmin(this.$route.fullPath);
    this.canRead = this.$root.checkRole(this.$route.fullPath, "canRead");
    this.canCreate = this.$root.checkRole(this.$route.fullPath, "canCreate");
    this.canUpdate = this.$root.checkRole(this.$route.fullPath, "canUpdate");
    this.canDelete = this.$root.checkRole(this.$route.fullPath, "canDelete");
    this.init();
  },

  methods: {
   async init() {
       if(this.canRead){
        await this.getList();
      }else{
        this.$message({
            type: "error",
            message: "Bạn không có quyền xem quản lý vms",
          });
      }
    },
    getList() {
      let queryCustom = {
        page: this.query.page - 1,
        size: this.query.size,
        search: this.searchKeyword ? this.searchKeyword.trim() : null,
      };
      this.loading = true;
      vmsResource
        .list(queryCustom)
        .then((response) => {
          this.loading = false;
          if (response.status == 200) {
            this.vmsList = response.data;
            this.total = response.total;
          } else {
            this.vmsList = [];
            this.total = 0;
          }
        })
        .catch((err) => {
          this.loading = false;
          console.log(err);
          this.vmsList = [];
          this.total = 0;
        });
    },

    addVms() {
      this.vmsInfo = this.$root.trimData(this.vmsInfo);
      this.$refs.vmsForm.validate((valid) => {
        if (valid) {
          this.vmsInfo.connectionPort = parseInt(this.vmsInfo.connectionPort);
          const paramRegister = _.cloneDeep(this.vmsInfo);
          paramRegister.status = false;
          this.loading_add = true;
          vmsResource
            .store(paramRegister)
            .then((response) => {
              if (response.status === 200) {
                this.handleFilter();
                this.resetDialog();
                this.closeDetail();
                this.$message({
                  type: "success",
                  message: "Thêm mới thành công",
                });
                this.dialogAdd = false;
              }
            })
            .catch(() => {
              console.log(err);
              this.vmsInfo.connectionPort = this.vmsInfo.connectionPort + "";
              this.loading_add = false;
            });
        } else {
          return false;
        }
      });
    },

    handleEdit(data) {
      this.vmsInfo = _.cloneDeep(data);
      this.vmsInfo.connectionPort = this.vmsInfo.connectionPort + "";
      this.dialogEdit = true;
      this.$nextTick(() => {
        this.$refs["vmsForm"].clearValidate();
      });
    },

    updateVms() {
      this.vmsInfo = this.$root.trimData(this.vmsInfo);
      this.$refs.vmsForm.validate((valid) => {
        if (valid) {
          this.loading_edit = true;
          this.vmsInfo.connectionPort = parseInt(this.vmsInfo.connectionPort);
          const paramRegister = _.cloneDeep(this.vmsInfo);
          vmsResource
            .update(this.vmsInfo.id, paramRegister)
            .then((response) => {
              if (response.status === 200) {
                this.loading_edit = false;
                this.dialogEdit = false;
                this.handleFilter();
                this.resetDialog();
                this.closeDetail();
                this.$message({
                  type: "success",
                  message: "Cập nhật thành công",
                });
              }
            })
            .catch(() => {
              this.vmsInfo.connectionPort = this.vmsInfo.connectionPort + "";
              this.loading_edit = false;
              this.loading_delete_disable = false;
            });
        } else {
          return false;
        }
      });
    },

    checkConnnect() {
      this.vmsInfo = this.$root.trimData(this.vmsInfo);
      this.$refs.vmsForm.validate((valid) => {
        if (valid) {
          this.loading_check_connect = true;
          let uri =
            "systemconfig/vms/connection?userInfo=" +
            this.vmsInfo.userInfo +
            "&password=" +
            this.vmsInfo.password +
            "&connectionAddress=" +
            this.vmsInfo.connectionAddress +
            "&connectionPort=" +
            this.vmsInfo.connectionPort;
          axios
            .get(process.env.VUE_APP_BASE_API + uri, {
              headers: {
                Authorization: "Bearer " + isLogged(),
              },
            })
            .then((response) => {
              this.loading_check_connect = false;
              if (response.data.status == 200) {
                this.connectSuccess();
              } else {
                this.connectFail();
              }
            })
            .catch(() => {
              this.loading_check_connect = false;
              this.connectFail();
              console.log(err);
            });
        } else {
          return false;
        }
      });
    },
    connectSuccess() {
      this.connectSuccessDialog = true;
    },
    connectFail() {
      this.connectErrorDialog = true;
    },
    rowClicked(row) {
      this.flag_active = row.id;
      this.vmsDetail = row;
      if (this.vmsDetail) {
        document.getElementById("user-table").style.width =
          "calc(100% - 525px)";
        setTimeout(function () {
          document.getElementById("detail-vms").style.display = "block";
          document.getElementById("detail-vms").style.width = "500px";
        }, 500);
        vmsResource
          .get(row.id)
          .then((response) => {
            if (response.status == 200) {
              this.totalCamera = response.data.totalCamera;
              this.totalMappedCamera = response.data.totalMappedCamera;
            }
          })
          .catch((err) => {
            console.log(err);
          });
      }
    },

    closeDetail() {
      document.getElementById("detail-vms").style.display = "none";
      document.getElementById("detail-vms").style.width = "0";
      document.getElementById("user-table").style.width = "calc(100%)";
    },

    destroy(user) {
      this.$confirm(
        "Bạn có chắc chắn muốn xóa người dùng " + user.fullName + " này ",
        "",
        {
          confirmButtonText: "Xác nhận",
          cancelButtonText: "Thoát",
          type: "warning",
        }
      )
        .then(() => {
          this.loading_delete = true;
          userResource
            .destroy(user.uuid)
            .then((response) => {
              this.loading_user = false;
              this.loading_delete = false;
              if (response.status == 200) {
              }
            })
            .catch((err) => {
              this.loading_delete = false;
              this.loading_user = false;
              console.log(err);
              this.$message({
                type: "error",
                message: "Có lỗi xảy ra vui lòng thử lại sau!",
              });
            });
        })
        .catch(() => {});
    },

    destroyMulti() {
      this.$confirm("Bạn có chắc chắn muốn xóa lựa chọn này ", "", {
        confirmButtonText: "Xác nhận",
        cancelButtonText: "Thoát",
        type: "warning",
      })
        .then(() => {
          this.loading_delete_all = true;
          let params = this.multipleSelection.map(function (val) {
            return val.id;
          });
          params = {
            vmsIds: params,
          };
          vmsResource
            .destroyMulti(params)
            .then((response) => {
              this.loading_delete_all = false;
              if (response.status == 200) {
                this.multipleSelection = [];
                this.handleFilter();
                this.$message({
                  type: "success",
                  message: "Xóa thành công",
                });
              }
            })
            .catch(() => {
              this.loading_delete_all = false;
              this.$message({
                type: "error",
                message: "Có lỗi xảy ra vui lòng thử lại sau!",
              });
            });
        })
        .catch(() => {});
    },

    handleFilter() {
      if (this.searchKeyword) {
        this.searchKeyword = this.searchKeyword.trim();
      }
      this.query.page = 1;
      this.getList();
    },

    addCamera(vmsDetail) {
      this.$router.push("camera-for-vms/" + vmsDetail.id);
    },

    handleCreate() {
      this.resetDialog();
      this.dialogAdd = true;
    },

    resetDialog() {
      this.vmsInfo = {
        name: null,
        connectionAddress: null,
        connectionPort: null,
        description: null,
        password: null,
        supplier: null,
        userInfo: null,
      };
    },

    closeDialog(formName) {
      this.$refs[formName].clearValidate();
      this.$refs[formName].resetFields();
    },

    toggleSelection(rows) {
      if (rows) {
        rows.forEach((row) => {
          this.$refs.multipleTable.toggleRowSelection(row);
        });
      } else {
        this.$refs.multipleTable.clearSelection();
      }
    },
    handleSelectionChange(val) {
      this.multipleSelection = val;
    },
    tableRowClassName(row) {
      if (row.row.id == this.flag_active) {
        return "active-row";
      }
      return "";
    },

    detectStatusText(status) {
      let result = "";
      if (status == false) {
        result = "Lỗi";
      }
      if (status == true) {
        result = "OK";
      }
      return result;
    },

    detectStatus(status) {
      let result = "";
      if (status == false) {
        result = "red";
      }
      if (status == true) {
        result = "green";
      }
      return result;
    },

    onlyNumber($event) {
      console.log($event);
      if (!/\d/.test(event.key) && event.key !== ".")
        return event.preventDefault();
    },

    isLetter(e) {
      let char = String.fromCharCode(e.keyCode); // Get the character
      if (/^[A-Za-z]+$/.test(char)) return true;
      // Match with regex
      else e.preventDefault(); // If not match, don't add to input text
    },

    canSelectRow(row, index) {
      return row.userName !== "admin" && row.userName !== this.userLogin;
    },

    closeDelete() {
      this.$refs.multipleTable.clearSelection();
      this.multipleSelection = [];
    },
  },
};
</script>

<style lang="scss" scoped>
</style>

<style lang="scss">
.vms-page {
  .violation-ruleForm .item-input i {
    color: white !important;
  }
  .el-input__count {
    display: none;
  }
  .el-dialog.connect-check {
    border-radius: 8px;
    margin-top: 18% !important;
    .el-dialog__header {
      background: initial;
      font-size: 24px;
      font-weight: bold;
      padding-top: 8px;
      border-bottom: 1px solid #5555;
      padding-bottom: 10px;
      height: auto;
      img {
        position: relative;
        top: 5px;
        left: -6px;
      }
      .el-dialog__headerbtn {
        display: none;
      }
    }
    .el-dialog__footer {
      text-align: center;
      button {
        background: #1f7ff5;
        color: white;
        font-weight: 500;
        font-size: 16px;
      }
    }
    .el-dialog__body {
      text-align: center;
      font-size: 16px;
      color: #000;
    }
  }
  .circle-status {
    width: 17px;
    height: 17px;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    top: 2px;
    left: 10px;
  }
  .circle-status.green {
    background: #16b082;
    border: 4px solid #39d4a0;
  }
  .circle-status.red {
    background: #dd523c;
    border: 4px solid #e76e54;
  }
  .el-form-item {
    margin-bottom: 15px;
  }
  .el-input input {
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    border: solid 1px #9999;
  }
  .el-icon-camera-solid {
    font-size: 25px;
    color: #9a9a9a;
    position: relative;
    top: -50px;
    left: 54px;
    background: #dfdfdf;
    border-radius: 50%;
    padding: 8px;
    border: 1px solid white;
  }
  .img_avatar {
    text-align: center;
    padding-top: 25px;
    img {
      border-radius: 50%;
    }
  }
  .el-dialog {
    margin-top: 63px !important;
  }
  .item-left {
    width: 48%;
    float: left;
    margin-right: 2%;
  }
  .item {
    margin-bottom: 10px;
  }
  .item-right {
    width: 48%;
    float: left;
    margin-left: 2%;
  }
  .block-item {
    width: 100%;
    float: left;
  }
  .el-dialog__header {
    padding: 0;
    background: #006fe3;
    height: 40px;
    line-height: 40px;
    text-align: center;
    .el-dialog__title {
      color: white;
    }
    .el-icon-close {
      color: white;
      font-size: 22px;
      top: -10px;
      position: relative;
    }
  }
  .el-dialog__body {
    .el-form-item__label {
      padding-bottom: 0;
      font-size: 14px;
      color: #363030;
      font-weight: 500 !important;
    }
  }
  .el-dialog__footer {
    clear: both;
    padding-bottom: 25px;
    button {
      height: 40px;
      border-radius: 5px;
      width: 140px;
      text-transform: uppercase;
      font-weight: bold;
    }
    .el-button--primary {
      border-color: #1f7ff5;
      background: #1f7ff5;
    }
    .el-button--danger {
      border-color: #9e9e9e;
      background: #9e9e9e;
    }
    .el-button--success {
      background: #26c6da;
      border-color: #26c6da;
      float: left;
      width: auto;
      text-transform: initial;
      .el-icon-top {
        position: relative;
        left: -5px;
      }
    }
  }
  #select-all-delete {
    clear: both;
    height: 63px;
    line-height: 63px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ff4646;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    .el-icon-close {
      font-size: 25px;
      margin-left: 20px;
      margin-right: 35px;
      position: relative;
      top: 4px;
      cursor: pointer;
    }
    button {
      background: #e00000;
      border: initial;
      border-radius: 5px;
      float: right;
      display: inline-block;
      margin-top: 15px;
      margin-right: 15px;
    }
  }
  .action {
    padding-top: 45px;
    clear: both;
    .el-button--primary {
      background: #64789a;
      border: initial;
      border-radius: 4px;
      width: 125px;
      height: 40px;
    }
    .el-button--success {
      background: #1f7ff5;
      border: initial;
      border-radius: 4px;
      width: 180px;
      height: 40px;
      float: right;
      text-transform: uppercase;
    }
  }
  #detail-vms {
    position: relative;
    width: 0;
    background: white;
    padding: 25px;
    float: left;
    margin-left: 25px;
    display: none;
    overflow: hidden;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    .avatar {
      text-align: center;
      margin-bottom: 25px;
      margin-top: 25px;
      img {
        border-radius: 50%;
      }
    }
    h4 {
      font-size: 30px;
      font-weight: 500;
      text-transform: uppercase;
      padding-top: 0;
      margin-top: 0;
      padding-left: 5px;
      img {
        margin-left: 10px;
      }
    }
    .image {
      width: 50px;
      margin-right: 0px;
      text-align: left;
    }
    .content {
      width: calc(100% - 50px);
    }
    .item-label {
      color: #363030;
      font-weight: bold;
      font-size: 14px;
      margin-bottom: 10px;
    }
    .item-text {
      color: black;
      font-size: 16px;
      margin-bottom: 20px;
      opacity: 0.6;
      word-break: break-word;
    }
    .el-icon-close {
      background: #e3e3e3;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      text-align: center;
      line-height: 30px;
      color: #878787;
      font-size: 16px;
      position: absolute;
      right: 10px;
      top: 10px;
      cursor: pointer;
    }
  }
  .el-table th > .cell {
    text-align: left;
  }
  .el-table tr > th:first-child .cell {
    text-align: center;
  }
  .el-table th {
    color: black;
    font-size: 14px;
  }
  .el-table td {
    color: black;
    font-size: 14px;
  }
  .el-table tr td:first-child {
    text-align: center;
  }
  .el-table td:first-child .cell {
    display: inline-block;
  }
  .filter-container {
    padding-bottom: 20px;
  }
  tbody {
    tr {
      cursor: pointer;
    }
  }
  .search-block {
    text-align: left;
    float: left;
    width: 100%;
    margin-bottom: 20px;
    .search {
      float: left;
      width: calc(100% - 162px);
      display: inline;
      input {
        width: 272px;
        height: 36px !important;
        line-height: 36px !important;
        border: solid 1px #9999;
        border-radius: 5px;
        padding-left: 40px;
      }
      .el-icon-search {
        line-height: 16px;
        font-size: 19px;
        color: #666;
      }
      span {
        left: 10px;
      }
    }
    button {
      background: #1f7ff5;
      border-radius: 4px;
      height: 40px !important;
      width: 147px;
      margin-left: 15px;
      border-color: #1f7ff5;
      span {
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
}
</style>
