<template>
    <div>
        <VideoLive/>
    </div>
    
</template>

<script>
// Similarly, you can also introduce the plugin resource pack you want to use within the component
// import 'some-videojs-plugin'
import filter_icon from "@/assets/images/filter.png";
import filter_icon_new from "@/assets/images/filter_new.png";
import background_video from "@/assets/images/background_video.png";
import default_img_cam from "@/assets/images/default_img_cam.png";
import cam_icon_video from "@/assets/images/cam_icon_video.png";
// import {convertDateTimeFromServer} from '../../utils/date.js'
import Search from "@/components/Search/search-form";
import SearchDate from "@/components/Search/search-form-date";
import Resource from "@/api/resource";
import vehicle_default from "@/assets/images/user_default_cam.png";
import vehicle_default_cam from "@/assets/images/vehicle_default1.png";
import EventIcon from "@/components/EventIcon";
import VideoLive from "@/video/VideoLive";

const camResource = new Resource("systemconfig/camera");
//const camInfoResource = new Resource("systemconfig/traffic-mon-cam");
const camInfoResource = new Resource("management/mons/traffic-mon-cam");
const camForSiteResource = new Resource("systemconfig/camera/site");
const siteResource = new Resource("systemconfig/sites");
const groupCameraResource = new Resource("systemconfig/group-camera");
const categoryResource = new Resource("systemconfig/category");
export default {
  components: {EventIcon, Search, SearchDate, VideoLive},
  data() {
    return {
      vehicle_default: vehicle_default,
      vehicle_default_cam: vehicle_default_cam,
      typeSearchValue: null,
      typeSearchList: null,
      checkedCam: [],
      checkFilterEvent: [],
      siteTitle: "",
      camSwidth: [],
      searchKeyword: null,
      typeSearch: null,
      active_1: true,
      active_2: false,
      active_3: false,
      intervalId: null,
      filter: {
        start_date: moment()
            .subtract(60, "minute")
            .format("YYYY-MM-DD HH:mm:ss"),
        end_date: moment().format("YYYY-MM-DD HH:mm:ss"),
      },
      showFilterTk: false,
      span: 24,
      background_video: background_video,
      filter_icon: filter_icon,
      filter_icon_new: filter_icon_new,
      default_img_cam: default_img_cam,
      urlImage: null,
      cam_icon_video: cam_icon_video,
      events: [],
      switchVideo: [],
      switchVideoIdLive: [],
      showCamBtn: false,
      hideCamBtn: true,
      filterTime: "Giờ",
      playerOptions: [
        {
          autoplay: true,
          muted: true,
          sources: [
            {
              type: "application/x-mpegURL",
              src: "https://www.rmp-streaming.com/media/hls/fmp4/apple/master.m3u8",
            },
          ],
        },
      ],
      query: {
        page: 0,
        size: 10000,
      },
      violationTypeLst: [],
      camList: [],
      videoShow: [],
      listVideoShow: [],
      number: 1,
      statistic: null,
      list_cam_id: "",
      height: 0,
      height_statistic: 0,
      height_event: 0,
      list_cam_id_filter: [],
      canRead: false,
      canCreate: false,
      canUpdate: false,
      canDelete: false,
    };
  },
  created() {
    this.canRead = this.$root.checkRole(this.$route.fullPath, "canRead");
    this.canCreate = this.$root.checkRole(this.$route.fullPath, "canCreate");
    this.canUpdate = this.$root.checkRole(this.$route.fullPath, "canUpdate");
    this.canDelete = this.$root.checkRole(this.$route.fullPath, "canDelete");
    if (this.canRead) {
      this.urlImage = process.env.VUE_APP_URL_IMAGE;
      if (this.$route.query.site_id && this.$route.query.site_name) {
        this.siteTitle = this.$route.query.site_name;
        this.getListForSiteId();
      } else {
        this.getList();
      }
    }
    // this.getSite();
  },
  mounted() {
    // if (this.canRead) {
    //   let width_video = document.getElementById("view-video").offsetWidth;
    //   // this.height = width_video/2.25;
    //   this.height = window.innerHeight - 370;
    //   if (this.$route.query.site_id && this.$route.query.site_name) {
    //     this.height_statistic = this.height - 105;
    //   } else {
    //     this.height_statistic = this.height - 70;
    //   }
    //   this.height_event = this.height - 99;
    // }
    // this.getViolationTypeList()
  },
  computed: {
    resultQueryCam() {
      // console.log(this.typeSearchValue)
      if (this.typeSearchValue && this.typeSearchValue.length > 0) {
        if (this.typeSearch == 1) {
          return this.camList.filter((item) => {
            return this.typeSearchValue.includes(item.site.id);
            // return this.searchKeyword.toLowerCase().split(' ').every(v => item.cam_name.toLowerCase().includes(v)) || this.searchKeyword.toLowerCase().split(' ').every(v => item.site_name.toLowerCase().includes(v))
          });
        }
        if (this.typeSearch == 2) {
          let self = this;
          return this.camList.filter((item) => {
            if (item.groupCameraIds) {
              return item.groupCameraIds.some((val) => {
                return self.typeSearchValue.includes(val);
              });
            }
          });
        }
      } else {
        return this.camList;
      }
    },
    resultQueryEvent() {
      let result = [];
      if (this.checkFilterEvent.length > 0) {
        result = this.events.filter((item) => {
          return this.checkFilterEvent.includes(item.eventTypeString);
        });
      } else {
        result = this.events;
      }
      // if(this.$route.query.site_id) {
      result = result.filter((item) => {
        return this.list_cam_id_filter.includes(item.sourceId);
        // return item.sourceId == this.$route.query.site_id
      });
      // }
      result = result.slice(0,100)
      return result;
    },
  },
  methods: {
    async getViolationTypeList() {
      let queryCustom = {
        catType: "VIOLATION",
      };
      let result = await categoryResource.list(queryCustom);
      if (result && result.data) {
        this.violationTypeLst = result.data;
      }
    },
    doesFileExist(urlToFile){
       var img = new Image()
       img.src = urlToFile
       return img.height != 0
    },
    getList() {
      camResource
          .list(this.query)
          .then((response) => {
            let self = this;
            self.camList = [];
            if (response.data) {
              // self.list_cam_id_filter = [];
              response.data.forEach(function (val, index) {
                if(val.urls){
                  let item = {
                    muted: true,
                    autoplay: true,
                    preload: true,
                    sources: [
                      {
                        type: "application/x-mpegURL",
                        src: val.urls.hlsUrl,
                        // type: "video/mp4",
                        // src: "http://vjs.zencdn.net/v/oceans.mp4"
                      },
                    ],
                    cam_name: val.name,
                    liveUrl: val.urls.liveUrl,
                    liveUrlVideo: {
                      muted: true,
                      autoplay: true,
                      preload: true,
                      sources: [
                        {
                          type: "application/x-mpegURL",
                          // src: val.urls.liveUrl
                          src: val.urls.liveUrl,
                          // type: "video/mp4",
                          // src: "http://vjs.zencdn.net/v/oceans.mp4"
                        },
                      ],
                    },
                    liveUrlVideoMp4: {
                      muted: true,
                      autoplay: true,
                      preload: true,
                      sources: [
                        {
                          // type: "application/x-mpegURL",
                          // src: val.urls.liveUrl
                          src: val.urls.liveUrl,
                          type: "video/mp4",
                          // src: "http://vjs.zencdn.net/v/oceans.mp4"
                        },
                      ],
                    },
                    cam_id: val.id,
                    site_name: val.site.name,
                    imageUrl: val.imageUrl,
                    site: val.site,
                    groupCameraIds: val.groupCameraIds,
                    modifiedDate: val.modifiedDate,
                  }
                  // self.list_cam_id_filter.push(val.id);
                  self.camList.push(item)
                }
              });
              if (this.$route.query.site_id && this.$route.query.site_name) {
                // this.listVideoShow = this.resultQueryCam.slice(0, 1)
                // this.videoShow = this.resultQueryCam.slice(0, 1)
                const filteredArray = this.videoShow.filter((value) =>
                    this.resultQueryCam.includes(value)
                );
                this.listVideoShow = filteredArray;
                if (this.listVideoShow.length > 4) {
                  this.number = 9;
                  this.span = 8;
                  this.active_1 = false;
                  this.active_2 = false;
                  this.active_3 = true;
                } else if (this.listVideoShow.length > 1) {
                  this.number = 4;
                  this.active_1 = false;
                  this.active_2 = true;
                  this.active_3 = false;
                  this.span = 12;
                } else {
                  this.number = 1;
                  this.span = 24;
                  this.active_1 = true;
                  this.active_2 = false;
                  this.active_3 = false;
                }
                this.videoShow = this.listVideoShow.slice(0, this.number);
              } else {
                this.videoShow = self.camList.slice(0, 1);
                this.listVideoShow = self.camList.slice(0, 1);
              }
              this.getCamInfo();
            }
          })
          .catch((err) => {
            console.log(err);
          });
    },
    replaceImageFail(e) {
      e.target.src = this.vehicle_default;
    },
    replaceImageFailVehicle(e) {
      e.target.src = this.vehicle_default_cam;
    },
    detectFormatVideo(link) {
      return this.$root.detectFormatVideo(link);
    },
    getListForSiteId() {
      camForSiteResource
          .get(this.$route.query.site_id)
          .then((response) => {
            let self = this;
            if (response.data) {
              // self.list_cam_id_filter = [];
              response.data.forEach(function (val, index) {
                let item = {
                  muted: true,
                  autoplay: true,
                  sources: [
                    {
                      type: "application/x-mpegURL",
                      src: val.urls.hlsUrl,
                    },
                  ],
                  cam_name: val.name,
                  liveUrl: val.urls.liveUrl,
                  liveUrlVideo: {
                    muted: false,
                    autoplay: true,
                    preload: true,
                    sources: [
                      {
                        type: "application/x-mpegURL",
                        // src: val.urls.liveUrl
                        src: val.urls.liveUrl,
                        // type: "video/mp4",
                        // src: "http://vjs.zencdn.net/v/oceans.mp4"
                      },
                    ],
                  },
                  liveUrlVideoMp4: {
                    muted: true,
                    autoplay: true,
                    preload: true,
                    sources: [
                      {
                        // type: "application/x-mpegURL",
                        // src: val.urls.liveUrl
                        src: val.urls.liveUrl,
                        type: "video/mp4",
                        // src: "http://vjs.zencdn.net/v/oceans.mp4"
                      },
                    ],
                  },
                  cam_id: val.id,
                  site_name: val.site.name,
                  imageUrl: val.imageUrl,
                  modifiedDate: val.modifiedDate,
                  site: val.site,
                  groupCameraIds: val.groupCameraIds,
                };
                // self.list_cam_id_filter.push(val.id);
                self.camList.push(item);
              });
              this.videoShow = self.camList.slice(0, 1);
              this.listVideoShow = self.camList.slice(0, 1);
              this.getCamInfo();
            }
          })
          .catch((err) => {
            console.log(err);
          });
    },
    getSite() {
      let queryCustom = {
        page: 0,
        size: 1000,
      };
      siteResource
          .list(queryCustom)
          .then((response) => {
            this.typeSearchList = response.data;
          })
          .catch((err) => {
            console.log(err);
          });
    },
    getGroupCam() {
      /*let queryCustom = {
	        page: 0,
	        size: 1000
	    };*/
      groupCameraResource
          .list()
          .then((response) => {
            this.typeSearchList = response.data;
          })
          .catch((err) => {
            console.log(err);
          });
    },
    getTypeSearchList() {
      this.typeSearchValue = null;
      if (this.typeSearch == 1) {
        this.getSite();
      }
      if (this.typeSearch == 2) {
        this.getGroupCam();
      }
    },
    searchCam() {
      if (this.$route.query.site_id && this.$route.query.site_name) {
        this.siteTitle = ""
        this.getList()
      } else {
        const filteredArray = this.videoShow.filter((value) =>
            this.resultQueryCam.includes(value)
        );
        this.listVideoShow = filteredArray;
        if (this.listVideoShow.length > 4) {
          this.number = 9;
          this.span = 8;
          this.active_1 = false;
          this.active_2 = false;
          this.active_3 = true;
        } else if (this.listVideoShow.length > 1) {
          this.number = 4;
          this.active_1 = false;
          this.active_2 = true;
          this.active_3 = false;
          this.span = 12;
        } else {
          this.number = 1;
          this.span = 24;
          this.active_1 = true;
          this.active_2 = false;
          this.active_3 = false;
        }
        this.videoShow = this.listVideoShow.slice(0, this.number);
      }
    },
    hideCamHeight() {
      document.getElementById("list-content").style.height = "0";
      let width_video = document.getElementById("view-video").offsetWidth;
      // this.height = width_video/1.75;
      this.height = window.innerHeight - 170;
      // console.log(window.innerHeight);
      if (this.$route.query.site_id && this.$route.query.site_name) {
        this.height_statistic = this.height - 105;
      } else {
        this.height_statistic = this.height - 70;
      }
      this.height_event = this.height - 99;
      this.hideCamBtn = false;
      this.showCamBtn = true;
    },
    showCamHeight() {
      document.getElementById("list-content").style.height = "200px";
      let width_video = document.getElementById("view-video").offsetWidth;
      // this.height = width_video/2.25;
      this.height = window.innerHeight - 370;
      if (this.$route.query.site_id && this.$route.query.site_name) {
        this.height_statistic = this.height - 105;
      } else {
        this.height_statistic = this.height - 70;
      }
      this.height_event = this.height - 99;
      this.hideCamBtn = true;
      this.showCamBtn = false;
    },
    containsObject(obj) {
      var i;
      for (i = 0; i < this.videoShow.length; i++) {
        if (this.videoShow[i] === obj) {
          return true;
        }
      }
      return false;
    },
    switchHandle(data, id) {
      if (data == "overlay" && !this.switchVideo.includes(id)) {
        this.switchVideo.push(id);
        this.switchVideoIdLive = this.switchVideoIdLive.filter((f) => f !== id);
      } else if (data == "live") {
        this.switchVideoIdLive.push(id);
        this.switchVideo = this.switchVideo.filter((f) => f !== id);
      }
    },
    onClickChild(query) {
      this.filter.start_date = query.start_date;
      this.filter.end_date = query.end_date;
      this.getCamInfo();
    },
    getCamInfo() {
      let self = this;
      self.list_cam_id = "";
      self.list_cam_id_filter = [];
      self.videoShow.forEach(function (val, index) {
        self.list_cam_id_filter.push(val.cam_id);
        if (
            !self.switchVideo.includes(val.cam_id) &&
            !self.switchVideoIdLive.includes(val.cam_id)
        ) {
          self.switchVideo.push(val.cam_id);
        }
        if (parseInt(index) < 1) {
          self.list_cam_id += val.cam_id;
        } else {
          self.list_cam_id += "," + val.cam_id;
        }
      });
      let timeT = 60;
      let fromDate = moment()
          .subtract(timeT, "minute")
          .format("YYYY-MM-DD HH:mm:ss");
      let toDate = this.filter.end_date;
      if (this.filterTime == "Ngày") {
        timeT = 60 * 24; // 1 ngày
        fromDate = moment()
            .subtract(timeT, "minute")
            .format("YYYY-MM-DD HH:mm:ss");
        toDate = moment().format("YYYY-MM-DD 23:59:59");
      }
      if (this.list_cam_id) {
        let params = {
          cameraIds: this.list_cam_id,
          fromDate: fromDate,
          toDate: toDate,
        };
        camInfoResource
            .list(params)
            .then((response) => {
              if (response.data) {
                self.statistic = response.data;
              } else {
                self.statistic = null;
              }
            })
            .catch((err) => {
              console.log(err);
            });
        let self = this;
        if (this.intervalId) {
          clearInterval(this.intervalId);
        }
        const idIterval = setInterval(function () {
          const timeT = self.filterTime === 'Ngày' ? 60 * 24 : 60
          let params = {
            cameraIds: self.list_cam_id,
            fromDate: moment()
                .subtract(timeT, "minute")
                .format("YYYY-MM-DD HH:mm:ss"),
            toDate: moment().format("YYYY-MM-DD HH:mm:ss"),
          };
          camInfoResource
              .list(params)
              .then((response) => {
                if (response.data) {
                  self.statistic = response.data;
                } else {
                  self.statistic = null;
                }
              })
              .catch((err) => {
                console.log(err);
              });
        }, 30000);
        this.intervalId = idIterval;
        window.localStorage.setItem("intervalId", idIterval);
      } else {
        this.statistic = null;
      }
    },
    changeGrid(number) {
      if (number == 1) {
        this.active_1 = true;
        this.active_2 = false;
        this.active_3 = false;
        this.span = 24;
        this.videoShow = this.listVideoShow.slice(0, number);
        this.getCamInfo();
      }
      if (number == 4) {
        this.active_1 = false;
        this.active_2 = true;
        this.active_3 = false;
        this.span = 12;
        this.videoShow = this.listVideoShow.slice(0, number);
        this.getCamInfo();
      }
      if (number == 9) {
        this.active_1 = false;
        this.active_2 = false;
        this.active_3 = true;
        this.span = 8;
        this.videoShow = this.listVideoShow.slice(0, number);
        this.getCamInfo();
      }
      this.listVideoShow = this.videoShow;
      this.number = number;
    },
    showCam(event, val) {
      if (event) {
        // this.listVideoShow.push(val);
        // console.log(this.videoShow);
        this.listVideoShow = this.listVideoShow.filter(function (item) {
          return item.cam_id != val.cam_id;
        });
        this.listVideoShow.unshift(val);
        if (this.listVideoShow.length > 4) {
          this.number = 9;
          this.span = 8;
          this.active_1 = false;
          this.active_2 = false;
          this.active_3 = true;
        } else if (this.listVideoShow.length > 1) {
          this.number = 4;
          this.active_1 = false;
          this.active_2 = true;
          this.active_3 = false;
          this.span = 12;
        } else {
          this.number = 1;
          this.span = 24;
          this.active_1 = true;
          this.active_2 = false;
          this.active_3 = false;
        }
        this.videoShow = this.listVideoShow.slice(0, this.number);
        this.getCamInfo();
      } else {
        this.listVideoShow = this.listVideoShow.filter(function (item) {
          return item.cam_id != val.cam_id;
        });
        if (this.listVideoShow.length > 4) {
          this.number = 9;
          this.span = 8;
          this.active_1 = false;
          this.active_2 = false;
          this.active_3 = true;
        } else if (this.listVideoShow.length > 1) {
          this.number = 4;
          this.active_1 = false;
          this.active_2 = true;
          this.active_3 = false;
          this.span = 12;
        } else {
          this.number = 1;
          this.span = 24;
          this.active_1 = true;
          this.active_2 = false;
          this.active_3 = false;
        }
        this.videoShow = this.listVideoShow.slice(0, this.number);
        this.getCamInfo();
      }
    },
    handleClick(tab, event) {
    },
  },
  sockets: {
    VIOLATION_INFO: function (data) {
      this.events.unshift(data);
    },
    RECOGNITION_INFO: function (data) {
      data.eventTypeString = "PLATE";
      data.eventTypeName = "Biển số";
      this.events.unshift(data); // biển số
    },
    // TRAFFIC_FLOW_INFO: function(data) {
    // 	this.events.unshift(data);
    // },
  },
  beforeDestroy() {
    if (this.intervalId) {
      clearInterval(this.intervalId);
    }
  },
};
</script>

<style type="text/css" lang="scss" scoped>
/* css filter */
.el-dropdown-menu {
  /*left: 939px !important;
		top: 155px !important;
		padding-top: 15px;
    	padding-bottom: 15px;
    	border: 1px solid #ddd;*/
}

.search-template .el-popover__reference {
  top: 0 !important;
}

.event {
  padding-left: 20px;

  img {
    cursor: pointer;
    width: 100%;
  }
}

.el-checkbox {
  display: inline-block;
  margin-bottom: 5px;
  margin-top: 10px;
  margin-left: 15px;
}

/* ket thuc */
</style>
<style type="text/css" lang="scss">
.camera-filter-violation {
  margin-top: -12px !important;
  width: 182px !important;
  margin-left: -22px !important;

  svg {
    position: relative;
    top: 3px;
    margin-right: 2px;
  }
}

.time-filter-event {
  margin-top: -8px !important;
  margin-left: -20px;
  padding: 20px 10px;
}

.filter {
  .el-dropdown {
    position: absolute;
    left: 20px;
    top: 9px;
  }
}

.dropdown-custom {
  .el-checkbox {
    display: flex;
    align-items: center;
    width: initial;
    .el-checkbox__label {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap !important;
    }
  }
}

.el-checkbox__label {
  font-weight: normal;
}

.popper__arrow {
  /*left: 15px !important;*/
}

.live-stream {
  height: 100%;
  background: #212121;
  text-align: center;

  img {
    max-height: 100%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
  }

  .image {
    height: 100%;
    position: relative;
  }
}


.camera-monitor {
  padding: 25px;
  padding-bottom: 10px;

  .change-grid {
    width: 35px;
    height: 35px;
  }

  .view-camera {
    width: 100%;
    float: left;
    background: #f1f5fb;
    margin-bottom: 5px;

    .img {
      height: 100%;
      cursor: pointer;
      background: #212121;
      text-align: center;
      position: relative;

      img {
        height: 50px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
      }
    }

    .view {
      width: calc(100% - 330px);
      float: left;
      border-radius: 4px;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
      padding: 10px;
      /*padding-top: 0;*/
      background: white;

      .vjs-big-play-button {
        left: 0;
        right: 0;
        margin: auto;
        top: 0;
        bottom: 0;
      }

      /*height: 637px;*/
      .grid-content {
        position: relative;

        .cam_button {
          position: absolute;
          top: 6px;
          z-index: 999;
          left: 5px;
          cursor: pointer;
          display: flex;
          width: calc(100% - 5px);

          .camera-title {
            color: #fff;
            font-size: 14px;
            line-height: 37px;
            margin-left: 10px;
            width: calc(100% - 160px);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        .cam_button_switch {
          position: absolute;
          top: 13px;
          z-index: 999;
          right: 13px;
          color: white;
          font-weight: normal;
          box-shadow: 1px 0px 2px 0px #cacaca;
          border-radius: 13px;
          line-height: 26px;

          span {
            height: 26px;
            background: #4b4b4b;
            color: white;
            display: block;
            width: 43px;
            text-align: center;
            font-size: 9px;
            float: left;
            cursor: pointer;
          }

          span.overlay {
            border-top-left-radius: 22px;
            border-bottom-left-radius: 22px;
          }

          span.live {
            border-top-right-radius: 22px;
            border-bottom-right-radius: 22px;
          }

          span.active {
            background: #cacaca;
            color: red;
            font-weight: bold;
          }
        }
      }
    }

    .info {
      float: left;
      width: 325px;
      margin-left: 5px;
      border-radius: 4px;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
      background: white;

      .el-tabs__nav-wrap.is-scrollable {
        padding: 0 !important;

        .el-tabs__nav-prev {
          display: none !important;
        }

        .el-tabs__nav-next {
          display: none !important;
        }
      }

      .card {
        .filter-time {
        }
      }

      .el-tabs__nav-scroll {
        .el-tabs__nav {
          display: flex;
        }
      }

      .filter-content-date {
        display: flex;

        .filter-content {
          img {
            position: relative;
            top: 9px;
            right: 5px;
          }
        }
      }

      .camera-filter-violation-date {
        position: absolute;
        color: #000;
        z-index: 9999999;
        top: 20px;
      }

      .event {
        .title-event {
          font-size: 16px;
          font-weight: 500;
          /*margin-bottom: 10px;*/
        }

        .item-event {
          width: 100%;
          float: left;
          margin-top: 15px;

          .el-col-14 {
            padding-left: 3px !important;
            padding-right: 3px !important;
          }

          .grid-content-right {
            img {
              width: 15px;
              margin-right: 3px;
            }
          }

          .item-1 {
            margin-bottom: 7px;
          }

          .item-1.title-event {
            margin-bottom: 9px;
            font-size: 15px;

            img {
              width: 17px;
              position: relative;
              top: 6px;
            }
          }

          .item-1.cam_name {
            margin-bottom: 9px;
            font-size: 14px;

            img {
              width: 17px;
              position: relative;
              top: 4px;
            }
          }

          .item-1.time {
            img {
              position: relative;
              top: 2px;
            }
          }

          .item-1.plate {
            font-weight: bold;
            font-size: 14px;
            color: rgba(0, 0, 0, 0.87);

            img {
              position: relative;
              top: 2px;
              margin-right: 5px;
            }
          }
        }
      }

      .el-row {
        margin-left: -10px;
        margin-right: -10px;
        overflow: auto;
        /*height: 440px;*/
      }

      .time {
        font-size: 12px;
        color: #333;
      }

      .el-tabs__nav {
        width: 100%;
      }

      .el-tabs__item {
        width: 50%;
        font-weight: normal;
        background: #d8d8d8;
        color: #9e9e9e;
        text-align: center;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;

        .filter-icon {
          display: inline-block;
        }

        .filter-icon-new {
          display: none;
        }
      }

      .is-active {
        background: #1f7ff5;
        color: white;

        .filter-icon {
          display: none;
        }

        .filter-icon-new {
          display: inline-block;
        }
      }

      .title {
        font-size: 16px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        text-align: left;
        padding-left: 20px;
        color: rgba(0, 0, 0, 0.87);
        border-bottom: 1px solid #ddd;
        padding-bottom: 15px;
      }

      .item {
        border-bottom: 1px solid #ddd;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;

        .cam-name {
          font-size: 16px;
          font-weight: 500;
          color: rgba(0, 0, 0, 0.87);
          padding-bottom: 10px;
        }

        .cam-info-col {
          width: 50%;
          display: inline-block;

          .label {
            color: #575962;
            font-size: 16px;
            padding-bottom: 10px;
          }
        }

        .traffic {
          .number {
            color: #26c6da;
            font-size: 24px;
            font-weight: bold;
          }
        }

        .violation {
          .number {
            color: #ff6161;
            font-size: 24px;
            font-weight: bold;
          }
        }
      }
    }
  }

  .vjs-tech {
    padding-right: 1px;
    background: #222222 !important;
  }

  .video-js {
    width: 100% !important;
    /*height: 240px;*/
    /*margin-bottom: 20px;*/
  }

  .height-500 {
    .el-row,
    .el-col,
    .grid-content,
    .video-player,
    .video-js {
      height: 100%;
    }

    /*height: 597px;*/
  }

  .height-250 {
    .el-row,
    .grid-content,
    .video-player {
      height: 100%;
    }

    .video-js {
      height: calc(100%);
    }

    .el-col {
      height: calc(50% - 10px);
    }

    .el-col:nth-child(1),
    .el-col:nth-child(2) {
      margin-bottom: 10px;
    }

    .el-col:nth-child(3),
    .el-col:nth-child(4) {
      margin-top: 10px;
    }

    /*height: 597px;*/
  }

  .height-166 {
    .el-row,
    .grid-content,
    .video-player {
      height: 100%;
    }

    .video-js {
      height: calc(100%);
    }

    .el-col {
      height: calc(33% - 13px);
    }

    .el-col:nth-child(1),
    .el-col:nth-child(2),
    .el-col:nth-child(3) {
      margin-bottom: 10px;
    }

    .el-col:nth-child(4),
    .el-col:nth-child(5),
    .el-col:nth-child(6) {
      margin-top: 10px;
    }

    .el-col:nth-child(7),
    .el-col:nth-child(8),
    .el-col:nth-child(9) {
      margin-top: 20px;
    }

    /*height: 597px;*/
  }

  .change-grid.active {
    border: 2px solid #006fe3;
    color: #006fe3;

    span {
      background: #006fe3;
    }
  }

  .change-grid {
    display: inline-block;
    cursor: pointer;
    font-size: 24px;
    color: #999;
    border: 2px solid #999;
    margin-left: 10px;
    padding: 2px;
    float: left;
    line-height: 30px;
    text-align: center;

    span {
      display: inline-block;
      height: 25px;
      width: 25px;
      background: #999;
      position: relative;
      top: 1px;
    }
  }

  .list-video {
    background: white;
    padding: 10px;
    padding-bottom: 3px;
    border-radius: 4px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
    clear: both;

    .search-block {
      position: relative;

      .search {
        width: 272px;

        input {
          height: 36px !important;
          line-height: 36px !important;
          border: 1px solid #9999;
        }
      }

      .icon-search {
        position: absolute;
        left: 10px;
        z-index: 999;
        line-height: 36px;
        color: #555;
      }
    }

    .type-search-btn-value .el-select__tags span span span {
      max-width: 250px;
      overflow: hidden;
      display: inline-block;
      float: left;
      text-overflow: ellipsis;
    }

    .type-search-btn-value.multi .el-select__tags span span span {
      max-width: 220px;
    }

    .el-checkbox {
      margin-left: 0;
      margin-right: 0;
    }

    .change-grid-block {
      float: right;
    }

    .el-icon-search {
      color: #999;
      font-size: 14px;
      cursor: pointer;
    }

    .btn-search {
      border-radius: 0;
      background: initial;
      border: 1px solid #dcdfe6;
      border-right: initial;
      padding-left: 10px;
      padding-right: 0;
      padding-top: 9px;
      position: absolute;
      z-index: 9;
    }

    .type-search-btn {
      width: 133px;

      input {
        /*border-top-left-radius: 0;
				    border-bottom-left-radius: 0;*/
        border-color: #dcdfe6 !important;
        /*border-right: initial;*/
        padding-left: 10px;
        border-radius: 0;
      }

      .el-select__caret {
        /*display: none;*/
      }
    }

    .type-search-btn.width500 {
      width: 500px;
    }

    .type-search-btn-value {
      width: 350px;
      margin-left: -1px;

      input {
        border-color: #dcdfe6 !important;
        border-radius: 0;
        /*border-left: 0;*/
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }

    .list-content::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
      border-radius: 0;
      background-color: #f5f5f5;
    }

    .list-content::-webkit-scrollbar {
      width: 5px;
      height: 8px;
      background-color: #f5f5f5;
      border-radius: 17px;
    }

    .list-content::-webkit-scrollbar-thumb {
      border-radius: 17px;
      -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
      background-color: #ddd;
    }

    .list-content {
      height: 200px;
      overflow-x: auto;
      white-space: nowrap;
      margin-top: 5px;
      overflow-y: hidden;

      .item {
        display: inline-block;
        margin-right: 20px;

        .img.active {
          box-shadow: 0px 0px 3px 3px #1f7ff5;
        }

        .img.is-img {
          .el-checkbox {
            margin-left: 0;
          }

          .el-checkbox__label {
            padding-left: 0;
          }

          img {
            height: 120px;
            width: 228px;
          }
        }

        .img {
          position: relative;
          width: 228px;
          height: 120px;
          cursor: pointer;
          background: #212121;
          text-align: center;
          line-height: 160px;
          position: relative;

          img {
            height: 60px;
          }

          .el-icon-close {
            color: white;
            font-size: 12px;
            position: absolute;
            right: 6px;
            top: 6px;
          }
        }

        .title {
          font-size: 14px;
          font-weight: 500;
          margin-top: 10px;
          text-transform: uppercase;
          color: rgba(0, 0, 0, 0.87);
          width: 228px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;

          span {
            font-size: 12px;
            color: #999;
            font-weight: normal;
            float: right;
          }
        }

        .descript {
          font-size: 14px;
          margin-top: 4px;
          margin-bottom: 5px;
          color: rgba(0, 0, 0, 0.6);
          width: 228px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .el-checkbox__input {
          position: absolute;
          top: 0px;
          right: 0px;
        }
      }
    }
  }
}
</style>
