<template>
  <div class="map-monitor" v-if="display && canRead">
    <!-- <el-input class="search"
            placeholder=""
            prefix-icon="el-icon-search"
            v-model="query.search" @change="trimInputValue()" @keyup.enter.native="handleFilter()">
        </el-input> -->
    <div class="search-block search">
      <!-- <el-button type="primary" v-if="!typeSearch" class="btn-search" icon="el-icon-search"></el-button> -->
      <div class="icon-site"><i class="el-icon-location"></i> Vị trí</div>
      <template>
        <!-- <el-select popper-class="monitor-camera-btn-search" :class="{ width500: !typeSearch }" class="type-search-btn" @change="getTypeSearchList()" v-model="typeSearch" placeholder="">
				    <el-option value="1">
				      <i class="el-icon-location"></i> Vị trí
				    </el-option>
					<el-option
				      key="2"
				      label="Nhóm camera"
				      value="2">
				      <i class="el-icon-video-camera"></i> Nhóm camera
				    </el-option>
				</el-select> -->
        <el-select
          v-show="typeSearch"
          v-model="typeSearchValue"
          filterable
          collapse-tags
          clearable
          :filter-method="filterOptions"
          @visible-change="reset"
          @change="handleFilter()"
          placeholder="- Lựa chọn -"
          class="type-search-btn-value"
        >
          <el-option
            v-for="item in typeSearchListVisible"
            :key="item.id"
            :label="item.name"
            :value="item.id"
          >
          </el-option>
        </el-select>
      </template>
    </div>
    <!-- <mapMonitor :sites="sites"></mapMonitor> -->
    <!-- map new-->
    <div id="container-map">
      <div id="mapRoute"></div>
      <div id="popup" class="ol-popup" style="visibility: hidden">
        <detailSite
          ref="detailSite"
          v-if="detailSiteData"
          :detailSiteData="detailSiteData"
          @closeClick="hiddenPopup()"
        ></detailSite>
      </div>
    </div>
    <!-- ket thuc -->
    <!-- bao cao luu luong table -->
    <trafficTable/>
    <violationTable/>
  </div>
</template>
<script type="text/javascript">
// ol map
import "ol/ol.css";
import Map from "ol/Map";
import Feature from "ol/Feature";
import Overlay from "ol/Overlay";
import View from "ol/View";
import { defaults as defaultControls, FullScreen } from "ol/control";
import { Tile as TileLayer, Vector as VectorLayer } from "ol/layer";
import { Vector as VectorSource } from "ol/source";
import XYZ from "ol/source/XYZ";
import Point from "ol/geom/Point";
import { Style, Icon, Text, Fill } from "ol/style";
import { fromLonLat } from "ol/proj";
import TileWMS from 'ol/source/TileWMS';
// ket thuc
import iconPoint from "@/assets/images/icon_map_route.png";
// import icon_map_warning from '@/assets/images/icon_map_monitor_warning.png';
// import icon_map from '@/assets/images/icon_map_monitor.png';
import icon_map_warning from "@/assets/images/map/icon_map_monitor_warning.png";
import icon_map from "@/assets/images/map/icon_map_monitor.png";
import site_not_cam from "@/assets/images/map/site_not_cam.png";
import cam_blue from "@/assets/images/cam_blue.png";
import cam_red from "@/assets/images/cam_red.png";
import mapMonitor from "@/components/mapMonitor";
import detailSite from "@/components/mapMonitor/detailSite";
import trafficTable from "./components/traffic";
import violationTable from "./components/violation";
import config from '@/config.js';

import Resource from "@/api/resource";
//const siteResource = new Resource("systemconfig/sites-traffic-status");
//const detailSiteResource = new Resource("systemconfig/traffic-mon-site");
const siteResource = new Resource("systemconfig/sites/sites-traffic-status");
const detailSiteResource = new Resource("management/mons/traffic-mon-site");
const siteListResource = new Resource("systemconfig/sites");
const groupCameraResource = new Resource("systemconfig/group-camera");

export default {
  components: { mapMonitor, detailSite, trafficTable, violationTable },
  data() {
    return {
      // ol map
      typeSearch: 1,
      typeSearchValue: null,
      typeSearchList: null,
      typeSearchListVisible: null,
      active_1: true,
      active_2: false,
      active_3: false,
      detailSiteData: null,
      mapInstance: null,
      popup: null,
      popupHover: null,
      selectedIcon: null,
      zoom: 14,
      minZoom: 5,
      centerLongitude: config.map_location_default.longitude,
      centerLatitude: config.map_location_default.latitude,
      // ket thuc
      display: true,
      search: null,
      visible: false,
      site: null,
      showIndex: false,
      dialogVisible: false,
      cam_red: cam_red,
      cam_blue: cam_blue,
      infoWinOpen: false,
      infoContent: "",
      listSite: [],
      infoWindowPos: {
        lat: 0,
        lng: 0,
      },
      urlad: "http://103.21.151.157:8181/hls/luongna.m3u8",
      camDetail: {
        muted: false,
        autoplay: false,
        sources: [
          {
            type: "application/x-mpegURL",
            src: "http://103.21.151.157:8181/hls/luongna.m3u8",
            // type: "video/mp4",
          },
        ],
        // poster: "https://surmon-china.github.io/vue-quill-editor/static/images/surmon-5.jpg"
      },
      currentMidx: null,
      //optional: offset infowindow so it visually sits nicely on top of our marker
      infoOptions: {
        pixelOffset: {
          width: 0,
          height: -35,
        },
      },

      center: {
        lat: 21.02613717066856,
        lng: 105.78836815172441,
      },

      markers: [
        {
          position: {
            lat: 21.02613717066856,
            lng: 105.78836815172441,
          },
        },
        {
          position: {
            lat: 21.014633696239745,
            lng: 105.7909234407597,
          },
        },
      ],

      markers_warning: [
        {
          position: {
            lat: 21.028194044658026,
            lng: 105.78875398438461,
          },
        },
      ],
      sites: [],
      icon_map: icon_map,
      icon_map_warning: icon_map_warning,
      query: {
        search: null,
        fromDate: moment().subtract(30, "minute").format("YYYY-MM-DD HH:mm:ss"),
        toDate: moment().format("YYYY-MM-DD HH:mm:ss"),
      },
      timer: "",
      detailSite: null,
      canRead: false,
      canCreate: false,
      canUpdate: false,
      canDelete: false,
    };
  },
  created() {
    console.log(this.$router)
    this.canRead = this.$root.checkRole(this.$route.fullPath, "canRead");
    this.canCreate = this.$root.checkRole(this.$route.fullPath, "canCreate");
    this.canUpdate = this.$root.checkRole(this.$route.fullPath, "canUpdate");
    this.canDelete = this.$root.checkRole(this.$route.fullPath, "canDelete");
    if (this.canRead) {
      if (this.$route.query.keyWord) {
        // this.query.search = this.$route.query.keyWord
        this.getSite(true)
      } else if (this.$route.query.site_id) {
        // điều hướng từ click notify
        // this.getSite()
        this.getSiteFilter(this.$route.query.site_id)
      } else {
        this.getSite();
      }
    }
    this.getTypeSearchList();
  },
  mounted() {
    // this.renderMap();
  },
  methods: {
    getTypeSearchList() {
      // this.typeSearchValue = null
      if (this.typeSearch == 1) {
        this.getListSite();
      }
      if (this.typeSearch == 2) {
        this.getGroupCam();
      }
    },
    getListSite() {
      let queryCustom = {
        page: 0,
        size: 200,
      };
      siteListResource
        .list(queryCustom)
        .then((response) => {
          this.typeSearchList = response.data;
          //this.typeSearchListVisible = response.data;
        })
        .catch((err) => {
          console.log(err);
        });
    },
    getGroupCam() {
      let queryCustom = {
        page: 0,
        size: 1000,
      };
      groupCameraResource
        .list(queryCustom)
        .then((response) => {
          this.typeSearchList = response.data;
        })
        .catch((err) => {
          console.log(err);
        });
    },
    showByIndex(marker) {
      this.showIndex = true;
      this.site = marker;
      this.infoWindowPos = { lat: marker.latitude, lng: marker.longitude };
    },

    hiddeByIndex() {
      this.showIndex = false;
    },

    handleClose(done) {
      this.$confirm("Bạn có chắc chắn muốn đóng?")
        .then((_) => {
          done();
        })
        .catch((_) => {});
    },

    fetchEventsList() {
      this.$http.get("events", (events) => {}).bind(this);
    },

    async getSite(flag=false) {
      siteResource
        .list(this.query)
        .then((response) => {
          this.typeSearchValue = this.$route.query.keyWord;
          if (response.data && response.data.length > 0) {
            // this.centerLongitude = this.sites[0].longitude;
            // this.centerLatitude = this.sites[0].latitude;
            this.sites = response.data;
            this.typeSearchListVisible = response.data;
            if(this.$route.query.keyWord) {
                let self = this
                let dataMap = _.cloneDeep(this.sites)
                dataMap = dataMap.filter(function(val,ind){
                    return val.id == self.$route.query.keyWord
                })
                // console.log(dataMap)
                this.center = {
                  lat: dataMap[0].latitude,
                  lng: dataMap[0].longitude,
                }
                if(flag){
                  this.centerLongitude = dataMap[0].longitude;
                  this.centerLatitude = dataMap[0].latitude;
                }
            }else{
              if(flag){
                this.centerLongitude = this.sites[0].longitude;
                this.centerLatitude = this.sites[0].latitude;
              }
              // this.center = {
              //   lat: this.sites[0].latitude,
              //   lng: this.sites[0].longitude,
              // }
            }
            this.renderMap();
          } else {
            this.sites = [];
            this.renderMap();
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    async getSiteFilter(siteId) {
      siteResource
        .list(this.query)
        .then((response) => {
          if (response.data && response.data.length > 0) {
            let sitesList = response.data;
            sitesList = sitesList.filter((item) => item.id == siteId);

            this.sites = sitesList;
            this.centerLongitude = this.sites[0].longitude;
            this.centerLatitude = this.sites[0].latitude;
            this.renderMap();
            // this.center = {
            //   lat: this.sites[0].latitude,
            //   lng: this.sites[0].longitude,
            // };
          } else {
            this.sites = [];
            this.renderMap();
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },

    filterOptions(filterValue) {
      this.typeSearchListVisible = this.typeSearchList.filter(option => option.name.toLowerCase().includes(filterValue.trim().toLowerCase()))
    },
    reset (isShow) {
      if (!isShow) {
        this.typeSearchListVisible = this.typeSearchList
      }
    },
    handleFilter() {
      this.query.search = this.typeSearchValue;
      if (this.query.search) {
        this.$router
          .push("/monitor/map?keyWord=" + this.query.search)
          .then(() => {
            // this.getSite();
          })
          .catch(() => {});
      } else {
        this.$router.push("/monitor/map");
      }
    },

    trimInputValue() {
      this.query.search = this.query.search.trim();
    },

    toggleInfoWindow: function (marker, idx) {
      this.showIndex = false;
      this.detailSite = null;
      this.infoWindowPos = { lat: marker.latitude, lng: marker.longitude };
      // this.infoContent = this.getInfoWindowContent(marker);
      //check if its the same marker that was selected if yes toggle
      // if (this.currentMidx == idx) {
      //   // this.infoWinOpen = !this.infoWinOpen;
      //   this.infoWinOpen = true;
      //   this.currentMidx = idx;
      //   console.log(this.infoWinOpen)
      // }
      // //if different marker set infowindow to open and reset current marker index
      // else {
      let params = {
        siteId: marker.id,
        fromDate: moment().subtract(60, "minute").format("YYYY-MM-DD HH:mm:ss"),
        toDate: moment().format("YYYY-MM-DD HH:mm:ss"),
      };
      detailSiteResource
        .list(params)
        .then((response) => {
          this.detailSite = response.data;
          // this.detailSite.cameraList[0].urls.hlsUrl = "http://103.21.151.157:8181/hls/luongna.m3u8";
          this.infoWinOpen = true;
          this.currentMidx = idx;
        })
        .catch((err) => {
          console.log(err);
      });
      // }
    },

    getDetailSite(siteId) {
      let params = {
        siteId: siteId,
        fromDate: moment().subtract(60, "minute").format("YYYY-MM-DD HH:mm:ss"),
        toDate: moment().format("YYYY-MM-DD HH:mm:ss"),
      };
      detailSiteResource.list(params).then((response) => {
          this.detailSite = response.data;
        })
        .catch((err) => {
          console.log(err);
      })
    },

    showVideo(ind) {
      if (ind == 0) {
        ind = 0;
      } else {
        ind = ind % 4;
      }
      let left = 240 - ind * 62;
      document.getElementsByClassName("video-view-map")[0].style.marginLeft =
        left + "px";
      // document.getElementsByClassName("video-view-map")[0].style.marginTop = '200px'
    },
    //getInfoWindowContent: function (marker) {
    //return (``);
    // },
    showInfo(detailSite) {
      this.detailSite = detailSite;
      this.dialogVisible = true;
    },
    // new map
    initMap(googleMapLayer, iconLayer) {
      document.getElementById("mapRoute").innerHTML = "";
      let divContainerMap = document.getElementById("container-map");
      let popTag = document.getElementById("popup");
      if (!popTag) {
        let divPopup = document.createElement("div");
        divPopup.classList.add("ol-popup");
        divPopup.setAttribute("id", "popup");
        divPopup.style.visibility = "hidden";
        divContainerMap.appendChild(divPopup);
      }
      let popTagHover = document.getElementById("popup-hover");
      if (!popTagHover) {
        // tao id hover
        let divPopupHover = document.createElement("div");
        divPopupHover.classList.add("ol-popup");
        divPopupHover.setAttribute("id", "popup-hover");
        divPopupHover.style.visibility = "hidden";
        divContainerMap.appendChild(divPopupHover);
      }
      if(process.env.VUE_APP_USE_GOOGLE_MAP != "true"){
        return new Map({
          target: "mapRoute",
          controls: defaultControls().extend([new FullScreen()]),

          layers: [
            // googleMapLayer,
            new TileLayer({
              source: new TileWMS({
                url: process.env.VUE_APP_USE_MAP_OFFLINE_LINK,
                params: {'LAYERS': process.env.VUE_APP_USE_MAP_OFFLINE_LAYERS, 'TILED': true},
                serverType: 'geoserver',
                // Countries have transparency, so do not fade tiles:
                transition: 0,
              }),
            }),
            iconLayer
          ],

          view: new View({
            center: fromLonLat([this.centerLongitude, this.centerLatitude]),
            zoom: this.zoom,
            minZoom: this.minZoom,
          }),
        });
      }else{
        return new Map({
          target: "mapRoute",
          controls: defaultControls().extend([new FullScreen()]),
          layers: [
            googleMapLayer,
            iconLayer
          ],

          view: new View({
            center: fromLonLat([this.centerLongitude, this.centerLatitude]),
            zoom: this.zoom,
            minZoom: this.minZoom,
          }),
        });
      }
    },

    createGoogleMapLayer() {
      return new TileLayer({
        source: new XYZ({
          url: "http://mt0.google.com/vt/lyrs=m&hl=en&x={x}&y={y}&z={z}&s=Ga",
        }),
      });
    },
    isValidLngLat(lng, lat) {
      if (lng < -180 || lng > 180) {
        return false;
      } else if (lat < -90 || lat > 90) {
        return false;
      }
      return true;
    },

    createIconLayer(icons) {
      let vectorSource = new VectorSource({
        features: [],
      });
      if (icons.length) {
        icons.forEach((icon, index) => {
          let icon_map_display = icon_map;
          if (icon.totalCamera > 0) {
            if (icon.trafficStatus == 0) {
              icon_map_display = icon_map;
            } else {
              icon_map_display = icon_map_warning;
            }
          } else {
            icon_map_display = site_not_cam;
          }
          let idx = index + 1;
          let styleText = new Text({
            text: idx.toString(),
            scale: 1.5,
            offsetX: 0,
            offsetY: -12,
            fill: new Fill({
              color: "#ffffff",
            }),
          });
          if (this.isValidLngLat(icon.longitude, icon.latitude)) {
            // long, lat
            let newFeature = new Feature({
              geometry: new Point(fromLonLat([icon.longitude, icon.latitude])),
              name: icon.id,
            });
            let iconStyle = new Style({
              image: new Icon({
                anchor: [0.5, 0.75],
                src: icon_map_display,
                scale: 1.0,
              }),
              // text: styleText
            });
            if (this.$route.query.site_id) {
              this.handleClickIcon(false,newFeature)
            }
            newFeature.setStyle(iconStyle);
            vectorSource.addFeature(newFeature);
          }
        });
      }
      return new VectorLayer({
        source: vectorSource,
      });
    },
    getInfoRoute: function (sites) {
      let routeList = [];
      if (sites) {
        sites.forEach((route) => {
          let info = {
            id: route.id,
            trafficStatus: route.trafficStatus,
            totalCamera: route.totalCamera,
            longitude: route.longitude,
            latitude: route.latitude,
          };
          routeList.push(info);
        });
      }
      return routeList;
    },
    hiddenPopup() {
      this.popup.setPosition(undefined);
    },
    hiddenPopupHover() {
      this.popupHover.setPosition(undefined);
    },
    createOverLay() {
      let container = document.getElementById("popup");
      this.popup = new Overlay({
        element: container,
        autoPan: true,
        autoPanAnimation: {
          duration: 250,
        },
      });
      return this.popup;
    },
    createOverLayHover() {
      let container = document.getElementById("popup-hover");
      this.popupHover = new Overlay({
        element: container,
        autoPan: true,
        autoPanAnimation: {
          duration: 250,
        },
      });
      return this.popupHover;
    },
    handlePointerMove(event) {
      let pixel = this.mapInstance.getEventPixel(event.originalEvent);
      let hit = this.mapInstance.hasFeatureAtPixel(pixel);
      this.mapInstance.getTargetElement().style.cursor = hit ? "pointer" : "";
    },
    handleHoverIcon(event) {
      this.selectedIcon = this.mapInstance.forEachFeatureAtPixel(
        event.pixel,
        (feature) => {
          return feature;
        }
      );
      if (this.selectedIcon) {
        let coordinates = this.selectedIcon.getGeometry().getCoordinates();
        let typeSelectedFeature = this.selectedIcon.getGeometry().getType();
        if (typeSelectedFeature == "Point") {
          let selectedId = this.selectedIcon.get("name");
          let routeInfo = this.sites.find((x) => x.id == selectedId);
          // console.log(routeInfo);
          let element = document.getElementById("popup-hover");
          element.style.visibility = "visible";
          element.innerHTML = this.showContentRoute(routeInfo);
          this.popupHover.setPosition(coordinates);
        } else {
          this.hiddenPopupHover();
        }
      } else {
        this.hiddenPopupHover();
      }
    },
    showContentRoute(data) {
      return `<p style="padding-left: 10px; margin-top: 7px; margin-bottom: 10px;">
        		<b>${data.name}</b>
        	</p><div style="padding-left: 10px; margin-bottom: 7px; font-size: 14px;">
        		${data.address}
        	</div>`;
    },
    handleClickIcon(event,feature=false) {
      if(!feature) {
        this.selectedIcon = this.mapInstance.forEachFeatureAtPixel(
          event.pixel,
          (feature) => {
            return feature;
          }
        );
      }else{
        this.selectedIcon = feature
      }
      if (this.selectedIcon) {
        let coordinates = this.selectedIcon.getGeometry().getCoordinates();
        let typeSelectedFeature = this.selectedIcon.getGeometry().getType();
        if (typeSelectedFeature == "Point") {
          let selectedId = this.selectedIcon.get("name");
          let routeInfo = this.sites.find((x) => x.id == selectedId);
          // console.log(routeInfo);
          let element = document.getElementById("popup");
          element.style.visibility = "visible";
          // lay thong tin chi tiet vi tri
          let params = {
            siteId: routeInfo.id,
            fromDate: moment()
              .subtract(60, "minute")
              .format("YYYY-MM-DD HH:mm:ss"),
            toDate: moment().format("YYYY-MM-DD HH:mm:ss"),
          };
          detailSiteResource
            .list(params)
            .then((response) => {
              // element.innerHTML = this.showContentRoute(response.data);
              this.detailSiteData = response.data;
              let self = this;
              self.popup.setPosition(coordinates);
              setTimeout(function () {
                // element.innerHTML = self.$refs.detailSite.$el.outerHTML
                // self.popup.setPosition(coordinates);
              }, 0);
              // element.innerHTML = this.$refs.detailSite.$el.outerHTML
              // // console.log(this.$refs.detailSite.$el.outerHTML)
              // this.popup.setPosition(coordinates);
            })
            .catch((err) => {
              console.log(err);
            });
          // ket thuc
          // element.innerHTML = this.showContentRoute(routeInfo);
          // this.popup.setPosition(coordinates);
        } else {
          this.hiddenPopup();
        }
      } else {
        this.hiddenPopup();
      }
    },

    renderMap() {
      let googleMapLayer = this.createGoogleMapLayer();
      let iconLayer = this.createIconLayer(this.getInfoRoute(this.sites));
      this.mapInstance = this.initMap(googleMapLayer, iconLayer);
      this.mapInstance.addOverlay(this.createOverLay());
      this.mapInstance.addOverlay(this.createOverLayHover());
      this.mapInstance.on("pointermove", this.handlePointerMove);
      this.mapInstance.on("click", this.handleClickIcon);
      this.mapInstance.on("pointermove", this.handleHoverIcon);
    },
    // ket thuc
  },
};
</script>
<style lang="scss" scoped>
.icon-site {
  float: left;
  height: 41px;
  border: 1px solid #dcdfe6;
  line-height: 41px;
  padding-left: 10px;
  padding-right: 10px;
  background: white;
  color: #606266;
}
#mapRoute {
  height: calc(100vh - 67px);
  .ol-popup {
    position: absolute;
    min-width: 300px;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    padding: 0;
    border-radius: 10px;
    border: 1px solid #ccc;
    bottom: 47px;
    left: -48px;
  }
  .ol-popup:after,
  .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  .ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
  }
  .ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
  }
}
</style>
<style type="text/css" lang="scss">
.map-monitor .search-block {
  position: relative;
  .search {
    width: 272px;
    input {
      height: 36px !important;
      line-height: 36px !important;
      border: 1px solid #9999;
    }
  }
  .icon-search {
    position: absolute;
    left: 10px;
    z-index: 999;
    line-height: 36px;
    color: #555;
  }
  .el-checkbox {
    margin-left: 0;
    margin-right: 0;
  }
  .change-grid-block {
    float: right;
  }
  .el-icon-search {
    color: #999;
    font-size: 14px;
    cursor: pointer;
  }
  .btn-search {
    border-radius: 0;
    background: initial;
    border: 1px solid #dcdfe6;
    border-right: initial;
    padding-left: 10px;
    padding-right: 0;
    padding-top: 6px;
    position: absolute;
    z-index: 9;
    height: 41px;
  }
  .type-search-btn {
    width: 133px;
    float: left;
    input {
      /*border-top-left-radius: 0;
			    border-bottom-left-radius: 0;*/
      border-color: #dcdfe6 !important;
      /*border-right: initial;*/
      padding-left: 10px;
      border-radius: 0;
    }
    .el-select__caret {
      /*display: none;*/
    }
  }
  .type-search-btn.width500 {
    width: 500px;
  }
  .type-search-btn-value {
    width: 350px;
    margin-left: -1px;
    height: 41px;
    .el-select__tags {
      height: 41px;
    }
    input {
      border-color: #dcdfe6 !important;
      border-radius: 0;
      /*border-left: 0;*/
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
/*new map*/
/*ket thuc*/
.view-site-name {
  padding-left: 15px;
  position: relative;
  z-index: 9;
  background: white;
  width: 100%;
  padding-right: 15px;
  word-break: break-word;
}
.video-view-map {
  margin-top: -205px;
  padding: 5px;
}
.el-popover {
  .video-js {
    width: 100% !important;
    height: 183px !important;
  }
}
.vue-map-container {
  width: 100% !important;
  height: calc(100vh - 67px) !important;
  .gm-ui-hover-effect {
    top: 2px !important;
    right: 5px !important;
    img {
      width: 18px !important;
      height: 18px !important;
    }
  }
  .gm-style-iw.gm-style-iw-c {
    padding: 0;
    width: 300px;
  }
  .gm-style-iw-d {
    overflow: initial !important;
  }
}
.info-position {
  position: relative;
  h4 {
    background: #26c6da;
    padding: 10px;
    color: white;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  .el-button--default {
    padding: 0;
    border: 0;
    background: initial;
  }
  .content {
    .number {
      font-weight: bold;
      font-size: 24px;
      margin-top: 8px;
    }
    .left {
      width: 50%;
      float: left;
      border-right: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      padding: 10px;
      text-align: center;
      font-size: 14px;
      color: #575962;
    }
    .right {
      width: 50%;
      float: left;
      border-right: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      padding: 10px;
      text-align: center;
      font-size: 14px;
      color: #575962;
    }
    .success {
      color: #26c6da;
    }
    .err {
      color: #ff6161;
    }
    .status {
      clear: both;
      padding: 10px 10px;
      color: #575962;
      font-weight: 400;
      font-size: 14px;
      border-bottom: 1px solid #ddd;
      b {
        color: #444;
      }
      .group-img {
        padding-top: 10px;
      }
      img {
        margin-right: 20px;
        cursor: pointer;
      }
    }
  }
}
.monitor-position {
  padding: 10px;
  font-size: 16px;
  color: #1f7ff5;
  font-weight: 500;
  padding-top: 0;
  .el-icon-right {
    background: #1f7ff5;
    color: white;
    font-size: 9px;
    height: 13px;
    width: 13px;
    text-align: center;
    line-height: 13px;
    border-radius: 50%;
    font-weight: bold;
    position: relative;
    top: -2px;
    left: 3px;
  }
  span {
    text-decoration: underline;
    cursor: pointer;
  }
}
.map-monitor {
  position: relative;
  .search {
    position: absolute;
    top: 9px;
    left: 45px;
    z-index: 99;
    /*max-width: 272px;*/
    .el-icon-search {
      color: #333;
      font-size: 15px;
      position: relative;
      top: 2px;
    }
    input {
      height: 41px !important;
      /*max-width: 272px;*/
      /* border-radius: 4px;
			    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);*/
    }
  }
}
</style>
