<template>
  <div class="notify-popup-bell">
    <el-dropdown
      trigger="click"
      placement="bottom-start"
      @click.native="getNotify"
    >
      <span class="el-dropdown-link">
        <div class="notify-icon">
          <el-badge
            :value="number"
            :max="99"
            type="danger"
            class="item"
            :hidden="number < 1"
          >
            <i class="el-icon-message-solid"></i>
          </el-badge>
        </div>
      </span>
      <el-dropdown-menu
        slot="dropdown"
        class="notify-dropdown"
        :class="{ 'empty-data': !notify }"
      >
        <div class="empty-data" v-if="notify.length == 0">
          Không có thông báo!
        </div>
        <!-- <div class="notify-content" v-on:scroll="loadMore" v-else> -->
        <div class="notify-content" v-else>
          <div class="read-all-notify">
            <el-dropdown trigger="click" @command="handleCommand">
              <span class="el-dropdown-link">
                <i class="el-icon-more"></i>
              </span>
              <el-dropdown-menu
                slot="dropdown"
                class="dropdown-check-all-notify"
              >
                <el-dropdown-item command
                  ><span
                    ><i class="el-icon-check"></i> Đánh dấu tất cả là đã
                    đọc</span
                  ></el-dropdown-item
                >
              </el-dropdown-menu>
            </el-dropdown>
          </div>
          <div
            class="item"
            v-for="(val, idx) in notify"
            :key="val.id"
            :class="val.statusView == 1 ? 'is-read' : ''"
          >
            <div @click="redirectNotify(val)" style="cursor: pointer">
              <el-row :gutter="20" style="display: flex; align-items: stretch">
                <el-col :span="5"
                  ><div class="grid-content bg-purple center-vertical">
                    <img v-if="val.icon == 'icon1'" :src="icon1" alt="" />
                    <img v-else-if="val.icon == 'icon2'" :src="icon2" alt="" />
                    <img v-else-if="val.icon == 'icon3'" :src="icon3" alt="" />
                    <img
                      height="42px"
                      v-else-if="val.icon == 'icon4'"
                      :src="icon4"
                      alt=""
                    />

                    <img
                      height="42px"
                      v-else-if="val.icon == 'icon5'"
                      :src="icon5"
                      alt=""
                    />
                    <img
                      height="42px"
                      v-else-if="val.icon == 'icon6'"
                      :src="icon6"
                      alt=""
                    />
                    <img
                      height="42px"
                      v-else-if="val.icon == 'icon7'"
                      :src="icon7"
                      alt=""
                    />
                    <event-icon
                      v-else
                      :icon="val.icon"
                    />
                </div>
                </el-col>
                <el-col
                  v-if="
                    [
                      'icon8',
                      'icon9',
                      'icon10',
                      'icon11',
                      'icon12',
                      'icon13',
                      'icon14',
                      'icon15',
                      'icon16',
                      'icon4',
                      'icon5',
                    ].includes(val.icon)
                  "
                  :span="19"
                  ><div class="grid-content bg-purple">
                    <div class="title">{{ val.title }}</div>
                    <div class="descript">{{ genPlate(val.content) }}</div>
                    <div class="descript">{{ genSiteName(val.content) }}</div>
                    <div class="time">
                      {{ val.timeSendNotify | formatDateVietNamDateTime }}
                    </div>
                  </div></el-col
                >
                <el-col v-else-if="val.icon == 'icon7'" :span="19"
                  ><div class="grid-content bg-purple">
                    <div class="title">{{ val.title }}</div>
                    <div class="descript">{{ val.content }}</div>
                    <div class="time">
                      {{ val.timeSendNotify | formatDateVietNamDateTime }}
                    </div>
                  </div></el-col
                >
                <el-col v-else :span="19"
                  ><div class="grid-content bg-purple">
                    <div class="title">{{ val.title }}</div>
                    <div class="descript">{{ val.content }}</div>
                    <div class="time">
                      {{ val.timeSendNotify | formatDateVietNamDateTime }}
                    </div>
                  </div></el-col
                >
              </el-row>
            </div>
          </div>
        </div>
        <div class="view-list" v-if="notify.length > 0">
          <a href="/notify-list"
            ><span>Xem danh sách <i class="el-icon-d-arrow-right"></i></span
          ></a>
        </div>
      </el-dropdown-menu>
    </el-dropdown>

    <!-- Dialog Vehicle Track -->
    <div class="track-page">
      <el-dialog
        title="Thông tin phương tiện"
        :visible.sync="dialogVehicleTrack"
        width="calc(100% - 267px)"
        top="0"
        :before-close="handleClose"
        :close-on-click-modal="false"
      >
        <component
          ref="dialogVehicleTrack"
          v-bind:is="showComponent"
          v-bind:notifyUrl="notifyUrl"
        ></component>
        <div slot="footer" class="dialog-footer"></div>
      </el-dialog>
    </div>
    <!-- dialog dam dong -->
    <template v-if="dataDamdong">
      <el-dialog
        class="diag-damdong"
        title=""
        width="600px"
        :visible.sync="dialogDamdongVisible"
      >
        <div slot="title">
          <h5>{{ dataDamdong.title }}</h5>
        </div>
        <div class="detail-content">
          <div class="img">
            <img :src="base_url_img + dataDamdong.url" alt="" />
          </div>
          <div class="content">
            {{ dataDamdong.content }}
          </div>
        </div>
      </el-dialog>
    </template>
    <!-- ket thuc -->
  </div>
</template>
<script type="text/javascript">
import Resource from "@/api/resource";
import icon1 from "@/assets/images/icon1.png";
import icon2 from "@/assets/images/icon2.png";
import icon3 from "@/assets/images/icon3.png";
import icon4 from "@/assets/images/icon4.png";
import icon5 from "@/assets/images/icon4.png";
import icon6 from "@/assets/images/timer.png";
import icon7 from "@/assets/images/Groups.png";

import icon8 from "@/assets/images/report/illegal-stop3x.png";
import icon9 from "@/assets/images/report/traffic-lights3x.png";
import icon10 from "@/assets/images/report/inversedirection3x.png";
import icon11 from "@/assets/images/report/restricted3x.png";
import icon12 from "@/assets/images/report/noentry3x.png";
import icon13 from "@/assets/images/report/speed-limit3x.png";
import icon14 from "@/assets/images/report/wrong-line3x.png";
import soundurl from "@/assets/media/notify.mp3";

import DialogVehicleTrack from "./components/DialogVehicleTrack";
import EventIcon from "@/components/EventIcon";
const numberNotifyResource = new Resource("notify/number-notify");
const notifyResource = new Resource("notify");
const readNotifyResource = new Resource("notify/read-notify");
const readAllNotifyResource = new Resource("notify/read-all-notify");
const redirectStatusCamera = process.env.VUE_APP_ROOT_URL;

export default {
  components: {
    EventIcon,
    DialogVehicleTrack,
  },
  computed: {
    showComponent: function () {
      let component = "";
      if (this.isClickNotify) {
        component = DialogVehicleTrack;
      }
      return component;
    },
  },
  data() {
    return {
      dialogDamdongVisible: false,
      dataDamdong: null,
      notifyUrl: null,
      dialogVehicleTrack: false,
      isClickNotify: false,
      showNotify: true,
      base_url_img: process.env.VUE_APP_URL_IMAGE,
      icon1: icon1,
      icon2: icon2,
      icon3: icon3,
      icon4: icon4,
      icon5: icon5,
      icon6: icon6,
      icon7: icon7,
      icon8: icon8,
      icon9: icon9,
      icon10: icon10,
      icon11: icon11,
      icon12: icon12,
      icon13: icon13,
      icon14: icon14,
      number: 0,
      query: {
        page: 0,
        size: 10,
      },
      notify: [],
      lastScrollUpdate: 0,
      loadmore: false,
      soundurl : soundurl
    };
  },
  created() {
    this.getNumberNotify();
    // const data = {
    //   "notifyId": "18a2126d-603b-44da-b945-fb0c2ec19db4",
    //   "userId": "dd609a4d-3aff-4eef-a53c-9fa76d669a03",
    //   "type": 3,
    //   "title": "Phát hiện Vi phạm đèn tín hiệu",
    //   "content": "Biển số: 21F0078, Vị trí: LAO CAI",
    //   "icon": "icon13",
    //   "url": "/process-violation/scene-violation",
    //   "timeRequest": "10:34 29/10/2021",
    //   "objectType": "9",
    //   "objectUuid": "829b0b17-adbd-4318-a9b9-471b31913bd9",
    //   "statusView": 0,
    //   "id": "18a2126d-603b-44da-b945-fb0c2ec19db4",
    //   "objectId": "829b0b17-adbd-4318-a9b9-471b31913bd9"
    // }
    // this.showNotifyPopup(data)
  },
  methods: {
    handleClose(done) {
      this.getNumberNotify();
      done();
    },
    playSound () {
      var audioFile = new Audio(this.soundurl)
      audioFile.play()
    },
    redirectNotify(item) {
      this.readNumberNotify(item);
      // console.log(item.icon)
    },
    redirectNotifyContent(item) {
      if(item.url && item.url == '/process-violation/scene-violation'){
        localStorage.setItem('flagViolationSceneId',item.objectId)
      }
      if (item.icon == "icon7") {
        this.popupDamdong(item);
      } else if (["icon2", "icon3"].includes(item.icon)) {
        window.location.href =
          item.url != "" ? redirectStatusCamera + item.url : "/notify-list";
      } else if (
        [
          "icon1",
          "icon5",
          "icon4",
          "icon6",
          "icon8",
          "icon9",
          "icon10",
          "icon11",
          "icon12",
          "icon13",
          "icon14",
          "icon15",
          "icon16",
        ].includes(item.icon)
      ) {
        window.location.href = item.url != "" ? item.url : "/notify-list";
      } else {
        window.location.href = "/notify-list";
      }
    },
    popupDamdong(item) {
      this.dataDamdong = item;
      this.dialogDamdongVisible = true;
      // console.log(item)
    },
    getHumanDate(date) {
      return moment(date).format("DD/MM/YYYY - HH:mm:ss");
    },
    handleCommand(command) {
      this.readAllNumberNotify();
    },
    redirectDetail() {
      this.showNotify = false;
      this.$router.push("/notify-list");
    },
    async getNumberNotify() {
      const { data } = await numberNotifyResource.list();
      if (data) {
        this.number = data.countNotiNotRead;
      }
    },
    async getListNotify() {
      const { data } = await notifyResource.list(this.query);
      if (data && data.length > 0) {
        // this.notify = [];
        this.notify = this.notify.concat(data);
        // if(data.length < this.query.size) {
        // 	this.loadmore = false
        // }
      }
    },
    readNumberNotify(val) {
      if (this.number > 0 && val.statusView == 0) {
        let params = {
          userId: this.$store.state.user.id,
          notiId: val.id,
        };
        readNotifyResource.storeParam(params).then(response=>{
          this.getNumberNotify()
          this.redirectNotifyContent(val)
        }).catch(error=>{
          console.log(error)
        })
        // this.number = 0
      }else{
        this.redirectNotifyContent(val)
      }
    },
    async readAllNumberNotify() {
      if (this.number > 0) {
        let params = {
          userId: this.$store.state.user.id,
        };
        const { data } = await readAllNotifyResource.store(params);
        this.number = 0;
      }
    },
    genPlate(data) {
      return data.split(",")[0];
    },
    genSiteName(data) {
      return data.split(",")[1];
    },
    getNotify() {
      this.query.page = 0;
      this.notify = [];
      this.getListNotify();
    },
    showNotifyPopup(data) {
      if (data.timeRequest) {
        data.timeRequest = moment
          .unix(data.timeRequest)
          .format("HH:mm DD/MM/YYYY");
      }
      let icon = null;
      if (data.icon == "icon1") {
        icon = icon1;
      }
      if (data.icon == "icon2") {
        icon = icon2;
      }
      if (data.icon == "icon3") {
        icon = icon3;
      }
      if (data.icon == "icon4") {
        icon = icon4;
      }
      if (data.icon == "icon5") {
        icon = icon5;
      }
      if (data.icon == "icon6") {
        icon = icon6;
      }
      if (data.icon == "icon7") {
        icon = icon7;
      }
      if (data.icon == "icon8") {
        icon = 'illegal-stop';
      }
      if (data.icon == "icon9") {
        icon = 'traffic-lights';
      }
      if (data.icon == "icon10") {
        icon = 'inversedirection';
      }
      if (data.icon == "icon11") {
        icon = 'restricted';
      }
      if (data.icon == "icon12") {
        icon = 'noentry';
      }
      if (data.icon == "icon13") {
        icon = 'speed-limit';
      }
      if (data.icon == "icon14") {
        icon = 'wrong-line';
      }
      const h = this.$createElement;
      this.$notify({
        title: null,
        duration: 6000,
        dangerouslyUseHTMLString: true,
        showClose: false,
        customClass: "notify-gsxp",
        message: h(
          "div",
          {
            class: "message",
            style: "cursor:pointer;",
            value: data,
            on: { click: this.redirectNotify.bind(this, data) },
          },
          [
            h(
              "div",
              {
                class: "grid-content bg-purple",
                style: "float: left; margin-top: 8px; display: flex",
              },
              [
                ['icon1','icon2','icon3','icon4','icon5','icon6','icon7'].includes(data.icon) ?
                    h("img", {
                      attrs: {
                        src: icon, // this is now a module request
                        style: "height:42px",
                      },
                    })
                    :
                    h ('svg', {
                        attrs: {
                          class: "svg-icon " + this.$root.getEventIcon(data.icon),
                          'aria-hidden': true
                        },
                      style: "width: 42px; height: 42px"
                    },
                      [
                        h('use', {
                          attrs: {
                            'xlink:href': "#icon-" + this.$root.getEventIcon(data.icon)
                          }
                        })
                      ])
              ]
            ),
            h(
              "div",
              {
                style:
                  "float: left; width: calc(100% - 70px); padding-left: 10px;",
              },
              [
                h("div", { class: "grid-content bg-purple" }, [
                  h(
                    "div",
                    {
                      class: "title",
                      style:
                        "font-size: 16px; font-weight: 500; color: rgba(0, 0, 0, 1);",
                    },
                    data.title
                  ),
                  h(
                    "div",
                    {
                      class: "descript",
                      style:
                        "font-size: 12px; text-align: initial; margin-top: 2px; margin-bottom: 1px; color: rgba(0, 0, 0, 1); line-height: 17px;",
                    },
                    data.content
                  ),
                  h(
                    "time",
                    {
                      class: "descript",
                      style:
                        "font-size: 12px; margin-top: 0px; margin-bottom: 0px; color: rgba(0,0,0,0.6);",
                    },
                    data.timeRequest
                  ),
                ]),
              ]
            ),
          ]
        ),
      });
    },
  },
  sockets: {
    receiveNotification: function (data) {
      data.statusView  = 0
      data.id = data.notifyId
      data.objectId  = data.objectUuid
      this.showNotifyPopup(data)
      if(data.url && data.url == '/process-violation/scene-violation'){
        this.playSound()
      }
      this.getNumberNotify()
    },
  },
};
</script>

<style type="text/css" lang="scss">
.center-vertical {
  height: 100%;
  display: flex;
  align-items: center;
}
.diag-damdong {
  .el-dialog {
    margin-top: 68px !important;
  }
  .el-dialog__header {
    padding: 10px 19px;
    background: #006fe3;
    h5 {
      line-height: 28px;
      margin-top: 0;
      margin-bottom: 0;
      padding-right: 20px;
      font-size: 15px;
      color: white;
    }
    .el-icon-close {
      color: white;
      font-size: 19px;
      position: relative;
      top: -5px;
    }
  }
  .el-dialog__body {
    line-height: initial;
    .content {
      margin-top: 15px;
      color: black;
      font-size: 16px;
      line-height: 25px;
    }
  }
}

.notify-gsxp {
  width: 360px !important;
  /*height: 106px !important;*/
  top: 62px !important;
  padding: 10px !important;
  .el-notification__group {
    margin: 0;
    width: 100%;
    .el-notification__content {
      margin: 0;
    }
  }
}

.notify-popup-bell {
  float: left;
  margin-right: 15px;
  height: 100%;
  .notify-icon {
    cursor: pointer;
    color: white;
    font-size: 28px;
  }
  .el-badge__content.is-fixed {
    position: absolute;
    top: 22px !important;
    right: 12px;
    transform: translateY(-50%) translateX(100%);
    background: red;
    font-size: 11px;
    border: initial;
    padding: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    line-height: 22px;
  }
  .el-dropdown-link {
    outline: none !important;
  }
}

.notify-dropdown {
  top: 59px !important;
  /*left: 1527px !important; // fix sẽ bị lỗi cho màn hình nhỏ hơn*/
  margin-top: 0 !important;
  width: 372px;
  height: calc(100vh - 62px);
  padding-top: 5px !important;
  .popper__arrow {
    top: -24px !important;
    border-bottom-color: white !important;
    border-width: 12px !important;
  }
  .view-list {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #006fe3;
    height: 41px;
    background: white;
    line-height: 41px;
    font-size: 15px;
    span {
      display: inline-block;
      cursor: pointer;
    }
  }
}

.notify-dropdown {
  height: fit-content;
}

.notify-dropdown .notify-content {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: calc(100vh - 75px);
  padding-top: 10px;
  padding-bottom: 35px;
  .el-col-19 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .item.is-read {
    background-color: #fff;
  }
  .item {
    border-bottom: 1px solid #dfdfdf;
    /* margin-bottom: 10px; */
    padding: 6px 15px 5px;
    background-color: #dfdfdf6b;
    &:hover {
      background-color: #dfdfdf;
    }
    .title {
      font-size: 15px;
      font-weight: 500;
      color: rgba(0, 0, 0, 0.87);
    }
    .descript {
      font-size: 12px;
      margin-top: 5px;
      margin-bottom: 5px;
      color: rgba(0, 0, 0, 0.87);
      line-height: 15px;
    }
    .time {
      font-size: 12px;
      margin-top: 5px;
      margin-bottom: 5px;
      color: rgba(0, 0, 0, 0.6);
    }
  }
  .item:last-child {
    border-bottom: initial;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.notify-dropdown .notify-content::-webkit-scrollbar-track {
  /*-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);*/
  border-radius: 0;
  background-color: #f5f5f5;
}

.notify-dropdown .notify-content::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #f5f5f5;
  border-radius: 17px;
}

.notify-dropdown .notify-content::-webkit-scrollbar-thumb {
  border-radius: 17px;
  /*-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.3);*/
  background-color: #3333;
}

.notify-dropdown .empty-data {
  line-height: 50px;
  font-style: italic;
  color: #555;
  text-align: center;
  font-size: 15px;
  font-weight: 300;
}
</style>

<style lang="scss">
.notify-content {
  .read-all-notify {
    text-align: right;
    padding-right: 20px;
    .el-icon-more {
      font-size: 18px;
      cursor: pointer;
    }
  }
}

.dropdown-check-all-notify {
  li {
    font-size: 15px;
    color: #333;
    font-weight: 500;
    .el-icon-check {
      font-size: 17px;
      color: black;
    }
  }
}
.track-page {
  .el-form-item {
    margin-bottom: 0px;
  }
  .el-input input {
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    border: solid 1px #9999;
  }
  .el-icon-camera-solid {
    font-size: 25px;
    color: #9a9a9a;
    position: relative;
    top: -50px;
    left: 54px;
    background: #dfdfdf;
    border-radius: 50%;
    padding: 8px;
    border: 1px solid white;
  }
  .vehicle {
    text-align: center;
    padding-top: 25px;
    img {
      border-radius: 10px;
      max-width: 100%;
    }
  }
  .item-left {
    width: 48%;
    float: left;
    margin-right: 2%;
  }
  .item-right {
    width: 48%;
    float: left;
    margin-left: 2%;
  }
  .block-item {
    width: 100%;
    float: left;
  }
  .el-dialog__header {
    padding: 0;
    background: #006fe3;
    height: 40px;
    line-height: 40px;
    text-align: center;
    .el-dialog__title {
      color: white;
    }
    .el-icon-close {
      color: white;
      font-size: 22px;
      top: -10px;
      position: relative;
    }
  }
  .el-dialog__body {
    padding: 0px 20px;
    .el-form-item__label {
      padding-bottom: 0;
      font-size: 14px;
      color: #363030;
      font-weight: 500;
    }
  }
  .el-dialog__footer {
    clear: both;
    padding-bottom: 25px;
    .el-button--primary {
      background: #1f7ff5;
      height: 40px;
      border-radius: 5px;
      width: 147px;
      text-transform: uppercase;
      font-weight: bold;
      border-color: #1f7ff5;
    }
    .el-button--danger {
      background: #9e9e9e;
      height: 40px;
      border-radius: 5px;
      width: 147px;
      text-transform: uppercase;
      font-weight: bold;
      border-color: #9e9e9e;
      float: left;
    }
  }
  .action {
    margin-top: 40px;
    .el-button--primary {
      background: #64789a;
      border: initial;
      border-radius: 4px;
      width: 147px;
      height: 40px;
    }
    .el-button--success {
      background: #ff6161;
      border: initial;
      border-radius: 4px;
      width: 147px;
      height: 40px;
      float: right;
    }
  }
  .el-table th > .cell {
    text-align: left;
  }
  .el-table tr > th:first-child .cell {
    text-align: center;
  }
  .el-table th {
    color: black;
    font-size: 14px;
  }
  .el-table td {
    color: black;
    font-size: 14px;
  }
  .el-table tr td:first-child {
    text-align: center;
  }
  .el-table td:first-child .cell {
    display: inline-block;
  }
  .filter-container {
    padding-bottom: 20px;
  }
  tbody {
    tr {
      cursor: pointer;
    }
    td {
      padding: 10px 0 !important;
      .full-image {
        --widthDia: calc(100% - 267px);
        left: 15px !important;
        top: 100px !important;
        width: calc(var(--widthDia) * 58 / 100) !important;
      }
    }
  }
  .detail-plate-track {
    .el-dialog {
      margin-top: 0 !important;
    }
  }
  .list-site-go .item span {
    color: #1f7ff5;
    display: inline-block;
    border: 1px solid #1f7ff5;
    width: 27px;
    height: 27px;
    text-align: center;
    line-height: 27px;
    border-radius: 50%;
    margin-right: 14px;
  }
  .svg-icon {
    /* width: 1em; */
    height: 42px;
    width: 42px;
  }
}
</style>
