<template>
  <div class="map-table-violation">
    <h4>
      Vi phạm
      <i class="el-icon-close" v-if="flagOpen" @click="closeTable"></i>
      <i class="el-icon-rank" v-else @click="openTable"></i>
    </h4>
    <el-table ref="multipleTable" :data="dataDetailReport" style="width: 100%">
      <el-table-column label="Vị trí" width="150px">
        <template slot-scope="scope" slot="header">
          <el-tooltip
            class="item"
            effect="dark"
            content="Vị trí"
            placement="top-start"
            ><span><img src="@/assets/images/report/map.png" /></span
          ></el-tooltip>
        </template>
        <template slot-scope="scope">
          <el-tooltip
            class="item"
            effect="dark"
            :content="scope.row.siteName"
            placement="top-start"
            ><span>{{ scope.row.siteName }}</span></el-tooltip
          >
        </template>
      </el-table-column>

      <el-table-column label="Tổng">
        <template slot-scope="scope" slot="header">
          <el-tooltip
            class="item"
            effect="dark"
            content="Tổng"
            placement="top-start"
            ><span><img
                style="width: 20px; height: 20px"
                src="@/assets/images/report/clock.png" /></span></el-tooltip>
        </template>
        <template slot-scope="scope">
          <span>{{ totalVehicel(scope.row.dataEventType) }}</span>
        </template>
      </el-table-column>

      <template v-for="v in this.violationTypeLst.filter(v => v.code !== 'UNKNOWN')">
        <el-table-column :key="v.id" :label="v.name" min-width="50">
          <template slot-scope="scope" slot="header">
            <el-tooltip
              class="item"
              effect="dark"
              :content="v.name"
              placement="top-start"
              ><span><event-icon width="20px" height="20px" :icon="v.code" /></span
            ></el-tooltip>
          </template>
          <template slot-scope="scope">
            <span>{{
              detectVehicel(scope.row.dataEventType, v.code)
            }}</span>
          </template>
        </el-table-column>
      </template>
    </el-table>
  </div>
</template>
<script type="text/javascript">
import Resource from "@/api/resource";
import EventIcon from "@/components/EventIcon";

const trafficResource = new Resource("management/mons/traffic-event-site");
const categoryResource = new Resource("systemconfig/category");
export default {
  components: {EventIcon},
  data() {
    return {
      flagOpen: true,
      dataDetailReport: [],
      query: {
        siteId: "",
        fromDate: moment().subtract(60, "minute").format("YYYY-MM-DD HH:mm:ss"),
        toDate: moment().format("YYYY-MM-DD HH:mm:ss"),
      },
      intervalId: null,
      test: null,
      violationTypeLst: []
    };
  },
  created() {
    this.getViolationTypeList()
    if (this.intervalId) {
      clearInterval(this.intervalId);
    }
    this.getTraffic();
    this.refreshData30S();
    // this.init()
  },
  methods: {
    // async init() {
    //   await this.getData()
    //   await this.getData1()
    // },
    // async getData() {
    //   await axios.get("http://api.icndb.com/jokes/random").then(response=>{
    //     console.log(response)
    //     this.test = response.data.value.id
    //   })
    // },
    // async getData1() {
    //   console.log(this.test)
    // },
    refreshData30S() {
      let self = this;
      // load lai bao cao 30s/1
      const idIterval = setInterval(function () {
        self.query.fromDate = moment()
          .subtract(60, "minute")
          .format("YYYY-MM-DD HH:mm:ss");
        self.query.toDate = moment().format("YYYY-MM-DD HH:mm:ss");
        self.getTraffic();
      }, 30000);
      this.intervalId = idIterval;
      window.localStorage.setItem("intervalId", idIterval);
      // ket thuc
    },
    detectVehicel(data, type) {
      data = data.filter(function (val) {
        return val.eventType == type;
      });
      if (data.length > 0) {
        return data[0].value;
      }
      return 0;
    },
    getTraffic() {
      trafficResource
        .list(this.query)
        .then((response) => {
          this.dataDetailReport = response.data.data;
          // console.log(response)
        })
        .catch((err) => {});
    },
    totalVehicel(data) {
      let total = 0;
      let listVehicel = [];
      data.forEach(function (item, ind) {
        if (!listVehicel.includes(item.objectType)) {
          total += item.value;
        }
      });
      return total;
    },
    closeTable() {
      this.flagOpen = false;
      let x = document.getElementsByClassName("map-table-violation");
      x[0].style.height = "43px";
      x[0].style.width = "130px";
    },
    openTable() {
      this.flagOpen = true;
      let x = document.getElementsByClassName("map-table-violation");
      x[0].style.height = "initial";
      x[0].style.width = "45%";
    },
    async getViolationTypeList() {
      let queryCustom = {
        catType: "VIOLATION",
      };
      let result = await categoryResource.list(queryCustom);
      if (result && result.data) {
        this.violationTypeLst = result.data;
      }
    },
  },
  beforeDestroy() {
    if (this.intervalId) {
      clearInterval(this.intervalId);
    }
  },
};
</script>
<style type="text/css" lang="scss">
.el-table td,
.el-table th.is-leaf {
  /*border-right: 1px solid red;*/
}
.map-table-violation * {
  background: initial !important;
  color: black;
}
.map-table-violation {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 999;
  background: rgba(255, 255, 255, 0.7) !important;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 50%;
  /*table {
    width: 100% !important;
    width: initial !important;
  }*/
  .el-table th > .cell {
    padding: 0;
  }
  .el-table__header-wrapper {
    border-bottom: 1px solid #3333;
  }
  .el-table__empty-block {
    width: initial !important;
  }
  .el-table__body-wrapper {
    height: 125px;
    display: inline-block;
    overflow-y: auto;
    table {
      td {
        padding: 7px 0 !important;
        text-align: center;
        .cell {
          /*display: initial !important;*/
        }
      }
      td {
        span {
          text-align: left;
          max-width: 120px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
  .el-table__body-wrapper::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);*/
    border-radius: 0;
    background-color: #f5f5f5;
  }
  .el-table__body-wrapper::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #f5f5f5;
    border-radius: 17px;
  }
  .el-table__body-wrapper::-webkit-scrollbar-thumb {
    border-radius: 17px;
    /*-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.3);*/
    background-color: #3333;
  }
  h4 {
    background: rgba(0, 111, 227, 0.8) !important;
    margin: 0;
    text-align: center;
    color: white;
    padding: 13px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    i {
      float: right;
      cursor: pointer;
      color: white;
    }
  }
  .svg-icon {
    /* width: 1em; */
    height: 20px;
    width: 20px;
  }
}
</style>
