<template>
    <div id="container-map">
        <div id="map" style="height: 1000px;"></div>
        <div id="popup" class="ol-popup" style="visibility: hidden"></div>

        <el-dialog
            title="Xem overlay"
            width="49%"
            :visible.sync="dialogOverlayVisible"
            :close-on-click-modal="false"
        >
        </el-dialog>
        <el-dialog
            title="Xem live"
            width="49%"
            :visible.sync="dialogLiveVisible"
            :close-on-click-modal="false"
        >
        </el-dialog>
    </div>
</template>

<script>
import { mapGetters } from "vuex";
import request from '@/utils/request';
import moment from 'moment';
import { EventSourcePolyfill } from "event-source-polyfill";
import { isLogged } from "@/utils/auth";
import "ol/ol.css";
// This is library of openlayer for handle map
import Map from "ol/Map";
import Feature from "ol/Feature";
import Overlay from "ol/Overlay";
import View from "ol/View";
import { defaults as defaultControls, FullScreen } from "ol/control";
import { Tile as TileLayer, Vector as VectorLayer } from 'ol/layer';
import { Vector as VectorSource } from 'ol/source';
import XYZ from 'ol/source/XYZ';
import Point from 'ol/geom/Point';
import { Style, Icon, Text, Fill } from 'ol/style';
import { fromLonLat } from 'ol/proj';

import cameraTrafficGreen from '@/assets/images/camera_traffic_green.png';
// import cameraTrafficYellow from '@/assets/images/camera_traffic_yellow.png';
// import cameraTrafficRed from '@/assets/images/camera_traffic_red.png';

export default {
    name: "map-camera",
    data() {
        return {
            mapInstance: null,
            currentViolation: [],
            popup: null,
            selectedIcon: null,
            zoom: 8,
            minZoom: 4,
            listTrafficMetrics: [],
            dialogOverlayVisible: false,
            dialogLiveVisible: false
        };
    },
    methods: {
        getStreamTrafficMetrics() {
            let url = process.env.VUE_APP_BASE_API + "management/mons/stream_traffic_metrics?startTime=" + moment().format("YYYY-MM-DD 00:00:00");
            const es = new EventSourcePolyfill(url, {
                headers: {
                    Authorization: "Bearer " + isLogged()
                }
            });
            let self = this;
            let listener = function (event) {
                let messages = JSON.parse(event.data).data;
                if (messages.length) {
                    console.log('StreamTrafficMetrics: ' + JSON.stringify(messages));
                    self.listTrafficMetrics = messages;
                }
            };
            es.addEventListener("message", listener);
            es.addEventListener("error", listener);
        },

        initMap(googleMapLayer, iconLayer) {
            document.getElementById("map").innerHTML = "";
            let divContainerMap = document.getElementById("container-map");
            let popTag = document.getElementById('popup');
            if (!popTag) {
                var divPopup = document.createElement("div");
                divPopup.classList.add("ol-popup");
                divPopup.setAttribute('id', 'popup');
                divPopup.style.visibility = 'hidden';
                divContainerMap.appendChild(divPopup);
            }
            return new Map({
                target: 'map',
                controls: defaultControls().extend([new FullScreen()]),
                layers: [
                    googleMapLayer,
                    iconLayer
                ],
                view: new View({
                    center: fromLonLat(this.center_map),
                    zoom: this.zoom,
                    minZoom: this.minZoom
                })
            });
        },
        createGoogleMapLayer() {
            return new TileLayer({
                source: new XYZ({ url: 'http://mt0.google.com/vt/lyrs=m&hl=en&x={x}&y={y}&z={z}&s=Ga' })
            });
        },
        isValidLngLat(lng, lat) {
            if(lng < -180 || lng > 180) {
                return false;
            }
            else if(lat < -90 || lat > 90) {
                return false;
            }
            return true;
        },
        createIconLayer(icons) {
            let vectorSource = new VectorSource({
                features: []
            });
            if (icons.length) {
                icons.forEach(icon => {
                    let styleText = new Text({
                        text: icon.sumTraffic.toString(),
                        scale: 2.0,
                        offsetX: 0,
                        offsetY: -24,
                        fill: new Fill({
                            color: "#0BA958"
                        })
                    });
                    if (this.isValidLngLat(icon.latitude, icon.longitude)) { //long, lat
                        let newFeature = new Feature({
                            geometry: new Point(fromLonLat([icon.latitude, icon.longitude])),
                            name: icon.id
                        });
                        let iconStyle = new Style({
                            image: new Icon({
                                anchor: [0.5, 0.75],
                                src: cameraTrafficGreen,
                                scale: 0.5
                            }),
                            text: styleText
                        });
                        if (icon.statusTraffic == 2) {
                            iconStyle = new Style({
                                image: new Icon({
                                    anchor: [0.5, 0.75],
                                    src: cameraTrafficGreen,
                                    // src: cameraTrafficYellow,
                                    scale: 0.5
                                }),
                                text: styleText
                            });
                        }
                        if (icon.statusTraffic == 3) {
                            iconStyle = new Style({
                                image: new Icon({
                                    anchor: [0.5, 0.75],
                                    src: cameraTrafficGreen,
                                    // src: cameraTrafficRed,
                                    scale: 0.5
                                }),
                                text: styleText
                            });
                        }
                        newFeature.setStyle(iconStyle);
                        vectorSource.addFeature(newFeature);
                    }
                })
            }
            return new VectorLayer({
                source: vectorSource
            });
        },

        getInfoCamera: function (listCamera) {
            let cameras = [];
            if (listCamera) {
                listCamera.forEach(camera => {
                    let info = {
                        id: camera.id,
                        name: camera.name,
                        latitude: camera.meta.latitude,
                        longitude: camera.meta.longitude,
                        geoSite: camera.meta.geoSite,
                        status: camera.meta.status,
                        sumViolation: camera.meta.sumViolation,
                        sumTraffic: camera.meta.sumTraffic,
                        statusTraffic: camera.meta.statusTraffic
                    }; 
                    cameras.push(info);
                });
            }
            return cameras;
        },
        showContentCamera(infoCamera) {
            return `
                <p class='overlay_site_name'>${infoCamera.meta.site} - ${infoCamera.name}</p>
                <p class='overlay_statistic' style='margin-bottom: -9px;'>Lưu lượng phương tiện: <span class='overlay_statistic_traffic'>${infoCamera.meta.sumTraffic}</span></p>
                <p class='overlay_statistic'>Số lượng vi phạm: <span class='overlay_statistic_violation'>${infoCamera.meta.sumViolation}</span></p>
                <p>
                    <a href='/monitor/overlay/${infoCamera.id}' target='_blank' class='btn btn-info'>Xem overlay</a>
                    <a href='/monitor/live/${infoCamera.id}' target='_blank' class='btn btn-info'>Xem live</a>
                    <a href='/monitor/camera/${infoCamera.id}' target='_blank' class='btn btn-info'>Chi tiết</a>
                </p>
            `;
        },
        hiddenPopup() {
            this.popup.setPosition(undefined);
        },

        createOverLay() {
            let container = document.getElementById('popup');
            this.popup = new Overlay({
                element: container,
                autoPan: true,
                autoPanAnimation: {
                    duration: 250,
                }
            });
            return this.popup;
        },
        handlePointerMove(event) {
            let pixel = this.mapInstance.getEventPixel(event.originalEvent);
            let hit = this.mapInstance.hasFeatureAtPixel(pixel);
            this.mapInstance.getTargetElement().style.cursor = hit ? 'pointer' : '';
        },
        handleClickIcon(event) {
            this.selectedIcon = this.mapInstance.forEachFeatureAtPixel(event.pixel, (feature) => {
                return feature;
            });
            if (this.selectedIcon) {
                let coordinates = this.selectedIcon.getGeometry().getCoordinates();
                let typeSelectedFeature = this.selectedIcon.getGeometry().getType();
                if (typeSelectedFeature == 'Point') {
                    let idSelectedCamera = this.selectedIcon.get('name');
                    let infoCamera = this.monitor_checked_camera.find(x => x.id == idSelectedCamera);
                    let element = document.getElementById('popup');
                    element.style.visibility = 'visible';
                    element.innerHTML = this.showContentCamera(infoCamera);
                    this.popup.setPosition(coordinates);
                } else {
                    this.hiddenPopup();
                }
            } else {
                this.hiddenPopup();
            }
        },

        async getUpdatedStatusCamera() {
            let checkedStatusCameras = this.monitor_checked_camera;
            if (checkedStatusCameras) {
                let listStatus = await request({
                    url: '/management/mons/check_cam',
                    method: 'GET'
                });

                checkedStatusCameras.forEach(camera => {
                    if (listStatus.hasOwnProperty(camera.id)) {
                        camera.meta.status = listStatus[camera.id];
                    }

                    let sumStreamTrafficMetrics = this.sumStreamTrafficMetrics(camera.id);
                    camera.meta.sumTraffic = sumStreamTrafficMetrics.sumTrafficMetrics;
                    camera.meta.statusTraffic = sumStreamTrafficMetrics.statusTrafficMetrics;
                    camera.meta.sumViolation = sumStreamTrafficMetrics.sumViolationMetrics;
                });
            }

            return checkedStatusCameras;
        },

        sumStreamTrafficMetrics(cameraId) {
            let sumTrafficMetrics = 0; // tổng số phương tiện phát hiện được
            let statusTrafficMetrics = 1; // tình trạng giao thông:  1-green; 2-yellow; 3-red
            let sumViolationMetrics = 0; // tổng số phương tiện vi phạm

            let infoStreamTrafficMetrics = this.listTrafficMetrics.find(x => x.cameraId == cameraId);
            if (infoStreamTrafficMetrics != undefined) {
                // trafficMetrics, statusTrafficMetrics
                let calculateTraffic = this.calculateTraffic(infoStreamTrafficMetrics);
                sumTrafficMetrics = calculateTraffic.sumTrafficMetrics;
                statusTrafficMetrics = calculateTraffic.statusTrafficMetrics;

                // violationMetrics
                let arrKeyViolationMetrics = Object.keys(infoStreamTrafficMetrics.violationMetrics);
                arrKeyViolationMetrics.forEach(item => {
                    sumViolationMetrics += parseInt(infoStreamTrafficMetrics.violationMetrics[item]['value']);
                });
            }

            return {
                sumTrafficMetrics: sumTrafficMetrics,
                statusTrafficMetrics: statusTrafficMetrics,
                sumViolationMetrics: sumViolationMetrics
            };
        },

        calculateTraffic(streamTrafficMetricsInfo) {
            // tổng số phương tiện phát hiện được
            let trafficMetrics = streamTrafficMetricsInfo.trafficMetrics;
            let vTrafficMotorbike = trafficMetrics.motorbike != undefined ? parseInt(trafficMetrics.motorbike.value) : 0;
            let vTrafficBus = trafficMetrics.bus != undefined ? parseInt(trafficMetrics.bus.value) : 0;
            let vTrafficConstructed = trafficMetrics.constructed != undefined ? parseInt(trafficMetrics.constructed.value) : 0;
            let vTrafficCar = trafficMetrics.car != undefined ? parseInt(trafficMetrics.car.value) : 0;
            let vTrafficTruck = trafficMetrics.truck != undefined ? parseInt(trafficMetrics.truck.value) : 0;
            let vTrafficUnknown = trafficMetrics.unknown != undefined ? parseInt(trafficMetrics.unknown.value) : 0;
            let sumTrafficMetrics = vTrafficMotorbike + vTrafficBus + vTrafficConstructed + vTrafficCar + vTrafficTruck + vTrafficUnknown;

            // tình trạng giao thông
            let statusTrafficMetrics = 1;
            let configTrafficMetrics = config.trafficMetrics.find(x => x.cameraId == streamTrafficMetricsInfo.cameraId);
            if (configTrafficMetrics != undefined) {
                let _maxTrafficMetrics = configTrafficMetrics.maxTrafficMetrics;
                let _ratioMotorbike = configTrafficMetrics.ratioVehicle.motorbike;
                let _ratioUnknown = configTrafficMetrics.ratioVehicle.unknown;
                let _ratioBus = configTrafficMetrics.ratioVehicle.bus;
                let _ratioConstructed = configTrafficMetrics.ratioVehicle.constructed;
                let _ratioCar = configTrafficMetrics.ratioVehicle.car;
                let _ratioTruck = configTrafficMetrics.ratioVehicle.truck;

                let __sumTrafficMetrics = vTrafficMotorbike * _ratioMotorbike
                                        + vTrafficBus * _ratioBus
                                        + vTrafficConstructed * _ratioConstructed
                                        + vTrafficCar * _ratioCar
                                        + vTrafficTruck * _ratioTruck
                                        + vTrafficUnknown * _ratioUnknown;

                console.log(vTrafficMotorbike + '|' + vTrafficBus + '|' + vTrafficConstructed + '|' + vTrafficCar + '|' + vTrafficTruck + '|' + vTrafficUnknown);
                console.log('----cameraId: ' + streamTrafficMetricsInfo.cameraId + '|maxTrafficMetrics: ' + _maxTrafficMetrics + '|__sumTrafficMetrics: ' + __sumTrafficMetrics);
                if ((_maxTrafficMetrics - 10) < __sumTrafficMetrics && __sumTrafficMetrics < _maxTrafficMetrics) {
                    statusTrafficMetrics = 2;
                } else if (__sumTrafficMetrics >= _maxTrafficMetrics) {
                    statusTrafficMetrics = 3;
                }
            }

            return {
                sumTrafficMetrics: sumTrafficMetrics,
                statusTrafficMetrics: statusTrafficMetrics
            };
        },

        renderMap() {
            this.getUpdatedStatusCamera().then(listCamera => {
                let googleMapLayer = this.createGoogleMapLayer();
                let iconLayer = this.createIconLayer(this.getInfoCamera(listCamera));
                this.mapInstance = this.initMap(googleMapLayer, iconLayer);
                this.mapInstance.addOverlay(this.createOverLay());
                
                this.mapInstance.on('pointermove', this.handlePointerMove);
                this.mapInstance.on('click', this.handleClickIcon);
            });
        }
    },
    computed: {
        ...mapGetters(['center_map', 'monitor_checked_camera'])
    },
    watch: {
        monitor_checked_camera() {
            this.renderMap();
        }
    },
    created() {
        this.getStreamTrafficMetrics();
    },
    mounted() {
        this.renderMap();

        setInterval(() => {
            this.getUpdatedStatusCamera().then(listCamera => {
                this.$store.commit("app/SET_MONITOR_CHECKED_CAMERA", listCamera);

                // refresh iconLayer
                let iconLayer = this.createIconLayer(this.getInfoCamera(listCamera));
                let ii = 0;
                this.mapInstance.getLayers().forEach(layer => {
                    ii++;
                    if (ii == 2) {
                        this.mapInstance.removeLayer(layer);
                        this.mapInstance.addLayer(iconLayer);
                    }
                });

                // popup
                if (this.selectedIcon) {
                    let typeSelectedFeature = this.selectedIcon.getGeometry().getType();
                    if (typeSelectedFeature == 'Point') {
                        let idSelectedCamera = this.selectedIcon.get('name');
                        let infoCamera = this.monitor_checked_camera.find(x => x.id == idSelectedCamera);
                        let element = document.getElementById('popup');
                        element.style.visibility = 'visible';
                        element.innerHTML = this.showContentCamera(infoCamera);
                    } else {
                        this.hiddenPopup();
                    }
                } else {
                    this.hiddenPopup();
                }
            });
        }, 5000);
    }
};
</script>

<style>
    .ol-popup {
        position: absolute;
        min-width: 300px;
        background-color: white;
        -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
        filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
        padding: 12px;
        border-radius: 10px;
        border: 1px solid #ccc;
        bottom: 53px;
        left: -48px;
    }
    .ol-popup:after, .ol-popup:before {
        top: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }
    .ol-popup:after {
        border-top-color: white;
        border-width: 10px;
        left: 48px;
        margin-left: -10px;
    }
    .ol-popup:before {
        border-top-color: #cccccc;
        border-width: 11px;
        left: 48px;
        margin-left: -11px;
    }
</style>

<style scoped>
::v-deep .el-dialog {
  width: 86.79% !important;
  height: 100% !important;
  margin: 0px 0px 0px 250px !important;
  background-color: #2E2E2E !important;
}
::v-deep .el-dialog__title {
  line-height: 24px;
  font-size: 16px;
  color: #FFFFFF;
}
::v-deep .el-dialog__body {
  padding: 0px;
  color: #606266;
  font-size: 14px;
  word-break: break-all;
}

::v-deep #listCam video, #listCamOverlay video {
  width: 100%;
  height: 100%;
}
::v-deep .camera-item-name {
    z-index: 11000000;
    background: #a4a4a4;
    width: 100%;
    color: red;
}
::v-deep .camera-viewer {
  padding-right: 0px !important;
  padding-left: 0px !important;
  border: 1px solid #333;
  height: 446px;
}
::v-deep .col-sm-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
}
::v-deep .col-md-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
  position: relative;
}
::v-deep .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
::v-deep .loader {
  top: 45%;
  position: absolute;
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #3498db;
  border-bottom: 10px solid #3498db;
  width: 70px;
  height: 70px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  right: 43%;
}
::v-deep .overlay_site_name {
  color: #0077FF;
  font-weight: bold;
  font-size: 15px;
}
::v-deep .overlay_statistic {
  color: #7E7E7E;
  font-size: 15px;
}
::v-deep .overlay_statistic_traffic {
  color: #00AB5A;
  font-size: 19px;
  font-weight: bold;
}
::v-deep .overlay_statistic_violation {
  color: #F1005A;
  font-size: 19px;
  font-weight: bold;
}

::v-deep .btn-info {
    display: inline-block;
    line-height: 0.5;
    white-space: nowrap;
    cursor: pointer;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    transition: .1s;
    padding: 13px 14px;
    font-size: 14px;
    border-radius: 2rem;
    color: #fff;
    background-color: #2E5BFF;
    border: 1px solid #2E5BFF;
    font-weight: 500;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>