<template>
  <div class="report-container">
    <!-- <div class="report-page"> -->
        <!-- <div class="report-page-header">
            <div class="report-title-filter">
                <span class="title-report">Báo cáo tổng hợp</span>
                <div class="filter-button" @click="showFilter = !showFilter">
                     <img :src="filter_icon" alt="" />
                     <span>Bộ lọc</span>
                     <i class="el-icon-arrow-down" v-if="!showFilter"></i>
                     <i class="el-icon-arrow-up" v-if="showFilter"></i>
                     </div>
                </div>
            <SearchReport  v-if="showFilter"/>
        </div>
        <div class="table-report">
        <el-table
            :data="tableData"
            style="width: 100%">
            <el-table-column
                prop="date"
                label="Date"
                width="180">
            </el-table-column>
            <el-table-column
                prop="name"
                label="Name"
                width="180">
            </el-table-column>
            <el-table-column
                prop="address"
                label="Address">
            </el-table-column>
        </el-table>
        </div>
    </div> -->
  </div>
</template>

<script>
import filter_icon from "@/assets/images/filter.png";
import SearchReport from "./component/search-report"
export default {
 components:{SearchReport},
  data(){
      return {
          filter_icon: filter_icon,
          showFilter:false,
           tableData: [{
            date: '2016-05-03',
            name: 'Tom',
            address: 'No. 189, Grove St, Los Angeles'
          }, {
            date: '2016-05-02',
            name: 'Tom',
            address: 'No. 189, Grove St, Los Angeles'
          }, {
            date: '2016-05-04',
            name: 'Tom',
            address: 'No. 189, Grove St, Los Angeles'
          }, {
            date: '2016-05-01',
            name: 'Tom',
            address: 'No. 189, Grove St, Los Angeles'
          }]
      }
  }
}
</script>
<style lang="scss">
    .report-container{
        width: 100%;
        height: 100%;
        padding: 20px;
        .report-page{
            background-color: white;
            .report-page-header{
                border-bottom: 3px solid #9ca5b1;
                padding: 20px;
                .report-title-filter{
                .title-report{
                        display: inline-block;
                        font-size: 18px;
                        font-weight: 600;
                        min-width: 160px;
                        margin-right: 32px;
                        border-right: 1px solid #9ca5b1;
                }
                .filter-button{
                    position: relative;
                    display: inline-block;
                    cursor: pointer;
                    img{
                        margin-right: 3px;
                        height: 16px;
                        position: absolute;
                        left: -19px;
                        top: 1px;
                    }
                    i{
                        margin-left: 3px;
                    }
                }
            }
            }
        }
    }
    ///fitler
    .filter-group-action{
        .date-filter{
            display: flex;
            align-items: flex-end;
            justify-content: space-around;
            width: 100%;
            .el-date-editor--datetimerange.el-input__inner {
                width: 220px
            }
            .action{
                .el-button{
                    border-radius: 4px;
                }
                .el-button--info{
                    border-radius: 4px;
                    background: rgb(38, 198, 218);
                    color: rgb(255, 255, 255);
                    border: 1px solid rgb(38, 198, 218);
                    font-size: 16px;
                    font-weight: 500;
                    width: 147px;
                }
                .el-button--primary {
                    border-radius: 4px;
                    background: rgb(31, 127, 245);
                    color: rgb(255, 255, 255);
                    border: 1px solid rgb(31, 127, 245);
                    font-size: 16px;
                    font-weight: 500;
                    width: 147px;
                    float: right;
                }
            }
        }
    }

    
</style>