<template>
  <div class="report-container">
    <div class="report-page" >
        <div class="report-page-header">
            <div class="report-title-filter">
                <span class="title-report">Báo cáo tổng hợp</span>
                <div class="filter-button" @click="showFilter = !showFilter">
                    <img :src="filter_icon" alt="" />
                    <span>Bộ lọc</span>
                    <i class="el-icon-arrow-down" v-if="!showFilter"></i>
                    <i class="el-icon-arrow-up" v-if="showFilter"></i>
                    </div>
                </div>
                <el-button
              type="primary"
              class="btn-export"
              @click="handleExport()"
              ><i class="el-icon-arrow-right"></i> Export</el-button
            >
            <SearchReport @clicked="onClickChild" v-if="showFilter"/>
            
        </div>
        <div class="table-report has-pad">
        <el-table
            id="table-noprocess-detail"
            :data="noProcessDetailList"
            style="width: 100%">
            <el-table-column label="STT" width="100" style="padding-left: 15px">
              <template slot-scope="scope">
                <span>{{ (query.page - 1) * query.size + scope.$index + 1 }}</span>
              </template>
            </el-table-column>
            <el-table-column
                prop="plate"
                label="Biển số"
                width="180">
            </el-table-column>
            <el-table-column
                prop="objectTypeName"
                label="Loại phương tiện">
            </el-table-column>
            <el-table-column label="Thời gian vi phạm">
              <template slot-scope="scope">
                <span>{{scope.row.startTime|formatDateVietNam }}</span>
              </template>
            </el-table-column>
            <el-table-column
                prop="eventTypeName"
                label="Nội dung vi phạm">
            </el-table-column>
        </el-table>
        </div>
    </div>
     <!-- Phân trang -->
    <p style="clear: both"></p>
    <pagination
      v-show="total > query.size"
      :total="total"
      :page.sync="query.page"
      :layout="layout"
      :limit.sync="query.size"
      @pagination="getList"
    />
  </div>
</template>

<script>
import Pagination from "@/components/Pagination_custom";
import filter_icon from "@/assets/images/filter.png";
import SearchReport from "./component/search-report";
import Resource from "@/api/resource";
import FileSaver from "file-saver";
import XLSX from "xlsx";

const noProcessDetailResource = new Resource("report/statistic/no-process/detail");

export default {
 components:{SearchReport , Pagination},
  data(){
      return {
          loading: false,
          filter_icon: filter_icon,
          noProcessDetailList:[],
          total:0,
          layout: "first, prev, pager, next, last",
          query: {
                page: 1,
                size: 20,
                startDate: this.getDateString() + " 00:00:00",
                endDate: this.getDateString() + " 23:59:59",
                filterObjectType: null,
                filterObjectIds: null,
                plate: null,
                vehicleType: null,
                objectType: null,
            },
          showFilter:false,
           tableData: [{
            date: '2016-05-03',
            name: 'Tom',
            address: 'No. 189, Grove St, Los Angeles'
          }, {
            date: '2016-05-02',
            name: 'Tom',
            address: 'No. 189, Grove St, Los Angeles'
          }, {
            date: '2016-05-04',
            name: 'Tom',
            address: 'No. 189, Grove St, Los Angeles'
          }, {
            date: '2016-05-01',
            name: 'Tom',
            address: 'No. 189, Grove St, Los Angeles'
          }]
      }
  },
  created(){
      this.init()
  },
  methods :{
      async init() {
      await this.getList();
    },
    getDateString() {
      let today = new Date();
      let dd = String(today.getDate()).padStart(2, "0");
      let mm = String(today.getMonth() + 1).padStart(2, "0"); //January is 0!
      let yyyy = today.getFullYear();
      today = yyyy + "-" + mm + "-" + dd;
      return today;
    },
     getDateExportFile() {
      let today = new Date();
      let dd = String(today.getDate()).padStart(2, "0");
      let mm = String(today.getMonth() + 1).padStart(2, "0"); //January is 0!
      let hour = String(today.getHours());
      let min = String(today.getMinutes());
      let sec = String(today.getSeconds());
      let yyyy = today.getFullYear();
      today = dd + "/" + mm + "/" + yyyy + "-" + hour + ":" + min + ":" + sec;
      return today;
    },
    async handleExport() {
      this.loading = true;
      var wb = XLSX.utils.table_to_book(
        document.querySelector("#table-noprocess-detail")
      );
      var wbout = XLSX.write(wb, {
        bookType: "xlsx",
        bookSST: true,
        type: "array",
      });
      try {
        FileSaver.saveAs(
          new Blob([wbout], { type: "application/octet-stream" }),
          `vi_pham_chua_xu_ly${this.getDateExportFile()}.xlsx`
        );
      } catch (e) {
        if (typeof console !== "undefined") console.log(e, wbout);
      }
      return wbout;
    },
    async getList(){
        this.loading = true;
        let queryCustom = {
        page: this.query.page - 1,
        size: this.query.size,
        fromDate: this.query.fromDate,
        toDate: this.query.toDate,
        filterObjectType: this.query.filterObjectType,
        filterObjectIds: this.query.filterObjectIds?this.query.filterObjectIds:"",
        objectType: this.query.vehicleType,
        eventState: this.query.eventState,
      };

      if (queryCustom.currentPage < 0) queryCustom.currentPage = 0;
        const res = await noProcessDetailResource.list(queryCustom)
        if(res && res.data){
            this.noProcessDetailList=  res.data
            this.total = res.total;
        }
        this.loading = false;
    },
    handleFilter() {
      this.query.page = 1;
      this.getList();
    },
    onClickChild(value) {
      if (value) {
        this.query.fromDate = value.startDate;
        this.query.toDate = value.endDate;
        this.query.vehicleType = value.vehicleType;
        this.query.violationType = value.violationType;
        if (value.camera != null) {
          this.query.filterObjectType = "cam";
          this.query.filterObjectIds = value.camera;
        } else if (value.camera == null && value.site != null) {
          this.query.filterObjectType = "site";
          this.query.filterObjectIds = value.site;
        } else {
          this.query.filterObjectType = '';
          this.query.filterObjectIds = '';
        }
      }
      this.handleFilter();
    },
  }
}
</script>
<style lang="scss">
    .report-container{
        width: 100%;
        height: 100%;
        padding: 20px;
        .btn-export{
          background: #1e2e4a;
          border-color: #1e2e4a;
          float: right;
          border-radius: 4px;
          font-size: 16px;
        }
        .report-page{
            clear: both;
            background-color: white;
            .report-page-header{
                border-bottom: 3px solid #9ca5b1;
                padding: 20px;
                .report-title-filter{
                  display: inline-block;
                .title-report{
                        display: inline-block;
                        font-size: 18px;
                        font-weight: 600;
                        min-width: 160px;
                        margin-right: 32px;
                        border-right: 1px solid #9ca5b1;
                }
                .filter-button{
                    position: relative;
                    display: inline-block;
                    cursor: pointer;
                    img{
                        margin-right: 3px;
                        height: 16px;
                        position: absolute;
                        left: -19px;
                        top: 1px;
                    }
                    i{
                        margin-left: 3px;
                    }
                }
            }
            }
            .table-report.has-pad{
                padding: 0 5px;
              
              .el-table th > .cell{
                text-align: unset;
              }
            }
        }
    }
    ///fitler
    .filter-group-action{
        .date-filter{
            display: flex;
            align-items: flex-end;
            justify-content: space-around;
            width: 100%;
            .el-date-editor--datetimerange.el-input__inner {
                width: 220px
            }
            .action{
                .el-button{
                    border-radius: 4px;
                }
                .el-button--info{
                    border-radius: 4px;
                    background: rgb(38, 198, 218);
                    color: rgb(255, 255, 255);
                    border: 1px solid rgb(38, 198, 218);
                    font-size: 16px;
                    font-weight: 500;
                    width: 147px;
                }
                .el-button--primary {
                    border-radius: 4px;
                    background: rgb(31, 127, 245);
                    color: rgb(255, 255, 255);
                    border: 1px solid rgb(31, 127, 245);
                    font-size: 16px;
                    font-weight: 500;
                    width: 147px;
                    float: right;
                }
            }
        }
    }

    
</style>