<template>
  <div class="report-container">
    <div class="report-page traffic-flow-vehicle">
      <div class="chart-block">
        <div class="filter">
          <h4>Báo cáo lưu lượng</h4>
          <ReportFilter @search="search"></ReportFilter>
        </div>
        <div class="chart-statistic">
          <el-row :gutter="20">
            <el-col :span="16"
            >
              <div class="grid-content bg-purple chart-line">
                <div class="chart-search">
                  <h4>Biểu đồ lưu lượng</h4>
                  <div
                      v-if="flag_display_filter"
                      class="report-filter-select report-time-select">
                    <el-dropdown
                        trigger="click"
                        placement="bottom"
                        class="chart-filter-content">
                      <span class="el-dropdown-link">
                        <template v-if="searchQuery.flag_time == 'day'">Thứ</template>
                        <template v-else-if="searchQuery.flag_time == 'week'">Tuần</template>
                        <template v-else-if="searchQuery.flag_time == 'month'">Tháng</template>
                        <template v-else-if="searchQuery.flag_time == 'year'">Năm</template>
                        <i class="el-icon-arrow-down el-icon--right"></i>
                      </span>
                      <el-dropdown-menu
                          slot="dropdown"
                          class="chart-line-filter"
                          :style="{ width: dropdownWidth(searchQuery.flag_time) }">
                        <template>
                          <el-checkbox-group
                              v-model="checkFilterTime"
                              class="dropdown-custom"
                              @change="changeTimeLineChart">
                            <el-checkbox
                                v-for="item in timeRanger"
                                :label="item.label"
                                :key="item.value">
                              {{ item.label }}
                            </el-checkbox>
                          </el-checkbox-group>
                        </template>
                      </el-dropdown-menu>
                    </el-dropdown>
                  </div>
                </div>
                <highcharts
                    class="chart"
                    :options="chartOptions"
                ></highcharts>
              </div
              >
            </el-col>
            <el-col :span="8"
            >
              <div class="grid-content bg-purple chart-circle">
                <h4>Phần trăm lưu lượng</h4>
                <highcharts :options="getChartData()"></highcharts>
              </div
              >
            </el-col>
          </el-row>
        </div>
      </div>
      <div class="report-detail">
        <div class="header-table-report">
          <h4>Báo cáo chi tiết</h4>
          <el-select
              v-if="flag_display_filter"
              v-model="timeRangerValue"
              @change="changeTimeReportDetail()"
              placeholder="- Lựa chọn -"
          >
            <el-option
                v-for="item in timeRanger"
                :key="item.value"
                :label="item.label"
                :value="item.value"
            >
            </el-option>
          </el-select>
          <div class="xlsx-eport-traffic">
            <!-- Elsx  csgt-->
            <template v-if="linkExportExcelTraffic">
              <el-button
                  type="primary"
                  class="btn-export"
                  style="background: #006fe3; border-color: #006fe3"
              ><a :href="linkExportExcelTraffic"
              ><i class="el-icon-download"></i> Tải Excel</a
              ></el-button
              >
              <el-button
                  type="info"
                  @click="refreshExportTraffic()"
                  style="margin-left: 5px; background: rgb(0, 111, 227)"
              ><i class="el-icon-refresh"></i
              ></el-button>
            </template>
            <el-button
                v-else
                type="primary"
                class="btn-export"
                :loading="loadingExport"
                style="background: #006fe3; border-color: #006fe3"
                @click="handleExport()"
            ><i class="el-icon-document"></i> Xuất Excel
            </el-button
            >
          </div>
        </div>
        <el-table
            ref="multipleTable"
            :data="dataDetailReport"
            style="width: 100%"
        >
          <el-table-column label="STT" type="index" width="80"/>

          <el-table-column label="Thiết bị" prop="sourceName" sortable/>

          <el-table-column label="Vị trí" prop="siteAddress" sortable/>

          <el-table-column label="Tổng số" prop="total" sortable/>

          <el-table-column prop="bike" sortable>
            <template slot="header">
              <span><img src="@/assets/images/report/circle.png"/> Xe đạp</span>
            </template>
          </el-table-column>

          <el-table-column prop="motorbike" label="Xe máy" sortable>
            <template slot="header">
              <span><img src="@/assets/images/report/motorcycle.png"/> Xe máy</span>
            </template>
          </el-table-column>

          <el-table-column prop="bus" label="Xe bus" sortable>
            <template slot="header">
              <span><img src="@/assets/images/report/bus.png"/> Xe bus</span>
            </template>
          </el-table-column>

          <el-table-column prop="truck" label="Xe tải" sortable>
            <template slot="header">
              <span><img src="@/assets/images/report/truck.png"/> Xe tải</span>
            </template>
          </el-table-column>

          <el-table-column prop="car" label="Ô tô" sortable>
            <template slot="header">
              <span><img src="@/assets/images/report/car.png"/> Ô tô</span>
            </template>
          </el-table-column>
        </el-table>
      </div>
    </div>
    <!-- Phân trang -->
    <p style="clear: both"></p>
  </div>
</template>

<script>
import Pagination from "@/components/Pagination_custom";
import ReportFilter from "./component/search-traffic";
import Resource from "@/api/resource";
import {Chart} from "highcharts-vue";
import HighchartsPie from "highcharts";
import {XlsxWorkbook, XlsxSheet, XlsxDownload} from "vue-xlsx";

const detailResource = new Resource("report/statistic/traffic-flow/vehicles");
const lineChartFlowResource = new Resource(
    "report/statistic/traffic-flow/vehicles-linechart"
);
const percentFlowResource = new Resource(
    "report/statistic/traffic-flow/vehicles-fanchart"
);
const fanchartFlowResource = new Resource(
    "report/statistic/traffic-flow/vehicles-fanchart-value"
);
const exportTrafficResource = new Resource(
    "report/statistic/traffic-flow/export"
);

export default {
  components: {
    ReportFilter,
    Pagination,
    highcharts: Chart,
    XlsxWorkbook,
    XlsxSheet,
    XlsxDownload,
  },
  data() {
    return {
      sheets: [
        {
          name: "Sheet1",
          data: null,
        },
      ],
      file_name_xls:
          "Báo_Cáo_Lưu_Lượng_" + moment().format("YYYY_MM_DD") + ".xlsx",
      loading: false,
      loadingExport: false,
      flag_display_filter: true,
      checkFilterTime: [],
      dataLineChart: [],
      dataDetailReport: [],
      timeRanger: [],
      timeRangerMonth: [
        {
          value: "T1",
          label: "Tháng 1",
        },
        {
          value: "T2",
          label: "Tháng 2",
        },
        {
          value: "T3",
          label: "Tháng 3",
        },
      ],
      timeRangerValue: null,
      chartOptions: {
        title: {
          text: "",
        },
        colors: [
          "#FF5947",
          "#FFC274",
          "#AED760",
          "#00A748",
          "#b8b8b8",
          "#492970",
          "#f28f43",
          "#77a1e5",
          "#c42525",
          "#a6c96a",
        ],
        subtitle: {
          // text: ""
        },
        yAxis: {
          title: {
            text: "",
          },
        },
        xAxis: {
          categories: [],
          labels: {
            formatter: function () {
              return this.value;
            },
          },
        },
        legend: {
          enabled: true,
          // layout: "vertical",
          // align: "right",
          // verticalAlign: "middle"
          squareSymbol: false,
          symbolWidth: 10,
          // symbolRadius: 2000,
        },
        tooltip: {
          enabled: true,
          // pointFormat: "{series.labelType} <b>{point.category}</b>",
          useHTML: true,
          // formatter: function () {
          //   console.log(this.series)
          //     // return this.key + '<br>'
          //     //     + '</b> Persentase: <b>' + this.percentage.toFixed(2) + '% </b>('+ this.point.y + ' Transaction)<br>'
          //     //     + 'Rp.' + this.point.money;
          // }
        },
        plotOptions: {
          series: {
            label: {
              connectorAllowed: false,
            },
            marker: {
              enabled: false,
            },
            // pointStart: 1
          },
          line: {
            events: {
              click: ({point}) => {
                this.lineChartClick(point.series.name);
              },
            },
          },
        },
        series: [],
        responsive: {
          rules: [
            {
              condition: {
                maxWidth: 500,
              },
              chartOptions: {
                legend: {
                  layout: "horizontal",
                  align: "center",
                  // verticalAlign: "bottom"
                },
              },
            },
          ],
        },
      },
      // pie chat total
      total: 0,
      linkExportExcelTraffic: null,
      dataMerch: [],
      dataFlow: [],
      searchQuery: {
        cameraValue: "",
        addressValue: "",
        vehicleValue: "",
        fromDate: moment().subtract(1, "day").format("YYYY-MM-DD 00:00:00"),
        toDate: moment().subtract(1, "day").format("YYYY-MM-DD 23:59:59"),
        flag_time: "day",
        timeRangerValue: 1,
      },
      queryExport: {
        fromDate: moment().subtract(1, "day").format("YYYY-MM-DD 00:00:00"),
        toDate: moment().subtract(1, "day").format("YYYY-MM-DD 23:59:59"),
      },
    };
  },
  created() {
    this.init();
  },
  methods: {
    init() {
      this.getDetail();
      this.getPercentFlow();
      this.getLineChartFlow();
      this.initTimeRanger();
    },
    refreshExportTraffic() {
      this.linkExportExcelTraffic = null;
    },
    initTimeRanger() {
      let date1 = moment().subtract(1, "day");
      let date2 = moment().subtract(2, "day");
      let date3 = moment().subtract(3, "day");
      let date1Value = moment().subtract(1, "day").format("YYYY-MM-DD");
      let date2Value = moment().subtract(2, "day").format("YYYY-MM-DD");
      let date3Value = moment().subtract(3, "day").format("YYYY-MM-DD");
      let dow1 = date1.isoWeekday();
      let dow2 = date2.isoWeekday();
      let dow3 = date3.isoWeekday();
      date1 = dow1 + 1;
      date2 = dow2 + 1;
      date3 = dow3 + 1;
      this.timeRanger = [
        {
          value: date1Value,
          label: date1 == 8 ? "CN" : "Thứ " + date1,
        },
        {
          value: date2Value,
          label: date2 == 8 ? "CN" : "Thứ " + date2,
        },
        {
          value: date3Value,
          label: date3 == 8 ? "CN" : "Thứ " + date3,
        },
      ];
      this.timeRanger = this.timeRanger.slice(0, 1);
      this.timeRangerValue = date1Value;
    },
    getChartData() {
      // console.log(this.total)
      let self = this;
      return {
        chart: {
          plotBackgroundColor: null,
          plotBorderWidth: null,
          plotShadow: false,
          renderTo: "container",
          type: "pie",
          events: {
            load: function () {
            },
            redraw: function () {
              if (this.title) {
                this.title.destroy();
              }
              var r = this.renderer,
                  x = this.series[0].center[0] + this.plotLeft,
                  y = this.series[0].center[1] + this.plotTop;
              this.title = r
                  .html(
                      "<span style='display:inline-block;text-align:center;margin-top:-10px;'><span style='font-size:13px;font-weight:500;color:black;margin-bottom:5px;display:inline-block;'>Tổng</span><br>" +
                      "<span style='font-size:19px;font-weight:bold;color:black;margin-bottom:20px;display:inline-block;'>" +
                      self.total +
                      "</span></span>",
                      0,
                      0
                  )
                  .css({
                    color: "black",
                    fontSize: "16px",
                    fontWeight: "bold",
                  })
                  .hide()
                  .add();

              var bbox = this.title.getBBox();
              this.title
                  .attr({
                    x: x - bbox.width / 2,
                    y: y,
                  })
                  .show();
            },
          },
        },
        colors: [
          "#FF5947",
          "#FFC274",
          "#AED760",
          "#00A748",
          "#b8b8b8",
          "#492970",
          "#f28f43",
          "#77a1e5",
          "#c42525",
          "#a6c96a",
        ],
        // title: {
        //   useHTML: false,
        //   // text: "<span style='font-size:19px;font-weight:bold;color:black;margin-bottom:20px;display:inline-block;'>" +this.total + "</span></span>",
        //   text: "<span style='display:inline-block;text-align:center;'><span style='font-size:13px;font-weight:500;color:black;margin-bottom:5px;display:inline-block;'>Tổng</span><br>" + "<span style='font-size:19px;font-weight:bold;color:black;margin-bottom:20px;display:inline-block;'>" +this.total + "</span></span>",
        //   align: 'center',
        //   verticalAlign: 'middle',
        //   x: -85,
        //   // y: -10,
        // },
        tooltip: {
          enabled: false,
          // /pointFormat: "{series.name}: <b>{point.percentage:.1f}%</b>",
          useHTML: true,
          // formatter: function () {
          //     return this.key + '<br>'
          //         + '</b> Persentase: <b>' + this.percentage.toFixed(2) + '% </b>('+ this.point.y + ' Transaction)<br>'
          //         + 'Rp.' + this.point.money;
          // }
        },
        legend: {
          layout: "vertical",
          align: "right",
          verticalAlign: "middle",
          itemWidth: 115,
          x: 0,
          y: 0,
          itemMarginBottom: 15,
          itemMarginTop: 2,
          itemStyle: {
            color: "#333333",
            cursor: "pointer",
            fontSize: "14px",
            fontWeight: 500,
            textOverflow: "ellipsis",
          },
          labelFormatter: function () {
            return this.options.name;
          },
        },
        plotOptions: {
          pie: {
            allowPointSelect: true,
            cursor: "pointer",
            size: "80%",
            dataLabels: {
              enabled: true,
              // crop: false,
              filter: {
                operator: ">",
                property: "y",
                value: 0,
              },
              // format: "<b>{point.name}</b>: {point.percentage:.1f} %",
              distance: 10,
              formatter: function () {
                // return this.key + '<br>' + this.percentage.toFixed(2) + '%'
                return this.percentage.toFixed(2) + "%";
              },
              style: {
                color: "black",
                textOutline: false,
              },
            },
            showInLegend: true,
          },
        },
        series: [
          {
            // name: "Prosentase",
            // type: 'pie',
            colorByPoint: true,
            innerSize: "50%",
            data: this.dataMerch,
          },
        ],
      };
    },
    getDataFromAPI() {
      this.dataMerch = [];
      this.total = 0;
      this.dataFlow.forEach((element) => {
        this.total = this.total + element.value;
      });
      this.total = this.formatNumber(this.total);
      this.dataFlow.forEach((element) => {
        this.dataMerch.push({
          name: element.objectTypeName !== null ? element.objectTypeName : "",
          y: element.value,
        });
      });
    },
    getFanChartClick(time = null) {
      let params = {
        fromDate: this.searchQuery.fromDate,
        toDate: this.searchQuery.toDate,
        levelFilterByTime: this.searchQuery.flag_time,
        filterObjectType: "cam",
        roleStates: "",
        filterObjectIds: "",
      };
      if (this.searchQuery.cameraValue != "") {
        params.filterObjectType = "cam";
        params.filterObjectIds = this.searchQuery.cameraValue;
      }
      if (
          this.searchQuery.cameraValue == "" &&
          this.searchQuery.addressValue != ""
      ) {
        params.filterObjectType = "site";
        params.filterObjectIds = this.searchQuery.addressValue;
      }
      if (this.searchQuery.vehicleValue != "") {
        params.objectType = this.searchQuery.vehicleValue;
      }
      if (time) {
        params.valueLevelFilter = time;
      }
      // console.log(time)
      // if(flag) {
      //    params.fromDate = date.fromDate
      //    params.toDate = date.toDate
      // }
      fanchartFlowResource
          .list(params)
          .then((response) => {
            this.dataFlow = response.data;
            this.getDataFromAPI();
          })
          .catch((err) => {
          });
    },
    lineChartClick(time = null) {
      let flag = this.detectTimeSearch(this.searchQuery.flag_time, time);
      this.getFanChartClick(flag);
      // console.log(flag)
      // console.log(time)
    },
    detectTimeSearch(flag = null, time = null) {
      let result = null;
      if (flag == "day") {
        switch (time) {
          case "Thứ 2":
            result = 1;
            break;
          case "Thứ 3":
            result = 2;
            break;
          case "Thứ 4":
            result = 3;
            break;
          case "Thứ 5":
            result = 4;
            break;
          case "Thứ 6":
            result = 5;
            break;
          case "Thứ 7":
            result = 6;
            break;
          case "CN":
            result = 7;
        }
      }
      if (flag == "week") {
        result = time.replace("Tuần ", "");
      }
      if (flag == "month") {
        result = time.replace("Tháng ", "");
      }
      if (flag == "year") {
        result = time.replace("Năm ", "");
      }
      return result;
    },
    formatNumber(amount, decimalCount = 2, decimal = ".", thousands = ",") {
      try {
        decimalCount = Math.abs(decimalCount);
        decimalCount = isNaN(decimalCount) ? 2 : decimalCount;

        const negativeSign = amount < 0 ? "-" : "";

        let i = parseInt(
            (amount = Math.abs(Number(amount) || 0).toFixed(decimalCount))
        ).toString();
        let j = i.length > 3 ? i.length % 3 : 0;

        return (
            negativeSign +
            (j ? i.substr(0, j) + thousands : "") +
            i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + thousands)
        );
      } catch (e) {
        console.log(e);
      }
    },
    changeTimeLineChart() {
      let self = this;
      let dataClone = _.cloneDeep(self.dataLineChart);
      this.chartOptions.colors = [
        "#FF5947",
        "#FFC274",
        "#AED760",
        "#00A748",
        "#b8b8b8",
        "#492970",
        "#f28f43",
        "#77a1e5",
        "#c42525",
        "#a6c96a",
      ];
      if (self.checkFilterTime.length > 0) {
        self.chartOptions.series = dataClone.filter(function (val) {
          return self.checkFilterTime.includes(val.name);
        });
      } else {
        self.chartOptions.series = dataClone;
      }
    },
    detectVehicel(data, type) {
      data = data.filter(function (val) {
        return val.objectType == type;
      });
      if (data.length > 0) {
        return data[0].value;
      }
      return "";
    },
    totalVehicel(data) {
      let total = 0;
      let listVehicel = ["motorbike", "car", "truck", "bus", "bike"];
      data.forEach(function (item, ind) {
        if (listVehicel.includes(item.objectType)) {
          total += item.value;
        }
      });
      return total;
    },
    dataExport(data) {
      let self = this;
      if (data && data.length > 0) {
        self.sheets[0].data = [];
        data.forEach(function (item, ind) {
          let itemImport = {
            ID: ind + 1,
            "Thiết bị": item.sourceName,
            "Vị trí": item.siteAddress,
            "Tổng số": item.total,
            "Xe đạp": item["bike"],
            "Xe máy": item["motorbike"],
            "Xe bus": item["bus"],
            "Xe tải": item["truck"],
            "Ô tô": item["car"],
          };
          self.sheets[0].data.push(itemImport);
        });
      }
    },
    getDetail(flag = false, date = null) {
      let params = {
        fromDate: this.searchQuery.fromDate,
        toDate: this.searchQuery.toDate,
        levelFilterByTime: this.searchQuery.flag_time,
        filterObjectType: "cam",
        filterObjectIds: "",
        roleStates: "",
      };
      if (this.searchQuery.cameraValue != "") {
        params.filterObjectType = "cam";
        params.filterObjectIds = this.searchQuery.cameraValue;
      }
      if (
          this.searchQuery.cameraValue == "" &&
          this.searchQuery.addressValue != ""
      ) {
        params.filterObjectType = "site";
        params.filterObjectIds = this.searchQuery.addressValue;
      }
      if (this.searchQuery.vehicleValue != "") {
        params.objectType = this.searchQuery.vehicleValue;
      }
      if (flag) {
        params.fromDate = date.fromDate;
        params.toDate = date.toDate;
      }
      // console.log('detailResource =>' + flag + '-' + params.fromDate + '-' + params.toDate);
      detailResource
          .list(params)
          .then((response) => {
            this.dataDetailReport = this.transformDetailData(response.data);
            this.dataExport(this.dataDetailReport);
          })
          .catch((err) => {
            console.log(err);
          });
    },
    transformDetailData(data) {
      let newData = [];
      data.forEach(function (item) {
        let itemChild = {};
        itemChild.sourceId = item.sourceId;
        itemChild.sourceName = item.sourceName;
        itemChild.siteAddress = item.siteAddress;
        let total = 0;
        item.objectTypeValueList.forEach((e) => {
          total += e.value;
          itemChild[e.objectType] = e.value;
        });
        itemChild.total = total;
        newData.push(itemChild);
      });
      return newData;
    },
    handleExport() {
      this.loadingExport = true;
      let params = {
        fromDate: this.queryExport.fromDate,
        toDate: this.queryExport.toDate,
        levelFilterByTime: this.searchQuery.flag_time,
        filterObjectType: "cam",
        filterObjectIds: "",
        roleStates: "",
      };
      if (this.searchQuery.cameraValue != "") {
        params.filterObjectType = "cam";
        params.filterObjectIds = this.searchQuery.cameraValue;
      }
      if (
          this.searchQuery.cameraValue == "" &&
          this.searchQuery.addressValue != ""
      ) {
        params.filterObjectType = "site";
        params.filterObjectIds = this.searchQuery.addressValue;
      }
      exportTrafficResource
          .list(params)
          .then((response) => {
            // this.loadingExport = false
            this.$message({
              type: "success",
              message: "Dữ liệu đang cập nhật vui lòng chờ trong trong giây lát",
            });
          })
          .catch((error) => {
            this.$message({
              type: "warning",
              message: "Có lỗi xảy ra vui lòng thử lại sau",
            });
            this.loadingExport = false;
            console.log(error);
          });
    },
    getPercentFlow(flag = false, date = null) {
      let params = {
        fromDate: this.searchQuery.fromDate,
        toDate: this.searchQuery.toDate,
        levelFilterByTime: this.searchQuery.flag_time,
        filterObjectType: "cam",
        filterObjectIds: "",
        roleStates: "",
      };
      if (this.searchQuery.cameraValue != "") {
        params.filterObjectType = "cam";
        params.filterObjectIds = this.searchQuery.cameraValue;
      }
      if (
          this.searchQuery.cameraValue == "" &&
          this.searchQuery.addressValue != ""
      ) {
        params.filterObjectType = "site";
        params.filterObjectIds = this.searchQuery.addressValue;
      }
      if (this.searchQuery.vehicleValue != "") {
        params.objectType = this.searchQuery.vehicleValue;
      }
      if (flag) {
        params.fromDate = date.fromDate;
        params.toDate = date.toDate;
      }
      // console.log('percentFlowResource =>' + flag + '-' + params.fromDate + '-' + params.toDate);
      percentFlowResource
          .list(params)
          .then((response) => {
            this.dataFlow = response.data;
            //Remove construct
            if (this.dataFlow) {
              for (var i in this.dataFlow) {
                if (this.dataFlow[i].objectType === "constructed") {
                  this.dataFlow.splice(i, 1);
                  break;
                }
              }
            }
            //
            this.getDataFromAPI();
          })
          .catch((err) => {
            console.log(err);
          });
    },
    getLineChartFlow(flag = false, date = null) {
      let params = {
        fromDate: this.searchQuery.fromDate,
        toDate: this.searchQuery.toDate,
        levelFilterByTime: this.searchQuery.flag_time,
        filterObjectType: "cam",
        filterObjectIds: "",
        roleStates: "",
      };
      if (this.searchQuery.cameraValue != "") {
        params.filterObjectType = "cam";
        params.filterObjectIds = this.searchQuery.cameraValue;
      }
      if (
          this.searchQuery.cameraValue == "" &&
          this.searchQuery.addressValue != ""
      ) {
        params.filterObjectType = "site";
        params.filterObjectIds = this.searchQuery.addressValue;
      }
      if (this.searchQuery.vehicleValue != "") {
        params.objectType = this.searchQuery.vehicleValue;
      }
      if (flag) {
        params.fromDate = date.fromDate;
        params.toDate = date.toDate;
      }
      // console.log('lineChartFlowResource =>' + flag + '-' + params.fromDate + '-' + params.toDate);
      lineChartFlowResource
          .list(params)
          .then((response) => {
            this.formatDataLineChartNewData(response.data);
            this.dataLineChart = response.data.value;
          })
          .catch((err) => {
            console.log(err);
          });
    },
    formatData(data) {
      let newData = [];
      data.forEach(function (item, ind) {
        newData.push(item["2"]);
      });
      return newData;
    },
    formatDataLineChartNewData(data) {
      let self = this;
      self.chartOptions.series = [];
      if (data && data.label) {
        self.chartOptions.xAxis.categories = data.label;
        self.chartOptions.series = data.value;
      }
    },
    formatDataLineChart(data) {
      // console.log(data)
      let self = this;
      self.chartOptions.series = [];
      if (data) {
        data.forEach(function (item, ind) {
          self.chartOptions.xAxis.categories.push(item.typeTime);
          // newData.push(item.valueDayList[0]['2'])
        });
        let newDataFilter = data.filter(function (val) {
          return val.valueDayList.length > 0;
        });
        if (newDataFilter.length > 0) {
          newDataFilter[0].valueDayList.forEach(function (item, ind) {
            let newData = [];
            let keyObject = null;
            self.chartOptions.xAxis.categories = [];
            data.forEach(function (item1, ind1) {
              self.chartOptions.xAxis.categories.push(item1.typeTime);
              if (item1.valueDayList.length > 0) {
                if (item1.valueDayList[ind]) {
                  keyObject = Object.keys(item1.valueDayList[ind])[0];
                  newData.push(item1.valueDayList[ind][keyObject]);
                } else {
                  newData.push(0);
                }
              }
            });
            let label = null;
            if (self.searchQuery.flag_time == "day") {
              keyObject = parseInt(keyObject) + 1;
              label = "Thứ ";
              if (keyObject == 8) {
                label = "CN";
                keyObject = "";
              }
            }
            if (self.searchQuery.flag_time == "week") {
              label = "Tuần ";
            }
            if (self.searchQuery.flag_time == "month") {
              label = "Tháng ";
            }
            if (self.searchQuery.flag_time == "year") {
              label = "Năm ";
            }
            self.chartOptions.series.push({
              name: label + keyObject,
              data: newData,
            });
          });
        }
      }
      // console.log(this.chartOptions)
    },
    changeTimeReportDetail() {
      let data = null;
      if (this.searchQuery.flag_time == "day") {
        data = {
          fromDate: this.timeRangerValue + " 00:00:00",
          toDate: this.timeRangerValue + " 23:59:59",
        };
      }
      if (this.searchQuery.flag_time == "week") {
        let date1Value = moment().subtract(1, "week");
        let date2Value = moment().subtract(2, "week");
        let date3Value = moment().subtract(3, "week");
        if (this.timeRangerValue == 1) {
          data = {
            fromDate: date1Value.isoWeekday(1).format("YYYY-MM-DD 00:00:00"),
            toDate: date1Value.isoWeekday(7).format("YYYY-MM-DD 23:59:59"),
          };
        }
        if (this.timeRangerValue == 2) {
          data = {
            fromDate: date2Value.isoWeekday(1).format("YYYY-MM-DD 00:00:00"),
            toDate: date2Value.isoWeekday(7).format("YYYY-MM-DD 23:59:59"),
          };
        }
        if (this.timeRangerValue == 3) {
          data = {
            fromDate: date3Value.isoWeekday(1).format("YYYY-MM-DD 00:00:00"),
            toDate: date3Value.isoWeekday(7).format("YYYY-MM-DD 23:59:59"),
          };
        }
      }
      if (this.searchQuery.flag_time == "month") {
        if (this.timeRangerValue == 1) {
          data = {
            fromDate: moment()
                .subtract(1, "month")
                .startOf("month")
                .format("YYYY-MM-DD 00:00:00"),
            toDate: moment()
                .subtract(1, "month")
                .endOf("month")
                .format("YYYY-MM-DD 23:59:59"),
          };
        }
        if (this.timeRangerValue == 2) {
          data = {
            fromDate: moment()
                .subtract(2, "month")
                .startOf("month")
                .format("YYYY-MM-DD 00:00:00"),
            toDate: moment()
                .subtract(2, "month")
                .endOf("month")
                .format("YYYY-MM-DD 23:59:59"),
          };
        }
        if (this.timeRangerValue == 3) {
          data = {
            fromDate: moment()
                .subtract(3, "month")
                .startOf("month")
                .format("YYYY-MM-DD 00:00:00"),
            toDate: moment()
                .subtract(3, "month")
                .endOf("month")
                .format("YYYY-MM-DD 23:59:59"),
          };
        }
      }
      if (this.searchQuery.flag_time == "year") {
        if (this.timeRangerValue == 1) {
          data = {
            fromDate: moment()
                .subtract(1, "year")
                .startOf("year")
                .format("YYYY-MM-DD 00:00:00"),
            toDate: moment()
                .subtract(1, "year")
                .endOf("year")
                .format("YYYY-MM-DD 23:59:59"),
          };
        }
        if (this.timeRangerValue == 2) {
          data = {
            fromDate: moment()
                .subtract(2, "year")
                .startOf("year")
                .format("YYYY-MM-DD 00:00:00"),
            toDate: moment()
                .subtract(2, "year")
                .endOf("year")
                .format("YYYY-MM-DD 23:59:59"),
          };
        }
        if (this.timeRangerValue == 3) {
          data = {
            fromDate: moment()
                .subtract(3, "year")
                .startOf("year")
                .format("YYYY-MM-DD 00:00:00"),
            toDate: moment()
                .subtract(3, "year")
                .endOf("year")
                .format("YYYY-MM-DD 23:59:59"),
          };
        }
      }
      this.queryExport = data;
      this.getDetail(true, data);
    },
    detectTime(type, number) {
      if (type == "day") {
        let date1 = moment().subtract(1, "day");
        let date2 = moment().subtract(2, "day");
        let date3 = moment().subtract(3, "day");
        let date1Value = moment().subtract(1, "day").format("YYYY-MM-DD");
        let date2Value = moment().subtract(2, "day").format("YYYY-MM-DD");
        let date3Value = moment().subtract(3, "day").format("YYYY-MM-DD");
        let dow1 = date1.isoWeekday();
        let dow2 = date2.isoWeekday();
        let dow3 = date3.isoWeekday();
        date1 = dow1 + 1;
        date2 = dow2 + 1;
        date3 = dow3 + 1;
        this.timeRanger = [
          {
            value: date1Value,
            label: date1 == 8 ? "CN" : "Thứ " + date1,
          },
          {
            value: date2Value,
            label: date2 == 8 ? "CN" : "Thứ " + date2,
          },
          {
            value: date3Value,
            label: date3 == 8 ? "CN" : "Thứ " + date3,
          },
        ];
        this.timeRanger = this.timeRanger.slice(0, number);
        if (number == 1) {
          this.timeRangerValue = date1Value;
        }
        if (number == 2) {
          this.timeRangerValue = date2Value;
        }
        if (number == 3) {
          this.timeRangerValue = date3Value;
        }
        let data = {
          fromDate: this.timeRangerValue + " 00:00:00",
          toDate: date1Value + " 23:59:59",
        };
        let data1 = {
          fromDate: date1Value + " 00:00:00",
          toDate: date1Value + " 23:59:59",
        };
        this.searchQuery.fromDate = this.timeRangerValue + " 00:00:00";
        this.searchQuery.toDate = date1Value + " 23:59:59";
        this.queryExport.fromDate = date1Value + " 00:00:00";
        this.queryExport.toDate = date1Value + " 23:59:59";
        this.getDetail(true, data1);
        this.getPercentFlow(true, data1);
        // this.getDetail(true,data)
        // this.getPercentFlow(true,data)
        this.getLineChartFlow(true, data);
        this.timeRangerValue = date1Value;
      }
      if (type == "week") {
        let date = moment().subtract(1, "week");
        // const date11 = moment().subtract(1, "week").isoWeekday(7).format('YYYY-MM-DD')
        // console.log(date11)
        let date1Value = moment().subtract(1, "week");
        let date2Value = moment().subtract(2, "week");
        let date3Value = moment().subtract(3, "week");
        this.timeRanger = [
          {
            value: 1,
            label: "Tuần " + date1Value.isoWeek() + "-" + date1Value.year(),
          },
          {
            value: 2,
            label: "Tuần " + date2Value.isoWeek() + "-" + date2Value.year(),
          },
          {
            value: 3,
            label: "Tuần " + date3Value.isoWeek() + "-" + date3Value.year(),
          },
        ];
        this.timeRanger = this.timeRanger.slice(0, number);
        this.timeRangerValue = 1;
        let data = null;
        let data1 = null;
        if (number == 1) {
          data = {
            fromDate: date1Value.isoWeekday(1).format("YYYY-MM-DD 00:00:00"),
            toDate: date1Value.isoWeekday(7).format("YYYY-MM-DD 23:59:59"),
          };
        }
        if (number == 2) {
          data = {
            fromDate: date2Value.isoWeekday(1).format("YYYY-MM-DD 00:00:00"),
            toDate: date1Value.isoWeekday(7).format("YYYY-MM-DD 23:59:59"),
          };
          // data1 = {
          //   fromDate: date2Value.isoWeekday(1).format('YYYY-MM-DD 00:00:00'),
          //   toDate: date2Value.isoWeekday(7).format('YYYY-MM-DD 23:59:59'),
          // }
        }
        if (number == 3) {
          data = {
            fromDate: date3Value.isoWeekday(1).format("YYYY-MM-DD 00:00:00"),
            toDate: date1Value.isoWeekday(7).format("YYYY-MM-DD 23:59:59"),
          };
          // data1 = {
          //   fromDate: date3Value.isoWeekday(1).format('YYYY-MM-DD 00:00:00'),
          //   toDate: date3Value.isoWeekday(7).format('YYYY-MM-DD 23:59:59'),
          // }
        }
        data1 = {
          fromDate: date1Value.isoWeekday(1).format("YYYY-MM-DD 00:00:00"),
          toDate: date1Value.isoWeekday(7).format("YYYY-MM-DD 23:59:59"),
        };
        this.searchQuery.fromDate = data.fromDate;
        this.searchQuery.toDate = data.toDate;
        this.queryExport.fromDate = data1.fromDate;
        this.queryExport.toDate = data1.toDate;
        this.getDetail(true, data1);
        this.getPercentFlow(true, data1);
        this.getLineChartFlow(true, data);
        // this.timeRangerValue = 1
      }
      if (type == "month") {
        let date1Value = moment().subtract(1, "month");
        let date2Value = moment().subtract(2, "month");
        let date3Value = moment().subtract(3, "month");
        this.timeRanger = [
          {
            value: 1,
            label: "Tháng " + date1Value.format("MM") + "-" + date1Value.year(),
          },
          {
            value: 2,
            label: "Tháng " + date2Value.format("MM") + "-" + date1Value.year(),
          },
          {
            value: 3,
            label: "Tháng " + date3Value.format("MM") + "-" + date1Value.year(),
          },
        ];
        this.timeRanger = this.timeRanger.slice(0, number);
        this.timeRangerValue = 1;
        let data = null;
        let data1 = null;
        if (number == 1) {
          data = {
            fromDate: moment()
                .subtract(1, "month")
                .startOf("month")
                .format("YYYY-MM-DD 00:00:00"),
            toDate: moment()
                .subtract(1, "month")
                .endOf("month")
                .format("YYYY-MM-DD 23:59:59"),
          };
          // data1 = {
          //   fromDate: moment().subtract(1, "month").startOf('month').format('YYYY-MM-DD 00:00:00'),
          //   toDate: moment().subtract(1, "month").endOf('month').format('YYYY-MM-DD 23:59:59'),
          // }
        }
        if (number == 2) {
          data = {
            fromDate: moment()
                .subtract(2, "month")
                .startOf("month")
                .format("YYYY-MM-DD 00:00:00"),
            toDate: moment()
                .subtract(1, "month")
                .endOf("month")
                .format("YYYY-MM-DD 23:59:59"),
          };
          // data1 = {
          //   fromDate: moment().subtract(2, "month").startOf('month').format('YYYY-MM-DD 00:00:00'),
          //   toDate: moment().subtract(2, "month").endOf('month').format('YYYY-MM-DD 23:59:59'),
          // }
        }
        if (number == 3) {
          data = {
            fromDate: moment()
                .subtract(3, "month")
                .startOf("month")
                .format("YYYY-MM-DD 00:00:00"),
            toDate: moment()
                .subtract(1, "month")
                .endOf("month")
                .format("YYYY-MM-DD 23:59:59"),
          };
          // data1 = {
          //   fromDate: moment().subtract(3, "month").startOf('month').format('YYYY-MM-DD 00:00:00'),
          //   toDate: moment().subtract(3, "month").endOf('month').format('YYYY-MM-DD 23:59:59'),
          // }
        }
        data1 = {
          fromDate: moment()
              .subtract(1, "month")
              .startOf("month")
              .format("YYYY-MM-DD 00:00:00"),
          toDate: moment()
              .subtract(1, "month")
              .endOf("month")
              .format("YYYY-MM-DD 23:59:59"),
        };
        this.searchQuery.fromDate = data.fromDate;
        this.searchQuery.toDate = data.toDate;
        this.queryExport.fromDate = data1.fromDate;
        this.queryExport.toDate = data1.toDate;
        this.getDetail(true, data1);
        this.getPercentFlow(true, data1);
        this.getLineChartFlow(true, data);
      }
      if (type == "year") {
        let date1Value = moment().subtract(1, "year");
        let date2Value = moment().subtract(2, "year");
        let date3Value = moment().subtract(3, "year");
        this.timeRanger = [
          {
            value: 1,
            label: "Năm " + date1Value.year(),
          },
          {
            value: 2,
            label: "Năm " + date2Value.year(),
          },
          {
            value: 3,
            label: "Năm " + date3Value.year(),
          },
        ];
        this.timeRanger = this.timeRanger.slice(0, number);
        this.timeRangerValue = 1;
        let data = null;
        let data1 = null;
        if (number == 1) {
          data = {
            fromDate: moment()
                .subtract(1, "year")
                .startOf("year")
                .format("YYYY-MM-DD 00:00:00"),
            toDate: moment()
                .subtract(1, "year")
                .endOf("year")
                .format("YYYY-MM-DD 23:59:59"),
          };
          data1 = {
            fromDate: moment()
                .subtract(1, "year")
                .startOf("year")
                .format("YYYY-MM-DD 00:00:00"),
            toDate: moment()
                .subtract(1, "year")
                .endOf("year")
                .format("YYYY-MM-DD 23:59:59"),
          };
        }
        if (number == 2) {
          data = {
            fromDate: moment()
                .subtract(2, "year")
                .startOf("year")
                .format("YYYY-MM-DD 00:00:00"),
            toDate: moment()
                .subtract(1, "year")
                .endOf("year")
                .format("YYYY-MM-DD 23:59:59"),
          };
          data1 = {
            fromDate: moment()
                .subtract(2, "year")
                .startOf("year")
                .format("YYYY-MM-DD 00:00:00"),
            toDate: moment()
                .subtract(2, "year")
                .endOf("year")
                .format("YYYY-MM-DD 23:59:59"),
          };
        }
        if (number == 3) {
          data = {
            fromDate: moment()
                .subtract(3, "year")
                .startOf("year")
                .format("YYYY-MM-DD 00:00:00"),
            toDate: moment()
                .subtract(1, "year")
                .endOf("year")
                .format("YYYY-MM-DD 23:59:59"),
          };
          data1 = {
            fromDate: moment()
                .subtract(3, "year")
                .startOf("year")
                .format("YYYY-MM-DD 00:00:00"),
            toDate: moment()
                .subtract(3, "year")
                .endOf("year")
                .format("YYYY-MM-DD 23:59:59"),
          };
        }
        data1 = {
          fromDate: moment()
              .subtract(1, "year")
              .startOf("year")
              .format("YYYY-MM-DD 00:00:00"),
          toDate: moment()
              .subtract(1, "year")
              .endOf("year")
              .format("YYYY-MM-DD 23:59:59"),
        };
        this.searchQuery.fromDate = data.fromDate;
        this.searchQuery.toDate = data.toDate;
        this.queryExport.fromDate = data1.fromDate;
        this.queryExport.toDate = data1.toDate;
        this.getDetail(true, data1);
        this.getPercentFlow(true, data1);
        this.getLineChartFlow(true, data);
      }
    },
    search(query) {
      this.checkFilterTime = [];
      if (query.addressValue) {
        this.searchQuery.addressValue = query.addressValue;
      } else {
        this.searchQuery.addressValue = "";
      }
      if (query.cameraValue) {
        this.searchQuery.cameraValue = query.cameraValue;
      } else {
        this.searchQuery.cameraValue = "";
      }
      if (query.vehicleValue) {
        this.searchQuery.vehicleValue = query.vehicleValue;
      } else {
        this.searchQuery.vehicleValue = "";
      }
      this.searchQuery.flag_time = query.flag_time;
      if (query.date == null) {
        this.flag_display_filter = true;
        this.detectTime(query.flag_time, query.timeRangerValue);
      } else {
        this.flag_display_filter = false;
        let data = {
          fromDate: moment(query.date[0]).format("YYYY-MM-DD 00:00:00"),
          toDate: moment(query.date[1]).format("YYYY-MM-DD 23:59:59"),
        };
        this.searchQuery.fromDate = moment(query.date[0]).format(
            "YYYY-MM-DD 00:00:00"
        );
        this.searchQuery.toDate = moment(query.date[1]).format(
            "YYYY-MM-DD 23:59:59"
        );
        this.queryExport.fromDate = moment(query.date[0]).format(
            "YYYY-MM-DD 00:00:00"
        );
        this.queryExport.toDate = moment(query.date[1]).format(
            "YYYY-MM-DD 23:59:59"
        );
        //console.log(data)
        this.getDetail(true, data);
        this.getPercentFlow(true, data);
        this.getLineChartFlow(true, data);
      }
    },
    dropdownWidth(type) {
      switch (type) {
        case "day":
          return "85px";
        case "week":
          return "130px";
        case "month":
          return "138px";
        case "year":
          return "110px";
      }
    },
  },
  sockets: {
    receiveNotificationExport: function (data) {
      this.loadingExport = false;
      if (data.content && data.objectType == "export-trafficflow") {
        this.linkExportExcelTraffic = data.content.replace(
            "http://10.20.26.8:8883",
            "https://upload.yenbai.gov.vn:8683"
        );
        //this.linkEcelCSGT = data.content
      }
    },
  },
};
</script>
<style lang="scss">
.xlsx-eport-traffic {
  float: right;

  .btn-export {
    float: left !important;
  }

  .el-button {
    border-radius: 4px;
    border: 1px solid rgb(0, 111, 227);
    height: 41px;
  }
}

.highcharts-credits {
  display: none !important;
}

.chart-line-filter {
  width: 145px;
  padding: 6px 11px;
  /*margin-top: 30px !important;*/
  .el-checkbox {
    width: 100%;
    //margin-bottom: 6px;
    font-weight: normal;

    .el-checkbox__input {
      float: right;
      margin-top: 2px;
    }

    .el-checkbox__label {
      padding-left: 0;
    }
  }
}

.report-container {
  width: 100%;
  height: 100%;
  padding: 20px;

  .chart {
    width: 100%;
    /*overflow: visible !important;*/
  }

  .traffic-flow-vehicle {
    .chart-circle,
    .chart-line {
      box-shadow: 2px 2px 5px 0 rgba(174, 174, 174, 0.45);
      padding: 20px;
      padding-bottom: 5px;
    }

    .filter {
      padding: 20px;
      background: white;
      border-bottom: 1px solid #ded4d4;
      float: left;
      width: 100%;
      padding-bottom: 15px;

      h4 {
        margin-top: 0;
        font-size: 18px;
      }
    }

    .chart-search {
      float: left;
      width: 100%;

      h4 {
        float: left;
      }

      .report-filter-select {
        float: right;
      }

      .chart-filter-content {
        span {
          padding: 5px 10px;
          border: 1px solid #9999;
          position: relative;
          top: 9px;
          border-radius: 6px;
          cursor: pointer;
          width: 84px;
          height: 28px;
          line-height: 18px;
          display: inline-block;

          i {
            float: right !important;
          }
        }
      }
    }

    .chart-block {
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
    }

    .report-detail {
      background: white;
      /*padding: 25px;*/
      margin-top: 20px;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);

      thead {
        th {
          img {
            position: relative;
            top: 1px;
            margin-right: 5px;
          }

          span {
            display: inline-block;
          }
        }
      }

      .header-table-report {
        float: left;
        width: 100%;
        border-bottom: 2px solid #ded4d4;
        margin-bottom: 10px;
        padding: 10px 25px;

        h4 {
          float: left;
          margin: 0;
          margin-right: 25px;
          margin-top: 10px;
          font-size: 18px;
          color: #222;
        }

        .el-select {
          float: left;
          width: 140px;

          input {
            height: 40px;
          }
        }

        .export-xls {
          float: right;

          button {
            background: #1f7ff5;
            border-radius: 4px;
            height: 40px;
            color: white;
            font-weight: 500;
          }
        }
      }

      .el-table th > .cell {
        text-align: left;
        color: black;
        font-weight: 500;
      }

      .el-table tr > th,
      .el-table tr > td {
        padding-left: 20px;
      }
    }

    .chart-statistic {
      clear: both;
      background: white;
      padding: 10px 25px 25px 25px;

      h4 {
        font-size: 14px;
      }
    }

    .btn-export {
      background: #1e2e4a;
      border-color: #1e2e4a;
      float: right;
      border-radius: 4px;
      font-size: 16px;
    }
  }
}
</style>
