<template>
  <div class="report-container-violation">
    <div class="report-page traffic-flow-vehicle">
      <div class="chart-block">
        <div class="filter">
          <h4>Báo cáo vi phạm</h4>
          <ReportFilter :type-violation="violationTypeLst"
            @search="search"
            @displayDetail="displayDetail"/>
        </div>
        <div class="chart-statistic">
          <el-row :gutter="20">
            <el-col :span="16"
              ><div class="grid-content bg-purple chart-line">
                <div class="chart-search">
                  <h4>Biểu đồ vi phạm</h4>
                </div>
                <highcharts
                  class="chart"
                  :options="chartOptions"
                ></highcharts></div
            ></el-col>
            <el-col :span="8"
              ><div class="grid-content bg-purple chart-circle">
                <h4>Phần trăm vi phạm</h4>
                <highcharts :options="getChartData()"></highcharts></div
            ></el-col>
          </el-row>
        </div>
      </div>
      <detail-violation-report :key="showDetailKey" :level="level" :title="searchQuery.title" v-if="showDetail" :violation-type-lst="violationTypeLst" :data="reportByWard"/>
      <div class="report-detail">
        <div class="header-table-report">
          <h4>Báo cáo chi tiết theo từng loại vi phạm</h4>
          <xlsx-workbook class="export-xls">
            <xlsx-sheet
              :collection="sheet.data"
              v-for="sheet in dataDetailExport"
              :key="sheet.name"
              :sheet-name="sheet.name"
            />
            <xlsx-download :filename="file_name_xls">
              <el-button type="primary"
                ><i class="el-icon-document"></i> Xuất Excel</el-button
              >
            </xlsx-download>
          </xlsx-workbook>
        </div>
        <el-table
          ref="multipleTable"
          :data="dataDetailReport"
          style="width: 100%"
        >
          <el-table-column label="STT" type="index" width="60" />

          <el-table-column label="Thiết bị" prop="sourceName" min-width="155" sortable />

          <el-table-column label="Tổng số" width="100" prop="total" sortable />

          <template
            v-for="v in this.violationTypeLst.filter(
              (e) => e.code !== 'UNKNOWN'
            )"
          >
            <el-table-column
              :key="v.id"
              :label="v.name"
              :prop="v.code"
              sortable
            >
              <template slot="header">
                <span>
                  <el-tooltip
                    class="item"
                    effect="dark"
                    :content="v.name"
                    placement="top-start"
                  >
                    <event-icon width="30px" height="30px" :icon="v.code" />
                  </el-tooltip>
                </span>
              </template>
            </el-table-column>
          </template>

          <el-table-column label="Khác" width="90" prop="UNKNOWN" sortable />
        </el-table>
      </div>
      <!-- Bao cáo chi tiết theo từng loại phương tiện -->
      <div class="report-detail" v-if="detailChecked">
        <div class="header-table-report">
          <h4>
            Báo cáo chi tiết theo từng loại phương tiện: {{ totalTypeVehicel }}
          </h4>
          <xlsx-workbook disable-wrapper-click style="display: none" >
            <xlsx-sheet
                :collection="sheet.data"
                v-for="sheet in dataDetailTypeVehicelExport"
                :key="sheet.name"
                :sheet-name="sheet.name"
            />
            <xlsx-download :filename="file_name2_xls" ref="xlsx">
            </xlsx-download>
          </xlsx-workbook>
          <div class="export-xls">
            <el-button type="primary" @click="download"><i class="el-icon-document"></i> Xuất Excel</el-button>
          </div>
        </div>
        <el-table
          ref="multipleTable"
          :data="dataDetailTypeVehicel"
          style="width: 100%"
        >
          <el-table-column label="ID" type="index" :width="(query.page * query.size).toString().length * 10 + 30">
            <template slot-scope="scope">
                <span>{{
                    (query.page - 1) * query.size + scope.$index + 1
                  }}</span>
            </template>
          </el-table-column>

          <el-table-column label="Thời gian" prop="startTime" sortable>
            <template slot-scope="scope">
              <span>{{ scope.row.startTime | formatDateVietNamTimeDate }}</span>
            </template>
          </el-table-column>

          <el-table-column label="Vị trí" prop="siteAddress" sortable />

          <el-table-column label="Loại phương tiện" prop="objectTypeName" sortable />

          <el-table-column label="Biển số" prop="plate" sortable />

          <el-table-column label="Loại vi phạm" prop="eventTypeName" sortable />

          <el-table-column label="Trạng thái" prop="violationProcessStatus" sortable/>
        </el-table>
        <!-- Phân trang -->
        <p style="clear: both"></p>
        <div style="padding-right: 10px">
          <pagination
            v-show="totalTypeVehicel > query.size"
            :total="totalTypeVehicel"
            :page.sync="query.page"
            :layout="layout"
            :limit.sync="query.size"
            @pagination="getDetailTypeVehicel"
          />
        </div>
      </div>
    </div>
    <!-- Phân trang -->
    <p style="clear: both"></p>
  </div>
</template>

<script>
import Pagination from "@/components/Pagination_custom";
import ReportFilter from "./component/search-violation";
import Resource from "@/api/resource";
import { Chart } from "highcharts-vue";
import { XlsxWorkbook, XlsxSheet, XlsxDownload } from "vue-xlsx";
import EventIcon from "@/components/EventIcon";
import DetailViolationReport from "@/views/report/component/detail-violation-report";

const detailResource = new Resource("report/statistic/violation/event-type");
const reportByWardResource = new Resource("report/statistic/event/ward");
const percentFlowResource = new Resource("report/statistic/violation-fanchart");
const lineChartFlowResource = new Resource(
  "report/statistic/violation-linechart"
);
const detailTypeVehicelResource = new Resource(
  "report/statistic/violation/object-type"
);
const fanchartFlowResource = new Resource(
  "report/statistic/violation-fanchart-value"
);
const categoryResource = new Resource("systemconfig/category");
export default {
  components: {
    DetailViolationReport,
    EventIcon,
    ReportFilter,
    Pagination,
    highcharts: Chart,
    XlsxWorkbook,
    XlsxSheet,
    XlsxDownload,
  },
  data() {
    return {
      dataDetailExport: [{name: "Sheet1", data: null}],
      dataDetailTypeVehicelExport: [{name: "Sheet1", data: null}],
      file_name_xls: "Báo_Cáo_Chi_Tiết_Theo_Từng_Loại_Vi_Phạm_" + moment().format("YYYY_MM_DD") + ".xlsx",
      file_name2_xls: "Báo_Cáo_Chi_Tiết_Theo_Từng_Loại_Phương_Tiện_" + moment().format("YYYY_MM_DD") + ".xlsx",
      loading: false,
      detailChecked: false,
      layout: "first, prev, pager, next, last",
      checkFilterTime: [],
      dataDetailReport: [],
      dataDetailTypeVehicel: [],
      colorPieChart: [],
      timeRanger: [],
      timeRangerMonth: [
        {value: "T1", label: "Tháng 1"},
        {value: "T2", label: "Tháng 2"},
        {value: "T3", label: "Tháng 3"},
      ],
      reportByWard: [],
      level: 0,
      timeRangerValue: null,
      chartOptions: {
        title: {
          text: "",
        },
        subtitle: {
          // text: ""
        },
        yAxis: {
          title: {
            text: "",
          },
        },
        xAxis: {
          categories: [],
          labels: {
            formatter: function () {
              return this.value;
            },
          },
        },
        legend: {
          enabled: true,
          // layout: "vertical",
          // align: "right",
          // verticalAlign: "middle"
        },
        plotOptions: {
          series: {
            label: {
              connectorAllowed: false,
            },
            marker: {
              enabled: false,
            },
            // pointStart: 1
          },
          line: {
            events: {
              click: ({ point }) => {
                this.lineChartClick(point.series.name);
              },
            },
          },
        },
        series: [],
        responsive: {
          rules: [
            {
              condition: {
                maxWidth: 500,
              },
              chartOptions: {
                legend: {
                  layout: "horizontal",
                  align: "center",
                  // verticalAlign: "bottom"
                },
              },
            },
          ],
        },
      },
      // pie chat total
      total: 0,
      dataMerch: [],
      dataFlow: [],
      totalTypeVehicel: 0,
      query: {
        page: 1,
        size: 20,
      },
      searchQuery: {
        cameraValue: "",
        addressValue: "",
        vehicleValue: "",
        typeViolation: "",
        fromDate: moment().subtract(1, "day").format("YYYY-MM-DD 00:00:00"),
        toDate: moment().subtract(1, "day").format("YYYY-MM-DD 23:59:59"),
        flag_time: "day",
        timeRangerValue: 1,
      },
      showDetail: false,
      showDetailKey: 0,
      violationTypeLst: [],
    };
  },
  created() {
    this.init();
  },
  methods: {
    async init() {
      await this.getViolationTypeList();
      this.getDetail();
      this.getPercentFlow();
      this.getLineChartFlow();
      this.getDetailTypeVehicel();
      this.getDetailTypeVehicelAll();
    },
    async getViolationTypeList() {
      let queryCustom = {
        catType: "VIOLATION",
      };
      let result = await categoryResource.list(queryCustom);
      if (result && result.data) {
        this.violationTypeLst = result.data;
      }
    },
    getChartData() {
      // console.log(this.total)
      let self = this;
      return {
        chart: {
          plotBackgroundColor: null,
          plotBorderWidth: null,
          plotShadow: false,
          type: "pie",
          events: {
            load: function () {},
            redraw: function () {
              if (this.title) {
                this.title.destroy();
              }
              var r = this.renderer,
                x = this.series[0].center[0] + this.plotLeft,
                y = this.series[0].center[1] + this.plotTop;
              this.title = r
                .html(
                  "<span style='display:inline-block;text-align:center;margin-top:-10px;'><span style='font-size:13px;font-weight:500;color:black;margin-bottom:5px;display:inline-block;'>Tổng</span><br>" +
                    "<span style='font-size:19px;font-weight:bold;color:black;margin-bottom:20px;display:inline-block;'>" +
                    self.total +
                    "</span></span>",
                  0,
                  0
                )
                .css({
                  color: "black",
                  fontSize: "16px",
                  fontWeight: "bold",
                })
                .hide()
                .add();

              var bbox = this.title.getBBox();
              this.title
                .attr({
                  x: x - bbox.width / 2,
                  y: y,
                })
                .show();
            },
          },
        },
        colors: this.colorPieChart,
        // title: {
        //   useHTML: true,
        //   text:
        //     "<span style='display:inline-block;text-align:center;'><span style='font-size:13px;font-weight:500;color:black;margin-bottom:5px;display:inline-block;'>Tổng</span><br>" +
        //     "<span style='font-size:22px;font-weight:bold;color:black;margin-bottom:20px;display:inline-block;'>" +
        //     this.total +
        //     "</span></span>",
        //   align: "center",
        //   verticalAlign: "middle",
        //   // widthAdjust: 500,
        //   x: -80,
        //   // y: 0,
        // },
        tooltip: {
          enabled: false,
          // /pointFormat: "{series.name}: <b>{point.percentage:.1f}%</b>",
          useHTML: true,
          // formatter: function () {
          //     return this.key + '<br>'
          //         + '</b> Persentase: <b>' + this.percentage.toFixed(2) + '% </b>('+ this.point.y + ' Transaction)<br>'
          //         + 'Rp.' + this.point.money;
          // }
        },
        legend: {
          layout: "vertical",
          align: "right",
          verticalAlign: "middle",
          itemWidth: 115,
          x: 0,
          y: 0,
          itemMarginBottom: 15,
          itemMarginTop: 2,
          itemStyle: {
            color: "#333333",
            cursor: "pointer",
            fontSize: "14px",
            fontWeight: 500,
            textOverflow: "ellipsis",
          },
          labelFormatter: function () {
            return this.options.name;
          },
        },
        plotOptions: {
          pie: {
            allowPointSelect: true,
            size: "80%",
            cursor: "pointer",
            dataLabels: {
              enabled: true,
              // format: "<b>{point.name}</b>: {point.percentage:.1f} %",
              filter: {
                operator: ">",
                property: "y",
                value: 0,
              },
              formatter: function () {
                // return this.key + '<br>' + this.percentage.toFixed(2) + '%'
                return this.percentage.toFixed(2) + "%";
              },
              style: {
                color: "black",
                // textOutline: false
              },
            },
            showInLegend: true,
          },
        },
        series: [
          {
            // name: "Prosentase",
            colorByPoint: true,
            innerSize: "50%",
            data: this.dataMerch,
          },
        ],
      };
    },
    getDataFromAPI() {
      let self = this
      this.dataMerch = [];
      this.total = 0;
      this.dataFlow.forEach((element) => {
        this.total = this.total + element.value;
      });
      this.total = this.formatNumber(this.total);
      this.dataFlow.forEach((element) => {
        if (element.value > 0) {
          this.dataMerch.push({
            name: element.eventTypeName !== null ? element.eventTypeName : "",
            y: element.value,
          });
          this.colorPieChart.push(self.$root.eventColor(element.eventType));
        } else {
          this.dataMerch.push({
            name: element.eventTypeName !== null ? element.eventTypeName : "",
            y: element.value,
          });
          this.colorPieChart.push(self.$root.eventColor(element.eventType));
        }
      });
    },
    formatNumber(amount, decimalCount = 2, decimal = ".", thousands = ",") {
      try {
        decimalCount = Math.abs(decimalCount);
        decimalCount = isNaN(decimalCount) ? 2 : decimalCount;

        const negativeSign = amount < 0 ? "-" : "";

        let i = parseInt(
          (amount = Math.abs(Number(amount) || 0).toFixed(decimalCount))
        ).toString();
        let j = i.length > 3 ? i.length % 3 : 0;

        return (
          negativeSign +
          (j ? i.substr(0, j) + thousands : "") +
          i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + thousands)
        );
      } catch (e) {
        console.log(e);
      }
    },
    getFanChartClick(time = null) {
      let params = {
        fromDate: this.searchQuery.fromDate,
        toDate: this.searchQuery.toDate,
        levelFilterByTime: this.searchQuery.flag_time,
        filterObjectType: "cam",
        filterObjectIds: "",
        objectType: "",
        eventType: "",
        roleStates: "",
      };
      if (this.searchQuery.cameraValue != "") {
        params.filterObjectIds = this.searchQuery.cameraValue;
      }
      if (
        this.searchQuery.cameraValue == "" &&
        this.searchQuery.addressValue != ""
      ) {
        params.filterObjectType = "site";
        params.filterObjectIds = this.searchQuery.addressValue;
      }
      if (this.searchQuery.typeViolation != "") {
        params.eventType = this.searchQuery.typeViolation;
      }
      if (this.searchQuery.vehicleValue != "") {
        params.objectType = this.searchQuery.vehicleValue;
      }
      if (time) {
        params.valueLevelFilter = time;
      }
      // if(flag) {
      //   params.fromDate = date.fromDate
      //   params.toDate = date.toDate
      // }
      fanchartFlowResource
        .list(params)
        .then((response) => {
          this.dataFlow = response.data;
          this.getDataFromAPI();
        })
        .catch((err) => {});
    },
    lineChartClick(time = null) {
      let flag = this.detectTimeSearch(this.searchQuery.flag_time, time);
      this.getFanChartClick(flag);
      // console.log(flag)
      // console.log(time)
    },
    detectTimeSearch(flag = null, time = null) {
      let result = null;
      if (flag == "day") {
        switch (time) {
          case "Thứ 2":
            result = 1;
            break;
          case "Thứ 3":
            result = 2;
            break;
          case "Thứ 4":
            result = 3;
            break;
          case "Thứ 5":
            result = 4;
            break;
          case "Thứ 6":
            result = 5;
            break;
          case "Thứ 7":
            result = 6;
            break;
          case "CN":
            result = 7;
        }
      }
      if (flag == "week") {
        result = time.replace("Tuần ", "");
      }
      if (flag == "month") {
        result = time.replace("Tháng ", "");
      }
      if (flag == "year") {
        result = time.replace("Năm ", "");
      }
      return result;
    },
    detectVehicel(data, type) {
      data = data.filter(function (val) {
        return val.eventType == type;
      });
      if (data.length > 0) {
        return data[0].value;
      }
      return 0;
    },
    totalVehicel(data) {
      let total = 0;
      let listVehicel = [];
      data.forEach(function (item, ind) {
        if (!listVehicel.includes(item.eventType)) {
          total += item.value;
        }
      });
      return total;
    },
    dataExport(data) {
      let self = this;
      if (data && data.length > 0) {
        self.dataDetailExport[0].data = [];
        data.forEach(function (item, ind) {
          let itemImport = {
            ID: ind + 1,
            "Thiết bị": item.sourceName,
            // 'Vị trí': item.siteAddress,
            "Tổng số": item.total,
          };
          self.violationTypeLst.forEach((v) => {
            itemImport[v.name] = item[v.code];
          });

          // console.log(self.sheets)
          self.dataDetailExport[0].data.push(itemImport);
        });
      } else {
        self.dataDetailExport[0].data = [];
        let itemImport = {
          ID: "",
          "Thiết bị": "",
          // 'Vị trí': item.siteAddress,
          "Tổng số": "",
        };
        self.violationTypeLst.forEach((v) => {
          itemImport[v.name] = "";
        });

        // console.log(self.sheets)
        self.dataDetailExport[0].data.push(itemImport);
      }
    },
    dataTypeVehicelExport(data) {
      let self = this;
      if (data && data.length > 0) {
        self.dataDetailTypeVehicelExport[0].data = [];
        data.forEach(function (item, ind) {
          let itemImport = {
            ID: ind + 1,
            "Thời gian": moment(item.startTime).format("DD/MM/YYYY HH:mm"),
            "Vị trí": item.siteAddress,
            "Loại phương tiện": item.objectTypeName,
            "Biển số": item.plate,
            "Loại vi phạm": item.eventTypeName,
            "Trạng thái": item.violationProcessStatus,
          };
          // console.log(self.sheets)
          self.dataDetailTypeVehicelExport[0].data.push(itemImport);
        });
      } else {
        self.dataDetailTypeVehicelExport[0].data = [];
        let itemImport = {
          ID: "",
          "Thời gian": "",
          "Vị trí": "",
          "Loại phương tiện": "",
          "Biển số": "",
          "Loại vi phạm": "",
          "Trạng thái": "",
        };
        // console.log(self.sheets)
        self.dataDetailTypeVehicelExport[0].data.push(itemImport);
      }
    },
    download () {
      if (this.totalTypeVehicel > 5000) {
        this.$confirm('Hệ thống hỗ trợ export tối đa 5000 bản ghi. Tiếp tục?', 'Warning', {
          confirmButtonText: 'OK',
          cancelButtonText: 'Hủy bỏ',
          type: 'warning'
        }).then(() => {
          this.$refs.xlsx.download()
        });
      } else {
        this.$refs.xlsx.download()
      }
    },
    getDetail(flag = false, date = null) {
      let params = {
        fromDate: this.searchQuery.fromDate,
        toDate: this.searchQuery.toDate,
        levelFilterByTime: this.searchQuery.flag_time,
        filterObjectType: "cam",
        filterObjectIds: "",
        objectType: "",
        eventType: "",
        roleStates: "",
      };
      if (this.searchQuery.cameraValue != "") {
        params.filterObjectIds = this.searchQuery.cameraValue;
      }
      if (
        this.searchQuery.cameraValue == "" &&
        this.searchQuery.addressValue != ""
      ) {
        params.filterObjectType = "site";
        params.filterObjectIds = this.searchQuery.addressValue;
      }
      if (this.searchQuery.typeViolation != "") {
        params.eventType = this.searchQuery.typeViolation;
      }
      if (this.searchQuery.vehicleValue != "") {
        params.objectType = this.searchQuery.vehicleValue;
      }
      if (flag) {
        params.fromDate = date.fromDate;
        params.toDate = date.toDate;
      }
      detailResource
        .list(params)
        .then((response) => {
          this.dataDetailReport = this.transformDetailData(response.data);
          this.dataExport(this.dataDetailReport);
        })
        .catch((err) => {
          console.log(err);
        });
    },
    transformDetailData(data) {
      let self = this;
      let newData = [];
      data.forEach(function (item) {
        let itemChild = {};
        itemChild.sourceId = item.sourceId;
        itemChild.sourceName = item.sourceName;
        itemChild.total = self.totalVehicel(item.eventTypeValues);
        item.eventTypeValues.forEach((e) => {
          itemChild[e.eventType] = e.value;
        });
        newData.push(itemChild);
      });
      return newData;
    },
    getDetailTypeVehicel(flag = false, date = null) {
      let params = {
        fromDate: this.searchQuery.fromDate,
        toDate: this.searchQuery.toDate,
        filterObjectType: "cam",
        filterObjectIds: "",
        objectType: "",
        eventType: "",
        roleStates: "",
        page: this.query.page - 1,
        size: this.query.size,
      };
      if (this.searchQuery.cameraValue != "") {
        params.filterObjectIds = this.searchQuery.cameraValue;
      }
      if (
        this.searchQuery.cameraValue == "" &&
        this.searchQuery.addressValue != ""
      ) {
        params.filterObjectType = "site";
        params.filterObjectIds = this.searchQuery.addressValue;
      }
      if (this.searchQuery.typeViolation != "") {
        params.eventType = this.searchQuery.typeViolation;
      }
      if (this.searchQuery.vehicleValue != "") {
        params.objectType = this.searchQuery.vehicleValue;
      }
      if (flag == true) {
        params.fromDate = date.fromDate;
        params.toDate = date.toDate;
      }
      detailTypeVehicelResource
        .list(params)
        .then((response) => {
          this.totalTypeVehicel = response.data.total;
          this.dataDetailTypeVehicel = response.data.data;
        })
        .catch((err) => {
          console.log(err);
        });
    },
    getDetailTypeVehicelAll(flag = false, date = null) {
      let params = {
        fromDate: this.searchQuery.fromDate,
        toDate: this.searchQuery.toDate,
        filterObjectType: "cam",
        filterObjectIds: "",
        objectType: "",
        eventType: "",
        roleStates: "",
        page: 0,
        size: 5000, //1000000
      };
      if (this.searchQuery.cameraValue != "") {
        params.filterObjectIds = this.searchQuery.cameraValue;
      }
      if (
        this.searchQuery.cameraValue == "" &&
        this.searchQuery.addressValue != ""
      ) {
        params.filterObjectType = "site";
        params.filterObjectIds = this.searchQuery.addressValue;
      }
      if (this.searchQuery.typeViolation != "") {
        params.eventType = this.searchQuery.typeViolation;
      }
      if (this.searchQuery.vehicleValue != "") {
        params.objectType = this.searchQuery.vehicleValue;
      }
      if (flag == true) {
        params.fromDate = date.fromDate;
        params.toDate = date.toDate;
      }
      detailTypeVehicelResource
        .list(params)
        .then((response) => {
          this.dataTypeVehicelExport(response.data.data);
        })
        .catch((err) => {
          console.log(err);
        });
    },
    getDetailByWard(flag = false, date = null) {
      this.searchQuery.wardCameras = this.searchQuery.wardCameras.filter(w => w.idWard !== 'all')
      this.showDetail = false
      if (this.searchQuery.wardId) {
        this.level = 3
      } else {
        this.level = 2
      }
      if (this.searchQuery.wardCameras.length) {
        let params = {
          fromDate: this.searchQuery.fromDate,
          toDate: this.searchQuery.toDate,
          filterObjectType: "cam",
          filterObjectIds: "",
          objectType: "",
          eventType: "",
          roleStates: "",
        };
        let body = {
          wardCameras: this.searchQuery.wardCameras.filter(w => w.idWard !== 'all')
        }
        if (flag) {
          params.fromDate = date.fromDate;
          params.toDate = date.toDate;
        }
        this.showDetail = true
        this.reportByWard = []
        this.showDetailKey += 1
        reportByWardResource
            .storeCustom(body, params)
            .then((response) => {
              this.reportByWard = response.data
              this.showDetailKey += 1
            })
            .catch((err) => {
              console.log(err);
              this.showDetail = false
            });
      } else {
        this.showDetail = false
      }
    },
    getPercentFlow(flag = false, date = null) {
      let params = {
        fromDate: this.searchQuery.fromDate,
        toDate: this.searchQuery.toDate,
        filterObjectType: "cam",
        filterObjectIds: "",
        objectType: "",
        eventType: "",
        roleStates: "",
      };
      if (this.searchQuery.cameraValue != "") {
        params.filterObjectIds = this.searchQuery.cameraValue;
      }
      if (
        this.searchQuery.cameraValue == "" &&
        this.searchQuery.addressValue != ""
      ) {
        params.filterObjectType = "site";
        params.filterObjectIds = this.searchQuery.addressValue;
      }
      if (this.searchQuery.typeViolation != "") {
        params.eventType = this.searchQuery.typeViolation;
      }
      if (this.searchQuery.vehicleValue != "") {
        params.objectType = this.searchQuery.vehicleValue;
      }
      if (flag) {
        params.fromDate = date.fromDate;
        params.toDate = date.toDate;
      }
      percentFlowResource
        .list(params)
        .then((response) => {
          this.dataFlow = response.data;
          this.getDataFromAPI();
        })
        .catch((err) => {
          console.log(err);
        });
    },
    getLineChartFlow(flag = false, date = null) {
      let params = {
        fromDate: this.searchQuery.fromDate,
        toDate: this.searchQuery.toDate,
        levelFilterByTime: this.searchQuery.flag_time,
        filterObjectType: "cam",
        filterObjectIds: "",
        objectType: "",
        eventType: "",
        roleStates: "",
      };
      if (this.searchQuery.cameraValue != "") {
        params.filterObjectIds = this.searchQuery.cameraValue;
      }
      if (
        this.searchQuery.cameraValue == "" &&
        this.searchQuery.addressValue != ""
      ) {
        params.filterObjectType = "site";
        params.filterObjectIds = this.searchQuery.addressValue;
      }
      if (this.searchQuery.typeViolation != "") {
        params.eventType = this.searchQuery.typeViolation;
      }
      if (this.searchQuery.vehicleValue != "") {
        params.objectType = this.searchQuery.vehicleValue;
      }
      if (flag) {
        params.fromDate = date.fromDate;
        params.toDate = date.toDate;
      }
      lineChartFlowResource
        .list(params)
        .then((response) => {
          this.formatDataLineChartNewData(response.data);
        })
        .catch((err) => {
          console.log(err);
        });
    },
    formatDataLineChartNewData(data) {
      let self = this;
      self.chartOptions.series = [];
      if (data && data.label) {
        self.chartOptions.xAxis.categories = data.label;
        self.chartOptions.series = data.value;
      }
    },
    formatDataLineChart(data) {
      // console.log(data)
      let self = this;
      self.chartOptions.series = [];
      if (data) {
        data.forEach(function (item, ind) {
          self.chartOptions.xAxis.categories.push(item.typeTime);
          // newData.push(item.valueDayList[0]['2'])
        });
        let newDataFilter = data.filter(function (val) {
          return val.valueDayList.length > 0;
        });
        if (newDataFilter.length > 0) {
          newDataFilter[0].valueDayList.forEach(function (item, ind) {
            let newData = [];
            let keyObject = null;
            self.chartOptions.xAxis.categories = [];
            data.forEach(function (item1, ind1) {
              self.chartOptions.xAxis.categories.push(item1.typeTime);
              if (item1.valueDayList.length > 0) {
                keyObject = Object.keys(item1.valueDayList[ind])[0];
                newData.push(item1.valueDayList[ind][keyObject]);
              }
            });
            let label = null;
            self.chartOptions.series.push({
              name: keyObject,
              data: newData,
            });
          });
        }
      }
    },
    detectTime(type, number) {
      let data = null
      if (type == "day") {
        let date1 = moment().subtract(1, "day");
        let date2 = moment().subtract(2, "day");
        let date3 = moment().subtract(3, "day");
        let date1Value = moment().subtract(1, "day").format("YYYY-MM-DD");
        let date2Value = moment().subtract(2, "day").format("YYYY-MM-DD");
        let date3Value = moment().subtract(3, "day").format("YYYY-MM-DD");
        let dow1 = date1.isoWeekday();
        let dow2 = date2.isoWeekday();
        let dow3 = date3.isoWeekday();
        date1 = dow1 + 1;
        date2 = dow2 + 1;
        date3 = dow3 + 1;
        this.timeRanger = [
          {value: date1Value, label: date1 == 8 ? "CN" : "Thứ " + date1,},
          {value: date2Value, label: date2 == 8 ? "CN" : "Thứ " + date2,},
          {value: date3Value, label: date3 == 8 ? "CN" : "Thứ " + date3,},
        ];
        this.timeRangerValue = moment().subtract(number, "day").format("YYYY-MM-DD");
        data = {
          fromDate: this.timeRangerValue + " 00:00:00",
          toDate: date1Value + " 23:59:59",
        };
        this.searchQuery.fromDate = data.fromDate;
        this.searchQuery.toDate = data.toDate;
      }
      if (type == "week") {
        let date1Value = moment().subtract(1, "week");
        let date2Value = moment().subtract(2, "week");
        let date3Value = moment().subtract(3, "week");
        this.timeRanger = [
          {value: 1, label: "Tuần " + date1Value.week() + "-" + date1Value.year(),},
          {value: 2, label: "Tuần " + date2Value.week() + "-" + date2Value.year(),},
          {value: 3, label: "Tuần " + date3Value.week() + "-" + date3Value.year(),},
        ];
        this.timeRangerValue = number;
        data = {
          fromDate: moment().subtract(number, "week").isoWeekday(1).format("YYYY-MM-DD 00:00:00"),
          toDate: moment().subtract(1, "week").isoWeekday(7).format("YYYY-MM-DD 23:59:59")
        }
        this.searchQuery.fromDate = data.fromDate;
        this.searchQuery.toDate = data.toDate;
      }
      if (type == "month") {
        let date1Value = moment().subtract(1, "month");
        let date2Value = moment().subtract(2, "month");
        let date3Value = moment().subtract(3, "month");
        this.timeRanger = [
          {value: 1, label: "Tháng " + date1Value.format("M") + "-" + date1Value.year()},
          {value: 2, label: "Tháng " + date2Value.format("M") + "-" + date1Value.year()},
          {value: 3, label: "Tháng " + date3Value.format("M") + "-" + date1Value.year(),},
        ];
        this.timeRangerValue = number;
        data = {
          fromDate: moment().subtract(number, "month").startOf("month").format("YYYY-MM-DD 00:00:00"),
          toDate: moment().subtract(1 , "month").endOf("month").format("YYYY-MM-DD 23:59:59"),
        };
        this.searchQuery.fromDate = data.fromDate;
        this.searchQuery.toDate = data.toDate;
      }
      if (type == "year") {
        let date1Value = moment().subtract(1, "year");
        let date2Value = moment().subtract(2, "year");
        let date3Value = moment().subtract(3, "year");
        this.timeRanger = [
          {value: 1, label: "Năm " + date1Value.year(),},
          {value: 2, label: "Năm " + date2Value.year(),},
          {value: 3, label: "Năm " + date3Value.year(),},
        ];
        this.timeRangerValue = number;
        data = {
          fromDate: moment().subtract(number, "year").startOf("year").format("YYYY-MM-DD 00:00:00"),
          toDate: moment().subtract(1, "year").endOf("year").format("YYYY-MM-DD 23:59:59"),
        };
        this.searchQuery.fromDate = data.fromDate;
        this.searchQuery.toDate = data.toDate;
      }
      this.getDetail(true, data);
      this.getPercentFlow(true, data);
      this.getDetailTypeVehicel(true, data);
      this.getDetailTypeVehicelAll(true, data);
      this.getLineChartFlow(true, data);
      this.getDetailByWard(true, data)
    },
    search(query) {
      this.query.page = 1;
      if (query.addressValue) {
        this.searchQuery.addressValue = query.addressValue;
      } else {
        this.searchQuery.addressValue = "";
      }
      if (query.cameraValue) {
        this.searchQuery.cameraValue = query.cameraValue;
      } else {
        this.searchQuery.cameraValue = "";
      }
      if (query.typeViolationValue) {
        this.searchQuery.typeViolation = query.typeViolationValue;
      } else {
        this.searchQuery.typeViolation = "";
      }
      if (query.vehicleValue) {
        this.searchQuery.vehicleValue = query.vehicleValue;
      } else {
        this.searchQuery.vehicleValue = "";
      }
      if (query.districtId || query.wardId) {
        this.searchQuery.wardCameras = query.wardCameras
        this.searchQuery.title = query.title
      } else {
        this.searchQuery.wardCameras = []
      }
      this.searchQuery.wardId = query.wardId
      this.searchQuery.flag_time = query.flag_time;
      if (query.date == null) {
        this.detectTime(query.flag_time, query.timeRangerValue);
      } else {
        let data = {
          fromDate: moment(query.date[0]).format("YYYY-MM-DD 00:00:00"),
          toDate: moment(query.date[1]).format("YYYY-MM-DD 23:59:59"),
        };
        this.searchQuery.fromDate = moment(query.date[0]).format(
          "YYYY-MM-DD 00:00:00"
        );
        this.searchQuery.toDate = moment(query.date[1]).format(
          "YYYY-MM-DD 23:59:59"
        );
        // console.log(data)
        this.getDetail(true, data);
        this.getPercentFlow(true, data);
        this.getDetailTypeVehicel(true, data);
        this.getDetailTypeVehicelAll(true, data);
        this.getLineChartFlow(true, data);
        this.getDetailByWard(true, data)
      }
    },
    displayDetail(detailChecked) {
      this.detailChecked = detailChecked;
    },
  },
};
</script>
<style lang="scss">
.highcharts-credits {
  display: none !important;
}
/* .chart-line-filter {
        width: 125px;
        padding: 15px 5px 5px 15px;
        margin-top: 30px !important;
        .el-checkbox {
          width: 100%;
          margin-bottom: 6px;
          font-weight: normal;
        }
    }*/
.report-container-violation {
  width: 100%;
  height: 100%;
  padding: 20px;
  .chart {
    width: 100%;
    /*overflow: visible !important;*/
  }
  .traffic-flow-vehicle {
    .chart-circle,
    .chart-line {
      box-shadow: 2px 2px 5px 0 rgba(174, 174, 174, 0.45);
      padding: 20px 20px 5px;
    }
    .filter {
      background: white;
      border-bottom: 1px solid #ded4d4;
      float: left;
      width: 100%;
      padding: 20px 20px 15px;

      h4 {
        margin-top: 0;
        font-size: 18px;
      }
    }
    .chart-search {
      float: left;
      width: 100%;
      h4 {
        float: left;
      }
      .report-filter-select {
        float: right;
      }
      .chart-filter-content {
        span {
          padding: 7px 20px;
          border: 1px solid #9999;
          position: relative;
          top: 17px;
          right: 14px;
          border-radius: 8px;
          cursor: pointer;
        }
      }
    }
    .chart-block {
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
    }
    .report-detail {
      background: white;
      /*padding: 25px;*/
      margin-top: 20px;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
      thead {
        th {
          img {
            position: relative;
            top: 4px;
            margin-left: 5px;
          }
          img.dentinhieu {
            top: 7px;
          }
          span {
            display: inline-block;
            svg {
              width: 30px;
              height: 30px;
            }
          }
        }
      }
      .header-table-report {
        float: left;
        width: 100%;
        border-bottom: 2px solid #ded4d4;
        margin-bottom: 10px;
        padding: 10px 25px;
        h4 {
          float: left;
          margin: 10px 25px 0 0;
          font-size: 18px;
          color: #222;
        }
        .el-select {
          float: left;
          width: 140px;
          input {
            height: 40px;
          }
        }
        .export-xls {
          float: right;
          button {
            background: #1f7ff5;
            border-radius: 4px;
            height: 40px;
            color: white;
            font-weight: 500;
          }
        }
      }
      .el-table th > .cell {
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        font-weight: 500;
      }
      .el-table tr > th,
      .el-table tr > td {
        padding-left: 5px;
      }
      .el-table {
        tr {
          td:first-child {
            text-align: center !important;
          }
          td:nth-child(2),
          td:nth-child(3) {
            text-align: left;
          }
          td {
            text-align: center;
          }
        }
      }
    }
    .chart-statistic {
      clear: both;
      background: white;
      padding: 10px 25px 25px 25px;
      h4 {
        font-size: 14px;
      }
    }
    .btn-export {
      background: #1e2e4a;
      border-color: #1e2e4a;
      float: right;
      border-radius: 4px;
      font-size: 16px;
    }
  }
  .svg-icon[data-v-c8a70580] {
    /* width: 1em; */
    height: 18px;
    width: 18px;
  }
}
</style>
