<template>
  <div class="report-container">
    <div class="report-page violation-vehicle">
        <div class="report-page-header">
            <div class="report-title-filter">
                <span class="title-report">Báo cáo tổng hợp</span>
                <div class="filter-button" @click="showFilter = !showFilter">
                     <img :src="filter_icon" alt="" />
                     <span>Bộ lọc</span>
                     <i class="el-icon-arrow-down" v-if="!showFilter"></i>
                     <i class="el-icon-arrow-up" v-if="showFilter"></i>
                     </div>
                </div>
                <el-button
                  type="primary"
                  class="btn-export"
                  @click="handleExport()"
                  ><i class="el-icon-arrow-right"></i> Export</el-button>
                <SearchReport @clicked="onClickChild" v-if="showFilter"/>
        </div>
        <div class="table-report">
         <el-table id="table-traffic-flow-vehicle" :data="violationVehicleList" style="width: 100%">
          <el-table-column prop="startTime" width="60" label="Thời gian">
          </el-table-column>
          <el-table-column label="Chi tiết phương tiện" align="center">
            <el-table-column :prop="col.prop" :label="col.label" v-for="col in columns" :key="col.prop">
            </el-table-column>
          </el-table-column>
    </el-table>
        </div>
    </div>
     <!-- Phân trang -->
    <p style="clear: both"></p>
  </div>
</template>

<script>
import Pagination from "@/components/Pagination_custom";
import filter_icon from "@/assets/images/filter.png";
import SearchReport from "./component/search-violation-status";
import Resource from "@/api/resource";
import FileSaver from "file-saver";
import XLSX from "xlsx";
const violationTypeResource = new Resource("report/statistic/violation/vehicles");

export default {
 components:{SearchReport , Pagination},
  data(){
      return {
          loading: false,
          filter_icon: filter_icon,
          violationVehicleList:[],
          layout: "first, prev, pager, next, last",
          query: {
                page: 1,
                size: 20,
                time: "day",
                filterObjectType: null,
                filterObjectIds: null,
                plate: null,
                vehicleType: null,
                objectType: null,
            },
          showFilter:false,
          columns: [
         {
            prop:"objectTypeValueList.0.value",
            label: "Ô tô",
            width: "120"
          },
          {
            prop:"objectTypeValueList.1.value",
            label: "Xe máy",
            width: "120"
          },
          {
            prop:"objectTypeValueList.2.value",
            label: "Xe tải",
            width: "120"
          },
          {
            prop:"objectTypeValueList.3.value",
            label: "Xe bus",
            width: "120"
          },
          {
            prop:"objectTypeValueList.4.value",
            label: "Xe xây dựng",
            width: "120"
          },
          {
            prop:"objectTypeValueList.5.value",
            label: "Xe đạp",
            width: "120"
          },
          {
            prop:"objectTypeValueList.6.value",
            label: "Người đi bộ",
          },
        ],
        violationTotalType: []
      }
  },
  computed: {
    rooms() {
      let rooms = {}
      this.tableData.forEach(row => {
        row.rooms.forEach(room => {
          rooms[room.name] = 1
        })
      })
      return Object.keys(rooms)
    }
  },
  created(){
      this.init()
  },
  methods :{
      async init() {
      await this.getList();
    },
    getDateString() {
      let today = new Date();
      let dd = String(today.getDate()).padStart(2, "0");
      let mm = String(today.getMonth() + 1).padStart(2, "0"); //January is 0!
      let yyyy = today.getFullYear();
      today = yyyy + "-" + mm + "-" + dd;
      return today;
    },
    handleDataTable(){
        if(this.violationTotalType)
        this.violationTotalType.map(m =>{
            return m
        })
    },
    getDateExportFile() {
      let today = new Date();
      let dd = String(today.getDate()).padStart(2, "0");
      let mm = String(today.getMonth() + 1).padStart(2, "0"); //January is 0!
      let hour = String(today.getHours());
      let min = String(today.getMinutes());
      let sec = String(today.getSeconds());
      let yyyy = today.getFullYear();
      today = dd + "/" + mm + "/" + yyyy + "-" + hour + ":" + min + ":" + sec;
      return today;
    },
    async handleExport() {
      this.loading = true;
      var wb = XLSX.utils.table_to_book(
        document.querySelector("#table-traffic-flow-vehicle")
      );
      var wbout = XLSX.write(wb, {
        bookType: "xlsx",
        bookSST: true,
        type: "array",
      });
      try {
        FileSaver.saveAs(
          new Blob([wbout], { type: "application/octet-stream" }),
          `vi_pham_theo_phuong_tien${this.getDateExportFile()}.xlsx`
        );
      } catch (e) {
        if (typeof console !== "undefined") console.log(e, wbout);
      }
      return wbout;
    },
    async getList(){
        this.loading = true;
        let queryCustom = {
        page: this.query.page - 1,
        size: this.query.size,
        levelFilterByTime: this.query.time,
        filterObjectType: this.query.filterObjectType,
        filterObjectIds: this.query.filterObjectIds?this.query.filterObjectIds:"",
      };

    
        const res = await violationTypeResource.list(queryCustom)
        if(res && res.data){
            this.violationVehicleList =  res.data
        }
        this.loading = false;
    },
    handleFilter() {
      this.query.page = 1;
      this.getList();
    },
    onClickChild(value) {
      if (value) {
        this.query.time= value.time
        this.query.vehicleType = value.vehicleType;
        this.query.violationType = value.violationType;
        if (value.camera != null) {
          this.query.filterObjectType = "cam";
          this.query.filterObjectIds = value.camera;
        } else if (value.camera == null && value.site != null) {
          this.query.filterObjectType = "site";
          this.query.filterObjectIds = value.site;
        } else {
          this.query.filterObjectType = '';
          this.query.filterObjectIds = '';
        }
      }
      this.handleFilter();
    },
  }
}
</script>
<style lang="scss">
    .report-container{
        width: 100%;
        height: 100%;
        padding: 20px;
        .btn-export{
          background: #1e2e4a;
          border-color: #1e2e4a;
          float: right;
          border-radius: 4px;
          font-size: 16px;
        }
        .violation-vehicle{
            background-color: white;
            .report-page-header{
                border-bottom: 3px solid #9ca5b1;
                padding: 20px;
                .report-title-filter{
                    display: inline-block;
                .title-report{
                        display: inline-block;
                        font-size: 18px;
                        font-weight: 600;
                        min-width: 160px;
                        margin-right: 32px;
                        border-right: 1px solid #9ca5b1;
                }
                .filter-button{
                    position: relative;
                    display: inline-block;
                    cursor: pointer;
                    img{
                        margin-right: 3px;
                        height: 16px;
                        position: absolute;
                        left: -19px;
                        top: 1px;
                    }
                    i{
                        margin-left: 3px;
                    }
                }
            }
            }
            .table-report{
                .el-table{
                th{
                  color: black;
                  background-color: white;
                  border-right: none;
                }
                thead tr:first-child th:first-child{
                   border-right:1px solid #dfe6ec ;
                }
                
                td{
                  border-left: none;
                  border-right: none;
                }
              }
              .el-table th > .cell{
                text-align: unset;
              }
            }
            
        }
    }
    ///fitler
    .filter-group-action{
        .date-filter{
            display: flex;
            align-items: flex-end;
            justify-content: space-around;
            width: 100%;
            .el-date-editor--datetimerange.el-input__inner {
                width: 220px
            }
            .action{
                .el-button{
                    border-radius: 4px;
                }
                .el-button--info{
                    border-radius: 4px;
                    background: rgb(38, 198, 218);
                    color: rgb(255, 255, 255);
                    border: 1px solid rgb(38, 198, 218);
                    font-size: 16px;
                    font-weight: 500;
                    width: 147px;
                }
                .el-button--primary {
                    border-radius: 4px;
                    background: rgb(31, 127, 245);
                    color: rgb(255, 255, 255);
                    border: 1px solid rgb(31, 127, 245);
                    font-size: 16px;
                    font-weight: 500;
                    width: 147px;
                    float: right;
                }
            }
        }
    }

    
</style>