<template>
  <div class="report-container">
    <div class="report-page report-process-violation">
      <div class="chart-block">
        <div class="filter">
          <h4>Báo cáo xử lý vi phạm</h4>
          <ReportFilter @search="search" @displayDetail="displayDetail"></ReportFilter>
        </div>
      </div>
      <div class="report-detail">
        <detail-process-violation-report :key="showDetailKey" :level="level" :title="searchQuery.title" v-if="showDetail" :data="reportByWard"/>
      </div>
      <div class="report-detail">
        <div class="header-table-report">
          <xlsx-workbook class="export-xls">
            <xlsx-sheet
                :collection="sheet.data"
                v-for="sheet in dataDetailExport"
                :key="sheet.name"
                :sheet-name="sheet.name"
            />
            <xlsx-download :filename="file_name_xls">
              <el-button type="primary"><i class="el-icon-document"></i> Xuất Excel</el-button>
            </xlsx-download>
          </xlsx-workbook>
        </div>
        <el-table
            ref="multipleTable"
            :data="dataDetailReport"
            style="width: 100%">
          <el-table-column label="Trạng thái" prop="processStatus" sortable />

          <el-table-column label="Tổng số" prop="total" sortable/>

          <el-table-column prop="bike" sortable>
            <template slot="header">
              <span>Xe đạp <img src="@/assets/images/report/circle.png"/></span>
            </template>
          </el-table-column>

          <el-table-column prop="motorbike" label="Xe máy" sortable>
            <template slot="header">
              <span>Xe máy <img src="@/assets/images/report/motorcycle.png"/></span>
            </template>
          </el-table-column>

          <el-table-column prop="bus" label="Xe bus" sortable>
            <template slot="header">
              <span>Xe bus <img src="@/assets/images/report/bus.png"/></span>
            </template>
          </el-table-column>

          <el-table-column prop="truck" label="Xe tải" sortable>
            <template slot="header">
              <span>Xe tải <img src="@/assets/images/report/truck.png"/></span>
            </template>
          </el-table-column>

          <el-table-column prop="car" label="Ô tô" sortable>
            <template slot="header">
              <span>Ô tô <img src="@/assets/images/report/car.png"/></span>
            </template>
          </el-table-column>
        </el-table>
      </div>
      <!-- Bao cáo chi tiết theo từng loại phương tiện -->
      <div class="report-detail" v-if="detailChecked">
        <div class="header-table-report">
          <h4>Báo cáo chi tiết: {{ totalTypeVehicel }}</h4>
          <xlsx-workbook disable-wrapper-click style="display: none">
            <xlsx-sheet
                :collection="sheet.data"
                v-for="sheet in dataDetailTypeVehicelExport"
                :key="sheet.name"
                :sheet-name="sheet.name"
            />
            <xlsx-download :filename="file_name2_xls" ref="xlsx">
            </xlsx-download>
          </xlsx-workbook>
          <div class="export-xls">
            <el-button type="primary" @click="download"><i class="el-icon-document"></i> Xuất Excel</el-button>
          </div>
        </div>
        <el-table
            ref="multipleTable"
            :data="dataDetailTypeVehicel"
            style="width: 100%">
          <el-table-column label="STT" :width="(query.page * query.size).toString().length * 5 + 60">
            <template slot-scope="scope">
                <span>{{
                    (query.page - 1) * query.size + scope.$index + 1
                  }}</span>
            </template>
          </el-table-column>

          <el-table-column prop="startTime" label="Thời gian" sortable>
            <template slot-scope="scope">
              <span>{{ scope.row.startTime|formatDateVietNamTimeDate }}</span>
            </template>
          </el-table-column>

          <el-table-column prop="siteAddress" label="Vị trí" sortable />

          <el-table-column prop="objectTypeName" label="Loại phương tiện" sortable />

          <el-table-column prop="plate" label="Biển số" sortable/>

          <el-table-column prop="eventTypeName" label="Loại vi phạm" sortable />

          <el-table-column prop="violationProcessStatus" label="Trạng thái" sortable />
        </el-table>
        <!-- Phân trang -->
        <p style="clear:both;"></p>
        <div style="padding-right: 10px;">
          <pagination v-show="totalTypeVehicel>query.size" :total="totalTypeVehicel" :page.sync="query.page"
                      :layout="layout" :limit.sync="query.size" @pagination="getDetailTypeVehicel"/>
        </div>
      </div>
    </div>
    <!-- Phân trang -->
    <p style="clear: both"></p>
  </div>
</template>

<script>
import Pagination from "@/components/Pagination_custom";
import ReportFilter from "./component/search-process-violation";
import Resource from "@/api/resource";
import {XlsxDownload, XlsxSheet, XlsxWorkbook} from "vue-xlsx"
import DetailProcessViolationReport from "@/views/report/component/detail-process-violation-report";

const detailResource = new Resource("report/statistic/violation-process");
const detailTypeVehicelResource = new Resource("report/statistic/violation-detail");
const reportByWardResource = new Resource("report/statistic/violation/ward");

export default {
  components: {DetailProcessViolationReport, ReportFilter, Pagination, XlsxWorkbook, XlsxSheet, XlsxDownload},
  data() {
    return {
      dataDetailExport: [{
        name: 'Sheet1',
        data: null
      }],
      dataDetailTypeVehicelExport: [{
        name: 'Sheet1',
        data: null
      }],
      loading: false,
      level: 0,
      showDetail: false,
      showDetailKey: 0,
      reportByWard: [],
      detailChecked: false,
      file_name_xls: 'Báo_Cáo_Xử_Lý_Vi_Phạm_' + moment().format('YYYY_MM_DD') + '.xlsx',
      file_name2_xls: 'Báo_Cáo_Xử_Lý_Vi_Phạm_Chi_Tiết_' + moment().format('YYYY_MM_DD') + '.xlsx',
      layout: 'first, prev, pager, next, last',
      checkFilterTime: [],
      dataDetailReport: [],
      dataDetailTypeVehicel: [],
      timeRanger: [],
      timeRangerMonth: [{
        value: 'T1',
        label: 'Tháng 1'
      }, {
        value: 'T2',
        label: 'Tháng 2'
      }, {
        value: 'T3',
        label: 'Tháng 3'
      }],
      timeRangerValue: null,
      // pie chat total
      total: 0,
      dataMerch: [],
      dataFlow: [],
      totalTypeVehicel: 0,
      query: {
        page: 1,
        size: 20,
      },
      searchQuery: {
        cameraValue: '',
        addressValue: '',
        vehicleValue: '',
        typeViolation: '',
        fromDate: moment().subtract(30, "day").format('YYYY-MM-DD 00:00:00'),
        toDate: moment().subtract(1, "day").format('YYYY-MM-DD 23:59:59'),
      }
    }
  },
  created() {
    this.init()
  },
  methods: {
    init() {
      this.getDetail()
      this.getDetailTypeVehicel()
      this.getDetailTypeVehicelAll()
    },
    detectVehicel(data, type) {
      data = data.filter(function (val) {
        return val.objectType == type
      })
      if (data.length > 0) {
        return data[0].value
      }
      return 0
    },
    totalVehicel(data) {
      let total = 0
      let listVehicel = []
      data.forEach(function (item) {
        if (!listVehicel.includes(item.objectType)) {
          total += item.value
        }
      })
      return total
    },
    dataExport(data) {
      let self = this
      if (data && data.length > 0) {
        self.dataDetailExport[0].data = []
        data.forEach(function (item) {
          let itemImport = {
            'Trạng thái': item.processStatus,
            // 'Vị trí': item.siteAddress,
            'Tổng số': item.total,
            'Xe đạp': item["bike"],
            'Xe máy': item["motorbike"],
            'Xe bus': item["bus"],
            'Xe tải': item["truck"],
            'Ô tô': item["car"],
          }
          // console.log(self.sheets)
          self.dataDetailExport[0].data.push(itemImport)
        })
      } else {
        self.dataDetailExport[0].data = []
        let itemImport = {
          'Trạng thái': '',
          // 'Vị trí': item.siteAddress,
          'Tổng số': '',
          'Xe đạp': '',
          'Xe máy': '',
          'Xe bus': '',
          'Xe tải': '',
          'Ô tô': '',
        }
        // console.log(self.sheets)
        self.dataDetailExport[0].data.push(itemImport)
      }
    },
    dataTypeVehicelExport(data) {
      let self = this
      if (data && data.length > 0) {
        self.dataDetailTypeVehicelExport[0].data = []
        data.forEach(function (item, ind) {
          let itemImport = {
            'ID': ind + 1,
            'Thời gian': moment(item.startTime).format('DD/MM/YYYY HH:mm'),
            'Vị trí': item.siteAddress,
            'Loại phương tiện': item.objectTypeName,
            'Biển số': item.plate,
            'Loại vi phạm': item.eventTypeName,
            'Trạng thái': item.violationProcessStatus,
          }
          // console.log(self.sheets)
          self.dataDetailTypeVehicelExport[0].data.push(itemImport)
        })
      } else {
        self.dataDetailTypeVehicelExport[0].data = []
        let itemImport = {
          'ID': '',
          'Thời gian': '',
          'Vị trí': '',
          'Loại phương tiện': '',
          'Biển số': '',
          'Loại vi phạm': '',
          'Trạng thái': '',
        }
        // console.log(self.sheets)
        self.dataDetailTypeVehicelExport[0].data.push(itemImport)
      }
    },
    download () {
      if (this.totalTypeVehicel > 5000) {
        this.$confirm('Hệ thống hỗ trợ export tối đa 5000 bản ghi. Tiếp tục?', 'Warning', {
          confirmButtonText: 'OK',
          cancelButtonText: 'Hủy bỏ',
          type: 'warning'
        }).then(() => {
          this.$refs.xlsx.download()
        });
      } else {
        this.$refs.xlsx.download()
      }
    },
    getDetail(flag = false, date = null) {
      let params = {
        fromDate: this.searchQuery.fromDate,
        toDate: this.searchQuery.toDate,
        page: 0,
        size: 20,
        filterObjectType: 'cam',
        filterObjectIds: '',
        objectType: '',
        roleStates: '',
      }
      if (this.searchQuery.cameraValue != '') {
        params.filterObjectIds = this.searchQuery.cameraValue
      }
      if (this.searchQuery.cameraValue == '' && this.searchQuery.addressValue != '') {
        params.filterObjectType = 'site'
        params.filterObjectIds = this.searchQuery.addressValue
      }
      if (this.searchQuery.typeViolation != '' || this.searchQuery.typeViolation == 0) {
        params.roleStates = this.searchQuery.typeViolation
      }
      if (this.searchQuery.vehicleValue != '') {
        params.objectType = this.searchQuery.vehicleValue
      }
      if (flag) {
        params.fromDate = date.fromDate
        params.toDate = date.toDate
      }
      detailResource.list(params).then(response => {
        this.dataDetailReport = this.transformDetailData(response.data)
        // console.log(response.data)
        this.dataExport(this.dataDetailReport)
      }).catch(err => {
        console.log(err)
      })
    },

    transformDetailData (data) {
      let newData = []
      data.forEach(function (item) {
        let itemChild = {}
        itemChild.sourceId = item.sourceId
        itemChild.sourceName = item.sourceName
        itemChild.siteAddress = item.siteAddress
        let total = 0
        item.objectTypeValueList.forEach(e => {
          total += e.value
          itemChild[e.objectType] = e.value
        })
        itemChild.total = total
        itemChild.processStatus = item.processStatus
        newData.push(itemChild);
      });
      return newData;
    },
    getDetailByWard(flag = false, date = null) {
      if (this.searchQuery.districts) {
        if (this.searchQuery.wardId) {
          this.level = 3
        } else {
          this.level = 2
        }
        let params = {
          fromDate: this.searchQuery.fromDate,
          toDate: this.searchQuery.toDate,
          filterObjectType: 'cam',
          filterObjectIds: '',
          objectType: '',
          eventType: '',
          page: this.query.page - 1,
          size: this.query.size,
          roleStates: '',
        }
        if (flag == true) {
          params.fromDate = date.fromDate
          params.toDate = date.toDate
        }
        const body = {
          districts: this.searchQuery.districts
        }
        this.showDetail = true
        this.reportByWard = []
        this.showDetailKey += 1
        reportByWardResource
            .storeCustom(body, params)
            .then((response) => {
              this.reportByWard = response.data
              this.showDetailKey += 1
            })
            .catch((err) => {
              console.log(err);
              this.showDetail = false
            });
      } else {
        this.showDetail = false
      }
    },
    getDetailTypeVehicel(flag = false, date = null) {
      let params = {
        fromDate: this.searchQuery.fromDate,
        toDate: this.searchQuery.toDate,
        filterObjectType: 'cam',
        filterObjectIds: '',
        objectType: '',
        eventType: '',
        page: this.query.page - 1,
        size: this.query.size,
      }
      if (this.searchQuery.cameraValue != '') {
        params.filterObjectIds = this.searchQuery.cameraValue
      }
      if (this.searchQuery.cameraValue == '' && this.searchQuery.addressValue != '') {
        params.filterObjectType = 'site'
        params.filterObjectIds = this.searchQuery.addressValue
      }
      if (this.searchQuery.typeViolation != '' || this.searchQuery.typeViolation == 0) {
        params.roleStates = this.searchQuery.typeViolation
      }
      if (this.searchQuery.vehicleValue != '') {
        params.objectType = this.searchQuery.vehicleValue
      }
      if (flag == true) {
        params.fromDate = date.fromDate
        params.toDate = date.toDate
      }
      // console.log("===> params")
      // console.log(params)
      detailTypeVehicelResource.list(params).then(response => {
        this.totalTypeVehicel = response.data.total
        this.dataDetailTypeVehicel = response.data.data
      }).catch(err => {
        console.log(err)
      })
    },
    getDetailTypeVehicelAll(flag = false, date = null) {
      let params = {
        fromDate: this.searchQuery.fromDate,
        toDate: this.searchQuery.toDate,
        filterObjectType: 'cam',
        filterObjectIds: '',
        objectType: '',
        eventType: '',
        page: 0,
        size: 5000,//1000000
      }
      if (this.searchQuery.cameraValue != '') {
        params.filterObjectIds = this.searchQuery.cameraValue
      }
      if (this.searchQuery.cameraValue == '' && this.searchQuery.addressValue != '') {
        params.filterObjectType = 'site'
        params.filterObjectIds = this.searchQuery.addressValue
      }
      if (this.searchQuery.typeViolation != '' || this.searchQuery.typeViolation == 0) {
        params.roleStates = this.searchQuery.typeViolation
      }
      if (this.searchQuery.vehicleValue != '') {
        params.objectType = this.searchQuery.vehicleValue
      }
      if (flag == true) {
        params.fromDate = date.fromDate
        params.toDate = date.toDate
      }
      detailTypeVehicelResource.list(params).then(response => {
        this.dataTypeVehicelExport(response.data.data)
      }).catch(err => {
        console.log(err)
      })
    },
    search(query) {
      this.query.page = 1;
      if (query.addressValue) {
        this.searchQuery.addressValue = query.addressValue;
      } else {
        this.searchQuery.addressValue = "";
      }
      if (query.cameraValue) {
        this.searchQuery.cameraValue = query.cameraValue;
      } else {
        this.searchQuery.cameraValue = "";
      }
      if (query.typeViolationValue || query.typeViolationValue == 0) {
        this.searchQuery.typeViolation = query.typeViolationValue
      } else {
        this.searchQuery.typeViolation = "";
      }
      if (query.vehicleValue) {
        this.searchQuery.vehicleValue = query.vehicleValue;
      } else {
        this.searchQuery.vehicleValue = "";
      }
      if (query.districtId || query.wardId) {
        this.searchQuery.districts = query.districts
        this.searchQuery.title = query.title
      } else {
        this.searchQuery.districts = null
      }
      this.searchQuery.wardId = query.wardId
      if (query.date) {
        let data = {
          fromDate: moment(query.date[0]).format('YYYY-MM-DD 00:00:00'),
          toDate: moment(query.date[1]).format('YYYY-MM-DD 23:59:59'),
        }
        this.searchQuery.fromDate = moment(query.date[0]).format('YYYY-MM-DD 00:00:00')
        this.searchQuery.toDate = moment(query.date[1]).format('YYYY-MM-DD 23:59:59')
        this.getDetail(true, data)
        this.getDetailTypeVehicel(true, data)
        this.getDetailByWard(true.data)
        this.getDetailTypeVehicelAll(true, data)
      } else {
        this.getDetail()
        this.getDetailTypeVehicel()
        this.getDetailByWard()
        this.getDetailTypeVehicelAll()
      }
      this.query.page = 1
    },
    displayDetail(detailChecked) {
      this.detailChecked = detailChecked
    }
  }
}
</script>
<style lang="scss">
.highcharts-credits {
  display: none !important;
}

.chart-line-filter {
  width: 125px;
  padding: 15px 5px 5px 15px;
  margin-top: 30px !important;

  .el-checkbox {
    width: 100%;
    margin-bottom: 6px;
    font-weight: normal;
  }
}

.report-container {
  width: 100%;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;

  .chart {
    width: 100%;
    /*overflow: visible !important;*/
  }

  .report-process-violation {
    .filter {
      padding: 20px;
      background: white;
      border-bottom: 1px solid #ded4d4;
      float: left;
      width: 100%;
      padding-bottom: 15px;

      h4 {
        margin-top: 0;
        font-size: 18px;
      }
    }

    .chart-search {
      float: left;
      width: 100%;

      h4 {
        float: left;
      }

      .report-filter-select {
        float: right;
      }

      .chart-filter-content {
        span {
          padding: 7px 20px;
          border: 1px solid #9999;
          position: relative;
          top: 17px;
          right: 14px;
          border-radius: 8px;
          cursor: pointer;
        }
      }
    }

    .chart-block {
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
    }

    .report-detail {
      background: white;
      /*padding: 25px;*/
      margin-top: 20px;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);

      thead {
        th {
          img {
            position: relative;
            top: 1px;
            margin-left: 5px;
          }

          span {
            display: inline-block;
          }
        }
      }

      .header-table-report {
        float: left;
        width: 100%;
        /*border-bottom: 2px solid #ded4d4;*/
        margin-bottom: 10px;
        padding: 10px 25px;

        h4 {
          float: left;
          margin: 0;
          margin-right: 25px;
          margin-top: 10px;
          font-size: 18px;
          color: #222;
        }

        .el-select {
          float: left;
          width: 140px;

          input {
            height: 40px;
          }
        }

        .export-xls {
          float: right;

          button {
            background: #1f7ff5;
            border-radius: 4px;
            height: 40px;
            color: white;
            font-weight: 500;
          }
        }
      }

      .el-table th > .cell {
        text-align: left;
        color: black;
        font-weight: 500;
      }

      .el-table tr > th,
      .el-table tr > td {
        padding-left: 20px;
      }
    }

    .chart-statistic {
      clear: both;
      background: white;
      padding: 10px 25px 25px 25px;

      h4 {
        font-size: 14px;
      }
    }

    .btn-export {
      background: #1e2e4a;
      border-color: #1e2e4a;
      float: right;
      border-radius: 4px;
      font-size: 16px;
    }
  }
}
</style>
