<template>
  <div class="profile-editor-container">
    <div class="chart-wrapper update-password-block">
      <h2>Thông tin cá nhân</h2>
      <p><b>Họ và tên: </b> {{ user && user.fullName }}</p>
      <p><b>Tài khoản: </b>{{ user && user.userName }}</p>
      <p><b>Email: </b>{{ user && user.email }}</p>
      <p><b>Số điện thoại: </b>{{ user && user.mobile }}</p>
      <el-button type="primary" @click="handleUpdatePassword()">Cập nhật mật khẩu</el-button>
    </div>
    <div class="update-password">
      <el-dialog
      title="Cập nhật mật khẩu"
      :visible.sync="dialogUpdate"
      width="500px"
      @close="closeDialog('updateForm')"
      :close-on-click-modal="false"
      >
      <el-form
        :model="userInfo"
        :rules="rules"
        ref="updateForm"
        label-position="top"
        label-width="100%"
      >
        <div class="block-item">
            <el-form-item label="Mật khẩu hiện tại" prop="curentPassword">
              <el-input maxlength="32"  type="password" v-model="userInfo.curentPassword"></el-input>
            </el-form-item>

            <el-form-item label="Mật khẩu mới" prop="newPassword">
              <el-input maxlength="32" type="password" v-model="userInfo.newPassword"></el-input>
            </el-form-item>

            <el-form-item label="Xác nhận mật khẩu" prop="rePassword">
              <el-input
                type="password"
                maxlength="32"
                v-model="userInfo.rePassword"
              ></el-input>
            </el-form-item>
        </div>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="danger" @click="dialogUpdate = false">Thoát</el-button>
        <el-button type="primary" @click="updatePassword()" :loading="loading"
          >Cập nhật</el-button
        >
      </div>
    </el-dialog>
    </div>
  </div>
</template>

<script>

import { getData } from "@/api/user-resources"
import Resource from "@/api/resource"

const userResource = new Resource("user/password");

export default {
  name: "UserDetail",
  data() {
    var validatePass2 = (rule, value, callback) => {
      if (value === "") {
        callback(new Error("Xác nhận mật khẩu là bắt buộc"));
      } else if (value !== this.userInfo.newPassword && this.userInfo.newPassword && this.userInfo.newPassword.length > 3 && this.userInfo.newPassword.length < 33) {
        callback(new Error("Mật khẩu không trùng khớp"));
      } else {
        callback();
      }
    }
    return {
      user: {},
      userInfo: {
        curentPassword: null,
        newPassword: null,
        rePassword: null,
      },
      rules: {
        curentPassword: [
          { required: true, message: "Mật khẩu hiện tại là bắt buộc", trigger: "blur" },
          { min: 4, max:32 , message: "Mật khẩu tối thiểu 4 ký tự và tối đa 32 ký tự", trigger: "blur" },
        ],
        newPassword: [
          { required: true, message: "Mật khẩu mới là bắt buộc", trigger: "blur" },
          { min: 4, max:32 , message: "Mật khẩu tối thiểu 4 ký tự và tối đa 32 ký tự", trigger: "blur" },
        ],
        rePassword: [
          { required: true, message: "Xác nhận mật khẩu là bắt buộc", trigger: "blur" },
          { min: 4, max:32 , message: "Mật khẩu tối thiểu 4 ký tự và tối đa 32 ký tự", trigger: "blur" },
          { validator: validatePass2, trigger: "blur" },
        ],
      },
      dialogUpdate: false,
      loading: false,
    };
  },
  created() {
    this.init();
  },
  methods: {
    async init() {
      await this.getUser();
    },
    async getUser() {
      let result = await getData("/user");
      if (result && result.data) {
        this.user = result.data;
      }
    },
    handleUpdatePassword() {
      this.resetDialog();
      this.dialogUpdate = true;
    },
    resetDialog() {
      this.userInfo = {
        curentPassword: null,
        newPassword: null,
        rePassword: null,
      }
    },
    closeDialog(formName) {
      this.$refs[formName].clearValidate();
      this.$refs[formName].resetFields();
    },
    updatePassword() {
      this.userInfo = this.$root.trimData(this.userInfo);
      this.$refs.updateForm.validate((valid) => {
        if (valid) {
          this.loading = true
          userResource.updateOnlyUrl(this.userInfo).then(response=>{
            this.loading = false
            if(response.status == 200){
              this.dialogUpdate = false
              this.resetDialog()
              this.$message({
                type: "success",
                message: "Cập nhật thành công",
              });
            }
          }).catch(err=>{
            this.loading = false
            console.log(err)
          })
        }else{
          return false
        }
      })
    }
  },
};
</script>

<style rel="stylesheet/scss" lang="scss">
.profile-editor-container {
  padding: 16px;
  background-color: rgb(240, 242, 245);
  .chart-wrapper {
    background: #fff;
    padding: 16px 16px 16px;
    margin-bottom: 32px;
  }
  .update-password-block {
    button {
      background: #1f7ff5;
      border-radius: 4px;
      height: 40px !important;
      border-color: #1f7ff5;
    }
  }
  .el-dialog__header {
    padding: 0;
    background: #006fe3;
    height: 40px;
    line-height: 40px;
    text-align: center;
    .el-dialog__title {
      color: white;
    }
    .el-icon-close {
      color: white;
      font-size: 22px;
      top: -10px;
      position: relative;
    }
  }
  .el-dialog__body {
    .el-form-item__label {
      padding-bottom: 0;
      font-size: 14px;
      color: #363030;
      font-weight: 500 !important;
    }
  }
  .el-dialog__footer {
    clear: both;
    padding-bottom: 25px;
    .el-button--primary {
      background: #1f7ff5;
      height: 40px;
      border-radius: 5px;
      width: 147px;
      text-transform: uppercase;
      font-weight: bold;
      border-color: #1f7ff5;
    }
    .el-button--danger {
      background: #9e9e9e;
      height: 40px;
      border-radius: 5px;
      width: 147px;
      text-transform: uppercase;
      font-weight: bold;
      border-color: #9e9e9e;
      float: left;
    }
  }
}
</style>

