<template>
  <div class="app-container claim create-layout-page">
    <el-row class="action">
      <el-col :span="24">
        <el-col :span="4" style="width: 69px;">
          <el-upload
              :multiple="false"
              :show-file-list="false"
              :on-success="handleImageSuccess"
              :on-error="handleUploadError"
              :before-upload="beforeUpload"
              accept="image/png, image/jpeg"
              :action="action"
              :headers="headers"
          >
            <el-button type="text">
              <i class="el-icon-upload2"></i> Tải ảnh
            </el-button>
          </el-upload>
        </el-col>
        <el-col :span="20">
          | <el-button type="text" style="margin-left: 0px;" @click="getImageLiveNow(cameraId)">
              <i class="el-icon-camera"></i> Chụp ảnh mới
            </el-button>
        </el-col>
      </el-col>
    </el-row>

    <template>
      <el-form
          :model="layoutInfo"
          :rules="rules"
          ref="formAddLayout"
          label-position="top"
          label-width="100%"
      >
        <el-row :gutter="20">
          <el-col :span="12">
            <el-form-item label="Tên" prop="name">
              <el-input v-model="layoutInfo.name" style="width: 70%;"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="Kích thước" prop="imgSizeOrigin">
              <el-select v-model="layoutInfo.imgSizeOrigin" placeholder="Chọn kích thước" style="width: 100%;">
                <el-option
                    v-for="item in listSizeImage"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id"
                >
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="Loại layout" prop="layoutType">
              <el-select v-model="layoutInfo.layoutType" placeholder="Chọn loại layout" style="width: 100%;">
                <el-option
                    v-for="item in layoutTypeLst"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id"
                >
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>

        <div class="block-item" style="margin-top: 15px" v-loading="loading">
          <el-row :gutter="20" v-if="imageList.length > 0 || imageLive">
            <template v-for="element in imageList">
              <el-col :key="element.id" :span="6" style="margin-bottom: 20px">
                <div class="card" @click="selectImage(element.id, element.urlImage)">
                    <div class="card__img" v-if="element.urlImage.includes('upload')">
                    <img :src="baseUploadUrl + element.urlImage" class="card-img-top">
                    </div>
                    <div class="card__img" v-else-if="element.urlImage.includes('data:image/jpeg;base64')">
                    <img :src="element.urlImage" class="card-img-top">
                    </div>
                    <div class="card__img" v-else>
                      <img :src="base160Url + element.urlImage" class="card-img-top">
                    </div>
                    <div class="icon-check-overlay">
                      <i class="el-icon-check" v-if="element.id === imageIdSelected" style="text-align: center;"></i>
                    </div>
                </div>
              </el-col>
            </template>
            <el-col v-if="inUploadProgress" :span="6" style="margin-bottom: 20px">
              <div class="card" style="height: 175px; align-items: center; justify-content: center;">
                <i class="el-icon-loading" style="width: fit-content; font-size: 2em"/>
              </div>
            </el-col>
          </el-row>
          <div v-else>Chưa có ảnh</div>
        </div>
      </el-form>
    </template>
  </div>
</template>

<script>
import { isLogged } from '@/utils/auth';
import { getData } from "@/api/model-base-resources";
import Resource from "@/api/resource";
const layoutResource = new Resource("systemconfig/camera/camera-layout");
const imageCameraResource = new Resource("systemconfig/camera/image-camera");
import config from '@/config.js';

export default {
  props: {
    cameraId: {
      type: String,
      default: function() {
        return '';
      }
    },
  },
  watch: {
    cameraId() {
      this.getImageList(this.cameraId);
    }
  },
  data() {
    return {
      baseUploadUrl: process.env.VUE_APP_UPLOAD_URL,
      base160Url: process.env.VUE_APP_160_URL,
      baseVmsMediaUrl: process.env.VUE_APP_VMS_MEDIA_ROOT_FOLDER,
      action: process.env.VUE_APP_UPLOAD_URL + 'upload/layout/image',
      headers: {},

      loading: false,
      loading_delete_all: false,
      listSizeImage: config.listSizeImage,
      inUploadProgress: false,
      layoutInfo: {
        name: '',
        imgSizeOrigin: '',
        layoutType: '',
      },
      imageIdSelected: '',
      layoutImageSelected: '',
      originWidth: 0,
      originHeight: 0,
      imageList: [],
      imageLive: '',
      count: 0,
      rules: {
        name: [{ required: true, message: "Tên là bắt buộc", trigger: "blur" }],
        imgSizeOrigin: [{ required: true, message: "Kích thước là bắt buộc", trigger: "blur" }],
        layoutType: [{ required: true, message: "Loại layout là bắt buộc", trigger: "blur" }],
      },
      layoutTypeLst: [
        { id: 1, name: 'Camera giám sát giao thông' },
        // { id: 2, name: 'Camera giám sát an ninh' },
      ],
    };
  },

  created() {
    this.getImageList(this.cameraId);
    
    const token = isLogged();
    if (token) {
      this.headers['Authorization'] = 'Bearer ' + token
    }
  },

  methods: {
    routerToDetailLayout(layoutId) {
      this.$router.push({ path: `/system-config/cameras/${layoutId}/detail-layout` });
    },
    routerToDetailSecurityLayout(layoutId) {
      this.$router.push({ path: `/system-config/cameras/${layoutId}/layout` });
    },

    async getImageList(cameraId) {
      this.loading = true;
      const { data } = await getData("/systemconfig/camera/image-camera/images/" + cameraId);
      if (data != null) {
        this.imageList = data;
      } else {
        this.imageList = [];
      }
      this.loading = false;
    },

    async getImageLiveNow(cameraId) {
      this.loading = true;
      const { data } = await getData("/systemconfig/camera/live-image/" + cameraId);
      if (data != null) {
        const params = {
          cameraId: this.cameraId,
          urlImage: data.replace(this.base160Url, "").replace(this.baseVmsMediaUrl, ""),
        };

        // upload layout image
        imageCameraResource
            .store(params)
            .then((response) => {
              if(response.status === 200) {
                this.imageList.push(response.data);
              }
            })
            .catch(() => {
              this.loading = false;
              this.$message({
              message: "Camera mất kết nối",
              type: "error",
            });
            });
      } else {
        this.$message({
              message: "Camera mất kết nối",
              type: "error",
            });
      }
      
      this.loading = false;
    },
    addLayout() {
      this.$refs.formAddLayout.validate((valid) => {
        if (valid) {
          if (this.layoutImageSelected == '') {
            this.$notify.closeAll();
            this.$notify({
              title: "Lỗi",
              message: "Bạn chưa chọn ảnh layout",
              type: "error",
            });
            return false;
          }

          let imgSizeOrigin = this.layoutInfo.imgSizeOrigin.split('_');
          let originWidth = imgSizeOrigin.length == 2 ? parseInt(imgSizeOrigin[0]) : 0;
          let originHeight = imgSizeOrigin.length == 2 ? parseInt(imgSizeOrigin[1]) : 0;
          const params = {
            layoutType: this.layoutInfo.layoutType, // 1: layout camera giám sát; 2: layout camera an ninh
            name: this.layoutInfo.name.trim(),
            layoutImage: this.layoutImageSelected,
            originWidth: originWidth,
            originHeight: originHeight,
            widthImgScale: 0,
            heightImgScale: 0,
            scaledFitImg: null,
            sizedImg: null,
            cameraId: this.cameraId,
            jsonCanvas: {
              objects: [],
              background: "",
              backgroundImage: {
                type: "image",
                originX: "left",
                originY: "top",
                left: 0,
                top: 0,
                width: this.originWidth,
                height: this.originHeight,
                fill: "rgb(0,0,0)",
                strokeWidth: 1,
                strokeLineCap: "butt",
                strokeLineJoin: "miter",
                strokeMiterLimit: 10,
                scaleX: 1,
                scaleY: 1,
                angle: 0,
                flipX: false,
                flipY: false,
                opacity: 1,
                visible: true,
                backgroundColor: "",
                src: this.layoutImageSelected,
                filters: [],
                crossOrigin: "anonymous"
              }
            },
            layoutAreasJson: null,
            metaAttributes: null,
            modelProfileId: 0,
            usedCaptureImage: null,
            status: 1,
            version: 1,
            description: null,
          };

          layoutResource
              .store(params)
              .then((response) => {
                if (response.status === 200 || response.status === 201) {
                  this.imageIdSelected = '';
                  this.layoutImageSelected = '';
                  this.$message({
                    message: "Thêm mới layout thành công",
                    type: "success",
                  });

                  if (this.layoutInfo.layoutType == 1) {
                    this.routerToDetailLayout(response.data.id);
                  } else {
                    this.routerToDetailSecurityLayout(response.data.id);
                  }
                }
              })
              .catch(() => {
                this.$notify({
                  title: "Lỗi",
                  message: "Thêm mới layout thất bại",
                  type: "error",
                });
              });
        } else {
          return false;
        }
      });
    },

    destroyMulti() {
      if (this.imageIdSelected == '') {
        this.$notify({
          title: "Lỗi",
          message: "Chưa chọn ảnh để xóa",
          type: "error",
        });
        return false;
      } else {
        this.$confirm('Bạn có chắc chắn muốn xóa lựa chọn này?', '', {
          confirmButtonText: 'Xác nhận',
          cancelButtonText: 'Thoát',
          type: 'warning'
        }).then(() => {
          this.loading_delete_all = true;
          let params = {
            idImageCameraList: [this.imageIdSelected]
          };
          imageCameraResource.destroyMulti(params).then(response => {
            this.loading_delete_all = false;
            if (response.status === 200) {
              this.imageIdSelected = '';
              this.layoutImageSelected = '';
              this.getImageList(this.cameraId);
              this.$message({
                message: "Xóa thành công", // response.message
                type: "success",
              });
            }
          }).catch(() => {
            this.loading_delete_all = false;
          });
        }).catch(() => {});
      }
    },

    resetDialog() {
      this.imageIdSelected = '';
      this.layoutImageSelected = '';
      this.layoutInfo = {
        name: '',
        imgSizeOrigin: '',
        layoutType: '',
      };
    },

    selectImage(id, urlImage) {
      this.imageIdSelected = id;
      this.layoutImageSelected = urlImage;
      this.getMeta(urlImage);
    },
    getMeta(url) {
      if (url.includes('upload')){
        url = this.baseUploadUrl + url;
      } else {
        url = this.base160Url + url;
      }
      let self = this;
      let img = new Image();
      img.onload = function() {
        self.originWidth = this.width;
        self.originHeight = this.height;
      };
      img.src = url;
    },

    // upload image
    beforeUpload(file) {
      const isJPG = file.type === 'image/jpeg';
      const isPNG = file.type === 'image/png';
      if (!isJPG && !isPNG) {
        this.$message.error('Định dạng file không được chấp nhận, vui lòng chọn ảnh');
        return false;
      }
      const limit = 10;
      const isLimit =  file.size / 1024 / 1024 <= limit;
      if (!isLimit) {
        this.$message.error('Vui lòng chọn file tối đa ' + limit + 'M');
        return false;
      }
      this.inUploadProgress = true
      return true;
    },
    handleUploadError() {
      this.inUploadProgress = false
      this.$message({
        type: 'error',
        message: 'Có lỗi xảy ra, vui lòng thử lại sau'
      })
    },
    handleImageSuccess(file) {
      this.inUploadProgress = false
      if (file.data[0].fileDownloadUri) {
        this.url = file.data[0].fileDownloadUri;
        const params = {
          cameraId: this.cameraId,
          urlImage: this.url.replace(this.baseUploadUrl, ""),
        };

        // upload layout image
        imageCameraResource
            .store(params)
            .then((response) => {
              if (response.status === 200) {
                this.imageList.push(response.data);
                this.$message({
                  message: "Tải ảnh thành công",
                  type: "success",
                });
              } else {
                this.$notify({
                  title: "Lỗi",
                  message: "Tải ảnh thất bại",
                  type: "error",
                });
              }
            })
            .catch(() => {
              this.$notify({
                title: "Lỗi",
                message: "Có lỗi xảy ra, vui lòng thử lại sau!",
                type: "error",
              });
            });
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.app-container {
  padding: 0px !important;
  margin-top: -18px !important;
}
.icon-check-overlay {
  color: #29d85f;
  font-size: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.icon-remove-overlay {
  position: absolute;
  top: 96%;
  left: 96%;
  transform: translate(-96%, -96%);
  -ms-transform: translate(-96%, -96%);
}
.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #e3e6f0;
  border-radius: 0.35rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}
.card__img {
  height: 175px;
}
.card-img-top {
  height: 175px;
  width: 100%;
}
</style>

<style lang="scss">
.create-layout-page {
  .el-icon-camera-solid {
    font-size: 25px;
    color: #9a9a9a;
    position: relative;
    top: -50px;
    left: 54px;
    background: #dfdfdf;
    border-radius: 50%;
    padding: 8px;
    border: 1px solid white;
  }
  .img_avatar {
    text-align: center;
    padding-top: 25px;
    img {
      border-radius: 50%;
    }
  }
  .el-dialog {
    margin-top: 80px !important;
  }
  .item-left {
    width: 48%;
    float: left;
    margin-right: 2%;
  }
  .item-right {
    width: 48%;
    float: left;
    margin-left: 2%;
  }
  .block-item {
    width: 100%;
    float: left;
  }
  .el-dialog__header {
    padding: 0;
    background: #006fe3;
    height: 40px;
    line-height: 40px;
    text-align: center;
    .el-dialog__title {
      color: white;
    }
    .el-icon-close {
      color: white;
      font-size: 22px;
      top: -10px;
      position: relative;
    }
  }
  .el-dialog__body {
    .el-form-item__label {
      padding-bottom: 0;
      font-size: 14px;
      color: #363030;
      font-weight: 300;
    }
  }
  .el-dialog__footer {
    clear: both;
    padding-bottom: 25px;
    .el-button--primary {
      background: #1f7ff5;
      height: 40px;
      border-radius: 5px;
      width: 147px;
      text-transform: uppercase;
      font-weight: bold;
      border-color: #1f7ff5;
    }
    .el-button--danger {
      background: #9e9e9e;
      height: 40px;
      border-radius: 5px;
      width: 147px;
      text-transform: uppercase;
      font-weight: bold;
      border-color: #9e9e9e;
    }
  }
  #select-all-delete {
    height: 63px;
    line-height: 63px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ff4646;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    .el-icon-close {
      font-size: 25px;
      margin-left: 20px;
      margin-right: 35px;
      position: relative;
      top: 4px;
      cursor: pointer;
    }
    button {
      background: #e00000;
      border: initial;
      border-radius: 5px;
      float: right;
      display: inline-block;
      margin-top: 15px;
      margin-right: 15px;
    }
  }
  .action {
    .el-button--primary {
      background: #1f7ff5;
      border: initial;
      border-radius: 4px;
      width: 147px;
      height: 40px;
    }
    .el-button--danger {
      background: #ff6161;
      border: initial;
      border-radius: 4px;
      width: 147px;
      height: 40px;
      float: right;
    }
    .el-button--info {
      background: #9e9e9e;
      border: initial;
      border-radius: 4px;
      width: 147px;
      height: 40px;
      float: right;
    }
  }
}

</style>
