<template>
  <span>
    <a
      href="javascript:void(0)"
      class="start-draw"
      :data-type="configAreas.XAM_NHAP_VUNG_CAM"
      data-toggle="tooltip"
      data-name="XAM_NHAP_VUNG_CAM"
      data-color="rgba(63, 191, 191, 0.3)"
      title="Xâm nhập vùng cấm"
      @click="startDraw()"
    >
      <img src="@/assets/images/icons/xam_nhap_vung.png" />
    </a>

    <a
      href="javascript:void(0)"
      class="start-draw"
      :data-type="configAreas.DAM_DONG"
      data-toggle="tooltip"
      data-name="DAM_DONG"
      data-color="rgba(0, 102, 51, 0.3)"
      title="Đám đông"
      @click="startDraw()"
    >
      <img src="@/assets/images/icons/dam_dong.png" />
    </a>

    <a
      href="javascript:void(0)"
      class="start-draw"
      :data-type="configAreas.DUNG_DO_LAN_CHIEM"
      data-toggle="tooltip"
      data-name="DUNG_DO_LAN_CHIEM"
      data-color="rgba(231, 114, 18, 0.3)"
      title="Dừng đỗ, lấn chiếm"
      @click="startDraw()"
    >
      <img src="@/assets/images/icons/lan_chiem_via_he.png" />
    </a>

    <!-- <a
      href="javascript:void(0)"
      class="start-draw"
      :data-type="configAreas.BAO_CHAY_BAO_KHOI"
      data-toggle="tooltip"
      data-name="BAO_CHAY_BAO_KHOI"
      data-color="rgba(231, 114, 18, 0.3)"
      title="Báo cháy, báo khói"
      @click="startDrawSecurity()"
    >
      <img src="@/assets/images/icons/bao_chay_bao_khoi.png" />
    </a>

    <a
      href="javascript:void(0)"
      class="start-draw"
      :data-type="configAreas.XA_RAC"
      data-toggle="tooltip"
      data-name="XA_RAC"
      data-color="rgba(231, 114, 18, 0.3)"
      title="Xả rác"
      @click="startDrawSecurity()"
    >
      <img src="@/assets/images/icons/xa_rac.png" />
    </a>

    <a
      href="javascript:void(0)"
      class="start-draw"
      :data-type="configAreas.NGAP_LUT"
      data-toggle="tooltip"
      data-name="NGAP_LUT"
      data-color="rgba(231, 114, 18, 0.3)"
      title="Ngập lụt"
      @click="startDrawSecurity()"
    >
      <img src="@/assets/images/icons/ngap_lut.png" />
    </a> -->
  </span>
</template>

<script>
import config from '@/config.js';

export default {
  data() {
    return {
      configAreas: config.areas_roi_types,
    };
  },
  methods: {
    startDraw() {
      this.$parent.$parent.$parent.startDraw();
    },
    startDrawSecurity() {
      this.$parent.$parent.$parent.startDrawSecurity();
    },
  },
};
</script>

<style lang="scss" scoped>
#tools-top img {
  padding: 0px 2px;
  width: 33px;
  margin: 4px 9px 0px 0px;
}
a.start-draw {
  text-decoration: none;
  cursor: pointer;
}
</style>
