<template>
  <span>
    <a
      href="javascript:void(0)"
      class="start-draw"
      :data-type="configAreas.DO_DEM_LUU_LUONG"
      data-toggle="tooltip"
      data-name="DO_DEM_LUU_LUONG"
      data-color="rgba(204, 0, 0, 0.3)"
      title="Đo đếm lưu lượng"
      @click="startDraw()"
    >
      <img src="@/assets/images/icons/do_dem_luu_luong.png" />
    </a>

    <a
      href="javascript:void(0)"
      class="start-draw"
      :data-type="configAreas.VI_PHAM_DEN_TIN_HIEU"
      data-toggle="tooltip"
      data-name="VI_PHAM_DEN_TIN_HIEU"
      data-color="rgba(0, 102, 51, 0.3)"
      title="Vi phạm đèn giao thông"
      @click="startDraw()"
    >
      <img src="@/assets/images/icons/vi_pham_den_gt.png" />
    </a>

    <a
      href="javascript:void(0)"
      class="start-draw"
      :data-type="configAreas.TRANG_THAI_DEN_GIAO_THONG"
      data-toggle="tooltip"
      data-name="TRANG_THAI_DEN_GIAO_THONG"
      data-color="rgba(255, 204, 0, 0.3)"
      title="Trạng thái đèn giao thông"
      @click="startDraw()"
    >
      <img src="@/assets/images/icons/den_giao_thong.png" />
    </a>

    <a
      href="javascript:void(0)"
      class="start-draw"
      :data-type="configAreas.DUNG_DO_TRAI_PHEP"
      data-toggle="tooltip"
      data-name="DUNG_DO_TRAI_PHEP"
      data-color="rgba(0, 0, 255, 0.3)"
      title="Dừng đỗ trái phép"
      @click="startDraw()"
    >
      <img src="@/assets/images/icons/dung_do_trai_phep.png" />
    </a>

    <a
      href="javascript:void(0)"
      class="start-draw"
      :data-type="configAreas.NGUOC_CHIEU"
      data-toggle="tooltip"
      data-name="NGUOC_CHIEU"
      data-color="rgba(51, 0, 153, 0.3)"
      title="Ngược chiều"
      @click="startDraw()"
    >
      <img src="@/assets/images/icons/nguoc_chieu.png" />
    </a>

    <a
      href="javascript:void(0)"
      class="start-draw"
      :data-type="configAreas.NHAN_DIEN_BIEN_SO"
      data-toggle="tooltip"
      data-name="NHAN_DIEN_BIEN_SO"
      data-color="rgba(102, 153, 255, 0.3)"
      title="Nhận diện biển số xe"
      @click="startDraw()"
    >
      <img src="@/assets/images/icons/bien_kiem_soat_ptgt.png" />
    </a>

    <a
      href="javascript:void(0)"
      id="ve_huong_di_chuyen"
      class="start-draw"
      :data-type="configAreas.HUONG_DI_CHUYEN"
      data-toggle="tooltip"
      data-name="HUONG_DI_CHUYEN"
      data-color="rgba(63, 191, 191, 0.3)"
      title="Xác định hướng di chuyển"
      @click="startDraw()"
    >
      <img src="@/assets/images/icons/chi_huong.png" />
    </a>

    <a
      href="javascript:void(0)"
      id="ve_sai_chi_dan"
      class="start-draw"
      :data-type="configAreas.SAI_CHI_DAN_VACH_KE_DUONG"
      data-toggle="tooltip"
      data-name="SAI_CHI_DAN_VACH_KE_DUONG"
      data-color="rgba(38, 114, 76, 0.3)"
      title="Sai chỉ dẫn vạch kẻ đường"
      @click="startDraw()"
    >
      <img src="@/assets/images/icons/sai_chi_dan.png" />
    </a>

    <a
      href="javascript:void(0)"
      id="ve_sai_lan"
      class="start-draw"
      :data-type="configAreas.SAI_LAN"
      data-toggle="tooltip"
      data-name="SAI_LAN"
      data-sub-type="0"
      data-color="rgba(38, 114, 76, 0.3)"
      title="Sai làn"
      @click="startDraw()"
    >
      <img src="@/assets/images/icons/sai_lan.png" />
    </a>

    <a
      href="javascript:void(0)"
      id="ve_duong_cam"
      class="start-draw"
      :data-type="configAreas.DUONG_CAM"
      data-toggle="tooltip"
      data-name="DUONG_CAM"
      data-sub-type="1"
      data-color="rgba(38, 114, 76, 0.3)"
      title="Đường cấm"
      @click="startDraw()"
    >
      <img src="@/assets/images/icons/duong_cam.png" />
    </a>

    <a
      href="javascript:void(0)"
      class="start-draw"
      :data-type="configAreas.PHAT_HIEN_SU_CO"
      data-toggle="tooltip"
      data-name="PHAT_HIEN_SU_CO"
      data-color="rgba(63, 191, 191, 0.3)"
      title="Phát hiện sự cố"
      @click="startDraw()"
    >
      <img src="@/assets/images/icons/tai_nan.png" />
    </a>
  </span>
</template>

<script>
import config from '@/config.js';

export default {
  data() {
    return {
      configAreas: config.areas_roi_types,
    };
  },
  methods: {
    startDraw() {
      this.$parent.$parent.$parent.startDraw();
    }
  },
};
</script>

<style lang="scss" scoped>
#tools-top img {
  padding: 0px 2px;
  width: 33px;
  margin: 4px 9px 0px 0px;
}
a.start-draw {
  text-decoration: none;
  cursor: pointer;
}
</style>
