<template>
  <div class="app-container claim layout-page">
    <el-row>
      <el-col :span="12">
        <div class="search-block">
          <el-input class="search"
            placeholder=""
            prefix-icon="el-icon-search"
            v-model="searchKeyword" @keyup.enter.native="handleFilter()">
          </el-input>
        </div>
      </el-col>
      <el-col :span="12" class="action">
        <el-button type="danger" class="pull-right" @click="destroyMulti()" :loading="loading_delete_all">XÓA</el-button>
        <el-button type="primary" class="pull-right" style="margin-right: 10px;" @click="handleCreate()"><i class="el-icon-plus"></i> TẠO MỚI</el-button>
      </el-col>
    </el-row>

    <template>
      <div v-loading="loading">
        <el-row :gutter="20" v-if="layoutLst.length > 0">
          <div v-for="element in layoutLst" :key="element.id">
            <el-col :span="6" style="margin-bottom: 15px">
              <div class="card">
                  <div v-if="element.layoutImage.includes('upload')">
                    <img :src="baseUploadUrl + element.layoutImage" class="card-img-top">
                    </div>
                    <div v-else-if="element.layoutImage.includes('data:image/jpeg;base64')">
                    <img :src="element.layoutImage" class="card-img-top">
                    </div>
                    <div v-else>
                      <img :src="base160Url + element.layoutImage" class="card-img-top">
                    </div>
                  <div class="icon-remove-overlay" style="z-index: 9999">
                    <input type="checkbox" name="check_del_layout" :value="element.id" style="text-align: right;">
                  </div>

                  <div class="card-body" @click="routerToDetailLayout(element.id, element.layoutType)">
                    <p class="card-title">{{ element.name }}</p>
                    <p class="card-create-by"><b>Tạo lúc: </b> {{ element.createdDate | formatDateVietNam }}</p>
                    <p class="card-create-by"><b>Loại layout: </b>{{ element.layoutType | layoutTypeFilter }}</p>
                  </div>
              </div>
            </el-col>
          </div>
        </el-row>
        <div v-else>Không có layout!</div>
      </div>
    </template>
  </div>
</template>

<script>
import { getData } from "@/api/model-base-resources";
import Resource from "@/api/resource";
const layoutResource = new Resource("systemconfig/camera/camera-layout");

export default {
  props: {
      cameraId: {
          type: String,
          default: function() {
              return '';
          }
      },
  },
  watch: {
    cameraId() {
      this.getLayouts(this.cameraId);
    }
  },
  filters: {
		layoutTypeFilter(type) {
      let txt = '';
      switch(type) {
        case 1:
          txt = 'Camera giám sát giao thông';
          break;
        case 2:
          txt = 'Camera giám sát an ninh';
          break;
      }

      return txt;
		}
	},
  data() {
    return {
      loading: true,
      loading_delete_all: false,
      multipleSelection: [],
      baseUploadUrl: process.env.VUE_APP_UPLOAD_URL,
      base160Url: process.env.VUE_APP_160_URL,
      dialogAdd: false,
      searchKeyword: null,
      layoutLst: [],
    };
  },

  created() {
    this.getLayouts(this.cameraId);
  },

  methods: {
    routerToDetailLayout(layoutId, layoutType) {
      if (layoutType == 1) {
        this.$router.push({ path: `/system-config/cameras/${layoutId}/detail-layout` });
      } else {
        this.$router.push({ path: `/system-config/cameras/${layoutId}/layout` });
      }
    },

    async getLayouts(cameraId) {
      this.loading = true;

      let url = "/systemconfig/camera/camera-layout/layouts/" + cameraId;
      let keyword = this.searchKeyword ? this.searchKeyword.trim() : '';
      if (keyword != '') {
        url = url + '?search=' + keyword;
      }

      const { data } = await getData(url);
      if (data != null) {
        this.layoutLst = data;
        console.log()
      } else {
        this.layoutLst = [];
      }

      this.loading = false;
    },

    handleFilter() {
      this.getLayouts(this.cameraId);
    },

    handleCreate() {
      this.$parent.$parent.handleCreateLayout();
    },

    destroyMulti() {
      this.multipleSelection = [];
      let checkboxes = document.querySelectorAll('input[name=check_del_layout]:checked');
      for (let i = 0; i < checkboxes.length; i++) {
        this.multipleSelection.push(parseInt(checkboxes[i].value));
      }
      if (this.multipleSelection.length > 0) {
        this.$confirm('Bạn có chắc chắn muốn xóa lựa chọn này?', '', {
            confirmButtonText: 'Xác nhận',
            cancelButtonText: 'Thoát',
            type: 'warning'
          }).then(() => {
            this.loading_delete_all = true;
            let params = {
              idCameraLayoutList: this.multipleSelection
            };
            layoutResource.destroyMulti(params).then(response => {
              this.loading_delete_all = false;
              if (response.status === 200) {
                this.multipleSelection = [];
                this.getLayouts(this.cameraId);
                this.$message({
                  message: "Xóa thành công", // response.message
                  type: "success",
                });
              }
            }).catch(() => {
              this.loading_delete_all = false;
            });
          }).catch(() => {});
      } else {
        this.$notify({
          title: "Lỗi",
          message: "Chưa chọn layout để xóa",
          type: "error",
        });
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.app-container {
  padding: 0px !important;
}
.icon-remove-overlay {
  position: absolute;
  top: 160px;
  left: 95%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.action {
  .el-button--primary {
    background: #1f7ff5;
    border: initial;
    border-radius: 4px;
    width: 147px;
    height: 40px;
    float: right;
    margin-right: 14px;
  }
  .el-button--danger {
    background: #ff6161;
    border: initial;
    border-radius: 4px;
    width: 147px;
    height: 40px;
    float: right;
  }
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #e3e6f0;
  border-radius: 0.35rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12);
}
.card-img-top {
  height: 175px;
  width: 100%;
  min-height: 175px;
  border-top-left-radius: calc(0.35rem - 1px);
  border-top-right-radius: calc(0.35rem - 1px);
}
.card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 10px;
  cursor: pointer;
}
.card-title {
  margin: 0px 0px 12px 0px;
  opacity: 0.87;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.card-create-by {
  margin: 0px 0px 5px 0px;
  opacity: 0.6;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.layout-page {
  .el-form-item {
    margin-bottom: 15px;
  }
  .el-input input {
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    border: solid 1px #9999;
  }
  .el-dialog {
    margin-top: 80px !important;
  }
  .item-left {
    width: 48%;
    float: left;
    margin-right: 2%;
  }
  .item-right {
    width: 48%;
    float: left;
    margin-left: 2%;
  }
  .block-item {
    width: 100%;
    float: left;
  }

  #select-all-delete {
    clear: both;
    height: 63px;
    line-height: 63px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ff4646;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    .el-icon-close {
        font-size: 25px;
        margin-left: 20px;
        margin-right: 35px;
        position: relative;
        top: 4px;
        cursor: pointer;
    }
    button {
      background: #e00000;
      border: initial;
      border-radius: 5px;
      float: right;
      display: inline-block;
      margin-top: 15px;
      margin-right: 15px;
    }
  }
  .action {
    .el-button--primary {
      background: #1f7ff5;
      border: initial;
      border-radius: 4px;
      width: 147px;
      height: 40px;
      float: right;
      margin-right: 14px;
    }
    .el-button--danger {
      background: #ff6161;
      border: initial;
      border-radius: 4px;
      width: 147px;
      height: 40px;
      float: right;
    }
  }
  .filter-container {
    margin-bottom: 45px;
  }
  .search-block {
    text-align: left;
    float: left;
    // width: 100%;
    margin-bottom: 20px;
    .search {
        float: left;
        width: calc(100% - 162px);
      display: inline;
      input{
        width: 272px;
        height: 36px !important;
        line-height: 36px !important;
        border: solid 1px #9999;
        border-radius: 5px;
        padding-left: 40px;
      }
      .el-icon-search {
        line-height: 16px;
        font-size: 19px;
        color: #666;
      }
      span {
        left: 10px;
      }
    }
    button {
      background: #1f7ff5;
      border-radius: 4px;
      height: 40px !important;
      width: 147px;
      margin-left: 15px;
      border-color: #1f7ff5;
      span {
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
}
</style>
