<template>
  <div class="detail-violation-report">
    <div class="header-table-report">
      <h4 style="margin: 10px 0;">Báo cáo chi tiết theo từng loại vi phạm {{title}}</h4>
      <xlsx-workbook class="export-xls">
        <xlsx-sheet
            :collection="sheet.data"
            v-for="sheet in exportData"
            :key="sheet.name"
            :sheet-name="sheet.name"
        />
        <xlsx-download :filename="fileName">
          <el-button type="primary"><i class="el-icon-document"></i> Xuất Excel</el-button>
        </xlsx-download>
      </xlsx-workbook>
    </div>
    <el-table
      ref="multipleTable"
      :data="tableData"
      style="width: 100%"
      v-loading="loading"
  >
    <el-table-column label="STT" prop="index" width="60" />

    <el-table-column :label="level === 3 ? 'Địa phương/Camera' : 'Địa phương'" prop="name" min-width="155" sortable />

    <el-table-column label="Tổng số" width="100" prop="total" sortable />

    <template v-for="v in this.violationTypeLst.filter(e => e.code !== 'UNKNOWN')">
      <el-table-column :key="v.id" :label="v.name" :prop="v.code" sortable>
        <template slot="header">
                <span>
                  <el-tooltip class="item" effect="dark" :content="v.name" placement="top-start">
                    <event-icon width="30px" height="30px" :icon="v.code" />
                  </el-tooltip>
                </span>
        </template>
      </el-table-column>
    </template>

    <el-table-column label="Khác" width="90" prop="UNKNOWN" sortable />
  </el-table>
  </div>
</template>

<script>
import EventIcon from "@/components/EventIcon";
import {XlsxDownload, XlsxSheet, XlsxWorkbook} from "vue-xlsx"
export default {
  name: "detail-violation-report",
  components: {EventIcon, XlsxWorkbook, XlsxSheet, XlsxDownload},
  data () {
    return {
      groupData: [],
      tableData: [],
      loading: true,
      fileName:  'Báo_cáo_chi_tiết_theo_từng_loại_vi_phạm_' + this.title.replaceAll(' ', '_') + '_' + moment().format('YYYY_MM_DD') + '.xlsx',
      exportData: [{
        name: 'Sheet1',
        data: null
      }]
    }
  },
  props: {
    violationTypeLst: {
      type: Array,
      default () {
        return []
      }
    },
    data: {
      type: Array,
      default () {
        return []
      }
    },
    level: {
      type: Number,
      default: 0
    },
    title: {
      type: String,
      default: ''
    }
  },
  mounted() {
    if (this.data.length) {
      this.init()
    }
  },
  methods: {
    async init() {
      await this.groupBy()
      await this.transformData()
      await this.dataExport(this.tableData)
      this.loading = false
    },
    groupBy () {
      this.data.forEach(element => {
        const val = this.groupData.filter(e => e.districtId === element.districtId).pop()
        const temp = {
          idWard: element.idWard,
          wardName: element.wardName,
          total: element.total,
          cameras: []
        }
        element.eventTypeValueWards.forEach(event => {
          temp[event.eventType] = event.value
        })
        element.cameraEventType.forEach(cam => {
          const item = {
            sourceId: cam.sourceId,
            sourceName: cam.sourceName
          }
          cam.eventTypeValues.forEach(event => {
            item[event.eventType] = event.value
          })
          temp.cameras.push(item)
        })
        if (val) {
          val.wards.push(temp)
          val.total += temp.total
          this.violationTypeLst.forEach(v => {
            val[v.code] = val[v.code] ? val[v.code] + temp[v.code] : temp[v.code]
          })
        } else {
          const item = {
            districtId: element.districtId,
            districtName: element.districtName,
            wards: [temp],
            total: temp.total
          }

          this.violationTypeLst.forEach(v => {
            item[v.code] = item[v.code] ? item[v.code] + temp[v.code] : temp[v.code]
          })

          this.groupData.push(item)
        }
      })
    },
    async transformData() {
      this.groupData.sort((a, b) => a.districtName.localeCompare(b.districtName))
      this.groupData.filter(e => e.total > 0).forEach((e, i) => {
        const item = {
          index: this.romanize(i + 1),
          name: e.districtName,
          total: e.total
        }
        this.violationTypeLst.forEach(v => {
          item[v.code] = e[v.code] ? e[v.code] : 0
        })
        this.tableData.push(item)
        if (e.total > 0) {
          e.wards.filter(w => w.total > 0).forEach((w, indexWard) => {
            const item = {
              index: indexWard + 1,
              name: w.wardName,
              total: w.total
            }
            this.violationTypeLst.forEach(v => {
              item[v.code] = w[v.code]
            })
            this.tableData.push(item)
            if (w.total > 0 && this.level === 3) {
              w.cameras.forEach((c, indexCamera) => {
                const item = {
                  index: (indexWard + 1) + '.' + (indexCamera + 1),
                  name: c.sourceName,
                  total: 0
                }
                this.violationTypeLst.forEach(v => {
                  item[v.code] = c[v.code]
                  item.total += c[v.code]
                })
                this.tableData.push(item)
              })
            }
          })
        }
      })
    },
    romanize (num) {
      if (isNaN(num))
        return NaN;
      var digits = String(+num).split(""),
          key = ["","C","CC","CCC","CD","D","DC","DCC","DCCC","CM",
            "","X","XX","XXX","XL","L","LX","LXX","LXXX","XC",
            "","I","II","III","IV","V","VI","VII","VIII","IX"],
          roman = "",
          i = 3;
      while (i--)
        roman = (key[+digits.pop() + (i * 10)] || "") + roman;
      return Array(+digits.join("") + 1).join("M") + roman;
    },
    dataExport(data) {
      let self = this;
      if (data && data.length > 0) {
        self.exportData[0].data = [];
        data.forEach(function (item, ind) {
          let itemImport = {
            STT: item.index
          };
          itemImport[self.level === 3 ? 'Địa phương/Camera' : 'Địa phương'] = item.name
          itemImport['Tổng số'] = item.total
          self.violationTypeLst.forEach((v) => {
            itemImport[v.name] = item[v.code];
          });

          // console.log(self.sheets)
          self.exportData[0].data.push(itemImport);
        });
      } else {
        self.exportData[0].data = [];
        let itemImport = {
          STT: ''
        };
        itemImport[self.level === 3 ? 'Địa phương/Camera' : 'Địa phương'] = ''
        itemImport['Tổng số'] = ''
        self.violationTypeLst.forEach((v) => {
          itemImport[v.name] = "";
        });

        // console.log(self.sheets)
        self.exportData[0].data.push(itemImport);
      }
    },
  }
}
</script>

<style lang="scss">
.detail-violation-report {
  background: white;
  /*padding: 25px;*/
  margin-top: 20px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
  thead {
    th {
      img {
        position: relative;
        top: 4px;
        margin-left: 5px;
      }
      img.dentinhieu {
        top: 7px;
      }
      span {
        display: inline-block;
        svg {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
  .header-table-report {
    float: left;
    width: 100%;
    border-bottom: 2px solid #ded4d4;
    margin-bottom: 10px;
    padding: 10px 25px;
    h4 {
      float: left;
      margin: 10px 25px;
      font-size: 18px;
      color: #222;
    }
    .el-select {
      float: left;
      width: 140px;
      input {
        height: 40px;
      }
    }
    .export-xls {
      float: right;
      button {
        background: #1f7ff5;
        border-radius: 4px;
        height: 40px;
        color: white;
        font-weight: 500;
      }
    }
  }
  .el-table th > .cell {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: 500;
  }
  .el-table tr > th,
  .el-table tr > td {
    padding-left: 5px;
  }
  .el-table {
    tr {
      td:first-child {
        text-align: center !important;
      }
      td:nth-child(2), td:nth-child(3) {
        text-align: left;
      }
      td {
        text-align: center;
      }
    }
  }
}
</style>
