<template>
  <div class="detail-process-violation-report">
    <div class="header-table-report">
      <h4 style="margin: 10px 0;">Báo cáo xử lý vi phạm {{title}}</h4>
      <xlsx-workbook class="export-xls">
        <xlsx-sheet
            :collection="sheet.data"
            v-for="sheet in exportData"
            :key="sheet.name"
            :sheet-name="sheet.name"
        />
        <xlsx-download :filename="fileName">
          <el-button type="primary"><i class="el-icon-document"></i> Xuất Excel</el-button>
        </xlsx-download>
      </xlsx-workbook>
    </div>
    <el-table
        ref="multipleTable"
        :data="tableData"
        v-loading="loading"
        style="width: 100%">
      <el-table-column label="STT" prop="index" width="80" />

      <el-table-column :label="level === 3 ? 'Địa phương/Trạng thái' : 'Địa phương'" prop="name" min-width="155" sortable />

      <el-table-column label="Tổng số" prop="total" sortable/>

      <el-table-column prop="bike" sortable>
        <template slot="header">
          <span>Xe đạp <img src="@/assets/images/report/circle.png"/></span>
        </template>
      </el-table-column>

      <el-table-column prop="motorbike" label="Xe máy" sortable>
        <template slot="header">
          <span>Xe máy <img src="@/assets/images/report/motorcycle.png"/></span>
        </template>
      </el-table-column>

      <el-table-column prop="bus" label="Xe bus" sortable>
        <template slot="header">
          <span>Xe bus <img src="@/assets/images/report/bus.png"/></span>
        </template>
      </el-table-column>

      <el-table-column prop="truck" label="Xe tải" sortable>
        <template slot="header">
          <span>Xe tải <img src="@/assets/images/report/truck.png"/></span>
        </template>
      </el-table-column>

      <el-table-column prop="car" label="Ô tô" sortable>
        <template slot="header">
          <span>Ô tô <img src="@/assets/images/report/car.png"/></span>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import {XlsxDownload, XlsxSheet, XlsxWorkbook} from "vue-xlsx"
export default {
  name: "detail-process-violation-report",
  components: {XlsxWorkbook, XlsxSheet, XlsxDownload},
  data () {
    return {
      tableData: [],
      dataTransform: [],
      vehicle: ['bike', 'motorbike', 'bus', 'truck', 'car'],
      loading: true,
      fileName:  'Báo_cáo_xử_lý_vi_phạm_' + this.title.replaceAll(' ', '_') + '_' + moment().format('YYYY_MM_DD') + '.xlsx',
      exportData: [{
        name: 'Sheet1',
        data: null
      }]
    }
  },
  props: {
    data: {
      type: Array,
      default () {
        return []
      }
    },
    level: {
      type: Number,
      default: 0
    },
    title: {
      type: String,
      default: ''
    }
  },
  mounted() {
    if (this.data.length) {
      this.init()
    }
  },
  methods: {
    async init() {
      await this.transformData()
      await this.transformToTableData(this.data)
      await this.dataExport(this.tableData)
      this.loading = false
    },
    transformData() {
      this.data.map(d => {
        d.name = d.districtName
        d.total = 0
        this.vehicle.forEach(v => d[v] = 0)
        d.wards.map(w => {
          w.name = w.wardName
          w.total = 0
          this.vehicle.forEach(v => w[v] = 0)
          w.objectTypeValueList.map(o => {
            o.total = 0
            o.name = o.processStatus
            o.objectTypeValueList.forEach(obj => {
              o[obj.objectType] = obj.value
              o.total += obj.value
            })
            this.vehicle.forEach(v => w[v] += o[v])
            w.total += o.total
          })
          this.vehicle.forEach(v => d[v] += w[v])
          d.total += w.total
        })
      })
    },
    transformToTableData(data) {
      data.filter(d => d.total > 0).forEach((d, index) => {
        const item = {
          index:  this.romanize( index + 1),
          name: d.name,
          total: d.total
        }
        this.vehicle.forEach(v => item[v] = d[v])
        this.tableData.push(item)
        if (item.total > 0) {
          d.wards.filter(w => w.total > 0).forEach((w, indexWard) => {
            const item2 = {
              index: indexWard + 1,
              name: w.name,
              total: w.total
            }
            this.vehicle.forEach(v => item2[v] = w[v])
            this.tableData.push(item2)
            if (item2.total > 0 && this.level === 3) {
              w.objectTypeValueList.forEach((o, indexObject) => {
                const item3 = {
                  index: (indexWard + 1) + '.' + (indexObject + 1),
                  name: o.name,
                  total: o.total
                }
                this.vehicle.forEach(v => item3[v] = o[v])
                this.tableData.push(item3)
              })
            }
          })
        }
      })
    },
    romanize (num) {
      if (isNaN(num))
        return NaN;
        var digits = String(+num).split(""),
        key = ["","C","CC","CCC","CD","D","DC","DCC","DCCC","CM",
            "","X","XX","XXX","XL","L","LX","LXX","LXXX","XC",
            "","I","II","III","IV","V","VI","VII","VIII","IX"],
        roman = "",
        i = 3;
      while (i--)
        roman = (key[+digits.pop() + (i * 10)] || "") + roman;
      return Array(+digits.join("") + 1).join("M") + roman;
    },
    dataExport(data) {
      let self = this
      if (data && data.length > 0) {
        self.exportData[0].data = []
        data.forEach(function (item) {
          let itemImport = {
            'STT': item.index,
            // 'Vị trí': item.siteAddress,
          }
          itemImport[self.level === 3 ? 'Địa phương/Trạng thái' : 'Địa phương'] = item.name
          itemImport['Tổng số'] = item.total
          itemImport['Xe đạp'] = item["bike"]
          itemImport['Xe máy'] = item["motorbike"]
          itemImport['Xe bus'] = item["bus"]
          itemImport['Xe tải'] = item["truck"]
          itemImport['Ô tô'] = item["car"]
          // console.log(self.sheets)
          self.exportData[0].data.push(itemImport)
        })
      } else {
        self.exportData[0].data = []
        let itemImport = {
          'STT': '',
          // 'Vị trí': item.siteAddress,
        }
        itemImport[self.level === 3 ? 'Địa phương/Trạng thái' : 'Địa phương'] = ''
        itemImport['Tổng số'] = ''
        itemImport['Xe đạp'] = ''
        itemImport['Xe máy'] = ''
        itemImport['Xe bus'] = ''
        itemImport['Xe tải'] = ''
        itemImport['Ô tô'] = ''
        // console.log(self.sheets)
        self.exportData[0].data.push(itemImport)
      }
    },
  }
}
</script>

<style scoped>

</style>
