<template>
  <div class="filter-group-action">
    <el-form ref="form" :model="filter" :rules="rules">
      <div class="date-filter">
        <el-form-item label="Thời gian" prop="date">
          <el-date-picker
            type="datetimerange"
            range-separator="-"
            v-model="filter.date"
            start-placeholder="Bắt đầu"
            format="yyyy-MM-dd HH:mm:ss"
            end-placeholder="Kết thúc"
          >
          </el-date-picker>
        </el-form-item>
        <el-form-item label="Vị trí">
          <el-select
            v-model="filter.sites"
            @change="getCameraList()"
            multiple
            placeholder="Chọn vị trí"
          >
            <el-option
              v-for="item in siteLst"
              :key="item.id"
              :label="item.name"
              :value="item.id"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="Thiết bị">
          <el-select
            v-model="filter.cameras"
            multiple
            placeholder="Chọn thiết bị"
          >
            <el-option
              v-for="item in cameraLst"
              :key="item.id"
              :label="item.name"
              :value="item.id"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item class="action">
          <el-button type="info" @click="refresh()">
            <i class="el-icon-refresh"></i>
            Làm mới
          </el-button>
          <el-button type="primary" @click="search()">Áp dụng</el-button>
        </el-form-item>
      </div>
    </el-form>
  </div>
</template>

<script>
import Resource from "@/api/resource";

const cameraResource = new Resource("systemconfig/camera/sites");
const siteResource = new Resource("systemconfig/sites/sites-traffic-status");
const categoryResource = new Resource("systemconfig/category");

export default {
  data() {
    return {
      visible: false,
      loading: false,
      siteLst: [],
      cameraLst: [],
      vehicleTypeLst: [],
      objectTypeLst: [],
      filter: {
        plate: null,
        vehicleType: null,
        date: [
          this.getDateString() + " 00:00:00",
          this.getDateString() + " 23:59:59",
        ],
        sites: [],
        cameras: [],
      },
      rules: {
        date: [
          {
            required: true,
            message: "Khoảng thời gian tìm kiếm là bắt buộc",
            trigger: "blur",
          },
        ],
      },
    };
  },
  created() {
    this.init();
  },
  methods: {
    async init() {
      await this.getSiteList();
      await this.getVehicleTypeList();
      await this.getCollectionList();
    },
    async getSiteList() {
      let result = await siteResource.list();
      if (result && result.data) {
        this.siteLst = result.data.filter(data => data.totalCamera > 0);
      }
    },
    handleFilterCam(f) {
      let valid = false;
      this.cameraLst.forEach((data) => {
        if (data.id == f) {
          valid = true;
          return;
        }
      });
      return valid;
    },
    async getCameraList() {
      let siteIds = [];
      this.filter.sites.map((site) => {
        siteIds.push(site);
      });
      let queryCustom = {
        siteIds: siteIds.join(),
      };
      let result = await cameraResource.list(queryCustom);
      if (result && result.data) {
        this.cameraLst = result.data;
      } else {
        this.cameraLst = [];
      }

      if (!this.cameraLst.length || this.cameraLst.length == 0) {
        this.filter.cameras = [];
      } else
        this.filter.cameras = this.filter.cameras.filter((f) =>
          this.handleFilterCam(f)
        );
    },
    async getVehicleTypeList() {
      let queryCustom = {
        catType: "VEHICLE",
      };
      let result = await categoryResource.list(queryCustom);
      if (result && result.data) {
        this.vehicleTypeLst = result.data;
        this.vehicleTypeLst.unshift({ id: "", code: null, name: "Tất cả" });
      }
    },
    async getCollectionList() {
      let queryCustom = {
        catType: "COLLECTION",
      };
      let result = await categoryResource.list(queryCustom);
      if (result && result.data) {
        this.objectTypeLst = result.data;
        this.objectTypeLst.unshift({ id: "", name: "Tất cả" });
      }
    },

    search() {
      let queryCustom = {
        startDate: null,
        endDate: null,
        site: null,
        camera: null,
        plate: this.filter.plate,
        vehicleType: this.filter.vehicleType,
      };
      if (this.filter.date) {
        let startDate = moment(this.filter.date[0]).format(
          "YYYY-MM-DD HH:mm:ss"
        );
        let endDate = moment(this.filter.date[1]).format("YYYY-MM-DD HH:mm:ss");
        queryCustom.startDate = startDate;
        queryCustom.endDate = endDate;
      }
      if (this.filter.sites && this.filter.sites.length > 0) {
        queryCustom.site = this.filter.sites.toString();
      }
      if (this.filter.cameras && this.filter.cameras.length > 0) {
        queryCustom.camera = this.filter.cameras.toString();
      }
      this.visible = false;
      this.$emit("clicked", queryCustom);
    },
    refresh() {
      this.filter = {
        plate: null,
        vehicleType: null,
        date: [
          this.getDateString() + " 00:00:00",
          this.getDateString() + " 23:59:59",
        ],
        sites: [],
        cameras: [],
      };
    },

    getDateString() {
      let today = new Date();
      let dd = String(today.getDate()).padStart(2, "0");
      let mm = String(today.getMonth() + 1).padStart(2, "0"); //January is 0!
      let yyyy = today.getFullYear();
      today = yyyy + "-" + mm + "-" + dd;
      return today;
    },
  },
};
</script>
