<template>
  <div
    id="traffic-filter"
    class="traffic-filter"
    :class="{ 'justify-content-space': isJustifyContentSpace }"
  >
    <div class="item-filter time">
      <div
        class="item day"
        :class="{ active: searchQuery.flag_time == 'day' }"
        @click="changeTime('day')"
      >
        Ngày
      </div>
      <div
        class="item week"
        :class="{ active: searchQuery.flag_time == 'week' }"
        @click="changeTime('week')"
      >
        Tuần
      </div>
      <div
        class="item month"
        :class="{ active: searchQuery.flag_time == 'month' }"
        @click="changeTime('month')"
      >
        Tháng
      </div>
      <div
        class="item year"
        :class="{ active: searchQuery.flag_time == 'year' }"
        @click="changeTime('year')"
      >
        Năm
      </div>
    </div>
    <div class="item-filter report-filter-select report-time-select">
      <el-select
        v-model="searchQuery.timeRangerValue"
        :disabled="searchQuery.date != null"
        placeholder="- Lựa chọn -"
      >
        <el-option
          v-for="item in timeRanger"
          :key="item.value"
          :label="item.label"
          :value="item.value"
        >
        </el-option>
      </el-select>
    </div>
    <div class="date-filter item-filter">
      <el-date-picker
        v-model="searchQuery.date"
        type="daterange"
        format="dd-MM-yyyy"
        range-separator="-"
        start-placeholder="Từ ngày"
        end-placeholder="Đến ngày"
      >
      </el-date-picker>
    </div>
    <div class="report-filter-select item-filter">
      <el-select
        v-model="searchQuery.districtId"
        @change="changeDistrict"
        filterable
        placeholder="Quận/Huyện"
      >
        <el-option
          v-for="item in districts"
          :key="item.id"
          :label="item.name"
          :value="item.id"
        />
      </el-select>
    </div>
    <div class="report-filter-select item-filter">
      <el-select
        v-model="searchQuery.wardId"
        filterable
        @change="changeWard"
        placeholder="Phường/Xã"
      >
        <el-option
          v-for="item in wards"
          :key="item.id"
          :label="item.name"
          :value="item.id"
        />
      </el-select>
    </div>
    <div class="report-filter-select report-address-select item-filter">
      <el-select
        @change="filterAddress()"
        v-model="searchQuery.addressValue"
        :class="{
          multi:
            searchQuery.addressValue && searchQuery.addressValue.length > 1,
        }"
        multiple
        collapse-tags
        placeholder="Địa điểm"
      >
        <el-option
          v-for="item in address"
          :key="item.id"
          :label="item.name"
          :value="item.id"
        >
        </el-option>
      </el-select>
    </div>
    <div class="report-filter-select report-camera-select item-filter">
      <el-select
        v-model="searchQuery.cameraValue"
        :class="{
          multi: searchQuery.cameraValue && searchQuery.cameraValue.length > 1,
        }"
        multiple
        collapse-tags
        placeholder="Thiết bị"
      >
        <el-option
          v-for="item in resultQueryCam"
          :key="item.id"
          :label="item.name"
          :value="item.id"
        >
        </el-option>
      </el-select>
    </div>
    <div class="report-filter-select report-vehicle-select item-filter">
      <el-select
        v-model="searchQuery.vehicleValue"
        :class="{
          multi:
            searchQuery.vehicleValue && searchQuery.vehicleValue.length > 1,
        }"
        multiple
        collapse-tags
        placeholder="Phương tiện"
      >
        <el-option
          v-for="item in vehicle"
          :key="item.code"
          :label="item.name"
          :value="item.code"
        >
        </el-option>
      </el-select>
    </div>
    <div id="action-report" class="action-report item-filter">
      <el-button type="primary" class="report" @click="Search()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="14.951"
          height="14.951"
          viewBox="0 0 14.951 14.951"
        >
          <path
            fill="#fff"
            d="M9.869 3h.787a6.3 6.3 0 0 1 6.3 6.3v.787H9.869zm.787 6.3h5.508a5.508 5.508 0 0 0-5.508-5.508zM8.3 11.656h6.3a6.3 6.3 0 1 1-6.3-6.3zm-.787.787V6.2a5.509 5.509 0 1 0 6.24 6.24z"
            transform="translate(-2 -3)"
          />
        </svg>
        Báo cáo
      </el-button>
      <el-button type="success" class="refresh" @click="refresh()"
        ><i class="el-icon-refresh"></i> Làm mới</el-button
      >
    </div>
  </div>
</template>
<script type="text/javascript">
import Resource from "@/api/resource";

const siteResource = new Resource("systemconfig/sites/sites-traffic-status");
const groupCameraResource = new Resource("systemconfig/camera");
const categoryResource = new Resource("systemconfig/category");
const camforSiteResource = new Resource("systemconfig/camera/site-list");

const districtsResource = new Resource(
  "management/process-violations/districts"
);
const wardsResource = new Resource("management/process-violations/wards");

export default {
  data() {
    return {
      day: [
        { value: 1, label: "1 ngày trước" },
        { value: 2, label: "2 ngày trước" },
        { value: 3, label: "3 ngày trước" },
      ],
      week: [
        { value: 1, label: "1 tuần trước" },
        { value: 2, label: "2 tuần trước" },
        { value: 3, label: "3 tuần trước" },
      ],
      month: [
        { value: 1, label: "1 tháng trước" },
        { value: 2, label: "2 tháng trước" },
        { value: 3, label: "3 tháng trước" },
      ],
      year: [
        { value: 1, label: "1 năm trước" },
        { value: 2, label: "2 năm trước" },
        { value: 3, label: "3 năm trước" },
      ],
      isJustifyContentSpace: true,
      address: [],
      originAddress: [],
      camera: [],
      originCamera: [],
      vehicle: [],
      listCamId: null,
      timeRanger: null,
      districts: [],
      wards: [],
      searchQuery: {
        cameraValue: null,
        addressValue: null,
        vehicleValue: null,
        date: null,
        flag_time: "day",
        timeRangerValue: 1,
        districtId: null,
        wardId: null,
      },
    };
  },
  async created() {
    this.timeRanger = this.day;
    await this.getDistricts(19);
    await this.getSite();
    this.getGroupCam();
    this.getVehicleTypeList();
    window.addEventListener("resize", this.detectWidth);
  },
  destroyed() {
    window.removeEventListener("resize", this.detectWidth);
  },
  mounted() {
    this.detectWidth();
  },
  watch: {
    "$store.state.app.sidebar.opened": function () {
      this.detectWidth();
    },
  },
  computed: {
    resultQueryCam() {
      if (
        this.listCamId &&
        this.searchQuery.addressValue &&
        this.searchQuery.addressValue.length > 0
      ) {
        return this.camera.filter((item) => {
          return this.listCamId.includes(item.id);
        });
      } else {
        return this.camera;
      }
    },
  },
  methods: {
    changeTime(flag_time) {
      this.searchQuery.timeRangerValue = 1;
      this.searchQuery.flag_time = flag_time;
      if (flag_time == "day") {
        this.timeRanger = this.day;
      }
      if (flag_time == "week") {
        this.timeRanger = this.week;
      }
      if (flag_time == "month") {
        this.timeRanger = this.month;
      }
      if (flag_time == "year") {
        this.timeRanger = this.year;
      }
    },
    Search() {
      let searchQuery = _.cloneDeep(this.searchQuery);
      if (searchQuery.addressValue.length) {
        searchQuery.addressValue = searchQuery.addressValue.toString();
      }
      if (searchQuery.districtId && searchQuery.addressValue.length === 0) {
        if (this.address.length) {
          searchQuery.addressValue = this.address.map((a) => a.id).join(",");
        }
      }

      if (searchQuery.cameraValue.length) {
        searchQuery.cameraValue = searchQuery.cameraValue.toString();
      }

      if (searchQuery.districtId && searchQuery.cameraValue.length === 0) {
        if (this.resultQueryCam.length > 0) {
          searchQuery.cameraValue = this.resultQueryCam
            .map((a) => a.id)
            .join(",");
        } else {
          searchQuery.cameraValue = "-1";
        }
      }

      if (searchQuery.vehicleValue) {
        searchQuery.vehicleValue = searchQuery.vehicleValue.toString();
      }
      this.$emit("search", searchQuery);
    },
    refresh() {
      this.searchQuery.flag_time = "day";
      this.searchQuery.timeRanger = this.day;
      this.searchQuery.addressValue = null;
      this.searchQuery.vehicleValue = null;
      this.searchQuery.cameraValue = null;
      this.searchQuery.date = null;
      this.searchQuery.timeRangerValue = 1;
      this.searchQuery.districtId = null;
      this.searchQuery.wardId = null;
      this.camera = this.originCamera;
      this.address = this.originAddress;
      this.wards = [];
      this.$emit("search", this.searchQuery);
    },
    async changeProvince(provinces) {
      this.searchQuery.districtId = null;
      this.searchQuery.wardId = null;
      this.address = this.originAddress.filter(
        (a) => a.provinceId === provinces
      );
      this.searchQuery.addressValue = [];
      this.searchQuery.cameraValue = [];
      this.filterCamera();
      await this.getDistricts(provinces);
    },
    async getDistricts(provinces) {
      let params = {
        provinceId: provinces,
      };
      let result = await districtsResource.list(params);
      if (result && result.data) {
        this.districts = result.data;
      }
    },
    async changeDistrict(districts) {
      this.searchQuery.wardId = null;
      this.address = this.originAddress.filter(
        (a) => a.districtId === districts
      );
      this.searchQuery.addressValue = [];
      this.searchQuery.cameraValue = [];
      this.filterCamera();
      await this.getWards(districts);
    },
    async getWards(districts) {
      let params = {
        districtId: districts,
      };
      let result = await wardsResource.list(params);
      if (result && result.data) {
        this.wards = result.data;
      }
    },
    async changeWard(ward) {
      this.address = this.originAddress.filter((a) => a.wardId === ward);
      this.searchQuery.addressValue = [];
      this.searchQuery.cameraValue = [];
      this.filterCamera();
    },
    filterCamera() {
      const listAddressId = this.address.map((a) => a.id);
      this.camera = this.originCamera.filter((c) => {
        if (c.site === null) return false;
        return listAddressId.includes(c.site.id);
      });
    },
    getSite() {
      let queryCustom = {
        page: 0,
        size: 1000,
      };
      siteResource
        .list(queryCustom)
        .then((response) => {
          this.originAddress = response.data.filter(data => data.totalCamera > 0);
          this.address = response.data.filter(data => data.totalCamera > 0);
        })
        .catch((err) => {
          console.log(err);
        });
    },
    getGroupCam() {
      let queryCustom = {
        page: 0,
        size: 1000,
        getfull: true,
      };
      groupCameraResource
        .list(queryCustom)
        .then((response) => {
          this.camera = response.data;
          this.originCamera = response.data;
        })
        .catch((err) => {
          console.log(err);
        });
    },
    getVehicleTypeList() {
      let queryCustom = {
        catType: "VEHICLE",
      };
      categoryResource
        .list(queryCustom)
        .then((response) => {
          this.vehicle = response.data;
        })
        .catch((err) => {
          console.log(err);
        });
    },
    filterAddress() {
      let siteIdList = null;
      if (this.searchQuery.addressValue) {
        siteIdList = this.searchQuery.addressValue.toString();
      }
      let queryCustom = {
        siteIdList: siteIdList,
      };
      camforSiteResource
        .list(queryCustom)
        .then((response) => {
          this.listCamId = response.data;
        })
        .catch((err) => {
          console.log(err);
        });
    },
    detectWidth() {
      setTimeout(() => {
        this.isJustifyContentSpace =
          document.getElementById("traffic-filter").clientWidth > 1617;
      }, 180);
    },
  },
};
</script>
<style type="text/css" lang="scss">
.traffic-filter.justify-content-space {
  .action-report {
    width: calc(100% - 1417px);
    justify-content: flex-end;
  }
}
.traffic-filter {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;

  .el-input__inner {
    min-height: 40px !important;
    line-height: 40px !important;
  }

  .el-range__close-icon {
    position: relative;
    top: 3px;
  }

  .el-icon-date {
    line-height: 35px !important;
    display: none;
  }

  .date-filter {
    .el-input__inner {
      padding-right: 0 !important;
      width: 203px;
    }

    .el-range-separator {
      line-height: 30px;
      width: 15px;
      color: #999;
    }
  }

  .action-report {
    display: flex;
    min-width: 200px;
    button {
      border-radius: 4px;
      height: 40px;
      line-height: 20px;
      font-size: 13px;
      width: 95px;
      padding: 0 13px;
      span {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    .report {
      background: #1f7ff5;
      border: 1px solid #1f7ff5;
    }

    .refresh {
      background: #26c6da;
      border: 1px solid #26c6da;
    }
  }

  .report-filter-select {
    .el-input {
      width: 150px;
    }
  }

  .report-time-select {
    .el-input {
      width: 130px;
    }
  }

  .report-address-select {
    .multi {
      .el-select__tags {
        span span span {
          max-width: 37px;
        }
      }
    }

    .el-select__tags {
      span span span {
        max-width: 109px;
        overflow: hidden;
        display: inline-block;
        float: left;
        text-overflow: ellipsis;
      }
    }
  }

  .report-camera-select {
    .multi {
      .el-select__tags {
        span span span {
          max-width: 25px;
        }
      }
    }

    .el-select__tags {
      span span span {
        max-width: 69px;
        overflow: hidden;
        display: inline-block;
        float: left;
        text-overflow: ellipsis;
      }
    }
  }

  .report-vehicle-select {
    .multi {
      .el-select__tags {
        span span span {
          max-width: 25px;
        }
      }
    }

    .el-select__tags {
      span span span {
        max-width: 69px;
        overflow: hidden;
        display: inline-block;
        float: left;
        text-overflow: ellipsis;
      }
    }
  }
}
</style>
<style type="text/css" lang="scss" scoped>
.traffic-filter {
  .report-filter-select {
    span {
      font-size: 14px;
      font-weight: bold;
      //margin-left: 10px;
      //margin-right: 10px;
      color: #363030;
    }
  }

  .date-filter {
  }

  .time {
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    /*border: 1px solid #ded6d6;*/
    border: 1px solid rgb(224, 227, 234);
    min-width: 214px;

    .item {
      float: left;
      padding-left: 10px;
      padding-right: 10px;
      font-size: 14px;
      cursor: pointer;
      height: 100%;
    }

    .item.active {
      background: #006fe3;
      color: white;
    }

    .year {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    .day {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
  }

  .time * {
    box-sizing: border-box;
  }
}
</style>
