<template>
  <div id='violation-filter' class="violation-filter" :class="{ 'justify-content-space' : isJustifyContentSpace }">
    <div class="item-filter time">
      <div class="item day" :class="{active: searchQuery.flag_time=='day'}" @click="changeTime('day')">Ngày</div>
      <div class="item week" :class="{active: searchQuery.flag_time=='week'}" @click="changeTime('week')">Tuần</div>
      <div class="item month" :class="{active: searchQuery.flag_time=='month'}" @click="changeTime('month')">Tháng</div>
      <div class="item year" :class="{active: searchQuery.flag_time=='year'}" @click="changeTime('year')">Năm</div>
    </div>
    <div class="item-filter report-filter-select report-time-select">
      <el-select v-model="searchQuery.timeRangerValue" :disabled="searchQuery.date!=null" placeholder="- Lựa chọn -">
        <el-option
            v-for="item in timeRanger"
            :key="item.value"
            :label="item.label"
            :value="item.value">
        </el-option>
      </el-select>
    </div>
    <div class="date-filter item-filter">
      <el-date-picker
          v-model="searchQuery.date"
          type="daterange"
          format="dd-MM-yyyy"
          range-separator="-"
          start-placeholder="Từ ngày"
          end-placeholder="Đến ngày">
      </el-date-picker>
    </div>
    <div class="report-filter-select item-filter">
      <el-select v-model="searchQuery.districtId" @change="changeDistrict" filterable placeholder="Quận/Huyện">
      <el-option v-for="item in districts" :key="item.id" :label="item.name" :value="item.id"/>
    </el-select>
    </div>
    <div class="report-filter-select item-filter">
      <el-select v-model="searchQuery.wardId" filterable @change="changeWard" placeholder="Phường/Xã">
      <el-option v-for="item in wards" :key="item.id" :label="item.name" :value="item.id"/>
    </el-select>
    </div>
    <div class="report-filter-select report-address-select item-filter">
      <el-select @change="filterAddress()" v-model="searchQuery.addressValue"
                 :class="{multi: searchQuery.addressValue&&searchQuery.addressValue.length>1}" multiple collapse-tags
                 placeholder="Địa điểm">
        <el-option
            v-for="item in address"
            :key="item.id"
            :label="item.name"
            :value="item.id">
        </el-option>
      </el-select>
    </div>
    <div class="report-filter-select report-camera-select item-filter">
      <el-select v-model="searchQuery.cameraValue"
                 :class="{multi: searchQuery.cameraValue&&searchQuery.cameraValue.length>1}" multiple collapse-tags
                 placeholder="Thiết bị">
        <el-option
            v-for="item in resultQueryCam"
            :key="item.id"
            :label="item.name"
            :value="item.id">
        </el-option>
      </el-select>
    </div>
    <div class="report-filter-select report-vehicle-select item-filter">
      <el-select v-model="searchQuery.vehicleValue"
                 :class="{multi: searchQuery.vehicleValue&&searchQuery.vehicleValue.length>1}" multiple collapse-tags
                 placeholder="Phương tiện">
        <el-option
            v-for="item in vehicle"
            :key="item.code"
            :label="item.name"
            :value="item.code">
        </el-option>
      </el-select>
    </div>
    <div class="report-filter-select report-vehicle-select item-filter">
      <el-select v-model="searchQuery.typeViolationValue" multiple collapse-tags
                 :class="{multi: searchQuery.typeViolationValue&&searchQuery.typeViolationValue.length>1}"
                 placeholder="Loại vi phạm">
        <el-option
            v-for="item in TypeViolation"
            :key="item.code"
            :label="item.name"
            :value="item.code">
        </el-option>
      </el-select>
    </div>
    <div class="report-filter-select report-detail-select item-filter">
      <el-checkbox v-model="detailChecked" @change="changeDetail">Chi tiết</el-checkbox>
    </div>
    <div id="action-report" class="action-report item-filter">
      <el-button type="primary" class="report" @click="search">
        <svg xmlns="http://www.w3.org/2000/svg" width="14.951" height="14.951" viewBox="0 0 14.951 14.951">
          <path fill="#fff" d="M9.869 3h.787a6.3 6.3 0 0 1 6.3 6.3v.787H9.869zm.787 6.3h5.508a5.508 5.508 0 0 0-5.508-5.508zM8.3 11.656h6.3a6.3 6.3 0 1 1-6.3-6.3zm-.787.787V6.2a5.509 5.509 0 1 0 6.24 6.24z" transform="translate(-2 -3)"/>
        </svg>
        Báo cáo
      </el-button>
      <el-button type="success" class="refresh" @click="refresh()"><i class="el-icon-refresh"></i> Làm mới</el-button>
    </div>
  </div>
</template>
<script type="text/javascript">
import Resource from "@/api/resource"

const siteResource = new Resource("systemconfig/sites/sites-traffic-status")
const groupCameraResource = new Resource("systemconfig/camera")
const categoryResource = new Resource("systemconfig/category")
const camforSiteResource = new Resource("systemconfig/camera/site-list")

const districtsResource = new Resource("management/process-violations/districts");
const wardsResource = new Resource("management/process-violations/wards-by-province");
export default {
  data() {
    return {
      day: [
        {value: 1, label: '1 ngày trước'},
        {value: 2, label: '2 ngày trước'},
        {value: 3, label: '3 ngày trước'}
      ],
      week: [
        {value: 1, label: '1 tuần trước'},
        {value: 2, label: '2 tuần trước'},
        {value: 3, label: '3 tuần trước'}
      ],
      month: [
        {value: 1, label: '1 tháng trước'},
        {value: 2, label: '2 tháng trước'},
        {value: 3, label: '3 tháng trước'}
      ],
      year: [
        {value: 1, label: '1 năm trước'},
        {value: 2, label: '2 năm trước'},
        {value: 3, label: '3 năm trước'}
      ],
      isJustifyContentSpace: true,
      address: [],
      allAddress: [],
      camera: [],
      allCamera: [],
      vehicle: [],
      timeRanger: null,
      detailChecked: false,
      listCamId: null,
      districts: [],
      wards: [],
      allWard: [],
      wardCameras: {},
      searchQuery: {
        cameraValue: null,
        addressValue: null,
        vehicleValue: null,
        typeViolationValue: null,
        date: null,
        flag_time: 'day',
        timeRangerValue: 1,
        districtId: null,
        wardId: null,
        title: ''
      }
    }
  },
  async created() {
    this.timeRanger = this.day
    await this.getDistricts(19);
    await this.getWards(19)
    await this.getSite()
    await this.getGroupCam()
    await this.detectCameraByAdministrativeBoundaries()
    this.getVehicleTypeList()
  },
  destroyed() {
    window.removeEventListener("resize", this.detectWidth)
  },
  mounted() {
    window.addEventListener("resize", this.detectWidth)
    this.detectWidth()
  },
  watch: {
    '$store.state.app.sidebar.opened': function () {
      this.detectWidth()
    }
  },
  computed: {
    resultQueryCam() {
      if (this.listCamId && this.searchQuery.addressValue && this.searchQuery.addressValue.length > 0) {
        return this.camera.filter((item) => {
          return this.listCamId.includes(item.id)
        })
      } else {
        return this.camera;
      }
    },
  },
  props: {
    TypeViolation: {
      type: Array,
      default() {
        return []
      }
    }
  },
  methods: {
    changeTime(flag_time) {
      this.searchQuery.timeRangerValue = 1
      this.searchQuery.flag_time = flag_time
      this.timeRanger = this[flag_time]
    },

    search() {
      let searchQuery = _.cloneDeep(this.searchQuery)
      if (searchQuery.addressValue.length) {
        searchQuery.addressValue = searchQuery.addressValue.toString()
      }
      if (searchQuery.districtId && searchQuery.addressValue.length === 0) {
        if (this.address.length) {
          searchQuery.addressValue = this.address.map(a => a.id).join(',')
        }
      }

      if (searchQuery.cameraValue.length) {
        searchQuery.cameraValue = searchQuery.cameraValue.toString()
      }

      if (searchQuery.districtId && searchQuery.cameraValue.length === 0) {
        if (this.resultQueryCam.length > 0) {
          searchQuery.cameraValue = this.resultQueryCam.map(a => a.id).join(',')
        } else {
          searchQuery.cameraValue = "-1"
        }
      }

      if (searchQuery.vehicleValue) {
        searchQuery.vehicleValue = searchQuery.vehicleValue.toString()
      }
      if (searchQuery.typeViolationValue) {
        searchQuery.typeViolationValue = searchQuery.typeViolationValue.toString()
      }

      if (searchQuery.districtId || searchQuery.wardId ) {
        if (searchQuery.districtId === 'all' || searchQuery.wardId === 'all') {
          const keys = Object.keys(this.wardCameras)
          searchQuery.wardCameras = keys.map(k => {
            const ward = this.allWard.filter(w => w.id == k).pop()
            const district = this.districts.filter(d => d.id === ward.districtId).pop()
            return {
              wardName: ward.name,
              idWard: ward.id,
              districtId: district.id,
              districtName: district.name,
              cameraIds: this.wardCameras[ward.id]
            }
          })
          searchQuery.title = 'theo huyện'
        } else {
          if (searchQuery.wardId) {
            const district = this.districts.filter(d => d.id === searchQuery.districtId).pop()
            const ward = district.ward.filter(w => w.id === searchQuery.wardId).pop()
            searchQuery.title = ward.prefix.toLowerCase() + ' ' + ward.name + ' ' + district.prefix.toLowerCase() + ' ' + district.name
            searchQuery.wardCameras = [
              {
                wardName: ward.name,
                idWard: ward.id,
                districtId: district.id,
                districtName: district.name,
                cameraIds: this.wardCameras[ward.id]
              }
            ]
          } else {
            const district = this.districts.filter(d => d.id === searchQuery.districtId).pop()
            searchQuery.title = district.prefix.toLowerCase() + ' ' + district.name
            searchQuery.wardCameras = district.ward.map(k => {
              return {
                wardName: k.name,
                idWard: k.id,
                districtId: district.id,
                districtName: district.name,
                cameraIds: this.wardCameras[k.id]
              }
            })
          }
        }
      }
      this.$emit('search', searchQuery)
    },

    refresh() {
      this.searchQuery.addressValue = null
      this.searchQuery.vehicleValue = null
      this.searchQuery.cameraValue = null
      this.searchQuery.date = null
      this.searchQuery.typeViolationValue = null
      this.searchQuery.timeRangerValue = 1
      this.searchQuery.provinceId = null
      this.searchQuery.districtId = null
      this.searchQuery.wardId = null
      this.searchQuery.wardCameras = null
      this.camera = this.allCamera
      this.address = this.allAddress
      this.wards = []
      this.$emit('search', this.searchQuery)
    },
    async getDistricts(provinces) {``
      let params = {
        provinceId: provinces,
      };
      let result = await districtsResource.list(params);
      if (result && result.data) {
        this.districts = result.data;
        this.districts.unshift({id: 'all', name: 'Tất cả'})
      }
    },
    async changeDistrict(districtId) {
      this.searchQuery.wardId = null;
      this.searchQuery.addressValue = []
      this.searchQuery.cameraValue = []
      if (districtId === 'all') {
        this.wards = _.cloneDeep(this.allWard)
        this.camera = _.cloneDeep(this.allCamera)
        this.address = _.cloneDeep(this.allAddress)
      } else {
        const district = this.districts.filter(d => d.id === districtId).pop()
        this.wards = _.cloneDeep(district.ward)
        let address = []
        district.ward.forEach(w => {
          if (w.site) {
            address = address.concat(w.site)
          }
        })
        this.address = address
        let camera = []
        this.address.forEach(a => camera = camera.concat(a.camera))
        this.camera = camera
      }
      this.wards.unshift({id: 'all', name: 'Tất cả'})
    },
    async getWards(provinces) {
      let params = {
        provinceId: provinces,
      };
      let result = await wardsResource.list(params);
      if (result && result.data) {
        this.allWard = result.data;
      }
    },
    async changeWard(wardId) {
      if (wardId === 'all') {
        this.searchQuery.districtId = 'all'
        this.camera = this.allCamera
        this.address = this.allAddress
      } else {
        if (this.wards.pop().id === 'all') {
          this.wards.shift()
        }
        const ward = this.wards.filter(d => d.id === wardId).pop()
        this.wards = this.allWard.filter(d => d.districtId === ward.districtId)
        this.wards.unshift({id: 'all', name: 'Tất cả'})
        this.searchQuery.districtId = ward.districtId
        this.address = ward.site
        let camera = []
        this.address.forEach(a => camera = camera.concat(a.camera))
        this.camera = camera
        this.searchQuery.addressValue = []
        this.searchQuery.cameraValue = []
      }
    },
    async getSite() {
      let queryCustom = {
        page: 0,
        size: 1000
      };
      const response = await siteResource.list(queryCustom)
      if (response) {
        this.allAddress = response.data.filter(data => data.totalCamera > 0);
        this.address = response.data.filter(data => data.totalCamera > 0);
      }
    },
    async getGroupCam() {
      let queryCustom = {
        page: 0,
        size: 1000
      };
      const response = await groupCameraResource.list(queryCustom)
      if (response) {
        this.camera = response.data
        this.allCamera = response.data
      }
    },
    detectCameraByAdministrativeBoundaries() {
      this.putCameraIntoSite()
      this.putSiteIntoWard()
      this.putWardIntoDistrict()
    },
    putWardIntoDistrict() {
      const self = this
      this.districts.map(d => {
       d.ward = self.allWard.filter(w => w.districtId === d.id)
      })
    },
    putSiteIntoWard() {
      const self = this
      this.allWard.map(d => {
        d.site = self.address.filter(c => c.wardId === d.id)
        d.camera = self.allCamera.filter(c => c.site ? c.site.wardId === d.id : false)
      })
    },
    async putCameraIntoSite() {
      const self = this
      this.address.map(d => {
        d.camera = self.camera.filter(c => {
          if (c.site === null) return false
          return c.site.id === d.id
        })
      })
      await this.generateWardCameras()
    },
    async generateWardCameras () {
      const self = this
      await this.allWard.forEach(w => {
        self.wardCameras[w.id] = []
      })
      await this.allCamera.forEach(c => {
        if (c.site) {
          if (self.wardCameras[c.site.wardId]) {
            self.wardCameras[c.site.wardId].push(c.id)
          }
        }
      })
    },
    getVehicleTypeList() {
      let queryCustom = {
        catType: "VEHICLE",
      };
      categoryResource.list(queryCustom).then(response => {
        this.vehicle = response.data;
      }).catch(err => {
        console.log(err)
      });
    },

    changeDetail() {
      this.$emit('displayDetail', this.detailChecked)
    },

    filterAddress() {
      let siteIdList = null
      if (this.searchQuery.addressValue) {
        siteIdList = this.searchQuery.addressValue.toString()
      }
      let queryCustom = {
        siteIdList: siteIdList
      };
      camforSiteResource.list(queryCustom).then(response => {
        this.listCamId = response.data
      }).catch(err => {
        console.log(err)
      });
    },
    detectWidth () {
      setTimeout(() => {
        this.isJustifyContentSpace = document.getElementById('violation-filter').clientWidth > 1880
      }, 180)
    }
  }
}
</script>
<style type="text/css" lang="scss">
.violation-filter.justify-content-space {
  .action-report {
    width: calc(100% - 1666px);
    justify-content: flex-end;
  }
}
.violation-filter {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  .el-input__inner {
    min-height: 40px !important;
    line-height: 40px !important;
  }

  .el-range__close-icon {
    position: relative;
    top: 3px;
  }

  .el-icon-date {
    line-height: 35px !important;
    display: none;
  }

  .date-filter {
    .el-input__inner {
      padding-right: 0 !important;
      width: 203px;
    }

    .el-range-separator {
      line-height: 30px;
      width: 15px;
      color: #999;
    }
  }

  .action-report {
    display: flex;
    min-width: 200px;
    button {
      border-radius: 4px;
      height: 40px;
      line-height: 20px;
      font-size: 13px;
      width: 95px;
      padding: 0 13px;
      span {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    .report {
      background: #1f7ff5;
      border: 1px solid #1f7ff5;
    }

    .refresh {
      background: #26c6da;
      border: 1px solid #26c6da;
    }
  }

  .report-filter-select {
    .el-input {
      width: 150px;
    }
  }

  .report-time-select {
    .el-input {
      width: 130px;
    }
  }

  .report-detail-select {
    height: 40px;
    line-height: 40px;
    margin-right: 10px !important;
    margin-left: 5px !important;

    .el-checkbox__label {
      color: #363030;
      font-weight: bold;
    }
  }

  .report-address-select {
    .multi {
      .el-select__tags {
        span span span {
          max-width: 37px;
        }
      }
    }

    .el-select__tags {
      span span span {
        max-width: 109px;
        overflow: hidden;
        display: inline-block;
        float: left;
        text-overflow: ellipsis;
      }
    }
  }

  .report-camera-select {
    .multi {
      .el-select__tags {
        span span span {
          max-width: 25px;
        }
      }
    }

    .el-select__tags {
      span span span {
        max-width: 69px;
        overflow: hidden;
        display: inline-block;
        float: left;
        text-overflow: ellipsis;
      }
    }
  }

  .report-vehicle-select {
    .multi {
      .el-select__tags {
        span span span {
          max-width: 25px;
        }
      }
    }

    .el-select__tags {
      span span span {
        max-width: 69px;
        overflow: hidden;
        display: inline-block;
        float: left;
        text-overflow: ellipsis;
      }
    }
  }
}
</style>
<style type="text/css" lang="scss" scoped>
.violation-filter {
  .report-filter-select {

    span {
      font-size: 14px;
      font-weight: bold;
      //margin-left: 10px;
      //margin-right: 10px;
      color: #363030;
    }
  }

  .date-filter {
  }

  .time {
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    /*border: 1px solid #ded6d6;*/
    border: 1px solid rgb(224, 227, 234);
    min-width: 214px;

    .item {
      float: left;
      padding-left: 10px;
      padding-right: 10px;
      font-size: 14px;
      cursor: pointer;
      height: 100%;
    }

    .item.active {
      background: #006fe3;
      color: white;
    }

    .year {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    .day {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
  }

  .time * {
    box-sizing: border-box;
  }
}
</style>
