<template>
  <div class="app-container claim process-unit-page config-page process">
    <!-- Filter -->
    <div class="filter-container">
      <template>
        <div class="search-block">
          <el-input
            class="search"
            placeholder=""
            prefix-icon="el-icon-search"
            v-model="searchKeyword"
            @keyup.enter.native="handleFilter()"
          >
          </el-input>
          <!-- <el-button
            v-if="canCreate"
            type="primary"
            @click="handleCreateProcessUnit()"
            ><i class="el-icon-plus"></i> Thêm mới</el-button
          > -->
        </div>
      </template>
    </div>
    <!-- list user new -->
    <template>
      <!-- <div id="select-all-delete" v-if="multipleSelection.length > 0">
        <i class="el-icon-close" @click="closeDelete()"></i>
        <span v-if="multipleSelection.length < 10"
          >0{{ multipleSelection.length }}</span
        ><span v-else>{{ multipleSelection.length }}</span> mục được chọn
        <el-button
          v-if="canDelete"
          type="danger"
          @click="destroyMultiProcessUnit()"
          ><i class="el-icon-delete"></i> Xóa</el-button
        >
      </div> -->
      <div id="user-table">
        <el-table
          @sort-change="sortChange"
          @header-click="headerClick"
          ref="multipleTable"
          :data="processUnitList"
          style="width: 100%"
          :row-class-name="tableRowClassName"
          @selection-change="handleSelectionChange"
          @row-click="rowClicked"
        >
          <!-- <el-table-column type="selection" width="55"> </el-table-column> -->
          <el-table-column label="STT" :width="(query.page * query.size).toString().length * 10 + 30">
            <template slot-scope="scope" >
              <span>{{ (query.page - 1) * query.size + scope.$index + 1 }}</span>
            </template>
          </el-table-column>

          <el-table-column label="Tên" prop="name" sortable>
            <template slot-scope="scope">
              <span>{{ scope.row.name }}</span>
            </template>
          </el-table-column>
          <el-table-column label="Máy chủ" sortable>
            <template slot-scope="scope">
              <span>{{ scope.row.serverName }}</span>
            </template>
          </el-table-column>
          <el-table-column label="Trạng thái" sortable>
            <template slot-scope="scope">
              <span v-if="scope.row.status == 1"> Active</span>
              <span v-else> Inactive</span>
            </template>
          </el-table-column>
          <el-table-column label="Mô tả" sortable>
            <template slot-scope="scope">
                <span>{{ scope.row.note }}</span>
            </template>
          </el-table-column>
        </el-table>
        <!-- Phân trang -->
        <p style="clear: both"></p>
        <div style="display: inline-block; padding-top: 13px">
          Tổng số khối xử lý: <strong>{{ total }}</strong>
        </div>
        <pagination
          v-show="total > query.size"
          :total="total"
          :page.sync="query.page"
          :layout="layout"
          :limit.sync="query.size"
          @pagination="getList"
        />
      </div>
      <div id="detail-user" style="width: 0">
        <i class="el-icon-close" @click="closeDetail()"></i>
        <h2 style="margin-top: -5px; margin-left: -4px">
          Thông tin khối xử lý
        </h2>
        <template v-if="processUnitInfo">
          <div class="item-label">id</div>
          <div class="group-id-copy">
            <span>{{processUnitInfo.id}}</span>
            <el-tooltip class="item"  content="copy" placement="bottom">
              <i  v-clipboard:copy="processUnitInfo.id" class="el-icon-document-copy"></i>
            </el-tooltip>
          </div>

          <!-- <div class="item-label" prop = "name">Tên</div> -->
          <el-form
          ref="editForm"
          :model="processUnitInfo"
          :rules="rules">
          <el-form-item label="Tên" class="item-label" prop="name">
            <el-input
            ref="editProcessUnit"
            :autofocus="true"
            :disabled="editDisable"
            @blur="trimInputValueName(processUnitInfo.name)"
            v-model="processUnitInfo.name"
          ></el-input>
          </el-form-item>
          </el-form>
          <div class="item-label" >Máy chủ</div>
          <el-select v-model="processUnitInfo.serverId" defaul placeholder="Chọn máy chủ" style="width:100%">
          <el-option
            v-for="item in serverList"
            :key="item.id"
            :disabled="editDisable"
            :label="item.name"
            :value="item.id">
          </el-option>
        </el-select>

          <template>
            <div class="item-left">
              <div class="item-label">Mô hình phân tích</div>
              <el-select
                :disabled="editDisable"
                multiple
                collapse-tags
                :class="{
                  multi: processUnitInfo.modelProfiles.profiles.length > 1,
                }"
                v-model="processUnitInfo.modelProfiles.profiles"
                placeholder="Chọn mô hình phân tích"
              >
                <el-option
                  v-for="item in modelProfileList"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id"
                >
                </el-option>
              </el-select>
            </div>

            <div class="item-right">
              <div class="item-label">Dịch vụ</div>
              <el-select
                :disabled="editDisable"
                v-model="processUnitInfo.appServices.services"
                multiple
                collapse-tags
                placeholder="Chọn dịch vụ"
              >
                <el-option
                  v-for="item in serviceList"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id"
                >
                </el-option>
              </el-select>
            </div>
          </template>

          <template>
            <div style="clear: both; float: left; width: 100%;margin-bottom:20px">
              <div class="item-label">Luồng video</div>
              <div class="video-threads-info-process item-left-threads">
                <div
                  class="checkbox-container"
                  style="
                    display: flex;
                    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
                  "
                  v-for="item in videoThreadList"
                  :key="item.id"
                >
                  <el-checkbox
                    type="checkbox"
                    id="videoThreadsCheckbox"
                    @change="handleCheckboxVideoThread(item.id, $event)"
                  />
                  <el-button
                    v-if="canDelete"
                    :disabled="editDisable"
                    @click="handleEditDialogVideoThread(item.id, item.cameraId)"
                    style="margin-left: -14px"
                    type="text"
                    >{{ item.cameraName }}</el-button
                  >
                </div>
              </div>
            </div>

            <div class="item-label">Ghi chú</div>
           <el-input
          type="textarea"
          :disabled="editDisable"
          :autosize="{ minRows: 2, maxRows: 4}"
          v-model="processUnitInfo.note">
        </el-input>

            <div class="item-right-threads action-add-delete">
              <el-button
                v-if="canCreate"
                :disabled="editDisable"
                type="success"
                @click="handleCreateVideoThread()"
              >
                Thêm luồng video</el-button
              >
              <el-button
                v-if="canDelete"
                :disabled="editDisable"
                :loading="loading_delete_videothread"
                type="danger"
                @click="destroyMultiVideoThread(processUnitInfo.id)"
                >Xóa luồng video</el-button
              >
            </div>
          </template>
          <br />


          <div class="action">
            <el-button
              type="success"
              style="border-radius:3px;width:150px"
              @click="getSpectJson(processUnitInfo.id)"
              :loading="loading_user"
              >Reset</el-button
            >
            <el-button
              type="primary"
              style="background:#1e3968"
              @click="handleEdit(processUnitInfo)"
              :loading="loading_edit"
              v-if="editDisable && canUpdate"
            >
              Sửa</el-button
            >
            <el-button
              type="primary"
              style="background:#1e3968"
              @click="handleSave()"
              :loading="loading_edit"
              v-if="!editDisable && canUpdate"
            >
              Lưu</el-button
            >
          </div>
        </template>
      </div>
    </template>
    <!-- ket thuc -->
    <!-- Add Dialog Video Thread -->
    <el-dialog
      title="Thêm luồng video"
      :visible.sync="dialogAdd"
      width="700px"
      @close="closeDialogAdd()"
      :close-on-click-modal="false"
    >
      <el-form
        :model="videoThreadDetail"
        :rules="ruleAddThreads"
        ref="addForm"
        label-position="top"
        label-width="100%"
      >
        <div class="block-item">
          <div class="block-item">
            <div class="site-camera-add">
              <div class="search-block">
                <el-input
                  class="search"
                  placeholder=""
                  prefix-icon="el-icon-search"
                  v-model="filterText"
                >
                </el-input>
              </div>
              <div class="site-list">
                <el-tree
                  node-key="id"
                  icon-class="el-icon-arrow-right"
                  :data="siteList"
                  accordion
                  :filter-node-method="filterNode"
                  ref="tree"
                >
                  <span class="custom-tree-node" slot-scope="{ node, data }">
                    <span class="icon-folder">
                      <div v-if="data.type !== 'file'">
                        <i class="el-icon-folder-opened"></i>
                        <span class="icon-folder_text">{{ data.name }}</span>
                      </div>
                      <template v-if="data.type === 'file'">
                        <el-radio
                          v-model="videoThreadDetail.cameraId"
                          @change="changeSiteList()"
                          :label="data.id"
                          >{{ data.name }}</el-radio
                        >
                      </template>
                    </span>
                  </span>
                </el-tree>
              </div>
            </div>


            <el-form-item
              class="item-left"
              label="Lựa chọn layout"
              prop="layoutId"
            >
              <el-select
                v-model="videoThreadDetail.layoutId"
                placeholder="Chọn layout"
                @change="handleSelectLayoutId"
              >
                <el-option
                  v-for="item in cameraLayoutLst"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id"
                >
                </el-option>
              </el-select>
            </el-form-item>

            <el-form-item class="item-right" label="Tốc độ hình ảnh" prop="fps">
              <!-- <el-input
                v-model="fps"
                placeholder="Tốc độ hình ảnh"
                type="text"
              ></el-input> -->
              <el-input-number
                :min="5"
                :max="50"
                v-model="fps"
              ></el-input-number>
            </el-form-item>

            <el-form-item
              class="item-left"
              label="Độ phân giải"
              prop="resolution"
            >
            <el-select placeholder="Chọn độ phân giải" v-model="resolution">
                <el-option
                  v-for="item in resolutionFixedLst"
                  :key="item"
                  :label="item"
                  :value="item"
                >
                </el-option>
              </el-select>
            </el-form-item>
            <el-form-item
              class="item-right"
              label="Ip media"
              prop="resolution"
            >
              <el-select placeholder="Chọn ip" style="width:100%" v-model="videoThreadDetail.render.ip">
                <el-option
                  v-for="item in ipList"
                  :key="item.mapper"
                  :label="item.mapper"
                  :value="item.mapper"
                >
                </el-option>
              </el-select>
            </el-form-item>
            <el-form-item
              class="item-left"
              label="Chất lượng"
              prop=""
            >
            <el-input
                v-model="videoThreadDetail.render.quality"
                type="text"
              ></el-input>
            </el-form-item>

            <el-form-item class="item-right" label="Mã hóa" prop="">
              <el-input
                v-model="videoThreadDetail.render.encoder"
                type="text"
              ></el-input>
            </el-form-item>

            <el-form-item class="item-left" label="Mô hình phân tích" prop="detectors">
              <el-select
                multiple
                collapse-tags
                v-model="videoThreadDetail.detectors.detectors"
                placeholder="Chọn mô hình phân tích"
              >
                <el-option
                  v-for="item in modelProfileList"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id"
                >
                </el-option>
              </el-select>
              <div>
                  <div style="margin-top:15px;font-weight:500">Đường dẫn kết quả</div>
                  <span> {{ `rtmp://${videoThreadDetail.render.ip?videoThreadDetail.render.ip:""}/live/${camCurrent.cameraKey?camCurrent.cameraKey.toLowerCase():""}?encoder=${videoThreadDetail.render.encoder?videoThreadDetail.render.encoder:""}&quality=${videoThreadDetail.render.quality?videoThreadDetail.render.quality:""}` }}</span>
                  <el-tooltip v-if="videoThreadDetail.render.ip" style="margin-left:5px;cursor:pointer" class="item"  content="copy" placement="bottom">
                    <i  v-clipboard:copy="genUrl()" class="el-icon-document-copy"></i>
                  </el-tooltip>
                </div>
            </el-form-item>

            <el-form-item class="item-right" label="Ảnh layout" prop="">
              <el-image
                v-if="urlImageLayout"
                style="width: 315 px; height: 200px"
                :src="urlImageLayout"
              ></el-image>
            </el-form-item>
          </div>
        </div>
      </el-form>

      <div slot="footer" class="dialog-footer">
        <el-button type="danger" @click="closeDialogAdd()">Thoát</el-button>
        <el-button
          type="primary"
          v-if="canCreate"
          :loading="loading_add_videothread"
          @click="addVideoThread()"
          >Lưu</el-button
        >
      </div>
    </el-dialog>
    <!-- Dialog Edit Video Thread -->
    <el-dialog
      title="Sửa luồng video"
      :visible.sync="dialogEdit"
      width="700px"
      :close-on-click-modal="false"
      @close="closeDialogEdit()"
    >
      <el-form
        :model="videoThreadInfo"
        :rules="rulesEdit"
        ref="editForm"
        label-position="top"
        label-width="200px"
      >
        <div class="block-item">
          <div class="site-camera-add">
            <div class="search-block">
              <el-input
                class="search"
                placeholder=""
                prefix-icon="el-icon-search"
                v-model="filterText"
              >
              </el-input>
            </div>
            <div class="site-list">
              <el-tree
                node-key="id"
                icon-class="el-icon-arrow-right"
                :data="siteList"
                accordion
                :default-expanded-keys="siteExpandId"
                :filter-node-method="filterNode"
                ref="tree"
              >
                <span class="custom-tree-node" slot-scope="{ node, data }">
                  <span class="icon-folder">
                    <div v-if="data.type !== 'file'">
                      <i class="el-icon-folder-opened"></i>
                      <span class="icon-folder_text">{{ data.name }}</span>
                    </div>
                    <template v-if="data.type === 'file'">
                      <el-radio
                        v-model="videoThreadInfo.cameraId"
                        @change="changeSiteListEdit()"
                        :label="data.id"
                        >{{ data.name }}</el-radio
                      >
                    </template>
                  </span>
                </span>
              </el-tree>
            </div>
          </div>
          <div class="edit-video-dialog-content">
                <el-form-item  class="item-left" label="Lựa chọn layout" prop="layoutId">
                <el-select
                  v-model="videoThreadInfo.layoutId"
                  placeholder="Chọn layout"
                  @change="handleSelectLayoutId"
                >
                  <el-option
                    v-for="item in cameraLayoutLst"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>


            <el-form-item class="item-right" label="Tốc độ hình ảnh" prop="fps">
              <!-- <el-input
                v-model="videoThreadInfo.capability.fps"
                placeholder="Tốc độ hình ảnh"
                type="text"
              ></el-input> -->
              <el-input-number
                :min="5"
                :max="50"
                v-model="videoThreadInfo.capability.fps"
              ></el-input-number>
            </el-form-item>

            <el-form-item
              class="item-left"
              label="Chọn độ phân giải"
              prop="resolution"
            >
            <el-select placeholder="Chọn độ phân giải" v-model="resolution">
                <el-option
                  style="width:100%"
                  v-for="item in resolutionFixedLst"
                  :key="item"
                  :label="item"
                  :value="item"
                >
                </el-option>
              </el-select>
            </el-form-item>

             <el-form-item
              class="item-right"
              label="Ip media"
              prop="resolution"
            >
              <el-select placeholder="Chọn độ phân giải" v-model="videoThreadInfo.render.ip">
                <el-option
                  v-for="item in ipList"
                  :key="item.mapper"
                  :label="item.mapper"
                  :value="item.mapper"
                >
                </el-option>
              </el-select>
            </el-form-item>

            <el-form-item class="item-left" label="Chất lượng" prop="">
              <el-input
                v-model="videoThreadInfo.render.quality"
                type="text"
              ></el-input>

            </el-form-item>
            <el-form-item class="item-right" label="Mã hóa" prop="">
              <el-input
                v-model="videoThreadInfo.render.encoder"
                type="text"
              ></el-input>
            </el-form-item>
            <div   class="item-left">
              <el-form-item
              label="Mô hình phân tích" prop="detectors"
            >
              <el-select
                multiple
                collapse-tags
                v-model="videoThreadInfo.detectors.detectors"
                placeholder="Chọn mô hình phân tích"
              >
                <el-option
                  v-for="item in modelProfileList"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id"
                >
                </el-option>
              </el-select>
            </el-form-item>
              <div style="margin-top:15px;margin-bottom:15px;font-weight:500">
                  <span style="color: #363030;">Thời gian tạo:</span
                  ><span> {{ this.layoutCamera.createdDate }}</span>
                </div>
                <div style="margin-top:15px;margin-bottom:15px;font-weight:500">
                  <div  style="margin-bottom:15px;font-weight:500;color: #363030;">Đường dẫn kết quả</div>
                  <span> {{ `rtmp://${videoThreadInfo.render.ip?videoThreadInfo.render.ip:""}/live/${camCurrent.cameraKey?camCurrent.cameraKey.toLowerCase():""}?encoder=${videoThreadInfo.render.encoder?videoThreadInfo.render.encoder:""}&quality=${videoThreadInfo.render.quality?videoThreadInfo.render.quality:""}` }}</span>

                  <el-tooltip v-if="videoThreadInfo.render.ip" style="margin-left:5px;cursor:pointer" class="item"  content="copy" placement="bottom">
                    <i  v-clipboard:copy="genUrlInfor()" class="el-icon-document-copy"></i>
                  </el-tooltip>
                </div>
              </div>

            <el-form-item class="item-right" label="Ảnh layout" prop="">
              <el-image
                v-if="urlImageLayout"
                style="width: 315 px; height: 200px"
                :src="urlImageLayout"
              ></el-image>
            </el-form-item>
          </div>
        </div>
      </el-form>

      <div slot="footer" class="dialog-footer">
        <el-button type="danger" @click="closeDialogEdit()">Thoát</el-button>
        <el-button
          :loading="loading_edit_video"
          type="primary"
          v-if="canUpdate"
          @click="editVideoThread()"
          >Cập nhật</el-button
        >
      </div>
    </el-dialog>
    <!-- Add Dialog Process Unit -->
    <el-dialog
      title="Thêm khối xử lý"
      :visible.sync="dialogAddProcessUnit"
      width="700px"
      @close="closeDialog('addFormProcessUnit')"
      :close-on-click-modal="false"
    >
      <el-form
        :model="processUnitInfo"
        :rules="ruleAddProcessUnit"
        ref="addFormProcessUnit"
        label-position="top"
        label-width="100%"
      >
        <div class="block-item">
          <div class="block-item">
            <el-form-item class="item-left" label="Tên" prop="name">
              <el-input
                @blur="trimInputValueName(processUnitInfo.name)"
                v-model="processUnitInfo.name"
              >
              </el-input>
            </el-form-item>
            <el-form-item class="item-left" label="Mã khối xử lý" prop="code">
              <el-input
                @blur="trimInputValueCode(processUnitInfo.code)"
                v-model="processUnitInfo.code"
              >
              </el-input>
            </el-form-item>
            <el-form-item class="item-left" label="Dịch vụ" prop="services">
              <el-select
                multiple
                collapse-tags
                v-model="processUnitInfo.appServices.services"
                placeholder="Chọn dịch vụ"
              >
                <el-option
                  v-for="item in serviceList"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id"
                >
                </el-option>
              </el-select>
            </el-form-item>

            <el-form-item
              class="item-left"
              label="Mô hình phân tích"
              prop="detectors"
            >
              <el-select
                multiple
                collapse-tags
                v-model="processUnitInfo.modelProfiles.profiles"
                placeholder="Chọn mô hình phân tích"
              >
                <el-option
                  v-for="item in modelProfileList"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id"
                >
                </el-option>
              </el-select>
            </el-form-item>
          </div>
        </div>
      </el-form>

      <div slot="footer" class="dialog-footer">
        <el-button type="danger" @click="closeDialogAddProcessUnit()"
          >Thoát</el-button
        >
        <el-button
          type="primary"
          v-if="canCreate"
          :loading="loading_add_process_unit"
          @click="addProcessUnit()"
          >Lưu</el-button
        >
      </div>
    </el-dialog>
  </div>
</template>

<script>
import Pagination from "@/components/Pagination_custom";
import VueClipboard from 'vue-clipboard2'
import waves from "@/directive/waves"; // Waves directive
import Vue from 'vue'
import { getData } from "@/api/process-unit-resources";
import { getProcessUnitsPaginated } from "@/api/process-unit-resources";
import Resource from "@/api/resource";
import user_default from "@/assets/images/user_default.png";
const categoryResource = new Resource("systemconfig/category");
import ImageCropper from "@/components/extra/ImageCropper";
import config from "@/config.js";
const serverResource = new Resource("systemconfig/process-unit/server")
VueClipboard.config.autoSetContainer = true // add this line
Vue.use(VueClipboard)
const processUnitResource = new Resource("systemconfig/process-unit");
const processUnitDeResource = new Resource(
  "systemconfig/process-unit/multi-de"
);
const processUnitSpecJsonResource = new Resource(
  "systemconfig/process-unit/json-spec"
);
const videoThreadResource = new Resource(
  "systemconfig/process-unit/video-threads"
);
const videoThreadDeResource = new Resource(
  "systemconfig/process-unit/video-threads/multi-de"
);

export default {
  components: { Pagination, ImageCropper },
  directives: { waves },
  data() {
    const validateEmail = (rule, value, callback) => {
      if (!validEmail(value)) {
        callback(new Error("Vui lòng nhập đúng định dạng email"));
      } else {
        callback();
      }
    };

    const validateMobile = (rule, value, callback) => {
      if (!validPhone(value)) {
        callback(new Error("Vui lòng nhập đúng định dạng mobile"));
      } else {
        callback();
      }
    };
    return {
      rep: "",
      flag_active: null,
      idcopy:"",
      specJson: "",
      direction: "rtl",
      serverList: [],
      filterText: "",
      cameraById: "",
      siteExpandId: [],
      layout: "first, prev, pager, next, last",
      layoutCamera: {},
      ipList: [],
      camCurrent:{},
      checkboxesVideoThreads: [],
      city: [],
      videoThreadInfo: {
        id: "",
        idProcessUnit: "",
        cameraId: "",
        layoutId: "",
        capability: {
          h: "",
          w: "",
          fps: "",
        },
        detectors: {
          detectors: [],
        },
        render: {
          renderPort: "127.0.0.1:10000",
          renderUrl: "",
          quality:"1",
          encoder: "libx264",
          ip:""
        },
      },
      cities: ["Shanghai", "Beijing", "Guangzhou", "Shenzhen"],
      cameraId: "",
      expands: [],
      getRowKeys(row) {
        return row.id;
      },
      urlImageLayout: "",
      resolution: "",
      fps: "",
      editDisable: true,
      cameraList: [],
      siteList: [],
      file: {
        data: null,
      },
      url: null,
      imagecropperShow: false,
      imagecropperKey: 0,
      uploadReady: true,
      avatarHeight: 178,
      avatarWith: 178,
      actionUploadImage: "",
      avatar: null,
      loading: true,
      loading_user: false,
      loading_edit_video: false,
      loading_edit: false,
      loading_add_videothread: false,
      loading_delete_videothread: false,
      loading_add_process_unit: false,
      loading_spec_json: false,
      user_default: user_default,
      dialogAdd: false,
      dialogEdit: false,
      dialogAddProcessUnit: false,
      processUnitList: [],
      videoThreadList: [],
      cameraLayoutLst: [],
      processUnitInfo: {
        modelProfiles: {
          profiles: [],
        },
        appServices: {
          services: [],
        },
      },
      videoThreadDetail: {
        id: "",
        cameraId: "",
        layoutId: "",
        capability: {
          h: "",
          w: "",
          fps: "",
        },
        detectors: {
          detectors: [],
        },
        render: {
          renderPort: "127.0.0.1:10000",
          renderUrl: "",
          quality:"1",
          encoder: "libx264",
          ip:""
        },
      },
      resolutionFixedLst: [],
      modelProfileList: [],
      serviceList: [],
      rolesLst: [],
      groupsUuid: [],
      total: 0,
      searchKeyword: null,
      multipleSelection: [],
      processUnitInfo: {
        appServices: {
          services: [],
        },
        code: "",
        description: "",
        eventNotifiers: {},
        modelProfiles: {
          profiles: [],
        },
        name: "",
        note: "",
        servers: "",
        spec: "",
        status: "",
        tvRenders: {},
        type: "",
        version: 0,
      },
      oldRoleCode: "",
      query: {
        page: 0,
        size: 15,
        keyword: this.searchKeyword,
      },
      statusLst: [
        {
          status: 1,
          description: "Active",
        },
        {
          status: -1,
          description: "Inactive",
        },
      ],
      rules: {
        name: [
          {
            required: true,
            message: "Tên khối xử lý là bắt buộc",
            trigger: "blur",
          },
          { max: 255, message: "Tối đa 255 ký tự", trigger: "blur" },
        ],
        code: [
          {
            required: true,
            message: "Mã định danh là bắt buộc",
            trigger: "blur",
          },
          { max: 255, message: "Tối đa 255 ký tự", trigger: "blur" },
        ],
      },
      ruleAddThreads: {
        layoutId: [
          {
            required: true,
            message: "Layout là bắt buộc , chọn camera rồi chọn layout",
            trigger: "change",
          },
        ],
      },

      rulesEdit: {
        layoutId: [
          { required: true, message: "Layout là bắt buộc", trigger: "change" },
        ],
      },
      ruleAddProcessUnit: {
        name: [
          {
            required: true,
            message: "Tên khối xử lý là bắt buộc",
            trigger: "blur",
          },
          { max: 255, message: "Tối đa 255 ký tự", trigger: "blur" },
        ],
        code: [
          {
            required: true,
            message: "Mã khối xử lý là bắt buộc",
            trigger: "blur",
          },
          { max: 255, message: "Tối đa 255 ký tự", trigger: "blur" },
        ],
      },
      canRead: false,
      canCreate: false,
      canUpdate: false,
      canDelete: false,
    };
  },

  created() {
    this.canRead = this.$root.checkRole(this.$route.fullPath, "canRead");
    this.canCreate = this.$root.checkRole(this.$route.fullPath, "canCreate");
    this.canUpdate = this.$root.checkRole(this.$route.fullPath, "canUpdate");
    this.canDelete = this.$root.checkRole(this.$route.fullPath, "canDelete");
    this.init();
  },
  watch: {
    filterText(val) {
      this.$refs.tree.filter(val);
    },
  },
  methods: {
    filterNode(value, data) {
      if (!value) return true;
      return data.name.toLowerCase().indexOf(value.toLowerCase()) !== -1;
    },
    async init() {
      await this.getList();
      await this.getModelProfileList();
      await this.getServicesList();
      this.getListServer()
      this.getCateGory()
    },
    closeDialogEdit() {
      this.dialogEdit = false;
      this.urlImageLayout = "";
      this.resolution = "";
      this.cameraLayoutLst = [];
      this.siteExpandId = [];
    },
    async getListServer(){
      const res =await serverResource.list();
      if(res && res.status == 200){
        this.serverList = res.data;
      }
    },

    async getCateGory(){
      let queryCustom = {
        catType: "SERVERS_IP",
      };
      let result = await categoryResource.list(queryCustom);
      if(result && result.data){
        this.ipList = result.data
      }
    },
    closeDialogAdd() {
      this.dialogAdd = false;
      this.urlImageLayout = "";
      this.resolution = "";
      this.fps = "";
    },

    closeDialogAddProcessUnit() {
      this.dialogAddProcessUnit = false;
      this.cameraLayoutLst = [];
    },
    async getList() {
      this.loading = true;
      if(this.searchKeyword) {
        this.searchKeyword = this.searchKeyword.trim()
      }
      let queryCustom = {
        page: this.query.page,
        size: this.query.size,
        search: this.searchKeyword ? this.searchKeyword.trim() : "",
      };
      if (this.query.page > 0) {
        queryCustom.page = this.query.page - 1;
      }
      const { data, total } = await getProcessUnitsPaginated(queryCustom);
      if (data) {
        this.processUnitList = data;
      } else {
        this.processUnitList = [];
      }
      if (total) {
        this.total = total;
      } else {
        this.total = 0;
      }

      this.loading = false;
      // console.log(data);
    },
    async getModelProfileList() {
      const { data } = await getData(
        "/systemconfig/process-unit/model-profiles"
      );
      this.modelProfileList = data;
    },
    async getServicesList() {
      const { data } = await getData("/systemconfig/process-unit/services");
      this.serviceList = data;
    },
    async getSiteList() {
      const { data } = await getData("/systemconfig/sites/camera-tree-thread");
      this.siteList = data;
      this.siteList.map(function (val) {
        val.children = [];
        if (val.camTrees.length > 0) {
          val.camTrees.forEach(function (val1) {
            val.children.push({
              id: val1.id,
              name: val1.name,
              type: "file",
            });
          });
        }
      });
    },
    async getCameraLayoutListByCameraId(cameraId) {
      const { data } = await getData(
        "/systemconfig/camera/camera-layout/layouts/" + cameraId
      );
      if (data) {
        this.cameraLayoutLst = data;
      } else {
        this.cameraLayoutLst = [];
      }
    },
    async getCameraLayoutById(layoutId) {
      const { data } = await getData(
        "/systemconfig/camera/camera-layout/" + layoutId
      );
      if (data) {
        this.layoutCamera = data;
      } else {
        this.layoutCamera = {};
      }
    },
    async getCameraById(cameraId) {
      const { data } = await getData("/systemconfig/camera/" + cameraId);
      if (data) {
        this.cameraById = data;
        this.siteExpandId.push(this.cameraById.site.id);
        // console.log(this.cameraById);
      } else {
        this.cameraById = {};
      }
    },

     async getCameraByIdCam(cameraId) {
      const { data } = await getData("/systemconfig/camera/" + cameraId);
      if (data) {
        this.camCurrent = data;
      } else {
        this.camCurrent = {};
      }
      console.log(this.camCurrent)
    },

    async getVideoThreadsByProcessUnitId(idProcessUnit) {
      const { data } = await getData(
        "/systemconfig/process-unit/video-threads/process-unit/" + idProcessUnit
      );
      if (data) {
        this.videoThreadList = data;
      } else {
        this.videoThreadList = [];
      }
    },

    async getVideoThreadsById(idVideoThread) {
      const { data } = await getData(
        "/systemconfig/process-unit/video-threads/" + idVideoThread
      );
      if (data) {
        this.videoThreadInfo = data;
      } else {
        this.videoThreadInfo = {};
      }
    },

    closeDelete() {
      this.multipleSelection = [];
    },

    async rowClicked(row) {
      this.$refs.editForm.clearValidate()
      this.flag_active = row.id;
      this.editDisable = true;
      const serverFilter = this.serverList.filter(f => f.name == row.serverName);
      this.processUnitInfo = row;
      if(serverFilter && serverFilter.length > 0){
         this.processUnitInfo.serverId =  serverFilter[0].id
      }
      this.videoThreadList = [];
      if (this.processUnitInfo) {
        document.getElementById("user-table").style.width =
          "calc(100% - 550px)";
        setTimeout(function () {
          document.getElementById("detail-user").style.display = "block";
          document.getElementById("detail-user").style.width = "500px";
        }, 500);
      }
      await this.getVideoThreadsByProcessUnitId(row.id);
    },

    closeDetail() {
      document.getElementById("detail-user").style.display = "none";
      document.getElementById("detail-user").style.width = "0";
      document.getElementById("user-table").style.width = "calc(100%)";
    },

    changeSiteList() {
      this.videoThreadDetail.layoutId = "";
      this.urlImageLayout = "";
      this.cameraLayoutLst = [];
      this.getCameraLayoutListByCameraId(this.videoThreadDetail.cameraId);
      this.getCameraByIdCam(this.videoThreadDetail.cameraId)
    },
    changeSiteListEdit() {
      this.videoThreadInfo.layoutId = "";
      this.urlImageLayout = "";
      this.cameraLayoutLst = [];
      this.getCameraLayoutListByCameraId(this.videoThreadInfo.cameraId);
      this.getCameraByIdCam(this.videoThreadInfo.cameraId)
      console.log(this.videoThreadInfo)
    },

    destroyMultiVideoThread(idProcessUnit) {
      if (this.checkboxesVideoThreads.length > 0) {
        this.$confirm("Bạn có chắc chắn muốn xóa lựa chọn này ", "", {
          confirmButtonText: "Xác nhận",
          cancelButtonText: "Thoát",
          type: "warning",
        })
          .then(() => {
            let params = this.checkboxesVideoThreads;
            params = {
              idVideoThreadList: params,
            };
            this.loading_delete_videothread = true;
            videoThreadDeResource
              .destroyMultiPut(params)
              .then((response) => {
                if (response.status == 200) {
                  this.checkboxesVideoThreads = [];
                  this.getVideoThreadsByProcessUnitId(idProcessUnit);

                  this.$message({
                    type: "success",
                    message: "Xóa luồng video thành công",
                  });
                  this.loading_delete_videothread = false;
                } else {
                  this.checkboxesVideoThreads = [];
                  this.getVideoThreadsByProcessUnitId(idProcessUnit);
                  this.$message({
                    type: "error",
                    message: "Xóa luồng video thất bại",
                  });

                  this.loading_delete_videothread = false;
                }
              })
              .catch(() => {
                this.$message({
                  type: "error",
                  message:
                    "Có lỗi xóa luồng video xảy ra vui lòng thử lại sau!",
                });
              });
          })
          .catch(() => {});
      } else {
        this.$message({
          type: "error",
          message: "Bạn phải chọn ít nhất 1 luồng video",
        });
      }
    },

    destroyMultiProcessUnit() {
      this.$confirm("Bạn có chắc chắn muốn xóa lựa chọn này ", "", {
        confirmButtonText: "Xác nhận",
        cancelButtonText: "Thoát",
        type: "warning",
      })
        .then(() => {
          let params = this.multipleSelection.map(function (val) {
            return val.id;
          });
          params = {
            idProcessUnitList: params,
          };
          processUnitDeResource
            .destroyMultiPut(params)
            .then((response) => {
              if (response.status == 200) {
                this.multipleSelection = [];
                this.getList();
                this.$message({
                  type: "success",
                  message: "Xóa khối xử lý thành công",
                });
              } else {
                this.multipleSelection = [];
                this.getList();
                this.$message({
                  type: "error",
                  message: "Xóa khối xử lý thất bại",
                });
              }
            })
            .catch(() => {
              this.$message({
                type: "error",
                message: "Có lỗi xảy ra vui lòng thử lại sau!",
              });
            });
        })
        .catch(() => {});
    },

    handleFilter() {
      this.query.page = 1;
      this.getList();
    },

    async handleCreateVideoThread() {
      this.resetDialogVideoThread();
      this.dialogAdd = true;
      this.getSiteList();
      await this.getResolutionFixedList();
      this.resolution = this.resolutionFixedLst[0];
      this.getModelProfileList();
      this.camCurrent={}
      // this.cameraLayoutLst = [];
      // this.resolution = "";
      // this.fps = "";
      // this.urlImageLayout = "";
    },
    handleCreateProcessUnit() {
      this.resetDialog();
      this.dialogAddProcessUnit = true;
      this.getServicesList();

    },
    handleEdit(data) {
      this.editDisable = false;

      this.processUnitInfo = data;
      // this.$nextTick(() => {
      //   this.$refs["editForm"].clearValidate();
      // });
    },
    async handleEditDialogVideoThread(idVideoThread, idCamera) {
      this.dialogEdit = true;
      this.getResolutionFixedList();
      this.getModelProfileList();
      this.getSiteList();
      await this.getCameraLayoutListByCameraId(idCamera);
      await this.getVideoThreadsById(idVideoThread);
      this.getCameraByIdCam(this.videoThreadInfo.cameraId);
      await this.getCameraById(this.videoThreadInfo.cameraId);
      await this.getCameraLayoutById(this.videoThreadInfo.layoutId);

      this.urlImageLayout = this.layoutCamera.layoutImage;
      this.resolution =
        this.videoThreadInfo.capability.w +
        "x" +
        this.videoThreadInfo.capability.h;
    },
    handleSave() {
      this.editProcessUnit();
    },
    async resetDialogVideoThread() {
      this.videoThreadDetail = {
        idProcessUnit: "",
        cameraId: "",
        layoutId: "",
        capability: {
          h: "",
          w: "",
          fps: "",
        },
        detectors: {
          detectors: [],
        },
        render: {
          renderPort: "127.0.0.1:10000",
          renderUrl: "",
          quality:"1",
          encoder: "libx264",
          ip:""
        },
      };
    },
    addVideoThread() {
      this.$refs.addForm.validate((valid) => {
        if (valid) {
          if (this.resolution != null && this.resolution != "") {
            let resolutionSplit = this.resolution.split("x");
            this.videoThreadDetail.capability.w = resolutionSplit[0];
            this.videoThreadDetail.capability.h = resolutionSplit[1];
            this.videoThreadDetail.capability.fps = this.fps;
          }
          if (this.render == null && this.render == "") {
            this.videoThreadDetail.render = {};
          }
          this.loading_add_videothread = true;
          this.videoThreadDetail.autoAdjust = 1;
          this.videoThreadDetail.cacheLength = 1;
          this.videoThreadDetail.idProcessUnit = this.processUnitInfo.id;
           this.videoThreadDetail.render.renderUrl = `rtmp://${this.videoThreadDetail.render.ip}/live/${this.camCurrent.cameraKey?this.camCurrent.cameraKey.toLowerCase():""}?encoder=${this.videoThreadDetail.render.encoder}&quality=${this.videoThreadDetail.render.quality}`
          const paramRegister = _.cloneDeep(this.videoThreadDetail);
          // console.log(this.resolution);
          videoThreadResource
            .store(paramRegister)
            .then((response) => {
              if (response.status === 200 || response.status === 201) {
                const data = response.data;
                this.getVideoThreadsByProcessUnitId(this.processUnitInfo.id);
                this.resetDialogVideoThread();
                this.$message({
                  type: "success",
                  message: "Thêm mới luồng video thành công",
                });

                this.loading_add_videothread = false;
                this.dialogAdd = false;
                this.cameraLayoutLst = [];
                this.resolution = "";
                this.fps = "";
                this.urlImageLayout = "";
              }
            })
            .catch(() => {
              this.cameraLayoutLst = [];
              this.resolution = "";
              this.fps = "";
              this.urlImageLayout = "";
              this.dialogAdd = false;

              this.loading_add_videothread = false;
              // this.$message({
              //   type: "error",
              //   message: "Có lỗi xảy ra vui lòng thử lại sau!",
              // });
            });
        } else {
          return false;
        }
      });
    },
    genUrl(){
      return `rtmp://${this.videoThreadDetail.render.ip?this.videoThreadDetail.render.ip:""}/live/${this.camCurrent.cameraKey?this.camCurrent.cameraKey.toLowerCase():""}?encoder=${this.videoThreadDetail.render.encoder?this.videoThreadDetail.render.encoder:""}&quality=${this.videoThreadDetail.render.quality?this.videoThreadDetail.render.quality:""}`
    },
    genUrlInfor(){
      return `rtmp://${this.videoThreadInfo.render.ip?this.videoThreadInfo.render.ip:""}/live/${this.camCurrent.cameraKey?this.camCurrent.cameraKey.toLowerCase():""}?encoder=${this.videoThreadInfo.render.encoder?this.videoThreadInfo.render.encoder:""}&quality=${this.videoThreadInfo.render.quality?this.videoThreadInfo.render.quality:""}`
    },
    addProcessUnit() {
      this.$refs.addFormProcessUnit.validate((valid) => {
        if (valid) {
          this.loading_add_process_unit = true;
          this.processUnitInfo.type = "cam";
          const paramRegister = _.cloneDeep(this.processUnitInfo);
          processUnitResource
            .store(paramRegister)
            .then((response) => {
              if (response.status === 200 || response.status === 201) {
                const data = response.data;
                this.handleFilter();
                this.$message({
                  type: "success",
                  message: "Thêm mới khối xử lý thành công",
                });
                this.loading_add_process_unit = false;
                this.dialogAddProcessUnit = false;
              }
            })
            .catch(() => {
              this.dialogAddProcessUnit = false;
              this.loading_add_process_unit = false;
              this.$message({
                type: "error",
                message: "Có lỗi xảy ra vui lòng thử lại sau!",
              });
            });
        } else {
          return false;
        }
      });
    },
    editProcessUnit() {
      this.$refs.editForm.validate((valid) => {
        if (valid) {
          if (this.processUnitInfo.name == null && this.processUnitInfo.name == "") {
            this.processUnitInfo.name = "";
          }
      this.loading_edit = true;
      this.loading_delete_disable = true;
      const paramRegister = _.cloneDeep(this.processUnitInfo);
      processUnitResource
        .update(this.processUnitInfo.id, paramRegister)
        .then((response) => {
          if (response.status === 200 || response.status === 201) {
            this.processUnitInfo = response.data;
            this.processUnitInfo.version = 1;
            this.getList();
            this.$message({
              type: "success",
              message: "Cập nhật khối xử lý thành công",
            });
          } else {
            this.$message({
              type: "error",
              message: "Cập nhật khối xử lý thất bại",
            });
          }
          this.editDisable = true;
          this.loading_edit = false;
        })
        .catch(() => {
          // this.$message({
          //   type: "error",
          //   message: "Có lỗi xảy ra vui lòng thử lại sau!",
          // });
          this.getList();
          this.editDisable = false;
          this.loading_edit = false;
          this.loading_delete_disable = false;
          this.$refs.editProcessUnit.$refs.text.focus();
        });
        }
      });
    },
    editVideoThread() {
      this.$refs.editForm.validate((valid) => {
        if (valid) {
          this.loading_edit_video = true;

          if (this.resolution != null && this.resolution != "") {
            let resolutionSplit = this.resolution.split("x");
            this.videoThreadInfo.capability.w = resolutionSplit[0];
            this.videoThreadInfo.capability.h = resolutionSplit[1];
          }
          if (this.render == null && this.render == "") {
            this.videoThreadInfo.render = {};
          }
           this.videoThreadInfo.render.renderUrl = `rtmp://${this.videoThreadInfo.render.ip}/live/${this.camCurrent.cameraKey?this.camCurrent.cameraKey.toLowerCase():""}?encoder=${this.videoThreadInfo.render.encoder}&quality=${this.videoThreadInfo.render.quality}`
          this.videoThreadInfo.idProcessUnit = this.processUnitInfo.id;
          const paramRegister = _.cloneDeep(this.videoThreadInfo);
          videoThreadResource
            .update(this.videoThreadInfo.id, paramRegister)
            .then((response) => {
              if (response.status === 200 || response.status === 201) {
                this.videoThreadInfo = response.data;
                this.$message({
                  type: "success",
                  message: "Cập nhật luồng video thành công",
                });
                this.getVideoThreadsByProcessUnitId(this.processUnitInfo.id);
                this.cameraLayoutLst = [];
                this.resolution = "";
                this.fps = "";
                this.urlImageLayout = "";
              } else {
                this.cameraLayoutLst = [];
                this.resolution = "";
                this.fps = "";
                this.urlImageLayout = "";
                this.$message({
                  type: "error",
                  message: "Cập nhật luồng video thất bại",
                });
              }
              this.dialogEdit = false;
              this.loading_edit_video = false;
            })
            .catch(() => {
              this.getVideoThreadsByProcessUnitId(this.processUnitInfo.id);
              this.loading_edit_video = false;
              this.loading_delete_disable = false;
              this.dialogEdit = false;
              // this.$message({
              //   type: "error",
              //   message: "Có lỗi xảy ra vui lòng thử lại sau!",
              // });
            });
        }
      });
    },
    handleSelectLayoutId(row) {
      this.layoutCamera = this.cameraLayoutLst.filter(
        (item) => item.id == row
      )[0];
      this.resolution = this.layoutCamera.originWidth + 'x' + this.layoutCamera.originHeight
      // this.urlImageLayout = process.env.VUE_APP_CAPTURE_BASE_URL + this.layoutCamera.layoutImage;
      this.urlImageLayout = this.layoutCamera.layoutImage;
    },
    resetDialog() {
      this.processUnitInfo = {
        appServices: {
          services: [],
        },
        code: "",
        description: "",
        eventNotifiers: {},
        modelProfiles: {
          profiles: [],
        },
        name: "",
        note: "",
        servers: "",
        serverId:null,
        spec: "",
        status: "",
        tvRenders: {},
        type: "",
        version: 0,
      };
    },
    getSpectJson(idProcessUnit) {
      this.loading_spec_json = true;
      processUnitSpecJsonResource
        .storeSpecJson(idProcessUnit)
        .then((response) => {
          if (response.status === 200 || response.status === 201) {
            const data = response.data;

            // this.specJson = data.spec;
            // var new_page = window.open();
            // new_page.document.write(this.specJson);
            // new_page.document.title = "Lấy chuỗi Spec Json";
            this.$message({
              type: "success",
              message: "Restart server thành công",
            });
            this.loading_spec_json = false;
          }
        })
        .catch(() => {
          this.$message({
            type: "error",
            message: "Có lỗi xảy ra vui lòng thử lại sau!",
          });
          this.loading_spec_json = false;
        });
    },
    trimInputValueName(row) {
      this.processUnitInfo.name = this.processUnitInfo.name.trim();
    },
    trimInputValueCode(row) {
      this.processUnitInfo.code = this.processUnitInfo.code.trim();
    },

    closeDialog(formName) {
      this.$refs[formName].clearValidate();
      this.$refs[formName].resetFields();
    },

    toggleSelection(rows) {
      if (rows) {
        rows.forEach((row) => {
          this.$refs.multipleTable.toggleRowSelection(row);
        });
      } else {
        this.$refs.multipleTable.clearSelection();
      }
    },
    handleSelectionChange(val) {
      this.multipleSelection = val;
    },
    fileSelected(e) {
      const file = e.target.files[0];
      if (file) {
        this.checkFile(file)
          .then(() => {
            const fr = new FileReader();
            this.file.data = file;
            this.imagecropperShow = true;
            this.resetUploadFile();
          })
          .catch((err) => {
            this.$message({
              message: err,
              type: "error",
              duration: 5 * 1000,
              showClose: true,
            });
          });
      }
    },
    checkFile(file) {
      return new Promise((resolve, reject) => {
        const self = this;
        if (file.type.indexOf("image") === -1) {
          return reject("Định dạng không cho phép");
        }
        if (file.size > 5242880) {
          return reject("Vượt quá dung lượng cho phép tối đa 5Mb");
        }
        const reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = function (e) {
          const image = new Image();
          image.src = e.target.result;
          image.onload = function () {
            const height = this.height;
            const width = this.width;
            if (height < self.avatarHeight || width < self.avatarWith) {
              return reject(
                "Kích thước hình ảnh quá nhỏ. Tối thiểu là: " +
                  self.avatarWith +
                  "*" +
                  self.avatarHeight
              );
            }
            return resolve();
          };
        };
      });
    },
    closeChangeAvatar() {},
    cropSuccess(data) {
      if (data.data[0].fileDownloadUri) this.url = data.data[0].fileDownloadUri;
    },
    resetUploadFile() {
      this.uploadReady = false;
      this.$nextTick(() => {
        this.uploadReady = true;
      });
    },
    handleClick(e) {
      if (e.target !== this.$refs.file) {
        e.preventDefault();
        if (document.activeElement !== this.$refs) {
          this.$refs.file.click();
        }
      }
    },
    expandChange(row, expandedRows) {
      if (expandedRows.length) {
        this.expands = [];
        if (row) {
          this.expands.push(row.id);
        }
      } else {
        this.expands = [];
      }
      this.getCameraListBySiteId(row.id);
    },
    async getCameraListBySiteId(siteId) {
      const { data } = await getData("/systemconfig/camera/site/" + siteId);
      this.cameraList = data;
    },
    async getResolutionFixedList() {
      this.resolutionFixedLst = config.resolutionList;
    },
    async handleCheckboxVideoThread(id, row) {
      if (row == true) {
        this.checkboxesVideoThreads.push(id);
      } else {
        this.checkboxesVideoThreads.pop(id);
      }
    },
    tableRowClassName(row) {
      if (row.row.id == this.flag_active) {
        return "active-row";
      }
      return "";
    },
    //Sort process unit table
    sortChange(sortProps) {
      this.headerClick(sortProps.column, event); //optional: trigger header-click event
    },
    headerClick(column, event) {
      //console.log("Header clicked: " + JSON.stringify(column));
    },
    //END
  },
};
</script>

<style lang="scss" scoped>
.process {
  .el-tree-node__expand-icon {
    font-size: 13px;
    font-weight: bold;
    color: #222;
  }
  .site-camera-add {
    .el-tree-node__children {
      .el-icon-arrow-right {
        display: none;
      }
      .el-tree-node__content {
        padding-left: 25px !important;
      }
    }
    max-height: 300px;
    overflow-y: scroll;
  }
  .video-threads-info-process {
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    height: 300px;
    overflow-y: scroll;
    width: 100% !important;
    label.el-checkbox {
      margin: 15px;
      display: block;
    }
  }
  /deep/i.el-tag__close.el-icon-close {
    margin-top: -10px;
    margin-right: -15px;
  }
  .site-camera-add {
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    padding-left: 10px;
    padding-bottom: 15px;
    padding-right: 10px;
    .el-tree-node__content {
      background: initial;
    }
    .el-tree-node__content {
      padding-left: 0 !important;
      margin-top: 10px;
    }
    .icon-folder_text {
      position: relative;
      top: -4px;
      font-size: 14px;
      color: #333;
    }
    .el-radio__label {
      font-weight: normal;
    }
    .el-icon-folder-opened {
      font-size: 25px;
      margin-right: 5px;
      color: #eac282;
    }
    .search-block {
      margin-top: 20px;
      margin-left: 10px;
      margin-bottom: 15px;
      .search input {
        width: 100%;
        height: 36px !important;
        line-height: 36px !important;
        border: solid 1px #9999;
        border-radius: 5px;
        padding-left: 40px;
        width: 100% !important;
      }
    }
    /*max-height: 250px;
    overflow-y: scroll;
    overflow-x: hidden;*/
  }
  #detail-user {
    .item-label {
      margin-top: 15px;
    }
    i.el-tag__close.el-icon-close {
      margin-top: -12px;
    }
  }
}
</style>

<style lang="scss">
.process-unit-page {
    .group-id-copy{
      position: relative;
      i{
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        &:hover{
          color: cornflowerblue;
        }
      }
    }
  .el-dialog__body {
    .item-left {
      .el-select {
        width: 100%;
      }
      i.el-tag__close.el-icon-close {
        margin-top: 0;
        margin-right: 0;
      }
    }
  }
  .item-right-threads.action-add-delete {
    clear: both;
    margin-top: 20px;
    float: left;
    width: 100%;
    .el-button--danger {
      float: right;
    }
  }
  .edit-video-dialog-content {
    .el-select {
      width: 100%;
    }
  }
  .checkbox-container {
    button {
      span {
        margin-left: 5px;
      }
    }
  }
  .item-left .multi .el-select__tags span span span {
    max-width: 82px;
  }
  .item-left .el-select__tags span span span {
    max-width: 125px;
    overflow: hidden;
    display: inline-block;
    float: left;
    text-overflow: ellipsis;
  }
  .el-icon-camera-solid {
    font-size: 25px;
    color: #9a9a9a;
    position: relative;
    top: -50px;
    left: 54px;
    background: #dfdfdf;
    border-radius: 50%;
    padding: 8px;
    border: 1px solid white;
  }
  .img_avatar {
    text-align: center;
    padding-top: 25px;
    img {
      border-radius: 50%;
    }
  }
  .el-dialog {
    margin-top: 80px !important;
  }
  .item-left {
    width: 48%;
    float: left;
    margin-right: 2%;
  }

  .item-right {
    width: 48%;
    float: left;
    margin-left: 2%;
  }
  .item-left-threads {
    width: 67%;
    float: left;
    margin-right: 2%;
  }
  .item-right-thread {
    width: 29%;
    float: left;
    margin-left: 2%;
  }
  .block-item {
    width: 100%;
    float: left;
  }
  .el-dialog__header {
    padding: 0;
    background: #006fe3;
    height: 40px;
    line-height: 40px;
    text-align: center;
    .el-dialog__title {
      color: white;
    }
    .el-icon-close {
      color: white;
      font-size: 22px;
      top: -10px;
      position: relative;
    }
  }
  .el-dialog__body {
    .el-form-item__label {
      padding-bottom: 0;
      font-size: 14px;
      color: #363030;
      font-weight: 300;
    }
  }
  .el-dialog__footer {
    clear: both;
    padding-bottom: 25px;
    .el-button--primary {
      background: #1f7ff5;
      height: 40px;
      border-radius: 5px;
      width: 147px;
      text-transform: uppercase;
      font-weight: bold;
      border-color: #1f7ff5;
    }
    .el-button--danger {
      background: #9e9e9e;
      height: 40px;
      border-radius: 5px;
      width: 147px;
      text-transform: uppercase;
      font-weight: bold;
      border-color: #9e9e9e;
    }
  }
  #select-all-delete {
    height: 63px;
    line-height: 63px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ff4646;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    .el-icon-close {
      font-size: 25px;
      margin-left: 20px;
      margin-right: 35px;
      position: relative;
      top: 4px;
      cursor: pointer;
    }
    button {
      background: #e00000;
      border: initial;
      border-radius: 5px;
      float: right;
      display: inline-block;
      margin-top: 15px;
      margin-right: 15px;
    }
  }
  .action-add-delete {
    .el-button--success {
      background: #26c6da;
      border: initial;
      border-radius: 4px;
      width: 150px;
      height: 40px;
      margin-bottom: 15px;
    }
    .el-button--danger.is-disabled,
    .el-button--success.is-disabled {
      opacity: 0.7;
    }
    .el-button--danger {
      background: #ff6161;
      border: initial;
      border-radius: 4px;
      width: 150px;
      height: 40px;
      margin: 0 auto;
    }
  }
  .action {
    /*margin-top: 300px;*/
    .el-button--primary {
      background: #64789a;
      border: initial;
      border-radius: 4px;
      width: 150px;
      height: 40px;
      margin-left: 90px;
      float: right;
    }

    .el-button--info {
      background: #9f9f9f;
      border: initial;
      border-radius: 4px;
      width: 150px;
      height: 40px;
    }
  }
  #detail-user {
    position: relative;
    /* transition: width 1s;
      -moz-transition: width 1s;
      -webkit-transition: width 1s;
      -o-transition: width 1s;*/
    width: 0;
    background: white;
    padding: 25px;
    float: left;
    margin-left: 25px;
    display: none;
    overflow: hidden;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    .avatar {
      text-align: center;
      margin-bottom: 25px;
      margin-top: 25px;
      img {
        border-radius: 50%;
      }
    }
    .item-label {
      color: black;
      font-weight: bold;
      font-size: 14px;
      margin-bottom: 10px;
    }
    .item-text {
      color: black;
      font-size: 16px;
      margin-bottom: 20px;
      opacity: 0.6;
    }
    .el-icon-close {
      background: #e3e3e3;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      text-align: center;
      line-height: 30px;
      color: #878787;
      font-size: 16px;
      position: absolute;
      right: 10px;
      top: 10px;
      cursor: pointer;
    }
  }
  .el-table th > .cell {
    text-align: left;
  }
  .el-table tr > th:first-child .cell {
    text-align: center;
  }
  .el-table th {
    color: black;
    font-size: 14px;
  }
  .el-table td {
    color: black;
    font-size: 14px;
  }
  .el-table tr td:first-child {
    text-align: center;
  }
  .el-table td:first-child .cell {
    display: inline-block;
  }
  .filter-container {
    padding-bottom: 20px;
  }
  tbody {
    tr {
      cursor: pointer;
    }
  }
  .search-block {
    text-align: left;
    .search {
      display: inline;
      input {
        width: 272px;
        height: 36px !important;
        line-height: 36px !important;
        border: solid 1px #9999;
        border-radius: 5px;
        padding-left: 40px;
      }
      .el-icon-search {
        line-height: 16px;
        font-size: 19px;
        color: #666;
      }
      span {
        left: 10px;
      }
    }
    button {
      background: #26c6da;
      border-radius: 4px;
      height: 40px !important;
      width: 147px;
      margin-left: 15px;
      border-color: #26c6da;
      span {
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
}
</style>
