<el-input
  :placeholder="placeholder"
  v-model="data"
  >
</el-input>

<script>
export default {
  props: {
  	placeholder: {
  		type: String,
  		default: null
  	},
  	data: {
  		type: String,
  		default: null
  	}
  }
}
</script>