<template>
  <div class="app-container claim">
    <div class="violations-process-box st-box">
      <div class="left-box" :class="{ nopadding: showTraffic }">
        <el-card class="box-card">
          <div slot="header" class="clearfix">
            <span class="title-card">Thông tin lưu lượng</span>
            <div class="arrow-dashboard">
              <div
                class="arrow-left"
                :class="{ active: !showTraffic }"
                @click="showTraffic = false"
              ></div>
              <div
                class="arrow-right"
                :class="{ active: showTraffic }"
                @click="showTraffic = true"
              ></div>
            </div>
            <el-button
              @click="handleObjectType('vehicleTrafficFlowType', 'year')"
              class="btn"
              :class="{ 'btn-primary': vehicleTrafficFlowType == 'year' }"
              style="float: right; padding: 3px 0; margin-left: 10px"
              type="info"
              >Năm</el-button
            >
            <el-button
              @click="handleObjectType('vehicleTrafficFlowType', 'month')"
              class="btn"
              :class="{ 'btn-primary': vehicleTrafficFlowType == 'month' }"
              style="float: right; padding: 3px 0"
              type="info"
              >Tháng</el-button
            >
            <el-button
              @click="handleObjectType('vehicleTrafficFlowType', 'day')"
              class="btn"
              :class="{ 'btn-primary': vehicleTrafficFlowType == 'day' }"
              style="float: right; padding: 3px 0"
              type="info"
              >Ngày</el-button
            >
            <el-button
              @click="handleObjectType('vehicleTrafficFlowType', 'hour')"
              class="btn"
              :class="{ 'btn-primary': vehicleTrafficFlowType == 'hour' }"
              style="float: right; padding: 3px 0"
              type="info"
              >Giờ</el-button
            >
          </div>
          <div class="body-box-content">
            <div class="content-left" v-if="!showTraffic">
              <div v-if="vehicleTrafficFlowMetrics" class="infor-traffic-image">
                <div
                  v-for="(val, ind) in vehicleTrafficFlowMetrics.dataObjectType"
                  :key="ind"
                  class="text item"
                >
                  <img
                    :src="vehicleImage[val.objectType]"
                    alt=""
                    :class="val.objectType"
                  />
                  <p class="traffic-number">{{ val.value }}</p>
                </div>
              </div>
            </div>
            <div
              class="infor-traffic-pie-chart"
              style="padding: 0"
              v-if="showTraffic"
            >
              <highcharts :options="getChartData()"></highcharts>
              <!-- <PieChart
              v-if="vehicleTrafficFlowMetrics != null"
              :data="handleGetValuePieChartInforTraffic()" :color="colorPieChartInfor" :dataLegend="pieChartDataLengendInfo"
            /> -->
            </div>
          </div>
        </el-card>
      </div>
      <div class="right-box">
        <el-card class="box-card setpadding">
          <div slot="header" class="clearfix">
            <span class="title-card">Thông tin vi phạm</span>
            <div class="arrow-dashboard">
              <div
                class="arrow-left"
                :class="{ active: !showInforViolation }"
                @click="showInforViolation = false"
              ></div>
              <div
                class="arrow-right"
                :class="{ active: showInforViolation }"
                @click="showInforViolation = true"
              ></div>
            </div>
            <el-button
              @click="handleObjectTypeInfo('inforFlowType', 'year')"
              :class="{ 'btn-primary': inforFlowType == 'year' }"
              class="btn"
              style="float: right; padding: 3px 0; margin-left: 10px"
              type="info"
              >Năm</el-button
            >
            <el-button
              @click="handleObjectTypeInfo('inforFlowType', 'month')"
              :class="{ 'btn-primary': inforFlowType == 'month' }"
              class="btn"
              style="float: right; padding: 3px 0"
              type="info"
              >Tháng</el-button
            >
            <el-button
              @click="handleObjectTypeInfo('inforFlowType', 'day')"
              :class="{ 'btn-primary': inforFlowType == 'day' }"
              class="btn"
              style="float: right; padding: 3px 0"
              type="info"
              >Ngày</el-button
            >
            <el-button
              @click="handleObjectTypeInfo('inforFlowType', 'hour')"
              :class="{ 'btn-primary': inforFlowType == 'hour' }"
              class="btn"
              style="float: right; padding: 3px 0"
              type="info"
              >Giờ</el-button
            >
          </div>
          <div class="right-box-content">
            <template>
              <div
                class="infor-violations infor-violations-box"
                v-if="!showInforViolation"
              >
                <div class="infor-violation-top">
                  <div class="box-item" style="background-color: #3598da">
                    <span class="box-item-title">Ghi nhận</span>
                    <span class="box-item-number">{{
                      infoViolationMetrics &&
                      infoViolationMetrics.infoViolationProcessStatusMetrics
                        .totalViolation
                    }}</span>
                  </div>
                  <div class="box-item" style="background-color: #ffc412">
                    <span class="box-item-title">Chưa xử lý</span>
                    <span class="box-item-number">{{
                      infoViolationMetrics &&
                      infoViolationMetrics.infoViolationProcessStatusMetrics
                        .totalViolationConfirm
                    }}</span>
                  </div>
                  <div class="box-item" style="background-color: #ff783e">
                    <span class="box-item-title">Đang xử lý</span>
                    <span class="box-item-number">{{
                      infoViolationMetrics &&
                      infoViolationMetrics.infoViolationProcessStatusMetrics
                        .totalViolationProcessing
                    }}</span>
                  </div>
                  <div class="box-item" style="background-color: #9a58b5">
                    <span class="box-item-title">Đã xử lý</span>
                    <span class="box-item-number">{{
                      infoViolationMetrics &&
                      infoViolationMetrics.infoViolationProcessStatusMetrics
                        .totalViolationProcess
                    }}</span>
                  </div>
                  <div class="box-item" style="background-color: #e84c3d">
                    <span class="box-item-title">Phạt nguội</span>
                    <span class="box-item-number">{{
                      infoViolationMetrics &&
                      infoViolationMetrics.infoViolationProcessStatusMetrics
                        .totalViolationCold
                    }}</span>
                  </div>
                </div>
              </div>
            </template>
            <template>
              <div
                v-if="showInforViolation"
                class="infor-traffic-pie-chart"
                style="padding: 0"
              >
                <highcharts :options="getChartData2()"></highcharts>
                <!-- <PieChart
              v-if="infoViolationMetrics != null"
              :data="handleGetDataPieChartVio()" :color="colorPieChartVio" :dataLegend="handleGetDataLegendVio()"
            /> -->
              </div>
            </template>
          </div>
        </el-card>
      </div>
    </div>
    <div class="violations-process-box nopadding">
      <div class="left-box">
        <el-card class="box-card">
          <div slot="header" class="clearfix">
            <span class="title-card">Biểu đồ lưu lượng</span>
            <el-button
              @click="handleObjectType('trafficForChartType', 'year')"
              :class="{ 'btn-primary': trafficForChartType == 'year' }"
              class="btn"
              style="float: right; padding: 3px 0; margin-left: 10px"
              type="info"
              >Năm</el-button
            >
            <el-button
              @click="handleObjectType('trafficForChartType', 'month')"
              :class="{ 'btn-primary': trafficForChartType == 'month' }"
              class="btn"
              style="float: right; padding: 3px 0"
              type="info"
              >Tháng</el-button
            >
            <el-button
              @click="handleObjectType('trafficForChartType', 'day')"
              :class="{ 'btn-primary': trafficForChartType == 'day' }"
              class="btn"
              style="float: right; padding: 3px 0"
              type="info"
              >Ngày</el-button
            >
          </div>
          <div class="infor-traffic-image padding-o" v-if="trafficForChartMetrics != null">
            <BarChart :key="flagKeyChartTraffic" :trafficForChart="trafficForChartMetrics" />
          </div>
        </el-card>
      </div>
      <div class="right-box">
        <el-card class="box-card">
          <div slot="header" class="clearfix">
            <span class="title-card">Biểu đồ vi phạm</span>
            <el-button
              @click="handleObjectTypeInfo('inforForChartType', 'year')"
              :class="{ 'btn-primary': inforForChartType == 'year' }"
              class="btn"
              style="float: right; padding: 3px 0; margin-left: 10px"
              type="info"
              >Năm</el-button
            >
            <el-button
              @click="handleObjectTypeInfo('inforForChartType', 'month')"
              :class="{ 'btn-primary': inforForChartType == 'month' }"
              class="btn"
              style="float: right; padding: 3px 0"
              type="info"
              >Tháng</el-button
            >
            <el-button
              @click="handleObjectTypeInfo('inforForChartType', 'day')"
              :class="{ 'btn-primary': inforForChartType == 'day' }"
              class="btn"
              style="float: right; padding: 3px 0"
              type="info"
              >Ngày</el-button
            >
          </div>
          <div
            class="infor-violations padding-o"
            v-if="chartViolationMetrics != null"
          >
            <GroupBarChart :key="flagKeyChartTraffic" :chartViolationMetrics="chartViolationMetrics" :violation-label="violationTypeLst" />
          </div>
        </el-card>
      </div>
    </div>
    <div class="violations-process-box table__scroll">
      <div class="left-box">
        <el-card class="box-card">
          <div slot="header" class="clearfix">
            <span class="title-card">Thông tin lưu lượng</span>
            <el-button
              @click="handleObjectType('trafficBySiteType', 'year')"
              :class="{ 'btn-primary': trafficBySiteType == 'year' }"
              class="btn"
              style="float: right; padding: 3px 0; margin-left: 10px"
              type="info"
              >Năm</el-button
            >
            <el-button
              @click="handleObjectType('trafficBySiteType', 'month')"
              :class="{ 'btn-primary': trafficBySiteType == 'month' }"
              class="btn"
              style="float: right; padding: 3px 0"
              type="info"
              >Tháng</el-button
            >
            <el-button
              @click="handleObjectType('trafficBySiteType', 'day')"
              :class="{ 'btn-primary': trafficBySiteType == 'day' }"
              class="btn"
              style="float: right; padding: 3px 0"
              type="info"
              >Ngày</el-button
            >
            <el-button
              @click="handleObjectType('trafficBySiteType', 'hour')"
              :class="{ 'btn-primary': trafficBySiteType == 'hour' }"
              class="btn"
              style="float: right; padding: 3px 0; margin-left: 10px"
              type="info"
              >Giờ</el-button
            >
          </div>
          <div class="infor-traffic-metrict">
            <template>
              <el-table :data="tableDataSite" :max-height="380" stripe style="width: 100%">
                <el-table-column prop="site" label="Vị trí" sortable :min-width="90" />
                <el-table-column prop="total" label="Tổng số"/>
                <el-table-column prop="car" min-width="50px">
                  <template slot="header">
                    <el-tooltip class="item" effect="dark" content="Ô tô" placement="top-start">
                      <img :src="vehicleImage.car" width="41px" alt="" />
                    </el-tooltip>
                  </template>
                </el-table-column>
                <el-table-column prop="motorbike" min-width="50px">
                  <template slot="header">
                    <el-tooltip class="item" effect="dark" content="Xe máy" placement="top-start">
                      <img class="icon-th" :src="vehicleImage.motorbike" alt=""/>
                    </el-tooltip>
                  </template>
                </el-table-column>
                <!-- Remove constructed
                <el-table-column prop="constructed" min-width="50px">
                  <template slot="header">
                    <el-tooltip class="item" effect="dark" content="Xe xây dựng" placement="top-start">
                      <img class="icon-th" :src="vehicleImage.constructed" alt="">
                    </el-tooltip>
                  </template>
                </el-table-column>
                -->
                <el-table-column prop="bike" min-width="50px">
                  <template slot="header">
                    <el-tooltip class="item" effect="dark" content="Xe đạp" placement="top-start">
                      <img class="icon-th" :src="vehicleImage.bike" alt="" />
                    </el-tooltip>
                  </template>
                </el-table-column>
                <el-table-column prop="truck" min-width="50px">
                  <template slot="header">
                    <el-tooltip class="item" effect="dark" content="Xe tải" placement="top-start">
                      <img class="icon-th" :src="vehicleImage.truck" alt="" />
                    </el-tooltip>
                  </template>
                </el-table-column>
                <el-table-column prop="pedestrian" min-width="50px">
                  <template slot="header">
                    <el-tooltip class="item" effect="dark" content="Người đi bộ" placement="top-start">
                      <img class="icon-th-pedestrian" height="27" :src="vehicleImage.pedestrian" alt=""/>
                    </el-tooltip>
                  </template>
                </el-table-column>
                <el-table-column prop="bus" min-width="50px">
                  <template slot="header">
                    <el-tooltip class="item" effect="dark" content="Xe bus" placement="top-start">
                      <img class="icon-th" :src="vehicleImage.bus" alt="" />
                    </el-tooltip>
                  </template>
                </el-table-column>
              </el-table>
            </template>
          </div>
        </el-card>
      </div>
      <div class="right-box">
        <el-card class="box-card">
          <div slot="header" class="clearfix">
            <span class="title-card">Thông tin vi phạm</span>
            <el-button
              @click="handleObjectTypeInfo('inforSiteType', 'year')"
              :class="{ 'btn-primary': inforSiteType == 'year' }"
              class="btn"
              style="float: right; padding: 3px 0; margin-left: 15px"
              type="info"
              >Năm</el-button
            >
            <el-button
              @click="handleObjectTypeInfo('inforSiteType', 'month')"
              :class="{ 'btn-primary': inforSiteType == 'month' }"
              class="btn"
              style="float: right; padding: 3px 0"
              type="info"
              >Tháng</el-button
            >
            <el-button
              @click="handleObjectTypeInfo('inforSiteType', 'day')"
              :class="{ 'btn-primary': inforSiteType == 'day' }"
              class="btn"
              style="float: right; padding: 3px 0"
              type="info"
              >Ngày</el-button
            >
            <el-button
              @click="handleObjectTypeInfo('inforSiteType', 'hour')"
              :class="{ 'btn-primary': inforSiteType == 'hour' }"
              class="btn"
              style="float: right; padding: 3px 0"
              type="info"
              >Giờ</el-button
            >
          </div>
          <div class="infor-violations-table">
            <template>
              <el-table :data="tableInfoSite" :max-height="380" stripe>
                <el-table-column prop="site" label="Nút giao" :min-width="90" sortable />
                <el-table-column prop="total" label="Tổng số" />
                <template v-for="v in violationTypeLst.filter(e => e.code !== 'UNKNOWN')">
                  <el-table-column :key="v.id" :prop="v.code" min-width="50px">
                    <template slot="header">
                      <el-tooltip class="item" effect="dark" :content="v.name" placement="top-start">
                        <event-icon width="30px" height="30px" :icon="v.code" />
                      </el-tooltip>
                    </template>
                  </el-table-column>
                </template>
                <el-table-column prop="UNKNOWN" label="Khác" min-width="50px" />
              </el-table>
            </template>
          </div>
        </el-card>
      </div>
    </div>
    <div class="violations-process-box aleart-infor">
      <div class="left-box">
        <el-card class="box-card">
          <div class="title-card" style="margin-bottom: 20px">
            Cảnh báo lưu lượng
          </div>
          <div class="infor-traffic-alert">
            <table>
              <tr v-for="(val, key) in reportEvent" :key="key">
                <td class="site-name">
                  <div class="site-name-box">
                    <img
                      v-if="val.statusTrafficCode == 0"
                      src="@/assets/images/info@2x.png"
                      alt=""
                    />
                    <img
                      v-if="val.statusTrafficCode == 1"
                      src="@/assets/images/warning@2x.png"
                      alt=""
                    />
                    <span>{{ val.statusTrafficName }}</span>
                  </div>
                </td>
                <td class="statusTrafficName">{{ val.siteName }}</td>
                <td class="currentTime">{{ val.currentTime }}</td>
              </tr>
            </table>
          </div>
        </el-card>
      </div>
      <div class="right-box">
        <el-card class="box-card">
          <div class="title-card" style="margin-bottom: 20px">
            Phát hiện theo dõi
          </div>
          <div class="alert-system">
            <table class="alert-system-table" style="width: 100%">
              <tr v-for="(val, key) in notifyTrackEven" :key="key">
                <td class="sourceName image-box">
                  <div class="site-name-box">
                    <img src="@/assets/images/warning@2x.png" alt="" />
                    <span>{{
                      val.site
                        ? JSON.parse(val.site).site_name
                        : "Không xác định"
                    }}</span>
                  </div>
                </td>
                <td class="cameraStatus image-box">
                  <div class="site-name-box">
                    <span>{{ val.plate }}</span>
                  </div>
                </td>
                <td class="currentTime">
                  {{ val.startTime | formatDateVietNam }}
                </td>
              </tr>
            </table>
          </div>
        </el-card>
      </div>
    </div>
  </div>
</template>

<script>
import waves from "@/directive/waves"; // Waves directive
import BarChart from "../admin/components/BarChart";
import GroupBarChart from "../admin/components/GroupBarChart";
const reportTraffocFlow = new Resource("report/traffic-flow");
const reportViolation = new Resource("report/violation");
const reportTraffic = new Resource("report/site-traffic-status");
const notiTrackVehicle = new Resource("report/vehicleTrack/notify");
const categoryResource = new Resource("systemconfig/category");
import Resource from "@/api/resource";
import default_img_car from "@/assets/images/13-car.png";
import default_img_motor from "@/assets/images/motorcycle.png";
import default_img_cargo_truck from "@/assets/images/cargo-truck.png";
import pedestrian_man from "@/assets/images/pedestrian-man.png";
import default_img_Union from "@/assets/images/Union15.png";
import default_img_bike from "@/assets/images/icons/bike.png";
import default_img_contruct from "@/assets/images/contructor.png";

import { Chart } from "highcharts-vue";
import EventIcon from "@/components/EventIcon";

export default {
  components: {
    EventIcon,
    BarChart,
    highcharts: Chart,
    GroupBarChart,
  },
  directives: { waves },
  data() {
    return {
      flagKeyChartTraffic: 1,
      showTraffic: false,
      colorPieChartInfor: [
        "#36a9f3",
        "#4fc979",
        "#ffae53",
        "#685eca",
        "#ffbf00",
        "red",
        "#f9327a",
      ],
      pieChartDataLengendInfo: [
        "Xe máy",
        "Ô tô",
        "Xe tải",
        "Xe bus",
        "Xe xây dựng",
        "Xe đạp",
        "Người đi bộ",
      ],
      colorPieChartVio: [],
      showInforViolation: false,
      vehicleImage: {
        car: default_img_car,
        motorbike: default_img_motor,
        truck: default_img_cargo_truck,
        bus: default_img_Union,
        constructed: default_img_contruct,
        bike: default_img_bike,
        pedestrian: pedestrian_man,
      },
      trafficFlow: null,
      trafficBySiteType: "day",
      trafficForChartType: "day",
      vehicleTrafficFlowType: "day",
      inforSiteType: "day",
      inforForChartType: "day",
      inforFlowType: "day",
      dataPieTraffic: null,
      dataPieViolation: null,
      vehicleTrafficFlowMetrics: null,
      trafficForChartMetrics: null,
      trafficBySiteMetrics: null,
      infoViolationMetrics: null,
      chartViolationMetrics: null,
      violationBySiteMetrics: null,
      tableDataSite: [],
      tableInfoSite: [],
      reportEvent: [],
      reportCamList: [],
      intervalId: null,
      notifyTrackEven: [],
      totalTraffic: 0,
      totalViolation: 0,
      violationTypeLst: []
    };
  },

  async created() {
    this.init();
    this.getViolationTypeList()
  },
  computed: {
    style: {
      get() {
        let fontSize = 45;
        if (this.infoViolationMetrics != null) {
          const max = Math.max(
            this.infoViolationMetrics.totalViolation,
            this.infoViolationMetrics.totalViolationConfirm,
            this.infoViolationMetrics.totalViolationProcess
          );
          if (max <= 999) {
            fontSize = 45;
          } else if (max > 999 && max < 9999) {
            fontSize = 25;
          } else {
            fontSize = 20;
          }
        }
        return {
          fontSize: fontSize + "px",
        };
      },
    },
  },
  methods: {
    async init() {
      if (this.intervalId) {
        clearInterval(this.intervalId);
      }
      let self = this;
      self.getTrafficFlow();
      self.getViolationRepost();
      self.handleGetRepostTraffic();
      self.handleGetNotiListTrackVehicle();
      const idIterval = setInterval(function () {
        self.getTrafficFlow();
        self.getViolationRepost();
        self.handleGetRepostTraffic();
      }, 30000);
      this.intervalId = idIterval;
      window.localStorage.setItem("intervalId", idIterval);
    },
    async getViolationTypeList() {
      let queryCustom = {
        catType: "VIOLATION",
      };
      let result = await categoryResource.list(queryCustom);
      if (result && result.data) {
        this.violationTypeLst = result.data;
      }
    },
    getImage(path) {
      return require(path);
    },
    async handleGetRepostTraffic() {
      const res = await reportTraffic.list();
      if (res && res.data) {
        this.reportEvent = res.data;
      }
    },
    async handleGetNotiListTrackVehicle() {
      const query = {
        currentPage: 1,
        rowsPerPage: 10,
        userId: this.$store.state.user.id,
      };
      const res = await notiTrackVehicle.list(query);
      if (res && res.data) {
        this.notifyTrackEven = res.data;
      }
    },
    hanldeSiteTableData(data) {
      if (data != null)
        return data.map((f) => {
          let car = 0,
            motorbike = 0,
            truck = 0,
            bus = 0,
            constructed = 0,
            bike = 0,
            pedestrian = 0;
          for (let i = 0; i < f.dataObjectType.length; i++) {
            if (f.dataObjectType[i].objectType == "car") {
              car = f.dataObjectType[i].value;
            }
            if (f.dataObjectType[i].objectType == "motorbike") {
              motorbike = f.dataObjectType[i].value;
            }
            if (f.dataObjectType[i].objectType == "truck") {
              truck = f.dataObjectType[i].value;
            }
            if (f.dataObjectType[i].objectType == "bus") {
              bus = f.dataObjectType[i].value;
            }
            if (f.dataObjectType[i].objectType == "constructed") {
              constructed = f.dataObjectType[i].value;
            }
            if (f.dataObjectType[i].objectType == "bike") {
              bike = f.dataObjectType[i].value;
            }
            if (f.dataObjectType[i].objectType == "pedestrian") {
              pedestrian = f.dataObjectType[i].value;
            }
          }
          return {
            site: f.site,
            total: f.total,
            car,
            motorbike,
            truck,
            bus,
            constructed,
            bike,
            pedestrian,
          };
        });
    },
    handleGetDataPieChartVio() {
      let self = this
      if (
        this.infoViolationMetrics &&
        this.infoViolationMetrics.infoViolationChartMetrics != null
      )
        this.totalViolation = 0
        this.colorPieChartVio = []
        this.infoViolationMetrics.infoViolationChartMetrics.violationTypeValueList.forEach(element => {
          this.totalViolation = this.totalViolation + element.value
        })
        this.totalViolation = this.formatNumber(this.totalViolation)
        return this.infoViolationMetrics.infoViolationChartMetrics.violationTypeValueList.map(
          (m) => {
            this.colorPieChartVio.push(self.$root.eventColor(m.eventType))
            return { name: m.eventTypeName, y: m.value };
          }
        );
    },

    hanldeSiteTableDataInfor(data) {
      let newData = []
      data.forEach(function (item) {
        let itemChild = {}
        itemChild.site = item.siteName
        itemChild.total = item.total
        item.dataEventType.forEach(e => {
          itemChild[e.eventType] = e.value
        })
        newData.push(itemChild);
      });
      return newData;
    },
    handleObjectType(type, value) {
      if (type == "trafficBySiteType") {
        this.trafficBySiteType = value;
      }
      if (type == "trafficForChartType") {
        this.trafficForChartType = value;
        this.trafficForChartMetrics = null;
      }
      if (type == "vehicleTrafficFlowType") {
        this.vehicleTrafficFlowType = value;
        this.vehicleTrafficFlowMetrics = null;
      }
      this.getTrafficFlow();
    },
    handleObjectTypeInfo(type, value) {
      if (type == "inforSiteType") {
        this.inforSiteType = value;
      }
      if (type == "inforForChartType") {
        this.inforForChartType = value;
        this.chartViolationMetrics = null;
      }
      if (type == "inforFlowType") {
        this.inforFlowType = value;
        this.infoViolationMetrics = null;
      }
      this.getViolationRepost();
    },
    async getViolationRepost() {
      const queryCustom = {
        vehicleTrafficFlowType: this.inforFlowType,
        trafficForChartType: this.inforForChartType,
        trafficBySiteType: this.inforSiteType,
      };
      const res = await reportViolation.list(queryCustom);
      if (res && res.data) {
        this.infoViolationMetrics = res.data.infoViolationMetrics;
        this.chartViolationMetrics = res.data.chartViolationMetrics;
        this.violationBySiteMetrics = res.data.violationBySiteMetrics;
        this.tableInfoSite = this.hanldeSiteTableDataInfor(
          this.violationBySiteMetrics.data
        );
        this.dataPieViolation = this.handleGetDataPieChartVio();
      }
    },
    getChartData() {
      // console.log(this.total)
      let self = this
      return {
        chart: {
          plotBackgroundColor: null,
          plotBorderWidth: null,
          plotShadow: false,
          type: "pie",
          height: 230,
          events: {
              load: function() {
                if (this.title) {
                    this.title.destroy();
                }
                var r = this.renderer,
                    x = this.series[0].center[0] + this.plotLeft,
                    y = this.series[0].center[1] + this.plotTop;
                this.title = r.html("<span style='display:inline-block;text-align:center;margin-top:-10px;'><span style='font-size:12px;font-weight:500;color:black;margin-bottom:5px;display:inline-block;'>Tổng</span><br>" +
              "<span style='font-size:15px;font-weight:bold;color:black;margin-bottom:20px;display:inline-block;'>" +
              self.totalTraffic +
              "</span></span>", 0, 0)
                    .css({
                    color: 'black',
                    fontSize: '16px',
                    fontWeight : 'bold'
                }).hide()
                    .add();

                var bbox = this.title.getBBox();
                this.title.attr({
                    x: x - (bbox.width / 2),
                    y: y
                }).show();
              },
              redraw: function() {
                if (this.title) {
                    this.title.destroy();
                }
                var r = this.renderer,
                    x = this.series[0].center[0] + this.plotLeft,
                    y = this.series[0].center[1] + this.plotTop;
                this.title = r.html("<span style='display:inline-block;text-align:center;margin-top:-10px;'><span style='font-size:12px;font-weight:500;color:black;margin-bottom:5px;display:inline-block;'>Tổng</span><br>" +
              "<span style='font-size:15px;font-weight:bold;color:black;margin-bottom:20px;display:inline-block;'>" +
              self.totalTraffic +
              "</span></span>", 0, 0)
                    .css({
                    color: 'black',
                    fontSize: '16px',
                    fontWeight : 'bold'
                }).hide()
                    .add();

                var bbox = this.title.getBBox();
                this.title.attr({
                    x: x - (bbox.width / 2),
                    y: y
                }).show();
              },
            },
        },
        colors: this.colorPieChartInfor,
        title: {
          text: "",
          align: "center",
          verticalAlign: "middle",
          floating: true,
          x: -75,
          // y: 0,
        },
        tooltip: {
          enabled: false,
          // /pointFormat: "{series.name}: <b>{point.percentage:.1f}%</b>",
          useHTML: true,
          // formatter: function () {
          //     return this.key + '<br>'
          //         + '</b> Persentase: <b>' + this.percentage.toFixed(2) + '% </b>('+ this.point.y + ' Transaction)<br>'
          //         + 'Rp.' + this.point.money;
          // }
        },
        credits: {
          enabled: false,
        },
        legend: {
          layout: "vertical",
          align: "right",
          verticalAlign: "middle",
          itemWidth: 130,
          x: 0,
          y: 0,
          itemMarginBottom: 15,
          itemMarginTop: 2,
          itemStyle: {
            color: "#333333",
            cursor: "pointer",
            fontSize: "14px",
            fontWeight: 500,
            textOverflow: "ellipsis",
          },
          labelFormatter: function () {
            return this.options.name;
          },
        },
        plotOptions: {
          pie: {
            allowPointSelect: true,
            cursor: "pointer",
            dataLabels: {
              enabled: true,
              // crop: false,
              filter: {
                operator: ">",
                property: "y",
                value: 0,
              },
              // format: "<b>{point.name}</b>: {point.percentage:.1f} %",
              distance: 10,
              formatter: function () {
                // return this.key + '<br>' + this.percentage.toFixed(2) + '%'
                return this.percentage.toFixed(2) + "%";
              },
              style: {
                color: "black",
                textOutline: false,
              },
            },
            showInLegend: true,
          },
        },
        series: [
          {
            // name: "Prosentase",
            colorByPoint: true,
            innerSize: "50%",
            data: this.dataPieTraffic,
          },
        ],
      };
    },

    getChartData2() {
      // console.log(this.total)
      let self = this
      return {
        chart: {
          plotBackgroundColor: null,
          plotBorderWidth: null,
          plotShadow: false,
          type: "pie",
          height: 230,
          events: {
              load: function() {
                if (this.title) {
                    this.title.destroy();
                }
                var r = this.renderer,
                    x = this.series[0].center[0] + this.plotLeft,
                    y = this.series[0].center[1] + this.plotTop;
                this.title = r.html("<span style='display:inline-block;text-align:center;margin-top:-10px;'><span style='font-size:12px;font-weight:500;color:black;margin-bottom:5px;display:inline-block;'>Tổng</span><br>" +
              "<span style='font-size:15px;font-weight:bold;color:black;margin-bottom:20px;display:inline-block;'>" +
              self.totalViolation +
              "</span></span>", 0, 0)
                    .css({
                    color: 'black',
                    fontSize: '16px',
                    fontWeight : 'bold'
                }).hide()
                    .add();

                var bbox = this.title.getBBox();
                this.title.attr({
                    x: x - (bbox.width / 2),
                    y: y
                }).show();
              },
              redraw: function() {
                if (this.title) {
                    this.title.destroy();
                }
                var r = this.renderer,
                    x = this.series[0].center[0] + this.plotLeft,
                    y = this.series[0].center[1] + this.plotTop;
                this.title = r.html("<span style='display:inline-block;text-align:center;margin-top:-10px;'><span style='font-size:12px;font-weight:500;color:black;margin-bottom:5px;display:inline-block;'>Tổng</span><br>" +
              "<span style='font-size:15px;font-weight:bold;color:black;margin-bottom:20px;display:inline-block;'>" +
              self.totalViolation +
              "</span></span>", 0, 0)
                    .css({
                    color: 'black',
                    fontSize: '16px',
                    fontWeight : 'bold'
                }).hide()
                    .add();

                var bbox = this.title.getBBox();
                this.title.attr({
                    x: x - (bbox.width / 2),
                    y: y
                }).show();
              },
            },
        },
        credits: {
          enabled: false,
        },
        colors: this.colorPieChartVio,
        title: {
          text: "",
          align: "center",
          verticalAlign: "middle",
          floating: true,
          x: -75,
          // y: 0,
        },
        tooltip: {
          enabled: false,
          // /pointFormat: "{series.name}: <b>{point.percentage:.1f}%</b>",
          useHTML: true,
          // formatter: function () {
          //     return this.key + '<br>'
          //         + '</b> Persentase: <b>' + this.percentage.toFixed(2) + '% </b>('+ this.point.y + ' Transaction)<br>'
          //         + 'Rp.' + this.point.money;
          // }
        },
        legend: {
          layout: "vertical",
          align: "right",
          verticalAlign: "middle",
          // itemWidth: 145,
          x: 0,
          y: 0,
          itemMarginBottom: 15,
          itemMarginTop: 2,
          itemStyle: {
            color: "#333333",
            cursor: "pointer",
            fontSize: "14px",
            fontWeight: 500,
            textOverflow: "ellipsis",
          },
          labelFormatter: function () {
            return this.options.name;
          },
        },
        plotOptions: {
          pie: {
            allowPointSelect: true,
            cursor: "pointer",
            dataLabels: {
              enabled: true,
              // crop: false,
              filter: {
                operator: ">",
                property: "y",
                value: 0,
              },
              // format: "<b>{point.name}</b>: {point.percentage:.1f} %",
              distance: 10,
              formatter: function () {
                // return this.key + '<br>' + this.percentage.toFixed(2) + '%'
                return this.percentage.toFixed(2) + "%";
              },
              style: {
                color: "black",
                textOutline: false,
              },
            },
            showInLegend: true,
          },
        },
        series: [
          {
            // name: "Prosentase",
            colorByPoint: true,
            innerSize: "50%",
            data: this.dataPieViolation,
          },
        ],
      };
    },
    handleGetValuePieChartInforTraffic() {
      if (
        this.vehicleTrafficFlowMetrics &&
        this.vehicleTrafficFlowMetrics != null
      )
      this.totalTraffic = 0
      this.vehicleTrafficFlowMetrics.dataObjectType.forEach(element => {
        this.totalTraffic = this.totalTraffic + element.value
      })
      // console.log(this.vehicleTrafficFlowMetrics)
      this.totalTraffic = this.formatNumber(this.totalTraffic)
      var t = this.vehicleTrafficFlowMetrics.dataObjectType.map((m) => {
        return { name: m.objectTypeName, y: m.value };
      });
      return t;
    },
    formatNumber(amount, decimalCount = 2, decimal = ".", thousands = ",") {
      try {
        decimalCount = Math.abs(decimalCount);
        decimalCount = isNaN(decimalCount) ? 2 : decimalCount;

        const negativeSign = amount < 0 ? "-" : "";

        let i = parseInt(amount = Math.abs(Number(amount) || 0).toFixed(decimalCount)).toString();
        let j = (i.length > 3) ? i.length % 3 : 0;

        return negativeSign + (j ? i.substr(0, j) + thousands : '') + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + thousands);
      } catch (e) {
        console.log(e)
      }
    },
    handleGetDataLegendVio() {
      if (
        this.infoViolationMetrics &&
        this.infoViolationMetrics.infoViolationChartMetrics != null
      )
        return this.infoViolationMetrics.infoViolationChartMetrics.violationTypeValueList.map(
          (m) => {
            return m.eventTypeName;
          }
        );
    },
    async getTrafficFlow() {
      const queryCustom = {
        vehicleTrafficFlowType: this.vehicleTrafficFlowType,
        trafficForChartType: this.trafficForChartType,
        trafficBySiteType: this.trafficBySiteType,
      };
      const res = await reportTraffocFlow.list(queryCustom);
      if (res && res.data) {
        this.vehicleTrafficFlowMetrics = res.data.vehicleTrafficFlowMetrics;
        //Remove construct
        if (
          this.vehicleTrafficFlowMetrics &&
          this.vehicleTrafficFlowMetrics.dataObjectType
        ) {
          for (var i in this.vehicleTrafficFlowMetrics.dataObjectType) {
            if (
              this.vehicleTrafficFlowMetrics.dataObjectType[i].objectType ===
              "constructed"
            ) {
              this.vehicleTrafficFlowMetrics.dataObjectType.splice(i, 1);
              break;
            }
          }
        }
        //
        this.trafficForChartMetrics = res.data.trafficForChartMetrics;
        this.flagKeyChartTraffic = Math.floor(Math.random() * 9999)
        this.trafficBySiteMetrics = res.data.trafficBySiteMetrics;
        this.tableDataSite = this.hanldeSiteTableData(
          this.trafficBySiteMetrics.data
        );
        this.dataPieTraffic = this.handleGetValuePieChartInforTraffic();
      } else {
        this.vehicleTrafficFlowMetrics = null;
        this.trafficForChartMetrics = null;
        this.trafficBySiteMetrics = null;
      }
    },
  },
  beforeDestroy() {
    if (this.intervalId) {
      clearInterval(this.intervalId);
    }
  },
};
</script>

<style lang="scss" scoped>
.el-button + .el-button {
  margin-left: 10px;
}
.no-margin-top {
  margin-top: 0;
}

.block {
  display: inline-block;
  margin-right: 20px;
}
.list-detail .item {
  margin-bottom: 10px;
  .label {
    display: inline-block;
    width: 100px;
  }
  img {
    max-width: 100%;
    display: inline-block;
  }
}
</style>

<style lang="scss">
.form-value {
  .el-input__inner {
    margin-bottom: 10px;
  }
}
.claim td .el-button {
  margin-left: 0;
}
.st-box {
  .el-card__body {
    height: calc(100% - 49px);
  }
}
.nopadding {
  .el-card__body {
    padding: 0;
  }
}
.aleart-infor {
  .el-card__body {
    padding-right: 0px;
  }
}

.table__scroll {
  .el-card__body {
    overflow: auto;
    padding-top: 0px;
    max-height: 405px;
    th div {
      text-align: left;
    }
  }
  .right-box {
    th div {
      text-align: left;
      padding-left: 2px;
    }
  }
}
.violations-process-box {
  display: flex;
  font-size: 14px;
  width: 100%;
  margin-bottom: 17px;

  .arrow-dashboard {
    position: relative;
    display: inline-block;
    top: 2px;
    .arrow-left {
      cursor: pointer;
      width: 12px !important;
      height: 12px !important;
      display: inline-block;
      border: 8px solid;
      border-color: transparent #9898984a transparent transparent;
      &.active {
        border-color: transparent #989898 transparent transparent;
      }
      &:active {
        transform: scale(1.1);
      }
    }
    .arrow-right {
      cursor: pointer;
      &:active {
        transform: scale(1.1);
      }
      margin-left: 3px;
      width: 12px !important;
      display: inline-block;
      height: 12px !important;
      border: 8px solid;
      border-color: transparent transparent transparent #9898984a;
      &.active {
        border-color: transparent transparent transparent #989898;
      }
    }
  }

  .infor-traffic-alert {
    color: rgba(0, 0, 0, 0.6);
    overflow: auto;
    max-height: 500px;
    tr {
      height: 50px;
    }
    .site-name {
      .site-name-box {
        display: flex;
        align-items: center;
      }
      img {
        width: 13.4px;
        height: 12px;
        margin-right: 5px;
      }
      min-width: 120px;
      padding-right: 5px;
    }
    .statusTrafficName {
      padding-left: 10px;
      width: 100% !important;
    }
    .currentTime {
      min-width: 140px;
      margin-left: auto;
    }
  }
  .alert-system {
    overflow: auto;
    color: rgba(0, 0, 0, 0.6);
    tr {
      height: 50px;
    }
    td {
      width: 33%;
    }
    .image-box {
      .site-name-box {
        display: flex;
        align-items: center;
      }
      img {
        width: 13.4px;
        height: 12px;
        margin-right: 5px;
      }
      min-width: 100px;
      padding-right: 5px;
    }
    .currentTime {
      min-width: 140px;
      margin-left: auto;
    }
  }
  .right-box,
  .left-box {
    width: calc((100% - 18px) / 2);
    .clearfix {
      line-height: 27px;
    }
    .box-card {
      // height: calc(100% - 64.22px);
      height: 100%;
      min-height: 200px;
      .title-card {
        font-size: 16px;
        font-weight: 500;
      }
      .el-card__header {
        padding: 10px 15px;
        button {
          font-size: 14px;
          height: 27px;
          min-width: 62px;
          border-radius: 14px;
          background-color: #f2f2f2;
          color: rgba(74, 74, 74, 0.87);
          border: none;
        }
        .btn-primary {
          color: rgba(255, 255, 255, 0.87);
          background-color: #1f7ff5;
        }
      }
      .infor-violations {
        width: 100%;
        .infor-violation-top,
        .infor-violation-bottom {
          display: flex;
        }
        .box-item {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 33.33%;
          position: relative;
          height: 100%;
          color: #fff;
          background-color: red;
          .box-item-title {
            font-size: 14px;
            font-weight: 500;
            margin-top: 15px;
          }
          .box-item-number {
            font-size: 28px;
            bottom: 23px;
            position: absolute;
            transform: translateY(-50%);
            font-weight: bold;
          }
        }
        justify-content: space-around;
        .circle-violation-number {
          display: flex;
          align-items: center;
          align-content: center;
          justify-content: center;
          &.totalViolation {
            border-color: #f9327a;
            color: #f9327a;
          }
          &.totalViolationConfirm {
            border-color: #35bae9;
            color: #35bae9;
          }
          &.totalViolationProcess {
            border-color: #fcc103;
            color: #fcc103;
          }
          width: 100px;
          height: 100px;
          border-radius: 50%;
          border: 5px solid #35bae9;
          position: relative;
          .number-circle-violation {
            font-size: 45px;
          }
        }
        .type-info {
          margin: 0px;
          text-align: center;
          height: 35px;
        }
      }

      .infor-traffic-image {
        display: flex;
        height: 100%;
        // min-height: 141px;
        .item {
          text-align: center;
          width: 100%;
          justify-content: center;
          align-items: center;
          display: flex;
          flex-direction: column;
          img {
            margin-top: 14px;
            &.constructed {
              height: 38px;
              margin-top: 10px;
            }
            &.bike {
              height: 42px;
              margin-top: 10px;
            }
            &.pedestrian {
              height: 40px;
              margin-top: 10px;
            }
          }
          p {
            color: #505050;
            font-size: 28px;
            margin: 28px 0;
            font-weight: bold;
          }
        }
      }
    }
  }
  .icon-th {
    width: 30px;
    max-height: 30px;
  }

  .body-box-content {
    height: 100%;
    .content-left {
      height: 100%;
    }
  }
  .right-box-content {
    display: flex;
    height: 100%;
    .infor-violations-box {
      .infor-violation-top,
      .infor-violation-bottom {
        width: 100%;
        height: 100%;
        .box-item {
          height: 100%;
        }
      }
    }
    .infor-traffic-pie-chart {
      width: 100%;
    }
  }
  .svg-icon {
    /* width: 1em; */
    height: 30px;
    width: 30px;
  }
  .icon-th-pedestrian {
    //width: 20px;
    //height: 22px;
  }
  .right-box {
    margin-left: 9px;
  }
  .left-box {
    margin-right: 9px;
  }
  .setpadding {
    .el-card__body {
      padding: 0;
      height: calc(100% - 49px);
    }
  }
}
</style>
