<template>
  <div class="app-container claim track-page">
    <div class="filter-container">
      <template>
        <div class="search-block">
          <el-input
            style="width: 272px"
            class="search"
            placeholder=""
            prefix-icon="el-icon-search"
            v-model="searchKeyword"
            @keyup.enter.native="handleFilter()"
          >
          </el-input>
          <Search @clicked="onClickChild"></Search>

          <el-button
            type="info"
            style="background: #26c6da; border: 1px solid #26c6da"
            @click="resetFilter()"
            ><i class="el-icon-refresh"></i> Làm mới</el-button
          >
          <el-button
                  type="primary"
                  v-if="linkExcel"
                  class="btn-export"
                @click="refreshExport()"
                  style="background: #006FE3; border-color: #006FE3"
              >
                <a :href="linkExcel">
                  <i class="el-icon-download"></i> Tải Excel</a>
          </el-button>
          <el-button
            v-else
            type="primary"
            class="btn-export"
            :loading="loadingExport"
            style="background: #1e2e4a; border-color: #1e2e4a"
            @click="confirmExport()"
            ><i class="el-icon-arrow-right"></i> Export
          </el-button>
          <el-button
            type="primary"
            class="btn-inspect"
            style="background: #1f7ff5; border-color: #1f7ff5"
            v-if="canRead"
            @click="verifyViolation()"
            ><i class="el-icon-arrow-right"></i> Kiểm duyệt</el-button
          >
        </div>
        <div style="clear: both"></div>
      </template>
    </div>
    <div id="user-table">
      <template>
        <el-table
          :data="recognitionList"
          style="width: 100%"
          id="violation-table"
          :row-class-name="tableRowClassName"
          @row-click="handleDetail"
        >
          <el-table-column label="STT" :width="(query.page * query.size).toString().length * 10 + 30">
            <template slot-scope="scope">
              <span>{{
                (query.page - 1) * query.size + scope.$index + 1
              }}</span>
            </template>
          </el-table-column>

          <el-table-column label="Thời gian">
            <template slot-scope="scope">
              <span>{{ getHumanDate(scope.row.startTime) }}</span>
            </template>
          </el-table-column>

          <el-table-column label="Vị trí">
            <template slot-scope="scope">
              <span>{{ scope.row.siteAddress }}</span>
            </template>
          </el-table-column>

          <el-table-column label="Loại vi phạm">
            <template slot-scope="scope">
              <span>{{ scope.row.eventTypeName }}</span>
            </template>
          </el-table-column>

          <el-table-column label="Loại phương tiện">
            <template slot-scope="scope">
              <span>{{ scope.row.objectTypeName }}</span>
            </template>
          </el-table-column>

          <el-table-column label="Biển số">
            <template slot-scope="scope">
              <span>{{ scope.row.plate }}</span>
            </template>
          </el-table-column>

          <el-table-column label="Hình ảnh" width="100">
            <template slot-scope="scope">
              <image-hover :image="urlImage + scope.row.imageUrl" />
            </template>
          </el-table-column>
        </el-table>
      </template>
      <!-- ket thuc -->
      <!-- Phân trang -->
      <template v-if="!isIpad">
        <p style="clear: both"></p>
        <div style="display: inline-block; padding-top: 13px">
          Tổng số vi phạm: <strong>{{ total }}</strong>
        </div>
        <pagination
          v-show="total > query.size"
          :total="total"
          :page.sync="query.page"
          :layout="layout"
          :limit.sync="query.size"
          @pagination="getList"
        />
      </template>
    </div>
    <div id="detail-user" style="width: 0" v-if="violationDetail">
      <i class="el-icon-close close-detail" @click="closeDetail()"></i>
      <h5>Thông tin vi phạm</h5>
      <el-row :gutter="20">
        <el-col :span="5">
          <div class="grid-content bg-purple">
            <div class="list-img-cam">
              <template v-if="!active_link&&!camera.sources[0].src&&!$store.state.common.loginMilestone">
                <img class="active" :src="vehicle_default" alt="" />
              </template>
              <template v-else>
                <template v-if="violationDetail.imageUrl">
                  <template v-if="doesFileExist(base_url_img + violationDetail.imageUrl)">
                    <img :class="{active: active_link == violationDetail.imageUrl}"
                      :src="base_url_img + violationDetail.imageUrl"
                      @click="viewImage(violationDetail.imageUrl, 1)"
                      alt=""
                    />
                  </template>
                  <template v-else>
                    <img :class="{active: active_link == violationDetail.imageUrl}"
                      :src="vehicle_default"
                      @click="viewImage(violationDetail.imageUrl, 1)"
                      alt=""
                    />
                  </template>
                </template>
                <template v-if="violationDetail.imageCtxtUrl && violationDetail.imageCtxtUrl != 'null'">
                  <template v-for="val in violationDetail.imageCtxtUrl">
                    <template v-if="doesFileExist(base_url_img + val)">
                      <img
                        v-if="violationDetail.imageUrl != val"
                        @click="viewImage(val, 1)"
                        :class="{ active: active_link == val }"
                        :src="base_url_img + val"
                        alt=""
                      />
                    </template>
                    <template v-else>
                      <img
                        v-if="violationDetail.imageUrl != val"
                        @click="viewImage(val, 1)"
                        :class="{ active: active_link == val }"
                        :src="vehicle_default"
                        alt=""
                      />
                    </template>
                  </template>
                </template>
                <template v-if="checkHandleVideoSuccess()">
                  <div @click="viewImage(camera.sources[0].src, 0)">
                    <div class="img">
                      <img
                        :class="{
                          active: active_link == camera.sources[0].src,
                        }"
                        src="@/assets/images/video_play.png"
                        alt=""
                      />
                    </div>
                  </div>
                </template>
              </template>
            </div>
          </div>
        </el-col>
        <el-col :span="19">
          <div class="grid-content bg-purple">
            <div class="cam-detail">
              <template v-if="type_display == 0 && camera.sources[0].src">
                <VideoCam :link="camera.sources[0].src"></VideoCam>
              </template>
              <template >
                  <div v-if="type_display == 2">
                    <VideoMileStone ref="videoPage" type="Playback" :startTime="violationDetail.endTime" :width="width" :height="height" :cameraReal="cameraReal" />
                </div>
              </template>
              <template
                v-if="
                  type_display == 1 &&
                  active_link &&
                  doesFileExist(base_url_img + active_link)
                "
              >
                <div class="image" v-viewer>
                  <img :src="base_url_img + active_link" alt="" />
                </div>
              </template>
              <template
                v-if="
                  type_display == 1 &&
                  (!active_link || !doesFileExist(base_url_img + active_link))
                "
              >
                <div class="image" v-viewer>
                  <img :src="vehicle_default" alt="" />
                </div>
              </template>
            </div>
          </div>
        </el-col>
      </el-row>
      <div class="form-violation">
        <!-- form nhap thong tin -->
        <el-form
          :model="violationDetail"
          ref="ruleForm"
          class="violation-ruleForm"
        >
          <el-row :gutter="20">
            <el-col :span="12" class="item-input">
              <div class="image">
                <img
                  style="position: relative; top: -2px"
                  src="@/assets/images/processViolation/plate.png"
                  alt=""
                />
              </div>
              <div class="content">
                <div class="title">Biển kiểm soát</div>
                <div class="descript">{{ violationDetail.plate }}</div>
              </div>
            </el-col>
            <el-col :span="12" class="item-input">
              <div class="image">
                <img src="@/assets/images/processViolation/type.png" alt="" />
              </div>
              <div class="content">
                <div class="title">Loại vi phạm</div>
                <div class="descript">{{ violationDetail.eventTypeName }}</div>
              </div>
            </el-col>
          </el-row>
          <el-row :gutter="20">
            <el-col :span="12" class="item-input">
              <div class="image">
                <img
                  src="@/assets/images/processViolation/type_object.png"
                  alt=""
                />
              </div>
              <div class="content">
                <div class="title">Loại đối tượng</div>
                <div class="descript">
                  {{ vehicleTrack ? vehicleTrack.objectType : "" }}
                </div>
              </div>
            </el-col>
            <el-col :span="12" class="item-input">
              <div class="image">
                <img src="@/assets/images/processViolation/device.png" alt="" />
              </div>
              <div class="content">
                <div class="title">Thiết bị</div>
                <div class="descript">{{ violationDetail.sourceName }}</div>
              </div>
            </el-col>
          </el-row>
          <el-row :gutter="20">
            <el-col :span="12" class="item-input">
              <div class="image">
                <img src="@/assets/images/processViolation/clock.png" alt="" />
              </div>
              <div class="content">
                <div class="title">Thời gian bắt đầu</div>
                <div class="descript">
                  {{ violationDetail.startTime | formatDateVietNamTimeDate }}
                </div>
              </div>
            </el-col>
            <el-col :span="12" class="item-input">
              <div class="image">
                <img src="@/assets/images/processViolation/clock.png" alt="" />
              </div>
              <div class="content">
                <div class="title">Thời gian kết thúc</div>
                <div class="descript">
                  {{ violationDetail.endTime | formatDateVietNamTimeDate }}
                </div>
              </div>
            </el-col>
          </el-row>
          <el-row :gutter="20">
            <el-col :span="12" class="item-input">
              <div class="image">
                <img
                  src="@/assets/images/processViolation/address.png"
                  alt=""
                />
              </div>
              <div class="content">
                <div class="title">Vị trí</div>
                <div class="descript">{{ violationDetail.siteAddress }}</div>
              </div>
            </el-col>
          </el-row>
          <el-row :gutter="20">
            <div class="action" v-if="canUpdate">
              <el-button
                class="no-violation"
                @click="noViolation()"
                :loading="loading1"
                :disabled="disabled1"
                >Không vi phạm</el-button
              >
              <el-button
                class="violation"
                @click="violation()"
                :loading="loading2"
                :disabled="disabled2"
                >Vi phạm</el-button
              >
            </div>
          </el-row>
        </el-form>
      </div>
    </div>
    <template v-if="isIpad">
      <p style="clear: both"></p>
      <div style="display: inline-block; padding-top: 13px">
        Tổng số vi phạm: <strong>{{ total }}</strong>
      </div>
      <pagination
        v-show="total > query.size"
        :total="total"
        :page.sync="query.page"
        :layout="layout"
        :limit.sync="query.size"
        @pagination="getList"
      />
    </template>
    <!-- Detail violation -->
  </div>
</template>

<script>
import Pagination from "@/components/Pagination_custom";
import waves from "@/directive/waves"; // Waves directive
import Resource from "@/api/resource";
import moment from "moment";
import FileSaver from "file-saver";
import store from '@/store';
import XLSX from "xlsx";
import filter_icon from "@/assets/images/filter.png";
import Search from "@/components/Search/search-inspect-violations";
import { getVehicle } from "@/api/vehicle-track-resource";
import config from "@/config.js";
import VideoCam from "@/components/Video";
import VideoMileStone from "@/components/VideoMilstone";
import vehicle_default from "@/assets/images/vehicle_default1.png";
import { ref } from 'vue';

const inspectViolationsResource = new Resource("management/inspect-violations");
const siteResource = new Resource("systemconfig/sites");
const categoryResource = new Resource("systemconfig/category");
const processStatusResource = new Resource(
  "management/inspect-violations/process-status"
);
const videoVmsResource = new Resource("vms/getvideo");
const cameraMapResource = new Resource("systemconfig/cameramap");
const violationHistoryResource = new Resource(
  "management/search/violation/parent"
);
const notViolationsResource = new Resource(
  "management/inspect-violations/confirm-not-violate"
);
const violationsResource = new Resource(
  "management/inspect-violations/confirm-violate"
);
const inspectViolationsResourceExport = new Resource("management/inspect-violations/search-export");


export default {
  components: { Pagination, Search, VideoCam,VideoMileStone },
  directives: { waves },
  data() {
    return {
      //handle video connection
      cameraReal:null,
      //end handlevide0

      vehicle_default: vehicle_default,
      flag_active: null,
      active_link: null,
      type_display: 1,
      loadingExport: false,
      linkExcel: null,
      loading: true,
      loading1: false,
      loading2: false,
      disabled1: false,
      disabled2: false,
      violationHistoryList: [],
      dialogDetail: false,
      activeCollapse: false,
      loadingRefresh: false,
      base_url_img: process.env.VUE_APP_URL_IMAGE,
      layout: "first, prev, pager, next, last",
      urlImage: null,
      recognitionList: [],
      recognitionListExport: [],
      siteLst: [],
      siteIdLst: [],
      vehicleTypeLst: [],
      violationDetail: null,
      width: 400,
        height: 225,
      objectTypeLst: [],
      violationTypeLst: [],
      vehicleRouteList: [],
      parentId: [],
      recognitionDetail: null,
      vehicleTrack: null,
      total: 0,
      searchKeyword: null,
      typePlate: [
        {
          value: "truePlate",
          label: "Nhận dạng đúng",
        },
        {
          value: "falsePlate",
          label: "Sai biển",
        },
        {
          value: "warpingPlate",
          label: "Biển cong vênh",
        },
        {
          value: "blurredPlate",
          label: "Biển mờ/bẩn",
        },
        {
          value: "noPlate",
          label: "Xe không biển",
        },
      ],
      query: {
        page: 0,
        size: 10,
        plate: null,
        fromDate: this.getDateString() + " 00:00:00",
        toDate: this.getCurrentDate(),
        sites: null,
        vehicleType: null,
        objectType: null,
        processStatus: null,
        eventState: "CONFIRMED",
      },
      camera: {
        // videojs options
        muted: false,
        language: "en",
        playbackRates: [0.7, 1.0, 1.5, 2.0],
        sources: [
          {
            type: "video/mp4",
            src: null,
          },
        ],
      },
      isIpad: this.$root.isIpad(),
      filter_icon: filter_icon,
      checkFilterEvent: [],
      visible: false,
      canRead: false,
      canCreate: false,
      canUpdate: false,
      canDelete: false,
      queryInspect: null,
      listProcessStatus: config.violationProcessStatus,
      queryInspectNew: null,
    };
  },

  created() {
    this.urlImage = process.env.VUE_APP_URL_IMAGE;
    this.canRead = this.$root.checkRole(this.$route.fullPath, "canRead");
    this.canCreate = this.$root.checkRole(this.$route.fullPath, "canCreate");
    this.canUpdate = this.$root.checkRole(this.$route.fullPath, "canUpdate");
    this.canDelete = this.$root.checkRole(this.$route.fullPath, "canDelete");
    localStorage.removeItem("verified");
    localStorage.removeItem("total");
    localStorage.removeItem("detail");
    localStorage.removeItem("queryFilter");

    localStorage.removeItem("truePlate");
    localStorage.removeItem("falsePlate");
    localStorage.removeItem("warpingPlate");
    localStorage.removeItem("noPlate");
    localStorage.removeItem("blurredPlate");
    localStorage.removeItem("countNoViolation");
    localStorage.removeItem("countViolation");
    // this.getSiteList();
    this.query.size = this.$root.detectSizeInPageHasImage();
    if (this.$route.params.data) {
      this.queryInspect = this.$route.params.data;
      this.getListInit();
    } else {
      this.init();
    }
  },
  methods: {
    async init() {
      this.getSiteList();
      this.getListInit();
      // const loginState = this.$store.state.common.loginMilestone
      // if(!loginState){
      //   await this.$root.connectToServer();
      // }
    },
    async doesFileExist(urlToFile) {
      var img = new Image();
      img.src = urlToFile;
      return img.height != 0;
    },
    replaceImageFail(e) {
      e.target.src = this.vehicle_default;
    },
    async handleGetVehicleByPlate(plate) {
      let result = await getVehicle(plate);
      if (result && result.data) {
        this.vehicleTrack = result.data;
      }
    },
    violation() {
      this.loading2 = true;
      this.disabled1 = true;
      let params = {
        id: this.violationDetail.id,
        modifiedBy: this.$store.state.user.id,
        notes: this.violationDetail.notes,
        plateStatus: this.violationDetail.plateStatus,
      };
      violationsResource
        .store(params)
        .then((response) => {
          if (response.status == 200 || response.status == 201) {
            this.loading2 = false;
            this.disabled1 = false;
            this.closeDetail();
            this.getListInit();
            this.$message({
              type: "success",
              message: "Cập nhật trạng thái vi phạm thành công",
            });
          } else {
            this.$message({
              type: "error",
              message: "Có lỗi xảy ra",
            });
          }
        })
        .catch((err) => {
          this.loading2 = false;
          this.disabled1 = false;
          console.log(err);
        });
    },
    refreshExport(){
      this.linkExcel= null;
    },
    noViolation() {
      this.loading1 = true;
      this.disabled2 = true;
      let params = {
        id: this.violationDetail.id,
        modifiedBy: this.$store.state.user.id,
        notes: this.violationDetail.notes,
        plateStatus: this.violationDetail.plateStatus,
      };
      notViolationsResource
        .store(params)
        .then((response) => {
          if (response.status == 200 || response.status == 201) {
            this.loading1 = false;
            this.disabled2 = false;
            this.closeDetail();
            this.getListInit();
            this.$message({
              type: "success",
              message: "Cập nhật trạng thái không vi phạm thành công",
            });
          } else {
            this.$message({
              type: "error",
              message: "Có lỗi xảy ra",
            });
          }
        })
        .catch((err) => {
          this.loading1 = false;
          this.disabled2 = false;
          console.log(err);
        });
    },
    async getListInit() {
      const filterObj = window.localStorage.getItem("filter_save");
      if (filterObj != null && filterObj != undefined) {
        const jsonParse = JSON.parse(filterObj);
        this.query.fromDate = jsonParse.startDate;
        this.query.toDate = jsonParse.endDate;
        this.query.camera = jsonParse.camera;
        this.query.sites = jsonParse.sites;
        this.query.vehicleType = jsonParse.vehicleType;
        this.query.violationType = jsonParse.violationType;
        this.query.eventState = jsonParse.eventState;
      }
      this.loading = true;
      let queryCustom = {
        page: 0,
        size: this.query.size,
        fromDate: this.query.fromDate,
        toDate: this.query.toDate,
        filterObjectIds: filterObj ? this.query.camera : [],
        filterObjectType: "cam",
        vehicleType: this.query.vehicleType,
        violationType: this.query.violationType,
        processStatus: this.query.processStatus,
        plate: null,
        isInspectViolations: false,
        eventState: this.query.eventState,
      };
      if (this.query.camera == null || this.query.camera.length == 0) {
        queryCustom.filterObjectIds = this.query.sites;
        if (
          queryCustom.filterObjectIds == null ||
          queryCustom.filterObjectIds == ""
        ) {
          // queryCustom.filterObjectIds = this.siteIdLst.toString()
          queryCustom.filterObjectIds = null;
        }
        queryCustom.filterObjectType = "site";
      }
      if (queryCustom.page < 0) queryCustom.page = 0;
      if (this.searchKeyword) {
        queryCustom.plate = this.searchKeyword;
      }
      if (this.queryInspect == null) {
        this.queryInspect = queryCustom;
      }
      const { data, total } = await inspectViolationsResource.list(
        this.queryInspect
      );
      if (data) {
        this.recognitionList = data;
      } else {
        this.recognitionList = [];
      }
      if (total) {
        this.total = total;
      } else {
        this.total = 0;
      }
      localStorage.setItem("queryFilter", JSON.stringify(this.queryInspect));
      localStorage.setItem("total", JSON.stringify(this.total));
      this.loading = false;
    },
    async getList() {
      this.loading = true;
      if (this.searchKeyword) {
        this.searchKeyword = this.searchKeyword.trim();
      }
      let queryCustom = {
        page: this.query.page - 1,
        size: this.query.size,
        fromDate: this.query.fromDate,
        toDate: this.query.toDate,
        filterObjectIds: this.query.camera,
        filterObjectType: "cam",
        vehicleType: this.query.vehicleType,
        violationType: this.query.violationType,
        processStatus: this.query.processStatus,
        plate: this.searchKeyword,
        isInspectViolations: false,
        eventState: this.query.eventState,
        districtId: this.query.districtId,
        wardId: this.query.wardId
      };
      if (this.query.camera == null) {
        queryCustom.filterObjectIds = this.query.sites;
        if (
          queryCustom.filterObjectIds == null ||
          queryCustom.filterObjectIds == ""
        ) {
          // queryCustom.filterObjectIds = this.siteIdLst.toString();
          queryCustom.filterObjectIds = null;
        }
        queryCustom.filterObjectType = "site";
      }
      if (queryCustom.page < 0) queryCustom.page = 0;

      this.queryInspect = queryCustom;

      // console.log(this.queryInspect);

      const { data, total } = await inspectViolationsResource.list(
        this.queryInspect
      );
      if (data) {
        this.recognitionList = data;
      } else {
        this.recognitionList = [];
      }
      if (total) {
        this.total = total;
      } else {
        this.total = 0;
      }
      localStorage.setItem("queryFilter", JSON.stringify(this.queryInspect));
      localStorage.setItem("total", JSON.stringify(this.total));
      this.loading = false;
      this.loadingRefresh = false;
    },



    getIsRed(data) {
      let result = false;
      switch (data.processStatus) {
        case "WAIT":
          result = true;
          break;
        case "COLD_PENALTY":
          result = true;
          break;
        case "COLD_PENALTY_OUT_1":
          result = true;
          break;
        case "COLD_PENALTY_OUT_2":
          result = true;
          break;
        case "BLACKLIST":
          result = true;
          break;
      }
      return result;
    },

    async getViolationHistoryResource() {
      let result = await violationHistoryResource.get(this.parentId);
      if (result && result.data) {
        this.violationHistoryList = result.data;
      }
    },

    async getSiteList() {
      let queryCustom = {
        page: 0,
        size: 200,
      };
      let result = await siteResource.list(queryCustom);
      if (result && result.data) {
        this.siteLst = result.data;
      }
      this.getListStringSiteId(this.siteLst);
    },
    async getVehicleTypeList() {
      let queryCustom = {
        catType: "VEHICLE",
      };
      let result = await categoryResource.list(queryCustom);
      if (result && result.data) {
        this.vehicleTypeLst = result.data;
      }
    },
    async getCollectionList() {
      let queryCustom = {
        catType: "COLLECTION",
      };
      let result = await categoryResource.list(queryCustom);
      if (result && result.data) {
        this.objectTypeLst = result.data;
      }
    },
    async getViolationTypeList() {
      let queryCustom = {
        catType: "VIOLATION",
      };
      let result = await categoryResource.list(queryCustom);
      if (result && result.data) {
        this.vehicleTypeLst = result.data;
      }
    },
    getCurrentDate() {
      let today = new Date();
      return moment(today).format("YYYY-MM-DD HH:mm:ss");
    },
    getDateString() {
      let today = new Date();
      let dd = String(today.getDate()).padStart(2, "0");
      let mm = String(today.getMonth() + 1).padStart(2, "0"); //January is 0!
      let yyyy = today.getFullYear();
      today = yyyy + "-" + mm + "-" + dd;
      return today;
    },
    getHumanDate(date) {
      return moment(date).format("DD/MM/yyyy HH:mm:ss");
    },
    getDateExportFile() {
      let today = new Date();
      let dd = String(today.getDate()).padStart(2, "0");
      let mm = String(today.getMonth() + 1).padStart(2, "0"); //January is 0!
      let hour = String(today.getHours());
      let min = String(today.getMinutes());
      let sec = String(today.getSeconds());
      let yyyy = today.getFullYear();
      today = dd + "/" + mm + "/" + yyyy + "-" + hour + ":" + min + ":" + sec;
      return today;
    },
    handleFilter() {
      this.query.page = 1;
      this.activeCollapse = false;
      this.getList();
    },
    onClickChild(value) {
      if (value) {
        this.query.fromDate = value.startDate;
        this.query.toDate = value.endDate;
        this.query.camera = value.camera;
        this.query.sites = value.sites;
        this.query.vehicleType = value.vehicleType;
        this.query.violationType = value.violationType;
        this.query.eventState = value.eventState;
        this.query.districtId = value.districtId;
        this.query.wardId = value.wardId;
        window.localStorage.setItem("filter_save", JSON.stringify(value));
      }

      this.handleFilter();
      this.getListStringSiteId(this.siteLst);
    },
    refresh() {
      let today = new Date();
      this.query.toDate = moment(today).format("YYYY-MM-DD HH:mm:ss");
      this.loadingRefresh = true;
      this.getList();
    },
    closeDetail() {
      if (document.getElementById("detail-user")) {
        document.getElementById("detail-user").style.display = "none";
        document.getElementById("detail-user").style.width = "0";
        document.getElementById("user-table").style.width = "calc(100%)";
      }
    },
    getListStringSiteId(list) {
      if (list) {
        this.siteIdLst = [];
        for (let index = 0; index < list.length; index++) {
          const element = list[index].id;
          this.siteIdLst.push(element);
        }
      }
      // alert("debug");
      // console.log(this.siteIdLst);
      return this.siteIdLst;
    },
    processExportExcel(dataExport, fileName) {
      const ws = XLSX.utils.aoa_to_sheet(dataExport);
      const wb = XLSX.utils.book_new();
      XLSX.utils.book_append_sheet(wb, ws, "Sheet1");
      /* generate file and send to client */
      XLSX.writeFile(wb, fileName + ".xlsx");
    },
    checkHandleVideoSuccess(){
      const timeConfig =  config.timeVideoSave * 24 * 3600;
      const diffTime = (new Date().getTime() - new Date(this.violationDetail.startTime).getTime())/1000
      if(this.camera.sources[0].src != null ||(diffTime < timeConfig &&  this.$store.state.common.loginMilestone) ){
        return true
      }
      return false
    },
    async handleExport() {
      let queryCustom = {
        page: this.query.page - 1,
        size: 5000,
        fromDate: this.query.fromDate,
        toDate: this.query.toDate,
        filterObjectIds: this.query.camera,
        filterObjectType: "cam",
        vehicleType: this.query.vehicleType,
        violationType: this.query.violationType,
        processStatus: this.query.processStatus,
        plate: this.searchKeyword,
        isInspectViolations: false,
        eventState: this.query.eventState,
        districtId: this.query.districtId,
        wardId: this.query.wardId
      };
      if (this.query.camera == null || this.query.camera.length == 0) {
        queryCustom.filterObjectIds = this.query.sites;
        if (
          queryCustom.filterObjectIds == null ||
          queryCustom.filterObjectIds == ""
        ) {
          // queryCustom.filterObjectIds = this.siteIdLst.toString()
          queryCustom.filterObjectIds = null;
        }
        queryCustom.filterObjectType = "site";
      }
      if (queryCustom.page < 0) queryCustom.page = 0;
      if (this.searchKeyword) {
        queryCustom.plate = this.searchKeyword.trim();
      }
      let result = await inspectViolationsResourceExport.list(queryCustom);
    },
    detectLengthObject(obj) {
      var size = 0,
        key;
      for (key in obj) {
        if (obj.hasOwnProperty(key)) size++;
      }
      return size;
    },
    resetDialog() {
      this.searchKeyword = null;
      this.query = {
        page: 0,
        size: 20,
        plate: null,
        startDate: this.getDateString() + " 00:00:00",
        endDate: this.getDateString() + " 23:59:59",
        sites: null,
        vehicleType: null,
        objectType: null,
      };
      this.vehicleRouteList = [];
    },
    verifyViolation() {
      if (this.total == 0) {
        this.$message({
          message: "Không có bản ghi nào để xác minh",
          type: "warning",
        });
        return;
      }
      this.$router.push({
        name: "violationInspect",
        params: {
          data: this.queryInspect,
          total: this.total,
        },
      });
      this.queryInspect = null;
    },
    async handleDetail(row) {
      this.type_display = 1;
      // console.log(row);
      if (row) {
        this.flag_active = row.id;
        this.violationDetail = row;
        if (this.violationDetail.plateStatus === null) {
          this.violationDetail.plateStatus = 'truePlate'
        }
        // this.imgSelectDefault = this.violationDetail.imageUrl
        if (
          this.violationDetail.imageCtxtUrl &&
          this.violationDetail.imageCtxtUrl != "null" &&
          !Array.isArray(this.violationDetail.imageCtxtUrl)
        ) {
          this.violationDetail.imageCtxtUrl = JSON.parse(row.imageCtxtUrl);
          // this.imgSelectDefault = this.violationDetail.imageCtxtUrl[0]
          this.active_link = this.violationDetail.imageCtxtUrl[0];
        }
        if (this.violationDetail.imageUrl) {
          this.active_link = this.violationDetail.imageUrl;
        }
        // console.log(this.imgSelectDefault)
        this.parentId = this.violationDetail.parentId
          ? this.violationDetail.parentId
          : this.violationDetail.id;
        this.camera.sources[0].src = null;
        if (!(row.eventTypeString == "SPEEDLIMIT")) {
          this.getVideoVms(row);
        }
        // this.getViolationHistoryResource()
        if (row.videoUrl) {
          this.camera.sources[0].src = this.base_url_img + row.videoUrl;
        }
        let self = this;
        if (this.violationDetail) {
          this.pickerOptions = {
            disabledDate(time) {
              return (
                time.getTime() <
                (moment(self.violationDetail.startTime).unix() - 86400) * 1000
              );
            },
          };
          document.getElementById("user-table").style.width =
            "calc(100% - 625px)";
          setTimeout(function () {
            document.getElementById("detail-user").style.display = "block";
            document.getElementById("detail-user").style.width = "600px";
          }, 500);
        }
        // this.$router.push({
        //    name: 'detail',
        //    params: {
        //    data: this.queryInspect,
        //    detailRow: row
        //    }
        //  })
        //  localStorage.setItem("detail", JSON.stringify(row));
      }
      const camaraMap =  await cameraMapResource.get(this.violationDetail.sourceId);
      if(!camaraMap && !camaraMap.data){
        return;
      }
      this.cameraReal =camaraMap.data.cameraReal
      this.queryInspect = null;

    },
   async viewImage(data, type = 0) {
      // this.playForwardBtn(0)
      this.active_link = data;

      if(type == 0){
       if(this.camera.sources[0].src != null){
        // this.$refs.videoPage.viewVideo();
         this.type_display = 0;
       }else{
         this.type_display = 2;
        //  this.$refs.videoPage.viewVideo();

       }
      }else{
         this.type_display = type;
      }

    },
    delay(ms) {
      return new Promise((res) => setTimeout(res, ms));
    },
    async getVideoVms(data) {
      let queryCustom = {
        cameraid: data.sourceId,
        starttime: data.startTime,
        endtime: data.endTime,
      };
      let result = await videoVmsResource.list(queryCustom);
      if (result && result.data) {
        this.camera.sources[0].src = result.data;
        // console.log(this.camera.sources[0].src);
      }
    },

    detectStatusPlate(type) {
      let data = this.typePlate.filter(function (val) {
        return val.value == type;
      });
      if (data.length > 0) {
        return data[0].label;
      }
      return "";
    },

    getProcessStatusName(data) {
      let result;
      switch (data.processStatus) {
        case "WAIT":
          result = this.listProcessStatus.WAIT;
          break;
        case "IDLE":
          result = this.listProcessStatus.IDLE;
          break;
        case "CHECKED":
          switch (data.violationConfirm) {
            case "VIOLATE":
              result = this.listProcessStatus.VIOLATE;
              break;
            case "NOVIOLATE":
              result = this.listProcessStatus.NOVIOLATE;
              break;
            default:
              result = this.listProcessStatus.UNKNOWN;
          }
          break;
        case "UNKNOWN":
          result = this.listProcessStatus.UNKNOWN;
          break;
        case "PROCESSED":
          result = this.listProcessStatus.PROCESSED;
          break;
        case "COLD_PENALTY":
          result = this.listProcessStatus.WACOLD_PENALTYIT;
          break;
        case "COLD_PENALTY_OUT_1":
          result = this.listProcessStatus.COLD_PENALTY_OUT_1;
          break;
        case "COLD_PENALTY_OUT_2":
          result = this.listProcessStatus.COLD_PENALTY_OUT_2;
          break;
        case "BLACKLIST":
          result = this.listProcessStatus.BLACKLIST;
          break;
        case "MINUTES_PENALTY":
          result = this.listProcessStatus.MINUTES_PENALTY;
          break;
        case "DECISION_PENALTY":
          result = this.listProcessStatus.DECISION_PENALTY;
          break;
        case "DECISION_PENALTY_NO_MINUTES":
          result = this.listProcessStatus.DECISION_PENALTY_NO_MINUTES;
          break;
      }
      return result;
    },

    tableRowClassName(row) {
      if (row.row.id == this.flag_active) {
        return "active-row";
      }
      return "";
    },

    resetFilter() {
      this.closeDetail();
      this.searchKeyword = "";
      this.getList();
    },
  },
  sockets: {
    receiveNotificationExport: function (data) {
      if (data.content && data.objectType == "export-search-inspect-violation") {
        this.loadingExport = false;
        this.linkExcel = data.content;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
</style>

<style lang="scss">
.track-page {
  .dislayNone{
    display: none;
  }
  .camera {
    display: inline-block;
    position: relative;
    margin: 5px;
    width: 400px;
    height: 225px;
    background: #000000;
    overflow: hidden;
  }
  .camera-custom{
    background: #000000;
  }
  .el-form-item {
    margin-bottom: 15px;
  }
  .cam-detail {
    .video-js {
      width: 100%;
      height: 245px;
    }
    img {
      cursor: zoom-in;
    }
  }
  .list-img-cam {
    img {
      display: block;
      margin-bottom: 5px;
      cursor: pointer;
    }
    img.active {
      border: 3px solid #1f7ff5;
    }
  }
  .el-input input {
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    border: solid 1px #9999;
  }
  .el-icon-camera-solid {
    font-size: 25px;
    color: #9a9a9a;
    position: relative;
    top: -50px;
    left: 54px;
    background: #dfdfdf;
    border-radius: 50%;
    padding: 8px;
    border: 1px solid white;
  }
  #detail-user {
    position: relative;
    /* transition: width 1s;
      -moz-transition: width 1s;
      -webkit-transition: width 1s;
      -o-transition: width 1s;*/
    width: 0;
    background: white;
    padding: 25px;
    float: left;
    margin-left: 25px;
    display: none;
    overflow: hidden;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    .avatar {
      text-align: center;
      margin-bottom: 25px;
      margin-top: 25px;
      img {
        border-radius: 50%;
      }
    }
    .form-violation {
      float: left;
      width: 100%;
      margin-top: 25px;
      .el-row {
        margin-bottom: 5px;
      }
      .history-box {
        float: left;
        width: 100%;
        .item {
          margin-bottom: 15px;
          border-bottom: 1px solid #9999;
          padding-bottom: 10px;
          font-size: 17px;
          .label-s {
            /*width: 130px;
                display: inline-block;
                margin-left: 10px;*/
            margin-left: 10px;
            margin-right: 10px;
          }
          .svg-icon {
            width: 25px;
          }
        }
      }
      h4.history {
      }
    }
    h5 {
      margin-top: 0;
      font-size: 16px;
    }
    .item-label {
      color: #363030;
      font-weight: bold;
      font-size: 14px;
      margin-bottom: 10px;
    }
    .item-text {
      color: black;
      font-size: 16px;
      margin-bottom: 20px;
      opacity: 0.6;
    }
    .close-detail {
      background: #e3e3e3;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      text-align: center;
      line-height: 30px;
      color: #878787;
      font-size: 16px;
      position: absolute;
      right: 10px;
      top: 10px;
      cursor: pointer;
    }
  }
  .change-image {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: #1f7ff5;
    position: relative;
    padding: 8px;
  }
  .img_avatar {
    text-align: center;
    padding-top: 25px;
    img {
      border-radius: 50%;
    }
  }
  .vehicle {
    text-align: center;
    padding-top: 25px;
    img {
      border-radius: 10px;
      max-width: 100%;
    }
  }
  .el-dialog {
    margin-top: 80px !important;
  }
  .item-left {
    width: 48%;
    float: left;
    margin-right: 2%;
  }
  .item-right {
    width: 48%;
    float: left;
    margin-left: 2%;
  }
  .block-item {
    width: 100%;
    float: left;
  }
  .el-dialog__header {
    padding: 0;
    background: #006fe3;
    height: 40px;
    line-height: 40px;
    text-align: center;
    .el-dialog__title {
      color: white;
    }
    .el-icon-close {
      color: white;
      font-size: 22px;
      top: -10px;
      position: relative;
    }
  }
  .el-dialog__body {
    .el-form-item__label {
      padding-bottom: 0;
      font-size: 14px;
      color: #363030;
      font-weight: 500;
    }
  }
  .el-dialog__footer {
    clear: both;
    padding-bottom: 25px;
    .el-button--primary {
      background: #1f7ff5;
      height: 40px;
      border-radius: 5px;
      width: 147px;
      text-transform: uppercase;
      font-weight: bold;
      border-color: #1f7ff5;
    }
    .el-button--danger {
      background: #9e9e9e;
      height: 40px;
      border-radius: 5px;
      width: 147px;
      text-transform: uppercase;
      font-weight: bold;
      border-color: #9e9e9e;
    }
  }
  #select-all-delete {
    height: 63px;
    line-height: 63px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ff4646;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    .el-icon-close {
      font-size: 25px;
      margin-left: 20px;
      margin-right: 35px;
      position: relative;
      top: 4px;
      cursor: pointer;
    }
    button {
      background: #e00000;
      border: initial;
      border-radius: 5px;
      float: right;
      display: inline-block;
      margin-top: 15px;
      margin-right: 15px;
    }
  }
  .action {
    margin-top: 5px;
    button {
      border-radius: 4px;
      margin-left: 15px;
      color: white;
      border: initial;
      width: 131px;
      height: 40px;
      padding: 0px;
      strong {
        font-weight: 200;
        font-size: 14px;
        padding-right: 5px;
        padding-left: 5px;
      }
    }
    .no-violation {
      background: #649a72;
    }
    .violation {
      background: #ff6161;
      float: right;
    }
    .el-button--primary {
      background: #64789a;
      border: initial;
      border-radius: 4px;
      width: 147px;
      height: 40px;
    }
    .el-button--success {
      background: #ff6161;
      border: initial;
      border-radius: 4px;
      width: 147px;
      height: 40px;
      float: right;
    }
  }
  #track-table {
    transition: width 0.5s;
    -moz-transition: width 0.5s;
    /* Firefox 4 */
    -webkit-transition: width 0.5s;
    /* Safari and Chrome */
    -o-transition: width 0.5s;
    float: left;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
    border-radius: 4px;
  }
  #detail-track {
    position: relative;
    /* transition: width 1s;
      -moz-transition: width 1s;
      -webkit-transition: width 1s;
      -o-transition: width 1s;*/
    width: 0;
    background: white;
    padding: 25px;
    float: left;
    margin-left: 25px;
    display: none;
    overflow: hidden;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    .avatar {
      text-align: center;
      margin-bottom: 25px;
      margin-top: 25px;
      img {
        border-radius: 50%;
      }
    }
    .item-label {
      color: #363030;
      font-weight: bold;
      font-size: 14px;
      margin-bottom: 10px;
    }
    .item-text {
      color: black;
      font-size: 16px;
      margin-bottom: 20px;
      opacity: 0.6;
    }
    .el-icon-close {
      background: #e3e3e3;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      text-align: center;
      line-height: 30px;
      color: #878787;
      font-size: 16px;
      position: absolute;
      right: 10px;
      top: 10px;
      cursor: pointer;
    }
  }
  .el-table th > .cell {
    text-align: left;
  }
  .el-table tr > th:first-child .cell {
    text-align: center;
  }
  .el-table th {
    color: black;
    font-size: 14px;
  }
  .el-table td {
    color: black;
    font-size: 14px;
  }
  .el-table tr td:first-child {
    text-align: center;
  }
  .el-table td:first-child .cell {
    display: inline-block;
  }
  .filter-container {
    padding-bottom: 20px;
  }
  tbody {
    tr {
      cursor: pointer;
    }
    td {
      padding: 2px 0 !important;
      .hover-show-full-image {
        top: 4px;
      }
    }
  }
  .search-block {
    .el-button--info {
      border-radius: 4px;
      background: #26c6da;
      color: white;
      border: 1px solid #26c6da;
      font-size: 16px;
      font-weight: 500;
      width: 147px;
    }
    //text-align: right;
    .search {
      float: left;
      width: calc(100% - 162px);
      display: inline;
      input {
        width: 272px;
        height: 36px !important;
        line-height: 36px !important;
        border: solid 1px #9999;
        border-radius: 5px;
        padding-left: 40px;
      }
      .el-icon-search {
        line-height: 16px;
        font-size: 19px;
        color: #666;
      }
      span {
        left: 10px;
      }
    }
    button {
      float: right;
      background: #1f7ff5;
      border-radius: 4px;
      height: 40px !important;
      width: 147px;
      margin-left: 15px;
      border-color: #1f7ff5;
      span {
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
}
</style>
