<template>
  <div class="app-container claim inspect-violations-page">
    <el-row :gutter="20">
      <el-col :span="5" style="padding-left: 0">
        <div class="grid-content bg-purple">
          <div class="cam-list-img">
            <div class="cam-list" id="cam-list">
              <div
                class="list-content"
                v-if="
                  data[index] &&
                  data[index].imageCtxtUrl !== 'null' &&
                  data[index].imageCtxtUrl.length > 0 &&
                  data[index].eventTypeString !== 'WRONGLINE'
                "
              >
                <div
                  class="item"
                  v-for="(val, ind) in JSON.parse(data[index].imageCtxtUrl)"
                  :key="ind"
                >
                  <img
                    v-if="doesFileExist(urlImage + val)"
                    :class="{ active: containsObject(val) }"
                    @click="viewImage(urlImage + val, 1)"
                    :src="urlImage + val"
                  />
                  <img
                    v-else
                    :class="{ active: containsObject(val) }"
                    @click="viewImage(urlImage + val, 1)"
                    :src="vehicle_default"
                  />
                </div>
              </div>
              <div
                class="list-content"
                v-if="data[index] && data[index].imageUrl"
              >
                <img
                  v-if="doesFileExist(urlImage + data[index].imageUrl)"
                  :class="{ active: containsObject(data[index].imageUrl) }"
                  @click="viewImage(urlImage + data[index].imageUrl, 1)"
                  :src="urlImage + data[index].imageUrl"
                />
                <img
                  v-else
                  :class="{ active: containsObject(data[index].imageUrl) }"
                  @click="viewImage(urlImage + data[index].imageUrl, 1)"
                  :src="vehicle_default"
                />
              </div>

              <template v-if="data[index] && (checkHandleVideoSuccess())">
                <div @click="viewImage(camera.sources[0].src, 0)">
                  <div class="img">
                    <img
                      src="@/assets/images/video_play.png"
                      style="width: 100%; margin-top: 10px"
                      alt=""
                    />
                  </div>
                </div>
              </template>
            </div>
          </div>
        </div>
      </el-col>
      <el-col :span="14" class="detail-view-video" style="width: calc(79% - 255px);padding-left: 0;">
        <div class="grid-content bg-purple">
          <template>
            <div class="view-video" id="view-video-cam" v-if="total != verified">
              <template v-if="camera.src != null && camera.type == 1">
                <div class="img">
                  <!-- <img :src="camera.src" alt="" /> -->
                  <v-zoomer
                    :zoomingElastic="false"
                    :limitTranslation="false"
                    style="width: 100%; height: 500px; border: solid 1px silver"
                  >
                    <img
                      v-if="doesFileExist(camera.src)"
                      :src="camera.src"
                      style="
                        object-fit: contain;
                        width: 100%;
                        height: 100%;
                        cursor: zoom-in;
                      "
                    />
                    <img
                      v-else
                      :src="vehicle_default"
                      style="
                        object-fit: contain;
                        width: 100%;
                        height: 100%;
                        cursor: zoom-in;
                      "
                    />
                  </v-zoomer>
                </div>
              </template>
              <template v-else-if="camera.type == 0">
                <VideoCam :link="camera.sources[0].src"></VideoCam>
              </template>
              <template >
                  <div class="video-Milestone" v-if="camera.type == 2">
                    <VideoMileStone ref="videoPage" :startTime="data[index].endTime" :cameraReal="cameraReal" :width="widthVideo" :height="heightVideo" />
                </div>
              </template>
            </div>
            <div class="view-video" v-else>
              <div class="img">
                <v-zoomer
                  :zoomingElastic="false"
                  :limitTranslation="false"
                  style="width: 100%; height: 500px; border: solid 1px silver"
                >
                  <img
                    src="@/assets/images/vehicle_default.png"
                    style="
                      object-fit: contain;
                      width: 100%;
                      height: 100%;
                      cursor: zoom-in;
                    "
                  />
                </v-zoomer>
              </div>
            </div>
          </template>
        </div>
      </el-col>
      <el-col
        :span="5"
        class="info-violation-inspect"
        style="
          padding-left: 1px;
          padding-right: 1px;
          border: 1px groove #9999;
          border-radius: 5px;
          width: 245px;
        "
      >
        <div class="grid-content bg-purple">
          <div class="view-right">
            <div class="block-1">
              <h5>
                <!-- <span></span>  -->
                Số vi phạm cần kiểm duyệt
              </h5>
              <div class="number">
                <!-- <img :src="verify_violation_icon" alt=""  style="width: 50%;">
                    <span>{{total}}</span> -->
                <el-progress
                  type="circle"
                  :percentage="percentageInspect"
                  :color="colorCircle"
                  :format="formatText"
                  :stroke-width="9"
                  stroke-linecap="square"
                ></el-progress>
              </div>
            </div>
            <div class="block-2">
              <div class="result">
                <h4>Kết quả</h4>
                <div class="result-item">
                  <span class="result-item-title">Không vi phạm</span>
                  <span class="result-item-count">{{ countNoViolation }}</span>
                  <span class="result-item-percent"
                    >{{ getPercent(countNoViolation) }}%</span
                  >
                </div>
                <div class="result-item">
                  <span class="result-item-title">Vi phạm</span>
                  <span class="result-item-count">{{ countViolation }}</span>
                  <span class="result-item-percent"
                    >{{ getPercent(countViolation) }}%</span
                  >
                </div>
                <div class="result-item">
                  <span class="result-item-title">Nhận dạng đúng</span>
                  <span class="result-item-count">{{ truePlate }}</span>
                  <span class="result-item-percent"
                    >{{ getPercent(truePlate) }}%</span
                  >
                </div>
                <div class="result-item">
                  <span class="result-item-title">Không nhận diện</span>
                  <span class="result-item-count">{{ falsePlate }}</span>
                  <span class="result-item-percent"
                    >{{ getPercent(falsePlate) }}%</span
                  >
                </div>
                <div class="result-item">
                  <span class="result-item-title">Biển cong vênh</span>
                  <span class="result-item-count">{{ warpingPlate }}</span>
                  <span class="result-item-percent"
                    >{{ getPercent(warpingPlate) }}%</span
                  >
                </div>
                <div class="result-item">
                  <span class="result-item-title">Biển mờ/bẩn</span>
                  <span class="result-item-count">{{ blurredPlate }}</span>
                  <span class="result-item-percent"
                    >{{ getPercent(blurredPlate) }}%</span
                  >
                </div>
                <div class="result-item">
                  <span class="result-item-title">Xe không biển</span>
                  <span class="result-item-count">{{ noPlate }}</span>
                  <span class="result-item-percent"
                    >{{ getPercent(noPlate) }}%</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </el-col>
    </el-row>
    <!-- form nhap thong tin -->
    <el-row
      :gutter="20"
      class="form-info"
      style="border: 1px groove #9999; border-radius: 5px"
    >
      <el-col :span="19" style="width: 100%">
        <el-form ref="formInfo" :model="form" :rules="rules" label-width="0">
          <div class="grid-content bg-purple">
            <el-row :gutter="20" class="form-info" style="display: flex">
              <el-col :span="5">
                <div class="grid-content bg-purple">
                  <el-form-item label="Thời gian">
                    <el-date-picker
                      v-model="form.date1"
                      type="datetime"
                      placeholder="Lựa chọn"
                      :disabled="true"
                      format="HH:mm dd/MM/yyyy"
                    >
                    </el-date-picker>
                  </el-form-item>
                  <el-form-item class="date2" label=".">
                    <el-date-picker
                      v-model="form.date2"
                      type="datetime"
                      placeholder="Lựa chọn"
                      :disabled="true"
                      format="HH:mm dd/MM/yyyy"
                    >
                    </el-date-picker>
                  </el-form-item>
                </div>
              </el-col>
              <el-col :span="5">
                <div class="grid-content bg-purple">
                  <el-form-item label="Loại vi phạm" prop="type_violation">
                    <el-select
                      v-model="form.type_violation"
                      placeholder="Loại vi phạm"
                      style="width: 100%"
                    >
                      <el-option
                        v-for="violationType in violationTypeLst"
                        :key="violationType.code"
                        :value="violationType.code"
                        :label="violationType.name"
                      >
                      </el-option>
                    </el-select>
                  </el-form-item>
                  <template v-if="this.track == 'normal'">
                    <el-form-item label="Loại phương tiện" prop="type_media">
                      <el-select
                        v-model="form.type_media"
                        placeholder="Loại phương tiện"
                        style="width: 100%"
                      >
                        <el-option
                          v-for="vehicleType in vehicleTypeLst"
                          :key="vehicleType.code"
                          :value="vehicleType.code"
                          :label="vehicleType.name"
                        >
                        </el-option>
                      </el-select>
                    </el-form-item>
                  </template>
                  <template v-if="this.track != 'normal'">
                    <el-form-item label="Loại phương tiện" prop="type_media">
                      <el-select
                        v-model="form.type_media"
                        disabled
                        placeholder="Loại phương tiện"
                        style="width: 100%"
                      >
                        <el-option
                          v-for="vehicleType in vehicleTypeLst"
                          :key="vehicleType.code"
                          :value="vehicleType.code"
                          :label="vehicleType.name"
                        >
                        </el-option>
                      </el-select>
                    </el-form-item>
                  </template>
                </div>
              </el-col>
              <el-col :span="5">
                <div class="grid-content bg-purple">
                  <el-form-item label="Biển kiểm soát" prop="plate">
                    <el-input maxlength="10" v-model="form.plate"></el-input>
                  </el-form-item>
                  <el-form-item label="Loại đối tượng">
                    <el-input
                      v-model="this.track"
                      v-if="this.track !== 'normal'"
                      disabled
                    ></el-input>
                    <el-input v-else disabled></el-input>
                  </el-form-item>
                </div>
              </el-col>
              <el-col :span="5">
                <div class="grid-content bg-purple">
                  <el-form-item label="Tình trạng biển">
                    <template>
                      <el-select
                        style="width: 100%"
                        v-model="form.plate_status"
                        placeholder="Nhận dạng đúng"
                      >
                        <el-option
                          v-for="item in typePlate"
                          :key="item.value"
                          :label="item.label"
                          :value="item.value"
                        >
                        </el-option>
                      </el-select>
                    </template>
                  </el-form-item>

                  <el-form-item label="Thiết bị">
                    <el-input v-model="form.sourceName" disabled></el-input>
                  </el-form-item>
                </div>
              </el-col>
              <el-col :span="5">
                <div class="grid-content bg-purple">
                  <el-form-item label="Ghi chú" prop="notes">
                    <el-input
                      type="textarea"
                      rows="5"
                      v-model="form.notes"
                    ></el-input>
                  </el-form-item>
                </div>
              </el-col>
            </el-row>
          </div>
        </el-form>
      </el-col>
      <el-col :span="19">
        <div class="action">
          <el-row>
            <el-button
              class="back"
              @click="back()"
              :disabled="index == 0 ? true : false"
              ><strong> << </strong> Quay lại</el-button
            >
            <el-button
              class="no-violation"
              @click="noViolation()"
              :loading="loading1"
              :disabled="disabled1"
              >Không vi phạm</el-button
            >
            <el-button
              class="violation"
              @click="violation()"
              :loading="loading2"
              :disabled="disabled2"
              >Vi phạm</el-button
            >
            <el-button
              class="edit"
              @click="edit()"
              :loading="loading3"
              :disabled="disabled3"
              >Lưu</el-button
            >
            <el-button
              class="next"
              @click="next()"
              :disabled="
                index + 1 == data.length || data.length == 0 ? true : false
              "
              >Tiếp theo <strong>>></strong></el-button
            >
          </el-row>
        </div>
      </el-col>
    </el-row>
    <!-- ket thuc -->
    <!-- danh danh cam -->
    <el-row :gutter="20">
      <div class="auto-refresh-list-violation">
        <el-checkbox
          v-model="autoRefreshViolationList"
          @change="autoRefreshViolationListHandle()"
          >Tự động cập nhật danh sách tới thời điểm hiện tại</el-checkbox
        >
      </div>
    </el-row>
    <el-row
      :gutter="20"
      class="form-info"
      style="border: 1px groove #9999; border-radius: 5px"
    >
      <div class="cam-list-block" style="border-radius: 5px">
        <div class="view-back" id="back-button" @click="backImg($event)">
          <i class="el-icon-back"></i>
        </div>
        <div class="cam-list-img" id="cam-list-img">
          <div
            class="item"
            style="position: relative; left: 0; top: 0"
            v-for="(val, ind) in data"
            :key="ind"
          >
            <img
              v-if="doesFileExist(urlImage + val.imageUrl)"
              :class="{ active: containsObject(val) }"
              style="position: relative; top: 0; left: 0"
              @click="viewDetail(ind, val)"
              :src="urlImage + val.imageUrl"
            />
            <img
              v-else
              :class="{ active: containsObject(val) }"
              style="position: relative; top: 0; left: 0"
              @click="viewDetail(ind, val)"
              :src="vehicle_default"
            />
            <svg-icon
              v-if="val.eventTypeString == 'ILLEGALSTOP'"
              icon-class="illegal-stop"
              alt=""
            />
            <svg-icon
              v-else-if="val.eventTypeString == 'REDLIGHT'"
              icon-class="traffic-lights"
            />
            <svg-icon
              v-else-if="val.eventTypeString == 'INVERSEDIRECTION'"
              icon-class="inversedirection"
              alt=""
            />
            <svg-icon
              v-else-if="val.eventTypeString == 'RESTRICTED'"
              icon-class="restricted"
              alt=""
            />
            <svg-icon
              v-else-if="val.eventTypeString == 'NOENTRY'"
              icon-class="noentry"
              alt=""
            />
            <svg-icon
              v-else-if="val.eventTypeString == 'SPEEDLIMIT'"
              icon-class="speed-limit"
              alt=""
            />
            <svg-icon
              v-else-if="val.eventTypeString == 'WRONGLINE'"
              icon-class="wrong-line"
              alt=""
            />
          </div>
        </div>
        <div class="view-next" id="next-button" @click="nextImg($event)">
          <i class="el-icon-right"></i>
        </div>
      </div>
    </el-row>
    <!-- ket thuc -->
  </div>
</template>

<script>
import axios from "axios";
import VideoMileStone from "@/components/VideoMilstone";
import store from '@/store';
import config from '@/config.js';
import filter_icon from "@/assets/images/filter.png";
import background_video from "@/assets/images/background_video.png";
import verify_violation_icon from "@/assets/images/verify-violation.png";
import Search from "@/components/Search/search-form";
import Resource from "@/api/resource";
import { getVehicle } from "@/api/vehicle-track-resource";
import VideoCam from "@/components/Video";
import vehicle_default from "@/assets/images/vehicle_default1.png";
import { validPlate } from "@/utils/validate";

const cameraMapResource = new Resource("systemconfig/cameramap");

const inspectViolationsResource = new Resource("management/inspect-violations");
const notViolationsResource = new Resource(
  "management/inspect-violations/confirm-not-violate"
);
const violationsResource = new Resource(
  "management/inspect-violations/confirm-violate"
);
const saveResource = new Resource("management/inspect-violations/correct-data");
const categoryResource = new Resource("systemconfig/category");
const trackByPlateResource = new Resource("systemconfig/vehicle-track/plate");
const videoVmsResource = new Resource("vms/getvideo");

//violationimage
import light from "@/assets/images/report/traffic-lights3x.png";
import dungdo from "@/assets/images/dungdo1.png";
import duongcam from "@/assets/images/duongcam1.png";
import sailan from "@/assets/images/luu_thong.png";
import nguocchieu from "@/assets/images/nguocchieu1.png";
import saivach from "@/assets/images/saivach.png";
import tocdo from "@/assets/images/tocdo.png";
var adfsfdsf = 'sad'
export default {
  components: { Search, VideoCam,VideoMileStone },
  data() {
    const validatePlate = (rule, value, callback) => {
      if (!validPlate(value)) {
        callback(new Error("Vui lòng nhập đúng định dạng biển số"));
      } else {
        callback();
      }
    };
    return {
      cameraReal:null,
      widthVideo:0,
      heightVideo:0,
      violationImages: {
        light,
        dungdo,
        duongcam,
        sailan,
        nguocchieu,
        saivach,
        tocdo,
      },
      colorCircle: ["#EE5A29"],
      percentageInspect: 0,
      urlImage: null,
      autoRefreshViolationList: false,
      vehicle_default: vehicle_default,
      loading1: false,
      disabled1: false,
      loading2: false,
      disabled2: false,
      loading3: false,
      disabled3: false,
      truePlate: 0,
      falsePlate: 0,
      warpingPlate: 0,
      noPlate: 0,
      blurredPlate: 0,
      form: {
        plate_status: "",
        date1: null,
        date2: null,
        type_violation: null,
        plate: null,
        description: null,
        type_media: null,
        type_object: null,
        levelSpeed: null,
        sourceName: null,
      },
      queryVms: {
        camId: null,
        starttime: null,
        endtime: null,
      },
      checkFilterEvent: [],
      searchKeyword: null,
      active_1: true,
      active_2: false,
      active_3: false,
      span: 24,
      background_video: background_video,
      verify_violation_icon: verify_violation_icon,
      filter_icon: filter_icon,
      events: [],
      vehicleTypeLst: [],
      violationTypeLst: [],
      typePlate: [
        {
          value: "truePlate",
          label: "Nhận dạng đúng",
        },
        {
          value: "falsePlate",
          label: "Không nhận diện",
        },
        {
          value: "warpingPlate",
          label: "Biển cong vênh",
        },
        {
          value: "blurredPlate",
          label: "Biển mờ/bẩn",
        },
        {
          value: "noPlate",
          label: "Xe không biển",
        },
      ],
      camera: {
        // videojs options
        type: 1,
        src: null,
        muted: false,
        language: "en",
        techOrder: ["youtube"],
        playbackRates: [0.7, 1.0, 1.5, 2.0],
        sources: [
          {
            // type: "application/x-mpegURL",
            type: "video/youtube",
            src: null,
          },
        ],
        // poster: "/static/images/author.jpg",
      },
      countViolation: 0,
      countNoViolation: 0,
      data: [],
      queryFilter: null,
      videoVMS: null,
      total: 0,
      verified: 0,
      index: 0,
      list_verified: [],
      track: null,
      vehicleTypeByTrack: null,
      plateTrack: null,
      pageNow: 0,
      rules: {
        plate: [
          {
            max: 15,
            message: "Biển kiểm soát tối đa 15 ký tự",
            trigger: "blur",
          },
          { validator: validatePlate, trigger: "blur" },
        ],
        notes: [
          { max: 500, message: "Ghi chú tối đa 500 ký tự", trigger: "blur" },
        ],
      },
      isLoadingNewViolation: false,
      dataNull: false,
      ative_img: [],
      scrollIndex: 0,
      intervalId: null,
      timeRevert: 15000,
    };
  },
  created() {
    this.queryFilter = JSON.parse(localStorage.getItem("queryFilter"));
    this.queryFilter.size = 15;
    // console.log(this.queryFilter);
    this.urlImage = process.env.VUE_APP_URL_IMAGE;
    this.init();
    // this.data = JSON.parse(localStorage.getItem("listData"));
    if (this.intervalId) {
      clearInterval(this.intervalId);
    }
    if (localStorage.getItem("autoRefreshViolationList")) {
      this.autoRefreshViolationList = JSON.parse(
        localStorage.getItem("autoRefreshViolationList")
      );
      if (this.autoRefreshViolationList) {
        this.refreshData30S();
      }
    }
    this.truePlate =
      JSON.parse(localStorage.getItem("truePlate")) == null
        ? 0
        : JSON.parse(localStorage.getItem("truePlate"));
    this.falsePlate =
      JSON.parse(localStorage.getItem("falsePlate")) == null
        ? 0
        : JSON.parse(localStorage.getItem("falsePlate"));
    this.warpingPlate =
      JSON.parse(localStorage.getItem("warpingPlate")) == null
        ? 0
        : JSON.parse(localStorage.getItem("warpingPlate"));
    this.noPlate =
      JSON.parse(localStorage.getItem("noPlate")) == null
        ? 0
        : JSON.parse(localStorage.getItem("noPlate"));
    this.blurredPlate =
      JSON.parse(localStorage.getItem("blurredPlate")) == null
        ? 0
        : JSON.parse(localStorage.getItem("blurredPlate"));
    this.countNoViolation =
      JSON.parse(localStorage.getItem("countNoViolation")) == null
        ? 0
        : JSON.parse(localStorage.getItem("countNoViolation"));
    this.countViolation =
      JSON.parse(localStorage.getItem("countViolation")) == null
        ? 0
        : JSON.parse(localStorage.getItem("countViolation"));

    this.verified =
      JSON.parse(localStorage.getItem("verified")) == null
        ? 0
        : JSON.parse(localStorage.getItem("verified"));
    this.total = JSON.parse(localStorage.getItem("total"));
    this.detectPercent(this.verified);
    if (this.total == this.verified) {
      (this.disabled1 = true), (this.disabled2 = true), (this.disabled3 = true);
    }
    // console.log(this.query);
  },
  mounted() {
    // console.log('this is current player instance object', this.player)
    this._keyListener = function (e) {
      if (e.key === "x" && e.ctrlKey) {
        this.edit();
      }
    };

    document.addEventListener("keydown", this._keyListener.bind(this));
  },
  computed: {},
  methods: {
    async init() {
      this.getVehicleTypeList();
      this.getViolationTypeList();
      this.getViolation();
      // const loginState = this.$store.state.common.loginMilestone
      // if(!loginState){
      //   await this.$root.connectToServer();
      // }
    },
    autoRefreshViolationListHandle() {
      localStorage.setItem(
        "autoRefreshViolationList",
        this.autoRefreshViolationList
      );
      if (this.autoRefreshViolationList) {
        this.refreshData30S();
      } else {
        if (this.intervalId) {
          clearInterval(this.intervalId);
        }
      }
    },
    async doesFileExist(urlToFile) {
      var img = new Image();
      img.src = urlToFile;
      return img.height != 0;
    },
    refreshData30S() {
      let self = this;
      const idIterval = setInterval(function () {
        self.queryFilter.toDate = moment().format("YYYY-MM-DD HH:mm:ss");
        self.queryFilter.page = 0;
        self.getNewViolationRefresh();
      }, this.timeRevert);
      this.intervalId = idIterval;
      window.localStorage.setItem("intervalId", idIterval);
      // ket thuc
    },
    getNewViolationRefresh() {
      inspectViolationsResource.list(this.queryFilter).then((response) => {
        if (response.status == 200 || response.status == 201) {
          if (response.data.length > 0) {
            if (this.data && this.data.length > 0) {
              if (this.data[0].id != response.data[0].id) {
                this.getViolation();
              }
            }
            if (this.data && this.data.length == 0) {
              this.getViolation();
            }
          }
        }
      });
    },
    replaceImageFail(e) {
      e.target.src = this.vehicle_default;
    },
    detectFormatVideo(link) {
      // console.log(link)
      return this.$root.detectFormatVideo(link);
    },
    async getVehicleTypeList() {
      let queryCustom = {
        catType: "VEHICLE",
      };
      let result = await categoryResource.list(queryCustom);
      if (result && result.data) {
        this.vehicleTypeLst = result.data;
      }
    },
    formatText(data) {
      return this.verified + "/" + this.total;
    },
    detectPercent(data) {
      if (this.total > 0) {
        this.percentageInspect = (data / this.total) * 100;
      }
    },
    detectHeight() {
      // let x = document.getElementsByClassName("detail-info-left-top")
      let x = document.getElementById("view-video-cam");
      let height = x.clientHeight;
      return height;
    },
    checkHandleVideoSuccess(){
      const timeConfig =  config.timeVideoSave * 24 * 3600;
      const diffTime = (new Date().getTime() - new Date(this.data[this.index].startTime).getTime())/1000
      if(this.camera.sources[0].src != null ||(diffTime < timeConfig &&  this.$store.state.common.loginMilestone) ){
        return true
      }
      return false
    },
    detectWidth() {
      // let x = document.getElementsByClassName("detail-info-left-top")
      let x = document.getElementById("view-video-cam");
      let width = x.clientWidth;
      return width;
    },
    viewImage(data, type = 0) {
      // console.log(data + ' - ' + type);
     this.heightVideo = this.detectHeight();
      this.widthVideo = this.detectWidth();
      if(type == 0){
       if(this.camera.sources[0].src != null){
         this.camera.type = 0;
       }else{
         this.cameraReal = this.data[this.index].sourceId
         this.camera.type = 2;

       }
      }else{
        this.camera.type = 1; //1 - hinh anh | 0 - video
        this.camera.src = data;
      }
    },
    async getViolation() {
      await inspectViolationsResource
        .list(this.queryFilter)
        .then((response) => {
          let firstItem = null;
          if (this.data && this.data.length > 0) {
            firstItem = _.cloneDeep(this.data[this.index]);
          }
          this.data = response.data;
          this.index = 0;
          if (firstItem != null) {
            this.data = this.data.filter(function (val) {
              return val.id != firstItem.id;
            });
            this.data.unshift(firstItem);
          }
          if (this.data && this.data.length > 0) {
            this.cameraReal = this.data[0].sourceId;
            this.pageNow = 1;
            this.timeRevert = 15000;
          } else {
            this.pageNow = 0;
            this.timeRevert = 2000;
          }
          if (this.verified > 0) {
            // this.total = response.total;
            this.total = this.verified + response.total;
            this.detectPercent(this.verified);
          } else {
            this.total = response.total;
          }
          localStorage.setItem("total", JSON.stringify(this.total));
          if (this.data && this.data.length > 0) {
            this.disabled1 = false;
            this.disabled2 = false;
            this.disabled3 = false;
            this.ative_img.push(this.data[0]);
            if (this.data) {
              let firstObject = this.data[0];
              this.camera.src = this.urlImage + firstObject.imageUrl;
              this.camera.type = 1;
            }
            this.queryVms.camId = this.data[0].sourceId;
            this.queryVms.starttime = this.data[0].startTime;
            this.queryVms.endtime = this.data[0].endTime;
            this.queryVms.id = this.data[0].id;
            // this.getVideoVms();
            this.getDataForm();
          } else {
            this.form = {
              plate_status: "",
              date1: null,
              date2: null,
              type_violation: null,
              plate: null,
              description: null,
              type_media: null,
              type_object: null,
              levelSpeed: null,
              sourceName: null,
            };
            this.data = [];
          }
        });
    },
    getPercent(count) {
      if (this.total != 0) {
        return ((count / this.total) * 100).toFixed(2);
      }
      return 0;
    },
    getNewViolation() {
      inspectViolationsResource.list(this.queryFilter).then((response) => {
        this.isLoadingNewViolation = true;
        if (response.status == 200 || response.status == 201) {
          if (response.data.length > 0) {
            this.data = this.data.concat(response.data);
            this.pageNow = this.pageNow + 1;
            // this.data = this.inspectViolationArrayUnique(
            //   this.data.concat(response.data)
            // );
            this.isLoadingNewViolation = false;
            // console.log(this.data);
          } else {
            this.isLoadingNewViolation = false;
            this.dataNull = true;
          }
        } else {
          this.isLoadingNewViolation = false;
          this.dataNull = false;
        }
      });
    },
    inspectViolationArrayUnique(array) {
      var a = array.concat();
      for (var i = 0; i < a.length; ++i) {
        for (var j = i + 1; j < a.length; ++j) {
          if (a[i].id === a[j].id) a.splice(j--, 1);
        }
      }
      return a;
    },
    async getViolationTypeList() {
      let queryCustom = {
        catType: "VIOLATION",
      };
      let result = await categoryResource.list(queryCustom);
      if (result && result.data) {
        this.violationTypeLst = result.data;
      }
    },
    plusTypePlate(typePlate) {
      switch (typePlate) {
        case "truePlate":
          this.truePlate = this.truePlate + 1;
          localStorage.setItem("truePlate", JSON.stringify(this.truePlate));
          break;
        case "falsePlate":
          this.falsePlate = this.falsePlate + 1;
          localStorage.setItem("falsePlate", JSON.stringify(this.falsePlate));
          break;
        case "warpingPlate":
          this.warpingPlate = this.warpingPlate + 1;
          localStorage.setItem(
            "warpingPlate",
            JSON.stringify(this.warpingPlate)
          );
          break;
        case "blurredPlate":
          this.blurredPlate = this.blurredPlate + 1;
          localStorage.setItem(
            "blurredPlate",
            JSON.stringify(this.blurredPlate)
          );
          break;
        case "noPlate":
          this.noPlate = this.noPlate + 1;
          localStorage.setItem("noPlate", JSON.stringify(this.noPlate));
          break;
      }
    },
    async getTrackByPlate(plateTrack) {
      this.loading = true;
      let queryCustom = {
        plate: plateTrack,
      };
      const { data, total } = await trackByPlateResource.list(queryCustom);
      if (data) {
        this.track = data.objectType;
        this.data[this.index].objectType = data.vehicleType;
        this.form.type_media = data.vehicleType;
      } else {
        this.track = null;
      }
      if (this.track == null) this.track = "normal";
      this.loading = false;
    },
    async getVideoVms() {
      let queryCustom = {
        cameraid: this.queryVms.camId,
        starttime: this.queryVms.starttime,
        endtime: this.queryVms.endtime,
      };
      let result = await videoVmsResource.list(queryCustom);
      if (result && result.data) {
        this.camera.sources[0].src = result.data;
      }
    },
    getDataForm() {
      this.closeDialog("formInfo");
      if (
        (this.data.length - this.index == 1 || this.data.length < 13) &&
        !this.isLoadingNewViolation &&
        !this.dataNull
      ) {
        this.queryFilter.page = this.pageNow;
        // this.queryFilter.isInspectViolations = true
        this.getNewViolation();
      }
      this.queryVms.camId = this.data[this.index].sourceId;
      this.queryVms.starttime = this.data[this.index].startTime;
      this.queryVms.endtime = this.data[this.index].endTime;
      // if(this.data[this.index].videoUrl && this.data[this.index].videoUrl !== 'null' && this.data[this.index].videoUrl.length > 0 ){
      //   this.camera.sources[0].src = this.data[this.index].videoUrl;
      // }else{
      if (!(this.data[this.index].eventTypeString == "SPEEDLIMIT")) {
        this.getVideoVms();
      }
      this.camera.sources[0].src = this.videoVMS;

      this.camera.src = this.urlImage + this.data[this.index].imageUrl;
      this.camera.type = 1;
      // }
      // this.total = this.data.length;
      this.getTrackByPlate(this.data[this.index].plate);
      const speedLimit = this.data[this.index].speedLimit
        ? this.data[this.index].speedLimit
        : 0;
      //console.log(this.data[this.index]);
      this.form = {
        date1: this.data[this.index].startTime,
        date2: this.data[this.index].endTime,
        type_violation: this.data[this.index].eventTypeString,
        plate: this.data[this.index].plate,
        notes: this.data[this.index].notes,
        type_media: this.data[this.index].objectType,
        type_object: this.data[this.index].objectType,
        plate_status: this.data[this.index].plateStatus,
        sourceName: this.data[this.index].sourceName,
        levelSpeed: this.data[this.index].speed + "/" + speedLimit + " (km/h)",
      };
      if (
        !this.form.plate_status ||
        this.form.plate_status == null ||
        this.form.plate_status == ""
      ) {
        this.form.plate_status = "truePlate";
      }
    },
    noViolation() {
      this.$refs.formInfo.validate((valid) => {
        if (valid) {
          this.loading1 = true;
          this.disabled2 = true;
          this.disabled3 = true;
          let params = {
            id: this.data[this.index].id,
            modifiedBy: this.$store.state.user.id,
            notes: this.form.notes,
            plateStatus: this.form.plate_status,
          };
          notViolationsResource
            .store(params)
            .then((response) => {
              if (response.status == 200 || response.status == 201) {
                this.loading1 = false;
                this.disabled2 = false;
                this.disabled3 = false;
                let self = this;
                this.data = this.data.filter(function (val) {
                  return val.id != self.data[self.index].id;
                });
                // this.data[this.index].id = response.data.id
                this.$message({
                  type: "success",
                  message: "Cập nhật trạng thái không vi phạm thành công",
                });
                this.countNoViolation = this.countNoViolation + 1;
                localStorage.setItem(
                  "countNoViolation",
                  JSON.stringify(this.countNoViolation)
                );
                this.plusTypePlate(
                  this.form.plate_status == null
                    ? "truePlate"
                    : this.form.plate_status
                );
                this.verified = this.verified + 1;
                this.detectPercent(this.verified);
                if (this.index == this.data.length && this.data.length == 0) {
                  this.timeRevert = 2000;
                  this.resetForm();
                } else if (
                  this.index == this.data.length &&
                  this.data.length > 0
                ) {
                  this.index = this.index - 1;
                  this.getDataForm();
                  this.ative_img.push(this.data[this.index]);
                } else {
                  this.index = this.index;
                  this.getDataForm();
                  this.ative_img.push(this.data[this.index]);
                }
                localStorage.setItem("verified", JSON.stringify(this.verified));
              } else {
                this.$message({
                  type: "error",
                  message: "Có lỗi xảy ra",
                });
              }
            })
            .catch((err) => {
              // this.$message({
              //   type: 'error',
              //   message: 'Có lỗi xảy ra'
              // });
              this.loading1 = false;
              this.disabled2 = false;
              this.disabled3 = false;
              console.log(err);
            });
        } else {
          return false;
        }
      });
    },
    resetForm() {
      (this.disabled1 = true),
        (this.disabled2 = true),
        (this.disabled3 = true),
        (this.form = {
          date1: null,
          date2: null,
          type_violation: null,
          plate: null,
          description: null,
          type_media: null,
          type_object: null,
        });
      this.$message({
        message: "Không có bản ghi nào để xác minh",
        type: "warning",
      });
      return;
    },
    violation() {
      this.$refs.formInfo.validate((valid) => {
        if (valid) {
          this.loading2 = true;
          this.disabled1 = true;
          this.disabled3 = true;
          let params = {
            id: this.data[this.index].id,
            modifiedBy: this.$store.state.user.id,
            notes: this.form.notes,
            plateStatus: this.form.plate_status,
          };
          violationsResource
            .store(params)
            .then((response) => {
              if (response.status == 200 || response.status == 201) {
                this.loading2 = false;
                this.disabled1 = false;
                this.disabled3 = false;
                let self = this;
                this.data = this.data.filter(function (val) {
                  return val.id != self.data[self.index].id;
                });
                // this.data[this.index].id = response.data.id
                this.$message({
                  type: "success",
                  message: "Cập nhật trạng thái vi phạm thành công",
                });
                this.countViolation = this.countViolation + 1;
                localStorage.setItem(
                  "countViolation",
                  JSON.stringify(this.countViolation)
                );
                this.plusTypePlate(
                  this.form.plate_status == null
                    ? "truePlate"
                    : this.form.plate_status
                );
                this.verified = this.verified + 1;
                this.detectPercent(this.verified);
                if (this.index == this.data.length && this.data.length == 0) {
                  this.timeRevert = 2000;
                  this.resetForm();
                } else if (
                  this.index == this.data.length &&
                  this.data.length > 0
                ) {
                  this.index = this.index - 1;
                  this.getDataForm();
                  this.ative_img.push(this.data[this.index]);
                } else {
                  this.index = this.index;
                  this.getDataForm();
                  this.ative_img.push(this.data[this.index]);
                }
                localStorage.setItem("verified", JSON.stringify(this.verified));
              } else {
                this.$message({
                  type: "error",
                  message: "Có lỗi xảy ra",
                });
              }
            })
            .catch((err) => {
              // this.$message({
              //   type: 'error',
              //   message: 'Có lỗi xảy ra'
              // });
              this.loading2 = false;
              this.disabled1 = false;
              this.disabled3 = false;
              console.log(err);
            });
        } else {
          return false;
        }
      });
    },
    edit() {
      this.$refs.formInfo.validate((valid) => {
        if (valid) {
          this.loading3 = true;
          this.disabled1 = true;
          this.disabled2 = true;
          this.getTrackByPlate(this.form.plate);
          let params = {
            id: this.data[this.index].id,
            modifiedBy: this.$store.state.user.id,
            plate: this.form.plate,
            vehicleType: this.form.type_media,
            violationType: this.form.type_violation,
            plateStatus: this.form.plate_status,
            notes: this.form.notes,
          };
          saveResource
            .store(params)
            .then((response) => {
              this.loading3 = false;
              this.disabled1 = false;
              this.disabled2 = false;
              this.disabled3 = false;
              if (response.status == 200 || response.status == 201) {
                this.data[this.index].id = response.data.id;
                this.data[this.index].eventTypeString =
                  response.data.eventTypeString;
                this.data[this.index].eventTypeName =
                  response.data.eventTypeName;
                this.data[this.index].plate = response.data.plate;
                this.data[this.index].notes = response.data.notes;
                this.data[this.index].objectType = response.data.objectType;
                this.data[this.index].plateStatus = response.data.plateStatus;
                this.$message({
                  type: "success",
                  message: "Cập nhật thông tin vi phạm",
                });
                if (!this.list_verified.includes(this.data[this.index].id)) {
                  this.list_verified.push(this.data[this.index].id);
                  this.list_verified.push(
                    this.data[this.index].eventTypeString
                  );
                  this.list_verified.push(this.data[this.index].eventTypeName);
                  this.list_verified.push(this.data[this.index].plate);
                  this.list_verified.push(this.data[this.index].notes);
                  this.list_verified.push(this.data[this.index].objectType);
                }
              } else {
                this.$message({
                  type: "error",
                  message: "Có lỗi xảy ra",
                });
              }
            })
            .catch((err) => {
              this.$message({
                type: "error",
                message: "Có lỗi xảy ra",
              });
              this.loading3 = false;
              this.disabled1 = false;
              this.disabled2 = false;
              this.disabled3 = false;
              console.log(err);
            });
        } else {
          return false;
        }
      });
    },
    // resetForm(form) {
    //   this.$refs.form.resetFields();
    // },
    next() {
      this.index = this.index + 1;
      if (this.index > this.data.length - 1) this.index = this.data.length - 1;
      this.getDataForm();
      this.ative_img = [];
      this.ative_img.push(this.data[this.index]);
      // console.log(this.index);
      if (this.scrollIndex >= 5) {
        const conent = document.querySelector("#cam-list-img");
        conent.scrollLeft += 214;
      }
      this.scrollIndex = this.scrollIndex + 1;
    },
    back() {
      this.index = this.index - 1;
      this.getDataForm();
      this.ative_img = [];
      this.ative_img.push(this.data[this.index]);
    },
    viewDetail(index, val) {
      this.camera.src = this.urlImage + val.imageUrl;
      this.camera.type = 1;
      this.ative_img = [];
      this.ative_img.push(val);
      this.index = index;
      this.getDataForm();
    },
    containsObject(obj) {
      var i;
      for (i = 0; i < this.ative_img.length; i++) {
        if (this.ative_img[i] === obj) {
          return true;
        }
      }
      return false;
    },
    nextImg(event) {
      this.index = this.index + 1;
      if (this.index > this.data.length - 1) this.index = this.data.length - 1;
      if (this.index > this.data.length - 1) {
        this.getDataForm();
      }
      this.ative_img = [];
      this.ative_img.push(this.data[this.index]);
      // console.log('this.scrollIndex: ' + this.scrollIndex);
      if (this.scrollIndex >= 5) {
        const conent = document.querySelector("#cam-list-img");
        conent.scrollLeft += 214;
      }
      this.scrollIndex = this.scrollIndex + 1;
      return;
    },
    backImg() {
      this.index = this.index - 1;
      if (this.index < 0) this.index = 0;
      if (this.index > 0) {
        this.getDataForm();
      }
      this.ative_img = [];
      this.ative_img.push(this.data[this.index]);
      const conent = document.querySelector("#cam-list-img");
      conent.scrollLeft -= 214;
      return;
    },
    closeDialog(formName) {
      this.$refs[formName].clearValidate();
      this.$refs[formName].resetFields();
    },
  },
  beforeDestroy() {
    document.removeEventListener("keydown", this._keyListener);
    localStorage.setItem("autoRefreshViolationList", false);
    if (this.intervalId) {
      clearInterval(this.intervalId);
    }
  },
};
</script>
<style type="text/css">
.video-Milestone{
display: flex;
  justify-content: center;
  height: 500px;
  background: #000;
  align-items: center;
}
.dislayNone{
    display: none;
  }
.inspect-violations-page .el-table td:first-child .cell {
  display: inline-block !important;
}
</style>
<style type="text/css" lang="scss">
.inspect-violations-page {
  .auto-refresh-list-violation {
    margin-top: 10px;
    font-style: italic;
  }
  .el-progress-circle__track {
    /*stroke: #EB987C !important;*/
  }
  .el-progress__text {
    font-size: 25px !important;
    color: #333;
    font-weight: bold;
  }
  background: white;
  min-height: calc(100vh - 67px);
  img.active {
    border: 3px solid #1f7ff5;
  }
  .view-video {
    height: calc(100vh - 400px);
    .img {
      height: 500px;
      position: relative;
      width: 100%;
      background: #222222;
      img {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        height: 100%;
      }
    }
  }
  .action {
    margin: 5px;
    text-align: right;
    margin-bottom: 10px;
    button {
      border-radius: 4px;
      margin-left: 15px;
      color: white;
      border: initial;
      width: 131px;
      height: 40px;
      padding: 0px;
      strong {
        font-weight: 200;
        font-size: 14px;
        padding-right: 5px;
        padding-left: 5px;
      }
    }
    .next,
    .back {
      background: #707070;
    }
    .no-violation {
      background: #649a72;
    }
    .violation {
      background: #ff6161;
    }
    .edit {
      background: #64789a;
    }
  }
  .form-info {
    margin-top: 10px;
    .el-form-item__label {
      width: 100% !important;
      text-align: left;
    }
    .el-form-item {
      margin-bottom: 5px;
    }
    .el-date-editor {
      width: 100%;
    }
    .date2 {
      .el-form-item__label {
        font-size: 0;
      }
    }
  }
  .cam-list-block {
    transition: width 2s;
    margin-top: 0px;
    .view-back {
      height: 77px;
      float: left;
      width: 38px;
      text-align: center;
      line-height: 77px;
      background: rgba(0, 0, 0, 0.45);
      color: white;
      opacity: 1;
      margin-right: 2px;
      cursor: pointer;
    }
    .view-next {
      height: 77px;
      float: left;
      width: 38px;
      text-align: center;
      line-height: 77px;
      background: rgba(0, 0, 0, 0.45);
      color: white;
      opacity: 1;
      margin-left: 2px;
      cursor: pointer;
    }
    .cam-list-img {
      transition: width 2s;
      white-space: nowrap;
      overflow-x: auto;
      height: 77px;
      overflow-y: hidden;
      float: left;
      width: calc(100% - 80px);
      .title {
        margin-top: 5px;
      }
      .item {
        display: inline-block;
        margin-right: 10px;
        img {
          width: initial;
          height: 77px;
          cursor: pointer;
        }
      }
    }
    .cam-list-img::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
      border-radius: 0;
      background-color: white;
    }
    .cam-list-img::-webkit-scrollbar {
      width: 5px;
      height: 8px;
      background-color: white;
      border-radius: 17px;
    }

    .cam-list-img::-webkit-scrollbar-thumb {
      border-radius: 17px;
      -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
      background-color: #ddd;
    }
  }
  .video-js {
    width: 100% !important;
    height: 500px;
  }
  .vjs-tech {
    padding-right: 1px;
    /*background: #222222 !important;*/
  }
  .cam-list {
    height: 500px;
    border-radius: 5px;
    border: solid 1px #9999;
    background-color: #ffffff;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
    cursor: pointer;
    .item {
      margin-bottom: 10px;
    }
    .video-js {
      height: 168px;
      margin-bottom: 15px;
    }
  }
  .cam-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
    border-radius: 0;
    background-color: #f5f5f5;
  }
  .cam-list::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #f5f5f5;
    border-radius: 17px;
  }
  .block-2 {
    margin: 9px;
  }
  .result {
    h4 {
      color: #575962;
      font-size: 18px;
      text-align: center;
      font-weight: 500;
      margin-bottom: 5px;
    }
  }
  .cam-list-img {
    .svg-icon {
      /* width: 1em; */
      height: 25px;
      width: 25px;
      position: absolute;
      top: 6%;
      left: 5%;
    }
  }
  .result-item {
    margin-top: 18px;
    background-color: #f2f2f2;
    .result-item-title {
      display: inline-block;
      width: 125px;
    }
    span.result-item-count {
      width: calc(100% - 200px);
      text-align: center;
    }
    .result-item-percent {
      width: 75px;
      text-align: center;
    }
    span {
      display: inline-block;
    }
  }
  .cam-list::-webkit-scrollbar-thumb {
    border-radius: 17px;
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
    background-color: #ddd;
  }
  .view-right {
    height: 500px;
    .block-1 {
      .number {
        margin-bottom: 20px;
        position: relative;
        text-align: center;
        span {
          position: absolute;
          right: 0;
          left: 0;
          margin: 0 auto;
          top: 34%;
          text-align: center;
          color: #1e2e4a;
          font-size: 38px;
          font-weight: bold;
        }
        img {
          width: 210px;
        }
      }
    }
    .block-2 {
      .number {
        text-align: center;
        font-weight: bold;
        font-size: 49px;
        color: #26c6da;
      }
    }
    h5 {
      margin-top: 0;
      color: #575962;
      font-size: 18px;
      margin-bottom: 10px;
      padding-top: 15px;
      padding-left: 0;
      padding-bottom: 10px;
      text-align: center;
      font-weight: 500;
      span {
        font-size: 42px;
        position: relative;
        margin-right: 5px;
        display: inline-block;
        height: 4px;
        width: 4px;
        background: #1e2e4a;
        border-radius: 50%;
        top: -4px;
      }
    }
  }
}
</style>
