<template>
  <div class="app-container claim inspect-violations-detail">
    <div class="title-detail"></div>
    <div class="detail">
      <el-row :gutter="20">
        <el-col :span="5">
          <el-form
            v-if="violationInfo"
            :model="violationInfo"
            ref="editForm"
            label-position="top"
            label-width="200px"
          >
            <div class="block-item">
              <el-form-item label="Loại vi phạm" prop="eventTypeName">
                <span style="color: rgba(0, 0, 0, 0.6)">{{
                  violationInfo.eventTypeName
                }}</span>
              </el-form-item>
              <template v-if="violationInfo.eventTypeString == 'SPEEDLIMIT'">
                <el-form-item label="Tốc độ đo được" prop="speed">
                  <span style="color: rgba(0, 0, 0, 0.6)">{{
                    violationInfo.speed
                  }}</span>
                </el-form-item>
                <el-form-item label="Tốc độ giới hạn" prop="speedLimit">
                  <span style="color: rgba(0, 0, 0, 0.6)">{{ 0 }}</span>
                </el-form-item>
              </template>
              <el-form-item label="Biển kiểm soát" prop="plate">
                <span style="color: rgba(0, 0, 0, 0.6)">{{
                  violationInfo.plate
                }}</span>
              </el-form-item>
              <el-form-item label="Loại đối tượng" prop="objectType">
                <span style="color: rgba(0, 0, 0, 0.6)">{{
                  vehicleTrack ? vehicleTrack.objectType : ""
                }}</span>
              </el-form-item>
              <el-form-item label="Thiết bị" prop="sourceName">
                <span style="color: rgba(0, 0, 0, 0.6)">{{
                  violationInfo.sourceName
                }}</span>
              </el-form-item>
              <el-form-item label="Thời gian bắt đầu" prop="startTime">
                <span style="color: rgba(0, 0, 0, 0.6)">{{
                  getHumanDate(violationInfo.startTime)
                }}</span>
              </el-form-item>
              <el-form-item label="Thời gian kết thúc" prop="endTime">
                <span style="color: rgba(0, 0, 0, 0.6)">{{
                  getHumanDate(violationInfo.endTime)
                }}</span>
              </el-form-item>
              <el-form-item label="Vị trí" prop="siteAddress">
                <span style="color: rgba(0, 0, 0, 0.6)">{{
                  violationInfo.siteAddress
                }}</span>
              </el-form-item>
            </div>
          </el-form>
        </el-col>
        <el-col :span="14">
          <div class="grid-content bg-purple">
            <template>
              <div class="view-video" id="view-video-cam">
                <template >
                    <div class="video-Milestone" v-if="camera.type == 2">
                      <VideoMileStone ref="videoPage" :startTime="violationInfo.endTime" :cameraReal="cameraReal" :width="widthVideo" :height="heightVideo" />
                  </div>
                </template>
                <template v-if="camera.sources[0].src && camera.type == 0">
                  <VideoCam :link="camera.sources[0].src"></VideoCam>
                </template>
                <template v-else-if="camera.type == 1">
                  <div class="images">
                    <div class="img">
                      <v-zoomer
                        :zoomingElastic="false"
                        :limitTranslation="false"
                        style="
                          width: 100%;
                          height: 500px;
                          border: solid 1px silver;
                        "
                      >
                        <img
                          :src="urlImage + camera.src"
                          style="
                            object-fit: contain;
                            width: 100%;
                            height: 100%;
                            cursor: zoom-in;
                          "
                        />
                      </v-zoomer>
                    </div>
                  </div>
                </template>
              </div>
            </template>
            <div class="cam-list-img">
              <div class="cam-list" id="cam-list">
                <template v-if="checkHandleVideoSuccess()">
                  <div
                    class="item"
                    @click="viewImage(camera.sources[0].src, 0)"
                  >
                    <div class="img">
                      <img src="@/assets/images/video_play.png" alt="" />
                    </div>
                  </div>
                </template>
                <template
                  v-if="
                    violationInfo &&
                    violationInfo.imageCtxtUrl &&
                    violationInfo.imageCtxtUrl !== 'null' &&
                    violationInfo.imageCtxtUrl.length > 0
                  "
                >
                  <div
                    class="item"
                    v-for="imgViolation in JSON.parse(
                      violationInfo.imageCtxtUrl
                    )"
                    :key="imgViolation.id"
                  >
                    <div class="img">
                      <img
                        v-if="doesFileExist(urlImage + imgViolation)"
                        @click="viewImage(imgViolation, 1)"
                        :src="urlImage + imgViolation"
                      />
                      <img
                        v-else
                        @click="viewImage(imgViolation, 1)"
                        :src="vehicle_default"
                      />
                    </div>
                  </div>
                </template>
                <template>
                  <div class="item">
                    <div class="img">
                      <img
                        v-if="doesFileExist(urlImage + violationInfo.imageUrl)"
                        @click="viewImage(violationInfo.imageUrl, 1)"
                        :src="urlImage + violationInfo.imageUrl"
                      />
                      <img
                        v-else
                        @click="viewImage(violationInfo.imageUrl, 1)"
                        :src="vehicle_default"
                      />
                    </div>
                  </div>
                </template>
              </div>
            </div>
          </div>
          <div class="action">
            <div slot="footer" class="dialog-footer">
              <el-button type="danger" @click="filterViolation()"
                >Thoát</el-button
              >
            </div>
          </div>
        </el-col>
        <el-col :span="5">
          <div class="grid-content bg-purple">
            <template>
              <div class="item-right">
                <div class="label">Lịch sử</div>
                <div class="history-box">
                  <div class="item last">
                    <div class="img">
                      <svg-icon icon-class="MiEdit" />
                      <span
                        v-if="
                          violationHistoryList[violationHistoryList.length - 1]
                        "
                      >
                        Ngày tạo:
                        <span style="font-weight: bold">{{
                          getHumanDate(
                            violationHistoryList[
                              violationHistoryList.length - 1
                            ].createdDate
                          )
                        }}</span>
                      </span>
                    </div>
                  </div>
                  <div class="line"></div>
                  <div
                    class="item last"
                    v-for="value in violationHistoryList"
                    :key="value.id"
                  >
                    <div class="img">
                      <svg-icon icon-class="MiEditAlt" /> Cập nhật:
                      <span style="font-weight: bold">{{
                        getHumanDate(value.modifiedDate)
                      }}</span>
                    </div>
                    <div class="img">
                      <svg-icon icon-class="MiDocumentEmpty" /> Trạng Thái:
                      <span
                        v-if="getIsRed(value)"
                        style="color: #ff6161; font-weight: bold; opacity: 100%"
                        >{{ getProcessStatusName(value) }}
                      </span>
                      <span
                        v-else
                        style="color: #1f7ff5; font-weight: bold; opacity: 100%"
                        >{{ getProcessStatusName(value) }}
                      </span>
                    </div>
                    <div class="img">
                      <svg-icon icon-class="MiUser" /> Người thực hiện:
                      <span style="font-weight: bold">{{
                        value.userName
                      }}</span>
                    </div>
                    <div class="line"></div>
                  </div>
                </div>
              </div>
            </template>
          </div>
        </el-col>
      </el-row>
      <!-- ket thuc -->
    </div>
    <!-- ket thuc -->
  </div>
</template>

<script>
import filter_icon from "@/assets/images/filter.png";
import VideoMileStone from "@/components/VideoMilstone";
import store from '@/store';
import config from '@/config.js';
import background_video from "@/assets/images/background_video.png";
import default_img_cam from "@/assets/images/default_img_cam.png";
import verify_violation_icon from "@/assets/images/verify-violation.png";
import Search from "@/components/Search/search-form";
import Resource from "@/api/resource";
import VideoCam from "@/components/Video";
import { getVehicle } from "@/api/vehicle-track-resource";
import vehicle_default from "@/assets/images/vehicle_default1.png";

const violationHistoryResource = new Resource(
  "management/search/violation/parent"
);
const inspectViolationsResource = new Resource("management/inspect-violations");
const trackByPlateResource = new Resource("systemconfig/vehicle-track/plate");
const videoVmsResource = new Resource("vms/getvideo");

export default {
  components: { Search, VideoCam ,VideoMileStone}, //ImageZoom
  data() {
    return {
      cameraReal:null,
      width:0,
      height:0,
      urlImage: null,
      violationHistoryList: [],
      violationInfo: null,
      track: null,
      plateTrack: null,
      parentId: null,
      form: {
        date1: null,
        date2: null,
        type_violation: null,
        plate: null,
        description: null,
        type_media: null,
        type_object: null,
      },
      checkFilterEvent: [],
      searchKeyword: null,
      active_1: true,
      active_2: false,
      active_3: false,
      span: 24,
      vehicleTrack: null,
      background_video: background_video,
      verify_violation_icon: verify_violation_icon,
      filter_icon: filter_icon,
      default_img_cam: default_img_cam,
      events: [],
      queryVms: {
        camId: null,
        starttime: null,
        endtime: null,
      },
      camera: {
        // videojs options
        muted: false,
        src: null,
        type: 1,
        language: "en",
        techOrder: ["youtube"],
        playbackRates: [0.7, 1.0, 1.5, 2.0],
        sources: [
          {
            type: "video/youtube",
            src: null,
          },
        ],
        // poster: "/static/images/author.jpg",
      },
      data: [],
      total: 0,
      verified: 0,
      index: 0,
      queryInspect: {},
      listProcessStatus: config.violationProcessStatus,
    };
  },
  created() {
    this.urlImage = process.env.VUE_APP_URL_IMAGE;
    this.init();
  },
  mounted() {
    // console.log('this is current player instance object', this.player)
  },
  computed: {},
  methods: {
    async init() {
      if (this.$route.query.id) {
        await this.getViolationById(this.$route.query.id);
      } else {
        this.violationInfo = JSON.parse(localStorage.getItem("detail"));
      }
      this.queryInspect = this.$route.params.data
        ? this.$route.params.data
        : "";
      localStorage.setItem("queryInspect", JSON.stringify(this.queryInspect));
      await this.getDetail();

      //  const loginState = this.$store.state.common.loginMilestone
      // if(!loginState){
      //   await this.$root.connectToServer();
      // }
    },
    replaceImageFail(e) {
      e.target.src = this.vehicle_default;
    },
    async doesFileExist(urlToFile) {
      var img = new Image();
      img.src = urlToFile;
      return img.height != 0;
    },
    async getDetail() {
      this.camera.src = this.violationInfo.imageUrl;
      this.parentId = this.violationInfo.parentId
        ? this.violationInfo.parentId
        : this.violationInfo.id;
      this.plateTrack = this.violationInfo.plate;
      this.getViolationHistoryResource();
      this.handleGetVehicleByPlate(this.violationInfo.plate);
      this.queryVms.camId = this.violationInfo.sourceId;
      this.queryVms.starttime = this.violationInfo.startTime;
      this.queryVms.endtime = this.violationInfo.endTime;
      if (!(this.violationInfo.eventTypeString == "SPEEDLIMIT")) {
        this.getVideoVms(row);
      }
    },
    getViolation() {
      inspectViolationsResource
        .list(this.query)
        .then((response) => {
          this.data = response.data;
          // console.log(this.data)
          if (this.data.length > 0) {
            this.camera.sources[0].src = this.data[this.index].videoUrl;
            // this.camera.sources[0].src = 'http://103.21.151.157:8181/hls/luongna.m3u8';
          }
          // console.log(this.camera);
        })
        .catch((err) => {
          console.log(err);
        });
    },
    async getViolationById(violationId) {
      let result = await inspectViolationsResource.get(violationId);
      // console.log(result);
      if (result && result.data) {
        this.violationInfo = result.data;
        // console.log(this.violationInfo);
      } else {
        this.$message({
          type: "warning",
          message: "Vi phạm đã được xác minh",
        });
      }
    },
    detectFormatVideo(link) {
      // console.log(link)
      return this.$root.detectFormatVideo(link);
    },
    filterViolation() {
      this.$router.push({
        name: "inspect-violations",
        params: {
          data: this.queryInspect,
        },
      });
    },
     detectHeight() {
      // let x = document.getElementsByClassName("detail-info-left-top")
      let x = document.getElementById("view-video-cam");
      let height = x.clientHeight;
      return height;
    },
    detectWidth() {
      // let x = document.getElementsByClassName("detail-info-left-top")
      let x = document.getElementById("view-video-cam");
      let width = x.clientWidth;
      return width;
    },
     checkHandleVideoSuccess(){
      const timeConfig =  config.timeVideoSave * 24 * 3600;
      const diffTime = (new Date().getTime() - new Date(this.violationInfo.startTime).getTime())/1000
      if(this.camera.sources[0].src != null ||(diffTime < timeConfig &&  this.$store.state.common.loginMilestone) ){
        return true
      }
      return false
    },
    viewImage(data, type = 0) {
      this.heightVideo = this.detectHeight();
      this.widthVideo = this.detectWidth();
      if(type == 0){
       if(this.camera.sources[0].src != null){
         this.camera.type = 0;
       }else{
         this.camera.type = 2;
         
       }
      }else{
        this.camera.type = 1; //1 - hinh anh | 0 - video
        this.camera.src = data;
      }
      // console.log(this.camera);
    },
    async getVideoVms() {
      let queryCustom = {
        cameraid: this.queryVms.camId,
        starttime: this.queryVms.starttime,
        endtime: this.queryVms.endtime,
      };
      let result = await videoVmsResource.list(queryCustom);
      if (result && result.data) {
        this.camera.sources[0].src = result.data;
        // console.log(this.camera.sources[0].src);
      }
    },
    async getTrackByPlate() {
      this.loading = true;
      let queryCustom = {
        plate: this.plateTrack,
      };
      const { data, total } = await trackByPlateResource.list(queryCustom);
      if (data) {
        this.track = data.objectType;
      } else {
        this.track = null;
      }
      if (this.track == null) this.track = "normal";
      // console.log(this.track);
      this.loading = false;
    },
    async getViolationHistoryResource() {
      let result = await violationHistoryResource.get(this.parentId);
      if (result && result.data) {
        this.violationHistoryList = result.data;
      }
    },
    async handleGetVehicleByPlate(plate) {
      let result = await getVehicle(plate);
      if (result && result.data) {
        this.vehicleTrack = result.data;
      }
    },
    back() {
      if (index > 0) {
      }
    },
    noViolation() {},
    violation() {},
    edit() {},
    next() {},
    nextImg(event) {
      const conent = document.querySelector("#cam-list-img");
      // conent.window.stop().animate({scrollLeft: "+=300"}, 800);
      conent.scrollLeft += 300;
      return;
    },
    backImg() {
      const conent = document.querySelector("#cam-list-img");
      conent.scrollLeft -= 300;
      return;
    },
    getHumanDate(date) {
      return moment(date).format("DD/MM/YYYY - HH:mm:ss");
    },
    getIsRed(data) {
      let result = false;
      switch (data.processStatus) {
        case "WAIT":
          result = true;
          break;
        case "COLD_PENALTY":
          result = true;
          break;
        case "COLD_PENALTY_OUT_1":
          result = true;
          break;
        case "COLD_PENALTY_OUT_2":
          result = true;
          break;
        case "BLACKLIST":
          result = true;
          break;
      }
      return result;
    },
    getProcessStatusName(data) {
      let result;
      switch (data.processStatus) {
        case "WAIT":
          result = this.listProcessStatus.WAIT;
          break;
        case "IDLE":
          result = this.listProcessStatus.IDLE;
          break;
        case "CHECKED":
          switch (data.violationConfirm) {
            case "VIOLATE":
              result = this.listProcessStatus.VIOLATE;
              break;
            case "NOVIOLATE":
              result = this.listProcessStatus.NOVIOLATE;
              break;
            default:
              result = this.listProcessStatus.UNKNOWN;
          }
          break;
        case "UNKNOWN":
          result = this.listProcessStatus.UNKNOWN;
          break;
        case "PROCESSED":
          result = this.listProcessStatus.PROCESSED;
          break;
        case "COLD_PENALTY":
          result = this.listProcessStatus.WACOLD_PENALTYIT;
          break;
        case "COLD_PENALTY_OUT_1":
          result = this.listProcessStatus.COLD_PENALTY_OUT_1;
          break;
        case "COLD_PENALTY_OUT_2":
          result = this.listProcessStatus.COLD_PENALTY_OUT_2;
          break;
        case "BLACKLIST":
          result = this.listProcessStatus.BLACKLIST;
          break;
        case "MINUTES_PENALTY":
          result = this.listProcessStatus.MINUTES_PENALTY;
          break;
        case "DECISION_PENALTY":
          result = this.listProcessStatus.DECISION_PENALTY;
          break;
        case "DECISION_PENALTY_NO_MINUTES":
          result = this.listProcessStatus.DECISION_PENALTY_NO_MINUTES;
          break;
      }
      return result;
    },
  },
};
</script>
<style type="text/css">
.inspect-violations-detail .el-table td:first-child .cell {
  display: inline-block !important;
}
.app-main[data-v-078753dd] {
  min-height: calc(100vh - 70px);
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #f1f5fb;
}
</style>
<style type="text/css" lang="scss">
.inspect-violations-detail {
  background: white;
  min-height: calc(100vh - 70px);
  .el-form-item {
    margin-bottom: 13px;
  }
  .list-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
    border-radius: 0;
    background-color: #f5f5f5;
  }
  .list-content::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #f5f5f5;
    border-radius: 17px;
  }
  .el-date-editor.el-input,
  .el-date-editor.el-input__inner {
    width: 100%;
  }
  .el-form-item--medium .el-form-item__content,
  .el-form-item--medium .el-form-item__label {
    line-height: 25px;
  }
  .list-content::-webkit-scrollbar-thumb {
    border-radius: 17px;
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
    background-color: #ddd;
  }
  .list-content {
    height: 225px;
    overflow-x: auto;
    white-space: nowrap;
    margin-top: 15px;
    overflow-y: hidden;
    .item {
      display: inline-block;
      margin-right: 20px;
      .img {
        width: 230px;
        height: 130px;
        cursor: pointer;
        text-align: center;
        line-height: 200px;
        position: relative;
        img {
          max-width: 100%;
          cursor: zoom-in;
        }
        .el-icon-close {
          color: white;
          font-size: 12px;
          position: absolute;
          right: 6px;
          top: 6px;
        }
      }
    }
  }
  .view-video {
    .img {
      height: 500px;
      position: relative;
      width: 100%;
      background: #222222;
      img {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        height: 100%;
      }
    }
  }
  .item-right {
    width: 100%;
    float: left;
    margin-left: 2%;

    .label {
      margin-top: 10px;
      margin-bottom: 8px;
      font-weight: bold;
    }
    .history-box {
      border-radius: 4px;
      height: 100%;
      border: solid 0.5px #707070;
      .line {
        padding: 2px;
        width: 100%;
        margin-top: 5%;
        border-bottom: 1px solid #7070707d;
      }
      .item {
        // margin: 10px 5px;
        padding: 3px 12px;
        border-bottom: solid 0.2px #707070;
        font-family: Roboto;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        text-align: left;
        color: #000000;
        opacity: 0.87;
        .img {
          margin-top: 5px;
          position: relative;
          top: 8px;
        }
        .editor {
          // line-height: 1.5;
          margin-left: 30px;
        }
      }
      .item:last-child {
        .line {
          display: none;
        }
      }
      .last {
        border-bottom: none !important;
      }
    }
  }
  .action {
    text-align: right;
    .dialog-footer {
      margin-top: 80px;
    }
    button {
      border-radius: 4px;
      margin-left: 35px;
      color: white;
      border: initial;
      width: 116px;
      height: 40px;
      padding: 0px;
      strong {
        font-weight: 200;
        font-size: 14px;
        padding-right: 5px;
        padding-left: 5px;
      }
    }
    .el-button--danger {
      background: #9e9e9e;
      height: 40px;
      border-radius: 5px;
      width: 147px;
      text-transform: uppercase;
      font-weight: bold;
      border-color: #9e9e9e;
    }
    .next,
    .back {
      background: #707070;
    }
    .no-violation {
      background: #649a72;
    }
    .violation {
      background: #ff6161;
    }
    .edit {
      background: #64789a;
    }
  }
  .el-form--label-top .el-form-item__label {
    float: none;
    display: inline-block;
    text-align: left;
    padding: 0 0 1px;
  }
  .form-info {
    margin-top: 10px;
    .el-form-item__label {
      width: 100% !important;
      text-align: left;
      padding: 0 0 1px;
    }
    .el-form-item {
      margin-bottom: 1px;
    }
    .el-date-editor {
      width: 100%;
    }
    .date2 {
      .el-form-item__label {
        font-size: 0;
      }
    }
  }
  .cam-list-block {
    transition: width 2s;
    margin-top: 20px;
    .view-back {
      height: 109px;
      float: left;
      width: 38px;
      text-align: center;
      line-height: 109px;
      background: rgba(0, 0, 0, 0.45);
      color: white;
      opacity: 1;
      margin-right: 2px;
      cursor: pointer;
    }
    .view-next {
      height: 109px;
      float: left;
      width: 38px;
      text-align: center;
      line-height: 109px;
      background: rgba(0, 0, 0, 0.45);
      color: white;
      opacity: 1;
      margin-left: 2px;
      cursor: pointer;
    }
    .cam-list-img {
      transition: width 2s;
      white-space: nowrap;
      overflow-y: auto;
      height: 50px;
      overflow-x: hidden;
      float: left;
      width: calc(100% - 80px);
      .title {
        margin-top: 5px;
      }
      .item {
        display: inline-block;
        margin-right: 20px;
        img {
          width: 194px;
          height: 109px;
          cursor: pointer;
        }
      }
    }
    .cam-list-img::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
      border-radius: 0;
      background-color: white;
    }
    .cam-list-img::-webkit-scrollbar {
      width: 5px;
      height: 8px;
      background-color: white;
      border-radius: 17px;
    }

    .cam-list-img::-webkit-scrollbar-thumb {
      border-radius: 17px;
      -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
      background-color: #ddd;
    }
  }
  .video-js {
    width: 100% !important;
    height: 500px;
  }
  .vjs-tech {
    padding-right: 1px;
    /*background: #222222 !important;*/
  }
  .cam-list {
    height: 160px;
    border-radius: 5px;
    border: solid 1px #9999;
    background-color: #ffffff;
    overflow-y: hidden;
    overflow-x: auto;
    padding: 10px;
    cursor: pointer;
    white-space: nowrap;
    margin-block: 25px;
    .item {
      margin-bottom: 10px;
      display: inline-block;
      margin-left: 20px;
      img {
        height: 140px;
      }
    }
    .video-js {
      height: 168px;
      margin-bottom: 15px;
    }
  }
  .cam-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
    border-radius: 0;
    background-color: #f5f5f5;
  }
  .cam-list::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #f5f5f5;
    border-radius: 17px;
  }

  .cam-list::-webkit-scrollbar-thumb {
    border-radius: 17px;
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
    background-color: #ddd;
  }
  .view-right {
    .block-1 {
      .number {
        margin-bottom: 20px;
        position: relative;
        text-align: center;
        span {
          position: absolute;
          right: 0;
          left: 0;
          margin: 0 auto;
          top: 34%;
          text-align: center;
          color: #1e2e4a;
          font-size: 49px;
          font-weight: bold;
        }
        img {
          width: 210px;
        }
      }
    }
    .block-2 {
      .number {
        text-align: center;
        font-weight: bold;
        font-size: 49px;
        color: #26c6da;
      }
    }
    h5 {
      margin-top: 0;
      color: #575962;
      font-size: 18px;
      font-weight: normal;
      span {
        font-size: 42px;
        position: relative;
        margin-right: 5px;
        display: inline-block;
        height: 4px;
        width: 4px;
        background: #1e2e4a;
        border-radius: 50%;
        top: -4px;
      }
    }
  }
}
</style>
