<template>
  <div class="app-container claim inspect-violations-page">
    <el-row :gutter="20">
      <el-col :span="5">
        <div class="grid-content bg-purple">
          <div class="cam-list-img">
            <div class="cam-list" id="cam-list">
              <div class="list-content" v-if="data[index]"></div>
              <div
                class="list-content"
                v-if="
                  data[index] &&
                  data[index].imageUrl &&
                  (data[index].imageCtxtUrl == null ||
                  data[index].imageCtxtUrl == 'null')">
                <img v-if="doesFileExist(urlImage + data[index].imageUrl)" :class="{ active: containsObject(data[index].imageUrl) }"
                  @click="viewImage(urlImage + data[index].imageUrl, 1)"
                  :src="urlImage + data[index].imageUrl" />
                <img v-else :class="{ active: containsObject(data[index].imageUrl) }"
                  @click="viewImage(urlImage + data[index].imageUrl, 1)"
                  :src="vehicle_default" />  
              </div>

              <template v-if="data[index] && camera.sources[0].src">
                <div @click="viewImage(camera.sources[0].src, 0)">
                  <div class="img">
                    <img src="@/assets/images/video_play.png" alt="" />
                  </div>
                </div>
              </template>
            </div>
          </div>
        </div>
      </el-col>
      <el-col :span="14">
        <div class="grid-content bg-purple">
          <template>
            <div class="view-video">
              <template v-if="camera.src != null && camera.type == 1">
                <div class="img">
                  <!-- <img :src="camera.src" alt="" /> -->
                  <v-zoomer
                    :zoomingElastic="false"
                    :limitTranslation="false"
                    style="width: 100%; height: 500px; border: solid 1px silver">
                    <img
                      v-if="doesFileExist(camera.src)"
                      :src="camera.src"
                      style="
                        object-fit: contain;
                        width: 100%;
                        height: 100%;
                        cursor: zoom-in;" />
                    <img
                      v-else
                      :src="camera.src"
                      style="
                        object-fit: contain;
                        width: 100%;
                        height: 100%;
                        cursor: zoom-in;" />    
                  </v-zoomer>
                </div>
              </template>

              <template v-else>
                <video-player
                  class="video-player-box"
                  ref="videoPlayer"
                  :options="camera"
                  :playsinline="true"
                  customEventName="customstatechangedeventname"
                >
                </video-player>
              </template>
            </div>
          </template>
        </div>
      </el-col>
      <el-col :span="5">
        <div class="grid-content bg-purple">
          <div class="view-right">
            <div class="block-1">
              <h5><span></span> Tổng số phương tiện</h5>
              <div class="number">
                <img :src="verify_violation_icon" alt="" />
                <span>{{ total }}</span>
              </div>
            </div>
            <div class="block-2">
              <h5><span></span> Số phương tiện đã xác minh</h5>
              <div class="number">{{ verified }}</div>
            </div>
          </div>
        </div>
      </el-col>
    </el-row>

    <!-- form nhap thong tin -->
    <el-row :gutter="20" class="form-info">
      <el-col :span="19">
        <el-form ref="formInfo" :model="form" :rules="rules" label-width="0">
          <div class="grid-content bg-purple">
            <el-row :gutter="20" class="form-info">
              <el-col :span="6">
                <div class="grid-content bg-purple">
                  <el-form-item label="Thời gian">
                    <el-date-picker
                      v-model="form.date1"
                      type="datetime"
                      placeholder="Lựa chọn"
                      format="dd/MM/yyyy HH:mm:ss"
                    >
                    </el-date-picker>
                  </el-form-item>
                  <el-form-item class="date2" label=".">
                    <el-date-picker
                      v-model="form.date2"
                      type="datetime"
                      placeholder="Lựa chọn"
                      format="dd/MM/yyyy HH:mm:ss"
                    >
                    </el-date-picker>
                  </el-form-item>
                </div>
              </el-col>
              <el-col :span="6">
                <div class="grid-content bg-purple">
                  <template>
                    <el-form-item label="Loại phương tiện" prop="type_media">
                      <el-select
                        v-model="form.type_media"
                        placeholder="Loại phương tiện"
                        style="width: 100%"
                      >
                        <el-option
                          v-for="vehicleType in vehicleTypeLst"
                          :key="vehicleType.code"
                          :value="vehicleType.code"
                          :label="vehicleType.name"
                        >
                        </el-option>
                      </el-select>
                    </el-form-item>
                  </template>
                </div>
              </el-col>
              <el-col :span="6">
                <div class="grid-content bg-purple">
                  <el-form-item label="Biển kiểm soát" prop="plate">
                    <el-input v-model="form.plate"></el-input>
                  </el-form-item>
                  <el-form-item label="Trạng thái nhận diện">
                    <el-select
                      placeholder="Chọn trạng thái nhận diện"
                      style="width: 100%"
                      v-model="recognitionStatus"
                    >
                      <el-option
                        v-for="item in recognitionStatusList"
                        :key="item.id"
                        :value="item.id"
                        :label="item.name"
                      >
                      </el-option>
                    </el-select>
                  </el-form-item>
                </div>
              </el-col>
              <el-col :span="6">
                <div class="grid-content bg-purple">
                  <el-form-item label="Ghi chú" prop="notes">
                    <el-input
                      type="textarea"
                      rows="5"
                      v-model="form.notes"
                    ></el-input>
                  </el-form-item>
                </div>
              </el-col>
            </el-row>
          </div>
        </el-form>
      </el-col>
    </el-row>
    <el-button
      type="success"
      class="edit"
      @click="handleChangeTime()"
      :loading="loading3"
      >Tìm kiếm</el-button
    >
    <!-- ket thuc -->
    <el-row :gutter="20" class="form-info">
      <el-col :span="19">
        <div class="action">
          <el-row>
            <el-button
              class="back"
              @click="back()"
              :disabled="index == 0 ? true : false"
              ><strong> << </strong> Quay lại</el-button
            >
            <el-button class="edit" @click="edit()" :loading="loading3"
              >Lưu</el-button
            >

            <el-button
              class="next"
              @click="next()"
              :disabled="
                index + 1 == data.length || data.length == 0 ? true : false
              "
              >Tiếp theo <strong>>></strong></el-button
            >
          </el-row>
        </div>
      </el-col>
    </el-row>
    <!-- danh danh cam -->
    <el-row :gutter="20" class="form-info">
      <div class="cam-list-block">
        <div class="view-back" id="back-button" @click="backImg($event)">
          <i class="el-icon-back"></i>
        </div>
        <div class="cam-list-img" id="cam-list-img">
          <div class="item" v-for="(val, ind) in data" :key="ind">
            <img
              :class="{
                active: containsObject(val),
                activeSaved: checkSaved(val.id),
              }"
              @click="viewDetail(ind, val)"
              :src="urlImage + val.imageUrl"
            />
          </div>
        </div>
        <div class="view-next" id="next-button" @click="nextImg($event)">
          <i class="el-icon-right"></i>
        </div>
      </div>
    </el-row>
    <!-- ket thuc -->
  </div>
</template>

<script>
import filter_icon from "@/assets/images/filter.png";
import background_video from "@/assets/images/background_video.png";
import verify_violation_icon from "@/assets/images/verify-violation.png";
import Resource from "@/api/resource";
import config from "@/config.js";
import vehicle_default from "@/assets/images/vehicle_default1.png";

let moment = require("moment");

const inspectViolationsResource = new Resource(
  "management/search/recognition/list"
);
const violationsTmpResource = new Resource(
  "management/inspect-violations/violations-tmp"
);
const saveResource = new Resource(
  "management/inspect-violations/correct-data-tmp"
);
const categoryResource = new Resource("systemconfig/category");

export default {
  data() {
    return {
      vehicle_default: vehicle_default,
      recognitionStatus: "",
      recognitionStatusList: [],
      urlImage: null,
      loading1: false,
      disabled1: false,
      loading2: false,
      disabled2: false,
      loading3: false,
      disabled3: false,
      form: {
        date1: null,
        date2: null,
        type_violation: null,
        plate: null,
        description: null,
        type_media: null,
        type_object: null,
      },
      queryVms: {
        camId: null,
        starttime: null,
        endtime: null,
      },
      checkFilterEvent: [],
      searchKeyword: null,
      active_1: true,
      active_2: false,
      active_3: false,
      span: 24,
      background_video: background_video,
      verify_violation_icon: verify_violation_icon,
      filter_icon: filter_icon,
      events: [],
      vehicleTypeLst: [],
      violationTypeLst: [],
      camera: {
        // videojs options
        type: 0,
        src: null,
        muted: false,
        language: "en",
        techOrder: ["youtube"],
        playbackRates: [0.7, 1.0, 1.5, 2.0],
        sources: [
          {
            // type: "application/x-mpegURL",
            type: "video/youtube",
            src: null,
          },
        ],
        // poster: "/static/images/author.jpg",
      },
      data: [],
      queryFilter: null,
      videoVMS: null,

      total: 0,
      verified: 0,
      index: 0,
      listVerifiedId: [],

      rules: {
        plate: [
          {
            max: 15,
            message: "Biển kiểm soát tối đa 15 ký tự",
            trigger: "blur",
          },
        ],
        notes: [
          { max: 500, message: "Ghi chú tối đa 500 ký tự", trigger: "blur" },
        ],
      },
      isLoadingNewViolation: false,
      dataNull: false,
      ative_img: [],
      scrollIndex: 0,
    };
  },
  created() {
    this.urlImage = process.env.VUE_APP_URL_IMAGE;
    this.init();
  },
  mounted() {
    this._keyListener = function (e) {
      if (e.key === "x" && e.ctrlKey) {
        this.edit();
      }
    };

    document.addEventListener("keydown", this._keyListener.bind(this));
  },
  beforeDestroy() {
    document.removeEventListener("keydown", this._keyListener);
  },
  methods: {
    async init() {
      await this.getCurrentTime();
      await this.getViolation();
      await this.violationsTmpResource();

      this.getRecognitionStatus();
      await this.getVehicleTypeList();
      await this.getViolationTypeList();
    },
    doesFileExist(urlToFile){
       var img = new Image()
       img.src = urlToFile
       return img.height != 0
    },
    replaceImageFail(e) {
      e.target.src = this.vehicle_default;
    },

    async getRecognitionStatus() {
      this.recognitionStatusList = config.recognitionStatus;
      this.recognitionStatus = "ĐB";
    },
    async getVehicleTypeList() {
      let queryCustom = {
        catType: "VEHICLE",
      };
      let result = await categoryResource.list(queryCustom);
      if (result && result.data) {
        this.vehicleTypeLst = result.data;
      }
    },
    async getViolationTypeList() {
      let queryCustom = {
        catType: "VIOLATION",
      };
      let result = await categoryResource.list(queryCustom);
      if (result && result.data) {
        this.violationTypeLst = result.data;
      }
    },

    async getCurrentTime() {
      this.queryFilter = {
        currentPage: 0,
        rowsPerPage: 10000,
      };
      this.queryFilter.startDate = moment()
        .startOf("hour")
        .format("YYYY-MM-DD HH:mm:ss");
      this.queryFilter.endDate = moment().format("YYYY-MM-DD HH:mm:ss");
    },
    async handleChangeTime() {
      await this.convertFormToQueryFilter();
      await this.getViolation();
      await this.violationsTmpResource();
    },
    async convertFormToQueryFilter() {
      this.queryFilter.startDate = moment(this.form.date1).format(
        "YYYY-MM-DD HH:mm:ss"
      );
      this.queryFilter.endDate = moment(this.form.date2).format(
        "YYYY-MM-DD HH:mm:ss"
      );
    },

    // danh sách phương tiện đã xác minh
    async violationsTmpResource() {
      await violationsTmpResource
        .list({
          fromDate: this.queryFilter.startDate,
          toDate: this.queryFilter.endDate,
        })
        .then((response) => {
          if (response.data) {
            this.verified = response.data.length;
            this.listVerifiedId = response.data.map(
              (item) => item.violationHistoryId
            );
          } else {
            this.verified = 0;
          }
        });
    },

    // danh sách phương tiện
    async getViolation() {
      await inspectViolationsResource
        .list(this.queryFilter)
        .then((response) => {
          if (response.data) {
            this.data = response.data;
            this.total = response.total;
            this.ative_img.push(this.data[0]);

            let firstObject = this.data[0];
            this.camera.src = this.urlImage + firstObject.imageUrl;
            this.camera.type = 1;

            this.getDataForm();
          } else {
            this.data = [];
            this.total = 0;
          }
        });
    },
    getDataForm() {
      // if (
      //   this.data.length - this.index < 8 &&
      //   !this.isLoadingNewViolation &&
      //   !this.dataNull
      // ) {
      //   this.queryFilter.currentPage = this.data.length - 1;
      //   this.queryFilter.isInspectViolations = true;
      //   this.getNewViolation();
      // }

      this.camera.sources[0].src = this.videoVMS;
      this.camera.src = this.urlImage + this.data[this.index].imageUrl;
      this.camera.type = 1;

      this.form = {
        date1: this.queryFilter.startDate,
        date2: this.queryFilter.endDate,
        plate: this.data[this.index].plate,
        notes: this.data[this.index].notes,
        type_media: this.data[this.index].objectType,
        type_object: this.data[this.index].objectType,
      };
    },

    getNewViolation() {
      inspectViolationsResource.list(this.queryFilter).then((response) => {
        this.isLoadingNewViolation = true;
        if (response.status == 200 || response.status == 201) {
          if (response.data.length > 0) {
            this.data = this.inspectViolationArrayUnique(
              this.data.concat(response.data)
            );
            this.isLoadingNewViolation = false;
            // console.log(this.data);
          } else {
            this.isLoadingNewViolation = false;
            this.dataNull = true;
          }
        } else {
          this.isLoadingNewViolation = false;
          this.dataNull = false;
        }
      });
    },
    inspectViolationArrayUnique(array) {
      var a = array.concat();
      for (var i = 0; i < a.length; ++i) {
        for (var j = i + 1; j < a.length; ++j) {
          if (a[i].id === a[j].id) a.splice(j--, 1);
        }
      }
      return a;
    },

    resetForm() {
      (this.disabled1 = true),
        (this.disabled2 = true),
        (this.disabled3 = true),
        (this.form = {
          date1: null,
          date2: null,
          plate: null,
          description: null,
          type_media: null,
          type_object: null,
        });

      this.queryFilter.currentPage = 0;
      this.queryFilter.rowsPerPage = 10000;

      this.$message({
        message: "Không có bản ghi nào để xác minh",
        type: "warning",
      });
      return;
    },
    edit() {
      this.$refs.formInfo.validate((valid) => {
        if (valid) {
          if (this.data[this.index] == undefined) {
            this.queryFilter.currentPage = 0;
            this.queryFilter.rowsPerPage = 10000;
            return false;
          }

          this.loading3 = true;
          this.disabled1 = true;
          this.disabled2 = true;
          this.disabled3 = true;
          let params = {
            id: this.data[this.index].id,
            regPlate: this.data[this.index].plate,
            plate: this.form.plate,
            regObjectType: this.data[this.index].objectType,
            objectType: this.form.type_media,
            notes: this.form.notes,
            recognitionStatus: this.recognitionStatus,
            sourceId: this.data[this.index].sourceId,
            sourceName: this.data[this.index].sourceName,
            startTime: this.data[this.index].startTime,
            endTime: this.data[this.index].endTime,
            eventState: this.data[this.index].eventState,
            eventType: this.data[this.index].eventType,
            imageUrl: this.data[this.index].imageUrl,
            processStatus: this.data[this.index].processStatus,
            configId: this.data[this.index].configId,
          };
          saveResource
            .store(params)
            .then((response) => {
              this.loading3 = false;
              this.disabled1 = false;
              this.disabled2 = false;
              this.disabled3 = false;
              if (response.status == 200 || response.status == 201) {
                // refresh violations tmp
                // this.violationsTmpResource();
                this.verified = this.verified + 1;
                this.listVerifiedId.push(params.id);

                //
                if (this.index == this.data.length && this.data.length == 0) {
                  this.resetForm();
                } else if (
                  this.index == this.data.length &&
                  this.data.length > 0
                ) {
                  this.index = this.index - 1;
                  this.getDataForm();
                  this.ative_img.push(this.data[this.index]);
                } else {
                  this.index = this.index + 1;
                  this.getDataForm();
                  this.ative_img.push(this.data[this.index]);
                }

                // notify
                this.$message({
                  type: "success",
                  message: "Cập nhật thành công",
                });
              } else {
                this.$message({
                  type: "error",
                  message: "Có lỗi xảy ra",
                });
                this.loading3 = false;
                this.disabled1 = false;
                this.disabled2 = false;
                this.disabled3 = false;
              }
            })
            .catch((err) => {
              console.log(err);
              this.$message({
                type: "error",
                message: "Có lỗi xảy ra",
              });
              this.loading3 = false;
              this.disabled1 = false;
              this.disabled2 = false;
              this.disabled3 = false;
            });
        } else {
          return false;
        }
      });
    },

    viewImage(data, type = 0) {
      if (type == 1) {
        this.camera.type = 1; //1 - hinh anh | 0 - video
        this.camera.src = data;
      } else {
        this.camera.type = 0;
      }
    },
    next() {
      this.index = this.index + 1;
      if (this.index > this.data.length - 1) this.index = this.data.length - 1;
      this.getDataForm();
      this.ative_img = [];
      this.ative_img.push(this.data[this.index]);
      if (this.scrollIndex >= 5) {
        const conent = document.querySelector("#cam-list-img");
        conent.scrollLeft += 214;
      }
      this.scrollIndex = this.scrollIndex + 1;
    },
    back() {
      this.index = this.index - 1;
      this.getDataForm();
      this.ative_img = [];
      this.ative_img.push(this.data[this.index]);
    },
    viewDetail(index, val) {
      this.recognitionStatus = "ĐB";
      this.camera.src = this.urlImage + val.imageUrl;
      this.camera.type = 1;
      this.ative_img = [];
      this.ative_img.push(val);
      this.index = index;
      this.getDataForm();
    },
    containsObject(obj) {
      var i;
      for (i = 0; i < this.ative_img.length; i++) {
        if (this.ative_img[i] === obj) {
          return true;
        }
      }
      return false;
    },
    checkSaved(id) {
      if (this.listVerifiedId.length > 0 && this.listVerifiedId.includes(id)) {
        return true;
      }
      return false;
    },
    nextImg(event) {
      this.index = this.index + 1;
      if (this.index > this.data.length - 1) this.index = this.data.length - 1;
      this.getDataForm();
      this.ative_img = [];
      this.ative_img.push(this.data[this.index]);
      if (this.scrollIndex >= 5) {
        const conent = document.querySelector("#cam-list-img");
        conent.scrollLeft += 214;
      }
      this.scrollIndex = this.scrollIndex + 1;
      return;
    },
    backImg() {
      this.index = this.index - 1;
      if (this.index < 0) this.index = 0;
      this.getDataForm();
      this.ative_img = [];
      this.ative_img.push(this.data[this.index]);
      const conent = document.querySelector("#cam-list-img");
      conent.scrollLeft -= 214;
      return;
    },
  },
};
</script>

<style type="text/css">
.inspect-violations-page .el-table td:first-child .cell {
  display: inline-block !important;
}
</style>

<style type="text/css" lang="scss">
.inspect-violations-page {
  background: white;
  min-height: calc(100vh - 67px);
  img.active {
    border: 3px solid #1f7ff5;
  }
  img.activeSaved {
    border: 3px solid #27f714;
  }
  .view-video {
    .img {
      height: 500px;
      position: relative;
      width: 100%;
      background: #222222;
      img {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        height: 100%;
      }
    }
  }
  .action {
    text-align: right;
    button {
      border-radius: 4px;
      margin-left: 35px;
      color: white;
      border: initial;
      width: 131px;
      height: 40px;
      padding: 0px;
      strong {
        font-weight: 200;
        font-size: 14px;
        padding-right: 5px;
        padding-left: 5px;
      }
    }
    .next,
    .back {
      background: #707070;
    }
    .no-violation {
      background: #649a72;
    }
    .violation {
      background: #ff6161;
    }
    .edit {
      background: #64789a;
    }
  }
  .form-info {
    margin-top: 10px;
    .el-form-item__label {
      width: 100% !important;
      text-align: left;
    }
    .el-form-item {
      margin-bottom: 10px;
    }
    .el-date-editor {
      width: 100%;
    }
    .date2 {
      .el-form-item__label {
        font-size: 0;
      }
    }
  }
  .cam-list-block {
    transition: width 2s;
    margin-top: 20px;
    .view-back {
      height: 109px;
      float: left;
      width: 38px;
      text-align: center;
      line-height: 109px;
      background: rgba(0, 0, 0, 0.45);
      color: white;
      opacity: 1;
      margin-right: 2px;
      cursor: pointer;
    }
    .view-next {
      height: 109px;
      float: left;
      width: 38px;
      text-align: center;
      line-height: 109px;
      background: rgba(0, 0, 0, 0.45);
      color: white;
      opacity: 1;
      margin-left: 2px;
      cursor: pointer;
    }
    .cam-list-img {
      transition: width 2s;
      white-space: nowrap;
      overflow-x: auto;
      height: 150px;
      overflow-y: hidden;
      float: left;
      width: calc(100% - 80px);
      .title {
        margin-top: 5px;
      }
      .item {
        display: inline-block;
        margin-right: 20px;
        img {
          width: 194px;
          height: 109px;
          cursor: pointer;
        }
      }
    }
    .cam-list-img::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
      border-radius: 0;
      background-color: white;
    }
    .cam-list-img::-webkit-scrollbar {
      width: 5px;
      height: 8px;
      background-color: white;
      border-radius: 17px;
    }

    .cam-list-img::-webkit-scrollbar-thumb {
      border-radius: 17px;
      -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
      background-color: #ddd;
    }
  }
  .video-js {
    width: 100% !important;
    height: 500px;
  }
  .vjs-tech {
    padding-right: 1px;
    /*background: #222222 !important;*/
  }
  .cam-list {
    height: 500px;
    border-radius: 5px;
    border: solid 1px #9999;
    background-color: #ffffff;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
    cursor: pointer;
    .item {
      margin-bottom: 10px;
    }
    .video-js {
      height: 168px;
      margin-bottom: 15px;
    }
  }
  .cam-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
    border-radius: 0;
    background-color: #f5f5f5;
  }
  .cam-list::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #f5f5f5;
    border-radius: 17px;
  }

  .cam-list::-webkit-scrollbar-thumb {
    border-radius: 17px;
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
    background-color: #ddd;
  }
  .view-right {
    .block-1 {
      .number {
        margin-bottom: 20px;
        position: relative;
        text-align: center;
        span {
          position: absolute;
          right: 0;
          left: 0;
          margin: 0 auto;
          top: 34%;
          text-align: center;
          color: #1e2e4a;
          font-size: 49px;
          font-weight: bold;
        }
        img {
          width: 210px;
        }
      }
    }
    .block-2 {
      .number {
        text-align: center;
        font-weight: bold;
        font-size: 49px;
        color: #26c6da;
      }
    }
    h5 {
      margin-top: 0;
      color: #575962;
      font-size: 18px;
      font-weight: normal;
      span {
        font-size: 42px;
        position: relative;
        margin-right: 5px;
        display: inline-block;
        height: 4px;
        width: 4px;
        background: #1e2e4a;
        border-radius: 50%;
        top: -4px;
      }
    }
  }
}
</style>
