<template>
  <div class="app-container claim noviolations">
    <div id="main-screen">
      <!-- Filter -->
      <div class="filter-container">
        <template>
          <div class="search-block">
            <el-input
              style="width: 272px !important"
              class="search"
              placeholder=""
              prefix-icon="el-icon-search"
              v-model="searchKeyword"
              @keyup.enter.native="handleFilter()"
            >
            </el-input>
            <Search @clicked="onClickChild"></Search>
            <el-button
                  type="primary"
                  v-if="linkExcel"
                  class="btn-export"
                @click="refreshExport()"
                  style="background: #006FE3; border-color: #006FE3"
              >
                <a :href="linkExcel">
                  <i class="el-icon-download"></i> Tải Excel</a>
          </el-button>
            <el-button
              v-else
              type="primary"
              class="btn-export"
              :loading="loadingExport"
              style="background: #1e2e4a; border-color: #1e2e4a"
              @click="confirmExport()"
              ><i class="el-icon-arrow-right"></i> Export</el-button
            >
          </div>
          <div style="clear: both"></div>
        </template>
      </div>

      <!-- list violation -->
      <template>
        <el-table
          :data="recognitionList"
          style="width: 100%"
          id="recognition-table"
          @row-click="handleDetail"
        >
          <el-table-column label="STT" :width="(query.page * query.size).toString().length * 10 + 30">
            <template slot-scope="scope">
              <span>{{
                (query.page - 1) * query.size + scope.$index + 1
              }}</span>
            </template>
          </el-table-column>

          <el-table-column label="Thời gian">
            <template slot-scope="scope">
              <span>{{ getHumanDate(scope.row.startTime) }}</span>
            </template>
          </el-table-column>

          <el-table-column label="Vị trí" prop="siteAddress" />

          <el-table-column label="Loại vi phạm" prop="eventTypeName" />

          <el-table-column label="Loại phương tiện" prop="objectTypeName" />

          <el-table-column label="Biển số" prop="plate" />

          <el-table-column label="Trạng thái">
            <template slot-scope="scope">
              <span v-if="scope.row.violationConfirm === 'NOVIOLATE'"
                >Không vi phạm</span
              >
            </template>
          </el-table-column>

          <el-table-column label="Hình ảnh" width="100">
            <template slot-scope="scope">
              <span
                ><image-hover :image="urlImage + scope.row.imageUrl"
              /></span>
            </template>
          </el-table-column>
        </el-table>
      </template>
      <!-- ket thuc -->

      <!-- Phân trang -->
      <p style="clear: both"></p>
      <div style="display: inline-block; padding-top: 13px">
        Tổng số không vi phạm: <strong>{{ total }}</strong>
      </div>
      <pagination
        v-show="total > query.size"
        :total="total"
        :page.sync="query.page"
        :layout="layout"
        :limit.sync="query.size"
        @pagination="getList"
      />
    </div>
    <div id="detail-screen">
      <NoViolationDetail
        v-if="violationInfo"
        :violation-info="violationInfo"
        @close="closeDetail"
      />
    </div>

    <!-- Detail violation -->
  </div>
</template>

<script>
import Pagination from "@/components/Pagination_custom";
import waves from "@/directive/waves"; // Waves directive
import Resource from "@/api/resource";
import moment from "moment";
import FileSaver from "file-saver";
import XLSX from "xlsx";
import filter_icon from "@/assets/images/filter.png";
import Search from "@/components/Search/search-noviolation";
import NoViolationDetail from "@/views/inspect-violations/noviolation-detail";

const inspectViolationsResource = new Resource("management/inspect-violations");
const siteResource = new Resource("systemconfig/sites");

const inspectViolationsResourceExport = new Resource("management/inspect-violations/search-export");

export default {
  components: { NoViolationDetail, Pagination, Search },
  directives: { waves },
  data() {
    return {
      loading: true,
      activeCollapse: false,
      layout: "first, prev, pager, next, last",
      urlImage: null,
      linkExcel: null,
      loadingExport: false,
      recognitionList: [],
      siteLst: [],
      violationInfo: null,
      total: 0,
      searchKeyword: null,
      query: {
        page: 0,
        size: 10,
        plate: null,
        fromDate: moment().subtract(2, "day").format("YYYY-MM-DD HH:mm:ss"),
        toDate: this.getDateString() + " 23:59:59",
        sites: null,
        vehicleType: null,
        objectType: null,
        processStatus: null,
      },
      filter_icon: filter_icon,
      canRead: false,
      canCreate: false,
      canUpdate: false,
      canDelete: false,
      queryInspect: null,
      queryInspectNew: null,
    };
  },

  created() {
    this.urlImage = process.env.VUE_APP_URL_IMAGE;
    this.canRead = this.$root.checkRole(this.$route.fullPath, "canRead");
    this.canCreate = this.$root.checkRole(this.$route.fullPath, "canCreate");
    this.canUpdate = this.$root.checkRole(this.$route.fullPath, "canUpdate");
    this.canDelete = this.$root.checkRole(this.$route.fullPath, "canDelete");
    localStorage.removeItem("detail");
    // this.getSiteList();
    this.query.size = this.$root.detectSizeInPageHasImage();
    if (this.$route.params.data) {
      this.queryInspect = this.$route.params.data;
      this.getListInit();
    } else {
      this.init();
    }
  },
  methods: {
    async init() {
      await this.getSiteList();
      await this.getListInit();
    },
    async getListInit() {
      this.loading = true;
      let queryCustom = {
        page: 0,
        size: this.query.size,
        fromDate: this.query.fromDate,
        toDate: this.query.toDate,
        filterObjectIds: this.siteIdLst.toString(),
        filterObjectType: "site",
        vehicleType: this.query.vehicleType,
        violationType: this.query.violationType,
        processStatus: "CHECKED",
        violationConfirm: "NOVIOLATE",
      };
      if (queryCustom.page < 0) queryCustom.page = 0;
      if (this.searchKeyword) {
        queryCustom.plate = this.searchKeyword;
      }
      if (this.queryInspect == null) {
        this.queryInspect = queryCustom;
      }
      const { data, total } = await inspectViolationsResource.list(
        this.queryInspect
      );
      if (data) {
        // console.log(data);
        this.recognitionList = data;
      } else {
        this.recognitionList = [];
      }
      if (total) {
        this.total = total;
      } else {
        this.total = 0;
      }
      this.loading = false;
    },
    async getList() {
      this.loading = true;
      if (this.searchKeyword) {
        this.searchKeyword = this.searchKeyword.trim();
      }
      let queryCustom = {
        page: this.query.page - 1,
        size: this.query.size,
        fromDate: this.query.fromDate,
        toDate: this.query.toDate,
        filterObjectIds: this.query.camera,
        filterObjectType: "cam",
        vehicleType: this.query.vehicleType,
        violationType: this.query.violationType,
        processStatus: "CHECKED",
        violationConfirm: "NOVIOLATE",
        plate: this.searchKeyword,
        districtId: this.query.districtId,
        wardId: this.query.wardId
      };
      if (this.query.camera == null) {
        queryCustom.filterObjectIds = this.query.sites;
        if (
          queryCustom.filterObjectIds == null ||
          queryCustom.filterObjectIds == ""
        ) {
          queryCustom.filterObjectIds = this.siteIdLst.toString();
        }
        queryCustom.filterObjectType = "site";
      }
      if (queryCustom.page < 0) queryCustom.page = 0;

      this.queryInspect = queryCustom;
      const { data, total } = await inspectViolationsResource.list(
        this.queryInspect
      );
      if (data) {
        this.recognitionList = data;
      } else {
        this.recognitionList = [];
      }
      if (total) {
        this.total = total;
      } else {
        this.total = 0;
      }
      this.loading = false;
    },
    confirmExport() {
      this.loadingExport = true
      if (this.total > 5000) {
        this.$confirm('Hệ thống hỗ trợ export tối đa 5000 bản ghi. Tiếp tục?', 'Warning', {
          confirmButtonText: 'OK',
          cancelButtonText: 'Hủy bỏ',
          type: 'warning'
        }).then(() => {
          this.handleExport()
        });
      } else {
        this.handleExport()
      }
    },
    refreshExport(){
      this.linkExcel= null;
    },
    async handleExport() {
      let queryCustom = {
        page: this.query.page - 1,
        size: 5000,
        fromDate: this.query.fromDate,
        toDate: this.query.toDate,
        filterObjectIds: this.query.camera,
        filterObjectType: "cam",
        vehicleType: this.query.vehicleType,
        violationType: this.query.violationType,
        processStatus: "CHECKED",
        violationConfirm: "NOVIOLATE",
        plate: this.searchKeyword,
        districtId: this.query.districtId,
        wardId: this.query.wardId
      };
      if (this.query.camera == null) {
        queryCustom.filterObjectIds = this.query.sites;
        if (
          queryCustom.filterObjectIds == null ||
          queryCustom.filterObjectIds == ""
        ) {
          queryCustom.filterObjectIds = this.siteIdLst.toString();
        }
        queryCustom.filterObjectType = "site";
      }
      if (queryCustom.page < 0) queryCustom.page = 0;
      if (this.searchKeyword) {
        queryCustom.plate = this.searchKeyword.trim();
      }
      let result = await inspectViolationsResourceExport.list(queryCustom);
    },
    async getSiteList() {
      let result = await siteResource.list();
      if (result && result.data) {
        this.siteLst = result.data;
      }
      this.getListStringSiteId(this.siteLst);
    },
    getDateString() {
      let today = new Date();
      let dd = String(today.getDate()).padStart(2, "0");
      let mm = String(today.getMonth() + 1).padStart(2, "0"); //January is 0!
      let yyyy = today.getFullYear();
      today = yyyy + "-" + mm + "-" + dd;
      return today;
    },
    getHumanDate(date) {
      return moment(date).format("DD/MM/yyyy HH:mm:ss");
    },
    handleFilter() {
      this.query.page = 1;
      this.activeCollapse = false;
      this.getList();
    },
    onClickChild(value) {
      if (value) {
        this.query.fromDate = value.startDate;
        this.query.toDate = value.endDate;
        this.query.camera = value.camera;
        this.query.sites = value.sites;
        this.query.vehicleType = value.vehicleType;
        this.query.violationType = value.violationType;
        this.query.districtId = value.districtId;
        this.query.wardId = value.wardId;
      }
      this.handleFilter();
      this.getListStringSiteId(this.siteLst);
    },
    getListStringSiteId(list) {
      if (list) {
        this.siteIdLst = [];
        for (let index = 0; index < list.length; index++) {
          const element = list[index].id;
          this.siteIdLst.push(element);
        }
      }
      // alert("debug");
      // console.log(this.siteIdLst);
      return this.siteIdLst;
    },
    // async handleExport() {
    //   if (this.total === 0) {
    //     this.$message({
    //       message: "Không có bản ghi nào để export",
    //       type: "warning",
    //     });
    //     return;
    //   }
    //   this.loading = true;
    //   var wb = XLSX.utils.table_to_book(
    //     document.querySelector("#recognition-table")
    //   );
    //   let j = this.detectLengthObject(wb.Sheets.Sheet1);
    //   for (let i = 1; i < j; i++) {
    //     delete wb.Sheets.Sheet1["H" + i];
    //   }
    //   var wbout = XLSX.write(wb, {
    //     bookType: "xlsx",
    //     bookSST: true,
    //     type: "array",
    //   });
    //   try {
    //     FileSaver.saveAs(
    //       new Blob([wbout], { type: "application/octet-stream" }),
    //       `Không_Vi_Phạm_${moment().format("YYYY_MM_DD")}.xlsx`
    //     );
    //   } catch (e) {
    //     if (typeof console !== "undefined") console.log(e, wbout);
    //   }
    //   return wbout;
    // },
    detectLengthObject(obj) {
      var size = 0,
        key;
      for (key in obj) {
        if (obj.hasOwnProperty(key)) size++;
      }
      return size;
    },
    async handleDetail(row) {
      this.violationInfo = row;
      document.getElementById("main-screen").style.display = "none";
      document.getElementById("detail-screen").style.display = "block";
    },
    closeDetail() {
      document.getElementById("detail-screen").style.display = "none";
      document.getElementById("main-screen").style.display = "block";
      this.violationInfo = null;
    },
  },
  sockets: {
    receiveNotificationExport: function (data) {
      if (data.content && data.objectType == "export-search-inspect-noviolation") {
        this.loadingExport = false;
        this.linkExcel = data.content;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.noviolations {
  #detail-screen {
    display: none;
    margin: -20px;
  }
}
</style>

<style lang="scss">
.noviolations {
  .el-form-item {
    margin-bottom: 15px;
  }
  .el-input input {
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    border: solid 1px #9999;
  }
  .el-icon-camera-solid {
    font-size: 25px;
    color: #9a9a9a;
    position: relative;
    top: -50px;
    left: 54px;
    background: #dfdfdf;
    border-radius: 50%;
    padding: 8px;
    border: 1px solid white;
  }
  .change-image {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: #1f7ff5;
    position: relative;
    padding: 8px;
  }
  .img_avatar {
    text-align: center;
    padding-top: 25px;
    img {
      border-radius: 50%;
    }
  }
  .vehicle {
    text-align: center;
    padding-top: 25px;
    img {
      border-radius: 10px;
      max-width: 100%;
    }
  }
  .el-dialog {
    margin-top: 80px !important;
  }
  .item-left {
    width: 48%;
    float: left;
    margin-right: 2%;
  }
  .item-right {
    width: 48%;
    float: left;
    margin-left: 2%;
  }
  .block-item {
    width: 100%;
    float: left;
  }
  .el-dialog__header {
    padding: 0;
    background: #006fe3;
    height: 40px;
    line-height: 40px;
    text-align: center;
    .el-dialog__title {
      color: white;
    }
    .el-icon-close {
      color: white;
      font-size: 22px;
      top: -10px;
      position: relative;
    }
  }
  .el-dialog__body {
    .el-form-item__label {
      padding-bottom: 0;
      font-size: 14px;
      color: #363030;
      font-weight: 500;
    }
  }
  .el-dialog__footer {
    clear: both;
    padding-bottom: 25px;
    .el-button--primary {
      background: #1f7ff5;
      height: 40px;
      border-radius: 5px;
      width: 147px;
      text-transform: uppercase;
      font-weight: bold;
      border-color: #1f7ff5;
    }
    .el-button--danger {
      background: #9e9e9e;
      height: 40px;
      border-radius: 5px;
      width: 147px;
      text-transform: uppercase;
      font-weight: bold;
      border-color: #9e9e9e;
    }
  }
  #select-all-delete {
    height: 63px;
    line-height: 63px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ff4646;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    .el-icon-close {
      font-size: 25px;
      margin-left: 20px;
      margin-right: 35px;
      position: relative;
      top: 4px;
      cursor: pointer;
    }
    button {
      background: #e00000;
      border: initial;
      border-radius: 5px;
      float: right;
      display: inline-block;
      margin-top: 15px;
      margin-right: 15px;
    }
  }
  .action {
    margin-top: 40px;
    .el-button--primary {
      background: #64789a;
      border: initial;
      border-radius: 4px;
      width: 147px;
      height: 40px;
    }
    .el-button--success {
      background: #ff6161;
      border: initial;
      border-radius: 4px;
      width: 147px;
      height: 40px;
      float: right;
    }
  }
  #track-table {
    transition: width 0.5s;
    -moz-transition: width 0.5s;
    /* Firefox 4 */
    -webkit-transition: width 0.5s;
    /* Safari and Chrome */
    -o-transition: width 0.5s;
    float: left;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
    border-radius: 4px;
  }
  #detail-track {
    position: relative;
    /* transition: width 1s;
      -moz-transition: width 1s;
      -webkit-transition: width 1s;
      -o-transition: width 1s;*/
    width: 0;
    background: white;
    padding: 25px;
    float: left;
    margin-left: 25px;
    display: none;
    overflow: hidden;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    .avatar {
      text-align: center;
      margin-bottom: 25px;
      margin-top: 25px;
      img {
        border-radius: 50%;
      }
    }
    .item-label {
      color: #363030;
      font-weight: bold;
      font-size: 14px;
      margin-bottom: 10px;
    }
    .item-text {
      color: black;
      font-size: 16px;
      margin-bottom: 20px;
      opacity: 0.6;
    }
    .el-icon-close {
      background: #e3e3e3;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      text-align: center;
      line-height: 30px;
      color: #878787;
      font-size: 16px;
      position: absolute;
      right: 10px;
      top: 10px;
      cursor: pointer;
    }
  }
  .el-table th > .cell {
    text-align: left;
  }
  .el-table tr > th:first-child .cell {
    text-align: center;
  }
  .el-table th {
    color: black;
    font-size: 14px;
  }
  .el-table td {
    color: black;
    font-size: 14px;
  }
  .el-table tr td:first-child {
    text-align: center;
  }
  .el-table td:first-child .cell {
    display: inline-block;
  }
  .filter-container {
    padding-bottom: 20px;
  }
  tbody {
    tr {
      cursor: pointer;
    }
    td {
      padding: 2px 0 !important;
      .hover-show-full-image {
        top: 4px;
      }
    }
  }
  .search-block {
    //text-align: right;
    .search {
      float: left;
      width: calc(100% - 162px);
      display: inline;
      input {
        width: 272px;
        height: 36px !important;
        line-height: 36px !important;
        border: solid 1px #9999;
        border-radius: 5px;
        padding-left: 40px;
      }
      .el-icon-search {
        line-height: 16px;
        font-size: 19px;
        color: #666;
      }
      span {
        left: 10px;
      }
    }
    button {
      float: right;
      background: #1f7ff5;
      border-radius: 4px;
      height: 40px !important;
      width: 147px;
      margin-left: 15px;
      border-color: #1f7ff5;
      span {
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
}
</style>
