<template>
  <div>
	  <div class="live-stream" v-if="detectFormatVideo(link) == 'mjpg'">
	    <div class="image" v-viewer><img :src="link" alt="" /></div>
	  </div>
	  <div class="live-stream" v-else-if="detectFormatVideo(link) == 'm3u8'">
	    <video-player  class="video-player-box"
	             ref="videoPlayer"
	            :options="{
	              muted: true,
	              autoplay: true,
	              sources: [{
	                type: 'application/x-mpegURL',
	                src: link
	              }],
	             }"
	            :playsinline="true">
	  	</video-player>
	  </div>
	  <div class="live-stream" v-else-if="detectFormatVideo(link) == 'mp4'">
	    <video-player  class="video-player-box"
	            ref="videoPlayer"
	            :options="{
	              muted: true,
	              autoplay: true,
	              sources: [{
	                type: 'video/mp4',
	                src: link
	              }],
	             }"
	            :playsinline="true">
	  	</video-player>
	  </div>
	  <div class="live-stream" v-else>
	    <video-player class="video-player-box"
	            ref="videoPlayer"
	            :options="{
	              muted: true,
	              autoplay: true,
	              sources: [{
	                type: 'video/mp4',
	                src: link
	              }],
	             }"
	            :playsinline="true">
	  	</video-player>
	  </div>
  </div>
</template>
<script type="text/javascript">
	export default {
		props: {
			link: {
				type: String,
				default: null,
			}
		},
		methods: {
			detectFormatVideo(link) {
		      	return this.$root.detectFormatVideo(link)
		    },
		}
	}
</script>