<template>
	<div class="map-detail-patrol">
		<div id="container-map">
	        <div id="mapRoute"></div>
	        <div id="popup" class="ol-popup" style="visibility: hidden">
	        	<!-- <detailSite ref="detailSite" v-if="detailSiteData" :detailSiteData="detailSiteData" @closeClick="hiddenPopup()"></detailSite> -->
	        </div>
	    </div>
	</div>
</template>
<script type="text/javascript">
	// ol map
	import "ol/ol.css"
	import Map from "ol/Map"
	import Feature from "ol/Feature"
	import Overlay from "ol/Overlay"
	import View from "ol/View"
	import { defaults as defaultControls, FullScreen } from "ol/control"
	import { Tile as TileLayer, Vector as VectorLayer } from 'ol/layer'
	import { Vector as VectorSource } from 'ol/source'
	import XYZ from 'ol/source/XYZ'
	import Point from 'ol/geom/Point'
	import { Style, Icon, Text, Fill } from 'ol/style'
	import { fromLonLat } from 'ol/proj'
	import TileWMS from 'ol/source/TileWMS'
	// ket thuc
	import icon_map_warning from '@/assets/images/map/icon_map_monitor_warning.png'
	import icon_map from '@/assets/images/map/icon_map_monitor.png'
	import config from '@/config.js';

	export default {
		props: {
			data: {
				type: Array,
				default: [],
			}
		},
		data() {
			return {
				icon_map: icon_map,
		    	icon_map_warning: icon_map_warning,
				mapInstance: null,
	            popup: null,
	            popupHover: null,
	            selectedIcon: null,
	            zoom: 16,
	            minZoom: 4,
				centerLongitude: config.map_location_default.longitude,
				centerLatitude: config.map_location_default.latitude,
			}
		},
		created() {
			if(this.data.length > 0){
				this.centerLongitude = this.data[0].longitude
				this.centerLatitude = this.data[0].latitude
			}
		},
		watch: {
			data(newData, oldData) {
				let self = this
				setTimeout(function(){ self.renderMap() }, 100);
			}
		},
		mounted() {
			let self = this
			setTimeout(function(){ self.renderMap() }, 500);
		},
		methods: {
			renderMap() {
				this.centerLongitude = this.data[0].longitude
				this.centerLatitude = this.data[0].latitude
	            let googleMapLayer = this.createGoogleMapLayer();
	            let iconLayer = this.createIconLayer(this.getInfoRoute(this.data));
	            this.mapInstance = this.initMap(googleMapLayer, iconLayer);
	            this.mapInstance.addOverlay(this.createOverLay());
	            this.mapInstance.addOverlay(this.createOverLayHover());
	            this.mapInstance.on('pointermove', this.handlePointerMove);
	            // this.mapInstance.on('click', this.handleClickIcon);
	            this.mapInstance.on('pointermove', this.handleHoverIcon);
	        },
	        createGoogleMapLayer() {
	            return new TileLayer({
	                source: new XYZ({ url: 'http://mt0.google.com/vt/lyrs=m&hl=en&x={x}&y={y}&z={z}&s=Ga' })
	            });
	        },
	        createIconLayer(icons) {
	            let vectorSource = new VectorSource({
	                features: []
	            });
	            if (icons.length) {
	                icons.forEach((icon, index) => {
	                	let icon_map_display = icon_map
	                	if(icon.trafficStatus == 0){
	                		icon_map_display = icon_map
	                	}else{
	                		icon_map_display = icon_map_warning
	                	}
	                    let idx = index + 1;
	                    let styleText = new Text({
	                        text: idx.toString(),
	                        scale: 1.5,
	                        offsetX: 0,
	                        offsetY: -12,
	                        fill: new Fill({
	                            color: "#ffffff"
	                        })
	                    });
	                    if (this.isValidLngLat(icon.longitude, icon.latitude)) { // long, lat
	                        let newFeature = new Feature({
	                            geometry: new Point(fromLonLat([icon.longitude, icon.latitude])),
	                            name: icon.id
	                        });
	                        let iconStyle = new Style({
	                            image: new Icon({
	                                anchor: [0.5, 0.75],
	                                src: icon_map_display,
	                                scale: 1.0,
	                            }),
	                            // text: styleText
	                        });
	                        newFeature.setStyle(iconStyle);
	                        vectorSource.addFeature(newFeature);
	                    }
	                })
	            }
	            return new VectorLayer({
	                source: vectorSource
	            });
	        },
	        isValidLngLat(lng, lat) {
	            if (lng < -180 || lng > 180) {
	                return false;
	            } else if (lat < -90 || lat > 90) {
	                return false;
	            }
	            return true;
	        },
	        getInfoRoute: function (sites) {
            	let routeList = [];
	            if (sites) {
	                sites.forEach(route => {
	                    let info = {
	                        id: route.id,
	                        trafficStatus: route.trafficStatus,
	                        longitude: route.longitude,
	                        latitude: route.latitude
	                    }; 
	                    routeList.push(info);
	                });
	            }
	            return routeList;
	        },
	        initMap(googleMapLayer, iconLayer) {
	            document.getElementById("mapRoute").innerHTML = "";
	            let divContainerMap = document.getElementById("container-map");
	            let popTag = document.getElementById('popup');
	            if (!popTag) {
	                let divPopup = document.createElement("div");
	                divPopup.classList.add("ol-popup");
	                divPopup.setAttribute('id', 'popup');
	                divPopup.style.visibility = 'hidden';
	                divContainerMap.appendChild(divPopup);
	            }
	            let popTagHover = document.getElementById('popup-hover');
	            if (!popTagHover) {
	                // tao id hover
	                let divPopupHover = document.createElement("div");
	                divPopupHover.classList.add("ol-popup");
	                divPopupHover.setAttribute('id', 'popup-hover');
	                divPopupHover.style.visibility = 'hidden';
	                divContainerMap.appendChild(divPopupHover);
	            }
	            if(process.env.VUE_APP_USE_GOOGLE_MAP != "true"){
			        return new Map({
			          target: "mapRoute",
			          controls: defaultControls().extend([new FullScreen()]),

			          layers: [
			            // googleMapLayer,
			            new TileLayer({
			              source: new TileWMS({
			                url: process.env.VUE_APP_USE_MAP_OFFLINE_LINK,
			                params: {'LAYERS': process.env.VUE_APP_USE_MAP_OFFLINE_LAYERS, 'TILED': true},
			                serverType: 'geoserver',
			                // Countries have transparency, so do not fade tiles:
			                transition: 0,
			              }),
			            }),
			            iconLayer
			          ],

			          view: new View({
			            center: fromLonLat([this.centerLongitude, this.centerLatitude]),
			            zoom: this.zoom,
			            minZoom: this.minZoom,
			          }),
			        });
			    }else{
			        return new Map({
			          target: "mapRoute",
			          controls: defaultControls().extend([new FullScreen()]),
			          layers: [
			            googleMapLayer,
			            iconLayer
			          ],

			          view: new View({
			            center: fromLonLat([this.centerLongitude, this.centerLatitude]),
			            zoom: this.zoom,
			            minZoom: this.minZoom,
			          }),
			        });
			    }
	        },
	        createOverLay() {
	            let container = document.getElementById('popup');
	            this.popup = new Overlay({
	                element: container,
	                autoPan: true,
	                autoPanAnimation: {
	                    duration: 250,
	                }
	            });
	            return this.popup;
	        },
	        createOverLayHover() {
	            let container = document.getElementById('popup-hover');
	            this.popupHover = new Overlay({
	                element: container,
	                autoPan: true,
	                autoPanAnimation: {
	                    duration: 250,
	                }
	            });
	            return this.popupHover;
	        },
	        handleHoverIcon(event) {
	        	this.selectedIcon = this.mapInstance.forEachFeatureAtPixel(event.pixel, (feature) => {
	                return feature;
	            });
	            if (this.selectedIcon) {
	                let coordinates = this.selectedIcon.getGeometry().getCoordinates();
	                let typeSelectedFeature = this.selectedIcon.getGeometry().getType();
	                if (typeSelectedFeature == 'Point') {
	                    let selectedId = this.selectedIcon.get('name');
	                    let routeInfo = this.data.find(x => x.id == selectedId);
	                    // console.log(routeInfo);
	                    let element = document.getElementById('popup-hover');
	                    element.style.visibility = 'visible';
	                    element.innerHTML = this.showContentRoute(routeInfo);
	                    this.popupHover.setPosition(coordinates);
	                } else {
	                    this.hiddenPopupHover();
	                }
	            } else {
	                this.hiddenPopupHover();
	            }
	        },
	        showContentRoute(data) {
	        	return `<p style="padding-left: 20px; margin-top: 7px; margin-bottom: 10px;">
	        		<b>${data.name}</b>
	        	</p><div style="padding-left: 20px; margin-bottom: 7px; font-size: 14px;">
	        		${data.address}
	        	</div>`;
	        },
	        hiddenPopupHover() {
	            this.popupHover.setPosition(undefined);
	        },
		}
	}
</script>
<style type="text/css" lang="scss" scoped>
	#mapRoute {
		height: 450px;
	}
</style>