<template>
  <div class="app-container claim violation-process-page" v-if="canRead">
    <!-- Filter -->
    <template_1 :data="notifyForm"></template_1>
    <template_2 :data="notifyForm"></template_2>
    <template_3 :data="notifyForm"></template_3>
    <template>
      <div id="user-table">
        <div class="filter-container">
          <template>
            <div class="search-block">
              <el-input class="search"
                placeholder=""
                prefix-icon="el-icon-search"
                v-model="searchKeyword" @keyup.enter.native="handleFilter()">
              </el-input>
              <Search @clicked="onClickChild"></Search>
              <el-button type="primary" @click="resetFilter()"
              ><i class="el-icon-refresh"></i> Làm mới</el-button>
            </div>
          </template>
        </div>
        <el-table
          ref="multipleTable"
          :data="violationList"
          style="width: 100%"
          :row-class-name="tableRowClassName"
          @row-click="rowClicked">
          <el-table-column label="Thời gian" width="170px">
            <template slot-scope="scope">
              <span>{{ scope.row.startTime|formatDateVietNam }}</span>
            </template>
          </el-table-column>

          <el-table-column label="Vị trí">
            <template slot-scope="scope">
              <span>{{ scope.row.siteAddress }}</span>
            </template>
          </el-table-column>

          <el-table-column label="Thiết bị">
            <template slot-scope="scope">
              <span>{{ scope.row.sourceName }}</span>
            </template>
          </el-table-column>

          <el-table-column label="Loại vi phạm">
            <template slot-scope="scope">
              <span>{{ scope.row.eventTypeName }}</span>
            </template>
          </el-table-column>

          <el-table-column label="Loại phương tiện">
            <template slot-scope="scope">
              <span>{{ scope.row.objectTypeName }}</span>
            </template>
          </el-table-column>
          <el-table-column label="Biển số">
            <template slot-scope="scope">
              <span>{{ scope.row.plate }}</span>
            </template>
          </el-table-column>
          <el-table-column label="Trạng thái">
            <template slot-scope="scope">
              <span>{{ scope.row.processStatusName }}</span>
            </template>
          </el-table-column>
          <el-table-column label="Thời gian xử lý" width="160px">
            <template slot-scope="scope">
              <span>{{ scope.row.processTime|formatDateVietNam }}</span>
            </template>
          </el-table-column>
        </el-table>
        <!-- Phân trang -->
        <p style="clear:both;"></p>
        <div style="display: inline-block; padding-top: 13px">
          Vi phạm quá hạn: <strong>{{ total }}</strong>
        </div>
        <pagination v-show="total>query.size" :total="total" :page.sync="query.page" :layout="layout" :limit.sync="query.size" @pagination="getList" />
      </div>
      <!-- Xem chi tiet thong bao -->
      <template v-if="dataDetailNotify">
          <el-dialog
            title="Xem thông tin"
            :visible.sync="viewNotifyModal"
            custom-class="notify-popup"
            :close-on-click-modal="false"
            width="850px">
            <div class="form-print">
              <el-row :gutter="20">
              <!-- form nhap thong tin -->
                <el-form class="ruleForm">
                  <!-- row -->
                  <div style="clear: both;">
                    <el-col :span="8">
                      <el-form-item label="Biển kiểm soát" prop="plate">
                          {{dataDetailNotify.plate}}
                      </el-form-item>
                    </el-col>
                    <el-col :span="8">
                      <template>
                          <el-form-item label="Loại phương tiện" prop="vehicle">
                           {{dataDetailNotify.objectType}}
                          </el-form-item>
                      </template>
                    </el-col>
                    <el-col :span="8">
                      <el-form-item label="Hãng sản xuất" prop="manufacturer">
                         {{dataDetailNotify.manufacturer}}
                      </el-form-item>
                    </el-col>
                  </div>
                  <!-- row -->
                  <div style="clear: both;">
                    <el-col :span="8">
                      <el-form-item label="Họ và tên chủ phương tiện" prop="customer">
                          {{dataDetailNotify.fullName}}
                      </el-form-item>
                    </el-col>
                    <el-col :span="8">
                      <el-form-item label="Ngày sinh" prop="birthday">
                          <span v-if="dataDetailNotify.birthDay">{{dataDetailNotify.birthDay|formatDateVietNamNoTime}}
                           </span>
                      </el-form-item>
                    </el-col>
                    <el-col :span="8">
                      <el-form-item label="Quốc tịch" prop="nationality">
                         {{dataDetailNotify.nationality}}
                      </el-form-item>
                    </el-col>
                  </div>
                  <!-- row -->
                  <el-col :span="24">
                    <el-form-item label="Địa chỉ" prop="address">
                        {{dataDetailNotify.address}}
                    </el-form-item>
                  </el-col>
                   <!-- row -->
                  <div style="clear: both;">
                      <el-col :span="8">
                      <el-form-item label="Tỉnh/Thành phố" prop="city">
                        {{dataDetailNotify.province}}
                        </el-form-item>
                      </el-col>
                      <el-col :span="8">
                        <el-form-item label="Quận/Huyện" prop="district">
                        {{dataDetailNotify.district}}
                        </el-form-item>
                      </el-col>
                      <el-col :span="8">
                        <el-form-item label="Phường/Xã" prop="village">
                        {{dataDetailNotify.ward}}
                        </el-form-item>
                      </el-col>
                  </div>
                  <!-- row -->
                  <div style="clear: both;">
                    <el-col :span="8">
                      <el-form-item label="Số CCCD/CMND" prop="cmnd">
                          {{dataDetailNotify.identityCardNo}}
                      </el-form-item>
                    </el-col>
                    <el-col :span="8">
                      <el-form-item label="Ngày cấp" prop="issued_on">
                          <span v-if="dataDetailNotify.issuedOn">
                          {{dataDetailNotify.issuedOn|formatDateVietNamNoTime}}
                          </span>
                      </el-form-item>
                    </el-col>
                    <el-col :span="8">
                      <el-form-item label="Nơi cấp" prop="place">
                      {{dataDetailNotify.issuedPlace}}
                      </el-form-item>
                    </el-col>
                  </div>
                  <!-- img -->
                  <div style="clear: both;">
                    <el-col :span="8">
                      <el-form-item label="Hành vi vi phạm" prop="violationTypes">
                        {{dataDetailNotify.violationTypes}}
                      </el-form-item>
                    </el-col>
                    <el-col :span="8">
                      <el-form-item label="Chi tiết" prop="detail">
                          {{dataDetailNotify.violationTypesDetail}}
                      </el-form-item>
                    </el-col>
                    <el-col :span="8">
                      <el-form-item label="Biện pháp ngăn chặn" prop="prevent">
                          {{dataDetailNotify.preventiveMeasures}}
                      </el-form-item>
                    </el-col>
                  </div>
                  <div style="clear: both;" v-if="dataDetailNotify.eventTypeString == 'SPEEDLIMIT'">
                    <el-col :span="8">
                      <el-form-item label="Tốc độ đo được" prop="detail">
                            {{dataDetailNotify.speed}}
                        </el-form-item>
                      </el-col>
                      <el-col :span="8">
                        <el-form-item label="Tốc độ cho phép" prop="prevent">
                            {{dataDetailNotify.speedLimit}}
                        </el-form-item>
                      </el-col>
                  </div>
                  <div style="clear: both;">
                    <el-col :span="24">
                      <el-form-item label="Địa chỉ giải quyết vi phạm" prop="address_violation">
                       {{dataDetailNotify.violationSettlementAddress}}
                      </el-form-item>
                    </el-col>
                  </div>
                  <div style="clear: both;" v-if="notifyForm.processStatus!='COLD_PENALTY_OUT_2'">
                    <el-col :span="12">
                      <el-form-item label="Số thông báo" prop="notifyNo">
                       <el-input v-model="dataDetailNotify.notifyNo"></el-input>
                      </el-form-item>
                    </el-col>
                    <el-col :span="12">
                      <el-form-item label="Thời gian thông báo" prop="notifyTime">
                        <el-date-picker
                          v-model="dataDetailNotify.notifyTime"
                          format="dd-MM-yyyy"
                          type="date"
                          placeholder="Ngày thông báo">
                        </el-date-picker>
                      </el-form-item>
                    </el-col>
                  </div>
                  <el-col :span="24" style="padding: 0;">
                      <el-col :span="24">
                          <h4>Thông tin liên hệ</h4>
                      </el-col>
                      <el-col :span="12">
                          <el-form-item label="Cơ quan" prop="contactName">
                              {{this.$store.state.user.userInfo.organizationName}}
                          </el-form-item>
                      </el-col>
                      <el-col :span="12">
                          <el-form-item label="Số điện thoại" prop="contactPhone">
                              {{this.$store.state.user.userInfo.organizationPhoneNumber}}
                          </el-form-item>
                      </el-col>
                  </el-col>
                  <el-col :span="24">
                    <div class="img" style="padding-top: 5px;">
                        <img v-if="doesFileExist(base_url_img + dataDetailNotify.imgUrl)" :src="base_url_img + dataDetailNotify.imgUrl" />
                        <img v-else :src="vehicle_default" alt=""/>
                    </div>
                  </el-col>
                   <!-- row -->
                  <template v-if="notifyForm.processStatus == 'COLD_PENALTY_OUT_2'">
                    <el-col :span="24"><h4>Đơn vị nhận thông báo</h4></el-col>
                    <el-col :span="24">
                      <el-form-item label="Tên đơn vị" prop="unit_address">
                          {{dataDetailNotify.notifyOrganization}}
                      </el-form-item>
                    </el-col>
                  </template>
                  <!-- action -->
                  <el-col :span="24">
                    <div class="popup-active" style="text-align: right;">
                      <el-button class="exit" @click="viewNotifyModal=false" :loading="updateNotifyInfoLoading" style="float: left;width: initial;">Thoát</el-button>
                      <el-button v-if="notifyForm.processStatus=='COLD_PENALTY_OUT_2'" class="print" @click="print('print-template-3')"><i class="el-icon-printer"></i> Mẫu In 3</el-button>
                      <el-button class="print" @click="print('print-template-2')"><i class="el-icon-printer"></i> Mẫu In 2</el-button>
                      <pdfExportImg :data="notifyPrintPdf" :data1="notifyForm"></pdfExportImg>
                    </div>
                  </el-col>
                </el-form>
              </el-row>
            </div>
          </el-dialog>
      </template>
      <!-- ket thuc -->
      <template v-if="violationDetail">
       <!-- Tao thong bao -->
          <el-dialog
            title="Thông báo vi phạm hành chính về TTANGT đường bộ (in lần 2)"
            :visible.sync="createNotify"
            custom-class="notify-popup"
            :close-on-click-modal="false"
            width="850px">
            <div class="form-print">
              <el-row :gutter="20">
              <!-- form nhap thong tin -->
                <el-form :model="notifyForm" :rules="notifyFormValidate" ref="notifyForm" class="demo-ruleForm">
                  <!-- row -->
                  <el-col :span="8">
                    <el-form-item label="Biển kiểm soát" prop="plate">
                        <el-input v-model="notifyForm.plate"></el-input>
                    </el-form-item>
                  </el-col>
                  <el-col :span="8">
                    <template>
                        <el-form-item label="Loại phương tiện" prop="vehicle">
                          <el-select v-model="notifyForm.vehicle" filterable placeholder="Loại phương tiện" style="width:100%;">
                            <el-option
                              v-for="vehicleType in vehicleTypeLst"
                              :key="vehicleType.code"
                              :value="vehicleType.name"
                              :label="vehicleType.name"
                            >
                            </el-option>
                          </el-select>
                        </el-form-item>
                    </template>
                  </el-col>
                  <el-col :span="8">
                    <el-form-item label="Hãng sản xuất" prop="manufacturer">
                      <el-select v-model="notifyForm.manufacturer" filterable placeholder="- Lựa chọn -">
                        <el-option
                          v-for="item in manufacturer"
                          :key="item.name"
                          :label="item.name"
                          :value="item.name">
                        </el-option>
                      </el-select>
                    </el-form-item>
                  </el-col>
                  <!-- row -->
                  <el-col :span="8">
                    <el-form-item label="Họ và tên chủ phương tiện" prop="customer">
                        <el-input v-model="notifyForm.customer"></el-input>
                    </el-form-item>
                  </el-col>
                  <el-col :span="8">
                    <el-form-item label="Ngày sinh" prop="birthday">
                        <el-date-picker
                          v-model="notifyForm.birthday"
                          format="dd/MM/yyyy"
                          type="date">
                        </el-date-picker>
                    </el-form-item>
                  </el-col>
                  <el-col :span="8">
                    <el-form-item label="Quốc tịch" prop="nationality">
                        <el-input v-model="notifyForm.nationality"></el-input>
                    </el-form-item>
                  </el-col>
                  <!-- row -->
                  <el-col :span="24">
                    <el-form-item label="Địa chỉ" prop="address">
                        <el-input v-model="notifyForm.address"></el-input>
                    </el-form-item>
                  </el-col>
                   <!-- row -->
                  <el-col :span="8">
                    <el-form-item label="Tỉnh/Thành phố" prop="city">
                    <el-select v-model="notifyForm.city" @change="getDistricts(notifyForm.city,true)" filterable placeholder="- Lựa chọn -">
                      <el-option
                          v-for="item in provinces"
                          :key="item.id"
                          :data="item"
                          :label="item.name"
                          :value="item.id">
                        </el-option>
                    </el-select>
                    </el-form-item>
                  </el-col>
                  <el-col :span="8">
                    <el-form-item label="Quận/Huyện" prop="district">
                    <el-select v-model="notifyForm.district" @change="getWards(notifyForm.district,true)" filterable placeholder="- Lựa chọn -">
                      <el-option
                        v-for="item in districts"
                        :key="item.id"
                        :label="item.name"
                        :value="item.id">
                      </el-option>
                    </el-select>
                    </el-form-item>
                  </el-col>
                  <el-col :span="8">
                    <el-form-item label="Phường/Xã" prop="village">
                    <el-select v-model="notifyForm.village" filterable placeholder="- Lựa chọn -">
                      <el-option
                        v-for="item in wards"
                        :key="item.id"
                        :label="item.name"
                        :value="item.name">
                      </el-option>
                    </el-select>
                    </el-form-item>
                  </el-col>
                  <!-- row -->
                  <el-col :span="8">
                    <el-form-item label="Số CCCD/CMND" prop="cmnd">
                        <el-input v-model="notifyForm.cmnd"></el-input>
                    </el-form-item>
                  </el-col>
                  <el-col :span="8">
                    <el-form-item label="Ngày cấp" prop="issued_on">
                        <el-date-picker
                          v-model="notifyForm.issued_on"
                          format="dd/MM/yyyy"
                          type="date">
                        </el-date-picker>
                    </el-form-item>
                  </el-col>
                  <el-col :span="8">
                    <el-form-item label="Nơi cấp" prop="place">
                    <el-select v-model="notifyForm.place" filterable placeholder="- Lựa chọn -">
                      <el-option
                        v-for="item in provinces"
                        :key="item.name"
                        :label="item.name"
                        :value="item.name">
                      </el-option>
                    </el-select>
                    </el-form-item>
                  </el-col>
                  <el-col :span="24">
                    <el-form-item label="Hành vi vi phạm" prop="violationTypes">
                      <el-input maxlength="255" v-model="notifyForm.violationTypes"></el-input>
                    </el-form-item>
                  </el-col>
                  <!-- img -->
                  <el-col :span="8">
                    <template v-if="violationDetail.eventTypeString == 'SPEEDLIMIT'">
                        <el-form-item label="Tốc độ đo được" prop="speed">
                          <el-input v-model="notifyForm.speed"></el-input>
                      </el-form-item>
                      <el-form-item label="Tốc độ cho phép" prop="speedLimit">
                          <el-input v-model="notifyForm.speedLimit"></el-input>
                      </el-form-item>
                      </template>
                    <el-form-item label="Chi tiết" prop="detail">
                        <el-input v-model="notifyForm.detail"></el-input>
                    </el-form-item>
                    <el-form-item label="Biện pháp ngăn chặn" prop="prevent">
                        <el-input v-model="notifyForm.prevent"></el-input>
                    </el-form-item>
                    <el-form-item label="Địa chỉ giải quyết vi phạm" prop="address_violation">
                      <el-select v-model="notifyForm.address_violation" placeholder="- Lựa chọn -">
                        <el-option
                          v-for="item in groups"
                          :key="item.name"
                          :label="item.mapper"
                          :value="item.mapper">
                        </el-option>
                      </el-select>
                    </el-form-item>
                  </el-col>
                  <el-col :span="16" style="text-align: center;">
                    <div class="img" v-if="violationDetail">
                        <template v-if="imgSelectDefault&&doesFileExist(base_url_img + imgSelectDefault)">
                            <img :src="base_url_img + imgSelectDefault" alt="" />
                        </template>
                        <template v-else>
                            <img :src="vehicle_default" alt="" />
                        </template>
                        <el-popover placement="top" title="" v-model="isSelectImg" width="500" trigger="click" popper-class="img-select" content="">
                              <i class="el-icon-close" @click="isSelectImg=false"></i>
                              <div class="content">
                                  <template v-if="violationDetail.imageUrl">
                                      <el-col :span="12">
                                          <div class="img" :class="{active: imgSelectDefault == violationDetail.imageUrl}" @click="selectImage(violationDetail.imageUrl)">
                                            <img v-if="doesFileExist(base_url_img + violationDetail.imageUrl)" :src="base_url_img + violationDetail.imageUrl" />
                                            <img v-else :src="vehicle_default" alt="" />
                                          </div>
                                      </el-col>
                                  </template>
                                  <template v-if="violationDetail.imageCtxtUrl && imgSelectDefault">
                                      <el-col :span="12" v-for="val in violationDetail.imageCtxtUrl">
                                          <div v-if="doesFileExist(base_url_img + val)" class="img" :class="{active:imgSelectDefault==val}" @click="selectImage(val)"><img :src="base_url_img + val" alt="" /></div>
                                      </el-col>
                                  </template>
                                  <template v-if="!violationDetail.imageCtxtUrl && !imgSelectDefault && !violationDetail.imageUrl">
                                      Không có dữ liệu!
                                  </template>
                              </div>
                              <el-button class="img-select-button" slot="reference">Ảnh vi phạm</el-button>
                          </el-popover>
                    </div>
                  </el-col>
                  <el-col :span="24" style="padding: 0;">
                        <el-col :span="24">
                            <h4>Thông tin liên hệ</h4>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item label="Cơ quan" prop="contactName">
                                <el-input maxlength="255" v-model="notifyForm.contactName"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item label="Số điện thoại" prop="contactPhone">
                                <el-input maxlength="255" v-model="notifyForm.contactPhone"></el-input>
                            </el-form-item>
                        </el-col>
                    </el-col>
                   <!-- row -->
                  <el-col :span="24" style="padding: 0;">
                    <el-col :span="24"><h4>Đơn vị nhận thông báo</h4></el-col>
                  </el-col>
                  <!-- row -->
                  <el-col :span="24">
                    <el-form-item label="Tên đơn vị" prop="unit_name">
                        <el-input v-model="notifyForm.unit_name"></el-input>
                    </el-form-item>
                  </el-col>
                  <!-- action -->
                  <el-col :span="24">
                    <div class="popup-active">
                      <el-button class="exit" style="float:left;" @click="createNotify = false">Thoát</el-button>
                      <el-button class="save" @click="saveNotify('notifyForm')" :loading="loading_notify"><i class="el-icon-s-order"></i> Lưu</el-button>
                      <el-button class="print" @click="print('print-template-3','notifyForm')"><i class="el-icon-printer"></i> Mẫu In 3</el-button>
                      <pdfExportImg :data="notifyPrintPdf" :data1="notifyForm"></pdfExportImg>
                    </div>
                  </el-col>
                </el-form>
              </el-row>
            </div>
          </el-dialog>
      </template>
      <div id="detail-user" style="width: 0;" v-if="violationDetail">
          <i class="el-icon-close close-detail" @click="closeDetail()"></i>
          <h5>Thông tin vi phạm</h5>
          <el-row :gutter="20">
            <el-col :span="5">
              <div class="grid-content bg-purple">
                  <div class="list-img-cam">
                    <template v-if="!active_link&&!camera.sources[0].src&&!$store.state.common.loginMilestone">
                        <img class="active" :src="vehicle_default" alt="" />
                    </template>
                    <template v-else>
                        <template v-if="violationDetail.imageUrl">
                            <template v-if="doesFileExist(base_url_img + violationDetail.imageUrl)">
                                <img :class="{active: active_link==violationDetail.imageUrl}" :src="base_url_img + violationDetail.imageUrl" @click="viewImage(violationDetail.imageUrl, 1)" alt="" />
                            </template>
                            <template v-else>
                                <img :class="{active: active_link==violationDetail.imageUrl}" :src="vehicle_default" @click="viewImage(violationDetail.imageUrl, 1)" alt="" />
                            </template>
                        </template>
                        <template v-if="violationDetail.imageCtxtUrl&&violationDetail.imageCtxtUrl!='null'">
                            <template v-for="val in violationDetail.imageCtxtUrl">
                              <template v-if="doesFileExist(base_url_img + val)">
                                  <img v-if="violationDetail.imageUrl!=val" @click="viewImage(val, 1)" :class="{active: active_link==val}" :src="base_url_img + val" alt="" />
                              </template>
                              <template v-else>
                                  <img v-if="violationDetail.imageUrl!=val" @click="viewImage(val, 1)" :class="{active: active_link==val}" :src="vehicle_default" alt="" />
                              </template>
                            </template>
                        </template>
                        <template v-if="checkHandleVideoSuccess()">
                          <div @click="viewImage(camera.sources[0].src, 0)">
                                <div class="img">
                                  <img :class="{active: active_link==camera.sources[0].src}" src="@/assets/images/video_play.png" alt="" />
                                </div>
                          </div>
                        </template>
                    </template>
                </div>
              </div>
          </el-col>
          <el-col :span="19">
              <div class="grid-content bg-purple">
                  <div class="cam-detail">
                      <template v-if="type_display==0&&camera.sources[0].src">
                        <VideoCam :link="camera.sources[0].src"></VideoCam>
                      </template>
                      <template >
                          <div v-bind:class="{dislayNone:type_display !=2}">
                            <VideoMileStone ref="videoPage" :startTime="violationDetail.startTime" :cameraReal="cameraReal" />
                        </div>
                      </template>
                      <template v-if="type_display==1&&active_link&&doesFileExist(base_url_img + active_link)">
                        <div class="image" v-viewer><img :src="base_url_img + active_link" alt="" /></div>
                      </template>
                      <template v-if="type_display==1&&(!active_link || !doesFileExist(base_url_img + active_link))">
                        <div class="image" v-viewer><img :src="vehicle_default" alt="" /></div>
                      </template>
                  </div>
              </div>
            </el-col>
          </el-row>
          <el-row :gutter="20">
            <div class="form-violation">
            <!-- form nhap thong tin -->
              <el-form :model="violationDetail" :rules="rules" ref="ruleForm" class="violation-ruleForm">
                <h4 class="item-input">Thông tin</h4>
                <div class="item">
                  <el-col :span="12" class="item-input">
                    <div class="image"><img style="position: relative; top: -2px;" src="@/assets/images/processViolation/plate.png" alt="" /></div>
                    <div class="content">
                        <div class="title">
                          Biển kiểm soát
                          <el-popover
                          placement="top-start"
                          width="300"
                          popper-class="info-device"
                          trigger="click">
                          <div class="content">
                              Thông tin thiết bị vi phạm
                          </div>
                          <el-button slot="reference"><i class="el-icon-info"></i></el-button>
                          </el-popover>
                        </div>
                        <div class="descript">{{violationDetail.plate}}</div>
                    </div>
                  </el-col>
                  <el-col :span="12" class="item-input">
                    <div class="image"><img src="@/assets/images/processViolation/clock.png" alt="" /></div>
                    <div class="content">
                        <div class="title">Thời gian vi phạm</div>
                        <div class="descript">{{violationDetail.startTime|formatDateVietNamTimeDate}}</div>
                    </div>
                  </el-col>
                </div>
                <div class="item">
                  <el-col :span="12" class="item-input">
                    <div class="image"><img src="@/assets/images/processViolation/type.png" alt="" /></div>
                    <div class="content">
                        <div class="title">Loại vi phạm</div>
                        <div class="descript">{{violationDetail.eventTypeName}}</div>
                    </div>
                  </el-col>
                  <el-col :span="12" class="item-input">
                      <div class="image"><img src="@/assets/images/processViolation/type_vehicel.png" alt="" /></div>
                      <div class="content">
                          <div class="title">Loại phương tiện</div>
                          <div class="descript">{{violationDetail.objectTypeName}}</div>
                      </div>
                  </el-col>
                </div>
                <div class="item">
                  <el-col :span="12" class="item-input">
                    <div class="image"><img src="@/assets/images/processViolation/device.png" alt="" /></div>
                    <div class="content">
                        <div class="title">Thiết bị</div>
                        <div class="descript">{{violationDetail.sourceName}}</div>
                    </div>
                  </el-col>
                  <el-col :span="12" class="item-input">
                    <div class="image"><img src="@/assets/images/processViolation/address.png" alt="" /></div>
                    <div class="content">
                          <div class="title">Địa điểm vi phạm</div>
                          <div class="descript">{{violationDetail.siteAddress}}</div>
                    </div>
                  </el-col>
                  <el-col :span="12" class="item-input">
                    <div class="image"><img src="@/assets/images/processViolation/letter.png" alt="" /></div>
                    <div class="content">
                        <div class="title">Tình trạng biển</div>
                        <div class="descript">{{detectStatusPlate(violationDetail.plateStatus)}}</div>
                    </div>
                  </el-col>
                </div>
                <div class="line"></div>
                <h4 class="item-input">Trạng thái: <span>{{violationDetail.processStatusName}}</span></h4>
                <div class="item">
                  <el-col :span="12" class="item-input">
                    <div class="image"><img src="@/assets/images/processViolation/printing.png" alt="" /></div>
                    <div class="content">
                        <div class="title">In</div>
                        <div class="descript" v-if="violationDetail.processStatus=='COLD_PENALTY_OUT_2'">In lần 2</div>
                        <div class="descript" v-else>In lần 1</div>
                    </div>
                  </el-col>
                  <el-col :span="12" class="item-input" :class="{disable: loadingDetail}" style="cursor: pointer;">
                    <div class="image" @click="viewDetailNotify(violationDetail,true)"><img src="@/assets/images/processViolation/blank-paper.png" alt="" /></div>
                    <div class="content" @click="viewDetailNotify(violationDetail,true)">
                          <div class="title">Thông báo vi phạm</div>
                          <div class="descript"><i v-if="loadingDetail" class="el-icon-loading"></i></div>
                    </div>
                  </el-col>
                </div>
                <!-- <div class="line"></div>
                <h4 class="item-input">Trạng thái: <span>{{violationDetail.processStatusName}}</span></h4>
                <div class="item">
                  <el-col :span="12" class="item-input">
                    <div class="image"><img src="@/assets/images/processViolation/barcode.png" alt="" /></div>
                    <div class="content">
                        <div class="title">Số BB/Số QĐ</div>
                        <div class="descript">{{moreInfoViolation.minutesNumber}}</div>
                    </div>
                  </el-col>
                  <el-col :span="12" class="item-input">
                      <div class="image"><img src="@/assets/images/processViolation/calendar.png" alt="" /></div>
                      <div class="content">
                          <div class="title">Ngày lập</div>
                          <div class="descript">{{moreInfoViolation.minutesTime|formatDateVietNamNoTime}}</div>
                      </div>
                  </el-col>
                </div>
                <div class="item">
                  <el-col :span="12" class="item-input">
                    <div class="image"><img src="@/assets/images/processViolation/user-shape.png" alt="" /></div>
                    <div class="content">
                        <div class="title">Cán bộ</div>
                        <div class="descript">{{moreInfoViolation.policeRank}}</div>
                    </div>
                  </el-col>
                  <el-col :span="12" class="item-input">
                    <div class="image"><img src="@/assets/images/processViolation/unit.png" alt="" /></div>
                    <div class="content">
                          <div class="title">Đơn vị</div>
                          <div class="descript">{{moreInfoViolation.organizationId}}</div>
                    </div>
                  </el-col>
                </div> -->
                <el-col :span="24">
                  <div class="action" v-if="canUpdate">
                    <el-row>
                      <!-- <el-button class="no-violation" @click="noViolation('ruleForm')" :loading="loading1" :disabled="disabled1">Không vi phạm</el-button> -->
                      <!-- <el-button class="violation" @click="violation()" :loading="loading2" :disabled="disabled2">Gửi vi phạm</el-button> -->
                      <!-- <el-button class="notify" @click="notify()" :loading="loading3" :disabled="disabled3">Tạo thông báo...</el-button> -->
                      <el-button class="update" @click="updateViolation()" :loading="loading4" :disabled="disabled4">Cập nhật vi phạm</el-button>
                    </el-row>
                  </div>
                </el-col>
              </el-form>
            </div>
          </el-row>
          <!-- Cập nhật trạng thái vi phạm -->
           <el-dialog
            title="Cập nhật trạng thái vi phạm"
            :visible.sync="updateStatusViolation"
            custom-class="update-status-popup"
            width="40%">
            <div class="form-print">
              <el-row :gutter="20">
              <!-- form nhap thong tin -->
                <el-form :model="updateStatusForm" :rules="rulesUpdateStatus" ref="updateStatusForm" class="demo-ruleForm">
                  <!-- row -->
                  <el-col :span="12">
                    <el-form-item label="Hình thức xử lý" prop="process">
                    <el-select v-model="updateStatusForm.process" placeholder="- Lựa chọn -">
                      <el-option
                        key="1"
                        label="Lập BBXP"
                        value="1">
                      </el-option>
                      <el-option
                        key="3"
                        label="Lập QĐ XP không qua BB"
                        value="3">
                      </el-option>
                      </el-option>
                    </el-select>
                    </el-form-item>
                  </el-col>
                  <el-col :span="12">
                    <el-form-item label="Thời gian lập biên bản" prop="time">
                        <el-date-picker
                          v-model="updateStatusForm.time"
                          format="dd/MM/yyyy HH:mm"
                          type="datetime">
                        </el-date-picker>
                    </el-form-item>
                  </el-col>
                  <el-col :span="24">
                    <el-form-item label="Số BB/QĐ" prop="minutesNumber">
                        <el-input maxlength="64" v-model="updateStatusForm.minutesNumber"></el-input>
                    </el-form-item>
                  </el-col>
                  <!-- row -->
                  <el-col :span="8">
                    <template>
                        <el-form-item label="Cán bộ 1" prop="name">
                          <el-select v-model="updateStatusForm.name" placeholder="Họ tên cán bộ 1" @change="fillPoliceInfos(updateStatusForm.name)" style="width:100%;" filterable allow-create>
                            <el-option
                              v-for="user in usersList"
                              :key="user.uuid"
                              :value="user.fullName"
                              :label="user.fullName"
                            >
                            </el-option>
                          </el-select>
                        </el-form-item>
                    </template>
                  </el-col>
                  <el-col :span="8">
                    <el-form-item label="Cấp bậc cán bộ 1" prop="level">
                        <el-input v-model="updateStatusForm.level"></el-input>
                    </el-form-item>
                  </el-col>
                  <el-col :span="8">
                      <template>
                      <el-form-item label="Đơn vị cán bộ 1" prop="unit" v-if="organizationList&&organizationList.length>0">
                        <el-select v-model="updateStatusForm.unit" placeholder="Đơn vị cán bộ 1" style="width:100%;">
                          <el-option
                            v-for="organization in organizationList"
                            :key="organization.uuid"
                            :value="organization.name"
                            :label="organization.name"
                          >
                          </el-option>
                        </el-select>
                      </el-form-item>
                      <el-form-item label="Đơn vị cán bộ 1" v-else>
                        <el-select v-model="updateStatusForm.unit" placeholder="Đơn vị cán bộ 1" style="width:100%;">
                          <el-option
                            v-for="organization in organizationList"
                            :key="organization.uuid"
                            :value="organization.name"
                            :label="organization.name"
                          >
                          </el-option>
                        </el-select>
                      </el-form-item>
                  </template>
                  </el-col>
                  <el-col :span="24" v-if="updateStatusForm.process!=1" style="margin-top: 15px; margin-bottom: 15px;">
                    <el-checkbox v-model="updateStatusForm.isPaid">Đã nộp phạt</el-checkbox>
                  </el-col>
                  <!-- row -->
                  <el-col :span="24">
                    <el-form-item label="Mô tả" prop="description">
                        <el-input  type="textarea" v-model="updateStatusForm.description"></el-input>
                    </el-form-item>
                  </el-col>
                  <!-- action -->
                  <el-col :span="24">
                    <div class="popup-active">
                      <el-button class="exit" @click="updateStatusViolation = false">Thoát</el-button>
                      <el-button class="save" @click="updateStatus('updateStatusForm')" :loading="update_status_loading"><i class="el-icon-s-order"></i> Cập nhật</el-button>
                    </div>
                  </el-col>
                </el-form>
              </el-row>
            </div>
          </el-dialog>
          <!-- Tao thong bao -->
        <!-- ket thuc -->
      </div>
    </template>
    <!-- ket thuc -->
  </div>
</template>

<script>
import Pagination from "@/components/Pagination_custom";
import store from '@/store';
import VideoMileStone from "@/components/VideoMilstone";
import config from '@/config.js';
import waves from "@/directive/waves"; // Waves directive
import { getData } from "@/api/user-resources";
import { getUsersPaginated } from "@/api/user-resources";
import Resource from "@/api/resource";
import user_default from "@/assets/images/user_default.png";
import default_img_cam from "@/assets/images/default_img_cam.png";
import Search from "@/components/Search/search-process-violation";
import template_1 from "./print/template_1";
import template_2 from "./print/template_2";
import template_3 from "./print/template_3";
import VideoCam from "@/components/Video";
import pdfExportImg from "./print/pdfExport";
import vehicle_default from "@/assets/images/vehicle_default1.png";
import { validIdcard, validPhone, validPlate } from "@/utils/validate";

const cameraMapResource = new Resource("systemconfig/cameramap");

const violationProcessSearchResource = new Resource(
  "management/process-violations/blacklist"
);
const categoryResource = new Resource("systemconfig/category");
const notViolationsResource = new Resource(
  "management/inspect-violations/confirm-not-violate"
);
const organizationResource = new Resource("user/organization");
const updateBBXPResource = new Resource(
  "management/process-violations/minutes-penalty"
);
const updateQDXPResource = new Resource(
  "management/process-violations/decision-penalty-no-minutes"
);
const manufacturerResource = new Resource(
  "management/process-violations/manufacturer"
);
const violationTypeResource = new Resource(
  "management/process-violations/cold-violation-types"
);

const provincesResource = new Resource(
  "management/process-violations/provinces"
);
const districtsResource = new Resource(
  "management/process-violations/districts"
);
const wardsResource = new Resource("management/process-violations/wards");
const groupsResource = new Resource("user/groups");
const groupDataResource = new Resource("user/groups");
const videoVmsResource = new Resource("vms/getvideo");
const infoViolationResource = new Resource(
  "management/process-violations/minutes"
);

const detailNotifyResource = new Resource(
  "management/process-violations/administrative"
);
const closeViolationResource = new Resource(
  "management/process-violations/close"
);
const updateNotifyResource = new Resource(
  "management/process-violations/administrative"
);

const options = {
  name: "_blank",
  specs: ["fullscreen=yes", "titlebar=yes", "scrollbars=yes"],
  styles: ["@/styles/print.css"],
};

export default {
  components: {
    Pagination,
    Search,
    template_1,
    template_2,
    template_3,
    VideoCam,
    pdfExportImg,
    VideoMileStone
  },
  directives: { waves },
  data() {
    const validCMNN = (rule, value, callback) => {
      if (value && !validIdcard(value)) {
        callback(new Error("Vui lòng nhập đúng định dạng số CCCD/CMND"));
      } else {
        callback();
      }
    };
    const validateMobile = (rule, value, callback) => {
      if (value && !validPhone(value)) {
        callback(new Error("Vui lòng nhập đúng định dạng số điện thoại"));
      } else {
        callback();
      }
    };
    const validatePlate = (rule, value, callback) => {
      if (!validPlate(value)) {
        callback(new Error("Vui lòng nhập đúng định dạng biển số"));
      } else {
        callback();
      }
    };
    return {
      cameraReal:null,
      updateNotifyInfoLoading: false,
      loadingDetail: false,
      close_violation_loading: false,
      pickerOptions: null,
      isSelectImg: false,
      imgSelectDefault: null,
      closeDialogViolation: false,
      notifyPrintPdf: null,
      loading_notify: false,
      viewNotifyModal: false,
      dataDetailNotify: null,
      closeViolationForm: {
        reason: null,
      },
      closeViolationRule: {
        reason: [
          { required: true, message: "Lý do là yêu cầu", trigger: "blur" },
        ],
      },
      notifyForm: {
        plate: null,
        vehicle: null,
        manufacturer: null,
        customer: null,
        birthday: null,
        nationality: null,
        address: null,
        city: null,
        district: null,
        village: null,
        cmnd: null,
        issued_on: null,
        place: null,
        violationTypes: null,
        detail: null,
        prevent: null,
        address_violation: null,
        time_violation: null,
        unit_city: null,
        unit_district: null,
        unit_village: null,
        unit_address: null,
        unit_name: null,
        speed: 0,
        speedLimit: 0,
        contactName: null,
        contactPhone: null,
        notifyNo: null,
        sentDate: moment().format("YYYY-MM-DD"),
      },
      notifyFormValidate: {
        plate: [
          { required: true, message: "Biển số là yêu cầu", trigger: "blur" },
          { validator: validatePlate, trigger: "blur" },
        ],
        vehicle: [
          {
            required: true,
            message: "Loại phương tiện là yêu cầu",
            trigger: "change",
          },
        ],
        // manufacturer: [
        //   { required: true, message: 'Hãng sản xuất là yêu cầu', trigger: 'blur' },
        // ],
        customer: [
          {
            required: true,
            message: "Chủ phương tiện là yêu cầu",
            trigger: "blur",
          },
        ],
        // birthday: [
        //   { required: true, message: 'Ngày sinh là yêu cầu', trigger: 'blur' },
        // ],
        // issued_on: [
        //   { required: true, message: 'Ngày cấp là yêu cầu', trigger: 'blur' },
        // ],
        violationTypes: [
          { required: true, message: "Hành vi là yêu cầu", trigger: "blur" },
        ],
        // nationality: [
        //   { required: true, message: 'Quốc tịch là yêu cầu', trigger: 'blur' },
        // ],
        address: [
          { required: true, message: "Địa chỉ là yêu cầu", trigger: "blur" },
        ],
        city: [
          {
            required: true,
            message: "Tỉnh/Thành phố là yêu cầu",
            trigger: "blur",
          },
        ],
        district: [
          { required: true, message: "Quận/Huyện là yêu cầu", trigger: "blur" },
        ],
        village: [
          { required: true, message: "Phường/Xã là yêu cầu", trigger: "blur" },
        ],
        // cmnd: [
        //   { required: true, message: 'CMND là yêu cầu', trigger: 'blur' },
        //   { validator: validCMNN },
        // ],
        // place: [
        //   { required: true, message: 'Nơi cấp là yêu cầu', trigger: 'blur' },
        // ],
        // detail: [
        //   { required: true, message: 'Chi tiết là yêu cầu', trigger: 'blur' },
        // ],
        // prevent: [
        //   { required: true, message: 'Biện pháp ngăn chặn là yêu cầu', trigger: 'blur' },
        // ],
        address_violation: [
          {
            required: true,
            message: "Địa chỉ giải quyết vi phạm là yêu cầu",
            trigger: "blur",
          },
        ],
        // time_violation: [
        //   { required: true, message: 'Thời gian là yêu cầu', trigger: 'blur' },
        // ],
        // contactPhone: [
        // { required: true, message: 'Số điện thoại là yêu cầu', trigger: 'blur' },
        // { validator: validateMobile },
        // ],
        // contactName: [
        //   { required: true, message: 'Họ tên là yêu cầu', trigger: 'blur' },
        //   { max: 255, message: "Họ tên tối đa 255 ký tự", trigger: "blur" },
        // ],
        // sentDate: [
        // {
        //       required: true,
        //       message: "Ngày gửi là yêu cầu",
        //       trigger: "blur",
        //     },
        // ],
        unit_city: [
          {
            required: true,
            message: "Tỉnh/Thành phố là yêu cầu",
            trigger: "blur",
          },
        ],
        unit_district: [
          { required: true, message: "Quận/Huyện là yêu cầu", trigger: "blur" },
        ],
        unit_village: [
          { required: true, message: "Phường/Xã là yêu cầu", trigger: "blur" },
        ],
        unit_name: [
          { required: true, message: "Tên đơn vị là yêu cầu", trigger: "blur" },
        ],
      },
      vehicle_default: vehicle_default,
      flag_active: null,
      active_link: null,
      type_display: 1,
      provinces: [],
      districts: [],
      wards: [],
      districts1: [],
      wards1: [],
      address_violation: [],
      layout: "first, prev, pager, next, last",
      url: null,
      loading: true,
      update_status_loading: false,
      loading1: false,
      disabled1: false,
      loading2: false,
      disabled2: false,
      loading3: false,
      disabled3: false,
      loading4: false,
      moreInfoViolation: {},
      disabled4: false,
      user_default: user_default,
      violationList: [],
      violationDetail: null,
      base_url_img: process.env.VUE_APP_URL_IMAGE,
      total: 0,
      searchKeyword: null,
      default_img_cam: default_img_cam,
      createNotify: false,
      updateStatusViolation: false,
      vehicleTypeLst: [],
      violationTypeLst: [],
      typePlate: [
        {
          value: "truePlate",
          label: "Nhận dạng đúng",
        },
        {
          value: "falsePlate",
          label: "Không nhận diện",
        },
        {
          value: "warpingPlate",
          label: "Biển cong vênh",
        },
        {
          value: "blurredPlate",
          label: "Biển mờ/bẩn",
        },
        {
          value: "noPlate",
          label: "Xe không biển",
        },
      ],
      query: {
        page: 1,
        size: 15,
        fromDate: moment().subtract(2, "day").format("YYYY-MM-DD 00:00:00"),
        toDate: moment().endOf("day").format("YYYY-MM-DD HH:mm:ss"),
        keyword: this.searchKeyword,
      },
      camera: {
        // videojs options
        muted: false,
        language: "en",
        playbackRates: [0.7, 1.0, 1.5, 2.0],
        // fluid: false,
        // techOrder: [ 'youtube'],
        sources: [
          {
            // type: "application/x-mpegURL",
            // type: "video/youtube",
            type: "video/mp4",
            src: null,
          },
        ],
        // poster: "/static/images/author.jpg",
      },
      value: "",
      canRead: false,
      canCreate: false,
      canUpdate: false,
      canDelete: false,
      // violationDetail: {
      //     plate: '',
      //     startTime: '',
      //     eventTypeString: '',
      //     objectType: '',
      //     sourceName: '',
      //     siteAddress: '',
      // },
      organizationList: [],
      updateStatusForm: {
        time: moment().format("YYYY-MM-DD HH:mm:ss"),
        minutesNumber: null,
        name: null,
        level: null,
        unit: null,
        description: null,
        isPaid: false,
        type: null,
      },
      rulesUpdateStatus: {
        process: [
          {
            required: true,
            message: "Hình thức xử lý là yêu cầu",
            trigger: "blur",
          },
        ],
        time: [
          {
            required: true,
            message: "Thời gian là yêu cầu",
            trigger: "change",
          },
        ],
        minutesNumber: [
          { required: true, message: "Số QĐ/BB là yêu cầu", trigger: "blur" },
        ],
        name: [
          { required: true, message: "Tên cán bộ là yêu cầu", trigger: "blur" },
        ],
        level: [
          { required: true, message: "Cấp bậc là yêu cầu", trigger: "blur" },
        ],
        unit: [
          {
            required: true,
            message: "Đơn vị cán bộ là yêu cầu",
            trigger: "blur",
          },
        ],
      },
      rules: {
        plate: [
          {
            required: true,
            message: "Biển kiểm soát là yêu cầu",
            trigger: "blur",
          },
        ],
        startTime: [
          {
            required: true,
            message: "Thời gian là yêu cầu",
            trigger: "change",
          },
        ],
        eventTypeString: [
          {
            required: true,
            message: "Loại vi phạm là yêu cầu",
            trigger: "blur",
          },
        ],
        objectType: [
          {
            required: true,
            message: "Loại phương tiện là yêu cầu",
            trigger: "blur",
          },
        ],
        sourceName: [
          { required: true, message: "Thiết bị là yêu cầu", trigger: "blur" },
        ],
        siteAddress: [
          { required: true, message: "Địa chỉ là yêu cầu", trigger: "blur" },
        ],
      },
      manufacturer: [],
      groups: [],
      violationTypeFull: [],
      usersList: [],
    };
  },

  created() {
    this.canRead = this.$root.checkRole(this.$route.fullPath, "canRead");
    this.canCreate = this.$root.checkRole(this.$route.fullPath, "canCreate");
    this.canUpdate = this.$root.checkRole(this.$route.fullPath, "canUpdate");
    this.canDelete = this.$root.checkRole(this.$route.fullPath, "canDelete");
    this.query.size = this.$root.detectSizeInPageNoImage();
    this.init();
  },

  methods: {
    async init() {
      await this.getList();
      await this.getViolationTypeList();
      await this.getVehicleTypeList();
      await this.getListOrganization();
      await this.getManufacturer();
      await this.getViolationTypeFull();
      await this.getProvinces();
      await this.groupUser();
      //  const loginState = this.$store.state.common.loginMilestone
      // if(!loginState){
      //   await this.$root.connectToServer();
      // }
    },
    replaceImageFail(e) {
      e.target.src = this.vehicle_default;
    },
    ///////////////////////////////////////////////////
    async getUserInfos() {
      let result = await getData("/user");
      if (result && result.data) {
        // fullName
        this.updateStatusForm.name =
          result.data.fullName != null ? result.data.fullName : "";

        // policeRank
        let policeRank =
          result.data.policeRank != null ? result.data.policeRank : "";
        this.updateStatusForm.level = policeRank;

        // organizationId
        let groupsUuid =
          result.data.groupsUuid != null ? result.data.groupsUuid : "";
        if (groupsUuid != "") {
          this.getGroupInfos(groupsUuid);
        } else {
          this.updateStatusForm.unit = "";
        }
      }
    },
    async getGroupInfos(groupsUuid) {
      const { data } = await groupDataResource.get(groupsUuid);
      if (data && data.organizationUuid) {
        let organizationId =
          data.organizationUuid.name != null ? data.organizationUuid.name : "";
        this.updateStatusForm.unit = organizationId;
      } else {
        this.updateStatusForm.unit = "";
      }
    },
    async getUsersList() {
      let queryCustom = {
        currentPage: 1,
        rowsPerPage: 2000,
      };

      const { data } = await getUsersPaginated(queryCustom);
      if (data) {
        this.usersList = data;
      } else {
        this.usersList = [];
      }
    },
    async doesFileExist(urlToFile) {
      var img = new Image();
      img.src = urlToFile;
      return img.height != 0;
    },
    fillPoliceInfos(name) {
      let fillInfos = this.usersList.find((x) => x.fullName === name);
      if (fillInfos != undefined) {
        // policeRank
        this.updateStatusForm.level =
          fillInfos.policeRank != null ? fillInfos.policeRank : "";

        // organizationId
        let groupsUuid =
          fillInfos.groupsUuid != null ? fillInfos.groupsUuid : "";
        if (groupsUuid != "") {
          this.getGroupInfos(groupsUuid);
        } else {
          this.updateStatusForm.unit = "";
        }
      } else {
        this.updateStatusForm.level = "";
        this.updateStatusForm.unit = "";
      }
    },
    ///////////////////////////////////////////////////

    async groupUser() {
      let result = await groupsResource.list({ page: 0, size: 1000 });
      if (result && result.data) {
        this.groups = result.data;
      }
    },
    async getProvinces() {
      let result = await provincesResource.list();
      if (result && result.data) {
        this.provinces = result.data;
      }
    },
    async getDistricts(provinces, flag = false, district_name = null) {
      if (flag) {
        this.notifyForm.district = null;
        this.notifyForm.village = null;
        this.wards = [];
      }
      let params = {
        provinceId: provinces,
      };
      let result = await districtsResource.list(params);
      if (result && result.data) {
        this.districts = result.data;
        this.districts = this.districts.map(function (val) {
          if (val.prefix == "Thành phố") {
            val.name = "TP " + val.name;
          }
          return val;
        });
        if (district_name) {
          let district = this.districts.filter(function (val) {
            return val.id == district_name || val.name == district_name;
          });
          if (district.length > 0) {
            this.notifyForm.district = district[0].id;
            this.getWards(district[0].id);
          }
        }
      }
    },
    async getWards(districts, flag = false) {
      if (flag) {
        this.notifyForm.village = null;
      }
      let params = {
        districtId: districts,
      };
      let result = await wardsResource.list(params);
      if (result && result.data) {
        this.wards = result.data;
      }
    },
    async getDistricts1(provinces) {
      let params = {
        provinceId: provinces,
      };
      let result = await districtsResource.list(params);
      if (result && result.data) {
        this.districts1 = result.data;
        this.districts1 = this.districts1.map(function (val) {
          if (val.prefix == "Thành phố") {
            val.name = "TP " + val.name;
          }
          return val;
        });
      }
    },
    async getWards1(districts) {
      let params = {
        districtId: districts,
      };
      let result = await wardsResource.list(params);
      if (result && result.data) {
        this.wards1 = result.data;
      }
    },
    async getManufacturer() {
      let result = await manufacturerResource.list();
      if (result && result.data) {
        this.manufacturer = result.data;
      }
    },
    async getViolationTypeFull() {
      let result = await violationTypeResource.list();
      if (result && result.data) {
        this.violationTypeFull = result.data;
      }
    },
    async getVehicleTypeList() {
      let queryCustom = {
        catType: "VEHICLE",
      };
      let result = await categoryResource.list(queryCustom);
      if (result && result.data) {
        this.vehicleTypeLst = result.data;
      }
    },
    async getListOrganization() {
      let queryCustom = {
        page: 0,
        size: 100,
      };
      const { data, total } = await organizationResource.list(queryCustom);
      if (data) {
        this.organizationList = data;
      }
    },
    async getViolationTypeList() {
      let queryCustom = {
        catType: "VIOLATION",
      };
      let result = await categoryResource.list(queryCustom);
      if (result && result.data) {
        this.violationTypeLst = result.data;
      }
    },
    async getList() {
      this.loading = true;
      let queryCustom = {
        currentPage: this.query.page - 1,
        rowsPerPage: this.query.size,
        fromDate: this.query.fromDate,
        toDate: this.query.toDate,
        filterObjectType: this.query.filterObjectType,
        filterObjectIds: this.query.filterObjectIds,
        plate: this.query.plate,
        vehicleType: this.query.vehicleType,
        violationType: this.query.violationType,
        districtId: this.query.districtId,
        wardId: this.query.wardId,
      };
      if (queryCustom.currentPage < 0) queryCustom.currentPage = 0;
      let result;
      if (this.searchKeyword) {
        queryCustom.plate = this.searchKeyword.trim();
      }
      result = await violationProcessSearchResource.list(queryCustom);
      if (result && result.data) {
        this.violationList = result.data;
        this.total = result.total;
      } else {
        this.violationList = [];
        this.total = 0;
      }

      this.loading = false;
    },
    selectImage(data) {
      this.imgSelectDefault = data;
    },
    updateNotifyInfo() {
      let params = {
        notifyNo: this.dataDetailNotify.notifyNo,
        notifyTime: this.dataDetailNotify.notifyTime
          ? moment(this.dataDetailNotify.notifyTime).format("YYYY-MM-DD")
          : null,
      };
      this.updateNotifyInfoLoading = true;
      updateNotifyResource
        .update(this.dataDetailNotify.id, params)
        .then((response) => {
          this.viewNotifyModal = false;
          this.updateNotifyInfoLoading = false;
          this.$message({
            type: "success",
            message: "Cập nhật thành công",
          });
        })
        .catch((err) => {
          this.updateNotifyInfoLoading = false;
        });
    },
    saveNotify(formName) {
      let self = this;
      this.notifyForm = this.$root.trimData(this.notifyForm);
      this.loading_notify = true;
      this.$refs[formName].validate((valid) => {
        if (valid) {
          let city = this.provinces.filter(function (val) {
            return (
              val.id == self.notifyForm.city || val.name == self.notifyForm.city
            );
          });
          // console.log(this.districts)
          city = city[0].name;
          let district = this.districts.filter(function (val) {
            return (
              val.id == self.notifyForm.district ||
              val.name == self.notifyForm.district
            );
          });
          district = district[0].name;

          // let unit_city = this.provinces.filter(function(val){
          //   return val.id == self.notifyForm.unit_city
          // })
          // unit_city = unit_city[0].name;
          // let unit_district = this.districts1.filter(function(val){
          //   return val.id == self.notifyForm.unit_district
          // })
          // unit_district = unit_district[0].name;
          let params = {
            id: this.violationDetail.id,
            plate: this.notifyForm.plate,
            objectType: this.notifyForm.vehicle,
            manufacturer: this.notifyForm.manufacturer,
            fullName: this.notifyForm.customer,
            birthDay: this.notifyForm.birthday
              ? moment(this.notifyForm.birthday).format("YYYY-MM-DD")
              : null,
            nationality: this.notifyForm.nationality,
            address: this.notifyForm.address,
            province: city + "",
            district: district + "",
            ward: this.notifyForm.village + "",
            identityCardNo: this.notifyForm.cmnd,
            issuedOn: this.notifyForm.issued_on
              ? moment(this.notifyForm.issued_on).format("YYYY-MM-DD")
              : null,
            issuedPlace: this.notifyForm.place,
            violationTypes: this.notifyForm.violationTypes,
            violationTypesDetail: this.notifyForm.detail,
            preventiveMeasures: this.notifyForm.prevent,
            violationSettlementAddress: this.notifyForm.address_violation,
            contactName: this.notifyForm.contactName,
            contactPhone: this.notifyForm.contactPhone,
            sentDate: this.notifyForm.sentDate
              ? moment(this.notifyForm.sentDate).format("YYYY-MM-DD")
              : null,
            violationSettlementTime: this.notifyForm.time_violation
              ? moment(this.notifyForm.time_violation).format(
                  "YYYY-MM-DD HH:mm:ss"
                )
              : null,
            // "notifyProvince": unit_city + '',
            // "notifyDistrict": unit_district + '',
            // "notifyWard": this.notifyForm.unit_village + '',
            // "notifyAddress": this.notifyForm.unit_address,
            notifyOrganization: this.notifyForm.unit_name,
            // "notifyNo": this.notifyForm.notifyNo,
            modifiedBy: this.$store.state.user.id,
            imgUrl: this.imgSelectDefault,
            speed: this.notifyForm.speed,
            speedLimit: this.notifyForm.speedLimit,
            type: 2,
          };
          detailNotifyResource
            .store(params)
            .then((response) => {
              // console.log(response)
              this.loading_notify = false;
              this.getList();
              this.resetNotifyForm();
              this.$message({
                type: "success",
                message: "Tạo thông báo thành công",
              });
              this.createNotify = false;
              this.closeDetail();
            })
            .catch((err) => {
              this.loading_notify = false;
              if (err.status == 404) {
                this.getList();
                this.closeDetail();
                this.createNotify = false;
              }
              console.log(err);
            });
        } else {
          this.loading_notify = false;
          return false;
        }
      });
    },
    resetNotifyForm() {
      this.notifyForm = {
        plate: "",
        vehicle: "",
        manufacturer: "",
        customer: "",
        birthday: "",
        nationality: "",
        address: "",
        city: "",
        district: "",
        village: "",
        cmnd: "",
        issued_on: "",
        place: "",
        violation: "",
        detail: "",
        prevent: "",
        address_violation: "",
        time_violation: "",
        unit_city: "",
        unit_district: "",
        unit_village: "",
        unit_address: "",
        unit_name: "",
        notifyNo: null,
      };
    },
    closeViolationHandle(formName) {
      this.closeViolationForm = this.$root.trimData(this.closeViolationForm);
      this.$refs[formName].validate((valid) => {
        this.close_violation_loading = true;
        if (valid) {
          let params = {
            id: this.violationDetail.id,
            reason: this.closeViolationForm.reason,
            modifiedBy: this.$store.state.user.id,
          };
          closeViolationResource
            .store(params)
            .then((response) => {
              this.close_violation_loading = false;
              this.closeDialogViolation = false;
              this.closeViolationForm = {
                reason: null,
              };
              this.getList();
              this.$message({
                type: "success",
                message: "Đóng vi phạm thành công",
              });
              this.closeDetail();
            })
            .catch((err) => {
              this.close_violation_loading = false;
            });
        } else {
          this.close_violation_loading = false;
          return false;
        }
      });
    },
    /////////////////////////////
    updateStatus(formName) {
      this.updateStatusForm.minutesNumber = this.updateStatusForm.minutesNumber
        ? this.updateStatusForm.minutesNumber.trim()
        : null;
      this.updateStatusForm.name = this.updateStatusForm.name
        ? this.updateStatusForm.name.trim()
        : null;
      this.updateStatusForm.level = this.updateStatusForm.level
        ? this.updateStatusForm.level.trim()
        : null;
      this.updateStatusForm.description = this.updateStatusForm.description
        ? this.updateStatusForm.description.trim()
        : null;
      this.update_status_loading = true;
      this.$refs[formName].validate((valid) => {
        if (valid) {
          let params = {
            id: this.violationDetail.id,
            // "type": 1, // 1-Lập BBXP; 2-Lập QĐXP; 3-Lập QĐ XP không qua BB
            minutesNumber: this.updateStatusForm.minutesNumber,
            minutesTime: this.updateStatusForm.time,
            minutesBy: this.updateStatusForm.name,
            policeRank: this.updateStatusForm.level,
            organizationId: this.updateStatusForm.unit,
            // "isPaid": true,
            description: this.updateStatusForm.description,
            modifiedBy: this.$store.state.user.id,
          };
          if (this.updateStatusForm.process == 1) {
            // Nếu hình thức xử lý là BBXP
            params.type = 1;
            updateBBXPResource
              .store(params)
              .then((response) => {
                this.update_status_loading = false;
                this.getList();
                this.resetStatusForm();
                this.$message({
                  type: "success",
                  message: "Cập nhật trạng thái thành công",
                });
                this.updateStatusViolation = false;
                this.closeDetail();
              })
              .catch((err) => {
                this.update_status_loading = false;
                console.log(err);
              });
          } else {
            // Nếu hình thức xử lý là QĐ XP
            params.type = 3;
            params.isPaid = this.updateStatusForm.isPaid;
            updateQDXPResource
              .store(params)
              .then((response) => {
                this.update_status_loading = false;
                this.$message({
                  type: "success",
                  message: "Cập nhật trạng thái thành công",
                });
                this.getList();
                this.updateStatusViolation = false;
                this.closeDetail();
                this.resetStatusForm();
              })
              .catch((err) => {
                this.update_status_loading = false;
                if (err.status == 404) {
                  this.getList();
                  this.resetStatusForm();
                  this.updateStatusViolation = false;
                }
                console.log(err);
              });
          }
          // params.type = 3;
          // updateQDXPResource.store(params).then(response=>{
          //   this.update_status_loading = false;
          //   this.resetStatusForm();
          //   this.$message({
          //     type: 'success',
          //     message: 'Cập nhật trạng thái thành công'
          //   });
          //   this.updateStatusViolation = false;
          //   this.closeDetail();
          //   this.getList();
          // }).catch(err=>{
          //   this.update_status_loading = false;
          //    console.log(err);
          // })
        } else {
          this.update_status_loading = false;
          return false;
        }
      });
    },
    resetStatusForm() {
      document.getElementById("detail-user").style.display = "none";
      document.getElementById("detail-user").style.width = "0";
      document.getElementById("user-table").style.width = "calc(100%)";
      this.updateStatusForm = {
        time: moment().format("YYYY-MM-DD HH:mm:ss"),
        minutesNumber: null,
        name: null,
        level: null,
        unit: null,
        description: null,
        isPaid: false,
        type: null,
      };
    },
    isLetter(e) {
      let char = String.fromCharCode(e.keyCode); // Get the character
      if (/^[A-Za-z]+$/.test(char)) return true;
      // Match with regex
      else e.preventDefault(); // If not match, don't add to input text
    },
    detectFormatVideo(link) {
      // console.log(link)
      return this.$root.detectFormatVideo(link);
    },
    async getVideoVms(data) {
      this.camera.sources[0].src = null;
      let queryCustom = {
        cameraid: data.sourceId,
        starttime: data.startTime,
        endtime: data.endTime,
      };
      let result = await videoVmsResource.list(queryCustom);
      if (result && result.data) {
        this.camera.sources[0].src = result.data;
        // console.log(this.camera.sources[0].src);
      }
    },
    async rowClicked(row) {
      this.type_display = 1;
      this.flag_active = row.id;
      this.violationDetail = row;
      this.active_link = null;
      if (
        this.violationDetail.imageCtxtUrl &&
        this.violationDetail.imageCtxtUrl != "null" &&
        !Array.isArray(this.violationDetail.imageCtxtUrl)
      ) {
        this.active_link = this.violationDetail.imageCtxtUrl[0];
        this.imgSelectDefault = this.violationDetail.imageCtxtUrl[0];
        this.violationDetail.imageCtxtUrl = JSON.parse(row.imageCtxtUrl);
      }
      if (this.violationDetail.imageUrl) {
        this.active_link = this.violationDetail.imageUrl;
        this.imgSelectDefault = this.violationDetail.imageUrl;
      }
      this.getInfoViolation(row.id);
      this.camera.sources[0].src = null;
      if (row.eventTypeString != "SPEEDLIMIT") {
        this.getVideoVms(row);
      }
      if (row.videoUrl) {
        this.camera.sources[0].src = this.base_url_img + row.videoUrl;
      }
      if (this.violationDetail) {
        document.getElementById("user-table").style.width =
          "calc(100% - 625px)";
        setTimeout(function () {
          document.getElementById("detail-user").style.display = "block";
          document.getElementById("detail-user").style.width = "600px";
        }, 500);
      }
    },
    viewImage(data, type = 0) {
      this.active_link = data;
      this.active_link = data;
     
      if(type == 0){
       if(this.camera.sources[0].src != null ){
        this.$refs.videoPage.viewVideo(); 
         this.type_display = 0; 
       }else{
         this.type_display = 2;
         this.$refs.videoPage.viewVideo(); 
         
       }
      }else{
         this.type_display = type;
      }
    },
    getInfoViolation(id) {
      infoViolationResource
        .get(id)
        .then((response) => {
          if (response.data) {
            this.moreInfoViolation = response.data;
          } else {
            this.moreInfoViolation = {};
          }
          // console.log(response)
        })
        .catch((err) => {
          console.log(err);
        });
    },
    checkHandleVideoSuccess(){
      const timeConfig =  config.timeVideoSave * 24 * 3600;
      const diffTime = (new Date().getTime() - new Date(this.violationDetail.startTime).getTime())/1000
      if(this.camera.sources[0].src != null ||(diffTime < timeConfig &&  this.$store.state.common.loginMilestone) ){
        return true
      }
      return false
    },
    closeDetail() {
      if (document.getElementById("detail-user")) {
        document.getElementById("detail-user").style.display = "none";
        document.getElementById("detail-user").style.width = "0";
        document.getElementById("user-table").style.width = "calc(100%)";
      }
    },

    handleFilter() {
      if (this.searchKeyword) {
        this.searchKeyword = this.searchKeyword.trim();
      }
      this.query.page = 1;
      this.getList();
    },

    noViolation(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.loading1 = true;
          this.disabled2 = true;
          this.disabled3 = true;
          this.disabled4 = true;
          // console.log(this.violationDetail);
          let params = {
            id: this.violationDetail.id,
            modifiedBy: this.$store.state.user.id,
            // "notes": this.form.notes
          };
          notViolationsResource
            .store(params)
            .then((response) => {
              if (response.status == 200 || response.status == 201) {
                this.loading1 = false;
                this.disabled2 = false;
                this.disabled3 = false;
                this.disabled4 = false;
                this.$message({
                  type: "success",
                  message: "Cập nhật trạng thái không vi phạm thành công",
                });
                this.getList();
                document.getElementById("detail-user").style.display = "none";
                document.getElementById("detail-user").style.width = "0";
                document.getElementById("user-table").style.width =
                  "calc(100%)";
              } else {
                this.$message({
                  type: "error",
                  message: "Có lỗi xảy ra",
                });
              }
            })
            .catch((err) => {
              // this.$message({
              //   type: 'error',
              //   message: 'Có lỗi xảy ra'
              // });
              this.loading1 = false;
              this.disabled2 = false;
              this.disabled3 = false;
              this.disabled4 = false;
              console.log(err);
            });
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },

    violation() {},

    print(template, formName) {
      let self = this;
      if (formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.notifyForm.siteAddress = this.violationDetail.siteAddress;
            this.notifyForm.startTime = this.violationDetail.startTime;
            let city = this.provinces.filter(function (val) {
              return (
                val.id == self.notifyForm.city ||
                val.name == self.notifyForm.city
              );
            });
            if (city.length > 0) {
              city = city[0].name;
            } else {
              city = null;
            }
            let district = self.notifyForm.district;
            if (this.districts.length > 0) {
              district = this.districts.filter(function (val) {
                return (
                  self.notifyForm.district ||
                  val.name == self.notifyForm.district
                );
              });
              if (district.length > 0) {
                district = district[0].name;
              } else {
                district = null;
              }
            }
            this.notifyForm.city = city;
            this.notifyForm.district = district;
            // Pass the element id here
            // this.$htmlToPaper(template,options);
            setTimeout(function () {
              self.$htmlToPaper(template, options);
            }, 200);
          } else {
            return false;
          }
        });
      } else {
        this.notifyForm.siteAddress = this.violationDetail.siteAddress;
        this.notifyForm.startTime = this.violationDetail.startTime;
        let city = this.provinces.filter(function (val) {
          return (
            val.id == self.notifyForm.city || val.name == self.notifyForm.city
          );
        });
        if (city.length > 0) {
          city = city[0].name;
        } else {
          city = null;
        }
        let district = self.notifyForm.district;
        if (this.districts.length > 0) {
          district = this.districts.filter(function (val) {
            return (
              self.notifyForm.district || val.name == self.notifyForm.district
            );
          });
          if (district.length > 0) {
            district = district[0].name;
          } else {
            district = null;
          }
        }
        this.notifyForm.city = city;
        this.notifyForm.district = district;
        // Pass the element id here
        // this.$htmlToPaper(template,options);
        setTimeout(function () {
          self.$htmlToPaper(template, options);
        }, 200);
      }
    },
    notify() {
      this.createNotify = true;
    },

    viewDetailNotify(data, flag = false) {
      this.notifyPrintPdf = data;
      if (data) {
        this.loadingDetail = true;
        let self = this;
        detailNotifyResource
          .get(data.id)
          .then((response) => {
            this.dataDetailNotify = response.data;
            // console.log(this.dataDetailNotify)
            this.loadingDetail = false;
            if (this.dataDetailNotify) {
              this.notifyForm = {
                plate: this.dataDetailNotify.plate,
                vehicle: this.dataDetailNotify.objectType,
                manufacturer: this.dataDetailNotify.manufacturer,
                customer: this.dataDetailNotify.fullName,
                birthday: this.dataDetailNotify.birthDay,
                nationality: this.dataDetailNotify.nationality,
                address: this.dataDetailNotify.address,
                city: this.dataDetailNotify.province,
                district: this.dataDetailNotify.district,
                village: this.dataDetailNotify.ward,
                cmnd: this.dataDetailNotify.identityCardNo,
                issued_on: this.dataDetailNotify.issuedOn,
                place: this.dataDetailNotify.issuedPlace,
                violationTypes: this.dataDetailNotify.violationTypes,
                detail: this.dataDetailNotify.violationTypesDetail,
                prevent: this.dataDetailNotify.preventiveMeasures,
                address_violation:
                  this.dataDetailNotify.violationSettlementAddress,
                time_violation: this.dataDetailNotify.violationSettlementTime,
                contactName: this.$store.state.user.userInfo.organizationName,
                contactPhone:
                  this.$store.state.user.userInfo.organizationPhoneNumber,
                sentDate: this.dataDetailNotify.sentDate,
                siteAddress: data.siteAddress,
                startTime: data.startTime,
                unit_city: null,
                unit_district: null,
                unit_village: null,
                unit_address: null,
                unit_name: this.dataDetailNotify.notifyOrganization,
                notifyNo: this.dataDetailNotify.notifyNo,
                notifyTime: this.dataDetailNotify.notifyTime,
                createdDate: this.dataDetailNotify.createdDate,
                processStatus: data.processStatus,
                speed: this.dataDetailNotify.speedOfVehicle
                  ? this.dataDetailNotify.speedOfVehicle
                  : 0,
                speedLimit: this.dataDetailNotify.speedLimit
                  ? this.dataDetailNotify.speedLimit
                  : 0,
              };
            }
            this.notifyForm.violationTypes =
              this.dataDetailNotify.violationTypes;
            this.notifyPrintPdf.violationTypes =
              this.dataDetailNotify.violationTypes;
            this.notifyForm.plate = this.dataDetailNotify.plate;
            if (data.processStatus == "BLACKLIST" && flag) {
              // this.resetNotifyForm()
              this.notifyForm.vehicle = data.objectTypeName;
              this.notifyForm.violation = data.eventTypeName;
              this.createNotify = true;
              if (self.notifyForm.city) {
                let city = this.provinces.filter(function (val) {
                  return (
                    val.id == self.notifyForm.city ||
                    val.name == self.notifyForm.city
                  );
                });
                if (city.length > 0) {
                  self.notifyForm.city = city[0].id;
                  self.getDistricts(
                    city[0].id,
                    false,
                    self.notifyForm.district
                  );
                }
              }
              this.notifyPrintPdf.contactName = this.notifyForm.contactName;
              this.notifyPrintPdf.contactPhone = this.notifyForm.contactPhone;
            } else {
              this.notifyPrintPdf.contactName = this.notifyForm.contactName;
              this.notifyPrintPdf.contactPhone = this.notifyForm.contactPhone;
              this.viewNotifyModal = true;
            }
            // ket thuc
          })
          .catch((err) => {
            this.loadingDetail = false;
            console.log(err);
          });
        // }
      }
    },
    updateViolation() {
      this.getUserInfos();
      this.getUsersList();
      this.updateStatusViolation = true;
    },
    closeViolation() {
      this.closeDialogViolation = true;
    },
    onClickChild(value) {
      if (value) {
        this.query.fromDate = value.startDate;
        this.query.toDate = value.endDate;
        this.query.plate = value.plate;
        this.query.vehicleType = value.vehicleType;
        this.query.violationType = value.violationType;
        this.query.districtId = value.districtId;
        this.query.wardId = value.wardId;
        if (value.camera != null) {
          this.query.filterObjectType = "cam";
          this.query.filterObjectIds = value.camera;
        } else if (value.camera == null && value.site != null) {
          this.query.filterObjectType = "site";
          this.query.filterObjectIds = value.site;
        } else {
          this.query.filterObjectIds = null;
        }
      }
      this.handleFilter();
    },

    resetForm(formName) {
      this.$refs[formName].resetFields();
    },

    resetFilter() {
      this.closeDetail();
      this.searchKeyword = "";
      this.getList();
    },
    detectStatusPlate(type) {
      let data = this.typePlate.filter(function (val) {
        return val.value == type;
      });
      if (data.length > 0) {
        return data[0].label;
      }
      return "";
    },
    tableRowClassName(row) {
      if (row.row.id == this.flag_active) {
        return "active-row";
      }
      return "";
    },
  },
};
</script>

<style lang="scss" scoped>
</style>

<style lang="scss">
.img-select {
  padding: 30px;
  padding-bottom: 10px;
  .el-icon-close {
    position: absolute;
    right: 5px;
    font-size: 19px;
    top: 5px;
    cursor: pointer;
  }
  img {
    height: 120px;
    text-align: center;
  }
  .img {
    border: 2px solid #ddd;
    padding: 5px;
    cursor: pointer;
    text-align: center;
    margin-bottom: 20px;
  }
  .img.active {
    border: 2px solid #006fe3;
  }
}
.violation-process-page {
  button.img-select-button {
    background: #26c6da;
    color: white;
    border-radius: 3px;
    width: 147px;
    height: 40px;
    margin-top: 18px;
  }
  .el-dialog.update-status-popup {
    margin-top: 80px !important;
    .el-dialog__body {
      float: left;
      width: 100%;
      background: white;
    }
    .el-select,
    .el-input {
      width: 100%;
    }
    .el-form-item {
      margin-bottom: 8px;
    }
  }
  .notify-popup {
    .el-dialog__body {
      float: left;
      width: 100%;
      background: white;
    }
    .el-select,
    .el-input {
      width: 100%;
    }
    .el-form-item {
      margin-bottom: 8px;
    }
    .img {
      padding-top: 35px;
      img {
        width: 100%;
      }
    }
    h4 {
      border-top: 1px solid #ddd;
      margin-top: 20px;
      padding-top: 20px;
      text-transform: uppercase;
      color: #363030;
      margin-bottom: 12px;
    }
  }
  .popup-active {
    margin-top: 25px;
    button {
      width: 140px;
      border-radius: 5px;
      text-transform: uppercase;
    }
    .exit {
      background: #9e9e9e;
      color: white;
      border: 1px solid #9e9e9e !important;
    }
    .save {
      background: #1f7ff5;
      color: white;
      float: right;
      border: 1px solid #1f7ff5 !important;
    }
    .print {
      background: #1e2e4a;
      color: white;
      float: right;
      border: 1px solid #1e2e4a !important;
    }
  }
  .el-form-item {
    clear: both;
  }
  .item-input {
    min-height: initial;
    .el-input {
      width: calc(100% - 30px);
    }
    i {
      color: #26c6da;
      font-size: 20px;
      margin-left: 5px;
      position: relative;
      top: 3px;
      cursor: pointer;
    }
    button {
      background: initial !important;
      border: initial;
      margin: 0;
      padding: 0;
    }
  }
  #detail-user h5 {
    margin-top: 0;
    font-size: 16px;
  }
  .form-violation {
    margin-top: 25px;
    .el-date-editor {
      width: 100%;
    }
  }
  .action {
    margin-top: 0;
    button {
      border-radius: 4px;
      color: white;
      border: initial;
      width: 131px;
      height: 40px;
      padding: 0px;
      margin-left: 0;
    }
    .no-violation {
      background: #649a72;
    }
    .violation {
      background: #26c6da;
      margin-left: 8px;
    }
    .notify {
      background: #ff6161;
      margin-left: 8px;
    }
    .update {
      background: #1f7ff5;
      float: right;
    }
  }
  .cam-detail {
    .video-js {
      width: 100%;
      height: 245px;
    }
    .image {
      img {
        cursor: zoom-in;
      }
    }
  }
  .list-img-cam {
    img {
      display: block;
      margin-bottom: 5px;
      cursor: pointer;
    }
    img.active {
      border: 3px solid #1f7ff5;
    }
  }
  .el-form-item {
    margin-bottom: 15px;
  }
  .el-input input {
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    border: solid 1px #9999;
  }
  .el-icon-camera-solid {
    font-size: 25px;
    color: #9a9a9a;
    position: relative;
    top: -50px;
    left: 54px;
    background: #dfdfdf;
    border-radius: 50%;
    padding: 8px;
    border: 1px solid white;
  }
  .img_avatar {
    text-align: center;
    padding-top: 25px;
    img {
      border-radius: 50%;
    }
  }
  .el-dialog {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }
  .item-left {
    width: 48%;
    float: left;
    margin-right: 2%;
  }
  .item-right {
    width: 48%;
    float: left;
    margin-left: 2%;
  }
  .block-item {
    width: 100%;
    float: left;
  }
  .el-dialog__header {
    padding: 0;
    background: #006fe3;
    height: 40px;
    line-height: 40px;
    text-align: center;
    .el-dialog__title {
      color: white;
    }
    .el-icon-close {
      color: white;
      font-size: 22px;
      top: -10px;
      position: relative;
    }
  }
  .el-dialog__body {
    .el-form-item__label {
      padding-bottom: 0;
      font-size: 14px;
      color: #363030;
      font-weight: 500 !important;
      width: 100%;
      text-align: left;
    }
  }
  .el-dialog__footer {
    clear: both;
    padding-bottom: 25px;
    .el-button--primary {
      background: #1f7ff5;
      height: 40px;
      border-radius: 5px;
      width: 147px;
      text-transform: uppercase;
      font-weight: bold;
      border-color: #1f7ff5;
    }
    .el-button--danger {
      background: #9e9e9e;
      height: 40px;
      border-radius: 5px;
      width: 147px;
      text-transform: uppercase;
      font-weight: bold;
      border-color: #9e9e9e;
      float: left;
    }
  }
  #select-all-delete {
    clear: both;
    height: 63px;
    line-height: 63px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ff4646;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    .el-icon-close {
      font-size: 25px;
      margin-left: 20px;
      margin-right: 35px;
      position: relative;
      top: 4px;
      cursor: pointer;
    }
    button {
      background: #e00000;
      border: initial;
      border-radius: 5px;
      float: right;
      display: inline-block;
      margin-top: 15px;
      margin-right: 15px;
    }
  }
  #detail-user {
    position: relative;
    /* transition: width 1s;
      -moz-transition: width 1s;
      -webkit-transition: width 1s;
      -o-transition: width 1s;*/
    width: 0;
    background: white;
    padding: 25px;
    float: left;
    margin-left: 25px;
    display: none;
    overflow: hidden;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    .avatar {
      text-align: center;
      margin-bottom: 25px;
      margin-top: 25px;
      img {
        border-radius: 50%;
      }
    }
    .item-label {
      color: #363030;
      font-weight: bold;
      font-size: 14px;
      margin-bottom: 10px;
    }
    .item-text {
      color: black;
      font-size: 16px;
      margin-bottom: 20px;
      opacity: 0.6;
    }
    .close-detail {
      background: #e3e3e3;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      text-align: center;
      line-height: 30px;
      color: #878787;
      font-size: 16px;
      position: absolute;
      right: 10px;
      top: 10px;
      cursor: pointer;
    }
  }
  .violations-process-box {
    display: flex;
    font-size: 14px;
    width: 100%;
    margin-bottom: 17px;
    .right-box,
    .left-box {
      width: 100%;
      .box-card {
        height: 100%;
        .title-card {
          font-size: 16px;
          font-weight: 500;
        }
        .el-card__header {
          button {
            font-size: 14px;
            height: 27px;
            min-width: 62px;
            border-radius: 14px;
            background-color: #f2f2f2;
            color: rgba(74, 74, 74, 0.87);
            border: none;
          }
          .btn-primary {
            color: rgba(255, 255, 255, 0.87);
            background-color: #1f7ff5;
          }
        }
        .infor-violations {
          width: 100%;
          .item {
            width: 100%;
            text-align: center;
          }
          display: flex;
          .circle-violation-number {
            &.total {
              border-color: #f9327a;
              color: #f9327a;
            }
            &.total-confirm {
              border-color: #35bae9;
              color: #35bae9;
            }
            &.total-resolve {
              border-color: #fcc103;
              color: #fcc103;
            }
            width: 100px;
            height: 100px;
            border-radius: 50%;
            display: inline-block;
            border: 5px solid #35bae9;
            position: relative;
            .number-circle-violation {
              position: absolute;
              position: absolute;
              top: 25%;
              transform: translate(-50%);
              font-size: 45px;
            }
          }
          .type-info {
            margin: 0px;
            height: 35px;
          }
        }

        .infor-traffic-image {
          display: flex;
          .item {
            text-align: center;
            width: 100%;
            img {
              margin-top: 14px;
            }
            p {
              color: #505050;
              font-size: 38px;
              margin: 19px;
              font-weight: bold;
            }
          }
        }
      }
    }

    .right-box {
      margin-left: 18px;
    }
  }
  .el-table th > .cell {
    text-align: left;
  }
  .el-table tr > th:first-child .cell {
    /*text-align: center;*/
    padding-left: 20px;
  }
  .el-table th {
    color: black;
    font-size: 14px;
  }
  .el-table td {
    color: black;
    font-size: 14px;
  }
  .el-table tr td:first-child {
    /*text-align: center;*/
    padding-left: 10px;
  }
  .el-table td:first-child .cell {
    display: inline-block;
  }
  .filter-container {
    padding-bottom: 20px;
  }
  tbody {
    tr {
      cursor: pointer;
    }
  }
  .search-block {
    text-align: left;
    float: left;
    width: 100%;
    margin-bottom: 20px;
    .search {
      float: left;
      width: 272px;
      input {
        width: 272px;
        height: 36px !important;
        line-height: 36px !important;
        border: solid 1px #9999;
        border-radius: 5px;
        padding-left: 40px;
      }
      .el-icon-search {
        line-height: 16px;
        font-size: 19px;
        color: #666;
      }
      span {
        left: 10px;
      }
    }
    button {
      background: #26c6da;
      border-color: #26c6da;
      border-radius: 4px;
      height: 40px !important;
      width: 147px;
      margin-left: 15px;
      float: right;
      span {
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
}
</style>
