<template>
  <div class="app-container claim">
    <h2 class="no-margin-top">Quyết đinh xử phạt</h2>
  </div>
</template>

<script>
import waves from "@/directive/waves"; // Waves directive

export default {
  components: {},
  directives: { waves },
  data() {
    return {};
  },

  created() {},

  methods: {},
};
</script>

<style lang="scss" scoped>
.el-button + .el-button {
  margin-left: 10px;
}
.no-margin-top {
  margin-top: 0;
}
.block {
  display: inline-block;
  margin-right: 20px;
}
.list-detail .item {
  margin-bottom: 10px;
  .label {
    display: inline-block;
    width: 100px;
  }
  img {
    max-width: 100%;
    display: inline-block;
  }
}
</style>

<style lang="scss">
.form-value {
  .el-input__inner {
    margin-bottom: 10px;
  }
}
.claim td .el-button {
  margin-left: 0;
}
</style>
