<template>
  <div class="app-container claim violation-scene-page" v-if="canRead">
    <!-- pdf print -->
    <pdf_export :data="violationDetail"/>
    <!-- ke thuc -->
    <template>
      <div id="user-table" :class="{detail: flagDetail}">
        <div class="filter-container" v-if="!flagDetail">
          <template>
            <div class="search-block">
              <el-input class="search"
                        placeholder=""
                        prefix-icon="el-icon-search"
                        v-model="searchKeyword" @keyup.enter.native="handleFilter()">
              </el-input>
              <Search @clicked="onClickChild"></Search>
              <el-button type="primary" @click="resetFilter()"
              ><i class="el-icon-refresh"></i> Làm mới
              </el-button>
            </div>
          </template>
        </div>
        <el-table ref="multipleTable" :data="violationList" style="width: 100%" @row-click="rowClicked">
          <el-table-column label="Thời gian" width="170px">
            <template slot-scope="scope">
              <span>{{ scope.row.violation.startTime|formatDateVietNam }}</span>
            </template>
          </el-table-column>

          <el-table-column label="Vị trí">
            <template slot-scope="scope">
              <span v-if="scope.row.violation.site">{{ scope.row.violation.site.site_address }}</span>
            </template>
          </el-table-column>

          <el-table-column label="Thiết bị">
            <template slot-scope="scope">
              <span>{{ scope.row.violation.sourceName }}</span>
            </template>
          </el-table-column>

          <el-table-column label="Loại vi phạm">
            <template slot-scope="scope">
              <span>{{ scope.row.violation.eventTypeName }}</span>
            </template>
          </el-table-column>

          <el-table-column label="Loại phương tiện">
            <template slot-scope="scope">
              <span>{{ scope.row.violation.objectTypeName }}</span>
            </template>
          </el-table-column>
          <el-table-column label="Biển số">
            <template slot-scope="scope">
              <span>{{ scope.row.violation.plate }}</span>
            </template>
          </el-table-column>
          <el-table-column label="Trạng thái">
            <template slot-scope="scope">
              <span>{{ scope.row.violationConfirm == 0 ? "Đang xử lý" : "Đã xử lý" }}</span>
            </template>
          </el-table-column>
          <el-table-column label="Thời gian xử lý" width="160px">
            <template slot-scope="scope">
              <span>{{ scope.row.violation.processTime|formatDateVietNam }}</span>
            </template>
          </el-table-column>
        </el-table>
        <!-- Phân trang -->
        <p style="clear:both;"></p>
        <div style="display: inline-block; padding-top: 13px">
          Vi phạm hiện trường: <strong>{{ total }}</strong>
        </div>
        <pagination v-show="total>query.size" :total="total" :page.sync="query.page" :layout="layout"
                    :limit.sync="query.size" @pagination="getList()"/>
      </div>
      <div id="detail-user" style="width: 0;" v-if="violationDetail">
        <h5>Thông tin vi phạm <i class="el-icon-close close-detail" @click="closeDetail()"></i></h5>
        <div class="content-detail">
          <div class="content-detail__left">
            <div class="form-violation">
              <!-- form nhap thong tin -->
              <el-form :model="violationDetail" :rules="rules" ref="ruleForm" class="violation-ruleForm">
                <el-col :span="24" class="item-input">
                  <div class="image"><img style="position: relative; top: -2px;"
                                          src="@/assets/images/processViolation/plate.png" alt=""/></div>
                  <div class="content">
                    <div class="title">
                      Biển kiểm soát
                    </div>
                    <div class="descript">{{ violationDetail.plate }}</div>
                  </div>
                </el-col>
                <el-col :span="24" class="item-input">
                  <div class="image"><img src="@/assets/images/processViolation/type_vehicel.png" alt=""/></div>
                  <div class="content">
                    <div class="title">Loại phương tiện</div>
                    <div class="descript">{{ violationDetail.objectTypeName }}</div>
                  </div>
                </el-col>
                <el-col :span="24" class="item-input">
                  <div class="image"><img src="@/assets/images/processViolation/type.png" alt=""/></div>
                  <div class="content">
                    <div class="title">Loại vi phạm</div>
                    <div class="descript">{{ violationDetail.eventTypeName }}</div>
                  </div>
                </el-col>
                <el-col :span="24" class="item-input">
                  <div class="image"><img src="@/assets/images/processViolation/device.png" alt=""/></div>
                  <div class="content">
                    <div class="title">Thiết bị</div>
                    <div class="descript">{{ violationDetail.sourceName }}</div>
                  </div>
                </el-col>
                <el-col :span="24" class="item-input">
                  <div class="image"><img src="@/assets/images/processViolation/clock.png" alt=""/></div>
                  <div class="content">
                    <div class="title">Thời gian vi phạm</div>
                    <div class="descript">{{ violationDetail.startTime|formatDateVietNamTimeDate }}</div>
                  </div>
                </el-col>
                <el-col :span="24" class="item-input">
                  <div class="image"><img src="@/assets/images/processViolation/address.png" alt=""/></div>
                  <div class="content">
                    <div class="title">Địa điểm vi phạm</div>
                    <div class="descript">{{ violationDetail.site.site_address }}</div>
                  </div>
                </el-col>
                <el-col :span="24">
                  <div class="action" v-if="canUpdate">
                    <el-button class="no-violation" v-if="detectStatus()" @click="noViolation('ruleForm')"
                               :loading="loading1" :disabled="disabled1">Không vi phạm
                    </el-button>
                    <el-button
                        type="primary"
                        class="btn-export"
                        @click="print('content-export-pdf-violation')"
                        style="background: #1e2e4a; border-color: #1e2e4a"> Export
                    </el-button>
                    <el-button class="update" v-if="detectStatus()" @click="updateViolation()" :loading="loading4"
                               :disabled="disabled4">Cập nhật vi phạm
                    </el-button>
                  </div>
                </el-col>
              </el-form>
            </div>
          </div>
          <div class="content-detail__right">
            <div class="grid-content bg-purple">
              <div id="cam-detail" class="cam-detail">
                <template >
                      <div class="video-Milestone" v-if="type_display == 2">
                        <VideoMileStone ref="videoPage" :startTime="violationDetail.endTime" :cameraReal="cameraReal" :width="widthVideo" :height="heightVideo" />
                    </div>
                  </template>
                <template v-if="linkVideo&&type_display==0">
                  <div id="image-height">
                    <VideoCam :link="linkVideo"></VideoCam>
                  </div>
                </template>
                 
                <template v-if="type_display == 1">
                  <div id="image-height" class="image" v-viewer>
                    <template v-if="doesFileExist(base_url_img + active_link) && type_display==1">
                      <img :src="base_url_img + active_link" alt=""/>
                    </template>
                    <template v-else>
                      <img :src="vehicle_default" alt=""/>
                    </template>
                  </div>
                </template>
                <template v-if="type_display==1&&!active_link">
                  <div id="image-height" class="image" v-viewer><img :src="vehicle_default" alt=""/></div>
                </template>
              </div>
              <div class="list-img-cam">
                <template v-if="!active_link&&!linkVideo &&!$store.state.common.loginMilestone">
                  <img class="active" :src="vehicle_default" alt=""/>
                </template>
                <template v-else>
                  <template v-if="violationDetail.imageUrl">
                    <template v-if="doesFileExist(base_url_img + violationDetail.imageUrl)">
                      <img :class="{active: active_link==violationDetail.imageUrl}"
                           :src="base_url_img + violationDetail.imageUrl"
                           @click="viewImage(violationDetail.imageUrl, 1)" alt=""/>
                    </template>
                    <template v-else>
                      <img :class="{active: active_link==violationDetail.imageUrl}" :src="vehicle_default"
                           @click="viewImage(violationDetail.imageUrl, 1)" alt=""/>
                    </template>
                  </template>
                  <template v-if="violationDetail.imageCtxtUrl&&violationDetail.imageCtxtUrl!='null'">
                    <template v-for="val in violationDetail.imageCtxtUrl">
                      <template v-if="doesFileExist(base_url_img + val)">
                        <img v-if="violationDetail.imageUrl!=val" @click="viewImage(val, 1)"
                             :class="{active: active_link==val}" :src="base_url_img + val" alt=""/>
                      </template>
                      <template v-else>
                        <img v-if="violationDetail.imageUrl!=val" @click="viewImage(val, 1)"
                             :class="{active: active_link==val}" :src="vehicle_default" alt=""/>
                      </template>
                    </template>
                  </template>
                  <template v-if="checkHandleVideoSuccess()">
                    <div @click="viewImage(linkVideo, 0)">
                      <div class="img">
                        <img :class="{active: active_link==linkVideo}"
                             src="@/assets/images/default_img_cam_violation.png" alt=""/>
                        <i class="el-icon-video-play"></i>
                      </div>
                    </div>
                  </template>
                </template>
              </div>
            </div>
          </div>
        </div>
        <!-- Cập nhật trạng thái vi phạm -->
        <el-dialog title="Cập nhật trạng thái vi phạm" :visible.sync="updateStatusViolation"
                   custom-class="update-status-popup" width="600px">
          <div class="form-print">
            <el-row :gutter="20">
              <!-- form nhap thong tin -->
              <el-form :model="updateStatusForm" :rules="rulesUpdateStatus" ref="updateStatusForm"
                       class="demo-ruleForm">
                <!-- row -->
                <el-col :span="12">
                  <el-form-item label="Hình thức xử lý" prop="process">
                    <el-select v-model="updateStatusForm.process" placeholder="- Lựa chọn -">
                      <el-option key="1" label="Lập BBXP" value="1">
                      </el-option>
                      <el-option key="3" label="Lập QĐ XP không qua BB" value="3">
                      </el-option>
                      </el-option>
                    </el-select>
                  </el-form-item>
                </el-col>
                <el-col :span="12">
                  <el-form-item label="Thời gian lập biên bản" prop="time">
                    <el-date-picker v-model="updateStatusForm.time" format="dd/MM/yyyy HH:mm" type="datetime">
                    </el-date-picker>
                  </el-form-item>
                </el-col>
                <el-col :span="24">
                  <el-form-item label="Số BB/QĐ" prop="minutesNumber">
                    <el-input maxlength="64" v-model="updateStatusForm.minutesNumber"></el-input>
                  </el-form-item>
                </el-col>
                <el-col v-if="updateStatusForm.process!=1" :span="24" style="margin-top: 15px; margin-bottom: 15px;">
                  <el-checkbox v-model="updateStatusForm.isPaid">Đã nộp phạt</el-checkbox>
                </el-col>
                <!-- row -->
                <el-col :span="24">
                  <el-form-item label="Mô tả" prop="description">
                    <el-input type="textarea" v-model="updateStatusForm.description"></el-input>
                  </el-form-item>
                </el-col>
                <!-- action -->
                <el-col :span="24">
                  <div class="popup-active">
                    <el-button class="exit" @click="updateStatusViolation = false">Thoát</el-button>
                    <el-button class="save" @click="updateStatus('updateStatusForm')" :loading="update_status_loading">
                      <i class="el-icon-s-order"></i> Cập nhật
                    </el-button>
                  </div>
                </el-col>
              </el-form>
            </el-row>
          </div>
        </el-dialog>
      </div>
    </template>
    <!-- ket thuc -->
  </div>
</template>

<script>
import Pagination from "@/components/Pagination_custom";
import VideoMileStone from "@/components/VideoMilstone";
import store from '@/store';
import config from '@/config.js';
import waves from "@/directive/waves"; // Waves directive
import {getData} from "@/api/user-resources";
import {getUsersPaginated} from "@/api/user-resources";
import Resource from "@/api/resource";
import user_default from "@/assets/images/user_default.png";
import default_img_cam from "@/assets/images/default_img_cam.png";
import Search from "@/components/Search/search-scene-violation";
import VideoCam from "@/components/Video";
import vehicle_default from "@/assets/images/vehicle_default1.png";
import Pdf_export from "@/views/violations-process/print/pdf_export";

const cameraMapResource = new Resource("systemconfig/cameramap");
const violationProcessSearchResource = new Resource("patrol/patrol-violations");
const violationPatrolResource = new Resource("patrol/patrol-violations-now");
const categoryResource = new Resource("systemconfig/category");
const notViolationsResource = new Resource(
    "management/inspect-violations/confirm-not-violate"
);
const organizationResource = new Resource("user/organization");
const updateBBXPResource = new Resource(
    "management/process-violations/minutes-penalty"
);
const updateQDXPResource = new Resource(
    "management/process-violations/decision-penalty-no-minutes"
);
const manufacturerResource = new Resource(
    "management/process-violations/manufacturer"
);
const violationTypeResource = new Resource(
    "management/process-violations/cold-violation-types"
);
const options = {
  name: "_blank",
  specs: ["fullscreen=yes", "titlebar=yes", "scrollbars=yes"],
  styles: ["/content-export-pdf-violation.css"],
};
const provincesResource = new Resource(
    "management/process-violations/provinces"
);
const districtsResource = new Resource(
    "management/process-violations/districts"
);
const wardsResource = new Resource("management/process-violations/wards");
const groupsResource = new Resource(
    "systemconfig/category?catType=SOLVE_ADDRESS"
);
const notifyResource = new Resource(
    "management/process-violations/administrative"
);
const groupDataResource = new Resource("user/groups");
const videoVmsResource = new Resource("vms/getvideo");

export default {
  components: {
    Pdf_export,
    Pagination,
    Search,
    VideoCam,
    VideoMileStone
  },
  directives: {
    waves,
  },
  data() {
    return {
      cameraReal:null,
      patrolViolationDetail:null,
      notifyPrintPdf: null,
      vehicle_default: vehicle_default,
      pickerOptions: null,
      isSelectImg: false,
      flagDetail: false,
      active_link: null,
      type_display: 1,
      imgSelectDefault: null,
      provinces: [],
      districts: [],
      wards: [],
      districts1: [],
      wards1: [],
      address_violation: [],
      layout: "first, prev, pager, next, last",
      url: null,
      loading: true,
      loading_notify: false,
      update_status_loading: false,
      loading1: false,
      disabled1: false,
      loading2: false,
      disabled2: false,
      loading3: false,
      disabled3: false,
      loading4: false,
      disabled4: false,
      user_default: user_default,
      violationList: [],
      violationDetail: null,
      base_url_img: process.env.VUE_APP_URL_IMAGE,
      total: 0,
      searchKeyword: null,
      default_img_cam: default_img_cam,
      createNotify: false,
      updateStatusViolation: false,
      vehicleTypeLst: [],
      violationTypeLst: [],
      endTime: null,
      isListPatrolViolationNow: true,
      query: {
        page: 1,
        size: 15,
        fromDate: moment().subtract(2, "day").format("YYYY-MM-DD 00:00:00"),
        toDate: moment().endOf("day").format("YYYY-MM-DD HH:mm:ss"),
        keyword: this.searchKeyword,
      },
      linkVideo: null,
      value: "",
      canRead: false,
      heightVideo: 0,
      widthVideo:0,
      canCreate: false,
      canUpdate: false,
      canDelete: false,
      patrolDetailId: null,
      organizationList: [],
      updateStatusForm: {
        time: moment().format("YYYY-MM-DD HH:mm:ss"),
        minutesNumber: null,
        name: null,
        level: null,
        unit: null,
        description: null,
        isPaid: false,
        type: null,
      },
      rulesUpdateStatus: {
        process: [
          {
            required: true,
            message: "Hình thức xử lý là yêu cầu",
            trigger: "blur",
          },
        ],
        time: [
          {
            required: true,
            message: "Thời gian là yêu cầu",
            trigger: "change",
          },
        ],
        minutesNumber: [
          {
            required: true,
            message: "Số QĐ/BB là yêu cầu",
            trigger: "blur",
          },
        ],
      },
      rules: {
        plate: [
          {
            required: true,
            message: "Biển kiểm soát là yêu cầu",
            trigger: "blur",
          },
        ],
        startTime: [
          {
            required: true,
            message: "Thời gian là yêu cầu",
            trigger: "change",
          },
        ],
        eventTypeString: [
          {
            required: true,
            message: "Loại vi phạm là yêu cầu",
            trigger: "blur",
          },
        ],
        objectType: [
          {
            required: true,
            message: "Loại phương tiện là yêu cầu",
            trigger: "blur",
          },
        ],
        sourceName: [
          {
            required: true,
            message: "Thiết bị là yêu cầu",
            trigger: "blur",
          },
        ],
        siteAddress: [
          {
            required: true,
            message: "Địa chỉ là yêu cầu",
            trigger: "blur",
          },
        ],
      },
      manufacturer: [],
      groups: [],
      violationTypeFull: [],
      usersList: [],
    };
  },

  created() {
    this.canRead = this.$root.checkRole(this.$route.fullPath, "canRead");
    this.canCreate = this.$root.checkRole(this.$route.fullPath, "canCreate");
    this.canUpdate = this.$root.checkRole(this.$route.fullPath, "canUpdate");
    this.canDelete = this.$root.checkRole(this.$route.fullPath, "canDelete");
    this.query.size = this.$root.detectSizeInPageNoImage();
    this.init();
  },
  methods: {
    async init() {
      await this.getViolationPatroNowList();
      if (this.$route.query.site_id) {
        // điều hướng từ click notify
        const result = violationProcessSearchResource.get(
            this.$route.query.site_id
        );
      }
      if (this.$route.query.violationId) {
        const result = await violationProcessSearchResource.get(
            this.$route.query.violationId
        );
        if (result && result.data) {
          this.rowClicked(result.data);
        }
      }

      // const loginState = this.$store.state.common.loginMilestone
      // if(!loginState){
      //   await this.$root.connectToServer();
      // }
    },
     checkHandleVideoSuccess(){
      const timeConfig =  config.timeVideoSave * 24 * 3600;
      const diffTime = (new Date().getTime() - new Date(this.violationDetail.startTime).getTime())/1000
      if(this.linkVideo != null ||(diffTime < timeConfig &&  this.$store.state.common.loginMilestone) ){
        return true
      }
      return false
    },
    handleNotifyRedirect() {
      let id = localStorage.getItem("flagViolationSceneId");
      if (id) {
        let row = this.violationList.filter(function (val) {
          return val.id == id;
        });
        if (row.length > 0) {
          row = row[0];
          this.rowClicked(row);
        }
      }
      localStorage.removeItem("flagViolationSceneId");
    },
    replaceImageFail(e) {
      e.target.src = this.vehicle_default;
    },
    async doesFileExist(urlToFile) {
      var img = new Image();
      img.src = urlToFile;
      return img.height != 0;
    },
    async getViolationPatroNowList() {
      this.isListPatrolViolationNow = true;
      this.loading = true;
      let queryCustom = {
        page: this.query.page - 1,
        size: this.query.size,
      };
      if (queryCustom.currentPage < 0) queryCustom.currentPage = 0;
      let result;
      if (this.searchKeyword) {
        queryCustom.keyword = this.searchKeyword.trim();
      }
      result = await violationPatrolResource.list(queryCustom);
      if (result && result.data) {
        let self = this;
        if (result.data.length > 0) {
          this.violationList = [];
          result.data.forEach(function (item, ind) {
            item.violation = JSON.parse(item.violation);
            self.violationList.push(item);
          });
          this.handleNotifyRedirect();
        } else {
          this.violationList = [];
        }
        this.total = result.total;
      } else {
        this.violationList = [];
        this.total = 0;
      }

      this.loading = false;
    },
    async getList() {
      if (this.isListPatrolViolationNow) {
        this.getViolationPatroNowList(); // Không filter lấy thì lấy các vi phạm hiện tại
      } else {
        this.loading = true;
        let queryCustom = {
          page: this.query.page - 1,
          size: this.query.size,
          // fromDate: this.query.fromDate,
          // toDate: this.query.toDate,
          filterObjectType: this.query.filterObjectType,
          patrolSchedules: this.query.patrolSchedules,
          filterObjectIds: this.query.filterObjectIds,
          vehicleType: this.query.vehicleType,
          violationType: this.query.violationType,
          districtId: this.query.districtId,
          wardId: this.query.wardId,
        };
        if (queryCustom.currentPage < 0) queryCustom.currentPage = 0;
        let result;
        if (this.searchKeyword) {
          queryCustom.keyword = this.searchKeyword.trim();
        }
        result = await violationProcessSearchResource.list(queryCustom);
        if (result && result.data) {
          let self = this;
          if (result.data.length > 0) {
            this.violationList = [];
            result.data.forEach(function (item, ind) {
              item.violation = JSON.parse(item.violation);
              self.violationList.push(item);
            });
          } else {
            this.violationList = [];
          }
          this.total = result.total;
        } else {
          this.violationList = [];
          this.total = 0;
        }
        this.loading = false;
      }
    },
    updateStatus(formName) {
      if(this.patrolViolationDetail.violationConfirm != 0){
        this.$message({
          type: "error",
          message: "Vi phạm đã được xử lý tại hiện trường",
        });
        return
      }
      this.update_status_loading = true;
      this.updateStatusForm.minutesNumber = this.updateStatusForm.minutesNumber
          ? this.updateStatusForm.minutesNumber.trim()
          : null;
      this.updateStatusForm.name = this.updateStatusForm.name
          ? this.updateStatusForm.name.trim()
          : null;
      this.updateStatusForm.level = this.updateStatusForm.level
          ? this.updateStatusForm.level.trim()
          : null;
      this.updateStatusForm.description = this.updateStatusForm.description
          ? this.updateStatusForm.description.trim()
          : null;
      this.$refs[formName].validate((valid) => {
        if (valid) {
          let params = {
            id: this.violationDetail.id,
            // "type": 1, // 1-Lập BBXP; 2-Lập QĐXP; 3-Lập QĐ XP không qua BB
            minutesNumber: this.updateStatusForm.minutesNumber,
            minutesTime: this.updateStatusForm.time,
            minutesBy: this.updateStatusForm.name,
            policeRank: this.updateStatusForm.level,
            organizationId: null,
            //"organizationId": [],
            isPaid: null,
            description: this.updateStatusForm.description,
            modifiedBy: this.$store.state.user.id,
          };
          if (this.updateStatusForm.process == 1) {
            // Nếu hình thức xử lý là BBXP
            params.type = 1;
            updateBBXPResource
                .store(params)
                .then((response) => {
                  this.update_status_loading = false;
                  this.getViolationPatroNowList();
                  this.resetStatusForm();
                  this.$message({
                    type: "success",
                    message: "Cập nhật trạng thái thành công",
                  });
                  this.updateStatusViolation = false;
                  this.closeDetail();
                })
                .catch((err) => {
                  this.update_status_loading = false;
                  this.closeDetail();
                  if (err.status == 404) {
                    this.getViolationPatroNowList();
                    this.resetStatusForm();
                    this.updateStatusViolation = false;
                  }
                });
          } else {
            // Nếu hình thức xử lý là QĐ XP
            params.type = 3;
            params.isPaid = this.updateStatusForm.isPaid;
            updateQDXPResource
                .store(params)
                .then((response) => {
                  this.update_status_loading = false;
                  this.$message({
                    type: "success",
                    message: "Cập nhật trạng thái thành công",
                  });
                  this.getViolationPatroNowList();
                  this.updateStatusViolation = false;
                  this.closeDetail();
                  this.resetStatusForm();
                })
                .catch((err) => {
                  this.update_status_loading = false;
                  this.closeDetail();
                  if (err.status == 404) {
                    this.getViolationPatroNowList();
                    this.resetStatusForm();
                    this.updateStatusViolation = false;
                  }
                });
          }
        } else {
          this.update_status_loading = false;
          return false;
        }
        let paramsStatus = {
          status: 1,
        };
        const sel = this;
        violationProcessSearchResource
            .update(this.patrolDetailId, paramsStatus)
            .then((response) => {
            }).catch((err) => {
              this.closeDetail();
                  this.update_status_loading = false;
                  this.getViolationPatroNowList();
                    this.resetStatusForm();
                    this.updateStatusViolation = false;
                });
      });
    },
    resetStatusForm() {
      this.flagDetail = false;
      document.getElementById("detail-user").style.display = "none";
      document.getElementById("detail-user").style.width = "0";
      document.getElementById("user-table").style.width = "calc(100%)";
      document.getElementById("user-table").style.height = "initial";
      this.updateStatusForm = {
        time: moment().format("YYYY-MM-DD HH:mm:ss"),
        minutesNumber: null,
        name: null,
        level: null,
        unit: null,
        description: null,
        isPaid: false,
        type: null,
      };
    },
    isLetter(e) {
      let char = String.fromCharCode(e.keyCode); // Get the character
      if (/^[A-Za-z]+$/.test(char)) return true;
      // Match with regex
      else e.preventDefault(); // If not match, don't add to input text
    },
    detectFormatVideo(link) {
      // console.log(link)
      return this.$root.detectFormatVideo(link);
    },
    async getVideoVms(data) {
      this.linkVideo = null;
      if (!data.startTime || !data.endTime) {
        return;
      }
      // console.log(data)
      let queryCustom = {
        cameraid: data.sourceId,
        starttime: data.startTime,
        endtime: data.endTime,
      };
      let result = await videoVmsResource.list(queryCustom);
      if (result && result.data) {
        this.linkVideo = result.data;
        // console.log(this.linkVideo);
      }
    },
    async rowClicked(row) {
      this.patrolViolationDetail = row
      this.flagDetail = true;
      window.scrollTo(0, 0);
      this.type_display = 1;
      let patrolDetail = row;
      this.patrolDetailId = patrolDetail.violationId;
      this.violationDetail = patrolDetail.violation;
      this.endTime = patrolDetail.endTime;
      //this.detectStatus();
      if (typeof row.violation == "string") {
        this.violationDetail = JSON.parse(patrolDetail.violation);
      }
      this.imgSelectDefault = this.violationDetail.imageUrl;
      this.active_link = null;
      if (
          this.violationDetail.imageCtxtUrl &&
          this.violationDetail.imageCtxtUrl != "null" &&
          !Array.isArray(this.violationDetail.imageCtxtUrl)
      ) {
        this.violationDetail.imageCtxtUrl = JSON.parse(
            this.violationDetail.imageCtxtUrl
        );
        this.imgSelectDefault = this.violationDetail.imageCtxtUrl[0];
        this.active_link = this.violationDetail.imageCtxtUrl[0];
      }
      if (this.violationDetail.imageUrl) {
        this.active_link = this.violationDetail.imageUrl;
      }
      this.linkVideo = null;
      if (row.eventTypeString != "SPEEDLIMIT") {
        this.getVideoVms(this.violationDetail);
      }
      // if (this.violationDetail) {
      //   this.linkVideo =
      //     this.base_url_img + this.violationDetail.videoUrl;
      // }
      let self = this;
      if (this.violationDetail) {
        this.pickerOptions = {
          disabledDate(time) {
            return (
                time.getTime() <
                (moment(self.violationDetail.startTime).unix() - 86400) * 1000
            );
          },
        };
        document.getElementById("user-table").style.width = 0;
        document.getElementById("user-table").style.height = 0;
        document.getElementById("user-table").style.display = 'none';
        setTimeout(function () {
          document.getElementById("detail-user").style.display = "block";
          document.getElementById("detail-user").style.width = "100%";
        }, 100);
      }

      this.violationDetail.siteAddress = this.violationDetail.site.site_address
      this.violationDetail.violationTypes = this.violationDetail.eventTypeName

       const camaraMap =  await cameraMapResource.get(this.violationDetail.sourceId);
       if(!camaraMap && !camaraMap.data){
        return;
      }
      this.cameraReal =camaraMap.data.cameraReal
    },

    selectImage(data) {
      this.imgSelectDefault = data;
    },

    closeDetail() {
      this.flagDetail = false;
      if (document.getElementById("detail-user")) {
        document.getElementById("detail-user").style.display = "none";
        document.getElementById("detail-user").style.width = "0";
        document.getElementById("user-table").style.width = "calc(100%)";
        document.getElementById("user-table").style.height = "initial";
        document.getElementById("user-table").style.display = "block";
      }
    },

    handleFilter() {
      if (this.searchKeyword) {
        this.searchKeyword = this.searchKeyword.trim();
      }
      this.query.page = 1;
      this.isListPatrolViolationNow = false;
      this.getList();
    },

    viewImage(data, type = 0) {
      this.heightVideo = this.detectHeight();
      this.widthVideo = this.detectWidth();
      this.setHeightVideo();
      this.active_link = data;
     
      if(type == 0){
       if(this.linkVideo != null){
         this.type_display = 0; 
       }else{
         this.type_display = 2;
         
       }
      }else{
         this.type_display = type;
      }
    },

    noViolation(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.loading1 = true;
          this.disabled2 = true;
          this.disabled3 = true;
          this.disabled4 = true;
          // console.log(this.violationDetail);
          let params = {
            id: this.violationDetail.id,
            modifiedBy: this.$store.state.user.id,
            // "notes": this.form.notes
          };
          notViolationsResource
              .store(params)
              .then((response) => {
                if (response.status == 200 || response.status == 201) {
                  this.loading1 = false;
                  this.disabled2 = false;
                  this.disabled3 = false;
                  this.disabled4 = false;
                  this.closeDetail();
                  this.$message({
                    type: "success",
                    message: "Cập nhật trạng thái không vi phạm thành công",
                  });
                  this.getViolationPatroNowList();
                  this.flagDetail = false;
                  document.getElementById("detail-user").style.display = "none";
                  document.getElementById("detail-user").style.width = "0";
                  document.getElementById("user-table").style.width =
                      "calc(100%)";
                  document.getElementById("user-table").style.height = "initial";
                } else {
                  this.$message({
                    type: "error",
                    message: "Có lỗi xảy ra",
                  });
                }
              })
              .catch((err) => {
                // this.$message({
                //   type: 'error',
                //   message: 'Có lỗi xảy ra'
                // });
                this.loading1 = false;
                this.disabled2 = false;
                this.disabled3 = false;
                this.disabled4 = false;
                console.log(err);
              });
        } else {
          console.log("error submit!!");
          return false;
        }
      });
      let paramsStatus = {
        status: 2,
      };
      violationProcessSearchResource
          .update(this.patrolDetailId, paramsStatus)
          .then((response) => {
          });
    },

    detectStatus() {
      let endTime = moment(this.endTime).unix();
      let current = moment().unix();
      if (endTime < current) {
        // console.log("false");
        return false;
      } else {
        // console.log("true");
        return true;
      }
    },
    updateViolation() {
      this.updateStatusViolation = true;
    },

    onClickChild(value) {
      if (value) {
        this.query.fromDate = value.startDate;
        this.query.vehicleType = value.vehicleType;
        this.query.violationType = value.violationType;
        this.query.districtId = value.districtId;
        this.query.wardId = value.wardId;
        if (value.camera != null) {
          this.query.filterObjectType = "cam";
          this.query.filterObjectIds = value.camera;
        } else if (value.camera == null && value.site != null) {
          this.query.filterObjectType = "site";
          this.query.filterObjectIds = value.site;
        }
        if (value.patrolSchedules != null) {
          this.query.patrolSchedules = value.patrolSchedules;
        }
      }
      this.handleFilter();
    },
    print(template) {
      this.$htmlToPaper(template, options);
    },
    resetForm(formName) {
      this.$refs[formName].resetFields();
    },

    resetFilter() {
      this.closeDetail();
      this.searchKeyword = "";
      this.getList();
    },

    detectHeight() {
      // let x = document.getElementsByClassName("detail-info-left-top")
      let x = document.getElementById("cam-detail");
      let height = x.clientHeight;
      return height;
    },
    detectWidth() {
      // let x = document.getElementsByClassName("detail-info-left-top")
      let x = document.getElementById("cam-detail");
      let width = x.clientWidth;
      return width;
    },

    setHeightVideo() {
      let self = this;
      setTimeout(function () {
        let table = document.getElementById("cam-detail");
        let table1 = table.getElementsByClassName("video-js")[0];
        table1.style.height = self.heightVideo + "px";
      }, 10);
    },
  },
};
</script>

<style lang="scss" scoped>
</style>

<style lang="scss">
.video-Milestone{
  height: 100%;
}
.dislayNone{
    display: none;
  }
.img-select {
  padding: 30px;
  padding-bottom: 10px;

  .el-icon-close {
    position: absolute;
    right: 5px;
    font-size: 19px;
    top: 5px;
    cursor: pointer;
  }

  img {
    height: 120px;
    text-align: center;
  }

  .img {
    border: 2px solid #ddd;
    padding: 5px;
    cursor: pointer;
    text-align: center;
    margin-bottom: 20px;
  }

  .img.active {
    border: 2px solid #006fe3;
  }
}

.violation-scene-page {
  padding: 0;

  #user-table {
    padding: 20px;
  }

  #user-table.detail {
    padding: 0;
  }

  button.img-select-button {
    background: #26c6da;
    color: white;
    border-radius: 3px;
    width: 147px;
    height: 40px;
    margin-top: 18px;
  }

  .el-dialog.update-status-popup {
    margin-top: 30px !important;

    .el-dialog__body {
      float: left;
      width: 100%;
      background: white;
    }

    .el-select,
    .el-input {
      width: 100%;
    }

    .el-form-item {
      margin-bottom: 8px;
    }
  }

  .notify-popup {
    width: 950px !important;

    .el-dialog__body {
      float: unset;
      width: 100%;
      background: white;
    }

    .el-select,
    .el-input {
      width: 100%;
    }

    .el-form-item {
      margin-bottom: 8px;
    }

    .img {
      padding-top: 35px;

      img {
        width: 100%;
      }

      span {
        display: block;
      }
    }

    h4 {
      border-top: 1px solid #ddd;
      margin-top: 20px;
      padding-top: 20px;
      text-transform: uppercase;
      color: #363030;
      margin-bottom: 12px;
    }
  }

  .popup-active {
    margin-top: 25px;

    button {
      width: 140px;
      border-radius: 5px;
      text-transform: uppercase;
    }

    .exit {
      background: #9e9e9e;
      color: white;
      border: 1px solid #9e9e9e !important;
    }

    .save {
      background: #1f7ff5;
      color: white;
      float: right;
      border: 1px solid #1f7ff5 !important;
    }

    .print {
      background: #1e2e4a;
      color: white;
      float: right;
      border: 1px solid #1e2e4a !important;
    }
  }

  .el-form-item {
    clear: both;
  }

  .item-input {
    min-height: 45px;

    .el-input {
      width: calc(100% - 30px);
    }

    i {
      color: #26c6da;
      font-size: 20px;
      margin-left: 5px;
      position: relative;
      top: 3px;
      cursor: pointer;
    }

    button {
      background: initial !important;
      border: initial;
      margin: 0;
      padding: 0;
    }
  }

  #detail-user h5 {
    margin-top: 0;
    font-size: 16px;
    margin-top: 0;
    font-size: 16px;
    background: #0366cc;
    color: white;
    text-align: center;
    padding: 10px;
    margin-bottom: 0;
  }

  .form-violation {
    margin-top: 25px;

    .el-date-editor {
      width: 100%;
    }
  }

  .action {
    margin-top: 25px;

    button {
      border-radius: 4px;
      color: white;
      border: initial;
      width: 131px;
      height: 40px;
      padding: 0px;
      margin-left: 0;
    }

    .no-violation {
      background: #649a72;
    }

    .violation {
      background: #26c6da;
      margin-left: 8px;
    }

    .notify {
      background: #ff6161;
      margin-left: 8px;
    }

    .update {
      background: #1f7ff5;
      float: right;
    }
  }

  .cam-detail {
    text-align: center;
    background: #1d1d1d;
    height: calc(100vh - 255px);

    .video-js {
      width: 100%;
      /*height: calc(100vh - 255px);*/
    }

    .image {
      img {
        cursor: zoom-in;
        height: calc(100vh - 255px);
      }
    }
  }

  .list-img-cam {
    overflow-x: auto;
    white-space: nowrap;
    margin-top: 8px;
    overflow-y: hidden;

    img {
      display: block;
      margin-bottom: 5px;
      cursor: pointer;
      height: 100px;
      float: left;
      margin-right: 10px;
    }

    .img {
      position: relative;
      height: 100px;
      display: inline-block;

      i {
        font-size: 45px;
        color: #efefef;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

    img.active {
      border: 3px solid #1f7ff5;
    }
  }

  .list-img-cam::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
    border-radius: 0;
    background-color: #f5f5f5;
  }

  .list-img-cam::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #f5f5f5;
    border-radius: 17px;
  }

  .list-img-cam::-webkit-scrollbar-thumb {
    border-radius: 17px;
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
    background-color: #ddd;
  }

  .el-form-item {
    margin-bottom: 15px;
  }

  .el-input input {
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    border: solid 1px #9999;
  }

  .el-icon-camera-solid {
    font-size: 25px;
    color: #9a9a9a;
    position: relative;
    top: -50px;
    left: 54px;
    background: #dfdfdf;
    border-radius: 50%;
    padding: 8px;
    border: 1px solid white;
  }

  .img_avatar {
    text-align: center;
    padding-top: 25px;

    img {
      border-radius: 50%;
    }
  }

  .el-dialog {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }

  .item-left {
    width: 48%;
    float: left;
    margin-right: 2%;
  }

  .item-right {
    width: 48%;
    float: left;
    margin-left: 2%;
  }

  .block-item {
    width: 100%;
    float: left;
  }

  .el-dialog__header {
    padding: 0;
    background: #006fe3;
    height: 40px;
    line-height: 40px;
    text-align: center;

    .el-dialog__title {
      color: white;
    }

    .el-icon-close {
      color: white;
      font-size: 22px;
      top: -10px;
      position: relative;
    }
  }

  .el-dialog__body {
    .el-form-item__label {
      padding-bottom: 0;
      font-size: 14px;
      color: #363030;
      font-weight: 500 !important;
    }
  }

  .el-dialog__footer {
    clear: both;
    padding-bottom: 25px;

    .el-button--primary {
      background: #1f7ff5;
      height: 40px;
      border-radius: 5px;
      width: 147px;
      text-transform: uppercase;
      font-weight: bold;
      border-color: #1f7ff5;
    }

    .el-button--danger {
      background: #9e9e9e;
      height: 40px;
      border-radius: 5px;
      width: 147px;
      text-transform: uppercase;
      font-weight: bold;
      border-color: #9e9e9e;
      float: left;
    }
  }

  #select-all-delete {
    clear: both;
    height: 63px;
    line-height: 63px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ff4646;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    .el-icon-close {
      font-size: 25px;
      margin-left: 20px;
      margin-right: 35px;
      position: relative;
      top: 4px;
      cursor: pointer;
    }

    button {
      background: #e00000;
      border: initial;
      border-radius: 5px;
      float: right;
      display: inline-block;
      margin-top: 15px;
      margin-right: 15px;
    }
  }

  #detail-user {
    position: relative;
    /* transition: width 1s;
      -moz-transition: width 1s;
      -webkit-transition: width 1s;
      -o-transition: width 1s;*/
    width: 0;
    background: white;
    padding: 0;
    float: left;
    margin-left: 0;
    display: none;
    overflow: hidden;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
    /*border-radius: 4px;*/
    margin-top: 1px;

    .content-detail {
      padding: 20px;
      display: flex;
      column-gap: 20px;
      .content-detail__left {
        width: 440px;
        .action {
          display: flex;
          justify-content: space-between;
        }
      }
      .content-detail__right {
        width: calc(100% - 460px);
        .action {
          display: flex;
          justify-content: space-between;
        }
      }
    }

    .avatar {
      text-align: center;
      margin-bottom: 25px;
      margin-top: 25px;

      img {
        border-radius: 50%;
      }
    }

    .item-label {
      color: #363030;
      font-weight: bold;
      font-size: 14px;
      margin-bottom: 10px;
    }

    .item-text {
      color: black;
      font-size: 16px;
      margin-bottom: 20px;
      opacity: 0.6;
    }

    .close-detail {
      border-radius: 50%;
      text-align: center;
      color: white;
      font-size: 18px;
      position: absolute;
      right: 10px;
      top: 10px;
      cursor: pointer;
    }
  }

  .violations-process-box {
    display: flex;
    font-size: 14px;
    width: 100%;
    margin-bottom: 17px;

    .right-box,
    .left-box {
      width: 100%;

      .box-card {
        height: 100%;

        .title-card {
          font-size: 16px;
          font-weight: 500;
        }

        .el-card__header {
          button {
            font-size: 14px;
            height: 27px;
            min-width: 62px;
            border-radius: 14px;
            background-color: #f2f2f2;
            color: rgba(74, 74, 74, 0.87);
            border: none;
          }

          .btn-primary {
            color: rgba(255, 255, 255, 0.87);
            background-color: #1f7ff5;
          }
        }

        .infor-violations {
          width: 100%;

          .item {
            width: 100%;
            text-align: center;
          }

          display: flex;

          .circle-violation-number {
            &.total {
              border-color: #f9327a;
              color: #f9327a;
            }

            &.total-confirm {
              border-color: #35bae9;
              color: #35bae9;
            }

            &.total-resolve {
              border-color: #fcc103;
              color: #fcc103;
            }

            width: 100px;
            height: 100px;
            border-radius: 50%;
            display: inline-block;
            border: 5px solid #35bae9;
            position: relative;

            .number-circle-violation {
              position: absolute;
              position: absolute;
              top: 25%;
              transform: translate(-50%);
              font-size: 45px;
            }
          }

          .type-info {
            margin: 0px;
            height: 35px;
          }
        }

        .infor-traffic-image {
          display: flex;

          .item {
            text-align: center;
            width: 100%;

            img {
              margin-top: 14px;
            }

            p {
              color: #505050;
              font-size: 38px;
              margin: 19px;
              font-weight: bold;
            }
          }
        }
      }
    }

    .right-box {
      margin-left: 18px;
    }
  }

  .el-table th > .cell {
    text-align: left;
  }

  .el-table tr > th:first-child .cell {
    /*text-align: center;*/
    padding-left: 20px;
  }

  .el-table th {
    color: black;
    font-size: 14px;
  }

  .el-table td {
    color: black;
    font-size: 14px;
  }

  .el-table tr td:first-child {
    /*text-align: center;*/
    padding-left: 10px;
  }

  .el-table td:first-child .cell {
    display: inline-block;
  }

  .filter-container {
    padding-bottom: 20px;
  }

  tbody {
    tr {
      cursor: pointer;
    }
  }

  .search-block {
    text-align: left;
    float: left;
    width: 100%;
    margin-bottom: 20px;

    .search {
      float: left;
      width: 272px;

      input {
        width: 272px;
        height: 36px !important;
        line-height: 36px !important;
        border: solid 1px #9999;
        border-radius: 5px;
        padding-left: 40px;
      }

      .el-icon-search {
        line-height: 16px;
        font-size: 19px;
        color: #666;
      }

      span {
        left: 10px;
      }
    }

    button {
      background: #26c6da;
      border-color: #26c6da;
      border-radius: 4px;
      height: 40px !important;
      width: 147px;
      margin-left: 15px;
      float: right;

      span {
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
}
</style>
