<template>
  <span class="search-template">
    <el-popover
      placement="bottom-start"
      title=""
      popper-class="search-form-content-vehicle-popover"
      width="380"
      v-model="visible"
      :visible-arrow="false"
      trigger="click"
      @hide="hide"
    >
      <div class="search-form-content search-form-content-vehicle">
        <el-form ref="form" :model="filter">
          <el-form-item label="Quận/Huyện">
            <el-select v-model="filter.districtId" @change="changeDistrict" filterable placeholder="- Lựa chọn -">
              <el-option v-for="item in districts" :key="item.id" :label="item.name" :value="item.id">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="Phường/Xã">
            <el-select v-model="filter.wardId" filterable placeholder="- Lựa chọn -">
              <el-option v-for="item in wards" :key="item.id" :label="item.name" :value="item.id">
              </el-option>
            </el-select>  
          </el-form-item>
          <el-form-item class="action">
            <el-button type="info" @click="refresh()"
              ><i class="el-icon-refresh"></i> Làm mới</el-button
            >
            <el-button type="primary" @click="search()">Áp dụng</el-button>
          </el-form-item>
        </el-form>
      </div>
      <span slot="reference">
        <img :src="filter_icon" alt="" />
      </span>
    </el-popover>
  </span>
</template>

<script type="text/javascript">
import filter_icon from "@/assets/images/filter.png";
import Resource from "@/api/resource";

const districtsResource = new Resource("management/process-violations/districts");
const wardsResource = new Resource("management/process-violations/wards");
export default {
  data() {
    return {
      filter_icon: filter_icon,
      visible: false,
      loading: false,
      districts: [],
      wards: [],
      filter: {
        districtId: null,
        wardId: null
      },
    };
  },
  created() {
    this.init();
  },
  methods: {
    async init() {
      await this.getDistricts(19);
    },
    search() {
      this.$refs.form.validate((valid) => {
        if (valid) {
          let queryCustom = {
            districtId: this.filter.districtId,
            wardId: this.filter.wardId
          };
          this.visible = false;
          this.$emit("clicked", queryCustom);
        }
      })
    },
    async getDistricts(provinces) {
      //this.siteInfo.districtId = null;
      let params = {
        provinceId: provinces,
      };
      let result = await districtsResource.list(params);
      if (result && result.data) {
        this.districts = result.data;
      }
    },
    async changeDistrict(districts) {
      this.filter.wardId = null;
      await this.getWards(districts)
    },

    async getWards(districts) {
      //this.siteInfo.wardId = null;
      let params = {
        districtId: districts,
      };
      let result = await wardsResource.list(params);
      if (result && result.data) {
        this.wards = result.data;
      }
    },
    refresh() {
      this.filter = {
        districtId: null,
        wardId: null
      };
    },
    hide () {
      this.$refs.form.clearValidate()
    }
  },
};
</script>

<style type="text/css" lang="scss">
.search-form-content-vehicle {
  .el-form-item__error {
    position: initial !important;
  }
}
.search-template {
  .el-popover__reference {
    background: initial;
    border: initial;
    cursor: pointer;
    margin-left: 12px;
    position: relative;
    top: 8px;
  }
}
.search-form-content-vehicle-popover {
  padding-top: 0 !important;
}
.search-form-content-vehicle {
  .el-form-item {
    margin-bottom: 0;
  }
}
.search-form-content {
  .el-form-item__label {
    width: 100%;
    text-align: left;
  }
  .el-date-editor,
  .el-select {
    width: 100%;
  }
  .action {
    margin-top: 10px;
    margin-bottom: 20px;
    .el-button--info {
      border-radius: 4px;
      background: #26c6da;
      color: white;
      border: 1px solid #26c6da;
      font-size: 16px;
      font-weight: 500;
      width: 147px;
    }
    .el-button--primary {
      border-radius: 4px;
      background: #1f7ff5;
      color: white;
      border: 1px solid #1f7ff5;
      font-size: 16px;
      font-weight: 500;
      width: 147px;
      float: right;
    }
  }
}
</style>
