<template>
  <span class="search-template">
    <el-popover
      placement="bottom-start"
      title=""
      width="380"
      v-model="visible"
      :visible-arrow="false"
      trigger="click"
    >
      <div class="search-form-content">
        <el-form ref="form" :model="filter" :rules="rules">
          <!-- <el-form-item label="Thời gian" prop="date">
				    	<el-date-picker
					      v-model="filter.date"
					      type="datetimerange"
					      range-separator="-"
					      start-placeholder="Bắt đầu"
					      format="yyyy-MM-dd HH:mm:ss"
					      end-placeholder="Kết thúc">
					    </el-date-picker>
					</el-form-item> -->
          <el-form-item label="Lịch tuần tra">
            <el-select
              v-model="filter.patrolSchedules"
              multiple
              placeholder="Chọn lịch tuần tra"
            >
              <el-option
                v-for="item in myPatrol"
                :key="item.id"
                :label="item.title"
                :value="item.id"
              ></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="Quận/Huyện">
						<el-select v-model="filter.districtId" @change="changeDistrict" filterable placeholder="- Lựa chọn -">
							<el-option v-for="item in districts" :key="item.id" :label="item.name" :value="item.id">
							</el-option>
						</el-select>
					</el-form-item>
					<el-form-item label="Phường/Xã">
						<el-select v-model="filter.wardId" @change="getCameraList()" filterable placeholder="- Lựa chọn -">
							<el-option v-for="item in wards" :key="item.id" :label="item.name" :value="item.id">
							</el-option>
						</el-select>
					</el-form-item>
          <el-form-item label="Thiết bị">
            <el-select
              v-model="filter.cameras"
              multiple
              placeholder="Chọn thiết bị"
            >
              <el-option
                v-for="item in cameraLst"
                :key="item.id"
                :label="item.name"
                :value="item.id"
              ></el-option>
            </el-select>
          </el-form-item>
          <el-row :gutter="20">
            <el-col :span="12"
              ><div class="grid-content bg-purple">
                <el-form-item label="Loại phương tiện">
                  <el-select
                    multiple
                    filterable
                    collapse-tags
                    class="multi-search-popup"
                    :class="{
                      multi:
                        filter.vehicleType && filter.vehicleType.length > 1,
                    }"
                    v-model="filter.vehicleType"
                    placeholder="Chọn phương tiện"
                  >
                    <el-option
                      v-for="tmpType in vehicleTypeLst"
                      :key="tmpType.id"
                      :label="tmpType.name"
                      :value="tmpType.code"
                    >
                    </el-option>
                  </el-select>
                </el-form-item></div
            ></el-col>
            <el-col :span="12"
              ><div class="grid-content bg-purple">
                <el-form-item label="Loại vi phạm">
                  <el-select
                    multiple
                    filterable
                    collapse-tags
                    class="multi-search-popup"
                    :class="{
                      multi:
                        filter.violationType && filter.violationType.length > 1,
                    }"
                    v-model="filter.violationType"
                    placeholder="Loại vi phạm"
                  >
                    <el-option
                      v-for="tmpType in violationTypeLst"
                      :key="tmpType.id"
                      :label="tmpType.name"
                      :value="tmpType.code"
                    >
                    </el-option>
                  </el-select>
                </el-form-item></div
            ></el-col>
          </el-row>
          <el-form-item class="action">
            <el-button type="info" @click="refresh()"
              ><i class="el-icon-refresh"></i> Làm mới</el-button
            >
            <el-button type="primary" @click="search()">Áp dụng</el-button>
          </el-form-item>
        </el-form>
      </div>
      <span slot="reference">
        <img :src="filter_icon" alt="" />
      </span>
    </el-popover>
  </span>
</template>
<script type="text/javascript">
import filter_icon from "@/assets/images/filter.png";
import Resource from "@/api/resource";

const cameraResource = new Resource("systemconfig/camera/sites");
const siteResource = new Resource("systemconfig/sites");
const categoryResource = new Resource("systemconfig/category");
const myPatrolResource = new Resource(
  "systemconfig/violation-track/violation-track-user"
);
const districtsResource = new Resource("management/process-violations/districts");
const wardsResource = new Resource("management/process-violations/wards");
const getAllCameraResource = new Resource("systemconfig/camera");

export default {
  data() {
    return {
      filter_icon: filter_icon,
      visible: false,
      loading: false,
      districts: [],
      wards: [],
      cameraLst: [],
      vehicleTypeLst: [],
      violationTypeLst: [],
      myPatrol: [],
      filter: {
        patrolSchedules: null,
        plate: null,
        vehicleType: null,
        violationType: null,
        sites: [],
        cameras: [],
        districtId: null,
				wardId: null
      },
      query: {
        page: 1,
        size: 20,
        fromDate: moment().subtract(7, "day").format("YYYY-MM-DD HH:mm:ss"),
        toDate: moment().format("YYYY-MM-DD 23:59:59"),
        searchKeyword: null,
      },
      rules: {
        date: [
          {
            required: true,
            message: "Khoảng thời gian tìm kiếm là bắt buộc",
            trigger: "blur",
          },
        ],
      },
    };
  },
  created() {
    this.init();
  },
  methods: {
    async init() {
      await this.getDistricts(19);
      await this.getVehicleTypeList();
      await this.getViolationTypeList();
      await this.getPatrolScheduleList();
      this.getAllCameraList();
    },
    async getPatrolScheduleList() {
      let params = _.cloneDeep(this.query);
      params.page = params.page - 1;
      myPatrolResource
        .list(params)
        .then((response) => {
          if (response.data) {
            this.myPatrol = response.data;
          } else {
            this.myPatrol = [];
          }
          if (response.total) {
            this.total = response.total;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    async getDistricts(provinces) {
				//this.siteInfo.districtId = null;
				
				let params = {
					provinceId: provinces,
				};
				let result = await districtsResource.list(params);
				if (result && result.data) {
					this.districts = result.data;
				}
			},
			async changeDistrict(districts) {
				
				this.filter.wardId = null;
				await this.getWards(districts);
				this.getCameraList();
			},

			async getWards(districts) {
				//this.siteInfo.wardId = null;
				let params = {
					districtId: districts,
				};
				let result = await wardsResource.list(params);
				if (result && result.data) {
					this.wards = result.data;
				}
			},
			async getSiteId(districts, wards) {
				let params = {
					districtId: districts,
					wardId: wards
				}
				let result = await siteResource.list(params);
				this.filter.sites = result.data;
			},
    async getCameraList() {
      await this.getSiteId(this.filter.districtId, this.filter.wardId);
      let siteIds = [];
      if (this.filter.sites && this.filter.sites.length > 0) {
        this.filter.sites.map((site) => {
        siteIds.push(site.id);
        });
        this.filter.sites = siteIds;
      } else {
        this.filter.sites = ['abc'];
      }
      let queryCustom = {
        siteIds: siteIds.join(),
      };
      let result = await cameraResource.list(queryCustom);
      if (result && result.data) {
        this.cameraLst = result.data;
      } else {
        this.cameraLst = [];
      }
      this.filter.cameras = [];
    },
    getAllCameraList() {
				let queryCustom = {
					page: 0,
					size: 1000,
					getfull: true,
				};
				getAllCameraResource.list(queryCustom).then((response) => {
					if (response.status == 200) {
						this.cameraLst = response.data;
					}
				});
				
			},
    async getVehicleTypeList() {
      let queryCustom = {
        catType: "VEHICLE",
      };
      let result = await categoryResource.list(queryCustom);
      if (result && result.data) {
        this.vehicleTypeLst = result.data;
        this.vehicleTypeLst.unshift({ id: "", code: "ALL", name: "Tất cả" });
      }
    },
    async getViolationTypeList() {
      let queryCustom = {
        catType: "VIOLATION",
      };
      let result = await categoryResource.list(queryCustom);
      if (result && result.data) {
        this.violationTypeLst = result.data;
        this.violationTypeLst.unshift({ id: "", code: "ALL", name: "Tất cả" });
      }
    },
    search() {
      let queryCustom = {
        patrolSchedules: null,
        site: null,
        camera: null,
        plate: this.filter.plate,
        wardId: null,
				districtId: null,
        // vehicleType: this.filter.vehicleType,
        // violationType: this.filter.violationType,
      };
      if (
        this.filter.patrolSchedules &&
        this.filter.patrolSchedules.length > 0
      ) {
        queryCustom.patrolSchedules = this.filter.patrolSchedules.toString();
      }
      if (this.filter.sites && this.filter.sites.length > 0) {
        queryCustom.site = this.filter.sites.toString();
      }
      if (this.filter.cameras && this.filter.cameras.length > 0) {
        queryCustom.camera = this.filter.cameras.toString();
      }
      if (this.filter.districtId) {
					queryCustom.districtId = this.filter.districtId;
				}
				if (this.filter.wardId) {
					queryCustom.wardId = this.filter.wardId;
				}
      if (
        this.filter.vehicleType &&
        this.filter.vehicleType.length > 0 &&
        !this.filter.vehicleType.includes("ALL")
      ) {
        queryCustom.vehicleType = this.filter.vehicleType.toString();
      }
      if (
        this.filter.violationType &&
        this.filter.violationType.length > 0 &&
        !this.filter.violationType.includes("ALL")
      ) {
        queryCustom.violationType = this.filter.violationType.toString();
      }
      this.visible = false;
      this.$emit("clicked", queryCustom);
    },
    refresh() {
      this.filter = {
        patrolSchedules: null,
        plate: null,
        vehicleType: null,
        violationType: null,
        sites: [],
        cameras: [],
        districtId: null,
				wardId: null
      },
      this.wards = [],
			this.getAllCameraList()
    },
  },
};
</script>
<style type="text/css" lang="scss">
.multi-search-popup.multi .el-select__tags span span span {
  max-width: 39px;
}
.multi-search-popup .el-select__tags span span span {
  max-width: 79px;
  overflow: hidden;
  display: inline-block;
  float: left;
  text-overflow: ellipsis;
}
.search-template {
  .el-popover__reference {
    background: initial;
    border: initial;
    cursor: pointer;
    margin-left: 12px;
    position: relative;
    top: 8px;
  }
}
.search-form-content {
  .el-form-item__label {
    width: 100%;
    text-align: left;
  }
  .el-date-editor,
  .el-select {
    width: 100%;
  }
  .action {
    margin-top: 10px;
    margin-bottom: 20px;
    .el-button--info {
      border-radius: 4px;
      background: #26c6da;
      color: white;
      border: 1px solid #26c6da;
      font-size: 16px;
      font-weight: 500;
      width: 147px;
    }
    .el-button--primary {
      border-radius: 4px;
      background: #1f7ff5;
      color: white;
      border: 1px solid #1f7ff5;
      font-size: 16px;
      font-weight: 500;
      width: 147px;
      float: right;
    }
  }
}
</style>
