<template>
	<div class="search-template">
		<el-popover
		    placement="bottom-start"
		    title=""
		    width="370"
		    v-model="visible"
		    :visible-arrow="false"
		    trigger="click">
		    <div class="search-form-content">
		    	<el-form ref="form" :model="filter">
			    	<el-form-item label="Thời gian">
				    	<el-date-picker
					      v-model="filter.date"
					      type="datetimerange"
					      range-separator="-"
					      start-placeholder="Bắt đầu"
					      format="dd/MM/yyyy- HH:mm"
					      end-placeholder="Kết thúc">
					    </el-date-picker>
					</el-form-item>
					<el-form-item label="Vị trí">
					    <el-select v-model="filter.position" placeholder="Chọn vị trí">
					      <el-option label="Kim liên - Phạm Ngọc Thạch" value="1"></el-option>
					      <el-option label="Kim liên - Phạm Ngọc Thạch" value="2"></el-option>
					    </el-select>
					</el-form-item>
					<el-row :gutter="20">
					  <el-col :span="12"><div class="grid-content bg-purple">
					  		<el-form-item label="Loại phương tiện">
							    <el-select v-model="filter.media" placeholder="Chọn phương tiện">
							      <el-option label="Ô tô" value="1"></el-option>
							      <el-option label="Xe máy" value="2"></el-option>
							    </el-select>
							</el-form-item>
					  </div></el-col>
					  <el-col :span="12"><div class="grid-content bg-purple">
					  		<el-form-item label="Lỗi vi phạm">
							    <el-select v-model="filter.violation" placeholder="Chọn vi phạm">
							      <el-option label="Vượt đèn đỏ" value="1"></el-option>
							      <el-option label="Sai làn" value="2"></el-option>
							    </el-select>
							</el-form-item>
					  </div></el-col>
					</el-row>
					<el-form-item class="action">
					    <el-button type="info" @click="refresh()"><i class="el-icon-refresh"></i> Làm mới</el-button>
					    <el-button type="primary" @click="search()">Áp dụng</el-button>
					</el-form-item>
				</el-form>
		    </div>	
		    <button slot="reference">
		    	<img :src="filter_icon" alt="" />
		    </button>
		</el-popover>
	</div>
</template>
<script type="text/javascript">
	import filter_icon from '@/assets/images/filter.png';
	export default {
		data() {
			return {
				filter_icon: filter_icon,
				visible: false,
				filter: {
					date: null,
					position: null,
					media: null,
					violation: null,
				}
			}
		},
		methods: {
			search() {
				if(this.filter.date){
					let start_date = moment(this.filter.date[0]).format('DD/MM/yyyy- HH:mm');
					let end_date = moment(this.filter.date[1]).format('DD/MM/yyyy- HH:mm');
				}
				this.visible = false;
				// console.log(this.filter);
			},
			refresh() {
				this.filter = {
					date: null,
					position: null,
					media: null,
					violation: null,
				}
			}
		}
	}
</script>
<style type="text/css" lang="scss">
	.search-template {
		.el-popover__reference {
			background: initial;
	    	border: initial;
	    	cursor: pointer;
		}
	}
	.search-form-content {
		.el-form-item__label {
		 	width: 100%;
			text-align: left;
		 }
		 .el-date-editor,
		 .el-select {
		 	width: 100%;
		 }
		 .action {
		 	margin-top: 10px;
    		margin-bottom: 20px;
		 	.el-button--info {
		 		border-radius: 4px;
			    background: #26c6da;
			    color: white;
			    border: 1px solid #26c6da;
			    font-size: 16px;
			    font-weight: 500;
			    width: 147px;
		 	}
		 	.el-button--primary {
	 		    border-radius: 4px;
			    background: #1f7ff5;
			    color: white;
			    border: 1px solid #1f7ff5;
			    font-size: 16px;
			    font-weight: 500;
			    width: 147px;
			    float: right;
		 	}
		 }
	}
</style>