<template>
  <span class="search-template">
    <el-popover
      placement="bottom-start"
      title=""
      width="425"
      v-model="visible"
      :visible-arrow="false"
      trigger="click"
      @hide="hide"
    >
      <div class="search-form-content">
        <el-form ref="searchDetailVehicleForm" :model="filter" :rules="rules">
          <el-form-item label="Thời gian" prop="date">
            <el-date-picker
              v-model="filter.date"
              type="datetimerange"
              range-separator="-"
              start-placeholder="Bắt đầu"
              format="yyyy-MM-dd HH:mm:ss"
              end-placeholder="Kết thúc"
            >
            </el-date-picker>
          </el-form-item>
          <el-form-item label="Quận/Huyện">
						<el-select v-model="filter.districtId" @change="changeDistrict" filterable placeholder="- Lựa chọn -">
							<el-option v-for="item in districts" :key="item.id" :label="item.name" :value="item.id">
							</el-option>
						</el-select>
					</el-form-item>
					<el-form-item label="Phường/Xã">
						<el-select v-model="filter.wardId" filterable placeholder="- Lựa chọn -">
							<el-option v-for="item in wards" :key="item.id" :label="item.name" :value="item.id">
							</el-option>
						</el-select>
					</el-form-item>
          <el-form-item class="action">
            <el-button type="info" @click="refresh()"
              ><i class="el-icon-refresh"></i> Làm mới</el-button
            >
            <el-button type="primary" @click="search()">Áp dụng</el-button>
          </el-form-item>
        </el-form>
      </div>
      <span slot="reference">
        <img :src="filter_icon" alt="" />
      </span>
    </el-popover>
  </span>
</template>
<script type="text/javascript">
import filter_icon from "@/assets/images/filter.png";
import Resource from "@/api/resource";
import config from "@/config.js";

const categoryResource = new Resource("systemconfig/category");
const districtsResource = new Resource("management/process-violations/districts");
const wardsResource = new Resource("management/process-violations/wards");

export default {
  data() {
    return {
      filter_icon: filter_icon,
      visible: false,
      loading: false,
      districts: [],
      wards: [],
      cameraLst: [],
      vehicleTypeLst: [],
      violationTypeLst: [],
      eventStateList: [],
      filter: {
        plate: null,
        vehicleType: null,
        violationType: null,
        date: [moment().startOf('year').format('YYYY-MM-DD 00:00:00'), moment().endOf('day').format('YYYY-MM-DD HH:mm:ss')],
        cameras: [],
        eventState:"",
        districtId: null,
				wardId: null
      },
      rules: {
        date: [
          {
            required: true,
            message: "Khoảng thời gian tìm kiếm là bắt buộc",
            trigger: "blur",
          },
        ],
      },
    };
  },
  created() {
    this.getEventStateList();
    this.init();
  },
  methods: {
    async init() {
      await this.getDistricts(19);
      // await this.getVehicleTypeList();
      await this.getViolationTypeList();
    },
    async getDistricts(provinces) {
				//this.siteInfo.districtId = null;
				
				let params = {
					provinceId: provinces,
				};
				let result = await districtsResource.list(params);
				if (result && result.data) {
					this.districts = result.data;
				}
			},
			async changeDistrict(districts) {
				
				this.filter.wardId = null;
				await this.getWards(districts);
			},

			async getWards(districts) {
				//this.siteInfo.wardId = null;
				let params = {
					districtId: districts,
				};
				let result = await wardsResource.list(params);
				if (result && result.data) {
					this.wards = result.data;
				}
			},
    async getEventStateList() {
      this.eventStateList = config.eventState;
      // console.log("EventState:", this.eventStateList);
    },
    
    async getViolationTypeList() {
      let queryCustom = {
        catType: "VIOLATION",
      };
      let result = await categoryResource.list(queryCustom);
      if (result && result.data) {
        this.violationTypeLst = result.data;
        this.violationTypeLst.unshift({ id: "", code: null, name: "Tất cả" });
      }
    },
    search() {
      this.$refs.searchDetailVehicleForm.validate((valid) => {
        if (valid) {
          let queryCustom = {
            startDate: null,
            endDate: null,
            wardId: null,
					  districtId: null,
            // violationType: this.filter.violationType,
            // eventState:this.filter.eventState
          };
          if (this.filter.date) {
            let startDate = moment(this.filter.date[0]).format(
                "YYYY-MM-DD HH:mm:ss"
            );
            let endDate = moment(this.filter.date[1]).format("YYYY-MM-DD HH:mm:ss");
            queryCustom.startDate = startDate;
            queryCustom.endDate = endDate;
          }
          if (this.filter.districtId) {
					queryCustom.districtId = this.filter.districtId;
          }
          if (this.filter.wardId) {
            queryCustom.wardId = this.filter.wardId;
          }
          
          if (this.filter.cameras && this.filter.cameras.length > 0) {
            queryCustom.camera = this.filter.cameras.toString();
          }
          this.visible = false;
          this.$emit("clicked", queryCustom);
        }
      })
    },
    refresh() {
      this.filter = {
        plate: null,
        vehicleType: null,
        violationType: null,
        districtId: null,
        wardId: null,
		eventState:null,
        date: [
          this.getDateString() + " 00:00:00",
          this.getDateString() + " 23:59:59",
        ],
        cameras: [],
      };
    },
    getDateString() {
      let today = new Date();
      let dd = String(today.getDate()).padStart(2, "0");
      let mm = String(today.getMonth() + 1).padStart(2, "0"); //January is 0!
      let yyyy = today.getFullYear();
      today = yyyy + "-" + mm + "-" + dd;
      return today;
    },
    hide () {
      this.$refs.searchDetailVehicleForm.clearValidate()
    }
  },
};
</script>
<style type="text/css" lang="scss">
.search-template {
  .el-popover__reference {
    background: initial;
    border: initial;
    cursor: pointer;
    margin-left: 12px;
    position: relative;
    top: 8px;
  }
}
.search-form-content {
  .el-form-item__label {
    width: 100%;
    text-align: left;
  }
  .el-date-editor,
  .el-select {
    width: 100%;
  }
  .action {
    margin-top: 10px;
    margin-bottom: 20px;
    .el-button--info {
      border-radius: 4px;
      background: #26c6da;
      color: white;
      border: 1px solid #26c6da;
      font-size: 16px;
      font-weight: 500;
      width: 147px;
    }
    .el-button--primary {
      border-radius: 4px;
      background: #1f7ff5;
      color: white;
      border: 1px solid #1f7ff5;
      font-size: 16px;
      font-weight: 500;
      width: 147px;
      float: right;
    }
  }
}
</style>
