<template>
	<div class="search-template">
		<el-popover
		    placement="bottom-start"
		    title=""
		    width="328"
		    popper-class="search-statistic-camera"
		    v-model="visible"
		    :visible-arrow="false"
		    trigger="click">
		    <div class="search-form-content">
		    	<el-form ref="form">
			    	<el-form-item label="Từ ngày">
				    	 <el-date-picker
                            v-model="filter.start_date"
                            type="datetime"
                            placeholder="Chọn ngày">
                         </el-date-picker>
					</el-form-item>
                    <el-form-item label="Đến ngày">
				    	 <el-date-picker
                            v-model="filter.end_date"
                            type="datetime"
                            placeholder="Chọn ngày">
                         </el-date-picker>
					</el-form-item>
					<el-form-item class="action">
					    <el-button type="primary" @click="search()">Áp dụng</el-button>
					</el-form-item>
				</el-form>
		    </div>	
		    <button slot="reference">
		    	<img height="25px" class="filter-icon" :src="filter_icon" alt="" />
				<img height="25px" class="filter-icon-new" :src="filter_icon_new" alt="" />
		    </button>
		</el-popover>
	</div>
</template>
<script type="text/javascript">
	import filter_icon from '@/assets/images/filter.png';
	import filter_icon_new from '@/assets/images/filter_new.png';
	export default {
		data() {
			return {
				filter_icon: filter_icon,
				filter_icon_new: filter_icon_new,
				visible: false,
				filter: {
					start_date: null,
                    end_date : null,
				}
			}
		},
		methods: {
			search() {
				this.visible = false;
				  this.$emit("clicked", this.filter);
			},
		}
	}
</script>
<style type="text/css" lang="scss" scoped>
	.action {
		margin-bottom: 10px !important;
	}
</style>
<style type="text/css" lang="scss">
	.search-statistic-camera {
		margin-left: -21px !important;
		margin-top: -5px !important;
	}
	.search-template {
		.el-popover__reference {
			background: initial;
	    	border: initial;
	    	cursor: pointer;
            height: 45px;
		}
	}
	.search-form-content {
		.el-form-item__label {
		 	width: 100%;
			text-align: left;
		 }
		 .el-date-editor,
		 .el-select {
		 	width: 100%;
		 }
		 .action {
		 	margin-top: 10px;
    		margin-bottom: 20px;
		 	.el-button--info {
		 		border-radius: 4px;
			    background: #26c6da;
			    color: white;
			    border: 1px solid #26c6da;
			    font-size: 16px;
			    font-weight: 500;
			    width: 147px;
		 	}
		 	.el-button--primary {
	 		    border-radius: 4px;
			    background: #1f7ff5;
			    color: white;
			    border: 1px solid #1f7ff5;
			    font-size: 16px;
			    font-weight: 500;
			    width: 147px;
			    float: right;
		 	}
		 }
	}
</style>