<template>
  <div class="search-template" style="float: left">
    <el-popover
      placement="bottom-start"
      title=""
      width="380"
      v-model="visible"
      :visible-arrow="false"
      trigger="click"
    >
      <div class="search-form-content">
        <el-form ref="form" :model="filter" :rules="rules">
          <el-form-item label="Thời gian" prop="date">
            <el-date-picker
              v-model="filter.date"
              type="datetimerange"
              range-separator="-"
              start-placeholder="Bắt đầu"
              format="yyyy-MM-dd HH:mm:ss"
              :unlink-panels="true"
              end-placeholder="Kết thúc"
            >
            </el-date-picker>
          </el-form-item>
          <el-form-item label="Quận/Huyện">
						<el-select v-model="filter.districtId" @change="changeDistrict" filterable placeholder="- Lựa chọn -">
							<el-option v-for="item in districts" :key="item.id" :label="item.name" :value="item.id">
							</el-option>
						</el-select>
					</el-form-item>
					<el-form-item label="Phường/Xã">
						<el-select v-model="filter.wardId" @change="getCameraList()" filterable placeholder="- Lựa chọn -">
							<el-option v-for="item in wards" :key="item.id" :label="item.name" :value="item.id">
							</el-option>
						</el-select>
					</el-form-item>
          <el-form-item label="Thiết bị">
            <el-select
              v-model="filter.cameras"
              multiple
              filterable
              collapse-tags
              :class="{ multi: filter.cameras && filter.cameras.length > 1 }"
              class="site-search-popup"
              placeholder="Chọn thiết bị"
            >
              <el-option
                v-for="item in cameraLst"
                :key="item.id"
                :label="item.name"
                :value="item.id"
              ></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="Độ tin cậy">
            <el-select
              v-model="filter.eventState"
              placeholder="Chọn độ tin cậy"
            >
              <el-option
                v-for="item in eventStateList"
                :key="item.id"
                :label="item.name"
                :value="item.id"
              ></el-option>
            </el-select>
          </el-form-item>
          <el-row :gutter="20">
            <el-col :span="12"
              ><div class="grid-content bg-purple">
                <el-form-item label="Loại phương tiện">
                  <el-select
                    multiple
                    filterable
                    collapse-tags
                    :class="{
                      multi:
                        filter.vehicleType && filter.vehicleType.length > 1,
                    }"
                    v-model="filter.vehicleType"
                    class="multi-search-popup"
                    placeholder="Chọn phương tiện"
                  >
                    <el-option
                      v-for="tmpType in vehicleTypeLst"
                      :key="tmpType.id"
                      :label="tmpType.name"
                      :value="tmpType.code"
                    >
                    </el-option>
                  </el-select>
                </el-form-item></div
            ></el-col>
            <el-col :span="12"
              ><div class="grid-content bg-purple">
                <el-form-item label="Loại vi phạm">
                  <el-select
                    multiple
                    filterable
                    collapse-tags
                    :class="{
                      multi:
                        filter.violationType && filter.violationType.length > 1,
                    }"
                    v-model="filter.violationType"
                    class="multi-search-popup"
                    placeholder="Loại vi phạm"
                  >
                    <el-option
                      v-for="tmpType in violationTypeLst"
                      :key="tmpType.id"
                      :label="tmpType.name"
                      :value="tmpType.code"
                    >
                    </el-option>
                  </el-select>
                </el-form-item></div
            ></el-col>
          </el-row>
          <el-form-item class="action">
            <el-button type="info" @click="refresh()"
              ><i class="el-icon-refresh"></i> Làm mới</el-button
            >
            <el-button type="primary" @click="search()">Áp dụng</el-button>
          </el-form-item>
        </el-form>
      </div>
      <span slot="reference">
        <img :src="filter_icon" alt="" />
      </span>
    </el-popover>
  </div>
</template>
<script type="text/javascript">
import filter_icon from "@/assets/images/filter.png";
import Resource from "@/api/resource";
const siteResource = new Resource("systemconfig/sites");
const cameraResource = new Resource("systemconfig/camera/sites");
const categoryResource = new Resource("systemconfig/category");
const districtsResource = new Resource("management/process-violations/districts");
const wardsResource = new Resource("management/process-violations/wards");
const getAllCameraResource = new Resource("systemconfig/camera");
import config from "@/config.js";

export default {
  data() {
    return {
      eventStateList: [],
      filter_icon: filter_icon,
      visible: false,
      loading: false,
      districts: [],
      wards: [],
      processStatusLst: [],
      vehicleTypeLst: [],
      objectTypeLst: [],
      violationTypeLst: [],
      cameraLst: [],
      filter: {
        
        vehicleType: null,
        objectType: null,
        violationType: null,
        date: [
          moment().subtract(2, "day").format("YYYY-MM-DD HH:mm:ss"),
          moment().format("YYYY-MM-DD HH:mm:ss"),
        ],
        sites: [],
        cameras: [],
        eventState: "CONFIRMED",
        districtId: null,
				wardId: null
      },
      rules: {
        date: [
          {
            required: true,
            message: "Khoảng thời gian tìm kiếm là bắt buộc",
            trigger: "blur",
          },
        ],
      },
    };
  },
  created() {
    this.getEventStateList();
    const filterObj = window.localStorage.getItem("filter_search");
    // if(filterObj != null && filterObj != undefined){
    //   const jsonParse = JSON.parse(filterObj);
    //   this.filter = jsonParse;
    //   this.getCameraInit()
    // }
    this.init();
  },
  methods: {
    async init() {
      await this.getDistricts(19);
      await this.getVehicleTypeList();
      await this.getViolationTypeList();
      this.getAllCameraList();
      const filterObj = window.localStorage.getItem("filter_search");
      if (filterObj != null && filterObj != undefined) {
        const jsonParse = JSON.parse(filterObj);
        this.filter = jsonParse;
      }
      // await this.getCamera();
      //map lần 2
      if (filterObj != null && filterObj != undefined) {
        const jsonParse = JSON.parse(filterObj);
        this.filter = jsonParse;
      }
    },
    async getDistricts(provinces) {
				//this.siteInfo.districtId = null;
				
				let params = {
					provinceId: provinces,
				};
				let result = await districtsResource.list(params);
				if (result && result.data) {
					this.districts = result.data;
				}
			},
			async changeDistrict(districts) {
				
				this.filter.wardId = null;
				await this.getWards(districts);
				this.getCameraList();
			},

			async getWards(districts) {
				//this.siteInfo.wardId = null;
				let params = {
					districtId: districts,
				};
				let result = await wardsResource.list(params);
				if (result && result.data) {
					this.wards = result.data;
				}
			},
			async getSiteId(districts, wards) {
				let params = {
					districtId: districts,
					wardId: wards
				}
				let result = await siteResource.list(params);
				this.filter.sites = result.data;
			},
    async getEventStateList() {
      this.eventStateList = config.eventState;
      // console.log("EventState:", this.eventStateList);
    },
    // async getCameraInit() {
    //   let siteIds = [];
    //   this.filter.sites.map((site) => {
    //     siteIds.push(site);
    //   });
    //   let queryCustom = {
    //     siteIds: siteIds.join(),
    //   };
    //   let result = await cameraResource.list(queryCustom);
    //   if (result && result.data) {
    //     this.cameras = result.data;
    //   }else{
    //     this.cameras = []
    //   }
    // },
    async getCameraList() {
      await this.getSiteId(this.filter.districtId, this.filter.wardId);
				let siteIds = [];
				if (this.filter.sites && this.filter.sites.length > 0) {
					this.filter.sites.map((site) => {
						siteIds.push(site.id);
					});
					this.filter.sites = siteIds;
				} else {
					this.filter.sites = ['abc'];
				}
				let queryCustom = {
					siteIds: siteIds.join(),
				};
				let result = await cameraResource.list(queryCustom);
				if (result && result.data) {
					this.cameraLst = result.data;
				}else{
					this.cameraLst = []
				}
				this.filter.cameras = []
    },
    getAllCameraList() {
				let queryCustom = {
					page: 0,
					size: 1000,
					getfull: true,
				};
				getAllCameraResource.list(queryCustom).then((response) => {
					if (response.status == 200) {
						this.cameraLst = response.data;
					}
				});
				
			},
    async getVehicleTypeList() {
      let queryCustom = {
        catType: "VEHICLE",
      };
      let result = await categoryResource.list(queryCustom);
      if (result && result.data) {
        this.vehicleTypeLst = result.data;
        this.vehicleTypeLst.unshift({ id: "", code: 'ALL', name: "Tất cả" });
      }
    },
    async getViolationTypeList() {
      let queryCustom = {
        catType: "VIOLATION",
      };
      let result = await categoryResource.list(queryCustom);
      if (result && result.data) {
        this.violationTypeLst = result.data;
        this.violationTypeLst.unshift({ id: "", code: 'ALL', name: "Tất cả" });
      }
    },
    getCurrentDate() {
      let today = new Date();
      return moment(today).format("YYYY-MM-DD HH:mm:ss");
    },
    search() {
      this.$refs.form.validate((valid) => {
        if (valid) {
          let queryCustom = {
            startDate: null,
            endDate: null,
            camera: null,
            sites: null,
            objectType: this.filter.objectType,
            wardId: null,
					  districtId: null,
            // vehicleType: this.filter.vehicleType,
            // violationType: this.filter.violationType,
            eventState: this.filter.eventState,
          };
          if (this.filter.date) {
            let today = new Date();
            let startDate = moment(this.filter.date[0]).format(
              "YYYY-MM-DD HH:mm:ss"
            );
            // if (this.filter.date[1] > today) {
            //   this.filter.date[1] = today;
            //   this.filter.date = [startDate, this.getCurrentDate()];
            // }
            let endDate = moment(this.filter.date[1]).format(
              "YYYY-MM-DD HH:mm:ss"
            );
            queryCustom.startDate = startDate;
            queryCustom.endDate = endDate;
          }
          if (this.filter.cameras && this.filter.cameras.length > 0) {
            queryCustom.camera = this.filter.cameras.toString();
          } else {
            queryCustom.sites = this.filter.sites.toString();
          }
          if (this.filter.vehicleType && this.filter.vehicleType.length > 0 && !this.filter.vehicleType.includes("ALL")) {
            queryCustom.vehicleType = this.filter.vehicleType.toString();
          }
          if (this.filter.violationType && this.filter.violationType.length > 0 && !this.filter.violationType.includes("ALL")) {
            queryCustom.violationType = this.filter.violationType.toString();
          }
          if (this.filter.districtId) {
					queryCustom.districtId = this.filter.districtId;
				}
				if (this.filter.wardId) {
					queryCustom.wardId = this.filter.wardId;
				}
          this.visible = false;
          this.$emit("clicked", queryCustom);
          window.localStorage.setItem(
            "filter_search",
            JSON.stringify(this.filter)
          );
        } else {
          return false;
        }
      });
    },
    getDateString() {
      let today = new Date();
      let dd = String(today.getDate()).padStart(2, "0");
      let mm = String(today.getMonth() + 1).padStart(2, "0"); //January is 0!
      let yyyy = today.getFullYear();
      today = yyyy + "-" + mm + "-" + dd;
      return today;
    },
    refresh() {
      window.localStorage.removeItem("filter_search");
      window.localStorage.removeItem("filter_save");
      this.filter = {
        vehicleType: null,
        objectType: null,
        violationType: null,
        date: [
          moment().subtract(2, "day").format("YYYY-MM-DD HH:mm:ss"),
          moment().format("YYYY-MM-DD HH:mm:ss"),
        ],
        sites: [],
        cameras: [],
        eventState: "CONFIRMED",
        districtId: null,
				wardId: null
      };
      this.wards = [];
			this.getAllCameraList();
    },
  },
};
</script>
<style type="text/css" lang="scss">
 .multi-search-popup.multi .el-select__tags span span span {
    max-width: 39px;
 }
 .multi-search-popup .el-select__tags span span span {
    max-width: 79px;
    overflow: hidden;
    display: inline-block;
    float: left;
    text-overflow: ellipsis;
 } 
.search-template {
  .el-popover__reference {
    background: initial;
    border: initial;
    cursor: pointer;
    margin-left: 12px;
    position: relative;
    top: 8px;
  }
}
.search-form-content {
  .el-form-item__label {
    width: 100%;
    text-align: left;
  }
  .el-date-editor,
  .el-select {
    width: 100%;
  }
  .action {
    margin-top: 10px;
    margin-bottom: 20px;
    .el-button--info {
      border-radius: 4px;
      background: #26c6da;
      color: white;
      border: 1px solid #26c6da;
      font-size: 16px;
      font-weight: 500;
      width: 147px;
    }
    .el-button--primary {
      border-radius: 4px;
      background: #1f7ff5;
      color: white;
      border: 1px solid #1f7ff5;
      font-size: 16px;
      font-weight: 500;
      width: 147px;
      float: right;
    }
  }
}
</style>