<template>
  <span class="search-template">
    <el-popover
      placement="bottom-start"
      title=""
      popper-class="search-form-content-vehicle-popover"
      width="380"
      v-model="visible"
      :visible-arrow="false"
      trigger="click"
      @hide="hide"
    >
      <div class="search-form-content search-form-content-vehicle">
        <el-form ref="form" :model="filter">
          <el-form-item label="Quận/Huyện">
						<el-select v-model="filter.districtId" @change="changeDistrict" filterable placeholder="- Lựa chọn -">
							<el-option v-for="item in districts" :key="item.id" :label="item.name" :value="item.id">
							</el-option>
						</el-select>
					</el-form-item>
					<el-form-item label="Phường/Xã">
						<el-select v-model="filter.wardId" @change="getSiteId(filter.districtId, filter.wardId)" filterable placeholder="- Lựa chọn -">
							<el-option v-for="item in wards" :key="item.id" :label="item.name" :value="item.id">
							</el-option>
						</el-select>
					</el-form-item>
          <el-form-item label="Loại thiết bị">
            <el-select
              v-model="filter.typeCamera"
              :class="{
                multi: filter.typeCamera && filter.typeCamera.length > 1,
              }"
              multiple
              collapse-tags
              placeholder="Loại thiết bị"
              style="width: 100%"
            >
              <el-option
                v-for="item in cameraTypeLst"
                :key="item.id"
                :label="item.name"
                :value="item.id"
              >
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item class="action">
            <el-button type="info" @click="refresh()"
              ><i class="el-icon-refresh"></i> Làm mới</el-button
            >
            <el-button type="primary" @click="search()">Áp dụng</el-button>
          </el-form-item>
        </el-form>
      </div>
      <span slot="reference">
        <img :src="filter_icon" alt="" />
      </span>
    </el-popover>
  </span>
</template>

<script type="text/javascript">
import filter_icon from "@/assets/images/filter.png";
import { getData } from "@/api/model-base-resources";
import Resource from "@/api/resource";

const siteResource = new Resource("systemconfig/sites");
const districtsResource = new Resource("management/process-violations/districts");
const wardsResource = new Resource("management/process-violations/wards");

export default {
  data() {
    return {
      districts: [],
      wards: [],
      cameraTypeLst: [],
      filter_icon: filter_icon,
      visible: false,
      loading: false,
      filter: {
        districtId: null,
				wardId: null,
        typeCamera: null,
        sites: [],
      },
    };
  },
  created() {
    this.init();
  },
  methods: {
    async init() {
      await this.getCameraTypes();
      await this.getDistricts(19);
    },
    async getDistricts(provinces) {
				//this.siteInfo.districtId = null;
				
				let params = {
					provinceId: provinces,
				};
				let result = await districtsResource.list(params);
				if (result && result.data) {
					this.districts = result.data;
				}
			},
			async changeDistrict(districts) {
				
				this.filter.wardId = null;
				await this.getWards(districts);
        await this.getSiteId(this.filter.districtId, this.filter.wardId);
			},

			async getWards(districts) {
				//this.siteInfo.wardId = null;
				let params = {
					districtId: districts,
				};
				let result = await wardsResource.list(params);
				if (result && result.data) {
					this.wards = result.data;
				}
			},
			async getSiteId(districts, wards) {
				let params = {
          page: 0,
          size: 1000,
					districtId: districts,
					wardId: wards
				}
				let result = await siteResource.list(params);
        if (result) {
          let siteIds = [];
          this.filter.sites = result.data;
          this.filter.sites.map((site) => {
						siteIds.push(site.id);
					});
          this.filter.sites = siteIds;
        } else {
          this.filter.sites = ['abc'];
        }
				
			},
    async getCameraTypes() {
      const { data } = await getData("/systemconfig/camera/camera-types");
      if (data && data.length > 0) {
        this.cameraTypeLst = data;
      }
    },
    search() {
      this.$refs.form.validate((valid) => {
        if (valid) {
          let queryCustom = {
            address: this.filter.sites,
            typeCamera: this.filter.typeCamera,
          };
          if (this.filter.sites && this.filter.sites.length > 0) {
            queryCustom.address = this.filter.sites.toString();
          }
          if (this.filter.typeCamera && this.filter.typeCamera.length > 0) {
            queryCustom.typeCamera = this.filter.typeCamera.toString();
          }
          this.visible = false;
          this.$emit("clicked", queryCustom);
        }
      });
    },
    refresh() {
      this.filter = {
        name: null,
        identification: null,
        address: null,
        typeCamera: null,
      };
    },
    hide() {
      this.$refs.form.clearValidate();
    },
  },
};
</script>

<style type="text/css" lang="scss">
.search-form-content-vehicle {
  .el-form-item__error {
    position: initial !important;
  }
}
.search-template {
  .el-popover__reference {
    background: initial;
    border: initial;
    cursor: pointer;
    margin-left: 12px;
    position: relative;
    top: 8px;
  }
}
.search-form-content-vehicle-popover {
  padding-top: 0 !important;
}
.search-form-content-vehicle {
  .el-form-item {
    margin-bottom: 0;
  }
}
.search-form-content {
  .el-form-item__label {
    width: 100%;
    text-align: left;
  }
  .el-date-editor,
  .el-select {
    width: 100%;
  }
  .action {
    margin-top: 10px;
    margin-bottom: 20px;
    .el-button--info {
      border-radius: 4px;
      background: #26c6da;
      color: white;
      border: 1px solid #26c6da;
      font-size: 16px;
      font-weight: 500;
      width: 147px;
    }
    .el-button--primary {
      border-radius: 4px;
      background: #1f7ff5;
      color: white;
      border: 1px solid #1f7ff5;
      font-size: 16px;
      font-weight: 500;
      width: 147px;
      float: right;
    }
  }
}
</style>
