<template>
  <span class="search-template">
    <el-popover
      placement="bottom-start"
      title=""
      popper-class="search-form-content-vehicle-popover"
      width="380"
      v-model="visible"
      :visible-arrow="false"
      trigger="click"
      @hide="hide"
    >
      <div class="search-form-content search-form-content-vehicle">
        <el-form ref="form" :model="filter" :rules="rules">
          <el-form-item label="Biển kiểm soát">
            <el-input v-model="filter.plate" style="width: 100%"></el-input>
          </el-form-item>
          <el-form-item label="Thời gian" prop="date">
            <el-date-picker
              v-model="filter.date"
              type="datetimerange"
              range-separator="-"
              start-placeholder="Bắt đầu"
              format="yyyy-MM-dd HH:mm:ss"
              end-placeholder="Kết thúc"
            >
            </el-date-picker>
          </el-form-item>
          <el-form-item label="Quận/Huyện">
						<el-select v-model="filter.districtId" @change="changeDistrict" filterable placeholder="- Lựa chọn -">
							<el-option v-for="item in districts" :key="item.id" :label="item.name" :value="item.id">
							</el-option>
						</el-select>
					</el-form-item>
					<el-form-item label="Phường/Xã">
						<el-select v-model="filter.wardId" @change="getCameraList()" filterable placeholder="- Lựa chọn -">
							<el-option v-for="item in wards" :key="item.id" :label="item.name" :value="item.id">
							</el-option>
						</el-select>
					</el-form-item>
          <el-form-item label="Thiết bị">
            <el-select
              v-model="filter.cameras"
              multiple
              filterable
              collapse-tags
              :class="{ multi: filter.cameras && filter.cameras.length > 1 }"
              class="site-search-popup"
              placeholder="Chọn thiết bị"
            >
              <el-option
                v-for="item in cameraLst"
                :key="item.id + Math.random()"
                :label="item.name"
                :value="item.id"
              ></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="Xe đăng ký">
            <el-select v-model="filter.localPlate">
              <el-option value="INSIDE" label="Nội tỉnh"></el-option>
              <el-option value="OUTSIDE" label="Ngoại tỉnh"></el-option>
              <el-option value="NOPLATE" label="Xe không biển số"></el-option>
              <el-option value="ALL" label="Tất cả"></el-option>
            </el-select>
          </el-form-item>
          <el-row :gutter="20">
            <el-col :span="12"
              ><div class="grid-content bg-purple">
                <el-form-item label="Loại phương tiện">
                  <el-select
                    v-model="filter.vehicleType"
                    placeholder="Chọn phương tiện"
                  >
                    <el-option
                      v-for="tmpType in vehicleTypeLst"
                      :key="tmpType.id + Math.random()"
                      :label="tmpType.name"
                      :value="tmpType.code"
                    >
                    </el-option>
                  </el-select>
                </el-form-item></div
            ></el-col>
            <el-col :span="12"
              ><div class="grid-content bg-purple">
                <el-form-item label="Loại đối tượng">
                  <el-select
                    v-model="filter.objectType"
                    placeholder="Loại đối tượng"
                  >
                    <el-option
                      value="Danh sách đen"
                      label="Danh sách đen"
                    ></el-option>
                    <el-option value="" label="Tất cả"></el-option>
                  </el-select>
                </el-form-item></div
            ></el-col>
          </el-row>

          <!--           <el-row :gutter="20">
            <el-col :span="12"
              ><div class="grid-content bg-purple">
                <el-form-item label="Màu sắc">
                  <el-select
                    v-model="filter.color"
                    placeholder="Chọn màu sắc"
                  >
                    <el-option
                      v-for="color in colorLst"
                      :key="color.code+Math.random()"
                      :label="color.name"
                      :value="color.code"
                    >
                    </el-option>
                  </el-select>
                </el-form-item></div
            ></el-col>
            <el-col :span="12"
              ><div class="grid-content bg-purple">
                <el-form-item label="Hãng xe">
                  <el-select
                    v-model="filter.brand"
                    placeholder="Chọn hãng xe"
                  >
                    <el-option
                      v-for="brand in brandLst"
                      :key="brand.code+Math.random()"
                      :label="brand.name"
                      :value="brand.code"
                    >
                    </el-option>
                  </el-select>
                </el-form-item></div
            ></el-col>
          </el-row> -->
          <el-form-item class="action">
            <el-button type="info" @click="refresh()"
              ><i class="el-icon-refresh"></i> Làm mới</el-button
            >
            <el-button type="primary" @click="search()">Áp dụng</el-button>
          </el-form-item>
        </el-form>
      </div>
      <span slot="reference">
        <img :src="filter_icon" alt="" />
      </span>
    </el-popover>
  </span>
</template>

<script type="text/javascript">
import config from "@/config.js";
import filter_icon from "@/assets/images/filter.png";
import Resource from "@/api/resource";

const cameraResource = new Resource("systemconfig/camera/sites");
const getAllCameraResource = new Resource("systemconfig/camera");
const siteResource = new Resource("systemconfig/sites");
const categoryResource = new Resource("systemconfig/category");
const districtsResource = new Resource("management/process-violations/districts");
const wardsResource = new Resource("management/process-violations/wards");

export default {
  data() {
    return {
      filter_icon: filter_icon,
      visible: false,
      loading: false,
      districts: [],
      wards: [],
      cameraLst: [],
      vehicleTypeLst: [],
      objectTypeLst: [],
      colorLst: [],
      brandLst: [],
      filter: {
        districtId: null,
				wardId: null,
        plate: null,
        vehicleType: null,
        objectType: "Tất cả",
        //date: [moment().subtract(2, "day").format('YYYY-MM-DD HH:mm:ss'), moment().format('YYYY-MM-DD HH:mm:ss')],
        date: [
          this.getDateString() + " 00:00:00",
          this.getDateString() + " 23:59:59",
        ],
        sites: [],
        cameras: [],
        color: "",
        brand: "",
        localPlate: "ALL",
      },
      rules: {
        date: [
          {
            required: true,
            message: "Khoảng thời gian tìm kiếm là bắt buộc",
            trigger: "blur",
          },
        ],
      },
    };
  },
  created() {
    this.init();
  },
  methods: {
    async init() {
      await this.getDistricts(19);
      await this.getVehicleTypeList();
      await this.getCollectionList();
      this.getAllCameraList();
      this.getColorList();
      this.getBrandList();
    },
    async getDistricts(provinces) {
				//this.siteInfo.districtId = null;
				
				let params = {
					provinceId: provinces,
				};
				let result = await districtsResource.list(params);
				if (result && result.data) {
					this.districts = result.data;
				}
			},
			async changeDistrict(districts) {
				
				this.filter.wardId = null;
				await this.getWards(districts);
				this.getCameraList();
			},

			async getWards(districts) {
				//this.siteInfo.wardId = null;
				let params = {
					districtId: districts,
				};
				let result = await wardsResource.list(params);
				if (result && result.data) {
					this.wards = result.data;
				}
			},
			async getSiteId(districts, wards) {
				let params = {
					districtId: districts,
					wardId: wards
				}
				let result = await siteResource.list(params);
				this.filter.sites = result.data;
			},
    async getCameraList() {
				await this.getSiteId(this.filter.districtId, this.filter.wardId);
				let siteIds = [];
				if (this.filter.sites && this.filter.sites.length > 0) {
					this.filter.sites.map((site) => {
						siteIds.push(site.id);
					});
					this.filter.sites = siteIds;
				} else {
					this.filter.sites = ['abc'];
				}
				let queryCustom = {
					siteIds: siteIds.join(),
				};
				let result = await cameraResource.list(queryCustom);
				if (result && result.data) {
					this.cameraLst = result.data;
				}else{
					this.cameraLst = []
				}
				this.filter.cameras = []
			},
      getAllCameraList() {
				let queryCustom = {
					page: 0,
					size: 1000,
					getfull: true,
				};
				getAllCameraResource.list(queryCustom).then((response) => {
					if (response.status == 200) {
						this.cameraLst = response.data;
					}
				});
			},
    async getVehicleTypeList() {
      let queryCustom = {
        catType: "VEHICLE",
      };
      let result = await categoryResource.list(queryCustom);
      if (result && result.data) {
        this.vehicleTypeLst = result.data;
        this.vehicleTypeLst.unshift({ id: "", code: null, name: "Tất cả" });
      }
    },
    async getCollectionList() {
      let queryCustom = {
        catType: "COLLECTION",
      };
      let result = await categoryResource.list(queryCustom);
      if (result && result.data) {
        this.objectTypeLst = result.data;
        this.objectTypeLst.unshift({ id: "", name: "Tất cả" });
      }
    },
    getColorList() {
      this.colorLst = config.colorList;
      this.colorLst.unshift({ code: "", name: "Tất cả" });
    },
    getBrandList() {
      this.brandLst = config.brandList;
      this.brandLst.unshift({ code: "", name: "Tất cả" });
    },

    search() {
      this.$refs.form.validate((valid) => {
        if (valid) {
          let queryCustom = {
            startDate: null,
            endDate: null,
            site: null,
            camera: null,
            plate: this.filter.plate,
            vehicleType: this.filter.vehicleType,
            objectType: this.filter.objectType,
            color: this.filter.color,
            brand: this.filter.brand,
            localPlate: this.filter.localPlate,
            wardId: null,
					districtId: null,
          };
          if (queryCustom.objectType === "Tất cả") {
            queryCustom.objectType = null;
          }
          if (this.filter.date) {
            let startDate = moment(this.filter.date[0]).format(
              "YYYY-MM-DD HH:mm:ss"
            );
            let endDate = moment(this.filter.date[1]).format(
              "YYYY-MM-DD HH:mm:ss"
            );
            queryCustom.startDate = startDate;
            queryCustom.endDate = endDate;
          }
          if (this.filter.sites && this.filter.sites.length > 0) {
            queryCustom.site = this.filter.sites.toString();
          }
          if (this.filter.cameras && this.filter.cameras.length > 0) {
            queryCustom.camera = this.filter.cameras.toString();
          }
          if (this.filter.districtId) {
					queryCustom.districtId = this.filter.districtId;
				}
				if (this.filter.wardId) {
					queryCustom.wardId = this.filter.wardId;
				}
          this.visible = false;
          this.$emit("clicked", queryCustom);
        }
      });
    },
    refresh() {
      this.filter = {
        plate: null,
        vehicleType: null,
        objectType: "Tất cả",
        date: [
          this.getDateString() + " 00:00:00",
          this.getDateString() + " 23:59:59",
        ],
        sites: [],
        cameras: [],
        color: "",
        brand: "",
        districtId: null,
				wardId: null
      },
      this.wards = [],
			this.getAllCameraList()
    },

    getDateString() {
      let today = new Date();
      let dd = String(today.getDate()).padStart(2, "0");
      let mm = String(today.getMonth() + 1).padStart(2, "0"); //January is 0!
      let yyyy = today.getFullYear();
      today = yyyy + "-" + mm + "-" + dd;
      return today;
    },

    hide() {
      this.$refs.form.clearValidate();
    },
  },
};
</script>

<style type="text/css" lang="scss">
.search-form-content-vehicle {
  .el-form-item__error {
    position: initial !important;
  }
}
.search-template {
  .el-popover__reference {
    background: initial;
    border: initial;
    cursor: pointer;
    margin-left: 12px;
    position: relative;
    top: 8px;
  }
}
.search-form-content-vehicle-popover {
  padding-top: 0 !important;
}
.search-form-content-vehicle {
  .el-form-item {
    margin-bottom: 0;
  }
}
.search-form-content {
  .el-form-item__label {
    width: 100%;
    text-align: left;
  }
  .el-date-editor,
  .el-select {
    width: 100%;
  }
  .action {
    margin-top: 10px;
    margin-bottom: 20px;
    .el-button--info {
      border-radius: 4px;
      background: #26c6da;
      color: white;
      border: 1px solid #26c6da;
      font-size: 16px;
      font-weight: 500;
      width: 147px;
    }
    .el-button--primary {
      border-radius: 4px;
      background: #1f7ff5;
      color: white;
      border: 1px solid #1f7ff5;
      font-size: 16px;
      font-weight: 500;
      width: 147px;
      float: right;
    }
  }
}
</style>
