<template>
	<div class="upload-image-normal">
		<el-upload
		  :action="url"
		  list-type="picture-card"
		  :multiple="false"
		  :on-success="success"
		  :on-error="error"
		  :before-upload="beforeUpload"
		  :headers="headers"
		  :limit="1"
		  :auto-upload="true">
		  	<template slot="default">
		  		<i class="el-icon-plus"></i>
		  	</template>
		    <div slot="file" slot-scope="{file}">
		      <img
		        class="el-upload-list__item-thumbnail"
		        :src="file.url" alt=""
		      >
		      <span class="el-upload-list__item-actions">
		        <span
		          class="el-upload-list__item-preview"
		          @click="handlePictureCardPreview(file)"
		        >
		          <i class="el-icon-zoom-in"></i>
		        </span>
		        <!-- <span
		          v-if="!disabled"
		          class="el-upload-list__item-delete"
		          @click="handleDownload(file)"
		        >
		          <i class="el-icon-download"></i>
		        </span> -->
		        <!-- <span
		          v-if="!disabled"
		          class="el-upload-list__item-delete"
		          @click="handleRemove(file)"
		        >
		          <i class="el-icon-delete"></i>
		        </span> -->
		      </span>
		    </div>
		</el-upload>
		<el-dialog :visible.sync="dialogVisible">
		  <img width="100%" :src="dialogImageUrl" alt="">
		</el-dialog>
	</div>
</template>
<script>

import axios from 'axios'
import { isLogged } from '@/utils/auth'
import mimes from './utils/mimes.js'
import data2blob from './utils/data2blob.js'

export default {
  	props: {
  		url: {
	      type: String,
	      default: null,
	    }
  	},
    data() {
	    return {
	      createImgUrl: '',
	      dialogImageUrl: '',
	      dialogVisible: false,
	      disabled: false,
	      headers: {}
	    };
    },
    created() {
	      this.headers['Authorization'] = 'Bearer ' + isLogged()
    },
    methods: {
      handleRemove(file) {
      	file = null
      	console.log(file)
      },
      handlePictureCardPreview(file) {
        this.dialogImageUrl = file.url;
        this.dialogVisible = true;
      },
      handleDownload(file) {
        console.log(file);
      },
      beforeUpload(file) {
	      const isJPG = file.type === 'image/jpeg';
	      const isPNG = file.type === 'image/png';
	      if (!isJPG && !isPNG) {
	        this.$message.error('Định dạng file không được chấp nhận, vui lòng chọn ảnh.');
	        return false;
	      }
	      const limit = 5;
	      const isLimit =  file.size / 1024 / 1024 <= limit;
	      if (!isLimit) {
	        this.$message.error('Vui lòng chọn file tối đa ' + limit + 'M.');
	        return false;
	      }
	      return true;
	    },
      success(response, file, fileList) {
      	console.log(response)
      },
      error(err, file, fileList) {
      	console.log(err)
      }
    }
  }
</script>