<template>
  <div class="app-container notify-page">
    <!-- Filter -->
    <div class="filter-container">
      <template>
        <el-row class="search-block">
          <el-col :span="24">
            <el-input
              class="search"
              prefix-icon="el-icon-search"
              placeholder="Nhập từ khóa..."
              v-model="searchKeyword"
              @keyup.enter.native="handleFilter()"
            >
            </el-input>

            <el-date-picker
              class="filter-date"
              v-model="filter.date"
              type="datetimerange"
              range-separator="-"
              start-placeholder="Bắt đầu"
              end-placeholder="Kết thúc"
              format="yyyy-MM-dd HH:mm:ss"
            >
            </el-date-picker>
            <el-select
              class="type"
              v-model="typeIcon"
              placeholder="Loại thông báo"
            >
              <el-option
                v-for="item in options"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              >
              </el-option>
            </el-select>
            <el-button type="primary" @click="handleFilter()"
              >Tìm kiếm</el-button
            >
          </el-col>
        </el-row>
      </template>
    </div>

    <template>
      <el-table
        ref="multipleTable"
        :data="notifyLst"
        style="width: 100%"
        @row-click="rowClicked"
        id="notify-table"
      >
        <el-table-column label="" width="100">
          <template slot-scope="scope">
            <img
              height="42px"
              v-if="scope.row.icon == 'icon1'"
              :src="icon1"
              alt=""
            />
            <img
              height="42px"
              v-else-if="scope.row.icon == 'icon2'"
              :src="icon2"
              alt=""
            />
            <img
              height="42px"
              v-else-if="scope.row.icon == 'icon3'"
              :src="icon3"
              alt=""
            />
            <img
              height="42px"
              v-else-if="scope.row.icon == 'icon4'"
              :src="icon4"
              alt=""
            />
            <img
              height="42px"
              v-else-if="scope.row.icon == 'icon5'"
              :src="icon5"
              alt=""
            />
            <img
              height="42px"
              v-else-if="scope.row.icon == 'icon6'"
              :src="icon6"
              alt=""
            />
            <img
              height="42px"
              v-else-if="scope.row.icon == 'icon7'"
              :src="icon7"
              alt=""
            />
            <event-icon
              v-else
              :icon="scope.row.icon"
            />
          </template>
        </el-table-column>

        <el-table-column label="Thời gian" width="200">
          <template slot-scope="scope">
            <span>{{
              scope.row.timeSendNotify | formatDateVietNamDateTime
            }}</span>
          </template>
        </el-table-column>

        <el-table-column label="Tiêu đề" width="300" prop="title" sortable>
          <template slot-scope="scope">
            <span>{{ scope.row.title }}</span>
          </template>
        </el-table-column>

        <el-table-column label="Nội dung" prop="content" sortable>
          <template slot-scope="scope">
            <span>{{ scope.row.content }}</span>
          </template>
        </el-table-column>
      </el-table>
      <p style="clear: both"></p>
      <pagination
        v-show="total > query.size"
        :total="total"
        :page.sync="query.page"
        :layout="layout"
        :limit.sync="query.size"
        @pagination="getList"
      />
    </template>

    <!-- Dialog Vehicle Track -->
    <div class="track-page-notify-detail">
      <el-dialog
        title="Thông tin phương tiện"
        :visible.sync="dialogVehicleTrack"
        width="800px"
        top="0"
        :close-on-click-modal="false"
      >
        <component
          ref="dialogVehicleTrack"
          v-bind:is="showComponent"
          v-bind:notifyUrl="notifyUrl"
        ></component>
        <div slot="footer" class="dialog-footer"></div>
      </el-dialog>
    </div>

    <template v-if="dataDamdong">
      <el-dialog
        class="diag-damdong"
        title=""
        width="600px"
        :visible.sync="dialogDamdongVisible"
      >
        <div slot="title">
          <h5>{{ dataDamdong.title }}</h5>
        </div>
        <div class="detail-content">
          <div class="img">
            <img :src="base_url_img + dataDamdong.url" alt="" />
          </div>
          <div class="content">
            {{ dataDamdong.content }}
          </div>
        </div>
      </el-dialog>
    </template>
  </div>
</template>

<script>
import Pagination from "@/components/Pagination_custom";
import icon1 from "@/assets/images/icon1.png";
import icon2 from "@/assets/images/icon2.png";
import icon3 from "@/assets/images/icon3.png";
import icon4 from "@/assets/images/icon4.png";
import icon5 from "@/assets/images/timer.png";
import icon6 from "@/assets/images/timer.png";
import icon7 from "@/assets/images/Groups.png";
import DialogVehicleTrack from "@/components/Notify/components/DialogVehicleTrack";
import Resource from "@/api/resource";
import moment from "moment";

import icon8 from "@/assets/images/report/illegal-stop3x.png";
import icon9 from "@/assets/images/report/traffic-lights3x.png";
import icon10 from "@/assets/images/report/inversedirection3x.png";
import icon11 from "@/assets/images/report/restricted3x.png";
import icon12 from "@/assets/images/report/noentry3x.png";
import icon13 from "@/assets/images/report/speed-limit3x.png";
import icon14 from "@/assets/images/report/wrong-line3x.png";
import EventIcon from "@/components/EventIcon";

const readNotifyResource = new Resource("notify/read-notify");
const notifyResource = new Resource("notify");
const numberNotifyResource = new Resource("notify/number-notify");
const redirectStatusCamera = process.env.VUE_APP_ROOT_URL;

export default {
  components: {EventIcon, Pagination, DialogVehicleTrack },
  computed: {
    showComponent: function () {
      let component = "";
      if (this.isClickNotify) {
        component = DialogVehicleTrack;
      }
      return component;
    },
  },
  data() {
    return {
      layout: "first, prev, pager, next, last",
      icon1: icon1,
      icon2: icon2,
      icon3: icon3,
      icon4: icon4,
      icon5: icon5,
      icon6: icon6,
      icon7: icon7,
      icon8: icon8,
      icon9: icon9,
      icon10: icon10,
      icon11: icon11,
      icon12: icon12,
      icon13: icon13,
      icon14: icon14,
      dataDamdong: null,
      dialogDamdongVisible: false,
      base_url_img: process.env.VUE_APP_URL_IMAGE,
      dialogVehicleTrack: false,
      isClickNotify: false,
      notifyUrl: null,
      notifyLst: [],
      number: 0,
      options: [
        {
          value: "icon1",
          label: "Cảnh báo ùn tắc",
        },
        {
          value: "icon2",
          label: "Mất kết nối",
          disabled: true,
        },
        {
          value: "icon3",
          label: "Kết nối lại",
        },
        {
          value: "icon4",
          label: " Đối tượng theo dõi",
        },
        {
          value: "icon5",
          label: "Phát hiện vi phạm",
        },
        {
          value: "icon6",
          label: "Vi phạm quá hạn",
        },
        {
          value: "icon7",
          label: "Phát hiện đám đông",
        },
      ],
      iconViolation: [
        "icon8",
        "icon9",
        "icon10",
        "icon11",
        "icon12",
        "icon13",
        "icon14",
        "icon15",
        "icon16",
      ],
      loading: false,
      total: 0,
      searchKeyword: null,
      typeIcon: null,
      query: {
        page: 1,
        size: 20,
        keyword: this.searchKeyword,
        typeIcon: this.typeIcon,
        fromDate: moment().subtract(30, "days").startOf("day").unix(),
        toDate: moment().endOf("day").unix(),
      },
      filter: {
        date: [
          moment()
            .subtract(30, "days")
            .startOf("day")
            .format("YYYY-MM-DD HH:mm:ss"),
          moment().endOf("day").format("YYYY-MM-DD HH:mm:ss"),
        ],
      },
    };
  },
  created() {
    this.init();
  },
  methods: {
    async init() {
      await this.getList();
      await this.getNumberNotify();
    },
    async getList() {
      let param = {
        page: this.query.page - 1,
        size: this.query.size,
        keyword: this.searchKeyword ? this.searchKeyword.trim() : "",
        fromDate: this.query.fromDate,
        toDate: this.query.toDate,
        typeIcon: this.typeIcon ? this.typeIcon.trim() : "",
      };
      if (param.typeIcon == "icon5") {
        param.typeIcon = this.iconViolation.join("-");
      }
      const { data, total } = await notifyResource.list(param);
      if (data) {
        this.notifyLst = data;
      } else {
        this.notifyLst = null;
      }
      if (total) {
        this.total = total;
      } else {
        this.total = 0;
      }
    },
    async readNumberNotify(val) {
      if (this.number > 0 && val.statusView == 0) {
        let params = {
          userId: this.$store.state.user.id,
          notiId: val.id,
        };
        const { data } = await readNotifyResource.storeParam(params);
        this.number = 0;
      }
    },
    async getNumberNotify() {
      const { data } = await numberNotifyResource.list();
      if (data) {
        this.number = data.countNotiNotRead;
      }
    },
    handleFilter() {
      this.query.keyword = this.searchKeyword ? this.searchKeyword.trim() : "";
      this.typeIcon = this.typeIcon ? this.typeIcon.trim() : "";
      if (this.filter.date) {
        let fromDate = moment(this.filter.date[0]).unix();
        let toDate = moment(this.filter.date[1]).unix();
        this.query.fromDate = fromDate;
        this.query.toDate = toDate;
      }
      this.getList();
    },
    rowClicked(item) {
      // console.log(item.icon);
      if (item.icon == "icon7") {
        this.popupDamdong(item);
      } else if (["icon2", "icon3"].includes(item.icon)) {
        window.location.href =
          item.url != "" ? redirectStatusCamera + item.url : "/notify-list";
      } else if (
        [
          "icon1",
          "icon5",
          "icon4",
          "icon6",
          "icon8",
          "icon9",
          "icon10",
          "icon11",
          "icon12",
          "icon13",
          "icon14",
          "icon15",
          "icon16",
        ].includes(item.icon)
      ) {
        window.location.href = item.url != "" ? item.url : "/notify-list";
      } else {
        window.location.href = "/notify-list";
      }
    },
    popupDamdong(item) {
      this.dataDamdong = item;
      this.dialogDamdongVisible = true;
      // console.log(item)
    },
  },
};
</script>

<style lang="scss" scoped>
</style>

<style lang="scss">
.track-page-notify-detail {
  line-height: initial;
  .el-form-item {
    margin-bottom: 0px;
  }
  .el-input input {
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    border: solid 1px #9999;
  }
  .el-icon-camera-solid {
    font-size: 25px;
    color: #9a9a9a;
    position: relative;
    top: -50px;
    left: 54px;
    background: #dfdfdf;
    border-radius: 50%;
    padding: 8px;
    border: 1px solid white;
  }
  .vehicle {
    text-align: center;
    padding-top: 25px;
    img {
      border-radius: 10px;
      max-width: 100%;
    }
  }
  .item-left {
    width: 48%;
    float: left;
    margin-right: 2%;
  }
  .item-right {
    width: 48%;
    float: left;
    margin-left: 2%;
  }
  .block-item {
    width: 100%;
    float: left;
  }
  .el-dialog__header {
    padding: 0;
    background: #006fe3;
    height: 40px;
    line-height: 40px;
    text-align: center;
    .el-dialog__title {
      color: white;
    }
    .el-icon-close {
      color: white;
      font-size: 22px;
      top: -10px;
      position: relative;
    }
  }
  .el-dialog__body {
    padding: 0px 20px;
    .el-form-item__label {
      padding-bottom: 0;
      font-size: 14px;
      color: #363030;
      font-weight: 500;
    }
  }
  .el-dialog__footer {
    clear: both;
    padding-bottom: 25px;
    .el-button--primary {
      background: #1f7ff5;
      height: 40px;
      border-radius: 5px;
      width: 147px;
      text-transform: uppercase;
      font-weight: bold;
      border-color: #1f7ff5;
    }
    .el-button--danger {
      background: #9e9e9e;
      height: 40px;
      border-radius: 5px;
      width: 147px;
      text-transform: uppercase;
      font-weight: bold;
      border-color: #9e9e9e;
      float: left;
    }
  }

  .action {
    margin-top: 40px;
    .el-button--primary {
      background: #64789a;
      border: initial;
      border-radius: 4px;
      width: 147px;
      height: 40px;
    }
    .el-button--success {
      background: #ff6161;
      border: initial;
      border-radius: 4px;
      width: 147px;
      height: 40px;
      float: right;
    }
  }

  .el-table th > .cell {
    text-align: left;
  }
  .el-table tr > th:first-child .cell {
    text-align: center;
  }
  .el-table th {
    color: black;
    font-size: 14px;
  }
  .el-table td {
    color: black;
    font-size: 14px;
  }
  .el-table tr td:first-child {
    text-align: center;
  }
  .el-table td:first-child .cell {
    display: inline-block;
  }
  .filter-container {
    padding-bottom: 20px;
  }
  tbody {
    tr {
      cursor: pointer;
    }
    td {
      padding: 10px 0 !important;
      .full-image {
        --widthDia: calc(100% - 267px);
        left: 15px !important;
        top: 100px !important;
        width: calc(var(--widthDia) * 58 / 100) !important;
      }
    }
  }
  .detail-plate-track {
    .el-dialog {
      margin-top: 0 !important;
    }
  }
  .list-site-go .item span {
    color: #1f7ff5;
    display: inline-block;
    border: 1px solid #1f7ff5;
    width: 27px;
    height: 27px;
    text-align: center;
    line-height: 27px;
    border-radius: 50%;
    margin-right: 14px;
  }
}
.notify-page {
  .btn-edit {
    border-radius: 2px;
  }
  #select-all-delete {
    clear: both;
    height: 63px;
    line-height: 63px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ff4646;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    .el-icon-close {
      font-size: 25px;
      margin-left: 20px;
      margin-right: 35px;
      position: relative;
      top: 4px;
      cursor: pointer;
    }
    button {
      background: #e00000;
      border: initial;
      border-radius: 5px;
      float: right;
      display: inline-block;
      margin-top: 15px;
      margin-right: 15px;
    }
  }
  .diag-damdong {
    .el-dialog {
      margin-top: 68px !important;
    }
    .el-dialog__header {
      padding: 10px 19px;
      background: #006fe3;
      h5 {
        line-height: 28px;
        margin-top: 0;
        margin-bottom: 0;
        padding-right: 20px;
        font-size: 15px;
        color: white;
      }
      .el-icon-close {
        color: white;
        font-size: 19px;
        position: relative;
        top: -5px;
      }
    }
    .el-dialog__body {
      line-height: initial;
      .content {
        margin-top: 15px;
        color: black;
        font-size: 16px;
        line-height: 25px;
      }
    }
  }
  .action {
    margin-top: 40px;
    .el-button--primary {
      background: #64789a;
      border: initial;
      border-radius: 4px;
      width: 147px;
      height: 40px;
    }
    .el-button--success {
      background: #ff6161;
      border: initial;
      border-radius: 4px;
      width: 147px;
      height: 40px;
      float: right;
    }
  }
  .el-table th > .cell {
    text-align: left;
  }
  .el-table th {
    color: black;
    font-size: 14px;
  }
  .el-table td {
    color: black;
    font-size: 14px;
  }
  .el-table td:first-child .cell {
    display: inline-block;
  }
  .filter-container {
    padding-bottom: 20px;
  }
  tbody {
    tr {
      cursor: pointer;
    }
  }
  .svg-icon {
    /* width: 1em; */
    height: 42px;
    width: 42px;
  }
  .search-block {
    display: inline-block;
    .search {
      float: left;
      width: 190px;
    }
    .filter-date {
      float: left;
      width: 350px;
      margin-left: 4px;
    }
    .type {
      float: left;
      width: 250px;
      margin-left: 4px;
    }
    button {
      background: #1f7ff5;
      border-radius: 4px;
      height: 36px !important;
      width: 113px;
      margin-left: 12px;
      border-color: #1f7ff5;
      span {
        font-size: 15px;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
}
</style>
