<template>
  <div class="app-container claim site-page config-page">
    <!-- Filter -->
    <template>
      <div id="site-table">
        <div class="filter-container" v-if="multipleSelection.length == 0">
          <template>
            <div class="search-block">
              <el-input
                class="search"
                placeholder=""
                prefix-icon="el-icon-search"
                v-model="searchKeyword"
                @keyup.enter.native="handleFilter()"
              >
              </el-input>
              <el-button v-if="canCreate" type="primary" @click="handleCreate()"
                ><i class="el-icon-plus"></i> Thêm mới</el-button
              >
            </div>
          </template>
        </div>
        <div id="select-all-delete" v-if="multipleSelection.length > 0">
          <i class="el-icon-close" @click="closeDelete()"></i>
          <span v-if="multipleSelection.length < 10"
            >0{{ multipleSelection.length }}</span
          ><span v-else>{{ multipleSelection.length }}</span> mục được chọn
          <el-button
            type="danger"
            @click="destroyMulti()"
            :loading="loading_delete_all"
            v-if="canDelete"
            ><i class="el-icon-delete"></i> Xóa</el-button
          >
        </div>
        <el-table
          ref="multipleTable"
          :data="groupCameraList"
          style="width: 100%"
          @selection-change="handleSelectionChange"
          :row-class-name="tableRowClassName"
          @row-click="rowClicked"
        >
          <el-table-column type="selection" width="55"> </el-table-column>

          <el-table-column label="STT" :width="(query.page * query.size).toString().length * 10 + 30">
            <template slot-scope="scope">
              <span>{{
                (query.page - 1) * query.size + scope.$index + 1
              }}</span>
            </template>
          </el-table-column>

          <el-table-column label="Tên nhóm thiết bị">
            <template slot-scope="scope">
              <span>{{ scope.row.name }}</span>
            </template>
          </el-table-column>

          <el-table-column label="Định danh">
            <template slot-scope="scope">
              <span>{{ scope.row.code }}</span>
            </template>
          </el-table-column>

          <el-table-column label="Mô tả">
            <template slot-scope="scope">
              <span>{{ scope.row.description }}</span>
            </template>
          </el-table-column>
        </el-table>
        <!-- Phân trang -->
        <p style="clear: both"></p>
        <div style="display: inline-block; padding-top: 13px">
          Tổng số nhóm camera: <strong>{{ total }}</strong>
        </div>
        <pagination
          v-show="total > query.size"
          :total="total"
          :page.sync="query.page"
          :layout="layout"
          :limit.sync="query.size"
          @pagination="getList"
        />
      </div>
      <div id="detail-site" style="width: 0">
        <i class="el-icon-close" @click="closeDetail()"></i>
        <template v-if="groupCameraDetail">
          <template>
            <div class="item-label">Tên</div>
            <div class="item-text">{{ groupCameraDetail.name }}</div>
          </template>

          <template>
            <div class="item-label">Định danh</div>
            <div class="item-text">{{ groupCameraDetail.code }}</div>
          </template>

          <template>
            <div class="item-label">Mô tả</div>
            <div class="item-text">{{ groupCameraDetail.description }}</div>
          </template>

          <template>
            <div class="item-label">Số điểm giám sát</div>
            <div class="item-text">{{ groupCameraDetail.numberSite }}</div>
          </template>

          <template>
            <div class="item-label">Số thiết bị giám sát</div>
            <div class="item-text">{{ groupCameraDetail.numberCamera }}</div>
          </template>
          <template>
            <div class="item-label">Người tạo</div>
            <div class="item-text">{{ groupCameraDetail.createdBy }}</div>
          </template>
          <template>
            <div class="item-label">Ngày tạo</div>
            <div class="item-text">{{ groupCameraDetail.createdDate }}</div>
          </template>
          <template>
            <div class="item-label">Sửa lần cuối</div>
            <div class="item-text">{{ groupCameraDetail.modifiedDate }}</div>
          </template>

          <div class="action">
            <el-button
              v-if="canUpdate"
              type="primary"
              @click="handleEdit(groupCameraDetail)"
              ><i class="el-icon-edit"></i> Sửa</el-button
            >
            <el-button
              type="success"
              @click="destroy(groupCameraDetail)"
              :loading="loadingDeleteGroupCamera"
              v-if="canDelete"
              ><i class="el-icon-delete"></i> Xóa</el-button
            >
          </div>
        </template>
      </div>
    </template>

    <!-- Dialog Add -->
    <el-dialog
      title="Thêm nhóm thiết bị"
      :visible.sync="dialogAdd"
      width="722px"
      @close="closeDialog('addForm')"
      :close-on-click-modal="false"
    >
      <el-form
        :model="groupCameraInfo"
        :rules="rules"
        ref="addForm"
        label-position="top"
        label-width="100%"
      >
        <div class="block-item">
          <div class="item-left">
            <el-form-item label="Tên nhóm" prop="name">
              <el-input
                maxlength="255"
                @blur="trimInputValueName(groupCameraInfo.name)"
                v-model="groupCameraInfo.name"
              ></el-input>
            </el-form-item>

            <el-form-item label="Định danh" prop="code">
              <el-input
                maxlength="255"
                @blur="trimInputValueCode(groupCameraInfo.code)"
                v-model="groupCameraInfo.code"
              ></el-input>
            </el-form-item>
            <el-form-item label="Mô tả" prop="description">
              <el-input
                maxlength="500"
                type="textarea"
                v-model="groupCameraInfo.description"
              ></el-input>
            </el-form-item>
          </div>

          <div class="item-right">
            <div class="site-camera-add">
              <div class="search-block">
                <el-input
                  class="search"
                  placeholder=""
                  prefix-icon="el-icon-search"
                  v-model="filterText"
                >
                </el-input>
              </div>
              <div class="site-list">
                <TreeEl
                  node-key="id"
                  icon-class="el-icon-arrow-right"
                  :data="siteList"
                  emptyText="Không có dữ liệu!"
                  ref="tree"
                  show-checkbox
                  :expand-on-click-node="false"
                  :filter-node-method="filterNode"
                  @check="handleCheckChange"
                >
                  <span class="custom-tree-node" slot-scope="{ node, data }">
                    <span class="icon-folder">
                      <div v-if="data.type !== 'file'">
                        <svg-icon
                          icon-class="folder"
                          class="el-icon-folder-opened"
                        />
                        <span
                          class="icon-folder_text"
                          style="padding-left: 5px"
                          >{{ data.name }}</span
                        >
                      </div>
                      <template v-if="data.type === 'file'"
                        >{{ node.label }}
                        <span class="icon-folder_text">{{ node.name }}</span>
                      </template>
                    </span>
                  </span>
                </TreeEl>
              </div>
            </div>
          </div>
        </div>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="danger" @click="dialogAdd = false" style="float: left"
          >Thoát</el-button
        >
        <el-button
          type="primary"
          v-if="canCreate"
          @click="addgroupCamera()"
          :loading="loadinggroupCamera"
          >Lưu</el-button
        >
      </div>
    </el-dialog>

    <!-- Dialog Edit -->
    <el-dialog
      title="Sửa nhóm thiết bị"
      :visible.sync="dialogEdit"
      width="722px"
      :close-on-click-modal="false"
    >
      <el-form
        :model="groupCameraInfo"
        :rules="rules"
        ref="editForm"
        label-position="top"
        label-width="200px"
      >
        <div class="block-item">
          <div class="item-left">
            <el-form-item label="Tên nhóm" prop="name">
              <el-input
                maxlength="255"
                @blur="trimInputValueName(groupCameraInfo.name)"
                v-model="groupCameraInfo.name"
              ></el-input>
            </el-form-item>

            <el-form-item label="Định danh" prop="code">
              <el-input
                @blur="trimInputValueCode(groupCameraInfo.code)"
                v-model="groupCameraInfo.code"
              ></el-input>
            </el-form-item>
            <el-form-item label="Mô tả" prop="description">
              <el-input
                maxlength="500"
                type="textarea"
                v-model="groupCameraInfo.description"
              ></el-input>
            </el-form-item>
          </div>

          <div class="item-right">
            <div class="site-camera-add">
              <div class="search-block">
                <el-input
                  class="search"
                  placeholder=""
                  prefix-icon="el-icon-search"
                  v-model="filterText"
                >
                </el-input>
              </div>
              <div class="site-list">
                <TreeEl
                  node-key="id"
                  icon-class="el-icon-arrow-right"
                  :data="siteList"
                  :default-checked-keys="groupCameraInfo.cameras.cameraList"
                  ref="tree"
                  emptyText="Không có dữ liệu!"
                  show-checkbox
                  :expand-on-click-node="false"
                  @check="handleCheckChangeEdit"
                  :filter-node-method="filterNode"
                >
                  <span class="custom-tree-node" slot-scope="{ node, data }">
                    <span class="icon-folder">
                      <div v-if="data.type !== 'file'">
                        <svg-icon
                          icon-class="folder"
                          class="el-icon-folder-opened"
                        />
                        <span
                          class="icon-folder_text"
                          style="padding-left: 5px"
                          >{{ data.name }}</span
                        >
                      </div>
                      <template v-if="data.type === 'file'"
                        >{{ node.label }}
                        <span class="icon-folder_text">{{ node.name }}</span>
                      </template>
                    </span>
                  </span>
                </TreeEl>
              </div>
            </div>
          </div>
        </div>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="danger" @click="dialogEdit = false" style="float: left"
          >Thoát</el-button
        >
        <el-button
          type="primary"
          @click="editGroupCamera()"
          v-if="canUpdate"
          :loading="loadinggroupCamera"
          >CẬP NHẬT</el-button
        >
      </div>
    </el-dialog>
  </div>
</template>

<script>
import Pagination from "@/components/Pagination_custom";
import waves from "@/directive/waves"; // Waves directive
import { validFloat } from "@/utils/validate";
import { getData } from "@/api/process-unit-resources";
import { getGroupCameraPaginated } from "@/api/group-camera-resources";
import Resource from "@/api/resource";
import ImageCropper from "@/components/extra/ImageCropper";
import TreeEl from "@/components/TreeEl";
const groupCameraResource = new Resource("systemconfig/group-camera");

export default {
  components: { Pagination, ImageCropper, TreeEl },
  directives: { waves },
  data() {
    const validateLonLat = (rule, value, callback) => {
      if (!validFloat(value)) {
        callback(new Error("Vui lòng nhập đúng định dạng"));
      } else {
        callback();
      }
    };
    return {
      flag_active: null,
      rep: "",
      filterText: "",
      props: {
        label: "name",
        children: "zones",
        isLeaf: "leaf",
      },

      layout: "first, prev, pager, next, last",
      siteList: [],
      loading: true,
      loadinggroupCamera: false,
      loading_delete_all: false,
      loadingDeleteGroupCamera: false,
      dialogAdd: false,
      dialogEdit: false,
      multipleSelection: [],
      groupCameraInfo: {
        id: "",
        name: "",
        code: "",
        description: "",
        cameras: [],
      },
      statusLst: [
        {
          value: "ENABLE",
          label: "Hoạt động",
        },
        {
          value: "DISABLE",
          label: "Không hoạt động",
        },
      ],
      sitesList: [],
      groupCameraList: [],
      groupCameraDetail: {},
      total: 0,
      searchKeyword: null,
      query: {
        page: 0,
        size: 20,
        keyword: this.searchKeyword,
      },
      rules: {
        code: [
          {
            required: true,
            message: "Định danh là bắt buộc",
            trigger: "blur",
          },
          {
            min: 3,
            max: 50,
            message: "Độ dài phải lớn hơn 3 và nhỏ hơn 50",
            trigger: "blur",
          },
        ],
        name: [
          { required: true, message: "Tên nhóm là bắt buộc", trigger: "blur" },
          {
            min: 3,
            max: 50,
            message: "Độ dài phải lớn hơn 3 và nhỏ hơn 50",
            trigger: "blur",
          },
        ],
        description: [
          {
            min: 3,
            max: 500,
            message: "Độ dài phải lớn hơn 3 và nhỏ hơn 500",
            trigger: "blur",
          },
        ],
      },
      canRead: false,
      canCreate: false,
      canUpdate: false,
      canDelete: false,
    };
  },

  created() {
    this.canRead = this.$root.checkRole(this.$route.fullPath, "canRead");
    this.canCreate = this.$root.checkRole(this.$route.fullPath, "canCreate");
    this.canUpdate = this.$root.checkRole(this.$route.fullPath, "canUpdate");
    this.canDelete = this.$root.checkRole(this.$route.fullPath, "canDelete");
    this.getList();
  },
  watch: {
    filterText(val) {
      this.$refs.tree.filter(val);
    },
  },
  methods: {
    filterNode(value, data) {
      if (!value) return true;
      return data.label.toLowerCase().indexOf(value.toLowerCase()) !== -1;
    },
    async getList() {
      this.loading = true;
      if (this.searchKeyword) {
        this.searchKeyword = this.searchKeyword.trim();
      }
      let queryCustom = {
        page: this.query.page,
        size: this.query.size,
        search: this.searchKeyword ? this.searchKeyword.trim() : "",
      };
      if (this.query.page > 0) {
        queryCustom.page = this.query.page - 1;
      }

      const { data, total } = await getGroupCameraPaginated(queryCustom);
      if (data) {
        this.groupCameraList = data;
      } else {
        this.groupCameraList = [];
      }
      if (total) {
        this.total = total;
      } else {
        this.total = 0;
      }

      this.loading = false;
    },
    async getSiteList() {
      const { data } = await getData("/systemconfig/sites/camera-tree");
      this.siteList = data;
      this.siteList.map(function (val) {
        val.children = [];
        if (val.camTrees.length > 0) {
          val.camTrees.forEach(function (val1) {
            val.children.push({
              id: val1.id,
              label: val1.name,
              type: "file",
            });
          });
        }
        val.label = val.name;
      });
    },
    changeSiteList() {},
    closeDelete() {
      this.$refs.multipleTable.clearSelection();
      this.multipleSelection = [];
    },
    closeDetail() {
      document.getElementById("detail-site").style.display = "none";
      document.getElementById("detail-site").style.width = "0";
      document.getElementById("site-table").style.width = "calc(100%)";
    },
    async rowClicked(row) {
      this.flag_active = row.id;
      const { data } = await groupCameraResource.get(row.id);
      if (data) {
        this.groupCameraDetail = data;
        if (this.groupCameraDetail) {
          document.getElementById("site-table").style.width =
            "calc(100% - 445px)";
          setTimeout(function () {
            document.getElementById("detail-site").style.display = "block";
            document.getElementById("detail-site").style.width = "420px";
          }, 500);
        }
      } else {
        this.$message({
          message: "Nhóm camera không tồn tại",
          type: "error",
        });
        this.handleFilter();
      }
    },

    destroy(groupCamera) {
      this.$confirm("Bạn chắc chắn muốn xóa " + groupCamera.name + "?", "", {
        confirmButtonText: "Xác nhận",
        cancelButtonText: "Thoát",
        type: "warning",
      })
        .then(() => {
          this.loadingDeleteGroupCamera = true;
          groupCameraResource
            .destroy(groupCamera.id)
            .then((response) => {
              this.loadingDeleteGroupCamera = false;
              this.handleFilter();
              this.closeDetail();
              if (response.status == 200) {
                this.$message({
                  message: "Xóa thành công",
                  type: "success",
                });
              } else {
                this.$notify({
                  title: "Lỗi",
                  message: "Xóa thất bại",
                  type: "error",
                });
              }
              this.loadingDeleteGroupCamera = false;
            })
            .catch((err) => {
              this.loadingDeleteGroupCamera = false;
              console.log(err);
              this.$notify({
                title: "Lỗi",
                message: "Xóa thất bại",
                type: "error",
              });
            });
        })
        .catch(() => {});
    },

    destroyMulti() {
      this.$confirm("Bạn có chắc chắn muốn xóa lựa chọn này? ", "", {
        confirmButtonText: "Xác nhận",
        cancelButtonText: "Thoát",
        type: "warning",
      })
        .then(() => {
          this.loading_delete_all = true;
          let params = this.multipleSelection.map(function (val) {
            return val.id;
          });
          params = {
            idGroupCameraList: params,
          };
          groupCameraResource
            .destroyMulti(params)
            .then((response) => {
              this.handleFilter();
              this.loading_delete_all = false;
              if (response.status == 200) {
                this.$message({
                  type: "success",
                  message: "Xóa nhóm Camera thành công",
                });
              } else {
                this.$message({
                  type: "error",
                  message: "Có lỗi xảy ra, vui lòng thử lại sau!",
                });
              }
            })
            .catch((err) => {
              this.loading_delete_all = false;
              console.log(err);
              this.$message({
                type: "error",
                message: "Có lỗi xảy ra, vui lòng thử lại sau!",
              });
            });
        })
        .catch(() => {});
    },

    handleFilter() {
      this.query.page = 1;
      this.getList();
    },

    async handleCreate() {
      this.resetDialog();
      this.dialogAdd = true;
      await this.getSiteList();
    },

    async handleEdit(data) {
      let groupCameraDetail = await groupCameraResource.get(data.id);
      if (groupCameraDetail && groupCameraDetail.data) {
        this.groupCameraInfo = groupCameraDetail.data;
      } else {
        this.groupCameraInfo = data;
      }
      if (this.groupCameraInfo.cameras == null) {
        this.groupCameraInfo.cameras["cameraList"] = [];
      }
      this.dialogEdit = true;
      await this.getSiteList();
      // console.log(this.groupCameraInfo);
      this.$nextTick(() => {
        this.$refs["editForm"].clearValidate();
      });
    },

    addgroupCamera() {
      this.$refs.addForm.validate((valid) => {
        if (valid) {
          const params = {
            code: this.groupCameraInfo.code.trim(),
            name: this.groupCameraInfo.name.trim(),
            description: this.groupCameraInfo.description.trim(),
            cameras: this.groupCameraInfo.cameras,
          };
          this.loadinggroupCamera = true;
          groupCameraResource
            .store(params)
            .then((response) => {
              if (response.status === 200 || response.status === 201) {
                this.dialogAdd = false;
                this.handleFilter();
                this.resetDialog();
                this.closeDetail();
                this.$message({
                  message: "Thêm mới thành công",
                  type: "success",
                });
              }
              this.loadinggroupCamera = false;
            })
            .catch(() => {
              this.loadinggroupCamera = false;
              this.$notify({
                title: "Lỗi",
                message: "Thêm mới thất bại",
                type: "error",
              });
            });
        } else {
          return false;
        }
      });
    },

    editGroupCamera() {
      this.$refs.editForm.validate((valid) => {
        if (valid) {
          var a = this.groupCameraInfo;
          const params = {
            code: this.groupCameraInfo.code,
            name: this.groupCameraInfo.name,
            description: this.groupCameraInfo.description,
            cameras: this.groupCameraInfo.cameras.cameraList,
          };
          this.loadinggroupCamera = true;
          groupCameraResource
            .update(this.groupCameraInfo.id, params)
            .then((response) => {
              if (response.status === 200 || response.status === 201) {
                this.dialogEdit = false;
                this.handleFilter();
                this.closeDetail();
                this.$message({
                  message: "Sửa thành công",
                  type: "success",
                });
              }
              this.loadinggroupCamera = false;
            })
            .catch(() => {
              this.loadinggroupCamera = false;
              this.$notify({
                title: "Lỗi",
                message: "Sửa thất bại",
                type: "error",
              });
            });
        } else {
          return false;
        }
      });
    },

    resetDialog() {
      this.groupCameraInfo = {
        id: "",
        name: "",
        code: "",
        description: "",
        cameras: [],
      };
    },
    closeDialog(formName) {
      this.$refs[formName].clearValidate();
      this.$refs[formName].resetFields();
    },

    handleSelectionChange(val) {
      this.multipleSelection = val;
    },
    handleCheckChange(data) {
      if (data.type == "file") {
        let indexOf = this.groupCameraInfo.cameras.indexOf(data.id);
        if (indexOf != -1) {
          this.groupCameraInfo.cameras.splice(indexOf, 1);
        } else {
          this.groupCameraInfo.cameras.push(data.id);
        }
      } else {
        if (data.children.length > 0) {
          for (let item of data.children) {
            let indexOf = this.groupCameraInfo.cameras.indexOf(item.id);
            if (indexOf != -1) {
              this.groupCameraInfo.cameras.splice(indexOf, 1);
            } else {
              this.groupCameraInfo.cameras.push(item.id);
            }
          }
        }
      }
    },
    handleCheckChangeEdit(data, checked) {
      console.log('handleCheckChangeEdit => data: ' + JSON.stringify(data));
      console.log('handleCheckChangeEdit => checked: ' + JSON.stringify(checked));
      if (data.type == "file") {
        let indexOf = this.groupCameraInfo.cameras.cameraList.indexOf(data.id);
        if (indexOf != -1) {
          this.groupCameraInfo.cameras.cameraList.splice(indexOf, 1);
        } else {
          this.groupCameraInfo.cameras.cameraList.push(data.id);
        }
      } else {
        if (
          checked.checkedNodes &&
          checked.checkedNodes.length > 0 &&
          data.children.length > 0
        ) {
          for (let item of data.children) {
            let indexOf = this.groupCameraInfo.cameras.cameraList.indexOf(
              item.id
            );
            if (indexOf != -1) {
              this.groupCameraInfo.cameras.cameraList.splice(indexOf, 1);
            } else {
              this.groupCameraInfo.cameras.cameraList.push(item.id);
            }
          }
        }
      }
      console.log('handleCheckChangeEdit => cameraList: ' + this.groupCameraInfo.cameras.cameraList);
    },
    trimInputValueName(row) {
      this.groupCameraInfo.name = this.groupCameraInfo.name.trim();
    },
    trimInputValueCode(row) {
      this.groupCameraInfo.code = this.groupCameraInfo.code.trim();
    },
    tableRowClassName(row) {
      if (row.row.id == this.flag_active) {
        return "active-row";
      }
      return "";
    },
    // END
  },
};
</script>

<style lang="scss" scoped>
.custom-tree-node {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 8px;
}
.site-page {
  .item-mid {
    width: 96%;
    float: left;
    margin-left: 2%;
  }
}
.el-tree-node__expand-icon {
  font-size: 13px;
  font-weight: bold;
  color: #222;
}
.site-camera-add .el-tree-node__children {
  .el-icon-arrow-right {
    display: none;
  }
  .el-tree-node__content {
    padding-left: 25px !important;
  }
}
</style>

<style lang="scss">
.site-list {
  .el-tree-node__children {
    padding-left: 20px;
  }
}
.video-threads-info-process {
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  label.el-checkbox {
    margin: 15px;
    display: block;
  }
  height: 300px;
  width: 52% !important;
  overflow-y: scroll;
}
/deep/i.el-tag__close.el-icon-close {
  margin-top: -10px;
  margin-right: -15px;
}
.site-camera-add {
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  padding-left: 10px;
  padding-bottom: 15px;
  padding-right: 10px;
  .el-tree-node__content {
    background: initial;
  }
  .el-tree-node__content {
    padding-left: 0 !important;
    margin-top: 10px;
  }
  .icon-folder_text {
    position: relative;
    top: -4px;
    font-size: 14px;
    color: #333;
  }
  .el-radio__label {
    font-weight: normal;
  }
  .el-icon-folder-opened {
    font-size: 25px;
    margin-right: 5px;
    color: #eac282;
  }
  .search-block {
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 15px;
    .search input {
      width: 100%;
      height: 36px !important;
      line-height: 36px !important;
      border: solid 1px #9999;
      border-radius: 5px;
      padding-left: 40px;
      width: 100% !important;
    }
  }
  /*max-height: 250px;
    overflow-y: scroll;
    overflow-x: hidden;*/
}
#detail-user {
  .item-label {
    margin-top: 15px;
  }
}
.site-page {
  .el-icon-camera-solid {
    font-size: 25px;
    color: #9a9a9a;
    position: relative;
    top: -50px;
    left: 54px;
    background: #dfdfdf;
    border-radius: 50%;
    padding: 8px;
    border: 1px solid white;
  }
  .img_avatar {
    text-align: center;
    padding-top: 25px;
    img {
      border-radius: 50%;
    }
  }
  .el-dialog {
    margin-top: 80px !important;
  }
  .item-left {
    width: 48%;
    float: left;
    margin-right: 2%;
  }
  .item-right {
    width: 48%;
    float: left;
    margin-left: 2%;
  }
  .block-item {
    width: 100%;
    float: left;
  }
  .el-dialog__header {
    padding: 0;
    background: #006fe3;
    height: 40px;
    line-height: 40px;
    text-align: center;
    .el-dialog__title {
      color: white;
    }
    .el-icon-close {
      color: white;
      font-size: 22px;
      top: -10px;
      position: relative;
    }
  }
  .el-dialog__body {
    .el-form-item__label {
      padding-bottom: 0;
      font-size: 14px;
      color: #363030;
      font-weight: 300;
    }
  }
  .el-dialog__footer {
    clear: both;
    padding-bottom: 25px;
    .el-button--primary {
      background: #1f7ff5;
      height: 40px;
      border-radius: 5px;
      width: 147px;
      text-transform: uppercase;
      font-weight: bold;
      border-color: #1f7ff5;
    }
    .el-button--danger {
      background: #9e9e9e;
      height: 40px;
      border-radius: 5px;
      width: 147px;
      text-transform: uppercase;
      font-weight: bold;
      border-color: #9e9e9e;
    }
  }
  #select-all-delete {
    height: 63px;
    line-height: 63px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ff4646;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    .el-icon-close {
      font-size: 25px;
      margin-left: 20px;
      margin-right: 35px;
      position: relative;
      top: 4px;
      cursor: pointer;
    }
    button {
      background: #e00000;
      border: initial;
      border-radius: 5px;
      float: right;
      display: inline-block;
      margin-top: 15px;
      margin-right: 15px;
    }
  }
  .action {
    margin-top: 40px;
    .el-button--primary {
      background: #64789a;
      border: initial;
      border-radius: 4px;
      width: 147px;
      height: 40px;
    }
    .el-button--success {
      background: #ff6161;
      border: initial;
      border-radius: 4px;
      width: 147px;
      height: 40px;
      float: right;
    }
    .el-button--info {
      background: #26c6da;
      border: initial;
      border-radius: 4px;
      width: 147px;
      height: 40px;
      float: right;
    }
  }
  #detail-site {
    position: relative;
    /* transition: width 1s;
      -moz-transition: width 1s;
      -webkit-transition: width 1s;
      -o-transition: width 1s;*/
    width: 0;
    background: white;
    padding: 25px;
    float: left;
    margin-left: 25px;
    display: none;
    overflow: hidden;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    .avatar {
      text-align: center;
      margin-bottom: 25px;
      margin-top: 25px;
      img {
        border-radius: 50%;
      }
    }
    .item-label {
      color: black;
      font-weight: bold;
      font-size: 14px;
      margin-bottom: 10px;
    }
    .item-text {
      color: black;
      font-size: 16px;
      margin-bottom: 20px;
      opacity: 0.6;
    }
    .el-icon-close {
      background: #e3e3e3;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      text-align: center;
      line-height: 30px;
      color: #878787;
      font-size: 16px;
      position: absolute;
      right: 10px;
      top: 10px;
      cursor: pointer;
    }
  }
  .el-table th > .cell {
    text-align: left;
  }
  .el-table tr > th:first-child .cell {
    text-align: center;
  }
  .el-table th {
    color: black;
    font-size: 14px;
  }
  .el-table td {
    color: black;
    font-size: 14px;
  }
  .el-table tr td:first-child {
    text-align: center;
  }
  .el-table td:first-child .cell {
    display: inline-block;
  }
  .filter-container {
    padding-bottom: 20px;
  }
  tbody {
    tr {
      cursor: pointer;
    }
  }
  .search-block {
    .search {
      display: inline;
      input {
        width: 272px;
        height: 36px !important;
        line-height: 36px !important;
        border: solid 1px #9999;
        border-radius: 5px;
        padding-left: 40px;
      }
      .el-icon-search {
        line-height: 16px;
        font-size: 19px;
        color: #666;
      }
      span {
        left: 10px;
      }
    }
    button {
      float: right;
      background: #1f7ff5;
      border-radius: 4px;
      height: 40px !important;
      width: 147px;
      margin-left: 15px;
      border-color: #1f7ff5;
      span {
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
}
</style>
