<template>
  <div class="detail-site">
    <div class="info-position">
      <div class="info-general">
        <h4>
          <el-row :gutter="10">
            <el-col :span="22">{{ detailSiteData.siteName }}</el-col>
            <el-col :span="2"
              ><i
                @click="closePopup()"
                style="float: right; cursor: pointer"
                class="el-icon-close"
              ></i>
              <span></span
            ></el-col>
          </el-row>
        </h4>
        <div class="content">
          <div class="item">
            <div class="left">
              <div>Lưu lượng</div>
              <div class="number success">
                {{ detailSiteData.statisticTraffic }}
              </div>
            </div>
            <div class="right">
              <div>Vi phạm</div>
              <div class="number err">
                {{ detailSiteData.statisticViolation }}
              </div>
            </div>
          </div>
          <div class="item status">
            Tình trạng:
            <b v-if="detailSiteData.statusTrafficName == 0">Thông thoáng</b
            ><b v-else>Mật độ cao</b>
          </div>
          <div class="item status" style="border-bottom: initial">
            Thiết bị:
            <b
              ><span v-if="detailSiteData.camCheckStatusList">{{
                detailSiteData.camCheckStatusList.length
              }}</span
              ><span v-else>0</span> thiết bị</b
            >
            <div class="group-img" v-if="detailSiteData.camCheckStatusList">
              <template v-for="(val, ind) in detailSiteData.camCheckStatusList">
                <el-popover
                  placement="right-start"
                  width="350"
                  popper-class="video-view-map"
                  trigger="click"
                  visible-arrow="false"
                >
                  <!-- <video-player class="video-player-box"
					                 ref="videoPlayer"
					                 :options="{
					                 	muted: false,
							          	autoplay: true,
								        sources: [{
								            type: 'application/x-mpegURL',
								            src: val.urls.hlsUrl
								        }],
					             	 }"
					                 :playsinline="true">
								</video-player> -->
                  <!-- xem video -->
                  <template v-if="val.urls">
                    <VideoCam :link="val.urls.hlsUrl"></VideoCam>
                  </template>
                  <!-- <template>
		                          <div class="live-stream" v-if="detectFormatVideo(val.urls.hlsUrl) == 'mjpg'">
		                            <div class="image" v-viewer><img :src="val.urls.hlsUrl" alt="" /></div>
		                          </div>
		                          <div class="live-stream" v-else-if="detectFormatVideo(val.urls.hlsUrl) == 'm3u8'">
		                            <video-player  class="video-player-box"
		                                     ref="videoPlayer"
		                                    :options="{
		                                      muted: true,
		                                      autoplay: true,
		                                      sources: [{
		                                        type: 'application/x-mpegURL',
		                                        src: val.urls.hlsUrl
		                                      }],
		                                     }"
		                                    :playsinline="true">
		                          </video-player>
		                          </div>
		                          <div class="live-stream" v-else-if="detectFormatVideo(val.urls.hlsUrl) == 'mp4'">
		                            <video-player  class="video-player-box"
		                                    ref="videoPlayer"
		                                    :options="{
		                                      muted: true,
		                                      autoplay: true,
		                                      sources: [{
		                                        type: 'video/mp4',
		                                        src: val.urls.hlsUrl
		                                      }],
		                                     }"
		                                    :playsinline="true">
		                          </video-player>
		                          </div>
		                          <div class="live-stream" v-else>
		                            <video-player class="video-player-box"
		                                    ref="videoPlayer"
		                                    :options="{
		                                      muted: true,
		                                      autoplay: true,
		                                      sources: [{
		                                        type: 'video/mp4',
		                                        src: val.urls.hlsUrl
		                                      }],
		                                     }"
		                                    :playsinline="true">
		                          </video-player>
		                          </div>
		                        </template> -->
                  <!-- ket thuc -->
                  <el-button slot="reference" @click="showVideo(ind)">
                    <el-tooltip
                      class="item"
                      effect="light"
                      :content="val.name"
                      placement="top-start"
                    >
                      <el-button v-if="val.checkCam"
                        ><img :src="cam_blue" alt=""
                      /></el-button>
                      <el-button v-else
                        ><img :src="cam_red" alt=""
                      /></el-button>
                    </el-tooltip>
                  </el-button>
                </el-popover>
              </template>
            </div>
          </div>
          <div class="monitor-position">
            <router-link
              :to="
                '/monitor/camera?site_id=' +
                detailSiteData.siteId +
                '&site_name=' +
                detailSiteData.siteName
              "
              ><span>Giám sát vị trí <i class="el-icon-right"></i></span
            ></router-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script type="text/javascript">
import cam_blue from "@/assets/images/cam_blue.png";
import cam_red from "@/assets/images/cam_red.png";
import VideoCam from "@/components/Video";
export default {
  components: { VideoCam },
  props: {
    detailSiteData: {
      type: Object,
      default: {},
    },
  },
  data() {
    return {
      cam_red: cam_red,
      cam_blue: cam_blue,
    };
  },
  created() {
    // console.log(this.detailSiteData);
  },
  methods: {
    showVideo(ind) {
      if (ind == 0) {
        ind = 0;
      } else {
        ind = ind % 4;
      }
      let left = 240 - ind * 62;
      document.getElementsByClassName("video-view-map")[0].style.marginLeft =
        left + "px";
      // document.getElementsByClassName("video-view-map")[0].style.marginTop = '200px'
    },
    closePopup: function () {
      this.$emit("closeClick");
    },
    detectFormatVideo(link) {
      return this.$root.detectFormatVideo(link);
    },
  },
};
</script>
