<template>
    <div id="container-map">
        <div id="mapRoute"></div>
        <div id="popup" class="ol-popup" style="visibility: hidden"></div>
    </div>
</template>

<script>
import "ol/ol.css";
import Map from "ol/Map";
import Feature from "ol/Feature";
import Overlay from "ol/Overlay";
import View from "ol/View";
import { defaults as defaultControls, FullScreen } from "ol/control";
import { Tile as TileLayer, Vector as VectorLayer } from 'ol/layer';
import { Vector as VectorSource } from 'ol/source';
import XYZ from 'ol/source/XYZ';
import Point from 'ol/geom/Point';
import { Style, Icon, Text, Fill } from 'ol/style';
import { fromLonLat } from 'ol/proj';
import TileWMS from 'ol/source/TileWMS';
import config from '@/config.js';

import iconPoint from '@/assets/images/icon_map_route.png';
import icon_map from '@/assets/images/icon_map_monitor.png';
import icon_map_warning from '@/assets/images/icon_map_monitor_warning.png';

export default {
    name: "map-vehicle-route",
    props: {
        sites: {
            type: Array,
            default: function() {
                return [];
            }
        },
    },
    data() {
        return {
            mapInstance: null,
            popup: null,
            selectedIcon: null,
            zoom: 16,
            minZoom: 4,
            centerLongitude: config.map_location_default.longitude,
            centerLatitude: config.map_location_default.latitude,
        };
    },
    created() {
        // this.centerLongitude = this.sites[0].site.longitude
        // this.centerLatitude = this.sites[0].site.latitude
        console.log(this.sites)
    },
    mounted() {
        // console.log(this.sites)
    },
    methods: {
        initMap(googleMapLayer, iconLayer) {
            document.getElementById("mapRoute").innerHTML = "";
            let divContainerMap = document.getElementById("container-map");
            let popTag = document.getElementById('popup');
            if (!popTag) {
                let divPopup = document.createElement("div");
                divPopup.classList.add("ol-popup");
                divPopup.setAttribute('id', 'popup');
                divPopup.style.visibility = 'hidden';
                divContainerMap.appendChild(divPopup);
            }
           if(process.env.VUE_APP_USE_GOOGLE_MAP != "true"){
            return new Map({
              target: "mapRoute",
              controls: defaultControls().extend([new FullScreen()]),

              layers: [
                // googleMapLayer,
                new TileLayer({
                  source: new TileWMS({
                    url: process.env.VUE_APP_USE_MAP_OFFLINE_LINK,
                    params: {'LAYERS': process.env.VUE_APP_USE_MAP_OFFLINE_LAYERS, 'TILED': true},
                    serverType: 'geoserver',
                    // Countries have transparency, so do not fade tiles:
                    transition: 0,
                  }),
                }),
                iconLayer
              ],

              view: new View({
                center: fromLonLat([this.centerLongitude, this.centerLatitude]),
                zoom: this.zoom,
                minZoom: this.minZoom,
              }),
            });
          }else{
            return new Map({
              target: "mapRoute",
              controls: defaultControls().extend([new FullScreen()]),
              layers: [
                googleMapLayer,
                iconLayer
              ],

              view: new View({
                center: fromLonLat([this.centerLongitude, this.centerLatitude]),
                zoom: this.zoom,
                minZoom: this.minZoom,
              }),
            });
          }
        },

        createGoogleMapLayer() {
            return new TileLayer({
                source: new XYZ({ url: 'http://mt0.google.com/vt/lyrs=m&hl=en&x={x}&y={y}&z={z}&s=Ga' })
            });
        },
        isValidLngLat(lng, lat) {
            if (lng < -180 || lng > 180) {
                return false;
            } else if (lat < -90 || lat > 90) {
                return false;
            }
            return true;
        },

        createIconLayer(icons) {
            let vectorSource = new VectorSource({
                features: []
            });
            if (icons.length) {
                icons.forEach((icon, index) => {
                    let idx = index + 1;
                    let styleText = new Text({
                        text: idx.toString(),
                        scale: 1.5,
                        offsetX: 0,
                        offsetY: -12,
                        fill: new Fill({
                            color: "#ffffff"
                        })
                    });
                    if (this.isValidLngLat(icon.longitude, icon.latitude)) { // long, lat
                        let newFeature = new Feature({
                            geometry: new Point(fromLonLat([icon.longitude, icon.latitude])),
                            name: icon.id
                        });
                        let iconStyle = new Style({
                            image: new Icon({
                                anchor: [0.5, 0.75],
                                src: icon_map,
                                scale: 1.0
                            }),
                            // text: styleText
                        });
                        newFeature.setStyle(iconStyle);
                        vectorSource.addFeature(newFeature);
                    }
                })
            }
            return new VectorLayer({
                source: vectorSource
            });
        },
        getInfoRoute: function (sites) {
            let routeList = [];
            if (sites) {
                sites.forEach(route => {
                    let info = {
                        id: route.id,
                        siteName: route.name,
                        siteAddress: route.address,
                        cameraName: '',
                        startTime: '',
                        longitude: route.longitude,
                        latitude: route.latitude
                    };
                    routeList.push(info);
                });
            }
            return routeList;
        },
        showContentRoute(routeInfo) {
            return `
                <p>Vị trí: ${routeInfo.site.site_address}</p>
                <p>Thời gian: ${routeInfo.startTime}</p>
            `;
        },
        hiddenPopup() {
            this.popup.setPosition(undefined);
        },
        createOverLay() {
            let container = document.getElementById('popup');
            this.popup = new Overlay({
                element: container,
                autoPan: true,
                autoPanAnimation: {
                    duration: 250,
                }
            });
            return this.popup;
        },
        handlePointerMove(event) {
            let pixel = this.mapInstance.getEventPixel(event.originalEvent);
            let hit = this.mapInstance.hasFeatureAtPixel(pixel);
            this.mapInstance.getTargetElement().style.cursor = hit ? 'pointer' : '';
        },
        handleClickIcon(event) {
            this.selectedIcon = this.mapInstance.forEachFeatureAtPixel(event.pixel, (feature) => {
                return feature;
            });
            if (this.selectedIcon) {
                let coordinates = this.selectedIcon.getGeometry().getCoordinates();
                let typeSelectedFeature = this.selectedIcon.getGeometry().getType();
                if (typeSelectedFeature == 'Point') {
                    let selectedId = this.selectedIcon.get('name');
                    let routeInfo = this.sites.find(x => x.id == selectedId);
                    let element = document.getElementById('popup');
                    element.style.visibility = 'visible';
                    element.innerHTML = this.showContentRoute(routeInfo);
                    this.popup.setPosition(coordinates);
                } else {
                    this.hiddenPopup();
                }
            } else {
                this.hiddenPopup();
            }
        },

        renderMap() {
            let googleMapLayer = this.createGoogleMapLayer();
            let iconLayer = this.createIconLayer(this.getInfoRoute(this.sites));
            this.mapInstance = this.initMap(googleMapLayer, iconLayer);
            this.mapInstance.addOverlay(this.createOverLay());

            this.mapInstance.on('pointermove', this.handlePointerMove);
            this.mapInstance.on('click', this.handleClickIcon);
        }
    },
    mounted() {
        this.renderMap();
    },
};
</script>

<style lang="scss" scoped>
    #mapRoute {
        height: calc(100vh - 67px);
    }
</style>

<style>
    .ol-popup {
        position: absolute;
        min-width: 300px;
        background-color: white;
        -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
        filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
        padding: 12px;
        border-radius: 10px;
        border: 1px solid #ccc;
        bottom: 47px;
        left: -48px;
    }
    .ol-popup:after, .ol-popup:before {
        top: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }
    .ol-popup:after {
        border-top-color: white;
        border-width: 10px;
        left: 48px;
        margin-left: -10px;
    }
    .ol-popup:before {
        border-top-color: #cccccc;
        border-width: 11px;
        left: 48px;
        margin-left: -11px;
    }
</style>
