<template>
  <div>
    <section id="login-form-container">123123</section>
    <button class="btn" @click="handlePTZ('Up')">Top</button>
    <button class="btn" @click="handlePTZ('Left')">left</button>
    <button class="btn" @click="handlePTZ('Right')">Right</button>
    <button class="btn" @click="handlePTZ('Down')">Bottom</button>
    <button class="btn" @click="handlePTZ('ZoomIn')">ZoomIn</button>
     <button class="btn" @click="handlePTZ('ZoomOut')">ZoomOut</button>
     <button class="btn" @click="handlePTZ('Home')">Default</button>
     <p style="margin-top:15px"></p>
     <button class="btn" @click="playBackwardTrigger()">Trước</button>
     <button class="btn" @click="playForwardBtn(1)">Sau</button>
     <button class="btn" @click="exportImage()">export image</button>
     <button class="btn" @click="exportVideo()">export video</button>
     <button class="btn" @click="changeMultipleStreamsHandle()">Tua trước</button>
     <button class="btn" @click="changeMultipleStreamsHandleSau()">Tua sau</button>
    <section id="streams-container"></section>
  </div>
</template>
<script>
// import SDKModuleLoader from './Samples/lib/js/ModuleLoader.js';
// import  './Samples/lib/js/sdkLoader.js';
// import SDK from './XPMobileSDK'
// import * as Connection from './Lib/Connection.js';

// import SDK from './XPMobileSDK.js';
// import MultiCameraPlayback from './MultiCameraPlayback'

const XPMobileSDK = window.XPMobileSDK;
const XPMobileSDKSettings = window.XPMobileSDKSettings;

export default {
  components: {},
  data() {
    return {
		attachContainerClick:true,
    dataVideoConnection:[],
    currentDate: new Date().getTime(),
    playbackControllerId: null,
    timeStamp:null,
    videoConnection:null
	};
  },
  created() {
    this.init();
  },
  mounted() {},
  computed: {},
  methods: {
    async init() {
      //  await XPMobileSDK.initialize()
      console.log("start____________");
      await this.connectToServer();
      
    },

    async handleLoginDid(data){
      console.log("login success---------:",data)
      const container = document.getElementById("streams-container");
      this.connectionDidLogIn(container);
      this.createPlaybackController()
    },
    async connectToServer() {
      // Connect to the desired server (defaults to the current URL)
      let url = "https://103.21.151.160:8082";

      XPMobileSDKSettings.MobileServerURL = url;

      // if (lastObserver) {
      //   XPMobileSDK.removeObserver(lastObserver);
      // }
      const self = this;
      const lastObserver = {
        connectionDidConnect: self.connectionDidConnect,
        connectionDidLogIn: self.handleLoginDid,
        // connectionFailedToLogIn: self.connectionFailedToLogIn,
      };
      await this.delay(800);
      XPMobileSDK.addObserver(lastObserver);
      
      XPMobileSDK.connect(url);
    },

    async connectionDidConnect(data){
      console.log("test return connect:-------",data)
       await this.login();
    },
    viewData() {
      window.addEventListener("load", function () {
        var connectionDidLogIn = function () {
          var container = document.getElementById("streams-container");

          Application.connectionDidLogIn(container);
        };

        var params = {
          connectionDidLogIn: connectionDidLogIn,
        };

        LoginManager.loadAndLogin(params);
      });
    },

    playForwardBtn(speed){
       XPMobileSDK.changeMultipleStreams({
                PlaybackControllerId: this.playbackControllerId,
                Speed: typeof speed == 'number' ? speed : 1
            }, function (parameters) { });
    },

  changeMultipleStreamsHandle(time){
    this.playForwardBtn(0)
    this.currentDate = this.currentDate-5000
    const sel = this;
      XPMobileSDK.changeMultipleStreams({
                PlaybackControllerId: this.playbackControllerId,
                SeekType: "Time",
                Time: this.currentDate
            }, async (parameters)=> { 
              await this.delay(200);
              sel.playForwardBtn(1)});
    },

    changeMultipleStreamsHandleSau(time){
    this.playForwardBtn(0)
    this.currentDate = this.currentDate+5000
    if(this.currentDate >= new Date().getTime()){
      this.currentDate = new Date().getTime()
    }
    const sel = this;
      XPMobileSDK.changeMultipleStreams({
                PlaybackControllerId: this.playbackControllerId,
                SeekType: "Time",
                Time: this.currentDate
            }, async (parameters)=> { 
              await this.delay(200);
              sel.playForwardBtn(1)});
    },

      createPlaybackController() {
            XPMobileSDK.createPlaybackController(
				{
				    SeekType: 'Time',
				    Time: new Date().getTime()
				},
				this.createPlaybackControllerCallback,
				function (error) { });
        },

        onPlaybackEvents(playbackEvents) {
            
            if (playbackEvents & XPMobileSDK.library.ItemHeaderParser.PlaybackFlags.Stopped) {
                // onPlaybackStopped();
            }
            if (playbackEvents & XPMobileSDK.library.ItemHeaderParser.PlaybackFlags.Forward) {
                // onPlaybackForward();
            }
            if (playbackEvents & XPMobileSDK.library.ItemHeaderParser.PlaybackFlags.Backward) {
                // onPlaybackBackwards();
            }
        },

        onReceivedFrame(frame) {
            if (frame.hasPlaybackInformation) {
                this.onPlaybackEvents(frame.currentPlaybackEvents);
            }

            this.timeStamp = frame.timestamp;
            // updateTime(frame.timestamp);
        },

      createPlaybackControllerCallback(connection) {
            var connectionResponse = connection.response;
            this.videoConnection = connection;
            const videoConnection = connection;
            this.playbackControllerId = connection.response.parameters.PlaybackControllerId;
            const self1 = this;
            var videoConnectionObserver = {
                videoConnectionReceivedFrame: self1.onReceivedFrame,
                videoConnectionTemporaryDown: function () { },
                videoConnectionRecovered: function () { },
                videoConnectionNotAvailable: function () { }
            };

            videoConnection.addObserver(videoConnectionObserver);

            if (videoConnection.getState() == XPMobileSDK.library.VideoConnectionState.notOpened) {
                videoConnection.open();
            }

        },



    async login() {
      XPMobileSDK.login("Administrator", "Elcom@2021", "ActiveDirectory", {
        SupportsAudioIn: "Yes",
        SupportsAudioOut: "Yes",
      });
    },

    delay(ms) {
      return new Promise((res) => setTimeout(res, ms));
    },

    handlePTZ(direct){
      // const param ={
      //   CameraId:"4aa3605c-c07d-46e6-b7d2-ce9832de081d",
      //   videoConnection: this.dataVideoConnection[0],
      //   direction: direct
      // }
      // debugger
      const temConnect = this.dataVideoConnection[0];
      temConnect.cameraId='a3e7cc6c-b496-46cd-bba2-85ebaee59c4e'
      XPMobileSDK.ptzMove(temConnect,direct)
    },

    exportImage(){
      const param ={
        cameraId:'a3e7cc6c-b496-46cd-bba2-85ebaee59c4e',
        time: new Date().getTime()
      }
      XPMobileSDK.getThumbnailByTime(param,this.callBackExport,this.callBackExportFail)
    },
    exportVideo(){
        var end = new Date().getTime();
            var start = end - 10000;
            XPMobileSDK.startVideoExport("a3e7cc6c-b496-46cd-bba2-85ebaee59c4e", start, end, this.createExportDownloadLink, this.callBackExportFail);
    },
    createExportDownloadLink(data){
      const investigationId = "00000000-0000-0000-0000-000000000000"
      XPMobileSDK.createExportDownloadLink(data,investigationId,"AVI",this.createLinkDownloadSuccess,this.createLinkDownloadFail )
    },
    createLinkDownloadSuccess(data){
      console.log("Link download:","https://103.21.151.160:8082/"+data)
    },
     createLinkDownloadFail(data){
      console.log("Fail:",data)
    },
    callBackExport(data){
      
      console.log("dádL",data)
    },
    callBackExportFail(data){
      
      console.log("fail",data)
    },

    async connectionDidLogIn(container, doNotAttackOnContainerClick) {
      await th
      container = container || document.body;

      if (doNotAttackOnContainerClick) {
       this.attachContainerClick = false;
      }
      const self = this;
      XPMobileSDK.getAllViews(function (items) {
        console.log("item cam all:---:",items)
        for (var i = 0; i < items[0].Items[0].Items[0].Items.length; i++) {
          self.buildCameraElement(
            items[0].Items[0].Items[0].Items[i],
            container
          );
        }
      });
    },

    buildCameraElement(item, wrapper) {
      var container = document.createElement("div");
      container.setAttribute("id", "container" + item.Id);
      container.setAttribute("class", "camera");

      var headerElement = document.createElement("h4");
      headerElement.innerHTML = item.Name || "";
      headerElement.setAttribute("class", "camera-name");
      container.appendChild(headerElement);

      var canvasElement = document.createElement("canvas");
      container.appendChild(canvasElement);

      var videoElement = document.createElement("video");
      container.appendChild(videoElement);

      var bottombar = document.createElement("div");
      bottombar.setAttribute("class", "bottombar");

      var pauseButton = document.createElement("div");
      pauseButton.setAttribute("class", "pauseButton btn");
      pauseButton.setAttribute("title", "Pause");
      bottombar.appendChild(pauseButton);

      var playbackBarButtons = document.createElement("div");
      playbackBarButtons.setAttribute("class", "playbackBarButtons");

      var playBackButton = document.createElement("div");
      playBackButton.setAttribute("class", "playBackButton btn");
      playBackButton.setAttribute("title", "Play backward");
      playbackBarButtons.appendChild(playBackButton);

      var playBackTime = document.createElement("div");
      playBackTime.setAttribute("class", "playTimeIndex");
      playbackBarButtons.appendChild(playBackTime);

      var playForwardButton = document.createElement("div");
      playForwardButton.setAttribute("class", "playForwardButton btn");
      playForwardButton.setAttribute("title", "Play forward");
      playbackBarButtons.appendChild(playForwardButton);

      bottombar.appendChild(playbackBarButtons);
      container.appendChild(bottombar);

      container.addEventListener("click", this.Camera);

      wrapper.appendChild(container);
      var event = new CustomEvent("cameraElementAdded", {
        detail: {
          cameraItem: item,
          cameraContainer: container,
        },
      });

      wrapper.dispatchEvent(event);
    },

    RequestStreamParams(cameraId, signalType) {
      return {
        CameraId: cameraId,
        DestWidth: this.width,
        DestHeight: this.height,
        SignalType: "Playback" /*'Live' or 'Playback'*/,
        MethodType: "Push" /*'Pull'*/,
        Fps: 25, // This doesn't work for Pull mode, but we have to supply it anyway to keep the server happy
        ComprLevel: 71,
        KeyFramesOnly: "No" /*'Yes'*/, // Server will give only key frame thumb nails. This will reduce FPS
        RequestSize: "Yes",
        StreamType: "Transcoded",
        PlaybackControllerId: this.playbackControllerId
      };
    },

    Camera(event) {
      var container = event.target;
		let Id = null;
      if (event.currentTarget.classList.contains("pauseButton")) {
        Id = event.currentTarget.parentNode.parentNode.id.replace(
          "container",
          ""
        );
      } else {
        Id = event.currentTarget.id.replace("container", "");
      }

      var canvas = document.querySelector("#container" + Id + " canvas");
      var canvasContext = canvas.getContext("2d");
      var video = document.querySelector("#container" + Id + " video");
      var image = document.createElement("img");
      image.addEventListener("load", onImageLoad);
      image.addEventListener("error", onImageError);
      var imageURL, videoController;
      var drawing = false;

      // Audio autoplay
      try {
        var audio = event.currentTarget.querySelector("audio");

        if (audio) {
          var playPromise = audio.play();

          if (playPromise !== undefined) {
            playPromise
              .catch(function (e) {
                // Auto-play was prevented
                // Show a UI element to let the user manually start playback
                console.error(e);
              })
              .then(function (e) {
                // Auto-play started
                console.warn(e);
              });
          }
        }
      } catch (e) {
        console.error(e);
      }

      var videoConnectionObserver = {
        videoConnectionReceivedFrame: videoConnectionReceivedFrame,
      };

      XPMobileSDK.library.Connection.webSocketBrowser = false;
      /**
       * Requesting a video stream.
       */
      const self = this;

       let streamRequest = XPMobileSDK.RequestStream(
          self.RequestStreamParams(Id, "Live"),
        requestStreamCallback,
        function (error) {}
      );

      /**
       * Video stream request callback
       */
      function requestStreamCallback(videoConnection) {
        videoController = videoConnection;
        videoConnection.addObserver(videoConnectionObserver);
        videoConnection.open();
        self.dataVideoConnection.push(videoConnection)


        var event = new CustomEvent("playStream", {
          detail: {
            cameraId: Id,
            videoConnection: videoConnection,
          },
        });

        container.parentNode.dispatchEvent(event);
      }

      document
        .getElementById("container" + Id)
        .classList.add("playing", "live");
      document
        .getElementById("container" + Id)
        .removeEventListener("click", this.Camera);

      if (this.attachContainerClick) {
        document
          .getElementById("container" + Id)
          .addEventListener("click", switchToPlayback);
      }

      document
        .querySelector("#container" + Id + " .bottombar")
        .setAttribute("style", "display:none;");
      document
        .querySelector("#container" + Id + " .bottombar")
        .classList.remove("onPause");
      document
        .querySelector("#container" + Id + " .playBackButton")
        .addEventListener("click", playBackwardTrigger);
      document
        .querySelector("#container" + Id + " .playForwardButton")
        .addEventListener("click", playForwardTrigger);

      var playbackTimestamp = new Date();
      var playbackSpeed = 0;

      var isLive = true;

      /**
       * Executed on received frame.
       */
      function videoConnectionReceivedFrame(frame) {
        if (!drawing && frame.dataSize > 0) {
          drawing = true;

          if (frame.hasSizeInformation) {
            var multiplier =
              frame.sizeInfo.destinationSize.resampling *
                XPMobileSDK.getResamplingFactor() || 1;
            image.width = multiplier * frame.sizeInfo.destinationSize.width;
            image.height = multiplier * frame.sizeInfo.destinationSize.height;
          }

          if (imageURL) {
            window.URL.revokeObjectURL(imageURL);
          }

          imageURL = window.URL.createObjectURL(frame.blob);

          image.src = imageURL;

          if (
            !isLive &&
            frame.timestamp.getTime() != playbackTimestamp.getTime()
          ) {
            updateTime(frame.timestamp);
          }
        }
      }

      /**
       * Executed on image load.
       */
      function onImageLoad(event) {
        canvas.width = image.width;
        canvas.height = image.height;
        canvasContext.drawImage(image, 0, 0, canvas.width, canvas.height);

        drawing = false;
      }

      function onImageError(event) {
        drawing = false;
      }

      /**
       * Stop camera stream
       */
      function stop() {
        if (videoController) {
          videoController.removeObserver(videoConnectionObserver);
          videoController.close();
          videoController = null;
        }

        if (streamRequest) {
          XPMobileSDK.cancelRequest(streamRequest);
          streamRequest = null;
        }

        document
          .getElementById("container" + Id)
          .removeEventListener("click", stop);
      }

      function resetState() {
        playbackSpeed = 0;
        updatePlaybackButtons();

        if (streamRequest) {
          XPMobileSDK.cancelRequest(streamRequest);
          streamRequest = null;
        }
      }

      /**
       * Switch to camera playback mode.
       */
      function switchToPlayback() {
        if (!isLive) return;

        isLive = false;

        stop();

        document
          .getElementById("container" + Id)
          .removeEventListener("click", switchToPlayback);
        document.getElementById("container" + Id).classList.remove("live");

        playbackTimestamp = new Date();

        showPlaybackControls();
        resetState();

        updateTime(playbackTimestamp);
		

        streamRequest = XPMobileSDK.RequestStream(
          self.RequestStreamParams(Id, "Playback"),
          requestStreamCallback,
          null
        );
      }

      /**
       * Switch camera to live video
       */
      function switchToLive(e) {
        e.stopPropagation();
        e.preventDefault();

        if (isLive) return;

        isLive = true;

        stop();

        document
          .getElementById("container" + Id)
          .removeEventListener("click", switchToLive);
        document
          .getElementById("container" + Id)
          .addEventListener("click", switchToPlayback);
        document
          .getElementById("container" + Id)
          .classList.add("playing", "live");
        document
          .querySelector("#container" + Id + " .bottombar")
          .setAttribute("style", "display:none;");
        document
          .querySelector("#container" + Id + " .bottombar")
          .classList.remove("onPause");

        resetState();
		const self = this;

        streamRequest = XPMobileSDK.RequestStream(
          self.RequestStreamParams(Id, "Live"),
          requestStreamCallback,
          function (error) {}
        );
      }

      /**
       * Trigger camera play backwards
       */
      function playBackwardTrigger() {
        if (playbackSpeed < 0) {
          playbackChangeSpeed(0);
        } else {
          playbackChangeSpeed(-1);
        }
      }

      /**
       * Trigger camera play forward
       */
      function playForwardTrigger() {
        if (playbackSpeed > 0) {
          playbackChangeSpeed(0);
        } else {
          playbackChangeSpeed(1);
        }
      }

      /**
       * Show camera playback controls
       */
      function showPlaybackControls() {
        document
          .getElementById("container" + Id)
          .removeEventListener("click", switchToPlayback);
        document.getElementById("container" + Id).classList.remove("playing");

        document
          .querySelector("#container" + Id + " .bottombar")
          .setAttribute("style", "display:block;");
        document
          .querySelector("#container" + Id + " .bottombar")
          .classList.add("onPause");

        document
          .querySelector("#container" + Id + " .pauseButton")
          .setAttribute("title", "Live");
        document
          .querySelector("#container" + Id + " .pauseButton")
          .addEventListener("click", switchToLive);
      }

      /**
       * Change video speed
       */
      function playbackChangeSpeed(speed) {
        if (!videoController || speed == playbackSpeed) return;

        speed = Math.round(speed);

        var params = {
          VideoId: videoController.videoId,
          Speed: speed,
        };

        XPMobileSDK.ChangeStream(params, function () {
          var eventType = speed === 0 ? "pauseStream" : "playStream";
          var event = new CustomEvent(eventType, {
            detail: {
              videoConnection: videoController,
            },
          });

          container.parentNode.dispatchEvent(event);
        });

        if (speed == 0) {
          playbackSpeed = 0;
        } else if (speed < 0) {
          playbackSpeed = -1;
        } else if (speed > 0) {
          playbackSpeed = 1;
        }

        updatePlaybackButtons();
      }

      /**
       * Update playback controls depending on the video speed
       */
      function updatePlaybackButtons() {
        var playForwardButton = document.querySelector(
          "#container" + Id + " .playForwardButton"
        );
        var playBackButton = document.querySelector(
          "#container" + Id + " .playBackButton"
        );

        if (playbackSpeed == 0) {
          playForwardButton.classList.remove("active");
          playForwardButton.title = "Play forward";
          playBackButton.classList.remove("active");
          playBackButton.title = "Play backwards";
        } else if (playbackSpeed < 0) {
          playForwardButton.classList.remove("active");
          playForwardButton.title = "Play forward";
          playBackButton.classList.add("active");
          playBackButton.title = "Pause";
        } else if (playbackSpeed > 0) {
          playForwardButton.classList.add("active");
          playForwardButton.title = "Pause";
          playBackButton.classList.remove("active");
          playBackButton.title = "Play backwards";
          document.getElementById("container" + Id).classList.add("playing");
        }
      }

      /**
       * Updates time element
       */
      function updateTime(timestamp) {
        if (isLive) return;

        playbackTimestamp = timestamp;

        var date = new Date(timestamp);

        var hours = date.getHours();
        var minutes = "0" + date.getMinutes();
        var seconds = "0" + date.getSeconds();
        var formattedTime =
          hours + ":" + minutes.substr(-2) + ":" + seconds.substr(-2);

        document.querySelector(
          "#container" + Id + " .playTimeIndex"
        ).innerHTML = formattedTime;
      }
    },



     onImageLoad(event) {
        canvas.width = image.width;
        canvas.height = image.height;
        canvasContext.drawImage(image, 0, 0, canvas.width, canvas.height);

        drawing = false;
      },

     onImageError(event) {
        drawing = false;
      },

      /**
       * Stop camera stream
       */
       stop() {
        if (videoController) {
          videoController.removeObserver(videoConnectionObserver);
          videoController.close();
          videoController = null;
        }

        if (streamRequest) {
          XPMobileSDK.cancelRequest(streamRequest);
          streamRequest = null;
        }

        document
          .getElementById("container" + Id)
          .removeEventListener("click", stop);
      },

       resetState() {
        playbackSpeed = 0;
        updatePlaybackButtons();

        if (streamRequest) {
          XPMobileSDK.cancelRequest(streamRequest);
          streamRequest = null;
        }
      }

      /**
       * Switch to camera playback mode.
       */
      , switchToPlayback() {
        if (!isLive) return;

        isLive = false;

        stop();

        document
          .getElementById("container" + Id)
          .removeEventListener("click", switchToPlayback);
        document.getElementById("container" + Id).classList.remove("live");

        playbackTimestamp = new Date();

        showPlaybackControls();
        resetState();

        updateTime(playbackTimestamp);
		

        streamRequest = XPMobileSDK.RequestStream(
          self.RequestStreamParams(Id, "Playback"),
          requestStreamCallback,
          null
        );
      },

      /**
       * Switch camera to live video
       */
       switchToLive(e) {
        e.stopPropagation();
        e.preventDefault();

        if (isLive) return;

        isLive = true;

        stop();

        document
          .getElementById("container" + Id)
          .removeEventListener("click", switchToLive);
        document
          .getElementById("container" + Id)
          .addEventListener("click", switchToPlayback);
        document
          .getElementById("container" + Id)
          .classList.add("playing", "live");
        document
          .querySelector("#container" + Id + " .bottombar")
          .setAttribute("style", "display:none;");
        document
          .querySelector("#container" + Id + " .bottombar")
          .classList.remove("onPause");

        resetState();
		const self = this;

        streamRequest = XPMobileSDK.RequestStream(
          self.RequestStreamParams(Id, "Live"),
          requestStreamCallback,
          function (error) {}
        );
      },

      /**
       * Trigger camera play backwards
       */
       playBackwardTrigger() {
        if (playbackSpeed < 0) {
          playbackChangeSpeed(0);
        } else {
          playbackChangeSpeed(-1);
        }
      },

      /**
       * Trigger camera play forward
       */
       playForwardTrigger() {
        if (playbackSpeed > 0) {
          playbackChangeSpeed(0);
        } else {
          playbackChangeSpeed(1);
        }
      },

      /**
       * Show camera playback controls
       */
       showPlaybackControls() {
        document
          .getElementById("container" + Id)
          .removeEventListener("click", switchToPlayback);
        document.getElementById("container" + Id).classList.remove("playing");

        document
          .querySelector("#container" + Id + " .bottombar")
          .setAttribute("style", "display:block;");
        document
          .querySelector("#container" + Id + " .bottombar")
          .classList.add("onPause");

        document
          .querySelector("#container" + Id + " .pauseButton")
          .setAttribute("title", "Live");
        document
          .querySelector("#container" + Id + " .pauseButton")
          .addEventListener("click", switchToLive);
      },

      /**
       * Change video speed
       */
       playbackChangeSpeed(speed) {
        if (!videoController || speed == playbackSpeed) return;

        speed = Math.round(speed);

        var params = {
          VideoId: videoController.videoId,
          Speed: speed,
        };

        XPMobileSDK.ChangeStream(params, function () {
          var eventType = speed === 0 ? "pauseStream" : "playStream";
          var event = new CustomEvent(eventType, {
            detail: {
              videoConnection: videoController,
            },
          });

          container.parentNode.dispatchEvent(event);
        });

        if (speed == 0) {
          playbackSpeed = 0;
        } else if (speed < 0) {
          playbackSpeed = -1;
        } else if (speed > 0) {
          playbackSpeed = 1;
        }

        updatePlaybackButtons();
      },

      /**
       * Update playback controls depending on the video speed
       */
       updatePlaybackButtons() {
        var playForwardButton = document.querySelector(
          "#container" + Id + " .playForwardButton"
        );
        var playBackButton = document.querySelector(
          "#container" + Id + " .playBackButton"
        );

        if (playbackSpeed == 0) {
          playForwardButton.classList.remove("active");
          playForwardButton.title = "Play forward";
          playBackButton.classList.remove("active");
          playBackButton.title = "Play backwards";
        } else if (playbackSpeed < 0) {
          playForwardButton.classList.remove("active");
          playForwardButton.title = "Play forward";
          playBackButton.classList.add("active");
          playBackButton.title = "Pause";
        } else if (playbackSpeed > 0) {
          playForwardButton.classList.add("active");
          playForwardButton.title = "Pause";
          playBackButton.classList.remove("active");
          playBackButton.title = "Play backwards";
          document.getElementById("container" + Id).classList.add("playing");
        }
      },

      /**
       * Updates time element
       */
       updateTime(timestamp) {
        if (isLive) return;

        playbackTimestamp = timestamp;

        var date = new Date(timestamp);

        var hours = date.getHours();
        var minutes = "0" + date.getMinutes();
        var seconds = "0" + date.getSeconds();
        var formattedTime =
          hours + ":" + minutes.substr(-2) + ":" + seconds.substr(-2);

        document.querySelector(
          "#container" + Id + " .playTimeIndex"
        ).innerHTML = formattedTime;
      }
  },
};
</script>
<style type="text/css" lang="css" scoped>


/* #streams-container{
  .bottombar{
    display: block !important;
    .btn{
      width: 20px !important;
      height: 20px !important;
      background: red !important;
    }
  }
  .topbar {
    position: absolute;
    top: 10px;
}


.bottombar .playbackBarButtons .playBackButton {
    display: inline-block;
}
}*/
.btn{
  cursor: pointer;
  margin-right: 15px;
} 
.bottombar .playbackBarButtons .playBackButton {
    display: inline-block;
    background-size: auto 20px;
    float: left;
}

</style>