<template>
	<div class="home">
		
	</div>	
</template>
<script type="text/javascript">
	export default {
		created() {
			let flag = this.$root.checkRole('dashboard','canRead');
			if(flag) {
				this.$router.push('dashboard')
			}
		}
	}
</script>