<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App',
  created() {
    window.addEventListener("loadCompleteEvent", ()=>{
      this.$root.connectToServer();
    });
  },
}
</script>
