<template>
  <div class="login-container">
    <div class="login-container-img"></div>
    <el-form
      ref="loginForm"
      :model="loginForm"
      :rules="loginRules"
      class="login-form"
      auto-complete="on"
      label-position="left"
      style="position: relative"
    >
      <div class="login-header">
        <img
          src="~@/assets/images/huyhieu.png"
          alt=""
          class="login-header-logo"
        />
        <span class="login-title">
          Đăng nhập <br> Giám sát xử phạt
        </span>
      </div>
      <el-form-item prop="username">
        <el-input
          v-model="loginForm.username"
          name="username"
          type="text"
          class="input-login"
          auto-complete="on"
          placeholder="Tài khoản"
            maxlength="50"
        />
      </el-form-item>
      <el-form-item :prop="pwdType" style="position: relative">
        <img
          v-if="!flagIconEye"
          class="eye-icon hidden"
          @click="showPwd"
          src="@/assets/images/icons/eye_hidden.png"
          alt=""
        />
        <img
          v-else
          class="eye-icon"
          @click="showPwd"
          src="@/assets/images/icons/eye.png"
          alt=""
        />
        <el-input
          v-model="loginForm.password"
          :type="pwdType"
          name="password"
          class="input-login"
          auto-complete="on"
          placeholder="Mật khẩu"
            maxlength="50"
          @keyup.enter.native="handleLogin"
        />
        <!-- <span class="show-pwd" @click="showPwd">
          <svg-icon icon-class="eye" />
        </span> -->
      </el-form-item>
      <el-form-item class="remind-password-box">
        <el-checkbox
          v-model="checked"
          style="font-weight: 400"
          @change="handleRememberPassword($event)"
          >Nhớ mật khẩu</el-checkbox
        >
<!--        <a href="" style="float: right">Quên mật khẩu</a>-->
      </el-form-item>
      <el-button
        class="btn-login"
        style="
          width: 100%;
          border-radius: 8px;
          height: 44px;
          background-color: #006fe3;
        "
        :loading="loading"
        type="info"
        @click.native.prevent="handleLogin"
      >
        {{ $t("login.button") }}
      </el-button>
      <div
        class="footer_noaccount"
        style="margin-top: 48px; text-align: center; font-size: 14px"
      >
<!--        <span class="no_account">Không có tài khoản?</span>-->
<!--        <a href="#" class="create_account">Tạo tài khoản</a>-->
      </div>
    </el-form>
  </div>
</template>

<script>
export default {
  name: "Login",
  data() {
    return {
      loginForm: {
        username: "",
        password: "",
        systemType: 0,
      },
      checked: null,
      loginRules: {
        username: [
          { required: true, message: 'Tên đăng nhập không được để trống', trigger: "blur"},
        ],
        password: [
          { required: true, message: 'Mật khẩu không được để trống', trigger: "blur" },
        ],
      },
      loading: false,
      pwdType: "password",
      flagIconEye: false,
      redirect: undefined,
      otherQuery: {},
    };
  },
  watch: {
    $route: {
      handler: function (route) {
        const query = route.query;
        if (query) {
          this.redirect = query.redirect;
          this.otherQuery = this.getOtherQuery(query);
        }
      },
      immediate: true,
    },
  },
  created() {
    const username = window.localStorage.getItem("xpgt-username-elcom");
    const password = window.localStorage.getItem("xpgt-password-elcom");
    if (username != undefined && username != null) {
      this.loginForm.username = username;
    }
    if (password != undefined && password != null) {
      this.loginForm.password = password;
    }
  },
  methods: {
    handleRememberPassword(event) {
      if (event) {
        window.localStorage.setItem("xpgt-username-elcom", this.loginForm.username);
        window.localStorage.setItem("xpgt-password-elcom", this.loginForm.password);
      } else {
        window.localStorage.clear("xpgt-username-elcom");
        window.localStorage.clear("xpgt-password-elcom");
      }
    },
    showPwd() {
      if (this.pwdType === "password") {
        this.flagIconEye = true;
        this.pwdType = "";
      } else {
        this.pwdType = "password";
        this.flagIconEye = false;
      }
    },
    handleLogin() {
      this.loginForm = this.$root.trimData(this.loginForm);
      this.$refs.loginForm.validate((valid) => {
        if (valid) {
          this.loading = true;
          this.$store
            .dispatch("user/login", this.loginForm)
            .then(() => {
              window.location.href = this.redirect || "/";
              // this.$router.push({ path: this.redirect || "/", query: this.otherQuery });
              this.loading = false;
            })
            .catch((err) => {
              console.log(err);
              this.loading = false;
            });
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    getOtherQuery(query) {
      return Object.keys(query).reduce((acc, cur) => {
        if (cur !== "redirect") {
          acc[cur] = query[cur];
        }
        return acc;
      }, {});
    },
  },
};
</script>

<style rel="stylesheet/scss" lang="scss">
$bg: #2d3a4b;
$light_gray: #eee;

/* reset element-ui css */
.login-container {
  .eye-icon {
    position: absolute;
    right: 0;
    z-index: 9;
    top: 10px;
    cursor: pointer;
  }
  .eye-icon.hidden {
    top: 8px;
  }
  .el-input {
    display: inline-block;
    height: 47px;
    input {
      background: transparent;
      border: 0px;
      -webkit-appearance: none;
      border-radius: 0px;
      padding: 12px 25px 12px 15px;
      color: $light_gray;
      height: 47px;
      &:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 30px white inset !important;
        -webkit-text-fill-color: #4d5565 !important;
      }
    }
  }
}
</style>

<style rel="stylesheet/scss" lang="scss" scoped>
$bg: #2d3a4b;
$dark_gray: #889aa4;
$light_gray: #eee;
.login-container {
  position: relative;
  .login-container-img {
    position: fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url("~@/assets/images/login_background.png");
    filter: blur(3px);
    -webkit-filter: blur(3px);
  }
  width: 100%;

  /* Add the blur effect */

  background-size: 100% 100%;
  float: left;
  height: 100vh;
  .login-form {
    position: fixed !important;
    left: 0;
    right: 0;
    width: 398px;
    max-width: 100%;
    border-radius: 4px;
    padding: 22px 37px 16px 37px;
    margin: 120px auto;
    background-color: #fff;
    background-size: 100% 100%;
    .remind-password-box {
      color: #474747;
      a {
        color: #006fe3;
      }
    }
  }
  .eye-icon-showpass {
    position: absolute;
    width: 16px;
    height: 18px;
    right: 0;
    top: 10px;
    z-index: 99;
    cursor: pointer;
  }
  .footer_noaccount {
    .no_account {
      color: #474747;
    }
    .create_account {
      color: #006fe3;
      margin-left: 2px;
      text-decoration: none;
    }
  }
  .login-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      width: 78px;
      height: 80px;
    }
    .login-title {
      display: inline;
      //width: 104px;
      //height: 24px;
      margin-top: 10px;
      margin-bottom: 35px;
      font-family: Roboto;
      font-size: 20px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.6;
      letter-spacing: 0.4px;
      text-align: center;
      color: #006fe3;
    }
  }
  .tips {
    font-size: 14px;
    color: #fff;
    margin-bottom: 10px;
    span {
      &:first-of-type {
        margin-right: 16px;
      }
    }
  }
  .svg-container {
    padding: 6px 5px 6px 15px;
    color: $dark_gray;
    vertical-align: middle;
    width: 30px;
    display: inline-block;
  }
  .title {
    font-size: 26px;
    font-weight: 400;
    color: $light_gray;
    margin: 0px auto 40px auto;
    text-align: center;
    font-weight: bold;
  }
  .show-pwd {
    position: absolute;
    right: 10px;
    top: 7px;
    font-size: 16px;
    color: $dark_gray;
    cursor: pointer;
    user-select: none;
  }
  .set-language {
    color: #fff;
    position: absolute;
    top: 40px;
    right: 35px;
  }
  /deep/.el-input input {
    height: 35px !important;
    background: transparent;
    border-bottom: solid 0.3px #cfcfcf !important;
    border: 0px;
    color: #474747 !important;
    width: 100%;
    padding-left: 0;
    transition: none;
    &:active {
      border-color: transparent transparent #cfcfcf transparent !important;
      box-shadow: none !important;
    }
    &:focus {
      border-color: transparent transparent #cfcfcf transparent !important;
      box-shadow: none !important;
    }
  }

  /deep/.el-input input:focus {
    outline: none;
    box-shadow: 0px 0px 10px #61b5fa;
    border: 1px solid #61b5fa;
    border-radius: 0;
  }
}
</style>
