<template>
	<div class="page-role-add">

		<div class="header">
			<h4>Quản lý quyền </h4>
		</div>

		<div class="content">
			<el-form
	        :model="roles"
	        :rules="rules"
	        ref="addForm"
	        label-position="top"
	        label-width="100%"
	      	>
	      		<div class="info-general">
			        <div class="block-item info">
			            <el-form-item label="Tên" prop="roleName">
			            	<span slot="label"><span style="color:red;">*</span> Tên</span>
			                <el-input :maxlength="255" v-model="roles.roleName"></el-input>
			            </el-form-item>
			            <el-form-item label="Mô tả" prop="description">
				             <el-input
							  type="textarea"
							  :rows="3"
							  v-model="roles.description">
							</el-input>
						</el-form-item>
			        </div>
			        <div class="block-item clone">
			        	<el-form-item label="Mã" prop="roleCode">
			        		<span slot="label"><span style="color:red;">*</span> Mã</span>
			                <el-input :maxlength="255" v-model.trim="roles.roleCode"></el-input>
			            </el-form-item>
			        	<el-form-item label="Sao chép quyền" prop="copy">
					        <el-select v-model="copy_role" placeholder="Sao chép quyền" @change="copyRole()">
							    <el-option
							      v-for="item in list_copy_role"
							      :key="item.value"
							      :label="item.label"
							      :value="item.value">
							    </el-option>
							</el-select>
						</el-form-item>
					</div>
				</div>
		        <!-- Danh sach tai nguyen -->
		        <div class="block-item resource role">
			        <h4><span style="color:red;">* </span>Danh sách tài nguyên</h4>
			        <table>
			        	<thead>
			        		<tr>
			        			<th>ID</th>
			        			<th>Tài nguyên</th>
			        			<th>Đường dẫn</th>
			        			<th>Quyền (Tạo/Xem/Sửa/Xóa)</th>
			        		</tr>
			        	</thead>
			        	<tbody>
			        		<template v-if="resource">
			        			<tr v-for="(val, ind) in resource">
				        			<td>{{val.id}}</td>
				        			<td>{{val.name}}</td>
				        			<td>{{val.urlpatterns}}</td>
				        			<td>
				        				<template>
										    <el-checkbox @change="changeStatus($event,val.code,'create',val)" v-model="roles.create[val.code]"></el-checkbox>
										    <el-checkbox @change="changeStatus($event,val.code,'read',val)" v-model="roles.read[val.code]"></el-checkbox>
										    <el-checkbox @change="changeStatus($event,val.code,'update',val)" v-model="roles.update[val.code]"></el-checkbox>
										    <el-checkbox @change="changeStatus($event,val.code,'destroy',val)" v-model="roles.destroy[val.code]"></el-checkbox>
										</template>
				        			</td>
				        		</tr>
			        		</template>
			        	</tbody>
			        </table>
		        </div>
		        <!-- Danh sach tai nguyen -->
		        <div class="block-item role">
			        <h4><span style="color:red;">* </span>Danh sách menu</h4>
			        <table>
			        	<thead>
			        		<tr>
			        			<th>ID</th>
			        			<th>Tên</th>
			        			<th>Đường dẫn</th>
			        			<th>Quyền (ACCESS)</th>
			        		</tr>
			        	</thead>
			        	<tbody>
			        		<template v-if="menu">
			        			<tr v-for="(val, ind) in menu">
				        			<td>{{val.id}}</td>
				        			<td>
										<span v-if="val.parentId !== null" style="padding-left: 30px;"></span>
										{{val.name}}
									</td>
				        			<td>{{val.url}}</td>
				        			<td>
				        				<template>
										    <el-checkbox @change="changeStatus($event,val.id,'menu')" v-model="roles.menu[val.id]"></el-checkbox>
										</template>
				        			</td>
				        		</tr>
			        		</template>
			        	</tbody>
			        </table>
		        </div>
		        <!-- Loại vi phạm -->
		        <div class="block-item role">
			        <h4><span style="color:red;">* </span>Loại vi phạm</h4>
			        <table>
			        	<thead>
			        		<tr>
			        			<th>ID</th>
			        			<th>Tên</th>
			        			<th></th>
			        			<th>Quyền (ACCESS)</th>
			        		</tr>
			        	</thead>
			        	<tbody>
			        		<template v-if="violation">
			        			<tr v-for="(val, ind) in violation">
				        			<td style="width:200px">{{val.code}}</td>
				        			<td>{{val.name}}</td>
				        			<td></td>
				        			<td>
				        				<template>
										    <el-checkbox @change="changeStatus($event,val.code,'violation')" v-model="roles.violation[val.code]"></el-checkbox>
										</template>
				        			</td>
				        		</tr>
			        		</template>
			        	</tbody>
			        </table>
		        </div>
		        <!-- Loại sự kiện -->
		        <div class="status-block">
			        <div class="block-item role">
				        <h4><span style="color:red;">* </span>Trạng thái vi phạm (Xác minh)</h4>
				        <table>
				        	<thead>
				        		<tr>
				        			<th>ID</th>
				        			<th>Tên</th>
				        			<th></th>
				        			<th>Quyền (ACCESS)</th>
				        		</tr>
				        	</thead>
				        	<tbody>
				        		<template v-if="violationInspect">
				        			<tr v-for="(val, ind) in violationInspect">
					        			<td>{{val.name}}</td>
					        			<td>{{val.value}}</td>
					        			<td></td>
					        			<td>
					        				<template>
											    <el-checkbox @change="changeStatus($event,val.name,'violationInspect')" v-model="roles.violationInspect[val.name]"></el-checkbox>
											</template>
					        			</td>
					        		</tr>
				        		</template>
				        	</tbody>
				        </table>
			        </div>
			        <!-- Loại sự kiện -->
			        <div class="block-item status violation">
				        <h4><span style="color:red;">* </span>Trạng thái vi phạm (Xử lý)</h4>
				        <table>
				        	<thead>
				        		<tr>
				        			<th>ID</th>
				        			<th>Tên</th>
				        			<th></th>
				        			<th>Quyền (ACCESS)</th>
				        		</tr>
				        	</thead>
				        	<tbody>
				        		<template v-if="violationProcess">
				        			<tr v-for="(val, ind) in violationProcess">
					        			<td>{{val.name}}</td>
					        			<td>{{val.value}}</td>
					        			<td></td>
					        			<td>
					        				<template>
											    <el-checkbox @change="changeStatus($event,val.name,'violationProcess')" v-model="roles.violationProcess[val.name]"></el-checkbox>
											</template>
					        			</td>
					        		</tr>
				        		</template>
				        	</tbody>
				        </table>
			        </div>
		    	</div>
	      	</el-form>
		</div>

		<div class="footer">
			<div class="action">
	            <router-link to="/system-config/role"><el-button type="primary">Thoát</el-button></router-link>
	            <el-button type="success" @click="save()" :loading="loading_save">Cập nhật</el-button>
	         </div>
		</div>

	</div>	
</template>
<script type="text/javascript">

	Object.size = function(obj) {
	  var size = 0,
	    key;
	  for (key in obj) {
	    if (obj.hasOwnProperty(key)) size++;
	  }
	  return size;
	};

	import Resource from "@/api/resource";
	const taiNguyenResource = new Resource("rbac/resources");
	const menuResource = new Resource("rbac/menu");
	const violationResource = new Resource("rbac/violation_types");
	const violationInspectResource = new Resource("rbac/violation_inspect_status");
	const violationProcessResource = new Resource("rbac/violation_process_status");
	const roleResource = new Resource("rbac/role");
	const roleDetailResource = new Resource("rbac/role/detail");
	const checkRoleRelationResource = new Resource("rbac/relation_resources");
	
	export default {
		data() {
			return {
				roles: {
					roleName: '',
					roleCode: '',
					description: '',
					create: {},
					read: {},
					update: {},
					destroy: {},
					menu: {},
					violation: {},
					violationInspect: {},
					violationProcess: {},
				},
				duplicateRoles : {},
				loading_save: false,
				resource: null,
				menu: null,
				violation: null,
				violationInspect: null,
				violationProcess: null,
				list_copy_role: [{
					label: '- Lựa chọn -',
					value: 'all',
				}],
				copy_role: null,
				rules: {
			       // roleName: [
			       //    { max: 255, message: 'Tên tối đa 255 ký tự', trigger: 'blur' },
			       // ],
			       // roleCode: [
			       //    { max: 255, message: 'Mã tối đa 255 ký tự', trigger: 'blur' },
			       // ],
			    },
			    checkRoleRelation: []
			}
		},
		created() {
			this.init();
		},
		methods: {
			init() {
				this.getRole();
				this.getResources();
				this.getMenu();
				this.getViolation();
				this.getviolationInspect();
				this.violationProcessResource();
				this.getListRoles();
				this.getRoleRelation();
			},
			getRoleRelation() {
	          checkRoleRelationResource.list().then(response => {
	            if(response.data) {
	                this.checkRoleRelation = response.data;
	            }
	          }).catch(err=>{
	            console.log(err)
	          })
	        },
			getRole() {
				let self = this;
				let params = {
					roleCode: this.$route.params.roleCode,
				};
				roleDetailResource.list(params).then(response=>{
					// this.resetForm();
					self.roles.id = response.data.id;
					self.roles.roleName = response.data.roleName;
					self.roles.roleCode = response.data.roleCode;
					self.roles.description = response.data.description;
					// self.
					// clone tai nguyen
					if(response.data.roleResourcesPermissionSet.length > 0){
						let resource = response.data.roleResourcesPermissionSet;
						Object.keys(resource).forEach(function(key) {
							if(resource[key].canCreate == 1){
								self.roles.create[resource[key].resourcesCode] = true;
							}
							if(resource[key].canDelete == 1){
								self.roles.destroy[resource[key].resourcesCode] = true;
							}
							if(resource[key].canRead == 1){
								self.roles.read[resource[key].resourcesCode] = true;
							}
							if(resource[key].canUpdate == 1){
								self.roles.update[resource[key].resourcesCode] = true;
							}
						});
					}
					// clone menu
					if(response.data.roleMenuSet.length > 0){
						let menu = response.data.roleMenuSet;
						Object.keys(menu).forEach(function(key) {
							self.roles.menu[menu[key].menuId.id] = true;
						});
					}
					// clone vi pham
					if(response.data.roleEventSet.length > 0){
						let event = response.data.roleEventSet;
						Object.keys(event).forEach(function(key) {
							self.roles.violation[event[key].eventCode] = true;
						});
					}
					// clone trang thai
					if(response.data.roleStateSet.length > 0){
						let status = response.data.roleStateSet;
						Object.keys(status).forEach(function(key) {
							if(status[key].stateType == 'VIOLATION_INSPECT'){
								self.roles.violationInspect[status[key].stateCode] = true;
							}else{
								self.roles.violationProcess[status[key].stateCode] = true;
							}
						});
					}
					self.roles.roleName = self.roles.roleName + ' ';
				}).catch(err=>{
					this.$router.push('/system-config/role');
				});
				if (this.roles) {
					this.duplicateRoles = this.roles;
				}
			},
			copyRole() {
				let self = this;
				if(this.copy_role != 'all'){
					let params = {
						roleCode: this.copy_role,
					};
					roleDetailResource.list(params).then(response=>{
						this.resetForm();
						// clone tai nguyen
						if(response.data.roleResourcesPermissionSet.length > 0){
							let resource = response.data.roleResourcesPermissionSet;
							Object.keys(resource).forEach(function(key) {
								if(resource[key].canCreate == 1){
									self.roles.create[resource[key].resourcesCode] = true;
								}
								if(resource[key].canDelete == 1){
									self.roles.destroy[resource[key].resourcesCode] = true;
								}
								if(resource[key].canRead == 1){
									self.roles.read[resource[key].resourcesCode] = true;
								}
								if(resource[key].canUpdate == 1){
									self.roles.update[resource[key].resourcesCode] = true;
								}
							});
						}
						// clone menu
						if(response.data.roleMenuSet.length > 0){
							let menu = response.data.roleMenuSet;
							Object.keys(menu).forEach(function(key) {
								self.roles.menu[menu[key].menuId.id] = true;
							});
						}
						// clone vi pham
						if(response.data.roleEventSet.length > 0){
							let event = response.data.roleEventSet;
							Object.keys(event).forEach(function(key) {
								self.roles.violation[event[key].eventCode] = true;
							});
						}
						// clone trang thai
						if(response.data.roleStateSet.length > 0){
							let status = response.data.roleStateSet;
							Object.keys(status).forEach(function(key) {
								if(status[key].stateType == 'VIOLATION_INSPECT'){
									self.roles.violationInspect[status[key].stateCode] = true;
								}else{
									self.roles.violationProcess[status[key].stateCode] = true;
								}
							});
						}
						self.roles.roleName = self.roles.roleName + ' ';
					});
				}else{
					this.roles = this.duplicateRoles;
				}
			},
			resetForm() {
				this.roles = {
					roleName: this.roles.roleName,
					roleCode: this.roles.roleCode,
					id: this.roles.id,
					description: this.roles.description,
					read: this.ObjectFilterReset(this.roles.read),
					create: this.ObjectFilterReset(this.roles.create),
					update: this.ObjectFilterReset(this.roles.update),
					destroy: this.ObjectFilterReset(this.roles.destroy),
					menu: {},
					violation: {},
					violationInspect: {},
					violationProcess: {},
				}
			},

			ObjectFilterReset ( obj ) {
			    let result = {}, key;

			    for (key in obj) {
			        result[key] = false;
			    }

			    return result;
			},

			getListRoles() {
			  let self = this;
		      roleResource.list().then(response=>{
		      	if(response.status == 200){
					Object.keys(response.data).forEach(function(key) {
					 	if(response.data[key].roleCode != 'XPGT_ADMIN'){
							self.list_copy_role.push({
						 		 value: response.data[key].roleCode,
	          					 label: response.data[key].roleName
						 	});
						}
					});
				}
		      });
		    },
		    changeStatus($event,status,param,val=null) {
		          this.roles[param][status] = $event;
		          if($event && (param == 'create' || param == 'update' || param == 'destroy')){
		            this.roles['read'][status] = true;
		          }
		          if(param == 'read' && (this.roles['create'][status] == true || this.roles['update'][status] == true || this.roles['destroy'][status] == true)) {
		            this.roles['read'][status] = true;
		          }
		          // check quyen rang buoc
		          let self = this;
		          if(!$event && val && param == 'read') {
		              let roleRelationDisable = this.checkRoleRelation.filter(function(val){
		                return val.resourceChildren == status
		              });
		              roleRelationDisable.forEach(function(val, index){
		                  if(val.methodParent == 'POST' && self.roles['create'][val.resourceParent]) {
		                    self.roles['read'][status] = true;
		                  }
		                  if(val.methodParent == 'PUT' && self.roles['update'][val.resourceParent]) {
		                    self.roles['read'][status] = true;
		                  }
		                  if(val.methodParent == 'GET' && self.roles['read'][val.resourceParent]) {
		                    self.roles['read'][status] = true;
		                  }
		              });
		          }
		          if($event && val){
		            let method = null;
		            if(param == 'create') {
		              method = 'POST';
		            }
		            if(param == 'update') {
		              method = 'PUT';
		            }
		            if(param == 'read') {
		              method = 'GET';
		            }
		            if (param == "destroy") {
			          method = "DELETE";
			        }
		            let roleRelation = this.checkRoleRelation.filter(function(val){
		              return val.resourceParent == status && (val.methodParent == method || val.methodParent == 'GET')
		            });
		            roleRelation.forEach(function(val, index){
		                // self.roles['read'][val.resourceChildren] = true;
						let tempMethod = null;
						if(val.methodChildren == 'POST'){
							tempMethod = "create"
						}
						if(val.methodChildren == 'PUT'){
							tempMethod = "update"
						}
						if(val.methodChildren == 'GET'){
							tempMethod = "read"
						}
						if (val.methodChildren == "DELETE") {
				           tempMethod = "destroy";
				        }
						self.roles[tempMethod][val.resourceChildren] = true;
                
		            });
		            // ket thuc
		          }
		          this.roles.roleName = this.roles.roleName + ' ';
		          this.roles.roleName = this.roles.roleName.trim();
		    },
			getResources() {
				taiNguyenResource.list().then(response => {
					if(response.status == 200){
						this.resource = response.data;
					}
				}).catch(err=>{
					console.log(err);
				})
			},
			getMenu() {
				menuResource.list().then(response => {
					if(response.status == 200){
						this.menu = response.data;
					}
				}).catch(err=>{
					console.log(err);
				})
			},
			getViolation() {
				violationResource.list().then(response => {
					if(response.status == 200){
						this.violation = response.data;
					}
				}).catch(err=>{
					console.log(err);
				})
			},
			getviolationInspect() {
				violationInspectResource.list().then(response => {
					if(response.status == 200){
						this.violationInspect = response.data;
					}
				}).catch(err=>{
					console.log(err);
				})
			},
			violationProcessResource() {
				violationProcessResource.list().then(response => {
					if(response.status == 200){
						this.violationProcess = response.data;
					}
				}).catch(err=>{
					console.log(err);
				})
			},

			ObjectFilter ( obj ) {
			    let result = {}, key;

			    for (key in obj) {
			        if (obj.hasOwnProperty(key) && obj[key]) {
			            result[key] = obj[key];
			        }
			    }

			    return result;
			},

			save() {
				this.$refs.addForm.validate((valid) => {
					this.loading_save = true;
			        if (valid) {
			        	if(!this.roles.roleName){
			        		this.$message({
			                    type: 'error',
			                    message: 'Tên là bắt buộc'
			                });
			                this.loading_save = false;
			        		return;
			        	}
			        	if(!this.roles.roleCode){
			        		this.$message({
			                    type: 'error',
			                    message: 'Mã là bắt buộc'
			                });
			                this.loading_save = false;
			        		return;
			        	}
			        	let self = this;
			        	let resourceList = [];
			        	let params = {
			        		roleName: this.roles.roleName.trim(),
			        		roleCode: this.roles.roleCode.trim(),
			        		description: this.roles.description.trim(),
			        		resourceList: [],
			        		menuList: [],
			        		eventList: [],
			        		statusList: [],
			        	};
			        	//Lay thong tin tai nguyen
			        	this.roles.create = this.ObjectFilter(this.roles.create);
			        	this.roles.destroy = this.ObjectFilter(this.roles.destroy);
			        	this.roles.update = this.ObjectFilter(this.roles.update);
			        	this.roles.read = this.ObjectFilter(this.roles.read);
			        	if(Object.size(this.roles.create) == 0 && Object.size(this.roles.destroy) == 0  && Object.size(this.roles.update) == 0  && Object.size(this.roles.read) == 0 ) {
			        		this.$message({
			                    type: 'error',
			                    message: 'Tài nguyên là bắt buộc'
			                });
			                this.loading_save = false;
			                return;
			        	}else{
			        		if(Object.size(this.roles.create) > 0) {
			        			Object.keys(this.roles.create).forEach(function(key) {
								  let data = self.resource.filter(function(val){
								  	return val.code == key;
								  });
								  if(data[0] && data[0].code && !resourceList[data[0].code]){
								  	resourceList[data[0].code] = {
								  		resourcesCode: data[0].code,
								  		canCreate: 1
								  	};
								  }
								});
			        		}
			        		if(Object.size(this.roles.read) > 0) {
			        			Object.keys(this.roles.read).forEach(function(key) {
								  let data = self.resource.filter(function(val){
								  	return val.code == key;
								  });
								  if(data[0] && data[0].code) {
								  	if(!resourceList[data[0].code]){
									  	resourceList[data[0].code] = {
									  		resourcesCode: data[0].code,
									  		canRead: 1
									  	};
									}else{
										resourceList[data[0].code]['canRead'] = 1;
									}	
								  }					  
								});
			        		}
			        		if(Object.size(this.roles.update) > 0) {
			        			Object.keys(this.roles.update).forEach(function(key) {
								  let data = self.resource.filter(function(val){
								  	return val.code == key;
								  });
								  if(data[0] && data[0].code) {
									  if(!resourceList[data[0].code]){
									  	resourceList[data[0].code] = {
									  		resourcesCode: data[0].code,
									  		canUpdate: 1
									  	};
									  }else{
									  	resourceList[data[0].code]['canUpdate'] = 1;
									  }	
								  }
								});
			        		}
			        		if(Object.size(this.roles.destroy) > 0) {
			        			Object.keys(this.roles.destroy).forEach(function(key) {
								  let data = self.resource.filter(function(val){
								  	return val.code == key;
								  });
								  if(data[0] && data[0].code) {
									  if(!resourceList[data[0].code]){
									  	resourceList[data[0].code] = {
									  		resourcesCode: data[0].code,
									  		canDelete: 1
									  	};
									  }else{
									  	resourceList[data[0].code]['canDelete'] = 1;
									  }
								  }
								});
			        		}
			        	}
			        	Object.keys(resourceList).forEach(function(key) {
			        		params.resourceList.push(resourceList[key]);
			        	})
			        	// Lay thong tin menu
			        	this.roles.menu = this.ObjectFilter(this.roles.menu);
			        	if(Object.size(this.roles.menu) == 0) {
			        		this.$message({
			                    type: 'error',
			                    message: 'Menu là bắt buộc'
			                });
			                this.loading_save = false;
			                return;
			        	}else{
			        		Object.keys(this.roles.menu).forEach(function(key) {
							  let data = self.menu.filter(function(val){
							  	return val.id == key;
							  });
							  if(data[0] && data[0].name){
								  params.menuList.push({
								  	"menuId": parseInt(key),
						            "menuName": data[0].name,
						            "orderNo": data[0].orderNo,
						            "status": 1
								  });
							   }
							});
			        	}
			        	// Lay thong tin su kien
			        	this.roles.violation = this.ObjectFilter(this.roles.violation);
			        	if(Object.size(this.roles.violation) == 0) {
			        		
			        	}else{
			        		Object.keys(this.roles.violation).forEach(function(key) {
							  let data = self.violation.filter(function(val){
							  	return val.code == key;
							  });
							  if(data[0] && data[0].name){
								  params.eventList.push({
								  	"eventCode": data[0].code,
						            "eventName": data[0].name,
						            "status": 1
								  });
							   }
							});
			        	}
			        	// Lay thong tin trang thai
			        	this.roles.violationInspect = this.ObjectFilter(this.roles.violationInspect);
			        	if(Object.size(this.roles.violationInspect) == 0) {
			        		
			        	}else{
			        		Object.keys(this.roles.violationInspect).forEach(function(key) {
							  let data = self.violationInspect.filter(function(val){
							  	return val.name == key;
							  });
							  if(data[0] && data[0].name){
							  	params.statusList.push({
								  	"stateType": 'VIOLATION_INSPECT',
						            "stateCode": data[0].name,
						            "stateName": data[0].value,
								});
							  }
							});
			        	}
			        	this.roles.violationProcess = this.ObjectFilter(this.roles.violationProcess);
			        	if(Object.size(this.roles.violationProcess) == 0) {
			        		
			        	}else{
			        		Object.keys(this.roles.violationProcess).forEach(function(key) {
							  let data = self.violationProcess.filter(function(val){
							  	return val.name == key;
							  });
							  if(data[0] && data[0].name){
								params.statusList.push({
									"stateType": 'VIOLATION_PROCESS',
									"stateCode": data[0].name,
									"stateName": data[0].value,
								});
							  }
							});
			        	}
			            roleResource.update(this.roles.id, params).then((response) => {
			              this.loading_save = false;
			              if (response.status === 200 || response.status === 201) {
			              	this.$router.push('/system-config/role');
			                this.$message({
			                    type: 'success',
			                    message: 'Cập nhật thành công'
			                });
			              }
			            })
			            .catch(() => {
			              this.loading_save = false;
			            });
			        } else {
			          return false;
			        }
			      });
			}
		}
	}
</script>
<style type="text/css" lang="scss">
	.page-role-add {
		.info-general {
			float: left;
			width: 100%;
		}
		.block-item.role {
			float: left;
			width: 100%;
			border-bottom: 1px solid #ddd;
		    padding-bottom: 30px;
		    margin-bottom: 10px;
		}
		.block-item.info {
			width: 375px;
			float: left;
			margin-right: 40px;
		}
		.block-item.clone {
			float: left;
			.el-select {
				width: 235px;
			}
		}
		.block-item.resource {
			clear: both;
		}
		.status-block {
			float: left;
    		width: 100%;
    		margin-bottom: 50px;
    		.status {
			    clear: both;
			    float: left;
			    width: 100%;
    		}
    		.status:nth-child(2) {
    			/*border-left: 1px solid #ddd;
    			padding-left: 4%;*/
    		}
			table {
				th:first-child {
					text-align: left;
	    			width: 150px;
				}
				th:nth-child(2) {
					text-align: left;
	    			width: 200px;
				}
			}
		}
		table {
			width:100%;
			th {
				text-align: left;
			    color: #363030;
			    font-size: 14px;
			    font-weight: 500;
			    padding-bottom: 15px;
			}
			th:first-child {
				text-align: left;
    			width: 55px;
			}
			th:nth-child(2) {
				text-align: left;
    			width: 500px;
			}
			th:last-child {
				text-align: left;
    			width: 175px;
			}
			td {
				border-bottom: 1px solid #eeee;
			    padding-bottom: 7px;
			    padding-top: 7px;
			}

			tr:last-child td {
				border-bottom: initial;
			}
		}
		background: white;
    	min-height: 100vh;	
		.header h4 {
			border-top-left-radius: 5px;
    		border-top-right-radius: 5px;
			background: #0366cc;
		    margin: 0;
		    text-align: center;
		    color: white;
		    height: 40px;
		    line-height: 40px;
		    font-size: 18px;
		    font-weight: 500;
		}
		.el-form-item__label {
			padding-bottom: 0;
		    font-size: 14px;
		    color: #363030;
		    font-weight: 500;
		}
		.el-form-item {
			margin-bottom: 15px;
		}
		.content,.footer {
			padding: 25px;
		}
		.el-input input {
		    height: 40px;
		    line-height: 40px;
		    border-radius: 4px;
		    border: solid 1px #9999;
		}
		.block-item {
			h4 {
				color: #363030;
			    font-weight: 500;
			}
		}
		.action {
	      margin-top: 20px;
	      text-align: right;
	      .el-button--primary {
	        background: #9e9e9e;
	        border: initial;
	        border-radius: 4px;
	        width: 147px;
	        height: 40px;
	        font-size: 16px;
		    font-weight: 500;
		    text-transform: uppercase;
	      }
	      .el-button--success {
	        background: #1f7ff5;
	        border: initial;
	        border-radius: 4px;
	        width: 147px;
	        height: 40px;
	        float: right;
	        font-size: 16px;
		    font-weight: 500;
		    text-transform: uppercase;
		    margin-left: 15px;
	      }
	    }
	}
</style>