<template>
  <div class="app-container role-page" v-if="canRead">
    <!-- Filter -->
    <div class="filter-container" v-if="multipleSelection.length==0">
      <template>
        <div class="search-block">
          <el-input class="search"
            placeholder=""
            prefix-icon="el-icon-search"
            v-model="searchKeyword" @keyup.enter.native="handleFilter()">
          </el-input>
          <router-link to="/system-config/role/add">
	          <el-button type="primary" v-if="canCreate">
	          	<i class="el-icon-plus"></i> Thêm mới
	          </el-button>
          </router-link>
        </div>
      </template>
    </div>
    <!-- list user new -->
    <template>
      <div id="select-all-delete" v-if="multipleSelection.length>0">
          <i class="el-icon-close" @click="closeDelete()"></i> <span v-if="multipleSelection.length<10">0{{multipleSelection.length}}</span><span v-else>{{multipleSelection.length}}</span> mục được chọn
          <el-button type="danger" @click="destroyMulti()" :loading="loading" v-if="canDelete"><i class="el-icon-delete"></i> Xóa</el-button>
      </div>
      <el-table
        ref="multipleTable"
        :data="rolesLst"
        style="width: 100%"
        @selection-change="handleSelectionChange" id="user-table">
        <el-table-column
            type="selection"
            width="55" :selectable="canSelectRow">
        </el-table-column>
        <el-table-column label="STT" :width="(rolesLst.length).toString().length * 5 + 60">
            <template slot-scope="scope">
              <span>{{
                 scope.$index + 1
              }}</span>
            </template>
        </el-table-column>
        <el-table-column label="ID" width="300">
          <template slot-scope="scope">
            <span>{{ scope.row.roleCode }}</span>
          </template>
        </el-table-column>
        <el-table-column label="Nhóm quyền">
          <template slot-scope="scope">
            <span>{{ scope.row.roleName }}</span>
          </template>
        </el-table-column>
        <el-table-column label="Thao tác" width="200">
          <template slot-scope="scope">
            <router-link v-if="scope.row.roleCode!='XPGT_ADMIN'&&canUpdate" :to="'/system-config/role/edit/'+scope.row.roleCode"><el-button type="primary" class="btn-edit" icon="el-icon-edit"> sửa</el-button></router-link>
          </template>
        </el-table-column>
      </el-table>
      <p style="clear: both"></p>
      <div style="display: inline-block; padding-top: 13px">
        Tổng số quyền: <strong>{{ rolesLst.length }}</strong>
      </div>
    </template>
  </div>
</template>

<script>

import Pagination from "@/components/Pagination_custom";

import Resource from "@/api/resource";
import user_default from '@/assets/images/user_default.png';

const roleResource = new Resource("rbac/role");

export default {
  components: { Pagination },
  data() {
    return {
      layout: 'first, prev, pager, next, last',
      rolesLst: [],
      groupsUuid: [],
      loading: false,
      total: 100,
      searchKeyword: null,
      multipleSelection: [],
      oldRoleCode: "",
      query: {
        keyword: this.searchKeyword,
      },
      canRead: false,
      canCreate: false,
      canUpdate: false,
      canDelete: false,
    };
  },

  created() {
    // console.log(this.$store.state);
    this.canRead = this.$root.checkRole(this.$route.fullPath,'canRead');
    this.canCreate = this.$root.checkRole(this.$route.fullPath,'canCreate');
    this.canUpdate = this.$root.checkRole(this.$route.fullPath,'canUpdate');
    this.canDelete = this.$root.checkRole(this.$route.fullPath,'canDelete');
    this.init();
  },

  methods: {
    async init() {
      await this.getList();
    },
    async getList() {
      let result = await roleResource.list(this.query);
      if (result) {
        this.rolesLst = result.data;
      }
    },

    closeDelete() {
      this.$refs.multipleTable.clearSelection();
      this.multipleSelection = [];
    },

    destroy(user) {
        this.$confirm('Bạn có chắc chắn muốn xóa người dùng '+user.fullName+' này ', '', {
          confirmButtonText: 'Xác nhận',
          cancelButtonText: 'Thoát',
          type: 'warning'
        }).then(() => {
          this.loading_delete = true;
          userResource.destroy(user.uuid).then(response=>{
            this.loading_user = false;
            this.getList();
            if(response.status==200){
              this.$message({
                type: 'success',
                message: 'Xóa người dùng thành công'
              });
            }
          }).catch(err => {
            this.loading_delete = false;
            console.log(err);
            this.$message({
                type: 'error',
                message: 'Có lỗi xảy ra vui lòng thử lại sau!'
              });
          });
        }).catch(() => {

        });
    },

    canSelectRow(row, index) {
      return row.roleCode !== 'XPGT_ADMIN';
    },

    destroyMulti() {
      this.$confirm('Bạn có chắc chắn muốn xóa lựa chọn này ', '', {
          confirmButtonText: 'Xác nhận',
          cancelButtonText: 'Thoát',
          type: 'warning'
        }).then(() => {
          this.loading = true;
          let params = this.multipleSelection.map(function(val){
            return val.roleCode;
          });
          params = {
            roleCodes: params
          };
          roleResource.destroyMulti(params).then(response=>{
            this.loading = false;
            if(response.status==200){
              this.multipleSelection = [];
              this.getList();
              this.$message({
                type: 'success',
                message: 'Xóa quyền thành công'
              });
            }
          }).catch((err) => {
            this.loading = false;
            console.log(err);
            // this.$message({
            //     type: 'error',
            //     message: 'Có lỗi xảy ra vui lòng thử lại sau!'
            // });
          });
        }).catch(() => {

        });
    },

    handleFilter() {
      if(this.searchKeyword){
        this.searchKeyword = this.searchKeyword.trim()
      }
      this.query.keyword = this.searchKeyword;
      this.getList();
    },

    closeDialog(formName) {
      this.$refs[formName].clearValidate();
      this.$refs[formName].resetFields();
    },

    toggleSelection(rows) {
        if (rows) {
          rows.forEach(row => {
            this.$refs.multipleTable.toggleRowSelection(row);
          });
        } else {
          this.$refs.multipleTable.clearSelection();
        }
    },
    handleSelectionChange(val) {
        this.multipleSelection = val;
    },
  },
};
</script>

<style lang="scss" scoped>

</style>

<style lang="scss">
  .role-page {
  	.btn-edit {
  		border-radius: 2px;
  	}
  	#select-all-delete {
      clear: both;
      height: 63px;
      line-height: 63px;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
      background-color: #ff4646;
      color: white;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      .el-icon-close {
          font-size: 25px;
          margin-left: 20px;
          margin-right: 35px;
          position: relative;
          top: 4px;
          cursor: pointer;
      }
      button {
        background: #e00000;
        border: initial;
        border-radius: 5px;
        float: right;
        display: inline-block;
        margin-top: 15px;
        margin-right: 15px;
      }
    }
    .action {
      margin-top: 40px;
      .el-button--primary {
        background: #64789a;
        border: initial;
        border-radius: 4px;
        width: 147px;
        height: 40px;
      }
      .el-button--success {
        background: #ff6161;
        border: initial;
        border-radius: 4px;
        width: 147px;
        height: 40px;
        float: right;
      }
    }
    .el-table th > .cell {
      text-align: left;
    }
    .el-table tr > th:first-child .cell {
      text-align: center;
    }
    .el-table th {
      color: black;
      font-size: 14px;
    }
    .el-table td {
      color: black;
      font-size: 14px;
    }
    .el-table tr td:first-child {
      text-align: center;
    }
    .el-table td:first-child .cell {
      display: inline-block;
    }
    .filter-container {
      padding-bottom: 20px;
    }
    tbody {
      tr {
        /*cursor: pointer;*/
      }
    }
    .search-block {
      text-align: left;
      float: left;
      width: 100%;
      margin-bottom: 20px;
      .search {
         float: left;
         width: calc(100% - 162px);
        display: inline;
        input{
          width: 272px;
          height: 36px !important;
          line-height: 36px !important;
          border: solid 1px #9999;
          border-radius: 5px;
          padding-left: 40px;
        }
        .el-icon-search {
          line-height: 16px;
          font-size: 19px;
          color: #666;
        }
        span {
          left: 10px;
        }
      }
      button {
        background: #1f7ff5;
        border-radius: 4px;
        height: 40px !important;
        width: 147px;
        margin-left: 15px;
        border-color: #1f7ff5;
        span {
          font-size: 16px;
          font-weight: bold;
          text-transform: uppercase;
        }
      }
    }
  }

</style>
