<template>
  <div class="app-container claim site-category-page config-page" v-if="canRead">
    <!-- Filter -->
    <template>
      <div id="site-table">
        <div class="filter-container" v-if="multipleSelection.length==0">
          <template>
            <div class="search-block">
              <el-input class="search"
                placeholder=""
                prefix-icon="el-icon-search"
                v-model="searchKeyword" @keyup.enter.native="handleFilter()">
              </el-input>
              <Search @clicked="onClickChild"></Search>
              <el-button v-if="canCreate" type="primary" @click="handleCreate()"
              ><i class="el-icon-plus"></i> Thêm mới</el-button>
            </div>
          </template>
        </div>
        <div id="select-all-delete" v-if="multipleSelection.length>0">
          <i class="el-icon-close" @click="closeDelete()"></i> <span v-if="multipleSelection.length<10">0{{multipleSelection.length}}</span><span v-else>{{multipleSelection.length}}</span> mục được chọn
          <el-button type="danger" @click="destroyMulti()" :loading="loading_delete_all" v-if="canDelete"><i class="el-icon-delete"></i> Xóa</el-button>
        </div>
          <el-table
            ref="multipleTable"
            :data="categoryList"
            style="width: 100%"
            :row-class-name="tableRowClassName"
            @selection-change="handleSelectionChange" @row-click="rowClicked">
            <el-table-column
                type="selection"
                width="55">
            </el-table-column>

            <el-table-column label="STT" :width="(query.page * query.size).toString().length * 10 + 30">
              <template slot-scope="scope">
                <span>{{ (query.page - 1) * query.size + scope.$index + 1 }}</span>
              </template>
            </el-table-column>

            <el-table-column label="Tên danh mục">
              <template slot-scope="scope">
                <span>{{ scope.row.name }}</span>
              </template>
            </el-table-column>

            <el-table-column label="Mã danh mục">
              <template slot-scope="scope">
                <span>{{ scope.row.code }}</span>
              </template>
            </el-table-column>

            <el-table-column label="Loại danh mục">
              <template slot-scope="scope">
                <span>{{ scope.row.catType }}</span>
              </template>
            </el-table-column>

            <el-table-column label="Giá trị">
              <template slot-scope="scope">
                <span>{{ scope.row.mapper }}</span>
              </template>
            </el-table-column>

          <el-table-column label="Mô tả">
            <template slot-scope="scope">
              <span>{{ scope.row.description }}</span>
              </template>
            </el-table-column>

          </el-table>
          <!-- Phân trang -->
          <p style="clear: both"></p>
        <div style="display: inline-block; padding-top: 13px">
          Tổng số danh mục: <strong>{{ total }}</strong>
        </div>
          <pagination v-show="total>query.size" :total="total" :page.sync="query.page" :layout="layout" :limit.sync="query.size" @pagination="getList" />
      </div>
      <div id="detail-site" style="width: 0;">
          <i class="el-icon-close" @click="closeDetail()"></i>
          <template v-if="categoryDetail">
              <div class="avatar">
              </div>

              <template v-if="categoryDetail.catType">
                <div class="item-label">Loại danh mục</div>
                <div class="item-text">{{ categoryDetail.catType }}</div>
              </template>

              <template v-if="categoryDetail.name">
                <div class="item-label">Tên danh mục</div>
                <div class="item-text">{{ categoryDetail.name }}</div>
              </template>

              <template v-if="categoryDetail.code">
                <div class="item-label">Mã danh mục</div>
                <div class="item-text">{{ categoryDetail.code }}</div>
              </template>

              <template v-if="categoryDetail.mapper">
                <div class="item-label">Giá trị</div>
                <div class="item-text">{{ categoryDetail.mapper }}</div>
              </template>

              <template v-if="categoryDetail.description">
                <div class="item-label">Mô tả</div>
                <div class="item-text">{{ categoryDetail.description }}</div>
              </template>

              <div class="action">
                <el-button type="primary" @click="handleEdit(categoryDetail)" v-if="canUpdate"><i class="el-icon-edit"></i> Sửa</el-button>
                <el-button type="success"  v-if="canDelete" @click="destroy(categoryDetail)" :loading="loadingDelete"><i class="el-icon-delete"></i> Xóa</el-button>
              </div>
          </template>
      </div>
    </template>

    <!-- Dialog Add -->
    <el-dialog
      title="Thêm mới danh mục"
      :visible.sync="dialogAdd"
      width="672px"
      @close="closeDialog('addForm')"
      :close-on-click-modal="false"
    >
      <el-form
        :model="categoryInfo"
        :rules="rules"
        ref="addForm"
        label-position="top"
        label-width="100%"
      >
        <div class="block-item">
              <div class="item-left">
                <el-form-item label="Loại danh mục" prop="catType">
                  <el-select v-model="categoryInfo.catType" placeholder="Chọn loại danh mục" style="width:100%;">
                    <el-option
                      v-for="cateType in categoryTypesList"
                      :key="cateType"
                      :label="cateType"
                      :value="cateType">
                    </el-option>
                  </el-select>
                </el-form-item>
                <el-form-item label="Mã đơn vị" v-if="categoryInfo.catType == 'MAU_IN'">
                  <el-select
                      v-model="categoryInfo.organizationCode"
                      placeholder="Đơn vị"
                      filterable
                      style="width: 100%">
                      <el-option
                        v-for="organization in organizationList"
                        :key="organization.uuid"
                        :label="organization.name"
                        :value="organization.code"
                        class="fit-option">{{ organization.name }}</el-option>
                  </el-select>
                </el-form-item>
                <el-form-item label="Mã danh mục" prop="code">
                  <el-input maxlength="100" v-model="categoryInfo.code"></el-input>
                </el-form-item>
              </div>
            <div class="item-right">
               <el-form-item label="Tên" prop="name">
                  <el-input maxlength="100" v-model="categoryInfo.name"></el-input>
                </el-form-item>
                <el-form-item label="Giá trị" prop="mapper">
                  <el-input maxlength="255" v-model="categoryInfo.mapper"></el-input>
                </el-form-item>
            </div>
            <div class="item-mid">
               <el-form-item label="Mô tả" prop="description">
                  <el-input type="textarea" v-model="categoryInfo.description" maxlength="255" :autosize="{ minRows: 4, maxRows: 8}"></el-input>
                </el-form-item>
            </div>
        </div>
      </el-form>
      <div slot="footer" class="dialog-footer">
            <el-button type="danger" @click="dialogAdd = false">Thoát</el-button>
            <el-button type="primary" @click="addCategory()" :loading="loadingCategory">Lưu</el-button>
      </div>
    </el-dialog>

    <!-- Dialog Edit -->
    <el-dialog
      title="Sửa danh mục"
      :visible.sync="dialogEdit"
      width="672px"
      :close-on-click-modal="false"
    >
      <el-form
        :model="categoryInfo"
        :rules="rules"
        ref="editForm"
        label-position="top"
        label-width="200px">
       <div class="block-item">
              <div class="item-left">
                <el-form-item label="Loại danh mục" prop="catType">
                    <el-select v-model="categoryInfo.catType" placeholder="Chọn loại danh mục" style="width:100%;">
                    <el-option
                      v-for="cateType in categoryTypesList"
                      :key="cateType"
                      :label="cateType"
                      :value="cateType"
                    >
                    </el-option>
                  </el-select>
                </el-form-item>
                <el-form-item label="Mã đơn vị" v-if="categoryInfo.catType == 'MAU_IN'">
                  <!-- <el-input maxlength="100" v-model="categoryInfo.organizationCode"></el-input> -->
                  <el-select
                      v-model="categoryInfo.organizationCode"
                      placeholder="Đơn vị"
                      style="width: 100%">
                      <el-option
                        v-for="organization in organizationList"
                        filterable
                        :key="organization.uuid"
                        :label="organization.name"
                        :value="organization.code"
                        class="fit-option">{{ organization.name }}</el-option>
                  </el-select>
                </el-form-item>
                <el-form-item label="Mã danh mục" prop="code">
                  <el-input maxlength="100" v-model="categoryInfo.code"></el-input>
                </el-form-item>
              </div>
            <div class="item-right">
               <el-form-item label="Tên" prop="name">
                  <el-input maxlength="100" v-model="categoryInfo.name"></el-input>
                </el-form-item>
                <el-form-item label="Giá trị" prop="mapper">
                  <el-input maxlength="255" v-model="categoryInfo.mapper"></el-input>
                </el-form-item>
            </div>
            <div class="item-mid">
               <el-form-item label="Mô tả" prop="description">
                  <el-input type="textarea" maxlength="255" v-model="categoryInfo.description" :autosize="{ minRows: 4, maxRows: 8}"></el-input>
                </el-form-item>
            </div>
        </div>
      </el-form>
      <div slot="footer" class="dialog-footer">
            <el-button type="danger" @click="dialogEdit = false">Thoát</el-button>
            <el-button type="primary" @click="editSite()" :loading="loadingCategory">CẬP NHẬT</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import Pagination from "@/components/Pagination_custom"
import waves from "@/directive/waves" // Waves directive
import { validFloat } from "@/utils/validate"
import Resource from "@/api/resource"
import Search from "@/components/Search/search-category"
const categoryResource = new Resource("systemconfig/category")
const categoryTypesResource = new Resource("systemconfig/category/cattypes")
const organizationResource = new Resource("user/organization")

export default {
  components: { Pagination, Search },
  directives: { waves },
  data() {
    const validateLonLat = (rule, value, callback) => {
      if (!validFloat(value)) {
        callback(new Error("Vui lòng nhập đúng định dạng"));
      } else {
        callback();
      }
    };
    return {
      loading: true,
      flag_active: null,
      layout: "first, prev, pager, next, last",
      loadingCategory: false,
      loadingDelete: false,
      dialogAdd: false,
      dialogEdit: false,
      organizationList: [],
      multipleSelection: [],
      categoryInfo: {
        id: "",
        name: "",
        code: "",
        catType: [],
        mapper: "",
        orderInType: "",
        organizationCode: "",
        description: ""
      },
      statusLst: [
        {
          value: "ENABLE",
          label: "Hoạt động",
        },
        {
          value: "DISABLE",
          label: "Không hoạt động",
        },
      ],
      sitesList: [],
      categoryList: [],
      categoryTypesList:[],
      categoryDetail: {},
      total: 0,
      searchKeyword: null,
      query: {
        page: 0,
        size: 15,
        keyword: this.searchKeyword,
      },
      rules: {
        catType: [{ required: true, message: "Loại danh mục là bắt buộc", trigger: "blur" }],
        code: [
          { required: true, message: "Mã danh mục là bắt buộc", trigger: "blur" },
          { max: 255, message: "Tối đa 255 ký tự", trigger: "blur" }
        ],
        name: [
          { required: true, message: "Tên là bắt buộc", trigger: "blur" },
          { max: 255, message: "Tối đa 255 ký tự", trigger: "blur" }
        ],
        description: [{ max: 255, message: "Tối đa 255 ký tự", trigger: "blur" }],
        mapper: [
          { required: true, message: "Giá trị là bắt buộc", trigger: "blur" },
          { max: 255, message: "Tối đa 255 ký tự", trigger: "blur" }
        ]
      },
      canRead: false,
      canCreate: false,
      canUpdate: false,
      canDelete: false,
    };
  },

  created() {
    this.canRead = this.$root.checkRole(this.$route.fullPath,'canRead')
    this.canCreate = this.$root.checkRole(this.$route.fullPath,'canCreate')
    this.canUpdate = this.$root.checkRole(this.$route.fullPath,'canUpdate')
    this.canDelete = this.$root.checkRole(this.$route.fullPath,'canDelete')
    this.getList()
    this.getListOrganization()
  },

  methods: {
    async getList() {
      this.loading = true
      if(this.searchKeyword) {
        this.searchKeyword = this.searchKeyword.trim()
      }
      let queryCustom = {
        page: this.query.page,
        size: this.query.size,
        catType: this.query.categoryType,
        search: this.searchKeyword ? this.searchKeyword.trim() : null,
      };

      if (this.query.page > 0) {
        queryCustom.page = this.query.page - 1;
      }
      const { data, total } = await categoryResource.list(queryCustom);
      if (data) {
        this.categoryList = data;
      } else {
        this.categoryList = [];
      }
      if (total) {
        this.total = total;
      } else {
        this.total = 0;
      }

      this.loading = false;
    },
    async getListCategoryType() {
      this.loading = true;

      let queryCustom = {
        // search: this.searchKeyword ? this.searchKeyword : "",
      };
      const { data } = await categoryTypesResource.list();
      if (data) {
        this.categoryTypesList = data;
      } else {
        this.categoryTypesList = [];
      }
      this.loading = false;
    },
    async getListOrganization() {
      let queryCustom = {
        systemType: 0,
      }
      const { data } = await organizationResource.list(queryCustom)
      if (data) {
        this.organizationList = data
      } else {
        this.organizationList = []
      }
    },
    onClickChild(value) {
      if (value) {
        this.query.categoryType =  value.categoryType
      }
      this.handleFilter();
    },

    closeDelete() {
      this.$refs.multipleTable.clearSelection();
      this.multipleSelection = [];
    },
    closeDetail() {
      document.getElementById("detail-site").style.display = 'none';
      document.getElementById("detail-site").style.width = '0';
      document.getElementById("site-table").style.width = 'calc(100%)';
    },
    async rowClicked(row) {
        this.flag_active = row.id
        const { data } = await categoryResource.get(row.id);
        if (data) {
          this.categoryDetail = data;
          if (this.categoryDetail) {
            document.getElementById("site-table").style.width = 'calc(100% - 445px)';
            setTimeout(function() {
              document.getElementById("detail-site").style.display = 'block';
              document.getElementById("detail-site").style.width = '420px';
            }, 500);
          }
        } else {
          this.$message({
            message: "Danh mục không tồn tại",
            type: "error",
          });
          this.handleFilter();
        }
    },

    destroy(site) {
      this.$confirm('Bạn chắc chắn muốn xóa danh mục ' + site.name + '?', '', {
        confirmButtonText: 'Xác nhận',
        cancelButtonText: 'Thoát',
        type: 'warning'
      }).then(() => {
        this.loadingDelete = true;
        categoryResource.destroy(site.id).then(response => {
          this.loadingDelete = false;
          this.handleFilter();
          if (response.status == 200) {
            this.getList()
            this.closeDetail()
            this.$message({
              message: "Xóa thành công",
              type: "success",
            });
          } else {
            this.$notify({
              title: "Lỗi",
              message: "Xóa thất bại",
              type: "error",
            });
          }
        }).catch(err => {
          this.loadingDelete = false;
          console.log(err);
          this.$notify({
            title: "Lỗi",
            message: "Xóa thất bại",
            type: "error",
          });
        });
      })
      .catch(() => {});
    },

    destroyMulti() {
      this.$confirm('Bạn có chắc chắn muốn xóa lựa chọn này?', '', {
          confirmButtonText: 'Xác nhận',
          cancelButtonText: 'Thoát',
          type: 'warning'
        }).then(() => {
          this.loadingDelete = true;
          let params = this.multipleSelection.map(function(val){
            return val.id;
          });
          params = {
            uuidCategorys: params
          };
          categoryResource.destroyMulti(params).then(response=>{
            this.loadingDelete = false;
            if(response.status==200){
              this.multipleSelection = [];
              this.getList()
              this.closeDetail()
              this.$message({
                type: 'success',
                message: 'Xóa thành công'
              });
            }
          }).catch((err) => {
            this.loadingDelete = false;
            console.log(err);
            // this.$message({
            //     type: 'error',
            //     message: 'Có lỗi xảy ra vui lòng thử lại sau!'
            // });
          });
        }).catch(() => {

        });
    },

    handleFilter() {
      this.query.page = 1
      this.getList()
    },

    handleCreate() {
      this.resetDialog()
      this.dialogAdd = true
      this.getListCategoryType()
    },

    handleEdit(data) {
      this.getListCategoryType()
      this.categoryInfo = _.cloneDeep(data)
      this.dialogEdit = true;
      this.$nextTick(() => {
        this.$refs["editForm"].clearValidate()
      });
    },

    addCategory() {
      this.categoryInfo = this.$root.trimData(this.categoryInfo)
      this.$refs.addForm.validate((valid) => {
        if (valid) {
          const params = {
            catType: this.categoryInfo.catType.trim(),
            code: this.categoryInfo.code.trim(),
            name: this.categoryInfo.name.trim(),
            organizationCode: this.categoryInfo.organizationCode.trim(),
            mapper: this.categoryInfo.mapper.trim(),
            description: this.categoryInfo.description.trim()
          };
          this.loadingCategory = true;
          categoryResource
          .store(params)
            .then((response) => {
              if (response.status === 200 || response.status === 201) {
                this.dialogAdd = false;
                this.handleFilter();
                this.resetDialog();
                this.$message({
                  message: "Thêm mới thành công",
                  type: "success",
                });
                this.loadingCategory = false;
              }
            })
            .catch(() => {
              this.loadingCategory = false;
            });
        } else {
          return false;
        }
      });
    },

    editSite() {
      this.categoryInfo = this.$root.trimData(this.categoryInfo);
      this.$refs.editForm.validate((valid) => {
        if (valid) {
          const params = {
            catType: this.categoryInfo.catType.trim(),
            code: this.categoryInfo.code.trim(),
            name: this.categoryInfo.name.trim(),
            organizationCode: this.categoryInfo.organizationCode ? this.categoryInfo.organizationCode.trim() : null,
            mapper: this.categoryInfo.mapper.trim(),
            description: this.categoryInfo.description.trim()
          };
          this.loadingCategory = true;
          categoryResource
            .update(this.categoryInfo.id, params)
            .then((response) => {
              if (response.status === 200 || response.status === 201) {
                this.dialogEdit = false
                this.handleFilter()
                this.closeDetail()
                this.$message({
                  message: "Sửa thành công",
                  type: "success",
                });
              }
             this.loadingCategory = false;
            })
            .catch(() => {
              this.loadingCategory = false;
              // this.$notify({
              //   title: "Lỗi",
              //   message: "Sửa thất bại",
              //   type: "error",
              // });
            });
        } else {
          return false;
        }
      });
    },

    resetDialog() {
      this.categoryInfo = {
        id: "",
        name: "",
        code: "",
        catType: "",
        mapper: "",
        orderInType: "",
        description: "",
        organizationCode: ""
      };
    },
    closeDialog(formName) {
      this.$refs[formName].clearValidate();
      this.$refs[formName].resetFields();
    },

    handleSelectionChange(val) {
        this.multipleSelection = val;
    },
    tableRowClassName(row) {
        if(row.row.id == this.flag_active) {
            return 'active-row'
        }
        return ''
    }
  },
};
</script>

<style lang="scss" scoped>
.site-category-page {
  .item-mid {
      width: 100%;
      float: left;
      /*margin-left: 2%;*/
    }
}
</style>

<style lang="scss">
  .site-category-page {
    .el-icon-camera-solid {
        font-size: 25px;
        color: #9a9a9a;
        position: relative;
        top: -50px;
        left: 54px;
        background: #dfdfdf;
        border-radius: 50%;
        padding: 8px;
        border: 1px solid white;
    }
    .img_avatar {
      text-align: center;
      padding-top: 25px;
      img {
        border-radius: 50%;
      }
    }
    .el-dialog {
      margin-top: 80px !important;
    }
    .item-left {
      width: 100%;
      float: left;
      /*margin-right: 2%;*/
    }
    .item-right {
      width: 100%;
      float: left;
      /*margin-left: 2%;*/
    }
    .block-item {
      width: 100%;
      float: left;
    }
    .el-dialog__header {
        padding: 0;
        background: #006fe3;
        height: 40px;
        line-height: 40px;
        text-align: center;
        .el-dialog__title {
          color: white;
        }
        .el-icon-close {
          color: white;
          font-size: 22px;
          top: -10px;
          position: relative;
        }
    }
    .el-dialog__body {
      .el-form-item__label {
        padding-bottom: 0;
        font-size: 14px;
        color: #363030;
        font-weight: 300;
      }
    }
    .el-dialog__footer {
      clear: both;
      padding-bottom: 25px;
      .el-button--primary {
          background: #1f7ff5;
          height: 40px;
          border-radius: 5px;
          width: 147px;
          text-transform: uppercase;
          font-weight: bold;
          border-color: #1f7ff5;
      }
      .el-button--danger {
          background: #9e9e9e;
          height: 40px;
          border-radius: 5px;
          width: 147px;
          text-transform: uppercase;
          font-weight: bold;
          border-color: #9e9e9e;
          float: left;
      }
    }
    #select-all-delete {
      height: 63px;
      line-height: 63px;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
      background-color: #ff4646;
      color: white;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      .el-icon-close {
          font-size: 25px;
          margin-left: 20px;
          margin-right: 35px;
          position: relative;
          top: 4px;
          cursor: pointer;
      }
      button {
        background: #e00000;
        border: initial;
        border-radius: 5px;
        float: right;
        display: inline-block;
        margin-top: 15px;
        margin-right: 15px;
      }
    }
    .action {
      margin-top: 40px;
      .el-button--primary {
        background: #64789a;
        border: initial;
        border-radius: 4px;
        width: 147px;
        height: 40px;
      }
      .el-button--success {
        background: #ff6161;
        border: initial;
        border-radius: 4px;
        width: 147px;
        height: 40px;
        float: right;
      }
      .el-button--info {
        background: #26c6da;
        border: initial;
        border-radius: 4px;
        width: 147px;
        height: 40px;
        float: right;
      }
    }
    #detail-site {
      position: relative;
     /* transition: width 1s;
      -moz-transition: width 1s;
      -webkit-transition: width 1s;
      -o-transition: width 1s;*/
      width: 0;
      background: white;
      padding: 25px;
      float: left;
      margin-left: 25px;
      display: none;
      overflow: hidden;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
      border-radius: 4px;
      .avatar {
        text-align: center;
        margin-bottom: 25px;
        margin-top: 25px;
        img {
          border-radius: 50%;
        }
      }
      .item-label {
        color: black;
        font-weight: bold;
        font-size: 14px;
        margin-bottom: 10px;
      }
      .item-text {
        color: black;
        font-size: 16px;
        margin-bottom: 20px;
        opacity: 0.6;
      }
      .el-icon-close {
        background: #e3e3e3;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        text-align: center;
        line-height: 30px;
        color: #878787;
        font-size: 16px;
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
      }
    }
    .el-table th > .cell {
      text-align: left;
    }
    .el-table tr > th:first-child .cell {
      text-align: center;
    }
    .el-table th {
      color: black;
      font-size: 14px;
    }
    .el-table td {
      color: black;
      font-size: 14px;
    }
    .el-table tr td:first-child {
      text-align: center;
    }
    .el-table td:first-child .cell {
      display: inline-block;
    }
    .filter-container {
      padding-bottom: 20px;
    }
    tbody {
      tr {
        cursor: pointer;
      }
    }
    .search-block {
      .search {
        display: inline;
        input{
          width: 272px;
          height: 36px !important;
          line-height: 36px !important;
          border: solid 1px #9999;
          border-radius: 5px;
          padding-left: 40px;
        }
        .el-icon-search {
          line-height: 16px;
          font-size: 19px;
          color: #666;
        }
        span {
          left: 10px;
        }
      }
      button {
        float: right;
        background: #1f7ff5;
        border-radius: 4px;
        height: 40px !important;
        width: 147px;
        margin-left: 15px;
        border-color: #1f7ff5;
        span {
          font-size: 16px;
          font-weight: bold;
          text-transform: uppercase;
        }
      }
    }
  }

</style>
