<template>
    <div id="container-map">
        <div id="mapRoute"></div>
        <div id="popup" class="ol-popup" style="visibility: hidden"></div>
    </div>
</template>

<script>
import "ol/ol.css";
import Map from "ol/Map";
import Feature from "ol/Feature";
import Overlay from "ol/Overlay";
import View from "ol/View";
import { defaults as defaultControls, FullScreen } from "ol/control";
import { Tile as TileLayer, Vector as VectorLayer } from 'ol/layer';
import { Vector as VectorSource } from 'ol/source';
import XYZ from 'ol/source/XYZ';
import Point from 'ol/geom/Point';
import { Style, Icon, Text, Fill } from 'ol/style';
import { fromLonLat } from 'ol/proj';
import TileWMS from 'ol/source/TileWMS';

import iconPoint from '@/assets/images/icon_map_route.png';
import config from '@/config.js';

export default {
    name: "map-vehicle-route",
    props: {
        vehicleRouteStatisticList: {
            type: Array,
            default: function() {
                return [];
            }
        },
    },
    watch: {
        vehicleRouteStatisticList() {
            this.renderMap();
        },
    },
    data() {
        return {
            windowHeight: window.innerHeight,
            mapInstance: null,
            popup: null,
            selectedIcon: null,
            //zoom: 16,
            //minZoom: 4,
            // centerLongitude: this.vehicleRouteStatisticList.length > 0 ? this.vehicleRouteStatisticList[0].site.longitude : 104.887,
            // centerLatitude: this.vehicleRouteStatisticList.length > 0 ? this.vehicleRouteStatisticList[0].site.latitude : 21.711,
            //zoom: this.calZoom(this.vehicleRouteStatisticList),
            zoom: 14,
            minZoom: 5,
            // centerLongitude: config.map_location_default.longitude,
            // centerLatitude: config.map_location_default.latitude,
            centerLongitude: this.calCenterLongitude(this.vehicleRouteStatisticList),
            centerLatitude: this.calCenterLatitude(this.vehicleRouteStatisticList),
        };
    },
    methods: {
        initMap(googleMapLayer, iconLayer) {
            document.getElementById("mapRoute").innerHTML = "";
            //document.getElementById("mapRoute").style.height = (this.windowHeight - 123) + "px";
            // document.getElementById("mapRoute").style.height = '100%';
            let divContainerMap = document.getElementById("container-map");
            let popTag = document.getElementById('popup');
            if (!popTag) {
                let divPopup = document.createElement("div");
                divPopup.classList.add("ol-popup");
                divPopup.setAttribute('id', 'popup');
                divPopup.style.visibility = 'hidden';
                divContainerMap.appendChild(divPopup);
            }
            if(process.env.VUE_APP_USE_GOOGLE_MAP != "true"){
                return new Map({
                  target: "mapRoute",
                  controls: defaultControls().extend([new FullScreen()]),

                  layers: [
                    // googleMapLayer,
                    new TileLayer({
                      source: new TileWMS({
                        url: process.env.VUE_APP_USE_MAP_OFFLINE_LINK,
                        params: {'LAYERS': process.env.VUE_APP_USE_MAP_OFFLINE_LAYERS, 'TILED': true},
                        serverType: 'geoserver',
                        // Countries have transparency, so do not fade tiles:
                        transition: 0,
                      }),
                    }),
                    iconLayer
                  ],

                  view: new View({
                    center: fromLonLat([this.centerLongitude, this.centerLatitude]),
                    zoom: this.zoom,
                    minZoom: this.minZoom,
                  }),
                });
              }else{
                return new Map({
                  target: "mapRoute",
                  controls: defaultControls().extend([new FullScreen()]),
                  layers: [
                    googleMapLayer,
                    iconLayer
                  ],

                  view: new View({
                    center: fromLonLat([this.centerLongitude, this.centerLatitude]),
                    zoom: this.zoom,
                    minZoom: this.minZoom,
                  }),
                });
            }
        },

        createGoogleMapLayer() {
            return new TileLayer({
                source: new XYZ({ url: 'http://mt0.google.com/vt/lyrs=m&hl=en&x={x}&y={y}&z={z}&s=Ga' })
            });
        },
        isValidLngLat(lng, lat) {
            if (lng < -180 || lng > 180) {
                return false;
            } else if (lat < -90 || lat > 90) {
                return false;
            }
            return true;
        },

        createIconLayer(icons) {
            let vectorSource = new VectorSource({
                features: []
            });
            if (icons.length) {
                icons.forEach((icon, index) => {
                    let idx = icon.count;//index + 1;
                    let styleText = new Text({
                        text: idx.toString(),
                        scale: 1.5,
                        offsetX: 0,
                        offsetY: -12,
                        fill: new Fill({
                            color: "#ffffff"
                        })
                    });
                    if (this.isValidLngLat(icon.longitude, icon.latitude)) { // long, lat
                        let newFeature = new Feature({
                            geometry: new Point(fromLonLat([icon.longitude, icon.latitude])),
                            name: icon.id
                        });
                        let iconStyle = new Style({
                            image: new Icon({
                                anchor: [0.5, 0.75],
                                src: iconPoint,
                                scale: 1.0
                            }),
                            text: styleText
                        });
                        newFeature.setStyle(iconStyle);
                        vectorSource.addFeature(newFeature);
                    }
                })
            }
            return new VectorLayer({
                source: vectorSource
            });
        },
        getInfoRoute: function (vehicleRouteStatisticList) {
            let routeList = [];
            if (vehicleRouteStatisticList) {
                vehicleRouteStatisticList.forEach(route => {
                    let info = {
                        id: route.site.site_id,
                        count: route.count,
                        siteName: route.site.site_name,
                        siteAddress: route.site.site_address,
                        cameraName: route.site.site_name,
                        startTime: route.startTime,
                        longitude: route.site.longitude,
                        latitude: route.site.latitude
                    };
                    routeList.push(info);
                });
            }
            return routeList;
        },
        showContentRoute(routeInfo) {
            return `
                <p>Vị trí: ${routeInfo.site.site_address}</p>
                <p>Thời gian cuối: ${routeInfo.startTime}</p>
            `;
        },
        hiddenPopup() {
            this.popup.setPosition(undefined);
        },
        createOverLay() {
            let container = document.getElementById('popup');
            this.popup = new Overlay({
                element: container,
                autoPan: true,
                autoPanAnimation: {
                    duration: 250,
                }
            });
            return this.popup;
        },
        handlePointerMove(event) {
            let pixel = this.mapInstance.getEventPixel(event.originalEvent);
            let hit = this.mapInstance.hasFeatureAtPixel(pixel);
            this.mapInstance.getTargetElement().style.cursor = hit ? 'pointer' : '';
        },
        handleClickIcon(event) {
            this.selectedIcon = this.mapInstance.forEachFeatureAtPixel(event.pixel, (feature) => {
                return feature;
            });
            if (this.selectedIcon) {
                let coordinates = this.selectedIcon.getGeometry().getCoordinates();
                let typeSelectedFeature = this.selectedIcon.getGeometry().getType();
                if (typeSelectedFeature == 'Point') {
                    let selectedId = this.selectedIcon.get('name');
                    let routeInfo = this.vehicleRouteStatisticList.find(x => x.site.site_id == selectedId);
                    let element = document.getElementById('popup');
                    element.style.visibility = 'visible';
                    element.innerHTML = this.showContentRoute(routeInfo);
                    this.popup.setPosition(coordinates);
                } else {
                    this.hiddenPopup();
                }
            } else {
                this.hiddenPopup();
            }
        },

        renderMap() {
            let googleMapLayer = this.createGoogleMapLayer();
            let iconLayer = this.createIconLayer(this.getInfoRoute(this.vehicleRouteStatisticList));
            this.mapInstance = this.initMap(googleMapLayer, iconLayer);
            this.mapInstance.addOverlay(this.createOverLay());

            this.mapInstance.on('pointermove', this.handlePointerMove);
            this.mapInstance.on('click', this.handleClickIcon);
        },

        calCenterLongitude(vehicleRouteStatisticList) {
            if(vehicleRouteStatisticList){
                let total = 0;
                let count = 0;
                for(const item of vehicleRouteStatisticList){
                    if(item.site.longitude) {
                        total += item.site.longitude;
                        count++;
                    }
                }
                if(total > 0 && count > 0){
                    return total / count;
                }
            }
            return 105.76095;
        },

        calCenterLatitude(vehicleRouteStatisticList) {
            if(vehicleRouteStatisticList){
                let total = 0;
                let count = 0;
                for(const item of vehicleRouteStatisticList){
                    if(item.site.latitude) {
                        total += item.site.latitude;
                        count++;
                    }
                }
                if(total > 0 && count > 0){
                    return total / count;
                }
            }
            return 19.808117;
        },

        calZoom(vehicleRouteStatisticList) {
            let zoom = 15;
            if(vehicleRouteStatisticList){
                for(const item of vehicleRouteStatisticList){
                    if(item.site.latitude && item.site.longitude) {
                        zoom--;
                    }
                }
            }
            return zoom;
        }
    },
    mounted() {
        this.renderMap();
    },
};
</script>

<style lang="scss" scoped>
    #mapRoute {
        //height: 750px;
    }
</style>

<style>
    .ol-popup {
        position: absolute;
        min-width: 300px;
        background-color: white;
        -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
        filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
        padding: 12px;
        border-radius: 10px;
        border: 1px solid #ccc;
        bottom: 47px;
        left: -48px;
    }
    .ol-popup:after, .ol-popup:before {
        top: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }
    .ol-popup:after {
        border-top-color: white;
        border-width: 10px;
        left: 48px;
        margin-left: -10px;
    }
    .ol-popup:before {
        border-top-color: #cccccc;
        border-width: 11px;
        left: 48px;
        margin-left: -11px;
    }
</style>
