<template>
  <div class="app-container claim track-recognition">
    <!-- list recognition -->
    <div id="recognition-tables">
      <!-- Filter -->
      <div class="filter-container" v-if="multipleSelection.length == 0">
        <template>
          <div class="search-block">
            <el-input
              style="width: 272px !important"
              class="search"
              placeholder=""
              prefix-icon="el-icon-search"
              v-model="searchKeyword"
              @keyup.enter.native="handleFilter()"
            >
            </el-input>
            <Search @clicked="onClickChild"></Search>
            <el-button
                  type="primary"
                  v-if="linkExcel"
                  class="btn-export"
                @click="refreshExport()"
                  style="background: #006FE3; border-color: #006FE3"
              >
                <a :href="linkExcel">
                  <i class="el-icon-download"></i> Tải Excel</a>
          </el-button>
            <el-button
              v-else
              type="primary"
              class="btn-export"
              style="background: #1e2e4a; border-color: #1e2e4a"
              :loading="loadingExport"
              @click="confirmExport()"
              ><i class="el-icon-arrow-right"></i> Export
            </el-button>
            <el-button
              style="background: #26c6da; color: white; border: #26c6da"
              @click="refresh()"
              ><i class="el-icon-refresh"></i> Làm mới
            </el-button>
          </div>
          <div style="clear: both"></div>
        </template>
      </div>

      <template>
        <div id="select-all-delete" v-if="multipleSelection.length > 0">
          <i class="el-icon-close" @click="closeDelete()"></i>
          <span v-if="multipleSelection.length < 10"
            >0{{ multipleSelection.length }}</span
          ><span v-else>{{ multipleSelection.length }}</span> mục được chọn
          <el-button
            type="danger"
            @click="destroyMulti()"
            :loading="loading_delete"
            v-if="canDelete"
            ><i class="el-icon-delete"></i> Xóa
          </el-button>
        </div>

        <el-table
          :data="recognitionList"
          style="width: 100%"
          id="recognition-table"
          ref="multipleTable"
          :row-class-name="tableRowClassName"
          @selection-change="handleSelectionChange"
          @row-click="rowClicked"
          v-loading="loading"
        >
          <el-table-column type="selection" align="center"></el-table-column>
          <el-table-column label="STT" :width="(query.page * query.size).toString().length * 10 + 30">
            <template slot-scope="scope">
              <span>{{
                (query.page - 1) * query.size + scope.$index + 1
              }}</span>
            </template>
          </el-table-column>

          <el-table-column label="Biển kiểm soát">
            <template slot-scope="scope">
              <span>{{ scope.row.plate }}</span>
            </template>
          </el-table-column>

          <el-table-column label="Loại phương tiện">
            <template slot-scope="scope">
              <span>{{ scope.row.objectTypeName }}</span>
            </template>
          </el-table-column>

          <!-- <el-table-column label="Loại đối tượng">
            <template slot-scope="scope">
              <span>{{ getObjectType(scope.row.plate) }}</span>
            </template>
          </el-table-column>

          <el-table-column label="Màu sắc">
            <template slot-scope="scope">
              <span v-if="scope.row.attributes && scope.row.attributes.color">{{ scope.row.attributes.color.value | colorFilter }}</span>
              <span v-else></span>
            </template>
          </el-table-column>

          <el-table-column label="Hãng xe">
            <template slot-scope="scope">
              <span v-if="scope.row.attributes && scope.row.attributes.brand">{{ scope.row.attributes.brand.value }}</span>
              <span v-else></span>
            </template>
          </el-table-column> -->

          <el-table-column label="Thời gian">
            <template slot-scope="scope">
              <span>{{ scope.row.startTime | formatDateVietNam }}</span>
            </template>
          </el-table-column>

          <el-table-column label="Vị trí">
            <template slot-scope="scope">
              <span>{{ scope.row.site.site_address }}</span>
            </template>
          </el-table-column>

          <!-- <el-table-column label="Nguồn">
            <template slot-scope="scope">
              <span>{{ scope.row.sourceName }}</span>
            </template>
          </el-table-column>-->

          <!-- <el-table-column label="Xe đăng ký">
            <template slot-scope="scope">
              <span>{{ scope.row.plate?scope.row.provincialPlate?"Nội tỉnh":"Ngoại tỉnh":"Không xác định" }}</span>
            </template>
          </el-table-column>  -->
          <el-table-column label="Hình ảnh" width="100">
            <template slot-scope="scope">
              <span
                ><image-hover :image="urlImage + scope.row.imageUrl"
              />

              </span>
            </template>
          </el-table-column>
        </el-table>

        <!-- Phân trang -->
        <p style="clear: both"></p>
        <div style="display: inline-block; padding-top: 13px">
          Tổng số phương tiện: <strong>{{ total }}</strong>
        </div>
        <pagination
          v-show="total > query.size"
          :total="total"
          :page.sync="query.page"
          :layout="layout"
          :limit.sync="query.size"
          @pagination="getList"
        />
      </template>
    </div>

    <div v-if="recognitionInfo" id="detail-recognition" style="width: 0">
      <i class="el-icon-close" @click="closeDetail()"></i>
      <br />
      <template>
        <image-hover
          :image="urlImage + recognitionInfo.imageUrl"

        />
        <!-- </el-image> -->
        <!-- <img class="vehicle" v-else :src="vehicle_default" /> -->
        <h4>
          Biển kiểm soát: {{ recognitionInfo.plate }}
          <span v-if="getObjectType(recognitionInfo.plate) !== ''">
            ({{ getObjectType(recognitionInfo.plate) }})
          </span>
        </h4>
        <div>
          <el-form :model="recognitionInfo" class="violation-ruleForm">
            <el-row>
              <el-col :span="12" class="item-input">
                <div class="image">
                  <img
                    style="position: relative; top: -2px"
                    src="@/assets/images/processViolation/type_vehicel.png"
                    alt=""
                  />
                </div>
                <div class="content">
                  <div class="title">
                    Loại phương tiện
                    <el-popover
                      placement="top-start"
                      width="300"
                      popper-class="info-device"
                      trigger="click"
                    >
                    </el-popover>
                  </div>
                  <div class="descript">
                    {{ recognitionInfo.objectTypeName }}
                  </div>
                </div>
              </el-col>
              <el-col :span="12" class="item-input">
                <div class="image">
                  <img
                    style="position: relative; top: -2px"
                    src="@/assets/images/processViolation/address.png"
                    alt=""
                  />
                </div>
                <div class="content">
                  <div class="title">
                    Vị trí ghi nhận cuối
                    <el-popover
                      placement="top-start"
                      width="300"
                      popper-class="info-device"
                      trigger="click"
                    >
                    </el-popover>
                  </div>
                  <div class="descript" v-if="objectLastest">
                    {{
                      objectLastest.site != null
                        ? objectLastest.site.site_address
                        : ""
                    }}
                  </div>
                </div>
              </el-col>
            </el-row>
            <el-row>
              <el-col
                :span="12"
                class="item-input"
                v-if="
                  recognitionInfo.attributes && recognitionInfo.attributes.brand
                "
              >
                <div class="image">
                  <img
                    style="position: relative; top: -2px"
                    src="@/assets/images/processViolation/private-garage.png"
                    alt=""
                  />
                </div>
                <div class="content">
                  <div class="title">
                    Hãng sản xuất
                    <el-popover
                      placement="top-start"
                      width="300"
                      popper-class="info-device"
                      trigger="click"
                    >
                    </el-popover>
                  </div>

                  <div
                    class="descript"
                    v-if="
                      recognitionInfo.attributes &&
                      recognitionInfo.attributes.brand
                    "
                  >
                    {{ recognitionInfo.attributes.brand.value }}
                  </div>
                  <div class="descript" v-else></div>
                </div>
              </el-col>
              <el-col
                :span="12"
                class="item-input"
                v-if="
                  recognitionInfo.attributes && recognitionInfo.attributes.color
                "
              >
                <div class="image">
                  <img
                    src="@/assets/images/processViolation/color.png"
                    alt=""
                  />
                </div>
                <div class="content">
                  <div class="title">Màu sắc</div>

                  <div
                    class="descript"
                    v-if="
                      recognitionInfo.attributes &&
                      recognitionInfo.attributes.color
                    "
                  >
                    {{ recognitionInfo.attributes.color.value | colorFilter }}
                  </div>
                  <div class="descript" v-else></div>
                </div>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="12" class="item-input">
                <div class="image">
                  <img
                    src="@/assets/images/processViolation/device.png"
                    alt=""
                  />
                </div>
                <div class="content">
                  <div class="title">Thiết bị</div>
                  <div class="descript">{{ recognitionInfo.sourceName }}</div>
                </div>
              </el-col>
              <el-col :span="12" class="item-input">
                <div class="image">
                  <img
                    style="position: relative; top: -2px"
                    src="@/assets/images/processViolation/clock.png"
                    alt=""
                  />
                </div>
                <div class="content">
                  <div class="title">
                    Thời gian phát hiện cuối
                    <el-popover
                      placement="top-start"
                      width="300"
                      popper-class="info-device"
                      trigger="click"
                    >
                    </el-popover>
                  </div>
                  <div class="descript" v-if="objectLastest">
                    {{
                      objectLastest.startTime != null
                        ? objectLastest.startTime
                        : ""
                    }}
                  </div>
                </div>
              </el-col>
            </el-row>
            <el-col
              v-if="recognitionInfo.note != null"
              :span="12"
              class="item-input"
            >
              <div class="image">
                <img src="@/assets/images/processViolation/info.png" alt="" />
              </div>
              <div class="content">
                <div class="descript">{{ recognitionInfo.note }}</div>
              </div>
            </el-col>
            <el-col
              :span="12"
              class="item-input"
              v-if="objectTrackType == 'Danh sách đen'"
            >
              <div class="image">
                <img
                  src="@/assets/images/processViolation/type_object.png"
                  alt=""
                />
              </div>
              <div class="content">
                <div class="title">Loại đối tượng</div>
                <div class="descript">{{ objectTrackType }}</div>
              </div>
            </el-col>
            <el-col :span="24">
              <div class="action">
                <el-row>
                  <el-button
                    v-if="
                      (!objectTrackType ||
                        objectTrackType == 'Danh sách đen') &&
                      canRead
                    "
                    type="primary"
                    @click="handleDetail(recognitionInfo)"
                    style="background-color: #26c6da; color: #ffffff"
                    >Lộ trình
                  </el-button>
                  <el-button
                    v-if="canUpdate"
                    type="primary"
                    @click="updateInfoVehicleTrack()"
                    style="
                      background-color: #1f7ff5;
                      color: #ffffff;
                      margin-left: 40px;
                      float: right;
                    "
                    >Cập nhật
                  </el-button>
                </el-row>
              </div>
            </el-col>
          </el-form>
        </div>
      </template>
    </div>
    <template>
      <div class="travel-detail" :class="{ hide: !isClickDetail }">
        <div class="header">
          Lộ trình
          <i class="el-icon-close" @click="closeDetailTravel" />
        </div>
        <div class="body">
          <div class="block-item">
            <div
              v-if="isClickDetail"
              class="item-left image-detailbox"
              style="width: 58% !important"
            >
              <el-card
                class="box-card setpadding detail-info-left-top"
                id="detail-info-left-top"
              >
                <div class="item-left" style="width: 250px; margin-right: 0">
                  <div class="item">
                    <div class="image">
                      <img
                        src="@/assets/images/processViolation/plate.png"
                        alt=""
                      />
                    </div>
                    <div class="content">
                      <div class="title">Biển kiểm soát</div>
                      <div class="descript">
                        {{
                          recognitionDetail
                            ? recognitionDetail.plate
                            : "UNKNOWN"
                        }}
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="image">
                      <img
                        src="@/assets/images/processViolation/type_vehicel.png"
                        alt=""
                      />
                    </div>
                    <div class="content">
                      <div class="title">Loại phương tiện</div>
                      <div class="descript">
                        {{
                          recognitionDetail
                            ? recognitionDetail.objectTypeName
                            : "UNKNOWN"
                        }}
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="image">
                      <img
                        src="@/assets/images/processViolation/type_object.png"
                        alt=""
                      />
                    </div>
                    <div class="content">
                      <div class="title">Loại đối tượng</div>
                      <div class="descript">
                        {{ vehicleTrack ? vehicleTrack.objectType : "" }}
                      </div>
                    </div>
                  </div>
                  <div
                    class="item"
                    v-if="
                      recognitionDetail &&
                      recognitionDetail.attributes &&
                      recognitionDetail.attributes.brand
                    "
                  >
                    <div class="image">
                      <img
                        src="@/assets/images/processViolation/private-garage.png"
                        alt=""
                      />
                    </div>
                    <div class="content">
                      <div class="title">Hãng sản xuất</div>
                      <div class="descript">
                        {{ recognitionDetail.attributes.brand.value }}
                      </div>
                    </div>
                  </div>
                  <div
                    class="item"
                    v-if="
                      recognitionDetail &&
                      recognitionDetail.attributes &&
                      recognitionDetail.attributes.color
                    "
                  >
                    <div class="image">
                      <img
                        src="@/assets/images/processViolation/color.png"
                        alt=""
                      />
                    </div>
                    <div class="content">
                      <div class="title">Màu sắc</div>
                      <div class="descript">
                        {{
                          recognitionDetail.attributes.color.value | colorFilter
                        }}
                      </div>
                    </div>
                  </div>
                  <div class="item" v-if="recognitionDetail">
                    <div class="image">
                      <img
                        src="@/assets/images/processViolation/info.png"
                        alt=""
                      />
                    </div>
                    <div class="content">
                      <div class="title">Mô tả</div>
                      <div class="descript">
                        {{
                          recognitionDetail.note
                            ? recognitionDetail.note
                            : "Không có mô tả"
                        }}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item-right" style="width: calc(99% - 250px)">
                  <div
                    v-if="recognitionInfo"
                    style="
                      width: 100%;
                      height: 380px;
                      border: solid 1px silver;
                      background-color: #000;
                    "
                  >
                    <img
                      v-if="
                        doesFileExist(urlImage + recognitionDetail.imageUrl)
                      "
                      :src="urlImage + recognitionDetail.imageUrl"
                      style="
                        object-fit: contain;
                        width: 100%;
                        height: 100%;
                        cursor: zoom-in;
                      "
                      @error=replaceImageFail
                      v-viewer
                    />
                    <img
                      v-else
                      :src="vehicle_default"
                      style="
                        object-fit: contain;
                        width: 100%;
                        height: 100%;
                        cursor: zoom-in;
                      "
                      v-viewer
                    />
                  </div>
                </div>
              </el-card>
              <!-- danh sach chi tiet tuyen duong -->
              <br />
              <el-card class="box-card setpadding nopad">
                <div class="table-list-history">
                  <span class="search">
                    Lịch sử
                    <SearchDetail @clicked="filterDetailVehicle"></SearchDetail>
                  </span>
                  <!-- <h5>
                  Lịch sử
                  <SearchDetail @clicked="filterDetailVehicle"></SearchDetail>
                </h5> -->
                  <div
                    id="select-all-delete"
                    v-if="multipleSelectionHistory.length > 0"
                  >
                    <i class="el-icon-close" @click="closeDeleteHistory()"></i>
                    <span v-if="multipleSelectionHistory.length < 10"
                      >0{{ multipleSelectionHistory.length }}</span
                    ><span v-else>{{ multipleSelectionHistory.length }}</span>
                    mục được chọn
                    <el-button
                      type="danger"
                      @click="destroyMultiHistory()"
                      :loading="loading_delete_all"
                      v-if="canDelete"
                      ><i class="el-icon-delete"></i> Xóa
                    </el-button>
                  </div>

                  <el-table
                    :data="vehicleRouteList"
                    style="width: 100%; display: block"
                    id="route-table"
                    :max-height="418"
                    @row-click="handleRouteDetail"
                    ref="multipleTableHistory"
                    @selection-change="handleSelectionChangeHistory"
                    v-loading="loading_route"
                  >
                    <el-table-column
                      type="selection"
                      align="center"
                    ></el-table-column>
                    <el-table-column label="STT" width="50">
                      <template slot-scope="scope">
                        <span>{{ scope.$index + 1 }}</span>
                      </template>
                    </el-table-column>

                    <el-table-column label="Thời gian" width="170">
                      <template slot-scope="scope">
                        <span v-if="scope.row.startTime">{{
                          scope.row.startTime | formatDateVietNam
                        }}</span>
                      </template>
                    </el-table-column>

                    <el-table-column label="Vị trí">
                      <template slot-scope="scope">
                        <span>{{ scope.row.site.site_address }}</span>
                      </template>
                    </el-table-column>

                    <el-table-column label="Thiết bị">
                      <template slot-scope="scope">
                        <span>{{ scope.row.sourceName }}</span>
                      </template>
                    </el-table-column>
                    <el-table-column label="Loại phương tiện" width="150">
                      <template slot-scope="scope">
                        <span>{{ scope.row.objectTypeName }}</span>
                      </template>
                    </el-table-column>
                    <el-table-column label="Hình ảnh" width="100">
                      <template slot-scope="scope">
                        <image-hover :image="urlImage + scope.row.imageUrl" />
                        <!-- <img v-else :src="vehicle_default" alt="" /> -->
                      </template>
                    </el-table-column>
                    <el-table-column label="Thao tác" width="100">
                      <template>
                        <el-button
                          type="primary"
                          icon="el-icon-edit"
                          @click="infoVehicleMove()"
                        >
                          sửa</el-button
                        >
                      </template>
                    </el-table-column>
                  </el-table>
                </div>
              </el-card>

              <!-- ket thuc -->
            </div>

            <div
              v-if="showMap"
              class="item-right map-box"
              style="width: 41% !important"
            >
              <el-card class="box-card setpadding">
                <component
                  v-bind:is="showComponentAction"
                  v-bind:vehicleRouteStatisticList="vehicleRouteStatisticList"
                />
              </el-card>
            </div>
          </div>
        </div>
      </div>
    </template>
    <!-- Sua doi tuong theo doi -->
    <!-- Edit Dialog -->
    <el-dialog
      v-if="trackInfo"
      title="Cập nhật đối tượng theo dõi"
      :visible.sync="dialogEdit"
      custom-class="update-trackInfo"
      width="700px"
      :close-on-click-modal="false"
    >
      <el-form
        :model="trackInfo"
        :rules="rules"
        ref="editForm"
        label-position="top"
        label-width="100%"
      >
        <div class="block-item">
          <div class="item-left">
            <el-form-item label="Biển kiểm soát" prop="plate">
              <el-input v-model="trackInfo.plate"></el-input>
            </el-form-item>

            <el-form-item label="Nhãn hiệu" prop="model">
              <el-input v-model="trackInfo.attributes.brand.value"></el-input>
            </el-form-item>

            <div class="block-item">
              <div class="item-left">
                <el-form-item label="Loại phương tiện" prop="vehicleType">
                  <el-select
                    v-model="trackInfo.vehicleType"
                    placeholder="Loại phương tiện"
                  >
                    <el-option
                      v-for="tmpType in vehicleTypeLst"
                      :key="tmpType.id + Math.random()"
                      :label="tmpType.name"
                      :value="tmpType.code"
                    >
                    </el-option>
                  </el-select>
                </el-form-item>
              </div>
              <div class="item-right">
                <el-form-item label="Loại đối tượng" prop="objectType">
                  <el-select
                    @change="changeTypeObject()"
                    v-model="trackInfo.objectType"
                    placeholder="Loại đối tượng"
                  >
                    <el-option
                      v-for="tmpType in objectTypeLst"
                      :key="tmpType.id + Math.random()"
                      :label="tmpType.name"
                      :value="tmpType.name"
                    >
                    </el-option>
                  </el-select>
                </el-form-item>
              </div>
            </div>
          </div>
          <div class="item-right">
            <el-form-item>
              <div class="vehicle" label="Vehicle image" prop="image">
                <img
                  class="image"
                  v-if="url && doesFileExist(url)"
                  :src="url"
                  @error=replaceImageFail
                  @click="handleClick"
                />
                <img
                  class="image"
                  v-else
                  :src="vehicle_default"
                  @click="handleClick"
                />
                <img class="image" @click="handleClick" />
                <div class="img_icon">
                  <input
                    v-if="uploadReady"
                    type="file"
                    ref="file"
                    hidden
                    @change="fileSelected"
                  />
                  <div class="avatar-uploader">
                    <i class="fal fa-pencil" @click="handleClick"> </i>
                    <span class="change-image" @click="handleClick"
                      >Thay đổi ảnh</span
                    >
                  </div>
                </div>
              </div>
            </el-form-item>
          </div>
        </div>
        <div class="block-item" v-if="trackInfo.objectType == 'Danh sách đen'">
          <div class="item-left" v-if="flagWarning">
            <el-form-item
              label="Lý do"
              prop="reason"
            >
              <el-select
                v-model="trackInfo.reason"
                placeholder="Lý do"
                filterable
                allow-create
                style="width: 100%"
              >
                <el-option
                  v-for="tmpType in reasonLst"
                  :key="tmpType.id + Math.random()"
                  :label="tmpType.value"
                  :value="tmpType.value"
                >
                </el-option>
              </el-select>
            </el-form-item>
          </div>
          <div class="item-left testt warning-input" v-if="flagWarning">
            <el-form-item
              label="Đội CSGT/Người nhận cảnh báo"
              prop="multipleReceiver"
            >
              <el-select
                v-model="trackInfo.multipleReceiver"
                placeholder="Select"
                class="group-reserver"
                multiple
                collapse-tags
                filterable
                style="width: 100%"
              >
                <el-option-group
                  v-for="group in options"
                  :key="group.label"
                  :label="group.label"
                >
                  <el-option
                    v-for="item in group.options"
                    :key="item.id"
                    :label="genReceiverLabel(group, item)"
                    :value="genReceiverValue(item)"
                  >
                  </el-option>
                </el-option-group>
              </el-select>
            </el-form-item>
          </div>
        </div>
        <div class="block-item">
          <el-form-item
            label="Ghi chú"
            prop="description"
            style="margin-right: 20px"
          >
            <el-input
              type="textarea"
              v-model="trackInfo.description"
            ></el-input>
          </el-form-item>
        </div>
      </el-form>

      <div slot="footer" class="dialog-footer">
        <el-button type="danger" @click="dialogEdit = false">Thoát</el-button>
        <el-button type="primary" @click="editTrack()" :loading="loading_edit"
          >Cập nhật
        </el-button>
      </div>
    </el-dialog>
    <el-dialog
      v-if="vehicleMoveInfo"
      title="Cập nhật phương tiện"
      :visible.sync="dialogVehicleMove"
      custom-class="update-trackInfo"
      width="700px"
      :close-on-click-modal="false"
    >
      <el-form
        :model="vehicleMoveInfo"
        :rules="rules"
        ref="editForm"
        label-position="top"
        label-width="100%"
      >
        <div class="block-item">
          <div class="item-left">
            <el-form-item label="Biển kiểm soát" prop="plate">
              <el-input v-model="vehicleMoveInfo.plate"></el-input>
            </el-form-item>

            <el-form-item label="Nhãn hiệu" prop="model">
              <el-input v-model="vehicleMoveInfo.model"></el-input>
            </el-form-item>

            <div class="block-item">
              <div>
                <el-form-item label="Loại phương tiện" prop="vehicleType">
                  <el-select
                    v-model="vehicleMoveInfo.vehicleType"
                    placeholder="Loại phương tiện"
                  >
                    <el-option
                      v-for="tmpType in vehicleTypeLst"
                      :key="tmpType.id + Math.random()"
                      :label="tmpType.name"
                      :value="tmpType.code"
                    >
                    </el-option>
                  </el-select>
                </el-form-item>
              </div>
            </div>
          </div>
          <div class="item-right">
            <el-form-item>
              <div class="vehicle" label="Vehicle image" prop="image">
                <img
                  class="image"
                  v-if="doesFileExist(url)"
                  :src="url"
                  @error=replaceImageFail
                />
                <img class="image" v-else :src="vehicle_default" :alt="url" />
              </div>
            </el-form-item>
          </div>
        </div>
      </el-form>

      <div slot="footer" class="dialog-footer">
        <el-button type="danger" @click="dialogVehicleMove = false"
          >Thoát</el-button
        >
        <el-button
          type="primary"
          @click="updateVehicleMove()"
          :loading="loading_vehicle_move"
          >Cập nhật
        </el-button>
      </div>
    </el-dialog>
    <!-- ket thuc sua -->
    <!-- Add Dialog -->
    <el-dialog
      v-if="trackInfo"
      title="Cập nhật thông tin phương tiện"
      :visible.sync="dialogAdd"
      custom-class="update-trackInfo"
      width="700px"
      :close-on-click-modal="false"
    >
      <el-form
        :model="trackInfo"
        :rules="rules"
        ref="editForm"
        label-position="top"
        label-width="100%"
      >
        <div class="block-item">
          <div class="item-left">
            <el-form-item label="Biển kiểm soát" prop="plate">
              <el-input v-model="trackInfo.plate"></el-input>
            </el-form-item>

            <el-form-item label="Nhãn hiệu" prop="model">
              <el-input v-model="trackInfo.attributes.brand.value"></el-input>
            </el-form-item>

            <div class="block-item">
              <div class="item-left">
                <el-form-item label="Loại phương tiện" prop="vehicleType">
                  <el-select
                    v-model="trackInfo.vehicleType"
                    placeholder="Loại phương tiện"
                  >
                    <el-option
                      v-for="tmpType in vehicleTypeLst"
                      :key="tmpType.id + Math.random()"
                      :label="tmpType.name"
                      :value="tmpType.code"
                    >
                    </el-option>
                  </el-select>
                </el-form-item>
              </div>
              <div class="item-right">
                <el-form-item label="Loại đối tượng" prop="objectType">
                  <el-select
                    @change="changeTypeObject()"
                    v-model="trackInfo.objectType"
                    placeholder="Loại đối tượng"
                  >
                    <el-option
                      v-for="tmpType in objectTypeLst"
                      :key="tmpType.id + Math.random()"
                      :label="tmpType.name"
                      :value="tmpType.name"
                    >
                    </el-option>
                  </el-select>
                </el-form-item>
              </div>
            </div>
          </div>
          <div class="item-right">
            <el-form-item>
              <div class="vehicle" label="Vehicle image" prop="image">
                <img
                  class="image"
                  v-if="url && doesFileExist(url)"
                  :src="url"
                  @error=replaceImageFail
                  @click="handleClick"
                />
                <img
                  class="image"
                  v-else
                  :src="vehicle_default"
                  @click="handleClick"
                />
                <img class="image" @click="handleClick" />
                <div class="img_icon">
                  <input
                    v-if="uploadReady"
                    type="file"
                    ref="file"
                    hidden
                    @change="fileSelected"
                  />
                  <div class="avatar-uploader">
                    <i class="fal fa-pencil" @click="handleClick"> </i>
                    <span class="change-image" @click="handleClick"
                      >Thay đổi ảnh</span
                    >
                  </div>
                </div>
              </div>
            </el-form-item>
          </div>
        </div>
        <div class="block-item" v-if="trackInfo.objectType == 'Danh sách đen'">
          <div class="item-left">
            <el-form-item
              label="Lý do"
              prop="reason"
              v-if="trackInfo.objectType == 'Danh sách đen'"
            >
              <el-select
                v-model="trackInfo.reason"
                placeholder="Lý do"
                filterable
                allow-create
                style="width: 100%"
              >
                <el-option
                  v-for="tmpType in reasonLst"
                  :key="tmpType.id + Math.random()"
                  :label="tmpType.value"
                  :value="tmpType.value"
                >
                </el-option>
              </el-select>
            </el-form-item>
          </div>
          <div class="item-left testt warning-input" v-if="flagWarning">
            <el-form-item
              label="Đội CSGT/Người nhận cảnh báo"
              prop="multipleReceiver"
            >
              <el-select
                v-model="trackInfo.multipleReceiver"
                placeholder="Lựa chọn"
                class="group-reserver"
                multiple
                collapse-tags
                filterable
                style="width: 100%"
              >
                <el-option-group
                  v-for="group in options"
                  :key="group.label"
                  :label="group.label"
                >
                  <el-option
                    v-for="item in group.options"
                    :key="item.id"
                    :label="genReceiverLabel(group, item)"
                    :value="genReceiverValue(item)"
                  >
                  </el-option>
                </el-option-group>
              </el-select>
            </el-form-item>
          </div>
        </div>
        <div class="block-item">
          <el-form-item
            label="Ghi chú"
            prop="description"
            style="margin-right: 20px"
          >
            <el-input
              type="textarea"
              v-model="trackInfo.description"
            ></el-input>
          </el-form-item>
        </div>
      </el-form>

      <div slot="footer" class="dialog-footer">
        <el-button type="danger" @click="dialogAdd = false">Thoát</el-button>
        <el-button type="primary" @click="addTrack()" :loading="loading_add"
          >Cập nhật
        </el-button>
      </div>
    </el-dialog>

    <!-- ket thuc sua -->
    <!-- Crop image -->
    <image-cropper
      v-show="imagecropperShow"
      title="Cập nhật ảnh phương tiện"
      :file="file"
      :key="imagecropperKey"
      :width="vehicleImageWidth"
      :height="vehicleImageHeight"
      field="file"
      url="upload/vehicle/image"
      lang-type="vi"
      @close="imagecropperShow = false"
      @crop-upload-success="cropSuccess"
    />
  </div>
</template>

<script>
import config from "@/config.js";
import Pagination from "@/components/Pagination_custom";
import waves from "@/directive/waves"; // Waves directive
import Resource from "@/api/resource";
import FileSaver from "file-saver";
import ImageCropper from "@/components/Upload/index";
import XLSX from "xlsx";
import filter_icon from "@/assets/images/filter.png";
import Search from "@/components/Search/search-vehicle";
import SearchDetail from "@/components/Search/search-detail-vehicle";
import { getVehicle } from "@/api/vehicle-track-resource";
import { ImageMagnifier } from "vue-image-magnifier";
import MapVehicleRoute from "@/components/MapVehicleRoute";
import vehicle_default from "@/assets/images/vehicle_default.png";
import { validPlate } from "@/utils/validate";

const { forEach } = require("p-iteration");

const recognitionResource = new Resource("management/search/recognition/list");
const vehicleTrackResource = new Resource("systemconfig/vehicle-track/plates");
const vehicleTrackEditResource = new Resource("systemconfig/vehicle-track");
const recognitionSearchResource = new Resource("management/search/recognition");
const checkPlateResource = new Resource("systemconfig/vehicle-track/plate");
const recognitionSearchStatisticResource = new Resource(
  "management/search/recognition/statistic"
);
const monRecognitionResource = new Resource("management/mons/recognitions");
const categoryResource = new Resource("systemconfig/vehicle-track/category");
const userReceiverResource = new Resource("systemconfig/vehicle-track/user");
const groupReceiverResource = new Resource("systemconfig/vehicle-track/group");
const vehicleResource = new Resource(
  "management/search/recognition/correct-data"
);
const recognitionResourceExport = new Resource("management/search/recognition/export");

export default {
  components: {
    Pagination,
    Search,
    ImageMagnifier,
    MapVehicleRoute,
    ImageCropper,
    SearchDetail,
  },
  directives: { waves },
  filters: {
    colorFilter(color) {
      let txtColor = "";
      const result = config.colorList.filter((item) => item.code == color);
      if (result.length > 0) {
        txtColor = result[0].name;
      }

      return txtColor;
    },
  },
  data() {
    const validatePlate = (rule, value, callback) => {
      if (!validPlate(value)) {
        callback(new Error("Vui lòng nhập đúng định dạng biển số"));
      } else {
        callback();
      }
    };
    return {
      file: {
        data: null,
      },
      objectTrackType: null,
      flagWarning: false,
      flag_active: null,
      trackInfo: null,
      vehicleMoveInfo: null,
      loadingExport: false,
      linkExcel: null,
      isClickDetail: false,
      showMap: false,
      dialogEdit: false,
      dialogAdd: false,
      dialogVehicleMove: false,
      loading: true,
      loading_add: false,
      loading_vehicle_move: false,
      dialogDetail: false,
      activeCollapse: false,
      layout: "first, prev, pager, next, last",
      objectLastest: {
        startTime: "",
        site: "",
      },
      urlImage: null,
      vehicleTrack: null,
      vehicleTypeLst: [],
      objectTypeLst: [],
      recognitionList: [],
      vehicleRouteList: [],
      vehicleRouteStatisticList: [],
      listVehicleTrack: [],
      recognitionDetail: null,
      recognitionInfo: null,
      base_url_img: process.env.VUE_APP_URL_IMAGE,
      total: 0,
      searchKeyword: null,
      query: {
        page: 1,
        size: 10,
        startDate: this.getDateString() + " 00:00:00",
        endDate: this.getDateString() + " 23:59:59",
        filterObjectType: null,
        filterObjectIds: null,
        plate: null,
        vehicleType: null,
        objectType: null,
        color: null,
        brand: null,
        localPlate: null,
        distinctPlate: true,
        isNoPlate: null,
      },
      rules: {
        plate: [
          {
            required: true,
            message: "Biển kiểm soát là bắt buộc",
            trigger: "blur",
          },
          { validator: validatePlate, trigger: "blur" },
        ],
        // alertChannel: [
        //   {
        //     required: true,
        //     message: "Thiết lập cảnh báo là bắt buộc",
        //     trigger: "blur",
        //   },
        // ],
        // multipleReceiver: [
        //   {
        //     required: true,
        //     message: "Đội CSGT/Người nhận cảnh báo là bắt buộc",
        //     trigger: "blur",
        //   },
        // ],
      },
      loading_edit: false,
      vehicle_default: vehicle_default,
      reasonLst: [
        { id: 1, value: "Xe trong diện theo dõi" },
        { id: 2, value: "Xe quá hạn đăng kiểm" },
        { id: 3, value: "Xe gây tai nạn" },
        { id: 4, value: "Xe không chấp hành luật giao thông" },
        { id: 5, value: "Xe mất trộm" },
      ],
      alertChannelLst: [
        { id: 1, value: "Zalo" },
        { id: 2, value: "SMS" },
        { id: 3, value: "Email" },
      ],
      options: [
        {
          label: "Đội CSGT",
          options: [],
        },
        {
          label: "Người",
          options: [],
        },
      ],
      multipleReceiver: null,
      url: null,
      imagecropperShow: false,
      imagecropperKey: 0,
      uploadReady: true,
      vehicleImageHeight: 368,
      vehicleImageWidth: 484,
      actionUploadImage: "",
      avatar: null,
      filter_icon: filter_icon,
      checkFilterEvent: [],
      visible: false,
      canRead: false,
      canCreate: false,
      canUpdate: false,
      canDelete: false,
      dialogWidth: "",
      dialogLeft: "",
      loading_route: false,
      loading_delete: false,
      loading_delete_all: false,
      multipleSelectionHistory: [],
      multipleSelection: [],
    };
  },
  computed: {
    showComponentAction() {
      let componentAction = "";
      if (this.showMap) {
        componentAction = MapVehicleRoute;
      }
      return componentAction;
    },
    changeDialogWidth() {
      const state = this.$store.state;
      if (
        state &&
        state.app &&
        state.app.sidebar &&
        state.app.sidebar.opened &&
        state.app.sidebar.opened === true
      ) {
        return {
          "--dialog-width": "calc(100% - 267px)",
          "--dialog-left": "267px",
        };
      } else {
        return {
          "--dialog-width": "calc(100% - 54px)",
          "--dialog-left": "54px",
        };
      }
    },
  },

  created() {
    this.urlImage = process.env.VUE_APP_URL_IMAGE;
    this.canRead = this.$root.checkRole(this.$route.fullPath, "canRead");
    this.canCreate = this.$root.checkRole(this.$route.fullPath, "canCreate");
    this.canUpdate = this.$root.checkRole(this.$route.fullPath, "canUpdate");
    this.canDelete = this.$root.checkRole(this.$route.fullPath, "canDelete");
    this.query.size = this.$root.detectSizeInPageHasImage();
    this.init();
  },
  methods: {
    async init() {
      await this.getList();
      await this.getVehicleTypeList();
      await this.getCollectionList();
      await this.getUserGroupReceiverList();
    },
    async doesFileExist(urlToFile) {
      var img = new Image();
      img.src = urlToFile;
      return img.height != 0;
    },
    replaceImageFail(e) {
      e.target.src = this.vehicle_default;
    },
    changeTypeObject() {
      if (
        this.trackInfo.objectType == "Danh sách vip" ||
        this.trackInfo.objectType == "Danh sách đen"
      ) {
        this.flagWarning = true;
      } else {
        this.flagWarning = false;
      }
    },
    refreshExport(){
      this.linkExcel= null;
    },
    async getUserGroupReceiverList() {
      //User
      let userReceiverList;
      let userReceiverResult = await userReceiverResource.list();
      if (userReceiverResult && userReceiverResult.data) {
        userReceiverList = userReceiverResult.data;
      }
      //Group
      let groupReceiverList;
      let groupReceiverResult = await groupReceiverResource.list();
      if (groupReceiverResult && groupReceiverResult.data) {
        groupReceiverList = groupReceiverResult.data;
      }
      //Option
      this.options = [
        {
          label: "Đội CSGT",
          options: groupReceiverList,
        },
        {
          label: "Người",
          options: userReceiverList,
        },
      ];
    },
    async getList() {
      this.loading = true;
      let queryCustom = {
        currentPage: this.query.page - 1,
        rowsPerPage: this.query.size,
        startDate: this.query.startDate,
        endDate: this.query.endDate,
        filterObjectType: this.query.filterObjectType,
        filterObjectIds: this.query.filterObjectIds,
        plate: this.query.plate,
        vehicleType: this.query.vehicleType,
        objectType: this.query.objectType,
        color: this.query.color,
        brand: this.query.brand,
        localPlate: this.query.localPlate,
        distinctPlate: this.query.distinctPlate,
        isNoPlate: this.query.isNoPlate,
        districtId: this.query.districtId,
        wardId: this.query.wardId
      };
      if (queryCustom.currentPage < 0) queryCustom.currentPage = 0;
      let result;
      if (this.searchKeyword) {
        //Fix ngay bat dau de tim kiem chinh xac bien so
        //queryCustom.startDate = "2021-01-01 00:00:00";
        this.searchKeyword = this.searchKeyword.trim();
        queryCustom.plate = this.searchKeyword;
      }
      result = await recognitionResource.list(queryCustom);
      if (result && result.data) {
        this.recognitionList = result.data;
        this.total = result.total;
        this.handeGetVehicleTrack(result.data);
      } else {
        this.recognitionList = [];
        this.total = 0;
      }
      this.loading = false;
    },

    confirmExport() {
      this.loadingExport = true
      if (this.total > 5000) {
        this.$confirm('Hệ thống hỗ trợ export tối đa 5000 bản ghi. Tiếp tục?', 'Warning', {
          confirmButtonText: 'OK',
          cancelButtonText: 'Hủy bỏ',
          type: 'warning'
        }).then(() => {
          this.handleExport()
        });
      } else {
        this.handleExport()
      }
    },
    async handleExport() {
      let queryCustom = {
        currentPage: this.query.page - 1,
        rowsPerPage: 5000,
        startDate: this.query.startDate,
        endDate: this.query.endDate,
        filterObjectType: this.query.filterObjectType,
        filterObjectIds: this.query.filterObjectIds,
        plate: this.query.plate,
        vehicleType: this.query.vehicleType,
        objectType: this.query.objectType,
        color: this.query.color,
        brand: this.query.brand,
        localPlate: this.query.localPlate,
        distinctPlate: this.query.distinctPlate,
        isNoPlate: this.query.isNoPlate,
        districtId: this.query.districtId,
        wardId: this.query.wardId
      };
      if (queryCustom.currentPage < 0) queryCustom.currentPage = 0;
      if (this.searchKeyword) {
        //Fix ngay bat dau de tim kiem chinh xac bien so
        //queryCustom.startDate = "2021-01-01 00:00:00";
        this.searchKeyword = this.searchKeyword.trim();
        queryCustom.plate = this.searchKeyword;
      }
      let result = await recognitionResourceExport.list(queryCustom);
    },

    editTrack() {
      console.log("Edit track");
      this.$refs.editForm.validate((valid) => {
        if (valid) {
          console.log(this.trackInfo);
          this.loading_edit = true;
          this.loading_delete_disable = true;
          const paramUpdateTrack = {
            alertChannel: this.trackInfo.alertChannel,
            alertReceiver: "",
            description: this.trackInfo.description,
            objectType: this.trackInfo.objectType,
            plate: this.trackInfo.plate,
            reason: this.trackInfo.reason,
            vehicleType: this.trackInfo.vehicleType,
            model: this.trackInfo.attributes.brand.value,
            id: this.trackInfo.objectId,
          };
          console.log(this.trackInfo.objectId);
          paramUpdateTrack.vehicleImages = this.url;
          // console.log(JSON.stringify(this.trackInfo.multipleReceiver));
          if (this.trackInfo.multipleReceiver != null) {
            paramUpdateTrack.alertReceiver =
            "[" + this.trackInfo.multipleReceiver + "]";
          paramUpdateTrack.multipleReceiver = undefined;
          }
          if(this.trackInfo.objectType == "Danh sách vip" ||
            this.trackInfo.objectType == "Danh sách trắng") {
              paramUpdateTrack.alertReceiver = "";
          paramUpdateTrack.multipleReceiver = undefined;
            }
          if (
            this.trackInfo.objectType == "Danh sách vip" ||
            this.trackInfo.objectType == "Danh sách đen"
          ) {
          } else {
            paramUpdateTrack.alertChannel = "Zalo";
            paramUpdateTrack.alertReceiver = "[]";
          }
          vehicleTrackEditResource
            .update(this.trackInfo.objectId, paramUpdateTrack)
            .then((response) => {
              if (response.status === 200 || response.status === 201) {
                this.updateVehicle(this.trackInfo);
                this.loading_edit = false;
                this.loading_delete_disable = false;
                this.dialogEdit = false;
                this.trackDetail = response.data;
                this.handleFilter();
                this.$message({
                  type: "success",
                  message: "Cập nhật thành công",
                });
              } else {
                this.loading_edit = false;
                this.loading_delete_disable = false;
                this.dialogEdit = false;
                this.$message({
                  type: "success",
                  message: "Cập nhật thành công",
                });
              }
            })
            .catch(() => {
              this.loading_edit = false;
              this.loading_delete_disable = false;
            });
        } else {
          return false;
        }
      });
    },
    async addTrack() {
      // console.log('Add track');
      this.$refs.editForm.validate((valid) => {
        console.log(this.trackInfo)
        if (valid) {
          const paramCreateTrack = {
            alertChannel: this.trackInfo.alertChannel,
            alertReceiver: "",
            description: this.trackInfo.description,
            objectType: this.trackInfo.objectType,
            plate: this.trackInfo.plate,
            reason: this.trackInfo.reason,
            vehicleType: this.trackInfo.vehicleType,
            model: this.trackInfo.attributes.brand.value,
            id: this.trackInfo.objectId,
          };
          paramCreateTrack.vehicleImages = this.url;
          //console.log(this.multipleReceiver);
          if (this.trackInfo.multipleReceiver != null) {
            paramCreateTrack.alertReceiver =
            "[" + this.trackInfo.multipleReceiver + "]";
          paramCreateTrack.multipleReceiver = undefined;
          }
          if(this.trackInfo.objectType == "Danh sách vip" ||
            this.trackInfo.objectType == "Danh sách trắng") {
              paramCreateTrack.alertReceiver = "";
          paramCreateTrack.multipleReceiver = undefined;
            }
          // console.log(this.trackInfo.alertChannel)

          this.loading_add = true;
          //Nếu là đối tượng ds vip hoặc ds đen => Cập nhật đồng thời cả đối tượng theo dõi và biển số
          //Ngược lại chỉ cập nhật biển số thôi
          if (
            this.trackInfo.objectType == "Danh sách vip" ||
            this.trackInfo.objectType == "Danh sách đen" ||
            this.trackInfo.objectType == "Danh sách trắng"
          ) {
            vehicleTrackEditResource
              .store(paramCreateTrack)
              .then((response) => {
                console.log(response.data)
                if (response.status === 200 || response.status === 201) {
                  //this.updateVehicle(this.trackInfo)

                  let params = {
                    id: this.trackInfo.id,
                    plate: this.trackInfo.plate,
                    vehicleType: this.trackInfo.vehicleType,
                    notes: this.trackInfo.description,
                    modifiedBy: this.$store.state.user.id,
                    brand: this.trackInfo.attributes.brand.value,
                    startTime: this.recognitionInfo.startTime
                  };
                  vehicleResource
                    .updateOnlyUrl(params)
                    .then((response) => {
                      if (
                        (response.status == 200 || response.status == 201) &&
                        response.data
                      ) {
                        //console.log(response.data);
                        this.recognitionInfo = response.data;
                        this.loading_add = false;
                        this.handleFilter();
                        this.dialogAdd = false;
                        this.$message({
                          type: "success",
                          message: "Cập nhật thành công",
                        });
                      }
                    })
                    .catch((err) => {
                      console.log(err);
                    });
                }
              })
              .catch(() => {
                this.loading_add = false;
              });
          } else {
            paramCreateTrack.alertChannel = "Zalo";
            paramCreateTrack.alertReceiver = "[]";
            //Update
            //this.updateVehicle(this.trackInfo)

            let params = {
              id: this.trackInfo.id,
              plate: this.trackInfo.plate,
              vehicleType: this.trackInfo.vehicleType,
              notes: this.trackInfo.description,
              modifiedBy: this.$store.state.user.id,
              brand: this.trackInfo.attributes.brand.value,
              startTime: this.recognitionInfo.startTime
            };
            vehicleResource
              .updateOnlyUrl(params)
              .then((response) => {
                if (
                  (response.status == 200 || response.status == 201) &&
                  response.data
                ) {
                  //console.log(response.data);
                  this.recognitionInfo = response.data;
                  this.loading_add = false;
                  this.handleFilter();
                  this.dialogAdd = false;
                  this.$message({
                    type: "success",
                    message: "Cập nhật thành công",
                  });
                }
              })
              .catch((err) => {
                console.log(err);
              });
          }
        } else {
          return false;
        }
      });
    },
    updateInfoVehicleTrack() {
      this.flagWarning = false;
      let data = _.cloneDeep(this.recognitionInfo);
      this.trackInfo = {
        vehicleType: data.objectType,
        plate: data.plate,
        attributes: data.attributes,
        imageUrl: data.imageUrl,
        description: "",
        objectId: "",
        model: data.model,
        alertChannel: data.alertChannel,
        reason: data.reason,
        objectType: null,
        multipleReceiver: null,
        id: data.id,
      };

      // this.trackInfo.vehicleType = this.trackInfo.objectType;
      if (this.trackInfo.attributes == null) {
        this.trackInfo.attributes = {
          brand: { value: "" },
        };
      }
      if (
        this.trackInfo.attributes &&
        this.trackInfo.attributes.brand == null
      ) {
        this.trackInfo.attributes.brand = {
          value: "",
        };
      }
      if (this.trackInfo.imageUrl) {
        this.url = this.base_url_img + this.trackInfo.imageUrl;
      }

      // console.log(this.recognitionInfo)
      let params = {
        plate: this.trackInfo.plate,
        // plate: '29B67235'
      };
      checkPlateResource
        .list(params)
        .then((response) => {
          if (response.data) {
            this.dialogEdit = true;
            let dataArray = JSON.parse(response.data.alertReceiver);
            this.trackInfo.multipleReceiver = [];
            for (var i = 0; i < dataArray.length; i++) {
              let data = dataArray[i];
              this.trackInfo.multipleReceiver.push(JSON.stringify(data));
            }
            // console.log(response.data)
            this.flagWarning = true;
            this.trackInfo.reason = response.data.reason;
            this.trackInfo.alertChannel = response.data.alertChannel;
            this.trackInfo.description = response.data.description;
            this.trackInfo.plate = response.data.plate;
            this.trackInfo.objectType = response.data.objectType;
            this.trackInfo.vehicleType = response.data.vehicleType;
            this.trackInfo.attributes.brand.value = response.data.model;
            this.trackInfo.objectId = response.data.id;
          } else {
            this.trackInfo.objectId = "";
            this.trackInfo.objectType = "";
            this.dialogAdd = true;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    async updateVehicleMove() {
      console.log("move");
      this.$refs.editForm.validate((valid) => {
        if (valid) {
          this.loading_vehicle_move = true;
          // debugger;
          let params = {
            id: this.vehicleMoveInfo.id,
            plate: this.vehicleMoveInfo.plate,
            vehicleType: this.vehicleMoveInfo.vehicleType,
            notes: this.vehicleMoveInfo.description,
            modifiedBy: this.$store.state.user.id,
            brand: this.vehicleMoveInfo.model,
            startTime: this.recognitionInfo.startTime
          };
          console.log(this.vehicleMoveInfo);
          vehicleResource
            .updateOnlyUrl(params)
            .then((response) => {
              if (
                (response.status == 200 || response.status == 201) &&
                response.data
              ) {
                //console.log(response.data);
                this.recognitionInfo = response.data;
                this.recognitionDetail = response.data;
                this.loading_vehicle_move = false;
                this.handleFilter();
                this.dialogVehicleMove = false;
                this.$message({
                  type: "success",
                  message: "Cập nhật thành công",
                });
              }
            })
            .catch((err) => {
              console.log(err);
            });
        }
      });
    },
    infoVehicleMove() {
      let data = _.cloneDeep(this.recognitionDetail);
      this.vehicleMoveInfo = {
        vehicleType: data.objectType,
        plate: data.plate,
        attributes: data.attributes,
        imageUrl: data.imageUrl,
        description: "",
        objectId: "",
        model: data.attributes.brand ? data.attributes.brand.value : "",
        alertChannel: data.alertChannel,
        reason: data.reason,
        objectType: null,
        multipleReceiver: null,
        id: data.id,
      };
      if (this.vehicleMoveInfo.attributes == null) {
        this.vehicleMoveInfo.attributes = {
          brand: { value: "" },
        };
      }
      if (
        this.vehicleMoveInfo.attributes &&
        this.vehicleMoveInfo.attributes.brand == null
      ) {
        this.vehicleMoveInfo.attributes.brand = {
          value: "",
        };
      }
      if (this.vehicleMoveInfo.imageUrl) {
        this.url = this.base_url_img + this.vehicleMoveInfo.imageUrl;
      }
      let params = {
        plate: this.vehicleMoveInfo.plate,
        // plate: '29B67235'
      };
      checkPlateResource
        .list(params)
        .then((response) => {
          if (response.data) {
            this.dialogVehicleMove = true;
            let dataArray = JSON.parse(response.data.alertReceiver);
            this.vehicleMoveInfo.multipleReceiver = [];
            for (var i = 0; i < dataArray.length; i++) {
              let data = dataArray[i];
              this.dialogVehicleMove.multipleReceiver.push(
                JSON.stringify(data)
              );
            }
            // console.log(response.data)
            this.vehicleMoveInfo.reason = response.data.reason;
            this.vehicleMoveInfo.alertChannel = response.data.alertChannel;
            this.vehicleMoveInfo.description = response.data.description;
            this.vehicleMoveInfo.plate = response.data.plate;
            this.vehicleMoveInfo.objectType = response.data.objectType;
            this.vehicleMoveInfo.vehicleType = response.data.vehicleType;
            this.vehicleMoveInfo.attributes.brand.value = response.data.model;
            this.vehicleMoveInfo.objectId = response.data.id;
          } else {
            this.vehicleMoveInfo.objectId = "";
            this.vehicleMoveInfo.objectType = "";
            this.dialogVehicleMove = true;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    async updateVehicle(data) {
      let params = {
        id: data.id,
        plate: data.plate,
        vehicleType: data.vehicleType,
        notes: data.description,
        modifiedBy: this.$store.state.user.id,
        brand: data.attributes.brand.value,
        startTime: this.recognitionInfo.startTime
      };
      vehicleResource
        .updateOnlyUrl(params)
        .then((response) => {
          if (
            (response.status == 200 || response.status == 201) &&
            response.data
          ) {
            //console.log(response.data);
            this.recognitionInfo = response.data;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    genReceiverLabel(group, item) {
      if (group.label === "Đội CSGT") {
        return item.name + " (" + item.code + ")";
      } else {
        return item.name + " (" + item.email + ")";
      }
    },
    genReceiverValue(item) {
      return JSON.stringify(item);
    },
    getObjectType(plate) {
      const result = this.listVehicleTrack.filter((f) => f.plate == plate);
      if (result.length == 0) {
        //Update theo fix bug 461 => normal => rong
        //return "normal";
        return "";
      }
      return result[0].objectType;
    },
    async getVehicleTypeList() {
      let queryCustom = {
        catType: "VEHICLE",
      };
      let result = await categoryResource.list(queryCustom);
      if (result && result.data) {
        this.vehicleTypeLst = result.data;
      }
    },
    async handeGetVehicleTrack(dataRecogn) {
      let listPlate = null;

      if (dataRecogn) {
        listPlate = dataRecogn.map((m) => {
          return m.plate;
        });
      }
      if (listPlate) {
        let queryCustom = {
          plates: listPlate.toString(),
        };
        const res = await vehicleTrackResource.list(queryCustom);
        if (res && res.data) {
          this.listVehicleTrack = res.data;
        }
      }
    },
    async getCollectionList() {
      let queryCustom = {
        catType: "COLLECTION",
      };
      let result = await categoryResource.list(queryCustom);
      if (result && result.data) {
        this.objectTypeLst = result.data;
      }
    },
    getDateString() {
      let today = new Date();
      let dd = String(today.getDate()).padStart(2, "0");
      let mm = String(today.getMonth() + 1).padStart(2, "0"); //January is 0!
      let yyyy = today.getFullYear();
      today = yyyy + "-" + mm + "-" + dd;
      return today;
    },
    handleFilter() {
      this.query.page = 1;
      this.activeCollapse = false;
      this.getList();
    },
    onClickChild(value) {
      if (value) {
        this.query.startDate = value.startDate;
        this.query.endDate = value.endDate;
        this.query.plate = value.plate;
        this.query.vehicleType = value.vehicleType;
        this.query.objectType = value.objectType;
        this.query.color = value.color;
        this.query.brand = value.brand;
        this.query.districtId = value.districtId;
        this.query.wardId = value.wardId;
        if (value.localPlate == "NOPLATE") {
          this.query.isNoPlate = true;
        } else {
          this.query.isNoPlate = null;
          this.query.localPlate =
            value.localPlate == "INSIDE"
              ? true
              : value.localPlate == "OUTSIDE"
              ? false
              : null;
        }
        if (value.camera != null) {
          this.query.filterObjectType = "cam";
          this.query.filterObjectIds = value.camera;
        } else if (value.camera == null && value.site != null) {
          this.query.filterObjectType = "site";
          this.query.filterObjectIds = value.site;
        } else {
          this.query.filterObjectType = null;

          this.query.filterObjectIds = null;
        }
      }
      this.handleFilter();
    },
    async refresh() {
      let queryCustom = {
        currentPage: this.query.page - 1,
        rowsPerPage: this.query.size,
        startDate: this.getDateString() + " 00:00:00",
        endDate: this.getDateString() + " 23:59:59",
        distinctPlate: this.query.distinctPlate,
        // filterObjectType: this.query.filterObjectType,
        // filterObjectIds: this.query.filterObjectIds,
        // plate: this.query.plate,
        // vehicleType: this.query.vehicleType,
        // objectType: this.query.objectType,
      };
      /*let queryCustom = {
        currentPage: this.query.page - 1,
        rowsPerPage: this.query.size,
        startDate: this.query.startDate,
        endDate: this.query.endDate,
        filterObjectType: this.query.filterObjectType,
        filterObjectIds: this.query.filterObjectIds,
        plate: this.query.plate,
        vehicleType: this.query.vehicleType,
        objectType: this.query.objectType,
        color: this.query.color,
        brand: this.query.brand,
        localPlate: this.query.localPlate,
        distinctPlate: this.query.distinctPlate,
        isNoPlate: this.query.isNoPlate,
      };*/
      if (queryCustom.currentPage < 0) queryCustom.currentPage = 0;
      let result;
      if (this.searchKeyword) {
        //Fix ngay bat dau de tim kiem chinh xac bien so
        //queryCustom.startDate = "2021-01-01 00:00:00";
        //this.searchKeyword = this.searchKeyword.trim();
        this.searchKeyword = "";
        queryCustom.plate = this.searchKeyword;
      }
      result = await recognitionResource.list(queryCustom);
      if (result && result.data) {
        this.recognitionList = result.data;
        this.total = result.total;
        this.handeGetVehicleTrack(result.data);
      } else {
        this.recognitionList = [];
        this.total = 0;
      }
      this.closeDetail();

      this.loading = false;
    },
    // processExportExcel(dataExport, fileName) {
    //   const ws = XLSX.utils.aoa_to_sheet(dataExport);
    //   const wb = XLSX.utils.book_new();
    //   XLSX.utils.book_append_sheet(wb, ws, "Sheet1");
    //   /* generate file and send to client */
    //   XLSX.writeFile(wb, fileName + ".xlsx");
    // },
    // filterDataExcel(data, fileName) {
    //   const self = this;
    //   let dataExport = [];
    //   let label = [
    //     "ID",
    //     "Biển kiểm soát",
    //     "Loại phương tiện",
    //     "Thời gian",
    //     "Vị trí",
    //   ];
    //   dataExport.push(label);
    //   data.forEach(function (item, ind) {
    //     let itemImport = [
    //       (self.query.page - 1) * self.query.size + ind + 1,
    //       item.plate,
    //       item.objectTypeName,
    //       moment(item.startTime).format("DD/MM/YYYY HH:mm:ss"),
    //       item.site.site_address,
    //     ];
    //     // console.log(self.sheets)
    //     dataExport.push(itemImport);
    //   });
    //   this.processExportExcel(dataExport, fileName);
    // },
    // async handleExport() {
    //   this.loading = true;
    //   const fileName = `Tra_Cứu_Phương_Tiện_${moment().format(
    //     "YYYY_MM_DD"
    //   )}.xlsx`;
    //   this.filterDataExcel(this.recognitionList, fileName);
    //   this.loading = false;
    // },
    // detectLengthObject(obj) {
    //   var size = 0,
    //     key;
    //   for (key in obj) {
    //     if (obj.hasOwnProperty(key)) size++;
    //   }
    //   return size;
    // },
    resetDialog() {
      this.searchKeyword = null;
      this.query = {
        page: 1,
        size: 20,
        startDate: this.getDateString() + " 00:00:00",
        endDate: this.getDateString() + " 23:59:59",
        filterObjectType: null,
        filterObjectIds: null,
        plate: null,
        vehicleType: null,
        objectType: null,
        color: null,
        brand: null,
        isNoPlate: null,
      };
      this.vehicleRouteList = [];
    },
    async filterDetailVehicle(data) {
      console.log(data)
      let queryCustom = data;
      queryCustom.currentPage = 0;
      queryCustom.rowsPerPage = 10000;
      queryCustom.exact = true;
      queryCustom.plate = this.recognitionDetail.plate;
      if (data.startDate) {
        queryCustom.startDate = data.startDate;
      } else {
        queryCustom.startDate = this.getDateString() + " 00:00:00";
      }
      if (data.endDate) {
        queryCustom.endDate = data.endDate;
      } else {
        queryCustom.endDate = this.getDateString() + " 23:59:59";
      }
      if (data.districtId) {
        queryCustom.districtId = data.districtId;
      } else {
        queryCustom.districtId = "";
      }
      if (data.wardId) {
        queryCustom.wardId = data.wardId;
      } else {
        queryCustom.wardId = "";
      }
      let result = await recognitionSearchResource.list(queryCustom);
      if (result && result.data) {
        this.vehicleRouteList = result.data;
      } else {
        this.vehicleRouteList = [];
      }

      let statisticResult = await recognitionSearchStatisticResource.list(
        queryCustom
      );
      if (statisticResult && statisticResult.data) {
        this.vehicleRouteStatisticList = statisticResult.data;
      } else {
        this.vehicleRouteStatisticList = [];
      }
    },
    async filterVehicleRouteList() {
      this.vehicleRouteList = [];
      this.vehicleRouteStatisticList = [];
      let queryCustom = {
        currentPage: 0,
        rowsPerPage: 1000,
        plate: this.recognitionDetail.plate,
        startDate: moment().startOf("year").format("YYYY-MM-DD 00:00:00"),
        endDate: moment().endOf("day").format("YYYY-MM-DD HH:mm:ss"),
        exact: true,
        districtId: "",
      };

      let vehicleTraceResult = await getVehicle(this.recognitionDetail.plate);
      if (vehicleTraceResult && vehicleTraceResult.data) {
        this.vehicleTrack = vehicleTraceResult.data;
      } else {
        this.vehicleTrack = null;
      }

      let result = await recognitionSearchResource.list(queryCustom);
      if (result && result.data) {
        this.vehicleRouteList = result.data;
      }

      let statisticResult = await recognitionSearchStatisticResource.list(
        queryCustom
      );
      if (statisticResult && statisticResult.data) {
        this.vehicleRouteStatisticList = statisticResult.data;
      }

      // show component
      this.showComponentAction;
    },

    async handleDetail(row) {
      if (row) {
        this.recognitionDetail = row;
        this.dialogDetail = true;
        this.vehicleRouteList = [];
        this.vehicleRouteStatisticList = [];
        this.detectHeight();
        let queryCustom = {
          currentPage: 0,
          rowsPerPage: 1000,
          plate: this.recognitionDetail.plate,
          startDate: moment().startOf("year").format("YYYY-MM-DD 00:00:00"),
          endDate: moment().endOf("day").format("YYYY-MM-DD HH:mm:ss"),
          exact: true,
          districtId: "",
        };
        let vehicleTraceResult = await getVehicle(this.recognitionDetail.plate);
        if (vehicleTraceResult && vehicleTraceResult.data) {
          this.vehicleTrack = vehicleTraceResult.data;
        } else {
          this.vehicleTrack = null;
        }
        let result = await recognitionSearchResource.list(queryCustom);
        if (result && result.data) {
          this.vehicleRouteList = result.data;
        }
        let statisticResult = await recognitionSearchStatisticResource.list(
          queryCustom
        );
        if (statisticResult && statisticResult.data) {
          this.vehicleRouteStatisticList = statisticResult.data;
        }

        // show component
        this.isClickDetail = true;
        setTimeout(() => {
          this.showMap = true;
          this.showComponentAction;
        }, 600);
      }
    },
    closeDetailTravel() {
      this.isClickDetail = false;
      this.showMap = false;
    },
    detectHeight() {
      // let x = document.getElementsByClassName("detail-info-left-top")
      setTimeout(function () {
        let x = document.getElementById("detail-info-left-top");
        let table = document.getElementById("route-table");
        let table1 = table.getElementsByClassName("el-table__body-wrapper")[0];
        let height = x.clientHeight;
        height = height + 195;
        let h = "calc(100vh - " + height + "px)";
        table1.style.maxHeight = h;
      }, 100);
    },
    async rowClicked(row) {
      this.recognitionInfo = row;
      console.log(this.recognitionInfo)
      this.flag_active = row.id;
      if (this.recognitionInfo) {
        let queryCustom = {
          currentPage: 0,
          rowsPerPage: 1000,
          plate: row.plate,
          startDate: moment().startOf("year").format("YYYY-MM-DD 00:00:00"),
          endDate: moment().endOf("day").format("YYYY-MM-DD HH:mm:ss"),
          exact: true,
          districtId: "",
        };
        let result = await recognitionSearchResource.list(queryCustom);
        if (result && result.data) {
          this.objectLastest = result.data[0];
        }
        let params = {
          plate: this.recognitionInfo.plate,
          // plate: '29B67235'
        };
        checkPlateResource
          .list(params)
          .then((response) => {
            if (response.data) {
              this.objectTrackType = response.data.objectType;
              console.log(this.recognitionInfo.typeList);
            } else {
              this.objectTrackType = null;
            }
          })
          .catch((err) => {
            console.log(err);
          });
        document.getElementById("recognition-tables").style.width =
          "calc(100% - 550px)";
        setTimeout(function () {
          document.getElementById("detail-recognition").style.display = "block";
          document.getElementById("detail-recognition").style.width = "525px";
        }, 500);
      }
    },
    closeDetail() {
      document.getElementById("detail-recognition").style.display = "none";
      document.getElementById("detail-recognition").style.width = "0";
      document.getElementById("recognition-tables").style.width = "calc(100%)";
    },
    closeDialog() {
      this.isClickDetail = false;
    },
    fileSelected(e) {
      const file = e.target.files[0];
      if (file) {
        this.checkFile(file)
          .then(() => {
            const fr = new FileReader();
            this.file.data = file;
            this.imagecropperShow = true;
            this.resetUploadFile();
          })
          .catch((err) => {
            this.$message({
              message: err,
              type: "error",
              duration: 5 * 1000,
              showClose: true,
            });
          });
      }
    },
    checkFile(file) {
      return new Promise((resolve, reject) => {
        const self = this;
        if (file.type.indexOf("image") === -1) {
          return reject("Định dạng không cho phép");
        }
        if (file.size > 5242880) {
          return reject("Vượt quá dung lượng cho phép tối đa 5Mb");
        }
        const reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = function (e) {
          const image = new Image();
          image.src = e.target.result;
          image.onload = function () {
            const height = this.height;
            const width = this.width;
            if (
              height < self.vehicleImageHeight ||
              width < self.vehicleImageWidth
            ) {
              return reject(
                "Kích thước hình ảnh quá nhỏ. Tối thiểu là: " +
                  self.vehicleImageWidth +
                  "*" +
                  self.vehicleImageHeight
              );
            }
            return resolve();
          };
        };
      });
    },
    getHumanDate: function (date) {
      return moment(date).format("HH:mm:ss - DD/MM/YYYY");
    },
    closeChangeAvatar() {},
    cropSuccess(data) {
      if (data.data[0].fileDownloadUri) this.url = data.data[0].fileDownloadUri;
    },
    resetUploadFile() {
      this.uploadReady = false;
      this.$nextTick(() => {
        this.uploadReady = true;
      });
    },
    handleClick(e) {
      if (e.target !== this.$refs.file) {
        e.preventDefault();
        if (document.activeElement !== this.$refs) {
          this.$refs.file.click();
        }
      }
    },
    async handleRouteDetail(row) {
      if (row) {
        this.recognitionDetail = row;
        this.dialogDetail = true;
      }
    },
    tableRowClassName(row) {
      if (row.row.id == this.flag_active) {
        return "active-row";
      }
      return "";
    },

    closeDelete() {
      this.$refs.multipleTable.clearSelection();
      this.multipleSelection = [];
    },
    handleSelectionChange(val) {
      this.multipleSelection = val;
    },
    async destroyMulti() {
      this.$confirm("Bạn có chắc chắn muốn xóa lựa chọn này?", "", {
        confirmButtonText: "Xác nhận",
        cancelButtonText: "Thoát",
        type: "warning",
      })
        .then(async () => {
          this.loading = true;
          this.loading_delete = true;

          let arr_plate = this.multipleSelection.map(function (val) {
            return val.plate;
          });
          let arrRecognitionId = await this.getRecognitionIdList(arr_plate);

          monRecognitionResource
            .destroyMulti({ recognitionIdList: arrRecognitionId })
            .then((response) => {
              this.loading = false;
              this.loading_delete = false;
              if (response.status === 200) {
                this.multipleSelection = [];
                this.recognitionInfo = null;
                this.closeDetail();
                this.handleFilter();
                this.$message({
                  message: "Xóa thành công",
                  type: "success",
                });
              }
            })
            .catch(() => {
              this.loading = false;
              this.loading_delete = false;
              this.$message({
                message: "Xóa không thành công",
                type: "error",
              });
            });
        })
        .catch(() => {});
    },
    async getRecognitionIdList(arr_plate) {
      let arrRecognitionId = [];
      if (arr_plate.length > 0) {
        let queryCustom = {
          currentPage: 0,
          rowsPerPage: 1000,
          startDate: moment().startOf("year").format("YYYY-MM-DD 00:00:00"),
          endDate: moment().endOf("day").format("YYYY-MM-DD HH:mm:ss"),
          exact: true,
          districtId: "",
        };

        await forEach(arr_plate, async (plate) => {
          queryCustom.plate = plate;
          let result = await recognitionSearchResource.list(queryCustom);
          if (result && result.data) {
            await forEach(result.data, (item) => {
              arrRecognitionId.push(item.id);
            });
          }
        });
      }

      return arrRecognitionId;
    },

    ////////////////////////
    closeDeleteHistory() {
      this.$refs.multipleTableHistory.clearSelection();
      this.multipleSelectionHistory = [];
    },
    handleSelectionChangeHistory(val) {
      this.multipleSelectionHistory = val;
    },
    destroyMultiHistory() {
      this.$confirm("Bạn có chắc chắn muốn xóa lựa chọn này?", "", {
        confirmButtonText: "Xác nhận",
        cancelButtonText: "Thoát",
        type: "warning",
      })
        .then(() => {
          this.loading_route = true;
          this.loading_delete_all = true;
          let params = this.multipleSelectionHistory.map(function (val) {
            return val.id;
          });
          params = {
            recognitionIdList: params,
          };
          monRecognitionResource
            .destroyMulti(params)
            .then(async (response) => {
              this.loading_route = false;
              this.loading_delete_all = false;
              if (response.status === 200) {
                this.multipleSelectionHistory = [];
                await this.filterVehicleRouteList();
                if (this.vehicleRouteList.length == 0) {
                  this.recognitionInfo = null;
                  this.closeDetail();
                  this.handleFilter();
                  this.dialogDetail = false;
                }
                this.$message({
                  message: "Xóa thành công",
                  type: "success",
                });
              }
            })
            .catch(() => {
              this.$message({
                message: "Xóa không thành công",
                type: "error",
              });
              this.loading_route = false;
              this.loading_delete_all = false;
            });
        })
        .catch(() => {});
    },
  },
  sockets: {
    receiveNotificationExport: function (data) {
      if (data.content && data.objectType == "export-search-recognition") {
        this.loadingExport = false;
        this.linkExcel = data.content;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.el-form-item.el-form-item--medium {
  margin-left: 15px;
  clear: both;
}

.el-dialog__footer {
  padding: 0 !important;
}
</style>

<style lang="scss">
.travel-detail.hide {
  position: absolute;
  top: 0;
  left: 100vw;
  right: -100vw;
  transition: all 0.5s ease-in-out;
  .map-box .box-card {
    position: relative;
    height: 1000px;
  }
}
.travel-detail {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  z-index: 1000;
  transition: all 0.5s ease-in-out;
  .header {
    position: relative;
    text-align: center;
    height: 40px;
    background: #0366cc;
    color: white;
    font-size: 18px;
    font-weight: 500;
    line-height: 40px;
    .el-icon-close {
      cursor: pointer;
      font-size: 22px;
      position: absolute;
      right: 10px;
      top: 9px;
    }
  }
  .body {
    padding: 25px;
    .item-left,
    .item-right {
      float: none;
    }
    .block-item {
      float: none;
      display: flex;
    }
    .map-box .box-card {
      position: relative;
      min-height: calc(100vh - 140px);
      height: 100%;
      #mapRoute {
        position: absolute;
        top: 15px;
        bottom: 15px;
        left: 15px;
        right: 15px;
      }
    }
    .table-list-history {
      span.search {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 10px;
        display: inline-block;
        color: black;
        margin-left: 6px;
      }
    }
    .el-card__body {
      padding: 15px !important;
      display: flex;
      width: 100%;
    }
    .el-table__body-wrapper::-webkit-scrollbar-track {
      /*-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);*/
      border-radius: 0;
      background-color: #f5f5f5;
    }
    .el-table__body-wrapper::-webkit-scrollbar {
      width: 8px;
      height: 8px;
      background-color: #f5f5f5;
      border-radius: 17px;
    }
    .el-table__body-wrapper::-webkit-scrollbar-thumb {
      border-radius: 17px;
      /*-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.3);*/
      background-color: #3333;
    }
    .item-left {
      .item {
        width: 100%;
        float: left;
        padding-right: 10px;
        margin-bottom: 20px;
        .image {
          float: left;
          margin-right: 15px;
          width: 40px;
          text-align: center;
        }
        .content {
          float: left;
          width: calc(100% - 55px);
          .title {
            font-size: 14px;
            font-weight: 500;
          }
          .descript {
            font-size: 14px;
            color: #363030;
            margin-top: 5px;
          }
        }
      }
    }
  }
}
.update-trackInfo {
  textarea {
    border: 1px solid #8888;
  }
}

#detail-recognition {
  .item-label {
    margin-top: 15px;
  }

  i.el-tag__close.el-icon-close {
    margin-top: -12px;
  }
}

#detail-recognition {
  position: relative;
  /* transition: width 1s;
      -moz-transition: width 1s;
      -webkit-transition: width 1s;
      -o-transition: width 1s;*/
  width: 0;
  background: white;
  padding: 25px;
  float: left;
  margin-left: 25px;
  display: none;
  // overflow: hidden;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
  border-radius: 4px;

  .avatar {
    text-align: center;
    margin-bottom: 25px;
    margin-top: 25px;

    img {
      border-radius: 50%;
    }
  }

  .item-label {
    color: black;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
  }

  .item-text {
    color: black;
    font-size: 16px;
    margin-bottom: 20px;
    opacity: 0.6;
  }

  .el-icon-close {
    background: #e3e3e3;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    color: #878787;
    font-size: 16px;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
  }
}
.vehicle {
    text-align: center;
    padding-top: 25px;
    img {
      width: 100%;
    }
  }
.el-card__body {
  /*padding: 20px 2px 20px 20px !important;*/
}

.list-site-go {
  h5 {
    color: #333;
    font-size: 14px;
  }

  .item {
    color: #333;
    margin-bottom: 15px;

    span {
      color: #1f7ff5;
      display: inline-block;
      border: 1px solid #1f7ff5;
      width: 27px;
      height: 27px;
      text-align: center;
      line-height: 27px;
      border-radius: 50%;
      margin-right: 14px;
    }
  }
}

.image-magnifier__zoom img {
  max-width: none !important;
}

.track-recognition {
  .group-reserver .el-select__tags span span span {
    max-width: 180px;
    overflow: hidden;
    display: inline-block;
    float: left;
    text-overflow: ellipsis;
  }

  .table-list-history {
    //margin-top: 20px;
    float: left;
    width: 100%;

    h5 {
      color: #333;
      font-size: 14px;
      margin-bottom: 10px;
      margin-top: 0;
    }
  }

  .el-form-item {
    margin-bottom: 12px;
  }

  .el-input input {
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    border: solid 1px #9999;
  }

  .el-icon-camera-solid {
    font-size: 25px;
    color: #9a9a9a;
    position: relative;
    top: -50px;
    left: 54px;
    background: #dfdfdf;
    border-radius: 50%;
    padding: 8px;
    border: 1px solid white;
  }

  .change-image {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: #1f7ff5;
    position: relative;
    padding: 8px;
    cursor: pointer;
  }

  .update-trackInfo {
    margin-top: 20px !important;

    .el-dialog__body {
      float: left;
      width: 100%;
      padding-bottom: 0px;
      padding-right: 16px;
    }

    .el-dialog__footer {
      padding: 15px 33px !important;

      .el-button--danger {
        float: left;
      }
    }
    .el-dialog__header {
      height: 45px;
      line-height: 45px;
    }
  }

  .img_avatar {
    text-align: center;
    padding-top: 25px;

    img {
      border-radius: 50%;
    }
  }

  .vehicle {
    text-align: center;
    padding-top: 0;
    width: 100%;

    img {
      border-radius: 10px;
      max-width: 100%;
    }
  }
  .item-left {
    width: 49%;
    float: left;
    /*margin-right: 1%;*/
  }

  .item-right {
    width: 49%;
    float: left;
    margin-left: 1%;
  }

  .item-right.warning-input {
    margin-right: 20px;
    width: calc(50% - 15px);
    margin-left: 0;
  }

  .block-item {
    width: 100%;
    float: left;
  }

  .el-dialog__header {
    padding: 0;
    background: #006fe3;
    height: 40px;
    line-height: 40px;
    text-align: center;

    .el-dialog__title {
      color: white;
    }

    .el-icon-close {
      color: white;
      font-size: 22px;
      top: -10px;
      position: relative;
    }
  }

  .el-dialog__body {
    // padding: 26px 26px 30px 26px;
    padding: 26px 0px 30px 16px;

    .el-form-item__label {
      padding-bottom: 0;
      font-size: 14px;
      color: #363030;
      font-weight: 500;
    }
  }

  .el-dialog__footer {
    clear: both;
    // padding-bottom: 25px;
    .el-button--primary {
      background: #1f7ff5;
      height: 40px;
      border-radius: 5px;
      width: 147px;
      text-transform: uppercase;
      font-weight: bold;
      border-color: #1f7ff5;
    }

    .el-button--danger {
      background: #9e9e9e;
      height: 40px;
      border-radius: 5px;
      width: 147px;
      text-transform: uppercase;
      font-weight: bold;
      border-color: #9e9e9e;
    }
  }

  #select-all-delete {
    height: 63px;
    line-height: 63px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ff4646;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    .el-icon-close {
      font-size: 25px;
      margin-left: 20px;
      margin-right: 35px;
      position: relative;
      top: 4px;
      cursor: pointer;
    }

    button {
      background: #e00000;
      border: initial;
      border-radius: 5px;
      float: right;
      display: inline-block;
      margin-top: 15px;
      margin-right: 15px;
    }
  }

  .action {
    margin-top: 40px;
    .el-button--primary {
      background: #64789a;
      border: initial;
      border-radius: 4px;
      width: 147px;
      height: 40px;
    }

    .el-button--success {
      background: #ff6161;
      border: initial;
      border-radius: 4px;
      width: 147px;
      height: 40px;
      float: right;
    }
  }

  #track-table {
    transition: width 0.5s;
    -moz-transition: width 0.5s;
    /* Firefox 4 */
    -webkit-transition: width 0.5s;
    /* Safari and Chrome */
    -o-transition: width 0.5s;
    float: left;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
    border-radius: 4px;
  }

  #detail-track {
    position: relative;
    /* transition: width 1s;
      -moz-transition: width 1s;
      -webkit-transition: width 1s;
      -o-transition: width 1s;*/
    width: 0;
    background: white;
    padding: 25px;
    float: left;
    margin-left: 25px;
    display: none;
    // overflow: hidden;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
    border-radius: 4px;

    .avatar {
      text-align: center;
      margin-bottom: 25px;
      margin-top: 25px;

      img {
        border-radius: 50%;
      }
    }

    .item-label {
      color: #363030;
      font-weight: bold;
      font-size: 14px;
      margin-bottom: 10px;
    }

    .item-text {
      color: black;
      font-size: 16px;
      margin-bottom: 20px;
      opacity: 0.6;
    }

    .el-icon-close {
      background: #e3e3e3;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      text-align: center;
      line-height: 30px;
      color: #878787;
      font-size: 16px;
      position: absolute;
      right: 10px;
      top: 10px;
      cursor: pointer;
    }
  }

  .el-table th > .cell {
    text-align: left;
  }

  .el-table tr > th:first-child .cell {
    text-align: center;
  }

  .el-table th {
    color: black;
    font-size: 14px;
  }

  .el-table td {
    color: black;
    font-size: 14px;
  }

  .el-table tr td:first-child {
    text-align: center;
  }

  .el-table td:first-child .cell {
    display: inline-block;
  }

  .filter-container {
    margin-bottom: 20px;
  }

  tbody {
    tr {
      cursor: pointer;
    }

    td {
      padding: 2px 0 !important;

      .hover-show-full-image {
        top: 4px;
      }
    }
  }

  .detail-vehicle-c {
    float: right;
  }

  .search-block {
    //text-align: right;
    .search {
      float: left;
      width: calc(100% - 162px);
      display: inline;

      input {
        width: 272px;
        height: 36px !important;
        line-height: 36px !important;
        border: solid 1px #9999;
        border-radius: 5px;
        padding-left: 40px;
      }

      .el-icon-search {
        line-height: 16px;
        font-size: 19px;
        color: #666;
      }

      span {
        left: 10px;
      }
    }

    .nopad {
      .el-card__body {
        padding: 0;
      }
    }

    button {
      float: right;
      background: #1f7ff5;
      border-radius: 4px;
      height: 40px !important;
      width: 147px;
      margin-left: 15px;
      border-color: #1f7ff5;

      span {
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
}
</style>
