<template>
  <div class="app-container claim track-violation">
    <!-- Filter -->
    <div class="filter-container">
      <template>
        <div class="search-block">
          <el-input
            style="width: 272px !important"
            class="search"
            placeholder=""
            prefix-icon="el-icon-search"
            v-model="searchKeyword"
            @keyup.enter.native="handleFilter()"
          >
          </el-input>
          <Search @clicked="onClickChild"></Search>
          <el-button
                  type="primary"
                  v-if="linkEcel"
                  class="btn-export"
                @click="refreshExport()"
                  style="background: #006FE3; border-color: #006FE3"
              >
                <a :href="linkEcel">
                  <i class="el-icon-download"></i> Tải Excel</a>
              </el-button>
              <el-button
                  v-else
                  type="primary"
                  class="btn-export"
                  :loading="loadingExport"
                  style="background: #1e2e4a; border-color: #1e2e4a"
                  @click="confirmExport()"
                  ><i class="el-icon-arrow-right"></i> Export</el-button
                >
          <div class="xlsx-eport-csgt">
            <!-- Elsx  csgt-->
            <template v-if="linkEcelCSGT">
              <el-button
                type="info"
                @click="refreshExportCSGT()"
                style="margin-left: 5px; background: rgb(0, 111, 227)"
                ><i class="el-icon-refresh"></i
              ></el-button>
              <el-button
                type="primary"
                class="btn-export"
                style="background: #006fe3; border-color: #006fe3"
                ><a :href="linkEcelCSGT"
                  ><i class="el-icon-download"></i> Tải Excel CSGT</a
                ></el-button
              >
            </template>
            <searchExportCSGT
              v-else
              :loadingExportCSGT="loadingExportCSGT"
              @clicked="exportElsxCSGT"
            ></searchExportCSGT>
            <!-- Elsx đăng kiểm  -->
            <template v-if="linkEcelDK">
              <el-button
                type="info"
                @click="refreshExportDK()"
                style="
                  margin-left: 5px;
                  background: #c57f18f5;
                  border: #c57f18f5;
                "
                ><i class="el-icon-refresh"></i
              ></el-button>
              <el-button
                type="primary"
                class="btn-export"
                style="background: #c57f18f5; border-color: #c57f18f5"
                ><a :href="linkEcelDK"
                  ><i class="el-icon-download"></i> Tải Excel Đăng kiểm</a
                ></el-button
              >
            </template>
            <searchExportDK
              v-else
              :loadingExportDK="loadingExportDK"
              @clicked="exportElsxDK"
            ></searchExportDK>
          </div>
        </div>
        <div style="clear: both"></div>
      </template>
    </div>

    <!-- list violation -->
    <template>
      <div id="select-all-delete" v-if="multipleSelection.length > 0">
        <i class="el-icon-close" @click="closeDelete()"></i>
        <span v-if="multipleSelection.length < 10"
          >0{{ multipleSelection.length }}</span
        ><span v-else>{{ multipleSelection.length }}</span> mục được chọn
        <el-button
          type="danger"
          @click="destroyMulti()"
          :loading="loading_delete_all"
          v-if="canDelete"
          ><i class="el-icon-delete"></i> Xóa</el-button
        >
      </div>

      <el-table
        :data="violationList"
        style="width: 100%"
        id="violation-table"
        ref="multipleTable"
        @selection-change="handleSelectionChange"
        @row-click="handleDetail"
      >
        <el-table-column type="selection" width="55" align="center"/>
        <el-table-column label="STT" :width="(query.page * query.size).toString().length * 10 + 30">
          <template slot-scope="scope">
            <span>{{ (query.page - 1) * query.size + scope.$index + 1 }}</span>
          </template>
        </el-table-column>

        <el-table-column label="Thời gian">
          <template slot-scope="scope">
            <span v-if="query.timeType">{{
              scope.row.modifiedDate | formatDateVietNam
            }}</span>
            <span v-else>{{ scope.row.startTime | formatDateVietNam }}</span>
          </template>
        </el-table-column>

        <el-table-column label="Vị trí">
          <template slot-scope="scope">
            <span>{{ scope.row.siteAddress }}</span>
          </template>
        </el-table-column>

        <el-table-column label="Thiết bị">
          <template slot-scope="scope">
            <span>{{ scope.row.sourceName }}</span>
          </template>
        </el-table-column>

        <el-table-column label="Loại vi phạm">
          <template slot-scope="scope">
            <span>{{ scope.row.eventTypeName }}</span>
          </template>
        </el-table-column>

        <el-table-column label="Loại phương tiện">
          <template slot-scope="scope">
            <span>{{ scope.row.objectTypeName }}</span>
          </template>
        </el-table-column>

        <el-table-column label="Biển số">
          <template slot-scope="scope">
            <span>{{ scope.row.plate }}</span>
          </template>
        </el-table-column>

        <el-table-column label="Trạng thái">
          <template slot-scope="scope">
            <!-- <span v-if="scope.row.processStatus == 'CHECKED'">{{ scope.row.violationConfirmation }}</span>
              <span v-else>{{ scope.row.processStatusName }}</span> -->
            <span>{{ scope.row.processStatusName }}</span>
          </template>
        </el-table-column>

        <el-table-column label="Số BB/Số QĐ" width="150">
          <template slot-scope="scope">
            <span>{{ scope.row.minutesNumber }}</span>
          </template>
        </el-table-column>

        <el-table-column label="Hình ảnh" width="100">
          <template slot-scope="scope">
            <span><image-hover :image="urlImage + scope.row.imageUrl" /></span>
          </template>
        </el-table-column>
      </el-table>
    </template>
    <!-- ket thuc -->

    <!-- Phân trang -->
    <p style="clear: both"></p>
    <div style="display: inline-block; padding-top: 13px">
      Danh sách vi phạm: <strong>{{ total }}</strong>
    </div>
    <pagination
      v-show="total > query.size"
      :total="total"
      :page.sync="query.page"
      :layout="layout"
      :limit.sync="query.size"
      @pagination="getList"
    />

    <!-- Detail violation -->
    <el-dialog
      title="Thông tin chi tiết"
      :visible.sync="dialogDetail"
      v-if="violationDetail"
      width="calc(100% - 267px)"
      top="0"
      custom-class="dialogDetailId"
      :close-on-click-modal="false"
    >
      <el-form
        v-if="violationDetail"
        :model="violationDetail"
        ref="detailForm"
        label-position="top"
        label-width="100%"
      >
        <div class="block-item">
          <div class="item-left">
            <el-form-item label="Loại vi phạm" prop="violationType">
              <span>{{ violationDetail.eventTypeName }}</span>
            </el-form-item>

            <el-form-item label="Loại phương tiện" prop="vehicleType">
              <span>{{ violationDetail.objectTypeName }}</span>
            </el-form-item>

            <el-form-item label="Biển kiểm soát" prop="plate">
              <span>{{ violationDetail.plate }}</span>
            </el-form-item>

            <el-form-item label="Loại đối tượng" prop="objectType">
              <span v-if="vehicleTrack">{{ violationDetail.objectType }}</span>
              <span v-else></span>
            </el-form-item>

            <el-form-item label="Thiết bị" prop="sourceName">
              <span>{{ violationDetail.sourceName }}</span>
            </el-form-item>

            <el-form-item label="Thời điểm bắt đầu" prop="startTime">
              <span>{{ violationDetail.startTime | formatDateVietNam }}</span>
            </el-form-item>

            <el-form-item label="Thời điểm kết thúc" prop="endTime">
              <span>{{ violationDetail.endTime | formatDateVietNam }}</span>
            </el-form-item>

            <el-form-item label="Vị trí" prop="siteAddress">
              <span>{{ violationDetail.siteAddress }}</span>
            </el-form-item>

            <el-form-item label="Trạng thái" prop="processStatusName">
              <span>{{ violationDetail.processStatusName }}</span>
            </el-form-item>
          </div>
          <div class="item-middle">
            <div class="grid-content bg-purple">
              <template>
                <div class="view-video" id='view-video-cam'>
                  <template >
                      <div class="video-Milestone" v-if="playerOptions.type == 2">
                        <VideoMileStone ref="videoPage" :startTime="violationDetail.endTime" :cameraReal="cameraReal" :width="widthVideo" :height="heightVideo" />
                    </div>
                  </template>
                  <template
                    v-if="
                      playerOptions.sources[0].src && playerOptions.type == 0
                    "
                  >
                    <VideoCam :link="playerOptions.sources[0].src"></VideoCam>
                  </template>
                  <template v-else-if="playerOptions.type == 1">
                    <div class="images">
                      <div class="img">
                        <img
                          v-if="doesFileExist(playerOptions.src)"
                          :src="playerOptions.src"
                          style="
                            object-fit: contain;
                            width: 100%;
                            height: 500px;
                            border: solid 1px silver;
                            cursor: zoom-in;
                          "
                          v-viewer
                        />
                        <img
                          v-else
                          :src="vehicle_default"
                          style="
                            object-fit: contain;
                            width: 100%;
                            height: 500px;
                            border: solid 1px silver;
                            cursor: zoom-in;
                          "
                          v-viewer
                        />
                      </div>
                    </div>
                  </template>
                </div>
              </template>
              <div class="cam-list-img">
                <div class="cam-list" id="cam-list">
                  <template v-if="playerOptions.sources[0].src">
                    <div
                      class="item"
                      @click="viewImage(playerOptions.sources[0].src, 0)"
                    >
                      <div class="img">
                        <img src="@/assets/images/video_play.png" alt="" />
                      </div>
                    </div>
                  </template>
                  <template
                    v-if="
                      violationDetail.imageCtxtUrl &&
                      violationDetail.imageCtxtUrl !== 'null' &&
                      violationDetail.imageCtxtUrl.length > 0 &&
                      violationDetail.eventTypeString !== 'WRONGLINE'
                    "
                  >
                    <div
                      class="item"
                      v-for="imgViolation in JSON.parse(
                        violationDetail.imageCtxtUrl
                      )"
                      :key="imgViolation.id"
                    >
                      <div class="img">
                        <img
                          v-if="doesFileExist(urlImage + imgViolation)"
                          @click="viewImage(urlImage + imgViolation, 1)"
                          :src="urlImage + imgViolation"
                        />
                        <img
                          v-else
                          @click="viewImage(urlImage + imgViolation, 1)"
                          :src="vehicle_default"
                        />
                      </div>
                    </div>
                  </template>
                  <template>
                    <div class="item">
                      <div class="img">
                        <img
                          v-if="
                            doesFileExist(urlImage + violationDetail.imageUrl)
                          "
                          @click="
                            viewImage(urlImage + violationDetail.imageUrl, 1)
                          "
                          :src="urlImage + violationDetail.imageUrl"
                        />
                        <img
                          v-else
                          @click="
                            viewImage(urlImage + violationDetail.imageUrl, 1)
                          "
                          :src="vehicle_default"
                        />
                      </div>
                    </div>
                  </template>
                  <template v-if="checkHandleVideoSuccess()">
                    <div
                      class="item"
                      @click="viewImage(playerOptions.sources[0].src, 0)"
                    >
                      <div class="img">
                        <img src="@/assets/images/video_play.png" alt="" />
                      </div>
                    </div>
                  </template>
                </div>
              </div>
            </div>
          </div>
          <div class="item-right">
            <div class="label">Lịch sử</div>
            <div class="history-box">
              <div class="item last">
                <div class="img">
                  <svg-icon icon-class="MiEdit" />
                  <span v-if="violationHistoryList[0]">
                    Ngày tạo:
                    <span style="font-weight: bold">
                      {{
                        violationHistoryList[0].createdDate | formatDateVietNam
                      }}</span
                    >
                  </span>
                </div>
              </div>
              <div class="line"></div>
              <div
                class="item last"
                v-for="value in violationHistoryList"
                :key="value.id"
              >
                <div class="img">
                  <svg-icon icon-class="MiEditAlt" /> Cập nhật:
                  <span style="font-weight: bold">{{
                    value.modifiedDate | formatDateVietNam
                  }}</span>
                </div>
                <div class="img">
                  <svg-icon icon-class="MiDocumentEmpty" /> Trạng thái:
                  <span
                    v-if="getIsRed(value)"
                    style="color: #ff6161; font-weight: bold; opacity: 100%"
                    >{{ getProcessStatusName(value) }}
                  </span>
                  <span
                    v-else
                    style="color: #1f7ff5; font-weight: bold; opacity: 100%"
                    >{{ getProcessStatusName(value) }}
                  </span>
                </div>
                <div class="img">
                  <svg-icon icon-class="MiUser" /> Người thực hiện:
                  <span style="font-weight: bold">{{ value.userName }} </span>
                </div>
                <div class="line"></div>
              </div>
            </div>
          </div>
        </div>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="success" @click="destroy(violationDetail.id)"
          >Xóa</el-button
        >
        <el-button type="danger" @click="dialogDetail = false">Thoát</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import Pagination from "@/components/Pagination_custom";
import VideoMileStone from "@/components/VideoMilstone";
import store from '@/store';
import config from '@/config.js';
import waves from "@/directive/waves"; // Waves directive
import Resource from "@/api/resource";
import XLSX from "xlsx";
import filter_icon from "@/assets/images/filter.png";
import Search from "@/components/Search/search-violation";
import searchExportCSGT from "./components/search-export-xlsx-csgt";
import searchExportDK from "./components/search-export-xlsx-dk";
import VideoCam from "@/components/Video";
import { getVehicle } from "@/api/vehicle-track-resource";
import vehicle_default from "@/assets/images/vehicle_default1.png";
const cameraMapResource = new Resource("systemconfig/cameramap");

const violationSearchResource = new Resource("management/search/violation");
const violationSearchExportResource = new Resource("management/search/violation/search-export");
const violationHistoryResource = new Resource(
  "management/search/violation/parent"
);
const violationHistoryBackupResource = new Resource(
  "management/search/violation-backup/parent"
);
const violationResource = new Resource("management/inspect-violations");
const videoVmsResource = new Resource("vms/getvideo");
const exportCSGTResource = new Resource(
  "management/search/violation-export-csgt"
);
const exportDKResource = new Resource(
  "management/search/violation-export-dangkiem"
);

export default {
  components: {
    Pagination,
    Search,
    VideoCam,
    searchExportCSGT,
    searchExportDK,
    VideoMileStone
  },
  directives: { waves },
  data() {
    return {
      widthVideo:0,
      heightVideo:0,
      cameraReal:null,
      loading: true,
      loadingExport: false,
      linkEcelCSGT: null,
      linkEcelDK: null,
      linkEcel: null,
      loadingExportCSGT: false,
      loadingExportDK: false,
      vehicle_default: vehicle_default,
      dialogDetail: false,
      activeCollapse: false,
      layout: "first, prev, pager, next, last",
      urlImage: null,
      vehicleTrack: null,
      violationList: [],
      violationListExport: [],
      vehicleRouteList: [],
      violationDetail: null,
      violationHistoryList: [],
      total: 0,
      searchKeyword: null,
      query: {
        page: 1,
        size: 20,
        // fromDate: this.getDateString() + " 00:00:00",
        // toDate: this.getDateString() + " 23:59:59",
        fromDate: moment()
          .subtract(2, "day")
          .startOf("day")
          .format("YYYY-MM-DD HH:mm:ss"),
        toDate: moment().endOf("day").format("YYYY-MM-DD HH:mm:ss"),
        filterObjectType: null,
        filterObjectIds: null,
        plate: null,
        violationStatus: "",
        vehicleType: null,
        violationType: null,
        eventState: "",
        timeType: null,
      },
      queryVms: {
        camId: null,
        starttime: null,
        endtime: null,
      },
      filter_icon: filter_icon,
      checkFilterEvent: [],
      visible: false,
      playerOptions: {
        // videojs options
        muted: false,
        src: null,
        type: 1,
        language: "en",
        techOrder: ["youtube"],
        playbackRates: [0.7, 1.0, 1.5, 2.0],
        sources: [
          {
            // type: "application/x-mpegURL",
            type: "video/youtube",
            src: "",
          },
        ],
        // poster: "/static/images/author.jpg",
      },
      canRead: false,
      canCreate: false,
      canUpdate: false,
      canDelete: false,
      listProcessStatus: config.violationProcessStatus,
      loading_delete: false,
      loading_delete_all: false,
      multipleSelection: [],
      queryBackup: false,
    };
  },

  created() {
    this.urlImage = process.env.VUE_APP_URL_IMAGE;
    this.canRead = this.$root.checkRole(this.$route.fullPath, "canRead");
    this.canCreate = this.$root.checkRole(this.$route.fullPath, "canCreate");
    this.canUpdate = this.$root.checkRole(this.$route.fullPath, "canUpdate");
    this.canDelete = this.$root.checkRole(this.$route.fullPath, "canDelete");
    this.init();
  },

  methods: {
    async init() {
      await this.getList();
      // const loginState = this.$store.state.common.loginMilestone
      // if(!loginState){
      //   await this.$root.connectToServer();
      // }
    },
    detectHeight() {
      // let x = document.getElementsByClassName("detail-info-left-top")
      let x = document.getElementById("view-video-cam");
      let height = x.clientHeight;
      return height;
    },
    detectWidth() {
      // let x = document.getElementsByClassName("detail-info-left-top")
      let x = document.getElementById("view-video-cam");
      let width = x.clientWidth;
      return width;
    },
    replaceImageFail(e) {
      e.target.src = this.vehicle_default;
    },
    async doesFileExist(urlToFile) {
      var img = new Image();
      img.src = urlToFile;
      return img.height != 0;
    },
    async getList() {
      this.loading = true;
      let queryCustom = {
        currentPage: this.query.page - 1,
        rowsPerPage: this.query.size,
        fromDate: this.query.fromDate,
        toDate: this.query.toDate,
        filterObjectType: this.query.filterObjectType,
        filterObjectIds: this.query.filterObjectIds,
        plate: this.query.plate,
        violationStatus: this.query.violationStatus,
        vehicleType: this.query.vehicleType,
        violationType: this.query.violationType,
        eventState: this.query.eventState,
        timeType: this.query.timeType,
        districtId: this.query.districtId,
        wardId: this.query.wardId,
      };

      if (queryCustom.currentPage < 0) queryCustom.currentPage = 0;
      if (this.searchKeyword) {
        this.searchKeyword = this.searchKeyword.trim();
        queryCustom.plate = this.searchKeyword.trim();
      }
      let result = await violationSearchResource.list(queryCustom);
      if (result && result.data) {
        this.violationList = result.data;
        this.total = result.total;
      } else {
        this.violationList = [];
        this.total = 0;
      }
    },
    handleFilter() {
      this.query.page = 1;
      this.activeCollapse = false;
      this.getList();
    },
    exportElsxCSGT(data) {
      this.hanldExportCSGT(data);
    },
    hanldExportCSGT(data) {
      let params = {
        fromDate: data.startDate,
        toDate: data.endDate,
        districtId: data.districtId,
        wardId: data.wardId,
      };
      params.vehicleType = data.vehicleType;
      params.violationType = data.violationType;
      if (data.camera != null) {
        params.filterObjectType = "cam";
        params.filterObjectIds = data.camera;
      } else if (data.camera == null && data.site != null) {
        params.filterObjectType = "site";
        params.filterObjectIds = data.site;
      } else {
        params.filterObjectType = null;
        params.filterObjectIds = null;
      }
      exportCSGTResource
        .list(params)
        .then((response) => {
          if (response.status == 200) {
            this.loadingExportCSGT = true;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    checkHandleVideoSuccess(){
      const timeConfig =  config.timeVideoSave * 24 * 3600;
      const diffTime = (new Date().getTime() - new Date(this.violationDetail.startTime).getTime())/1000
      if((this.playerOptions.sources[0].src != null &&  this.playerOptions.sources[0].src != "") ||(diffTime < timeConfig &&  this.$store.state.common.loginMilestone) ){
        return true
      }
      return false
    },
    refreshExport(){
      this.linkEcel= null;
    },
    refreshExportCSGT() {
      this.linkEcelCSGT = null;
    },
    exportElsxDK(data) {
      this.hanldExportDK(data);
    },
    hanldExportDK(data) {
      let params = {
        fromDate: data.startDate,
        toDate: data.endDate,
        districtId: data.districtId,
        wardId: data.wardId,
      };
      params.vehicleType = data.vehicleType;
      params.violationType = data.violationType;
      if (data.camera != null) {
        params.filterObjectType = "cam";
        params.filterObjectIds = data.camera;
      } else if (data.camera == null && data.site != null) {
        params.filterObjectType = "site";
        params.filterObjectIds = data.site;
      } else {
        params.filterObjectType = null;
        params.filterObjectIds = null;
      }
      exportDKResource
        .list(params)
        .then((response) => {
          if (response.status == 200) {
            this.loadingExportDK = true;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    refreshExportDK() {
      this.linkEcelDK = null;
    },
    onClickChild(value) {
      if (value) {
        this.query.fromDate = value.startDate;
        this.query.toDate = value.endDate;
        this.query.plate = value.plate;
        this.query.timeType = value.timeType;
        this.query.vehicleType = value.vehicleType;
        this.query.violationType = value.violationType;
        this.query.eventState = value.eventState;
        this.query.violationStatus = value.violationStatus;
        this.query.districtId = value.districtId;
        this.query.wardId = value.wardId;
        if (value.camera != null) {
          this.query.filterObjectType = "cam";
          this.query.filterObjectIds = value.camera;
        } else if (value.camera == null && value.site != null) {
          this.query.filterObjectType = "site";
          this.query.filterObjectIds = value.site;
        } else {
          this.query.filterObjectType = null;
          this.query.filterObjectIds = null;
        }
        if (this.query.violationStatus == "VIOLATION_BACKUP") {
          this.query.queryBackup = true;
          this.urlImage = process.env.VUE_APP_BACKUP_URL_IMAGE;
        } else {
          this.query.queryBackup = false;
          this.urlImage = process.env.VUE_APP_URL_IMAGE;
        }
      }
      this.handleFilter();
    },
    detectFormatVideo(link) {
      // console.log(link)
      return this.$root.detectFormatVideo(link);
    },
    async getVideoVms() {
      let queryCustom = {
        cameraid: this.queryVms.camId,
        starttime: this.queryVms.starttime,
        endtime: this.queryVms.endtime,
      };
      let result = await videoVmsResource.list(queryCustom);
      if (result && result.data) {
        this.playerOptions.sources[0].src = result.data;
      }
    },
    viewImage(data, type = 0) {
      this.heightVideo = this.detectHeight();
      this.widthVideo = this.detectWidth();
      if(type == 0){
       if(this.playerOptions.sources[0].src != null &&  this.playerOptions.sources[0].src != ""){ 
          this.playerOptions.type = 0;
       }else{
          this.playerOptions.type = 2;
         
       }
      }else{
        this.playerOptions.type = 1; //1 - hinh anh | 0 - video
        this.playerOptions.src = data;
      }
    },

    getDateString() {
      let today = new Date();
      let dd = String(today.getDate()).padStart(2, "0");
      let mm = String(today.getMonth() + 1).padStart(2, "0"); //January is 0!
      let yyyy = today.getFullYear();
      today = yyyy + "-" + mm + "-" + dd;
      return today;
    },
    getDateExportFile() {
      let today = new Date();
      let dd = String(today.getDate()).padStart(2, "0");
      let mm = String(today.getMonth() + 1).padStart(2, "0"); //January is 0!
      let hour = String(today.getHours());
      let min = String(today.getMinutes());
      let sec = String(today.getSeconds());
      let yyyy = today.getFullYear();
      today = dd + "/" + mm + "/" + yyyy + "-" + hour + ":" + min + ":" + sec;
      return today;
    },
    // async handleExport() {
    //   this.loading = true;
    //   var wb = XLSX.utils.table_to_book(
    //     document.querySelector("#violation-table")
    //   );
    //   let j = this.detectLengthObject(wb.Sheets.Sheet1);
    //   for (let i = 1; i < j; i++) {
    //     delete wb.Sheets.Sheet1["K" + i]
    //     delete wb.Sheets.Sheet1["A" + i]
    //   }
    //   var wbout = XLSX.write(wb, {
    //     bookType: "xlsx",
    //     bookSST: true,
    //     type: "array",
    //   });
    //   try {
    //     FileSaver.saveAs(
    //       new Blob([wbout], { type: "application/octet-stream" }),
    //       `Tra_Cứu_Vi_Phạm_${moment().format("YYYY_MM_DD")}.xlsx`
    //     );
    //   } catch (e) {
    //     if (typeof console !== "undefined") console.log(e, wbout);
    //   }
    //   return wbout;
    // },

    processExportExcel(dataExport, fileName) {
      const ws = XLSX.utils.aoa_to_sheet(dataExport);
      const wb = XLSX.utils.book_new();
      XLSX.utils.book_append_sheet(wb, ws, "Sheet1");
      /* generate file and send to client */
      XLSX.writeFile(wb, fileName + ".xlsx");
      this.loadingExport = false
    },
    confirmExport() {
      this.loadingExport = true
      if (this.total > 5000) {
        this.$confirm('Hệ thống hỗ trợ export tối đa 5000 bản ghi. Tiếp tục?', 'Warning', {
          confirmButtonText: 'OK',
          cancelButtonText: 'Hủy bỏ',
          type: 'warning'
        }).then(() => {
          this.handleExport()
        });
      } else {
        this.handleExport()
      }
    },
    async handleExport() {
    let queryCustom = {
        currentPage: 0,
        rowsPerPage: 5000,
        fromDate: this.query.fromDate,
        toDate: this.query.toDate,
        filterObjectType: this.query.filterObjectType,
        filterObjectIds: this.query.filterObjectIds,
        plate: this.query.plate,
        violationStatus: this.query.violationStatus,
        vehicleType: this.query.vehicleType,
        violationType: this.query.violationType,
        eventState: this.query.eventState,
        timeType: this.query.timeType,
        districtId: this.query.districtId,
        wardId: this.query.wardId,
      };
      if (this.searchKeyword) {
        this.searchKeyword = this.searchKeyword.trim();
        queryCustom.plate = this.searchKeyword.trim();
      }
      let results = await violationSearchExportResource.list(queryCustom);

      // let dataExport = [];
      // let fileName = "Tra_Cứu_Vi_Phạm_" + moment().format("YYYY_MM_DD");
      // let label = [
      //   "STT",
      //   "Thời gian",
      //   "Vị trí",
      //   "Thiết bị",
      //   "Loại vi phạm",
      //   "Loại phương tiện",
      //   "Biển số",
      //   "Trạng thái",
      //   "Số BB/Số QĐ",
      // ];
      // dataExport.push(label);
      // await this.violationListExport.forEach(function (item, ind) {
      //   let itemImport = [
      //     ind + 1,
      //     moment(item.startTime).format("DD/MM/yyyy HH:mm:ss"),
      //     item.siteAddress,
      //     item.sourceName,
      //     item.eventTypeName,
      //     item.objectTypeName,
      //     item.plate,
      //     item.processStatusName,
      //     item.minutesNumber,
      //   ];
      //   dataExport.push(itemImport);
      // });
      // await this.processExportExcel(dataExport, fileName);
    },

    detectLengthObject(obj) {
      var size = 0,
        key;
      for (key in obj) {
        if (obj.hasOwnProperty(key)) size++;
      }
      return size;
    },

    resetDialog() {
      this.searchKeyword = null;
      this.query = {
        page: 1,
        size: 20,
        // fromDate: this.getDateString() + " 00:00:00",
        // endDate: this.getDateString() + " 23:59:59",
        fromDate: moment()
          .subtract(2, "day")
          .startOf("day")
          .format("YYYY-MM-DD HH:mm:ss"),
        toDate: moment().endOf("day").format("YYYY-MM-DD HH:mm:ss"),
        filterObjectType: null,
        filterObjectIds: null,
        plate: null,
        vehicleType: null,
        violationType: null,
      };
      this.vehicleRouteList = [];
    },

    getIsRed(data) {
      let result = false;
      if (data && data.processStatus) {
        switch (data.processStatus) {
          case "WAIT":
            result = true;
            break;
          case "COLD_PENALTY":
            result = true;
            break;
          case "COLD_PENALTY_OUT_1":
            result = true;
            break;
          case "COLD_PENALTY_OUT_2":
            result = true;
            break;
          case "BLACKLIST":
            result = true;
            break;
        }
      }
      return result;
    },
    getProcessStatusName(data) {
      let result;
      if (data && data.processStatus) {
        switch (data.processStatus) {
          case "WAIT":
            result = this.listProcessStatus.WAIT;
            break;
          case "IDLE":
            result = this.listProcessStatus.IDLE;
            break;
          case "CHECKED":
            switch (data.violationConfirm) {
              case "VIOLATE":
                result = this.listProcessStatus.VIOLATE;
                break;
              case "NOVIOLATE":
                result = this.listProcessStatus.NOVIOLATE;
                break;
              default:
                result = this.listProcessStatus.UNKNOWN;
            }
            break;
          case "UNKNOWN":
            result = this.listProcessStatus.UNKNOWN;
            break;
          case "PROCESSED":
            result = this.listProcessStatus.PROCESSED;
            break;
          case "COLD_PENALTY":
            result = this.listProcessStatus.COLD_PENALTY;
            break;
          case "COLD_PENALTY_OUT_1":
            result = this.listProcessStatus.COLD_PENALTY_OUT_1;
            break;
          case "COLD_PENALTY_OUT_2":
            result = this.listProcessStatus.COLD_PENALTY_OUT_2;
            break;
          case "BLACKLIST":
            result = this.listProcessStatus.BLACKLIST;
            break;
          case "MINUTES_PENALTY":
            result = this.listProcessStatus.MINUTES_PENALTY;
            break;
          case "DECISION_PENALTY":
            result = this.listProcessStatus.DECISION_PENALTY;
            break;
          case "DECISION_PENALTY_NO_MINUTES":
            result = this.listProcessStatus.DECISION_PENALTY_NO_MINUTES;
            break;
        }
      }
      return result;
    },

    async handleDetail(row) {
      this.cameraReal = row.sourceId
      if (row) {
        this.violationDetail = row;
        // List violation history
        this.violationHistoryList = [];
        let parentId = row.parentId ? row.parentId : row.id;
        let result = null;
        if (this.query.queryBackup == true) {
          result = await violationHistoryBackupResource.get(parentId);
        } else {
          result = await violationHistoryResource.get(parentId);
        }
        if (result && result.data) {
          this.violationHistoryList = result.data;

          //Sort violationHistoryList by modifiedDate asc
          this.violationHistoryList.sort(this.compare);
        }
        this.dialogDetail = true;
        // document.getElementById("main-screen").style.display = "none";
        // document.getElementById("detail-screen").style.display = "block";
        // VMS
        this.queryVms.camId = this.violationDetail.sourceId;
        this.queryVms.starttime = this.violationDetail.startTime;
        this.queryVms.endtime = this.violationDetail.endTime;
        this.getVideoVms();

        this.playerOptions.src = this.urlImage + this.violationDetail.imageUrl;
        this.playerOptions.type = 1;
        //Vehicle track
        let vehicleTrackResult = await getVehicle(this.violationDetail.plate);
        if (vehicleTrackResult && vehicleTrackResult.data) {
          this.vehicleTrack = vehicleTrackResult.data;
        } else {
          this.vehicleTrack = null;
        }
      }
      // const camaraMap =  await cameraMapResource.get(this.violationDetail.sourceId);
      //  if(!camaraMap && !camaraMap.data){
      //   return;
      // }
      
    },
    // closeDetail() {
    //   document.getElementById("main-screen").style.display = "block";
    //   document.getElementById("detail-screen").style.display = "none";
    // },
    compare(a, b) {
      if (a.modifiedDate < b.modifiedDate) {
        return -1;
      }
      if (a.modifiedDate > b.modifiedDate) {
        return 1;
      }
      return 0;
    },

    closeDelete() {
      this.$refs.multipleTable.clearSelection();
      this.multipleSelection = [];
    },
    handleSelectionChange(val) {
      this.multipleSelection = val;
    },
    destroy(id) {
      this.$confirm("Bạn chắc chắn muốn xóa vi phạm này?", "", {
        confirmButtonText: "Xác nhận",
        cancelButtonText: "Thoát",
        type: "warning",
      })
        .then(() => {
          violationResource
            .destroy(id)
            .then((response) => {
              if (response.status === 200) {
                this.handleFilter();
                this.dialogDetail = false;
                this.$message({
                  message: "Xóa thành công",
                  type: "success",
                });
              }
            })
            .catch(() => {});
        })
        .catch(() => {});
    },
    destroyMulti() {
      this.$confirm("Bạn có chắc chắn muốn xóa lựa chọn này?", "", {
        confirmButtonText: "Xác nhận",
        cancelButtonText: "Thoát",
        type: "warning",
      })
        .then(() => {
          this.loading_delete_all = true;
          let params = this.multipleSelection.map(function (val) {
            return val.id;
          });
          params = {
            violationIdList: params,
          };
          violationResource
            .destroyMulti(params)
            .then((response) => {
              this.loading_delete_all = false;
              if (response.status === 200) {
                this.multipleSelection = [];
                this.handleFilter();
                this.$message({
                  message: "Xóa thành công",
                  type: "success",
                });
              }
            })
            .catch(() => {
              this.loading_delete_all = false;
            });
        })
        .catch(() => {});
    },
  },
  sockets: {
    receiveNotificationExport: function (data) {
      if (data.content && data.objectType == "export-csgt") {
        this.loadingExportCSGT = false;
        this.linkEcelCSGT = data.content.replace(
          "http://10.20.26.8:8883",
          "https://upload.yenbai.gov.vn:8683"
        );
        //this.linkEcelCSGT = data.content
      }
      if (data.content && data.objectType == "export-dangkiem") {
        this.loadingExportDK = false;
        this.linkEcelDK = data.content.replace(
          "http://10.20.26.8:8883",
          "https://upload.yenbai.gov.vn:8683"
        );
        //this.linkEcelDK = data.content
      }
      if (data.content && data.objectType == "export-search-violation") {
        this.loadingExport = false;
        this.linkEcel = data.content;
        //this.linkEcelCSGT = data.content
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.track-violation {
  #detail-screen {
    display: none;
    .header {
      position: relative;
      text-align: center;
      height: 40px;
      background: #0366cc;
      color: white;
      font-size: 18px;
      font-weight: 500;
      line-height: 40px;
      margin: -20px -20px 20px;
      .el-icon-close {
        cursor: pointer;
        font-size: 22px;
        position: absolute;
        right: 10px;
        top: 9px;
      }
    }
    .dialog-footer {
      clear: both;
      text-align: end;
      padding-bottom: 25px;
      width: 76%;
      .el-button--primary {
        background: #1f7ff5;
        height: 40px;
        border-radius: 5px;
        width: 147px;
        text-transform: uppercase;
        font-weight: bold;
        border-color: #1f7ff5;
      }
      .el-button--danger {
        background: #9e9e9e;
        height: 40px;
        border-radius: 5px;
        width: 147px;
        text-transform: uppercase;
        font-weight: bold;
        border-color: #9e9e9e;
      }
      .el-button--success {
        background: #ff6161;
        height: 40px;
        border-radius: 5px;
        width: 147px;
        text-transform: uppercase;
        font-weight: bold;
        border-color: #ff6161;
        float: left;
      }
    }
  }
.dislayNone{
   display: none;
  }

}
</style>

<style lang="scss">
.track-violation {
  .video-Milestone{
  display: flex;
    height: 100%;
    background: #000;
    align-items: center;
}
  .el-form-item {
    margin-bottom: 5px;
  }
  .xlsx-eport-csgt {
    float: right;
    button {
      width: initial !important;
    }
  }
  .el-input input {
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    border: solid 1px #9999;
  }
  .el-icon-camera-solid {
    font-size: 25px;
    color: #9a9a9a;
    position: relative;
    top: -50px;
    left: 54px;
    background: #dfdfdf;
    border-radius: 50%;
    padding: 8px;
    border: 1px solid white;
  }
  .change-image {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: #1f7ff5;
    position: relative;
    padding: 8px;
  }
  .img_avatar {
    text-align: center;
    padding-top: 25px;
    img {
      border-radius: 50%;
    }
  }
  .view-video {
    height: calc(100vh - 400px);
    .img {
      height: 500px;
      position: relative;
      width: 100%;
      background: #222222;
      img {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        height: 100%;
      }
    }
  }
  .cam-list {
    height: 160px;
    border-radius: 5px;
    border: solid 1px #9999;
    background-color: #ffffff;
    overflow-y: hidden;
    overflow-x: auto;
    padding: 10px;
    cursor: pointer;
    white-space: nowrap;
    margin-block: 25px;
    .item {
      margin-bottom: 10px;
      display: inline-block;
      margin-left: 20px;
      img {
        height: 140px;
      }
    }
    .item:first-child {
      margin-left: 0 !important;
    }
    .video-js {
      height: 168px;
      margin-bottom: 15px;
    }
  }
  .cam-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
    border-radius: 0;
    background-color: #f5f5f5;
  }
  .cam-list::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #f5f5f5;
    border-radius: 17px;
  }

  .cam-list::-webkit-scrollbar-thumb {
    border-radius: 17px;
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
    background-color: #ddd;
  }
  .vehicle {
    text-align: center;
    padding-top: 25px;
    img {
      border-radius: 10px;
      max-width: 100%;
    }
  }
  .el-dialog {
    /*margin-top: 67px !important;*/
    position: fixed !important;
    right: 0;
    overflow-y: auto;
    max-height: 100%;
    left: initial;
  }
  .item-left {
    width: 16%;
    float: left;
    margin-right: 2%;
  }
  .item-right {
    width: 22%;
    float: left;
    margin-left: 2%;

    .label {
      margin-top: 10px;
      margin-bottom: 8px;
      font-weight: bold;
      color: #111;
      font-size: 15px;
    }
    .history-box {
      border-radius: 4px;
      height: 100%;
      border: solid 1px #707070;
      padding-bottom: 10px;
      .line {
        padding: 2px;
        width: 100%;
        margin-top: 8px;
        border-bottom: 1px solid #7070707d;
      }
      .item {
        /*margin: 10px 5px;*/
        padding: 3px 12px;
        border-bottom: solid 0.2px #707070;
        font-family: Roboto;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        text-align: left;
        color: #000000;
        opacity: 0.87;
        .img {
          /*float: left;*/
          margin-top: 15px;
          position: relative;
          /*top: 8px;*/
        }
        .editor {
          /*line-height: 1.5;*/
          margin-left: 30px;
        }
      }
      .item:last-child {
        .line {
          display: none;
        }
      }
      .last {
        border-bottom: none !important;
      }
    }
  }
  .item-middle {
    width: 58%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
  }
  .block-item {
    width: 100%;
    float: left;
  }
  .el-date-editor.el-input,
  .el-date-editor.el-input__inner {
    width: 100%;
  }
  .el-dialog__header {
    padding: 0;
    background: #006fe3;
    height: 67px;
    line-height: 67px;
    text-align: center;
    .el-dialog__title {
      color: white;
    }
    .el-icon-close {
      color: white;
      font-size: 22px;
      top: -10px;
      position: relative;
    }
  }
  .el-dialog__body {
    .el-form-item__label {
      padding-bottom: 0;
      font-size: 14px;
      color: #363030;
      font-weight: 500;
    }
    .vjs-tech {
      padding-right: 1px;
      background: #222222 !important;
    }
    .video-js {
      width: 100% !important;
      height: 540px;
      margin-bottom: 20px;
    }
    .list-content::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
      border-radius: 0;
      background-color: #f5f5f5;
    }
    .list-content::-webkit-scrollbar {
      width: 5px;
      height: 8px;
      background-color: #f5f5f5;
      border-radius: 17px;
    }

    .list-content::-webkit-scrollbar-thumb {
      border-radius: 17px;
      -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
      background-color: #ddd;
    }
    .list-content {
      // height: 225px;
      overflow-x: auto;
      white-space: nowrap;
      margin-top: 15px;
      overflow-y: hidden;
      .item {
        display: inline-block;
        margin-right: 20px;
        .img {
          width: 230px;
          height: 130px;
          cursor: pointer;
          text-align: center;
          line-height: 200px;
          position: relative;
          img {
            max-width: 100%;
            width: 230px;
            height: 130px;
          }
          .el-icon-close {
            color: white;
            font-size: 12px;
            position: absolute;
            right: 6px;
            top: 6px;
          }
        }
      }
    }
  }
  .el-dialog__footer {
    clear: both;
    padding-bottom: 25px;
    .el-button--primary {
      background: #1f7ff5;
      height: 40px;
      border-radius: 5px;
      width: 147px;
      text-transform: uppercase;
      font-weight: bold;
      border-color: #1f7ff5;
    }
    .el-button--danger {
      background: #9e9e9e;
      height: 40px;
      border-radius: 5px;
      width: 147px;
      text-transform: uppercase;
      font-weight: bold;
      border-color: #9e9e9e;
    }
    .el-button--success {
      background: #ff6161;
      height: 40px;
      border-radius: 5px;
      width: 147px;
      text-transform: uppercase;
      font-weight: bold;
      border-color: #ff6161;
      float: left;
    }
  }
  #select-all-delete {
    height: 63px;
    line-height: 63px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ff4646;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    .el-icon-close {
      font-size: 25px;
      margin-left: 20px;
      margin-right: 35px;
      position: relative;
      top: 4px;
      cursor: pointer;
    }
    button {
      background: #e00000;
      border: initial;
      border-radius: 5px;
      float: right;
      display: inline-block;
      margin-top: 15px;
      margin-right: 15px;
    }
  }
  .action {
    margin-top: 40px;
    .el-button--primary {
      background: #64789a;
      border: initial;
      border-radius: 4px;
      width: 147px;
      height: 40px;
    }
    .el-button--success {
      background: #ff6161;
      border: initial;
      border-radius: 4px;
      width: 147px;
      height: 40px;
      float: right;
    }
  }
  #track-table {
    transition: width 0.5s;
    -moz-transition: width 0.5s;
    /* Firefox 4 */
    -webkit-transition: width 0.5s;
    /* Safari and Chrome */
    -o-transition: width 0.5s;
    float: left;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
    border-radius: 4px;
  }
  #detail-track {
    position: relative;
    /* transition: width 1s;
      -moz-transition: width 1s;
      -webkit-transition: width 1s;
      -o-transition: width 1s;*/
    width: 0;
    background: white;
    padding: 25px;
    float: left;
    margin-left: 25px;
    display: none;
    overflow: hidden;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    .avatar {
      text-align: center;
      margin-bottom: 25px;
      margin-top: 25px;
      img {
        border-radius: 50%;
      }
    }
    .item-label {
      color: #363030;
      font-weight: bold;
      font-size: 14px;
      margin-bottom: 10px;
    }
    .item-text {
      color: black;
      font-size: 16px;
      margin-bottom: 20px;
      opacity: 0.6;
    }
    .el-icon-close {
      background: #e3e3e3;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      text-align: center;
      line-height: 30px;
      color: #878787;
      font-size: 16px;
      position: absolute;
      right: 10px;
      top: 10px;
      cursor: pointer;
    }
  }
  .el-table th > .cell {
    text-align: left;
  }
  .el-table tr > th:first-child .cell {
    text-align: center;
  }
  .el-table th {
    color: black;
    font-size: 14px;
  }
  .el-table td {
    color: black;
    font-size: 14px;
  }
  .el-table tr td:first-child {
    text-align: center;
  }
  .el-table td:first-child .cell {
    display: inline-block;
  }
  .filter-container {
    padding-bottom: 20px;
  }
  tbody {
    tr {
      cursor: pointer;
    }
    td {
      padding: 2px 0 !important;
      .hover-show-full-image {
        top: 4px;
      }
    }
  }
  .search-block {
    //text-align: right;
    .search {
      float: left;
      width: calc(100% - 162px);
      display: inline;
      input {
        width: 272px;
        height: 36px !important;
        line-height: 36px !important;
        border: solid 1px #9999;
        border-radius: 5px;
        padding-left: 40px;
      }
      .el-icon-search {
        line-height: 16px;
        font-size: 19px;
        color: #666;
      }
      span {
        left: 10px;
      }
    }
    button {
      float: right;
      background: #1f7ff5;
      border-radius: 4px;
      height: 40px !important;
      width: 147px;
      margin-left: 15px;
      border-color: #1f7ff5;
      span {
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
      }
    }
  }
}
</style>
